<template>
  <no-ssr>
    <section class="dtp-period">
      <div class="container">
        <DatePicker
          class="dtpicker"
          format="dd.MM.yyyy"
          :value="start"
          :isReadonly="isMobile"
          :clearButton="true"
          :placeholder="placeholder"
          :inputClass="{
            'dtpicker-period__input': true,
            'right-align': true,
            error: false,
          }"
          :calendarClass="{ dtpicker__calendar: true }"
          :wrapperClass="['dtpicker-wrapper']"
          :disabledDates="disabledDtStart"
          @input="selectStart($event)"
          @readonly="pickerStart = true"
        />
        <div class="separator" />
        <DatePicker
          class="dtpicker"
          format="dd.MM.yyyy"
          :value="end"
          :isReadonly="isMobile"
          :clearButton="true"
          :placeholder="placeholder"
          :inputClass="{ 'dtpicker-period__input': true, error: false }"
          :calendarClass="{ dtpicker__calendar: true }"
          :wrapperClass="['dtpicker-wrapper', 'end']"
          :disabledDates="disabledDtEnd"
          @input="selectEnd($event)"
          @readonly="pickerEnd = true"
        />
      </div>
      <WithTransition v-if="isMobile && pickerStart">
        <MobilePicker
          :value="start"
          :disabledDates="disabledDtStart"
          :endDate="end"
          @close="pickerStart = false"
          @set="selectStart"
        >
          <template #header>{{ $t('start') }}</template>
        </MobilePicker>
      </WithTransition>
      <WithTransition v-if="isMobile && pickerEnd">
        <MobilePicker
          :value="end"
          :disabledDates="disabledDtEnd"
          :startDate="start"
          @close="pickerEnd = false"
          @set="selectEnd"
        >
          <template #header>{{ $t('end') }}</template>
        </MobilePicker>
      </WithTransition>
    </section>
  </no-ssr>
</template>

<script>
import { lightFormat, isValid, setMinutes, setHours } from 'date-fns'
const resetTime = date =>
  isValid(date) ? setMinutes(setHours(date, 0), 0) : undefined
export default {
  components: {
    DatePicker: () => import('../DatePicker_new'),
    MobilePicker: () => import('./MobilePicker'),
    WithTransition: () => import('~/components/common/WithTransition'),
  },
  props: {
    start: [Date, Number],
    end: [Date, Number],
  },
  data: () => ({
    width: 0,
    pickerStart: false,
    pickerEnd: false,
  }),
  computed: {
    isMobile() {
      return this.width <= 425
    },
    placeholder() {
      return lightFormat(new Date(), 'dd.MM.yyyy')
    },
    disabledDtEnd() {
      return { to: resetTime(this.start) }
    },
    disabledDtStart() {
      return { from: resetTime(this.end), to: undefined }
    },
  },
  mounted() {
    this.addResizeListener()
  },
  destroyed() {
    window.removeEventListener('resize', this.onResizeEvent)
  },
  methods: {
    addResizeListener() {
      if (window) {
        window.addEventListener('resize', this.onResizeEvent)
        window.dispatchEvent(new window.Event('resize'))
      }
    },
    onResizeEvent(e) {
      this.width = e.target.innerWidth
    },
    selectStart(val) {
      this.$emit('change:start', val)
    },
    selectEnd(val) {
      this.$emit('change:end', val)
    },
    onReadonly(v) {
      this.$emit('readonly', v)
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';
.dtp-period {
  .container {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 1rem;
    @media screen and (max-width: 375px) {
      padding: 0 0.5rem;
    }
  }

  .dtpicker {
    color: #000;
  }

  .separator {
    background-color: $blue;
    flex-shrink: 0;
    height: 2px;
    position: relative;
    top: 2px;
    width: 3 * $base;
    margin: 0 1rem;
    @media screen and (max-width: 375px) {
      margin: 0 0.75rem;
    }
  }
}
</style>

<style lang="scss">
.dtpicker-period__input {
  font-size: 24px;
  max-width: 136px;
  padding: 1rem 10px;
  text-align: center;
  @media screen and (max-width: 425px) {
    font-size: 20px;
    padding: 0.5rem 6px;
  }
  &:focus {
    box-shadow: none;
  }
  &.error {
    box-shadow: 0 0 0 2px #f50052;
  }
}
.dtpicker__calendar {
  top: -5rem;
  right: 0;
  left: -50%;
}
.dtpicker-wrapper {
  max-width: 160px;
  > div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      font-size: 20px;
      line-height: 20px;
      background-color: transparent;
      font-style: normal;
    }
  }
}
</style>

<i18n>
{
  "ru": {
    "start": "Начало периода",
    "end": "Окончание периода"
  },
  "en": {
    "start": "Period start",
    "end": "Period end"
  },
  "es": {
    "start": "Period start",
    "end": "Period end"
  }
}
</i18n>
