<template>
  <FormSelect
    :id="id"
    trackBy="title"
    :options="options"
    :value="value"
    :clearOnSelect="false"
    :preserveSearch="true"
    :loading="loading"
    autocompleteOff
    @search-change="asyncFind"
    @select="$emit('input', $event)"
    @open.once="onFirstOpen"
  >
    <template slot="singleLabel" slot-scope="{ option }">{{ option.title }}</template>
    <template slot="option" slot-scope="{ option }">{{ option.title }}</template>
  </FormSelect>
</template>

<script>
import { debounce } from '~/utils'

import { getCategories } from '~/api'

import FormSelect from '~/components/common/input/FormSelect'

export default {
  name: 'Categories',

  components: {
    FormSelect,
  },

  props: {
    id: String,
    value: {
      type: Object,
      default: () => ({}),
    },
  },

  data: () => ({
    loading: false,
    options: [],
  }),

  methods: {
    asyncFind: debounce(async function(v) {
      this.fetchOptions({ search: v })
    }, 300),
    async fetchOptions({ search }) {
      this.loading = true

      try {
        const { data } = await getCategories(this.$axios, {
          params: {
            search,
          },
        })
        this.options = data.results
      } catch (e) {
        console.log(e)
        this.options = []
      }

      this.loading = false
    },
    onFirstOpen() {
      this.fetchOptions({ search: '' })
    },
  },
}
</script>
