<template>
    <FormSelect
            :id="id"
            v-model="category"
            trackBy="title"
            :options="options"
            :searchable="false"
            @select="$emit('input', $event)"
    >
        <template slot="singleLabel" slot-scope="{ option }">{{ option.title }}</template>
        <template slot="option" slot-scope="{ option }">{{ option.title }}</template>
    </FormSelect>
</template>

<script>

    import FormSelect from '~/components/common/input/FormSelect'

    export default {
        name: 'CreateCategories',

        components: {
            FormSelect,
        },

        props: {
            id: String,
            value: {
                type: Object,
                default: () => ({}),
            },
        },

        data: () => ({
            categories: null,
            category: {},
            options: [],
        }),
        computed: {
          lang() {
              return this.$i18n.locale
          }
        },
        watch: {
            lang() {
                this.options = require(`~/static/categories/categories_${this.lang}.json`)
            }
        },
        mounted() {
            this.categories = require(`~/static/categories/categories_${this.lang}.json`)
            this.options = this.categories
        }
    }
</script>
