<i18n>
{
  "ru": {
    "genderLabel": "Ваша ЦА",
    "typeLabel": "Формат",
    "categoryLabel": "Дополнительная категория",
    "createCategory": "Категория",
    "genreLabel": "Жанры",
    "tagsLabel": "Теги"
  },
  "en": {
    "genderLabel": "Target audience",
    "typeLabel": "Format",
    "categoryLabel": "Additional category",
    "createCategory": "Category",
    "genreLabel": "Sub-category",
    "tagsLabel": "Tags"
  },
  "es": {
    "genderLabel": "Tu público objetivo",
    "typeLabel": "Format",
    "categoryLabel": "Additional category",
    "genreLabel": "Sub-categoría",
    "tagsLabel": "Etiquetas"
  }
}
</i18n>

<template>
  <div>
    <FormRow v-if="!isEdit" class="promo__gender" noLabelFocus>
      <template #label>{{ $t('genderLabel') }}</template>
      <GenderToggle
        :genderValue="gender"
        hideLabel
        @gender:select="$emit('update:gender', $event)"
      />
    </FormRow>

    <FormRow v-if="!isEdit" class="promo__range" :error="errors['age']">
      <Range :value="age" @input="$emit('update:age', $event)" />
    </FormRow>

    <FormRow v-if="!isEdit" class="promo__category" :error="errors['category']">
      <template #label>{{ $t('createCategory') }}</template>
      <template slot-scope="{ id }">
        <CreateCategories
                :id="id"
                @input="$emit('update:tags', [$event])"
        />
      </template>
    </FormRow>

    <FormRow v-if="isEdit" class="promo__event-type" :error="errors['eventType']">
      <template #label>{{ $t('typeLabel') }}</template>
      <template slot-scope="{ id }">
        <EventType
          :id="id"
          :value="eventType"
          @input="$emit('update:eventType', $event)"
        />
      </template>
    </FormRow>

    <FormRow v-if="isEdit" class="promo__genre" :error="errors['genres']">
      <template #label>{{ $t('genreLabel') }}</template>
      <template slot-scope="{ id }">
        <Genres
          :id="id"
          :value="genres"
          @input="$emit('update:genres', $event)"
        />
      </template>
    </FormRow>

    <FormRow v-if="isEdit" class="promo__category" :error="errors['category']">
      <template #label>{{ $t('categoryLabel') }}</template>
      <template slot-scope="{ id }">
        <Categories
          :id="id"
          :value="category"
          @input="$emit('update:category', $event)"
        />
      </template>
    </FormRow>

    <FormRow v-if="isEdit" :error="errors['tags'] || errors['newTags']">
      <template #label>{{ $t('tagsLabel') }}</template>
      <template slot-scope="{ id }">
        <TagsInput
          :elementId="id"
          :tags="tags"
          :newTags="newTags"
          @update:tags="$emit('update:tags', $event)"
          @update:newTags="$emit('update:newTags', $event)"
        />
      </template>
    </FormRow>
  </div>
</template>

<script>
import FormRow from '~/components/common/FormRowNew'
import TagsInput from '~/components/common/input/TagsInput'
import Genres from '~/components/events/create/EventPromo/Genres'
import Categories from '~/components/events/create/EventPromo/Categories'
import CreateCategories from '~/components/events/create/EventPromo/CreateCategories'
import EventType from '~/components/events/create/EventPromo/EventType'

export default {
  name: 'EventPromo',

  components: {
    FormRow,
    TagsInput,
    Categories,
    CreateCategories,
    EventType,
    Genres,
    GenderToggle: () => import('~/components/common/input/GenderToggle'),
    Range: () => import('~/components/events/create/EventPromo/Range'),
  },

  props: {
    gender: Number,
    age: Array,
    category: {
      type: Object,
      default: () => ({}),
    },
    eventType: {
      type: Object,
      default: () => ({}),
    },
    genres: {
      type: Array,
      required: true,
    },
    tags: {
      type: Array,
      required: true,
    },
    newTags: {
      type: Array,
      required: true,
    },
    errors: {
      type: Object,
      default: () => ({}),
    },
    isEdit: Boolean,
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.promo {
  &__gender {
    margin-bottom: 30px;
  }

  &__range {
    margin-bottom: 40px;

    @media (min-width: $desktopSD) {
      margin-bottom: 50px;
    }
  }

  &__event-type {
    margin-bottom: 20px;

    @media (min-width: $desktopSD) {
      margin-bottom: 22px;
    }
  }

  &__category {
    margin-bottom: 20px;

    @media (min-width: $desktopSD) {
      margin-bottom: 22px;
    }
  }

  &__genre {
    margin-bottom: 20px;

    @media (min-width: $desktopSD) {
      margin-bottom: 22px;
    }
  }
}
</style>
