<template>
  <section class="cr-ev-range">
    <div>
      <span class="range__title" :style="dynamicTitleStyles">
        {{ $t('promo.from') }} {{ value[0] }} {{ $t('promo.to') }}
        {{ value[1] }} {{ $t('promo.age') }}
      </span>
    </div>
    <vue-slider
      :value="value"
      :min="min"
      :max="max"
      :tooltip="false"
      :height="9"
      :width="'100%'"
      :dot-size="24"
      :interval="1"
      :piecewise="false"
      :bg-style="bg"
      :slider-style="slider"
      :process-style="process"
      @input="$emit('input', $event)"
    >
      <template #dot>
        <span class="range__custom-dot" />
      </template>
    </vue-slider>
    <div class="range__marks">
      <span>{{ min }}</span>
      <span>{{ max }}</span>
    </div>
  </section>
</template>

<script>
export default {
  props: {
    value: {
      type: Array,
      required: true,
    },
  },
  data: () => ({
    min: 1,
    max: 100,
    bg: {
      background: '#fff',
    },
    slider: {
      background: '#fff',
      border: '2px solid #0070ff',
    },
    process: {
      background: '#1a7fff',
    },
    tooltipStyle: {
      backgroundColor: '#1a7fff',
    },
  }),
  computed: {
    dynamicTitleStyles() {
      return {
        marginLeft: `${this.value[0] - this.min}%`,
        width: `${this.value[1] - this.value[0]}%`,
      }
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.range-title {
  padding-bottom: 6px;
}

.range {
  &__custom-dot {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border: solid 2px $blue;
    background-color: #ffffff;
    border-radius: 50%;

    &:after {
      content: '';
      width: 8px;
      height: 8px;
      background: $blue;
      border-radius: 50%;
    }
  }

  &__marks {
    display: flex;
    justify-content: space-between;
    @include text(1.5);
    color: #999999;
  }

  &__title {
    color: $blue;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
  }
}
</style>
