<i18n>
{
  "ru": {
    "isOnline": "Онлайн событие"
  },
  "en": {
    "isOnline": "Online event"
  },
  "es": {
    "isOnline": "Evento online"
  }
}
</i18n>

<template>
  <div class="session-header">
    <AsyncImage :image="coverImage" :height="120" class="session-header__cover" />
    <div class="session-header__content">
      <div class="session-header__title">{{ title }}</div>
      <div class="session-header__date">{{ dateTimeString }}</div>

      <div class="session-header__location">
        <span v-if="location" class="location-address">{{ location }}</span>
        <template v-else-if="isOnline">{{ $t('isOnline') }}</template>
      </div>
    </div>
  </div>
</template>

<script>
import { path } from 'ramda'
import { mapGetters } from 'vuex'

import { makeDateTimeString, formatStrings } from '~/utils/formatDate'

import AsyncImage from '~/components/common/AsyncImage'

export default {
  components: {
    AsyncImage,
  },

  computed: {
    ...mapGetters({
      session: 'events/session/data',
    }),
    coverImage() {
      return path(['event', 'cover', 'image'], this.session)
    },
    title() {
      return path(['event', 'title'], this.session)
    },
    location() {
      return path(['location', 'address_display'], this.session)
    },
    isOnline() {
      return path(['event', 'is_online'], this.session)
    },
    dateTimeString() {
      const { start_date, start_time } = this.session

      return makeDateTimeString({
        date: start_date,
        time: start_time,
        formatString: formatStrings.withWeekDay,
        dateFormatString: formatStrings.fullDate,
        timeFormatString: formatStrings.fullTime,
      })
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.session-header {
  @media (min-width: $desktopSD) {
    display: flex;
  }

  &__cover {
    height: 120px;
    background: #f3f3f3;

    @media (min-width: $desktopSD) {
      width: 104px;
      height: 104px;
      flex-shrink: 0;
    }
  }

  &__content {
    padding: 14px 16px 0 16px;
    min-width: 0;

    @media (min-width: $desktopSD) {
      padding: 0 0 0 32px;
    }
  }

  &__title {
    @include text(2.5);
    font-weight: bold;
    margin-bottom: 8px;

    @media (min-width: $desktopSD) {
      @include text(3);
      @include no-text-wrap;
      margin-bottom: 24px;
    }
  }

  &__date {
    @include text(1.75);
    @include no-text-wrap;
    font-weight: bold;
    margin-bottom: 4px;

    &:first-letter {
      text-transform: uppercase;
    }
  }

  &__location {
    @include text(1.5);
    @include no-text-wrap;
    color: #999999;

    .location-address {
      &::before {
        @include ww-icn;
        content: '\72';
        font-size: 8px;
        margin-right: 6px;
      }
    }
  }
}
</style>