<i18n>
{
  "ru": {
    "visit": "Посетить"
  },
  "en": {
    "visit": "Visit"
  }
}
</i18n>

<template>
  <div class="event-card">
    <div class="event-card__inner">
      <!-- :class="{ 'cover--vertical': isVertical }" -->
      <div
        class="cover"
        :class="{ 'cover--vertical': isVertical }"
        :style="[hasPromoStyle && coverBackgroundStyle]"
      >
        <div
          v-if="!hasPromoStyle"
          class="cover__background"
          :style="coverBackgroundStyle"
        />

        <div class="image-wrapper">
          <AsyncImage
            class="image-wrapper__image"
            :image="eventImg"
            :width="eventImageDim.w"
            :height="eventImageDim.h"
            contain
          />
        </div>
      </div>

      <div class="content" :style="contentStyle">
        <Rating value="4.9" class="content__rating" />
        <div class="content__title" style="-webkit-box-orient: vertical;">
          {{ event.title }}
        </div>
        <DateTime
          format="main"
          v-bind="dateTimeAttrs"
          notWrap
          tiny
          :start="event.start_dt"
          :end="event.end_dt"
          class="content__datetime"
        />

        <div v-if="institution" class="city address">
          <WLink
            :to="{
              name: 'places-id',
              params: {
                id: institution.url_id,
              },
              query: extraQuery,
            }"
            :color="hasPromoStyle ? (brightness ? 'black' : 'white') : 'black'"
            :target="isExternalLink && '_blank'"
            class="city__name"
          >
            {{ institution.title }}
          </WLink>
        </div>
        <div v-else class="city" />

        <div class="content__button">
          <FlatButton
            :target="isExternalLink && '_blank'"
            :to="{
              name: 'events-id',
              params: {
                id: event.url_id,
              },
              query: extraQuery,
            }"
            fullWidth
            round
            size="m"
            variant="widget"
          >
            {{ $t('visit') }}
          </FlatButton>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
/*
  Card for widget, need to be refactored
  because of duplicated logic from EventCard
*/

import { path, prop } from 'ramda'

import DateTime from '~/components/common/DateTime'
import FlatButton from '~/components/common/buttons/FlatButton'
import Rating from '~/components/common/Rating'
import AsyncImage from '~/components/common/AsyncImage'
import WLink from '~/components/common/WLink'

import { calcBrightness } from '~/utils'

const calcAspectRatio = (w, h) => w / h
const calcResolution = (ow, oh) => {
  const aspect = calcAspectRatio(ow, oh)
  if (aspect >= 1) {
    let width = Math.min(300, ow)
    let height = parseInt((width * oh) / ow)
    return { w: width, h: height, aspect }
  } else {
    let height = Math.min(200, oh)
    let width = parseInt((height * ow) / oh)
    return { w: width, h: height, aspect }
  }
}

export default {
  name: 'EventCardV2',

  components: {
    DateTime,
    FlatButton,
    Rating,
    AsyncImage,
    WLink,
  },

  props: {
    event: {
      type: Object,
      required: true,
    },
    isExternalLink: Boolean,
    /**
     * Add extra query to urls
     * (ex. some utm data)
     */
    extraQuery: Object,
  },

  computed: {
    dateTimeAttrs() {
      return {
        ...((this.hasPromoStyle && !this.brightness && { color: 'white' }) ||
          null),
      }
    },
    brightness() {
      return calcBrightness(this.mainColorBottom)
    },
    mainColorBottom() {
      return path(['cover', 'main_color_2'], this.event)
    },
    isPromo() {
      return prop('is_promo', this.event)
    },
    hasPromoStyle() {
      const main_color_1 = path(['cover', 'main_color_1'], this.event)
      const main_color_2 = path(['cover', 'main_color_2'], this.event)

      return Boolean(main_color_1 && main_color_2 && this.isPromo)
    },
    contentStyle() {
      return [
        this.hasPromoStyle && {
          background: this.mainColorBottom,
          color: this.brightness ? 'black' : 'white',
        },
      ]
    },
    coverBackgroundStyle() {
      const main_color_1 = path(['cover', 'main_color_1'], this.event)
      const main_color_2 = path(['cover', 'main_color_2'], this.event)

      if (main_color_1 && main_color_2) {
        return {
          backgroundImage: `linear-gradient(to bottom, ${main_color_1}, ${main_color_2})`,
        }
      }

      return null
    },
    isVertical() {
      if (!this.originalDimensions.width) {
        return this.imageRatio < 1
      } else {
        return this.imageRatio < 1.2
      }
    },
    originalDimensions() {
      return {
        width: path(['cover', 'original_width'], this.event),
        height: path(['cover', 'original_height'], this.event),
      }
    },
    imageRatio() {
      let ow = this.originalDimensions.width
      let oh = this.originalDimensions.height
      /* set image ratio 1 for old images */
      return !ow || !oh ? 1 : ow / oh
    },
    eventImg() {
      return this.toShow && path(['cover', 'image'], this.event)
        ? this.event.cover.image
        : null
    },
    toShow() {
      // if image has sizes hide it if bigger side lower than 100
      // otherwise just show
      if (!this.originalDimensions.height) return true
      if (this.originalDimensions.height > this.originalDimensions.width) {
        return this.originalDimensions.height > 100
      } else {
        return this.originalDimensions.width > 100
      }
    },
    eventImageDim() {
      let ow = this.originalDimensions.width
      let oh = this.originalDimensions.height
      if (!ow || !oh) {
        return { width: null, height: null }
      }
      return calcResolution(ow, oh)
    },
    institution() {
      return path(['location', 'institution'], this.event)
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.event-card {
  width: 240px;
  height: 320px;
  transition: 0.3s all;
  position: relative;

  &:hover {
    box-shadow: 0 10px 50px 0 rgba(23, 37, 77, 0.35);

    .content__button {
      opacity: 1;
    }

    .event-card__inner {
      position: absolute;
      height: 376px;
    }
  }

  &__inner {
    z-index: 3;
    width: 100%;
    background: #fff;
    height: inherit;
    overflow: hidden;
    transition: height 0.3s;
  }
}

.cover {
  padding: 8px 8px 0 8px;
  height: 132px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &__background {
    position: absolute;
    background: $red;

    top: 22px;
    left: 8px;
    bottom: 14px;
    right: 8px;
  }

  .image-wrapper {
    position: relative;
    justify-content: center;
    display: flex;
    height: 100%;

    &__image {
      max-width: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
}

.content {
  padding: 6px 16px 18px;

  &__rating {
    margin-bottom: 2px;
  }

  &__title {
    margin-bottom: 10px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-height: 24px;
    height: 72px;
  }

  &__datetime {
    margin-bottom: 4px;
  }

  &__button {
    opacity: 0;
    transition: 0.3s opacity;
    margin: 12px 0 4px;
  }
}

.city {
  display: flex;
  align-items: center;
  height: 17px;

  &__name {
    @include text(1.5);
    @include no-text-wrap;
    line-height: 17px;
    height: 17px;
  }

  &.address {
    &::before {
      font-size: 8px;
      top: 0;
    }
  }
}
</style>
