<i18n>
  {
    "ru": {
      "emptyAbout": "Здесь еще ничего нет",
      "fillAbout": "заполнить данные профиля"
    },
    "en": {
      "emptyAbout": "There's nothing here yet",
      "fillAbout": "fill in your profile information"
    }
  }
</i18n>
<template>
  <div class="about">
    <span v-if="!profile.about_text && isOwnProfile" class="text">
      {{ $t('emptyAbout') }}
      <nuxt-link
        :to="{ name: 'profile-edit'}"
        class="edit"
      >
        <span v-text="$t('fillAbout')" />
      </nuxt-link>
    </span>
    <div v-if="profile.about_text" class="text" v-html="profile.about" />
    <div v-if="services.length" class="services">
      <p class="title">{{ $t("marketplace.services") }}</p>
      <div class="services__list">
        <span v-for="service in services" class="service">
          {{ service.title }}
        </span>
      </div>
    </div>
<!--    <div v-if="images.length" class="images">-->
<!--      <p class="title">{{ $t("marketplace.eventsPhotos") }}</p>-->
<!--      <client-only>-->
<!--        <Carousel :images="images" :width="0" :height="486" />-->
<!--      </client-only>-->
<!--    </div>-->
        <LegalData
          class="legal-data"
          :user="supplier"
          :isOwnProfile="isOwnProfile"
        />
  </div>
</template>
<script>
  import { prop } from "ramda"

  export default {
    components: {
      LegalData: () => import('../components/LegalData'),
      // Carousel: () => import('~/components/common/Carousel'),
    },

    props: {
      profile: {
        type: Object,
        required: true,
      },
      supplier: {
        type: Object,
        required: true,
      },
      isOwnProfile: Boolean
    },
    computed: {
      images () {
        return prop(['images'], this.supplier) || []
      },
      services () {
        return prop(['services'], this.supplier) || []
      }
    },
  }
</script>
<style lang="scss" scoped>
  @import '~/assets/css/variables.scss';
  .about {
    padding-top: $base;

    .edit {
      color: $blue;
      cursor: pointer;
      padding-right: $base * 2;

      .icon {
        font-size: 8px;
        display: inline-block;
        vertical-align: middle;
      }

      &:hover {
        text-decoration: underline;
      }
    }

    .title {
      @include text(3);
      display: block;
      font-weight: bold;
      margin-bottom: $base * 1.375;
    }

    .text {
      margin-top: $base * 3.75;
    }

    .legal-data {
      margin-top: $base * 8.875;
    }

    .services {
      margin-top: $base * 3.75;

      &__list{
        display: flex;
        flex-wrap: wrap;
        align-content: space-around;
        margin-top: $base * -1;

        .service {
          background-color: #000000;
          color: #fff;
          font-size: 12px;
          font-weight: bold;
          letter-spacing: 0.6px;
          text-transform: uppercase;
          text-align: center;
          justify-content: center;
          align-items: center;
          padding: 10px 20px 7px 20px;
          min-width: 100px;
          margin-top: $base;

          &:not(:last-child) {
            margin-right: $base;
          }

          &:hover {
            cursor: pointer;
            background-color: $blue;
          }

          &__label {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }
    .images{
      margin-top: $base * 3.75;
      max-width: 80%;
      height: 50vw;

      .title {
        margin-bottom: $base * 2.75;
      }

      @media (min-width: $desktopSD) {
        margin-bottom: 38px;
      }

      @media (min-width: $desktopHD) {
        overflow: initial;
        height: 488px;
        margin-bottom: 14px;
      }

      @media (min-width: $sideShow) {
        margin-bottom: 36px;
      }

      @media (min-width: $desktopHDp) {
        margin-bottom: 42px;
      }

    }

    @media (max-width: $desktopSD) {
      padding-top: 0;
      .title {
        @include text(3);
      }
    }
    @media ($mobile) {
      .text {
        margin-top: $base * 2;
      }
    }
  }
</style>
