<template>
  <div class="supplier">
    <Tabs v-model="selectedTab" :options="tabs" class="supplier__tabs" />
    <div class="supplier__content">
      <transition name="fade" mode="out-in">
        <component
          :is="selectedTab"
          v-bind="componentsProps"
          class="supplier__component"
        />
      </transition>
    </div>
  </div>
</template>
<script>
  import ProfileRoutesService from '~/utils/profile-routes-service'

  export default {
    components: {
      Tabs: () => import('~/components/common/Tabs'),
      about: () => import('./About'),
      user_orders: () => import('./UserOrders'),
      orders: () => import('./Orders'),
    },
    props: {
      isOwnProfile: Boolean,
      profile: {
        type: Object,
        required: true,
      },
      supplier: {
        type: Object,
        required: true,
      }
    },
    data() {
      return {
        selectedTab: '',
      }
    },
    computed: {
      componentsProps () {
        const map = {
          about: {
            profile: this.profile,
            supplier: this.supplier,
            isOwnProfile: this.isOwnProfile
          },
          user_orders: {
            baseFetchParams: {...this.routesService.fetchSupplierOrdersParams},
            isOwnProfile: this.isOwnProfile,
            supplier: this.supplier,
          },
          orders: {},
        }
        return map[this.selectedTab] || {}
      },
      tabs() {
        const tabs = [{
          component: 'about',
          name: this.$t('marketplace.general'),
        }]
        if (this.isOwnProfile){
          tabs.push({
            component: 'orders',
            name: this.$t('marketplace.orders'),
          })
        }
        tabs.push({
          component: 'user_orders',
          name: this.isOwnProfile ? this.$t('marketplace.myOrders'): this.$t('marketplace.orders'),
        })
        return tabs
      },
    },
    watch: {
      tabs() {
        this.selectTab()
      },
    },

    mounted() {
      if (!this.selectedTab) {
        this.selectTab()
      }
    },
    created() {
      this.routesService = new ProfileRoutesService({
        store: this.$store,
        router: this.$router,
      })
    },
    methods: {
      async selectTab() {
        const hash = this.$route.hash.slice(1)
        if (~this.tabs.findIndex(tab => tab.component === hash)) {
          this.selectedTab = hash
        } else {
          this.selectedTab = this.tabs[0] ? this.tabs[0].component : ''
        }
      },

    }
  }
</script>
<style lang="scss" scoped>
  @import '~/assets/css/variables.scss';
  .supplier{

    &__tabs{
      /deep/ .simple-tabs__link {
        @include text(4);
        font-weight: bold;
        opacity: 0.4;

        &:hover {
          opacity: 0.7;
        }
        &--checked {
          opacity: 1;
        }
        @media ($mobile) {
          @include text(3);
        }
      }
    }
  }
</style>