<template>
  <OrdersPage
    v-slot:filter="slotProps"
    :fetchParams="fetchParams"
    :filterOptions="filterOptions"
    :orders="ORDERS"
    :ordersCount="ORDERS_COUNT"
    :ordersHasMore="ORDERS_HAS_MORE"
    :ordersLoading="ORDERS_LOADING"
    :ordersFilters="ORDERS_FILTERS"
    :setOrdersFilters="SET_ORDERS_FILTERS"
    :fetchOrders="FETCH_ORDERS"
    :fetchOrdersNext="FETCH_ORDERS_NEXT"
    :resetOrders="RESET_ORDERS"
    @click="openOrder"
  >
    <OrdersFilter
      v-if="slotProps.optionsCount"
      class="orders-filter"
      :placeholder="$t('marketplace.allTypes')"
      :value="slotProps.value"
      :options="slotProps.options"
      :loading="slotProps.loading"
      @input="slotProps.input"
      @close="slotProps.close"
    />

  </OrdersPage>
</template>
<script>
  import { mapGetters, mapActions, mapMutations } from "vuex"
  import OrdersFilter from '~/components/marketplace/orders/Filter'
  import OrdersPage from '../components/OrdersPage'

  export default {
    components: {
      OrdersFilter,
      OrdersPage
    },
    computed: {
      ...mapGetters('marketplace', [
        'ORDERS',
        'ORDERS_COUNT',
        'ORDERS_HAS_MORE',
        'ORDERS_LOADING',
        'ORDERS_FILTERS',
        'ALL_ORDER_TYPES',
        'ORDERS_INITIALIZED'
      ]),
      fetchParams: () => ({
        status: 0
      }),
      filterOptions() {
        return this.ALL_ORDER_TYPES.map( item => ({
          display: item.title, value: item.id, filterKey: 'type', type: this.$t('marketplace.orderType')
        }))
      }
    },
    async mounted() {
      if ( !this.ORDERS_INITIALIZED ){
        await this.FETCH_ORDERS(this.fetchParams)
      }
    },
    methods: {
      ...mapMutations('marketplace', [
        'SET_ORDERS_FILTERS'
      ]),
      ...mapActions('marketplace', [
        'FETCH_ORDERS',
        'FETCH_ORDERS_NEXT',
        'RESET_ORDERS'
      ]),
      openOrder(orderId){
        return this.$router.push({
          name: 'profile-id-marketplace-order_id',
          params: {
            id: this.$route.params.id,
            order_id: orderId
          },
        })
      }
    },
  }
</script>
<style lang="scss" scoped>
  @import '~/assets/css/variables.scss';
  .orders-filter {
    margin-top: $base * 2;
  }

</style>
<style lang="scss">
  .orders-filter {
    .multi-select--v-bordered {
      .multiselect__tags {
        .multiselect__tags-wrap {
          .multiselect__tag {
            .multiselect__tag-icon {
              line-height: 1;
            }
          }
        }
      }
    }
  }
</style>