<template>
  <OrdersPage
    v-slot:filter="slotProps"
    :fetchParams="fetchParams"
    :filterOptions="filterOptions"
    :orders="ORDERS"
    :ordersCount="ORDERS_COUNT"
    :ordersHasMore="ORDERS_HAS_MORE"
    :ordersLoading="ORDERS_LOADING"
    :ordersFilters="ORDERS_FILTERS"
    :setOrdersFilters="SET_ORDERS_FILTERS"
    :fetchOrders="FETCH_ORDERS"
    :fetchOrdersNext="FETCH_ORDERS_NEXT"
    :resetOrders="RESET_ORDERS"
    @click="openOrder"
  >
    <OrdersFilter
      v-if="slotProps.optionsCount"
      class="orders-filter"
      :placeholder="isOwnProfile ? $t('marketplace.allMyOrders'): $t('marketplace.allOrders')"
      :value="slotProps.value"
      :options="slotProps.options"
      :loading="slotProps.loading"
      @input="slotProps.input"
      @close="slotProps.close"
    />
  </OrdersPage>

</template>
<script>
  import { mapGetters, mapActions, mapMutations } from "vuex"
  import getOrderConst from '~/constants/order'
  import OrdersFilter from '~/components/marketplace/orders/Filter'
  import OrdersPage from '../components/OrdersPage'

  export default {
    components: {
      OrdersFilter,
      OrdersPage
    },
    props: {
      baseFetchParams: {
        type: Object,
        default: () => ({}),
      },
      supplier: Object,
      isOwnProfile: Boolean
    },
    computed: {
      ...mapGetters('marketplace/profile', [
        'ORDERS',
        'ORDERS_COUNT',
        'ORDERS_HAS_MORE',
        'ORDERS_LOADING',
        'ORDERS_FILTERS',
      ]),
      ...mapGetters({
        ALL_ORDER_TYPES: 'marketplace/ALL_ORDER_TYPES'
      }),
      fetchParams(){
        const params = { ...this.baseFetchParams }
        if ( !this.isOwnProfile) {
          params.chosen_supplier = this.supplier.id
          params.status = 3
        }
        return params
      },
      filterOptions() {
        const orderConst = getOrderConst()
        return [
          {
            group: this.$t('marketplace.status'),
            values: orderConst.statuses.map(item => Object.assign(item, {
              type: this.$t('marketplace.status'),
              filterKey: 'status'
            })),
          },
          {
            group: this.$t('marketplace.orderType'),
            values: this.ALL_ORDER_TYPES.map( item => {
              return {display: item.title, value: item.id, filterKey: 'type', type: this.$t('marketplace.orderType')}
            })
          },
        ]
      },
    },
    methods: {
      ...mapMutations('marketplace/profile', [
        'SET_ORDERS_FILTERS'
      ]),
      ...mapActions('marketplace/profile', [
        'FETCH_ORDERS',
        'FETCH_ORDERS_NEXT',
        'RESET_ORDERS'
      ]),
      openOrder(orderId){
        return this.$router.push({
          name: 'profile-id-marketplace-order_id',
          params: {
            id: this.$route.params.id,
            order_id: orderId
          },
        })
      }
    },
  }
</script>
<style lang="scss" scoped>
  @import '~/assets/css/variables.scss';
  .orders-filter {
    margin-top: $base * 2;
  }
</style>
