<template>
  <button
    :title="$t('eventpage.contact')"
    class="contact-button"
    @click="showPopover('eventContact')"
  >
    <span class="contact-button__label">{{ $t('eventpage.contact') }}</span>
  </button>
</template>

<script>
import { path } from 'ramda'
import { trackContactBtn } from '~/utils/analytics'

export default {
  props: {
    event: {
      type: Object,
      required: true,
      default: () => {},
    },
  },
  computed: {
    firstCase() {
      return (
        !path(['organizers', 'length'], this.event) &&
        path(['location', 'institution', 'id'], this.event) ===
          path(['institution', 'id'], this.event)
      )
    },
    secondCase() {
      return (
        !path(['organizers', 'length'], this.event) &&
        path(['location', 'institution', 'id'], this.event) ===
          path(['institution', 'id'], this.event) &&
        !path(['institution', 'phones', 'length'], this.event) &&
        !path(['institution', 'links', 'length'], this.event) &&
        !path(['institution', 'emails', 'length'], this.event)
      )
    },
  },
  methods: {
    scrollTo() {
      const isMobile = window.innerWidth < 768
      const idSelector = isMobile ? 'event-contacts' : 'event-map'

      document
        .getElementById(idSelector)
        .scrollIntoView({ behavior: 'smooth', block: 'center' })
    },
    scrollToOnlineCase() {
      const orgIdSelector = 'event-contacts'
      document
          .getElementById(orgIdSelector)
          .scrollIntoView({ behavior: 'smooth', block: 'center' })
    },
    showPopover(type) {
      const isOnline = path(['event','is_online'], this.event)
      if(!isOnline) {
        trackContactBtn(this)
        if (this.firstCase || this.secondCase) {
          this.scrollTo()
        } else {
          this.$store.dispatch('popovers/TOGGLE_POPOVER', type)
        }
      } else {
        this.scrollToOnlineCase()
      }
    },
  },
}
</script>

<style scoped lang="scss">
@import '~/assets/css/variables.scss';

.contact-button {
  background-color: $blue;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 56px;
  line-height: 2;
  font-weight: bold;
  letter-spacing: 0.6px;
  min-width: 0;
  font-size: 12px;

  @media (min-width: $desktopSD) {
    letter-spacing: 0.8px;
    font-size: 16px;
    line-height: 1.5;
  }

  &:hover {
    cursor: pointer;
    background-color: $red;
  }

  &__label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
</style>
