<i18n>
{
  "ru": {
    "comments": "Комментарии"
  },
  "en": {
    "comments": "Comments"
  },
  "es": {
    "comments": "Comentarios"
  }
}
</i18n>

<template>
  <div class="event">
    <StickyPanel :promo="promo" :url="promoUrl" class="event__sticky" />
    <StickyFooter class="event__fixed" />
    <div class="event__body wrapper">
      <Header />
      <SessionStat v-if="hasSessionStat" class="event__session-stat" />
      <MyContent :event="session" />
      <Images v-if="images.length" :images="images" />

      <div id="event-posters" class="event__posters">
        <Posters :posters="eventPosters" :eid="session.event.id" />
      </div>

      <Contacts id="event-contacts" :event="session" />
    </div>

    <div v-if="session.location" id="event-map" class="wrapper event__map">
      <Map :event="session" />
    </div>

    <div class="event__body wrapper">
      <Comments class="event__comments" @send="sendComment">
        <template #label>
          <BlockTitle>{{ $t('comments') }}</BlockTitle>
        </template>
      </Comments>
      <div v-if="hasSimilarEvents || similar.length" class="event__similar">
        <Similar :events="similar" :location="location" :total="countSimilar" />
      </div>
      <slot name="footer"></slot>
    </div>

    <div class="event__contact-popover">
      <ContactPopover v-if="popoverName === 'eventContact'" :event="session" />
    </div>

  </div>
</template>

<script>
import { path, prop, filter, type, isEmpty } from 'ramda'
import { mapActions, mapGetters } from 'vuex'

import BlockTitle from '~/components/events/main/BlockTitle'

export default {
  components: {
    BlockTitle,
    Map: () => import('./Map'),
    Header: () => import('./Header'),
    Similar: () => import('./Similar'),
    Comments: () => import('~/components/common/Comments'),
    MyContent: () => import('./Content'),
    Posters: () => import('./Posters'),
    Contacts: () => import('./Contacts'),
    ContactPopover: () => import('./Popovers/Contacts'),
    Images: () => import(`./Images`),
    StickyPanel: () => import('./StickyPanel'),
    StickyFooter: () => import('./StickyFooter'),
    SessionStat: () => import('./SessionStat'),
  },
  computed: {
    ...mapGetters({
      session: 'events/session/data',
      similar: 'events/sessions/GROUP_EVENTS',
      countSimilar: 'events/sessions/COUNT',
      hasSimilarEvents: 'events/sessions/HAS_EVENTS',
      promo: 'event/IS_PREMIUM',
      popoverName: 'popovers/OPENED_POPOVER',
    }),
    promoUrl() {
      return `/events/${path(['event', 'url_id'], this.session)}/promo/`
    },
    eventPosters() {
      const p = {
        poster_1080x1080: path(['event', 'poster_1080x1080'], this.session),
        poster_1200x630: path(['event', 'poster_1200x630'], this.session),
        poster_800x1080: path(['event', 'poster_800x1080'], this.session),
      }
      const isExist = v => type(v) !== 'Undefined' && type(v) !== 'Null'
      if (isEmpty(filter(isExist, p))) {
        return {}
      } else {
        return filter(isExist, p)
      }
    },
    location() {
      return prop('location', this.session)
    },
    images() {
      return path(['event', 'images'], this.session) || []
    },
    hasSessionStat() {
      const canEdit = path(['permissions', 'can_edit'], this.session)
      const isWW =
        path(['event', 'tickets', 'provider'], this.session) === 'whatwhere'

      return canEdit && isWW
    },
  },
  methods: {
    ...mapActions({
      errorMessage: 'notifications/error',
      sendComment: 'events/session/SEND_COMMENT',
    }),
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.event {
  margin-bottom: 60px;

  @media (min-width: $desktopSD) {
    margin-bottom: 120px;
  }

  &__sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 11;
  }

  &__fixed {
    position: fixed;
    bottom: 0;
    z-index: 2;
    box-shadow: 0 -5px 10px 0 rgba(203, 214, 225, 0.1);

    @media (min-width: $sideShow) {
      max-width: calc(100% - 96px);
    }
    @media (min-width: $desktopHDp) {
      max-width: calc(100% - 112px);
    }
  }

  &__session-stat {
    margin-bottom: 50px;
  }

  &__posters {
    margin-bottom: 11 * $base;
  }

  &__i-will-go {
    margin-bottom: 128px;

    @media (min-width: $desktopSD) {
      margin-bottom: 64px;
    }

    @media (min-width: $desktopHD) {
      margin-bottom: 78px;
    }

    @media (min-width: $sideShow) {
      margin-bottom: 70px;
    }

    @media (min-width: $desktopHDp) {
      margin-bottom: 74px;
    }
  }

  &__map {
    @media (max-width: $desktopSD - 1) {
      margin: 24px 0 0;
    }
  }

  &__comments {
    max-width: 856px;
    margin-bottom: 56px;

    @media (min-width: $desktopSD) {
      margin-bottom: 96px;
    }

    @media (min-width: $desktopHD) {
      margin-bottom: 80px;
    }

    @media (min-width: $desktopHDp) {
      margin-bottom: 72px;
    }
  }

  &__similar {
    margin-top: 48px;
  }

  &__body {
    box-sizing: content-box;
    overflow: hidden;
    margin-top: 10px;

    @media (min-width: $desktopHD) {
      overflow: initial;
      margin-top: 20px;
      //margin-left: piecewise-linear-margin($desktopHD, $sideShow, 82px, 136px);
    }

    @media (min-width: $sideShow) {
      margin-top: 24px;
      //margin-left: piecewise-linear-margin($sideShow, $desktopHDp, 40px, 112px);
    }

    @media (min-width: $desktopFullHD) {
      margin-top: 32px;
    }
  }

  &__fixed-footer {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 3;
    pointer-events: none;

    @media (min-width: $sideShow) {
      max-width: calc(100% - 112px);
    }
  }

  .fade-enter-active,
  .fade-leave-active {
    transition: opacity 0.5s;
  }
  .fade-enter,
  .fade-leave-to {
    opacity: 0;
  }
}
</style>
