<template>
  <button
    class="root"
    @click="$store.dispatch('popovers/TOGGLE_POPOVER', 'eventOwner')"
  >
    <strong>{{ $t('eventpage.thisIsMyEvent') }}</strong>
  </button>
</template>

<style scoped lang="scss">
@import '~/assets/css/variables.scss';

.root {
  padding: 0 16px;
  color: $red;
  text-transform: uppercase;
  line-height: 2;
  letter-spacing: 0.6px;
  @include text(1.5);
  transition: color 0.1s ease-out;

  &:hover {
    color: black;
  }
}
</style>
