<template>
  <section class="event__similar">
    <BlockTitle class="event__similar-header">
      {{ $t('eventpage.similarEvents') }}
    </BlockTitle>
    <div v-hscroll :data-scrollable="events.length > 4">
      <div class="event__similar-grid">
        <EventCard
          v-for="(event, id) in events"
          :key="id"
          :value="event"
          similar
          class="event__similar-event"
        />
      </div>
    </div>
    <nuxtLink :to="{ path: '/events/', query }">
      <Button :count="total">{{ $t('eventpage.similarButton') }}</Button>
    </nuxtLink>
  </section>
</template>

<script>
import { path } from 'ramda'
import hScroll from '~/utils/scrollDirective'
import BlockTitle from '~/components/events/main/BlockTitle'

export default {
  directives: {
    hscroll: hScroll,
  },
  components: {
    BlockTitle,
    EventCard: () => import('~/components/common/EventCard'),
    Button: () => import('~/components/common/buttons/Button'),
  },
  props: {
    events: {
      type: Array,
      default: () => [],
    },
    location: {
      type: Object,
      default: () => ({}),
    },
    total: {
      type: Number,
      default: 0,
    },
  },
  computed: {
    query() {
      const city = path(['city', 'id'], this.location)
      const latitude = path(['geometry', 'lat'], this.location)
      const longitude = path(['geometry', 'lng'], this.location)
      const geo = latitude && longitude && [latitude, longitude].join()
      let query = { actual: true }
      if (city) {
        query = { ...query, city }
      } else if (geo) {
        query = { ...query, geo }
      } else {
        query = { ...query, city: this.$store.getters['city/GET_CITY_ID'] }
      }
      return query
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.event {
  &__similar-header {
    margin-bottom: 1.75 * $base;

    @media (min-width: $desktopHD) {
      margin-bottom: 3 * $base;
    }
  }
  &__similar-grid {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 16px;
    grid-auto-columns: 160px;
    overflow-x: auto;
    overflow-y: hidden;
    margin-bottom: 24px;
    @media (min-width: $desktopSD) {
      grid-auto-columns: 296px;
    }
  }
}
</style>
