<template>
  <nuxt-link
    :to="
      event.url_id
        ? {
            name: 'events-id',
            params: {
              id: event.url_id,
            },
            query: extraQuery,
          }
        : $route
    "
    :target="isExternalLink && '_blank'"
    class="event-card-snob"
    @click.native="onClick"
  >
    <AsyncImage
      class="event-card-snob__image"
      :image="eventImg"
      width="208"
      height="208"
    />
    <div class="event-card-snob__content">
      <div class="event-card-snob__title" style="-webkit-box-orient: vertical;">
        {{ event.title }}
      </div>
      <div class="event-card-snob__date">{{ date }}</div>
      <div v-if="institution" class="event-card-snob__address address">
        <WLink
          :to="{
            name: 'places-id',
            params: {
              id: institution.url_id,
            },
            query: extraQuery,
          }"
          color="black"
          :target="isExternalLink && '_blank'"
          >{{ institution.title }}</WLink
        >
      </div>
    </div>
  </nuxt-link>
</template>

<script>
import { path, prop } from 'ramda'

import AsyncImage from '~/components/common/AsyncImage'
import WLink from '~/components/common/WLink'

export default {
  name: 'EventCardSnob',

  components: {
    AsyncImage,
    WLink,
  },

  props: {
    event: {
      type: Object,
      required: true,
    },
    isExternalLink: Boolean,
    /**
     * Add extra query to urls
     * (ex. some utm data)
     */
    extraQuery: Object,
    emitRedirect: Boolean,
  },

  computed: {
    eventImg() {
      return path(['cover', 'image'], this.event)
    },
    institution() {
      return path(['location', 'institution'], this.event)
    },
    date() {
      return prop('start_dt', this.event)
        ? this.$moment(this.event.start_dt).format('D MMMM, LT')
        : ''
    },
  },

  methods: {
    onClick(e) {
      console.log('e', this.emitRedirect)
      if (!this.emitRedirect) return

      e.preventDefault()
      this.$emit('redirect', {
        url: `${process.env.domainUrl}/widget/event/${this.event.id}`,
        id: this.event.id,
      })
    },
  },
}
</script>

<style>
/* Full path to make it work in storybook */
@import '../../../../assets/fonts/FuturaPT/font.css';
</style>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.event-card-snob {
  width: 300px;
  padding: 8px;
  background: #fff;
  display: flex;
  border: solid 1px #e5e5e5;

  &:hover {
    cursor: pointer;
  }

  &__image {
    width: 104px;
    height: 104px;
    flex-shrink: 0;
  }

  &__content {
    padding-left: 16px;
    padding-right: 8px;
    min-width: 0;
  }

  &__title {
    font-family: Futura PT Demi;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    font-size: 18px;
    line-height: 21px;
    height: 42px;
    margin-bottom: 10px;
  }

  &__date {
    font-size: 16px;
    text-transform: uppercase;
    line-height: 22px;
    margin-bottom: 16px;
    @include no-text-wrap;
  }

  &__address {
    font-family: Futura PT;
    font-size: 14px;
    line-height: 14px;
    @include no-text-wrap;

    &.address {
      &::before {
        font-size: 8px;
        top: 0;
      }
    }
  }
}
</style>
