<i18n>
{
  "ru": {
    "ticketService": "Билетный сервис",
    "how": "Как вы хотите организовать ваше мероприятие?",
    "eventTickets": "Билеты на событие",
    "freeRegistration": "Бесплатная регистрация",
    "priceDescription1": "Подключите возможность онлайн продажи билетов на ваше событие через наш сайт. Подробнее узнать о сервисе и задать вопросы можно в разделе",
    "help": "Помощь",
    "section": " ",
    "supportLink": "https://support.whatwhere.world/ru/",
    "priceDescription2": "Вы можете пропустить этот шаг, нажав на кнопку «Далее: создать событие» или привяжите сторонний сервис",
    "setPrices": "Задайте цены",
    "setupRegistration": "Настройте регистрацию",
    "priceDescription3": "Вы можете создать несколько ценовых групп билетов (например, «Билет без места» или «VIP столик»).",
    "priceDescription4": "Если стоимость билетов одинакова, оставьте поле «Группа билетов» пустым.",
    "active": "Подключить",
    "agreement": "Нажимая на кнопку «Подключить» вы соглашаетесь с",
    "agreementSave": "Нажимая на кнопку «Сохранить» вы соглашаетесь с",
    "launchSale": "Агентским договором продажи билетов",
    "save": "Сохранить",
    "draftSaved": "Черновик сохранен,",
    "backButton": "Назад",
    "eventFinished": "Событие завершено",
    "specifyLegal": "Укажите юридические данные организатора"
},
  "en": {
    "ticketService": "Ticketing service",
    "how": "How do you want to organize your event?",
    "eventTickets": "Event Tickets",
    "freeRegistration": "Free Registration",
    "priceDescription1": "Activate the service of online ticket sales for your event through our website. You can learn more about this service and ask all your questions in a",
    "help": "“Help”",
    "section": "section.",
    "supportLink": "https://support.whatwhere.world/en/",
    "priceDescription2": "You can skip this step by clicking on “Next: create event” button or link a third-party ticketing service",
    "setPrices": "Set prices",
    "setupRegistration": "Configure registration",
    "priceDescription3": "You can create several price categories (for example, “Ticket without a seat” or “VIP table”).",
    "priceDescription4": "If the ticket prices are the same, leave the “Ticket Category” field blank.",
    "active": "Activate",
    "agreement": "By clicking on “Activate” button you agree to the",
    "agreementSave": "By clicking on “Save” button you agree to the",
    "launchSale": "Ticketing Agency Agreement",
    "draftSaved": "Draft saved,",
    "save": "Save",
    "backButton": "Back",
    "eventFinished": "Event finished",
    "specifyLegal": "Specify the legal data of the organizer"
},
  "es": {
    "ticketService": "Servicio de tickets",
    "eventTickets": "Entradas para eventos",
    "freeRegistration": "Inscripción gratuita",
    "setPrices": "Establecer los precios",
    "startSelling": "Comenzar la venta",
    "save": "Guardar",
    "backButton": "Atrás",
    "eventFinished": "Evento terminado"
  }
}
</i18n>

<template>
  <div class="wrapper">
    <div class="tickets-edit">
      <div class="tickets-edit__header">
        <h1 class="tickets-edit__title">{{ $t('ticketService') }}</h1>
        <nuxt-link v-tooltip.auto="$t('backButton')" :to="backRoute" class="tickets-edit__close">
          <span class="ww-icn-cross"></span>
        </nuxt-link>
      </div>
      <div class="organize-description">
        <p>{{ $t('how') }}</p>
      </div>
      <SchemesModeForm />
      <div v-if="!ONLY_FREE_TICKETS_FORM" class="organize-description price-description-first">
        <p>{{ $t('priceDescription1') }}
          <a :href="$t('supportLink')" target="_blank">
            {{ $t('help') }}
          </a> <span>{{ $t('section') }}</span></p>
      </div>
      <div class="tickets-schemes">
        <h3 class="tickets-schemes__title">
          {{ ticketsSchemesTitle }}
        </h3>
        <div v-if="!ONLY_FREE_TICKETS_FORM" class="organize-description">
          <p>{{ $t('priceDescription3') }}</p>
          <p>{{ $t('priceDescription4') }}</p>
        </div>
        <TicketSchemes />
      </div>
      <div>
        <EventForm class="ticket-group__table"/>
      </div>
    </div>

    <div class="form-submit__wrapper">
      <div class="wrapper form-submit">
        <p class="agreement"> <span>{{ agreement }}</span>
          <a :href="ticketingAgencyAgreement" target="_blank">{{ $t('launchSale') }}</a></p>
        <PanelButton bigPadding @click="save">{{ panelButtonTitle }}</PanelButton>
      </div>
    </div>
  </div>
</template>

<script>
  import { prop } from 'ramda'
  import { parseISO } from 'date-fns'
  import isEmpty from 'lodash/isEmpty'
  import { mapActions, mapGetters } from 'vuex'
  import { scrollToElement } from '~/utils'

  import TicketSchemes from '~/components/events/ww-tickets/TicketSchemes'
  import SchemesModeForm from '~/components/events/ww-tickets/SchemesModeForm'
  import EventForm from '~/components/events/ww-tickets/EventForm'
  import PanelButton from '~/components/common/buttons/PanelButton'

  export default {
    components: {
      EventForm,
      SchemesModeForm,
      TicketSchemes,
      PanelButton,
    },

    data: () => ({
      refererRoute: null,
    }),

    computed: {
      ...mapGetters(
        'events/ticketsEdit/',
        [
          'HAS_INIT_SCHEMES',
          'IS_FREE_REGISTRATION',
          'SESSIONS_WITH_SCHEMES',
          'EVENT_ERRORS',
          'CURRENT_EVENT',
          'ONLY_FREE_TICKETS_FORM'
        ]
      ),
      ...mapGetters({
        LANG: 'lang/LANG',
        EVENT: 'event/EVENT',
        GET_USER: 'user/GET_USER',
        isLoading: 'events/ticketsEdit/LOADING',
      }),
      ticketingAgencyAgreement() {
        return `/docs/ticketing_agency_agreement_${this.LANG}.pdf`
      },
      ticketsSchemesTitle() {
        if (!this.ONLY_FREE_TICKETS_FORM){
          return this.$t('setPrices')
        }
        return this.$t('setupRegistration')
      },
      eventId() {
        return (
          this.$route.params.id && prop('0', this.$route.params.id.match(/\d+/))
        )
      },
      agreement() {
        return this.HAS_INIT_SCHEMES ? this.$t('agreementSave') : this.$t('agreement')
      },
      panelButtonTitle() {
        return this.HAS_INIT_SCHEMES ? this.$t('save') : this.$t('active')
      },
      backRoute() {
        return (
          this.refererRoute || {
            name: 'events-id',
            params: {
              id: this.$route.params.id,
            },
          }
        )
      }
    },
    watch: {
      errors() {
        if (this.errors && isEmpty(this.errors)) return false
        const firstError = Object.keys(this.errors)[0]
        if(this.errors[firstError] === 'required'){
          this.$store.dispatch('notifications/error', this.$t('specifyLegal') )
        }
        scrollToElement({
          element: document.getElementById(firstError),
          align: 'center',
        })
      },
      EVENT() {
        if(parseISO(this.EVENT.end_dt) > new Date()) {
          this.loadTicketsEdit({ id:  this.eventId})
        } else {
          this.$store.dispatch('notifications/error', this.$t('eventFinished'))
          this.$router.push('/profile')
        }
      },
      SESSIONS_WITH_SCHEMES() {
        this.setOnlyFreeTicketsForm(this.HAS_INIT_SCHEMES && this.IS_FREE_REGISTRATION)
      }
    },
    beforeRouteEnter(to, from, next) {
      next(vm =>  ( vm.refererRoute = from.name ? from : { name: 'profile' }))
    },

    fetch({ store, redirect, params, query }) {
      const isAuth = store.getters['auth/IS_AUTH']

      if (!isAuth) {
        return redirect({
          name: 'events-id',
          params: { id: params.id },
          query: { params: 'notAuth', ...query },
        })
      }
    },

    created() {
      this.fetchEvent()
    },

    methods: {
      ...mapActions(
        'events/ticketsEdit', ['loadTicketsEdit', 'saveTickets', 'setEventErrors', 'setOnlyFreeTicketsForm']
      ),
      fetchEvent(){
        this.$store.commit('events/ticketsEdit/LOADING', true)
        try {
          this.$store.dispatch('event/FETCH', {id: this.eventId, params: {expand: 'organizer'}})
        } catch(err) {
          this.$store.commit('events/ticketsEdit/LOADING', false)
          console.log(err)
        }
      },

      save() {
        try {
          let errors = {};
          if (this.SESSIONS_WITH_SCHEMES && !this.ONLY_FREE_TICKETS_FORM){
            Object.keys(this.CURRENT_EVENT).map(key => {
              if(!isEmpty(errors)) return false
              if (!this.CURRENT_EVENT[key] && key !== 'paid_online_link') {
                errors[key] = 'required'
              }
            })
          }
          if(isEmpty(errors)) {
            errors = {...errors ,...this.errors}
          }
          this.setEventErrors(errors)
          if(!isEmpty(errors)) {
            this.$nextTick(() => {
              scrollToElement({
                element: document.querySelector('.form-input--error'),
                align: 'center',
              })
            })
            return false
          }
          this.$store.dispatch('popovers/SWITCH_PRE_LOADER', true)

          this.saveTickets({id: this.eventId})
        } catch (e) {
          console.error(e)
          this.$nextTick(() => {
            scrollToElement({
              element: document.querySelector('.form-input--error'),
              align: 'center',
            })
          })
        }
        this.$store.dispatch('popovers/SWITCH_PRE_LOADER', false)
      },
    },
  }
</script>

<style lang="scss" scoped>
  @import '~/assets/css/variables.scss';
  .tickets-edit {
    margin-top: 24px;
    max-width: 968px;

    @media (min-width: $desktopSD) {
      margin-top: 72px;
    }

    &__title {
      @include text(4);
      font-weight: bold;

      @media (min-width: $desktopSD) {
        @include text(6);
      }
    }


    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 34px;
    }

    &__close {
      display: flex;
      transition: color 0.3s;
      font-size: 24px;
      &:hover {
        color: $blue;
      }
    }
    .organize-description{
      font-size: 16px;
      font-weight: normal;
      color: black;
      margin-bottom: 30px;
      a{
        color: #0070ff;
      }
      p{
        margin: 0;
      }
    }
    .price-description-first{
      margin-bottom: 67px;
    }
    .tickets-service{
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 0.8px;
      color: #0070ff;
      cursor: pointer;
    }
    .tickets-schemes {
      &__title {
        @include text(3);
        font-weight: bold;
        margin-bottom: 16px;
      }
    }
  }

  .form-submit {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &__wrapper {
      z-index: 100;
      padding: 8px 0;
      background-color: #fff;
      position: fixed;
      bottom: 0;
      right: 0;
      width: 100%;

      @media (min-width: $desktopSD) {
        padding: 16px 0;
      }

      @media (min-width: $desktopHD) {
        padding: 24px 0;
      }

      @media (min-width: $sideShow) {
        max-width: calc(100% - 96px);
      }
    }
    .agreement{
      font-size: 16px;
      font-weight: normal;
      margin-right: 28px;
      a{
        color: #0070ff;
      }
    }
  }
</style>
