
<template>
  <div class="tickets-page">
    <div v-if="cover" class="tickets-page__bg">
      <AsyncImage
          :image="cover.image"
          :width="cover.original_width"
          :height="cover.original_height"
          class="image"
      />
    </div>
    <div class="tickets-page__wrapper">
      <BuyModal v-if="SHOW_BUY_MODAL" class="tickets-page__modal" @close="onModalClose()" />
      <div v-else class="tickets-page__content">
        <nuxt-link :to="returnRoute" class="popover-close-button ww-icn-cross" />
        <Header />
        <Gallery />
        <Schemes />
      </div>
    </div>
  </div>
</template>

<script>
  import { path } from 'ramda'
  import {mapActions, mapGetters} from 'vuex'

  export default {
    components: {
      AsyncImage: () => import('~/components/common/AsyncImage'),
      BuyModal: () => import('~/components/events/tickets/BuyModal'),
      Header: () => import('~/components/events/tickets/Header'),
      Gallery: () => import('~/components/events/tickets/Gallery'),
      Schemes: () => import('~/components/events/tickets/Schemes'),
    },

    beforeRouteEnter(to, from, next) {
      next(vm => (vm.refererRoute = from))
    },

    data: () => ({
      refererRoute: null,
    }),

    computed: {
      ...mapGetters('event', ['EVENT', 'URL_ID']),
      ...mapGetters('tickets', ['SHOW_BUY_MODAL', 'ONLY_FREE']),
      cover() {
        return path(['cover'], this.EVENT)
      },
      returnRoute() {
        if (this.refererRoute) {
          return this.refererRoute.fullPath
        }

        return {
          name: 'events-id',
          params: { id: this.EVENT.url_id },
        }
      },
    },
    async fetch({ app, store, route, redirect, error, params, query }) {
      try {
        const eventId = parseInt(params.id)
        if (!eventId) return error({ statusCode: 404 })

        await store.dispatch('event/FETCH', {
          id: eventId,
          params: { expand: 'cover,images,organizer' },
        })

        const event = store.getters['event/EVENT']
        if (!event) return error({ statusCode: 404 })

        if (event.url_id !== params.id) {
          const { href } = app.router.resolve({
            name: 'events-id-tickets',
            params: { id: event.url_id },
            query,
            hash: route.hash,
          })

          return redirect(301, href)
        }

        const ticketsProvider = path(['tickets', 'provider'], event)
        if (ticketsProvider !== 'whatwhere') {
          const { href } = app.router.resolve({
            name: 'events-id',
            params: { id: event.url_id },
            query: query
          })
          return redirect(302, href)
        }

        await store.dispatch('tickets/FETCH_SCHEMES', {
          event: eventId,
          on_sale: true,
          expand: 'session,session.location',
          page_size: 100,
        })
      } catch (err) {
        return error({ statusCode: path(['status'], err.response) })
      }
      const schemes = store.getters['tickets/SCHEMES']
      const onlyFree = store.getters['tickets/ONLY_FREE']

      if (onlyFree && schemes.length) {
        store.dispatch('tickets/INITIALIZE_TICKETS_FORM')
        const scheme = schemes[0]
        const tickets = new Array(1).fill({
          scheme: Number(scheme.id),
        })
        store.dispatch('tickets/SET_PURCHASE_TICKETS_BY_SESSION', {
          session: scheme.view.sessionId,
          scheme: scheme.id,
          tickets,
        })
        store.dispatch('tickets/SAVE_PURCHASE', {
          selectedSessionId: scheme.view.sessionId
        })
        store.dispatch('tickets/TOGGLE_BUY_MODAL', {
          show: true
        })
      }
    },
    methods: {
      ...mapActions('tickets', [
        'TOGGLE_BUY_MODAL',
      ]),
      onModalClose(){
        if (!this.ONLY_FREE){
          this.TOGGLE_BUY_MODAL(false)
        } else {
          return this.$router.push({
            name: 'events-id',
            params: { id: this.URL_ID },
          })
        }
      },
    },
    head() {
      return {
        link: [
          {
            rel: 'canonical',
            href: `${process.env.domainUrl}${this.$route.path}`,
          },
        ],
      }
    },
  }
</script>

<style lang="scss" scoped>
  @import '~/assets/css/variables.scss';

  .tickets-page {
    @include prevent-body-padding;
    @include full-height-without-header;

    background: #fff;
    position: relative;
    display: flex;
    flex-direction: column;

    .popover-close-button {
      color: $blue;
    }

    &__bg {
      position: absolute;
      z-index: 0;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      overflow: hidden;

      .image {
        $blur: $base;
        position: absolute;
        top: -$blur * 2;
        right: -$blur * 2;
        bottom: -$blur * 2;
        left: -$blur * 2;
        filter: blur($blur);
      }

      &:after {
        content: '';
        background: rgba(#000, 0.1);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }

    &__wrapper {
      max-height: 100%;
      overflow-y: auto;
      position: relative;
    }

    &__content {
      position: relative;
      z-index: 2;
      background: #fff;
      padding: ($base * 6) ($base * 11);
      max-width: $base * 126;
      margin: ($base * 6) auto;
    }

    &__modal {
      max-width: $base * 84;
      padding: 0;
      background: #fff;
      margin: ($base * 6) auto;
    }

    .error-message {
      margin-bottom: $base * 5;
    }

    @media (max-width: $sideShow) {
      &__content {
        margin-top: $base * 7.5;
        margin-bottom: $base * 7.5;
      }
      &__modal {
        margin-top: $base * 4;
        margin-bottom: $base * 4;
      }
    }
    @media (max-width: $desktopHD) {
      &__content {
        max-width: $base * 90;
        margin-top: $base * 8.5;
        margin-bottom: $base * 8.5;
        padding-left: $base * 5;
        padding-right: $base * 5;
      }
      &__modal {
        padding: 0;
      }
    }
    @media (max-width: $desktopSD) {
      &__content {
        margin-left: $base * 3;
        margin-right: $base * 3;
      }
      &__modal {
        max-width: none;
      }
    }
    @media ($mobile) {
      &__bg {
        display: none;
        filter: none;
      }
      &__content {
        margin: 0;
        padding: ($base * 5.375) ($base * 3);
      }
      &__modal {
        padding: 0;
        margin: 0;
      }
      .error-message {
        margin-bottom: $base * 3;
      }
    }
  }
</style>
