<i18n>
{
  "ru": {
    "title": "Продавайте билеты на онлайн мероприятия",
    "subtitle": "Зарабатывайте на стримах с WhatWhere",
    "only": "Всего за",
    "create": "Создать событие"
  },
  "en": {
    "title": "Sell Tickets to Livestream Events",
    "subtitle": "Monetize online events with WhatWhere",
    "only": "For only",
    "create": "Create event"
  }
}
</i18n>
<template>
  <div class="header-wrapper">

    <div class="header-content">
      <div class="main">
        <div class="logo">
          <nuxt-link :to="`/${link}/`">
            <img src="~assets/images/logo.svg" />
          </nuxt-link>
        </div>
        <div class="title-text">
          <h1 :class="lang === 'ru' ? 'titleRu title' : 'title'">{{$t('title')}}</h1>
          <div class="subtitle">
            <h2>{{$t('subtitle')}}</h2>
            <div class="circle">
              <span class="for-only">{{$t('only')}}</span>
              <span class="percent">5%</span>
            </div>
          </div>

        </div>
      </div>
      <div class="screens">
        <img src="~static/tickets-online/screens.png" />
      </div>
    </div>

    <div class="social-create">
      <div class="social">
        <img class="fb" src="~static/tickets-online/fb-live.svg" />
        <img class="zoom" src="~static/tickets-online/zoom.svg" />
        <img class="youtube" src="~static/tickets-online/youtube.svg" />
        <img class="inst" src="~static/tickets-online/inst.svg" />
      </div>
      <nuxt-link :to="{ name: 'events-create' }">
        <PanelButton bigPadding class="btn">{{$t('create')}}</PanelButton>
      </nuxt-link>
    </div>
  </div>
</template>

<script>
  import PanelButton from '~/components/common/buttons/PanelButton'
  import { mapGetters } from 'vuex'
  export default {
    components: {
      PanelButton
    },
    computed: {
      ...mapGetters({
        userCity: 'city/GET_USER_CITY',
        lang: 'lang/LANG'
      }),

      link() {
        return this.userCity !== null ? this.userCity.url_id : '/';
      },
    }
  }
</script>
<style lang="scss" scoped>
  @import '~/assets/css/variables.scss';
  .header-wrapper {
    position: relative;
    width: 100%;
    padding-bottom: 93px;
    background: linear-gradient(270deg, #C8E0FF 0%, rgba(255, 255, 255, 0) 100%), #F8F9FA;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position-x: right;
    @media ($mobile) {
      padding-bottom: 60px;
    }
    .header-content {
      display: flex;
      justify-content: space-between;
      @media (max-width: $desktopSD) {
        flex-direction: column;
        align-items: flex-end;
      }
      .main {
        @media (max-width: $desktopHDp) {
          width: 40%;
        }
        @media (max-width: $desktopHD) {
          width: auto;
        }
        .logo {
          width: 829px;
          padding: 40px 0 32px 315px;
          background: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
          img {
            cursor: pointer;
          }
          @media (max-width: $desktopHDp) {
            padding: 40px 0 32px 20%;
          }
          @media (max-width: $sideShow) {
            width: 549px;
            padding: 40px 0 32px 30px;
          }
          @media (max-width: $desktopHD) {
            padding: 40px 0 32px 30px;
            width: 100%;
            max-width: 549px;
          }
          @media ($mobile) {
            max-width: 411px;
            padding: 20px 0 12px;
          }

          img {
            height: 39px;
            @media ($mobile) {
              height: 29px;
              margin-left: 15px;
            }
          }
        }
        .title-text {
          position: relative;
          margin: 61px 0 0 315px;
          @media (max-width: $desktopHDp) {
            margin: 61px 0 0 20%;
          }
          @media (max-width: $sideShow) {
            margin: 61px 0 0 30px;
          }
          @media (max-width: $desktopHD) {
            margin: 61px 0 0 30px;
          }
          @media ($mobile) {
            margin: 46px 0 0 15px;
          }
          h1, h2 {
            width: 332px;
            @media ($mobile) {
              width: 69%;
            }
          }
          .titleRu {
            width: 100%;
            @media (max-width: $desktopHD) {
              width: 332px;
            }
          }
          .title {
            margin-bottom: 14px;
            font-weight: bold;
            font-size: 56px;
            line-height: 56px;
            @media (max-width: $desktopSD) {
              width: 100%;
            }
            @media ($mobile) {
              width: 90%;
              margin-bottom: 9px;
              font-size: 36px;
              line-height: 40px;
            }
          }
          .subtitle {
            display: flex;
            @media ($mobile) {
              justify-content: space-between;
            }
            h2 {
              font-weight: normal;
              font-size: 32px;
              line-height: 40px;
              @media ($mobile) {
                font-size: 24px;
                line-height: 30px;
              }
            }
            .circle {
              position: relative;
              width: 100px;
              height: 100px;
              border-radius: 50%;
              margin-left: 18px;
              margin-top: -39px;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              background-color: $red;
              color: #fff;
              text-transform: uppercase;
              @media (max-width: $desktopSD) {
                margin-top: -20px;
              }
              @media ($mobile) {
                width: 100%;
                max-width: 80px;
                height: 80px;
                margin-right: 15px;
                margin-top: -18px;
              }
              &:before {
                content: '';
                position: absolute;
                border-top: 18px solid $red;
                border-left: 11px solid transparent;
                border-right: 24px solid transparent;
                bottom: 12px;
                left: -14px;
                transform: rotate(160deg);
              }
              .for-only {
                font-weight: bold;
                font-size: 14px;
                line-height: 30px;
                @media ($mobile) {
                  margin-bottom: -10px;
                  font-size: 10px;
                  line-height: 30px;
                }
              }
              .percent {
                font-weight: bold;
                font-size: 39px;
                line-height: 40px;
                @media ($mobile) {
                  font-size: 30px;
                  line-height: 40px;
                }
              }
            }
          }
        }
      }
      .screens {
        margin: 71px 16.5% 0 0;
        @media (max-width: $desktopHDp) {
          width: 50%;
        }
        @media (max-width: $sideShow) {
          width: auto;
          margin: 71px 30px 0 0;
        }
        @media (max-width: $desktopHD) {
          position: absolute;
          right: 0;
        }
        @media (max-width: $desktopSD) {
          position: unset;
          margin-left: 187px;
          margin-top: 30px;
        }
        @media ($mobile) {
          margin: 26px 15px 0;
        }
        img {
          @media (max-width: $sideShow) {
            height: 300px;
          }
          @media (max-width: $desktopHD) {
            height: 271px;
          }
          @media (max-width: $desktopSD) {
            width: 100%;
            height: auto;
          }
        }

      }
    }
    .social-create {
      display: flex;
      margin: 47px 0 0 315px;
      @media (max-width: $desktopHDp) {
        margin: 47px 0 0 8%;
      }
      @media (max-width: $sideShow) {
        margin: 47px 30px 0;
        justify-content: space-between;
      }
      @media (max-width: $desktopSD) {
        margin-top: 30px;
      }
      @media ($mobile) {
        flex-direction: column;
        margin-left: 15px;
        margin-right: 15px;
      }
      .social {
        display: flex;
        align-items: center;
        padding: 19px 0;
        border-top: 1px solid #E9E9E9;
        border-bottom: 1px solid #E9E9E9;
        @media (max-width: $desktopSD) {
          height: 72px;
          max-width: 480px;
        }
        @media ($mobile) {
          max-width: 396px;
        }
        .fb {
          @media (max-width: $desktopSD) {
            width: 14%;
            height: auto;
          }
        }
        .zoom {
          @media (max-width: $desktopSD) {
            width: 18%;
            height: auto;
          }
        }
        .youtube {
          @media (max-width: $desktopSD) {
            width: 18.5%;
            height: auto;
          }
        }
        .inst {
          @media (max-width: $desktopSD) {
            width: 26%;
            height: auto;
          }
        }
        img {
          margin-right: 40px;
          @media (max-width: $desktopSD) {
            margin-right: 33px;
          }
          @media (max-width: $desktopSD) {
            margin-right: 26px;
          }
          &:last-child {
            margin-right: 0;
          }
        }
      }
      .btn {
        width: 245px;
        max-height: 72px;
        margin-left: 274px;
        padding: 23px 5px;
        border: 2px solid $blue;
        transition: 0.3s ease-in;
        &:hover {
          background-color: #ffffff;
          color: $blue;
          border-color: $blue;
        }
        @media (max-width: $sideShow) {
          margin-left: 0;
        }
        @media (max-width: $desktopHD) {
          width: auto;
          padding: 23px 30px;
          margin-left: 34px;
        }
        @media (max-width: $desktopSD) {
          width: 89%;
          margin-left: 26px;
          padding: 24px 15px;
          height: 72px;
        }
        @media ($mobile) {
          width: 100%;
          margin: 20px 0 0;
        }
      }
    }
  }
</style>