<template>
  <div class="promo">
    <div class="buttons">
      <div class="promo-content">
        <div class="promo-content__text">
          <client-only>
            <p>{{ $t('eventCreate.abTestPromoDescription1') }}</p>
            <p>{{ $tc('eventCreate.abTestPersons', audience, { count: audience }) }}</p>
          </client-only>
        </div>
        <button @click="choosePlan">{{ $t('eventCreate.choosePlan') }}</button>
      </div>
      <div class="free-content">
        <p>{{ $t('eventCreate.or') }}</p>
        <button
          v-if="create"
          class="promo__button-without-promo"
          @click="promoteCreateEvent"
        >
          <slot name="cancel"> {{ $t('eventCreate.publishFree') }}</slot>
        </button>
      </div>
    </div>

    <h2 ref="promoTitle" class="promo__title">
      <strong>{{ $t('eventCreate.choosePlanTitle') }}</strong>
    </h2>
    <Tariffs
      :value="plan"
      :coupon="coupon"
      @click="handleTariff"
    />
    <div class="promo__email-hint">{{ $t('eventCreate.hint') }}</div>

  </div>
</template>

<script>
  import {mapActions} from 'vuex'
  import isEmpty from 'lodash/isEmpty'
  import popConsts from '~/utils/popoverConsts.js'

  // eslint-disable-next-line

  export default {
    name: 'Promo',
    components: {
      Tariffs: () => import('./Tariffs'),
    },
    props: {
      create: {
        type: Boolean,
        default: false,
      },
      audience: {
        type: String,
        default: ''
      }
    },
    data() {
      return {
        coupon: '',
        plan: {},
        email: '',
      }
    },
    computed: {
      isAuth() {
        return this.$store.getters['auth/IS_AUTH']
      },
    },
    methods: {
      ...mapActions({
        errorMessage: 'notifications/error',
        simpleRegistration: 'auth/SIMPLE_REGISTRATION',
      }),
      choosePlan () {
        window.scrollTo({
          top: this.$refs.promoTitle.offsetTop,
          behavior: 'smooth',
        })

      },
      async handleTariff(plan) {
        if(this.isAuth) {
          this.plan = plan
        }
        this.promoteCreateEvent()
      },
      async simpleRegister() {
        try {
          await this.simpleRegistration({ email: this.email })
        } catch (e) {}
      },
      async promoteCreateEvent() {
        if (!this.isAuth && this.email) {
          await this.simpleRegister()
          this.email = ''
        }
        if (this.isAuth) {
          if(!isEmpty(this.plan)) {
            this.$emit('promote', {
              plan: this.plan,
            })
          } else {
            this.$emit('create')
          }
        } else {
          // this.errorMessage(this.$t('mail.pleaseLogin'))
          this.$store.dispatch('popovers/TOGGLE_POPOVER', popConsts.auth)
        }
      },
    },
  }
</script>

<style lang="scss" scoped>
  @import '~/assets/css/variables.scss';
  .buttons {
    display: flex;
    width: 100%;
    margin-bottom: 60px;
    .promo-content{
      width: 66%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-shadow: 0 3px 30px 0 rgba(0, 112, 255, 0.1);
      background-color: #0070ff;
      color: #ffffff;
      margin-right: 16px;
      padding: 37px 40px 25px;
      &__text{
        width: 45%;
        p{
          margin: 0;
        }
        & > :first-child {
          font-size: 18px;
          margin-bottom: 15px;
        }
        & > :last-child {
          font-size: 32px;
        }
      }
      button {
        box-shadow: 0 10px 50px 0 rgba(2, 24, 53, 0.68);
        background-color: #137bff;
        color: #ffffff;
        padding: 15px 30px;
        font-size: 18px;
        font-weight: bold;

      }
    }
    .free-content{
      width: 32%;
      box-shadow: 0 3px 30px 0 rgba(0, 112, 255, 0.1);
      background-color: #ffffff;
      padding: 24px 24px 17px;
      display: flex;
      flex-direction: column;
      button{
        border: solid 2px #0070ff;
        background-color: #ffffff;
        color: #0070ff;
        font-size: 17px;
        font-weight: bold;
        padding: 15px 30px;
      }
    }
  }
  .promo {
    max-width: 1000px;
    display: grid;
    grid-gap: 24px;


    &__title {
      display: inline-block;
      color: $blue;
      @media (min-width: $desktopSD) {
        color: black;
      }
      &:before {
        @include text(3);
        color: $blue;
        margin-right: 2 * $base;
        @media (min-width: $desktopHD) {
          @include text(4);
          position: absolute;
          transform: translateX(-200%);
        }
      }
    }

    &__description {
      @media (min-width: $desktopHD) {
        @include text(3);
      }
    }

    &__email-hint {
      @include text(1.75);
      max-width: 700px;
    }
    &__button-without-promo {
      padding: 16px;
      color: $blue;
      &:hover {
        text-decoration: underline;
      }
    }
  }
</style>
