<template>
  <div class="tariffs">
    <Loader v-if="loading" />
    <div v-else class="tariffs__grid">
      <label
        v-for="option in options"
        :key="option.id"
        :for="`tariff__${option.id}`"
        class="tariffs__label"
      >
        <input
          :id="`tariff__${option.id}`"
          :checked="value.id === option.id"
          :value="option.id"
          :name="`tariff__${option.id}`"
          type="radio"
          class="visually-hidden"
          @input="$emit('input', option)"
          @change="$emit('change', option)"
          @click="$emit('click', option)"
        />

        <span class="table">
          <span class="item item__title">
            <div class="header">
              <strong class="cell">{{ option.label }}</strong>
              <span class="item__price">
            <del
                    v-if="option.price.amount !== option.price.original"
                    class="item__header item__original-price"
            >
              {{
                formatPrice(option.price.original, option.price.currency.symbol)
              }}
            </del>
            <strong v-if="option.price.amount < 1">
              {{ $t('eventCreate.free') }}
            </strong>
            <strong v-else class="item__price">
              {{
                formatPrice(
                  option.price.amount,
                  option.price.currency.symbol,
                )
              }}
            </strong>
          </span>
            </div>
            <span v-if="option.lead_generation" class="business">
              <Icon src="icons/rocket.svg" size="s" />
              <span>{{ $t('eventCreate.forBusiness') }}</span>
            </span>

          </span>

          <span class="item">
            <span class="item__header">
              {{ option.lead_generation ? $t('eventCreate.leadPrice') : $t('eventCreate.ad') }}
            </span>
            <strong :class="option.lead_generation && option.lead_price ? 'item__cell icon' : 'item__cell icon'">
               <Icon v-if="!option.lead_generation && !option.lead_price" style="margin-right: 10px" src="icons/people.svg" size="s" />
               <Icon v-if="option.lead_generation && option.lead_price" style="color: #0061dc; margin-right: 10px" src="icons/rocket.svg" size="s" />
              <template v-if="option.lead_generation && option.lead_price">
                {{
                  formatPrice(
                    option.lead_price.amount,
                    option.lead_price.currency.symbol,
                  )
                }}
              </template>
              <template v-else>
                {{ option.audience | formatThousands }}
                {{ $t('eventCreate.people') }}
              </template>
            </strong>
          </span>

          <span class="item">
            <span class="item__header">{{ $t('eventCreate.dur') }}</span>
            <strong class="item__cell icon">
               <Icon style="margin-right: 10px" src="icons/clock-outline.svg" size="s" />
              {{ formatDay(option) }}
            </strong>
          </span>


          <span v-if="option.lead_generation" class="item item__hint">
            {{
              $t('eventCreate.hint', {
                price:
                  option.lead_price.amount + option.lead_price.currency.symbol,
              })
            }}
          </span>

          <div class="social">
           <Icon src="icons/social/ww.svg" size="l" />
           <span class="icon-wrapper"><Icon src="icons/social/instagram.svg" size="s" /></span>
           <Icon src="icons/social/fb.svg" size="l" />
          <Icon src="icons/social/vk-round.svg" size="l" />
          </div>

          <div class="promote">
              <button :class="option.selected ? 'lead-btn' : 'btn'"
                      @click="promote(option)">
                {{ $t('eventCreate.btn') }}</button>
          </div>

        </span>
      </label>
    </div>
  </div>
</template>

<script>
export default {
  components: {
    Icon: () => import('~/components/common/Icon'),
    Loader: () => import('~/components/common/Loader'),
  },
  filters: {
    formatThousands(v) {
      return v.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1 ')
    },
  },
  props: {
    value: {
      type: Object,
    },
    coupon: {
      type: String,
      default: null,
    },
  },
  data() {
    return {
      options: [],
      loading: false,
    }
  },
  watch: {
    coupon(value) {
      this.getPlans({ coupon: value })
    },
  },
  mounted() {
    this.getPlans()
  },
  methods: {
    promote(plan) {
        this.$emit('click', plan)
    },
    formatDay(opt) {
      const day = Number(opt.duration.slice(0, 2))
      if (day === 1) return `${day} ${this.$t('eventCreate.day')}`
      else return this.$tc('eventCreate.days', Number(opt.duration.slice(0, 2)))
    },
    async getPlans(params) {
      try {
        this.loading = true
        const { data } = await this.$axios.get('/promo/plans/', {
          params: { ...params, expand: 'rule,service' },
        })
        this.options = data.results.reverse()
        if (!this.$store.getters['promo/VALUE_TARIFF2']) {
          this.$emit('input', this.options[0])
        } else {
          return this.options.map(
            iteam => iteam.id === this.$store.getters['promo/VALUE_TARIFF2'],
          )
        }
      } catch (e) {
      } finally {
        this.loading = false
      }
    },
    formatPrice(price, symbol) {
      const formatThousands = price
        .toString()
        .replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1 ')
      return this.$moment.locale() === 'en'
        ? symbol + ' ' + formatThousands
        : formatThousands + ' ' + symbol
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.tariffs {
  max-width: 1000px;
  &__grid {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: 8px;
  }

  &__label {
    display: block;
    cursor: pointer;
    line-height: 2;
    margin-right: 40px;
    box-shadow: 0 3px 10px 0 rgba(129, 150, 177, 0.16);
    &:hover {
      color: black;
    }
  }
  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 9px;
    border-bottom: 1px solid #83b9ff;
    margin-top: 15px;
    .cell {
      font-size: 32px;
    }
  }
  .business {
    position: absolute;
    bottom: 0;
    padding: 2px 20px;
    border-radius: 12px;
    background-color: #0f6ade;
    color: #ffffff;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .icon{
      margin-right: 10px;
    }
  }
  .social{
    margin: 20px 0 30px;
    display: flex;
      & > * {
        margin-right: 8px;
      }
    .icon-wrapper {
      border-radius: 50%;
      padding: 0px 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #c6c7c8;
      color: #ffffff;
      margin-right: 8px;
    }

  }
  .promote {
    margin-bottom: 38px;
    .lead-btn{
      padding: 15px 77px;
      width: 248px;
      background-color: #0070ff;
      color: #ffffff;
      font-weight: bold;
    }
    .btn{
      font-size: 18px;
      color: #0070ff;
      font-weight: bold;
    }
  }
  .table {
    display: flex;
    flex-direction: column;
    padding: 0 24px;
    width: 296px;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  .item {
    padding: 12px;
    display: flex;
    flex-direction: column;
    color: black;

    &__header {
      @include text(2);
      @media (max-width: $desktopSD - 1) {
        display: none;
      }
    }
    &__cell {
      font-size: 32px;
      @media (min-width: $desktopSD) {
        @include text(3);
        font-size: 23px!important;
      }
    }
    &__original-price {
      opacity: 0.4;
    }
    &__title {
      position: relative;
      width: 100%;
      grid-column: span 2;
      text-align: center;
      @media (min-width: $desktopHD) {
        grid-column: auto;
        text-align: left;

        .item__header {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          margin: 8px;

          text-transform: uppercase;
          font-weight: bold;
          @include text(1.5);
        }
      }
    }
    &__price {
      width: 100%;
      font-size: 18px;
      /*grid-column: span 2;*/

      /*display: flex;*/
      /*flex-direction: row;*/
      /*justify-content: center;*/
      /*align-items: baseline;*/
      /*border-top: solid 1px white;*/
      @media (min-width: $desktopHD) {
        display: flex;
        justify-content: flex-end;
        font-size: 18px;
      }
      .item__header {
        margin-right: 16px;
      }
      .item__cell {
        @include text(3);
      }
    }
    &__hint {
      font-size: 10px;
      font-weight: normal;
      /*grid-column: span 2;*/
      /*border-top: solid 1px white;*/
      @media (min-width: $desktopHD) {
        /*grid-column: span 4;*/
        width: 224px;
      }
    }

    .icon {
      overflow: hidden;
      &:before {
        margin-right: 10px;
        opacity: 0.3;
        font-size: 16px;
      @include ww-icn();
      }
    }
  }

  input[type='radio']:checked ~ .table {
    background-color: white;
    box-shadow: 0 0 15px 0 rgba(75, 154, 255, 0.3);
    transition: all 500ms ease;
    .item__title {
      /*<!--color: $blue;-->*/
    }
    .item__hint,
    .item__price {
      border-top: solid 1px $gray;
    }
  }
}
</style>
