<template>
  <div class="form-input-array">
    <FormInput
      v-for="(v, idx) in value"
      :id="idx === value.length - 1 && id || null"
      :key="idx"
      class="form-input-array__input"
      :value="v"
      @input="onInput($event, idx)"
    >
      <template v-if="idx === value.length - 1" #icon>
        <Icon 
          class="form-input-array__icon" 
          src="icons/plus.svg" 
          size="l"
          @click="addValue" 
        />
      </template>
    </FormInput>
  </div>
</template>

<script>
import FormInput from '~/components/common/input/FormInput'
import Icon from '~/components/common/Icon'

export default {
  name: 'FormInputArray',

  components: {
    FormInput,
    Icon,
  },

  props: {
    id: [String, Number],
    value: {
      type: Array,
      required: true,
    },
  },

  methods: {
    onInput(v, idx) {
      const updatedValue = [...this.value]
      updatedValue[idx] = v

      this.updatedValue(updatedValue)
    },
    addValue() {
      const lastItemIsEmpty = !this.value[this.value.length - 1]
      if (lastItemIsEmpty) return

      const updatedValue = [...this.value, '']

      this.updatedValue(updatedValue)
    },
    updatedValue(v) {
      this.$emit('input', v)
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.form-input-array {
  &__input:not(:last-child) {
    margin-bottom: 4px;
  }

  &__icon {
    color: $blue;
  }
}
</style>
