<template>
  <section v-if="coverImage" class="actions">
    <div v-if="getCity.links.length" class="actions__social-links">
      <SocialLinks :links="getCity.links" />
    </div>
    <div class="actions__image">
      <AsyncImage :image="coverImage" width="520" height="408" class="image" />
    </div>
    <InfoSubscription
      v-if="coverImage"
      :name="declinationName"
      class="actions__subscription"
    />
  </section>
</template>

<script>
import { prop, path } from 'ramda'
import { mapGetters } from 'vuex'

export default {
  components: {
    InfoSubscription: () => import('./InfoSubscription'),
    SocialLinks: () => import('../SocialLinks'),
    AsyncImage: () => import('~/components/common/AsyncImage'),
  },
  props: {
    value: {
      type: Object,
      default: () => ({}),
    },
    query: {
      type: Object,
      default: () => ({}),
    },
  },
  computed: {
    ...mapGetters({
      getCityName: 'city/GET_CITY_NAME',
    }),
    getCity() {
      return this.$store.getters['city/GET_CITY']
    },
    loc() {
      return this.$i18n.locale === 'ru' ? 'ru_ru' : 'en_us'
    },
    declinationName() {
      return (
        path(['translations', this.loc, 'name_declination'], this.value) ||
        path(['translations', this.loc, 'name'], this.value) ||
        prop('name_declination', this.value) ||
        prop('name', this.value) ||
        this.$t('mainpage.info.earth')
      )
    },
    coverImage() {
      return path(['cover', 'image'], this.value)
    },
    styles() {
      return `width: ${520}px; height: ${408}px`
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.actions {
  position: relative;
  display: grid;
  align-items: flex-end;
  grid-template-areas:
    'image'
    'subscription';
  @media (min-width: $desktopSD) {
    grid-template-columns: auto 608px;
    grid-row-gap: 32px;
    grid-template-areas:
      'links links'
      '. image'
      'subscription subscription';
  }
  @media (min-width: $desktopHD) {
    grid-template-columns: 312px auto;
    grid-template-rows: auto 168px;
    grid-row-gap: 32px;
    grid-template-areas:
      'links image'
      'subscription image';
  }
  @media (min-width: $sideShow) {
    grid-template-columns: 56px 504px;
    grid-template-rows: unset;
    grid-row-gap: 32px;
    grid-template-areas:
      'links links'
      '. image'
      'subscription subscription';
  }

  &__social-links {
    grid-area: links;
    display: none;
    @media (min-width: $desktopSD) {
      display: block;
      justify-self: unset;
    }
    @media (min-width: $sideShow) {
      justify-self: flex-end;
    }
  }
  &__subscription {
    grid-area: subscription;
    position: absolute;
    bottom: 24px;
    left: -16px;
    right: -16px;
    max-width: 408px;
    @media (min-width: $desktopSD) {
      width: 50vw;
      max-width: unset;
      bottom: -24px;
      left: unset;
      right: unset;
    }
    @media (min-width: $desktopHD) {
      max-width: 408px;
      width: 408px;
      bottom: -24px;
      left: unset;
      right: unset;
    }
    @media (min-width: $desktopHDp) {
      bottom: 32px;
    }
  }
  &__image {
    grid-area: image;
    width: 100%;
    position: relative;
    padding-top: 118%; /* 408:344 Aspect Ratio */
    @media (min-width: $desktopSD) {
      padding-top: 77%; /* 392:504 Aspect Ratio */
    }

    .image {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      @media (min-width: $sideShow) {
        margin-right: -72px;
      }
      @media (min-width: $desktopHDp) {
        margin-right: 0;
      }
    }
  }
}
</style>
