<template>
  <section v-if="description" class="info">
    <Statistics
      :name="name"
      :foundation="value.foundation_year"
      :population="value.population"
      class="info__statistics"
    />
    <Actions :value="value" class="info__actions" />
    <div class="info__description" v-html="description"></div>
    <nuxtLink
      :to="{ path: '/events/', query: { ...query, actual: true } }"
      class="info__link"
    >
      <Button v-if="mainEvents" :count="mainEvents.count" class="info__button">
        {{ $t('mainpage.allEventsCity') }}
      </Button>
    </nuxtLink>
  </section>
</template>

<script>
import { prop, path } from 'ramda'

export default {
  components: {
    Actions: () => import('./Actions'),
    Button: () => import('~/components/common/buttons/Button'),
    Statistics: () => import('./Statistics'),
  },
  props: {
    value: {
      type: Object,
      default: () => ({}),
    },
    query: {
      type: Object,
      default: () => ({}),
    },
  },
  computed: {
    mainEvents() {
      return []
    },
    loc() {
      return this.$i18n.locale === 'ru' ? 'ru_ru' : 'en_us'
    },
    name() {
      return (
        path(['translations', this.loc, 'name'], this.value) ||
        prop('name', this.value) ||
        this.$t('mainpage.info.earth')
      )
    },
    description() {
      return path(['content'], this.value)
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.info {
  display: flex;
  flex-direction: column;
  @media (min-width: $sideShow) {
    display: block;
  }
  &__statistics {
    margin-bottom: 16px;
    @media (min-width: $desktopHD) {
      margin-bottom: 36px;
    }
  }
  &__actions {
    float: none;
    order: 1;
    @media (min-width: $desktopSD) {
      margin: 48px 0;
    }
    @media (min-width: $sideShow) {
      margin-top: 0;
      margin-left: 24px;
      float: right;
    }
  }
  &__description {
    /deep/ p {
      margin: 0;
    }
  }
  &__link {
    order: 1;
  }
  &__button {
    margin-top: 16px;
    @media (min-width: $desktopHD) {
      margin-top: 36px;
    }
  }
}

.main {
  &__place-info-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 2 * $base;

    @media (min-width: $desktopHD) {
      flex-direction: row;
      margin-bottom: 7 * $base;
    }
  }

  &__place-info-cover {
    align-items: flex-end;
    display: flex;
    min-height: 51 * $base;
    min-width: 25 * $base;
    position: relative;

    @media (min-width: $desktopHD) {
      width: calc(5 / 12 * 100%);
    }
  }

  &__place-info-image {
    background-color: $red;
    height: 100%;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }
}
.main-info {
  &__stats-and-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 16px;
  }
  &__social-links {
    display: none;
    @media (min-width: 1180px) {
      display: block;
    }
  }
}
</style>
