<template>
  <div class="subscription-block">
    <label for="subscribe-input" class="subscription-block__text">
      {{ $t('mainpage.subscribe') }} {{ name }}
    </label>
    <div class="subscription-block__form">
      <MailInput
          id="subscribe-input"
          v-model="email"
          :error="error"
          :placeholder="$t('mainpage.subscribeMail')"
          :disabled="success"
          styles="height: 64px; border: none; font-size: 16px; line-height: 24px;"
          @keyup.enter.prevent="subscribeMail"
          @input="error = false"
      />
      <button
        class="subscription-block__button"
        :class="[success ? 'success-block' : 'ww-icn-arrow-right']"
        type="button"
        name="button"
        @click="subscribeMail"
      ></button>
    </div>
  </div>
</template>

<script>
export default {
  components: {
    MailInput: () => import('~/components/common/input/MailInput'),
  },
  props: {
    name: String,
  },
  data() {
    return {
      email: '',
      success: false,
      error: false,
    }
  },
  methods: {
    subscribeMail(e) {
      e.preventDefault()
      if (this.email.length > 3 && !this.success) {
        this.$store
          .dispatch('subscribe/SUBSCRIBE_CITY', this.email)
          .then(response => {
            if (response.status === 200) {
              this.success = true
              this.error = false
            } else {
              this.error = true
            }
          })
      }
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.subscription-block {
  background-color: rgba($blue, 0.8);
  padding: 3 * $base;

  &_transparent {
    background-color: transparent;
  }

  &__text {
    color: white;
  }

  &__form {
    margin-top: 1.5 * $base;
    position: relative;
  }

  &__input {
    @include text(2);
    padding: (2 * $base) (7 * $base) (2 * $base) (2.5 * $base);
    &:focus::placeholder {
      color: transparent;
    }
  }

  &__button {
    color: $blue;
    @include text(3);
    height: 3 * $base;
    padding: 0;
    position: absolute;
    right: 3 * $base;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.15s ease-in;

    &:hover,
    &:focus {
      transform: translate(3px, -50%);
    }
  }
}
.success-block {
  background: url('~static/success.svg') no-repeat center center/70%;
  color: $blue;
  @include text(3);
  height: 3 * $base;
  padding: 0;
  position: absolute;
  right: 3 * $base;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.15s ease-in;
  width: 30px;
  cursor: default;
  &:hover,
  &:focus {
    transform: translate(0px, -50%) !important;
  }
}
.error-input {
  border: 1px solid red;
}
</style>
