<template>
  <div>
    <h2 class="stats__header">{{ name }}</h2>
    <div class="stats__info">
      <h3 v-if="foundation" class="stats__info-item stats__est">
        {{ foundation }} {{ $t('mainpage.year') }}
      </h3>
      <h3 v-if="population" class="stats__info-item stats__population">
        {{ fmtPop }}
      </h3>
    </div>
  </div>
</template>

<script>
import { splitNumberBy3 } from '../../../utils'

export default {
  props: {
    name: String,
    foundation: [Number, String],
    population: [Number, String],
  },
  computed: {
    fmtPop() {
      return this.population ? splitNumberBy3(this.population) : ''
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

$middle: $desktopHD;

.stats {
  &__header {
    font-weight: bold;
    margin-bottom: 2 * $base;
    @include text(3);

    @media (min-width: $desktopSD) {
      margin-bottom: 3 * $base;
      @include text(4);
    }
  }

  &__info {
    display: flex;
  }

  &__info-item {
    @include text(2);

    @media (min-width: $middle) {
      @include text(3);
    }

    &:not(:last-child) {
      margin-right: 5 * $base;

      @media (min-width: $middle) {
        margin-right: 9 * $base;
      }
    }

    &::before {
      @include ww-icn;
      color: $blue;
      margin-right: 2 * $base;
      position: relative;
      top: 4px;
    }
  }

  &__est {
    &::before {
      content: 'x';
    }
  }

  &__population {
    &::before {
      content: 'w';
    }
  }
}
</style>
