<template>
  <div
    class="event-card"
    :class="{
      'event-card--small': smaller,
      'event-card--is-promo': hasPromoStyle,
      'event-card--hovered': isHovered,
    }"
    :style="cardStyle"
    @mouseover="setHover(true)"
    @mouseout="setHover(false)"
  >
    <div class="overlay-info" :class="{ 'overlay-info--show': showOverlay }">
      <div v-if="$slots.topButtons" class="overlay-info--horizontal">
        <slot name="topButtons"></slot>
      </div>
      <template v-else>
        <div class="overlay-info--horizontal">
          <span v-if="eventPrice" class="price-block" :style="priceStyle">
            {{ eventPrice }}
          </span>
          <BtnWithIcon
            v-if="!hideButtons"
            v-only-auth:click="addToJournal"
            invert
            icon="add"
            class="overlay-info__icon icon-responsive"
            :inlineColor="applyInlineStyle && inlineColor"
          />
        </div>
        <div v-if="!hideButtons && isOwn" class="overlay-info--vertical">
          <BtnWithIcon
            invert
            icon="trash"
            class="overlay-info__icon icon-responsive"
            :inlineColor="applyInlineStyle && inlineColor"
            @click="$emit('remove')"
          />
          <BtnWithIcon
            v-if="canEdit"
            invert
            icon="pencil"
            class="overlay-info__icon icon-responsive"
            :inlineColor="applyInlineStyle && inlineColor"
            @click="$emit('event:edit')"
          />
        </div>
      </template>
    </div>

    <nuxt-link
      :to="
        event.url_id
          ? {
              name: 'events-id',
              params: {
                id: event.url_id,
              },
              query: extraQuery,
            }
          : $route
      "
      :event="noClick ? '' : 'click'"
      :target="isExternalLink && '_blank'"
    >
      <div
        class="event-card__cover"
        :class="{ 'event-card__cover--vertical': isVertical }"
        :style="[hasPromoStyle && coverBackgroundStyle]"
      >
        <Badge v-if="isEventApproved" class="event-card__badge">
          <Icon slot="badge" src="icons/check-round.svg" size="s" />
        </Badge>
        <Badge v-if="isEventReject" class="event-card__badge">
          <Icon slot="badge" src="icons/uncheck-round.svg" size="s" />
        </Badge>
        <div
          v-if="!hasPromoStyle"
          class="event-card__background"
          :style="coverBackgroundStyle"
        ></div>

        <div class="image-wrapper">
          <AsyncImage
            v-if="!staticImg"
            class="image-wrapper__image"
            :image="eventImg"
            :fitSize="{ width: 300, height: 200 }"
            makeFit
            contain
          />
          <img v-else :src="eventImg" class="image-wrapper__image" />
        </div>
      </div>

      <div
        class="event-card__content"
        :style="[
          hasPromoStyle && { background: mainColorBottom, ...textColor },
        ]"
      >
        <ul class="event-card__categories">
          <li
            v-for="category in event.categories"
            :key="category.id"
            class="event-card__category"
          >
            <nuxt-link
              :tag="isExternalLink ? 'a' : 'span'"
              :to="{
                name: 'search',
                query: {
                  city: city,
                  category: category.slug,
                  actual: true,
                  ...extraQuery,
                },
              }"
              v-bind="linkAttrs"
            >
              {{ category.title }}
            </nuxt-link>
          </li>
        </ul>

        <h3 class="event-card__caption" style="-webkit-box-orient: vertical;">
          {{ event.title }}
        </h3>

        <DateTime
          class="event-card__period"
          v-bind="dateTimeAttrs"
          format="main"
          notWrap
          :start="event.start_dt"
          :end="event.end_dt"
        />

        <div
          v-if="institution"
          class="event-card__institution ww-icn-map-marker"
        >
          <nuxt-link
            :tag="isExternalLink ? 'a' : 'span'"
            :to="
              institution.url_id
                ? {
                    name: 'places-id',
                    params: {
                      id: institution.url_id,
                    },
                    query: extraQuery,
                  }
                : $route
            "
            :event="noClick ? '' : 'click'"
            v-bind="linkAttrs"
            class="event-card__institution-link"
          >
            {{ institution.title }}
          </nuxt-link>
        </div>

        <div v-if="$slots.bottomButtons" class="event-card__bottom-buttons">
          <slot name="bottomButtons"></slot>
        </div>
      </div>
    </nuxt-link>
  </div>
</template>

<script>
import { path, prop } from 'ramda'
import { mapActions } from 'vuex'

import { calcBrightness, formatPrice } from '~/utils'
import popoverConsts from '~/utils/popoverConsts'
import DateTime from '~/components/common/DateTime'
import Icon from '~/components/common/Icon'

export default {
  components: {
    BtnWithIcon: () => import('~/components/common/buttons/BtnWithIcon'),
    AsyncImage: () => import('~/components/common/AsyncImage'),
    Badge: () => import('~/components/common/Badge'),
    Icon,
    DateTime,
  },
  props: {
    event: {
      type: Object,
      default: () => ({}),
    },
    noClick: {
      type: Boolean,
      default: false,
    },
    isOwn: {
      type: Boolean,
      default: false,
    },
    canEdit: {
      type: Boolean,
      default: false,
    },
    smaller: Boolean,
    /**
     * Hover color for special events,
     * has highest priority for hover
     */
    hoverColor: String,
    /**
     * Allow to pass eventImage as base64
     */
    staticImg: Boolean,
    /**
     * Add target="_blank" for card links
     */
    isExternalLink: Boolean,
    /**
     * Always show overlay with buttons
     */
    showOverlay: Boolean,
    /**
     * Hide all buttons on overlay,
     * except price block (ex. widget cards)
     */
    hideButtons: Boolean,
    /**
     * Add extra query to urls
     * (ex. some utm data)
     */
    extraQuery: Object,
  },
  data: () => ({
    isHovered: false,
  }),
  computed: {
    linkAttrs() {
      if (this.isExternalLink) {
        return {
          target: '_blank',
        }
      } else {
        return {
          tabindex: '0',
          role: 'link',
        }
      }
    },
    mainColorBottom() {
      return path(['cover', 'main_color_2'], this.event)
    },
    coverBackgroundStyle() {
      const main_color_1 = path(['cover', 'main_color_1'], this.event)
      const main_color_2 = path(['cover', 'main_color_2'], this.event)

      if (main_color_1 && main_color_2) {
        return {
          backgroundImage: `linear-gradient(to bottom, ${main_color_1}, ${main_color_2})`,
        }
      }

      return null
    },
    hasPromoStyle() {
      const main_color_1 = path(['cover', 'main_color_1'], this.event)
      const main_color_2 = path(['cover', 'main_color_2'], this.event)

      return Boolean(main_color_1 && main_color_2 && this.isPromo)
    },
    isPromo() {
      return prop('is_promo', this.event)
    },
    dateTimeAttrs() {
      return {
        ...((this.hasPromoStyle && !this.brightness && { color: 'white' }) ||
          null),
        ...((this.smaller && { smaller: true }) || { small: true }),
      }
    },
    city() {
      return this.$store.getters['city/GET_CITY'].id
    },
    originalDimensions() {
      return {
        width: path(['cover', 'original_width'], this.event),
        height: path(['cover', 'original_height'], this.event),
      }
    },
    imageRatio() {
      let ow = this.originalDimensions.width
      let oh = this.originalDimensions.height
      /* set image ratio 1 for old images */
      return !ow || !oh ? 1 : ow / oh
    },
    isVertical() {
      if (!this.originalDimensions.width) {
        return this.imageRatio < 1
      } else {
        return this.imageRatio < 1.2
      }
    },
    eventImg() {
      return this.toShow && path(['cover', 'image'], this.event)
        ? this.event.cover.image
        : null
    },
    toShow() {
      // if image has sizes hide it if bigger side lower than 100
      // otherwise just show
      if (!this.originalDimensions.height) return true
      if (this.originalDimensions.height > this.originalDimensions.width) {
        return this.originalDimensions.height > 100
      } else {
        return this.originalDimensions.width > 100
      }
    },
    institution() {
      return path(['location', 'institution'], this.event)
    },
    applyHoverStyle() {
      return this.isHovered && this.applyInlineStyle
    },
    applyInlineStyle() {
      return (this.mainColorBottom && this.isPromo) || this.hoverColor
    },
    inlineColor() {
      return this.hoverColor || this.mainColorBottom
    },
    cardStyle() {
      return [
        this.applyHoverStyle
          ? {
              backgroundColor: 'white',
              boxShadow: `0 0 0 12px white, 0 0 0 16px ${this.inlineColor}`,
            }
          : null,
      ]
    },
    brightness() {
      return calcBrightness(this.mainColorBottom)
    },
    textColor() {
      return { color: this.brightness ? 'black' : 'white' }
    },
    priceStyle() {
      return [
        this.applyInlineStyle
          ? {
              backgroundColor: this.inlineColor,
              ...this.textColor,
            }
          : null,
      ]
    },
    eventPrice() {
      return formatPrice({
        max: this.event.max_price,
        min: this.event.min_price,
        currency: this.event.currency,
      })
    },
    isEventApproved() {
      return String(this.event.manual_moderation_status) === '2'
    },
    isEventReject() {
      return String(this.event.manual_moderation_status) === '0'
    },
  },
  methods: {
    ...mapActions({ openPopoverWithData: 'popovers/OPEN_POPOVER_WITH_DATA' }),
    setHover(p) {
      this.isHovered = p
    },
    addToJournal() {
      this.openPopoverWithData({
        name: popoverConsts.addToJournal,
        data: {
          event: this.event,
        },
      })
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

/*
  TODO: Use js breakpoints to remove
  not stable css logic
*/
.icon-responsive {
  @media (max-width: $desktopSD - 1) {
    width: 36px;
    height: 36px;
  }
}

.event-card {
  position: relative;
  background-color: white;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: 168px;

  &:hover,
  &:focus {
    .event-card__overlay-remove-button {
      display: flex;
      flex-flow: column;
    }

    .overlay-info {
      display: flex;
    }

    /* !important to override inline style hover */
    @media (max-width: $desktopHD - 1) {
      box-shadow: initial !important;
      background-color: transparent !important;
    }

    @media (min-width: $desktopHD) {
      background-color: #fff;
      box-shadow: 0 0 0 12px white, 0 0 0 16px $blue;

      .event-card__cover::before {
        opacity: 1;
      }
      .image-wrapper__rating {
        background-color: rgba(black, 0);
      }
      .event-card__caption {
        text-decoration: underline;
      }
    }

    .event-card__badge {
      visibility: hidden;
    }
  }

  @media (min-width: $desktopSD) {
    background-color: rgba(white, 0);
    width: 296px;

    &--small {
      width: 184px;

      .event-card__cover {
        height: 128px;

        &--vertical {
          .image-wrapper {
            top: 0;
            bottom: 0;
            width: 112px;
          }

          .event-card__background {
            top: 8px;
            bottom: 8px;
          }
        }
      }

      .event-card__content {
        padding: 8px;
      }

      .event-card__background {
        width: 128px;
      }

      .event-card__categories {
        height: 17px;
        @include text(1.5);
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 8px;
      }
      .event-card__caption {
        height: 48px;
        line-height: 24px;
        margin-bottom: 8px;
      }
      .event-card__institution {
        display: none;
      }
      .event-card__period {
        margin: 0;
      }
    }
  }

  .overlay-info {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    max-width: calc(100% + 8px); // 100% + left/right minus
    z-index: 2;
    justify-content: flex-end;

    @media (min-width: $desktopSD) {
      top: -8px;
      right: -8px;
      max-width: calc(100% + 16px);
    }

    @media (min-width: $desktopHD) {
      top: -16px;
      right: -16px;
      max-width: calc(100% + 32px);
    }

    &__icon {
      flex-shrink: 0;
    }

    &--show {
      display: flex;
    }

    &--horizontal {
      display: flex;
      align-items: flex-start;
      min-width: 0;

      > :not(:last-child) {
        margin-right: 8px;
      }
    }

    &--vertical {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-left: 8px;

      > :not(:last-child) {
        margin-bottom: 8px;
      }
    }

    .price-block {
      @include no-text-wrap;
      display: inline-block;
      padding: 6px 25px;
      color: #fff;
      background-color: $blue;
      @media (min-width: $desktopSD) {
        padding: 12px 25px;
      }
    }
  }

  .image-wrapper {
    position: relative;
    justify-content: center;
    display: flex;
    height: 100%;
    min-width: 0;

    &__image {
      max-width: 100%;
      width: 100%;
      object-fit: contain;
    }
  }

  &__cover {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 104px;
    max-height: 192px;

    @media (min-width: $desktopSD) {
      height: 192px;
    }

    &--vertical {
      padding: 0;

      .event-card__background {
        width: 100%;
        top: 8px;
        bottom: 8px;
        height: auto;

        @media (min-width: $desktopSD) {
          top: 26px;
          bottom: 26px;
        }
      }
    }
  }

  &__badge {
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 1;
  }

  &__background {
    position: absolute;
    height: 100%;
    width: 88px;
    background-color: $red;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;

    @media (min-width: $desktopSD) {
      width: 192px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: $base;

    @media (min-width: $desktopSD) {
      padding: 16px 20px 20px;
    }
  }

  &__categories {
    height: 17px;
    @include text(1.25);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @media (min-width: $desktopSD) {
      @include text(1.5);
      line-height: 1.5;
      margin-bottom: 4px;
    }
  }

  &__category {
    display: inline-block;

    &:not(:last-child):after {
      content: ',';
      margin-right: 4px;
    }

    &:hover {
      color: $blue;
      text-decoration: underline;
    }
  }

  &__caption {
    margin-bottom: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    // move to inline style, not ?parsed? in class
    // -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 24px;
    height: 48px;

    @media (min-width: $desktopSD) {
      @include text(3);
      height: 64px;
      margin-bottom: 8px;
    }

    @media (min-width: $desktopHDp) {
      margin-bottom: 14px;
    }
  }

  &__period {
    margin-bottom: 10px;

    @media (min-width: $desktopSD) {
      margin-bottom: 4px;
    }

    @media (min-width: $desktopHDp) {
      margin-bottom: 20px;
    }
  }

  &__institution {
    height: 20px;
    margin-bottom: 2px;
    display: flex;

    &:before {
      @include text(1);
      margin-right: 6px;

      @media (min-width: $desktopSD) {
        @include text(1.25);
      }

      @media (min-width: $desktopHDp) {
        @include text(1.5);
        margin-right: 10px;
      }
    }
  }

  &__institution-link {
    @include text(1.25);
    @include no-text-wrap;
    display: inline-block;

    @media (min-width: $desktopSD) {
      @include text(1.5);
    }

    &:hover {
      color: $blue;
      text-decoration: underline;
      &:before {
        color: black;
        text-decoration: none;
      }
    }
  }

  &__bottom-buttons {
    margin-top: 16px;
  }
}
</style>
