<template>
  <FormRow :error="errors">
      <template v-if="field.label" #label>{{ field.label }}</template>
      <template slot-scope="{ id, hasError }">
        <FormInput
          :id="id"
          :value="value"
          variant="bordered"
          :error="hasError"
          :placeholder="field.placeholder || field.componentProps.placeholder"
          v-bind="field.componentProps"
          @input="$emit('input', $event)"
        />
      </template>
    </FormRow>
</template>
<script>
  import FormRow from '~/components/common/FormRowNew'
  import FormInput from '~/components/common/input/FormInput'

  export default {
    components: {
      FormRow,
      FormInput
    },
    props: {
      field: {
        type: Object,
        required: true
      },
      value: [Object, String, Number],
      errors: [Object, String],
    },
  }
</script>