<template>
  <div class="radio-row">
    <label
      v-if="field.label"
      class="label"
      :for="field.key"
    >
      {{ field.label }}
    </label>
    <Radio
      :value="radioValue"
      v-bind="field.componentProps"
      :name="field.key"
      @input="input($event)"
    />
  </div>
</template>
<script>
  import { isNil } from "ramda"
  import Radio from '~/components/common/input/Radio1'
  export default {
    components: {
      Radio,
    },
    props: {
      field: {
        type: Object,
        required: true
      },
      errors: [Object, String],
      value: [Object, Boolean, String, Number]
    },
    computed: {
      radioValue() {
        if ( isNil(this.value) )
          return null
        return this.value ? "1": "0"
      }
    },
    methods: {
      input(value) {
        this.$emit('input', value === "1")
      }
    }
  }
</script>