<template>
  <FormRow :error="errors">
    <template v-if="field.label" #label>{{ field.label }}</template>
    <template slot-scope="{ id, hasError }">
      <FormSelect
        :id="id"
        :value="value"
        v-bind="field.componentProps"
        :closeOnSelect="true"
        variant="bordered"
        :error="hasError"
        :placeholder="field.placeholder || field.componentProps.placeholder"
        @input="$emit('input', $event)"
      >
        <template
          slot="singleLabel"
          slot-scope="{ option }"
        >{{ option.display }}</template>
        <template
          slot="option"
          slot-scope="{ option }"
        >{{ option.display }}</template>
      </FormSelect>
    </template>
  </FormRow>
</template>
<script>
  import FormRow from '~/components/common/FormRowNew'
  import FormSelect from '~/components/common/input/FormSelect'

  export default {
    components: {
      FormSelect,
      FormRow
    },
    props: {
      field: {
        type: Object,
        required: true
      },
      errors: [Object, String],
      value: [Object, Boolean, Number, String]
    }
  }
</script>