<template>
  <div>
    <label v-if="field.label" class="label">
      {{ field.label }}
    </label>
    <div class="interval">
      <component
        :is="field.start.component"
        v-model="start"
        class="interval-value"
        variant="bordered"
        :errors="startErrors"
        :field="field.start"
        v-bind="field.start.componentProps"
      />
      <component
        :is="field.end.component"
        v-model="end"
        class="interval-value"
        variant="bordered"
        :errors="endErrors"
        :field="field.end"
        v-bind="field.end.componentProps"
      />
    </div>
  </div>
</template>
<script>
  import { prop } from "ramda"
  import FormRow from '~/components/common/FormRowNew'
  import AutoInput from './AutoInput'
  import AutoRadio from './AutoRadio'
  import AutoSelect from './AutoSelect'
  import AutoDatepicker from './AutoDatepicker'

  export default {
    components: {
      AutoSelect,
      AutoInput,
      AutoRadio,
      FormRow,
      AutoDatepicker
    },
    props: {
      field: {
        type: Object,
        required: true
      },
      errors: Object,
      value: Object
    },
    data() {
      return {
        start: null,
        end: null
      }
    },
    computed: {
      startErrors(){
        return prop('start', this.errors)
      },
      endErrors(){
        return prop('end', this.errors)
      }
    },
    watch: {
      value: {
        deep: true,
        immediate: true,
        handler() {
          const {start, end} = this.value
          if (start !== this.start){
            this.start = start
          }
          if (end !== this.end){
            this.end = end
          }
        }
      },
      start() {
        const value = Object.assign({}, this.value)
        value.start = this.start
        this.$emit('input', value)
      },
      end() {
        const value = Object.assign({}, this.value)
        value.end = this.end
        this.$emit('input', value)
      }
    }
  }
</script>