<i18n>
{
  "ru": {
    "label": "В каком городе?"
  },
  "en": {
    "label": "In what city?"
  }
}
</i18n>
<template>
  <FormRow :error="error">
    <template #label>{{ $t('label') }}</template>
    <template slot-scope="{ id, hasError }">
      <FormSelect
        :id="id"
        :value="value"
        variant="bordered"
        :hasError="hasError"
        :options="options"
        trackBy="id"
        :allowEmpty="false"
        :clearOnSelect="false"
        :preserveSearch="true"
        :closeOnSelect="true"
        :loading="loading"
        @input="$emit('input', $event)"
        @search-change="newSearch"
      >
        <template
          slot="singleLabel"
          slot-scope="{ option }"
        >{{ option.name }}{{ option.country && option.country.name ? `, ${option.country.name }` : '' }}</template>
        <template
          slot="option"
          slot-scope="{ option }"
        >{{ option.name }}{{ option.country && option.country.name ? `, ${option.country.name }` : '' }}</template>
        <template slot="afterList">
          <div v-observe-visibility="reachedEndList" v-if="hasNextPage" />
        </template>
      </FormSelect>
    </template>
  </FormRow>
</template>
<script>
  import { mapGetters } from "vuex"
  import { debounce } from '~/utils'
  import { getCities } from '~/api'
  import FormRow from '~/components/common/FormRowNew'
  import FormSelect from '~/components/common/input/FormSelect'

  export default {
    components: {
      FormRow,
      FormSelect
    },
    props: {
      value: Object,
      error: Object,
    },
    data() {
      return {
        city: null,
        options: [],
        loading: false,
        hasNextPage: false,
        search: null,
        page: 1
      }
    },
    computed: {
      ...mapGetters('city', ['GET_CITY']),

    },
    mounted() {
      if ( (!this.value || !this.value.id) && this.GET_CITY ){
        this.$emit('input', this.GET_CITY)
      }
      this.initSearch()
    },
    methods: {
      reachedEndList(reached) {
        if (reached) {
          this.fetchNextPage();
        }
      },
      initSearch: debounce(async function() {
        await this.fetch(true)
      }, 300),

      fetchNextPage: debounce(async function() {
        this.page = this.page + 1
        await this.fetch()
      }, 300),

      newSearch: debounce(async function(v) {
        this.search = v
        this.page = 1
        this.hasNextPage = false
        await this.fetch(true)
      }, 300),

      async fetch(clean=false) {
        if (this.loading)
          return

        this.loading = true
        try {
          const { data } = await getCities(this.$axios, {
            params: {search: this.search, expand: 'country', page: this.page},
          })
          if ( clean ) {
            this.options = []
          }
          this.options = this.options.concat(data.results)
          this.page = data.page_number
          this.hasNextPage = data.num_pages > data.page_number
        } catch (e) {
          console.log(e)
          this.options = []
        }

        this.loading = false
      },
    },
  }

</script>