<i18n>
{
  "ru": {
    "label": "Файлы",
    "addFile": "+ Добавить файл",
    "allFiles": "Можно все файлы перекинуть сюда",
    "error": "Выберите файл меньшего размера"
  },
  "en": {
    "label": "Files",
    "addFile": "+ Add a file",
    "allFiles": "You can transfer all the files here",
    "error": "Choose a smaller file"
  }
}
</i18n>
<template>
  <div class="add-file">
    <label class="add-file_label" for="upload">{{ $t('label') }}</label>
    <div class="add-file_wrapper">
      <div class="content">
        <span class="add">{{ $t('addFile') }}</span>
        <span class="all">{{ $t('allFiles') }}</span>
      </div>
      <input
          type="file"
          id="upload"
          title=""
          class="add-file_input"
          multiple
          @change="changeHandler"
      >
    </div>
    <div class="files">
      <div
          v-for="(file,i) in files"
          :key="i"
          class="file-wrap"
      >
        <div class="file">
          <span class="name">{{file.file ? file.file.split('/').pop() : file.name}}</span>
          <span class="close ww-icn-cross" @click="deleteFile(i, file)"></span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import { mapActions, mapGetters, mapMutations } from 'vuex'
  import popoverConsts from '~/utils/popoverConsts'
  import { path } from 'ramda'

  export default {
    props: {
      order: Object,
    },
    data: () => ({
      files: [],
    }),
    computed: {
      ...mapGetters('marketplace/order', ['FILES']),
    },
    mounted() {
      this.files = path(['files'], this.order) ? path(['files'], this.order) : this.files
      if(this.FILES) {
        this.files = [...this.files, ...this.FILES]
      }
      this.dragenter()
    },
    methods: {
      ...mapActions('notifications', ['error']),
      ...mapActions({TOGGLE_POPOVER: 'popovers/TOGGLE_POPOVER' }),
      ...mapActions('popovers', ['OPEN_POPOVER_WITH_DATA']),
      ...mapMutations({
        SET_FILES: 'marketplace/order/SET_FILES',
      }),
      dragenter() {
        const fileInput = document.querySelector('input[type=file]');
        const content = document.querySelector('.content');

        fileInput.addEventListener('dragenter', function() {
          content.classList.add('dragover');
        });

        fileInput.addEventListener('dragleave', function() {
          content.classList.remove('dragover');
        });
      },
      changeHandler(e) {
        if(e.target.files){
          const files = [...e.target.files]
          files.map(file => {
            const size = file.size / 1024 / 1024
            if (size > 10) {
              this.error(this.$t('error'))
            } else {
              this.files.push(file)
              if (this.FILES) {
                this.SET_FILES([...this.FILES, file])
              } else {
                this.SET_FILES([file])
              }
            }
          })
        }
      },
      deleteFile(i, file) {
        if(file.id) {
          this.OPEN_POPOVER_WITH_DATA({
            name: popoverConsts.deleteFile,
            data: {
              file,
              order: this.order
            },
          })
        } else {
          const filtered = this.FILES.filter(item => item.name !== file.name)
          this.SET_FILES(filtered)
          this.files.splice(i,1)
        }
      },
    },
  }
</script>

<style lang="scss" scoped>
  @import '~/assets/css/variables.scss';

  .add-file {
    margin: 25px 0 0;
    &_label {
      color: rgba(0, 0, 0, 0.4);
      @include text(2);
      font-weight: normal;
    }
    &_wrapper {
      display: inline-block;
      position: relative;
      width: 100%;
      height: 104px;
      margin-bottom: 12px;
      margin-top: 7px;
    }
    &_input {
      position: absolute;
      left: 0;
      opacity: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 104px;
      padding: 0;
      cursor: pointer;
    }
    .content {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 104px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      border: 1px dashed #999999;
      background: url('~static/file.svg') no-repeat center center;
      cursor: pointer;
      .add {
        color: $blue;
        @include text(2);
        font-weight: normal;
      }
      .all {
        font-size: 12px;
        font-weight: normal;
        line-height: 24px;
        color: #999999;
        margin-top: -5px;
      }
    }

    .files {
      max-width: 100%;
      display: flex;
      flex-flow: wrap;
      .file-wrap {
        max-width: 100%;
        padding: 13px 24px;
        margin-right: 10px;
        margin-bottom: 10px;
        box-shadow: 0 3px 20px 0 rgba(4, 13, 22, 0.1);
        .file {
          display: flex;
          align-items: center;
          .name {
            max-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-right: 22px;
            @include text(2);
            font-weight: bold;
          }
          .close {
            cursor: pointer;
            &:before {
              font-size: 8px;
              color: #707070;
            }
          }
        }
      }
    }
  }
</style>
