<i18n>
{
  "ru": {
    "label": "Бюджет",
    "placeholders": {
      "price": "Задайте бюджет",
      "price_interval_from": "От",
      "price_interval_to": "До"
    }
  },
  "en": {
    "label": "Budget",
    "placeholders": {
      "price": "Set a budget",
      "price_interval_from": "From",
      "price_interval_to": "To"
    }
  }
}
</i18n>
<template>
  <div class="price-input">
    <FormRow :error="errors['price_type']" class="row radio-row">
      <template #label>{{ $t('label') }}</template>
      <template slot-scope="{ id, hasError }">
        <Radio
          :id="id"
          :value="priceType"
          :hasError="hasError"
          class="order-price-type"
          :options="priceTypes"
          name="price-type"
          @input="setPriceType($event)"
        />
      </template>
    </FormRow>
    <FormRow  v-if="priceType === 'simple'" :error="errors['price']" class="price-row">
      <template slot-scope="{ id, hasError }">
        <FormInput
          :id="id"
          :value="price"
          type="number"
          variant="bordered"
          :error="hasError"
          :placeholder="$t('placeholders.price')"
          @input="updateData({price: $event})"
        >
          <template #icon>
            <div class="currency">
              ₽
            </div>
          </template>
        </FormInput>
      </template>
    </FormRow>
    <div v-if="priceType === 'interval'" class="interval price-row">
      <FormRow :error="errors['price_interval_from']" class="interval-value">
        <template slot-scope="{ id, hasError }">
          <FormInput
            :id="id"
            :value="priceIntervalFrom"
            variant="bordered"
            type="number"
            :error="hasError"
            :placeholder="$t('placeholders.price_interval_from')"
            @input="updateData({price_interval_from: $event})"
          >
            <template #icon>
              <div class="currency">
                ₽
              </div>
            </template>
          </FormInput>
        </template>
      </FormRow>
      <FormRow :error="errors['price_interval_to']" class="interval-value">
        <template slot-scope="{ id, hasError }">
          <FormInput
            :id="id"
            :value="priceIntervalTo"
            variant="bordered"
            type="number"
            :error="hasError"
            :placeholder="$t('placeholders.price_interval_to')"
            @input="updateData({price_interval_to: $event})"
          >
            <template #icon>
              <div class="currency">
                ₽
              </div>
            </template>
          </FormInput>
        </template>
      </FormRow>
    </div>
  </div>
</template>
<script>
  import { map } from "ramda"
  import getOrderConst from '~/constants/order'

  import FormRow from '~/components/common/FormRowNew'
  import FormInput from '~/components/common/input/FormInput'
  import Radio from '~/components/common/input/Radio1'

  export default {
    components: {
      FormRow,
      Radio,
      FormInput,
    },
    props: {
      priceType: {
        type: String,
        required: true,
      },
      price: {
        type: [Number, String],
        validator: p => typeof p === 'number' || typeof p === 'string' || p === null,
      },
      priceIntervalFrom: {
        type: [Number, String],
        validator: p => typeof p === 'number' || typeof p === 'string' || p === null,
      },
      priceIntervalTo: {
        type: [Number, String],
        validator: p => typeof p === 'number' || typeof p === 'string' || p === null,
      },
      errors: {
        type: Object,
        default: () => ({}),
      },
    },

    computed: {
      priceTypes() {
        return map(item => ({
          id: item.id, value: item.value, label: item.display
        }), this.orderConst.priceTypes)
      },
      orderConst() {
        return getOrderConst()
      }
    },
    methods: {
      updateData(data) {
        this.$emit('update:data', data)
      },
      setPriceType( priceType ) {
        const data = {
          price_type: priceType,
          price: null,
          price_interval_from: null,
          price_interval_to: null,
        }
        if (priceType === 'simple') {
          data.price = this.priceIntervalFrom || this.priceIntervalTo
        } else if (priceType === 'interval') {
          data.price_interval_from = this.price
          data.price_interval_to = this.price
        }
        this.updateData(data)
      },
    }
  }
</script>
<style lang="scss" scoped>
  @import '~/assets/css/variables.scss';
  .price-input{
    .currency {
      font-weight: bold;
    }
  }
</style>