<i18n>
{
  "ru": {
    "title": "Выберите наиболее подходящий тариф и запустите промо всего в один клик!",
    "footnote": "Возможно изменение периода промо-кампании с сохранением выбранного охвата.",
    "customPlan": {
      "label": "Хотите индивидуальный план?",
      "button": "Напишите нам"
    }
  },
  "en": {
    "title": "Choose the package that suits your needs best and launch your promo in just one click!",
    "footnote": "Campaign duration can be reduced while keeping the same reach.",
    "customPlan": {
      "label": "Want a personalized promo package?",
      "button": "Message us"
    }
  },
  "es": {
    "title": "¡Elija el plan que mejor se adapte a sus necesidades y lance su promoción en un solo clic!",
    "footnote": "La duración de la campaña se puede reducir manteniendo el mismo alcance.",
    "customPlan": {
      "label": "¿Quieres un plan personalizado?",
      "button": "Mándanos un mensaje"
    }
  }
}
</i18n>

<template>
  <div class="plans-section">
    <div class="plans-section__list">
      <h2 class="title" v-text="$t('title')" />
      <div class="list-outer">
        <ul class="list">
          <li v-for="plan in plans" :key="plan.id" class="item">
            <Plan
              :plan="plan"
              @click.native.prevent="$emit('select-plan', plan)"
            />
          </li>
        </ul>
      </div>
      <div class="footnote">* {{ $t('footnote') }}</div>
    </div>
    <div class="plans-section__custom">
      <div class="custom-plan">
        <b class="custom-plan__label" v-text="$t('customPlan.label')" />
        <div class="custom-plan__btn">
          <a
            ref="mailLink"
            class="mail-link"
            href="mailto:support@whatwhere.world"
          >
            <Button
              invert
              noArrow
              class="button"
              @click.native.prevent="$refs.mailLink.click()"
            >
              {{ $t('customPlan.button') }}
            </Button>
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import Button from '~/components/common/buttons/Button'
import Plan from './Plan'

export default {
  components: {
    Button,
    Plan,
  },
  data: () => ({
    colorMin: [214, 100, 76], // #83b9ff in hsl
    colorMax: [214, 100, 43], // #0061dc in hsl
    selectedColor: '#f50052', // $red color
  }),
  computed: {
    ...mapGetters('plans', {
      PLANS: 'RESULTS',
    }),

    selectedIdx() {
      return this.PLANS.findIndex(plan => plan.selected)
    },
    hasSelected() {
      return this.selectedIdx >= 0
    },
    count() {
      return this.PLANS.length
    },
    plans() {
      return this.PLANS.map((plan, idx) => ({
        ...plan,
        color: this.getColorByIdx(idx),
      }))
    },
    lightnessStep() {
      const { colorMin, colorMax } = this
      const min = Math.min(colorMin[2], colorMax[2])
      const max = Math.max(colorMin[2], colorMax[2])

      let parts = this.count - 1
      if (this.hasSelected) parts -= 1

      return Math.abs((max - min) / parts)
    },
  },
  methods: {
    getColorByIdx(idx) {
      if (idx === this.selectedIdx) {
        return this.selectedColor
      }

      if (this.hasSelected && idx > this.selectedIdx) {
        idx -= 1
      }

      const color = [...this.colorMin]
      const [h, s] = color
      const l = color[2] - idx * this.lightnessStep

      return `hsl(${h}, ${s}%, ${l}%)`
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.plans-section {
  &__list {
    background: $blue;
    padding: ($base * 11.5) ($base * 2) ($base * 5.75);
  }

  &__custom {
    background: #0256c0;
    color: #fff;
    padding: 0 ($base * 3);
  }

  .title,
  .footnote {
    max-width: $base * 84;
    color: #fff;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .title {
    @include text(4);
    font-weight: normal;
  }

  .footnote {
    @include text(1.75);
    line-height: $base * 3;
  }

  .list-outer {
    overflow-x: auto;
    display: flex;
  }
  .list {
    margin: ($base * 6.5) auto ($base * 5.25);
    display: flex;
  }

  .item {
    width: $base * 30;
    min-width: $base * 30;
    margin: 0;

    &:not(:last-child) {
      margin-right: $base * 3;
    }

    &:first-child {
      margin-left: auto;
    }
    &:last-child {
      margin-right: auto;
      & /deep/ .hint {
        display: block;
      }
    }
  }

  .custom-plan {
    max-width: $base * 110;
    margin: 0 auto;
    padding-top: $base * 2;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    &__btn,
    &__label {
      padding: 0 0 $base * 2;
    }
    &__label {
      @include text(3);
    }
    &__btn {
      .button {
        padding: ($base * 2 + 2) ($base * 8.75) ($base * 2 - 2);
      }
    }
    .mail-link {
      display: inline-block;
    }
  }

  @media (max-width: $sideShow) {
    &__list {
      padding-top: $base * 10.5;
      padding-bottom: $base * 4.75;
    }
    .custom-plan {
      max-width: $base * 96;
    }
  }

  @media (max-width: $desktopHD) {
    &__list {
      padding-top: $base * 8.25;
      padding-bottom: $base * 5.5;
    }
    .list-outer {
      margin: 0 ($base * -2);
    }
    .list {
      margin-top: $base * 4.5;
      margin-bottom: $base * 4.25;
      padding-left: $base * 2;
      padding-right: $base * 2;
    }
    .custom-plan {
      max-width: $base * 96;
    }
  }

  @media (max-width: $desktopSD) {
    .title {
      max-width: $base * 72;
    }
    &__list {
      padding-bottom: $base * 4.75;
    }
    .list-outer {
      justify-content: normal;
    }
    .list {
      margin-top: $base * 3.75;
      margin-bottom: $base * 5.25;
    }
    .item {
      margin: 0;

      &:not(:last-child) {
        margin-right: $base;
      }
    }
    .footnote {
      max-width: $base * 72;
    }
    .custom-plan {
      flex-direction: column;
      padding-top: $base * 3.5;

      &__btn,
      &__label {
        text-align: center;
        width: 100%;
      }
      &__label {
        padding-bottom: $base * 1.75;
      }
      &__btn {
        padding-bottom: $base * 2.75;

        .button {
          width: auto;
          padding-left: $base * 11;
          padding-right: $base * 11;
        }
      }
    }
  }

  @media ($mobile) {
    &__list {
      padding-top: $base * 6.25;
      padding-bottom: $base * 2.75;
    }
    .title {
      @include text(3);
    }
    .title,
    .footnote {
      padding: 0 ($base * 2);
    }
    .list-outer {
      padding-right: 0;
    }
    .list {
      margin-top: $base * 3.75;
      margin-bottom: $base * 6.25;
      padding-right: $base * 2;
    }
    .custom-plan {
      padding-top: $base * 3.25;

      &__label {
        @include text(2);
      }
      &__btn {
        padding-bottom: $base * 3.75;

        .button {
          width: 100%;
        }
      }
    }
  }
}
</style>
