<i18n>
{
  "ru": {
    "specialLabel": "For business",
    "leadPrice": "Стоимость лида",
    "audience": "Охват от",
    "audienceCount": "человек | человек | человека | человек",
    "periodPromo": "Период промо",
    "period": "Период",
    "days": "дней | день | дня | дней",
    "hint": "Вы можете выбрать между рекламной кампанией и лидогенерацией. Стоимость лида от 300 рублей. ",
    "promoteSite": "ссылка на ваш сайт"
  },
  "en": {
    "specialLabel": "For business",
    "audience": "Reach from",
    "leadPrice": "Cost per lead",
    "audienceCount": "people | people | people",
    "periodPromo": "Campaign duration",
    "period": "Duration",
    "days": "days | day | days",
    "hint": "You can choose Advertising or Lead generation campaign. Lead generation is from $5 per lead.",
    "promoteSite": "link to your website"
  },
  "es": {
    "specialLabel": "For business",
    "leadPrice": "Costo de plomo",
    "audience": "Alcance desde",
    "audienceCount": "personas | personas | personas",
    "periodPromo": "Duración de la campaña",
    "period": "Duración",
    "days": "días | días | días",
    "hint": "Puedes elegir Promoción o, si lo desea, Campaña de generación de plomos desde $5 por plomo.",
    "promoteSite": "enlace a tu página web"
  }
}
</i18n>

<template>
  <div
    :class="{ 'is-selected': isSelected, 'is-special': isSpecial }"
    class="plan"
  >
    <div class="content">
      <div class="header">
        <div v-if="isSpecial" class="special-label">
          <Icon class="icon" src="icons/rocket.svg" />
          <span v-text="$t('specialLabel')" />
        </div>
        <h3 class="title" v-text="plan.label || plan.id" />
        <p class="price">
          <Price :price="plan.price.amount" :currency="currency" />
        </p>
        <Icon
          :style="{ color: plan.color }"
          class="arrow active-color"
          src="icons/triangle-down.svg"
        />
      </div>
      <div class="description">
        <p
          class="label-audience"
          v-text="isSpecial ? $t('leadPrice') : $t('audience')"
        />
        <p v-if="isSpecial" class="audience">
          <Icon
            :style="{ color: plan.color }"
            class="audience__icon active-color"
            src="icons/rocket.svg"
          />
          <Price
            class="audience__count"
            :price="plan.lead_price.amount"
            :currency="currency"
            :business="true"
          />
        </p>
        <p v-else class="audience">
          <span
            class="audience__icon ww-icn-people active-color"
            :style="{ color: plan.color }"
          />
          <span class="audience__count">
            {{ audience }}
            {{ $tc('audienceCount', plan.audience) }}
          </span>
        </p>
        <p class="label-duration">
          <span v-text="isSpecial ? $t('period') : $t('periodPromo')" /><!--
          --><span
            class="active-color"
            :style="{ color: plan.color }"
            v-text="'*'"
          />
        </p>
        <p class="duration">
          <span
            class="duration__icon ww-icn-clock-o active-color"
            :style="{ color: plan.color }"
          />
          <span class="duration__count">
            {{ plan.durationDays }}
            {{ $tc('days', plan.durationDays) }}
          </span>
        </p>
        <p v-if="isSpecial" class="hint">
          {{ $t('hint') }}
        </p>
      </div>
    </div>
    <div class="footer">
      <div class="footer__icon">
        <span class="icon ww-icn-plus" />
      </div>
      <div class="footer__content">
        <div class="price-label">{{ $t('promoteSite') }}:</div>
        <b class="price">
          <Price
            :price="plan.with_customer_site_price.amount"
            :currency="currency"
          />
        </b>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { splitNumberBy3 } from '~/utils'

export default {
  components: {
    Icon: () => import('~/components/common/Icon'),
    Price: () => import('~/components/common/Price'),
  },
  props: {
    plan: {
      type: Object,
      required: true,
    },
  },
  computed: {
    ...mapGetters('lang', ['LANG']),

    isSelected() {
      return Boolean(this.plan.selected)
    },
    isSpecial() {
      return Boolean(this.plan.lead_generation)
    },
    audience() {
      return splitNumberBy3(this.plan.audience)
    },
    price() {
      return this.isSpecial
        ? this.plan.lead_price.amount
        : this.plan.price.amount
    },
    priceWithSite() {
      const price =
        this.plan.with_customer_site_price.amount - this.plan.price.amount
      return price > 0 ? price : 0
    },
    currency() {
      return this.isSpecial
        ? this.plan.lead_price.currency.symbol
        : this.plan.price.currency.symbol
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

$transition: 0.2s;

.plan {
  cursor: pointer;

  .active-color {
    transition: color $transition;
  }
  .active-background-color {
    transition: background-color $transition;
  }

  .content {
    display: flex;
    flex-direction: column;
    background: #fff;

    transition: box-shadow $transition, transform $transition;
    box-shadow: 0 3px 10px 0 rgba(129, 150, 177, 0.16);
  }

  .header {
    position: relative;
    padding: ($base * 2.75) 0 ($base * 2.75);
    overflow: hidden;
    color: #fff;

    > * {
      position: relative;
      z-index: 5;
    }

    .special-label {
      background: rgba(#fff, 0.1);
      transition: background $transition;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: $base * 1.25;
      line-height: 1;
      text-transform: uppercase;
      margin: 0 ($base * 5);
      border-radius: 12px;
      padding-top: 8px;
      padding-bottom: 6px;

      .icon {
        width: $base * 1.5;
        height: $base * 1.5;
        margin-right: $base * 1.75;
        margin-top: -2px;
      }
    }

    .title,
    .price {
      @include text(3);
      line-height: 1;
      font-weight: bold;
      text-align: center;
      margin: 0;

      &.-untitled {
        color: transparent;
      }
    }
    .price {
      margin-top: $base * 1.5;
    }

    .arrow {
      display: block;
      height: $base * 4;
      width: 100%;
      margin-top: 0;
      z-index: 0;

      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;

      &:before {
        content: '';
        display: block;
        position: absolute;
        left: 3px;
        right: 3px;
        top: -1px;
        height: 2px;
        background-color: currentColor;
      }

      &:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 100%;
        height: 250px;
        background-color: currentColor;
      }
    }
  }

  .description {
    padding: ($base * 3.375) ($base * 2) ($base * 5);

    > * {
      margin: 0;
      text-align: center;
    }
  }

  .label-audience,
  .label-duration {
    @include text(1.5);
  }

  .label-audience {
    margin-bottom: $base * 0.875;
  }
  .label-duration {
    margin: ($base * 2.875) 0 ($base * 1.125);
  }

  .audience,
  .duration {
    @include text(2);
    display: flex;
    justify-content: center;
    align-items: center;

    &__icon {
      margin-right: $base;
    }

    &__count {
      font-weight: bold;
    }
  }
  .hint {
    display: none;
    @include text(1.5);
    margin-top: 16px;
  }

  .audience__icon {
    @include text(3);
    line-height: 1;
  }
  .duration__icon {
    @include text(2);
    line-height: 1;
  }

  .footer {
    color: #fff;
    background: #83b9ff;
    padding: 0 ($base * 2) 0 ($base * 2.5);
    margin: 0 $base;
    height: $base * 5;

    display: flex;
    align-items: center;

    > * {
      position: relative;
      z-index: 5;
    }

    &__icon {
      margin-right: $base * 1.5;
      font-size: $base * 1.5;

      .icon:before {
        vertical-align: middle;
      }
    }
    &__content {
      @include text(1.5);
      flex-grow: 1;
      display: flex;
      align-items: center;

      .price-label {
        flex: 1;
        line-height: 1;
        margin-right: $base;
      }

      .price {
        @include text(2);
        line-height: 1;
        margin-top: $base * 0.25;
        white-space: nowrap;
      }
    }
  }

  &:hover,
  &.is-selected {
    position: relative;

    .active-color {
      color: $red !important;
    }
    .active-background-color {
      background-color: $red !important;
    }

    .content {
      box-shadow: 0 20px 20px 0 rgba(8, 68, 188, 0.6);
      transform: scale(1.07);
      position: relative;
      z-index: 5;
    }

    .header {
      .special-label {
        background: rgba(#fff, 0.3);
      }
    }
  }
  &.is-selected {
    z-index: 2;
  }
  &:hover {
    z-index: 3;
  }

  &.is-special {
    .header {
      padding-top: $base * 2;
      padding-bottom: $base * 4.25;

      .title {
        margin-top: $base * 1.75;
      }
      .price {
        margin-top: $base * 1;
      }
      .arrow {
        height: $base * 5;
      }
    }

    .description {
      padding-top: $base * 1.5;
    }
    .label-audience {
      margin-bottom: 0;
    }
    .label-duration {
      margin: ($base * 2.25) 0 1px;
    }
    .audience {
      margin-top: 1px;

      &__icon {
        margin-right: $base * 0.5;
      }
    }
  }
}
</style>
