<template>
  <component
    :is="component"
    :class="classes"
    :style="style"
    class="flat-button"
    v-bind="$attrs"
    @click="$emit('click')"
  >
    <span
      v-if="hasLeftSlot || (hasRightSlot && fullWidth)"
      :class="{ '-placeholder': hasRightSlot && fullWidth }"
      class="left"
    >
      <slot :name="hasLeftSlot ? 'left' : 'right'"></slot>
    </span>
    <span class="text">
      <slot />
    </span>
    <span
      v-if="hasRightSlot || (hasLeftSlot && fullWidth)"
      :class="{ '-placeholder': hasLeftSlot && fullWidth }"
      class="right"
    >
      <slot :name="hasRightSlot ? 'right' : 'left'"></slot>
    </span>
  </component>
</template>

<script>
export default {
  name: 'FlatButton',
  inheritAttrs: false,
  props: {
    variant: {
      type: String,
      validator: color => ['dark-blue', 'widget'].includes(color),
      default: 'dark-blue',
    },
    size: {
      type: String,
      validator: size => ['l', 'm'].includes(size),
      default: 'l',
    },
    fullWidth: Boolean,
    round: Boolean,
  },
  computed: {
    component() {
      return this.$attrs.to ? 'nuxt-link' : 'button'
    },
    classes() {
      return {
        [`flat-button--${this.variant}`]: this.variant,
        [`flat-button--${this.size}`]: this.size,
        'flat-button--full-width': this.fullWidth,
        'flat-button--round': this.round,
      }
    },
    style() {
      const style = {}
      if (this.inlineColor) {
        style.color = this.inlineColor
      }
      return style
    },
    hasLeftSlot() {
      return !!this.$scopedSlots.left
    },
    hasRightSlot() {
      return !!this.$scopedSlots.right
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.flat-button {
  background: $blue;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;

  &--round {
    border-radius: 999px;
  }

  .left,
  .right {
    &.-placeholder {
      opacity: 0;
    }
  }

  &--full-width {
    display: flex;
    width: 100%;

    .text {
      flex-grow: 1;
      text-align: center;
    }
  }

  &--dark-blue {
    background: #1e47f2;
    box-shadow: 0 20px 20px 0 #0844bc;
    color: #fff;
    transition: box-shadow 0.2s;

    &:active {
      box-shadow: 0 10px 10px 0 #0844bc;
    }
  }

  &--widget {
    background: $blue;
    box-shadow: 0 10px 10px 0 rgba(0, 13, 79, 0.5);
    color: #fff;
    letter-spacing: 0.6px;
  }

  &--l {
    @include text(2);
    padding: ($base * 3) ($base * 6);

    > *:not(:last-child) {
      margin-right: $base;
    }
  }

  &--m {
    @include text(1.5);
    line-height: 24px;
    padding: 8px 24px;
  }
}
</style>
