<template>
  <div class="main">
    <p class="title">{{ eventTitle }}</p>

    <div class="target-section">
      <div class="label">
        <span>{{ $t('promo.target') }}</span>
        <span>{{ $t('promo.period') }}</span>
        <span>{{ $t('promo.location') }}</span>
      </div>
      <div>
        <p class="text">{{ $t('promo.attractTarget') }}</p>
        <p class="text">{{ formatDay }}</p>
        <p class="text">{{ eventAddress }}</p>
      </div>
    </div>
    <div class="target-section-mobile">
        <span class="label">{{ $t('promo.target') }}</span>
        <p class="text">{{ $t('promo.attractTarget') }}</p>
        <span class="label">{{ $t('promo.period') }}</span>
        <p class="text">{{ formatDay }}</p>
        <span class="label">{{ $t('promo.location') }}</span>
        <p class="text">{{ eventAddress }}</p>
    </div>

    <div class="price-section">
      <div class="row budget">
        <span class="budget-text">{{ $t('promo.budget') }}</span>
        <div style="display: flex">
          <del v-if="!isEmptyPlan && plan.price.amount !== plan.price.original" class="original-price">
            {{ formatPrice(promoPlan.price.amount, promoPlan.price.currency.symbol) }}
          </del>
          <span v-if="!isEmptyPlan" class="number">{{ formatPrice(plan.price.amount, plan.price.currency.symbol) }}</span>
        </div>
      </div>
      <div class="row reach">
        <span class="budget-text">{{ $t('promo.reach') }}</span>
        <span class="number">{{ audience | formatThousands }}</span>
      </div>
    </div>

    <div class="coupon">
      <PromoCode
          :discount.sync="discount"
          :coupon.sync="coupon"
          :planId="plan.id"
      />
    </div>

    <div class="social-section">
      <div class="social-icons">
        <Icon src="icons/social/fb-round.svg" size="l" />
        <Icon src="icons/social/inst.svg" size="l" />
        <Icon src="icons/social/linkedin1.svg" size="l" />
        <Icon src="icons/social/google-plus.svg" size="l" />
        <Icon src="icons/social/notif.svg" size="l" />
      </div>
      <span class="promo-social">{{ promoSocial }}</span>
    </div>

    <div class="pay-section">
      <button class="btn-pay" @click="pay">{{ $t('promo.pay') }}</button>
      <div v-if="!isEmptyPlan && plan.service.name === 'yandex'" class="pay-description" >
        <img src="~static/promo/yandex.jpg" />
        <span class="paypal">{{ $t('promo.yandex') }}</span>
      </div>
      <div v-if="!isEmptyPlan && plan.service.name === 'paypal'" class="pay-description">
        <Icon src="icons/paysystems/pp.svg" size="l"/>
        <span class="paypal">{{ $t('promo.payPal') }}</span>
      </div>
    </div>

    <div class="description-section">
      <PromoDescription />
    </div>

    <div class="pay-section">
      <button class="btn-pay" @click="pay">{{ $t('promo.pay') }}</button>
      <div v-if="!isEmptyPlan && plan.service.name === 'yandex'" class="pay-description" >
        <img src="~static/promo/yandex.jpg" />
        <span class="paypal">{{ $t('promo.yandex') }}</span>
      </div>
      <div v-if="!isEmptyPlan && plan.service.name === 'paypal'" class="pay-description">
        <Icon src="icons/paysystems/pp.svg" size="l"/>
        <span class="paypal">{{ $t('promo.payPal') }}</span>
      </div>
    </div>

    <p class="question">
      <a :href="$t('promo.supportLink')" target="_blank" >
        <span>{{ $t('promo.question') }}</span>
      </a>
    </p>

  </div>
</template>

<script>
  import Icon from '~/components/common/Icon'
  import isEmpty from 'lodash/isEmpty'
  export default {
    components: {
      Icon,
      PromoCode: () => import('~/components/common/Promo/PromoCode'),
      PromoDescription: () => import('./PromoDescription'),
    },
    filters: {
      formatThousands(v) {
        return v.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1 ')
      },
    },
    props: {
      promoPlan: {
        type: Object,
        default: () => ({}),
      }
    },
    data: vm => ({
        eventTitle: null,
        eventAddress: null,
        coupon: '',
        discount: 0,
        oldPlan: vm.promoPlan
    }),
    computed: {
      isEmptyPlan() {
        return isEmpty(this.plan)
      },
      audience() {
        if(isEmpty(this.plan)) return ''
        return this.plan.audience
      },
      plan: {
        get() {
          return this.oldPlan
        },
        set(v) {
          this.oldPlan = v
        }
      },
      formatDay() {
        if(this.isEmptyPlan) return ''
        const day = Number(this.plan.duration.slice(0, 2))
        if (day === 1) return `${day} ${this.$t('eventCreate.day')}`
        else return this.$tc('eventCreate.days', Number(this.plan.duration.slice(0, 2)))
      },
      promoSocial() {
        if(this.isEmptyPlan) return ''
        return this.$t('promo.social', {
          price: this.formatPrice(this.plan.price.amount, this.plan.price.currency.symbol),
          duration: this.$tc('promo.days', Number(this.plan.duration.slice(0, 2))),
          audience: this.plan.audience || 0,
        })
      }
    },
    watch: {
      coupon(value) {
        this.getPlans({ coupon: value })
      },
    },
    mounted() {
      const event = this.$cookies.get('eventForCreateTestBC')
      if ( event ) {
        this.eventTitle = event.title
        this.eventAddress = event.isOnline ? this.$t('promo.online') : event.address
      }
    },
    methods: {
      async getPlans(params) {
        try {
          this.loading = true
          const { data } = await this.$axios.get('/promo/plans/', {
            params: { ...params, expand: 'rule,service' },
          })
          this.plan = data.results.filter(item => item.id === this.promoPlan.id)[0]
        } catch (e) {
        } finally {
          this.loading = false
        }
      },
      formatPrice(price, symbol) {
        if(!price) return
        const formatThousands = price
            .toString()
            .replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1 ')
        return this.$moment.locale() === 'en'
            ? symbol + ' ' + formatThousands
            : formatThousands + ' ' + symbol
      },
      pay() {
        this.$emit('pay', this.plan, this.coupon)
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import '~/assets/css/variables.scss';
  .main{
    max-width: 1192px;
    padding: 62px 111px 72px 111px;
    margin-top: 52px;
    box-shadow: 0 3px 30px 0 rgba(0, 112, 255, 0.1);
    background-color: #ffffff;
    @media(max-width: $desktopHD) {
      padding-right: 50px;
      padding-left: 50px;
    }
    @media(max-width: $desktopSD) {
      padding-right: 0;
      padding-left: 0;
      margin-top: 25px;
    }
    p{
      margin: 0;
    }
    .title {
      font-size: 32px;
      line-height: 40px;
      font-weight: bold;
      margin-bottom: 42px;
      @media(max-width: $desktopSD) {
        margin-left: 24px;
      }
      @media($mobile) {
        font-size: 24px;
      }
    }
    .target-section{
      display: flex;
      margin-bottom: 41px;
      @media(max-width: $desktopSD) {
        display: none;
      }
    }
    .target-section-mobile{
      margin: 0 24px 25px;
      display: none;
      @media(max-width: $desktopSD) {
        display: flex;
        flex-direction: column;
      }
    }
    .label{
      display: flex;
      flex-direction: column;
      margin-right: 16px;
      font-size: 16px;
      line-height: 32px;
      font-weight: normal;
      color: rgba(0, 0, 0, 0.4);
      @media(max-width: $desktopSD) {
        margin: 0;
      }
    }
    .text{
      font-size: 16px;
      line-height: 32px;
      font-weight: bold;
      @media(max-width: $desktopSD) {
        margin-bottom: 25px;
      }
    }
    .price-section{
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 55px;
      .row{
        padding: 15px 27px 15px 0;
        max-width: 720px;
        display: flex;
        justify-content: space-between;
        @media(max-width: $desktopSD) {
          padding-left: 24px;
          padding-right: 17px;
        }
      }
      .budget{
        border-bottom: 1px solid #000000;
        border-top: 1px solid #000000;
      }
      .budget-text{
        @media(max-width: $desktopSD) {
          font-size: 16px;
        }
      }
      .number {
        @media($mobile) {
          font-size: 20px;
        }
      }
      .original-price {
        font-size: 16px;
        font-weight: normal;
        color: rgba(0, 0, 0, 0.4);
        margin-right: 7px;
      }
      .reach{
        border-bottom: 1px solid #000000;
      }
    }
    .coupon {
      @media(max-width: $desktopSD) {
        padding-left: 24px;
        padding-right: 24px;
      }
    }
    .social-section{
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 720px;
      margin-top: 30px;
      @media(max-width: $desktopSD) {
        flex-direction: column;
        align-items: flex-start;
      }
      @media(max-width: $desktopSD) {
        margin-left: 24px;
      }
      .social-icons{
        margin-right: 35px;
        width: 315px;
        @media(max-width: $desktopSD) {
          margin-bottom: 24px;
        }
        & > * {
          margin-right: 8px;
        }
      }
      .promo-social {
        width: 90%;
      }
    }
    .pay-section{
      margin-top: 30px;
      max-width: 881px;
      display: flex;
      align-items: center;
      @media(max-width: $desktopSD) {
        flex-direction: column;
        align-items: flex-start;
        margin: 30px 16px 0;
      }
      .btn-pay {
        width: 47%;
        height: 64px;
        max-width: 400px;
        margin-right: 32px;
        padding: 20px 10%;
        font-size: 16px;
        font-weight: bold;
        color: #ffffff;
        background-color: #0070ff;
        text-transform: uppercase;
        @media(max-width: $desktopSD) {
          width: 100%;
          max-width: 100%;
          height: 56px;
          margin-bottom: 23px;
        }
      }
      .pay-description {
        display: flex;
        align-items: center;
        span{
          margin-left: 14px;
          font-size: 12px;
          color: rgba(0, 0, 0, 0.4);
        }
      }
    }
    .description-section{
      margin-top: 80px;
    }
    .question {
      font-size: 16px;
      font-weight: normal;
      color: #0070ff;
      margin-top: 40px;
      cursor: pointer;
      @media(max-width: $desktopSD) {
       margin-left: 24px;
      }
    }
  }
</style>