<template>
  <div>
    <div class="section-package">
      <h2 class="title">{{ $t('promo.packageTitle') }}</h2>
      <div class="package-card">
        <div
            v-for="(item,idx) in promoPackage"
            :key="idx"
            class="package-row"
        >
          <span class="img-wrapper">
            <img :src="`${STATIC_PATH}promo/${item.img}.svg`" />
          </span>
          <span class="text">{{ $t(item.text) }}</span>
          <span class="subtext">{{ $t(item.subtext) }}</span>
        </div>
      </div>
    </div>


    <div class="section-payment">
      <h2 class="title">{{ $t('promo.paymentTitle') }}</h2>
      <div class="payment-card">
        <div
            v-for="(item,idx) in payment"
            :key="idx"
            class="payment-row"
        >
          <span class="payment-row_title">{{ $t(item.title) }}</span>
          <span class="payment-row_text">{{ $t(item.text) }}</span>
        </div>
      </div>
    </div>


    <div class="section-results">
      <h2 class="title">{{ $t('promo.resultsTitle') }}</h2>
      <p>{{ $t('promo.resultDescription') }}</p>
      <div class="description-card">
        <div v-for="(item,idx) in descriptions"
             :key="idx"
             class="description-row">
          <i class="down ww-icn-check" />
          <span class="description-row_text">{{ $t(item.text) }}</span>
        </div>
      </div>

      <div class="result-card">
        <div v-for="(item,idx) in results"
             :key="idx"
             class="result-row">
          <span class="img-wrapper">
            <img :src="`${STATIC_PATH}promo/${item.img}.svg`" />
          </span>
          <span class="result-row_text">{{ $t(item.text) }}</span>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
  export default {
    data() {
      return {
        promoPackage: [
          {img: 'promo1', text: 'promo.adSocial', subtext: 'promo.choose'},
          {img: 'promo2', text: 'promo.creatives'},
          {img: 'promo3', text: 'promo.audience'},
          {img: 'promo4', text: 'promo.campaign'},
          {img: 'promo5', text: 'promo.optimization'},
          {img: 'promo6', text: 'promo.statistics'},
          {img: 'promo7', text: 'promo.support'},
          {img: 'promo8', text: 'promo.report'},
        ],
        payment: [
          {title: 'promo.workingDay', text: 'promo.details'},
          {title: 'promo.hours', text: 'promo.prepare'},
          {title: 'promo.agreed', text: 'promo.launch'},
          {title: 'promo.daily', text: 'promo.send'},
          {title: 'promo.after', text: 'promo.sendFinal'},
        ],
        descriptions: [
          {text: 'promo.description1'},
          {text: 'promo.description2'},
          {text: 'promo.description3'},
          {text: 'promo.description4'},
        ],
        results: [
          {img: 'result1', text: 'promo.result1'},
          {img: 'result2', text: 'promo.result2'},
          {img: 'result3', text: 'promo.result3'},
        ],
    }
  },
    computed: {
      STATIC_PATH: () => process.env.STATIC_PATH
    }
  }
</script>

<style lang="scss" scoped>
  @import '~/assets/css/variables.scss';
  .title {
    font-size: 32px;
    font-weight: bold;
  }
  .img-wrapper{
    width: 56px;
    height: 56px;
    margin-bottom: 10px;
  }
  .section-package {
    margin-bottom: 48px;
    max-width: 881px;
    @media(max-width: $desktopSD) {
      padding: 0 24px;
    }
    .package-card{
      margin-top: 37px;
      display: flex;
      flex-flow: wrap;
    }
    .package-row {
      width: 25%;
      margin-bottom: 23px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      @media(max-width: $desktopSD) {
        width: 50%;
      }
      @media(max-width: 480px) {
        width: 45%;
        margin-right: 10px;
      }
      .text {
        font-size: 16px;
        font-weight: bold;
        width: 73%;
        line-height: 24px;
        @media(max-width: 480px) {
          width: 100%;
          font-size: 14px;
          line-height: 18px;
        }
      }
      .subtext {
        font-size: 12px;
        font-weight: normal;
        color: rgba(0, 0, 0, 0.4);
        width: 77%;
        line-height: 16px;
        @media(max-width: 480px) {
          width: 100%;
        }
      }
    }
  }
  .section-payment {
    margin-bottom: 70px;
    max-width: 881px;
    @media(max-width: $desktopSD) {
      padding: 0 24px;
    }
    .payment-card {
      margin-top: 18px;
      .payment-row{
        font-size: 16px;
        line-height: 24px;
        display: flex;
        flex-direction: column;
        margin-bottom: 24px;
        &_title{
          font-weight: bold;
        }
        &_text{
          font-weight: normal;
        }
      }
    }
  }
  .section-results {
    margin-bottom: 61px;
    max-width: 881px;
    @media(max-width: $desktopSD) {
      padding: 0 24px;
    }
    .description-card {
      margin-top: 10px;
      margin-bottom: 45px;
      .description-row {
        display: flex;
        align-items: center;
        font-size: 16px;
        @media(max-width: $desktopSD) {
          align-items: flex-start;
        }
        .down{
          color: $blue;
          font-size: 12px;
          height: 18px;
          @media(max-width: $desktopSD) {
            margin-top: 8px;
          }
        }
        &_text {
          margin-left: 12px;
        }
      }
    }
    .result-card {
      display: flex;
      @media(max-width: $desktopSD) {
        flex-direction: column;
      }
      .result-row {
        width: 35%;
        padding-right: 80px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        @media(max-width: $desktopSD) {
          width: 100%;
          margin-bottom: 18px;
          padding-right: 0;
        }
        &_text {
          font-size: 16px;
          font-weight: normal;
        }
      }
    }
  }

</style>