<i18n src="./locales.json"></i18n>

<template>
  <div class="hint">
    <div class="hint__grid">
      <template v-for="hint in hints">
        <Icon :src="hint.icon" size="l" class="hint__icon" />
        <strong class="hint__title">{{ hint.title }}</strong>
        <label>
          <input
            v-model="checkbox"
            type="checkbox"
            tabIndex="-1"
            placeholder="NoTabIndex"
            class="visually-hidden"
          />
          <span class="hint__text">{{ hint.text }}</span>
        </label>
      </template>
    </div>

    <button
      @click="checkbox = !checkbox"
      class="hint__button hidden-desktopSD-and-down"
      :class="{ 'hint__button--checked': checkbox }"
    >
      <span class="hint__arrow" :class="{ 'hint__arrow--up': checkbox }"></span>
    </button>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  components: { Icon: () => import('~/components/common/Icon') },
  data() {
    return {
      checkbox: false,
      hints: [],
      icons: [
        'icons/light-bulb.svg',
        'icons/piggy-bank.svg',
        'icons/clock.svg',
        'icons/tools.svg',
      ],
    }
  },
  computed: {
    ...mapGetters({ lang: 'lang/LANG' }),
  },
  watch: {
    lang() {
      this.setHints()
    },
  },
  methods: {
    setHints() {
      this.hints = Object.values(this.$t('hints')).map((v, i) => ({
        ...v,
        icon: this.icons[i],
      }))
    },
  },
  mounted() {
    this.setHints()
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.hint {
  position: relative;
  overflow: auto;
  @media (min-width: $desktopHD) {
    overflow: unset;
  }

  &__grid {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(4, 200px);
    grid-gap: 16px;
    justify-content: space-between;
    @media (min-width: $desktopSD) {
      grid-template-columns: repeat(4, minmax(130px, 200px));
    }
  }

  &__item {
    display: grid;
    grid-gap: 16px;
  }

  &__icon {
    color: $red;
  }

  &__title {
    @include text(2.25);
  }
  &__text {
    display: block;

    @media (min-width: $desktopHD) {
      cursor: pointer;
      max-height: 78px;
      overflow: hidden;
      transition: all 300ms ease;

      background: linear-gradient(to bottom, black, transparent);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  input:checked ~ .hint__text {
    max-height: 600px;
    transition: all 500ms ease;
    -webkit-text-fill-color: unset;
  }

  &__button {
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: $red;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: bottom 300ms ease;

    &--checked {
      transition: bottom 500ms ease;
      bottom: -24px;
    }

    .hint__arrow {
      display: inline-block;
      width: 8px;
      height: 8px;
      box-shadow: 2px 2px 0 white;
      transform: translateY(-4px) rotate(45deg);
    }
    .hint__arrow--up {
      box-shadow: 2px 2px 0 white;
      transform: translateY(4px) rotate(225deg);
    }
  }
}
</style>
