<i18n src="./locales.json"></i18n>

<template>
  <div class="promo">
    <h2 class="promo__title ww-icn-megaphone">
      <strong>{{ $t('title') }}</strong>
    </h2>
    <Hint class="promo__hint" />
    <span class="promo__description">{{ $t('description') }}</span>
    <PromoCode
      :discount.sync="discount"
      :coupon.sync="coupon"
      class="promo__coupon"
    />
    <CheckBox v-model="isOnlyEvent" border="black-gray" class="promo__checkbox">
      {{ $t('linkCheckbox') }}
    </CheckBox>
    <transition name="slide" appear>
      <CustomInput
        v-if="isOnlyEvent"
        id="inputUrl"
        v-model="url"
        :error.sync="urlError"
        :placeholder="$t('site.placeholder')"
        class="promo__url"
        @blur="validateUrl"
        @keydown.enter="validateUrl"
      />
    </transition>
    <Tariffs
      :value="plan"
      :coupon="coupon"
      :priceFactor="isOnlyEvent"
      @change="handleTariff"
    />
    <div class="promo__email-us">
      {{ $t('emailUs.needPlan') }}
      <WLink :href="$t('emailUs.link')" target="_blank">
        {{ $t('emailUs.emailUs') }}
      </WLink>
    </div>
    <div class="promo__email-hint">{{ $t('emailUs.hint') }}</div>
    <div class="promo__lang-start">
      <div>
        <span class="promo__lang-start-label">{{ $t('selectLanguage') }}</span>
        <SelectLanguages v-model="languages" class="promo__lang" />
      </div>
      <div>
        <span class="promo__lang-start-label">{{ $t('startPromo') }}</span>
        <DatePicker
            v-model="date"
            :notBefore="notBefore"
            :promoClear="true"
            class="promo__date"
        />
      </div>
    </div>
    <p v-if="plan.duration" class="promo__summary">
      {{ promoSummary }}
    </p>
        <Mail v-if="!isAuth" v-model="email" :email="email" />
    <button
      :disabled="btnDsb"
      :class="{
        'promo__button-with-promo': !btnDsb,
        'promo__button-with-promo-dis': btnDsb,
      }"
      @click="promoteEvent"
    >
      <span class="ww-icn-megaphone"></span>
      {{ $t('btn') }}
    </button>
    <button
      v-if="create"
      class="promo__button-without-promo"
      @click="createWithOutPromo"
    >
      <slot name="cancel"> {{ $t('btnWithout') }}</slot>
    </button>
    <button v-else class="promo__button-without-promo" @click="cancelPromo">
      <slot name="cancel"> {{ $t('btnCancel') }} </slot>
    </button>
  </div>
</template>

<script>
import { mapActions } from 'vuex'

const DATE_PATTERN = 'DD.MM.YYYY'
// eslint-disable-next-line
const urlValidate = url =>
  /^(?:http(s)?:\/\/)?[\w.-]+(?:\.[\w\.-]+)+[\w\-\._~:/?#[\]@!\$&'\(\)\*\+,;=.]+$/gm.test(
    url,
  )
export default {
  name: 'Promo',
  components: {
    DatePicker: () => import('~/components/common/input/DatePicker'),
    Hint: () => import('./Hint'),
    CustomInput: () => import('~/components/common/input/TitleInput'),
    Mail: () => import('./Mail'),
    PromoCode: () => import('./PromoCode'),
    CheckBox: () => import('~/components/common/Checkbox'),
    SelectLanguages: () => import('./SelectLanguages'),
    Tariffs: () => import('./Tariffs'),
    WLink: () => import('~/components/common/WLink'),
  },
  props: {
    create: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    const tomorrow = this.$moment().add(1, 'days')

    return {
      url: '',
      urlError: '',
      coupon: '',
      discount: 0,
      plan: {},
      languages: [],
      date: tomorrow.format(DATE_PATTERN),
      email: '',
      isOnlyEvent: false,
      notBefore: tomorrow,
    }
  },
  computed: {
    isAuth() {
      return this.$store.getters['auth/IS_AUTH']
    },
    btnDsb() {
      return this.$store.getters['promo/DISABLED']
    },
    promoSummary() {
      return this.$t('summary', {
        duration: this.$tc('days', Number(this.plan.duration.slice(0, 2))),
        date: this.date,
        audience: this.plan.audience * (this.isOnlyEvent + 1) || 0,
        area: this.plan.area / 1000 || 0,
      })
    },
  },
  watch: {
    date(v) {
      if (v) {
        const startPromo = new this.$moment(v, DATE_PATTERN)
        if (startPromo.diff() < 0) {
          this.date = this.$moment().format(DATE_PATTERN)
        }
      } else {
        this.date = this.$moment().format(DATE_PATTERN)
      }
    },
    isOnlyEvent(value) {
      this.urlError = value ? this.urlError : ''
      this.url = value ? this.url : ''
    },
  },
  methods: {
    ...mapActions({
      errorMessage: 'notifications/error',
      simpleRegistration: 'auth/SIMPLE_REGISTRATION',
    }),

    handleTariff(ev) {
      this.$store.dispatch('promo/VALUE_TARIFF2', ev.id)
      this.plan = ev
    },
    async simpleRegister() {
      try {
        await this.simpleRegistration({ email: this.email })
      } catch (e) {}
    },
    async promoteEvent() {
      this.validateUrl()
      if (this.urlError && this.isOnlyEvent) return
      if (!this.isAuth && this.email) {
        await this.simpleRegister()
        this.email = ''
      }
      if (this.isAuth) {
        this.$emit('promote', {
          date: this.$moment(this.date, DATE_PATTERN).format(),
          site: this.url,
          plan: this.plan,
          coupon: this.coupon,
          languages: this.languages.map(item => item.iso),
        })
      } else {
        this.errorMessage(this.$t('mail.pleaseLogin'))
      }
    },
    async createWithOutPromo() {
      this.validateUrl()
      if (this.urlError && this.isOnlyEvent) return
      if (!this.isAuth && this.email) {
        await this.simpleRegister()
        this.email = ''
      }
      if (this.isAuth) {
        this.$emit('create')
      } else {
        this.errorMessage(this.$t('mail.pleaseLogin'))
      }
    },
    cancelPromo() {
      this.$emit('cancel')
    },
    validateUrl() {
      if (urlValidate(this.url)) {
        if (!this.url.startsWith('http')) {
          this.url = 'http://' + this.url
        }
        this.$emit('input', this.url)
      } else {
        this.urlError = this.$t('site.error')
        document.getElementById('inputUrl') &&
          document
            .getElementById('inputUrl')
            .scrollIntoView({ behavior: 'smooth', block: 'center' })
      }
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.promo {
  box-shadow: 0 3px 30px 0 rgba(0, 112, 255, 0.1);
  background-color: #ffffff;
  padding: 3 * $base;
  max-width: 1192px;
  display: grid;
  grid-gap: 24px;

  @media (min-width: $desktopSD) {
    padding: 2rem;
  }
  @media (min-width: $desktopHD) {
    padding: 3rem 7rem 7rem;
  }

  &__title {
    display: inline-block;
    color: $blue;
    @media (min-width: $desktopSD) {
      color: black;
    }
    &:before {
      @include text(3);
      color: $blue;
      margin-right: 2 * $base;
      @media (min-width: $desktopHD) {
        @include text(4);
        position: absolute;
        transform: translateX(-200%);
      }
    }
  }

  &__description {
    @media (min-width: $desktopHD) {
      @include text(3);
    }
  }

  &__url {
    display: inline-block;
    width: 100%;
    /deep/ input {
      border: solid 1px $black-gray;
      height: 64px;
      @include text(3);
      font-weight: bold;
    }
  }
  &__email-us {
    @media (min-width: $desktopSD) {
      @include text(3);
    }
  }
  &__email-hint {
    @include text(1.75);
    max-width: 700px;
  }
  &__lang-start {
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 8px;
    @media (min-width: $desktopHD) {
      grid-template-columns: auto 252px;
      grid-column-gap: 24px;
    }
  }
  &__lang-start-label {
    font-weight: bold;
    @media (min-width: $desktopHD) {
      @include text(2.25);
    }
  }
  &__lang {
    margin-top: 8px;
  }
  &__date {
    margin-top: 8px;
    border: solid 1px $black-gray;
    height: 64px;
  }
  .promo__date /deep/ {
    .mx-input {
      @include text(2);
      font-weight: bold;
      padding: 0 24px;
      width: 100%;
    }
  }
  &__summary {
    @include text(3);
    margin: 0;
  }

  &__button-with-promo-dis {
    cursor: not-allowed;
    height: 64px;
    background-color: #c6c7c8;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.8px;

    .ww-icn-megaphone {
      margin-right: 12px;
    }
  }

  &__button-with-promo {
    height: 64px;
    background-color: $red;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.8px;

    &:hover {
      background-color: $blue;
    }

    .ww-icn-megaphone {
      margin-right: 12px;
    }
  }
  &__button-without-promo {
    padding: 16px;
    color: $blue;
    &:hover {
      text-decoration: underline;
    }
  }
}

.slide-enter-active {
  transition: all 0.5s ease;
}
.slide-leave-active {
  transition: all 0.3s ease-in;
}
.slide-enter,
.slide-leave-to {
  opacity: 0;
  transform: translateY(-50%);
}
</style>
