<i18n src="./locales.json"></i18n>

<template>
  <div class="mail">
    <div class="mail__title">{{ $t('mail.pleaseLogin') }}</div>
    <div class="mail__login">
      <AuthButton variant="fb" small @click="preSocialLogin" />
      <AuthButton
        v-if="$store.getters['city/SHOW_RUSSIAN_LANG']"
        variant="vk"
        small
        @click="preSocialLogin"
      />
      <AuthButton variant="google" small @click="preSocialLogin" />
      <SocialButton variant="email" v-only-auth:click small />
    </div>
    <label class="mail__email">
      <span>{{ $t('mail.giveEmail') }}</span>
      <MailInput
          :value="email"
          :placeholder="$t('mail.placeholder')"
          styles="height: 64px; border: none; text-align: center; font-size: 16px; padding-right: 24px"
          @input="$emit('input', $event)"
      />
    </label>
  </div>
</template>

<script>
import { prop } from 'ramda'

export default {
  components: {
    AuthButton: () => import('~/components/common/buttons/AuthButton'),
    SocialButton: () => import('~/components/common/buttons/SocialButton'),
    MailInput: () => import('~/components/common/input/MailInput'),
  },
  props: {
    email: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      mail: '',
    }
  },
  computed: {
    getOpen() {
      return this.$store.getters['auth/IS_AUTH']
    },
  },
  methods: {
    async getMail(e) {
      this.mail = await e.target.value
      this.$store.dispatch('promo/SET_EMAIL', this.mail)
    },
    openAuth() {
      this.$store.dispatch('popovers/TOGGLE_POPOVER', 'popover_auth')
    },
    getErrorText() {
      return prop('0', this.getError)
    },
    async preSocialLogin(e) {
      const isCookieAccepted = await this.$store.dispatch(
        'user/CHECK_COOKIE_IS_ACCEPTED',
      )

      if (!isCookieAccepted) e.preventDefault()
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.mail {
  background-color: $gray;
  padding: 16px;
  text-align: center;

  &__title {
    display: inline-block;
    @include text(2);
  }

  &__login {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    grid-gap: 1px;
    margin: 8px 0 16px;
  }

  &__error {
    display: inline-block;
    color: red;
    margin-top: 0.5 * $base;
  }

  &__mail {
    display: flex;
    flex-direction: column;
  }
  &__email {
    display: grid;
    justify-content: center;
    grid-gap: 8px;
  }
  &__input {
    @include text(2);
    max-width: 640px;
    height: 64px;
    text-align: center;
  }
  &__auth {
    display: flex;
    flex-direction: column;
  }
  &__button {
    height: 64px;
  }
}
</style>
