<i18n src="./locales.json"></i18n>

<!--<template>-->
<!--  <div class="promo-code">-->
<!--    <transition name="slide-x" mode="out-in" appear>-->
<!--      <button-->
<!--        v-if="!showInput"-->
<!--        class="promo-code__button"-->
<!--        @click="showInput = true"-->
<!--      >-->
<!--        {{ $t('coupon.title') }}-->
<!--      </button>-->
<!--      <div v-else class="form">-->
<!--        <label class="form__label">-->
<!--          <input-->
<!--            v-focus-->
<!--            class="form__input"-->
<!--            @blur="checkCode"-->
<!--            @keydown.enter="checkCode"-->
<!--          />-->
<!--          <span v-if="loading" class="form__loader">-->
<!--            <Loader :width="24" :height="24" style="margin: 0" />-->
<!--          </span>-->
<!--          <span v-else class="form__icon">-->
<!--            <span-->
<!--              v-tooltip.auto="$t('coupon.activate')"-->
<!--              class="ww-icn-arrow-right"-->
<!--            ></span>-->
<!--          </span>-->
<!--        </label>-->
<!--        <span class="form__message">-->
<!--          {{ message }}-->
<!--        </span>-->
<!--      </div>-->
<!--    </transition>-->
<!--  </div>-->
<!--</template>-->

<template>
  <div class="promo-code">
    <button
      v-if="!showInput"
      class="promo-code__button"
      @click="showInput = true"
    >
      {{ $t('coupon.title') }}
    </button>

    <div v-else class="form">
      <label class="form__label">
        <input
          class="form__input33"
          @keydown.enter="checkCode"
          v-model="valueCupon"
          :placeholder="$t('coupon.activate')"
          @focus="fo"
          @blur="bl"
        />

        <div
          @click="checkCode"
          v-tooltip.auto="$t('coupon.activate')"
          :class="{ 'no-brdr': focusInput, 'new-wrp-btn-acc': !focusInput }"
        >
          <span v-if="loading" class="form__loader">
            <Loader :width="24" :height="24" style="margin: 0" />
          </span>
          <button
            v-else
            :class="{
              'new-btn-acc': true,
              'new-btn-acc-col': valueCupon.length > 10,
            }"
          >
            <b>{{ $t('coupon.btnApply') }}</b>
          </button>
        </div>
      </label>

      <span class="form__message">
        {{ message }}
      </span>
    </div>
  </div>
</template>

<script>
export default {
  components: {
    Loader: () => import('~/components/common/Loader'),
  },
  props: {
    coupon: {
      type: String,
      default: '',
    },
    discount: {
      type: [String, Number],
      default: 0,
    },
  },
  data() {
    return {
      showInput: false,
      message: '',
      loading: false,
      valueCupon: '',
      focusInput: false,
    }
  },
  methods: {
    fo() {
      this.focusInput = true
      this.$store.dispatch('promo/BTN_DISABLED', true)
    },
    bl() {
      this.focusInput = false
      this.$store.dispatch('promo/BTN_DISABLED', false)
      if (this.valueCupon.length <= 10) {
        this.valueCupon = ''
      }
      if (this.valueCupon.length > 10) {
        this.checkCode()
      }
    },
    async checkCode() {
      const code = this.valueCupon
      if (code) {
        try {
          this.loading = true
          const { data } = await this.$axios.get(
            `promo/plans/coupons/${code}/check/`,
          )
          this.emitData(data)
          this.message = this.$t('coupon.discount', {
            discount: data.amount_discount || data.percentage_discount + '%',
          })
        } catch (e) {
          this.message =
            e.response.data.non_field_error || this.$t('coupon.error')
          this.emitData()
        } finally {
          this.loading = false
        }
      } else {
        this.emitData()
      }
    },
    emitData(data = { discount: 0, code: '' }) {
      this.$emit('update:discount', data.discount)
      this.$emit('update:coupon', data.code)
    },
  },
}
</script>

<style lang="scss" scoped>
$mobile: 720px;
$middle: 1180px;

.no-brdr {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  border: none;
  font-size: 16px;
  letter-spacing: 0.8px;
  @media (max-width: 380px) {
    border: none;
    width: 100%;
  }
}

.new-wrp-btn-acc {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  border-top: 1px solid #c6c7c8;
  border-right: 1px solid #c6c7c8;
  border-bottom: 1px solid #c6c7c8;
  font-size: 16px;
  letter-spacing: 0.8px;
  @media (max-width: 380px) {
    border: none;
    width: 100%;
  }
}

.new-btn-acc {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 48px;
  width: 152px;
  background-color: #c6c7c8;
  margin: 0 9px;
  @media (max-width: 380px) {
    width: 100%;
    margin: 0;
  }
}

.new-btn-acc-col {
  background-color: #0070ff;
}

.promo-code {
  display: flex;
  &__button {
    color: #1b7fff;
    font-size: 24px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  @media (min-width: $mobile) {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__label {
    position: relative;
    display: flex;
    @media (max-width: 380px) {
      flex-wrap: wrap;
    }
  }

  &__loader {
    position: absolute;
    top: 50%;
    right: 24px;
    transform: translateY(-50%);
  }
  &__icon {
    position: absolute;
    top: 50%;
    height: 24px;
    right: 16px;
    transform: translateY(-50%);

    .ww-icn-arrow-right {
      font-size: 24px;
      line-height: 0.5;
      color: #0070ff;
      cursor: pointer;
    }
    &:active {
      transform: translateY(-50%) scale(1.2, 1.2);
    }
  }

  &__input33 {
    border-left: solid 1px #c6c7c8;
    border-bottom: solid 1px #c6c7c8;
    border-top: solid 1px #c6c7c8;
    max-width: 353px;
    padding-right: 56px;
    font-size: 24px;
    @media (max-width: 380px) {
      border: solid 1px #c6c7c8;
    }
  }

  &__message {
    margin-left: 0;
    margin-top: 2 * 8px;
    color: #f50052;
    @media (min-width: $mobile) {
      margin-left: 3 * 8px;
      margin-top: 0;
    }
  }
}
</style>
