<template>
  <VueMultiSelect
    :value="value"
    :options="options"
    label="name"
    trackBy="iso"
    :multiple="true"
    placeholder=""
    :loading="loading"
    :showNoOptions="false"
    :allowEmpty="true"
    :showLabels="false"
    :closeOnSelect="false"
    searchable
    :internalSearch="false"
    class="multi-select"
    @search-change="asyncFind"
    @open="openHandler"
    @input="$emit('input', $event)"
  >
    <template slot="option" slot-scope="{ option }">
      <span style="width: 50%; overflow: hidden">{{ option.name }}</span>
    </template>
    <span slot="noResult">{{ $t('validation.noRes') }}</span>
    <template slot="afterList">
      <no-ssr>
        <infinite-loading v-if="options.length" @infinite="infiniteHandler">
          <Loader slot="spinner" :margin="0" />
          <div slot="no-more"></div>
          <div slot="no-results"></div>
        </infinite-loading>
      </no-ssr>
    </template>
  </VueMultiSelect>
</template>

<script>
import VueMultiSelect from 'vue-multiselect'
import InfiniteLoading from 'vue-infinite-loading'
import { mapActions, mapGetters } from 'vuex'
import { debounce } from '~/utils'

export default {
  components: {
    Loader: () => import('~/components/common/Loader'),
    InfiniteLoading,
    VueMultiSelect,
  },
  filters: {
    getCountry: city => {
      return city.country
        ? [city.name, city.country.name].join(', ')
        : city.name
    },
  },
  props: {
    value: {
      type: Array,
      required: true,
    },
  },
  data: () => ({
    lang: [],
    loading: false,
  }),
  computed: {
    ...mapGetters({
      options: 'languages/RESULTS',
      moreOptions: 'languages/MORE',
    }),
  },
  methods: {
    ...mapActions({
      search: 'languages/FETCH',
      fetchNext: 'languages/FETCH_NEXT',
    }),
    asyncFind: debounce(async function(v) {
      this.loading = true
      try {
        await this.search({ search: v })
      } finally {
        this.loading = false
      }
    }, 600),
    async openHandler() {
      if (!this.options || !this.options.length) {
        await this.asyncFind()
      }
    },
    async infiniteHandler($state) {
      if (this.moreOptions) {
        try {
          await this.fetchNext()
          $state.loaded()
        } catch (e) {
          console.log(e)
          $state.complete()
        }
      } else {
        $state.complete()
      }
    },
  },
}
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.multi-select /deep/ {
  font-family: $circe;
  color: #000;
  border: solid 1px $black-gray;
  min-height: 62px;

  .multiselect {
    &__tags {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding: 8px;
      padding-right: 36px;
      min-height: 62px;
      border-radius: 0;
      border: none;
      @include text(3);
    }
    &__tags-wrap {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
    &__tag {
      color: black;
      background-color: transparent;
      @include text(2);
      font-weight: bold;
      border-radius: 0;
    }
    &__tag-icon {
      &:after {
        @include text(2);
        color: black;
        opacity: 0.4;
        background-color: transparent;
      }
      &:hover {
        opacity: 1;
        background-color: transparent;
      }
    }
    &__input {
      height: 100%;
      border-radius: 0;
      border: none;
      margin: 0 8px;
      padding: 0;
      @include text(3);
    }
    &__select {
      top: 16px;

      &:before {
        color: $blue;
        margin: 0;
        border-width: 6px 6px 0;
        border-color: $blue transparent transparent;
      }
    }
    &__option {
      @include text(2);
      &--highlight {
        background: $blue;
        &.multiselect__option--selected {
          background: $dark-gray;
        }
      }
      &--selected {
        background: $gray;
        color: black;
        font-weight: bold;
      }
    }
    &__spinner {
      top: 12px;
      &:before,
      &:after {
        border-color: $blue transparent transparent;
      }
    }
  }
}
</style>
