<i18n src="./locales.json"></i18n>

<template>
  <div class="tariffs">
    <Loader v-if="loading" />
    <div v-else class="tariffs__grid">
      <label
        v-for="option in options"
        :key="option.id"
        :for="`tariff__${option.id}`"
        class="tariffs__label"
      >
        <input
          :id="`tariff__${option.id}`"
          :checked="value.id === option.id"
          :value="option.id"
          :name="`tariff__${option.id}`"
          type="radio"
          class="visually-hidden"
          @input="$emit('input', option)"
          @change="$emit('change', option)"
        />

        <span class="table">
          <span class="item item__title">
            <span v-if="option.lead_generation" class="item__header">
              <Icon src="icons/rocket.svg" size="s" />
              <span>{{ $t('forBusiness') }}</span>
            </span>
            <strong class="item__cell">{{ option.label }}</strong>
          </span>

          <span class="item">
            <span class="item__header">
              {{ option.lead_generation ? $t('leadPrice') : $t('ta') }}
            </span>
            <strong class="item__cell icon icon__people">
              <template v-if="option.lead_generation">
                {{
                  formatPrice(
                    option.lead_price.amount,
                    option.lead_price.currency.symbol,
                  )
                }}
              </template>
              <template v-else>
                {{ option.audience | formatThousands }}
                {{ $t('people') }}
              </template>
            </strong>
          </span>

          <span class="item">
            <span class="item__header">{{ $t('dur') }}</span>
            <strong class="item__cell icon icon__time">
              {{ formatDay(option) }}
            </strong>
          </span>

          <span class="item item__price">
            <del
              v-if="option.price.amount !== option.price.original"
              class="item__header item__original-price"
            >
              {{
                formatPrice(option.price.original, option.price.currency.symbol)
              }}
            </del>
            <strong v-if="option.price.amount < 1" class="item__cell">
              {{ $t('free') }}
            </strong>
            <strong v-else class="item__cell">
              {{
                formatPrice(
                  priceFactor
                    ? option.with_customer_site_price.amount
                    : option.price.amount,
                  option.price.currency.symbol,
                )
              }}
            </strong>
          </span>

          <span v-if="option.lead_generation" class="item item__hint">
            {{
              $t('hint', {
                price:
                  option.lead_price.amount + option.lead_price.currency.symbol,
              })
            }}
          </span>
        </span>
      </label>
    </div>
  </div>
</template>

<script>
export default {
  components: {
    Icon: () => import('~/components/common/Icon'),
    Loader: () => import('~/components/common/Loader'),
  },
  filters: {
    formatThousands(v) {
      return v.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1 ')
    },
  },
  props: {
    value: {
      type: Object,
    },
    coupon: {
      type: String,
      default: null,
    },
    priceFactor: Boolean,
  },
  data() {
    return {
      options: [],
      loading: false,
    }
  },
  watch: {
    coupon(value) {
      this.getPlans({ coupon: value })
    },
  },
  mounted() {
    this.getPlans()
  },
  methods: {
    formatDay(opt) {
      const day = Number(opt.duration.slice(0, 2))
      if (day === 1) return `${day} ${this.$t('day')}`
      else return this.$tc('days', Number(opt.duration.slice(0, 2)))
    },
    async getPlans(params) {
      try {
        this.loading = true
        const { data } = await this.$axios.get('/promo/plans/', {
          params: { ...params, expand: 'rule,service' },
        })
        this.options = data.results.reverse()
        if (!this.$store.getters['promo/VALUE_TARIFF2']) {
          this.$emit('input', this.options[0])
          this.$emit('change', this.options[0])
        } else {
          const plan = this.options.filter(
            item => item.id === this.$store.getters['promo/VALUE_TARIFF2'],
          )
          this.$emit('input', plan[0])
          this.$emit('change', plan[0])
          return plan[0]
        }
      } catch (e) {
      } finally {
        this.loading = false
      }
    },
    formatPrice(price, symbol) {
      const formatThousands = price
        .toString()
        .replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1 ')
      return this.$moment.locale() === 'en'
        ? symbol + ' ' + formatThousands
        : formatThousands + ' ' + symbol
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.tariffs {
  min-height: 88px;

  &__grid {
    display: grid;
    grid-gap: 8px;
  }

  &__label {
    display: block;
    cursor: pointer;
    line-height: 2;
    &:hover {
      color: black;
    }
  }
  .table {
    display: grid;
    grid-template-columns: 1fr 0.75fr;
    grid-row-gap: 1px;
    background-color: $gray;
    transition: all 300ms ease;

    @media (min-width: $desktopHD) {
      grid-template-columns: repeat(3, 1fr) 0.75fr;
    }

    &:hover {
      box-shadow: 0 0 5px 0 rgba(75, 154, 255, 0.3);
    }
  }
  .item {
    padding: 12px;
    display: flex;
    flex-direction: column;
    color: black;

    &__header {
      @include text(2);
      @media (max-width: $desktopSD - 1) {
        display: none;
      }
    }
    &__cell {
      @include text(2.25);
      @media (min-width: $desktopSD) {
        @include text(3);
      }
    }
    &__original-price {
      opacity: 0.4;
    }
    &__title {
      width: 100%;
      grid-column: span 2;
      text-align: center;
      @media (min-width: $desktopHD) {
        grid-column: auto;
        text-align: left;

        .item__header {
          display: grid;
          grid-auto-flow: column;
          justify-content: start;
          grid-gap: 8px;

          text-transform: uppercase;
          font-weight: bold;
          @include text(1.5);
        }
      }
    }
    &__price {
      width: 100%;
      grid-column: span 2;

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: baseline;
      border-top: solid 1px white;
      @media (min-width: $desktopHD) {
        display: flex;
        flex-direction: column;
        grid-column: auto;
        justify-content: flex-end;
        border-top: unset;
      }
      .item__header {
        margin-right: 16px;
      }
      .item__cell {
        @include text(3);
      }
    }
    &__hint {
      grid-column: span 2;
      border-top: solid 1px white;
      @media (min-width: $desktopHD) {
        grid-column: span 4;
      }
    }

    .icon {
      overflow: hidden;
      &:before {
        margin-right: 10px;
        opacity: 0.3;
        font-size: 16px;
        @include ww-icn();
      }
      &__people:before {
        content: 'w';
      }
      &__map:before {
        content: 'r';
      }
      &__time:before {
        content: 'f';
      }
    }
  }

  input[type='radio']:checked ~ .table {
    background-color: white;
    box-shadow: 0 0 15px 0 rgba(75, 154, 255, 0.3);
    transition: all 500ms ease;
    .item__title {
      color: $blue;
    }
    .item__hint,
    .item__price {
      border-top: solid 1px $gray;
    }
  }
}
</style>
