<i18n>
  {
    "ru": {
      "back": "Назад к проектам",
      "andGo": "и продолжить работу с заявками",
      "communicationWithCustomer": "Общение с заказчиком",
      "problems": "Проблемы с заказом?",
      "contactUs": "Свяжитесь с нами."
    },
    "en": {
      "back": "Back to projects",
      "andGo": "and continue to work with the orders",
      "communicationWithCustomer": "Communication with the customer",
      "problems": "Problems with the order?",
      "contactUs": "Contact us."
    }
  }
</i18n>
<template>
  <section class="order">
    <span
      class="back"
      @click="goBack"
    >
      <Icon src="icons/arrow-right.svg" size="xs" class="icon"/>
      {{ $t('back') }}
    </span>
    <div class="order-panel panel">
      <Loader v-if="isOrderLoading" :margin="20" />
      <Order v-else-if="ORDER" :order="ORDER" />
    </div>
    <template v-if="isCurrentUserSimpleUser">
      <nuxt-link
        class="link"
        :to="{name: 'profile', query: {page: 'marketplace'}}"
      >{{ $t('auth.register') }}</nuxt-link> {{ $t('andGo') }}
    </template>
    <Loader v-if="REPLIES_LOADING" :margin="20" />
    <template v-if="canReply && !REPLIES_LOADING">
      <span
        class="replies-title"
      >{{ $t('communicationWithCustomer') }}
      </span>
      <div class="create-reply-panel panel">
        <CreateReplyForm :orderId="orderId" @submit="reloadReplies"/>
      </div>
    </template>
    <div v-if="REPLIES_COUNT && !REPLIES_LOADING" class="replies">
      <RepliesList @reload="reloadReplies"/>
    </div>
    <div class="need-help"
    >{{ $t('problems') }} <a href="mailto:support@whatwhere.world">{{ $t('contactUs') }}</a>
    </div>
  </section>
</template>
<script>
  import { path, prop } from 'ramda'
  import { mapGetters, mapActions } from "vuex"
  import Order from '~/components/marketplace/orders/Order'
  import RepliesList from '~/components/marketplace/replies/List'
  import popConsts from '~/utils/popoverConsts'

  export default {
    components: {
      Order,
      RepliesList,
      CreateReplyForm: () => import('~/components/marketplace/replies/forms/CreateForm'),
      Loader: () => import('~/components/common/Loader'),
      Icon: () => import('~/components/common/Icon'),
    },
    props: {
      isOwnProfile: Boolean,
      profileType: String,
      profile: Object,
    },

    data() {
      return {
        loading: true
      }
    },
    computed: {
      ...mapGetters({
        ORDER: 'marketplace/order/ORDER',
        ORDER_LOADING: 'marketplace/order/LOADING',
        GET_USER: 'user/GET_USER',
        IS_AUTH: 'auth/IS_AUTH',
        REPLIES_LOADING: 'marketplace/REPLIES_LOADING',
        REPLIES_COUNT: 'marketplace/REPLIES_COUNT',
        REPLIES: 'marketplace/REPLIES',
      }),
      isCurrentUserSupplier() {
        return prop('is_supplier', this.GET_USER) && !!prop('as_supplier', this.GET_USER)
      },
      isCurrentUserCustomer() {
        return !this.isCurrentUserSupplier
          && prop('is_customer', this.GET_USER)
          && !!prop('as_customer', this.GET_USER)
      },
      isCurrentUserSimpleUser() {
        return !!this.GET_USER && !this.isCurrentUserSupplier && !this.isCurrentUserCustomer
      },
      isOrderLoading() {
        // in case of ssr page opening
        return this.loading || this.ORDER_LOADING
      },
      orderAuthorId() {
        return path(['created_by', 'id'], this.ORDER) || prop('created_by', this.ORDER)
      },
      isMyOrder() {
        return !!this.isCurrentUserCustomer && this.GET_USER.id === this.orderAuthorId
      },
      orderId() {
        return Number.parseInt(this.$route.params.order_id)
      },
      canReply() {
        return this.isCurrentUserSupplier
          && prop('status', this.ORDER) === 0
          && this.REPLIES.filter(reply => {
            const author = path(['created_by', 'id'], reply) || prop('created_by', reply)
            return author === this.GET_USER.id
          }).length === 0
      },
    },
    watch: {
      async GET_USER() {
        await this.reloadReplies()
      }
    },
    async mounted() {
      this.RESET_REPLIES()
      await this.FETCH_ORDER({ id: this.orderId })
      if ( !this.ORDER ) {
        this.goBack()
      }
      this.loading = false
      await this.FETCH_REPLIES({ order: this.orderId })
    },
    methods: {
      ...mapActions({
        togglePopover: 'popovers/TOGGLE_POPOVER',
        FETCH_ORDER: 'marketplace/order/FETCH_ORDER',
        FETCH_REPLIES: 'marketplace/FETCH_REPLIES',
        RESET_REPLIES: 'marketplace/RESET_REPLIES',
      }),
      goBack() {
        return window.history?.length > 2
          ? this.$router.back()
          : this.$router.push({
            name: 'profile-id-marketplace',
            params: { id: this.$route.params.id }
          })
      },
      login() {
        this.togglePopover(popConsts.auth)
      },
      async reloadReplies(){
        this.RESET_REPLIES()
        await this.FETCH_REPLIES({ order: this.orderId })
      }
    },
  }
</script>
<style lang="scss" scoped>
  @import '~/assets/css/variables.scss';
  .panel {
    box-shadow: 0 -5px 10px 0 rgba(203, 214, 225, 0.1);
    background-color: #ffffff;
  }
  .back {
    vertical-align: middle;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
    .icon {
      transform: rotate(180deg);
    }
  }
  .link {
    color: $blue;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  .order {
    &-panel {
      margin-top: 20px;
      margin-bottom: 45px;
      padding: 24px 32px 32px;
    }
  }
  .replies-title {
    font-weight: bold;
  }
  .create-reply-panel {
    padding: 38px 32px 32px;
    margin-top: 9px;
  }
  .replies {
    margin-top: 24px
  }
  .need-help {
    @include text(3);
    margin-top: 47px;

    a {
      color: $blue;
    }
  }
</style>