<template>
  <section class="profile-marketplace">
    <SupplierPage
      v-if="isProfileSupplier"
      :profile="profile"
      :isOwnProfile="isOwnProfile"
      :supplier="SUPPLIER"
    />
    <CustomerPage
      v-else-if="isProfileCustomer"
      :profile="profile"
      :isOwnProfile="isOwnProfile"
      :customer="CUSTOMER"
    />
    <UserPage
      v-else-if="isOwnProfile"
      :profile="profile"
      :isOwnProfile="isOwnProfile"/>
  </section>
</template>
<script>
  import { mapGetters, mapActions } from 'vuex'
  import ProfileRoutesService from '~/utils/profile-routes-service'
  import SupplierPage from '~/components/profile/marketplace/SupplierPage'
  import CustomerPage from '~/components/profile/marketplace/CustomerPage'
  import UserPage from '~/components/profile/marketplace/UserPage'

  export default {
    components: {
      SupplierPage,
      CustomerPage,
      UserPage
    },
    props: {
      isOwnProfile: Boolean,
      profileType: String,
      profile: {
        type: Object,
        required: true,
      },
      isOrganizerProfile: Boolean,
      isOrganizerView: Boolean,
      isProfileSupplier: Boolean,
      isProfileCustomer: Boolean,
    },
    computed: {
      ...mapGetters('marketplace/profile', [
        'SUPPLIER',
        'CUSTOMER',
        'ORDERS_INITIALIZED'
      ]),
      ...mapGetters('marketplace', [
        'ORDER_TYPES_INITIALIZED',
      ])
    },
    watch: {
      async isProfileSupplier() {
        if (
          this.isProfileSupplier && !this.SUPPLIER
          || ( this.SUPPLIER.id !== this.profile.as_supplier && !!this.profile.as_supplier )
        ){
          await this.FETCH_USER({
            user_type: 'suppliers', id: this.profile.as_supplier, expand: 'images,services'
          })
        }
      },
      async isProfileCustomer() {
        if (
          this.isProfileCustomer && !this.CUSTOMER
          || ( this.CUSTOMER.id !== this.profile.as_customer  && !!this.profile.as_customer )
        ){
          await this.FETCH_USER({
            user_type: 'customers', id: this.profile.as_customer
          })
        }
      }
    },
    async created() {
      this.routesService = new ProfileRoutesService({
        store: this.$store,
        router: this.$router,
      })
    },
    async mounted() {
      if ( !this.ORDER_TYPES_INITIALIZED )
        await this.FETCH_ALL_ORDER_TYPES()
      if (this.isProfileCustomer ) {
        await this.FETCH_USER({
          user_type: 'customers', id: this.profile.as_customer
        })
      } else if ( this.isProfileSupplier ) {
        await this.FETCH_USER({
          user_type: 'suppliers', id: this.profile.as_supplier, expand: 'images,services'
        })
      }
    },

    methods: {
      ...mapActions('marketplace/profile', [
        'FETCH_ORDERS',
        'FETCH_USER'
      ]),
      ...mapActions('marketplace', [
        'FETCH_ALL_ORDER_TYPES',
      ])
    },
  }
</script>