<i18n src="./locales.json"></i18n>

<template>
  <div class="root">
    <slot></slot>
    <div v-if="isOwn" class="button button--center">
      <PhotoBtn
        accept="image/jpeg, image/png"
        class="button"
        v-tooltip.auto="$t('changeCover')"
        @change="handleImgChange"
      />
    </div>
    <div class="button button--bottom">
      <BtnWithIcon
        v-if="isOwn"
        color="blue"
        icon="pencil"
        invert
        v-tooltip.auto="$t('editJournal')"
        @click="handleEditJournal"
      />
      <ShareBtn />
    </div>
    <div class="avatar"></div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  components: {
    PhotoBtn: () => import('~/components/common/buttons/PhotoBtn'),
    ShareBtn: () => import('~/components/common/buttons/ShareBtn'),
    BtnWithIcon: () => import('~/components/common/buttons/BtnWithIcon'),
  },
  props: {
    isOwn: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    ...mapGetters({
      getJournal: 'journal/CURRENT_JOURNAL',
    }),
  },
  methods: {
    ...mapActions({
      toggleDialog: 'TOGGLE_POPOVER',
      uploadImage: 'images/UPLOAD',
      updateJournal: 'journal/UPDATE_JOURNAL',
      switchPreLoader: 'SWITCH_PRE_LOADER',
    }),
    ...mapActions('notifications', ['error', 'success']),
    async handleImgChange(file) {
      this.switchPreLoader(true)

      try {
        const data = await this.uploadImage({
          file,
          find_gradient: true,
          find_main_color: true,
        })
        await this.updateJournal({
          cover: data.id,
          find_gradient: true,
          find_main_color: true,
        })
        this.success(this.$t('journal.succCover'))
      } catch {
        this.error(this.$t('journal.errCover'))
      }

      this.switchPreLoader(false)
    },
    handleEditJournal() {
      this.$router.push(`/events/collections/${this.getJournal.url_id}/edit/`)
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.root {
  position: relative;
  .button {
    position: absolute;
    &--center {
      width: 48px;
      height: 48px;
      right: 0;
      bottom: 0;
      @media (min-width: $desktopSD) {
        right: unset;
        bottom: unset;
        top: 50%;
        left: -24px;
        transform: translateY(-50%);
      }
    }
    &--bottom {
      display: none;
      @media (min-width: $desktopSD) {
        bottom: 0;
        right: 0;
        display: grid;
        grid-auto-flow: column;
        grid-gap: 16px;
      }
    }
  }

  .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
</style>
