<i18n>
    {
    "ru": {
    "waiting": "Ждём",
    "attended": "Пришли",
    "notSold": "Не продан"
    },
    "en": {
    "waiting": "Waiting",
    "attended": "Attended",
    "notSold": "Not sold"
    },
    "es": {
    "waiting": "Waiting",
    "attended": "Attended",
    "notSold": "Not sold"
    }
    }
</i18n>

<template>
    <div class="tickets-scheme">
        <component
                :is="seatsSchemeComponent"
                v-if="seatsSchemeComponent"
                :seats-scheme="SEATS_SCHEME"
                :ticketsBySeats="ticketsBySeats"
        />
        <div class="tickets-scheme__legend">
            <div class="legend legend--used">{{ $t('attended') }}</div>
            <div class="legend legend--actual">{{ $t('waiting') }}</div>
            <div class="legend legend--not-sold">{{ $t('notSold') }}</div>
        </div>
    </div>
</template>

<script>
    import { mapGetters } from 'vuex'
    import { seatsSchemeComponents } from '~/constants/seats'
    import { storeModules } from '~/constants/storeModules'
    import { path } from "ramda"


    export default {
        name: 'TicketsScheme',

        computed: {
            ...mapGetters({
                ticketsResults: `${storeModules.ticketsPass}/ticketsResults`,
                SEATS_SCHEME: 'events/session/SEATS_SCHEME'
            }),
            seatsSchemeComponent() {
                return seatsSchemeComponents[this.SEATS_SCHEME] || null
            },

            ticketsBySeats() {
                return this.ticketsResults.reduce((result, ticket) => {
                    const { seat } = ticket
                    if (!seat) return result

                    result[seat.key] = ticket
                    return result
                }, {})
            },
        },
        methods: {
            path
        }

    }
</script>

<style lang="scss" scoped>
    @import '~/assets/css/variables.scss';

    .tickets-scheme {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #fff;
        padding: 20px 0;

        @media (min-width: $desktopSD) {
            flex-direction: column-reverse;
        }

        &__svg {
            height: auto;
            max-height: 432px;
            max-width: 499px;
            width: 100%;
        }

        &__legend {
            margin-top: 36px;
            height: 20px;
            width: 100%;
            display: flex;
            justify-content: center;

            @media (min-width: $desktopSD) {
                margin-top: 0;
                margin-bottom: 20px;
            }

            .legend {
                @include text(1.5);
                display: flex;
                align-items: center;

                &:not(:last-child) {
                    margin-right: 38px;
                }

                &--used,
                &--actual,
                &--not-sold {
                    &::before {
                        content: '';
                        display: inline-block;
                        border-radius: 50%;
                        background-color: #c6c7c8;
                        width: 8px;
                        height: 8px;
                        margin-right: 8px;
                    }
                }

                &--used:before {
                    width: 12px;
                    height: 12px;
                    background-color: #00ca0c;
                }

                &--actual:before {
                    background-color: #ffe435;
                }
            }
        }
    }
</style>