<template>
  <TheMask
    v-if="renderMask"
    type="tel"
    :masked="false"
    :mask="mask"
    :value="value"
    :placeholder="placeholder"
    :disabled="disabled"
    @input="input"
  ></TheMask>
  <input v-else type="tel" :value="value" @input="simpleInput" />
</template>

<script>
import { filter, map, prop, compose, split, join, is, addIndex } from 'ramda'
import { TheMask } from 'vue-the-mask'
import { phoneMasks } from '~/utils/countryMasks'

let fromCountry = code => v => v.cc === code
let filterMasks = (xs, code) => filter(fromCountry(code), xs)

let mapIndexed = addIndex(map)
let makePlaceholder = s =>
  is(String, s) &&
  compose(
    join(''),
    mapIndexed((v, i) => (v === '#' ? v.replace('#', String(i)[0]) : v)),
    split(''),
  )(s)

export default {
  components: { TheMask },
  props: {
    value: String,
    country: {
      type: Object,
      default: () => ({}),
    },
    disabled: Boolean,
  },
  data: () => ({}),
  computed: {
    renderMask() {
      return Boolean(prop('code', this.country) && prop('phone', this.country))
    },
    masks() {
      return filterMasks(phoneMasks, this.country.code)
    },
    mask() {
      return map(prop('mask'), this.masks)
    },
    placeholder() {
      return makePlaceholder(prop('0', this.mask))
    },
  },
  mounted() {
    this.phone = this.value
  },
  methods: {
    input(e) {
      let code = prop('phone', this.country)
      if (code) {
        this.$emit('input', `+${this.country.phone}${e}`)
      } else {
        this.$emit('input', e)
      }
    },
    simpleInput(e) {
      this.$emit('input', e.target.value)
    },
  },
}
</script>
