<template>
  <div class="main">
      <FormRow class="cover" :error="errors['cover']">
        <AddEventCover
                :coverImage="imageCover"
                @cover:upload="handleCoverUpload"
                @cover:cropped="handleCoverCrop"
        />
      </FormRow>
  </div>
</template>

<script>
import { path } from 'ramda'

import thumborize from '~/utils/thumborize'

import FormRow from '~/components/common/FormRowNew'
import AddEventCover from '~/components/events/create/EventMainInfo/AddEventCover'

export default {
  name: 'SimpleEventMainInfo',

  components: {
    FormRow,
    AddEventCover,
  },

  props: {
    cover: {
      type: Object,
      default: () => ({}),
    },
    errors: {
      type: Object,
      default: () => ({}),
    },
  },

  computed: {
    imageCover() {
      const cover = path(['image'], this.cover)
      const w = path(['original_width'], this.cover)
      const h = path(['original_height'], this.cover)

      return cover ? thumborize(cover, undefined, w, h) : null
    },
  },

  methods: {
    handleCoverUpload({ image }) {
      this.$emit('update:cover', image)
    },
    handleCoverCrop(v) {
      this.$emit('updateCroppedImage', v)
    },
  },
}
</script>
<style lang="scss" scoped>
  @import '~/assets/css/variables.scss';
  .main{
    width: 70%;
    @media (max-width: $sideShow) {
      width: 60%;
    }
    @media (max-width: $desktopHD) {
      width: 57%;
    }
    @media (max-width: $desktopSD) {
      width: 100%;
    }
  }
</style>