<template>
  <section class="top">
    <Logo class="top__logo" />
    <Menu />
    <CreateEvent class="create-event" />
    <Search />
    <Login
      :user="$store.getters['user/GET_USER']"
      :is-auth="$store.getters['auth/IS_AUTH']"
      type="mobile"
      class="login"
    />
  </section>
</template>

<script>
export default {
  components: {
    Login: () => import('./components/Login'),
    Logo: () => import('./components/Logo'),
    Menu: () => import('./components/Menu'),
    Search: () => import('./components/SearchTop'),
    CreateEvent: () => import('./components/CreateEvent'),
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.top {
  display: grid;
  grid-template-columns: repeat(4, 64px) auto 64px;
  justify-items: center;
  align-items: center;
  background-color: white;

  @media (min-width: $desktopSD) {
    grid-template-columns: 64px 64px 200px 100px auto 64px;
  }

  .create-event {
    display: none;
    @media (min-width: $desktopSD) {
      display: initial;
      color: $red;
    }
  }
  .login {
    grid-column: 6;
  }

  &__logo {
    background-color: #020609;
    height: 64px;
    width: 64px;
  }
  &__text {
    display: none;
    @media (min-width: $desktopSD) {
      display: block;
    }
  }
}
</style>
