<template>
  <section class="side">
    <div class="top">
      <Logo class="top__logo" />
      <div class="top__sitename">WhatWhere.World</div>
    </div>
    <div class="ww-side__bottom">
      <Search v-if="!showOnlyMenu" class="ww-side__button" />
      <Support v-if="!showOnlyMenu" class="ww-side__button" />
      <Menu class="ww-side__button" />
    </div>
  </section>
</template>

<script>
export default {
  props: {
    showOnlyMenu: {
      type: Boolean,
      default: false
    }
  },
  components: {
    Logo: () => import('./components/Logo'),
    Menu: () => import('./components/Menu'),
    Search: () => import('./components/SearchSide'),
    Support: () => import('./components/Support'),
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.side {
  display: flex;
  flex-direction: column;
}

.top {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 0;
  background-color: #020609;
  height: 50vh;

  &__logo {
    background-color: #020609;
    height: 112px;
    width: $ww-side-width-1;
    @media (min-width: $desktopHDp) {
      width: 112px;
    }
  }

  &__sitename {
    color: white;
    transform: rotate(-90deg) translateX(50%);
    transform-origin: center;
    padding: 24px;
    @media (max-height: 600px) {
      display: none;
    }
  }
}

.ww-side {
  z-index: 1;

  &__bottom {
    align-items: center;
    background-color: white;
    /*display: none;*/
    flex-direction: column;
    height: 50vh;

    display: flex;
  }

  &__button {
    align-items: center;
    display: flex;
    flex: 1 1 $ww-side-width;
    justify-content: center;
    width: 100%;
  }
}
</style>
