<template>
  <section class="ww-top">
    <div class="wrapper">
      <div class="flex">
        <LangSelector v-if="$store.getters['user/WITH_RIGHTS']" />
        <SelectCity />
      </div>
      <CreateEvent class="create-event" />
      <Login
        :user="$store.getters['user/GET_USER']"
        :is-auth="$store.getters['auth/IS_AUTH']"
        type="full"
      >
        <template #login>{{ $t('auth.login') }}</template>
        <template #logout>{{ $t('auth.logout') }}</template>
      </Login>
    </div>
  </section>
</template>

<script>
import Login from './components/Login'
import SelectCity from './components/SelectCity'
import CreateEvent from './components/CreateEvent'

export default {
  components: {
    LangSelector: () => import('./components/LangSelector'),
    SelectCity,
    Login,
    CreateEvent,
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.ww-top {
  background-color: transparent;
  padding: (4 * $base) 0 (3 * $base);

  .wrapper {
    display: grid;
    grid-template-columns: 1fr auto auto;
    grid-gap: 48px;
    justify-content: space-between;
    justify-items: flex-start;
    align-items: center;
  }

  .create-event {
    color: $red;
  }

  &__item {
    $size: 8 * $base;

    @include text(2);
    align-items: center;
    cursor: pointer;
    display: flex;
    font-weight: bold;
    justify-content: center;
    white-space: nowrap;

    height: initial;
    width: initial;

    &:hover,
    &:focus {
      color: $blue;
    }

    &::before,
    &::after {
      @media (min-width: $desktopHD) {
        color: $blue;
      }
    }

    &::before {
      @include ww-icn;
      margin-right: 1.5 * $base;
      opacity: 0;
    }

    i {
      @include text(3);
      line-height: 1.75 * $base;
    }
  }
}
</style>
