<template>
  <span class="stars-rating">
    <span class="stars">
      <Star v-for="num in stars" :key="num" ref="star" class="star" />
    </span>
    <span class="stars -active">
      <Star
        v-for="num in stars"
        :key="num"
        :style="{ width: getStarWidthByNum(num) }"
        active
        class="star"
      />
    </span>
  </span>
</template>

<script>
import { path } from 'ramda'
import Star from './Star.vue'

export default {
  components: { Star },
  props: {
    value: Number,
    total: {
      type: Number,
      default: 5,
    },
    stars: {
      type: Number,
      default: 5,
    },
  },
  data: () => ({ starWidth: 0 }),
  computed: {
    totalWidth() {
      return this.starWidth * this.stars
    },
    valueWidth() {
      return (this.totalWidth * this.value) / this.total
    },
    activeStars() {
      return Math.ceil(this.valueWidth / this.starWidth)
    },
  },
  mounted() {
    this.setStarWidth()
  },
  methods: {
    setStarWidth() {
      const $star = Array.isArray(this.$refs.star)
        ? path(['star', '0', '$el'], this.$refs)
        : path(['star', '$el'], this.$refs)
      if (!$star) return

      this.starWidth = $star.clientWidth
    },

    getStarWidthByNum(num) {
      if (!this.starWidth) return null

      let width = 0
      if (num < this.activeStars) {
        width = this.starWidth
      } else if (num === this.activeStars) {
        const mod = this.valueWidth % this.starWidth
        width = mod ? mod : this.starWidth
      }

      return `${width}px`
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.stars-rating {
  position: relative;
  overflow: hidden;
  display: inline-block;

  .stars {
    display: flex;

    &.-active {
      position: absolute;
      top: 0;
      left: 0;

      .star {
        color: #ffe66a;
      }
    }
  }
  .star + .star {
    margin-left: $base;
  }
}
</style>
