<template>
  <span :class="{ 'is-active': active }" class="star">
    <span class="icon ww-icn-star" />
  </span>
</template>

<script>
export default {
  props: {
    active: Boolean,
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.star {
  display: inline-block;
  overflow: hidden;
  color: $gray;
  width: $base * 2;
  line-height: 1;

  &.is-active {
    color: #ffe66a;
  }
}
</style>
