<template>
  <Wrapper v-bind="{ id, isOpen, name }" @toggle="onToggle">
    <template slot="face">
      <slot name="face" />
    </template>
    <template slot="content">
      <div
        :id="id"
        :style="position"
        class="ww__menu__container"
        @click="onContentClick"
      >
        <slot name="content"></slot>
      </div>
    </template>
  </Wrapper>
</template>

<script>
import { reject, isNil } from 'ramda'
import Wrapper from './Wrapper'

const addPxs = val => (typeof val === 'number' ? val + 'px' : null)
const menus = []

export default {
  components: { Wrapper },
  props: {
    name: {
      type: String,
      required: true,
    },
    closeOnContentClick: {
      type: Boolean,
      default: true,
    },
    pos: {
      type: Object,
      default: () => ({}),
    },
  },
  data: () => ({
    isOpen: false,
  }),
  computed: {
    id() {
      return `ww__menu-${this.name}`
    },
    position() {
      const style = {
        top: addPxs(this.pos.top),
        left: addPxs(this.pos.left),
        bottom: addPxs(this.pos.bottom),
        right: addPxs(this.pos.right),
      }

      return reject(isNil, style)
    },
  },
  mounted() {
    menus.push(this)
    this.$on('menu:close', this.removeDocumentEvent)
  },
  beforeDestroy() {
    this.removeDocumentEvent()
    menus.length = 0
  },
  methods: {
    onToggle(e) {
      e.stopPropagation()

      if (this.isOpen) {
        this.isOpen = false
        this.$emit('menu:close')
        return
      }
      const length = menus.length
      if (length > 1) {
        for (let i = 0; i < length; i++) {
          const menu = menus[i]
          if (menu.isOpen) {
            menu.isOpen = false
            this.$emit('menu:close')
          }
        }
      }
      this.isOpen = true
      document.documentElement.addEventListener(
        'click',
        this.onDocumentClick,
        false,
      )
      this.$emit('menu:open')
    },
    onDocumentClick() {
      this.isOpen = false
      this.$emit('menu:close')
    },
    onContentClick(e) {
      e.stopPropagation()
      if (this.closeOnContentClick) {
        this.isOpen = false
        this.$emit('menu:close')
      }
    },
    removeDocumentEvent() {
      document.documentElement.removeEventListener(
        'click',
        this.onDocumentClick,
        false,
      )
    },
  },
}
</script>

<style lang="scss">
.ww__menu {
  position: relative;
  &__container {
    position: absolute;
    z-index: 100;
    right: 0;
  }
}
</style>
