<template functional>
  <div class="ww__menu" :class="{ open: props.isOpen, [props.name]: true }">
    <div class="ww__menu__face" :aria-owns="props.id" @click="listeners.toggle">
      <slot name="face">
        <a href="#">menu</a>
      </slot>
    </div>
    <slot v-if="props.isOpen" name="content"></slot>
  </div>
</template>
