<template>
  <div class="popover">
    <div class="popover-close-button">
      <button
        v-tooltip.auto="$t('popovers.close')"
        class="ww-icn-cross"
        @click="closePopover('')"
      ></button>
    </div>
    <div class="wrapper">
      <h1 class="wrapper__title">{{ $t('journal.addToJournal') }}</h1>

      <Loader v-if="loading" color="white"></Loader>
      <div v-else class="list">
        <h2
          v-for="journal in journals"
          :key="journal.id"
          class="list__item"
          @click="add(journal)"
        >
          <span class="list__title">{{ journal.title }}</span>
          <span
            class="ww-icn-plus"
            v-tooltip.auto="$t('journal.addToJournalHint')"
          ></span>
        </h2>
      </div>

      <ConnectEvents v-if="place" v-model="isConnectEvents" />

      <!-- need to add div wrapper because button shrinks -->
      <div>
        <Button invert @click="createJournal">
          {{ $t('journal.newJournal') }}
        </Button>
      </div>
    </div>
  </div>
</template>
<script>
import { mapActions, mapGetters } from 'vuex'
import { prop } from 'ramda'

import addToJournalTypes from '~/utils/addToJournalTypes'

export default {
  components: {
    Button: () => import('~/components/common/buttons/Button'),
    Loader: () => import('~/components/common/Loader'),
    ConnectEvents: () => import('./ConnectEvents'),
  },
  data() {
    return {
      isConnectEvents: false,
      loading: false,
    }
  },
  computed: {
    ...mapGetters({
      journals: 'journal/JOURNALS_LIST',
      user: 'user/GET_USER',
      popoverData: 'popovers/POPOVER_DATA',
    }),
    event() {
      return prop('event', this.popoverData)
    },
    place() {
      return prop('place', this.popoverData)
    },
    addToJournalType() {
      if (this.event) return addToJournalTypes.event
      if (this.place) return addToJournalTypes.place
      return null
    },
  },
  beforeMount() {
    this.loading = true
    this.fetchJournals({ user: this.user.id }).finally(() => {
      this.loading = false
    })
  },
  beforeDestroy() {
    this.clearPopoverData()
  },
  methods: {
    ...mapActions({
      fetchJournals: 'journal/FETCH_JOURNALS',
      clearJournals: 'journal/CLEAR_JOURNALS_LIST',
      addToJournal: 'journal/ADD_TO_JOURNAL',
      closePopover: 'popovers/TOGGLE_POPOVER',
      showLoader: 'popovers/SWITCH_PRE_LOADER',
      clearPopoverData: 'popovers/CLEAR_POPOVER_DATA',
    }),
    createJournal() {
      this.closePopover('')
      this.clearJournals()

      this.$router.push({
        path: '/journal/create/',
        query: { addToJournalType: this.addToJournalType },
      })
    },
    async add(journal) {
      this.closePopover('')
      this.showLoader(true)
      if (this.event) {
        try {
          await this.addToJournal({
            id: journal.id,
            params: { events: [this.event.id] },
            type: 'events',
          })
        } catch (e) {}
      }
      if (this.place) {
        try {
          await this.addToJournal({
            id: journal.id,
            params: {
              institutions: [this.place.id],
              connect_events: this.isConnectEvents,
              selected: false,
            },
            type: 'institutions',
          })
        } catch (e) {}
      }
      this.showLoader(false)
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';
@import '~/assets/css/popover.scss';

.popover {
  background-color: $blue;
  padding-top: 118px;
  max-height: 100%;
  @media (max-width: 768px) {
    padding: 64px 16px 0 16px;
  }
  .ww-icn-cross {
    color: white;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    max-width: 896px;
    width: 100%;
    align-self: center;
    padding: 0;

    @media (max-width: $desktopHD) {
      padding: 0 16px;
    }

    > * {
      padding-bottom: 24px;
      @media (max-width: 768px) {
        padding-bottom: 16px;
      }
    }

    &__title {
      color: white;
      margin-bottom: 52px;
      @media (max-width: 768px) {
        margin-bottom: 16px;
      }
    }

    .list {
      overflow-y: auto;
      padding-bottom: 32px;

      &__item {
        margin-bottom: 8px;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        min-height: 80px;
        padding: 0 24px;
        color: white;
        background-color: $dark-blue;

        @media (max-width: 768px) {
          min-height: 64px;
          padding: 0 16px;
        }

        .ww-icn-plus {
          color: $dark-blue;
        }

        &:hover {
          background-color: black;
          .ww-icn-plus {
            color: white;
          }
        }
      }

      &__title {
        overflow: hidden;
        margin-right: 8px;
      }
    }
  }
}
</style>
