<template>
  <div class="banner">
    <div
      class="popover-close-button ww-icn-cross banner-close"
      @click="closeBanner"
    />
    <div class="banner-content">
      <div class="banner-content__text">
        {{ $t('popovers.agreementBanner.cookieText') }}
        <WLink href="/docs/privacy_policy.pdf" target="_blank" color="white">{{
          $t('popovers.agreementBanner.privacyPolicy')
        }}</WLink
        >.
      </div>
      <Checkbox
        v-model="personalDataAgreement"
        class="banner-content__checkbox"
        color="white"
        >{{ $t('auth.signUp.personalDataProcessing') }}</Checkbox
      >
      <div class="banner-content__actions">
        <Button
          class="banner-content__action"
          inlineColor="#fff"
          noArrow
          @click="sendAgreement"
          >{{ $t('popovers.agreementBanner.send') }}</Button
        >
        <Button
          class="banner-content__action"
          inlineColor="#fff"
          noArrow
          noBorder
          @click="closeBanner"
          >{{ $t('popovers.agreementBanner.cancel') }}</Button
        >
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'AgreementPopover',

  components: {
    Checkbox: () => import('~/components/common/Checkbox'),
    Button: () => import('~/components/common/buttons/Button'),
    WLink: () => import('~/components/common/WLink'),
  },

  data: () => ({
    personalDataAgreement: false,
  }),

  computed: {
    ...mapGetters({
      pda: 'user/PERSONAL_DATA_AGREEMENT',
    }),
  },

  mounted() {
    this.personalDataAgreement = this.pda
  },

  methods: {
    ...mapActions({
      toggleBanner: 'popovers/TOGGLE_BANNER',
      userUpd: 'user/UPDATE_USER',
    }),
    closeBanner() {
      this.toggleBanner()
    },
    async sendAgreement() {
      await this.userUpd({
        personal_data_agreement: this.personalDataAgreement,
      })

      this.closeBanner()
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.banner {
  position: fixed;
  z-index: 1200;
  background: $blue;
  color: #fff;
  padding: 40px 16px 16px 16px;
  right: 0;
  bottom: 0;

  @media (min-width: 768px) {
    padding: 60px 60px 36px 60px;
    right: 16px;
    bottom: 16px;
  }

  @media (min-width: 1180px) {
    padding: 80px 88px 48px 112px;
    right: 32px;
    bottom: 32px;
  }
}

.banner-close {
  font-size: 14px;
  right: 16px;
  top: 16px;

  @media (min-width: 768px) {
    font-size: 24px;
  }

  @media (min-width: 1180px) {
    right: 32px;
    top: 32px;
  }
}

.banner-content {
  max-width: 592px;

  &__text {
    margin-bottom: 12px;

    @media (min-width: 768px) {
      margin-bottom: 24px;
    }
  }

  &__checkbox {
    margin-bottom: 20px;

    @media (min-width: 768px) {
      margin-bottom: 40px;
    }
  }

  &__actions {
    display: flex;
  }

  &__action {
    max-width: 216px;
    display: inline-flex;

    &:first-child {
      margin-right: 8px;

      @media (min-width: 768px) {
        margin-right: 16px;
      }
    }
  }
}
</style>
