<template>
  <div class="popover" @keyup.esc="togglePopover('')">
    <div
      class="popover__background--transparent"
      @click="togglePopover('')"
    ></div>
    <div class="popover__side">
      <form class="form" @submit.prevent="submitHandler">
        <div class="popover-close-button">
          <button
            v-tooltip.auto="$t('popovers.close')"
            type="button"
            class="ww-icn-cross"
            @click="togglePopover('')"
          />
        </div>
        <h2 class="form__header">{{ $t('auth.auth.login') }}</h2>
        <MailInput
            v-model="user.email.value"
            v-bind="user.email"
            :error="Boolean(user.email.errorMessage)"
            required
            icon
            styles="border-color: #0070ff;"
            @input="emitEmail"
        />

        <CustomInput
          v-model="user.password.value"
          v-bind="user.password"
          required
          :error="Boolean(user.password.errorMessage)"
          class="form__input"
        />

        <button
          type="button"
          class="form__forgot-password"
          @click="togglePopover(popovers.restore)"
        >
          {{ $t('auth.auth.forgot') }}
        </button>

        <ul class="form__error-messages">
          <li
            v-for="input in user"
            :key="input.key"
            class="form__error-message"
          >
            {{ input.errorMessage }}
          </li>
        </ul>

        <Button invert type="submit" class="form__submit">
          {{ $t('auth.auth.login') }}
        </Button>
        <button
          type="button"
          class="form__registration"
          @click="togglePopover(popovers.signUp)"
        >
          {{ $t('auth.auth.register') }}
        </button>
        <div class="form__submit-social">
          <AuthButton variant="fb" border @click="preSocialLogin" />
          <AuthButton
            v-if="$store.getters['city/SHOW_RUSSIAN_LANG']"
            variant="vk"
            border
            @click="preSocialLogin"
          />
          <AuthButton variant="google" border @click="preSocialLogin" />
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import popConsts from '~/utils/popoverConsts.js'

export default {
  components: {
    CustomInput: () => import('./Input'),
    Button: () => import('~/components/common/buttons/Button'),
    AuthButton: () => import('~/components/common/buttons/AuthButton'),
    MailInput: () => import('~/components/common/input/MailInput'),
  },
  props: {
    email: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      user: {
        email: {
          value: this.email,
          key: 'email',
          type: 'email',
          errorMessage: '',
          placeholder: this.$t('auth.email'),
        },
        password: {
          value: '',
          key: 'password',
          hidden: true,
          errorMessage: '',
          type: 'password',
          placeholder: this.$t('auth.password'),
        },
      },
      hash: '',
    }
  },
  computed: {
    popovers: () => popConsts,
  },
  methods: {
    ...mapActions({
      togglePopover: 'popovers/TOGGLE_POPOVER',
    }),
    async preSocialLogin(e) {
      const isCookieAccepted = await this.$store.dispatch(
        'user/CHECK_COOKIE_IS_ACCEPTED',
      )

      if (!isCookieAccepted) e.preventDefault()
    },

    emitEmail(event) {
      this.$emit('input', { email: this.user.email.value })
    },

    async submitHandler() {
      try {
        const isCookieAccepted = await this.$store.dispatch(
          'user/CHECK_COOKIE_IS_ACCEPTED',
        )
        if (!isCookieAccepted) return

        await this.$store.dispatch('auth/LOG_IN', {
          email: this.user.email.value,
          password: this.user.password.value,
        })
        await this.$store.dispatch('user/GET_USER_DATA')
        this.togglePopover('')
        this.clearQueryParams()

        this.$store.dispatch('user/CHECK_PERSONAL_DATA_AGREEMENT')
      } catch (exception) {
        const errors = exception
        errors && this.errorHandler(errors)
      }
    },
    clearQueryParams() {
      if (this.$router.params){
        this.$router.replace({ query: null })
      }
    },
    errorHandler(errors) {
      const user = this.user
      Object.entries(errors).forEach(([key, value]) => {
        if (user[key]) {
          user[key].errorMessage = value.join ? value.join(' ') : value
        } else {
          user.email.errorMessage = value.join ? value.join(' ') : value
        }
      })
    },

    clearErrors() {
      Object.values(this.user).forEach(value => {
        value.errorMessage = ''
      })
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.popover {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: inherit;
  background-color: $blue;

  @media (min-width: $desktopSD) {
    background-color: unset;
  }

  &__background--transparent {
    background-color: $blue;
    opacity: 0.5;
    flex: auto;
  }

  &__close-button {
    align-self: flex-end;
    color: white;
    font-size: 24px;
    &:active {
      transform: scale(1.2, 1.2);
    }
  }

  &__side {
    width: 100%;
    height: 100%;
    padding: 16px;
    background-color: $blue;
    opacity: 1;
    @media (min-width: $desktopSD) {
      margin-left: auto;
      width: 704px;
      padding: 40px 72px;
    }

    .form {
      display: flex;
      flex-direction: column;

      &__header {
        color: white;
        margin-bottom: 46px;
      }

      &__input {
        width: 100%;
      }

      &__forgot-password {
        margin-top: 16px;
        color: white;
      }
      &__error-message {
        margin-top: 16px;
      }
      &__submit {
        margin-top: 24px;
      }
      &__registration {
        margin-top: 24px;
        color: white;
      }
      &__submit-social {
        margin-top: 24px;
        display: grid;
        grid-template-columns: repeat(auto-fill, 52px);
        grid-gap: 16px;
        @media (min-width: $desktopSD) {
          grid-template-columns: repeat(auto-fill, 64px);
        }
      }
      &__auth-from-facebook {
        margin-top: 24px;
        height: 64px;
        width: 100%;
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        border: white solid 2px;
        color: white;
        @include text(2);
        text-transform: uppercase;
        font-weight: bold;

        &:hover {
          background-color: white;
          color: $blue;
        }
        @media (min-width: $desktopSD) {
          height: 80px;
        }
        .ww-icn-arrow-right {
          position: absolute;
          /*display: none;*/
          right: 30%;
          top: 50%;
          opacity: 0;
          @include text(3);
          transform: translate(-8px, -50%);
          transition: opacity 0.2s ease-out, transform 0.2s ease-out;
        }
        &:hover .ww-icn-arrow-right {
          /*display: block;*/
          opacity: 1;
          transform: translate(0, -50%);
        }
      }
      &__social-button {
        display: inline-flex;
        height: 52px;
        width: 52px;
        align-items: center;
        justify-content: center;
        @include text(2);
        color: white;
        border: white solid 2px;
        &:not(:last-child) {
          margin-right: 8px;
        }
        &:hover {
          background-color: white;
          color: $blue;
        }

        @media (min-width: $desktopSD) {
          height: 64px;
          width: 64px;
          @include text(3);
          &:not(:last-child) {
            margin-right: 16px;
          }
        }
      }
    }
  }
}
</style>
