<i18n>
{
  "ru": {
    "form": {
      "title": "Обратный звонок",
      "text": "Укажите ваш телефон и мы вам перезвоним.",
      "name": "Ваше имя",
      "phone": "Телефон",
      "email": "Электронная почта",
      "button": "Отправить"
    },
    "result": {
      "title": "Спасибо!",
      "text": "Мы свяжемся с вами в ближайшее время.",
      "button": "Закрыть"
    }
  },
  "en": {
    "form": {
      "title": "Callback",
      "text": "Leave your phone number and we will call you back.",
      "name": "Your name",
      "phone": "Phone number",
      "email": "Email",
      "button": "Submit"
    },
    "result": {
      "title": "Thank you!",
      "text": "We will contact you shortly.",
      "button": "Close"
    }
  },
  "es": {
    "form": {
      "title": "Devolver la llamada",
      "text": "Introduce tu número de teléfono y te devolveremos la llamada.",
      "name": "Tu nombre",
      "phone": "Número de teléfono",
      "email": "Correo electrónico",
      "button": "Enviar"
    },
    "result": {
      "title": "¡Gracias!",
      "text": "Te contactaremos en breve.",
      "button": "Cerrar"
    }
  }
}
</i18n>

<template>
  <div class="call-me-popover popover" @keyup.esc="close()">
    <i
      :style="{ color }"
      class="popover-close-button ww-icn-cross"
      @click="close()"
    />

    <div class="popover__background" @click="close()" />
    <div class="popover__content">
      <form v-if="!isSent" class="form" @submit.prevent="onSubmit()">
        <h3 class="title" v-text="$t('form.title')" />
        <p class="text" v-text="$t('form.text')" />
        <label class="row">
          <span class="label" v-text="$t('form.name')" />
          <input
            v-model="form.name"
            :disabled="isSending"
            :class="{ error: !!$v.form.name.$error }"
            required
            class="input"
          />
        </label>
        <label class="row">
          <span class="label" v-text="$t('form.phone')" />
          <input
            v-model="form.phone"
            :disabled="isSending"
            :class="{ error: !!$v.form.phone.$error }"
            required
            class="input"
          />
        </label>
        <label class="row">
          <span class="label" v-text="$t('form.email')" />
          <MailInput
              v-model="form.email"
              :disabled="isSending"
              :error="!!$v.form.email.$error"
              required
              styles="height: 56px; border-color: #000;"
          />
        </label>
        <div class="row -button">
          <Button class="btn" :color="color" invert full-width type="submit">
            {{ $t('form.button') }}
          </Button>
        </div>
      </form>

      <div v-else>
        <h3 class="title" v-text="$t('result.title')" />
        <p class="text" v-text="$t('result.text')" />
        <div class="row">
          <Button
            class="btn"
            :color="color"
            invert
            full-width
            @click.native="close()"
          >
            {{ $t('result.button') }}
          </Button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { path } from 'ramda'
import { mapGetters, mapMutations, mapActions } from 'vuex'
import { required, email } from 'vuelidate/lib/validators'
import { phone } from '~/utils/validators'

const defaultForm = () => ({
  name: '',
  phone: '',
  email: '',
  action: 9,
})

export default {
  components: {
    Button: () => import('~/components/common/buttons/YetAnotherButton'),
    MailInput: () => import('~/components/common/input/MailInput'),
  },
  data: () => ({
    isSent: false,
    isSending: false,
    form: defaultForm(),
  }),
  validations: {
    form: {
      name: { required },
      phone: { required, phone },
      email: { required, email },
    },
  },
  computed: {
    ...mapGetters('popovers', ['POPOVER_DATA']),

    color() {
      return path(['color'], this.POPOVER_DATA)
    },
  },
  methods: {
    ...mapMutations('popovers', ['SET_POPOVER_DATA']),
    ...mapActions('popovers', ['TOGGLE_POPOVER']),
    ...mapActions('user', ['REQUEST']),
    ...mapActions({
      showError: 'notifications/error',
      showSuccess: 'notifications/success',
    }),

    async onSubmit() {
      this.$v.$touch()
      if (this.$v.$error) return

      this.isSending = true

      try {
        await this.REQUEST(this.form)
        this.isSent = true
        this.resetForm()
      } catch (err) {
        this.showError(err.message)
      } finally {
        this.isSending = false
      }
    },

    resetForm() {
      this.form = defaultForm()
    },

    close() {
      if (this.isSending) return

      this.TOGGLE_POPOVER('')
      this.SET_POPOVER_DATA(null)
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.call-me-popover {
}

.popover {
  $z-index: 1200;

  .popover-close-button {
    color: $blue;
    z-index: $z-index + 2;
  }
  &__background {
    background: #000;
    opacity: 0.2;
    position: fixed;
    z-index: $z-index;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    @media (min-width: $sideShow) {
      left: $ww-side-width-1;
    }
    @media (min-width: $desktopHDp) {
      left: $ww-side-width;
    }
  }

  &__content {
    background: #fff;
    position: fixed;
    z-index: $z-index + 1;
    top: 0;
    right: 0;
    bottom: 0;
    width: $base * 68;
    max-width: 100%;
    overflow-y: auto;

    padding: ($base * 8.5);
    display: flex;
    flex-direction: column;
    //justify-content: center;
    > * {
      margin-top: auto;
      margin-bottom: auto;
    }
  }

  .title {
    @include text(4);
    font-weight: bold;
  }

  .text {
  }

  .row {
    display: block;
    margin-top: $base * 3.5;

    &.-button {
      margin-top: $base * 6;
    }
  }

  .form {
  }
  .label {
    @include text(1.5);
    display: block;
    margin-bottom: $base * 1.125;
  }
  .input,
  .textarea {
    border: 1px solid #000;

    &:focus {
      border-color: transparent;
    }

    &.error {
      box-shadow: 0 0 0 2px $red;
    }
  }

  .input {
    height: $base * 7;
  }

  .btn {
    text-transform: uppercase;
    height: $base * 8;
    letter-spacing: 0.8px;
  }

  @media (max-width: $desktopHD) {
    &__content {
      padding: ($base * 6);
    }
  }

  @media ($mobile) {
    &__content {
      padding: ($base * 4);
    }
  }
}
</style>
