<template>
  <div class="popover popover_alert">
    <div class="popover-close-button">
      <button
        v-tooltip.auto="$t('popovers.close')"
        class="ww-icn-cross"
        @click="$emit('cancel')"
      ></button>
    </div>
    <div class="popover__top"><slot></slot></div>
    <div class="popover__bottom">
      <Button @click="$emit('confirm')" :color="type === 'danger' ? 'red': null">
        <slot name="confirm"></slot>
      </Button>
      <Button link @click="$emit('cancel')">
        <slot name="cancel"></slot>
      </Button>
    </div>
  </div>
</template>

<script>
export default {
  components: {
    Button: () => import('../buttons/Button'),
  },
  props: {
    type: {
      type: String,
      default: 'default',
      validator: v =>
        ['danger', 'default'].indexOf(v) !== -1,
    }
  },
}
</script>

<style lang="scss">
@import '~/assets/css/variables.scss';
@import '~/assets/css/popover.scss';
</style>

<style lang="scss" scoped>
.popover {
  padding: 0 16px;
  .popover-close-button {
    button {
      color: #000;
    }
  }
}
</style>
