<template>
  <div class="connect_events">
    <div class="connect_events__title">
      {{ $t('popovers.addPlace.subtitle2') }}
    </div>
    <div
      class="connect_events__button"
      :class="{ 'connect_events__button--checked': !value }"
      @click="$emit('input', false)"
    >
      <span data-icon="J" class="icon"></span
      >{{ $t('popovers.addPlace.selectLeft') }}
    </div>
    <div
      class="connect_events__button"
      :class="{ 'connect_events__button--checked': value }"
      @click="$emit('input', true)"
    >
      <span data-icon="m" class="icon"></span
      >{{ $t('popovers.addPlace.selectRight') }}
    </div>
  </div>
</template>

<script>
export default {
  props: {
    value: {
      type: Boolean,
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.connect_events {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: white;

  @media (max-width: 425px) {
    grid-template-columns: 1fr;
  }

  &__title {
    grid-column: 1 / 3;
    min-height: 42px;
    @media (max-width: 425px) {
      grid-column: 1;
      min-height: 34px;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 32px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: $dark-blue;
    min-height: 80px;
    cursor: pointer;
    &--checked {
      background-color: black;
    }
    @media (max-width: 768px) {
      @include text(1.5);
      min-height: 64px;
    }
  }
  .icon {
    margin-right: 2 * $base;
    @include text(3.25);
  }
}
</style>
