<template>
  <div>
    <section v-if="window.width > 375" ref="banner" class="banner-d" >
      <div class="banner-d__header">
        <strong>Coooookies!</strong>
        <div class="close ww-icn-cross" @click="closeBanner" />
      </div>

      <div
        :class="{
          'banner-d__description': !spoilerOpened,
          'banner-d__description--is-opened': spoilerOpened,
        }"
        @click="spoilerOpened = !spoilerOpened"
      >
        <div>
          {{ $t('popovers.cookieBanner.description') }}
          <WLink
            color="black"
            href="/docs/privacy_policy.pdf"
            target="_blank"
            >{{ $t('popovers.cookieBanner.privacyPolicy') }}</WLink
          >.
          {{ $t('popovers.cookieBanner.declineDescription') }}
        </div>
      </div>

      <button class="banner-d__button" @click="sendAgreement">
        {{ $t('popovers.cookieBanner.allow') }}
      </button>
    </section>
    <CookieBanner v-if="window.width <= 375" />
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import cookieConsts from '~/utils/cookieConsts'

export default {
  name: 'CookieBannerDesktop',

  components: {
    WLink: () => import('~/components/common/WLink'),
    CookieBanner: () => import('~/components/common/popovers/CookieBanner'),
  },

  data: () => ({
    spoilerOpened: false,
    window: {
      width: 0,
    },
  }),

  mounted() {
    window.addEventListener('resize', this.handleResize)
    window.addEventListener('scroll', this.handleScroll)
    this.handleResize()
  },
  beforeDestroy() {
    window.removeEventListener('resize', this.handleResize)
    window.removeEventListener('scroll', this.handleScroll)
  },

  methods: {
    handleScroll() {
      if ( !this.$refs.banner )
        return
      if(window.innerHeight < 692) {
        this.$refs.banner.style.top = "auto"
        this.$refs.banner.style.bottom = "0%"
      } else {
        this.$refs.banner.style.top = "43%"
        this.$refs.banner.style.bottom = "auto"
      }
    },
    handleResize() {
      var w = Math.max(document.documentElement.clientWidth, window.innerWidth || 0);

      this.window.width = w
    },

    ...mapActions({ toggleBanner: 'popovers/TOGGLE_BANNER' }),

    closeBanner() {
      this.toggleBanner()
    },

    async sendAgreement() {
      this.$cookies.set(cookieConsts.isCookieAccepted, true, {
        maxAge: 60 * 60 * 24 * 30,
        path: '/',
      })

      this.closeBanner()
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';
.banner-d {
  $custom-gray: #c6c7c8;

  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 1200;
  right: 0;
  /*bottom: 26%;*/
  top: 43%;
  background-color: #fff;
  box-shadow: 0 3px 30px 0 rgba(198, 199, 200, 0.2);
  max-width: 444px;
  padding: 17px 16px 27px 32px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 51px;
  }

  .banner-d__description {
    max-height: 159px;
    overflow: hidden;
    position: relative;
    font-size: 14px;
    line-height: 1.29;
    margin: 11px 0 20px 0;
    &:after {
      pointer-events: none;
      position: absolute;
      content: '';
      width: 100%;
      height: 50%;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0), white);
      bottom: 0;
      left: 0;
      right: 0;
    }
    &--is-opened {
      font-size: 14px;
      line-height: 1.29;
      max-height: none;
      margin: 11px 0 20px 0;
      animation-duration: 1s;
      animation-name: openin;
    }
  }

  &__button {
    color: $blue;
    font-weight: bold;
    display: flex;
    justify-content: left;
  }

  .close {
    position: static;
    color: $custom-gray;
    cursor: pointer;
    font-weight: bold;
  }
}

@keyframes openin {
  from {
    opacity: 0;
    max-height: 159px;
  }

  50% {
    max-height: 270px;
    opacity: 0;
  }

  to {
    opacity: 1;
    max-height: none;
  }
}
</style>
