<template>
  <div class="banner">
    <div class="banner__cookie-icon">
      <Icon src="icons/cookie.svg" />
    </div>
    <div
      :class="{ 'is-opened': spoilerOpened }"
      class="banner__content spoiler"
    >
      <div class="spoiler__content content">
        <p>
          {{ $t('popovers.cookieBanner.description') }}
          <WLink
            color="black"
            href="/docs/privacy_policy.pdf"
            target="_blank"
            >{{ $t('popovers.cookieBanner.privacyPolicy') }}</WLink
          >.
          {{ $t('popovers.cookieBanner.declineDescription') }}
        </p>
      </div>
      <div class="spoiler__toggler" @click="spoilerOpened = true">
        <Icon src="icons/caret-down.svg" class="icon" />
      </div>
    </div>
    <div class="banner__actions actions">
      <div class="actions__btn">
        <Button no-arrow class="btn" @click="sendAgreement">
          {{ $t('popovers.cookieBanner.allow') }}
        </Button>
      </div>
      <div class="actions__close">
        <div
          class="close popover-close-button ww-icn-cross"
          @click="closeBanner"
        />
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import cookieConsts from '~/utils/cookieConsts'

export default {
  name: 'CookieBanner',

  components: {
    Icon: () => import('~/components/common/Icon'),
    WLink: () => import('~/components/common/WLink'),
    Button: () => import('~/components/common/buttons/Button'),
  },

  data: () => ({
    spoilerOpened: false,
    window: {
      width: 0,
    },
  }),

  created() {
    window.addEventListener('resize', this.handleResize)
    this.handleResize()
  },
  destroyed() {
    window.removeEventListener('resize', this.handleResize)
  },

  methods: {
    handleResize() {
      this.window.width = window.innerWidth
    },

    ...mapActions({ toggleBanner: 'popovers/TOGGLE_BANNER' }),

    closeBanner() {
      this.toggleBanner()
    },

    async sendAgreement() {
      this.$cookies.set(cookieConsts.isCookieAccepted, true, {
        maxAge: 60 * 60 * 24 * 30,
        path: '/',
      })

      this.closeBanner()
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.banner {
  $custom-gray: #c6c7c8;

  background: #fff;
  box-shadow: 0 3px 30px 0 rgba(198, 199, 200, 0.2);
  padding: ($base * 4) ($base * 6) ($base * 2.5) ($base * 4.625);

  display: flex;
  align-items: center;

  position: fixed;
  z-index: 1200;
  right: 0;
  bottom: 0;
  left: 0;
  @media (min-width: $sideShow) {
    left: $ww-side-width-1;
  }
  @media (min-width: $desktopHDp) {
    left: $ww-side-width;
  }

  &__cookie-icon {
    color: $custom-gray;
    flex: 0 0;
    align-self: flex-start;

    .icon {
      width: $base * 6;
      height: $base * 6;
    }
  }

  &__content {
    margin-left: $base * 3.375;
    margin-right: $base * 2.375;

    flex: 1 1;
  }

  &__actions {
  }

  .content {
    @include text(1.75);
    line-height: $base * 2.25;

    > * {
      margin: 0;
    }
  }

  .actions {
    display: flex;
    align-items: center;

    &__btn {
      flex: 1 1;

      .btn {
        width: $base * 40;
        margin: 0 ($base * 7);
      }
    }
    &__close {
      flex: 0 0;
    }
  }

  .link {
    text-decoration: underline;
  }
  .btn {
    height: $base * 6;
    padding: ($base * 0.5) ($base * 1.5) 0;
    white-space: nowrap;
  }
  .close {
    position: static;
    color: $custom-gray;
    padding: $base * 2;
  }

  .spoiler {
    &__content {
    }
    &__toggler {
      display: none;
    }
  }

  @media (max-width: $sideShow) {
    .actions {
      .btn {
        width: $base * 30;
        margin: 0 ($base * 3);
      }
    }
  }
  @media (max-width: $desktopHD) {
    .actions {
      .btn {
        width: auto;
      }
    }
  }
  @media (max-width: $desktopSD) {
    $padding: $base * 3.5;
    padding: $padding;

    flex-direction: column;
    overflow: hidden;

    &__cookie-icon {
      position: absolute;
      z-index: 0;
      top: $base * 6;
      left: -($base * 3);
      opacity: 0.4;

      .icon {
        width: $base * 11.5;
        height: $base * 11.5;
      }
    }

    &__content {
      margin: 0 0 ($base * 1.5);
    }

    &__actions {
      width: 100%;
    }
    .actions {
      .btn {
        margin: 0;
        width: 100%;
      }
      .close {
        padding-right: 0;
      }
    }

    .spoiler {
      &__content {
        max-height: $base * 14.25;
        overflow: hidden;
      }
      &__toggler {
        $height: $base * 7;
        height: $height;
        margin: (-$height) (-$padding) 0;

        cursor: pointer;
        color: $blue;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        position: relative;
        background-image: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0),
          #ffffff
        );

        .icon {
          width: 10px;
          height: 7px;
        }
      }

      &.is-opened {
        .spoiler__content {
          max-height: none;
        }
        .spoiler__toggler {
          display: none;
        }
      }
    }
  }
}
</style>
