<template>
  <ModalContainer noScroll>
    <div class="edit-modal">
      <slot />
      <span
          class="edit-modal__close-button ww-icn-cross"
          @click="$emit('close')"
      ></span>
    </div>
  </ModalContainer>
</template>

<script>
import ModalContainer from '~/components/common/popovers/ModalContainer'

export default {
  components: {
    ModalContainer,
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.edit-modal {
  height: 100%;
  width: 100%;
  box-shadow: 0 3px 30px 0 rgba(0, 112, 255, 0.1);
  background-color: #f8f9fa;
  padding: 48px 16px 0 16px;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;

  @media (min-width: $desktopSD) {
    max-width: 70%;
  }

  &:after {
    content: '';
    height: 48px;
    display: block;
  }

  &__close-button {
    font-size: 24px;
    position: absolute;
    right: 32px;
    top: 32px;
    color: $black-gray;
    cursor: pointer;

    &:hover{
      color: $blue;
    }
  }
}
</style>