<i18n>
  {
  "ru":
    {
      "caption": "Это ваше событие?",
      "placeholder": {
        "name": "Имя",
        "email": "Электронная почта",
        "phone": "Телефон",
        "message": "Сообщение (опционально)"
      },
      "send": "отправить",
      "message" : {
        "error": "Заполните все обязательные поля",
        "success": "Спасибо, наш сотрудник свяжется с вами в ближайшее время!"
      }
    },
  "en":
    {
      "caption": "Is this your event?",
      "placeholder": {
        "name": "Name",
        "email": "Email",
        "phone": "Phone",
        "message": "Message (optional)"
      },
      "send": "send",
      "message" : {
        "error": "Fill in all required fields",
        "success": "Thank you, our client manager will contact you shortly!"
      }
    },
  "es":
    {
      "caption": "Es tu evento?",
      "placeholder": {
        "name": "Nombre",
        "email": "Correo electrónico",
        "phone": "Teléfono",
        "message": "Mensaje (opcional)"
      },
      "send": "Enviar",
      "message" : {
        "error": "Fill in all required fields",
        "success": "Thank you, our client manager will contact you shortly!"
      }
    }
  }
</i18n>

<template>
  <div class="popover">
    <button
      aria-label="close"
      class="close-button wrapper"
      @click="togglePopover('')"
    >
      <span class="ww-icn-cross"></span>
    </button>
    <div class="wrapper">
      <form class="form">
        <h2 class="title">{{ $t('caption') }}</h2>
        <div>
          <CustomInput
            v-model="name"
            type="user"
            :placeholder="$t('placeholder.name')"
            :error="$v.name.$error"
          />
          <MailInput
              v-model="email"
              :placeholder="$t('placeholder.email')"
              :error="$v.email.$error"
              icon
          />
          <CustomInput
            v-model="phone"
            type="tel"
            :placeholder="$t('placeholder.phone')"
            :error="$v.phone.$error"
          />
        </div>

        <textarea
          v-model="message"
          aria-label="message"
          :placeholder="$t('placeholder.message')"
          class="message"
        />

        <Button :disabled="loading" invert class="button" @click="btnHandler">
          {{ $t('send') }}
        </Button>
      </form>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import { email, required } from 'vuelidate/lib/validators'
import { phone } from '~/utils/validators'

export default {
  components: {
    Button: () => import('~/components/common/buttons/Button'),
    CustomInput: () => import('./Input'),
    MailInput: () => import('~/components/common/input/MailInput'),
  },
  data() {
    return {
      name: '',
      email: '',
      phone: '',
      message: '',
      loading: false,
    }
  },
  validations: {
    name: { required },
    email: { required, email },
    phone: { required, phone },
  },
  methods: {
    ...mapActions({
      showError: 'notifications/error',
      showSuccess: 'notifications/success',
      sendRequest: 'events/session/REQUEST',
      togglePopover: 'popovers/TOGGLE_POPOVER',
    }),
    async btnHandler() {
      this.$v.$touch()
      if (this.$v.$error) {
        this.showError(this.$t('message.error'))
      } else {
        const { message, name, email, phone } = this

        try {
          this.loading = true
          await this.sendRequest({
            action: 1,
            ...(message && { message }),
            name,
            email,
            phone,
          })
          this.showSuccess(this.$t('message.success'))
          this.togglePopover('')
        } catch (e) {
        } finally {
          this.loading = false
        }
      }
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';
@import '~/assets/css/popover.scss';

.popover {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba($blue, 0.95);

  .close-button {
    position: absolute;
    top: 32px;
    right: 0;
    color: white;
    font-size: 24px;
    background-color: transparent;
  }
  .form {
    display: grid;
    grid-template-columns: minmax(auto, 560px);
    grid-row-gap: 24px;
    @media (min-width: $desktopHD) {
      display: grid;
      grid-template-columns: repeat(2, minmax(auto, 560px));
      grid-column-gap: 16px;
      grid-row-gap: 48px;

      .title,
      .button {
        grid-column: 1 / 3;
        justify-self: center;
        text-align: center;
        max-width: 560px;
      }
    }

    .title {
      color: white;
      @include text(4);
      @media (min-width: $desktopHD) {
        @include text(6);
      }
    }

    .message {
      height: 100%;
      width: 100%;
      resize: none;
      min-height: 196px;
      padding: 16px 24px;
      @include text(2);
    }
  }
}
</style>
