<template>
  <div class="pre-loader-outside">
    <Loader />
  </div>
</template>

<script>
export default {
  name: 'GlobalPreloader',

  components: {
    Loader: () => import('~/components/common/Loader'),
  },
}
</script>

<style scoped>
.pre-loader-outside {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 8001;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: rgba(122, 122, 122, 0.5);
}
</style>
