<template>
  <label class="input" :class="variants">
    <input
        :autocomplete="autocomplete"
        class="input__field"
        :type="inputType"
        :placeholder="placeholder"
        :value="value"
        :required="required"
        :style="styles"
        @input="$emit('input', $event.target.value)"
        @keydown="$emit('keydown', $event)"
        @keyup="$emit('keyup', $event)"
        @blur="$emit('blur', $event)"
    />
    <span class="input__icon" :class="iconClass" @click="handlerButton">
      <Icon v-if="type === 'user'" src="icons/user.svg" size="m"/>
    </span>
  </label>
</template>

<script>
export default {
  components: { Icon: () => import('~/components/common/Icon') },
  props: {
    autocomplete: {
      type: String,
      default: '',
    },
    error: {
      type: Boolean,
      default: false,
    },
    value: String,
    placeholder: String,
    type: {
      type: String,
      validator: v => ~['password', 'text', 'email', 'user', 'tel'].indexOf(v),
    },
    required: {
      type: Boolean,
      default: false,
    },
    styles: String,
    variant: {
      type: String,
      default: '',
    },
  },

    data() {
      return {
        inputType: this.type !== 'email' && this.type,
      }
    },

  computed: {
    iconClass() {
      return {
        'ww-icn-eye-o': this.type === 'password' && this.inputType === 'text',
        'ww-icn-eye-stroke-o':
          this.type === 'password' && this.inputType === 'password',
        'ww-icn-envelope-o': this.type === 'email',
        // 'input__icon--user': this.type === 'user',
        'ww-icn-phone-o': this.type === 'tel',
      }
    },
    variants() {
      return {
        'input--error': this.error,
        [`input--${this.variant}`]: this.variant,
      }
    },
  },
  methods: {
    handlerButton() {
      if (this.type !== 'password') return
      this.inputType = this.inputType === 'password' ? 'text' : 'password'
    },
  },
}
</script>

<style lang="scss" scoped>
  @import '~/assets/css/variables.scss';

  .input {
    position: relative;
    display: flex;
    flex-direction: row;
    border: $blue solid 1px;
    box-shadow: none;

    &.input--simple {
      border: 2px solid #f8f9fa;

      &.input--error {
        border: 2px solid $red;
      }

      &.input--error::before {
        content: none;
      }

      .input__field:focus {
        box-shadow: none;
      }
    }

    &--error {
      .input__icon {
        color: $red;
      }
    }

    &--error {
      border: 2px solid $red;
    }

    &__field {
      padding-right: 64px;
      @include text(2);
      @media (min-width: 768px) {
        padding-right: 84px;
        @include text(3);
        height: 72px;
      }
    }

    &__icon {
      position: absolute;
      display: flex;
      align-items: center;
      height: 100%;
      cursor: pointer;
      color: $blue;
      line-height: 0.5;
      @include text(2);
      right: 16px;
      @media (min-width: 768px) {
        @include text(3);
        right: 24px;
      }

      &:before {
        height: 100%;
        display: flex;
        align-items: center;
      }

      &:active {
        transform: scale(1.2, 1.2);
      }
    }
  }
</style>
