<template>
  <div class="popover" @keyup.esc="togglePopover('')">
      <div class="content">
        <div class="popover-close">
          <button
              v-tooltip.auto="$t('popovers.close')"
              type="button"
              class="ww-icn-cross"
              @click="togglePopover('')"
          />
        </div>

        <h2 class="header">{{ $t('auth.loginWith') }}</h2>
        <div class="social">
          <AuthButton
              variant="google"
              path="/profile?page=marketplace"
              class="soc-btn button-google"
              @click="preSocialLogin"
          >
            <div class="soc-btn__icon google"></div>
            <div class="soc-btn__text">{{$t('auth.social.google')}}</div>
          </AuthButton>
          <AuthButton
              variant="fb"
              path="/profile?page=marketplace"
              class="soc-btn button-fb"
              @click="preSocialLogin"
          >
            <div class="soc-btn__icon fb"></div>
            <div class="soc-btn__text">{{$t('auth.social.fb')}}</div>
          </AuthButton>
          <AuthButton
              v-if="lang === 'ru'"
              variant="vk"
              path="/profile?page=marketplace"
              class="soc-btn button-vk"
              @click="preSocialLogin">
            <div class="soc-btn__icon vk"></div>
            <div class="soc-btn__text">{{$t('auth.social.vk')}}</div>
          </AuthButton>
        </div>

        <form class="email" @submit.prevent="submitHandler">
          <p class="email-label">{{ $t('auth.or') }}</p>
          <MailInput
              v-model="email"
              :placeholder="$t('auth.email')"
              required
              icon
              styles="height: 56px; font-size: 16px; font-weight: bold; line-height: 24px;"
          />
          <button type="submit" class="submit">
            {{ $t('auth.register') }}
          </button>
        </form>

        <p class="has-account">
          {{$t('auth.hasAccount')}}
          <span class="login" @click="login">{{$t('auth.login')}}</span>
        </p>
      </div>
  </div>
</template>

<script>
  import popConsts from '~/utils/popoverConsts'
  import { mapActions, mapGetters } from 'vuex'
  import { email, required } from 'vuelidate/lib/validators'



  export default {
    components: {
      AuthButton: () => import('~/components/common/buttons/AuthButton'),
      MailInput: () => import('~/components/common/input/MailInput'),
    },
    data() {
      return {
        email: '',
        hasError: false,
      }
    },
    computed: {
      ...mapGetters({
        registrationServerErrors: 'auth/NEW_REGISTRATION_ERRORS',
        registrationData: 'auth/NEW_REGISTRATION_DATA',
      }),
      popovers: () => popConsts,
      lang() {
        return this.$i18n.locale;
      },
      error() {
        return {
          email: {
            client: this.$v.email,
            server: this.registrationServerErrors.email,
          },
        }
      },

    },
    validations: {
      email: { required, email },
    },

    mounted() {
      this.hasError = this.registrationServerErrors.email ? true : false
      this.email = this.registrationData.email ? this.registrationData.email : ''
    },
    methods: {
      ...mapActions({
        togglePopover: 'popovers/TOGGLE_POPOVER',
        newRegistrationData: 'auth/NEW_REGISTRATION_DATA',
      }),
      async preSocialLogin(e) {
        const isCookieAccepted = await this.$store.dispatch(
          'user/CHECK_COOKIE_IS_ACCEPTED',
        )

        if (!isCookieAccepted) e.preventDefault()
      },
      submitHandler() {
        this.$v.$touch()
        if (this.$v.$error) {
          this.hasError = true
        } else {
          this.hasError = false
          const data = {
            email: this.email,
          }
          this.newRegistrationData(data)
          this.$store.dispatch('popovers/TOGGLE_POPOVER', popConsts.newSignUp)
        }
      },
      login() {
        this.togglePopover(popConsts.auth)
      },

    },
  }
</script>

<style lang="scss">
  .popover {
    left: 0!important;
  }
  .email {
    .new-input__icon{
      color: #d6dbe0;
    }
  }
</style>

<style lang="scss" scoped>
  @import '~/assets/css/variables.scss';
  .popover {
    height: 100%;
    width: inherit;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    @media(max-width: $desktopSD) {
      justify-content: normal;
    }
    .content {
      position: relative;
      padding: 47px 120px;
      box-shadow: 0 3px 40px 0 rgba(0, 112, 255, 0.2);
      background-color: #f8f9fa;
      @media(max-width: $desktopSD) {
        padding: 47px 80px;
        margin-top: 80px;
      }
      @media(max-width: 480px) {
        padding: 47px 20px;
        width: 100%;
        height: 800px;
        margin-top: 0;
      }
      .popover-close{
        position: absolute;
        right: 24px;
        top: 24px;
        font-size: 16px;
        button{
          color: #c6c7c8;
          padding: 0;
        }
        &:active {
          transform: scale(1.2, 1.2);
        }
      }
      .header {
        font-size: 32px;
        font-weight: bold;
        line-height: 40px;
        margin-bottom: 17px;
      }
      .social {
        max-width: 416px;
        display: flex;
        flex-flow: wrap;
        margin-bottom: 33px;
        @media(max-width: $desktopSD) {
          max-width: 100%;
        }
        @media(max-width: 520px) {
         flex-direction: column;
        }
      }
      .soc-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 54px;
        width: 200px;
        background-color: #3b5998;
        color: #fff;
        padding: 1rem;
        @media(max-width: $desktopSD) {
          width: 45%;
        }
        @media(max-width: 520px) {
          width: 100%;
          margin-bottom: 20px;
        }
        &:hover {
          box-shadow: 0 0 0 1px #0070ff;
        }
        &:first-child {
          margin-right: 16px;
          margin-bottom: 16px;
          background-color: #fff;
          color: #000;
        }
      }

      .soc-btn {
        &__icon {
          height: 24px;
          width: 24px;
          background: transparent;
          display: flex;


          &::before {
            content: '';
            background-size: contain;
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
          }

          &.google {
            margin-right: 30px;
            &::before {
              background: url('~static/social/google.svg');
            }
          }

          &.fb {
            margin-right: 20px;
            &::before {
              background: url('~static/social/facebook.svg');
              width: 12px;
            }
          }
          &.vk {
            margin-right: 20px;
            &::before {
              background: url('~static/social/vk.svg');
            }
          }
        }
        &__text {
          font-size: 16px;
          font-weight: bold;
          line-height: 24px;
        }
      }
      .button-fb {
        background-color: #3b5998;
      }
      .button-vk {
        background-color: #44678d;
      }
      .email {
        .email-label {
          font-size: 16px;
          font-weight: normal;
          line-height: 24px;
          margin-top: 0;
          margin-bottom: 8px;
        }
        .submit {
          width: 100%;
          height: 56px;
          margin-top: 24px;
          background-color: $blue;
          color: #ffffff;
          font-size: 18px;
          font-weight: bold;
          line-height: 24px;
        }
      }
      .error {
        color: red;
      }
      .has-account {
        font-size: 16px;
        font-weight: normal;
        line-height: 24px;
        .login {
          text-transform: lowercase;
          color: #0070ff;
          cursor: pointer;
        }
      }
    }
  }
</style>