<template>
  <section class="modal-container" :class="{
    'modal-container--no-scroll': noScroll
  }">
    <slot></slot>
  </section>
</template>

<script>
export default {
  name: 'ModalContainer',

  props: {
    noScroll: Boolean,
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.modal-container {
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1100;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $desktopSD) {
    padding: 8px;
  }

  @media (min-width: $desktopHD) {
    padding: 16px;
  }

  &--no-scroll {
    overflow: hidden;
  }
}
</style>
