<template>
  <div class="container">
    <transition-group name="list" tag="div">
      <div
        v-for="msg in messages"
        :key="msg.id"
        class="notification"
        :class="msg.type"
        @click="check(msg.id)"
      >
        <div>
          <span v-if="msg.type === 'success'" class="ww-icn-check"></span>
          {{ msg.text }}
        </div>
        <a class="ww-icn-cross"></a>
      </div>
    </transition-group>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'Notification',
  computed: {
    ...mapGetters('notifications', ['messages']),
  },
  methods: {
    ...mapActions('notifications', ['check']),
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.container {
  position: fixed;
  left: 224px;
  right: 72px;
  top: 104px;
  z-index: 1200;

  @media (max-width: $sideShow) {
    left: 16px;
    right: 16px;
    top: 72px;
  }

  .notification {
    display: grid;
    grid-template-columns: auto 24px;
    grid-gap: 24px;
    width: 100%;

    padding: 17px 32px;
    margin-bottom: 16px;
    @include text(3);

    @media (max-width: 375px) {
      padding: 8px 8px;
      margin-bottom: 8px;
      @include text(2);
    }

    .ww-icn-check {
      color: #41d167;
      margin-right: 15px;
      @include text(2);
    }
    a {
      cursor: pointer;
    }
  }

  .error {
    color: white;
    background: $red;
    box-shadow: 0 3px 30px 0 rgba(245, 0, 82, 0.3);
  }

  .success {
    background: white;
    box-shadow: 0 3px 30px 0 rgba(65, 209, 103, 0.2);
  }
}

.list-enter-active {
  transition: all 0.5s;
}
.list-leave-active {
  transition: all 0.3s;
}
.list-enter {
  opacity: 0;
  transform: translateY(-80px);
}
.list-leave-to {
  opacity: 0;
}
.list-move {
  transition: transform 0.5s;
}
</style>
