<template>
  <div class="popover">
    <div class="payment-success">
      <div class="popover-close-button">
        <button
          v-tooltip.auto="$t('popovers.close')"
          class="ww-icn-cross"
          @click="closePopover"
        ></button>
      </div>

      <img class="payment-success__image" src="~static/payment_success.svg" />
      <p class="payment-success__title">
        {{ $t('popovers.paymentSuccess.thankYou') }}
      </p>
      <p class="payment-success__desc">
        <template v-if="status === 'request'">
          {{ $t('popovers.paymentSuccess.descStatusRequest') }}
        </template>
        <template v-else-if="status === 'pending'">
          {{ $t('popovers.paymentSuccess.descStatusPending') }}
        </template>
        <template v-else-if="status === 'free'">
          {{ $t('popovers.paymentSuccess.descStatusFree') }}
        </template>
        <template v-else>
          {{ $t('popovers.paymentSuccess.desc') }}
        </template>
      </p>
      <Button
        class="payment-success__button"
        noArrow
        noHover
        inlineColor="#fff"
        @click="closePopover"
      >
        {{ $t('popovers.paymentSuccess.hooray') }}
      </Button>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapMutations, mapActions } from 'vuex'

export default {
  name: 'PaymentSuccessPopover',

  components: {
    Button: () => import('~/components/common/buttons/Button'),
  },

  computed: {
    ...mapGetters('popovers', ['POPOVER_DATA']),

    status() {
      const { status } = this.POPOVER_DATA || {}
      return status
    },
  },

  methods: {
    ...mapMutations('popovers', ['SET_POPOVER_DATA']),
    ...mapActions('popovers', ['TOGGLE_POPOVER']),

    closePopover() {
      this.SET_POPOVER_DATA(null)
      this.TOGGLE_POPOVER()
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';
@import '~/assets/css/popover.scss';

.payment-success {
  background: $blue;
  opacity: 0.95;
  color: #fff;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;

  &__image {
    width: 79px;
    margin-bottom: 40px;
  }

  &__title {
    @include text(8);
    margin: 0;
    text-align: center;
    margin-bottom: 8px;
  }

  &__desc {
    @include text(3);
    margin: 0;
    max-width: 784px;
    text-align: center;
    margin-bottom: 42px;
  }

  &__button {
    max-width: 240px;
  }
}
</style>
