<template>
  <div class="popover">
    <div class="payment-error">
      <div class="popover-close-button">
        <button
          v-tooltip.auto="$t('popovers.close')"
          class="ww-icn-cross"
          @click="closePopover"
        ></button>
      </div>

      <img class="payment-error__image" src="~static/payment_error.svg" />
      <p class="payment-error__title">
        {{ $t('popovers.paymentError.errorTitle') }}
      </p>
      <p class="payment-error__desc">
        <span v-html="$t('popovers.paymentError.errorDesc')" />
        <a class="payment-error__email" href="mailto:support@whatwhere.world">
          support@whatwhere.world
        </a>
      </p>
      <Button
        class="payment-error__button"
        noArrow
        noHover
        inlineColor="#fff"
        @click="onBtnClick"
      >
        {{ $t('popovers.paymentError.tryAgain') }}
      </Button>
    </div>
  </div>
</template>

<script>
import { prop } from 'ramda'
import { mapActions, mapMutations, mapGetters } from 'vuex'

export default {
  name: 'PaymentErrorPopover',

  components: {
    Button: () => import('~/components/common/buttons/Button'),
  },

  computed: {
    ...mapGetters('popovers', ['POPOVER_DATA']),

    tryAgainRoute() {
      return prop(['tryAgainRoute'], this.POPOVER_DATA)
    },
  },

  methods: {
    ...mapMutations('popovers', ['SET_POPOVER_DATA']),
    ...mapActions('popovers', ['TOGGLE_POPOVER']),

    onBtnClick() {
      if (this.tryAgainRoute) {
        this.$router.push(this.tryAgainRoute)
      }
      this.closePopover()
    },

    closePopover() {
      this.TOGGLE_POPOVER()
      this.SET_POPOVER_DATA(null)
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';
@import '~/assets/css/popover.scss';

.payment-error {
  background: $red;
  opacity: 0.95;
  color: #fff;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;

  &__image {
    width: 84px;
    margin-bottom: 32px;
  }

  &__title {
    @include text(4);
    margin: 0;
    text-align: center;
    margin-bottom: 8px;

    @media (min-width: 768px) {
      @include text(8);
    }
  }

  &__desc {
    @include text(2);
    margin: 0;
    max-width: 784px;
    text-align: center;
    margin-bottom: 48px;

    @media (min-width: 768px) {
      @include text(3);
    }
  }

  &__button {
    max-width: 320px;
  }

  &__email {
    text-decoration: underline;
  }
}
</style>
