<template xmlns:v-copy="http://www.w3.org/1999/xhtml">
  <div class="popover-share">
    <div class="popover-close-button">
      <button
        v-tooltip.auto="$t('popovers.close')"
        class="ww-icn-cross"
        @click="closePopoverShare"
      ></button>
    </div>
    <h2>{{ $t('popovers.share.title') }}</h2>
    <div class="popover-share__buttons">
      <SocialButton
        v-if="showFB"
        class="share-button"
        variant="fb"
        large
        @click="fbShareHandler"
      />
      <SocialButton
        class="share-button"
        variant="vk"
        large
        @click="vkShareHandler"
      />
      <SocialButton
        class="share-button"
        variant="tw"
        large
        @click="twShareHandler"
      />
    </div>

    <label class="popover-share__link input-block input-block_copy">
      <transition name="fadecopy" mode="out-in">
        <input
          :key="showInInput"
          v-model="showInInput"
          class="input-block__input"
          readonly
          type="url"
          name=""
        />
      </transition>
      <span
        v-copy="link"
        v-copy:callback="handleCopy"
        v-tooltip.auto="$t('popovers.copyShareLink')"
        class="input-block__icon ww-icn-copy-o"
      ></span>
    </label>
  </div>
</template>

<script>
import { copy } from 'v-copy'
import { mapGetters, mapActions } from 'vuex'

export default {
  components: {
    SocialButton: () => import('~/components/common/buttons/SocialButton'),
  },

  directives: {
    copy,
  },

  data: () => ({
    link: '',
    showInInput: '',
    showFB: false,
  }),

  computed: {
    ...mapGetters({
      popoverShareLink: 'popovers/SHARE_LINK',
    }),
  },

  beforeMount() {
    this.showFB = !!window.FB
  },

  mounted() {
    const { href, origin } = window.location

    this.link = this.popoverShareLink ? origin + this.popoverShareLink : href
    this.showInInput = this.popoverShareLink
      ? origin + this.popoverShareLink
      : href

    if (this.showFB && window.FB) {
      window.FB.init({
        appId: 2044640165831513,
        status: true,
        xfbml: true,
        cookie: true,
        version: 'v3.1',
      })
    }
  },
  beforeDestroy() {
    this.setPopoverShareLink('')
  },
  methods: {
    ...mapActions({
      setPopoverShareLink: 'popovers/SET_POPOVER_SHARE_LINK',
    }),
    handleCopy() {
      this.showInInput = this.$t('popovers.share.copied')
      setTimeout(() => (this.showInInput = this.link), 2000)
    },
    closePopoverShare() {
      this.$store.dispatch('popovers/TOGGLE_POPOVER', '')
    },
    vkShareHandler() {
      const url = `https://vk.com/share.php?url=${this.link}`

      window.open(
        url,
        '',
        'left=0,top=0,width=650,height=570,personalbar=0,toolbar=0,scrollbars=0,resizable=0',
      )
    },
    fbShareHandler() {
      const url = this.link
      const hashtag = 'whatwhere'
      window.FB &&
        window.FB.ui({
          url: url,
          method: 'share',
          href: url,
          hashtag: '#' + hashtag,
          redirect_ur: url,
          display: 'popup',
        })
    },
    twShareHandler() {
      const title = document.head.querySelector('[property="og:title"]').content
      const url = this.link
      const hashtag = 'whatwhere'
      let tweeterShareURL = 'http://twitter.com/share?'
      const params = {
        url: url,
        text: title,
        via: 'whatWhere',
        hashtags: hashtag,
      }
      for (const prop in params) {
        tweeterShareURL += '&' + prop + '=' + encodeURIComponent(params[prop])
      }
      window.open(
        tweeterShareURL,
        '',
        'left=0,top=0,width=550,height=450,personalbar=0,toolbar=0,scrollbars=0,resizable=0',
      )
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';
.fadecopy-enter-active,
.fadecopy-leave-active {
  transition: opacity 0.25s;
}
.fadecopy-enter,
.fadecopy-leave-to {
  opacity: 0;
}
.popover-share {
  align-items: center;
  background-color: $gray;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  padding-top: 6 * $base;
  padding-bottom: 3 * $base;
  padding-left: 2 * $base;
  padding-right: 2 * $base;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  z-index: 20000;

  display: flex;
  flex-direction: column;
  justify-content: center;
  @media (min-width: $desktopHD) {
    padding-top: 0;
    padding-bottom: 0;
  }
  @media (min-width: $sideShow) {
    left: $ww-side-width-1;
    padding-left: $wrapper-padding-left - $ww-side-width-1;
    padding-right: $wrapper-padding-left;
  }
  @media (min-width: $desktopHDp) {
    left: $ww-side-width;
  }

  &__buttons {
    display: inline-flex;
    flex-wrap: wrap;
    margin: -$base;
    padding-top: 6.5 * $base;
  }

  &__link {
    margin: 7 * $base auto;
    max-width: 106 * $base;
    width: 100%;

    .input-block__input {
      @include text(3);
      padding-top: 3.25 * $base;
      padding-bottom: 2.75 * $base;
    }
  }

  .ww-icn-cross {
    color: $blue;
  }
}

.share-button {
  margin: $base;
  transition: 0.15s ease-out;

  &:hover,
  &:focus {
    transform: translateY(-2px);
  }
}

.input-block {
  @mixin icon($icon-size, $right) {
    .input-block__input {
      padding-right: 2 * $right + $icon-size;
    }

    .input-block__icon {
      font-size: $icon-size;
      right: $right;
    }
  }

  @mixin icon-interactive($icon-size, $right) {
    @include icon($icon-size, $right);

    .input-block__icon {
      cursor: pointer;
      transition: 0.25s ease-out;
    }
  }

  position: relative;

  &_plus {
    @include icon-interactive(4.5 * $base, 2 * $base);

    .input-block__icon {
      &:hover,
      &:focus {
        transform: translateY(-50%) scale(1.1);
      }
    }
  }

  &_eye {
    @include icon-interactive(3.25 * $base, 3 * $base);
  }

  &_user {
    @include icon(3.25 * $base, 2.875 * $base);
  }

  &_envelope {
    @include icon(3 * $base, 3 * $base);
  }

  &_copy {
    @include icon-interactive(4.5 * $base, 3 * $base);
  }

  &__icon {
    color: $blue;
    line-height: 0.5;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}
</style>
