<template>
  <div class="popover-menu">
    <div class="popover-close-button">
      <button
        v-tooltip.auto="$t('popovers.close')"
        class="ww-icn-cross"
        @click="closePopoverMenu"
      ></button>
    </div>

    <div class="popover-menu__main">
      <div class="popover-menu__items-container">
        <nuxt-link to="/events/" class="popover-menu__item">
          {{ $t('common.events') }}
        </nuxt-link>
        <nuxt-link to="/events/collections/" class="popover-menu__item">
          {{ $t('common.journals') }}
        </nuxt-link>
      </div>
      <div class="popover-menu__items-container">
        <nuxt-link v-only-auth:click to="/profile/" class="popover-menu__item">
          {{ $t('popovers.menu.profile') }}
        </nuxt-link>
        <div class="popover-menu__copyright">
          2017–{{ currentYear }} © WhatWhere.World <br />
          {{ $t('popovers.menu.ww') }}
        </div>
      </div>
    </div>
    <div class="popover-menu__side">
      <div class="popover-menu__items-container">
        <nuxt-link to="/about/" class="popover-menu__item">
          {{ $t('popovers.menu.about') }}
        </nuxt-link>
        <a :href="supportUrl" target="_blank" class="popover-menu__item">
          {{ $t('popovers.menu.help') }}
        </a>
        <!-- v-if is for hiding terms link on english version since terms_en.pdf is missing -->
        <a
          v-if="lang !== 'en'"
          :href="`/docs/terms_${lang}.pdf`"
          class="popover-menu__item"
          target="_blank"
        >
          {{ $t('popovers.menu.terms') }}
        </a>
        <a
          :href="`/docs/privacy_policy_${lang}.pdf`"
          class="popover-menu__item"
          target="_blank"
        >
          {{ $t('popovers.menu.pp') }}
        </a>
        <a
          :href="`/docs/ticket_purchase_agreement_${lang}.pdf`"
          class="popover-menu__item"
          target="_blank"
        >
          {{ $t('popovers.menu.ticketPurchaseAgreement') }}
        </a>
        <a
          :href="`/docs/ticketing_agency_agreement_${lang}.pdf`"
          class="popover-menu__item"
          target="_blank"
        >
          {{ $t('popovers.menu.ticketingAgencyAgreement') }}
        </a>
        <div class="popover-menu__info">
          {{ $t('popovers.menu.descr') }}
        </div>
        <a href="mailto:hello@whatwhere.world" class="popover-menu__item">
          {{ $t('popovers.menu.partner') }}
        </a>
      </div>
    </div>
    <div class="popover-menu__subscription">
      <label class="subscription-block subscription-block_transparent">
        <span class="subscription-block__text">
          {{ $tc('common.subscribeText', cityDecl) }}
        </span>
        <MailInput
            v-model="email"
            :placeholder="$t('common.emailPlaceholder')"
            :disabled="success"
            :class="{ 'error-input': error }"
            styles="height: 64px; border: none; font-size: 16px;"
            @keyup.enter.prevent="subscribeMail"
            @input="error = false"
        />
        <button
          class="subscription-block__button"
          type="button"
          name="button"
          :class="[success ? 'success-block' : 'ww-icn-arrow-right']"
          @click="subscribeMail"
        ></button>
      </label>
    </div>
  </div>
</template>

<script>
import popConsts from '~/utils/popoverConsts'

export default {
  components: {
    MailInput: () => import('~/components/common/input/MailInput'),
  },
  data() {
    return {
      email: '',
      success: false,
      error: false,
    }
  },
  computed: {
    isAuth() {
      return this.$store.getters['auth/IS_AUTH']
    },
    supportUrl() {
      const lang = this.$store.getters['lang/LANG']
      if (lang === 'ru') {
        return 'https://support.whatwhere.world/ru/'
      } else {
        return 'https://support.whatwhere.world/en/'
      }
    },
    currentYear() {
      const now = new Date()
      return now.getFullYear()
    },
    cityDecl() {
      return this.$store.getters['city/GET_CITY_DECL'](this.$i18n.locale)
    },
    lang() {
      return this.$i18n.locale;
    },
  },
  watch: {
    '$route.fullPath'(v, ov) {
      if (v !== ov) this.closePopoverMenu()
    },
  },
  methods: {
    openAuth() {
      this.$store.dispatch('popovers/TOGGLE_POPOVER', popConsts.auth)
    },
    subscribeMail(e) {
      e.preventDefault()
      if (this.email.length > 3 && !this.success) {
        this.$store
          .dispatch('subscribe/SUBSCRIBE_ALL', this.email)
          .then(response => {
            if (response.status === 200) {
              this.success = true
              this.error = false
            } else {
              this.error = true
            }
          })
      }
    },
    closePopoverMenu() {
      this.$store.dispatch('popovers/TOGGLE_POPOVER', '')
    },
  },
}
</script>

<style lang="scss">
@import '~/assets/css/variables.scss';

.popover-menu {
  background-color: $blue;
  bottom: 0;
  color: white;
  display: flex;
  flex-direction: column;
  left: 0;
  overflow-y: auto;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 105;
  height: 100%;

  @media (min-width: $sideShow) {
    left: $ww-side-width-1;
    display: grid;
    grid-template-columns: calc(7 / 12 * 100%) calc(5 / 12 * 100%);
    grid-template-rows: 1fr (28 * $base);
    .popover-close-button {
      display: none;
    }
  }
  @media (min-width: $desktopHDp) {
    left: $ww-side-width;
  }

  &__main {
    padding: 56px 10%;
    display: grid;
    grid-template-columns: 1fr;

    @media (min-width: $sideShow) {
      padding: 112px 15%;
      display: grid;
      grid-template-rows: min-content;
      grid-template-columns: 1fr 1fr;
      align-items: stretch;
    }
  }

  &__items-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: -#{$base} -#{2 * $base} 0;
    width: 100%;

    @media (min-width: $sideShow) {
      margin: -2 * $base;
    }

    &:not(:first-child) {
      padding-top: 2 * $base;

      @media (min-width: $sideShow) {
        padding-top: 0;
      }
    }
  }

  &__item {
    @include text(3);
    margin: $base 2 * $base;
    padding: 0;
    text-align: left;
    color: #fff;

    @media (min-width: $sideShow) {
      margin: 2 * $base;
    }

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  &__copyright {
    display: none;
    margin-top: auto;
    margin-left: 2 * $base;
    margin-bottom: 2.25 * $base;

    @media (min-width: $sideShow) {
      display: block;
    }
  }

  &__info,
  &__info + .popover-menu__item {
    background-color: $dark-blue;
    margin-left: -8px;
    margin-right: -40px;
    padding-left: 4 * $base;
    padding-right: 4 * $base;

    @media (min-width: $sideShow) {
      background-color: transparent;
      margin-left: 0;
      margin-right: 0;
      padding-left: 2 * $base;
      padding-right: 2 * $base;
    }
  }

  &__info {
    @include text(2);
    line-height: 2 * $base;
    margin-top: 4 * $base;
    padding-top: 3.5 * $base;

    @media (min-width: $sideShow) {
      margin-top: auto;
      margin-bottom: 3.5 * $base;
      padding-top: 0;
    }
  }

  &__info + .popover-menu__item {
    margin-top: 0;
    padding-top: 2.25 * $base;
    padding-bottom: 3 * $base;
    align-self: stretch;

    @media (min-width: $sideShow) {
      align-self: flex-start;
      margin-top: $base;
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  &__side {
    background-color: $light-blue;
    grid-row: span 2;
    padding: 32px 10% 8px;

    @media (min-width: $sideShow) {
      padding: 112px 15%;
    }

    .popover-menu__items-container {
      height: 100%;
    }

    .popover-menu__item {
      @include text(2);

      @media (min-width: $sideShow) {
        @include text(3);
      }
    }
  }

  &__subscription {
    @include text(2);
    padding: 32px 10%;

    @media (min-width: $sideShow) {
      background-color: $dark-blue;
      padding: 32px 15%;
    }
  }
}

.subscription-block {
  display: block;
  position: relative;
  background-color: rgba($blue, 0.8);
  margin: 3 * $base 0;

  &_shifted {
    margin-left: -16%;
    max-width: 51 * $base;
  }

  &_transparent {
    background-color: transparent;
  }

  &__text {
    display: block;
    color: white;
    margin-bottom: 1.5 * $base;
  }

  &__input {
    @include text(2);
    padding: (2 * $base) (7 * $base) (2 * $base) (2.5 * $base);
  }

  &__button {
    color: $blue;
    font-size: 3 * $base;
    height: 64px;
    width: 64px;
    padding: 0;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
.success-block {
  background: url('~static/success.svg') no-repeat center center/70%;
  color: $blue;
  @include text(3);
  height: 3 * $base;
  padding: 0;
  position: absolute;
  right: 3 * $base;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.15s ease-in;
  width: 30px;
  cursor: default;
  &:hover,
  &:focus {
    transform: translate(0, -50) !important;
  }
}
.error-input {
  border: 1px solid red;
}
</style>
