<template>
  <div class="popover" @keyup.esc="closePopoverPlace">
    <div class="popover__top">
      <div class="popover__wrapper">
        <div class="popover-close-button">
          <button
            v-tooltip.auto="$t('popovers.close')"
            class="ww-icn-cross"
            @click="closePopoverPlace"
          ></button>
        </div>

        <label for="place_popover_input" class="popover__place-label">
          {{ $t('popovers.place.selCity') }}
        </label>
      </div>
      <main class="popover__form">
        <div class="popover__input-block popover__input-block_place">
          <input
            id="place_popover_input"
            ref="cityinput"
            v-model="city"
            class="popover__input"
            type="text"
            :placeholder="getCity.name"
            @input="searchCity"
            @keypress.enter="handleEnterPress"
          />
        </div>
      </main>
    </div>
    <div class="popover__bottom">
      <div class="popover__wrapper">
        <div class="popover__places-container">
          <Loader v-show="loader" color="white" />
          <template v-if="localCitiesIsOpen">
            <div
              v-for="item in defaultCities.slice(0, 9)"
              :key="item.id"
              class="popover__place-item"
              @click="setCity(item)"
            >
              <span>{{ translate(item) }}</span>
            </div>
          </template>
          <a
            v-for="(item, id) in dataCities"
            :key="id"
            class="popover__place-item"
            :tabindex="0"
            @keypress.enter="setCity(item)"
          >
            <span @click="setCity(item)">
              {{ item | cityName }}
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { debounceEvent } from '~/utils'
import { mapActions, mapGetters } from 'vuex'
import { path, prop } from 'ramda'

const ifExist = xs => (xs.length ? xs : null)
const pickSource = (x, y) => ifExist(x) || ifExist(y)

export default {
  components: {
    Loader: () => import('~/components/common/Loader'),
  },
  filters: {
    cityName(city) {
      const isUSA = Number(path(['country', 'id'], city)) === 6252001
      const cityName = city.name || city.name_local
      const countryName = city.country.name || city.country.name_local
      return isUSA
        ? [cityName, city.region.code, countryName].join(', ')
        : [cityName, countryName].join(', ')
    },
  },
  data() {
    return {
      city: '',
      loader: false,
      dataCities: [],
      localCitiesIsOpen: true,
    }
  },
  computed: {
    ...mapGetters({
      defaultCities: 'country/TOP_CITIES',
      currentCountry: 'city/COUNTRY_ID',
      getCity: 'city/GET_CITY',
      isCityChangedFromTitle: 'city/CITY_CHANGED_FROM_TITLE',
    }),
    today() {
      return this.$moment.utc().format();
    },
    isCurrentPageMain() {
      return this.$route.name === 'city';
    },
  },
  async mounted() {
    this.focusInput()
    this.searchCity = debounceEvent(this.searchCity, 500)
    this.dataCities =
      prop(
        'results',
        await this.initCity({
          country:
            path(['country', 'id'], this.getCity) ||
            path(['country'], this.getCity),
          page_size: 9,
        }),
      ) || []
  },
  methods: {
    ...mapActions({
      initCity: 'cities/FETCH',
    }),
    handleEnterPress(e) {
      const s = pickSource(this.dataCities, this.defaultCities)
      const city = prop('0', s)
      if (city) {
        this.setCity(city)
      } else {
        e.preventDefault()
      }
    },
    focusInput() {
      this.$refs.cityinput.focus()
    },
    async searchCity(e) {
      this.localCitiesIsOpen = false
      if (this.city.length >= 3) {
        this.loader = true
        const { results } = await this.initCity({ search: this.city })
        this.dataCities = results
        this.loader = false
      }
    },
    async setCity(city) {
      if (!this.isCityChangedFromTitle) this.$store.commit('city/CHANGE_CITY_IN_POPOVER', true)
      this.$store.commit('city/SET_FINISH_CITY_CHANGE', false)

      await this.$store.dispatch('city/GET_CITY', city.id)

      this.closePopoverPlace()
      if (!this.isCityChangedFromTitle) {
        this.$cookies.set('userSelectedCity', city.id, { maxAge: 60*60*24*30, path: '/' })
        this.$cookies.set('citySelectionDate', this.today, { maxAge: 60*60*24*30, path: '/' })
      }

      if (this.isCurrentPageMain) this.$router.push(`/${city.url_id}/`)
      // document.location.reload(true) // TODO: change this to other way reload data on main page
    },
    closePopoverPlace() {
      this.$store.dispatch('popovers/TOGGLE_POPOVER', '')
    },
    translate(city) {
      if (this.$i18n.locale === 'ru') {
        return path(['translations', 'ru_ru', 'name'], city)
      } else {
        return path(['translations', 'en_us', 'name'], city)
      }
    },
    formatDate(date) {
      return this.$moment.locale() === 'ru'
        ? this.$moment(date).format('DD.MM.YYYY')
        : this.$moment(date).format('MM.DD.YYYY');
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';
@import '~/assets/css/popover.scss';
.popover__wrapper {
  display: flex;
  height: 100%;
  margin-left: 2 * $base;
  margin-right: 2 * $base;

  @media (min-width: $desktopHD) {
    margin-left: 0;
    margin-right: 0;
    padding-left: $wrapper-padding-left;
    padding-right: $wrapper-padding-right;
  }
}
.popover__places-container {
  width: 100%;
}
</style>
