<template>
  <div class="popover" @keyup.esc="togglePopover('')">
    <div
      class="popover__background--transparent"
      @click="togglePopover('')"
    ></div>
    <div class="popover__side">
      <form class="form" @submit.prevent="submitHandler">
        <div class="popover-close-button">
          <button
            v-tooltip.auto="$t('popovers.close')"
            class="ww-icn-cross"
            @click="togglePopover('')"
          ></button>
        </div>
        <h2 class="form__header">{{ $t('auth.restore.resetTitle') }}</h2>
        <p class="form__text">{{ $t('auth.restore.resetText') }}</p>
        <MailInput
            v-model="email"
            v-focus
            :error="Boolean(errorMessage)"
            :placeholder="$t('auth.email')"
            required
            icon
            class="form__input"
            @input="emitEmail"
            @keydown.enter="submitHandler"
        />
        <ul v-if="errorMessage" class="form__error-messages">
          <li class="form__error-message">
            {{ errorMessage }}
          </li>
        </ul>
        <Button invert type="submit" class="form__submit">
          {{ $t('auth.restore.reset') }}
        </Button>
        <button
          type="button"
          class="form__registration"
          @click="togglePopover(popovers.auth)"
        >
          {{ $t('auth.restore.resetRemember') }}
        </button>
      </form>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import popConsts from '~/utils/popoverConsts.js'

export default {
  components: {
    Button: () => import('~/components/common/buttons/Button'),
    MailInput: () => import('~/components/common/input/MailInput'),
  },
  data() {
    return {
      email: '',
      errorMessage: '',
    }
  },
  computed: {
    popovers: () => popConsts,
  },
  methods: {
    ...mapActions({
      togglePopover: 'popovers/TOGGLE_POPOVER',
    }),
    emitEmail() {
      this.$emit('input', { email: this.email })
    },
    async submitHandler() {
      this.errorMessage = ''
      try {
        await this.$store.dispatch('auth/RESET_PASSWORD', {
          email: this.email,
        })
        this.togglePopover('')
      } catch (exception) {
        exception && this.errorHandler(exception)
      }
    },

    errorHandler(errors) {
      Object.entries(errors).forEach(([key, value]) => {
        this.errorMessage = value.join ? value.join(' ') : value
      })
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.popover {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: inherit;
  background-color: $blue;

  @media (min-width: $desktopSD) {
    background-color: unset;
  }

  &__background--transparent {
    background-color: $blue;
    opacity: 0.5;
    flex: auto;
  }

  &__close-button {
    align-self: flex-end;
    color: white;
    @include text(3);
    &:active {
      transform: scale(1.2, 1.2);
    }
  }

  &__side {
    width: 100%;
    height: 100%;
    padding: 16px;
    background-color: $blue;
    opacity: 1;
    @media (min-width: $desktopSD) {
      margin-left: auto;
      width: 704px;
      padding: 40px 72px;
    }

    .form {
      display: flex;
      flex-direction: column;

      &__header {
        color: white;
      }
      &__text {
        color: white;
      }
      &__input {
        width: 100%;
      }
      &__error-message {
        margin-top: 16px;
      }
      &__submit {
        margin-top: 24px;
      }
      &__registration {
        margin-top: 24px;
        color: white;
      }
    }
  }
}
</style>
