<template>
  <div class="popover">
    <div class="search-widget">
      <div class="popover-close-button">
        <button
          v-tooltip.auto="$t('popovers.close')"
          class="ww-icn-cross"
          @click="closePopover"
        ></button>
      </div>

      <div class="search-widget__container">
        <h2 class="search-widget__title">
          {{ $t('popovers.searchWidget.selectWidget') }}
        </h2>

        <WidgetRadio
          v-model="widget"
          class="search-widget__variants"
          :items="widgetVariants"
        />

        <div class="search-widget__code">
          <span
            v-if="!isLoading"
            ref="code"
            class="search-widget__code-text"
            :class="{ 'search-widget__code-text--success': isCopied }"
            :style="[codeHeight && { height: `${codeHeight}px` }]"
            >{{ isCopied ? $t('popovers.searchWidget.copied') : code }}</span
          >
          <Loader v-else :margin="10" />
        </div>

        <Button
          v-copy="code"
          v-copy:callback="handleCopy"
          noArrow
          noHover
          inlineColor="#fff"
          >{{ $t('popovers.searchWidget.copyCode') }}</Button
        >
      </div>
    </div>
  </div>
</template>

<script>
import { copy } from 'v-copy'
import { mapActions, mapGetters } from 'vuex'
import { prop, path } from 'ramda'

import { iframeLinkTemplates } from '~/utils/widget'

export default {
  name: 'SearchWidgetPopover',

  directives: {
    copy,
  },

  components: {
    Button: () => import('~/components/common/buttons/Button'),
    WidgetRadio: () => import('~/components/common/input/WidgetRadio'),
    Loader: () => import('~/components/common/Loader'),
  },

  data: () => ({
    isCopied: false,
    isLoading: false,
    codeHeight: null,
    widget: 'horizontal',
    geo: null,
  }),

  computed: {
    ...mapGetters({ popoverData: 'popovers/POPOVER_DATA' }),
    ...mapGetters('events', ['LOADING']),
    events() {
      const getter = prop('eventsGetter', this.popoverData) || 'events/EVENTS'

      return this.$store.getters[getter]
    },
    searchQuery() {
      return prop('searchQuery', this.popoverData) || this.$route.query
    },
    code() {
      const widgetInfo = this.widgetVariants.find(w => w.value === this.widget)

      let query = this.searchQuery

      if (this.widget === 'map' && this.geo) {
        const { lat, lng } = this.geo

        query = {
          ...query,
          geo: [lng, lat].join(','),
        }
      }

      const { href } = this.$router.resolve({
        name: widgetInfo.routeName,
        query,
      })

      const fullLink = process.env.domainUrl + href

      return iframeLinkTemplates[this.widget]({
        link: fullLink,
        query: query,
      })
    },
    widgetVariants() {
      return [
        {
          image: require('~/static/widget-vertical.svg'),
          title: this.$t('popovers.searchWidget.vertical.title'),
          text: this.$t('popovers.searchWidget.vertical.text'),
          value: 'vertical',
          routeName: 'widget-vertical',
          version: '1',
        },
        {
          image: require('~/static/widget-horizontal.svg'),
          title: this.$t('popovers.searchWidget.horizontal.title'),
          text: this.$t('popovers.searchWidget.horizontal.text'),
          value: 'horizontal',
          routeName: 'widget-horizontal',
          version: '1',
        },
        {
          image: require('~/static/widget-map.svg'),
          title: this.$t('popovers.searchWidget.map.title'),
          text: this.$t('popovers.searchWidget.map.text'),
          value: 'map',
          routeName: 'widget-map',
          version: '1',
        },
        {
          image: require('~/static/widget-search.svg'),
          title: this.$t('popovers.searchWidget.search.title'),
          text: this.$t('popovers.searchWidget.search.text'),
          value: 'search',
          routeName: 'widget-search',
          version: '1',
        },
      ]
    },
  },

  mounted() {
    /* trigger only once when widget === 'map' */
    const unwatchWidget = this.$watch('widget', v => {
      if (v === 'map') {
        /* If user opens popover when events are not loaded yet */
        if (this.LOADING) {
          this.isLoading = true

          const unwatchLoading = this.$watch('LOADING', v => {
            this.setGeo()
            this.isLoading = false
            unwatchLoading()
          })
        } else {
          this.setGeo()
        }

        unwatchWidget()
      }
    })
  },

  methods: {
    ...mapActions({
      togglePop: 'popovers/TOGGLE_POPOVER',
      fetchCity: 'city/FETCH_CITY',
    }),
    closePopover() {
      this.togglePop()
    },
    async setGeo() {
      this.isLoading = true

      const { city } = this.$route.query
      let location = null

      if (city) {
        location = await this.getLocationFromCity({ id: city })
      } else {
        location = this.getLocationFromEvents()
      }

      this.geo = {
        lat: prop('lat', location) || 0,
        lng: prop('lng', location) || 0,
      }

      this.isLoading = false
    },
    async getLocationFromCity({ id }) {
      const { location } = await this.fetchCity({ id })

      return location
    },
    getLocationFromEvents() {
      const event = this.events.find(
        v =>
          path(['location', 'geometry', 'lat'], v) &&
          path(['location', 'geometry', 'lng'], v),
      )

      return path(['location', 'geometry'], event)
    },
    handleCopy() {
      const { height } = this.$refs.code.getBoundingClientRect()
      this.codeHeight = height
      this.isCopied = true
      setTimeout(() => {
        this.isCopied = false
        this.codeHeight = false
      }, 2000)
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';
@import '~/assets/css/popover.scss';

.search-widget {
  background: $blue;
  color: #fff;
  flex: 1;
  padding: 80px 16px;

  &__container {
    margin: 0 auto;
    max-width: 864px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    @include text(4);
    margin-bottom: 28px;

    @media (min-width: 768px) {
      @include text(8);
    }
  }

  &__variants {
    width: 100%;
    margin-bottom: 24px;
  }

  &__code {
    background: #fff;
    color: #000;
    padding: 24px;
    margin-bottom: 16px;
    width: 100%;
  }

  &__code-text {
    display: flex;
    overflow: hidden;

    &--success {
      color: $blue;
      justify-content: center;
      align-items: center;
    }
  }
}
</style>
