<template>
  <div class="popover" @keyup.esc="togglePopover('')">
    <div
      class="popover__background--transparent"
      @click="togglePopover('')"
    ></div>
    <div class="popover__side">
      <main class="form">
        <div class="popover-close-button">
          <button
            v-tooltip.auto="$t('popovers.close')"
            class="ww-icn-cross"
            @click="togglePopover('')"
          ></button>
        </div>
        <h2 class="form__header">{{ $t('auth.signUp.register') }}</h2>

        <CustomInput
            v-model="user.name.value"
            v-focus
            v-bind="user.name"
            required
            :error="Boolean(user.name.errorMessage)"
            class="form__input"
        />
        <MailInput
            v-model="user.email.value"
            v-bind="user.email"
            :error="Boolean(user.email.errorMessage)"
            required
            icon
            styles="border-color: #0070ff;"
            @input="emitEmail"
        />
        <CustomInput
            v-model="user.password.value"
            v-bind="user.password"
            required
            :error="Boolean(user.password.errorMessage)"
            class="form__input"
            @keydown.enter="submitHandler"
        />

        <Checkbox
          v-model="personalDataAgreement"
          class="form__checkbox"
          color="white"
        >
          {{ $t('auth.signUp.personalDataProcessing') }}
        </Checkbox>

        <ul class="form__error-messages">
          <li v-for="error in errors" :key="error" class="form__error-message">
            {{ error }}
          </li>
        </ul>

        <Button class="form__submit" invert @click="submitHandler">
          {{ $t('auth.signUp.register') }}
        </Button>
        <button
          type="button"
          class="form__registration"
          @click="togglePopover(popovers.auth)"
        >
          {{ $t('auth.signUp.returnToAuth') }}
        </button>
      </main>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import popConsts from '~/utils/popoverConsts.js'

export default {
  components: {
    CustomInput: () => import('./Input'),
    Button: () => import('~/components/common/buttons/Button'),
    Checkbox: () => import('~/components/common/Checkbox'),
    MailInput: () => import('~/components/common/input/MailInput'),
  },
  props: {
    email: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      user: {
        name: {
          value: '',
          key: 'name',
          errorMessage: '',
          type: 'user',
          placeholder: this.$t('auth.name'),
        },
        email: {
          value: this.email,
          key: 'email',
          type: 'email',
          errorMessage: '',
          placeholder: this.$t('auth.email'),
        },
        password: {
          value: '',
          key: 'password',
          hidden: true,
          errorMessage: '',
          type: 'password',
          placeholder: this.$t('auth.password'),
        },
      },
      personalDataAgreement: false,
      errors: [],
    }
  },
  computed: {
    popovers: () => popConsts,
  },
  methods: {
    ...mapActions({
      togglePopover: 'popovers/TOGGLE_POPOVER',
    }),
    emitEmail(event) {
      this.$emit('input', { email: this.user.email.value })
    },
    async submitHandler() {
      this.clearErrors()

      const isCookieAccepted = await this.$store.dispatch(
        'user/CHECK_COOKIE_IS_ACCEPTED',
      )
      if (!isCookieAccepted) return

      try {
        await this.$store.dispatch('auth/REGISTRATION', {
          email: this.user.email.value,
          password: this.user.password.value,
          name: this.user.name.value,
          personal_data_agreement: this.personalDataAgreement,
        })
        await this.$store.dispatch('user/GET_USER_DATA')
        this.togglePopover('')

        this.$store.dispatch('user/CHECK_PERSONAL_DATA_AGREEMENT')
      } catch (exception) {
        const errors = exception
        errors && this.errorHandler(errors)
      }
    },
    errorHandler(errors) {
      const user = this.user
      Object.entries(errors).forEach(([key, value]) => {
        if (user[key]) {
          user[key].errorMessage = value.join ? value.join(' ') : value
        }
        this.errors = [...this.errors, ...value]
      })
    },
    clearErrors() {
      Object.values(this.user).forEach(value => {
        value.errorMessage = ''
      })
      this.errors = []
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.popover {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: inherit;
  background-color: $blue;

  @media (min-width: $desktopSD) {
    background-color: unset;
  }

  &__background--transparent {
    background-color: $blue;
    opacity: 0.5;
    flex: auto;
  }

  &__close-button {
    align-self: flex-end;
    color: white;
    @include text(3);
    &:active {
      transform: scale(1.2, 1.2);
    }
  }

  &__side {
    width: 100%;
    height: 100%;
    padding: 16px;
    background-color: $blue;
    opacity: 1;
    @media (min-width: $desktopSD) {
      margin-left: auto;
      width: 704px;
      padding: 40px 72px;
    }

    .form {
      display: flex;
      flex-direction: column;

      &__header {
        color: white;
        margin-bottom: 46px;
      }
      &__input {
        width: 100%;
      }

      &__checkbox {
        margin-top: 30px;
        align-self: flex-start;
      }

      &__error-messages {
        margin-top: 16px;
      }
      &__submit {
        margin-top: 16px;
      }
      &__registration {
        margin-top: 24px;
        color: white;
      }
    }
  }
}
</style>
