<template>
  <div class="popover" @keyup.esc="togglePopover('')">
    <div class="content">
      <div class="popover-close">
        <button
            v-tooltip.auto="$t('popovers.close')"
            type="button"
            class="ww-icn-cross"
            @click="togglePopover('')"
        />
      </div>

      <h2 class="header">{{ $t('auth.register') }}</h2>


      <div class="person-company">
        <div v-for="(item, index) in data"
             :key="index"
             :class="item.isActive ? 'active' : 'disable'"
             @click="check"
        >
          <span  v-if="item.isActive">
            <i class="icon ww-icn-check" />
          </span>
          {{item.text}}
        </div>
      </div>

      <form class="form" @submit.prevent="submitHandler" autocomplete="off">
        <div class="form-input-signUp">
          <p class="label">{{ isCompany ? $t('auth.companyTitle') : $t('auth.fullName') }}</p>
          <CustomInput
              v-model="name"
              required
              type="text"
          ></CustomInput>
        </div>
        <div class="form-input-signUp">
          <p class="label">{{ $t('auth.password') }}</p>
          <CustomInput
              v-model="password.value"
              type="password"
              required
              :class="hasError ? 'input-error' : ''"
              :autocomplete="'new-password'"
          ></CustomInput>
        </div>
        <div class="supplier-customer">
          <label for="profileType">{{ $t('auth.profileType') }}</label>
          <FormSelect
              id="profileType"
              class="profileType"
              trackBy="name"
              :options="options"
              :searchable="false"
              v-model="profileType"
              :hasError="selectRequiredError"
          >
            <template slot="singleLabel" slot-scope="{ option }">{{ option.name }}</template>
            <template slot="option" slot-scope="{ option }">{{ option.name }}</template>
          </FormSelect>
        </div>
        <button type="submit" class="submit">
          {{ $t('auth.register') }}
        </button>
        <p class="agreement">{{ $t('auth.agreement') }}
          <a
              :href="`/docs/privacy_policy_${lang}.pdf`"
              class="privacy"
              target="_blank"
          >{{ $t('auth.privacy') }}</a>
        </p>
        <p class="has-account">
          {{$t('auth.hasAccount')}}
          <span class="login" @click="login">{{$t('auth.login')}}</span>
        </p>
      </form>
    </div>
  </div>
</template>

<script>
  import popConsts from '~/utils/popoverConsts'
  import { mapActions, mapGetters } from 'vuex'
  import isEmpty from 'lodash/isEmpty'
  import FormSelect from '~/components/common/input/FormSelect'

  export default {
    components: {
      CustomInput: () => import('./Input'),
      FormSelect,
    },
    data() {
      return {
        data: [
          {isActive: true, text: this.$t('auth.userProfile'), name: 'person'},
          {isActive: false, text: this.$t('auth.companyProfile'), name: 'company'}
        ],
        name: '',
        password: {
          value: '',
          hidden: true,
          errorMessage: '',
          type: 'password',
        },
        hasError: false,
        profileType: '',
        options: [
          {value: 'is_customer', name: this.$t('auth.customer')},
          {value: 'is_supplier', name: this.$t('auth.supplier')},
        ],
        selectRequiredError: false,
      }
    },
    computed: {
      ...mapGetters({
        registrationServerErrors: 'auth/NEW_REGISTRATION_ERRORS',
      }),
      popovers: () => popConsts,
      lang() {
        return this.$i18n.locale;
      },
      isCompany() {
        const company = this.data.filter(el => (el.isActive === true && el.name === 'company'))
        return !isEmpty(company) ? true : false
      },
      error() {
        return {
          password: {
            server: this.registrationServerErrors.password,
          },
        }
      },
    },
    methods: {
      ...mapActions({
        togglePopover: 'popovers/TOGGLE_POPOVER',
        newRegistrationData: 'auth/NEW_REGISTRATION_DATA',
      }),
      check() {
        this.data.map(el => {el.isActive = !el.isActive})
      },
      async submitHandler() {
        if(this.password.value.length < 6) {
          this.hasError = true
        } else {
          this.hasError = false

          if (!this.profileType) {
            this.selectRequiredError = true
            return
          } else {
            this.selectRequiredError = false
          }
          const data = {
            [this.profileType.value]: true,
            is_company: this.isCompany,
            name: this.name,
            password: this.password.value,
            personal_data_agreement: true,
          }
          this.newRegistrationData(data)

          try {
            await this.$store.dispatch('auth/NEW_REGISTRATION')
            await this.$store.dispatch('user/GET_USER_DATA')
            this.togglePopover('')
            this.$router.push('/profile/edit/')
          } catch (e) {
            this.$store.dispatch('popovers/TOGGLE_POPOVER', popConsts.login)
          }
        }
      },
      login() {
        this.togglePopover(popConsts.auth)
      },

    },
  }
</script>

<style lang="scss">
  .form-input-signUp {
    .input {
      border: 1px solid #c6c7c8!important;
      &__field {
        height: 56px!important;
      }
    }
  }
  .supplier-customer {
    .multiselect__tags {
      height: 56px;
      border: 1px solid #c6c7c8!important;
      margin-top: 8px;
      padding: 15px 40px 15px 16px!important;
    }
    .multiselect__select {
      top: 56%!important;
    }
  }
</style>

<style lang="scss" scoped>
  @import '~/assets/css/variables.scss';
  .popover {
    height: 100%;
    width: inherit;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;

    @media(max-width: $desktopSD) {
      justify-content: normal;
    }
    .content {
      position: relative;
      padding: 47px 120px;
      box-shadow: 0 3px 40px 0 rgba(0, 112, 255, 0.2);
      background-color: #f8f9fa;
      overflow-y: auto;
      @media(max-width: $desktopSD) {
        padding: 47px 80px;
        margin-top: 80px;
      }
      @media(max-width: 480px) {
        padding: 47px 20px;
        width: 100%;
        height: 800px;
        margin-top: 0;
      }
      .popover-close{
        position: absolute;
        right: 24px;
        top: 24px;
        font-size: 16px;
        button{
          color: #c6c7c8;
          padding: 0;
        }
        &:active {
          transform: scale(1.2, 1.2);
        }
      }
      .header {
        font-size: 32px;
        font-weight: bold;
        line-height: 40px;
        margin-bottom: 17px;
      }
      .person-company {
        display: flex;
        font-size: 16px;
        line-height: 24px;
        & > * {
          @media(max-width: $desktopSD) {
            width: 50%;
            text-align: center;
          }
          @media(max-width: 580px) {
            margin-top: 15px;
            width: 100%;
          }
        }
        @media(max-width: 580px) {
          flex-direction: column;
        }
        .icon {
          color: $blue;
          margin-right: 10px;
          font-size: 10px;
        }
        .active {
          box-shadow: 0 0 15px 0 rgba(209, 220, 234, 0.3);
          background-color: #ffffff;
          font-weight: bold;
          padding: 9px 44px;
          cursor: pointer;
          @media(max-width: $desktopSD) {
            padding: 9px 0;
          }
        }
        .disable {
          background-color: #f2f4f6;
          font-weight: normal;
          color: rgba(0, 0, 0, 0.4);
          padding: 9px 57px;
          cursor: pointer;
          @media(max-width: $desktopSD) {
            padding: 9px 0;
          }
        }
      }
      .supplier-customer {
        margin: 20px 0;
        label {
          font-size: 16px;
          font-weight: normal;
          line-height: 24px;
          color: rgba(0, 0, 0, 0.4);
        }
        .profileType {
          height: 58px;
        }
      }
      .form {
        .form-input-signUp {
          margin-top: 25px;
          p {
            margin: 0;
          }
          .label {
            font-size: 16px;
            font-weight: normal;
            line-height: 24px;
            color: rgba(0, 0, 0, 0.4);
            margin-bottom: 8px;
          }
          .input-error {
            border: 2px solid red!important;
          }

        }
        .agreement {
          color: rgba(0, 0, 0, 0.4);
          font-size: 14px;
          font-weight: normal;
          margin-top: $base;

          .privacy {
            color: #0070ff;
          }
        }
        .submit {
          width: 100%;
          height: 56px;
          margin-top: 32px;
          background-color: $blue;
          color: #ffffff;
          font-size: 18px;
          font-weight: bold;
          line-height: 24px;
        }
      }
      .has-account {
        font-size: 16px;
        font-weight: normal;
        line-height: 24px;
        .login {
          text-transform: lowercase;
          color: #0070ff;
          cursor: pointer;
        }
      }
    }
  }
</style>