<template>
  <div class="user-profile-menu__mobile" @click="togglePopover('')">
    <div class="container">
      <header class="header">
        <span class="icon ww-icn-cross" @click="togglePopover('')"></span>
      </header>
      <MenuList class="menu-wrapper" isMobile />
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  components: {
    MenuList: () => import('~/components/default/components/UserMenu/MenuList'),
  },
  methods: {
    ...mapActions({ togglePopover: 'popovers/TOGGLE_POPOVER' }),
  },
}
</script>

<style lang="scss" scoped>
.user-profile-menu__mobile {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: flex-end;
  > .container {
    position: relative;
    background-color: #fff;
    min-width: 256px;
    height: 100%;
    display: flex;
    flex-flow: column;

    .header {
      display: flex;
      justify-content: flex-end;
      margin: 24px 24px 24px 0;
      .icon:hover {
        color: #0070ff;
      }
    }
    .menu-wrapper {
      // margin: 48px 0 0 48px;
    }
  }
}
</style>
