<template>
  <div class="dialog_overlay" @click="togglePopover('')">
    <div class="dialog_content">
      <div class="video-wrapper">
        <youtube
          class="video"
          :video-id="videoId"
          fitParent
          resize
          :playerVars="{
            autoplay: 1,
          }"
        />
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'VideoPopover',

  computed: {
    ...mapGetters({
      videoId: 'popovers/VIDEO_ID',
    }),
  },

  beforeDestroy() {
    this.setVideoId('')
  },

  methods: {
    ...mapActions({
      togglePopover: 'popovers/TOGGLE_POPOVER',
      setVideoId: 'popovers/SET_POPOVER_VIDEO_ID',
    }),
  },
}
</script>

<style lang="scss" scoped>
.dialog_overlay {
  z-index: 200;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.dialog_content {
  background-color: #fff;
  max-height: 90%;
  margin: 24px 12px;
  box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2),
    0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
  overflow-y: auto;
  z-index: inherit;
}

.video-wrapper {
  width: 720px;
  max-width: 100%;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  background: #f3f3f3;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
</style>
