<template>
  <section class="create-event">
    <div class="wrapper">
      <h1 class="wrapper-title">{{ $t('eventCreate.abTestIncrease') }} </h1>
      <client-only>
        <p class="create-event__description">
          {{ $t('eventCreate.abTestPromoDescription1') }}
          {{ $tc('eventCreate.abTestPersons', audience, { count: audience }) }}
          <br/>
          {{ $t('eventCreate.abTestPromoDescription2') }}
        </p>
      </client-only>
      <Card />
      <Promo :create="create"
             :audience="audience"
             @promote="promote"
             @create="createPromoteEvent"
      />
      <HowWork />
      <FixedGuideButton class="hidden-desktopSD-and-down" />
    </div>
    <FixedHelpButton v-if="isEmptyLayout" />
  </section>
</template>

<script>
  import {mapActions, mapGetters} from 'vuex'
  import isEmpty from 'lodash/isEmpty'
  import { getEventCreatePageLayout, layoutConsts } from '~/utils/layout'
  import { getAudience } from '~/utils/eventVersionB'
  import Promo from '~/components/versionC/Promo'
  import HowWork from "~/components/versionB/HowWork"
  import Card from "~/components/versionC/Card"
  import FixedGuideButton from '~/components/events/create/FixedGuideButton'


  export default {
    layout: getEventCreatePageLayout,

    components: {
      Card,
      Promo,
      HowWork,
      FixedGuideButton,
      FixedHelpButton: () => import('~/components/versionB/FixedHelpButton'),
    },
    data() {
      return {
        plan: {},
        create: true,
        audience: null,
        data: {},
        coupon: '',
      }
    },
    computed: {
      ...mapGetters({ event: 'createEventVersionB/event',}),
      isEmptyLayout() {
        return this.$nuxt.layoutName === layoutConsts.empty
      },
    },
    mounted() {
      const event = this.$cookies.get('eventForCreateTestBC')
      if(!event) {
        this.$router.push({ name: 'events-create-c-1' })
      }
      if (!event.audience){
        event.audience = getAudience()
        this.$cookies.set(
          'eventForCreateTestBC',
          JSON.stringify(event) ,
          {maxAge: 60*60*24*30, path: '/'},
        )
      }
      this.audience = event.audience
    },
    methods: {
      ...mapActions({
        showPreloader: 'popovers/SWITCH_PRE_LOADER',
        showError: 'notifications/error',
        showSuccess: 'notifications/success',
        CREATE_EVENT: 'createEventVersionB/CREATE_EVENT',
        SET_FIELD: 'createEventVersionB/SET_FIELD',
      }),
      promote(data) {
        if(data) {
          this.plan = data.plan
          this.$cookies.set(
              'promoPlanTestBC',
              JSON.stringify(this.plan) ,
              {maxAge: 60*60*24*30, path: '/'},
          )
        }
        this.$router.push({ name: 'events-create-c-3' })
      },
      async createPromoteEvent(data) {
        this.create = this.event.created
        if (this.$store.getters['auth/IS_AUTH']) {
          this.showPreloader(true)
          try {
            if (!this.create) {
              return this.editRedirect()
            }
            await this.CREATE_EVENT().then(res => {
              this.data = res
              this.editRedirect()
            }).catch(e => {
              this.showError(e.message)
              this.$router.push({name: 'events-create-c-1'})
            })
          }
          catch (e) {
            console.log(e)
          } finally {
            this.showPreloader(false)
          }
        }
      },
      editRedirect() {
        this.showPreloader(false)
        this.$cookies.remove('eventForCreateTestBC')
        this.$router.push({
          name: `events-id-edit`,
          params: {
            id: this.data.url_id
          },
          query: {
            next: `/events/${this.data.url_id}/created`,
            stage: 'creation'
          }
        })
      },
    },
  }
</script>

<style lang="scss" scoped>
  @import '~/assets/css/variables.scss';
  @import '~/assets/css/sticky.scss';

  .create-event {
    margin-top: 4 * $base;

    @media (min-width: $desktopHD) {
      margin-top: 8 * $base;
    }

    &__description {
      @include text(2.25);
      font-weight: normal;
      margin-bottom: 14px;
      padding-right: 100px !important;

      @media (min-width: $desktopSD) {
        margin-bottom: 34px;
        @include text(3);
      }
    }

    .wrapper-title {
      font-size: 48px;
      font-weight: bold;
    }

  }
</style>
