<template>
  <section>
    <div class="wrapper">
      <h1 class="wrapper-title">{{ $t('eventCreate.abTestIncrease') }} </h1>

      <div class="back" @click="back">
        <span class="icon icon-left ww-icn-arrow-right" />
        <span class="text">{{ $t('promo.back') }}</span>
      </div>

        <PayPromo
            :promoPlan="promoPlan"
            @pay="pay"
        />
        <FixedGuideButton class="hidden-desktopSD-and-down" />
    </div>
  </section>
</template>

<script>
  import { getEventCreatePageLayout } from '~/utils/layout'
  import PayPromo from "~/components/versionB/PayPromo"
  import Icon from '~/components/common/Icon'
  import {mapActions, mapGetters} from "vuex";
  import isEmpty from "lodash/isEmpty";
  import {prop} from "ramda";
  import FixedGuideButton from '~/components/events/create/FixedGuideButton'

  export default {
    layout: getEventCreatePageLayout,

    components: {
      Icon,
      PayPromo,
      FixedGuideButton,
    },
    data() {
      return {
        data: {},
        plan: '',
        coupon: '',
        create: true,
      }
    },
    computed: {
      ...mapGetters({event: 'createEventVersionB/event',}),
      promoPlan() {
        return this.$cookies.get('promoPlanTestBC')
      }
    },
    created() {
      const plan = this.$cookies.get('promoPlanTestBC')
      if (!plan) {
        this.$router.push({name: 'events-create-c-1'})
      }
    },
    methods: {
      ...mapActions({
        showPreloader: 'popovers/SWITCH_PRE_LOADER',
        showError: 'notifications/error',
        showSuccess: 'notifications/success',
        CREATE_EVENT: 'createEventVersionB/CREATE_EVENT',
        SET_FIELD: 'createEventVersionB/SET_FIELD',
      }),
      back() {
        this.$router.push({name: 'events-create-b-2'})
      },
      pay(plan, coupon) {
        this.plan = plan
        this.coupon = coupon
        this.createPromoteEvent()
      },
      async createPromoteEvent() {
        this.create = this.event.created
        if (!this.$store.getters['auth/IS_AUTH']) {
          return
        }
        this.showPreloader(true)
        try {
          if (!this.create) {
            return this.editRedirect()
          }
          await this.CREATE_EVENT().then(res => {
            this.data = res
            this.$cookies.set(
                'createdDataTestBC',
                JSON.stringify(this.data) ,
                {maxAge: 60*60*24*30, path: '/'},
            )
            if (!isEmpty(this.plan)) {
              return this.createPromo(this.coupon)
            }
            this.editRedirect()
          }).catch(e => {
            this.showError(e.message)
            this.$router.push({name: 'events-create-b-1'})
          })
        } catch (e) {
          console.log(e)
        } finally {
          this.showPreloader(false)
        }
      },
      editRedirect() {
        this.showPreloader(false)
        this.$cookies.remove('eventForCreateTestBC')
        const data = this.$cookies.get('createdDataTestBC')
        this.$router.push({
          name: `events-id-edit`,
          params: {
            id: data.url_id
          },
          query: {
            next: `/events/${data.url_id}/created`,
            stage: 'creation'
          }
        })
        this.$cookies.remove('createdDataTestBC')
      },
      createPromo(coupon) {
        const next = `/events/${this.data.id}/created/`
        const data = {
          "event": this.data.id,
          "plan": this.plan.id,
          "redirect_url":
              `${process.env.domainUrl}/events/${this.data.id}/edit/?stage=creation&next=${encodeURIComponent(next)}`
        }
        let newData = {...data}
        if(coupon) {
          newData = {...data, coupon }
        }
        this.$axios.post('/promo/events/', {...newData})
            .then(result => {
              this.$cookies.remove('eventForCreateTestBC')
              if (prop('payment_url', result.data)) {
                window.location.href = result.data.payment_url
                this.$cookies.remove('promoPlanTestBC')
              } else {
                this.$router.push({
                  name: `events-id-edit`,
                  params: {id: this.data.url_id},
                  query: {stage: 'creation', next: next}
                })
              }
            })
            .catch(e => {
              console.log(e)
              this.showError(e.message)
              this.create = false
              this.SET_FIELD({
                key: 'created',
                value: this.create,
              })
              this.$router.push({name: 'events-create-c-2'})
            })
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import '~/assets/css/variables.scss';
  .wrapper {
    @media($mobile) {
      margin-right: 0;
      margin-left: 0;
    }
  }
  .wrapper-title {
    font-size: 48px;
    font-weight: bold;
    max-width: 856px;
    @media(max-width: $desktopSD) {
      display: none;
    }
  }
  .back {
    display: none;
    align-items: center;
    color: #0070ff;
    margin-top: 32px;
    margin-left: 24px;
    @media(max-width: $desktopSD) {
      display: flex;
    }
    .icon {
      height: 16px;
      &-left {
        transform: rotate(180deg);
      }
    }
    .text {
      margin-left: 20px;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: bold;
    }
  }

</style>
