<template>
  <div class="root">
    <DatePicker
      ref="datepickerFrom"
      :value="from"
      :not-after="fromDataLimit.notAfter"
      :not-before="fromDataLimit.notBefore"
      @input="$emit('update:from', $event)"
      @focus="closeDatePopup('datepickerTo')"
    />
    <div class="period-joiner"></div>
    <DatePicker
      ref="datepickerTo"
      :value="to"
      :month="monthDiff"
      :not-before="toDataLimit.notBefore"
      :not-after="toDataLimit.notAfter"
      @input="$emit('update:to', $event)"
      @focus="closeDatePopup('datepickerFrom')"
    />
  </div>
</template>

<script>
import moment from 'moment'

import DatePicker from '~/components/common/input/DatePicker'

const convertFromRuToUSA = date =>
  date ? moment(date, 'DD.MM.YYYY').format('MM.DD.YYYY') : null

export default {
  name: 'DatePickerPeriod',

  components: {
    DatePicker,
  },

  props: {
    from: {
      required: true,
    },
    to: {
      required: true,
    },
    monthDiff: {
      type: Number,
      default: 1,
    },
    fromLimit: {
      type: String,
      default: '',
    },
    toLimit: {
      type: String,
      default: '',
    },
  },

  computed: {
    fromDataLimit() {
      const toLimit = this.to || this.toLimit

      return {
        notBefore: convertFromRuToUSA(this.fromLimit),
        notAfter: convertFromRuToUSA(toLimit),
      }
    },
    toDataLimit() {
      const fromLimit = this.from || this.fromLimit
      const toLimit = this.$moment().format('DD.MM.YYYY')

      return {
        notBefore: convertFromRuToUSA(fromLimit || toLimit),
        notAfter: convertFromRuToUSA(this.toLimit),
      }
    },
  },

  methods: {
    closeDatePopup(popup) {
      const el = this.$refs[popup]
      if (!el) return

      el.closePopup()
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.root {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-auto-flow: column;
  grid-gap: 8px;
  height: 64px;
  @media (min-width: $desktopHD) {
    height: 80px;
  }

  .period-joiner {
    background-color: $blue;
    flex-shrink: 0;
    height: 2px;
    position: relative;
    top: 2px;
    width: 3 * $base;
  }
}
</style>
