<template>
  <div class="page404">
    <div class="page404__img-container">
      <img class="page404__img" src="~assets/images/tmp/page404.png" alt="404" />
    </div>
    <div class="page404__text" v-html="errorMessage" />

    <div class="page404__links" v-html="$t('error.mainReturnQuestion')" />
  </div>
</template>

<script>
export default {
  props: {
    message: {
      type: String,
      default: '',
    },
  },

  computed: {
    errorMessage() {
      return this.message || this.$t('error.notFound')
    },
  },
}
</script>


<style lang="scss">
@import '~/assets/css/variables.scss';

.page404 {
  width: 90%;
  margin: 70px auto 0 auto;
  max-width: 515px;
  @media (min-width: $desktopHD) {
    margin-bottom: -190px;
    margin-top: 0;
  }
  @media (max-width: 320px) {
    margin-top: 0;
  }
  &__img-container {
    margin: 0 auto;
    max-width: 234px;
    width: 80%;
    margin-top: 18vh;
    text-align: center;
    @media (min-width: $desktopHD) {
      margin-top: 18vh;
    }
    @media (max-height: 560px) {
      margin-top: 12vh;
      height: 150px;
    }
    @media (max-width: 320px) {
      margin-top: 10vh;
      height: 120px;
    }
  }
  &__img {
    max-width: 100%;
    max-height: 100%;
  }
  &__text {
    width: 100%;
    text-align: center;
    @include text(3);
    line-height: 4 * $base;
    margin-bottom: 10 * $base;
    @media (min-width: $desktopHD) {
      @include text(4);
      line-height: 5 * $base;
    }
    @media (max-height: 600px) {
      margin-bottom: 5 * $base;
    }
    @media (max-width: 320px) {
      @include text(2);
      line-height: 3 * $base;
      margin-bottom: 4 * $base;
    }
  }
  &__links {
    width: 100%;
    text-align: center;
    a {
      color: #0070ff;
    }
  }
}
</style>
