<template>
  <FormSelect
          :id="id"
          v-model="category"
          trackBy="title"
          class="category-select"
          :options="options"
          :searchable="false"
          @select="$emit('input', $event)"
  >
    <template slot="singleLabel" slot-scope="{ option }">{{ option.title }}</template>
    <template slot="option" slot-scope="{ option }">{{ option.title }}</template>
  </FormSelect>
</template>

<script>

  import FormSelect from '~/components/common/input/FormSelect'

  export default {
    name: 'CreateCategories',

    components: {
      FormSelect,
    },

    props: {
      id: String,
    },

    data: () => ({
      categories: null,
      category: {},
      options: [],
    }),
    computed: {
      lang() {
        return this.$i18n.locale
      }
    },
    watch: {
      lang() {
        this.options = require(`~/static/categories/categories_${this.lang}.json`)
      }
    },
    mounted() {
      this.categories = require(`~/static/categories/categories_${this.lang}.json`)
      this.options = this.categories
    }
  }
</script>

<style lang="scss">
  @import '~/assets/css/variables.scss';
  .category-select{
    margin-top: 9px;
    .multiselect__tags{
      height: 56px;
      border: solid 1px #c6c7c8!important;
      /*padding: 15px 40px 15px 12px!important;*/
      padding: 10px 40px 0 10px!important;
      display: flex;
      align-items: center!important;
      justify-content: center!important;
      @media (max-width: $desktopSD) {
        padding-top: 15px;
      }
      .multiselect__single {
        line-height: 13px!important;
        font-size: 16px!important;
        @media (max-width: 480px) {
          line-height: 20px!important;
        }
      }
    }
    .multiselect__select{
      &::before{
        top: 76%;
      }
    }
    .multiselect__content-wrapper {
      width: 320px!important;
      @media(max-width: 480px) {
        width: 100%!important;
      }
    }
  }
</style>
