<i18n>
  {
  "ru": {
  "title": "Название события",
  "date": "Дата",
  "address": "Адрес",
  "eventOnline": "Событие онлайн",
  "link": "Ссылка на страницу события",
  "category": "Категория",
  "subtext": "Оставьте поле пустым, и страница с вашим событием на WhatWhere.World будет лендингом для переходов."
  },
  "en": {
  "title": "Event name",
  "date": "Date",
  "address": "Address",
  "eventOnline": "The event online",
  "link": "Link to the event page",
  "category": "Category",
  "subtext": "Leave the field empty, and the page with your event on WhatWhere.World will be a landing page for click-throughs."
  }
  }
</i18n>

<template>
  <div class="main-info">
    <span class="main-info__title">{{ $t('title') }}</span>
    <FormRow class="title-contnet" :error="errors['title']">
      <template slot-scope="{ id, hasError }">
        <FormInput
            :id="id"
            :value="title"
            :error="hasError"
            class="title-input"
            @input="$emit('update:title', $event)"
        />
      </template>
    </FormRow>

    <div class="place-date">
      <FormRow class="place-date__date" :error="errors['period']">
        <template slot-scope="{ hasError }">
          <DatesWrapper
              :error="hasError"
              :initial="period"
              isEmit
              @date:selected="$emit('update:period', $event)"
          />
        </template>
      </FormRow>

      <FormRow class="place-date__location" :noLabelFocus="isOnline" :error="errors['address']">
        <template slot-scope="{ id, hasError }">

          <div class="place-date__header">
            <span :class="isOnline ? 'disable' : 'main-info__title'">{{ $t('address') }}</span>
            <div class="event-online">
              <span class="title">{{ $t('eventOnline') }}</span>
              <WSwitch v-model="on"/>
            </div>
          </div>

          <FormInput
              :id="id"
              :value="isOnline ? '' : address"
              :error="hasError"
              :class="isOnline ? 'title-input-online' : 'address-input'"
              @input="$emit('update:address', $event)"
          />

        </template>
      </FormRow>
      <div class="event-online-mobile">
        <span class="title">{{ $t('eventOnline') }}</span>
        <WSwitch v-model="on"/>
      </div>
    </div>

    <div class="link-category">
      <div class="link-category__link">
        <span class="main-info__title">{{ $t('link') }}</span>
        <FormRow :error="errors['links']">
          <template slot-scope="{ id, hasError }">
            <Links
                :id="id"
                :error="hasError"
                :value="links"
                @input="$emit('update:links', $event)"
            />
          </template>
        </FormRow>
      </div>

      <div class="link-category__category">
        <span class="main-info__title">{{ $t('category') }}</span>
        <FormRow :error="errors['category']">
          <template slot-scope="{ id }">
            <Categories
                :id="id"
                @input="$emit('update:tags', [$event])"
            />
          </template>
        </FormRow>
      </div>


    </div>

    <p class="subtext">{{$t('subtext')}}</p>

  </div>
</template>

<script>

  import FormRow from '~/components/common/FormRowNew'
  import FormInput from '~/components/common/input/FormInput'
  import Categories from '~/components/versionB/EventMainInfo/Categories'
  import Links from '~/components/versionB/EventMainInfo/Links'
  import DatesWrapper from '~/components/versionB/Date/DatesWrapper'
  import WSwitch from '~/components/common/input/WSwitch'


  export default {
    name: 'EventMainInfo',

    components: {
      FormRow,
      FormInput,
      DatesWrapper,
      WSwitch,
      Categories,
      Links,
    },

    props: {
      title: {
        type: String,
        required: true,
      },
      period: {
        type: Array,
        required: true,
      },
      isOnline: {
        type: Boolean,
        required: true,
        // required: false,
      },
      address: {
        type: String,
        required: true,
      },
      links: {
        type: Array,
        required: true,
      },
      errors: {
        type: Object,
        default: () => ({}),
      },
      isEdit: Boolean,
    },

    computed: {
      on: {
        get() {
          return this.isOnline
        },
        set(v) {
          this.$emit('update:isOnline', v)
        },
      },
    },

    methods: {},
  }
</script>
<style lang="scss">
  .place-date{
    .flex {
      .dtpicker {
        input {
          height: 54px!important;
        }
      }
    }
  }
  .title-input {
    input {
      height: 56px !important;
      border: solid 1px #c6c7c8 !important;
      font-size: 24px !important;
      font-weight: bold !important;
      @media(max-width: 480px) {
        font-size: 16px!important;
      }
    }
  }

  .address-input {
    input {
      height: 56px !important;
      border: solid 1px #c6c7c8 !important;
      font-size: 18px !important;
      font-weight: normal !important;
    }
  }

  .title-input-online {
    input {
      height: 56px !important;
      border: solid 1px #c6c7c8 !important;
      opacity: 0.2;
      pointer-events: none;
      font-weight: normal !important;
    }
  }

  .event-online {
    .toggled .switch__core {
      background: #d4f9e2 !important;
      height: 16px !important;

      &::before {
        background: #5bec91 !important;
        height: 16px !important;
        width: 16px !important;
      }
    }

    .switch__core {
      height: 16px !important;
      width: 32px !important;

      &::before {
        height: 16px !important;
        width: 16px !important;
      }
    }
  }

  .event-online-mobile {
    .toggled .switch__core {
      background: #d4f9e2 !important;
      height: 16px !important;

      &::before {
        background: #5bec91 !important;
        height: 16px !important;
        width: 16px !important;
      }
    }

    .switch__core {
      height: 16px !important;
      width: 32px !important;

      &::before {
        height: 16px !important;
        width: 16px !important;
      }
    }
  }

  .link-category {
    form-row__label {
      font-size: 16px !important;
    }
  }
</style>
<style lang="scss" scoped>
  @import '~/assets/css/variables.scss';

  .main-info {
    width: 100%;
    /*max-width: 520px;*/
    @media (max-width: $sideShow) {
      /*max-width: 400px;*/
    }
    @media (max-width: $desktopHD) {
      /*max-width: 90%;*/
    }

    &__title {
      font-size: 16px;
      font-weight: bold;
      color: rgba(0, 0, 0, 0.4);
      line-height: 24px;
      font-family: 'Circe-Bold';
      @media (max-width: 480px) {
        font-size: 12px;
      }
    }

    .title-contnet {
      margin-top: 10px;
      margin-bottom: 15px;
    }

    .place-date {
      display: flex;
      margin-bottom: 15px;
      @media (max-width: 480px) {
        flex-direction: column;
      }

      &__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 9px;
      }

      &__date {
        width: 37%;
        @media (max-width: $desktopSD) {
          width: 44%;
        }
        @media (max-width: 480px) {
          width: 100%;
        }
      }

      &__location {
        max-width: 344px;
        width: 73%;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        @media (max-width: $desktopSD) {
          max-width: 423px;
        }
        @media (max-width: 480px) {
          max-width: 430px;
          width: 100%;
          margin-top: 20px;
        }
      }

      .event-online {
        display: flex;
        align-items: center;
        font-family: 'Circe-Regular';
        @media (max-width: 480px) {
          display: none;
        }

        .title {
          font-size: 12px;
          line-height: 16px;
          font-weight: normal;
          color: rgba(0, 0, 0, 0.4);
          margin-right: 15px;
        }
      }

      .event-online-mobile {
        display: none;
        margin-top: 20px;
        align-items: center;
        font-family: 'Circe-Regular';
        @media (max-width: 480px) {
          display: flex;
        }

        .title {
          font-size: 12px;
          line-height: 16px;
          font-weight: normal;
          color: rgba(0, 0, 0, 0.4);
          margin-right: 15px;
        }
      }

      .disable {
        color: rgba(0, 0, 0, 0.2);
      }
    }

    .link-category {
      display: flex;
      @media (max-width: $desktopSD) {
        flex-direction: row-reverse;
        margin-bottom: 40px;
      }
      @media (max-width: 480px) {
        flex-direction: column-reverse;
      }

      &__link {
        max-width: 328px;
        width: 63%;
        margin-right: 16px;
        @media (max-width: $desktopSD) {
          max-width: 423px;
          width: 69%;
          margin-left: 16px;
          margin-right: 0;
        }
        @media (max-width: 480px) {
          max-width: 430px;
          width: 100%;
          margin-left: 0;
          margin-top: 20px;
        }
      }

      &__category {
        max-width: 176px;
        width: 37%;
        @media (max-width: $desktopSD) {
          max-width: 232px;
          width: 41%;
        }
        @media (max-width: 480px) {
          max-width: 430px;
          width: 100%;
        }
      }
    }

    .subtext {
      width: 57%;
      margin-top: 12px;
      font-size: 12px;
      font-weight: normal;
      color: rgba(0, 0, 0, 0.4);
      line-height: 16px;
      @media (max-width: $desktopSD) {
        display: none;
      }
    }

    // &__title {
    // margin-bottom: 16px;

    //@media (min-width: $desktopSD) {
    //margin-bottom: 32px;
    //}
    //}


  }
</style>