<template>
  <div>
<!--    <div class="links-container">-->
<!--      <div v-for="(link, idx) in value" :key="idx" class="create-event__input">-->
<!--        <a-->
<!--          :href="link"-->
<!--          target="_blank"-->
<!--          :class="errorMessages && errorMessages[idx] ? 'error' : ''"-->
<!--        >{{ link }}</a>-->
<!--      </div>-->
<!--    </div>-->

    <div class="input-block">
      <input
        :id="id"
        ref="input"
        v-model.trim="inputLink"
        class="input-block__input"
        type="url"
        @change="addLink"
      />

    </div>
  </div>
</template>

<script>
export default {
  props: {
    errorMessages: {
      type: [Object, String],
    },
    id: {
      type: String,
      default: '',
    },
    value: {
      type: Array,
      required: true,
    },
  },

  data: () => ({
    inputLink: '',
  }),

  methods: {
    addLink() {
      if (!this.inputLink) return

      const newLink = this.formatLink(this.inputLink)

      if (!this.checkLink(newLink)) return

      const newLinks = [newLink]

      this.$emit('input', newLinks)

      // this.inputLink = ''
    },
    formatLink(link) {
      return link.match('http://') || link.match('https://')
        ? link
        : 'http://' + link
    },
    checkLink(link) {
      return !this.value.some(l => l === link)
    },

  },
}
</script>

<style lang="scss">
@import '~/assets/css/variables.scss';

.links-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.create-event__input {
  display: flex;
  align-items: center;
  color: $blue;
  margin-bottom: $base * 2;

  a {
    display: block;
    margin-right: $base * 2;
    line-height: 1.5;
  }


  .error {
    color: $red;
    font-weight: 400;
    text-decoration: underline;
  }
}
///////////////////
// input-block.scss
.input-block {
  display: block;
  border: 1px solid #c6c7c8!important;
  margin-top: 9px;
  input{
    height: 54px!important;
  }


}
///////////////////
</style>
