<template>
  <div class="disclaimer-container">
    <div class="text">
      {{ $t('common.disclaimer') }}
    </div>
  </div>
</template>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.disclaimer-container {
  display: flex;
  position: relative;
  margin-top: 10px;
  @media screen and (min-width: 768px) {
    max-width: 450px;
    margin: 0;
  }

  .text {
    padding: 0 8px;
    font-size: 12px;
    line-height: 1.17;
    color: #acacac;
    text-align: center;

    @media (min-width: $desktopSD) {
      text-align: left;
      padding: 0;
    }
  }
}
</style>
