<i18n src="./locales.json" />

<template>
  <div class="categories">
    <div
      ref="category"
      class="categories__wrapper"
      :class="{ 'categories__wrapper--expanded': categoriesIsOpen }"
    >
      <span v-for="(category, index) in value" :key="index" class="item">
        <nuxt-link
          :to="{
            name: 'search',
            query: { ...query, keywords: category.slug, actual: true },
          }"
          class="item__link"
        >
          <b> {{ category.title }} </b>
          <span> {{ category.total_events }} </span>
        </nuxt-link>
      </span>
    </div>
    <div v-if="buttonShow" class="button__wrapper">
      <button
        v-tooltip.auto="
          categoriesIsOpen ? $t('hideCategories') : $t('showCategories')
        "
        class="button"
        @click="categoriesIsOpen = !categoriesIsOpen"
      >
        <span
          class="button__icon ww-icn-plus-square"
          :class="{ 'ww-icn-minus-square': categoriesIsOpen }"
        ></span>
      </button>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    value: {
      type: Array,
      default: () => [],
    },
    query: {
      type: Object,
      default: () => ({}),
    },
  },
  data() {
    return {
      categoriesIsOpen: false,
      buttonShow: false,
    }
  },
  methods: {
    showButton() {
      if(this.value.length > 0) {
        const categoryHeight = this.$refs.category.clientHeight;
        if( categoryHeight >= this.$refs.category.lastChild.offsetTop) {
          this.buttonShow = false
        } else {
          this.buttonShow =true
        }
      }
    }
  },
  mounted() {
    this.showButton()
  }
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.categories {
  display: flex;

  &__wrapper {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
    max-height: 64px;

    @media (min-width: $desktopSD) {
      overflow: hidden;
      flex-wrap: wrap;
    }
    &--expanded {
      max-height: 1000px;
      transition: max-height 1s ease-in-out;

      .main-hero__category-expand {
        bottom: 0.25 * $base;
      }
    }
  }

  .item {
    @include text(1.5);
    letter-spacing: 0.6px;
    margin: 6px 32px 6px 0;
    @media (min-width: $desktopSD) {
      margin: 6px 48px 6px 0;
    }

    &__link {
      cursor: pointer;
      color: $blue;
      text-transform: uppercase;
      display: grid;
      grid-template-columns: auto auto;
      grid-gap: 8px;
      white-space: nowrap;
      &:hover {
        color: black;
      }
    }
  }

  .button {
    &__wrapper {
      position: relative;
    }

    bottom: 8px;
    height: 24px;
    width: 26px;
    @include text(3);
    line-height: 0;
    margin: 0;
    padding: 0;
    position: absolute !important;
    right: 0;
    cursor: pointer;
    color: $blue;
    &:hover {
      color: black;
    }

    display: none;
    @media (min-width: $desktopSD) {
      display: block;
    }
    &__icon {
      display: block;
      height: 100%;
    }
  }
}
</style>
