<i18n src="./locales.json"></i18n>

<template>
  <div class="form">
    <div class="form__header">
      <div class="header">
        <h2 class="header__title">
          <strong>{{ $t('header.title') }}</strong>
        </h2>
        <p class="header__hint">{{ $t('header.hint') }}</p>
      </div>
    </div>
    <form class="form__form" @submit.prevent>
      <div class="info">
        <AvatarEditor
          class="info__avatar"
          :alt="form.name"
          @input="image => (form.avatar = image.id)"
        />

        <MyInput v-model="form.name">
          {{ $t('info.organization-name') }}
          <template v-if="$v.form.name.$error" #error>
            {{ $t('required') }}
          </template>
        </MyInput>

        <label>
          <span class="form__label">{{ $t('info.description') }}</span>
          <textarea
            v-model="form.about"
            :placeholder="$t('info.description-placeholder')"
            rows="2"
            class="form__input form__input--x2 form--border-color"
          />
        </label>
      </div>

      <div class="contacts">
        <h2>
          <strong>{{ $t('contacts.title') }}</strong>
        </h2>

        <MyInput
          v-model="form.email"
          :show.sync="form.show_emails"
          :show-tooltip="
            form.show_emails ? $t('contacts.notShow') : $t('contacts.show')
          "
        >
          {{ $t('contacts.email') }}
          <template v-if="$v.form.email.$error" #error>
            {{ $t('required') }}
          </template>
        </MyInput>

        <MyInput
          v-model="form.phone"
          :show.sync="form.show_phones"
          :show-tooltip="
            form.show_phones ? $t('contacts.notShow') : $t('contacts.show')
          "
        >
          {{ $t('contacts.phone') }}
        </MyInput>
      </div>

      <div class="password">
        <h2>
          <strong>{{ $t('password.title') }}</strong>
        </h2>

        <MyInput
          v-model="form.password"
          password
          :show-tooltip="$t('password.show')"
        >
          {{ $t('password.password') }}
          <template v-if="$v.form.password.$error" #error>
            {{ $t('required') }}
          </template>
        </MyInput>

        <MyInput
          v-model="form.repeatPassword"
          password
          :show-tooltip="$t('password.show')"
        >
          {{ $t('password.repeatPassword') }}
          <template v-if="$v.form.repeatPassword.$error" #error>
            {{ $t('required') }}
          </template>
        </MyInput>
      </div>

      <Checkbox
        v-model="form.personal_data_agreement"
        :border="
          $v.form['personal_data_agreement'].$error ? 'red' : 'dark-gray'
        "
      >
        {{ $t('personalDataProcessing') }}
      </Checkbox>

      <Button @click="submitForm"> {{ $t('register') }}</Button>
    </form>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import { filter } from 'ramda'
import { email, minLength, required, sameAs } from 'vuelidate/lib/validators'

export default {
  components: {
    AvatarEditor: () => import('../AvatarEditor'),
    Button: () => import('~/components/common/buttons/Button'),
    Checkbox: () => import('~/components/common/Checkbox'),
    MyInput: () => import('./MyInput'),
  },
  data: () => ({
    form: {
      avatar: '',
      name: '',
      about: '',
      email: '',
      show_emails: true,
      phone: '',
      show_phones: true,
      password: '',
      repeatPassword: '',
      personal_data_agreement: false,
    },
  }),
  validations: {
    form: {
      name: { required },
      email: { required, email },
      password: { required, minLength: minLength(6) },
      repeatPassword: { required, sameAsPassword: sameAs('password') },
      personal_data_agreement: { onlyTrue: v => v },
    },
  },
  methods: {
    ...mapActions({
      registration: 'auth/REGISTRATION',
      getUserData: 'user/GET_USER_DATA',
      checkData: 'user/CHECK_PERSONAL_DATA_AGREEMENT',
    }),
    async submitForm() {
      this.$v.$touch()
      if (!this.$v.$invalid) {
        await this.signUp()
      }
    },
    async signUp() {
      const payload = filter(v => v !== '', this.form)
      try {
        await this.registration(payload)
        await this.getUserData()
        this.checkData()
        this.$router.push('/')
      } catch (e) {}
    },
  },
}
</script>

<style scoped lang="scss">
@import '~/assets/css/variables.scss';

.form {
  background-color: white;

  &__header {
    background-color: $gray;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 208px;
    @media (min-width: $desktopSD) {
      min-height: 248px;
    }
    @media (min-width: $desktopHD) {
      min-height: 253px;
    }

    .header {
      text-align: center;
      &__title {
        padding-bottom: 24px;
        @include text(3);
        @media (min-width: $desktopSD) {
          @include text(4);
        }
        @media (min-width: $desktopHDp) {
          @include text(5);
        }
      }
      &__hint {
        max-width: 600px;
        margin: auto;
        opacity: 0.4;
        @include text(2);
        @media (min-width: $desktopSD) {
          @include text(3);
        }
      }
    }
  }

  &__form {
    margin: auto;
    padding: 32px 16px 40px;
    display: grid;
    grid-gap: 40px;
    @media (min-width: $desktopSD) {
      padding: 40px 0 80px;
      max-width: 808px;
    }

    .info {
      display: grid;
      @media (min-width: $desktopHDp) {
        grid-template-columns: min-content 1fr;
        grid-column-gap: 56px;
      }

      &__avatar {
        justify-self: center;
        z-index: 2;
        @media (min-width: $desktopHDp) {
          grid-row: span 3;
        }
      }
    }

    .contacts,
    .password {
      display: grid;
      grid-gap: 16px;
    }
  }

  &__label {
    opacity: 0.4;
    display: block;
    margin: 16px 0 8px;
    /*margin-bottom: 8px;*/
  }
  &__input {
    height: 56px;
    @include text(2);
    &--x2 {
      height: 112px;
    }
    @media (min-width: $desktopSD) {
      height: 64px;
      @include text(3);
      &--x2 {
        height: 128px;
      }
    }
    & /deep/ {
      .multi-select__icon {
        display: none;
      }
      .multiselect__select {
        display: block !important;
        height: 100%;
        width: 64px;
        right: 0;
        top: 0;
        &:before {
          border-color: $blue transparent transparent;
          border-width: 5px 5px 0;
          top: 70%;
          z-index: 1;
        }
      }
    }
  }
  &--border-color {
    border: solid 1px $black-gray;
  }
}
</style>
