<template>
  <label class="field">
    <span class="field__label"><slot></slot></span>

    <span class="field--position-relative">
      <input
        :value="value"
        :type="password && isPasswordType ? 'password' : 'text'"
        autocomplete="off"
        :class="{ 'field__input--error': $slots.error }"
        class="field__input"
        @input="$emit('input', $event.target.value)"
      />

      <label v-if="showCheckbox" class="eye">
        <input
          v-if="password"
          v-model="isPasswordType"
          type="checkbox"
          class="eye__input visually-hidden"
        />
        <input
          v-else
          :value="show"
          type="checkbox"
          @change="$emit('update:show', !show)"
          class="eye__input visually-hidden"
        />
        <span v-tooltip.auto="showTooltip" class="eye__icon"></span>
      </label>
    </span>

    <span v-if="$slots.error" class="field__error">
      <slot name="error"></slot>
    </span>
  </label>
</template>

<script>
export default {
  props: {
    value: String,
    show: {
      type: [Boolean, String, undefined],
      default: undefined,
    },
    showTooltip: String,
    password: Boolean,
  },
  data: () => ({
    isPasswordType: true,
  }),
  computed: {
    showCheckbox() {
      return this.show !== undefined || this.password
    },
  },
}
</script>

<style scoped lang="scss">
@import '~/assets/css/variables.scss';

.field {
  &--position-relative {
    display: block;
    position: relative;
  }
  &__label {
    opacity: 0.4;
    display: block;
    margin-bottom: 8px;
  }

  &__input {
    border: solid 1px $black-gray;
    height: 56px;
    padding-right: 64px;
    @include text(2);
    @media (min-width: $desktopSD) {
      height: 64px;
      @include text(3);
    }

    &--error {
      border: solid 1px $red;
    }
  }

  &__error {
    padding: 4px 16px;
    margin-top: 8px;
    display: inline-block;
    color: white;
    background-color: #f50052;
  }

  .eye {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 56px;
    width: 64px;
    @media (min-width: $desktopSD) {
      height: 64px;
    }

    &__icon {
      height: 100%;
      width: 100%;
      font-size: 24px;
      cursor: pointer;
      &::before {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        @include ww-icn();

        content: '\6d';
        opacity: 1;
        color: $blue;
        transition: all 0.5s;
      }
    }

    &__input:checked + .eye__icon::before {
      opacity: 0.4;
      content: '\4a';
      color: black;
      transition: all 0.5s;
    }
  }
}
</style>
