<template>
  <div class="user">
    <nuxt-link
      :to="profileRoute"
      class="user__avatar"
      :style="{ minWidth: size + 'px' }"
    >
      <Avatar :user="user" />
    </nuxt-link>
    <div class="user__bio">
      <nuxt-link :to="profileRoute" class="user__full-name">
        {{ user.name }}
      </nuxt-link>
      <div class="user__rating"></div>
      <div class="user__categories"></div>
      <div class="user__followers"></div>
    </div>
  </div>
</template>

<script>
import { path } from 'ramda'

export default {
  components: {
    Avatar: () => import('~/components/common/Avatar'),
  },
  props: {
    user: Object,
    size: {
      type: Number,
      default: 64,
    },
  },
  data() {
    return {
      imageStyle: {
        height: this.size,
        width: this.size,
        minWidth: this.size,
        borderRadius: '50%',
      },
    }
  },
  computed: {
    image() {
      return path(['avatar', 'image'], this.user)
    },
    profileRoute() {
      const { id } = this.user
      return {
        name: 'profile-id',
        params: { id },
      }
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.user {
  padding: 2 * $base;
  display: flex;
  flex-direction: row;

  &__avatar {
    cursor: pointer;
    height: 8 * $base;
    width: 8 * $base;
    min-width: 8 * $base;
  }

  &__avatar:hover + .user__bio {
    .user__full-name {
      text-decoration: underline;
    }
  }

  &__image {
    height: 8 * $base;
    width: 8 * $base;
    min-width: 8 * $base;
    border-radius: 50%;
  }

  &__bio {
    padding-left: 3 * $base;
    padding-top: $base;
  }

  &__full-name {
    cursor: pointer;
    font-size: 2 * $base;
    line-height: 1.5;
    color: $blue;

    &:hover {
      text-decoration: underline;
    }
  }
}
</style>
