<i18n>
{
    "ru": {
        "title": "Название события",
        "date": "Дата",
        "address": "Адрес",
        "online": "Онлайн событие"
    },
    "en": {
        "title": "Event name",
        "date": "Date",
        "address": "Address",
        "online": "Online event"
    }
}
</i18n>
<template>
  <div class="card">
    <div class="event-cover">
      <Cover :cover="eventCover" />
    </div>
    <div class="event-description">
      <div class="name">
        <p class="label">{{ $t('title') }}</p>
        <p class="value title">{{ eventTitle }}</p>
      </div>
      <div class="row">
        <div class="date">
          <p class="label">{{ $t('date') }}</p>
          <p class="value">{{ eventDate }}</p>
        </div>
        <div class="event-address">
          <p class="label">{{ $t('address') }}</p>
          <p class="value">{{ eventAddress }}</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Cover from '~/components/common/Cover'
  export default {
    components: {
      Cover
    },
    data() {
      return {
        eventCover: null,
        eventTitle: null,
        eventAddress: null,
        eventDate: null,
      }
    },

    mounted() {
      const event = this.$cookies.get('eventForCreateTestBC')
      if(event) {
        this.eventCover = event.cover
        this.eventTitle = event.title
        this.eventAddress = event.isOnline ? this.$t('online') : event.address
        this.eventDate = this.$moment(event.period[0]).format('LL')
      }
    },
  }
</script>

<style lang="scss" scoped>
  .card{
    display: flex;
    align-items: center;
    padding-left: 40px;
    box-shadow: 0 3px 30px 0 rgba(0, 112, 255, 0.1);
    background-color: #ffffff;
    margin-bottom: 16px;
    max-width: 1000px;
    .event-cover{
      width: 270px;
      margin: 5px 42px 5px 0;
    }
    p{
      margin: 0;
    }
    .event-description{
      display: flex;
      flex-direction: column;
    }
    .row {
      margin-top: 25px;
      display: flex;
      .date {
        margin-right: 80px;
      }
    }
    .label{
      font-size: 16px;
      font-weight: bold;
      color: rgba(0, 0, 0, 0.4);
      margin-bottom: 9px;
    }
    .value{
      font-size: 18px;
      font-weight: bold;
    }
    .title{
      font-size: 32px;
    }
  }
</style>