<i18n>
  {
  "ru": {
    "online_event": "Online событие",
    "organizer": "Организатор"
  },
  "en": {
    "online_event": "Online event",
    "organizer": "Organizer"
  }
}
</i18n>
<template>
  <div v-click-outside="resetZIndex"
       class="event-card"
       :style="{'z-index': zIndex}"
       @click="zIndex = 10">
    <div v-if="isSuper" class="event-card__super1"></div>
    <div v-if="isSuper" class="event-card__super2"></div>
    <div class="event-card__wrapper">
      <nuxt-link
          :to="eventUrl"
          :event="noClick ? '' : 'click'"
          :target="isExternalLink && '_blank'"
          class="event-card__cover"
      >
        <img
            v-if="staticImg"
            :src="eventImg"
            alt="cover for new event"
            class="event-card__img-wrapper event-card__img-static"
        />
        <div v-else class="event-card__img-wrapper">
          <AsyncImage
              :image="eventImg"
              :fitSize="{ width: 280, height: 192 }"
              makeFit
              contain
              class="event-card__img2"
          />
        </div>
      </nuxt-link>
      <div class="event-card__body body">
        <div class="body__content">
          <nuxt-link
              :to="eventUrl"
              :event="noClick ? '' : 'click'"
              :target="isExternalLink && '_blank'"
              class="link"
          >
            {{ category }}
          </nuxt-link>

          <nuxt-link
              :to="eventUrl"
              :event="noClick ? '' : 'click'"
              :target="isExternalLink && '_blank'"
              class="body__caption"
              style="-webkit-box-orient: vertical;"
          >
            {{ event.title }}
          </nuxt-link>

          <EventCardSuperDateTime v-if="isSuper" :sessions="value" :similar="similar" />
          <nuxt-link
              v-else
              :to="eventUrl"
              :event="noClick ? '' : 'click'"
              :target="isExternalLink && '_blank'"
          >
            <EventCardDateTime
                class="body__period"
                :obj="datesObject"/>
          </nuxt-link>

          <nuxt-link
              v-if="locationTitle"
              :to="eventUrl"
              :event="noClick ? '' : 'click'"
              :target="isExternalLink && '_blank'"
              class="link"
          >
            <i class="icon-map ww-icn-map-marker" />
            {{ locationTitle }}
          </nuxt-link>
          <nuxt-link
              v-else-if="organizer"
              :to="organizer.url"
              :event="noClick ? '' : 'click'"
              :target="isExternalLink && '_blank'"
              class="link"
          >
            {{ organizer.title }}
          </nuxt-link>
        </div>

        <div class="body__actions">
          <button
              v-if="!staticImg && isOwn"
              v-tooltip.auto="$t('common.remove')"
              class="actions__btn"
              @click="$emit('remove')"
          >
            <i class="icon ww-icn-trash-o" />
          </button>
          <div class="actions__expander"></div>
          <button
              v-if="!staticImg"
              v-only-auth:click="addToJournal"
              v-tooltip.auto="$t('common.addToJournal')"
              class="actions__btn"
          >
            <span class="icon ww-icn-plus" />
          </button>
          <div class="actions__check-icon">
            <Icon v-if="isEventApproved" src="icons/check-round.svg" />
            <Icon v-else-if="isEventReject" src="icons/uncheck-round.svg" />
          </div>
          <div v-if="event.tickets" @click.stop>
            <EventCardTicketsButton :session="session" class="actions__button">
              {{ eventPrice }}
            </EventCardTicketsButton>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import { path, prop } from 'ramda'
  import { mapActions } from 'vuex'

  import { calcBrightness, formatPrice } from '~/utils'
  import popoverConsts from '~/utils/popoverConsts'

  export default {
    components: {
      AsyncImage: () => import('~/components/common/AsyncImage'),
      Icon: () => import('~/components/common/Icon'),
      EventCardDateTime: () => import('./EventCardDateTime'),
      EventCardSuperDateTime: () => import('./EventCardSuperDateTime'),
      EventCardTicketsButton: () => import('./EventCardTicketsButton'),
    },
    props: {
      value: {
        type: [Array, Object],
        required: true,
      },
      isOwn: Boolean,
      noClick: Boolean,
      /**
       * Allow to pass eventImage as base64
       */
      staticImg: Boolean,
      /**
       * Add target="_blank" for card links
       */
      isExternalLink: Boolean,
      /**
       * Add extra query to urls
       * (ex. some utm data)
       */
      extraQuery: Object,
      similar: {
        type: Boolean,
        default: false
      },
    },
    data() {
      return {
        zIndex: 1,
      }
    },
    computed: {
      isSuper() {
        return path(['length'], this.value) > 1
      },
      session() {
        return path([0], this.value) || this.value
      },
      event() {
        return this.session.event
      },
      datesObject() {
        const dateKeys = ['start_date', 'start_time', 'end_date', 'end_time']
        for (const key in dateKeys){
          if (!Object.keys(this.session).includes(key))
            return this.event
        }
        return this.session
      },
      eventUrl() {
        const route = { query: this.extraQuery }

        if (this.session.url_id) {
          return {
            ...route,
            name: 'events-sessions-id',
            params: { id: this.session.url_id },
          }
        }

        return {
          ...route,
          name: 'events-id',
          params: { id: this.event.url_id },
        }
      },
      category() {
        return (
          path(['category', 'title'], this.event) ||
          path(['type', 'title'], this.event)
        )
      },
      isPromo() {
        return prop('is_promo', this.event) || prop('selected', this.event)
      },
      eventImg() {
        return this.toShow && path(['cover', 'image'], this.event)
          ? this.event.cover.image
          : null
      },
      toShow() {
        // if image has sizes hide it if bigger side lower than 100
        // otherwise just show
        const width = path(['cover', 'original_width'], this.event)
        const height = path(['cover', 'original_height'], this.event)
        if (!height) return true
        if (height > width) {
          return height > 100
        } else {
          return width > 100
        }
      },
      locationTitle() {
        if (this.event.is_online){
          return this.$t('online_event')
        }
        const location = path(['location', 'title'], this.session)
        if (!location){
          return path(['organizer', 'title'], this.event)
        }
      },
      organizer() {
        const title = path(['organizer', 'title'], this.event)
        const url_id = path(['organizer', 'url_id'], this.event)
        return url_id ? { title: title ? title: this.$t('organizer'), url: `/organizers/${url_id}/` } : null
      },
      eventMaxPrice() {
        return path(['tickets', 'max_price'], this.event)
      },
      eventMinPrice() {
        return path(['tickets', 'min_price'], this.event)
      },
      eventPriceCurrency() {
        return path(['tickets', 'currency'], this.event)
      },
      eventPrice() {
        return formatPrice({
          max: this.eventMaxPrice,
          min: this.eventMinPrice,
          currency: this.eventPriceCurrency,
        })
      },
      isEventApproved() {
        return String(this.event.manual_moderation_status) === '2'
      },
      isEventReject() {
        return String(this.event.manual_moderation_status) === '0'
      },
    },
    mounted() {
      if (this.isPromo) {
        const color1 = path(['cover', 'main_color_1'], this.event)
        const color2 = path(['cover', 'main_color_2'], this.event)

        this.setPromoBackground(color1, color2)
        this.setTextColor(color2)
      }
    },
    methods: {
      ...mapActions({ openPopoverWithData: 'popovers/OPEN_POPOVER_WITH_DATA' }),
      setPromoBackground(color1, color2) {
        if (color1 && color2) {
          this.$el.style.setProperty(
            '--background-promo',
            `linear-gradient(to bottom, ${color1}, ${color2})`,
          )
        }
      },
      setTextColor(color) {
        if (color) {
          this.$el.style.setProperty(
            '--text-color',
            calcBrightness(color) ? 'black' : 'white',
          )
        }
      },
      resetZIndex() {
        this.zIndex = 1
      },
      addToJournal() {
        this.openPopoverWithData({
          name: popoverConsts.addToJournal,
          data: {
            event: this.event,
          },
        })
      },
    },
  }
</script>

<style lang="scss" scoped>
  @import '~/assets/css/variables.scss';

  .event-card {
    --background-promo: unset;
    --text-color: black;
    --aspect-ratio-card: 1.75;
    --aspect-ratio-cover: 0.68;
    @media (min-width: $desktopSD) {
      --aspect-ratio-card: 1.5;
    }
    @media (min-width: $desktopHDp) {
      --aspect-ratio-card: 1.44;
    }

    display: block;
    padding-top: calc(var(--aspect-ratio-card) * 100%);
    position: relative;

    /*background-color: white;*/
    /*background-image: var(--background-promo);*/
    transition: box-shadow 0.3s ease;

    &:hover {
      box-shadow: 0 0 30px 0 rgba(209, 220, 234, 0.6);
    }

    &__wrapper {
      position: absolute;
      top: 0;
      left: 0;
      /*bottom: 0;*/
      min-height: 100%;
      right: 0;
      /*display: flex;*/
      /*flex-direction: column;*/
      display: grid;
      grid-template-rows: auto 1fr;
      padding: 8px;

      background-color: white;
      background-image: var(--background-promo);
      box-shadow: 0 0 15px 0 rgba(209, 220, 234, 0.3);
    }

    &__super1 {
      position: absolute;
      top: 0;
      left: 16px;
      bottom: -16px;
      right: 16px;
      background-color: white;
      background-image: var(--background-promo);
      box-shadow: 0 0 15px 0 rgba(209, 220, 234, 0.3);
    }
    &__super2 {
      position: absolute;
      top: 0;
      left: 8px;
      bottom: -8px;
      right: 8px;
      background-color: white;
      background-image: var(--background-promo);
      box-shadow: 0 0 15px 0 rgba(209, 220, 234, 0.3);
    }

    &__cover {
      display: block;
      padding-top: calc(var(--aspect-ratio-cover) * 100%);
      position: relative;
      margin-bottom: 8px;
    }

    &__img-wrapper {
      width: 100%;
      height: 100%;
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
    }
    &__img-static {
      max-width: 100%;
      width: 100%;
      object-fit: contain;
    }
    &__img2 {
      width: 100%;
      height: 100%;
    }

    .body {
      flex: 1;
      display: grid;
      grid-template-rows: 1fr min-content;
      padding: 0 8px;
      @media (min-width: $desktopHDp) {
        padding: 8px;
      }

      &__content {
        overflow: hidden;
        color: var(--text-color);

        .link {
          display: inline-block;
          cursor: pointer;
          opacity: 0.4;
          max-width: 100%;
          @include no-text-wrap();
          font-size: 10px;
          line-height: 1.6;
          @media (min-width: $desktopSD) {
            font-size: 12px;
            line-height: 1.33;
          }
        }
        .icon-map {
          font-size: 10px;
        }
      }
      &__caption {
        display: -webkit-box;
        // move to inline style, not ?parsed? in class
        // -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 8px;
        font-size: 16px;
        font-weight: bold;
        line-height: 24px;
        height: max-content;
        max-height: 48px;
        @media (min-width: $desktopSD) {
          font-size: 24px;
          line-height: 32px;
          max-height: 64px;
          text-align: left;
        }
        &:hover {
          color: $blue;
        }
      }

      &__period {
        margin-bottom: 8px;
        font-size: 12px;
        font-weight: bold;
        line-height: 1.33;
        text-transform: capitalize;
        @include no-text-wrap();

        @media (min-width: $desktopSD) {
          font-size: 16px;
          line-height: 1.5;
        }
      }

      &__categories {
        @include no-text-wrap();
        color: #999999;
        font-size: 10px;
        line-height: 1.6;
        height: 16px;
        @media (min-width: $desktopSD) {
          font-size: 12px;
          line-height: 2;
          height: 24px;
        }
      }

      &__category {
        display: inline;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }

        &:not(:last-child) {
          margin-right: 8px;
        }
      }
      .text-overflow {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      &__actions {
        display: flex;
        /*grid-template-columns: 1fr;*/
        /*grid-auto-flow: column;*/
        /*grid-auto-columns: minmax(32px, min-content);*/
        align-items: center;
        justify-items: center;
        height: 32px;
        .icon {
          height: 16px;
        }
        @media (min-width: $desktopHDp) {
          grid-auto-columns: minmax(40px, min-content);
          height: 40px;
        }
        .actions {
          &__rating {
            justify-self: start;
          }
          &__btn {
            width: 32px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--text-color);
            opacity: 0.4;
            @media (min-width: $desktopHDp) {
              width: 40px;
            }
            &:hover,
            &:focus {
              opacity: 1;
              color: $blue;
            }
          }
          &__expander {
            flex: 1;
            /*width: 300px;*/
          }
          &__check-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 32px;
            @media (min-width: $desktopHDp) {
              width: 40px;
            }
          }
        }
      }
    }
  }
</style>
