<template>
  <section class="main__events">
    <h2 class="main__events-header">{{ $t('mainpage.events') }}</h2>

    <div class="main__events-filter">
      <PeriodFilter
        :value="period"
        :buttons="$t('mainpage.filters')"
        activeColor="blue"
        @input="changePeriod"
      />
    </div>

    <Loader v-if="loading" />
    <div v-else class="main__event-grid">
      <component
        :is="VersionCard"
        v-for="event in EVENTS"
        :key="event.id"
        :value="{ event }"
        :event="event"
        :isExternalLink="isExternal"
        hideButtons
        :extraQuery="
          makeWidgetUtm({
            utmContentPlace: 'teaser',
          })
        "
        class="main__event-card"
      />
    </div>

    <nuxt-link
      :to="{
        name: 'events',
        query: makeWidgetUtm({
          utmContentPlace: 'morevents',
        }),
      }"
      :target="isExternal && '_blank'"
    >
      <Button>{{ $t('mainpage.allEvents') }}</Button>
    </nuxt-link>
  </section>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import { makeWidgetUtm } from '~/utils/widget'

export default {
  components: {
    PeriodFilter: () => import('~/components/common/input/PeriodFilter'),
    Loader: () => import('~/components/common/Loader'),
    EventCard: () => import('~/components/common/EventCard'),
    EventCardV2: () => import('~/components/common/EventCard/V2'),
    Button: () => import('~/components/common/buttons/Button'),
  },

  props: {
    query: Object,
    isExternal: Boolean,
    currentVersion: String,
  },

  data: () => ({
    loading: false,
    period: 'month',
  }),

  computed: {
    ...mapGetters('events', ['EVENTS']),
    VersionCard() {
      if (this.currentVersion === '1') return 'EventCard'
      else if (this.currentVersion === '2') return 'EventCardV2'
      else return 'EventCard'
    },
  },

  methods: {
    ...mapActions({
      fetchEvents: 'events/FETCH',
    }),
    makeWidgetUtm(rest) {
      return makeWidgetUtm({
        utmContentType: '4',
        query: this.$route.query,
        ...rest,
      })
    },
    changePeriod(period) {
      this.period = period
      this.getEvents({ ...this.query, period })
    },
    async getEvents(query) {
      this.loading = true
      await this.fetchEvents(query)
      this.loading = false
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.main {
  &__events {
    margin-top: 2.5 * $base;

    @media (min-width: $desktopHD) {
      margin-top: 9.5 * $base;
    }

    @media (min-width: 1180px) {
      margin-top: 0;
    }
  }

  &__events-header {
    margin-bottom: 0.625 * $base;

    @media (min-width: $desktopHD) {
      margin-bottom: 1.5 * $base;
    }
  }

  &__events-filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__event-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 160px);
    grid-gap: $base;
    margin: 3 * $base 0 2 * $base 0;

    @media (min-width: $desktopSD) {
      grid-template-columns: repeat(auto-fill, 248px);
      grid-gap: 2 * $base;
      margin-top: 4.25 * $base;
      margin-bottom: 7 * $base;
    }
    @media (min-width: $desktopHDp) {
      grid-gap: 5 * $base;
      grid-template-columns: repeat(auto-fill, 296px);
      margin-top: 4.25 * $base;
      margin-bottom: 7 * $base;
    }
  }

  &__event-card {
    @media (min-width: $desktopSD) {
      max-width: 248px;
    }
    @media (min-width: $desktopHDp) {
      max-width: 296px;
    }
  }
}
</style>
