<template>
  <div class="wrapper main-view">
    <Hero :value="city" isExternal @search="$emit('search', $event)" />
    <MainViewEvents
      :currentVersion="currentVersion"
      isExternal
      :query="query"
    />
  </div>
</template>

<script>
import MainViewEvents from '~/components/widgets/search/MainViewEvents'
import Hero from '~/components/main/hero'
import { mapGetters } from 'vuex'

export default {
  components: {
    MainViewEvents,
    Hero,
  },

  props: {
    query: Object,
    currentVersion: String,
  },

  computed: {
    ...mapGetters({ city: 'city/GET_CITY' }),
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.main-view {
  padding: 16px 0;

  @media (min-width: $desktopSD) {
    padding: 32px 0;
  }
  @media (min-width: $desktopHD) {
    padding: 64px 0;
  }
  @media (min-width: $desktopHDp) {
    padding: 96px 0 76px 0;
  }
}
</style>
