<template>
  <nav v-if="items.length" class="scrollable-nav">
    <ul
      ref="list"
      :class="[
        { 'is-disabled': disabled, wrap },
        justify ? `justify-${justify}` : null,
      ]"
      class="list"
    >
      <li
        v-for="(item, idx) in items"
        :key="idx + String(getItemValue(item))"
        class="item"
        :class="{ 'is-disabled': isItemDisabled(item) }"
        @click="setActiveItem(item)"
      >
        <slot
          name="item"
          :item="item"
          :value="value"
          :disabled="disabled"
          :item-value="getItemValue(item)"
          :item-label="getItemLabel(item)"
          :is-item-active="isItemActive(item)"
          :is-item-disabled="isItemDisabled(item)"
          :is-item-first="isItemFirst(item)"
          :is-item-last="isItemLast(item)"
        >
          <span v-text="getItemLabel(item)" />
        </slot>
      </li>
    </ul>
  </nav>
</template>

<script>
// todo: storybook

import { path, equals } from 'ramda'

export default {
  components: {},
  model: {
    prop: 'value',
    event: 'change',
  },
  props: {
    value: [String, Number, Boolean, Object],
    items: {
      type: Array,
      default: () => [],
    },
    valueBy: {
      type: [String, Function],
      default: () => item => item,
    },
    labelBy: {
      type: [String, Function],
      default: 'label',
    },
    disabled: Boolean,
    wrap: Boolean,
    justify: {
      type: String,
      default: '',
      validator: justify =>
        [
          '',
          'start',
          'end',
          'center',
          'stretch',
          'space-between',
          'space-around',
        ].includes(justify),
    },
  },
  watch: {
    items: 'scrollToActiveItem',
    value: 'scrollToActiveItem',
  },
  mounted() {
    window.addEventListener('resize', this.onWindowResize.bind(this))
    this.onWindowResize()
  },
  beforeDestroy() {
    window.removeEventListener('resize', this.onWindowResize)
  },
  methods: {
    getItemValue(item) {
      return typeof this.valueBy === 'function'
        ? this.valueBy(item)
        : path(this.valueBy.split('.'), item)
    },
    getItemLabel(item) {
      return typeof this.labelBy === 'function'
        ? this.labelBy(item)
        : path(this.labelBy.split('.'), item)
    },
    isItemActive(item) {
      return equals(this.getItemValue(item), this.value)
    },
    isItemDisabled(item) {
      return this.disabled || Boolean(item.disabled)
    },
    isItemFirst(item) {
      return this.items.indexOf(item) === 0
    },
    isItemLast(item) {
      return this.items.indexOf(item) === this.items.length - 1
    },
    setActiveItem(item) {
      if (this.isItemDisabled(item)) return

      if (this.isItemActive(item)) {
        this.scrollToActiveItem()
      } else {
        this.$emit('change', this.getItemValue(item))
      }
    },
    onWindowResize() {
      this.scrollToActiveItem()
    },
    scrollToActiveItem() {
      if (process.server) return

      const $list = this.$refs.list
      if (!$list) return

      const listScrollWidth = $list.scrollWidth
      const listWidth = $list.clientWidth
      if (listScrollWidth <= listWidth) return

      const $items = $list.children
      const activeItemIdx = this.items.findIndex(item =>
        this.isItemActive(item),
      )
      const $activeItem = $items[activeItemIdx]
      if (!$activeItem) return

      const itemWidth = $activeItem.offsetWidth
      const itemOffsetLeft = $activeItem.offsetLeft
      const itemCenterOffset = itemOffsetLeft + itemWidth / 2
      const listVisualCenter = listWidth / 2

      $list.scrollTo({
        left: itemCenterOffset - listVisualCenter,
        behavior: 'smooth',
      })
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.scrollable-nav {
  line-height: normal;

  .list {
    position: relative;
    display: flex;
    align-items: center;
    overflow-x: auto;

    &.is-disabled {
      pointer-events: none;
    }

    &.wrap {
      flex-wrap: wrap;

      &.justify {
        &-start {
          justify-content: flex-start;
        }
        &-end {
          justify-content: flex-end;
        }
        &-center {
          justify-content: center;
        }
        &-stretch {
          justify-content: stretch;
        }
        &-space-between {
          justify-content: space-between;
        }
        &-space-around {
          justify-content: space-around;
        }
      }
    }

    // https://stackoverflow.com/a/33455342/2583439
    // https://stackoverflow.com/a/33856609/2583439
    // https://stackoverflow.com/a/36191570/2583439
    &:not(.wrap).justify {
      &-start {
        .item:last-child {
          margin-right: auto;
        }
      }
      &-end {
        .item:first-child {
          margin-left: auto;
        }
      }
      &-center {
        .item {
          &:first-child {
            margin-left: auto;
          }
          &:last-child {
            margin-right: auto;
          }
        }
      }
      &-stretch {
        .item {
          flex: 1 1;
        }
      }
      &-space-between {
        .item {
          &:first-child {
            margin-right: auto;
          }
          &:last-child {
            margin-left: auto;
          }
          &:not(:first-child):not(:last-child) {
            margin-left: auto;
            margin-right: auto;
          }
        }
      }
      &-space-around {
        .item {
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }
  .item {
    flex-shrink: 0;
    flex-grow: 0;
    cursor: pointer;
    white-space: nowrap;
    text-align: center;

    &.is-disabled {
      pointer-events: none;
    }
  }
}
</style>
