<template>
  <div class="admin-panel">
    <transition name="rotateY" mode="out-in">
      <BtnWithIcon
        :key="'isTop' + isTop"
        :inlineColor="isTop ? '#f50052' : '#4CAF50'"
        invert
        v-tooltip.auto="isTop ? 'опустить в списке' : 'поднять в списке'"
        @click="setIsTop(!isTop)"
      >
        <Icon v-if="isTop" :key="1" src="icons/arrow-down-v2.svg" size="l" />
        <Icon v-else :key="2" src="icons/arrow-up.svg" size="l" />
      </BtnWithIcon>
    </transition>

    <!-- TODO: add transition, add i18n for data-tile -->
    <BtnWithIcon
      v-if="manualModerate !== 2"
      v-tooltip.auto="'утвердить'"
      inlineColor="#4CAF50"
      invert
      @click="setModerationStatus(2)"
    >
      <Icon :key="2" src="icons/thumb-up.svg" size="l" />
    </BtnWithIcon>
    <BtnWithIcon
      v-if="manualModerate !== 0"
      v-tooltip.auto="'отклонить'"
      inlineColor="#f50052"
      invert
      @click="setModerationStatus(0)"
    >
      <Icon :key="1" src="icons/thumb-down.svg" size="l" />
    </BtnWithIcon>
  </div>
</template>

<script>
import Icon from '~/components/common/Icon'
import BtnWithIcon from '~/components/common/buttons/BtnWithIcon'

export default {
  name: 'AdminPanel',
  components: {
    Icon,
    BtnWithIcon,
  },
  props: {
    value: {
      type: Object,
      default: () => ({}),
    },
  },
  computed: {
    isTop() {
      return this.value.is_top
    },
    isApproved() {
      return String(this.value.manual_moderation_status) === '2'
    },
    manualModerate() {
      return this.value.manual_moderation_status
    },
  },
  methods: {
    async setIsTop(v) {
      this.$emit('input', { is_top: v })
    },
    async setModerationStatus(v) {
      this.$emit('input', { manual_moderation_status: v })
    },
  },
}
</script>

<style lang="scss" scoped>
.admin-panel {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  grid-gap: 16px;
}

.rotateY-enter-active,
.rotateY-leave-active {
  transition: all 0.25s ease;
}

.rotateY-enter,
.rotateY-leave-to {
  transform: scaleY(0);
}
</style>
