<template>
  <div
    class="avatar"
    :style="{
      'min-width': size + 'px',
      width: size + 'px',
      height: size + 'px',
    }"
  >
    <Icon
      v-if="isHidden"
      src="/icons/anonymous.svg"
      size=""
      class="avatar__anonymous"
    />
    <AsyncImage
      v-else-if="image"
      :image="image"
      :height="size"
      :width="size"
      class="avatar__img"
    />
    <Icon v-else src="/icons/avatar.svg" size="" class="avatar__empty" />
  </div>
</template>

<script>
import { path } from 'ramda'

export default {
  components: {
    AsyncImage: () => import('~/components/common/AsyncImage'),
    Icon: () => import('~/components/common/Icon'),
  },
  props: {
    user: Object,
    size: {
      type: [String, Number],
      default: 64,
    },
  },
  computed: {
    image() {
      return path(['avatar', 'image'], this.user)
    },
    isHidden() {
      /*
          user is object, but has id === null;
          backend return all properties null if PDA is not checked
        */
      return this.user ? this.user.id === null : false
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.avatar {
  border-radius: 50%;
  overflow: hidden;

  &__anonymous {
    height: 100%;
    width: 100%;
  }

  &__img {
    height: 100%;
  }

  &__empty {
    height: 100%;
    width: 100%;
    color: $dark-blue;
  }
}
</style>
