<template>
  <div class="filter">
    <label v-for="(button, id) in buttons" :key="id" class="filter__item">
      <input
        :value="button.value"
        :checked="value === button.value"
        :disabled="disabled"
        class="filter__input"
        :class="{ color: value === button.value }"
        type="radio"
        :name="name"
        @change="$emit('input', $event.target.value)"
      />
      <span
        class="filter__caption"
        :class="{ [`color--${activeColor}`]: value === button.value }"
        :style="[
          value !== button.value && { color: inlineColor || button.color },
          value === button.value && {
            backgroundColor: inlineActiveColor || button.activeColor,
          },
        ]"
      >
        {{ button.name }}
      </span>
    </label>
  </div>
</template>

<script>
export default {
  props: {
    value: String,
    buttons: Array,
    disabled: Boolean,
    /*
      add inline color without check from design vars
    */
    inlineActiveColor: String,
    inlineColor: String,
    activeColor: {
      type: String,
      default: 'red',
      validator: v =>
        ['black-blue', 'blue', 'red', 'special-red', 'black'].indexOf(v) !== -1,
    },
    name: {
      type: String,
      default: 'period',
    },
  },
}
</script>

<style scoped lang="scss">
@import '~/assets/css/variables.scss';

.filter {
  $item-h-padding: 2.25 * $base;

  @mixin active-caption {
    color: white;
    &::before {
      background-color: $blue;
    }
  }

  display: flex;
  margin-left: -2 * $base;
  margin-right: -2 * $base;
  overflow-x: auto;
  overflow-y: hidden;
  padding-left: 2 * $base;
  padding-right: 2 * $base;

  @media (min-width: $desktopHD) {
    display: block;
    margin-left: -$item-h-padding;
    margin-right: -$item-h-padding;
    padding-left: 0;
    padding-right: 0;
  }

  &__item {
    display: inline-block;
    position: relative;
    white-space: nowrap;

    &:not(:last-child) {
      margin-right: 0.25 * $base;

      @media (min-width: $desktopHD) {
        margin-right: 0.5 * $base;
      }
    }

    &:hover,
    &:focus {
      .filter__caption {
        color: $blue;
      }
    }
  }

  &__input {
    cursor: pointer;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;

    &:checked + .filter__caption {
      @include active-caption;
    }
  }

  &__caption {
    display: inline-block;
    @include text(1.5);
    font-weight: bold;
    letter-spacing: 0.6px;
    line-height: 3 * $base;
    padding: (0.75 * $base) $base (0.25 * $base);
    position: relative;
    text-transform: uppercase;
    user-select: none;

    @media (min-width: $desktopHD) {
      padding: (1.3 * $base) ($item-h-padding) (0.7 * $base);
    }

    &::before {
      content: '';
      bottom: 0;
      left: 0;
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
    }

    &_active {
      @include active-caption;
      pointer-events: none;
    }
  }
}

.color--black {
  background-color: black;
}

.color--red {
  background-color: $red;
}

.color--blue {
  background-color: $blue;
}

.color--black-blue {
  background-color: $black-blue;
}

.color--special-red {
  background-color: $special-red;
}
</style>
