<template>
  <div class="horizontal-card__wrapper">
    <div v-if="$slots.topButtons" class="top-button">
      <slot name="topButtons"></slot>
    </div>

    <nuxt-link
      v-if="event"
      :to="{ name: 'events-id', params: { id: event.url_id } }"
      class="horizontal-card"
    >
      <AsyncImage :image="eventCover" class="image" width="296" height="200" />
      <div class="content">
        <ul class="content__categories">
          <li
            v-for="category in event.categories"
            :key="category.id"
            class="content__category"
          >
            <WLink
              color="black"
              :to="{
                name: 'search',
                query: {
                  city: getCityId,
                  category: category.slug,
                  actual: true,
                },
              }"
              >{{ category.title }}</WLink
            >
          </li>
        </ul>

        <div class="content__title" style="-webkit-box-orient: vertical;">
          {{ event.title }}
        </div>

        <DateTime
          small
          format="main"
          class="content__date"
          :start="start"
          :end="end"
        />

        <div class="content__bottom">
          <!-- v-else div to justify-between if not insitution -->
          <div v-if="institution" class="address content__address-wrapper">
            <WLink
              color="black"
              :to="`/places/${institution.url_id}/`"
              class="content__address"
              >{{ institution.title }}</WLink
            >
          </div>
          <div v-else />

          <div v-if="hasVisitors" class="visitors">
            <AsyncImage
              v-for="visitor in visitors"
              :key="visitor.id"
              :image="visitor.avatar.image"
              width="32"
              height="32"
              class="visitors__avatar"
            />
            <div v-if="event.visitors.count" class="visitors__count">
              {{ $tc('common.willGoFull', event.visitors.count) }}
            </div>
          </div>
        </div>
      </div>
    </nuxt-link>
  </div>
</template>

<script>
import { path } from 'ramda'

import AsyncImage from '~/components/common/AsyncImage'
import DateTime from '~/components/common/DateTime'
import WLink from '~/components/common/WLink'
import { mapGetters } from 'vuex'

import { makeDateTimeStringFromEvent } from '~/utils/formatDate'

export default {
  name: 'HorizontalEventCardVariant2',

  components: {
    DateTime,
    AsyncImage,
    WLink,
  },

  props: {
    event: {
      type: Object,
      required: true,
    },
  },

  computed: {
    ...mapGetters({ getCityId: 'city/GET_CITY_ID' }),
    eventCover() {
      return path(['cover', 'image'], this.event)
    },
    hasVisitors() {
      return Boolean(path(['visitors', 'count'], this.event))
    },
    visitors() {
      return this.event.visitors.results.filter(v => v.avatar).slice(0, 3)
    },
    institution() {
      return path(['location', 'institution'], this.event)
    },
    start() {
      return makeDateTimeStringFromEvent({ 
        event: this.event, 
        variant: 'start'
      })
    },
    end() {
      return makeDateTimeStringFromEvent({ 
        event: this.event, 
        variant: 'end'
      })
    },

  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.horizontal-card {
  padding: 24px;
  background: #fff;
  display: flex;

  &__wrapper {
    position: relative;
    max-width: 856px;

    &:hover {
      @media (min-width: $desktopHD) {
        box-shadow: 0 0 0 12px white, 0 0 0 16px $blue;

        .top-button {
          opacity: 1;
        }
      }
    }
  }
}

.image {
  width: 296px;
  height: 200px;
  flex-shrink: 0;
  background: $red;
}

.content {
  padding-left: 64px;
  padding-top: 12px;
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;

  &__categories {
    @include text(1.5);
    line-height: 24px;
    height: 24px;
    margin-bottom: 2px;
    padding-right: 75px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__category {
    display: inline-block;

    &:not(:last-child):after {
      content: ',';
      margin-right: 4px;
    }
  }

  &__title {
    @include text(3);
    margin-bottom: 18px;
    padding-right: 75px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    // move to inline style, not ?parsed? in class
    // -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 32px;
    height: 64px;
  }

  &__date {
    padding: 0;
  }

  &__bottom {
    display: flex;
    flex: 1;
    align-items: flex-end;
    justify-content: space-between;
  }

  &__address-wrapper {
    display: flex;
    align-items: center;
    margin-right: 8px;
    min-width: 0;
    flex: 1;

    &::before {
      font-size: 12px;
      top: 0;
    }
  }

  &__address {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.top-button {
  position: absolute;
  right: 24px;
  top: 24px;
  transition: opacity 0.3s;

  @media (min-width: $desktopHD) {
    opacity: 0;
  }
}

.visitors {
  display: flex;
  align-items: center;
  padding-left: 20px;

  &__avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: -20px;
    background: $red;
  }

  &__count {
    margin-left: 14px;
  }
}
</style>
