<i18n>
{
  "ru": {
    "company": "Компания",
    "personal": "Частное лицо"
  },
  "en": {
    "company": "Company",
    "personal": "Person"
  },
  "es": {
    "company": "Compañía",
    "personal": "Persona natural"
  }
}
</i18n>

<template>
  <div class="company-switcher">
    <label class="company-switcher__item">
      <input
        :value="true"
        :checked="checked"
        type="radio"
        @change="$emit('change', true)"
      />
      {{ $t('auth.companyProfile') }}
    </label>
    <label class="company-switcher__item">
      <input
        :value="false"
        :checked="!checked"
        type="radio"
        @change="$emit('change', false)"
      />
      {{ $t('auth.userProfile') }}
    </label>
  </div>
</template>

<script>
export default {
  model: {
    prop: 'checked',
    event: 'change',
  },
  props: {
    checked: Boolean,
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.company-switcher {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  &__item {
    cursor: pointer;
    margin-bottom: $base * 2;

    &:not(:last-child) {
      margin-right: $base * 5;
    }
  }
  input {
    margin-right: $base * 2;
  }
}
</style>
