<template>
  <div class="custom-input">
    <div v-if="$scopedSlots.label" class="custom-input__label">
      <slot name="label" />
    </div>

    <div class="custom-input__wrap">
      <slot>
        <TheMask
          v-if="$attrs.type === 'tel'"
          ref="input"
          v-bind="$attrs"
          :class="{ invalid }"
          :tokens="{ '.': { pattern: /[+\-()\d\s]+/ } }"
          :masked="true"
          mask="....................."
          type="tel"
          class="input"
          v-on="listeners"
        />
        <input
          v-else
          ref="input"
          :class="{ invalid }"
          v-bind="$attrs"
          class="input"
          v-on="listeners"
        />
      </slot>
      <span
        v-if="$scopedSlots.icon"
        :class="{ '-interactive': isIconInteractive }"
        class="custom-input__icon"
        @click="$emit('icon:click', $event)"
      >
        <TextTooltip
          v-if="$scopedSlots['icon-tooltip']"
          inline
          class="custom-input__tooltip"
        >
          <template v-slot:tooltip>
            <slot name="icon-tooltip" />
          </template>
          <span class="icon">
            <slot name="icon" />
          </span>
        </TextTooltip>
        <span v-else class="icon">
          <slot name="icon" />
        </span>
      </span>
    </div>
  </div>
</template>

<script>
import { prop } from 'ramda'
import { TheMask } from 'vue-the-mask'

export default {
  components: {
    TheMask,
    TextTooltip: () => import('~/components/common/TextTooltip'),
  },
  inheritAttrs: false,
  props: {
    invalid: Boolean,
  },
  computed: {
    listeners() {
      return {
        ...this.$listeners,
        input: e => this.$emit('input', e.target ? e.target.value : e),
      }
    },
    isIconInteractive() {
      return !!this.$listeners['icon:click']
    },
  },
  methods: {
    focus() {
      if (process.server) return

      const { input } = this.$refs
      const $input = prop('$el', input) || input
      $input.focus()
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';
@import './index.scss';

.custom-input {
  $icon-space-width: $base * 9.25;

  &__label {
    @extend %input-label;
  }

  &__wrap {
    position: relative;
    display: block;
  }

  &__tooltip {
    z-index: 2;

    /deep/ .tooltip {
      left: auto;
      right: -20px;
      bottom: auto;
      top: 50%;
      transform: none;
      margin-top: 24px;
    }
  }

  &__icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: $icon-space-width;

    &.-interactive {
      cursor: pointer;
    }

    .icon {
      color: $blue;
      font-size: $base * 3;
    }
    /deep/ {
      [class^='ww-icn-'],
      [class*=' ww-icn-'] {
        &,
        &:before {
          display: block;
          line-height: 1;
        }
      }
    }
  }

  .input {
    display: block;
    padding-right: $icon-space-width;

    &.invalid,
    &:invalid {
      box-shadow: 0 0 0 2px $red;
    }
  }
}
</style>
