<template>
  <div class="list-editor">
    <div v-for="(item, idx) in items" :key="idx" class="row">
      <CustomInput
        v-model="items[idx]"
        :invalid="errors[idx]"
        :type="type"
        :placeholder="placeholder"
      >
        <!--proxy 'label' slot for first item-->
        <template v-if="$scopedSlots.label && !idx" v-slot:label="scope">
          <slot name="label" v-bind="scope" />
        </template>
      </CustomInput>
    </div>

    <div class="row">
      <CustomInput
        ref="input"
        v-model="newItem"
        :invalid="!items.length && errors[0]"
        :type="type"
        :placeholder="placeholder"
        @icon:click="add()"
        @keydown.enter.prevent="add($event)"
      >
        <!--proxy 'label' slot if items are absent -->
        <template v-if="!items.length" v-slot:label="scope">
          <slot name="label" v-bind="scope" />
        </template>
        <!--just proxy 'icon-tooltip' slot-->
        <template
          v-if="$scopedSlots['icon-tooltip']"
          v-slot:icon-tooltip="scope"
        >
          <slot name="icon-tooltip" v-bind="scope" />
        </template>
        <template v-slot:icon>
          <i class="ww-icn-plus" />
        </template>
      </CustomInput>
    </div>
  </div>
</template>

<script>
import { equals, clone } from 'ramda'
// import { normalizeLink, normalizePhone } from '~/utils/validators'

export default {
  components: {
    CustomInput: () => import('./CustomInput'),
  },
  model: {
    prop: 'data',
    event: 'input',
  },
  props: {
    data: {
      type: Array,
      default: () => [],
    },
    errors: {
      type: Object,
      default: () => ({}),
    },
    placeholder: String,
    type: String,
  },
  data: () => ({
    items: [],
    newItem: '',
  }),
  watch: {
    data: {
      deep: true,
      immediate: true,
      handler() {
        if (equals(this.data, this.items)) return
        this.items = clone(this.data)
      },
    },
    items: {
      deep: true,
      handler() {
        // let normalizer = () => {}
        // switch (this.type) {
        //   case 'tel':
        //     normalizer = normalizePhone
        //     break
        //   case 'url':
        //     normalizer = normalizeLink
        //     break
        // }

        // this.$emit('input', this.items.map(normalizer))
        this.$emit('input', this.items)
      },
    },
  },
  // validations() {
  //   const validators = {}
  //
  //   if (this.type === 'tel') {
  //     validators.phone = phone
  //   }
  //
  //   const items = {}
  //   this.items.forEach((item, idx) => (items[idx] = validators))
  //
  //   return {
  //     newItem: validators,
  //     items,
  //   }
  // },
  methods: {
    add() {
      const value = this.newItem.trim()
      if (!value) return

      // this.$v.$touch()
      // if (this.$v.newItem.$error) return

      this.items.push(value)
      this.newItem = ''
      this.$refs.input.focus()
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.list-editor {
  .row + .row {
    margin-top: $base / 2;
  }
}
</style>
