<i18n>
{
  "ru": {
    "show": "Показывать в профиле",
    "hide": "Не показывать в профиле"
  },
  "en": {
    "show": "Show in profile",
    "hide": "Doesn't show in profile"
  },
  "es": {
    "show": "Mostrar en perfil",
    "hide": "No mostrar en perfil"
  }
}
</i18n>

<template>
  <TextTooltip class="toggle-icon" inline>
    <template v-slot:tooltip>
      {{ toggled ? $t('show') : $t('hide') }}
    </template>
    <i
      :class="{
        'ww-icn-eye-o': toggled,
        'ww-icn-eye-stroke-o -inactive': !toggled,
      }"
      class="icon"
    />
  </TextTooltip>
</template>

<script>
export default {
  components: {
    TextTooltip: () => import('~/components/common/TextTooltip'),
  },
  props: {
    toggled: Boolean,
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.toggle-icon {
  display: inline-block;
  vertical-align: middle;
  padding: ($base / 2) $base;
  line-height: 1;
  cursor: pointer;
  z-index: 2;

  .icon {
    color: $blue;

    &,
    &:before {
      display: block;
      line-height: 1;
    }

    &.-inactive {
      color: black;
      opacity: 0.4;
    }
  }
}
</style>
