<template>
  <div
    v-if="options.length"
    :class="{ 'is-disabled': disabled }"
    class="user-type-switcher"
  >
    <label
      v-for="option in options"
      :key="getOptionValue(option)"
      :class="{
        'is-checked': isOptionChecked(option),
        'is-disabled': isOptionDisabled(option),
        'is-focused': isOptionFocused(option),
      }"
      class="option"
    >
      <input
        :name="name"
        :value="getOptionValue(option)"
        :checked="isOptionChecked(option)"
        :disabled="isOptionDisabled(option)"
        type="radio"
        class="visually-hidden"
        @change="onSelectOption(option)"
        @focus="onOptionFocus(option)"
        @blur="onOptionBlur(option)"
      />
      <span class="label">
        <Icon src="icons/check.svg" class="icon-check" />
        <slot>
          {{ getOptionLabel(option) }}
        </slot>
      </span>
    </label>
  </div>
</template>

<script>
import { path } from 'ramda'

let componentIdIncrement = 0

export default {
  components: {
    Icon: () => import('~/components/common/Icon'),
  },
  model: {
    prop: 'value',
    event: 'change',
  },
  props: {
    name: {
      type: String,
      default: () => `user-type-switcher-${++componentIdIncrement}`,
    },
    value: {
      type: [String, Number, Boolean, Object],
    },
    options: {
      type: Array,
      default: () => [],
    },
    valueBy: {
      type: [String, Function],
      default: 'value',
    },
    labelBy: {
      type: [String, Function],
      default: 'label',
    },
    disabled: {
      type: Boolean,
      default: false,
    },
  },
  data: () => ({
    focusedOption: null,
  }),
  methods: {
    getOptionValue(option) {
      return typeof this.valueBy === 'function'
        ? this.valueBy(option)
        : path(this.valueBy.split('.'), option)
    },
    getOptionLabel(option) {
      return typeof this.labelBy === 'function'
        ? this.labelBy(option)
        : path(this.labelBy.split('.'), option)
    },
    isOptionChecked(option) {
      return this.getOptionValue(option) === this.value
    },
    isOptionDisabled(option) {
      return this.disabled || Boolean(option.disabled)
    },
    isOptionFocused(option) {
      return this.focusedOption === option
    },
    onOptionFocus(option) {
      this.focusedOption = option
    },
    onOptionBlur() {
      this.focusedOption = null
    },
    onSelectOption(option) {
      const value = this.getOptionValue(option)
      this.$emit('change', value)
      this.$emit('input', value)
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.user-type-switcher {
  $transition: 0.2s;

  display: flex;
  align-items: stretch;
  flex-wrap: wrap;

  .option {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: ($base) ($base * 6);
    height: $base * 8;
    /*min-width: $base * 54;*/
    flex: 0 1 ($base * 54);
    background: #fff;
    transition: opacity $transition, box-shadow $transition;

    .label {
      // @include text(3);
      font-size: $base * 3;
      line-height: 1;
      margin: 0;

      position: relative;
    }
    .icon-check {
      color: $blue;
      width: $base * 1.5;
      height: $base * 1.5;
      transition: opacity $transition;

      position: absolute;
      top: 0;
      right: 100%;
      margin-right: $base * 2;
      margin-top: 4px;
    }

    &:hover {
    }

    &:not(.is-checked) {
      // default state
      opacity: 0.4;
      cursor: pointer;

      .label {
      }
      .icon-check {
        opacity: 0;
      }
    }

    &.is-checked {
      box-shadow: 0 0 15px 0 rgba(209, 220, 234, 0.3);

      .label {
        font-weight: bold;
      }
      .icon-check {
      }

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);

        width: 0;
        height: 0;
        border-style: solid;
        border-width: 14px 12px 0 12px;
        border-color: #ffffff transparent transparent transparent;
        pointer-events: none;
      }
    }

    &.is-disabled {
      opacity: 0.4;
      cursor: default;
      user-select: none;
      pointer-events: none;
    }
  }
}
</style>
