<template>
  <div
    :class="classess"
    :style="style"
    :title="title"
    @click="$emit('click')"
    @mouseover="setHover(true)"
    @mouseout="setHover(false)"
  >
    <slot />
  </div>
</template>

<script>
export default {
  props: {
    icon: {
      type: String,
      default: '',
    },
    invert: Boolean,
    /*
      when we have color not from
      design system (ex. event card)
    */
    inlineColor: String,
    color: {
      type: String,
      default: 'blue',
      validator: v => ['blue', 'red', 'blue-transparent'].indexOf(v) !== -1,
    },
    size: {
      type: String,
      default: 'medium',
      validator: v => ['xs', 'tiny', 'small', 'medium', 'big'].indexOf(v) !== -1,
    },
    title: String,
  },

  data: () => ({
    isHovered: false,
  }),

  computed: {
    classess() {
      return {
        'app-btn-icon': true,
        [`app-btn-icon--${this.color}`]: !this.inlineColor && this.color,
        [`app-btn-icon_${this.icon}`]: this.icon,
        [`app-btn-icon_${this.size}`]: this.size,
        invert: this.invert,
      }
    },
    style() {
      if (!this.inlineColor) return null

      const boxShadow = `inset 0 0 0 2px ${this.inlineColor}`

      if (this.invert) {
        return {
          color: this.isHovered ? this.inlineColor : '#fff',
          fill: this.isHovered ? this.inlineColor : '#fff',
          boxShadow,
          backgroundColor: this.isHovered ? '#fff' : this.inlineColor,
        }
      } else {
        return {
          color: this.isHovered ? '#fff' : this.inlineColor,
          fill: this.isHovered ? '#fff' : this.inlineColor,
          boxShadow,
          backgroundColor: this.isHovered ? this.inlineColor : '#fff',
        }
      }
    },
  },

  methods: {
    setHover(v) {
      this.isHovered = v
    },
  },
}
</script>

<style lang="scss">
@import '~/assets/css/variables.scss';

.app-btn-icon {
  $box-shadow: inset 0 0 0 2px;

  cursor: pointer;
  letter-spacing: 0;
  transition: 0.15s ease-out;

  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0;

  &::before {
    @include ww-icn;
  }

  /* size start */
  &_xs {
    width: 24px;
    height: 24px;
  }
  &_tiny {
    width: 36px;
    height: 36px;
  }

  &_small {
    width: 40px;
    height: 40px;
  }

  &_medium {
    width: 48px;
    height: 48px;
  }

  &_big {
    width: 64px;
    height: 64px;
  }
  /* size end */

  /* icon start */
  &_pencil {
    font-size: 2.25 * $base;
    &::before {
      content: 'v';
    }
  }
  &_eye {
    font-size: 3 * $base;
    &::before {
      content: 'm';
    }
  }
  &_trash {
    font-size: 2.25 * $base;
    &::before {
      content: '\44';
    }
  }
  &_add {
    &::before {
      content: 'G';
    }
  }
  &_check {
    &::before {
      content: 'e';
    }
  }
  &_cross {
    &::before {
      content: '\68';
    }
  }
  &_share {
    font-size: 3 * $base;
    &::before {
      content: 'A';
    }
  }
  &_photo {
    &::before {
      content: 'L';
    }
  }
  /* icon end */

  /* color start */
  &--blue {
    color: $primary;
    box-shadow: $box-shadow $primary;
    background-color: #fff;

    &:hover,
    &:focus {
      background-color: $primary;
      color: #fff;
    }

    &.invert {
      background-color: $primary;
      color: #fff;

      &:hover,
      &:focus {
        background-color: #fff;
        color: $primary;
      }
    }
  }

  &--blue-transparent {
    color: $primary;
    box-shadow: $box-shadow $primary;
    background-color: transparent;

    &:hover,
    &:focus {
      background-color: $primary;
      color: #fff;
    }

    &.invert {
      background-color: $primary;
      color: #fff;

      &:hover,
      &:focus {
        background-color: transparent;
        color: $primary;
      }
    }
  }

  &--red {
    color: $red;
    box-shadow: $box-shadow $red;
    background-color: #fff;

    &:hover,
    &:focus {
      background-color: $red;
      color: white;
    }

    &.invert {
      background-color: $red;
      color: #fff;

      &:hover,
      &:focus {
        background-color: #fff;
        color: $red;
      }
    }
  }
  /* color end */
}
</style>
