<template>
  <div class="comments">
    <CommentTree :comments="COMMENTS" :fetchMore="FETCH_COMMENTS_MORE" @send="sendComment" />
    <Loader v-if="COMMENTS_LOADING" />
    <button
      v-else-if="COMMENTS_HAS_MORE"
      class="comments__show-more-comments"
      @click="FETCH_COMMENTS_NEXT()"
    >
      {{ $tc('comments.showEarlierComments', leftComments) }}
    </button>
    <Answer
      v-if="isAuth"
      id="answer"
      :focus="focusAnswerField"
      class="comments__answer"
      @blur="focusAnswerField = false"
      @input="sendComment({ comment: $event })"
    />
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import Answer from '~/components/common/Comments/Answer'
import CommentTree from '~/components/common/Comments/CommentTree'

export default {
  name: 'Comments',
  components: {
    Answer,
    CommentTree,
    Loader: () => import('~/components/common/Loader'),
  },
  props: {
    reply: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      showAnswerField: null,
      focusAnswerField: false,
    }
  },
  computed: {
    ...mapGetters({
      COMMENTS: 'marketplace/reply/COMMENTS',
      COMMENTS_HAS_MORE: 'marketplace/reply/COMMENTS_HAS_MORE',
      COMMENTS_COUNT: 'marketplace/reply/COMMENTS_COUNT',
      COMMENTS_LOADING: 'marketplace/reply/COMMENTS_LOADING',
      isAuth: 'auth/IS_AUTH',
    }),
    leftComments() {
      return this.COMMENTS_COUNT - this.COMMENTS.filter(el => !el.parent).length
    },
  },
  methods: {
    ...mapActions('marketplace/reply/', ['FETCH_COMMENTS_NEXT', 'FETCH_COMMENTS_MORE']),
    sendComment({ parent, comment }) {
      this.$emit('send', { parent, comment })
    },
    scrollTo() {
      this.focusAnswerField = true
      document
        .getElementById('answer')
        .scrollIntoView({ behavior: 'smooth', block: 'center' })
    },
  },
}
</script>

<style scoped lang="scss">
@import '~/assets/css/variables.scss';

.comments {
  & /deep/ {
    input {
      background-color: #f8f9fa;
    }
    .comments__title {
      margin: 0;
    }
    .comment__body {
      background-color: #f8f9fa;
    }
  }
  &__show-more-comments {
    padding: 0;
    margin-top: 2 * $base;
    color: $blue;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
    &:after {
      margin-left: 2 * $base;
      @include ww-icn();
      @include text(1.25);
      content: '\61';
    }
  }
  &__answer {
    margin-top: 3 * $base;
  }

}
</style>
