<template>
  <div class="popover-journal">
    <div class="popover-close-button">
      <button
        v-tooltip.auto="$t('popovers.close')"
        class="ww-icn-cross"
        @click="goBack"
      ></button>
    </div>
    <form class="popover-journal__content" @submit.prevent="handleActionBtn">
      <div class="form">
        <h1 class="form__caption">{{ pageTitle }}</h1>

        <div class="form__metadata">
          <Title
            v-model="journalName"
            :error.sync="error"
            :placeholder="$t('journal.create.placeholder')"
            class="form__title"
          >
            <span class="form__title-span">
              {{ $t('journal.create.name') }}
            </span>
          </Title>

          <div class="form__datepicker">
            <span class="form__label">
              {{ $t('journal.create.dates') }}
              <sup class="form__question">
                ?
                <span class="form__help">
                  {{ $t('journal.create.datesTitle') }}
                </span>
              </sup>
            </span>
            <!-- <no-ssr>
              <DatePickerPeriod
                class="form__datepicker-datepicker"
                :from="dateFrom"
                :to="dateTo"
                :monthDiff="12"
                @update:from="getDateFrom"
                @update:to="getDateTo"
              />
            </no-ssr> -->
            <DatePickerPeriod
              :start="dateFrom"
              :end="dateTo"
              @change:start="getDateFrom"
              @change:end="getDateTo"
            />
          </div>

          <div class="form__privacy">
            <Checkbox v-model="privacy">
              {{ $t('journal.create.privacyTitle') }}
            </Checkbox>
          </div>
        </div>
        <CoverUploader
          v-model="coverImage"
          :error.sync="errorCover"
          class="form__cover"
        />

        <Button invert type="submit" class="form__button">
          {{ isEdit ? $t('journal.create.edit') : $t('journal.create.create') }}
        </Button>
      </div>
    </form>
  </div>
</template>

<script>
import { required, minLength, maxLength } from 'vuelidate/lib/validators'
import { prop } from 'ramda'
import { mapActions } from 'vuex'
import popoverConsts from '~/utils/popoverConsts'
import addToJournalTypes from '~/utils/addToJournalTypes'

import Checkbox from '~/components/common/Checkbox'

export default {
  components: {
    Button: () => import('~/components/common/buttons/Button'),
    CoverUploader: () => import('./CoverUploader'),
    DatePickerPeriod: () =>
      import('~/components/common/input/DatePickerPeriodN/PickerPeriod.vue'),
    Title: () => import('~/components/common/input/TitleInput'),
    Checkbox,
  },
  props: {
    journal: Object,
    fromRoute: Object,
  },
  validations: {
    journalName: {
      required,
      minLength: minLength(3),
      maxLength: maxLength(50),
    },
  },
  data: () => ({
    journalName: '',
    coverImage: null,
    hasImg: false,
    privacy: false,
    dateFrom: null,
    dateTo: null,
    validDateFrom: false,
    validDateTo: false,
    error: '',
    errorCover: '',
  }),
  computed: {
    isEdit() {
      return Boolean(this.journal)
    },
    pageTitle() {
      return this.isEdit
        ? this.$t('journal.create.editTitle')
        : this.$t('journal.create.title')
    },
  },
  mounted() {
    if (this.journal) {
      this.journalName = this.journal.title
      this.privacy = this.journal.private
      this.coverImage = this.journal.cover
      this.checkDates()
    }
  },
  methods: {
    ...mapActions({
      successMessage: 'notifications/success',
      SWITCH_PRE_LOADER: 'popovers/SWITCH_PRE_LOADER',
    }),
    getDateFrom(value) {
      this.validDateFrom = true
      this.dateFrom = value
    },
    getDateTo(value) {
      this.validDateTo = true
      this.dateTo = value
    },
    handleActionBtn() {
      if (this.journalName.length < 3) {
        this.error = this.$t('journal.create.errorEmptyField')
      }
      if (!this.coverImage) {
        this.errorCover = this.$t('journal.create.errorEmptyCover')
      }
      if (this.error || this.errorCover) {
        return
      }
      if (this.isEdit) {
        this.updateJournal()
      } else {
        this.createJournal()
      }
    },
    async createJournal() {
      this.SWITCH_PRE_LOADER(true)
      try {
        let p = this.generateParams()
        const res = await this.$store.dispatch('journal/CREATE_JOURNAL', p)
        this.successMessage(this.$t('journal.create.successCreate'))
        if (this.fromRoute.path.startsWith('/profile')) {
          this.$router.push(`/events/collections/${res.url_id}/`)
        } else {
          this.goBack()
        }
      } catch (err) {
      } finally {
        this.SWITCH_PRE_LOADER(false)
      }
    },
    async updateJournal() {
      this.SWITCH_PRE_LOADER(true)
      try {
        await this.$store.dispatch(
          'journal/UPDATE_JOURNAL',
          this.generateParams(),
        )
        this.$router.go(-1)
        this.successMessage(this.$t('journal.create.successEdit'))
      } catch (err) {
      } finally {
        this.SWITCH_PRE_LOADER(false)
      }
    },
    generateParams() {
      return {
        cover: prop('id', this.coverImage) || null,
        title: this.journalName || null,
        private: this.privacy,
        limit_date_from: this.validDateFrom
          ? this.$moment(this.dateFrom, 'DD.MM.YYYY').format('YYYY-MM-DD')
          : null,
        limit_date_to: this.validDateTo
          ? this.$moment(this.dateTo, 'DD.MM.YYYY').format('YYYY-MM-DD')
          : null,
      }
    },
    goBack() {
      if (this.fromRoute.name) {
        this.$router.push(this.fromRoute.path)

        const { addToJournalType } = this.$route.query

        if (addToJournalType) {
          this.$nextTick(() => {
            this.$store.dispatch('popovers/OPEN_POPOVER_WITH_DATA', {
              name: popoverConsts.addToJournal,
              data: {
                ...(addToJournalType === addToJournalTypes.event && {
                  event: this.$store.getters['event/EVENT'],
                }),
                ...(addToJournalType === addToJournalTypes.place && {
                  place: this.$store.getters['place/PLACE'],
                }),
              },
            })
          })
        }
      } else {
        this.$router.go(-1)
      }
    },
    checkDates() {
      let from = prop('limit_date_from', this.journal)
      this.dateFrom = from ? new Date(from) : null
      this.validDateFrom = Boolean(from)

      let to = prop('limit_date_to', this.journal)
      this.dateTo = to ? new Date(to) : null
      this.validDateTo = Boolean(to)
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.form {
  display: grid;
  border: none;
  grid-template-areas:
    'title'
    'metadata'
    'cover '
    'button ';
  grid-template-columns: auto;
  grid-row-gap: 16px;

  @media (min-width: $desktopHD) {
    grid-template-areas:
      'title title'
      'metadata cover'
      'button button';
    grid-template-columns: auto minmax(auto, 536px);
    grid-column-gap: 24px;
    /*grid-row-gap: 32px;*/
  }

  &__fieldset {
    border: none;
  }
  &__caption {
    grid-area: title;
  }
  &__metadata {
    grid-area: metadata;
    display: grid;
    align-items: end;
    grid-gap: 24px;
  }
  &__title {
    align-self: self-end;

    /deep/ input {
      @include text(3);
      height: 64px;
      @media (min-width: $desktopHD) {
        height: 80px;
      }
    }
  }
  &__title-span {
    display: inline-block;
    color: white;
    margin-bottom: 8px;
  }

  &__datepicker {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__label {
    margin-bottom: 8px;
    min-width: 170px;
  }
  &__question {
    background-color: white;
    color: $blue;
    border-radius: 50%;
    cursor: default;
    padding: 0 5px;
    @media (min-width: 1500px) {
      padding: 0 6px;
    }
    &:hover {
      position: relative;
    }
  }
  .form__question:hover .form__help {
    display: block;
    position: absolute;
    left: $base;
    bottom: $base;
    width: max-content;
    max-width: 120px;
    padding: $base;
    background-color: black;
    color: white;
    opacity: 0.9;
    @include text(2);
    z-index: 100;
    @media (min-width: 768px) {
      max-width: 220px;
      padding: 2 * $base;
    }
  }
  &__help {
    display: none;
  }
  &__datepicker-datepicker {
    min-height: 64px;
    flex: none;
    background-color: white;
    @media (min-width: $desktopHD) {
      min-height: 80px;
    }
  }

  &__button {
    grid-area: button;
    margin-top: 16px;
    @media (min-width: $desktopHD) {
      margin-top: 32px;
    }
  }

  &__cover {
    grid-area: cover;
    width: 100%;
    min-height: 220px;
    @media (min-width: $desktopHD) {
      min-height: 344px;
    }
  }
}

.popover-journal {
  background-color: $blue;
  color: white;
  display: flex;
  left: $ww-side-width-1;
  position: absolute;
  justify-content: center;
  right: 0;
  top: 0;
  z-index: 30;
  // overflow-y: scroll;
  padding: (4 * $base) 0;
  height: 100%;

  @media (min-width: $desktopHDp) {
    left: 112px;
  }

  &__content {
    width: 100%;
    max-width: 536px;
    margin: auto 8px;
    @media (min-width: $desktopHD) {
      max-width: 1192px;
      margin: auto 24px;
    }
  }

  @media (max-width: 1100px) {
    overflow-y: scroll;
  }

  @media (max-width: 640px) {
    align-items: flex-start;
  }

  &__title {
    @include text(6);
    margin-bottom: 2 * $base;

    @media (max-width: 1100px) {
      @include text(4);
    }
  }

  @media (max-width: $sideShow) {
    left: 0;
  }

  .ww-icn-cross {
    color: white;
  }
}

.journal-create {
  padding-bottom: 2.5 * $base;

  &__input {
    &:focus {
      box-shadow: none;
    }
  }

  &__terms {
    display: flex;
    justify-content: flex-start;

    @media (max-width: 1100px) {
      flex-direction: column;
    }
  }

  &__dates {
    display: flex;
    background-color: #fff;
    align-items: center;
    padding: 14px 0;

    & .datepicker /deep/ {
      .mx-input {
        @include text(3);
        height: 36px;
        padding: 0;
        @media (min-width: $desktopHD) {
          padding: 0 30px;
        }
      }
    }
  }

  &__terms-left {
    padding-right: 2 * $base;
    flex-basis: 55%;

    @media (max-width: 1100px) {
      flex-basis: 100%;
      padding-right: 0;
      margin-bottom: 3 * $base;
    }
  }

  &__terms-right {
    flex-basis: 45%;
    @media (max-width: 1100px) {
      flex-basis: 100%;
    }
  }

  &__line {
    margin-bottom: 3 * $base;
  }
}
</style>
