<template>
  <div class="verify-auth">
    <h2>{{ $t('common.authorization') }}</h2>
    <Loader style="margin: 1rem 0;" />
  </div>
</template>

<script>
import { prop } from 'ramda'
import { sha256 } from '../../utils'

export default {
  components: {
    Loader: () => import('~/components/common/Loader'),
  },
  layout: 'empty',
  beforeRouteEnter(to, from, next) {
    if (!to.query.code) next('/')
    next()
  },
  mounted() {
    this.checkSocialAuthRequest()
  },
  methods: {
    parseState(state) {
      let st = prop('1', state.match(/st=(.*),h/))
      let pt = prop('1', state.match(/path=(.*)}/))
      let h = prop('1', state.match(/h=(.*),/))
      return { state: st, path: pt, h }
    },
    async checkSocialAuthRequest() {
      if (!this.$store.getters['auth/IS_AUTH'] && this.$route.query.code) {
        const params = this.parseState(this.$route.query.state)
        let hash = await sha256(process.env.secretSalt + params.path)
        if (hash !== params.h)
          return this.$router.replace({ path: '/', query: null })
        try {
          await this.$store.dispatch('auth/SOCIAL_LOG_IN', {
            provider: params.state,
            code: this.$route.query.code
          })
          await this.$store.dispatch('user/GET_USER_DATA')
          this.$router.replace({ path: params.path, query: null })

          this.$store.dispatch('user/CHECK_PERSONAL_DATA_AGREEMENT')
        } catch (err) {
          console.log(err)
          console.log("couldn't authorize")
          this.$router.replace({ path: '/', query: null })
          return null
        }
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.verify-auth {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-flow: column;
}
</style>
