<i18n>
{
  "ru": {
    "ticketKey": "Код билета",
    "isOnline": "Онлайн событие"
  },
  "en": {
    "ticketKey": "Ticket key",
    "isOnline": "Online event"
  },
  "es": {
    "ticketKey": "Ticket key",
    "isOnline": "Evento online"
  }
}
</i18n>

<template>
  <div class="ticket" @click.stop="onTicketClick">
    <div class="ticket__cover">
      <div
        :style="cover && { backgroundColor: cover.main_color }"
        class="cover"
      >
        <AsyncImage
          :image="cover && cover.image"
          :fitSize="{ width: 344, height: 248 }"
          makeFit
          class="cover__img"
        />
        <div class="dots">
          <div v-for="n in 20" :key="n" class="dot" />
        </div>
      </div>
    </div>
    <div class="ticket__content">
      <div class="content">
        <div class="row">
          <div class="column-left">
            <div class="hidden-sideShow-and-down keywords">
              <template v-for="(keyword, idx) in keywords">
                <span v-if="idx" :key="idx + keyword" class="dash">—</span>
                <span
                  :key="idx + keyword + keyword"
                  class="keyword"
                  v-text="keyword"
                />
              </template>
            </div>
            <WLink :to="sessionRoute" color="black" class="title">
              {{ title }}
            </WLink>
            <DateTime
              :start="datetime"
              :startTime="startTime"
              medium
              class="date hidden-sideShow-and-down"
            />
            <div class="date-string hidden-desktopHDp-and-up">
              {{ dateTimeString }}
            </div>
            <div
              class="institution hidden-mobile-only hidden-desktopHDp-and-up"
            >
              <template v-if="isOnline">{{ $t('isOnline') }}</template>
              <template v-if="location">
                <Icon src="icons/map-point.svg" class="icon -marker" />
                <span v-text="location.title || location.address_display" />
              </template>
            </div>
          </div>
          <div class="column-right">
            <div
              class="order-title hidden-sideShow-and-down"
              v-text="$t('ticketKey')"
            />
            <div class="order hidden-sideShow-and-down" v-text="key" />
            <div class="qr">
              <QrCode
                :string="qrCodeUrl"
                :config="{ width: 88 }"
                class="qr__img"
              />
            </div>
          </div>
        </div>

        <div class="row -bottom">
          <div class="column-left">
            <div
              class="institution hidden-desktopSD-only hidden-desktopHD-only hidden-sideShow-only"
            >
              <template v-if="isOnline">{{ $t('isOnline') }}</template>
              <template v-if="location">
                <Icon src="icons/map-point.svg" class="icon -marker" />
                <span v-text="location.title || location.address_display" />
              </template>
            </div>
            <div
              class="places bold hidden-mobile-only hidden-desktopHDp-and-up"
              v-text="scheme.title"
            />
          </div>
          <div class="column-right">
            <div
              class="places bold hidden-desktopSD-only hidden-desktopHD-only hidden-sideShow-only"
              v-text="scheme.title"
            />
            <div
              class="order hidden-mobile-only hidden-desktopHDp-and-up"
              v-text="key"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="ticket__stub" />
  </div>
</template>

<script>
import { makeDateTimeString, formatStrings } from '~/utils/formatDate'

export default {
  components: {
    Icon: () => import('~/components/common/Icon'),
    AsyncImage: () => import('~/components/common/AsyncImage'),
    DateTime: () => import('~/components/common/DateTime'),
    QrCode: () => import('~/components/common/QrCode'),
    WLink: () => import('~/components/common/WLink'),
  },
  props: {
    ticket: {
      type: Object,
      required: true,
    },
  },
  computed: {
    scheme() {
      return this.ticket.scheme
    },
    event() {
      return this.scheme.event
    },
    session() {
      return this.scheme.session
    },

    key() {
      return this.ticket.key
    },
    cover() {
      return this.event.cover
    },
    title() {
      return this.event.title
    },
    category() {
      return this.event.category
    },
    type() {
      return this.event.type
    },
    keywords() {
      const { category, type } = this
      return [category, type]
        .filter(Boolean)
        .map(_ => _.title)
        .filter(Boolean)
    },
    location() {
      return this.session.location
    },
    isOnline() {
      return this.event.is_online
    },
    datetime() {
      const { start_date, start_time } = this.session
      return `${start_date} ${start_time ? start_time : ''}`
    },
    startTime() {
      const { start_time } = this.session
      if(start_time) {return true}
      else {return false}
    },
    dateTimeString() {
      const { start_date, start_time } = this.session

      return makeDateTimeString({
        date: start_date,
        time: start_time,
        formatString: formatStrings.withWeekDayShort,
        dateFormatString: formatStrings.withWeekDayNoTimeShort,
        timeFormatString: formatStrings.fullTime
      })
    },
    sessionRoute() {
      return {
        name: 'events-sessions-id',
        params: { id: this.session.url_id },
      }
    },

    qrCodeUrl() {
      return `http://whatwhere.world/tickets/${this.key}/take`
    },
  },
  methods: {
    onTicketClick(e) {
      if (e.target.tagName.toLowerCase() === 'a') return

      this.$emit('click', this.ticket)
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.ticket {
  cursor: pointer;
  color: #000;
  background-color: #fff;

  position: relative;
  overflow: hidden;
  display: flex;
  align-items: stretch;

  &__stub {
    background: #f8f9fa;
    border-radius: 50%;
    position: absolute;
    width: 32px;
    height: 32px;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);

    @media (min-width: $desktopSD) {
      width: 58px;
      height: 58px;
    }
  }

  &__cover {
    width: 112px;
    height: 112px;
    flex-shrink: 0;

    @media (min-width: $desktopSD) {
      width: 210px;
      height: 247px;
    }

    @media (min-width: $desktopHD) {
      width: 344px;
      height: 247px;
    }

    @media (min-width: $sideShow) {
      width: 210px;
    }

    @media (min-width: $desktopHDp) {
      width: 344px;
    }

    display: flex;
    align-items: stretch;
    justify-content: stretch;
  }

  &__content {
    flex: 1 1;
  }

  .cover {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $blue;

    position: relative;

    img {
      display: block;
      max-width: 100%;
      max-height: 100%;
    }

    .dots {
      position: absolute;
      width: 4px;
      top: 0;
      right: -2px;
      bottom: 0;
      overflow: hidden;

      @media (min-width: $desktopSD) {
        width: 8px;
        right: -4px;
      }
    }

    .dot {
      background: #f8f9fa;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      margin-top: 4px;

      @media (min-width: $desktopSD) {
        width: 8px;
        height: 8px;
      }

      & + .dot {
        margin-top: 4px;

        @media (min-width: $desktopSD) {
          margin-top: 8px;
        }
      }
    }
  }

  .content {
    padding: 12px 32px 4px 16px;
    font-size: 16px;
    line-height: 24px;

    @media (min-width: $desktopSD) {
      padding: 32px 40px 24px 26px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    @media (min-width: $desktopHD) {
      padding: 32px 64px 24px 40px;
    }

    @media (min-width: $sideShow) {
      padding: 32px 40px 24px 26px;
    }

    @media (min-width: $desktopHDp) {
      padding: 34px 47px 25px 40px;
    }

    .row {
      display: flex;
      justify-content: space-between;

      &.-bottom {
        align-items: center;

        @media (min-width: $desktopSD) {
          margin-top: 16px;
        }
      }
    }

    .column-left {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: left;

      @media (min-width: $desktopSD) {
        margin-right: 50px;
      }

      @media (min-width: $desktopHD) {
        margin-right: 46px;
      }

      @media (min-width: $sideShow) {
        margin-right: 50px;
      }

      @media (min-width: $desktopHDp) {
        margin-right: 24px;
      }
    }

    .column-right {
      display: none;
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-end;
      text-align: right;

      @media (min-width: $desktopSD) {
        display: flex;
      }

      @media (min-width: $desktopHDp) {
        justify-content: flex-start;
      }
    }

    .institution {
      font-size: 12px;
      line-height: 18px;
      color: $blue;

      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;

      @media (min-width: $desktopSD) {
        font-size: 16px;
        line-height: 24px;
      }

      @media (min-width: $desktopHDp) {
        color: #000;
      }
    }
    .bold {
      font-weight: bold;
    }

    .keywords,
    .order-title {
      font-size: 12px;
      line-height: 18px;
      margin-bottom: 6px;
    }

    .keywords {
      .dash {
        margin: 0 5px 0 8px;
        color: $black-gray;
      }
    }

    .title {
      font-size: 12px;
      line-height: 16px;
      height: 48px;
      font-weight: bold;
      margin-bottom: 2px;

      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;

      @media (min-width: $desktopSD) {
        -webkit-line-clamp: 2;
        font-size: 16px;
        line-height: 24px;
        height: 48px;
        margin-bottom: 36px;
      }

      @media (min-width: $desktopHDp) {
        font-weight: normal;
        font-size: 24px;
        line-height: 32px;
        height: auto;
        margin-bottom: 0;
      }
    }

    .order {
      line-height: 1;
      margin-top: 3px;
      font-size: 12px;

      @media (min-width: $desktopHDp) {
        font-size: 16px;
        font-weight: bold;
      }
    }

    .qr {
      margin-top: 19px;
      width: 88px;
      height: 88px;

      &__img {
        display: block;
        max-width: 100%;
        max-height: 100%;
      }
    }

    .icon {
      width: 12px;
      height: 12px;
      line-height: 12px;
      display: inline-block;
      vertical-align: middle;

      &.-marker {
        margin-top: -2px;
      }
      &.-user {
        color: #c6c7c8;
        margin-top: -4px;
        width: 11px;
        height: 11px;
      }
    }

    .date {
      margin-top: auto;
      margin-bottom: 5px;

      flex-wrap: nowrap;
    }

    .date-string {
      @include text(2);
      font-weight: bold;
      margin-bottom: 4px;

      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;

      @media (min-width: $desktopSD) {
        @include text(3);
      }

      &:first-letter {
        text-transform: uppercase;
      }
    }
  }
}
</style>
