Button<i18n>
{
  "ru": {
    "tagline": "Все билеты вы можете найти в вашем профиле, а также мы отправим их вам на электронную почту.",
    "isOnline": "Онлайн событие",
    "organizer": "Организатор",
    "seller": "Продавец"
  },
  "en": {
    "tagline": "Все билеты вы можете найти в вашем профиле, а также мы отправим их вам на электронную почту.",
    "isOnline": "Online event",
    "organizer": "Organizer",
    "seller": "Seller"
  },
  "es": {
    "tagline": "Все билеты вы можете найти в вашем профиле, а также мы отправим их вам на электронную почту.",
    "isOnline": "Evento online",
    "organizer": "Organizador",
    "seller": "Vendedor"
  }
}
</i18n>

<template>
  <div class="ticket-viewer-modal">
    <div class="ticket-viewer-modal__bg">
      <div v-if="cover" class="tickets-page__bg">
        <AsyncImage
          :image="cover.image"
          :width="cover.original_width"
          :height="cover.original_height"
          class="image"
        />
      </div>
    </div>
    <div class="ticket-viewer-modal__wrapper">
      <div class="popover-close-button ww-icn-cross" @click="$emit('close')" />
      <div class="ticket-viewer-modal__content">
        <div class="info">
          <p class="info__tagline" v-text="$t('tagline')" />
          <h2 class="info__title">
            <WLink :to="sessionRoute" color="black">{{ title }}</WLink>
          </h2>
          <div class="info__datetime">
            <DateTime
                :start="datetime"
                :startTime="startTime"
                medium
                class="date"
            />
          </div>
          <p class="info__location">
            <template v-if="isOnline">
              {{ $t('isOnline') }}
            </template>
            <template v-if="location">
              <i class="icon ww-icn-map-marker" />
              <span v-text="location.title || location.address_display" />
            </template>
          </p>
          <p class="info__scheme-title" v-text="scheme.title" />
          <p class="info__qr">
            <QrCode :string="qrCodeUrl" :config="{ width: 160 }" class="img" />
          </p>
          <p class="info__ticket" v-text="key" />
        </div>
        <ul class="footer">
          <li class="col">
            <span class="label">{{ $t('seller') }}:</span>
            <span class="value">WhatWhere.World</span>
          </li>
          <li class="col">
            <span class="label">{{ $t('organizer') }}:</span>
            <span class="value">{{ organizer.title }}</span>
          </li>
        </ul>
        <div class="actions">
          <div v-if="pdfFileLink" class="action">
            <Button :href="pdfFileLink" target="_blank" class="button">
              <Icon src="icons/download.svg" size="m" />
            </Button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  components: {
    AsyncImage: () => import('~/components/common/AsyncImage'),
    DateTime: () => import('~/components/common/DateTime'),
    Button: () => import('~/components/common/buttons/YetAnotherButton'),
    QrCode: () => import('~/components/common/QrCode'),
    WLink: () => import('~/components/common/WLink'),
    Icon: () => import('~/components/common/Icon'),
  },
  props: {
    ticket: {
      type: Object,
      required: true,
    },
  },
  computed: {
    scheme() {
      return this.ticket.scheme
    },
    event() {
      return this.scheme.event
    },
    session() {
      return this.scheme.session
    },
    organizer() {
      return this.scheme.organizer
    },

    key() {
      return this.ticket.key
    },
    cover() {
      return this.event.cover
    },
    title() {
      return this.event.title
    },
    location() {
      return this.session.location
    },
    isOnline() {
      return this.event.is_online
    },
    datetime() {
      const { start_date, start_time } = this.session
      return `${start_date} ${start_time ? start_time : ''}`
    },
    startTime() {
      const { start_time } = this.session
      if(start_time) {return true}
      else {return false}
    },

    sessionRoute() {
      return {
        name: 'events-sessions-id',
        params: { id: this.session.url_id },
      }
    },

    pdfFileLink() {
      return this.ticket.pdf_file
    },
    qrCodeUrl() {
      return `http://whatwhere.world/tickets/${this.key}/take`
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.ticket-viewer-modal {
  @include prevent-body-padding;
  @include full-height-without-header;

  background: #fff;
  position: relative;
  display: flex;
  flex-direction: column;

  &__bg {
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;

    .image {
      $blur: $base;
      position: absolute;
      top: -$blur * 2;
      right: -$blur * 2;
      bottom: -$blur * 2;
      left: -$blur * 2;
      filter: blur($blur);
    }

    &:after {
      content: '';
      background: rgba(#000, 0.1);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

  &__wrapper {
    max-height: 100%;
    overflow-y: auto;
    position: relative;
  }

  &__content {
    max-width: $base * 84;
    margin: ($base * 18) auto ($base * 6);
    background: #fff;
    position: relative;
  }

  .info {
    position: relative;
    padding: ($base * 6) ($base * 7) ($base * 5);

    display: flex;
    flex-direction: column;
    align-items: center;

    > * {
      margin: 0;
    }

    &__tagline {
      color: #fff;
      text-align: center;
      position: absolute;
      bottom: 100%;
      margin-bottom: $base * 2;
    }

    &__title {
      @include text(3);
      font-weight: bold;
      text-align: center;
    }
    &__datetime {
      margin-top: $base * 2.5;
    }
    &__location {
      margin-top: $base;
      color: $blue;
      display: flex;
      align-items: center;

      .icon {
        @include text(1.5);
        margin-right: 4px;
        margin-top: 2px;
      }
    }
    &__scheme-title {
      margin-top: 15px;
      font-weight: bold;
    }
    &__qr {
      margin-top: 34px;
    }
    &__ticket {
      margin-top: 11px;
    }
  }

  .footer {
    @include text(1.5);
    display: flex;
    justify-content: space-between;
    padding: ($base * 2) ($base * 13.5) ($base * 1.825);
    background: $gray;

    .col {
      &:not(:last-child) {
        margin-right: $base * 3;
      }

      > * {
        margin: 0;
      }
    }

    .label,
    .value {
      display: block;
      line-height: 1.4;
      white-space: nowrap;
    }
    .value {
      font-weight: bold;
    }
  }

  .actions {
    position: absolute;
    top: $base * 6;
    right: -($base * 3);

    display: flex;
    flex-direction: column;

    .action {
      width: $base * 6;
      height: $base * 6;
      background: #fff;
      margin-bottom: $base;

      .button {
        width: 100%;
        height: 100%;
      }
      .icon {
        margin-top: $base / 2;
      }
    }
  }

  @media (max-width: $sideShow) {
  }

  @media (max-width: $desktopHD) {
  }

  @media (max-width: $desktopSD) {
    &__wrapper {
      padding-left: $base * 6;
      padding-right: $base * 6;
    }
    &__content {
      max-width: none;
    }

    .actions {
      position: static;
      background: #fff;
      height: $base * 9;
      padding-top: $base * 6;
      flex-direction: row;
      justify-content: center;

      .action {
        margin-bottom: 0;

        &:not(:last-child) {
          margin-right: $base * 2;
        }
      }
    }
  }

  @media ($mobile) {
    &__wrapper {
      padding-left: 0;
      padding-right: 0;
    }
    &__content {
      margin-top: $base * 14;
      margin-bottom: 0;
    }

    .info {
      padding: ($base * 3) ($base * 3.75) ($base * 4);

      &__tagline {
        display: none;
      }
    }

    .footer {
      padding-left: $base * 4;
      padding-right: $base * 4;
      flex-direction: column;
      align-items: center;

      .col {
        &:not(:last-child) {
          margin-right: 0;
          margin-bottom: $base;
        }
      }

      .label,
      .value {
        display: inline;
      }
    }

    .actions {
      height: auto;
      padding-top: $base * 3;
      padding-bottom: $base * 3;
      align-items: center;
    }
  }
}
</style>
