<template>
  <Main :value="city" :query="query">
    <template #footer>
      <ShareLinks class="share-links" />
      <ThingsToDo v-if="isShowThingsToDo" class="things-to-do">
        {{ city.title }}
      </ThingsToDo>
    </template>
  </Main>
</template>
<script>
import { mapGetters } from 'vuex'
import { prop } from 'ramda'
import { setLatestModifiedAnd304 } from '~/utils'
import { currentMonth, currentYear, currentMonthCapitalized } from '~/utils/formatDate'

/* slot needs not dynamic import, page ?rerenders; nuxt 2.6.3 */
import ThingsToDo from '~/components/common/ThingsToDo'
import ShareLinks from '~/components/main/ShareLinks'

export default {
  components: {
    Main: () => import('~/components/main'),
    ThingsToDo,
    ShareLinks,
  },
  computed: {
    ...mapGetters({ 
      seoLinks: 'seo/results',  
      cityDeclination: 'city/GET_CITY_DECL', 
      countSessions: 'main/sessions/count',
    }),
    cityName() {
      return this.cityDeclination(this.$i18n.locale)
    },
    city() {
      return this.$store.getters['city/GET_CITY']
    },
    query() {
      return { geoname_ids: this.city.id }
    },
    isShowThingsToDo() {
      return this.city && prop('length', this.seoLinks)
    },
    currentMonthCapitalized() {
      if (this.$i18n.locale !== 'ru') return currentMonthCapitalized()
      return currentMonthCapitalized().replace(/[ь|й$]/g, '') + 'е'
    }
  },
  async fetch({ store, params, error, redirect, res, req, query }) {
    const cityId = prop('0', params.city.match(/\d+/))
    if (!cityId) return error({ statusCode: 404 })
    const city = await store
      .dispatch('city/GET_CITY', cityId)
      .catch(err => error(err))
    if (city.url_id !== params.city) {
      return redirect(301, `/${city.url_id}`, query)
    }
    await Promise.all([
      store.dispatch('main/categories/FETCH', {
        expand: 'cover,icon',
        geoname_id: cityId,
        is_main: true,
      }),
      store.dispatch('main/sessions/FETCH', {
        geoname_ids: cityId,
        is_main: true,
      }),
      store.dispatch('journals/FETCH', {
        expand: 'created_by,cover,created_by.avatar',
        page_size: 3,
        geoname_ids: cityId,
        is_main: true,
      }),
      store.dispatch('organizers/FETCH', {
        expand: 'logo',
        page_size: 6,
        geoname_ids: cityId,
        is_main: true,
      }),
      store.dispatch('seo/FETCH', { geoname_id: cityId }),
    ]).catch(err => error(err))

    if (process.server) {
      setLatestModifiedAnd304({ res, req, store }, [
        store.getters['main/sessions/modified'],
        store.getters['organizers/modified'],
        store.getters['journals/modified'],
      ])
    }
  },
  mounted() {
    this.checkSocialAuthRequest()
  },
  methods: {
    async checkSocialAuthRequest() {
      if (!this.$store.getters['auth/IS_AUTH'] && this.$route.query.code) {
        await this.$store.dispatch('auth/SOCIAL_LOG_IN', {
          provider: this.$route.query.state,
          code: this.$route.query.code,
        })
        this.$store.dispatch('user/GET_USER_DATA')
      }
    },
  },
  head() {
    return {
      meta: [
        {
          hid: 'title',
          name: 'title',
          content: this.$t('seo.cityPageMeta.title', {
            city: this.cityName,
            month: currentMonth(),
            mothCapitalized: this.currentMonthCapitalized,
            eventsCount: this.countSessions,
          }),
        },
        {
          hid: 'description',
          name: 'description',
          content: this.$t('seo.cityPageMeta.description', {
            city: this.cityName,
            month: currentMonth(),
            mothCapitalized: this.currentMonthCapitalized,
            year: currentYear(),
          }),
        },
      ],
    }
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.share-links {
  margin-top: 56px;
  @media (min-width: $sideShow) {
    margin-top: 86px;
  }
}
.things-to-do {
  margin-top: 64px;
}
</style>
