<template>
  <div class="wid-migration">
    <span class="old-src__label"
      >Copy "src" attribute from iframe into input</span
    >
    <input v-model="oldSrc" type="text" class="old-src" />

    {{ error }}
    <template v-if="!error && variant">
      <div class="search-widget__code">
        <span
          ref="code"
          class="search-widget__code-text"
          :class="{ 'search-widget__code-text--success': isCopied }"
          :style="[codeHeight && { height: `${codeHeight}px` }]"
          >{{ isCopied ? $t('popovers.searchWidget.copied') : code }}</span
        >
      </div>

      <Button v-copy="code" v-copy:callback="handleCopy" noArrow noHover>
        {{ $t('popovers.searchWidget.copyCode') }}
      </Button>
    </template>
  </div>
</template>

<script>
import qs from 'qs'
import { copy } from 'v-copy'

import { iframeLinkTemplates } from '~/utils/widget'

export default {
  directives: {
    copy,
  },

  components: {
    Button: () => import('~/components/common/buttons/Button'),
  },

  data: () => ({
    oldSrc: '',
    variant: '',
    isCopied: false,
    codeHeight: null,
    code: null,
    error: null,
  }),

  computed: {
    widgetVariants() {
      return [
        {
          image: '/widget-vertical.svg',
          title: this.$t('popovers.searchWidget.vertical.title'),
          text: this.$t('popovers.searchWidget.vertical.text'),
          value: 'vertical',
          routeName: 'widget-vertical',
          version: '1',
        },
        {
          image: '/widget-horizontal.svg',
          title: this.$t('popovers.searchWidget.horizontal.title'),
          text: this.$t('popovers.searchWidget.horizontal.text'),
          value: 'horizontal',
          routeName: 'widget-horizontal',
          version: '1',
        },
        {
          image: '/widget-map.svg',
          title: this.$t('popovers.searchWidget.map.title'),
          text: this.$t('popovers.searchWidget.map.text'),
          value: 'map',
          routeName: 'widget-map',
          version: '1',
        },
        {
          image: '/widget-search.svg',
          title: this.$t('popovers.searchWidget.search.title'),
          text: this.$t('popovers.searchWidget.search.text'),
          value: 'search',
          routeName: 'widget-search',
          version: '1',
        },
      ]
    },
  },

  watch: {
    oldSrc(url) {
      this.error = null

      try {
        const [route, query] = url.split('?')
        this.query = qs.parse(query)

        const variant = route.split('/').pop()
        this.variant = variant

        this.makeCode()
      } catch (e) {
        console.log(e)
        this.error = 'Not valid iframe src'
      }
    },
  },

  methods: {
    handleCopy() {
      const { height } = this.$refs.code.getBoundingClientRect()
      this.codeHeight = height
      this.isCopied = true
      setTimeout(() => {
        this.isCopied = false
        this.codeHeight = false
      }, 2000)
    },
    makeCode() {
      const widgetInfo = this.widgetVariants.find(w => w.value === this.variant)

      const { v, lang, ...query } = this.query

      const { href } = this.$router.resolve({
        name: widgetInfo.routeName,
        query,
      })

      const fullLink = process.env.domainUrl + href

      this.code = iframeLinkTemplates[this.variant]({
        link: fullLink,
        query: query,
        version: v || '1',
        lang: lang || 'ru',
      })
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.wid-migration {
  padding: 16px;

  .old-src {
    margin-bottom: 24px;

    &__label {
      display: inline-block;
      margin-bottom: 8px;
    }
  }
}

.search-widget {
  background: $blue;
  color: #fff;
  flex: 1;
  padding: 80px 16px;

  &__container {
    margin: 0 auto;
    max-width: 864px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    @include text(4);
    margin-bottom: 28px;

    @media (min-width: 768px) {
      @include text(8);
    }
  }

  &__variants {
    width: 100%;
    margin-bottom: 24px;
  }

  &__code {
    background: #fff;
    color: #000;
    padding: 24px;
    margin-bottom: 16px;
    width: 100%;
  }

  &__code-text {
    display: flex;
    overflow: hidden;

    &--success {
      color: $blue;
      justify-content: center;
      align-items: center;
    }
  }
}
</style>
