<template>
  <AddEventPage @submit="addEventsToJournal">
    <template #breadcrumbs>
      <JournalBreadCrumbs :journal="currentJournal" class="breadcrumbs">
        <BredItem>{{ $t('journal.addEvts') }}</BredItem>
      </JournalBreadCrumbs>
    </template>
  </AddEventPage>
</template>

<script>
import { prop } from 'ramda'

import AddEventPage from '~/components/journals/add-event/AddEventPage'
import BredItem from '~/components/common/BreadCrumbs/Item'
import JournalBreadCrumbs from '~/components/journals/JournalBreadCrumbs'
import { mapGetters, mapActions } from 'vuex'

export default {
  components: {
    AddEventPage,
    BredItem,
    JournalBreadCrumbs,
  },

  computed: {
    ...mapGetters({
      currentJournal: 'journal/CURRENT_JOURNAL',
      ADD_EVENTS_IDS: 'addEvents/EVENTS_IDS',
    }),
  },

  async fetch({ store, params, error, redirect, query }) {
    try {
      if (
        params.journal ===
        prop('url_id', store.getters['journal/CURRENT_JOURNAL'])
      )
        return

      const jId = prop('0', params.journal.match(/\d+/))

      if (!jId) return error({ statusCode: 404, message: 'Page not found' })

      await store.dispatch('journal/GET_JOURNAL', jId)
    } catch (e) {
      return redirect('/', query)
    }
  },

  methods: {
    ...mapActions({
      showError: 'notifications/error',
      showSuccess: 'notifications/success',
      RESET_ADD_EVENTS: 'addEvents/RESET_EVENTS',
      ADD_TO_JOURNAL: 'journal/ADD_TO_JOURNAL',
    }),
    async addEventsToJournal() {
      try {
        await this.ADD_TO_JOURNAL({
          type: 'events',
          id: this.currentJournal.id,
          params: { events: this.ADD_EVENTS_IDS },
        })
        this.RESET_ADD_EVENTS()

        this.$router.push({
          name: 'events-collections-journal',
          params: this.$route.params,
        })
      } catch (e) {
        this.showError(e)
      }
    },
  },
}
</script>
