<template>
  <div class="map-place">
    <GMap
      :height="544"
      :location="location"
      class="map-place__map"
      @click.native="openModal"
    />
    <LocationCard v-if="lat" :event="event" class="map-place__card" />
  </div>
</template>

<script>
import { path } from 'ramda'

export default {
  components: {
    GMap: () => import('~/components/common/GMap'),
    LocationCard: () => import('./LocationCard'),
  },
  props: {
    event: Object,
  },
  computed: {
    location() {
      return this.event.location
    },
    lat() {
      return path(['geometry', 'lat'], this.location)
    },
  },
  methods: {
    openModal() {
      this.$store.dispatch('popovers/MAIL_POPOVER')
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.map-place {
  position: relative;
  /*height: 544px;*/

  &__card {
    width: 100%;
    max-width: 328px;

    @media (max-width: $desktopSD - 1) {
      position: relative;
      & /deep/ {
        margin: auto;
        .institution-card__address {
          position: absolute;
          top: 0;
          transform: translateY(-100%);
          width: 100%;
          max-width: 328px;
        }
        .institution-card__contacts {
          position: relative;
          width: 100%;
          max-width: 328px;
        }
      }
    }

    @media (min-width: $desktopSD) {
      position: absolute;
      top: 10px;
      right: 10px;
      max-width: 256px;
      transform: none;
    }
  }
}
</style>
