<template>
  <div class="institution-card">
    <div class="institution-card__address">
      <nuxt-link :to="link">
        <b> {{ location.title }} </b>
      </nuxt-link>
      <div v-if="location.address_display" class="addr">
        <Icon src="icons/map-point.svg" size="xs" />
        {{ location.address_display }}
      </div>
    </div>
    <div v-if="isShowContact" class="institution-card__contacts">
      <ul v-if="phones.length" class="phones">
        <li v-for="phone in phones" :key="phone">
          <a :href="`tel:${phone}`">{{ phone }}</a>
        </li>
      </ul>
      <ul v-if="emails.length" class="emails">
        <li v-for="email in emails" :key="email">
          <a :href="`mailto:${email}`" target="_blank">{{ email }}</a>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import { path, uniq } from 'ramda'

export default {
  components: {
    Icon: () => import('~/components/common/Icon'),
  },
  props: {
    event: Object,
  },
  computed: {
    link() {
      return `/organizers/${path(['event', 'organizer', 'url_id'], this.event)}`
    },
    location() {
      return path(['location'], this.event) || {}
    },
    phones() {
      return uniq([
        ...(path(['event', 'phones'], this.event) || []),
        ...(path(['event', 'organizer', 'phones'], this.event) || []),
      ])
    },
    emails() {
      return uniq([
        ...(path(['event', 'emails'], this.event) || []),
        ...(path(['event', 'organizer', 'emails'], this.event) || []),
      ])
    },
    isShowContact() {
      return this.phones.length || this.emails.length
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.institution-card {
  height: min-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  user-select: none;

  // style like g-map controls
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 4px -1px;
  border-radius: 2px;
  /*color: rgb(86, 86, 86);*/

  &__address {
    padding: 16px;
    background-color: white;
    .addr {
      opacity: 0.4;
      @include text(1.5);
    }
  }

  &__contacts {
    background-color: white;
    padding: 16px;
    border-top: 2px solid $gray;
    @include text(1.5);
    .phones {
      margin-bottom: 16px;
    }
  }
}
</style>
