<template>
  <div :class="{ disabled }" class="counter">
    <button
      :class="{ '-disabled': localValue - step < min || disabled }"
      :disabled="disabled"
      type="button"
      class="btn"
      @mousedown="onMousedown($event, 'minus')"
    >
      <slot name="minus">
        <Icon src="icons/minus.svg" />
      </slot>
    </button>
    <div
      :style="{ fontWeight: localValue !== 0 ? 'bold' : null }"
      class="value"
    >
      <slot name="value" :value="localValue">{{ localValue }}</slot>
    </div>
    <button
      :class="{ '-disabled': localValue + step > max || disabled }"
      :disabled="disabled"
      type="button"
      class="btn"
      @mousedown.prevent="onMousedown($event, 'plus')"
    >
      <slot name="plus">
        <Icon src="icons/plus.svg" />
      </slot>
    </button>
  </div>
</template>

<script>
// todo: storybook

export default {
  components: {
    Icon: () => import('~/components/common/Icon'),
  },
  props: {
    value: {
      type: Number,
      required: true,
    },
    min: {
      type: Number,
      default: -Infinity,
    },
    max: {
      type: Number,
      default: Infinity,
    },
    step: {
      type: Number,
      default: 1,
    },
    disabled: Boolean,
  },
  data: () => ({
    localValue: null,
  }),
  watch: {
    min: {
      immediate: true,
      handler() {
        this.boundMinMax()
        this.boundValue()
      },
    },
    max: {
      immediate: true,
      handler() {
        this.boundMinMax()
        this.boundValue()
      },
    },
    value: {
      immediate: true,
      handler() {
        this.localValue = this.value
      },
    },
    localValue() {
      this.boundValue()

      if (this.localValue !== this.value) {
        this.$emit('input', this.localValue)
      }
    },
  },
  methods: {
    boundMinMax() {
      if (this.min > this.max) {
        this.min = this.max
      }
    },
    boundValue() {
      if (this.localValue < this.min) this.localValue = this.min
      if (this.localValue > this.max) this.localValue = this.max
    },

    minus() {
      this.localValue -= this.step
    },
    plus() {
      this.localValue += this.step
    },

    onMousedown($event, method) {
      let timer
      const $btn = $event.currentTarget

      const stop = event => {
        clearTimeout(timer)
        $btn.removeEventListener('mouseleave', stop)
        window.removeEventListener('mouseup', stop)
      }

      const run = () => {
        this[method]()
        this.$nextTick(() => {
          timer = setTimeout(() => run(), 40)
        })
      }

      const start = () => {
        $btn.addEventListener('mouseleave', stop)
        window.addEventListener('mouseup', stop)
        this[method]()
        timer = setTimeout(() => run(), 300)
      }

      start()
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.counter {
  $width: $base * 5;
  $height: $base * 5;
  height: $height;
  display: flex;
  align-items: stretch;
  //user-select: none;

  &.disabled {
    // pointer-events: none;
  }

  .btn,
  .value {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 0;
    margin: 0;
    flex: 0 0 $width;
    min-width: $width;
  }
  .value {
    padding: 0 $base;
    //user-select: none;
  }
  .btn {
    cursor: pointer;
    color: $blue;
    background: $gray;
    transition: color 0.2s, background 0.2s;
    //outline: none;
    //user-select: none;

    &:hover {
      color: #fff;
      background: $blue;
    }

    &.-disabled {
      color: #c6c7c8;
      pointer-events: none;
      cursor: default;
    }
  }
}
</style>
