<i18n>
  {
    "ru": {
      "confirmation": "Назначить {name} исполнителем заявки?"
    },
    "en": {
      "confirmation": "Assign {name} as the supplier of the order?"
    }
  }
</i18n>
<template>
  <ConfirmDialog
    @confirm="select"
    @cancel="toggleDialog"
  >
    <h2>{{ $t('confirmation', {name: name})  }}</h2>
    <template slot="confirm">{{ $t('common.yes') }}</template>
    <template slot="cancel">{{ $t('common.no') }}</template>
  </ConfirmDialog>
</template>
<script>
  import popoverConsts from '~/utils/popoverConsts'
  import { prop, path } from "ramda"
  import { mapActions, mapGetters } from 'vuex'

  export default {
    name: 'ReplySelectPopover',
    components: {
      ConfirmDialog: () => import('~/components/common/popovers/ConfirmDialog'),
    },
    computed: {
      ...mapGetters({popoverData: 'popovers/POPOVER_DATA'}),
      name() {
        return path(['reply', 'created_by', 'name'], this.popoverData)
          || path(['reply', 'supplier', 'title'], this.popoverData)
      },
      orderId() {
        return Number.parseInt(this.$route.params.order_id)
      },
    },
    methods: {
      ...mapActions({
        showSuccess: 'notifications/success',
        TOGGLE_POPOVER: 'popovers/TOGGLE_POPOVER',
        SELECT_REPLY: 'marketplace/reply/SELECT_REPLY',
        RESET_REPLIES: 'marketplace/RESET_REPLIES',
        FETCH_REPLIES: 'marketplace/FETCH_REPLIES',
      }),
     async select() {
        const reply = prop('reply', this.popoverData)
        try {
          if ( reply ){
            const success = await this.SELECT_REPLY(reply)
            if ( success )
              this.showSuccess(this.$t('marketplace.supplierWasSelected'))
          }
          this.toggleDialog()
        } catch (e) {
          this.reloadReplies()
          this.toggleDialog()
        }
      },
      async reloadReplies(){
        this.RESET_REPLIES()
        await this.FETCH_REPLIES({ order: this.orderId })
      },
      toggleDialog() {
        this.TOGGLE_POPOVER(popoverConsts.selectReply)
      },
    },
  }
</script>