<template>
  <div>
    <Header />
    <Block2 />
    <HowItWorks />
    <Why />
    <Footer />
  </div>
</template>

<script>
  import Header from '~/components/tickets/Header'
  import Block2 from '~/components/tickets/Block2'
  import HowItWorks from '~/components/tickets/HowItWorks'
  import Why from '~/components/tickets/Why'
  import Footer from '~/components/tickets/Footer'

  export default {
    layout: 'marketplace',
    components: {
      Header,
      Block2,
      HowItWorks,
      Why,
      Footer
    },
  }
</script>