<template>
  <section v-if="location && location.geometry">
    <no-ssr>
      <GmapMap
        :center="center"
        :zoom="16"
        map-type-id="roadmap"
        :style="{
          width: '100%',
          height: `${height}px`,
        }"
      >
        <GmapInfoWindow
          :options="infoOptions"
          :position="infoWindowPos"
          :opened="infoWinOpen"
          @closeclick="infoWinOpen = false"
        >
          <div v-html="infoContent"></div>
        </GmapInfoWindow>
        <GmapMarker
          v-for="(m, index) in markers"
          :key="index"
          :position="m.position"
          :clickable="true"
          :draggable="false"
          :icon.sync="m.icon"
          @click="toggleInfoWindow(m)"
        />
      </GmapMap>
    </no-ssr>
  </section>
</template>

<script>
import { path } from 'ramda'

export default {
  props: {
    location: Object,
    height: {
      type: [String, Number],
      default: 400,
    },
  },
  data() {
    return {
      infoContent: '',
      infoWindowPos: null,
      infoWinOpen: false,
      currentMidx: null,
      infoOptions: {
        pixelOffset: {
          width: 0,
          height: -35,
        },
      },
    }
  },
  computed: {
    markers() {
      const marker = {
        position: this.location.geometry,
        infoText: `<span>${this.location.title}</span><br><span>${this.location.address}</span>`,
        icon: 'https://i.imgur.com/fT56APu.png',
      }
      return [marker]
    },
    center() {
      return {
        lat: path(['geometry', 'lat'], this.location) || 0,
        lng: path(['geometry', 'lng'], this.location) || 0,
      }
    },
  },
  methods: {
    toggleInfoWindow(marker, idx) {
      this.infoWindowPos = marker.position
      this.infoContent = this.getInfoWindowContent(marker)
      if (this.currentMidx == idx) {
        this.infoWinOpen = !this.infoWinOpen
      } else {
        this.infoWinOpen = true
        this.currentMidx = idx
      }
    },
    getInfoWindowContent(marker) {
      return marker.infoText
    },
  },
}
</script>

<style lang="scss">
@import '~/assets/css/variables.scss';

/*.gmnoprint > div*/
.gm-style-mtc > div,
.gm-svpc,
.gm-fullscreen-control {
  display: none;
}

.gm-style-cc {
  display: none;
}
</style>
