<i18n>
  {
    "ru": {
      "toCustomerPage": "На страницу заказчика",
      "files": "Файлы"
    },
    "en": {
      "toCustomerPage": "To customer page",
      "files": "Files"
    }
  }
</i18n>
<template>
  <section class="order">
    <div class="head" :class="{'hasActions': hasActions}">
      <span class="type left">{{ type }} {{ city }}</span>
      <span class="date right">{{ created }}</span>
      <Status class='status' :order="order" />
      <Actions
        v-if="hasActions"
        class='actions'
        :order="order"
      />
    </div>
    <div class="title">
      {{ title }}
    </div>
    <div class="body">
      <div class="column">
        <div class="label">{{ $t('marketplace.budget') }}</div>
        <div class="value">{{ budget }}</div>
      </div>
      <div
        v-for="(column, index) in extraFields"
        :key="index"
        class="column"
        :class="{'big': column.isBig}"
      >
        <div class="label">{{ column.label }}</div>
        <div class="value">{{ column.display }}</div>
      </div>
      <div v-if="description" class="description">{{ description }}</div>
      <div v-if="files && files.length > 0" class="files">
        <span class="name">{{ $t('files') }}</span>
        <div
            v-for="(item,i) in files"
            :key="i"
            class="file"
        >
          <Icon src="icons/file.svg" size="xs"/>
          <a :href="`${item.file}`" target=_blank download="" > {{ item.file ? item.file.split('/').pop() : '' }}</a>
        </div>

      </div>
    </div>
    <div
      v-if="displayCustomer"
      class="customer"
    >
      <nuxt-link v-tooltip.auto="$t('toCustomerPage')" :to="customerPageRoute">
        <Avatar
          :user="createdBy"
          size="48"
          class="customer__avatar clickable"
        />
      </nuxt-link>
      <span class="customer__text">
        <nuxt-link
          v-tooltip.auto="$t('toCustomerPage')"
          :to="customerPageRoute"
          class="customer__name clickable"
        >{{ customerName }}</nuxt-link>
        <nuxt-link
          v-tooltip.auto="$t('toCustomerPage')"
          :to="customerPageRoute"
          class="customer__type clickable"
        >{{ $t('profile.customer') }}</nuxt-link>
      </span>
    </div>
    <DeleteDialog
      v-if="displayDeleteDialog"
      type="danger"
    />
  </section>
</template>
<script>
  import { path, prop, is, isEmpty } from "ramda"
  import { mapActions, mapGetters, mapMutations } from 'vuex'
  import { displayPrice } from '~/utils/money'
  import { serializeValue } from '../forms/utils'
  import popoverConsts from '~/utils/popoverConsts'
  import Status from '../Status'
  import Actions from '../Actions'

  export default {
    name: 'Order',
    components: {
      Status,
      Actions,
      Avatar: () => import('~/components/common/Avatar'),
      DeleteDialog: () => import('../popovers/Delete'),
      Icon: () => import('~/components/common/Icon'),
    },
    props: {
      order: {
        type: Object,
        required: true
      }
    },
    computed: {
      ...mapGetters('user', ['GET_USER']),
      ...mapGetters('marketplace/order', ['DELETED_ORDER', 'ORDER', 'FILES_ERRORS', 'NEW_FILES']),
      ...mapGetters('popovers', ['OPENED_POPOVER']),
      createdById() {
        return path(['created_by', 'id'], this.order) || prop('created_by', this.order)
      },
      newFiles() {
        return this.NEW_FILES
      },
      createdBy() {
        const createBy = prop('created_by', this.order)
        return is(Object, createBy) ? createBy: null
      },
      isMyOrder() {
        return !!this.GET_USER && this.GET_USER.id === this.createdById
      },
      hasActions() {
        return this.isMyOrder && this.order.status === 0
      },
      city() {
        return path(['city', 'title'], this.order)
      },
      title() {
        return prop('title', this.order) || this.$t('marketplace.order')
      },
      description(){
        return prop('description', this.order)
      },
      files(){
        return [...prop('files', this.order), ...this.newFiles]
      },
      type() {
        return path(['type', 'title'], this.order)
      },
      customerName(){
        return path(['created_by', 'name'], this.order)
      },
      displayDeleteDialog(){
        return this.OPENED_POPOVER === popoverConsts.deleteOrder
      },
      budget() {
        let value = ''
        if (this.order.price_type === 'simple'){
          value = displayPrice(this.order.price)
        } else if (this.order.price_type === 'interval'){
          const _from = displayPrice(this.order.price_interval_from)
          const _to = displayPrice(this.order.price_interval_to)
          if (_from && _to){
            value = `${_from} — ${_to}`
          } else if (_from) {
            value = `${this.$t('common.from')} ${_from}`
          } else if (_to) {
            value = `${this.$t('common.to')} ${_to}`
          }
        }
        return value || this.$t('marketplace.orderPriceCheapest')
      },
      extraFields() {
        const data = []
        const form = prop('form', this.order)
        if ( !form )
          return data
        for (const [key, val] of Object.entries(this.order.data)){
          const formField = form.fields.filter(item => item.key === key)[0]
          const serialized = serializeValue(key, val, formField)
          data.push({
            isBig: serialized.type === 'text',
            ...serialized
          })
        }
        data.sort((a, b) => a.isBig >= b.isBig ? 1: -1)
        return data
      },
      created() {
        const created = prop('created', this.order) ? this.$moment(this.order.created): null
        if (!created){
          return ''
        }
        const now = this.$moment()

        const format = {
          sameDay: `[${this.$t('common.today')}], LT`,
          nextDay: `[${this.$t('common.tomorrow')}], LT`,
          nextWeek: 'dddd',
          lastDay: `[${this.$t('common.yesterday')}], LT`,
          lastWeek: 'D MMMM, YYYY',
          sameElse: 'D MMMM, YYYY'
        }
        return created.calendar(now, format)
      },
      displayCustomer() {
        return !this.isMyOrder && !!this.createdById
      },
      customerPageRoute() {
        return {
          name: 'profile-id-marketplace',
          params: { id: this.createdById }
        }
      }
    },
    watch: {
      async DELETED_ORDER() {
        if ( this.DELETED_ORDER ){
          await this.$router.push({
            name: 'profile-id-marketplace',
            params: {
              id: this.$route.params.id
            }
          })
        }
      },
    },
    mounted() {
      this.SET_NEW_FILE([])
    },
    methods: {
      ...mapMutations({
        SET_NEW_FILE: 'marketplace/order/SET_NEW_FILE',
      }),
    }
  }
</script>
<style lang="scss" scoped>
  @import '~/assets/css/variables.scss';
  .order{
    .head {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      align-content: flex-start;
      &.hasActions{
        padding-right: 66px;
      }

      .type {
        display: flex;
        opacity: 0.4;
      }
      .status {
        margin-left: 30px;
      }
      .actions {
        position: absolute;
        right: 0;
        top: 9px;
      }
      @media(max-width: $desktopSD) {
        @include text(1.5);
        align-items: baseline;
        flex-direction: column;
        &.hasActions{
          padding-right: 44px;
        }

        .status,.date {
          margin-left: 0;
        }
        .actions {
          top: 0;
        }
      }
    }
    .title {
      @include text(4);
      font-weight: bold;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow-wrap: break-word;
    }
    .body {
      display: flex;
      flex-wrap: wrap;
      margin-top: 11px;

      .column {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        min-width: 150px;
        margin-right: 5px;
        margin-top: 5px;
        &.big {
          width: 100%;
          & > .value {
            white-space: pre-line;
          }
        }

        .label {
          opacity: 0.4;
          margin: 0;
        }
        .value {
          margin-top: 3px;
          white-space: nowrap;
        }
      }
      .description {
        width: 100%;
        margin-top: 21px;
        background-color: #f8f9fa;
        padding: 16px;
        display: -webkit-box;
        white-space: pre-line;
        -webkit-box-orient: vertical;
        overflow-wrap: break-word;
      }
      .files {
        max-width: 100%;
        margin-top: 29px;
        display: flex;
        align-items: center;
        flex-flow: wrap;
        .name {
          font-size: 16px;
          font-weight: normal;
          line-height: 24px;
          color: rgba(0, 0, 0, 0.4);
          margin-right: 18px;
          margin-bottom: 10px;
        }
        .file {
          max-width: 100%;
          display: flex;
          align-items: center;
          margin-right: 20px;
          margin-bottom: 10px;
          a {
            overflow: hidden;
            text-overflow: ellipsis;
            margin-left: 5px;
            color: $blue;
            font-size: 16px;
            font-weight: normal;
            line-height: 23px;
          }
        }
      }
    }

    .customer {
      margin-top: 34px;
      display: flex;
      align-items: center;
      align-content: center;

      .clickable {
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }

      &__text {
        margin-left: $base * 2;
        display: flex;
        min-width: 0;
        flex-direction: column;
        align-items: flex-start;
      }

      &__name {
        font-weight: bold;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      &__type {
        @include text(1.5);
        margin-top: 3px;
      }
    }

    .left {
      margin-right: auto;
    }

    .right {
      margin-left: auto;
    }
  }
</style>