<i18n src="./Translates.json"></i18n>
<template>
  <no-ssr>
    <section class="text-editor">
      <span v-if="$scopedSlots.default" class="label">
        <slot></slot>
      </span>
      <div id="toolbar-container" class="toolbar-container">
        <div class="format-size">
          <div class="format-size__label">{{ $t('textStyle') }}</div>

          <RadioButtons
            :items="headerItems"
            :value="header"
            @input="handleHeader"
          />
          <button class="ql-bold custom-bold"></button>
        </div>
        <div class="format-actions">
          <button
            v-if="hasFileFormat"
            :title="$t('attachFile')"
            class="ql-image-custom custom-button custom-button--with-icon format-actions__button"
          >
            <span v-if="!hasVideoFormat" class="custom-button__inner">
              {{ $t('attachFile') }}
            </span>
          </button>
          <button
            :title="$t('insertLink')"
            class="ql-link-custom custom-button custom-button--with-icon format-actions__button"
          >
            <span v-if="!hasVideoFormat" class="custom-button__inner">
              {{ $t('insertLink') }}
            </span>
          </button>
          <button
            v-if="hasVideoFormat"
            :title="$t('insertVideo')"
            type="button"
            class="ql-video toolbar-icon format-actions__button"
          />
        </div>
      </div>

      <VueEditor
        ref="quillContainer"
        class="editor"
        :placeholder="placeholder"
        :value="value"
        :editorOptions="editorSettings"
        useCustomImageHandler
        @input="handleInput"
        @image-added="handleImageAdded"
        @text-change="handleTextChange"
        @selection-change="handleSelectionChange"
      />
    </section>
  </no-ssr>
</template>

<script>
import { mapActions } from 'vuex'
import thumborize from '~/utils/thumborize'
import { path } from 'ramda'
import { debounceEvent } from '~/utils'
import RadioButtons from './RadioButtons'

const getQuill = () => {
  if (process.server) return

  return require('vue2-editor').Quill
}

const calcWidth = w => (w < 320 ? w : 320)

export default {
  name: 'TextEditor',

  components: {
    RadioButtons,
  },

  props: {
    value: String,
    placeholder: {
      type: String,
      default() {
        return this.$t('placeholder')
      },
    },
    hasVideoFormat: Boolean,
    hasFileFormat: Boolean,
  },

  data() {
    return {
      content: '',
      editorSettings: {
        modules: {
          toolbar: {
            container: '#toolbar-container',
            handlers: {
              'image-custom': function(...v) {
                this.handlers.image.call(this, ...v)
              },
              'link-custom': function(...v) {
                this.handlers.link.call(this, ...v)
              },
            },
          },
        },
      },
      headerItems: [
        { value: 0, text: this.$t('text') },
        { value: 1, text: this.$t('subHeading') },
      ],
      header: 0,
    }
  },
  mounted() {
    this.handleInput = debounceEvent(this.handleInput, 100)
    this.initQuill()
  },
  methods: {
    ...mapActions({
      upload: 'images/UPLOAD',
      showError: 'notifications/error',
      showLoader: 'popovers/SWITCH_PRE_LOADER',
    }),
    focus() {
      this.$refs.quillContainer.quill.focus()
    },
    initQuill() {
      const icons = getQuill().import('ui/icons')
      icons['bold'] = '<span>' + this.$t('bold') + '</span>'
      this.$nextTick(() => {
        const { quill } = this.$refs.quillContainer

        quill.keyboard.bindings[13].unshift({
          /* set format on enter hit (next line) */
          key: 13,
          handler: () => {
            this.$nextTick(() => {
              quill.format('header', this.header)
            })
            return true
          },
        })
      })
    },
    handleSelectionChange(range, oldRange, source) {
      if (source !== 'user' || !range) return

      /* set format on cursor change */
      const { quill } = this.$refs.quillContainer
      const { header } = quill.getFormat()

      if (header !== this.header) {
        this.header = header || 0
      }
    },
    handleHeader(v) {
      const { quill } = this.$refs.quillContainer
      this.header = v
      quill.format('header', v)
    },
    async handleImageAdded(file, Editor, cursorLocation, resetUploader) {
      try {
        this.showLoader(true)
        const data = await this.upload({ file })
        const imageUrl = thumborize(
          data.image,
          undefined,
          calcWidth(data.original_width),
          0,
        )
        Editor.insertEmbed(cursorLocation, 'image', imageUrl)
        resetUploader()
      } catch (e) {
        this.showError(e.message)
      } finally {
        this.showLoader(false)
      }
    },
    handleTextChange(delta, oldContents, source) {
      if (source === 'user') {
        this.validateLinks()
      }
    },
    validateUrlYoutube: url =>
      [
        /^https:\/\/youtu\.be\/(\S{11})/,
        /^https:\/\/www.youtube.com\/embed\/(\S{11})/,
        /^https:\/\/www.youtube.com\/watch\?v=(\S{11})/,
      ].some(mask => mask.test(url)),
    validateLinks() {
      const quill = this.$refs.quillContainer.$refs.quillContainer.__quill
      const { ops } = quill.getContents()
      for (let i = 0; i < ops.length; i++) {
        const videoUrl = path(['insert', 'video'], ops[i])
        const link = path(['attributes', 'link'], ops[i])
        if (link) {
          if (!link.startsWith('http')) {
            ops[i].attributes.link = 'http://' + link
            quill.setContents(ops)
          }
        }
        if (videoUrl) {
          if (!this.validateUrlYoutube(videoUrl)) {
            this.showError(this.$t('onlyYoutube'))
            quill.setContents(ops.filter((el, index) => index !== i))
          }
        }
      }
    },
    handleInput(ev) {
      const text = ev.split('<p><br></p>').join('<br>')
      this.$emit('input', text)
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.text-editor {
  .toolbar-container {
    background-color: white;
    padding: 20px 16px;
    display: flex;
    flex-flow: column;
    border: none;
    border-bottom: 1px solid #f8f9fa;

    @media (min-width: 768px) {
      padding: 24px 20px;
    }
    @media (max-width: 420px) {
      padding: 6px;
    }

    .format-size {
      flex: 1;
      display: flex;
      align-items: center;
      &:first-child {
        margin-bottom: 1rem;
      }

      &__label {
        margin-right: 20px;
        display: none;

        @media (min-width: 768px) {
          display: block;
        }
      }

      &__button {
        padding: 5px 25px;
        border-radius: 999px;
        background: #f3f3f3;
        &:not(:last-of-type) {
          margin-right: 2px;
        }
      }
    }

    .format-actions {
      display: flex;

      &__button {
        &:not(:last-child) {
          margin-right: 20px;

          @media (min-width: 768px) {
            margin-right: 40px;
          }
        }
      }
    }
  }

  .toolbar-icon {
    position: relative;
    padding: 0;
    width: 16px;
    height: 16px;

    @media (min-width: 768px) {
      width: 24px;
      height: 24px;
    }

    &:hover {
      opacity: 0.7;
    }
  }

  .ql-image-custom {
    &:before {
      background: url('~assets/images/addimage.png');
    }
  }

  .ql-link-custom {
    &:before {
      background: url('~assets/images/linkicon.png');
    }
  }

  .custom-button {
    padding: 0;
    width: auto;
    height: auto;

    &:hover {
      color: #000;
      text-decoration: underline;
    }

    &--with-icon {
      display: flex;
      align-items: center;

      &:before {
        width: 16px;
        height: 16px;
        display: inline-block;
        content: '';
        background-repeat: no-repeat;
        background-size: contain;

        @media (min-width: 768px) {
          width: 24px;
          height: 24px;
          margin-right: 10px;
        }
      }
    }

    &__inner {
      display: none;

      @media (min-width: 768px) {
        display: block;
      }
    }
  }

  .custom-bold {
    padding: 0 25px;
    @media (max-width: 420px) {
      padding: 0 12px;
      font-size: 14px;
    }
    &.ql-active {
      font-weight: bold;
    }
  }
}
</style>

<style lang="scss">
@import '~/assets/css/variables.scss';
.editor {
  background: white;

  .ql-blank {
    @include text(2);
    font-family: inherit;
  }

  .ql-container {
    border: none !important;
    font-family: inherit;

    @media (min-width: $desktopHD) {
      min-height: 454px;
    }
  }

  @include video-responsive(720px);

  .ql-tooltip {
    &.ql-editing {
      margin-left: 112px !important;
    }
  }

  p {
    margin-top: 1.33em !important;
    margin-bottom: 1.33em !important;
    &:first-child {
      margin-top: 0 !important;
    }
  }
  h1 {
    font-size: 32px !important;
    line-height: 32px;
  }
}
</style>
