<template>
  <div class="radio-buttons">
    <div v-for="item in items" :key="item.value" class="radio">
      <input
        :id="item.value"
        v-model="model"
        class="radio__input visually-hidden"
        :value="item.value"
        name="size-radio"
        type="radio"
      />
      <label class="radio-label" :for="item.value">{{ item.text }}</label>
    </div>
  </div>
</template>

<script>
export default {
  name: 'RadioButtons',

  props: {
    items: {
      type: Array,
      required: true,
    },
    value: {
      type: [String, Number],
      required: true,
    },
  },

  computed: {
    model: {
      get() {
        return this.value
      },
      set(v) {
        this.$emit('input', v)
      },
    },
  },
}
</script>

<style lang="scss" scoped>
.radio-buttons {
  display: flex;
}

.radio {
  display: flex;

  &:not(:last-of-type) {
    margin-right: 2px;
  }

  &__input {
    &:checked ~ .radio-label {
      background-color: #f3f3f3;
    }
  }

  .radio-label {
    cursor: pointer;
    padding: 5px 15px;
    border-radius: 999px;
    transition: background-color 0.5s;

    @media (min-width: 768px) {
      padding: 5px 25px;
    }
    @media (max-width: 420px) {
      padding: 5px 10px;
      font-size: 14px;
    }
  }
}
</style>
