<i18n>
{
  "ru": {
    "title": "Тысячи организаторов мероприятий продают билеты на WhatWhere каждый день",
    "createFree": "Создать событие сегодня, бесплатно",
    "create": "Создать событие",
    "supportText": "Лучшие события рядом и по всему миру"
  },
  "en": {
    "title": "Thousands event organizers sells Tickets on WhatWhere every day",
    "createFree": "Create event today, its free",
    "create": "Create event",
    "supportText": "Best events near you and around the world"
  }
}
</i18n>
<template>
  <div>
    <div class="list-wrapper">
      <div class="line"></div>
      <div class="title">{{$t('title')}}</div>

      <div class="events-wrapper">
        <div
            v-for="(event, i) in events"
            :key="i"
            class="event"
        >
          <img class="event-img" :src="`${STATIC_PATH}tickets-online/events/${event.img}`" />
          <span class="event-title">{{event.title}}</span>
          <span class="event-date">{{event.date}}</span>

        </div>
      </div>
      <div class="blue-wrapper">
        <div class="create-text">{{$t('createFree')}}</div>
        <nuxt-link :to="{ name: 'events-create' }" class="link">
          <div class="btn" >{{$t('create')}}</div>
        </nuxt-link>
      </div>
    </div>

    <div class="footer">
      <div class="support">
        <p class="text">
          2017&ndash;{{ currentYear }}
          &copy; WhatWhere.World&ndash;{{$t('supportText')}}
        </p>
        <p>
          <a class="email" :href="`mailto:${SUPPORT_EMAIL}`" v-text="SUPPORT_EMAIL" />
        </p>
      </div>
      <div class="pay">
        <div class="main">
          <img src="~static/tickets-online/paypal.svg" alt="PayPal" />
        </div>
        <div class="main">
          <img src="~static/tickets-online/visa.svg" alt="Visa" />
        </div>
        <div class="main">
          <img src="~static/tickets-online/mastercard.svg" alt="MasterCard" />
        </div>
        <div class="main">
          <img src="~static/tickets-online/maestro.svg" alt="Maestro" />
        </div>
        <div class="main">
          <img src="~static/tickets-online/amex.svg" alt="American Express" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex'

  export default {
    data: () => ({
      STATIC_PATH: process.env.STATIC_PATH || '/',
      SUPPORT_EMAIL: 'support@whatwhere.world'
    }),
    computed: {
      ...mapGetters({ LANG: 'lang/LANG'}),
      events() {
        if(this.LANG === 'ru') {
          return [
            {img: 'eventRu1.jpg', title: 'Онлайн тренинг Психология отношений', date: '30 Июнь, 19:00'},
            {img: 'eventRu2.png', title: 'Онлайн тренинг Переговоры без поражений', date: '05 Авг, 19:00'},
            {img: 'eventRu3.png', title: 'Instagram Виртуальный тур Петергоф', date: '20 Июль, 15:00'},
            {img: 'eventRu4.jpg', title: 'Вебинар Инвестиции в Криптовалюту', date: '28 Июль, 18:00'},
            {img: 'eventRu5.jpg', title: 'Zoom Йога каждый день', date: '17 Сент, 15:00'},
            {img: 'eventRu6.jpg', title: 'Мастер-класс Маникюр дома', date: '15 Июнь, 14:00'}
          ]
        } else {
          return [
            {img: 'eventEn1.png', title: 'Zoom Yoga Class', date: '15 Jun, 15:00'},
            {img: 'eventEn2.png', title: 'Interactive online cooking', date: '05 Aug, 19:00'},
            {img: 'eventEn3.png', title: 'Free Webinar Flutter Development', date: '20 Jul, 15:00'},
            {img: 'eventEn4.png', title: 'Virtual guided tour to Barcelona', date: '28 Jul, 18:00'},
            {img: 'eventEn5.png', title: 'Virtual Fitness Trainer', date: '17 Sep, 15:00'},
            {img: 'eventEn6.png', title: 'Virtual Educational Expo', date: '30 Jun, 14:00'}
          ]
        }
      },
      currentYear() {
        return new Date().getFullYear()
      },
    },
  }
</script>
<style lang="scss" scoped>
  @import '~/assets/css/variables.scss';

  .list-wrapper {
    position: relative;
    padding: 44px 0 330px 0;
    background-color: #fdfdfd;
    @media (max-width: $sideShow) {
      padding-top: 26px;
    }
    @media ($mobile) {
      padding: 44px 0 170px 0;
    }
    .line {
      width: 309px;
      height: 2px;
      margin: 0 auto;
      background-color: #C8E0FF;
    }
    .title {
      width: 659px;
      margin: 26px auto 29px;
      text-align: center;
      font-weight: bold;
      font-size: 32px;
      line-height: 40px;
      @media (max-width: $desktopSD) {
        max-width: 564px;
        width: 100%;
        margin-bottom: 31px;
      }
      @media ($mobile) {
        max-width: 400px;
        margin-bottom: 33px;
        font-size: 24px;
        line-height: 30px;
      }
    }
    .events-wrapper {
      display: flex;
      margin: 0 12%;
      width: 84%;
      overflow-x: scroll;
      @media (max-width: $sideShow) {
        margin: 0 30px;
        width: 95%;
      }
      @media ($mobile) {
        margin: 0 15px;
      }
      .event {
        width: 220px;
        display: flex;
        flex-direction: column;
        margin-right: 28px;
        padding: 10px 10px 50px;
        background-color: #fff;
        @media ($mobile) {
          margin-right: 10px;
        }
        &-img {
          height: 120px;
          @media ($mobile) {
            width: 173px;
            height: auto;
          }
        }
        &-title {
          margin: 13px 0 9px;
          font-weight: bold;
          font-size: 16px;
          line-height: 18px;
        }
        &-date {
          color: #666666;
          font-weight: normal;
          font-size: 14px;
          line-height: 18px;
        }
      }
    }
    .blue-wrapper {
      position: absolute;
      bottom: 0;
      clip-path: polygon(51% 13%, 100% 0, 100% 100%, 0 100%, 0% 50%, 0 1%);
      background-color: $blue;
      color: #F8F9FA;
      width: 100%;
      height: 409px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      @media ($mobile) {
        height: 240px;
      }
      .create-text {
        text-align: center;
        font-weight: bold;
        font-size: 32px;
        line-height: 40px;
        @media ($mobile) {
          font-size: 24px;
          line-height: 32px;
        }
      }
      .link {
        @media ($mobile) {
          width: 100%;
        }
      }
      .btn {
        margin: 48px 0 115px;
        padding: 40px 290px;
        border: 2px solid #C8E0FF;
        text-align: center;
        letter-spacing: 0.8px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 36px;
        line-height: 24px;
        cursor: pointer;
        transition: 0.3s ease-in;
        &:hover{
          background-color: #fff;
          color: $blue;
          border-color: $blue;
        }
        @media (max-width: $desktopHD) {
          max-width: 849px;
          width: 100%;
          padding: 37px 0;
        }
        @media (max-width: $desktopSD) {
          max-width: 709px;
          width: 93%;
          margin: 48px 30px 115px;
        }
        @media ($mobile) {
          width: 93%;
          margin: 17px 15px 39px;
          padding: 26px 0;
          font-size: 28px;
          line-height: 24px;
        }
      }
    }
  }
  .footer {
    width: 100%;
    background-color: #fdfdfd;
    padding: 30px 16.5%;
    display: flex;
    justify-content: space-between;
    @media (max-width: $desktopHDp) {
      padding: 30px 8%;
    }
    @media (max-width: $sideShow) {
      padding: 30px;
    }
    @media (max-width: $desktopHD) {
      flex-flow: wrap;
    }
    @media ($mobile) {
      padding: 34px 15px 40px;
    }
    .support {
      p{
        margin: 0;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        @media ($mobile) {
          text-align: center;
        }
      }
      .email {
        margin-top: 3px;
        color: $blue;
        @media ($mobile) {
          margin-top: 7px;
        }
      }
    }
    .pay {
      display: flex;
      align-items: center;
      @media (max-width: $desktopSD) {
        margin-top: 23px;
      }
      @media ($mobile) {
        flex-flow: wrap;
        justify-content: center;
      }
      .main {
        width: 70px;
        height: 43px;
        margin-right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #F2F2F2;
        border-radius: 3px;
        @media ($mobile) {
          margin-bottom: 10px;
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
</style>