<template>
  <!--prettier-ignore-->
  <Breadcrumbs>
    <BredItem href="/">{{ $t('common.main') }}</BredItem>
    <BredItem v-if="ownerCrumb" :href="ownerCrumb.href">{{ ownerCrumb.title }}</BredItem>
    <BredItem v-if="journalCrumb" :href="journalCrumb.url">{{ journalCrumb.title }}</BredItem>
    <slot></slot>
  </Breadcrumbs>
</template>

<script>
import { prop } from 'ramda'

export default {
  components: {
    Breadcrumbs: () => import('~/components/common/BreadCrumbs'),
    BredItem: () => import('~/components/common/BreadCrumbs/Item'),
  },
  props: {
    journal: {
      type: Object,
      required: true,
    },
  },
  computed: {
    ownerCrumb() {
      const { id, name } = prop('created_by', this.journal) || {}
      if (!id || !name) return null

      return {
        title: name,
        href: {
          name: 'profile-id',
          params: { id },
        },
      }
    },
    journalCrumb() {
      return {
        title: prop('title', this.journal),
        href: {
          name: 'events-collections-journal',
          params: { journal: prop('url_id', this.journal) },
        },
      }
    },
  },
}
</script>
