<template>
  <div class="radio">
    <label v-for="option in options" :key="option.id" class="radio__item">
      <input
        :value="option.value"
        :checked="value === option.value"
        :disabled="disabled"
        class="radio__input"
        :class="{ color: value === option.value }"
        type="radio"
        :name="name"
        @change="$emit('input', $event.target.value)"
      />
      <span
        class="radio__caption"
        :class="{ ['active']: value === option.value }"
      >
        {{ option.label }}
      </span>
    </label>
  </div>
</template>
<script>
  export default {
    props: {
      value: [String, Number],
      options: Array,
      disabled: Boolean,
      name: {
        type: String,
        default: 'order_type',
      },
    },
  }
</script>
<style lang="scss" scoped>
  @import '~/assets/css/variables.scss';

  .radio {
    $item-h-padding: 2.25 * $base;
    padding: 1.25 * $base 2 * $base;
    display: flex;
    margin-left: -2 * $base;
    margin-right: -2 * $base;
    margin-top: -2 * $base;
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: wrap;
    align-content: space-around;

    @media (min-width: $desktopHD) {
      margin-left: -$item-h-padding;
      margin-right: -$item-h-padding;
    }

    &__item {
      display: inline-block;
      position: relative;
      white-space: nowrap;
      box-shadow: 0 3px 10px 0 rgba(4, 13, 22, 0.1);;
      overflow: visible;
      margin-top: $base;
      justify-content: center;
      align-items: center;

      &:not(:last-child) {
        margin-right: $base;

        @media (min-width: $desktopHD) {
          margin-right: $base;
        }
      }

      &:hover,
      &:focus {
        .radio__caption {
          color: $blue;
        }
      }
    }

    &__input {
      height: 100%;
      left: 0;
      opacity: 0;
      position: absolute;
      top: 0;
      width: 100%;
      background-color: #ffffff;

      &:checked + .radio__caption {
        color: white;
        background-color: $blue;
        cursor: auto;
        box-shadow: 0 3px 20px 0 rgba(4, 13, 22, 0.1);
      }
    }

    &__caption {
      cursor: pointer;
      display: inline-block;
      @include text(1.5);
      font-weight: bold;
      letter-spacing: 0.6px;
      line-height: 3 * $base;
      padding: (1.625 * $base) (2.875 * $base) (1.5 * $base);
      position: relative;
      user-select: none;

      @media (min-width: $desktopHD) {
        padding: (1.3 * $base) ($item-h-padding) (0.7 * $base);
      }
    }
  }
</style>