<template>
  <Datepicker
    :value="value"
    :inputClass="{ bordered__input: true, error: error, datepicker_input: true}"
    v-bind="field.componentProps"
    :placeholder="field.placeholder || field.componentProps.placeholder"
    :isReadonly="isMobile"
    @input="$emit('input', $event)"
    @readonly="onReadonly"
  />
</template>
<script>
  export default {
    components: {
      Datepicker: () => import('~/components/common/input/DatePicker_new/'),
    },
    props: {
      field: {
        type: Object,
        required: true
      },
      error: Boolean,
      isMobile: Boolean,
      value: [Date, Number],
    },
    methods: {
      onReadonly() {
        this.$emit('readonly')
      },
  },
  }
</script>
<style lang="scss">
  @import '~/assets/css/variables.scss';
  .datepicker_input {
    background: url('~static/icons/calendar-icon.svg') no-repeat scroll center right 2 * $base;
  }
  .bordered__input {
    max-height: 56px;
    border: solid 1px #000000;
    background-color: #ffffff;
    padding: 2.125 * $base 4.25 * $base 2 * $base 3.25 * $base;
    font-weight: normal;
    @include text(2);

    @media ($mobile) {
      font-size: 20px;
    }
    &::placeholder {
      @include text(2);
      font-weight: normal;
      text-transform: capitalize;
    }
    &:focus {
      box-shadow: 0 0 0 2px rgba($blue, 1);
      border: 0;
    }

    &.error {
      box-shadow: 0 0 0 2px rgba($red, 1);
      border: 0;
    }
  }
</style>