<template>
  <FormRow :error="errors">
    <template v-if="field.label" #label>{{ field.label }}</template>
    <template slot-scope="{ id, hasError }">
        <Wrapper
          :id="id"
          :value="value"
          :field="field"
          :error="hasError"
          v-bind="field.componentProps"
          @input="$emit('input', $event)"
        />
      </template>
    </FormRow>
</template>

<script>
import FormRow from '~/components/common/FormRowNew'
import Wrapper from './Wrapper'

export default {
  components: {
    Wrapper,
    FormRow,
  },
  props: {
    field: {
        type: Object,
        required: true
    },
    value: [Object, String, Date],
    errors: [Object, String],
  },
}
</script>

<style lang="scss">
</style>

