<i18n>
{
  "ru": {
    "setup": "Установить"
  },
  "en": {
    "setup": "Set"
  }
}
</i18n>
<template>
  <div class="datetime-picker-mobile">
    <div class="container">
      <div v-if="$slots.header" class="header">
        <div><slot name="header"></slot></div>
        <div class="icon" @click="$emit('close')">
          <Icon src="icons/cross.svg" size="m" />
        </div>
      </div>
      <div class="datepicker">
        <Datepicker
          :disabledDates="disabledDates"
          :value="date"
          :inline="true"
          @input="date = $event"
        />
      </div>
      <Button
        class="setup"
        noArrow
        :disabled="btnDisabled"
        @click="onClick"
      >
        {{ $t('setup') }}
      </Button>
    </div>
  </div>
</template>

<script>
  import { isEmpty, isNil } from "ramda"
import { isBefore } from 'date-fns'

export default {
  components: {
    Button: () => import('~/components/common/buttons/Button'),
    Icon: () => import('~/components/common/Icon'),
    Datepicker: () => import('~/components/common/input/DatePicker_new/'),
  },
  props: {
    value: [Date, Number],
    disabledDates: Object,
  },
  data() {
    return {
      date: this.value,
    }
  },
  computed: {
    btnDisabled() {
      if ( isNil(this.display) || isEmpty(this.disabledDates) )
        return false
      return isBefore(this.date, this.disabledDates.to)
    },
  },
  beforeMount() {
    this.date = this.value
  },
  methods: {
    onClick() {
      const date = this.date || new Date()
      this.$emit('set', date)
      this.$emit('close')
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.datetime-picker-mobile {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: flex;
  align-items: flex-end;
  > .container {
    background-color: #fff;
    flex: 1;
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 24px;
    z-index: 101;
    display: flex;
    flex-direction: column;

    .header {
      position: relative;
      padding: 0 0 26px;
      font-size: 24px;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: 1px solid rgba(0, 0, 0, 0.15);
      > .icon {
        position: absolute;
        right: 0;
      }
    }
    .datepicker {
      position: relative;
      border-bottom: 1px solid rgba(0, 0, 0, 0.15);
      z-index: 200;
    }
    .setup {
      max-height: 56px;
      line-height: 56px;
      padding: 0;
      margin-top: 26px;
      vertical-align: bottom;
    }
  }
}
</style>
