<i18n>
{
  "ru": {
    "selectDate": "Укажите дату",
    "date": "Дата"
  },
  "en": {
    "selectDate": "Select date",
    "date": "Date"
  }
}
</i18n>
<template>
  <div class="datepicker">
    <Desktop
      :value="value"
      :error="error"
      :field="field"
      :isMobile="isMobile"
      v-bind="$attrs"
      v-on="$listeners"
      @readonly="toggleMobilePicker"
      @input="$emit('input', $event)"
    />
    <WithTransition v-if="isMobile">
      <Mobile
        v-if="mobilePicker"
        :value="value"
        @close="toggleMobilePicker(false)"
        @set="$emit('input', $event)"
      >
        <template #header>{{ $t('selectDate') }}</template>
      </Mobile>
    </WithTransition>

  </div>
</template>

<script>
  import { format } from 'date-fns/fp'

  export default {
    components: {
      Desktop: () => import('./Desktop'),
      WithTransition: () => import('~/components/common/WithTransition'),
      Mobile: () => import('./Mobile'),
    },
    props: {
      value: [Object, String, Date],
      field: {
        type: Object,
        required: true
      },
      error: Boolean,
      placeholder: [Object, String],
    },
    data: () => ({
      width: 0,
      mobilePicker: false,
    }),
    computed: {
      isMobile() {
        return this.width <= 425
      },
      date (){
        const formatDate = this.$i18n.locale === 'ru' ? format('dd-MM-yyyy'): format('yyyy-MM-dd')
        return this.value ? formatDate(this.value): ''
      },
    },
    // watch: {
    //   date(v) {
    //     this.selectDate(v, v)
    //   },
    // },
    mounted() {
      this.addResizeListener()
    },
    destroyed() {
      window.removeEventListener('resize', this.onResizeEvent)
    },
    methods: {
      addResizeListener() {
        if (window) {
          window.addEventListener('resize', this.onResizeEvent)
          window.dispatchEvent(new window.Event('resize'))
        }
      },
      onResizeEvent(e) {
        this.width = e.target.innerWidth
      },
      toggleMobilePicker(value=true){
        this.mobilePicker = Boolean(value)
      },
    },
  }
</script>