<template>
  <Main>
    <template #footer>
      <NavList :top="[]" :other="[]" />
      <a href="/cities-list/">
        <Button>{{ $t('mainpage.info.footer.allCountry') }}</Button>
      </a>
    </template>
  </Main>
</template>

<script>
export default {
  components: {
    Main: () => import('~/components/main'),
    Button: () => import('~/components/common/buttons/Button'),
    NavList: () => import('~/components/main/footer/NavList'),
  },
  async fetch({ store, params, error, res, req }) {
    // if (process.server) {
    //   setLatestModifiedAnd304({ res, req, store }, [])
    // }
  },
  mounted() {
    this.checkSocialAuthRequest()
  },
  methods: {
    async checkSocialAuthRequest() {
      if (!this.$store.getters.IS_AUTH && this.$route.query.code) {
        await this.$store.dispatch('SOCIAL_LOG_IN', {
          provider: this.$route.query.state,
          code: this.$route.query.code,
        })
        this.$store.dispatch('user/GET_USER_DATA')
      }
    },
  },
  head() {
    return {
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.$t('seo.description'),
        },
      ],
    }
  },
}
</script>
