<template>
  <div class="widget-radio">
    <div v-for="item in items" :key="item.value" class="radio">
      <input
        :id="item.value"
        v-model="model"
        class="radio__input visually-hidden"
        :value="item.value"
        :name="name"
        type="radio"
      />
      <label class="radio-label" :for="item.value">
        <span class="radio-label__image-wrapper">
          <img class="radio-label__image" :src="item.image" :alt="item.title" />
        </span>
        <span class="radio-label__info">
          <span class="radio-label__title">{{ item.title }}</span>
          <span class="radio-label__text">{{ item.text }}</span>
        </span>
      </label>
    </div>
  </div>
</template>

<script>
export default {
  name: 'WidgetRadio',

  props: {
    items: {
      type: Array,
      required: true,
    },
    value: {
      type: String,
      required: true,
    },
  },

  data: () => ({
    name: 'widgetRadio',
  }),

  computed: {
    model: {
      get() {
        return this.value
      },
      set(v) {
        this.$emit('input', v)
      },
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.widget-radio {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 16px;
  grid-auto-rows: 1fr;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px 16px;
  }
}

.radio {
  display: flex;

  &__input {
    &:checked ~ .radio-label {
      border: 2px solid #fff;
    }
  }
}

.radio-label {
  color: #fff;
  display: flex;
  flex: 1;
  border: 2px solid rgba(255, 255, 255, 0.1);
  cursor: pointer;

  &:hover {
    .radio-label__title {
      text-decoration: underline;
    }
  }

  &__image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    flex-shrink: 0;
    padding: 8px 16px;

    @media (min-width: 768px) {
      width: 160px;
    }
  }

  &__image {
    max-width: 100%;
    max-height: 70px;

    @media (min-width: 768px) {
      max-height: initial;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    padding: 24px 24px 24px 0;
  }

  &__title {
    @include text(3);
  }
}
</style>
