<template>
  <GoButton
    v-only-auth:click="btnHandler"
    :value="isUserVisitor"
    :visitors="visitors.results || []"
    :count="visitors.count"
  />
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import { path } from 'ramda'

export default {
  components: {
    GoButton: () => import('./GoButton'),
  },
  data: () => ({
    visitors: {},
    sending: false,
  }),
  computed: {
    ...mapGetters({
      event: 'event/EVENT',
      isUserVisitor: 'event/isUserVisitor',
      visitorsCount: 'event/visitorsCount',
    }),
  },
  async mounted() {
    this.updateUsers()
  },
  methods: {
    ...mapActions({
      goEvent: 'event/GO_EVENT',
      fetchUsers: 'users/FETCH',
    }),
    async btnHandler() {
      try {
        this.sending = true
        await this.goEvent()
        this.updateUsers()
      } catch (e) {
        console.warn(e)
      } finally {
        this.sending = false
      }
    },
    async updateUsers() {
      this.visitors = await this.fetchUsers({
        visitors: path(['id'], this.event),
        pages_size: 3,
        expand: 'avatar',
      })
    },
  },
}
</script>

<style scoped lang="scss">
@import '~/assets/css/variables.scss';

.go-button {
  display: flex;
  align-items: center;
  height: 32px;
  padding: 0 24px;
  border-radius: 16px;
  border: solid 1px $black-gray;

  font-size: 14px;
  line-height: 2.14;

  &:hover,
  &:focus {
    border: solid 1px $blue;
  }

  &__avatars {
    display: inline-grid;
    grid-template-columns: repeat(3, 10px);
  }
}
</style>
