<template>
  <div class="customer">
    <OrdersPage
      ref="orderPage"
      v-slot:filter="slotProps"
      :fetchParams="fetchParams"
      :filterOptions="filterOptions"
      :orders="ORDERS"
      :ordersCount="ORDERS_COUNT"
      :ordersHasMore="ORDERS_HAS_MORE"
      :ordersLoading="ORDERS_LOADING"
      :ordersFilters="ORDERS_FILTERS"
      :setOrdersFilters="SET_ORDERS_FILTERS"
      :fetchOrders="FETCH_ORDERS"
      :fetchOrdersNext="FETCH_ORDERS_NEXT"
      :resetOrders="RESET_ORDERS"
      @click="openOrder"
    >
      <div class="orders-header">
        <span class="orders-header-title">
          {{ isOwnProfile ? $t('marketplace.myOrders'): $t('marketplace.customerOrders') }}
        </span>
        <OrdersFilter
          v-if="slotProps.optionsCount"
          class="orders-header-filter"
          :placeholder="isOwnProfile ? $t('marketplace.allMyOrders'): $t('marketplace.allOrders')"
          :value="slotProps.value"
          :options="slotProps.options"
          :loading="slotProps.loading"
          @input="slotProps.input"
          @close="slotProps.close"
        />
        <BtnWithIcon
          v-if="isOwnProfile"
          v-tooltip.auto="$t('marketplace.newOrder')"
          class="orders-header-add-button"
          icon="add"
          size="big"
          invert
          color="blue"
          @click.native="openModal"
        />
        <BtnWithIcon
          v-if="isOwnProfile"
          class="new-order-button over-list-button"
          size="big"
          invert
          color="blue"
          @click.native="openModal"
        >
          <i class="icon ww-icn-plus"/>
          <span class="text" v-text="$t('marketplace.newOrder')"/>
        </BtnWithIcon>
      </div>
    </OrdersPage>
    <BtnWithIcon
      v-if="isOwnProfile"
      class="new-order-button under-list-button"
      size="big"
      invert
      color="blue"
      @click.native="openModal"
    >
      <i class="icon ww-icn-plus"/>
      <span class="text" v-text="$t('marketplace.newOrder')"/>
    </BtnWithIcon>
    <LegalData
      class="legal-data"
      :user="customer"
      :isOwnProfile="isOwnProfile"
    />
  </div>
</template>
<script>
  import { mapGetters, mapActions, mapMutations } from "vuex"
  import ProfileRoutesService from '~/utils/profile-routes-service'
  import getOrderConst from '~/constants/order'
  import { sleep } from '~/utils'
  import popoverConsts from '~/utils/popoverConsts'
  import OrdersFilter from '~/components/marketplace/orders/Filter'
  import OrdersPage from '../components/OrdersPage'

  export default {
    components: {
      OrdersFilter,
      OrdersPage,
      LegalData: () => import('../components/LegalData'),
      BtnWithIcon: () => import('~/components/common/buttons/BtnWithIcon'),
    },
    props: {
      isOwnProfile: Boolean,
      profile: {
        type: Object,
        required: true,
      },
      customer: {
        type: Object,
        required: true,
      }
    },
    data() {
      return {
        fetchParams: {},
        value: null
      }
    },
    computed: {
      ...mapGetters('marketplace/profile', [
        'ORDERS',
        'ORDERS_COUNT',
        'ORDERS_HAS_MORE',
        'ORDERS_LOADING',
        'ORDERS_FILTERS',
      ]),
      ...mapGetters('marketplace', [
        'ALL_ORDER_TYPES',
      ]),
      ...mapGetters('marketplace/order', [
        'ORDER_CREATED',
      ]),
      filterOptions() {
        const orderConst = getOrderConst()
        return [
          {
            group: this.$t('marketplace.status'),
            values: orderConst.statuses.map(item => Object.assign(item, {
              type: this.$t('marketplace.status'),
              filterKey: 'status'
            })),
          },
          {
            group: this.$t('marketplace.orderType'),
            values: this.ALL_ORDER_TYPES.map( item => {
              return {display: item.title, value: item.id, filterKey: 'type', type: this.$t('marketplace.orderType')}
            })
          },
        ]
      },
    },
    watch:{
      async ORDER_CREATED() {
        if (this.ORDER_CREATED){
          await sleep(1.5 * 1000)
          await this.$refs.orderPage.reloadList()
        }
      }
    },
    created() {
      this.routesService = new ProfileRoutesService({
        store: this.$store,
        router: this.$router,
      })
      this.fetchParams = {...this.routesService.fetchCustomerOrdersParams}
    },
    methods: {
      ...mapMutations('marketplace/profile', [
        'SET_ORDERS_FILTERS'
      ]),
      ...mapActions('marketplace/profile', [
        'FETCH_ORDERS',
        'FETCH_ORDERS_NEXT',
        'RESET_ORDERS'
      ]),
      ...mapActions({
        showSuccess: 'notifications/success',
        OPEN_POPOVER_WITH_DATA: 'popovers/OPEN_POPOVER_WITH_DATA',
      }),
      openModal(){
        this.OPEN_POPOVER_WITH_DATA({
          name: popoverConsts.orderFormModal,
          data: {
            type: 'create',
          },
        })
      },
      openOrder(orderId){
        return this.$router.push({
          name: 'profile-id-marketplace-order_id',
          params: {
            id: this.$route.params.id,
            order_id: orderId
          },
        })
      }
    },
  }
</script>
<style lang="scss" scoped>
  @import '~/assets/css/variables.scss';
  .customer {
    padding-top: $base;
    max-width: 100%;

    .orders-header {
      display: flex;
      flex-wrap: wrap;

      &-title {
        @include text(4);
        margin: auto auto auto 0;
        font-weight: bold;
        display: table-cell;
        vertical-align: middle;

        @media ($mobile) {
          @include text(3);
        }
      }
      &-filter {
        margin-left: auto;
        max-width: 320px;

        @media (max-width: $desktopSD) {
          max-width: 100%;
        }
      }
      &-add-button {
        margin-left: 16px;
        height: 59px;
        width: 59px;

        @media (max-width: $desktopSD){
          display: none;
        }
      }
      &-add-mobile-button {
        margin-top: $base;
        width: 100%;

        @media (min-width: $desktopSD + 1){
          display: none;
        }
      }
    }

    .legal-data {
      margin-top: $base * 8.875;
    }
    .new-order-button {
      @include text(2);
      width: 100%;
      margin-top: 21px;
      font-weight: bold;

      .icon {
        font-size: 12px;
        display: inline-block;
        vertical-align: middle;
        margin-right: $base;
      }

      .text {
        letter-spacing: 0.8px;
        text-transform: uppercase;
      }
    }
    .under-list-button {
      @media (max-width: $desktopSD){
        display: none;
      }
    }
    .over-list-button {
      @media (min-width: $desktopSD + 1){
        display: none;
      }
    }

  }
</style>
