<i18n src="./locales.json"></i18n>

<template>
  <div class="not-found">
    <div class="not-found__event-page">
      <div class="not-found__text">{{ $t('notFound') }}</div>
      <template v-if="eventPage">
        <img
          :src="`${STATIC_PATH}dance/dance.png`"
          :data-srcset="
            `${STATIC_PATH}dance/dance.png 1x,
           ${STATIC_PATH}dance/dance@2x.png 2x,
           ${STATIC_PATH}dance/dance@3x.png 3x`
          "
          alt="found nothing, but still happy"
          class="not-found__img lazyload blur-up"
        />
        <h2 class="not-found__appeal">
          <b>{{ $t('appeal') }}</b>
        </h2>
        <nuxt-link to="/events/create/a/1/" class="not-found__button">
          {{ $t('btn') }}
        </nuxt-link>
      </template>
    </div>
  </div>
</template>

<script>
import 'lazysizes'
import 'lazysizes/plugins/attrchange/ls.attrchange'
import 'lazysizes/plugins/blur-up/ls.blur-up'

export default {
  props: {
    eventPage: Boolean,
  },
  data: () => ({ STATIC_PATH: process.env.STATIC_PATH || '/' }),
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  &__text {
    @media (min-width: $desktopSD) {
      grid-column-start: 2;
      padding-top: 24px;
    }
  }

  &__event-page {
    display: grid;
    grid-gap: 24px;

    @media (min-width: $desktopSD) {
      grid-template-columns: 144px minmax(auto, 584px);
      grid-gap: 41px 79px;
    }
  }

  &__img {
    grid-row: 2 span;
    align-self: center;
    justify-self: center;
    height: 144px;
    width: 144px;
  }

  &__button {
    height: 64px;
    border: solid 2px $blue;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 14px;
    font-weight: bold;
    line-height: 1.71;
    letter-spacing: 0.7px;
    text-align: center;
    color: $blue;
    text-transform: uppercase;
    transition: all 0.3s ease;

    &:hover {
      color: white;
      background-color: $blue;
    }
  }
}
</style>
