<template>
  <div class="guide-wrapper">
    <slot />
  </div>
</template>

<script>
export default {
  name: 'GuideWrapper',
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.guide-wrapper {
  box-shadow: 0 0 50px 0 rgba(165, 175, 203, 0.35);
  border: solid 2px #ffffff;
  background-color: #f8f9fa;
  margin: 0 -8px 40px;
  pointer-events: none;
  padding: 24px 8px;
  display: flex;
  align-items: flex-start;

  @media (min-width: $desktopSD) {
    margin: 0 -20px 40px;
    padding: 24px 40px;
  }

  @media (min-width: $desktopHD) {
    margin: 0 -40px 40px;
  }
}
</style>
