<template>
  <div
    :class="{
      'usr-menu__list': true,
      mobile__list: isMobile,
    }"
  >
    <div class="items">
      <nuxt-link
        v-for="(item, idx) in items"
        :key="idx"
        :to="item.to"
        :class="{ 'list-item': true }"
        v-text="item.text"
      />
    </div>
    <div class="last-item">
      <div class="list-item" @click="logOut">{{ $t('auth.logout') }}</div>
    </div>
  </div>
</template>

<script>
  import { mapActions, mapGetters } from 'vuex'
  import { prop } from 'ramda'
  import ProfileRoutesService from '~/utils/profile-routes-service'

  export default {
    props: {
      isMobile: Boolean,
    },
    computed: {
      ...mapGetters('user', ['GET_USER']),

      items() {
        const params = { id: this.GET_USER.id }

        const items = [
          {
            to: { name: ProfileRoutesService.profileIndexPage, params },
            text: this.$t('profile.profile'),
          },
          {
            to: { name: ProfileRoutesService.profileEventsPage, params },
            text: this.$t('profile.events'),
          },
        ]
        if (!!prop('is_supplier', this.GET_USER) || !!prop('is_customer', this.GET_USER)){
          items.push(
            {
              to: { name: ProfileRoutesService.profileMarketplacePage, params },
              text: this.$t('profile.marketplace'),
            }
          )
        }
        return items
      },
    },
    methods: {
      ...mapActions({ togglePopover: 'popovers/TOGGLE_POPOVER' }),

      async logOut() {
        try {
          await this.$store.dispatch('auth/LOG_OUT')
        } finally {
          this.togglePopover('')
          // this.$router.push('/')
        }
      },
    },
  }
</script>

<style lang="scss" scoped>
  @import '~/assets/css/variables.scss';
  .usr-menu__list {
    cursor: default;
    height: 100%;
    display: flex;
    flex-flow: column;
    min-width: 100px;

    .list-item {
      cursor: pointer;
      margin-bottom: 1rem;
      display: block;

      &.disabled {
        color: #aaa;

        &:hover {
          color: #aaa;
          cursor: default;
        }
      }
      &:hover {
        color: $blue;
      }
    }

    &.mobile__list {
      height: 100%;
      margin-top: 24px;

      .items {
        flex: 1;
      }

      .list-item {
        margin: 0;
        margin-left: 48px;
        padding: 24px 0 24px;
      }

      .last-item {
        padding: 52px 0 52px;
        border-top: solid 1px rgba(0, 0, 0, 0.1);

        .list-item {
          padding: 0;
        }
      }
    }
  }
</style>
