<template>
  <PopoverMenu
    v-if="width > 425"
    name="user-profile-menu"
    :pos="{ top: 10, right: 38 }"
    @click.native="$emit('click')"
  >
    <div slot="face" class="flex v-center h-center">
      <div v-if="type !== 'mobile'" class="username">
        {{ userName }}
      </div>
      <Avatar :user="user" size="32" />
    </div>
    <div slot="content" class="list-wrapper">
      <MenuList />
    </div>
  </PopoverMenu>
  <div v-else class="flex v-center h-center" @click="openMobileMenu">
    <Avatar :user="user" size="32" />
  </div>
</template>

<script>
import { prop, path } from 'ramda'
import popConsts from '~/utils/popoverConsts'
import { debounceEvent } from '~/utils'
import { mapActions } from 'vuex'

export default {
  components: {
    PopoverMenu: () => import('~/components/common/PopoverMenu'),
    MenuList: () => import('./MenuList'),
    Avatar: () => import('~/components/common/Avatar'),
  },
  props: {
    user: {
      type: Object,
    },
    type: {
      type: String,
      default: 'mobile',
      validator: v => ['mobile', 'full'].indexOf(v) !== -1,
    },
  },
  data: () => ({
    width: 0,
  }),
  computed: {
    userName() {
      return prop('name', this.user)
    },
    avatar() {
      return path(['avatar', 'image'], this.user)
    },
  },
  mounted() {
    this.width = window.innerWidth
    this.onResizeEvent = debounceEvent(this.onResizeEvent, 500)
    window.addEventListener('resize', this.onResizeEvent, false)
  },
  beforeDestroy() {
    window.removeEventListener('resize', this.onResizeEvent, false)
  },
  methods: {
    ...mapActions({ togglePopover: 'popovers/TOGGLE_POPOVER' }),
    openMobileMenu() {
      this.togglePopover(popConsts.userMenuModal)
    },
    onResizeEvent(e) {
      this.width = e.target.innerWidth
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.user-profile-menu {
  position: relative;
  user-select: none;
  cursor: pointer;
  .username {
    font-weight: bold;
    margin-right: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 350px;
    white-space: nowrap;

    &:hover {
      color: $blue;
    }
  }
  .list-wrapper {
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.16);
    background-color: #fff;
    padding: 24px 24px 14px 24px;
  }
}
</style>
