<template>
  <div class="orders-list-wrapper">
    <div v-if="isBigList && topTransparent" class="transparency transparency-top"></div>
    <div class="orders-list"  @scroll="scrollHandler">
      <OrderCard
        v-for="order in orders"
        :key="order.id"
        :order="order"
        @click="$emit('click', $event)"
      />
      <client-only>
        <Loader v-if="loading" :margin="16"/>
        <infinite-loading v-if="count" @infinite="infiniteHandler">
          <div slot="spinner" />
          <div slot="no-more"></div>
          <div slot="no-results"></div>
        </infinite-loading>
      </client-only>
    </div>
    <div v-if="isBigList && bottomTransparent && !loading" class="transparency transparency-bottom"></div>
    <DeleteDialog
      v-if="displayDeleteDialog"
      type="danger"
    />
  </div>
</template>
<script>
  import { mapGetters } from 'vuex'
  import InfiniteLoading from 'vue-infinite-loading'
  import OrderCard from '../Card'
  import popoverConsts from '~/utils/popoverConsts'

  export default {
    name: 'OrdersList',
    components: {
      InfiniteLoading,
      OrderCard,
      Loader: () => import('~/components/common/Loader'),
      DeleteDialog: () => import('../popovers/Delete'),
    },
    props: {
      orders: Array,
      loading: Boolean,
      initialized: Boolean,
      count: Number,
      hasMore: Boolean,
      fetchNext: Function,
    },
    data (){
      return {
        bottomTransparent: true,
        topTransparent: false
      }
    },
    computed: {
      ...mapGetters('popovers', ['OPENED_POPOVER']),
      isBigList() {
        return (this.count >= 5)
      },
      displayDeleteDialog(){
        return this.OPENED_POPOVER === popoverConsts.deleteOrder
      }
    },
    watch: {
      orders: {
        immediate: true,
        handler() {
          if (!this.orders || this.orders.length <= 5){
            this.topTransparent = false
            this.bottomTransparent = true
          }
        },
      }
    },
    methods: {
      async scrollHandler() {
        const el = this.$el.querySelector('.orders-list')
        if ( !el ) return
        const left = el.scrollHeight - el.scrollTop - el.clientHeight
        this.bottomTransparent = left > 25
        this.topTransparent = el.scrollTop > 0
      },
      async infiniteHandler($state) {
        if (this.hasMore) {
          try {
            await this.fetchNext()
            $state.loaded()
          } catch (e) {
            $state.complete()
          }
        } else {
          $state.complete()
        }
      },
    },
  }
</script>
<style lang="scss" scoped>
  @import '~/assets/css/variables.scss';
  .orders-list-wrapper{
    position: relative;

    .orders-list {
      position: relative;
      max-height: 609px;
      overflow-y: scroll;
      z-index: 0;

      .order-card {
        &:not(:last-child) {
          margin-bottom: $base;
        }
      }
    }

    .transparency {
      width: 100%;
      height: 125px;
      position: absolute;
      left: 0;
      right: 0;
      pointer-events: none;
      z-index: 2;

      @media($mobile) {
        height: 75px;
      }

      &-top {
        top: 0;
        background: linear-gradient(to top, rgba(248, 249, 250, 0), $gray);

      }
      &-bottom {
        bottom: 0;
        background: linear-gradient(to bottom, rgba(248, 249, 250, 0), $gray);
      }
    }
  }

</style>