<template>
  <div class="expander">
    <div
      class="expander__slot"
      :class="{ 'expander__slot-expanded': expanded }"
      :style="maxHeight"
    >
      <slot></slot>
    </div>
    <TextTooltip>
      <span
        v-if="!hideButton"
        class="expander__button"
        @click="expanded = !expanded"
      >
        <i
          class="expander__icon ww-icn-plus-square"
          :class="{ 'ww-icn-minus-square': expanded }"
        ></i>
      </span>
      <template #tooltip>
        {{
          expanded
            ? $t('popovers.search.hideCategories')
            : $t('popovers.search.showCategories')
        }}
      </template>
    </TextTooltip>
  </div>
</template>

<script>
export default {
  components: { TextTooltip: () => import('~/components/common/TextTooltip') },
  name: 'Expander',
  props: {
    minHeight: {
      type: Number,
      default: 56,
    },
    hideButton: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      expanded: false,
    }
  },
  computed: {
    maxHeight() {
      return this.expanded ? {} : { maxHeight: this.minHeight + 'px' }
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.expander {
  display: flex;
  flex-direction: row;
  align-items: flex-end;

  &__slot {
    overflow: hidden;
    transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);

    &-expanded {
      max-height: 1000px;
      transition: max-height 1s ease-in-out;
    }
  }

  &__button {
    display: none;
    @media (min-width: $desktopSD) {
      display: block;
      height: 24px;
      margin: 16px 0;
      cursor: pointer;
      color: white;
    }
  }

  &__icon {
    font-size: 24px;
  }
}
</style>
