<template>
  <div class="member-info">
    <div class="member-info__top">
      <Avatar
        class="member-info__image"
        size="48"
        :user="user"
        :style="{ marginRight: noContacts ? '15px' : '25px' }"
      />
      <div class="member-info__main">
        <WLink
          class="member-info__name"
          v-bind="linkProps"
          :to="`/profile/${user.id}/`"
        >
          {{ user.name }}
        </WLink>
        <div v-if="user.user_type" class="member-info__position">
          {{ user.user_type }}
        </div>
      </div>
    </div>
    <div v-if="hasContacts" class="member-info__contacts">
      <div class="member-info__contact-side">
        <div
          v-for="phone in user.phones"
          :key="phone"
          class="contact-side__item"
        >
          <span class="icon icon--viber"></span>
          <span class="icon icon--whatsapp"></span>
          {{ phone }}
        </div>
      </div>
      <div class="member-info__contact-side">
        <div
          v-if="user.skype"
          class="contact-side__item contact-side__item--skype"
        >
          <span class="icon icon--hidden-desktop"></span>
          <span class="icon icon--skype"></span>
          <WLink
            inlineBlock
            v-bind="linkProps"
            :href="`skype:${user.skype}?chat`"
            >{{ user.skype }}</WLink
          >
        </div>
        <div v-if="user.email" class="contact-side__item">
          <span class="icon icon--hidden-desktop"></span>
          <span class="icon icon--hidden-desktop"></span>
          <WLink v-bind="linkProps" :href="`mailto:${user.email}`">
            {{ user.email }}
          </WLink>
        </div>
        <div v-if="user.site" class="contact-side__item">
          <WLink v-bind="linkProps" :href="`mailto:${user.site}`">
            {{ user.site }}
          </WLink>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { path } from 'ramda'

export default {
  name: 'SpecialUser',

  components: {
    Avatar: () => import('~/components/common/Avatar'),
    WLink: () => import('~/components/common/WLink'),
  },

  props: {
    user: {
      type: Object,
      required: true,
    },
    noContacts: Boolean,
    linkProps: Object,
  },

  computed: {
    avatarImage() {
      return path(['avatar', 'image'], this.user)
    },
    hasContacts() {
      const { phones, skype, email, site } = this.user
      const hasContactsData = [phones, skype, email, site].some(v => v)

      return !this.noContacts && hasContactsData
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.icon {
  width: 8px;
  height: 8px;
  background-repeat: no-repeat;
  display: inline-block;
  margin-right: 4px;

  &:last-of-type {
    margin-right: 12px;

    @media (min-width: 1180px) {
      margin-right: 6px;
    }
  }

  &--viber {
    background-image: url('~static/viber.svg');
  }

  &--whatsapp {
    background-image: url('~static/whatsapp.svg');
  }

  &--skype {
    background-image: url('~static/skype.svg');
  }

  &--hidden-desktop {
    @media (min-width: 1180px) {
      display: none;
    }
  }
}

.member-info {
  width: 100%;

  &__top {
    display: flex;
  }

  &__image {
    flex-shrink: 0;
  }

  &__main {
    flex-grow: 1;
    min-width: 0;
  }

  &__name {
    margin-bottom: 3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
  }

  &__position {
    @include text(1.75);
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    margin-top: 24px;

    @media (min-width: 1180px) {
      margin-top: 40px;
      margin-left: 73px;
      flex-direction: row;
    }
  }

  &__contact-side {
    flex-basis: 50%;

    &:first-child {
      margin-bottom: 8px;

      @media (min-width: 1180px) {
        margin-right: 8px;
      }
    }

    .contact-side__item {
      display: flex;
      align-items: center;

      &:not(:last-of-type) {
        margin-bottom: 4px;
      }
    }
  }
}
</style>
