<template>
  <div class="wrapper">
    <Loader v-if="isLoading" />
    <EditEventPage v-else :event="EVENT" />
  </div>
</template>

<script>
import { prop } from 'ramda'
import { mapActions, mapGetters } from 'vuex'

import EditEventPage from '~/components/events/edit/'

export default {
  middleware: 'personal-data-agreement',

  components: {
    EditEventPage,
    Loader: () => import('~/components/common/Loader'),
  },

  data: () => ({
    event: {},
    isLoading: true,
  }),

  computed: {
    ...mapGetters({
      EVENT: 'eventEdit/EVENT',
    }),
  },

  mounted() {
    this.loadEvent()
  },

  methods: {
    ...mapActions({
      loadEventEdit: 'eventEdit/loadEventEdit',
    }),
    async loadEvent() {
      this.isLoading = true

      const id = prop('0', this.$route.params.id.match(/\d+/))
      if (!id) return this.$router.push('/')

      try {
        await this.loadEventEdit({ id })
        this.isLoading = false
      } catch (err) {
        return this.$router.push('/')
      }
    },
  },
}
</script>
