<template>
  <EventPage />
</template>

<script>
  import { prop } from 'ramda'
import { hasCover } from '~/utils'
import {mapGetters} from "vuex";

export default {
  components: {
    EventPage: () => import('~/components/events/event'),
  },
  computed: {
    ...mapGetters({
      event: 'event/EVENT',
    }),
  },
  async fetch({ app, store, params, error, redirect, res, req, query }) {
    const id = prop('0', params.id.match(/\d+/))
    if (!id) return error({ statusCode: 404 })
    try {
      const sessions = await store.dispatch('events/sessions/FETCH', {
        event: id,
        expand: ['location.city'].join(),
      })
      if (sessions.count === 1) {
        const { href } = app.router.resolve({
          name: 'events-sessions-id',
          params: { id: sessions.results[0].url_id },
          query,
        })

        return redirect(301, href)
      }

      const data = await store.dispatch('event/FETCH', { id })
      // const geoId =
      //   path(['location', 'city', 'id'], data) ||
      //   store.getters['city/GET_CITY_ID']
      await Promise.all([
        // store.dispatch('seo/FETCH', { geoname_id: geoId }),
        store.dispatch('event/FETCH_COMMENTS', { id }),
        store.dispatch('events/FETCH', {
          actual: true,
          similar: id,
          page_size: 30,
          expand: ['cover', 'type', 'category', 'organizer'].join(),
        }),
      ])
      if (data.url_id !== params.id) {
        const { href } = app.router.resolve({
          name: 'events-id',
          params: { id: data.url_id },
          query,
        })
        return redirect(301, href)
      }
    } catch (err) {
      console.log(err)
      return error({ statusCode: 404 })
    }
  },
  head() {
    return {
      meta: [
        ...hasCover(this.event),
      ],
    }
  },

}
</script>
