<template>
  <div class="promo-page wrapper">
    <Promo @promote="promoteEvent" @cancel="cancelPromo" />
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import { prop, path } from 'ramda'
import { hasCover, setLatestModifiedAnd304 } from '~/utils'
import popConsts from '~/utils/popoverConsts.js'

export default {
  name: 'PromoPage',
  middleware: 'personal-data-agreement',
  layout: 'default',
  components: {
    Promo: () => import('~/components/common/Promo'),
  },
  data: () => ({
    email: '',
  }),
  computed: {
    ...mapGetters({
      event: 'event/EVENT',
    }),
    isAuth() {
      return this.$store.getters['auth/IS_AUTH']
    },
    id() {
      return prop('0', this.$route.params.id.match(/\d+/))
    },
    startDtSeo() {
      return prop('start_dt', this.event)
        ? this.$moment(this.event.start_dt).format('YYYY/MM/DD HH:mm')
        : ''
    },
    endDtSeo() {
      return prop('end_dt', this.event)
        ? this.$moment(this.event.end_dt).format('YYYY/MM/DD HH:mm')
        : ''
    },
    cityImg() {
      return path(['cover', 'image'], this.$store.getters['city/GET_CITY'])
    },
  },
  async fetch({ store, params, error, redirect, res, req, query }) {
    const id = prop('0', params.id.match(/\d+/))
    if (!id) return error({ statusCode: 404 })
    const eId = prop('id', store.getters['event/EVENT'])
    if (Number(id) === eId) return
    try {
      const data = await store.dispatch('event/FETCH', { id })
      const urlId = data.url_id
      if (urlId !== params.id) {
        return redirect(301, `/events/${urlId}/promo/`, query)
      }
    } catch (err) {
      console.log(err)
      return error({ statusCode: 404 })
    }

    if (process.server) {
      setLatestModifiedAnd304({ res, req, store }, [
        store.getters['event/modified'],
      ])
    }
  },
  methods: {
    ...mapActions({
      showPreloader: 'popovers/SWITCH_PRE_LOADER',
      showError: 'notifications/error',
      PROMOTE: 'event/PROMOTE',
    }),
    async promoteEvent(data) {
      if (!this.isAuth && !this.email) {
        this.$store.dispatch('popovers/TOGGLE_POPOVER', popConsts.auth)
        return
      }
      const params = {
        event: this.id,
        start_dt: data.date,
        plan: data.plan.id,
        email: this.email,
        languages: data.languages,
      }
      if (data.site) {
        params.customer_site = data.site
      }
      if (data.coupon.length) {
        params.coupon = data.coupon
      }

      try {
        this.showPreloader(true)
        const data = await this.PROMOTE(params)

        if (data.payment_url) {
          window.location.assign(data.payment_url)
        } else {
          this.$router.push({
            name: 'events-id',
            params: {
              id: this.$route.params.id,
            },
          })
        }
      } catch (e) {
        console.log(e)
      } finally {
        this.showPreloader(false)
      }
    },
    cancelPromo() {
      this.$router.go(-1)
    },
    hasDescription(d, endDt) {
      let retVal = []
      const description = prop('description_text', d)
      const dateDiff = this.$moment
        .duration(this.$moment(new Date()).diff(this.$moment(endDt)))
        .asMonths()

      if (dateDiff < 3 && description.length > 400) {
        retVal = [
          {
            hid: 'ogDescription',
            property: 'og:description',
            content: `${d.description_text.substring(0, 200)}...`,
          },
          {
            hid: 'description',
            name: 'description',
            content: `${d.description_text.substring(0, 200)}...`,
          },
        ]
      }

      return retVal
    },
  },
  head() {
    return {
      title: `${this.event.title} в ${path(
        ['location', 'city', 'name_declination'],
        this.event,
      )} на WhatWhere.World`,
      meta: [
        { hid: 'ogtype', property: 'og:type', content: 'event' },
        {
          hid: 'ogTitle',
          property: 'og:title',
          content: `${this.event.title} ${this.$t('seo.in')} ${path(
            ['location', 'city', 'name_declination'],
            this.event,
          )} ${this.$t('seo.on')} WhatWhere.World`,
        },
        {
          hid: 'ogUrl',
          property: 'og:url',
          content: `${process.env.domainUrl}${this.$route.path}`,
        },
        {
          hid: 'title',
          name: 'title',
          content: `${this.event.title} ${this.$t('seo.in')} ${path(
            ['location', 'city', 'name_declination'],
            this.event,
          )} ${this.$t('seo.on')} WhatWhere.World`,
        },
        ...this.hasDescription(this.event, this.event.end_dt),
        { property: 'event:start_time', content: `${this.startDtSeo}` },
        { property: 'event:end_time', content: `${this.endDtSeo}` },
        ...hasCover(this.event, this.cityImg),
        { hid: 'imgwidth', property: 'og:image:width', content: `1200` },
        { hid: 'imgheight', property: 'og:image:height', content: `600` },
      ],
      link: [
        {
          rel: 'canonical',
          href: `${process.env.domainUrl}${this.$route.path}`,
        },
      ],
    }
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

$mobile: 720px;
$middle: 1180px;

.promo-page {
  margin-top: 16px;
  max-width: 1192px;
  display: block;
  padding: 0 8px;

  @media (min-width: $mobile) {
    /*margin-top: 96px;*/
    padding: 0 16px;
    /*display: grid;*/
    /*grid-template-columns: auto 328px;*/
    /*grid-column-gap: 24px;*/
  }
  @media (min-width: $middle) {
    padding: 0 72px 0 112px;
  }

  &__side {
    display: none;
    @media (min-width: $desktopHD) {
      display: block;
      height: min-content;
      background-color: white;
      padding: 16px;
    }
  }

  &__mail {
    margin: 24px 0;
  }
}
</style>
