<template>
  <div class="wrapper">
    <section class="complete-reg">
      <div class="complete-reg__avatar ww-avatar ww-avatar_30">
        <AsyncImage :image="userAvatar" width="240" height="240" />
      </div>
      <div class="complete-reg__text">
        <h2>{{ getName }}</h2>
        <div class="complete-reg__hint">{{ $t('auth.newPassword') }}</div>
        <AuthPasswordInput
          :class="pwdClassess('new_password')"
          :passValue="user.new_password.value"
          @inputting="inputting(user.new_password.key, $event)"
          @enter="registrationHandler"
        />
        <div v-if="user.new_password.errorMessage" class="err-msg">
          {{ user.new_password.errorMessage }}
        </div>
        <AuthPasswordInput
          :class="pwdClassess('re_new_password')"
          :passValue="user.re_new_password.value"
          @inputting="inputting(user.re_new_password.key, $event)"
          @enter="registrationHandler"
        />
        <div v-if="user.re_new_password.errorMessage" class="err-msg">
          {{ user.re_new_password.errorMessage }}
        </div>
        <div v-show="errToShow" class="error-message">
          {{ errToShow }}
        </div>
        <Button @click="registrationHandler">
          {{ $t('auth.registerUser') }}
        </Button>
      </div>
    </section>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import AuthPasswordInput from '~/components/auth/AuthPasswordInput.vue'
// import { instance } from '~/plugins/axios.js'
// import { prop, path } from 'ramda'

export default {
  layout: 'topless',
  // validate({ redirect, params, query }) {
  //   const code = query.code
  //   return !!code && query.id
  // },
  components: {
    AsyncImage: () => import('~/components/common/AsyncImage'),
    Button: () => import('~/components/common/buttons/Button'),
    AuthPasswordInput,
  },

  data() {
    return {
      name: '',
      userAvatar: '',
      user: {
        code: {
          value: '',
          key: 'code',
          isCorrect: true,
          errorMessage: '',
        },
        new_password: {
          value: '',
          key: 'new_password',
          isCorrect: true,
          errorMessage: '',
        },
        re_new_password: {
          value: '',
          key: 're_new_password',
          isCorrect: true,
          errorMessage: '',
        },
      },
      error: {
        show: false,
        message: '',
      },
    }
  },

  computed: {
    getName() {
      return `${this.$t('profile.hey')}!`
    },
    errToShow() {
      if (this.error.show) return this.error.message
      else if (this.user.code.errorMessage) {
        return 'Invalid code signature'
      } else return ''
    },
  },

  created() {
    this.getParams()
  },

  methods: {
    ...mapActions({
      checkCookieIsAccepted: 'user/CHECK_COOKIE_IS_ACCEPTED',
      completeSimpleRegistration: 'auth/COMPLETE_SIMPLE_REGISTRATION',
    }),

    pwdClassess(key) {
      return {
        'complete-reg__input': true,
        'input--err': this.hasErr(key),
      }
    },
    hasErr(key) {
      return this.user[key].errorMessage
    },
    getParams() {
      if (process.client) {
        this.user.code.value = this.getParam('code')
        // instance.get(`/users/${this.getParam('id')}`).then(res => {
        //   this.name = prop('name', res.data)
        //   this.userAvatar = path(['avatar', 'image'], res.data)
        // })
      }
    },

    getParam(param) {
      return this.$route.query[param] ? this.$route.query[param] : null
    },

    inputting(field, $event) {
      this.user[field].value = $event.target ? $event.target.value : $event
      this.clearErrors(field)
    },

    comparePasswords() {
      return this.user.new_password.value === this.user.re_new_password.value
    },

    registrationHandler() {
      this.clearErrors()
      if (this.comparePasswords()) {
        this.register({
          code: this.user.code.value,
          new_password: this.user.new_password.value,
          re_new_password: this.user.re_new_password.value,
        })
      } else {
        this.showError(this.$t('auth.passwordsDoNotMatch'))
      }
    },

    async register(data) {
      try {
        const isCookieAccepted = await this.checkCookieIsAccepted()
        if (!isCookieAccepted) return

        await this.completeSimpleRegistration(data)
        this.$router.push('/profile/edit/')
      } catch (err) {
        err && this.errorHandler(err)
        console.log(err)
      }
    },

    errorHandler(errors) {
      Object.entries(errors).forEach(([key, value]) => {
        this.user[key].errorMessage = value[0]
      })
    },

    showError(message) {
      this.error.show = true
      this.error.message = message
    },

    clearErrors(field) {
      const user = this.user
      if (field) {
        user[field].isCorrect = true
        user[field].errorMessage = ''
      } else {
        Object.values(user).forEach(value => {
          value.isCorrect = true
          value.errorMessage = ''
        })
      }
      this.error.show = false
      this.error.message = ''
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.complete-reg {
  padding-top: 5 * $base;

  @media (min-width: $desktopHD) {
    display: flex;
    padding-top: 7 * $base;
    width: calc(8 / 12 * 100%);
  }

  &__avatar {
    flex-shrink: 0;
    margin-right: 7 * $base;
    position: absolute !important;
    transform: scale(0.5);
    transform-origin: left top;

    @media (min-width: $desktopHD) {
      position: relative !important;
      transform: scale(1);
    }
  }

  &__text {
    margin-top: 3 * $base;
    position: relative;
    width: 100%;

    @media (min-width: $desktopHD) {
      margin-top: 6.5 * $base;
    }

    h2 {
      align-items: center;
      display: flex;
      height: 12 * $base;
      margin-left: 18 * $base;
      position: absolute;
      top: -16.5 * $base;

      @media (min-width: $desktopHD) {
        height: auto;
        margin-left: 0;
        position: static;
        top: 0;
      }
    }
  }

  &__hint {
    margin-top: 18.125 * $base;
    margin-bottom: 2 * $base;

    @media (min-width: $desktopHD) {
      margin-top: 5.5 * $base;
      margin-bottom: 4 * $base;
    }
  }

  &__button {
    margin-top: 4 * $base;
  }

  .err-msg {
    margin-bottom: 1rem;
    color: $red;
  }
  &__input {
    margin-bottom: 1rem;
    &.input--err {
      border: 2px solid $red;
      margin-bottom: 0.5rem;
    }
  }
  .error-message {
    margin-bottom: 1rem;
    color: $red;
  }
}
</style>
