<i18n>
  {
    "ru": {
      "eventCreated": "Ваше событие создано!",
      "wantTicket": "Хотите настроить продажу билетов на ваше событие?",
      "ticketSales": "Настроить продажу билетов",
      "promoParagraph": {
      "first": "Вы можете",
      "edit": "редактировать",
      "second": "событие или",
      "setPromo": "запустить промокампанию",
      "third": "в любое время после публикации."
    }
  },
    "en": {
      "eventCreated": "Your event has been created!",
      "withoutPromotion": "without promotion",
      "wantTicket": "Do you want to set up ticket sales for your event?",
      "ticketSales": "Set up ticket sales",
      "promoParagraph": {
      "first": "You can",
      "edit": "edit",
      "second": "the event or",
      "setPromo": "run a promotional campaign",
      "third": "at any time after publication."
      }
    }
  }
</i18n>

<template>
  <div class="wrapper">
    <div v-if="event" class="create-final">
      <div class="create-final__content">
        <div class="title">
          <Icon src="icons/check-round.svg" size="xl" />
          <h1 class="create-final__title">{{ $t('eventCreated') }}</h1>
        </div>

        <p class="wantTicket">{{ $t('wantTicket') }}</p>

        <nuxt-link :to="{ name: 'events-id-tickets-edit', params: { id: event.url_id} }">
          <button class="promotion-button">{{ $t('ticketSales') }}</button>
        </nuxt-link>
        <p>
          {{ $t('promoParagraph.first') }}
          <WLink
              :to="{ name: 'events-id-edit', params: { id: event.url_id } }"
          >{{ $t('promoParagraph.edit') }}</WLink>
          {{ $t('promoParagraph.second') }}
          <WLink
              :to="{ name: 'events-id-promo', params: { id: event.url_id} }"
          >{{ $t('promoParagraph.setPromo') }}</WLink>
          {{ $t('promoParagraph.third') }}
        </p>
      </div>
      <div class="create-final__card">
        <div class="event-card-container">
          <EventCard :value="{ event }" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import { prop } from 'ramda'
  import { getEventById } from '~/api'
  import { mapDatesData, deSerializeObjectDates } from '~/utils/event'
  import EventCard from '~/components/common/EventCard'
  import WLink from '~/components/common/WLink'

  export default {
    middleware: 'only-auth',

    components: {
      EventCard,
      WLink,
      Icon: () => import('~/components/common/Icon'),
    },

    data: () => ({
      event: null,
    }),

    computed: {
      eventId() {
        return (
          this.$route.params.id && prop('0', this.$route.params.id.match(/\d+/))
        )
      },
    },

    fetch({ params, redirect, query }) {
      const hasEventId = Boolean(params.id && prop('0', params.id.match(/\d+/)))
      if (!hasEventId) redirect({ path: '/', query })
    },

    async mounted() {
      await this.setEvent()
    },

    methods: {
      async setEvent() {
        this.$store.dispatch('popovers/SWITCH_PRE_LOADER', true)

        try {
          const { data } = await getEventById(this.$axios, {
            id: this.eventId,
            params: {
              expand: 'cover,organizer',
            },
          })
          this.event = deSerializeObjectDates(mapDatesData(data))
        } catch (e) {
          console.log(e)
          this.$router.push({ path: '/' })
        }

        this.$store.dispatch('popovers/SWITCH_PRE_LOADER', false)
      },
    },
  }
</script>

<style lang="scss" scoped>
  @import '~/assets/css/variables.scss';

  .create-final {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;

    @media (min-width: $desktopSD) {
      margin-top: 72px;
      flex-direction: row;
    }
    .wantTicket{
      font-size: 16px;
      font-weight: bold;
    }
    .title{
      display: flex;
    }
    &__title {
      @include text(4);
      font-weight: bold;
      margin-bottom: 24px;
      margin-left: 20px;

      @media (min-width: $desktopSD) {
        @include text(6);
      }
    }

    &__content {
      flex: 1;
      margin-right: 16px;
    }

    &__card {
      flex: 1;
      display: flex;
      justify-content: center;
      margin-bottom: 24px;

      @media (min-width: $desktopSD) {
        margin-bottom: 0;
      }
    }

    .event-card-container {
      width: 160px;

      @media (min-width: $desktopSD) {
        width: 248px;
      }

      @media (min-width: $desktopHDp) {
        width: 296px;
      }
    }

    .promotion-button {
      padding: 15px 42px;
      margin-bottom: 31px;
      background-color: #0070ff;
      border: 2px solid #0070ff;
      color: #ffffff;
      font-size: 18px;
      font-weight: bold;
      text-transform: none;
      &:hover{
        background-color: #ffffff;
        color: #0070ff;
      }
    }
  }
</style>