<template>
  <div class="evcr__datetime-picker mobile">
    <div class="container">
      <div v-if="$slots.header" class="header">
        <div><slot name="header"></slot></div>
        <div class="icon" @click="$emit('close')">
          <span class="ww-icn-cross"></span>
        </div>
      </div>
      <div class="datepicker">
        <Datepicker
          :disabledDates="disabledDates"
          :value="date"
          :inline="true"
          @input="date = $event"
        />
      </div>
      <div class="timepicker">
        <Timepicker :value="date" :inline="true" @input="date = $event" />
      </div>
      <Button
        style="max-height: 56px; line-height: 56px; padding: 0;"
        noArrow
        :disabled="btnDisabled"
        @click="onClick"
      >
        {{ $t('setup') }}
      </Button>
    </div>
  </div>
</template>

<script>
import { isBefore, isAfter } from 'date-fns'

export default {
  components: {
    Button: () => import('~/components/common/buttons/Button'),
    Datepicker: () => import('~/components/common/input/DatePicker_new/'),
    Timepicker: () => import('~/components/common/input/TimePicker'),
  },
  props: {
    value: [Date, Number],
    disabledDates: Object,
    startDate: [Date, Number],
    endDate: [Date, Number],
  },
  data() {
    return {
      date: this.value,
    }
  },
  computed: {
    btnDisabled() {
      if (this.startDate) {
        return isBefore(this.date, new Date(this.startDate))
      }
      if (this.endDate) {
        return isAfter(this.date, new Date(this.endDate))
      }
      return false
    },
  },
  beforeMount() {
    this.date = this.value
  },
  methods: {
    onClick() {
      this.$emit('set', this.date)
      this.$emit('close')
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.evcr__datetime-picker.mobile {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: flex;
  align-items: flex-end;
  > .container {
    background-color: #fff;
    height: 90%;
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 24px;
    z-index: 101;

    .header {
      position: relative;
      padding: 0 0 26px;
      font-size: 24px;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: 1px solid rgba(0, 0, 0, 0.15);
      > .icon {
        position: absolute;
        right: 0;
      }
    }
    .datepicker {
      position: relative;
      border-bottom: 1px solid rgba(0, 0, 0, 0.15);
      z-index: 200;
    }
    .timepicker {
      position: relative;
      z-index: 200;
      width: 100%;
    }
  }
}
</style>

<i18n>
{
  "ru": {
    "setup": "Установить"
  },
  "en": {
    "setup": "Set"
  }
}
</i18n>
