<template>
  <section class="event-datepickers">
    <Dates
      :start="start"
      :end="end"
      :isMobile="isMobile"
      :timeEndBeforeStart="timeEndBeforeStart"
      :disabledStart="disabledDtStart"
      :disabledEnd="disabledDtEnd"
      v-bind="$attrs"
      v-on="$listeners"
      @readonly="onReadonly"
      @change:start="start = $event"
      @change:end="end = $event"
    >
      <template #start>{{ $t('start_event') }}</template>
      <template #end>{{ $t('end_event') }}</template>
    </Dates>
    <WithTransition v-if="isMobile">
      <DateTimeMobilePicker
        v-if="pickerStart"
        :disabledDates="disabledDtStart"
        :value="start"
        :endDate="end"
        @close="onReadonly(undefined)"
        @set="start = $event"
      >
        <template #header>{{ $t('start_event') }}</template>
      </DateTimeMobilePicker>
    </WithTransition>
    <WithTransition>
      <DateTimeMobilePicker
        v-if="isMobile && pickerEnd"
        :disabledDates="disabledDtEnd"
        :value="end"
        :startDate="start"
        @close="onReadonly(undefined)"
        @set="end = $event"
      >
        <template #header>{{ $t('end_event') }}</template>
      </DateTimeMobilePicker>
    </WithTransition>
  </section>
</template>

<script>
import { isBefore, isValid, setMinutes, setHours } from 'date-fns'
import { format } from 'date-fns/fp'

const formatDates = format(`yyyy-MM-dd'T'HH:mm`)
const resetTime = date =>
  isValid(date) ? setMinutes(setHours(date, 0), 0) : undefined

export default {
  components: {
    Dates: () => import('./Dates'),
    DateTimeMobilePicker: () => import('./DateTimeMobilePicker'),
    WithTransition: () => import('~/components/common/WithTransition'),
  },
  props: {
    initial: Array,
    initialWatch: {
      type: Boolean,
      default: false
    },
    isEmit: Boolean,
    checkEndDate: {
      type: Boolean,
      default: false,
    },
  },
  data: () => ({
    width: 0,
    pickerStart: false,
    pickerEnd: false,
    start: undefined,
    end: undefined,
  }),
  computed: {
    isMobile() {
      return this.width <= 425
    },
    period() {
      return [this.start, this.end].map(v => (v ? formatDates(v) : ''))
    },
    timeEndBeforeStart() {
      return isBefore(this.end, this.start)
    },
    disabledDtEnd() {
      if(this.checkEndDate && new Date(this.start).getTime() < Date.now()) {
        return { to: resetTime( Date.now()) }
      }
      return { to: resetTime(this.start) }
    },
    disabledDtStart() {
      return { from: this.end, to: undefined }
    },
  },
  watch: {
    initial() {
      if(this.initialWatch) {
        this.init()
      }
    },
    period(v) {
      if (this.timeEndBeforeStart) {
        this.selectDate(v, [v[0], null])
        return
      }
      this.selectDate(v, v)
    },
  },
  mounted() {
    this.addResizeListener()
    this.init()
  },
  destroyed() {
    window.removeEventListener('resize', this.onResizeEvent)
  },
  methods: {
    selectDate(v, storeVal) {
      if (this.isEmit) {
        this.$emit('date:selected', v)
      } else {
        this.$store.dispatch('newEvent/SET_FIELD', {
          value: storeVal,
          key: 'period',
          validations: ['start_dt', 'end_dt'],
        })
      }
    },
    init() {
      this.start = this.initial[0] ? new Date(this.initial[0]) : null
      this.end = this.initial[1] ? new Date(this.initial[1]) : null
    },
    addResizeListener() {
      if (window) {
        window.addEventListener('resize', this.onResizeEvent)
        window.dispatchEvent(new window.Event('resize'))
      }
    },
    onResizeEvent(e) {
      this.width = e.target.innerWidth
    },
    onReadonly(v) {
      if (v === 'S') this.pickerStart = true
      else if (v === 'E') this.pickerEnd = true
      else {
        this.pickerStart = false
        this.pickerEnd = false
      }
    },
  },
}
</script>

<style lang="scss">
.event-datepickers {
  margin: 40px 0 0;
  position: relative;
}
</style>

<i18n>
{
  "ru": {
    "start_event": "Начало события",
    "end_event": "Окончание события"
  },
  "en": {
    "start_event": "Event start",
    "end_event": "Event end"
  },
  "es": {
    "start_event": "Начало события",
    "end_event": "Окончание события"
  }
}
</i18n>
