<template>
  <div class="event-datepickers__container">
    <div class="picker start">
      <span class="picker-label">
        <slot name="start" />
      </span>
      <div class="flex">
        <Datepicker
          class="dtpicker"
          :inputClass="{ dtpicker__input: true, error: dateStartErr }"
          :disabledDates="disabledStart"
          :isReadonly="isMobile"
          :value="start"
          @input="selectStart($event)"
          @readonly="onReadonly('S')"
        />
        <Timepicker
          :isReadonly="isMobile"
          :value="start"
          @input="selectStart($event)"
          @readonly="onReadonly('S')"
        />
      </div>
    </div>
    <div class="picker end">
      <span class="picker-label">
        <slot name="end" />
      </span>
      <div class="flex">
        <Datepicker
          class="dtpicker"
          :inputClass="{ dtpicker__input: true, error: dateEndErr }"
          :isReadonly="isMobile"
          :disabledDates="disabledEnd"
          :value="end"
          @input="selectEnd($event)"
          @readonly="onReadonly('E')"
        />
        <Timepicker
          :isReadonly="isMobile"
          :error="timeEndBeforeStart"
          :value="end"
          @input="selectEnd($event)"
          @readonly="onReadonly('E')"
        />
      </div>
    </div>
  </div>
</template>
<script>
import { isNil } from 'ramda'

export default {
  components: {
    Datepicker: () => import('~/components/common/input/DatePicker_new'),
    Timepicker: () => import('~/components/common/input/TimePicker'),
  },
  props: {
    error: {
      type: [Object, Boolean],
      default: () => ({}),
    },
    initial: Array,
    isMobile: Boolean,
    start: [Date, Number],
    end: [Date, Number],
    timeEndBeforeStart: Boolean,
    disabledStart: Object,
    disabledEnd: Object,
  },
  computed: {
    dateStartErr() {
      return this.error && isNil(this.start)
    },
    dateEndErr() {
      return (this.error && isNil(this.end)) || this.timeEndBeforeStart
    },
  },
  methods: {
    selectStart(val) {
      this.$emit('change:start', val)
    },
    selectEnd(val) {
      this.$emit('change:end', val)
    },
    onReadonly(v) {
      this.$emit('readonly', v)
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.event-datepickers__container {
  display: flex;
  @media screen and (max-width: 768px) {
    flex-flow: column;
  }

  .picker {
    display: flex;
    flex-flow: column;
    .dtpicker {
      max-width: 200px;
      margin-right: 8px;
    }

    &.start {
      margin-right: 40px;
      @media screen and (max-width: 768px) {
        margin: 0;
        margin-bottom: 10px;
      }
    }
    &-label {
      margin-bottom: 10px;
      @include text(1.5);
      font-weight: bold;
      color: #999999;

      @media (min-width: $desktopSD) {
        @include text(2.25);
      }

      &__err {
        color: red;
        font-size: 12px;
      }
    }
  }
}
</style>

<style lang="scss">
.dtpicker__input {
  font-size: 24px;
  @media (max-width: 425px) {
    font-size: 20px;
  }
  &:focus {
    box-shadow: none;
  }
  &.error {
    box-shadow: 0 0 0 2px #f50052;
  }
}
</style>
