<template>
  <div class="section-events">
    <div class="categories">
      <div v-for="(cat, id) in categories" :key="id" class="category">
        <nuxt-link :to="`${cityUrl}/where/${cat.slug}/`">
          <span v-if="!cat.parent" class="category-title">
            {{ cat.title }}
            <span class="category-title_counter">
              {{ cat.total_events || 0 }}
            </span>
          </span>
        </nuxt-link>

        <div
          v-for="subcat in cat.subcat"
          :key="subcat.id"
          class="category-list"
        >
          <div v-if="subcat.parent" class="category-list_item">
            <nuxt-link :to="`/${cityUrl}/where/${cat.slug}/${subcat.slug}/`">
              {{ subcat.title }}
            </nuxt-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  computed: {
    categories() {
      return this.getCategories.filter(category => category.total_events > 2)
    },
    getCategories() {
      return this.$store.getters['categories/filtered']
    },
    cityUrl() {
      return this.$store.getters['city/GET_CITY'].url_id
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.section-events {
  .categories {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10 * $base;
    margin-bottom: 8 * $base;

    @media ($mobile) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 3 * $base;
    }

    .category {
      margin-right: 4 * $base;
      margin-bottom: 4 * $base;

      @media ($mobile) {
        margin: 0;
      }

      &-title {
        color: $blue;
        text-transform: uppercase;
        font-weight: bold;
        display: inline-block;
        margin-bottom: $base;
        line-height: 1.5;

        &:hover {
          color: black;
        }

        &_counter {
          @include text(1.5);
          font-weight: normal;
          // margin-left: 0.75 * $base;
          position: relative;
          top: -$base;
        }
      }

      &-list {
        display: flex;
        flex-flow: column;
        &:hover {
          color: $blue;
        }
      }

      &-list_item {
        line-height: 1.5;
      }
    }
  }
}
</style>
