<template>
  <nav class="links">
    <ul class="links__top">
      <li v-for="(item, index) in top" :key="'top ' + index">
        <WLink :href="'/city/' + item.url_id">{{ item.name }}</WLink>
      </li>
    </ul>
    <ul class="links__other">
      <li v-for="(item, index) in other" :key="'other ' + index">
        <a :href="'/city/' + item.url_id">{{ item.name }}</a>
      </li>
    </ul>
  </nav>
</template>

<script>
export default {
  components: {
    WLink: () => import('~/components/common/WLink'),
  },
  props: {
    top: {
      type: Array,
    },
    other: {
      type: Array,
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

$mobile: 720px;
$middle: 1180px;

.links {
  display: grid;
  grid-gap: 46px;

  &__top {
    column-count: 2;
    column-fill: balance;
    @include text(3);
    @media (min-width: $mobile) {
      column-count: 4;
    }
  }
  &__other {
    column-count: 3;
    column-fill: balance;
    @media (min-width: $mobile) {
      column-count: 6;
    }

    a:hover {
      color: $blue;
      text-decoration: underline;
    }
  }
}
</style>
