<i18n>
  {
    "ru":{
      "notCompleted": "Регистрация не завершена.",
      "followLink": "Для подтверждения аккаунта пройдите по ссылке из письма."
    },
    "en":{
      "notCompleted": "Registration is not complete.",
      "followLink": "To confirm your account, follow the link in the email."
    }
  }
</i18n>
<template>
  <div class="main-section">
    <div class="main-section__user">
      <div class="user">
        <div class="user__avatar">
          <AvatarWithControls
            :user="profile"
            :size="avatarSize"
            :isOwnProfile="showAvatarControls"
            :isAvatarSmall="isAvatarSmall"
            @changed="$emit('changed')"
            @removed="$emit('changed')"
          />
        </div>
        <div class="user__info">
          <h1 class="title" v-text="profile.name || $t('profile.user')" />
          <nuxt-link
            v-if="isOrganizerProfile && profile.as_organizer"
            :to="{ name: 'organizers-id', params: { id: profile.as_organizer },}"
            class="user-type"
            v-text="profileType"
          />
          <p v-else
            class="user-type"
            v-text="profileType"
          />
          <div v-if="isNotCompleted" class="not-completed">
            <Icon src="icons/alert.svg" size="m" class="alert-icon" />
            {{ $t('notCompleted') }} <br/> {{ $t('followLink') }}
          </div>
          <div class="main-section__counters">
            <Counters />
          </div>
        </div>
      </div>
    </div>

    <div class="main-section__counters -mobile">
      <Counters />
    </div>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex'
  import { prop } from 'ramda'

  export default {
    components: {
      Counters: () => import('./components/Counters'),
      AvatarWithControls: () =>
        import('~/components/profile/components/AvatarWithControls'),
      Icon: () => import('~/components/common/Icon'),
    },
    props: {
      profile: {
        type: Object,
        required: true,
      },
      isOwnProfile: Boolean,
      isOrganizerProfile: Boolean,
      isOrganizerView: Boolean,
      profileType: String,
    },
    data: () => ({
      isAvatarSmall: false,
    }),
    computed: {
      ...mapGetters('user', ['GET_USER']),
      avatarSize() {
        return this.isAvatarSmall ? 64 : 200
      },
      isNotCompleted() {
        return this.isOwnProfile && !this.GET_USER.is_completed
      },
      showAvatarControls() {
        return this.isOwnProfile && !this.isOrganizerView
      },
    },
    mounted() {
      try {
        this.isMobileMQ = window.matchMedia('(max-width: 426px)')
        this.isMobileMQ.addEventListener(
          'change',
          this.onIsMobileMQChanged.bind(this),
        )
        this.onIsMobileMQChanged(this.isMobileMQ)
      } catch (e) {
        console.error(e)
        this.isMobileMQ = null
      }
    },
    beforeDestroy() {
      if (this.isMobileMQ) {
        try{
          this.isMobileMQ.addEventListener('change', this.onIsMobileMQChanged)
        } catch (e) {
          console.error(e)
        }
      }
    },
    methods: {
      onIsMobileMQChanged(e) {
        const isMobile = e.matches
        this.isAvatarSmall = isMobile
      },
    },
  }
</script>

<style lang="scss" scoped>
  @import '~/assets/css/variables.scss';

  .main-section {
    .user {
      display: flex;
      flex-wrap: wrap;

      &__avatar {
        flex: 0;
        margin-right: $base * 7;
      }

      &__info {
        flex: 1;
        margin-top: $base * 3;

        .title {
          @include text(4);
          font-weight: bold;
          overflow-wrap: break-word;
          word-break: break-all;
          white-space: normal;
          display: -webkit-box;
          -webkit-box-orient: vertical;

        }

        .user-type {
          margin: 13px 0 0;
        }
        .alert-icon {
          color: $red;
          margin-right: 16px;
        }
        .not-completed {
          background-color: #ffffff;
          border-radius: 8px;
          box-shadow: 0 -5px 10px 0 rgba(203, 214, 225, 0.1);
          padding: 16px;
          display: flex;
          align-items:center
        }
      }
    }

    &__counters {
      margin-top: 30px;

      &:empty {
        display: none !important;
      }

      &.-mobile {
        display: none;
      }
      @media ($mobile) {
        display: none;
        &.-mobile {
          display: block;
        }
      }
    }

    @media ($mobile) {
      display: flex;
      flex-direction: column;

      .user {
        &__avatar {
          margin-right: $base * 2;
        }
        &__info {
          margin-top: 0;
        }

        .title {
          @include text(2.625);
        }

        .user-type {
          margin-top: 5px;
        }
      }

      &__counters {
        margin-top: 11px;
      }
    }
  }
</style>
