<i18n>
{
  "ru": {
    "profile": "Профиль",
    "events": "События",
    "myEvents": "Мои события",
    "journals": "Журналы",
    "tickets": "Билеты"
  },
  "en": {
    "profile": "Profile",
    "events": "Events",
    "myEvents": "My events",
    "journals": "Blogs",
    "tickets": "Tickets"
  },
  "es": {
    "profile": "Perfíl",
    "events": "Eventos",
    "myEvents": "Mis eventos",
    "journals": "Revistas",
    "tickets": "Entradas"
  }
}
</i18n>

<template>
  <ScrollableNav
    v-if="navigation.length"
    :value="activeNavigationItem"
    :items="navigation"
    class="profile-navigation"
  >
    <template
      v-slot:item="{
        item,
        isItemActive,
        isItemFirst,
        isItemLast,
      }"
    >
      <nuxt-link
        :to="item.route"
        :class="{
          'is-active': isItemActive,
          'is-first': isItemFirst,
          'is-last': isItemLast,
        }"
        class="profile-navigation__item"
      >
        <span v-text="item.title" />
        <sup v-if="item.count" class="counter" v-text="item.count" />
      </nuxt-link>
    </template>
  </ScrollableNav>
</template>

<script>
import { mapGetters } from 'vuex'
import ProfileRoutesService from '~/utils/profile-routes-service'

export default {
  components: {
    ScrollableNav: () => import('~/components/common/ScrollableNav'),
  },
  props: {
    profile: {
      type: Object,
      required: true,
    },
    isOwnProfile: Boolean,
    isOrganizerProfile: Boolean,
    isOrganizerView: Boolean,
    isProfileSupplier: Boolean,
    isProfileCustomer: Boolean
  },
  data: () => ({
    navigation: {}
  }),

  computed: {
    ...mapGetters('user', ['COUNTERS', 'GET_USER']),
    activeNavigationItem() {
      return this.navigation.find(item => {
        if (item.route.name === ProfileRoutesService.profileMarketplacePage)
          return this.$route.name.startsWith(item.route.name)
        return this.$route.name === item.route.name
      })
    },
  },

  watch: {
    COUNTERS: {
      deep: true,
      handler: 'setNavigation'
    },
    GET_USER() {
      this.setNavigation()
      if ( !this.activeNavigationItem ){
        this.$router.go()
      }
    }
  },

  created() {
    this.routesService = new ProfileRoutesService({
      store: this.$store,
      router: this.$router,
    })
    this.setNavigation()
  },
  methods: {
    setNavigation() {
      this.routesService.setRoute(this.$route)
      const items = [
        {
          route: this.routesService.indexRoute,
          title: this.$t('profile'),
          display: true
        },
        {
          route: this.routesService.eventsRoute,
          title: this.isOwnProfile && !this.isOrganizerView
            ? this.$t('myEvents')
            : this.$t('events'),
          count: this.COUNTERS.events,
          display: this.isOwnProfile ? true: this.COUNTERS.events > 0
        },
        {
          route: this.routesService.journalsRoute,
          title: this.$t('journals'),
          count: this.COUNTERS.journals,
          display: !this.isOrganizerView && this.COUNTERS.journals
        },
        {
          route: this.routesService.marketplaceRoute,
          title: this.$t('profile.marketplace'),
          count: this.COUNTERS.marketplace_orders,
          display: !this.isOrganizerView && (
            this.isProfileSupplier || this.isProfileCustomer || this.isOwnProfile
          )
        },
        {
          route: this.routesService.ticketsRoute,
          title: this.$t('tickets'),
          count: this.COUNTERS.tickets,
          display: this.isOwnProfile && this.COUNTERS.tickets
        },
      ].filter(item => item.display)

      this.navigation = items.length > 1 ? items : []
    }
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.profile-navigation {
  box-shadow: inset 0px -2px 0px 0 #fff;

  &__item {
    $transition: 0.2s;

    @include text(3);
    padding: ($base * 0.75) ($base * 2.75);
    border-bottom: 2px solid transparent;
    transition: opacity $transition, border-color $transition;
    display: block;

    &:not(.is-active) {
      opacity: 0.4;

      &:hover {
        opacity: 0.7;
      }
    }
    &:hover,
    &.is-active {
      border-color: $blue;
    }
    &.is-active {
      font-weight: bold;
    }

    &.is-first {
      padding-left: 0;
      text-align: left;
    }
    &.is-last {
    }

    .counter {
      @include text(1.5);
      font-weight: normal;
      top: -0.85em;
    }
  }

  @media ($mobile) {
    &__item {
      @include text(2);

      padding-left: $base * 3;
      padding-right: $base * 3;

      &.is-first {
        padding-left: $base * 1.75;
      }
      .counter {
        top: -0.35em;
      }
    }
  }
}
</style>
