<i18n>
{
  "ru": {
    "privacySettings": "Настройки приватности",
    "downloadPersonalData":
    "Сформировать и скачать мои персональные данные, хранящиеся на этом сайте",
    "restrictPersonalData":
    "Запретить обработку моих данных (ограничить публичный доступ и доступ администраторов к моему аккаунту)",
    "deleteAccount": "Удалить аккаунт и все мои данные",
    "turnOff": "Выключить",
    "turnOn": "Включить"
  },
  "en": {
    "privacySettings": "Privacy settings",
    "downloadPersonalData":
    "Download a copy of my personal information stored on WhatWhere.World",
    "restrictPersonalData":
    "Restrict usage of my personal data (limit access for public and site administrators to my account)",
    "deleteAccount": "Delete my account and all personal data",
    "turnOff": "Turn off",
    "turnOn": "Turn on"
  },
  "es": {
    "privacySettings": "Ajustes de privacidad",
    "downloadPersonalData":
    "Generar y descargar mis datos personales almacenados en este sitio web",
    "restrictPersonalData":
    "Prohibir el procesamiento de mis datos (restringir el acceso público y el acceso de los administradores a mi cuenta)",
    "deleteAccount": "Eliminar mi perfil y mis datos",
    "turnOff": "Habilitar",
    "turnOn": "Deshabilitar"
  }
}
</i18n>

<template>
  <section class="privacy-settings">
    <AccordionPanel
      :title="$t('privacySettings')"
    >
      <div class="setting">
        <span class="setting__title" v-text="$t('downloadPersonalData')" />
        <div class="setting__actions">
          <Button
            class="setting__action"
            noArrow
            @click="DOWNLOAD_PERSONAL_DATA('csv')"
          >
            CSV
          </Button>
          <Button
            class="setting__action"
            noArrow
            @click="DOWNLOAD_PERSONAL_DATA('xml')"
          >
            XML
          </Button>
        </div>
      </div>
      <div class="setting">
        <span class="setting__title" v-text="$t('restrictPersonalData')" />
        <WSwitch
          v-model="pda"
          v-tooltip.auto="pda ? $t('turnOff') : $t('turnOn')"
        />
      </div>
      <Button
        class="privacy-settings__delete"
        color="red"
        @click="onDeleteAccount"
        v-text="$t('deleteAccount')"
      />
    </AccordionPanel>
  </section>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import popoverConsts from '~/utils/popoverConsts'

export default {
  components: {
    AccordionPanel: () => import('../components/AccordionPanel'),
    Button: () => import('~/components/common/buttons/Button'),
    WSwitch: () => import('~/components/common/input/WSwitch'),
  },
  data: () => ({
    isOpen: false,
  }),
  computed: {
    ...mapGetters('user', ['PERSONAL_DATA_AGREEMENT']),

    pda: {
      get() {
        return !this.PERSONAL_DATA_AGREEMENT
      },
      set(v) {
        this.SET_PERSONAL_DATA_AGREEMENT(!v)
      },
    },
  },
  methods: {
    ...mapActions('popovers', ['TOGGLE_POPOVER']),
    ...mapActions('user', [
      'SET_PERSONAL_DATA_AGREEMENT',
      'DOWNLOAD_PERSONAL_DATA',
    ]),

    onDeleteAccount() {
      this.TOGGLE_POPOVER(popoverConsts.deleteUser)
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.privacy-settings {
  .setting {
    padding: 26px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (min-width: 768px) {
      padding: 16px 0;
    }

    &:not(:last-of-type) {
      border-bottom: 1px solid $gray;
    }

    &__title {
      margin-right: 8px;
      max-width: 70%;
      flex-shrink: 0;

      @media (min-width: 768px) {
        margin-right: 16px;
      }
    }

    &__actions {
      display: flex;
    }

    &__action {
      width: 40px;
      height: 40px;
      padding: 2px 0 0;
      letter-spacing: -0.6px;

      &:not(:last-of-type) {
        margin-right: 8px;

        @media (min-width: 768px) {
          margin-right: 16px;
        }
      }
    }
  }

  &__delete {
    // boost specificity
    &.privacy-settings__delete {
      @include text(2);
      margin-top: 25px;
      padding: 2px ($base * 2) 0;
      height: $base * 9;
    }
  }
}
</style>
