<template>
  <div :class="{ horizontal }" class="side-section">
    <div class="side-section__user">
      <nuxt-link :to="indexRoute" class="user">
        <div class="user__avatar">
          <Avatar :user="profile" :size="48" />
        </div>

        <div class="user__info">
          <p class="username" v-text="profile.name || $t('profile.user')" />
          <p class="user-type" v-text="profileType"/>
        </div>
      </nuxt-link>
    </div>

    <div class="side-section__actions">
      <Actions
        :profile="profile"
        :isOwnProfile="isOwnProfile"
        :isOrganizerProfile="isOrganizerProfile"
        :isOrganizerView="isOrganizerView"
      />
    </div>

    <transition name="fade">
      <div v-show="isOpened" class="side-section__contacts">
        <Contacts
          :profile="profile"
          :isOwnProfile="isOwnProfile"
          :isOrganizerProfile="isOrganizerProfile"
          :isOrganizerView="isOrganizerView"
        />
      </div>
    </transition>

    <div
      :class="{ 'is-opened': isOpened }"
      class="side-section__toggler"
      @click="isOpened = !isOpened"
    >
      <i class="icon ww-icn-angle-down" />
    </div>
  </div>
</template>

<script>
import ProfileRoutesService from '~/utils/profile-routes-service'

export default {
  components: {
    Avatar: () => import('~/components/common/Avatar'),
    Actions: () => import('./components/Actions'),
    Contacts: () => import('./components/Contacts'),
  },
  props: {
    profile: {
      type: Object,
      required: true,
    },
    isOwnProfile: Boolean,
    isOrganizerProfile: Boolean,
    isOrganizerView: Boolean,
    horizontal: Boolean,
    profileType: String
  },
  data: () => ({
    isOpened: false,
  }),
  computed: {
    indexRoute() {
      this.routesService.setRoute(this.$route)
      return this.routesService.indexRoute
    },
  },
  created() {
    this.routesService = new ProfileRoutesService({
      store: this.$store,
      router: this.$router,
    })
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.side-section {
  padding: $base * 4;
  background: #fff;
  position: relative;

  &__user {
    flex: 1 1 auto;
    min-width: 0;
  }

  &__actions {
    margin-top: $base * 2;
    flex: 0;
  }

  &__contacts {
    margin-top: $base * 2.5;
  }

  &__content {
  }

  &__toggler {
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: $base * 4;

    display: flex;
    justify-content: center;
    align-items: center;
    color: $black-gray;
    transition: color 0.2s, transform 0.2s;

    &:hover {
      color: darken($black-gray, 30%);
    }

    &.is-opened {
      transform: rotate(-180deg);
    }

    .icon {
      display: block;
      line-height: 1;
      width: $base * 2;
      height: $base * 2;
    }
  }

  .user {
    display: flex;

    &__avatar {
      margin-right: $base * 2;
    }

    &__info {
      flex: 1 1 auto;
      min-width: 0;

      .username {
        margin: 0;
        font-weight: bold;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow-wrap: break-word;
      }

      .user-type {
        margin: ($base / 2) 0 0;
        @include text(1.5);
      }
    }
  }

  &.horizontal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;

    padding: 20px 74px 20px 45px;

    .side-section__contacts,
    .side-section__toggler {
      display: none;
    }

    .side-section__user {
      margin-right: $base * 3;
    }

    .side-section__actions {
      margin: 0;
    }

    @media (max-width: $desktopSD) {
      padding: 17px ($base * 3) 15px;
    }

    @media ($mobile) {
      padding: 8px 10px 11px 16px;

      .user {
        &__avatar {
          margin-right: 0;
        }
        &__info {
          display: none;
        }
      }
    }
  }
}
</style>
