<template>
  <div
    class="search-bar"
    :class="{
      'search-bar--without-period': withoutPeriod,
      'search-bar--roll-up': isRollUp,
    }"
  >
    <label
      class="search-bar__search-label"
      :class="{ 'hidden-mobile-only': isRollUp }"
    >
      <input
        :value="search"
        class="search-bar__search-input"
        type="text"
        name
        :placeholder="$t('mainpage.searchBar.placeholder')"
        @input="$emit('update:search', $event.target.value)"
        @keydown.enter="searchHandler"
      />
    </label>

    <SelectCity
      :value="city"
      class="search-bar__city-input"
      :class="{ 'hidden-mobile-only': isRollUp }"
      @input="$emit('update:city', $event)"
    />

    <div v-if="!withoutPeriod" class="search-bar__date">
      <SelectPeriod
        :value="period"
        :options="periodOptions"
        class="period"
        :class="{ 'hidden-mobile-only': isRollUp }"
        @input="changePeriod"
      />
      <div v-if="showDatePicker" class="datepicker">
        <DatePickerPeriod
          :from="dates[0] && convertFormatDate(dates[0])"
          :to="dates[1] && convertFormatDate(dates[1])"
          :fromLimit="datesLimitFrom"
          :toLimit="datesLimitTo"
          :class="{ 'hidden-mobile-only': isRollUp }"
          @update:from="changeDates($event, 0)"
          @update:to="changeDates($event, 1)"
        />
      </div>
    </div>

    <button
      class="search-bar__desktop-button hidden-mobile-only"
      type="button"
      name
      v-tooltip.auto="$t('common.btnSearch')"
      @click="searchHandler"
    >
      <span class="search-bar__icon ww-icn-search"></span>
    </button>

    <button
      class="search-bar__mobile-button hidden-desktopSD-and-up"
      @click="searchMobileHandler"
    >
      <span v-if="isRollUp" class="button-text">
       <span class="icon ww-icn-search"></span> {{ buttonText }}
      </span>
      <span v-else class="search-bar__mobile-text">
        {{ $t('common.btnSearch') }}
      </span>
    </button>
  </div>
</template>

<script>
import DatePickerPeriod from '~/components/common/input/DatePickerPeriod'
import SelectCity from '~/components/common/input/SelectCity'
import SelectPeriod from './SelectPeriod'

export default {
  components: {
    DatePickerPeriod,
    SelectCity,
    SelectPeriod,
  },
  props: {
    city: {
      type: Object,
      required: true,
    },
    search: {
      type: String,
      default: '',
    },
    dates: {
      type: Array,
      default: () => [],
      validator: v => v.every(e => Date.parse(e) || !e),
    },
    datesLimit: {
      type: Array,
      default: () => [],
    },
    period: {
      type: String,
      default: '',
      validator: v => ~['', 'this-week', 'this-month', 'weekends'].indexOf(v),
    },
    withoutPeriod: {
      type: Boolean,
      default: false,
    },
    rollUp: Boolean,
  },
  data: () => ({
    isRollUp: false,
    periodText: '',
    showDatePicker: false,
  }),
  computed: {
    query() {
      const { search, city, dates, period } = this
      const query = {
        search,
        geoname_ids: city.id,
        dates: dates
          .map(date => (date ? this.$moment(date).format('DD.MM.YYYY') : null))
          .join(','),
        period,
        actual: !period && dates.every(date => !date),
      }
      for (var propName in query) {
        if (!query[propName]) {
          delete query[propName]
        }
      }
      return query
    },
    periodOptions() {
      return [
        { value: '', text: this.$t('mainpage.searchBar.anyDate') },
        { value: 'this-week', text: this.$t('mainpage.searchBar.week') },
        { value: 'this-month', text: this.$t('mainpage.searchBar.month') },
        { value: 'weekends', text: this.$t('mainpage.searchBar.weekend') },
        { value: 'dates', text: this.$t('mainpage.searchBar.selectDates') },
      ]
    },
    buttonText() {
      const eventInCity = [
        this.search || this.$t('common.allEvents'),
        this.$t('seo.in'),
        this.city.name,
      ].join(' ')
      const dates = this.dates
        .map(date => (date ? this.$moment(date).format('DD.MM.YYYY') : null))
        .filter(v => v)
        .join(' - ')
      const period = this.periodText || this.periodOptions[0].text

      return [eventInCity, this.showDatePicker ? dates : period].join(', ')
    },
    datesLimitFrom() {
      const date = this.datesLimit[0] || this.$moment().subtract(1, 'days')
      return this.convertFormatDate(date)
    },
    datesLimitTo() {
      return this.datesLimit[1]
        ? this.convertFormatDate(this.datesLimit[1])
        : ''
    },
  },
  created() {
    this.showDatePicker = Boolean(
      this.dates && this.dates.filter(v => v).length,
    )
    this.isRollUp = this.rollUp
  },
  methods: {
    changePeriod(v) {
      this.$emit('update:period', v.value === 'dates' ? '' : v.value)
      this.showDatePicker = v.value === 'dates'
      this.periodText = v.text
      if (!this.showDatePicker) {
        this.$emit('update:dates', [])
      }
    },
    convertFormatDate(v) {
      if (!v) return
      const FORMAT = 'DD.MM.YYYY'
      return typeof v === 'string'
        ? this.$moment(v, FORMAT)
        : this.$moment(v).format(FORMAT)
    },
    changeDates(v, index) {
      const dates = [...this.dates]
      dates[index] = this.convertFormatDate(v)
      this.$emit('update:dates', dates)
    },
    searchMobileHandler() {
      if (!this.isRollUp) {
        this.searchHandler()
      }
      this.isRollUp = !this.isRollUp
    },
    searchHandler() {
      this.$emit('search', this.query)
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.search-bar {
  display: grid;
  grid-template-areas: 'input' 'city' 'date' 'button';
  grid-template-rows: repeat(3, 64px) 76px;
  grid-gap: 1px;

  @media (min-width: $desktopSD) {
    grid-template-areas:
      'input input button'
      'city date button';
    grid-template-columns: 1fr minmax(380px, 1fr) 80px;
    grid-template-rows: none;
    grid-auto-rows: 64px;
    padding: 2 * $base;
    background-color: $blue;
  }
  @media (min-width: $sideShow) {
    grid-template-areas: 'input city date button';
    grid-template-columns: 1fr 1fr minmax(380px, 1fr) 80px;
    grid-auto-rows: 80px;
  }

  &--roll-up {
    @media (max-width: $desktopSD - 1) {
      display: block;
    }
  }

  &--without-period {
    grid-template-areas: 'input' 'city' 'button';
    grid-template-rows: repeat(2, 64px) 76px;

    @media (min-width: $desktopSD) {
      grid-template-areas:
        'input button'
        'city button';
      grid-template-columns: 1fr 80px;
      grid-template-rows: none;
    }
    @media (min-width: $sideShow) {
      grid-template-areas: 'input city button';
      grid-template-columns: 1.5fr 1fr 80px;
    }
  }

  &--no-margin {
    margin: 0;
  }

  &__search-label {
    grid-area: input;
    height: 100%;
    flex: 1;
  }
  &__search-input {
    height: 100%;
    @include text(2);
    padding: 0 32px;

    @media (min-width: $desktopSD) {
      @include text(3);
    }

    &:focus::placeholder {
      color: transparent;
    }
  }

  &__city-input {
    grid-area: city;
    display: block;
    height: 100%;
    width: 100%;
  }

  &__date {
    grid-area: date;
    display: block;
    position: relative;
    height: 100%;

    .period {
      height: inherit;
    }

    .datepicker {
      height: inherit;
      position: absolute;
      top: 0;
      left: 0;
      right: 32px;
      background-color: white;
    }
  }

  &__date-picker-input {
    display: flex;
    background: #fff;
    height: 100%;
  }

  &__desktop-button {
    grid-area: button;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    &:active:before {
      opacity: 0.5;
    }
  }
  &__icon {
    margin-left: 8px;
    font-size: 24px;
    height: 24px;
  }
  &__mobile-button {
    width: 100%;
    min-height: 64px;
    padding: 16px;
    margin: 12px 0;
    background-color: $blue;
    color: white;
    text-transform: uppercase;
    .icon {
      height: 15px;
    }
    .button-text {
      display: grid;
      grid-auto-flow: column;
      grid-gap: 12px;
      align-items: center;
      padding: 0 16px;
      text-transform: none;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: left;
    }
  }

  &__mobile-text {
    font-size: 12px;
    font-weight: bold;
    line-height: 2;
    letter-spacing: 0.6px;
  }
}
</style>
