<template>
  <multi-select
    class="select-period"
    :value="checkedOption"
    track-by="value"
    label="text"
    selectGroupLabel
    selectLabel
    selectedLabel
    deselectLabel
    hideSelected
    :options="options"
    :searchable="false"
    :allow-empty="false"
    @select="$emit('input', $event)"
  />
</template>

<script>
import MultiSelect from 'vue-multiselect'

export default {
  components: {
    MultiSelect,
  },
  props: {
    value: String,
    options: Array,
  },
  computed: {
    checkedOption() {
      return this.options.find(v => v.value === this.value)
    },
  },
}
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.select-period /deep/ {
  font-family: $circe;
  color: #000;

  .multiselect__option--highlight {
    background: $blue;
  }

  .multiselect__input {
    box-shadow: none;
    flex-grow: 1;
    max-width: 100%;

    &::placeholder {
      color: rgba(black, 0.4);
    }
  }

  .multiselect__tags {
    border-radius: 0;
    padding: 16px 40px 8px 16px;
    border: 0;
    display: flex;
    flex-wrap: wrap;

    @media (min-width: $desktopHD) {
      line-height: 6 * $base;
      padding-top: 20px;
      padding-bottom: 12px;
    }
  }

  .multiselect__placeholder {
    padding: 0;
    margin-bottom: 8px;
    color: rgba(black, 0.4);
    min-height: 3 * $base;

    @media (min-width: $desktopHD) {
      min-height: 6 * $base;
    }
  }

  .multiselect__single {
    padding: 0;
    @include text(2);
    @media (min-width: $desktopSD) {
      @include text(4);
    }
  }

  .multiselect__tag-icon {
    &::after {
      color: #fff;
    }

    &:hover {
      background: $blue;
    }
  }

  .multiselect__spinner {
    height: auto;
    top: 2px;
    right: 2px;
    bottom: 2px;

    &::before,
    &::after {
      border-color: $blue transparent transparent;
    }
  }

  .multiselect__loading-enter-active,
  .multiselect__loading-leave-active {
    transition: none;
  }

  .multiselect__content-wrapper {
    border: 0;
    border-radius: 0;
    box-shadow: 0 0 0 2px $blue;
    transition: 0.3s ease-out;
    z-index: -1;
  }

  .multiselect {
    &__single,
    &__option,
    &__placeholder,
    &__input,
    &__tags,
    &__tag,
    &__tag-icon {
      display: flex;
      align-items: center;
      height: 100%;
      width: 100%;
      max-height: 80px;
      line-height: 2;
      margin: 0;
      padding: 0;
      border: none;
      @include text(2);
      @media (min-width: $desktopSD) {
        @include text(3);
      }
    }

    &__select {
      z-index: 1;
      height: 100%;
      width: 50px;

      &::before {
        display: inline-block;
        position: relative;
        content: "";
        top: 35%;
        width: 7px;
        height: 7px;
        transform: rotate(135deg);
        border-width: 2px 2px 0 0 !important;
        border-color: $blue !important;
      }
    }
    &__element {
      height: 56px;
    }

    &__tags,
    &__option {
      padding-left: 32px;
    }
  }
}

.multi-select--error /deep/ {
  .multiselect__tags {
    box-shadow: 0 0 0 2px $red;
    transition: 0.3s ease-out;
  }
}

.multiselect--active /deep/ {
  z-index: 1001;

  .multiselect__tags {
    transition: 0.3s ease-out;
  }

  .multiselect__select {
    transform: scaleY(-1) ;
  }
}

/* different shadows depending on open direction */
.multiselect--active.multiselect--above /deep/ {
  .multiselect__tags {
    box-shadow: 1px 1px 0 1px $blue, -1px 1px 0 1px $blue;
  }
}

.multiselect--active:not(.multiselect--above) /deep/ {
  .multiselect__tags {
    box-shadow: 1px -1px 0 1px $blue, -1px -1px 0 1px $blue;
  }
}
</style>
