<i18n>
  {
  "ru": { "more": "ещё" },
  "en" : { "more": "more" }
  }
</i18n>
<template>
  <div ref="detail" v-click-outside="closeDetails" class="details">
    <div class="summary" @click="closeDetails">
      <nuxt-link :to="dates[0].url" class="capitalize">{{ dates[0].text }}</nuxt-link>
      <nuxt-link
        v-if="dates[0].tickets"
        :to="dates[0].tickets"
        class="summary__icon"
      >
        <Icon
          src="icons/book.svg"
          size="s"
          class="icon"
          :class="{ 'icon--finished': dates[0].isFinished }"
        />
      </nuxt-link>
      <span v-if="dates.length > 1 && !list" class="summary__expander" @click.stop="showList">
        + {{ $t('more') }} {{ dates.length - 1 }}
      </span>
    </div>

    <ul v-if="dates.length > 1 && list" class="list">
      <li v-for="(date, i) in newDates" :key="i" class="item">
        <hr />
        <nuxt-link :to="date.url" class="capitalize">{{ date.text }}</nuxt-link>
        <nuxt-link v-if="date.tickets" :to="date.tickets">
          <Icon
            src="icons/book.svg"
            size="s"
            class="icon"
            :class="{ 'icon--finished': date.isFinished }"
          />
        </nuxt-link>
      </li>
      <li><hr /></li>
      <li v-if="dates.length > 5" class="points">
        ...
        <hr />
      </li>
    </ul>
  </div>
</template>

<script>
  import {path, prop} from "ramda"

  export default {
    components: {
      Icon: () => import('~/components/common/Icon'),
    },
    props: {
      sessions: Array,
      similar: {
        type: Boolean,
        default: false
      },
    },
    data() {
      return {
        list: false,
      }
    },
    computed: {
      dates() {
        return this.sessions.map(session => {
          let _format = this.$moment.locale() === 'en' ? 'ddd, DD MMM': 'ddd, DD MMMM'
          if (session.hasStartTime){
            _format += this.$moment.locale() === 'en' ? ' h:mmA': ' H:mm'
          }
          return {
            text: prop('closesStartDT', session) ? session.closesStartDT.format(_format): '',
            url: `/events/sessions/${session.url_id}/`,
            tickets:
              session.event.tickets && `/events/${session.event.url_id}/tickets/`,
            isFinished: session.isFinished,
          }
        })
      },
      newDates() {
        if(this.dates.length <= 5) return this.dates.slice(1)
        else return this.dates.slice(1,5)
      }
    },
    methods: {
      showList() {
        const element = document.querySelectorAll('.event-card')[0]
        const elementHeight = element.offsetHeight
        this.list = true
        if(this.list && this.similar && this.newDates.length >= 1) {
          element.style.height = parseInt(elementHeight + (this.newDates.length * 43))+"px";
        }
      },
      closeDetails() {
        const element = document.querySelectorAll('.event-card')[0]
        const elementHeight = element.offsetHeight
        this.list = false
        if(!this.list && this.similar && this.newDates.length >= 1) {
          element.style.height = parseInt(elementHeight - (this.newDates.length * 43))+"px";
        }
      },
    },
  }
</script>

<style lang="scss" scoped>
  @import '~/assets/css/variables.scss';
  .points {
    text-align: center;
  }
  .capitalize {
    text-transform: capitalize;
  }

  .details {
    font-weight: bold;
    overflow: hidden;

    &[open] {
      .summary__expander {
        display: none;
      }

      .summary__icon {
        display: inline-block;
      }
    }

    .summary {
      display: block;
      outline-style: none;
      cursor: pointer;

      @media (max-width: $desktopSD) {
        font-size: 12px;
      }

      &::-webkit-details-marker {
        display: none;
      }

      &__expander {
        float: right;
        color: $blue;
      }
      &__icon {
        display: none;
        float: right;
      }
    }
    .item {
      &:hover {
        color: $blue;
      }
    }
    .icon {
      float: right;
      color: $blue;

      &--finished {
        color: #f0f3f6;
      }
    }
  }
</style>
