<i18n>
  {
  "ru": {
    "text": "К сожалению мы не нашли событий {src} по вашему запросу. Но они есть {dst}:"
  },
  "en": {
    "text": "Unfortunately, we haven't found events {src} according to your request. Here's what we found {dst}:"
  },
  "es": {
    "text": "Unfortunately, we haven't found events {src} according to your request. Here's what we found {dst}:"
  }
  }
</i18n>

<template>
  <p class="closest-text">
    {{ $t('text', { src: cityNameSrc, dst: cityNameDest }) }}
  </p>
</template>

<script>
import { mapGetters } from 'vuex'
import { path } from 'ramda'

export default {
  props: {
    whereGoEvents: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    ...mapGetters({
      seoSessions: 'search/sessions/seo',
      seoEvents: 'search/events/seo',
    }),
    seo() {
      return this.whereGoEvents ? this.seoEvents : this.seoSessions
    },
    cityNameSrc() {
      return path(['city', 'title'], this.seo)
    },
    cityNameDest() {
      return path(['closest', 'city', 'title'], this.seo)
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.search-header {
  align-items: baseline;
  display: flex;
  margin-bottom: 1rem;

  &__title {
    display: inline-block;
    margin-right: $base;
    margin-top: 3 * $base;
  }

  &__counter {
    margin-left: auto;
  }
}
</style>
