<template>
  <div class="search-block">
    <div class="search-block__grid">
      <JournalCard
        v-for="journal in journals"
        :key="journal.id"
        :journal="journal"
      />
    </div>
    <no-ssr>
      <infinite-loading v-if="journals.length" @infinite="infiniteHandler">
        <Loader slot="spinner" />
        <div slot="no-more"></div>
        <div slot="no-results"></div>
      </infinite-loading>
    </no-ssr>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import InfiniteLoading from 'vue-infinite-loading'

export default {
  components: {
    InfiniteLoading,
    Loader: () => import('~/components/common/Loader'),
    JournalCard: () => import('~/components/common/JournalCard'),
  },
  computed: {
    ...mapGetters({
      journals: 'search/journals/results',
      moreJournals: 'search/journals/next',
    }),
  },
  methods: {
    ...mapActions({
      fetchMore: 'search/journals/fetchMore',
    }),
    async infiniteHandler($state) {
      if (this.moreJournals) {
        try {
          await this.fetchMore()
          $state.loaded()
        } catch (e) {
          $state.complete()
        }
      } else {
        $state.complete()
      }
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.search-block {
  &__grid {
    display: grid;
    margin-right: -1px;
    grid-gap: 24px;
    grid-template-columns: repeat(auto-fill, 328px);
    @media (min-width: 768px) {
      grid-gap: 40px;
    }
    @media (max-width: $desktopFullHD) {
      grid-template-columns: repeat(auto-fill, 408px);
    }
  }
}
</style>
