<template>
  <div class="search-block">
    <div class="search-block__grid">
      <OrganizerCard
        v-for="(organizer, index) in organizers"
        :key="index"
        :organizer="organizer"
        class="search-block__item"
      />
    </div>
    <no-ssr>
      <infinite-loading v-if="organizers.length" @infinite="infiniteHandler">
        <Loader slot="spinner" />
        <div slot="no-more"></div>
        <div slot="no-results"></div>
      </infinite-loading>
    </no-ssr>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import InfiniteLoading from 'vue-infinite-loading'

export default {
  components: {
    InfiniteLoading,
    Loader: () => import('~/components/common/Loader'),
    OrganizerCard: () => import('~/components/common/OrganizerCard'),
  },
  computed: {
    ...mapGetters({
      organizers: 'search/organizers/results',
      moreOrganizers: 'search/organizers/next',
    }),
  },
  methods: {
    ...mapActions({
      fetchMore: 'search/organizers/fetchMore',
    }),
    async infiniteHandler($state) {
      if (this.moreOrganizers) {
        try {
          await this.fetchMore()
          $state.loaded()
        } catch (e) {
          $state.complete()
        }
      } else {
        $state.complete()
      }
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.search-block {
  &__grid {
    display: flex;
    flex-wrap: wrap;
  }
  &__item {
    max-width: 360px;
    width: 100%;
    margin-right: 16px;
    margin-bottom: 16px;
  }
}
</style>
