<template>
  <div class="categories-popup">
    <transition name="fade" appear @after-leave="afterLeave">
      <div
        v-if="open"
        class="categories-popup__background"
        @click="close"
      ></div>
    </transition>
    <transition name="slide" appear>
      <div v-if="open" class="categories-popup__filter">
        <div class="title">
          <div class="title__label">
            {{ $t('search.categories.filters') }}
          </div>
          <Icon src="icons/funnel.svg" class="title__icon" @click="close" />
        </div>

        <div class="categories-popup__columns">
          <ul class="categories-popup__grid">
            <li class="checkbox">
              <label>
                <input
                  :checked="!value.length"
                  type="radio"
                  :value="[]"
                  @change="handleAll"
                />
                <span class="checkbox__label">
                  {{ $t('search.categories.all') }}
                </span>
              </label>
            </li>
            <li v-for="(item, index) in options" :key="index" class="checkbox">
              <label>
                <input
                  :checked="check(item)"
                  :value="trackBy ? item[trackBy] : item"
                  type="checkbox"
                  @change="handleChange(item)"
                />
                <span class="checkbox__label">
                  {{ trackBy ? item[label] : item }}
                  <span class="checkbox__icon ww-icn-plus"></span>
                </span>
              </label>
            </li>
          </ul>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  components: { Icon: () => import('~/components/common/Icon') },
  props: {
    value: {
      type: Array,
      required: true,
    },
    options: {
      type: Array,
    },
    label: {
      type: String,
    },
    trackBy: {
      type: String,
    },
  },
  data: () => ({
    open: true,
  }),
  methods: {
    handleChange(item) {
      const index = this.value.findIndex(
        element =>
          String(this.trackBy ? element[this.trackBy] : element) ===
          String(this.trackBy ? item[this.trackBy] : item),
      )
      const newValue =
        index === -1
          ? this.value.concat(item)
          : this.value.filter(
              element =>
                String(this.trackBy ? element[this.trackBy] : element) !==
                String(this.trackBy ? item[this.trackBy] : item),
            )
      this.$emit('input', newValue)
    },
    handleAll() {
      this.$emit('input', [])
    },
    check(item) {
      return ~this.value.findIndex(
        element =>
          (this.trackBy ? element[this.trackBy] : element) ===
          (this.trackBy ? item[this.trackBy] : item),
      )
    },
    close() {
      this.open = false
    },
    afterLeave: function(el) {
      this.$emit('close')
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.categories-popup {
  z-index: 2;
  display: flex;
  align-items: flex-end;
  position: relative;
  height: 100%;
  width: 100%;

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
  }

  &__filter {
    position: absolute;
    top: 20%;
    height: 100%;
    width: 100%;
    background-color: $gray;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 16px;
    padding-left: 32px;
  }
  &__columns {
    height: 70%;
    overflow: auto;
  }
  &__grid {
    display: grid;
    grid-gap: 8px;
    padding-bottom: 8px;

    overflow-x: auto;
    @media (min-width: $desktopSD) {
      grid-auto-flow: row;
    }
  }

  .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    &__label {
      @include text(3);
      font-weight: bold;
    }
    &__icon {
      color: $blue;
    }
  }

  .checkbox {
    display: flex;

    input {
      display: none;
    }
    input:checked + .checkbox__label {
      background-color: black;
      color: white;
      .checkbox__icon {
        opacity: 0;
      }
    }

    &__label {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-weight: bold;
      min-height: 40px;
      background-color: white;
      color: black;
      cursor: pointer;
      text-transform: uppercase;
      padding: 8px 16px;

      &:hover {
        color: white;
        background-color: $blue;
      }
    }

    &__icon {
      @include text(1.5);
      padding-left: 8px;
      color: $blue;
      &--checked {
        opacity: 0;
      }
    }
  }
}
.slide-enter-active {
  transition: all 0.3s ease;
}
.slide-leave-active {
  transition: all 0.3s ease-in;
}
.slide-enter,
.slide-leave-to {
  transform: translateY(100%);
}
</style>
