<template>
  <div class="search-header">
    <h1 v-if="h1" class="search-header__title">{{ title }}</h1>
    <h2 v-else class="search-header__title">{{ title }}</h2>
    <div class="search-header__counter">
      {{ $tc('search.searchResults', count) }}
    </div>
  </div>
</template>

<script>
export default {
  name: 'SearchHeader',

  props: {
    title: {
      type: String,
      required: true,
    },
    count: {
      type: [Number, String],
      required: true,
    },
    h1: Boolean,
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.search-header {
  align-items: baseline;
  display: flex;
  margin-bottom: 1rem;

  &__title {
    display: inline-block;
    margin-right: $base;
    margin-top: 3 * $base;
  }

  &__counter {
    margin-left: auto;
  }
}
</style>
