<template>
  <div class="search__counter">
    <div class="counter-text">
      {{ $tc('search.searchResults', fullCount) }}
    </div>
    <button class="widget-button" @click="openWidgetModal">
      <Icon src="icons/link.svg" class="widget-button__image" />
      <span class="widget-button__text hidden-mobile-only">
        {{ $t('search.getWidget') }}
      </span>
    </button>
    <button
      v-if="showFilter"
      class="widget-button hidden-desktopSD-and-up"
      @click="$emit('open-filter')"
    >
      <Icon src="icons/funnel.svg" size="s" />
    </button>
  </div>
</template>

<script>
import popoverConsts from '~/utils/popoverConsts'

export default {
  components: {
    Icon: () => import('~/components/common/Icon'),
  },
  props: {
    fullCount: {
      type: Number,
      default: 0,
    },
    showFilter: [Boolean, String, Number],
  },
  methods: {
    openWidgetModal() {
      this.$store.dispatch(
        'popovers/TOGGLE_POPOVER',
        popoverConsts.searchWidget,
      )
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.search__counter {
  @include text(2);
  margin-top: 16px;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: minmax(48px, auto);
  grid-auto-rows: minmax(48px, auto);
  grid-template-columns: 1fr;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;

  @media (min-width: 768px) {
    margin-top: 32px;
    justify-content: space-between;
  }
}
.widget-button {
  color: $blue;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding: 0;
  min-width: 0;

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &__image {
    margin-right: 6px;
  }

  &__text {
    text-align: left;
  }
}
</style>
