<template>
  <div class="search-block">
    <div class="search-block__grid">
      <EventCard
        v-for="(event, index) in sessions"
        :key="index"
        :value="event"
        :isExternalLink="isExternal"
      />
    </div>
    <no-ssr>
      <infinite-loading v-if="sessions.length" @infinite="infiniteHandler">
        <Loader slot="spinner" />
        <div slot="no-more"></div>
        <div slot="no-results"></div>
      </infinite-loading>
    </no-ssr>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import InfiniteLoading from 'vue-infinite-loading'

export default {
  components: {
    InfiniteLoading,
    Loader: () => import('~/components/common/Loader'),
    EventCard: () => import('~/components/common/EventCard'),
  },
  props: {
    isExternal: Boolean,
  },
  computed: {
    ...mapGetters({
      sessions: 'search/sessions/results',
      moreSessions: 'search/sessions/next',
    }),
  },
  methods: {
    ...mapActions({
      fetchMore: 'search/sessions/fetchMore',
    }),
    async infiniteHandler($state) {
      if (this.moreSessions) {
        try {
          await this.fetchMore()
          $state.loaded()
        } catch (e) {
          $state.complete()
        }
      } else {
        $state.complete()
      }
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.search-block {
  &__grid {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fill, 160px);
    grid-gap: 8px;
    @media (min-width: $desktopSD) {
      grid-template-columns: repeat(auto-fill, 248px);
      grid-row-gap: 24px;
    }
    @media (min-width: $desktopHDp) {
      grid-template-columns: repeat(auto-fill, 296px);
      grid-row-gap: 40px;
    }
  }
  &__item {
    max-width: 100%;
  }
}
</style>
