<i18n>
{
  "ru": {
    "tagline": "Лучшие события рядом и по всему миру"
  },
  "en": {
    "tagline": "Best events near you and around the world"
  },
  "es": {
    "tagline": "Los mejores eventos cerca de ti y alrededor del todo el mundo"
  }
}
</i18n>

<template>
  <div class="footer-section">
    <div class="footer-section__content">
      <p>
        2017&ndash;{{ currentYear }}
        &copy; WhatWhere.World
      </p>
      <p v-text="$t('tagline')" />
      <p>
        <a :href="`mailto:${SUPPORT_EMAIL}`" v-text="SUPPORT_EMAIL" />
      </p>
    </div>
    <div class="footer-section__paysystems">
      <div :class="{ '-yandex': isYandex }" class="paysystems">
        <picture v-if="isYandex" class="left-image">
          <source
            srcset="
              ~static/icons/paysystems/yandex.png    1x,
              ~static/icons/paysystems/yandex@2x.png 2x,
              ~static/icons/paysystems/yandex@3x.png 3x
            "
            type="image/png"
          />
          <img alt="Яндекс.Касса" src="~static/icons/paysystems/yandex.png" />
        </picture>
        <template v-else>
          <div class="main">
            <img src="~static/icons/paysystems/paypal.svg" alt="PayPal" />
          </div>
          <ul class="list">
            <li class="item">
              <img src="~static/icons/paysystems/visa.svg" alt="Visa" />
            </li>
            <li class="item">
              <img
                src="~static/icons/paysystems/mastercard.svg"
                alt="MasterCard"
              />
            </li>
            <li class="item">
              <img src="~static/icons/paysystems/maestro.svg" alt="Maestro" />
            </li>
            <li class="item">
              <img
                src="~static/icons/paysystems/american-express.svg"
                alt="American Express"
              />
            </li>
          </ul>
        </template>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

const SUPPORT_EMAIL = 'support@whatwhere.world'

export default {
  computed: {
    ...mapGetters('plans', ['SERVICE_NAME']),

    currentYear() {
      return new Date().getFullYear()
    },

    isYandex() {
      return this.SERVICE_NAME === 'yandex'
    },
  },
  created() {
    this.SUPPORT_EMAIL = SUPPORT_EMAIL
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.footer-section {
  padding: ($base * 5.5) ($base * 17) 0 ($base * 9.25);

  display: flex;
  justify-content: space-between;

  > * {
    margin-bottom: $base * 4;
  }

  &__content {
    margin-right: $base * 5;

    > * {
      margin: 0;
    }
    a {
      color: blue;
    }
  }

  &__paysystems {
    display: flex;
    align-items: stretch;
  }

  .paysystems {
    display: flex;
    align-items: center;

    &:not(.-yandex) {
      margin-top: -($base * 2);
    }
  }
  .main {
    margin-right: -2px;
    position: relative;
    z-index: 2;
    background: $gray;
  }

  .list {
    border: 2px solid #dde5ea;
    padding: ($base * 1.75) ($base * 2.5);
    display: flex;
    align-items: center;
    max-width: 100%;
  }
  .item {
    &:not(:last-child) {
      margin-right: $base * 4;
    }

    img {
      display: block;
      max-width: $base * 7;
      max-height: $base * 4;
      height: auto;
    }
  }

  @media (max-width: $sideShow) {
    padding: ($base * 5.5) ($base * 11.25) 0 ($base * 4.25);
  }
  @media (max-width: $desktopHD) {
    padding: ($base * 6) ($base * 5.75) 0;

    .paysystems {
      &:not(.-yandex) {
        margin-top: -($base * 2.5);
      }
    }
  }
  @media (max-width: $desktopSD) {
    padding: ($base * 7) ($base * 4.25) 0;

    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;

    &__content {
      margin-right: 0;
      order: 2;
    }
    &__paysystems {
      order: 1;
    }
    .paysystems {
      flex: 0 1;
    }
    .item {
      &:not(:last-child) {
        margin-right: $base * 2;
      }
    }
  }
  @media ($mobile) {
    padding: ($base * 6.25) ($base * 2) 0;

    .paysystems {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      flex: 1;
    }
    .main {
      margin: 0 0 (-$base * 2) ($base * 3);
      padding: 0 $base;
    }
    .list {
      align-self: stretch;
      justify-content: space-between;
    }
    .item {
      &:not(:last-child) {
        margin-right: $base;
      }
    }
  }
}
</style>
