<i18n>
{
  "ru": {
    "title": "Рекламируйте своё событие в один клик",
    "subtitle": "WhatWhere.World — инновационный сервис продвижения мероприятий, который знает о вашей аудитории все.",
    "ctaButton": "Продвигать событие"
  },
  "en": {
    "title": "Advertise your event in just one click!",
    "subtitle": "WhatWhere.World is an innovative event promotion service that knows everything about your audience.",
    "ctaButton": "Promote event"
  },
  "es": {
    "title": "Anuncia tu evento en dos clics",
    "subtitle": "WhatWhere.World es un servicio innovador de promoción de los eventos que conoce todo sobre tu público.",
    "ctaButton": "PROMOVER EL EVENTO"
  }
}
</i18n>

<template>
  <div class="hero-section">
    <div class="content">
      <h2 class="title">{{ $t('title') }}</h2>
      <p class="subtitle">{{ $t('subtitle') }}</p>
      <p>
        <FlatButton class="button" fullWidth @click.native="$emit('btn:click')">
          <b>{{ $t('ctaButton') }}</b>
          <template #right>
            <span class="button__icon">
              <i class="ww-icn-megaphone" />
            </span>
          </template>
        </FlatButton>
      </p>
    </div>
  </div>
</template>

<script>
export default {
  components: {
    FlatButton: () => import('~/components/common/buttons/FlatButton'),
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.hero-section {
  position: relative;
  overflow: hidden;
  background: center center transparent;
  background-size: cover;
  background-image: url('~assets/images/business/aditya-chinchure-494048-unsplash.jpg');

  @media #{mq-resolution(2)} {
    background-image: url('~assets/images/business/aditya-chinchure-494048-unsplash@2x.jpg');
  }
  @media #{mq-resolution(3)} {
    background-image: url('~assets/images/business/aditya-chinchure-494048-unsplash@3x.jpg');
  }

  .content {
    background: $blue;
    color: #fff;
    padding: ($base * 5) ($base * 12) ($base * 7);
    max-width: $base * 92;
    margin: ($base * 13) auto ($base * 11);

    > * {
      margin: 0;
    }
  }

  .title {
    @include text(7);
    text-align: center;
    margin: 0 ($base * -6.5) ($base * 2);
  }

  .subtitle {
    @include text(2);
    text-align: center;
    margin-bottom: $base * 2;
  }

  .button {
    &__icon {
      @include text(4);
      line-height: 1;
      display: block;
      transform: rotate(45deg);
      margin: -$base 0;
    }
  }

  @media (max-width: $sideShow) {
    .content {
      padding-top: $base * 5.75;
    }
    .title {
      @include text(6);
      margin: 0 ($base * -4) ($base * 2.25);
    }
    .subtitle {
      margin-bottom: $base * 4;
    }
  }
  @media (max-width: $desktopHD) {
    .content {
      max-width: $base * 84;
      margin-top: $base * 8;
      margin-bottom: $base * 8;
      padding-left: $base * 8;
      padding-right: $base * 8;
    }
    .title {
      @include text(5);
      margin-left: -($base * 4);
      margin-right: -($base * 4);
    }
    .button__icon {
      margin: (-$base) ($base * 1.5) ($base * -1.5) 0;
    }
  }
  @media (max-width: $desktopSD) {
    padding: 0 ($base * 2);

    .content {
      max-width: $base * 68;
      margin-top: $base * 6.375;
      margin-bottom: $base * 6;
      padding: $base * 5;
    }
    .title {
      @include text(4);
      margin: 0 0 ($base * 2.5);
    }
    .subtitle {
      margin-bottom: $base * 3.25;
    }
    .button__icon {
      margin-right: 0;
    }
  }
  @media ($mobile) {
    .content {
      margin: ($base * 13) 0;
      padding: 32px 24px 40px 24px;
    }
    .title {
      margin-bottom: $base * 3.75;
    }
    .subtitle {
      margin-bottom: $base * 3;
    }
    .button {
      padding-left: $base * 3;
      padding-right: $base * 3;

      &__icon {
        display: none;
      }
    }
  }
}
</style>
