<i18n>
{
  "ru": {
    "title": "Как это работает",
    "subtitle": "Просто опишите, какая вам нужна аудитория — мы запустим рекламу прицельно на нее в социальных сетях и поисковых системах. Сэкономьте ваше время и деньги всего в один клик.",
    "on": "на",
    "steps": [
      {
        "title": "Создайте мероприятие",
        "list": [
          { "createEventLinkText": "Создайте событие" },
          "Укажите место проведения",
          "Опишите интересы вашей аудитории",
          "Тематику мероприятия"
        ]
      },
      {
        "title": "Ваш запрос, наша компетенция (мы сделаем всю работу сами)",
        "list": [
          "Найдем вашу аудиторию в интернете",
          "Создадим рекламу",
          "Настроим и запустим рекламу",
          "Проведем в указанные сроки",
          "Приведем вам посетителей на вашу страницу мероприятия у нас"
        ]
      },
      {
        "title": "Мы приведем вам посетителей на мероприятие",
        "list": [
          "Ваше событие увидят тысячи людей",
          "Мы предоставим самый полный отчет по рекламной кампании вашего мероприятия",
          "Мы круглосуточно отвечаем на ваши вопросы и даем рекомендации"
        ]
      }
    ]
  },
  "en": {
    "title": "How it works",
    "subtitle": "Simply describe your target audience to us - we will run a campaign targeting it on social media and search engines. Save your time and money with just one click.",
    "on": "on",
    "steps": [
      {
        "title": "Create an event",
        "list": [
          { "createEventLinkText": "Create an event" },
          "Indicate the venue",
          "Describe interests of your audience"
        ]
      },
      {
        "title": "We do all the work",
        "list": [
          "Find your audience on the Internet",
          "We will create advertising posts",
          "We will set up and launch your campaign right on time"
        ]
      },
      {
        "title": "Meet new audience",
        "list": [
          "Thousands of people will see your event",
          "Reports and statistics available in your account",
          "24/7 Support"
        ]
      }
    ]
  },
  "es": {
    "title": "Como funciona",
    "subtitle": "Simplemente describanos quien es tu público objetivo: publicaremos un anuncio dirigido a ello en las redes sociales y los motores de búsqueda. Ahorre tiempo y dinero con un solo clic.",
    "on": "en",
    "steps": [
      {
        "title": "Crea tu evento",
        "list": [
          { "createEventLinkText": "Crea tu evento" },
          "Especifique el lugar",
          "Describe los intereses de tu audiencia",
          "Tema del evento"
        ]
      },
      {
        "title": "Tu solicitud, nuestra competencia (nosotros haremos todo el trabajo por ti)",
        "list": [
          "Encontramos tu público en el internet",
          "Creamos un anuncio",
          "Configuramos y ejecutamos el anuncio",
          "Hagamos campaña en el marco de tiempo especificado",
          "Te traeremos visitantes a tu página de eventos creada en nuestro web"
        ]
      },
      {
        "title": "Te traemos visitantes al evento",
        "list": [
          "Tu evento será visto por miles de personas",
          "Te proporcionaremos el informe más completo sobre la campaña publicitaria de tu evento",
          "Respondemos a tus preguntas las 24 horas y damos recomendaciones"
        ]
      }
    ]
  }
}
</i18n>

<template>
  <div class="how-it-works-section">
    <h2 class="title">{{ $t('title') }}</h2>
    <p class="subtitle">{{ $t('subtitle') }}</p>

    <div class="steps">
      <div v-for="(step, idx) in $t('steps')" :key="step.title" class="step">
        <div class="step-header">
          <div class="step-header__content">
            <div v-if="+idx === 0" class="step-icon -svg">
              <Icon class="icon" src="icons/business/notebook-ww.svg" size="" />
            </div>
            <div v-else-if="+idx === 1" class="step-icon -font">
              <span class="icon ww-icn-megaphone" />
            </div>
            <div v-else-if="+idx === 2" class="step-icon -svg">
              <Icon class="icon" src="icons/business/partners-claping-hands.svg" size="" />
            </div>

            <h3 class="step-title" v-text="step.title" />
          </div>
          <div v-if="+idx !== 2" class="step-header__arrow">
            <span class="icon ww-icn-arrow-right" />
          </div>
        </div>
        <ul class="step-list">
          <li
            v-for="item in step.list"
            :key="item.createEventLinkText || item"
            class="item"
          >
            <i class="icon ww-icn-check" />

            <span v-if="item.createEventLinkText">
              <nuxt-link
                :to="{ name: 'events-create-a-1' }"
                v-text="item.createEventLinkText"
              />
              {{ $t('on') }}
              WhatWhere.World
            </span>
            <span v-else v-text="item" />
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import Icon from '~/components/common/Icon'

export default {
  components: { Icon },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.how-it-works-section {
  $space: $base * 5;
  margin: ($base * 9.125) auto 0;
  padding: 0 $space;
  max-width: $base * 148 + ($space * 2);

  > * {
    margin: 0;
  }

  a {
    color: $blue;
  }

  .title {
    @include text(8);
    text-align: center;
    margin-bottom: $base * 1.875;
  }

  .subtitle {
    @include text(3);
    text-align: center;
    max-width: $base * 135;
    margin: 0 auto ($base * 6.875);
  }

  $steps-space: $base * 5;
  .steps {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin-left: -$steps-space;
  }
  .step {
    display: flex;
    flex-direction: column;
    width: $base * 43;
    margin-left: $steps-space;

    &-header {
      margin-bottom: $base * 4;
      display: flex;
      justify-content: space-between;

      &__arrow {
        flex: 1;
        align-self: stretch;
        display: flex;
        margin-left: $base * 3;
        padding-top: ($base * 12.25); // .step-icon height + its bottom margin

        .icon {
          @include text(3.2);
          color: $blue;
          display: block;
          margin-top: $base * 0.625;
          line-height: $base * 2.5;
        }
      }
    }

    &-icon {
      color: $blue;
      display: flex;
      align-items: center;
      justify-content: center;
      height: $base * 8;
      margin-bottom: $base * 4.25;

      &.-svg {
        .icon {
          height: 100%;
        }
      }
      &.-font {
        font-size: $base * 9;
        line-height: 1;

        .icon {
          margin-top: 3px;
        }
      }
    }
    &-title {
      @include text(3);
      margin: 0;
      text-align: center;
    }
    &-list {
      .item {
        display: flex;
        line-height: $base * 2.5;

        &:not(:last-child) {
          margin-bottom: $base * 1.375;
        }
      }
      .icon {
        @include text(1.3);
        color: $blue;
        align-self: stretch;
        padding-top: $base * 0.5;
        padding-right: $base * 1.375;

        &,
        &:before {
          font-weight: bold;
        }
      }
    }
  }

  @media (max-width: $sideShow) {
    margin-top: $base * 9.75;

    .title {
      @include text(6);
      margin-bottom: $base * 3;
    }
    .subtitle {
      margin-bottom: $base * 8;
    }
    .step {
      &-header {
        &__arrow {
          justify-content: flex-end;
          padding-top: ($base * 9.5); // .step-icon height + its bottom margin
        }
      }
      &-icon {
        height: $base * 6;
        margin-bottom: $base * 3.5;

        &.-font {
          font-size: $base * 7;

          .icon {
            margin-top: $base * 1.5;
          }
        }
      }
      &-list {
        .item {
          line-height: $base * 3;

          &:not(:last-child) {
            margin-bottom: $base * 1.75;
          }
        }
        .icon {
          padding-right: $base * 0.875;
        }
      }
    }
  }
  @media (max-width: $desktopHD) {
    margin-top: $base * 8.25;

    .title {
      @include text(5);
      margin-bottom: $base * 3.25;
    }
    .subtitle {
      @include text(2);
      margin-bottom: $base * 9.5;
    }

    $steps-space: $base * 1.75;
    .steps {
      margin-left: -$steps-space;
    }
    .step {
      margin-left: $steps-space;
      background: #fff;
      padding: ($base * 3.875) ($base * 4.375);

      &-header {
        margin-bottom: $base * 2;

        &__arrow {
          display: none;
        }
      }
      &-title {
        text-align: left;
      }
      &-icon {
        justify-content: flex-start;
        height: $base * 5;
        margin-bottom: $base * 2.25;

        &.-font {
          font-size: $base * 5.25;

          .icon {
            margin-top: $base * 1.5;
          }
        }
      }
    }
  }
  @media (max-width: $desktopSD) {
    padding: 0 ($base * 3.5);
    margin-top: $base * 6.25;

    .title {
      @include text(4);
      margin-bottom: $base * 2.75;
    }

    .subtitle {
      max-width: $base * 65;
      margin-bottom: $base * 3;
    }

    .steps {
      margin-left: 0;
      overflow-x: auto;
    }
    .step {
      min-width: $base * 29;
      margin-left: 0;
      padding: ($base * 3.875) ($base * 2.375);

      &:not(:last-child) {
        margin-right: $base;
      }
    }
  }
  @media ($mobile) {
    padding: 0 ($base * 2);
    margin-top: $base * 5.5;

    .title {
      margin-bottom: $base * 1.75;
    }
    .subtitle {
      max-width: $base * 34;
      margin-bottom: $base * 4;
    }
    .step {
      &:not(:last-child) {
        margin-right: $base;
      }
    }
  }
}
</style>
