<i18n>
{
  "ru": {
    "title": "Продвижение событий это удобно:",
    "list": [
      {
        "title": "Если у вас недостаточно знаний и навыков",
        "text": "Вам не нужно разбираться в каждой рекламной системе, для этого есть наши алгоритмы. Мы вложили 15-летний опыт в их разработку."
      },
      {
        "title": "Если нет времени заниматься продвижением",
        "text": "Мы сделаем всю работу - настроим, запустим и отследим ход кампании. Вам нужно только создать событие на WhatWhere.World, кликнуть на кнопку для запуска его продвижения и наслаждаться результатами."
      },
      {
        "title": "Если агентства забирают большую часть бюджета",
        "text": "У нас вы можете запустить рекламу с минимальным бюджетом. Теперь вы не оплачиваете чужой офис и ассистентов."
      },
      {
        "title": "Если фрилансеры подводят",
        "text": "Наши алгоритмы работают как часы.<br>Укажите даты продвижения и реклама запустится точно в срок."
      }
    ]
  },
  "en": {
    "title": "Promoting your events is simple:",
    "list": [
      {
        "title": "If you do not have enough knowledge and skills",
        "text": "You do not need to understand every advertising system. We have invested 15 years of our experience in the development of our own algorythms that will do it for you."
      },
      {
        "title": "If you have no time to manage promotion",
        "text": "We will do all the work - we will set up, launch and track the progress of the campaign. You just need to create an event on WhatWhere.World, click on the \"Promote event\" button and enjoy the results."
      },
      {
        "title": "If agencies take away most of the budget",
        "text": "With us you can run your promo campaign with a minimum budget. Now you do not pay for someone else\"s office and assistants."
      },
      {
        "title": "If freelancers let you down",
        "text": "Our algorithms work like a clock.<br>Specify the dates of your campaign and advertising will start exactly on time."
      }
    ]
  },
  "es": {
    "title": "La promoción de los eventos es conveniente:",
    "list": [
      {
        "title": "Si no tienes suficientes conocimientos y habilidades",
        "text": "Hemos invertido muchos años de experiencia en nuestro sistema. No es necesario que comprendes todos los sistemas de publicidad; nuestros algoritmos lo hicieron."
      },
      {
        "title": "Si no tienes tiempo para controlar la promoción",
        "text": "Hemos invertido muchos años de experiencia en nuestro sistema. No es necesario que comprendes todos los sistemas de publicidad; nuestros algoritmos lo hicieron."
      },
      {
        "title": "Si las agencias quitan la mayor parte del presupuesto",
        "text": "Con nosotros puedes publicar anuncios con un presupuesto mínimo. Ahora no pagas por el secretario ni por la oficina de otra persona."
      },
      {
        "title": "Si los freelancer fallan",
        "text": "Nuestros algoritmos funcionan como un reloj.<br>Especifique la fecha de la promoción y la publicidad comenzará exactamente a tiempo."
      }
    ]
  }
}
</i18n>

<template>
  <div class="promotion-section">
    <div class="promotion-section__content">
      <h2 class="title" v-text="$t('title')" />
      <div class="list-outer">
        <ul class="list">
          <li v-for="(item, idx) in $t('list')" :key="item.title" class="item">
            <div class="item__icon">
              <Icon :src="`icons/business/${iconByIdx(+idx)}`" />
            </div>
            <div>
              <h3 class="item__title" v-text="item.title" />
              <p class="item__text" v-html="item.text" />
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import Icon from '@/components/common/Icon'

export default {
  components: { Icon },
  methods: {
    iconByIdx(idx) {
      switch (idx) {
        case 0:
          return 'lamp'
        case 1:
          return 'timer'
        case 2:
          return 'pig'
        case 3:
          return 'gear'
      }
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.promotion-section {
  background: #fff;
  padding: ($base * 6.75) ($base * 2) ($base * 10) ($base * 12.875);

  &__content {
    max-width: $base * 152;
    margin: 0 auto;
  }

  .title {
    @include text(8);
    margin: 0 0 ($base * 9.75);
  }

  .list-outer {
    margin: 0 ($base * 1.375);
  }

  $space-between: $base * 11.125;
  .list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -$space-between;
  }
  .item {
    $width: ($base * 70) + $space-between;
    padding-left: $space-between;
    flex: 0 1 ratio($width, $sideShow + 1);
    margin-bottom: $base * 5.9;
    display: flex;
    max-width: 600px;

    &__icon {
      margin: 0 ($base * 2.875) 0 0;
      flex-shrink: 0;
      color: $blue;
      width: $base * 8;
      height: $base * 8;
      text-align: center;

      .icon {
        display: inline-block;
        width: 100%;
        height: 100%;
      }
    }
    &__title {
      @include text(3);
      margin: ($base * 1.25) 0 ($base * 1.8);
    }
    &__text {
      margin: 0;
    }
  }

  @media (max-width: $sideShow) {
    padding: ($base * 4.5) ($base * 4.25) ($base * 5);

    .title {
      @include text(6);
      margin-bottom: $base * 6.125;
    }

    .list-outer {
      margin: 0 ($base * 1.875);
    }
    $space-between: $base * 12.5;
    .list {
      margin-left: -$space-between;
    }
    .item {
      $width: ($base * 66) + $space-between;
      padding-left: $space-between;
      flex: 0 1 ratio($width, $sideShow);

      &__icon {
        margin-right: $base * 4.375;
        width: $base * 6;
        height: $base * 6;
      }
    }
  }
  @media (max-width: $desktopHD) {
    padding: ($base * 3.5) ($base * 5.625);

    .title {
      @include text(5);
    }

    .list-outer {
      margin: 0 $base;
    }
    $space-between: $base * 8.5;
    .list {
      margin-left: -$space-between;
    }
    .item {
      $width: ($base * 54) + $space-between;
      padding-left: $space-between;
      flex: 0 1 ratio($width, $desktopHD);

      &__icon {
        margin-right: $base * 2.75;
        width: $base * 5;
        height: $base * 5;
      }
      &__title {
        margin: -($base * 0.5) 0 ($base * 0.8);
      }
    }
  }
  @media (max-width: $desktopSD) {
    padding: ($base * 4) ($base * 3.5) ($base * 1.5);

    .title {
      @include text(4);
      margin-bottom: $base * 5.75;
    }

    .list-outer {
      margin: 0 ($base * 1.25);
    }
    .list {
      margin-left: 0;
      flex-direction: column;
      flex-wrap: nowrap;
    }
    .item {
      padding-left: 0;
      flex: 1 0 auto;
      margin-bottom: $base * 6.5;

      &__icon {
        margin-right: $base * 4.25;
      }
      &__title {
        margin-top: 0;
      }

      &:nth-child(2) {
        order: 3;
      }
      &:nth-child(3) {
        order: 2;
      }
      &:nth-child(4) {
        order: 4;
      }
    }
  }
  @media ($mobile) {
    padding: ($base * 3) ($base * 2) ($base * 2.5);

    .title {
      margin-bottom: $base * 3.5;
    }
    .list-outer {
      margin: 0;
    }
    .item {
      margin-bottom: $base * 4;
      flex-direction: column;

      &__icon {
        margin: 0 0 ($base * 2.25);
      }
      &__title {
        margin-bottom: $base * 1.75;
      }
    }
  }
}
</style>
