<i18n>
{
  "ru": {
    "reviews": [
      {
        "logo": "afisha",
        "text": "С помощью WhatWhere пользователи могут создавать и продвигать странички выставок, концертов или лекций, фильтровать события по тегам и геоданным, а также вести блоги. Сервис ориентирован прежде всего на регионы — сейчас он работает в Перми, Екатеринбурге, Челябинске, Красноярске и других городах."
      },
      {
        "logo": "expert",
        "text": "What Where World — новый стартап с функциями социальной сети, благодаря которому любой человек в любом городе мира сможет найти интересное событие для себя. Его отличие от существующих площадок с афишами мероприятий в том, что здесь будут не только анонсировать самые интересные события из мира культуры и искусства, но и участвовать в их реализации."
      },
      {
        "logo": "rambler",
        "text": "«Для небольших городов запуск платформы, позволяющей создавать свои и искать агрегированные мероприятия, — возможность полностью изменить действительность. Когда я возвращаюсь в родной Златоуст, мне хочется «вдохнуть» город: послушать местный рэп-баттл или посмотреть, как рисуют местные художники. Но в итоге машешь на все рукой, потому что банально не хватает времени что-то искать, да и лень. А ведь все могло быть иначе», — отмечает Василий Воропаев"
      }
    ]
  },
  "en": {

  }
}
</i18n>

<template>
  <div class="reviews-section">
    <div class="reviews-section__content">
      <ul class="reviews">
        <li v-for="review in $t('reviews')" :key="review.logo" class="review">
          <div class="review__logo">
            <img
              :src="
                require(`~/assets/images/business/companies/${
                  logos[review.logo]
                }`)
              "
            />
          </div>
          <p class="review__content" v-html="review.text" />
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  data: () => ({
    logos: {
      afisha: 'afisha.svg',
      expert: 'expert.png',
      rambler: 'rambler.svg',
    },
  }),
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.reviews-section {
  padding: ($base * 13.25) ($base * 17) ($base * 5.5) ($base * 9.25);

  $space-between: $base * 7;
  .reviews {
    display: flex;
    margin-left: -$space-between;
  }

  .review {
    $width: ($base * 49) + $space-between;
    padding-left: $space-between;
    flex: 0 1 ratio($width, $base * 160);

    &__logo {
      height: $base * 5;
      margin-bottom: $base * 4;
      display: flex;
      align-items: flex-end;

      img {
        display: block;
        max-height: 100%;
        max-width: 100%;
      }
    }
    &__content {
      margin: 0;
    }
  }

  @media (max-width: $sideShow) {
    padding: ($base * 10.75) ($base * 11.25) ($base * 5.5) ($base * 4.25);

    $space-between: $base * 5.75;
    .reviews {
      margin-left: -$space-between;
    }
    .review {
      $width: ($base * 46) + $space-between;
      padding-left: $space-between;
      $width: $base * 46;
      flex: 0 1
        ratio($width + $space-between, ($width * 3) + ($space-between * 2));
    }
  }
  @media (max-width: $desktopHD) {
    padding: ($base * 9.125) ($base * 5.75) ($base * 6);

    .reviews {
      margin-left: 0;
      flex-direction: column;
    }
    .review {
      padding-left: 0;
      display: flex;

      &:not(:last-child) {
        margin-bottom: $base * 6;
      }

      &__logo {
        margin-bottom: 0;
        align-items: flex-start;
        flex: 0 0 ($base * 18.75);
        margin-right: $base * 11;
      }
      &__content {
        flex: 1 1;
      }
    }
  }
  @media (max-width: $desktopSD) {
    padding: ($base * 8.375) ($base * 4.25) ($base * 7);

    .review {
      flex-direction: column;

      &:not(:last-child) {
        margin-bottom: $base * 6;
      }

      &__logo {
        flex: 1;
        margin-bottom: $base * 2;
        margin-right: 0;
      }
      &__content {
        flex: 1;
      }
    }
  }
  @media ($mobile) {
    padding: ($base * 7.75) ($base * 2) ($base * 6.25);

    .review {
      &__logo {
        img {
          height: $base * 4;
        }
      }
    }
  }
}
</style>
