<i18n>
{
  "ru": {
    "title": "Укажите контактные данные",
    "placeholders": {
      "email": "Электронная почта",
      "name": "Имя",
      "phone": "Телефон"
    },
    "btn": "Заказать продвижение"
  },
  "en": {
    "title": "Enter your contact information",
    "placeholders": {
      "email": "E-mail",
      "name": "Name",
      "phone": "Phone"
    },
    "btn": "Promote Now"
  },
  "es": {
    "title": "Ingrese su información de contacto",
    "placeholders": {
      "email": "E-mail",
      "name": "Nombre",
      "phone": "Teléfono"
    },
    "btn": "Promociona ahora"
  }
}
</i18n>

<template>
  <ModalContainer>
    <form class="unauthorized-modal" @submit.prevent="onSubmit()">
      <div class="popover-close-button ww-icn-cross" @click="close()" />
      <h2 class="unauthorized-modal__title">{{ $t('title') }}</h2>

      <div class="unauthorized-modal__input">
        <Input
          v-model.trim.lazy="form.email"
          :placeholder="$t('placeholders.email')"
          :error="errors.email"
          @blur="$v.form.email.$touch()"
        />
      </div>

      <div class="unauthorized-modal__input">
        <Input
          v-model.trim.lazy="form.name"
          :placeholder="$t('placeholders.name')"
          :error="errors.name"
          @blur="$v.form.name.$touch()"
        />
      </div>

      <div class="unauthorized-modal__input">
        <Input
          v-model.trim.lazy="form.phone"
          :placeholder="$t('placeholders.phone')"
          :error="errors.phone"
          @blur="$v.form.phone.$touch()"
        />
      </div>

      <div class="unauthorized-modal__btn">
        <Button class="button" invert noArrow type="submit">{{
          $t('btn')
        }}</Button>
      </div>
    </form>
  </ModalContainer>
</template>

<script>
import { required, email } from 'vuelidate/lib/validators'
import { scrollToElement } from '~/utils'

const getFormData = data => ({
  email: null,
  name: null,
  phone: null,
  simple: true,
  // personal_data_agreement: true,
  ...(data || {}),
})

export default {
  name: 'UnauthorizedModal',
  components: {
    ModalContainer: () => import('~/components/common/popovers/ModalContainer'),
    Input: () => import('~/components/common/input/TitleInput'),
    Button: () => import('~/components/common/buttons/Button'),
  },
  props: {
    initialForm: Object,
    serverErrors: {
      type: Object,
      default: () => ({}),
    },
  },
  data: () => ({
    form: getFormData(),
  }),
  validations: {
    form: {
      email: { required, email },
      name: {},
      phone: {},
    },
  },
  computed: {
    errors() {
      const all = {}
      // const serverErrors = this.serverErrors || {};

      Object.keys(this.form).forEach(key => {
        all[key] = []

        // const serverValidation = serverErrors[key] || [];
        const validation = this.$v.form[key]

        validation &&
          Object.keys(validation.$params).forEach(param => {
            const isValid = validation[param]
            const isDirty = validation.$dirty
            if (isValid || !isDirty) return

            all[key].push(this.$t(`validation.${param}`))
          })

        // all[key] = all[key].concat(serverValidation);
      })

      const errors = {}
      Object.keys(all).forEach(key => {
        // filter no errors
        if (!all[key].length) return
        // first error
        errors[key] = all[key][0]
      })

      return errors
    },
  },
  watch: {
    initialForm: {
      immediate: true,
      handler() {
        this.form = getFormData(this.initialForm)
      },
    },
  },
  methods: {
    resetErrors() {
      this.$v.$reset()
    },
    resetForm() {
      this.form = getFormData(this.initialForm)
    },
    close() {
      this.$emit('close')
      this.resetErrors()
    },
    onSubmit() {
      this.$v.$touch()

      if (this.$v.$invalid) {
        return this.$nextTick(() =>
          scrollToElement({
            element: document.querySelector('[data-form-error]'),
          }),
        )
      }

      this.$emit('submit', this.normalizeForm(this.form))
      this.resetErrors()
    },

    normalizeForm(form) {
      const data = {}
      Object.entries(form).forEach(([key, val]) => {
        const isEmpty = (typeof val === 'string' && !val.trim()) || val === null
        if (isEmpty) return

        data[key] = val
      })

      return data
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.unauthorized-modal {
  position: relative;
  background: $blue;
  color: #fff;
  padding: ($base * 8) ($base * 9);
  display: flex;
  flex-direction: column;
  max-width: $base * 88;

  > * {
    margin: 0;

    &:not(:first-child) {
      margin-top: $base * 5;
    }
  }

  &__title {
    @include text(5);
  }
  &__input {
    & + & {
      margin-top: $base * 2;
    }

    @media ($mobile) {
      /deep/ {
        ::placeholder {
          @include text(2);
        }
      }
    }
  }
}
</style>
