<i18n>
{
  "ru": {
    "eventMainInfo": "Расскажите о событии",
    "eventMainInfoSimple": "О событии",
    "eventPlaceTime": "Где и когда",
    "eventOrganizer": "Организатор",
    "eventPromo": "Продвижение",
    "saveButton": "Сохранить и выйти из редактирования",
    "publish": "Публиковать",
    "saveModal": "Сохранить изменения",
    "cancel": "Отмена",
    "eventCover": "Обложка события",
    "title": "Название",
    "titleLabel": "Название события",
    "date": "Дата и время",
    "address": "Место проведения",
    "description": "Описание",
    "categories": "Категории",
    "delete": "Удалить событие",
    "save": "Сохранить"
  },
  "en": {
    "eventMainInfo": "Name your event and tell us about it",
    "eventMainInfoSimple": "About an event",
    "eventPlaceTime": "Where and when",
    "eventOrganizer": "Organizer",
    "eventPromo": "Event promotion",
    "saveButton": "Save and exit editing",
    "publish": "Publish",
    "saveModal": "Save changes",
    "cancel": "Cancel",
    "eventCover": "Event Cover",
    "title": "Title",
    "titleLabel": "Event name",
    "date": "Date and Time",
    "address": "Address",
    "description": "Description",
    "categories": "Categories",
    "delete": "Delete an event",
    "save": "Save"
  },
  "es": {
    "eventMainInfo": "Describa el evento",
    "eventPlaceTime": "Cuándo y dónde",
    "eventOrganizer": "Organizador",
    "eventPromo": "Promoción",
    "saveButton": "Сохранить и выйти из редактирования",
    "saveModal": "Guardar cambios",
    "cancel": "Cancelar"
  }
}
</i18n>

<template>
  <div :class="simple ? 'simple_wrapper' :'event-edit'">
    <h1 class="event-edit__title">{{ $t('eventCreate.edit') }}</h1>

    <FixedGuideButton class="hidden-desktopSD-and-down"/>

    <div v-if="complex">
      <div class="edit-preview__wrapper">
        <MainInfoPreview
            class="edit-preview"
            :cover="newEvent.cover"
            :title="newEvent.title"
            :description="newEvent.description_text"
            @edit="onEdit(popoverConsts.editEventMainInfo)"
        >
          <template #title>1. {{ $t('eventMainInfo') }}</template>
        </MainInfoPreview>

        <PlaceTimePreview
            v-for="(session, idx) in sessionsByLocationNew"
            :key="idx"
            :session="session"
            :isOnline="isOnlineEvent"
            class="edit-preview"
            @edit="openModalSession({ session })"
        >
          <template #title>2. {{ $t('eventPlaceTime') }}</template>
        </PlaceTimePreview>
      </div>

      <div class="edit-section">
        <h3 class="edit-section__title">3. {{ $t('eventOrganizer') }}</h3>

        <EventOrganizer isEdit :emails.sync="newEvent.emails" :phones.sync="newEvent.phones"/>
      </div>

      <div class="edit-section">
        <h3 class="edit-section__title">4. {{ $t('eventPromo') }}</h3>

        <EventPromo
            isEdit
            :tags.sync="newEvent.tags"
            :newTags.sync="newEvent.newTags"
            :genres.sync="newEvent.genres"
            :category.sync="newEvent.category"
            :eventType.sync="newEvent.type"
        />
      </div>

      <div class="form-submit__wrapper">
        <div class="wrapper form-submit">
          <PanelButton bigPadding @click="saveEvent({ next })">{{ saveButtonTittle() }}</PanelButton>
        </div>
      </div>

      <WithTransition>
        <EditModal
            v-if="OPENED_POPOVER === popoverConsts.editEventMainInfo"
            @close="closeMainInfoModal"
        >
          <div class="edit-modal">
            <h3 class="edit-modal__title">1. {{ $t('eventMainInfo') }}</h3>
            <EventMainInfo
                :title.sync="newEvent.title"
                :description.sync="newEvent.description"
                :links.sync="newEvent.links"
                :cover.sync="newEvent.cover"
                isEdit
                :errors="errors"
                @updateCroppedImage="updateCroppedImage"
            />
            <div class="edit-modal__controls">
              <PanelButton bigPadding @click="saveMainInfoModal">{{ $t('saveModal') }}</PanelButton>
              <button
                  class="edit-modal__control-cancel"
                  @click="closeMainInfoModal"
              >{{ $t('cancel') }}
              </button>
            </div>
          </div>
        </EditModal>
      </WithTransition>

      <EditModal
          v-if="OPENED_POPOVER === popoverConsts.editEventPlaceTime"
          @close="closeModalSession"
      >
        <div class="edit-modal">
          <h3 class="edit-modal__title">2. {{ $t('eventPlaceTime') }}</h3>

          <SessionEdit :isOnline="isOnlineEvent" :session="sessions[0]" @close="closeModalSession"/>
        </div>
      </EditModal>
    </div>

    <div v-if="simple" class="event-edit-simple">
      <h3 class="title">1. {{ $t('eventMainInfoSimple') }}</h3>

      <div class="main-section">
        <SimpleEventCover
            :cover.sync="newEvent.cover"
            @updateCroppedImage="updateCroppedImage"
            :errors="errors"
        />

        <div class="table-description">
          <div class="posFix">
            <div :class="mobile ? 'table-head-mobile' : 'table-head'">
              <div class="progress">
                <div class="progress-item" :style="{'width' : percent + '%'}"></div>
              </div>
              <span class="percent" :style="percentStyle()">{{percent}}%</span>
            </div>
            <div :class="mobile ? 'table' : 'table none'">
              <div v-for="({name, isActive}, idx) in table" :key="idx">
                <div class="row">
                    <span v-if="isActive">
                      <i class="icon ww-icn-check" />
                    </span>
                  <span :class="isActive ? 'text' : 'disable'">{{$t(name)}}</span>
                </div>
              </div>

            </div>
            <div class="btn_wrapper">
              <div class="percent-arrow">
                <span class="mobile-percent">{{percent}}%</span>
                <span
                    :class="mobile ? 'arrow arrow-down' : 'arrow arrow-up'"
                    @click="showMobile">
                </span>
              </div>
              <button class="btn-publish" @click="saveEvent({ next })">{{ saveButtonTittle() }}</button>
            </div>
            <button :class="mobile ? 'btn-delete' : 'btn-delete none'" @click="deleteEvent">{{ $t('delete') }}</button>
          </div>
        </div>
      </div>

      <SimplePlaceTime
          :isOnline="isOnlineEvent"
          :title.sync="newEvent.title"
          @toComplex="toComplex"
          :errors="errors"
      />

      <div>
        <SimpleEventMainInfo
            :description.sync="newEvent.description"
            :links.sync="newEvent.links"
            :tags.sync="newEvent.tags"
        />
      </div>
      <div class="edit-org">
        <h3 class="title">2. {{ $t('eventOrganizer') }}</h3>
        <EventOrganizer
            isEdit
            :user="GET_USER"
            :emails.sync="newEvent.emails"
            :phones.sync="newEvent.phones"
            :errors="errors"
        />
      </div>

    </div>
  </div>
</template>

<script>
  import { pick, path } from 'ramda'
  import isEmpty from 'lodash/isEmpty'
  import { mapGetters, mapActions, mapMutations } from 'vuex'
  import { required } from 'vuelidate/lib/validators'
  import { scrollToElement } from '~/utils'
  import SimpleEventMainInfo from '~/components/events/edit/SimpleEventMainInfo'

  import EventOrganizer from '~/components/events/create/EventOrganizer'
  import EventPromo from '~/components/events/create/EventPromo'
  import MainInfoPreview from '~/components/events/edit/MainInfoPreview'
  import PlaceTimePreview from '~/components/events/edit/PlaceTimePreview'
  import PanelButton from '~/components/common/buttons/PanelButton'
  import FixedGuideButton from '~/components/events/create/FixedGuideButton'

  import { objectDiff } from '~/utils/objectDiff'
  import { preFormatEvent } from '~/utils/event'
  import popoverConsts from '~/utils/popoverConsts'
  import { getEventsData } from '../../../utils/event'

  const mainInfoFields = ['title', 'cover', 'description', 'language', 'links']
  export default {
    components: {
      SimpleEventMainInfo,
      EventOrganizer,
      EventPromo,
      MainInfoPreview,
      PlaceTimePreview,
      PanelButton,
      FixedGuideButton,
      EditModal: () => import('~/components/common/popovers/EditModal'),
      WithTransition: () => import('~/components/common/WithTransition'),
      EventMainInfo: () => import('~/components/events/create/EventMainInfo'),
      SessionEdit: () => import('~/components/events/edit/SessionEdit'),
      SimpleEventCover: () => import('~/components/events/edit/SimpleEventCover'),
      SimplePlaceTime: () => import('~/components/events/edit/SimplePlaceTime'),
    },

    props: {
      event: {
        type: Object,
        required: true,
      },
    },

    data: vm => ({
      sessionsByLocationNew: {},
      step: 1,
      newEvent: {
        ...JSON.parse(JSON.stringify(vm.event)),
        newTags: [],
      },
      popoverConsts,
      croppedCoverImage: null,
      table: [
        { name: 'eventCover', value: 'cover', isActive: false },
        { name: 'title', value: 'title', isActive: false },
        { name: 'date', value: 'start_date', isActive: false },
        { name: 'address', value: 'location.address', isActive: false },
        { name: 'description', value: 'description', isActive: false },
        { name: 'categories', value: 'tags', isActive: false },
      ],
      simple: false,
      complex: false,
      mobile: false,
    }),

    computed: {
      ...mapGetters({
        OPENED_POPOVER: 'popovers/OPENED_POPOVER',
        sessionsData: 'events/sessions/EVENTS_DATA',
        profile: 'user/PROFILE',
        GET_USER: 'user/GET_USER',
        eventServerErrors: 'event/EVENT_EDIT_SERVER_ERRORS',
        sessionServerErrors: 'eventEdit/MODAL_SESSION_SERVER_ERRORS',
        phonesError: 'eventEdit/EVENT_ORGANIZER_PHONES_ERRORS',
        emailsError: 'eventEdit/EVENT_ORGANIZER_EMAILS_ERRORS',
      }),
      cover: {
        get() {
          return this.newEvent.cover
        },
        set(v) {
          this.newEvent.cover = v
        },
      },
      title: {
        get() {
          return this.newEvent.title
        },
        set(v) {
          this.newEvent.title = v
        },
      },
      isOnlineEvent() {
        return this.event.is_online
      },
      sessions() {
        return getEventsData(this.sessionsData || [])
      },
      sessionsByLocation() {
        return this.getSessionsByLocation()
      },
      next() {
        return this.$route.query.next
      },
      percent() {
        this.table.map((item, i) => {
          if (item.name === 'address' && item.isActive === false) {
            this.table.splice(i, 1)
          }
        })
        const data = this.table.filter(({ isActive }) => isActive)
        return Math.floor(data.length * 100 / this.table.length)
      },
      stage() {
        return this.$route.query.stage
      },
      errors() {
        return {
          cover: {
            client: this.$v.cover,
            server: this.eventServerErrors.cover,
          },
          title: {
            client: this.$v.title,
            server: this.eventServerErrors.title,
          },
          emails: {
            server: this.eventServerErrors.emails,
          },
          phones: {
            server: this.eventServerErrors.phones,
          },
          location: {
            server:
              this.sessionServerErrors.geometry || this.sessionServerErrors.title,
          },
          timezone: {
            server: this.sessionServerErrors.timezone,
          },
        }
      },
    },
    watch: {
      newEvent: {
        deep: true,
        handler() {
          this.table = [...this.table].map(item => {
            return { ...item, isActive: this.isActive(item.value) }
          })
        },
      },
    },
    validations() {
      return {
        cover: {
          required,
        },
        title: {
          required,
        },
      }
    },
    created() {
      this.$store.watch(
        (state) => {
          return state
        },
        () => {
          this.getSessionsByLocation()
        },
        {
          deep: true,
        },
      )
    },
    mounted() {
      if (this.sessions.length === 1) {
        this.simple = true
      }
      if (this.sessions.length > 1) {
        this.complex = true
      }
      this.table = [...this.table].map(item => {
        return { ...item, isActive: this.isActive(item.value) }
      })
      this.sessionByLocation()
      this.checkPaymentStatus()
    },
    methods: {
      ...mapActions({
        TOGGLE_POPOVER: 'popovers/TOGGLE_POPOVER',
        closeModalSession: 'eventEdit/closeModalSession',
        openModalSession: 'eventEdit/openModalSession',
        setSession: 'eventEdit/setSession',
        loadEventEdit: 'eventEdit/loadEventEdit',
        saveSession: 'eventEdit/saveModalSession',
      }),
      ...mapActions('event', ['DELETE']),
      ...mapActions('popovers', ['SWITCH_PRE_LOADER']),
      ...mapActions('popovers', ['TOGGLE_POPOVER']),
      ...mapMutations('popovers', ['SET_POPOVER_DATA']),
      getSessionsByLocation() {
        let result = null;

        if (this.isOnlineEvent) {
          const keys = [
            'end_date',
            'end_time',
            'id',
            'start_date',
            'start_time',
            'timezone',
          ]

          result = this.$store.getters['events/sessions/EVENTS_DATA'].reduce(
            (res, session) => {
              const pickedSession = pick(keys, session)

              res.online.results.push(pickedSession)

              return res
            },
            {
              online: {
                results: [],
              },
            },
          )
        } else {
          const keys = ['end_date', 'end_time', 'id', 'start_date', 'start_time']

          result = this.$store.getters['events/sessions/EVENTS_DATA'].reduce((res, session) => {
            const key = path(['location', 'id'], session)
            const hasLocation = Object.prototype.hasOwnProperty.call(res, key)

            const pickedSession = pick(keys, session)

            if (!hasLocation) {
              res[key] = {
                timezone: session.timezone,
                city: path(['location', 'city'], session),
                location: session.location,
                results: [pickedSession],
              }
            } else {
              res[key].results.push(pickedSession)
            }

            return res
          }, {})
        }

        this.sessionsByLocationNew = result
        return result
      },
      checkPaymentStatus() {
        const { payment_status, from, ...query } = this.$route.query
        if (!payment_status) return

        switch (payment_status) {
          case 'free':
            this.SET_POPOVER_DATA({ status: 'free' })
            break
          case 'success':
            this.TOGGLE_POPOVER(popoverConsts.paymentSuccess)
            break

          case 'pending':
          case 'cancelled':
          case 'failure':
            this.SET_POPOVER_DATA({
              tryAgainRoute: {
                name: 'events-id-promo',
                params: { id: this.event.url_id },
              },
            })
            this.TOGGLE_POPOVER(popoverConsts.paymentError)
            break

          default:
            break
        }
        this.$router.replace({ query })
      },
      showMobile() {
        this.mobile = !this.mobile
      },
      percentStyle() {
        if (this.percent === 0) {
          return `left:${this.percent}%`
        } else if (this.percent === 100) {
          return 'right: 0'
        } else {
          return `left:${this.percent - 10}%`
        }
      },
      sessionByLocation() {
        const key = Object.keys(this.sessionsByLocation)[0]
        const session = this.sessionsByLocation[key]
        this.setSession({ session })
      },
      isActive(key) {
        let data = { ...this.newEvent }
        if (key === 'location.address') {
          data = { ...this.sessions[0] }
          if (path(['is_online'], data)) {
            return false
          }
        }
        const val = path(key.split('.'), data)
        let active = !!val

        if (typeof val === 'object') {
          active = !isEmpty(val)
        }
        return active
      },
      toComplex() {
        this.simple = false
        this.complex = true
        window.scrollTo({ top: 0, behavior: 'smooth' })
      },
      saveButtonTittle() {
        if (this.stage === 'creation') {
          return this.$t('publish')
        } else {
          if (this.simple)
            return this.$t('save')
          if (this.complex)
            return this.$t('saveButton')

        }
      },
      async saveEvent({ fields, next = false }) {
        if (this.simple) {
          this.$v.$touch()

          if (this.$v.$error) {
            this.$nextTick(() => {
              scrollToElement({
                element: document.querySelector('[data-form-error]'),
                align: 'top',
              })
            })

            return
          }
        }
        if (!this.GET_USER || !this.$cookies.get('auth')) {
          this.TOGGLE_POPOVER('popover_auth')
          return
        }
        if (this.phonesError.hasError || this.emailsError.hasError) {
          return false
        }
        this.$store.dispatch('popovers/SWITCH_PRE_LOADER', true)

        const eventsDiffArray = objectDiff(this.event, this.newEvent)

        const data = eventsDiffArray.reduce((result, { path }) => {
          const key = path[0]

          if (fields) {
            const hasField = fields.some(v => v === key)
            if (!hasField) return result
          }

          result[key] = this.newEvent[key]

          return result
        }, {})

        const postData = preFormatEvent({
          event: {
            ...data,
            eventType: data.type,
          },
          allowEmptyArray: true,
        })

        const promiseData = []
        if (postData) {
          promiseData.push(
            this.$store.dispatch('event/UPDATE', {
              id: this.event.id,
              data: postData,
            }),
          )
        }
        if (this.simple) {
          promiseData.push(this.saveSession())
        }

        if (promiseData !== null) {
          await Promise.all(promiseData)
            .then(res => {
              if(!fields) {
                if (next) {
                  this.$router.push(`${next}`)
                } else {
                  this.$router.push({
                    name: 'events-id',
                    params: this.$router.params,
                  })
                }
              }
              this.loadEventEdit({ id: this.event.id })
            })
            .catch(error => {
              if (error.response.status === 403) {
                this.$router.push({
                  name: 'events-id',
                  params: this.$router.params,
                })
                this.$store.dispatch('notifications/error', error.message)
              }
              console.log(error)
              this.$store.dispatch('notifications/error', error.message)
            })
        }

        this.$store.dispatch('popovers/SWITCH_PRE_LOADER', false)
      },
      async deleteEvent() {
        const profileId = this.profile ? this.profile.id : this.GET_USER.id
        try {
          this.SWITCH_PRE_LOADER(true)
          await this.DELETE(this.event)
          this.$router.push(`/profile/${profileId}/`)
        } catch (err) {
          console.error(err)
        } finally {
          this.SWITCH_PRE_LOADER()
        }
      },
      onEdit(type) {
        this.TOGGLE_POPOVER(type)
      },
      closeMainInfoModal() {
        this.TOGGLE_POPOVER('')
        this.resetNewEventFields(mainInfoFields)
        this.croppedCoverImage = null
      },
      async saveMainInfoModal() {
        this.$v.$touch()
        if (this.$v.$error) {
          document.querySelectorAll('.main-info')[0].scrollIntoView(true);
          return
        }
        if (this.croppedCoverImage) {
          const isUploaded = await this.uploadImage()
          if (!isUploaded) return
        }

        await this.saveEvent({
          fields: mainInfoFields,
        })
        this.TOGGLE_POPOVER('')
      },
      resetNewEventFields(fields) {
        const fieldsData = fields.reduce((result, field) => {
          result[field] = this.event[field]
          return result
        }, {})

        this.newEvent = {
          ...this.newEvent,
          ...JSON.parse(JSON.stringify(fieldsData)),
        }
      },
      updateCroppedImage(v) {
        this.croppedCoverImage = v
      },
      async uploadImage() {
        this.$store.dispatch('popovers/SWITCH_PRE_LOADER', true)

        const file = await fetch(this.croppedCoverImage)
          .then(res => res.arrayBuffer())
          .then(
            buffer =>
              new File([buffer], 'imagefromB64.png', { type: 'image/png' }),
          )

        try {
          const image = await this.$store.dispatch('images/UPLOAD', {
            file,
            params: {
              find_gradient: true,
              find_main_color: true,
            },
          })

          this.newEvent.cover = image
          this.croppedCoverImage = null

          return true
        } catch (err) {
          this.$store.dispatch('notifications/error', this.$t('error.coverFailed'))

          return false
        } finally {
          this.$store.dispatch('popovers/SWITCH_PRE_LOADER', false)
        }
      },
    },
  }
</script>

<style lang="scss" scoped>
  @import '~/assets/css/variables.scss';

  .event-edit {
    margin-top: 24px;
    margin-bottom: 118px; // 110px + 64px (fixed height) - 56px (body padding)
    max-width: 856px;

    @media (min-width: $desktopSD) {
      margin-top: 54px;
    }

    @media (min-width: $sideShow) {
      margin-top: 72px;
    }

    &__title {
      @include text(4);
      font-weight: bold;
      margin-bottom: 38px;

      @media (min-width: $desktopSD) {
        @include text(5);
        margin-bottom: 48px;
      }

      @media (min-width: $desktopHD) {
        @include text(6);
      }
    }
  }

  .edit-section {
    margin-bottom: 60px;

    @media (min-width: $desktopSD) {
      margin-bottom: 96px;
    }

    &__title {
      @include text(2.25);
      font-weight: bold;
      margin-bottom: 14px;

      @media (min-width: $desktopSD) {
        margin-bottom: 34px;
        @include text(3);
      }
    }
  }

  .edit-preview {
    box-shadow: 0 3px 30px 0 rgba(0, 112, 255, 0.1);

    &:not(:last-of-type) {
      margin-bottom: 16px;
    }

    &__wrapper {
      margin-bottom: 68px;
    }
  }

  .form-submit {
    display: flex;
    justify-content: center;

    &__wrapper {
      z-index: 100;
      padding: 8px 0;
      background-color: #fff;
      position: fixed;
      bottom: 0;
      right: 0;
      width: 100%;

      @media (min-width: $desktopSD) {
        padding: 16px 0;
      }

      @media (min-width: $desktopHD) {
        padding: 24px 0;
      }

      @media (min-width: $sideShow) {
        max-width: calc(100% - 96px);
      }
    }
  }

  .edit-modal {
    max-width: 856px;
    width: 100%;
    margin: 0 auto;

    &__title {
      @include text(2.25);
      font-weight: bold;
      margin-bottom: 14px;

      @media (min-width: $desktopSD) {
        margin-bottom: 34px;
        @include text(3);
      }
    }

    &__controls {
      margin-top: 56px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__control-cancel {
      margin-top: 24px;
      color: $blue;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .simple_wrapper {
    margin-top: 24px;
    margin-bottom: 118px;
    max-width: 1238px;

    @media (min-width: $desktopSD) {
      margin-top: 54px;
    }

    @media (min-width: $sideShow) {
      margin-top: 72px;
    }
  }

  .event-edit-simple {
    position: relative;

    .title {
      font-weight: bold;
      margin-bottom: 16px;
    }

    .main-section {
      display: flex;
      align-items: flex-start;
      position: relative;
    }

    .table-description {
      /*max-width: 336px;*/
      margin-left: 40px;
      position: absolute;
      right: 0;
      top: 0;

      .posFix {
        position: fixed;
        transform: translateX(-100%);
        box-shadow: 0 3px 30px 0 rgba(0, 112, 255, 0.1);
        background-color: #ffffff;
        max-width: 336px;
        width: 20%;
        z-index: 2;
        @media (max-width: $sideShow) {
          width: 22%;
        }
        @media (max-width: $desktopHD) {
          width: 24%;
        }
        @media (max-width: $desktopSD) {
          width: 100%;
          max-width: 100%;
          z-index: 90;
          bottom: 0;
          right: 0;
          transform: none;
        }
      }

      .table-head {
        position: relative;
      }

      .table-head-mobile {
        position: relative;
        top: 50px;
      }

      .progress {
        position: absolute;
        top: 0;
        width: 100%;
        height: 8px;
        background-color: #f8f9fa;

        .progress-item {
          height: 8px;
          background-color: #0070ff;
        }
      }

      .percent {
        position: absolute;
        top: 10px;
        font-size: 16px;
        font-weight: bold;
        color: #0070ff;
        @media (max-width: $desktopSD) {
          display: none;
        }
      }

      .table {
        margin: 50px 0 0 24px;
        @media (max-width: $desktopSD) {
          margin-left: 30px;
          margin-top: 90px;
          flex-flow: wrap;
          display: flex;
        }
        @media (max-width: 480px) {
          flex-direction: column;
        }
      }

      .none {
        @media (max-width: $desktopSD) {
          display: none;
        }
      }

      .row {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        @media (max-width: $desktopSD) {
          width: 180px;
          margin-right: 10px;
        }

        .icon {
          color: #35d680;
          margin-right: 20px;
          font-size: 22px;
          @media (max-width: $desktopSD) {
            font-size: 14px;
            margin-right: 28px;
          }
        }

        .text {
          font-size: 16px;
          font-weight: bold;
        }

        .disable {
          color: #c6c7c8;
          margin-left: 44px;
        }
      }

      .btn_wrapper {
        @media (max-width: $desktopSD) {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
      }

      .percent-arrow {
        display: none;
        @media (max-width: $desktopSD) {
          display: flex;
          align-items: center;
          position: relative;
        }
      }

      .mobile-percent {
        @media (max-width: $desktopSD) {
          display: block;
          font-size: 32px;
          font-weight: bold;
          color: #0070ff;
          margin-left: 30px;
        }
        @media (max-width: 480px) {
          font-size: 18px;
        }
      }

      .arrow {
        position: absolute;
        right: -20px;
        top: 6px;
        border: solid #0070ff;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 3px;
      }

      .arrow-up {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
      }

      .arrow-down {
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
      }

      .arrow::before {
        content: '';
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg)
      }

      .btn-publish {
        width: 85%;
        padding: 5% 25%;
        margin: 25px 24px;
        font-size: 18px;
        font-weight: bold;
        background-color: #0070ff;
        color: #ffffff;
        @media (max-width: $desktopSD) {
          width: 288px;
          padding: 20px 90px;
        }
        @media (max-width: 480px) {
          width: 230px;
          padding: 15px 65px;
        }
      }

      .btn-delete {
        margin-left: 24px;
        margin-bottom: 20px;
        font-size: 16px;
        font-weight: normal;
        color: #0070ff;
        @media (max-width: $desktopSD) {
          position: absolute;
          top: 20px;
          left: 0;
        }
      }
    }

    .edit-org {
      max-width: 856px;
      width: 70%;
      @media (max-width: $sideShow) {
        width: 60%;
      }
      @media (max-width: $desktopHD) {
        width: 57%;
      }
      @media (max-width: $desktopSD) {
        width: 100%;
        margin-bottom: 250px;
      }
      @media (max-width: 480px) {
        margin-bottom: 350px;
      }
    }
  }
</style>
