<i18n>
{
  "ru": {
    "edit": "Изменить"
  },
  "en": {
    "edit": "Edit"
  },
  "es": {
    "edit": "Editar"
  }
}
</i18n>

<template>
  <div class="main-info-preview">
    <div class="main-info-preview__content">
      <h3 class="main-info-preview__title">
        <slot name="title" />
      </h3>
      <p class="main-info-preview__event-title">{{ title }}</p>
      <p class="main-info-preview__description">{{ description }}</p>
      <button class="edit-button" @click="$emit('edit')">
        {{ $t('edit') }}
        <Icon class="edit-button__icon" src="icons/pencil.svg" size="xs" />
      </button>
    </div>
    <div class="main-info-preview__cover-wrapper">
      <Cover class="main-info-preview__cover" :cover="cover" />
    </div>
  </div>
</template>

<script>
import Cover from '~/components/common/Cover'
import Icon from '~/components/common/Icon'

export default {
  name: 'MainInfoPreview',

  components: {
    Cover,
    Icon,
  },

  props: {
    cover: {
      type: Object,
      required: true,
    },
    title: {
      type: String,
      required: true,
    },
    description: {
      type: String,
      required: true,
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.main-info-preview {
  background: #fff;
  padding: 16px;
  display: flex;
  flex-direction: column-reverse;

  @media (min-width: $desktopSD) {
    padding: 24px 24px 24px 48px;
    flex-direction: row;
    justify-content: space-between;
  }

  &__title {
    @include text(3);
    font-weight: bold;
    margin-top: 24px;
    margin-bottom: 26px;
  }

  &__event-title {
    @include text(4);
    margin-bottom: 18px;
    @include no-text-wrap;
  }

  &__description {
    height: 169px;
    position: relative;
    overflow: hidden;
    margin-bottom: 28px;

    &:after {
      content: '';
      display: block;
      height: 84px;
      background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0),
        #ffffff
      );
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  }

  &__cover-wrapper {
    max-height: 390px;
    // height: 100%;
    width: 100%;
    overflow: hidden;

    @media (min-width: $desktopSD) {
      width: 45%;
    }
  }

  &__cover {
    width: 100%;
  }

  &__content {
    @media (min-width: $desktopSD) {
      width: 50%;
    }
  }
}

.edit-button {
  font-weight: bold;
  letter-spacing: 0.8px;
  text-align: center;
  text-transform: uppercase;
  color: $blue;
  padding: 0;
  display: inline-flex;
  align-items: baseline;

  &__icon {
    margin-left: 13px;
  }

  &:hover {
    text-decoration: underline;
  }
}
</style>