<i18n>
{
  "ru": {
    "edit": "Изменить",
    "isOnline": "Это онлайн событие",
    "from": "c",
    "until": "до"
  },
  "en": {
    "edit": "Edit",
    "isOnline": "Online event",
    "from": "from",
    "until": "until"
  },
  "es": {
    "edit": "Editar",
    "isOnline": "Evento online"
  }
}
</i18n>

<template>
  <div v-if="hasSessions" class="place-time-preview">
    <div class="place-time-preview__content">
      <h3 class="place-time-preview__title">
        <slot name="title" />
      </h3>
      <div class="place-time-preview__date">{{ dateString }}</div>

      <div v-if="!isOnline" class="place-time-preview__address-wrapper preview-address">
        <template v-if="location.title">
          <span class="preview-address__title-wrapper">
            <Icon src="icons/map-point.svg" size="xs" class="preview-address__title-icon" />
            <span class="preview-address__title">{{ location.title }}</span>
          </span>
          <span class="preview-address__address">{{ location.address }}</span>
        </template>
      </div>
      <div v-else class="place-time-preview__address-wrapper">{{ $t('isOnline') }}</div>

      <button class="edit-button" @click="$emit('edit')">
        {{ $t('edit') }}
        <Icon class="edit-button__icon" src="icons/pencil.svg" size="xs" />
      </button>
    </div>
    <GMap class="place-time-preview__map" :location="session.location" :height="304" />
  </div>
</template>

<script>
import { min, parseISO, max } from 'date-fns'
import { path } from 'ramda'

import {
  makeDateTimeString,
  formatStrings,
  formatDateTime,
} from '~/utils/formatDate'

import Icon from '~/components/common/Icon'

export default {
  name: 'PlaceTimePreview',

  components: {
    Icon,
    GMap: () => import('~/components/common/GMap'),
  },

  props: {
    session: {
      type: Object,
      required: true,
    },
    isOnline: Boolean,
  },

  computed: {
    hasSessions() {
      return path(['results', 'length'], this.session)
    },
    dateString() {
      if (this.session.results.length > 1) {
        const startDates = this.session.results.filter(
          ({ start_date }) => Boolean(start_date)
        ).map(
          ({ start_date }) => parseISO(start_date),
        )
        const endDates = this.session.results.filter(
          ({ end_date }) => Boolean(end_date)
        ).map(
          ({ end_date }) => parseISO(end_date),
        )
        const minDate = startDates ? formatDateTime({
            dateTime: min(startDates),
            formatString: formatStrings.dayMonth,
          }): null

        const maxDate = endDates ? formatDateTime({
            dateTime: max(endDates),
            formatString: formatStrings.dayMonth,
          }): null

        if (minDate && maxDate) {
          return `${minDate} – ${maxDate}`
        } else if (minDate){
          return `{this.$t('from')} ${minDate}`
        } else if (maxDate) {
          return `{this.$t('until')} ${maxDate}`
        }
        return ''

      } else {
        const session = this.session.results[0]

        return makeDateTimeString({
          date: session.start_date,
          time: session.start_time,
          formatString: formatStrings.withWeekDay,
          dateFormatString: formatStrings.withWeekDayNoTime,
          timeFormatString: formatStrings.ticketFullTime,
        })
      }
    },
    location() {
      return {
        title: path(['location', 'title'], this.session),
        address: path(['location', 'address_display'], this.session),
      }
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.place-time-preview {
  background: #fff;
  padding: 16px;
  display: flex;
  flex-direction: column-reverse;

  @media (min-width: $desktopSD) {
    padding: 24px 24px 24px 48px;
    flex-direction: row;
    justify-content: space-between;
  }

  &__content {
    min-width: 0;
    padding-right: 24px;
  }

  &__map {
    height: 304px;
    background: #f3f3f3;
    flex-shrink: 0;

    @media (min-width: $desktopSD) {
      width: 50%;
    }
  }

  &__title {
    @include text(3);
    font-weight: bold;
    margin-top: 24px;
    margin-bottom: 36px;
  }

  &__date {
    @include text(3);
    font-weight: bold;
    margin-bottom: 20px;

    &:first-letter {
      text-transform: uppercase;
    }
  }

  &__address-wrapper {
    margin-bottom: 52px;
  }

  .preview-address {
    &__title {
      @include no-text-wrap;
    }

    &__title-wrapper {
      display: flex;
      align-items: baseline;
      margin-bottom: 4px;
      color: $blue;
    }

    &__title-icon {
      margin-right: 8px;
    }

    &__address {
      display: block;
      @include text(1.5);
      @include no-text-wrap;
      line-height: 20px;
      height: 20px;
    }
  }
}

.edit-button {
  font-weight: bold;
  letter-spacing: 0.8px;
  text-align: center;
  text-transform: uppercase;
  color: $blue;
  padding: 0;
  display: inline-flex;
  align-items: baseline;

  &__icon {
    margin-left: 13px;
  }

  &:hover {
    text-decoration: underline;
  }
}
</style>