<i18n>
{
  "ru": {
    "timezoneLabel": "Часовой пояс",
    "placeLabel": "Место проведения",
    "saveModal": "Сохранить изменения",
    "cancel": "Отмена",
    "payAttention": "Обратите внимание — если вы измените время и место, продажа билетов остановится."
  },
  "en": {
    "timezoneLabel": "Timezone",
    "placeLabel": "Location",
    "saveModal": "Save changes",
    "cancel": "Cancel",
    "payAttention": "Please note - if you change time and place, ticket sale will stop."
  },
  "es": {
    "timezoneLabel": "Zona horaria",
    "placeLabel": "Lugar",
    "saveModal": "Guardar cambios",
    "cancel": "Cancelar",
    "payAttention": "Please note - if you change time and place, ticket sale will stop."
  }
}
</i18n>

<template>
  <div class="session-edit">
    <template v-if="isOnline">
      <div v-for="s in sessionsDateTime" :key="s.id">
        <FormRow class="session-edit__periods session-edit__periods--online">
          <DatesWrapper
            :error="null"
            :initial="s.period"
            isEmit
            @date:selected="updatePeriod(s, $event)"
          />
        </FormRow>
        <FormRow class="session-edit__timezone">
          <template #label>{{ $t('timezoneLabel') }} ↑</template>
          <template slot-scope="{ id }">
            <TimeZone :id="id" :value="s.timezone" @input="updateDateTimeTimezone(s, $event)" />
          </template>
        </FormRow>
      </div>
    </template>

    <template v-else>
      <FormRow class="session-edit__periods">
        <DatesWrapper
          v-for="s in sessionsDateTime"
          :key="s.id"
          :error="null"
          :initial="s.period"
          isEmit
          @date:selected="updatePeriod(s, $event)"
        />
      </FormRow>

      <FormRow class="session-edit__timezone" noLabelFocus :error="errors.timezone">
        <template #label>{{ $t('timezoneLabel') }} ↑</template>
        <template slot-scope="{ id }">
          <TimeZone :id="id" v-model="timezone" disabled />
        </template>
      </FormRow>

      <FormRow :error="errors.location" class="session-edit__location">
        <template #label>{{ $t('placeLabel') }}</template>
        <template slot-scope="{ id }">
          <Location
            :id="id"
            :city="city"
            :location="location"
            @update:city="updateCity"
            @update:timezone="updateTimeZone"
            @update:location="updateLocation"
          />
        </template>
      </FormRow>
    </template>

    <div class="session-edit__attention">{{ $t('payAttention') }}</div>

    <div class="session-edit__controls">
      <PanelButton bigPadding @click="saveSession">{{ $t('saveModal') }}</PanelButton>
      <button class="session-edit__control-cancel" @click="$emit('close')">{{ $t('cancel') }}</button>
    </div>
  </div>
</template>

<script>
import { parseISO, parse, format } from 'date-fns'
import { mapGetters, mapActions } from 'vuex'
import { prop } from 'ramda'
import { required } from 'vuelidate/lib/validators'

import { prepareLocation } from '~/utils/event'
import { scrollToElement } from '~/utils'

import TimeZone from '~/components/events/create/EventPlaceTime/TimeZone'
import FormRow from '~/components/common/FormRowNew'
import DatesWrapper from '~/components/events/DatesWrapper'
import Location from '~/components/events/create/EventPlaceTime/Location'
import PanelButton from '~/components/common/buttons/PanelButton'

export default {
    name: 'SessionEdit',

    components: {
        TimeZone,
        FormRow,
        DatesWrapper,
        Location,
        PanelButton,
    },

    props: {
        isOnline: Boolean,
    },

    computed: {
        ...mapGetters({
            session: 'eventEdit/MODAL_SESSION',
            sessionServerErrors: 'eventEdit/MODAL_SESSION_SERVER_ERRORS',
            EVENT: 'eventEdit/EVENT',
        }),
        timezone() {
            return { name: this.session.timezone }
        },
        data: () => ({
            location: null,
        }),
        location() {
            if (this.session.location && this.session.location.address.format === 'google') {
                return {
                    name: this.session.location.title,
                    place_id: this.session.location.id,
                    geometry: {
                        location: this.session.location.geometry,
                    },
                }
            }

            const name =  this.session.location ? this.session.location.address_display : ''
            return {name}
        },
        city() {
            return this.session.city
        },
        sessionsDateTime() {
            return this.session.results.map(s => {
                const start_date = s.start_date ? s.start_date: "1970-01-01"
                const start_time = s.start_time ? s.start_time: '00:00'
                const end_date = s.end_date ? s.end_date: null
                const end_time = s.end_time ? s.end_time: null

                const startDateTime = parseISO(`${start_date} ${start_time}`)
                const endDateTime = end_date && end_time? parseISO(`${end_date} ${end_time}`) : ''

                return {
                    id: s.id,
                    period: [startDateTime, endDateTime],
                    timezone: this.isOnline
                        ? {
                            name: s.timezone,
                        }
                        : null,
                }
            })
        },
        errors() {
            return {
                location: {
                    client: this.$v.location,
                    server:
                        this.sessionServerErrors.geometry || this.sessionServerErrors.title,
                },
                timezone: {
                    client: this.$v.timezone,
                    server: this.sessionServerErrors.timezone,
                },
            }
        },
    },

    validations() {
        return {
            ...(!this.isOnline && {
                location: {
                    required,
                },
            }),
            timezone: {
                required,
            },
        }
    },

    beforeDestroy() {
        this.restoreServerErrors()
    },

    methods: {
        ...mapActions({
            updateModalSession: 'eventEdit/updateModalSession',
            restoreServerErrors: 'eventEdit/restoreModalSessionServerErrorrs',
            saveModalSession: 'eventEdit/saveModalSession',
            loadEventEdit: 'eventEdit/loadEventEdit',
            TOGGLE_POPOVER: 'popovers/TOGGLE_POPOVER',
        }),
        updatePeriod(session, period) {
            const results = [...this.session.results]

            const resultSessionIdx = results.findIndex(({ id }) => id === session.id)

            const start = parse(period[0], `yyyy-MM-dd'T'HH:mm`, new Date())
            const end = period[1] ? parse(period[1], `yyyy-MM-dd'T'HH:mm`, new Date()) : ''

            results[resultSessionIdx] = {
                ...results[resultSessionIdx],
                start_date: format(start, 'yyyy-MM-dd'),
                start_time: format(start, 'HH:mm:ss'),
                end_date: end ? format(end, 'yyyy-MM-dd') : '',
                end_time: end ? format(end, 'HH:mm:ss') : '',
            }

            this.updateModalSession({
                session: {
                    ...this.session,
                    results,
                },
            })
        },
        updateDateTimeTimezone(session, timezone) {
            const results = [...this.session.results]

            const resultSessionIdx = results.findIndex(({ id }) => id === session.id)

            results[resultSessionIdx] = {
                ...results[resultSessionIdx],
                timezone: timezone.name,
            }

            this.updateModalSession({
                session: {
                    ...this.session,
                    results,
                },
            })
        },
        updateCity(city) {
            this.updateModalSession({
                session: {
                    ...this.session,
                    city,
                },
            })
        },
        updateLocation(location) {
            if (!location) {
                this.updateModalSession({
                    session: {
                        ...this.session,
                        location: null,
                    },
                })
            } else {
                this.updateModalSession({
                    session: {
                        ...this.session,
                        location: {
                            ...this.session.location,
                            ...prepareLocation({ location }),
                            id: null,
                        },
                    },
                })
            }
        },
        updateTimeZone(timezone) {
            this.updateModalSession({
                session: {
                    ...this.session,
                    timezone: prop('name', timezone) || '',
                },
            })
        },
        async saveSession() {
            this.$v.$touch()

            if (this.$v.$error) {
                this.$nextTick(() => {
                    scrollToElement({
                        element: document.querySelector('[data-form-error]'),
                        align: 'top',
                    })
                })

                return
            }

            this.$store.dispatch('popovers/SWITCH_PRE_LOADER', true)

            try {
                await this.saveModalSession()
                await this.loadEventEdit({ id: this.EVENT.id })

                this.TOGGLE_POPOVER('')
            } catch (e) {
                console.log('saveModalSession', e)
            }

            this.$store.dispatch('popovers/SWITCH_PRE_LOADER', false)
        },
    },
}
</script>


<style lang="scss" scoped>
    @import '~/assets/css/variables.scss';

    .session-edit {
        &__periods {
            margin-bottom: 40px;

            &--online {
                margin-bottom: 20px;
            }
        }

        &__timezone {
            margin-bottom: 60px;
        }

        &__location {
            margin-bottom: 48px;
        }

        &__attention {
            text-align: center;
        }

        &__controls {
            margin-top: 56px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__control-cancel {
            margin-top: 24px;
            color: $blue;

            &:hover {
                text-decoration: underline;
            }
        }
    }
</style>