  <i18n>
  {
    "ru": {
      "titleLabel": "Название события",
      "timezoneLabel": "Часовой пояс",
      "wholeDay": "Целый день",
      "1hour": "1 час",
      "2hour": "2 часа",
      "3hour": "3 часа",
      "complex": "Хотите сделать сложное расписание?",
      "placeLabel": "Место проведения",
      "cancel": "Отмена",
      "isOnline": "Это онлайн событие",
      "payAttention": "Обратите внимание — если вы измените время и место, продажа билетов остановится."
    },
    "en": {
      "titleLabel": "Event name",
      "wholeDay": "Whole Day",
      "1hour": "1 hour",
      "2hour": "2 hour",
      "3hour": "3 hour",
      "timezoneLabel": "Timezone",
      "complex": "Want to make a complex schedule?",
      "placeLabel": "Location",
      "cancel": "Cancel",
      "isOnline": "Online event",
      "payAttention": "Please note - if you change time and place, ticket sale will stop."
    }
  }
</i18n>

<template>
  <div class="session-edit">
    <FormRow class="title" :error="errors.title">
      <template #label>{{ $t('titleLabel') }}</template>
      <template slot-scope="{ id, hasError }">
        <FormInput
            :id="id"
            :value="title"
            :error="hasError"
            @input="$emit('update:title', $event)"
        />
      </template>
    </FormRow>


    <template v-if="isOnline">
      <div v-for="s in sessionsDateTime" :key="s.id">
        <FormRow class="session-edit__periods session-edit__periods--online">
          <DatesWrapper
              :error="null"
              :initial="s.period"
              isEmit
              initialWatch
              @date:selected="updatePeriod(s, $event)"
          />
        </FormRow>
        <div class="setDate">
          <button
              v-for="(item, idx) in dateItems"
              :key="idx"
              :class="item.text === isActive ? 'setDate-item active' : 'setDate-item'"
              @click="setDate(s, idx)"
          >
            {{ $t(item.text)}}
          </button>
        </div>
        <FormRow class="session-edit__timezone">
          <template #label>{{ $t('timezoneLabel') }} ↓</template>
          <template slot-scope="{ id }">
            <TimeZone :id="id" :value="s.timezone" @input="updateDateTimeTimezone(s, $event)" />
          </template>
        </FormRow>
      </div>
      <button class="complex" @click="$emit('toComplex', $event)">{{ $t('complex') }}</button>
      <FormRow class="session-edit__location">
        <template #label>{{ $t('placeLabel') }}</template>
          <Checkbox
              color="blue"
              :value="isOnline"
              disabled
          >{{ $t('isOnline') }}</Checkbox>
      </FormRow>
    </template>

    <template v-else>
      <div v-for="s in sessionsDateTime" :key="s.id">
        <FormRow class="session-edit__periods session-edit__periods--online">
          <DatesWrapper
              :error="null"
              :initial="s.period"
              isEmit
              initialWatch
              @date:selected="updatePeriod(s, $event)"
          />
        </FormRow>
        <div class="setDate">
          <button
              v-for="(item, idx) in dateItems"
              :key="idx"
              :class="item.text === isActive ? 'setDate-item active' : 'setDate-item'"
              @click="setDate(s, idx)"
          >
            {{ $t(item.text)}}
          </button>
        </div>
      </div>
      <FormRow class="session-edit__timezone" noLabelFocus :error="errors.timezone">
        <template #label>{{ $t('timezoneLabel') }} ↓</template>
        <template slot-scope="{ id }">
          <TimeZone :id="id" v-model="timezone" disabled />
        </template>
      </FormRow>
      <button class="complex" @click="$emit('toComplex', $event)">{{ $t('complex') }}</button>

      <FormRow :error="errors.location" class="session-edit__location">
        <template #label>{{ $t('placeLabel') }}</template>
        <template slot-scope="{ id }">
          <Location
              :id="id"
              :city="city"
              :location="location"
              @update:city="updateCity"
              @update:timezone="updateTimeZone"
              @update:location="updateLocation"
          />
        </template>
      </FormRow>
    </template>


  </div>
</template>

<script>
  import { parseISO, parse, format } from 'date-fns'
  import { mapGetters, mapActions } from 'vuex'
  import { prop } from 'ramda'

  import { prepareLocation } from '~/utils/event'
  import Checkbox from '~/components/common/Checkbox'
  import TimeZone from '~/components/events/create/EventPlaceTime/TimeZone'
  import FormRow from '~/components/common/FormRowNew'
  import FormInput from '~/components/common/input/FormInput'
  import DatesWrapper from '~/components/events/DatesWrapper'
  import Location from '~/components/events/create/EventPlaceTime/Location'

  export default {
    name: 'SessionEdit',

    components: {
      TimeZone,
      FormInput,
      FormRow,
      DatesWrapper,
      Location,
      Checkbox
    },

    props: {
      isOnline: Boolean,
      title: String,
      errors: {
        type: Object,
        default: () => ({}),
      },
    },
    data() {
      return {
        dateItems: [
          {text: 'wholeDay'},
          {text: '1hour', value: 1},
          {text: '2hour', value: 2},
          {text: '3hour', value: 3},
        ],
        isActive: false
      }
    },
    computed: {
      ...mapGetters({
        session: 'eventEdit/MODAL_SESSION',
        EVENT: 'eventEdit/EVENT',
      }),
      timezone() {
        return { name: this.session.timezone }
      },
      data: () => ({
        location: null,
      }),
      location() {
        if (this.session.location && this.session.location.address.format === 'google') {
          return {
            name: this.session.location.title,
            place_id: this.session.location.id,
            geometry: {
              location: this.session.location.geometry,
            },
          }
        }

        const name =  this.session.location ? this.session.location.address_display : ''
        return {name}
      },
      city() {
        return this.session.city
      },
      sessionsDateTime() {
        return this.session.results.map(s => {
          const start_date = s.start_date ? s.start_date: "1970-01-01"
          const start_time = s.start_time ? s.start_time: '08:00'
          const end_date = s.end_date ? s.end_date: null
          const end_time = s.end_time ? s.end_time: null

          const startDateTime = parseISO(`${start_date} ${start_time}`)
          const endDateTime = end_date && end_time? parseISO(`${end_date} ${end_time}`): ''
          return {
            id: s.id,
            period: [startDateTime, endDateTime],
            timezone: this.isOnline
                ? {
                  name: s.timezone,
                }
                : null,
          }
        })
      },
    },
    beforeDestroy() {
      this.restoreServerErrors()
      this.restoreEventServerErrors()
    },
    methods: {
      ...mapActions({
        updateModalSession: 'eventEdit/updateModalSession',
        restoreServerErrors: 'eventEdit/restoreModalSessionServerErrorrs',
        restoreEventServerErrors: 'event/restoreEventEditServerErrorrs',
        loadEventEdit: 'eventEdit/loadEventEdit',
        TOGGLE_POPOVER: 'popovers/TOGGLE_POPOVER',
      }),
      loadSessionsDateTime() {
        return this.session.results.map(s => {
          const start_date = s.start_date ? s.start_date: "1970-01-01"
          const start_time = s.start_time ? s.start_time: '00:00'
          const end_date = s.end_date ? s.end_date: "9999-12-31"
          const end_time = s.end_time ? s.end_time: '23:59'

          const startDateTime = parseISO(`${start_date} ${start_time}`)
          const endDateTime = parseISO(`${end_date} ${end_time}`)

          return {
            id: s.id,
            period: [startDateTime, endDateTime],
            timezone: this.isOnline
                ? {
                  name: s.timezone,
                }
                : null,
          }
        })
      },
      setDate(session, idx) {
        if (!this.session.results[0].start_date) return
        const item = this.dateItems[idx]
        if (this.isActive === item.text) {
          this.isActive = false
          return false
        }
        const {period} = session
        const start = this.$moment(period[0])
        const end =  this.$moment(period[0])
        if (item.text === 'wholeDay') {
          start.set({h: 8, m: 0})
          end.set({h: 20, m: 0})
        } else if (item.value) {
          end.add(item.value, 'hours')
        }
        this.isActive = item.text
        const buffPeriod = [start.format(`YYYY-MM-DDTHH:mm`), end.format(`YYYY-MM-DDTHH:mm`)]
        this.updatePeriod(session, buffPeriod)
      },
      updatePeriod(session, period) {
        const periodOld =  [...session.period]
        periodOld[0] = format(periodOld[0], `yyyy-MM-dd'T'HH:mm`)
        periodOld[1] = periodOld[1] ?format(periodOld[1], `yyyy-MM-dd'T'HH:mm`) : periodOld[1]
        if(JSON.stringify(period) === JSON.stringify(periodOld)) {
          return false
        }
        const results = [...this.session.results]

        const resultSessionIdx = results.findIndex(({ id }) => id === session.id)

        const start = parse(period[0], `yyyy-MM-dd'T'HH:mm`, new Date())
        const end = period[1]? parse(period[1], `yyyy-MM-dd'T'HH:mm`, new Date()) : ''
        results[resultSessionIdx] = {
          ...results[resultSessionIdx],
          start_date: format(start, 'yyyy-MM-dd'),
          start_time: format(start, 'HH:mm:ss'),
          end_date: end? format(end, 'yyyy-MM-dd') : '',
          end_time: end? format(end, 'HH:mm:ss'): '',
        }
        this.updateModalSession({
          session: {
            ...this.session,
            results,
          },
        })
      },
      updateDateTimeTimezone(session, timezone) {
        const results = [...this.session.results]

        const resultSessionIdx = results.findIndex(({ id }) => id === session.id)

        results[resultSessionIdx] = {
          ...results[resultSessionIdx],
          timezone: timezone.name,
        }

        this.updateModalSession({
          session: {
            ...this.session,
            results,
          },
        })
      },
      updateCity(city) {
        this.updateModalSession({
          session: {
            ...this.session,
            city,
          },
        })
      },
      updateLocation(location) {
        if (!location) {
          this.updateModalSession({
            session: {
              ...this.session,
              location: null,
            },
          })
        } else {
          this.updateModalSession({
            session: {
              ...this.session,
              location: {
                ...this.session.location,
                ...prepareLocation({ location }),
                id: null,
              },
            },
          })
        }
      },
      updateTimeZone(timezone) {
        this.updateModalSession({
          session: {
            ...this.session,
            timezone: prop('name', timezone) || '',
          },
        })
      },
    },
  }
</script>

<style lang="scss">
  .flex{
    .dtpicker {
      input{
        height: 64px!important;
        padding: 16px 24px!important;
      }
    }
  }
</style>

<style lang="scss" scoped>
  @import '~/assets/css/variables.scss';

  .session-edit {
    max-width: 856px;
    width: 70%;
    @media (max-width: $sideShow) {
      width: 60%;
    }
    @media (max-width: $desktopHD) {
      width: 57%;
    }
    @media (max-width: $desktopSD) {
      width: 100%;
    }
    .title{
      margin: 38px 0;
    }
    .complex {
      font-size: 16px;
      font-weight: normal;
      color: #0070ff;
      margin-bottom: 47px;
      margit-top: 20px;
    }
    .setDate {
      display: flex;
      .setDate-item {
        width: 152px;
        height: 48px;
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        font-weight: normal;
        background-color: #eff1f4;
      }
      .active{
        background-color: #000000;
        color: #ffffff;
      }
    }
    &__periods {
      margin-bottom: 40px;

      &--online {
        margin-bottom: 20px;
      }
    }

    &__timezone {
      /*margin-bottom: 60px;*/
    }

    &__location {
      margin-bottom: 48px;
    }

    &__attention {
      text-align: center;
    }

    &__controls {
      margin-top: 56px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__control-cancel {
      margin-top: 24px;
      color: $blue;

      &:hover {
        text-decoration: underline;
      }
    }
  }
</style>