<template>
  <div class="categories-filter">
    <div class="title">
      <div class="title__icon ww-icn-bookmark-o"></div>
      <div class="title__label">
        {{ $t('search.categories.tags') }}
      </div>
    </div>

    <ul class="categories-filter__tags">
      <li
        v-for="item in checkedOptions"
        :key="`check` + item.slug"
        class="checkbox"
      >
        <label>
          <input
            :checked="check(item)"
            :value="item.slug"
            type="checkbox"
            @change="handleChange(item)"
          />
          <span class="checkbox__label">
            {{ item.title }}
            <span class="checkbox__icon ww-icn-plus"></span>
          </span>
        </label>
      </li>
      <li class="checkbox">
        <label>
          <input
            :checked="!value.length"
            type="radio"
            :value="[]"
            @change="handleAll"
          />
          <span class="checkbox__label">
            {{ $t('search.categories.all') }}
          </span>
        </label>
      </li>
      <li v-for="item in uncheckedOptions" :key="item.slug" class="checkbox">
        <label>
          <input
            :checked="check(item)"
            :value="item.slug"
            type="checkbox"
            @change="handleChange(item)"
          />
          <span class="checkbox__label">
            {{ item.title }}
            <span class="checkbox__icon ww-icn-plus"></span>
          </span>
        </label>
      </li>
    </ul>
  </div>
</template>

<script>
import { differenceWith } from 'ramda'

export default {
  props: {
    value: {
      type: Array,
      required: true,
    },
    options: {
      type: Array,
    },
    label: {
      type: String,
    },
  },
  computed: {
    checkedOptions() {
      const slugs = this.value.map(el => el.slug)
      return this.options.filter(el => slugs.includes(el.slug))
    },
    uncheckedOptions() {
      const compare = (a, b) => a.slug === b.slug
      return differenceWith(compare, this.options, this.value)
    },
  },
  methods: {
    handleChange(item) {
      const index = this.value.findIndex(element => element.slug === item.slug)
      const newValue =
        index === -1
          ? this.value.concat(item)
          : this.value.filter(element => element.slug !== item.slug)
      this.$emit('input', newValue)
    },
    handleAll() {
      this.$emit('input', [])
    },
    check(item) {
      return ~this.value.findIndex(element => element.slug === item.slug)
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.categories-filter {
  order: 1;
  margin-bottom: 16px;
  @media (min-width: 768px) {
    order: 2;
    margin-left: 16px;
  }
  &__tags {
    display: grid;
    grid-gap: 8px;
    grid-template-columns: max-content;
    grid-auto-flow: column;
    padding-bottom: 8px;

    overflow-x: auto;
    @media (min-width: $desktopSD) {
      grid-auto-flow: row;
    }
  }

  .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    margin-bottom: 16px;
    &__icon {
      color: $blue;
      margin-left: -4px;
      margin-right: 12px;
    }
    &__label {
      font-weight: bold;
    }
  }

  .checkbox {
    width: max-content;

    input {
      display: none;
    }
    input:checked + .checkbox__label {
      background-color: black;
      color: white;
      font-weight: bold;
      .checkbox__icon {
        opacity: 0;
      }
    }

    &__label {
      display: grid;
      grid-template-columns: auto 1fr;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      min-height: 40px;
      max-width: 208px;
      background-color: white;
      color: black;
      cursor: pointer;
      padding: 8px 16px;

      &:hover {
        color: white;
        background-color: $blue;
      }
    }

    &__icon {
      @include text(1.5);
      padding-left: 8px;
      color: $blue;
      &--checked {
        opacity: 0;
      }
    }
  }
}
</style>
