<template>
  <div class="nav">
    <div class="nav__prev" @click.prevent="$emit('prev')">
      <i class="icon ww-icn-arrow-right" />
    </div>
    <div class="nav__next" @click.prevent="$emit('next')">
      <i class="icon ww-icn-arrow-right" />
    </div>
  </div>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;

  &__prev,
  &__next {
    width: $base * 8;
    height: $base * 8;
    color: #fff;
    background: $blue;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: $base;

    .icon {
      @include text(3.25);
      line-height: 17px;
    }
  }
  &__prev {
    transform: rotate(180deg);
    position: relative;

    &:before {
      content: '';
      background: $blue;
      width: 9999px;
      height: 1px;
      position: absolute;
      left: 100%;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  @media (max-width: $desktopHD) {
    &__prev,
    &__next {
      width: $base * 7;
      height: $base * 7;
    }
  }
}
</style>
