<template>
  <div class="goals grid">
    <p class="goal grid__item">
      <span class="goal__icon grid__icon">
        <i class="icon ww-icn-clock-circle" />
      </span>
      <span class="grid__content">
        <span class="goal__title" v-text="data.time" />
        <span class="goal__label" v-text="data.timeLabel" />
      </span>
    </p>
    <p class="goal grid__item">
      <span class="goal__icon grid__icon">
        <i class="icon ww-icn-currency-circle" />
      </span>
      <span class="grid__content">
        <span class="goal__title" v-text="data.price" />
        <span class="goal__label" v-text="data.priceLabel" />
      </span>
    </p>
  </div>
</template>

<script>
export default {
  props: {
    data: {
      type: Object,
      required: true,
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';
@import './index.scss';

.goals {
  margin-top: -$base;

  .goal {
    &__icon {
      font-size: $base * 3;
    }

    &__title {
      @include text(4);
      line-height: 1;
      white-space: nowrap;
      display: block;
      margin-bottom: $base;
    }
    &__label {
      font-weight: bold;
      display: block;
    }
  }

  @media (max-width: $desktopHD) {
    margin-top: $base * 0.75;

    .icon {
      @include text(2);
      line-height: $base * 4;
    }
  }
  @media (max-width: $desktopSD) {
    padding: 0;
    margin: ($base * 0.75) 0 0;

    .goal {
      margin: 0;
      padding: 0;
      flex: none;

      &:first-child {
        width: ratio($base * 42.75, 740px);
        padding-left: ratio($base * 4.5, $base * 42.75);
      }

      + .goal {
        padding-left: $base * 1.25;
      }

      &__title {
        margin-bottom: $base * 0.25;
      }

      &__icon {
        width: $base * 2.5;
        margin-right: $base * 2;

        .icon {
          @include text(2.5);
        }
      }
    }
  }
  @media ($mobile) {
    &.goals {
      margin: 0;
      flex-direction: column;
    }

    .goal {
      &.goal {
        padding: 0;
        margin: 0 0 ($base * 2);
        width: 100%;
      }

      &__title {
        @include text(3);
        font-weight: bold;
        margin-bottom: 0;
      }
    }
  }
}
</style>
