<template>
  <div class="case-content -en">
    <h3 class="title" v-text="data.title" />

    <dl class="terms">
      <template v-for="{ title, text } in data.terms">
        <dt :key="title" class="terms__title" v-text="`${title}:`" />
        <dd :key="text" class="terms__text" v-html="text" />
      </template>
    </dl>

    <div class="table">
      <table>
        <thead>
          <tr>
            <th
              v-for="(text, idx) in data.table.head"
              :key="`${idx}-${text}`"
              v-text="text"
            />
          </tr>
        </thead>
        <tbody>
          <tr v-for="(row, idx) in data.table.body" :key="idx">
            <td
              v-for="(text, idx2) in row"
              :key="`${idx2}-${text}`"
              v-text="text"
            />
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td
              v-for="(text, idx) in data.table.foot"
              :key="`${idx}-${text}`"
              v-text="text"
            />
          </tr>
        </tfoot>
      </table>
    </div>

    <CasesNav @next="$emit('next')" @prev="$emit('prev')" />
  </div>
</template>

<script>
import { splitNumberBy3 } from '~/utils'
import CasesNav from './CasesNav'

export default {
  components: {
    CasesNav,
  },
  props: {
    name: {
      type: String,
      required: true,
    },
    data: {
      type: Object,
      required: true,
    },
    plan: {
      type: Object,
      required: true,
    },
  },
  computed: {
    price() {
      return `${this.currencySymbol}${splitNumberBy3(this.plan.price)}`
    },
    currencySymbol() {
      return this.plan.rule.currency_symbol
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.case-content {
  position: relative;

  > * {
    margin-top: 0;
    margin-bottom: 0;
  }

  .title {
    @include text(5);
    margin-bottom: $base * 3.75;
  }

  .terms {
    margin-bottom: $base * 6;

    display: flex;
    flex-wrap: wrap;

    $title-width: $base * 11;
    &__title {
      flex: 0 0 $title-width;
      min-width: $title-width;
      text-align: right;
      font-weight: bold;
    }
    &__text {
      margin-left: 0;
      padding-left: $base * 3;
      flex: 1 1 calc(100% - #{$title-width});
    }

    @media ($mobile) {
      &__title {
        flex: 1 0 100%;
        text-align: left;
      }
      &__text {
        flex: 1 0 100%;
        padding-left: 0;
        margin-bottom: $base;
      }
    }
  }

  .table {
    margin-bottom: $base * 4;
    max-height: $base * 44;

    width: 100%;
    overflow: auto;
    display: block;

    table {
      width: 100%;
      border-collapse: collapse;
    }
    thead,
    tfoot {
      border-top: 2px solid $blue;
      font-weight: bold;
    }
    thead {
      border-bottom: 2px solid $blue;

      th:first-child {
        white-space: nowrap;
      }
    }
    tfoot {
      color: $blue;
    }
    tbody {
      tr:nth-child(even) td {
        background: #fff;
      }
    }
    th,
    td {
      padding: $base ($base * 3);
      text-align: left;

      &:not(:first-child) {
        text-align: right;
      }
      &:last-child {
        padding-right: $base * 7.375;
      }
    }
  }
}
</style>
