<template>
  <div class="case-content -ru">
    <div class="bg-image">
      <img :src="require(`~/assets/images/business/slides/${name}.svg`)" />
    </div>
    <p class="type" v-text="data.type" />
    <h3 class="title" v-text="data.title" />

    <div class="buttons">
      <SocialButton
        v-for="social in socials"
        :key="social"
        :variant="social"
        small
      />
    </div>

    <p class="subtitle" v-text="data.subtitle" />

    <ul class="terms grid">
      <li class="term grid__item">
        <span class="term__icon grid__icon">
          <i
            :class="{
              'ww-icn-people': name === 'one',
              'ww-icn-family': name === 'two',
              'ww-icn-lead': name === 'three',
            }"
            class="icon"
          />
        </span>
        <span class="grid__content" v-text="data.terms.audience" />
      </li>
      <li class="term grid__item">
        <span class="term__icon grid__icon">
          <i class="icon ww-icn-map-marker" />
        </span>
        <span class="grid__content" v-text="data.terms.location" />
      </li>
      <li class="term grid__item">
        <span class="term__icon grid__icon">
          <i
            :class="{
              'ww-icn-star': name !== 'three',
              'ww-icn-team': name === 'three',
            }"
            class="icon"
          />
        </span>
        <span class="grid__content" v-text="data.terms.interests" />
      </li>
      <li class="term grid__item">
        <span class="term__icon grid__icon">
          <i
            :class="{
              'ww-icn-hat': name === 'one',
              'ww-icn-child': name === 'two',
              'ww-icn-tour': name === 'three',
            }"
            class="icon"
          />
        </span>
        <span class="grid__content" v-text="data.terms.additional" />
      </li>
    </ul>

    <CasesNav class="nav" @next="$emit('next')" @prev="$emit('prev')" />

    <CaseGoals :data="data" class="goals" />
  </div>
</template>

<script>
import SocialButton from '~/components/common/buttons/SocialButton'
import CasesNav from './CasesNav'
import CaseGoals from './CaseGoals'

export default {
  components: {
    SocialButton,
    CasesNav,
    CaseGoals,
  },
  inheritAttrs: false,
  props: {
    name: {
      type: String,
      required: true,
    },
    data: {
      type: Object,
      required: true,
    },
  },
  computed: {
    socials() {
      return ['instagram', 'fb', 'vk', 'tw']
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';
@import './index.scss';

.case-content {
  position: relative;

  > * {
    margin-top: 0;
    margin-bottom: 0;
  }

  .bg-image {
    position: absolute;
    z-index: -1;
    top: 0;
    right: $base * 3;

    img {
      display: block;
      max-width: 100%;
      height: auto;
    }
  }

  .type {
    @include text(3);
    margin-bottom: $base * 1.5;
  }
  .title {
    @include text(5);
    margin-bottom: $base * 5.25;
  }
  .buttons {
    margin-bottom: $base * 4.25;
    display: flex;
    align-items: center;

    > * {
      margin-right: $base;
    }
  }
  .subtitle {
    @include text(3);
    margin-bottom: $base * 4.5;
  }

  .terms {
  }
  .term {
    .icon {
      &.ww-icn-people,
      &.ww-icn-lead {
        font-size: $base * 3;
      }
      &.ww-icn-hat,
      &.ww-icn-family,
      &.ww-icn-child {
        font-size: $base * 2.5;
      }
      &.ww-icn-map-marker,
      &.ww-icn-star,
      &.ww-icn-team,
      &.ww-icn-tour {
        font-size: $base * 2;
      }
    }
  }

  .nav {
    margin-top: -$base;
  }

  @media (max-width: $sideShow) {
    .type {
      @include text(2);
      margin-bottom: $base * 1.75;
    }
    .title {
      margin-bottom: $base * 4.25;
    }
    .buttons {
      margin-bottom: $base * 5.5;
    }
    .subtitle {
      margin-bottom: $base * 4.5;
    }
  }
  @media (max-width: $desktopHD) {
    .title {
      @include text(4);
      margin-bottom: $base * 2.25;
    }
    .buttons {
      margin-bottom: $base * 3.25;
    }

    .nav {
      margin-top: -($base * 2.5);
    }
  }
  @media (max-width: $desktopSD) {
    .title {
      margin-bottom: $base * 1.25;
    }
    .buttons {
      margin-bottom: $base * 4;
    }
    .subtitle {
      @include text(2);
      font-weight: bold;
      margin-bottom: $base * 3;
    }
    .terms {
      margin-left: 0;
      flex-direction: column;
    }
    .term {
      padding-left: 0;
      margin-bottom: $base * 0.2;

      &:nth-child(2) {
        order: 3;
      }
      &:nth-child(3) {
        order: 2;
      }
      &:nth-child(4) {
        order: 4;
      }

      &__icon {
        width: $base * 2.5;
        margin-right: $base * 2;

        .icon {
          @include text(2.5);
        }
      }
    }

    .nav {
      margin-top: $base * 2.75;
    }
  }
  @media (min-width: 426px) and (max-width: $desktopSD) {
    .goals {
      display: none;
    }
  }
  @media ($mobile) {
    .term {
      padding-left: 0;
      margin-bottom: $base * 2.25;
    }
    .nav {
      margin-top: $base;
    }
  }
}
</style>
