<template>
  <div class="case">
    <div class="case__columns">
      <div class="case__slides">
        <div class="slides">
          <SocialSlides :name="name" :autoplay="isActive" />
        </div>
      </div>

      <component
        :is="contentComponent"
        :name="name"
        :data="data"
        :plan="plan"
        class="case__content"
        @next="$emit('next')"
        @prev="$emit('prev')"
      />
    </div>
    <CaseGoals v-if="LANG === 'ru'" :data="data" class="case__goals" />
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import SocialSlides from './SocialSlides'
import CaseGoals from './CaseGoals.vue'

export default {
  components: {
    SocialSlides,
    CaseGoals,
    CaseContentRu: () => import('./CaseContentRu'),
    CaseContent: () => import('./CaseContent'),
  },
  props: {
    name: {
      type: String,
      required: true,
    },
    data: {
      type: Object,
      required: true,
    },
    isActive: Boolean,
    plan: Object,
  },
  computed: {
    ...mapGetters('lang', ['LANG']),

    contentComponent() {
      switch (this.LANG) {
        case 'ru':
          return 'CaseContentRu'
        case 'en':
        case 'es':
        default:
          return 'CaseContent'
      }
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.case {
  &__columns {
    display: flex;
    align-items: flex-start;
  }

  $container-width: 1250px;
  $slides-width: $base * 58;
  &__slides {
    flex: 0 0;
    $width: ratio($slides-width, $container-width);
    flex-basis: $width;
    max-width: $width;
  }
  &__content {
    flex: 0 0;
    $width: ratio($container-width - $slides-width, $container-width);
    flex-basis: $width;
    max-width: $width;
    margin-top: $base * 11.5;
    padding-left: $base * 2;

    &:not(.-ru) {
      margin-top: $base * 7.25;
    }
  }

  @media ($mobile), (min-width: $desktopSD + 1) {
    &__goals {
      display: none !important;
    }
  }

  @media (max-width: $sideShow) {
    $container-width: 1190px;
    $slides-width: $base * 55;
    &__slides {
      $width: ratio($slides-width, $container-width);
      flex-basis: $width;
      max-width: $width;
    }
    &__content {
      $width: ratio($container-width - $slides-width, $container-width);
      flex-basis: $width;
      max-width: $width;

      margin-top: $base * 9.75;
      padding-left: $base * 2.75;
    }
  }
  @media (max-width: $desktopHD) {
    $container-width: 980px;
    $slides-width: $base * 42.75;
    &__slides {
      $width: ratio($slides-width, $container-width);
      flex-basis: $width;
      max-width: $width;
      overflow: hidden;

      .slides {
        margin-left: -13px;
      }
    }
    &__content {
      $width: ratio($container-width - $slides-width, $container-width);
      flex-basis: $width;
      max-width: $width;

      margin-top: $base * 6;
      padding-left: $base * 2.25;
    }
  }
  @media (max-width: $desktopSD) {
    $container-width: 750px;
    $slides-width: $base * 42.75;
    &__slides {
      $width: ratio($slides-width, $container-width);
      flex-basis: $width;
      max-width: $width;
    }
    &__content {
      $width: ratio($container-width - $slides-width, $container-width);
      flex-basis: $width;
      max-width: $width;

      margin-top: $base * 10;
      padding-left: $base * 1.25;
    }
  }
  @media ($mobile) {
    &__columns {
      flex-direction: column;
      align-items: normal;
    }
    &__slides {
      min-width: 100%;
      flex: none;
      overflow: visible;

      .slides {
        margin: 0;
        height: $base * 33;
        overflow: hidden;
      }
    }
    &__content {
      min-width: 100%;
      flex: none;
      margin-top: $base * 5.75;
      padding: 0 ($base * 2);
    }
  }
}
</style>
