/*@import '~/assets/css/variables.scss';*/

$item-width: $base * 42;
$space-between: $base * 10;
$total-width: ($space-between * 2) + ($item-width * 2);
.grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -(ratio($space-between, $total-width));
  /*margin-left: -$space-between;*/

  &__item {
    padding-left: ratio($space-between, $total-width);
    /*padding-left: $space-between;*/
    flex: 0 1 ratio($item-width, $total-width);
    margin: 0 0 ($base * 3);
    display: flex;
  }

  &__icon {
    color: $blue;
    width: $base * 4.5;
    margin-right: $base * 2.25;
    text-align: center;

    .icon {
      $line-height: $base * 2;
      line-height: $line-height;
      display: inline-block;
      vertical-align: middle;
    }
  }
  &__content {
    flex: 1;
  }
}

@media (max-width: $sideShow) {
  $space-between: $base * 4;
  $total-width: ($space-between * 2) + ($item-width * 2);
  .grid {
    margin-left: -(ratio($space-between, $total-width));
    /*margin-left: -$space-between;*/

    &__item {
      padding-left: ratio($space-between, $total-width);
      /*padding-left: $space-between;*/
    }
    &__icon {
      width: $base * 3.5;
      margin-right: $base * 2.5;
    }
  }
}
@media (max-width: $desktopHD) {
  $item-width: $base * 43;
  $space-between: $base * 3;
  $total-width: ($space-between * 2) + ($item-width * 2);
  .grid {
    margin-left: -(ratio($space-between, $total-width));
    /*margin-left: -$space-between;*/

    &__item {
      padding-left: ratio($space-between, $total-width);
      /*padding-left: $space-between;*/
    }
    &__icon {
      width: $base * 3.5;
      margin-right: $base * 1.5;
    }
  }
}
