<template>
  <div class="social-slides">
    <div class="social-slides__content">
      <div class="social-slides__backstage">
        <img
          v-for="social in socials"
          :key="social"
          :src="
            require(`~/assets/images/business/slides/${LANG}/slide-${slideNum}-${social}.jpg`)
          "
        />
      </div>
      <div class="social-slides__bg">
        <div
          ref="slides"
          class="slides"
          @mouseover="stop()"
          @mouseout="start()"
        >
          <img
            v-for="social in socials"
            :key="social"
            :src="
              require(`~/assets/images/business/slides/${LANG}/slide-${slideNum}-${social}.jpg`)
            "
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Siema from 'siema'
import { mapGetters } from 'vuex'

export default {
  props: {
    name: {
      type: String,
      required: true,
    },
    autoplay: {
      type: Boolean,
    },
  },
  computed: {
    ...mapGetters('lang', ['LANG']),

    socials() {
      return this.LANG === 'ru'
        ? ['fb', 'inst', 'vk', 'ww']
        : ['fb', 'inst', 'ww']
    },

    slideNum() {
      switch (this.name) {
        case 'one':
          return 1
        case 'two':
          return 2
        case 'three':
          return 3
        default:
          return 1
      }
    },
  },
  watch: {
    slideNum: 'reinitSlides',
    LANG: 'reinitSlides',
    autoplay() {
      if (this.autoplay) {
        this.start()
      } else {
        this.stop()
      }
    },
  },
  mounted() {
    this.initSlides()
  },
  beforeDestroy() {
    this.destroySlides()
  },
  methods: {
    initSlides() {
      this.siema = new Siema({
        selector: this.$refs.slides,
        duration: 300,
        easing: 'ease-out',
        perPage: 1,
        startIndex: 0,
        draggable: false,
        multipleDrag: true,
        loop: true,
        threshold: 20,
        onInit: () => this.$emit('init', this.siema),
        onChange: () => this.$emit('change', this.siema.currentSlide),
      })

      this.autoplay && this.start()
    },
    start() {
      if (this.siema && !this.interval) {
        this.interval = setInterval(() => this.siema.next(), 3000)
      }
    },
    stop() {
      this.interval && clearInterval(this.interval)
      this.interval = null
    },
    destroySlides() {
      this.stop()
      this.siema && this.siema.destroy()
      this.siema = null
    },
    reinitSlides() {
      this.destroySlides()
      this.initSlides()
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.social-slides {
  width: 100%;
  $container-width: 465px;
  $container-height: 715px;

  &__content {
    height: 0;
    padding-top: ratio($container-height, $container-width);
    position: relative;
  }

  &__backstage {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;

    img {
      display: block;
      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.16);

      &:nth-child(1) {
        z-index: 1;
        position: absolute;
        top: ratio(171px, $container-height);
        left: ratio(17px, $container-width);
        height: ratio(367px, $container-height);
      }
      &:nth-child(2) {
        z-index: 2;
        position: absolute;
        top: ratio(143px, $container-height);
        left: ratio(49px, $container-width);
        height: ratio(422px, $container-height);
      }
      &:nth-child(3) {
        z-index: 3;
        position: absolute;
        top: ratio(122px, $container-height);
        left: ratio(81px, $container-width);
        height: ratio(464px, $container-height);
      }
      // hide next all
      &:nth-child(n + 4) {
        display: none;
      }
    }
  }

  &__bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;

    background: url('~assets/images/business/iphone-mockup2.png') no-repeat
      center center / cover transparent;
    @media #{mq-resolution(2)} {
      background-image: url('~assets/images/business/iphone-mockup2@2x.png');
    }
    @media #{mq-resolution(3)} {
      background-image: url('~assets/images/business/iphone-mockup2@3x.png');
    }
  }

  .slides {
    position: absolute;
    top: ratio(107px, $container-height);
    left: ratio(133px, $container-width);
    width: ratio(281px, $container-width);
    height: ratio(498px, $container-height);

    border-radius: 3px;
    overflow: hidden;
    background: #fff;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}
</style>
