<template>
  <WithTransition v-if="display">
    <div class="order-card" @click.self="$emit('click', order.id)">
      <div
        class="head"
        :class="{'hasActions': hasActions}"
        @click.self="$emit('click', order.id)"
      >
        <div
          class="left"
          @click="$emit('click', order.id)"
        >{{ created }}<template v-if="type">.</template>
          <span class="type"> {{ type }} {{ city }} </span>
        </div>
        <Status
          class="status right"
          :order="order"
          @click="$emit('click', order.id)"
        />
        <Actions
          v-if="hasActions"
          class='actions'
          :order="order"
        />
      </div>
      <div class="body" @click="$emit('click', order.id)">
        <div class="left title">{{ title }}</div>
        <div
          v-if="replies && isMyOrder"
          class="right responses"
        >{{ replies }}&nbsp;{{ $tc('marketplace.responses', replies) }}
        </div>
      </div>
    </div>
  </WithTransition>
</template>
<script>
  import { mapGetters } from 'vuex'
  import { prop, path } from "ramda"
  import Status from '../Status'
  import Actions from '../Actions'

  export default {
    name: 'OrderCard',
    components: {
      Status,
      Actions,
      WithTransition: () => import('~/components/common/WithTransition'),
    },
    props: {
      order: {
        type: Object,
        required: true,
      }
    },
    data (){
      return {
        display: true
      }
    },
    computed: {
      ...mapGetters('user', ['GET_USER']),
      ...mapGetters('marketplace/order', ['DELETED_ORDER']),
      title (){
        return prop('title', this.order) || ''
      },
      type() {
        return path(['type', 'title'], this.order)
      },
      city() {
        return path(['city', 'title'], this.order)
      },
      replies(){
        return prop('replies_count', this.order) || 0
      },
      created() {
        const created = prop('created', this.order) ? this.$moment(this.order.created): null
        if (!created){
          return ''
        }
        const now = this.$moment()

        const format = {
          sameDay: `[${this.$t('common.today')}], LT`,
          nextDay: `[${this.$t('common.tomorrow')}], LT`,
          nextWeek: 'dddd',
          lastDay: `[${this.$t('common.yesterday')}], LT`,
          lastWeek: 'D MMMM, YYYY',
          sameElse: 'D MMMM, YYYY'
        }
        return created.calendar(now, format)
      },
      createdById() {
        return path(['created_by', 'id'], this.order) || prop('created_by', this.order)
      },
      isMyOrder() {
        return !!this.GET_USER && this.GET_USER.id === this.createdById
      },
      hasActions() {
        return this.isMyOrder && this.order.status === 0
      },
    },
    watch: {
      async DELETED_ORDER() {
        if (this.DELETED_ORDER === this.order.id) {
          this.$nextTick(() => {
            this.display = false
          })
        }
      },
    },
  }
</script>
<style lang="scss" scoped>
  @import '~/assets/css/variables.scss';
  .order-card {
    box-shadow: 0 3px 15px 0 rgba(184, 184, 192, 0.16);
    background-color: #ffffff;
    padding: ($base * 3) ($base * 3) ($base * 2.375) ($base * 5);
    display: flex;
    flex-direction: column;
    cursor: pointer;

    .type {
      color: $blue;
    }
    .head {
      position: relative;
      display: flex;
      flex: 1;
      align-items: baseline;

      &.hasActions{
        padding-right: 66px;
      }

      .actions {
        position: absolute;
        right: 0;
        top: 9px;
      }

      @media(max-width: $desktopSD) {
        @include text(1.5);
        flex-direction: column;
        &.hasActions{
          padding-right: 44px;
        }

        .status {
          margin-left: 0;
        }
        .actions {
          top: 0;
        }
      }

      @media($mobile) {
        @include text(1.25);
      }
    }

    .body {
      display: flex;
      flex: 1;
      align-items: flex-end;
      margin-top: $base * 0.5;

      @media(max-width: $desktopSD) {
        flex-direction: column;
        margin-top: 0;
      }

      .title {
        @include text(3);
        font-weight: bold;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow-wrap: break-word;
        max-width: 95%;

        @media(max-width: $desktopSD) {
          @include text(2);
          -webkit-line-clamp: 3;
        }
      }
      .responses {
        white-space: nowrap;
        margin-left: 45px;
        align-self: flex-end;

        @media(max-width: $desktopSD) {
          @include text(1.5);
        }
        @media($mobile) {
          @include text(1.25);
        }
      }
    }

    .left {
      margin-right: auto;
    }

    .right {
      margin-left: auto;
    }
  }
</style>