<i18n>
{
  "ru": {
    "placeholder": "Выберите вариант"
  },
  "en": {
    "placeholder": "Choose an option"
  },
  "es": {
    "placeholder": "Elige una opcion"
  }
}
</i18n>

<template>
  <div class="root">
    <span v-if="name" class="root__label">{{ name }}</span>

    <VueMultiSelect
      :class="[
        'multi-select', 
        hasError && 'multi-select--error', 
        variant && `multi-select--v-${variant}`
      ]"
      :options="options"
      :placeholder="placeholder"
      :label="label"
      :track-by="trackBy"
      :loading="isLoading"
      selectGroupLabel
      selectLabel
      selectedLabel
      deselectLabel
      :showNoOptions="false"
      :searchable="searchable"
      :internalSearch="internalSearch"
      v-bind="$attrs"
      :value="value"
      @search-change="asyncFind"
      @close="$emit('blur')"
      v-on="$listeners"
    >
      <span slot="noResult">{{ $t('validation.noRes') }}</span>
      <slot v-for="slot in Object.keys($slots)" :slot="slot" :name="slot" />
      <template v-for="slot in Object.keys($scopedSlots)" :slot="slot" slot-scope="scope">
        <slot :name="slot" v-bind="scope" />
      </template>
    </VueMultiSelect>
  </div>
</template>

<script>
import VueMultiSelect from 'vue-multiselect'
import { debounce } from '~/utils'

export default {
  name: 'FormSelect',

  components: {
    VueMultiSelect,
  },

  inheritAttrs: false,

  props: {
    placeholder: {
      type: String,
      default() {
        return this.$t('placeholder')
      },
    },
    hasError: {
      type: Boolean,
      default: false,
    },
    name: {
      type: String,
    },
    trackBy: {
      type: String,
      default: 'id',
    },
    options: {
      type: Array,
      default: () => [],
    },
    searchAction: String,
    searchParams: Object,
    label: String,
    value: [String, Object, Array],
    autocompleteOff: Boolean,
    searchable: {
      type: Boolean,
      default: true,
    },
    internalSearch: {
      type: Boolean,
      default: false,
    },
    loading: Boolean,
    variant: {
      type: String,
      validator: v => ['string', 'bordered'].indexOf(v) !== -1,
    },
  },

  data: () => ({
    asyncLoading: false,
  }),

  computed: {
    isLoading() {
      return this.loading || this.asyncLoading
    },
  },

  mounted() {
    this.autocompleteOff && this.turnAutocompleteOff()
  },
  methods: {
    asyncFind: debounce(async function(v) {
      if (!this.searchAction) return
      this.asyncLoading = true
      let response = null

      if (this.searchParams) {
        response = await this.$store.dispatch(this.searchAction, {
          search: v,
          ...this.searchParams,
        })
      } else {
        response = await this.$store.dispatch(this.searchAction, v)
      }

      this.$emit('asyncSearch', response)
      this.asyncLoading = false
    }, 300),
    turnAutocompleteOff() {
      // https://developer.mozilla.org/en-US/docs/Web/Security/Securing_your_site/Turning_off_form_autocompletion
      const input = this.$el.querySelector('input')
      input && input.setAttribute('autocomplete', 'off')
    },
  },
}
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.root {
  width: 100%;
  min-width: 0;

  &__label {
    display: inline-block;
    margin-bottom: 2 * $base;
  }
}

.multi-select /deep/ {
  font-family: $circe;
  color: #000;

  .multiselect__select {
    top: 50%;
    transform: translateY(-50%);

    &::before {
      border-color: $blue transparent transparent;

      @media (min-width: $desktopHD) {
        border-width: 8px 6px 0;
      }
    }
  }

  .multiselect__option--highlight {
    background: $blue;
  }

  .multiselect__input {
    padding: 0;
    margin-bottom: 0;
    box-shadow: none;
    margin-bottom: 8px;
    flex-grow: 1;
    max-width: 100%;
    @include text(2.25);
    line-height: 24px;
    height: 24px;

    &::placeholder {
      color: rgba(black, 0.4);
    }
  }

  .multiselect__tags {
    border-radius: 0;
    padding: 16px 40px 8px 16px;
    border: 0;
    @include text(2.25);
    line-height: 24px;
    display: flex;
    flex-wrap: wrap;

    @media (min-width: $desktopSD) {
      padding: 20px 40px 12px 16px;
    }
  }

  .multiselect__placeholder {
    padding: 0;
    margin-bottom: 8px;
    color: rgba(black, 0.4);
    @include no-text-wrap;
  }

  .multiselect__single {
    @include text(2.25);
    line-height: 24px;
    padding: 0;
  }

  .multiselect__tag {
    margin-bottom: 0.5 * $base;
    background: $blue;
  }

  .multiselect__tag-icon {
    line-height: 3 * $base;

    @media (min-width: $desktopHD) {
      line-height: 5 * $base;
    }

    &::after {
      color: #fff;

      @media (min-width: $desktopHD) {
        font-size: 3.5 * $base;
      }
    }

    &:hover {
      background: $blue;
    }
  }

  .multiselect__spinner {
    height: auto;
    top: 2px;
    right: 2px;
    bottom: 2px;

    &::before,
    &::after {
      border-color: $blue transparent transparent;
    }
  }

  .multiselect__loading-enter-active,
  .multiselect__loading-leave-active {
    transition: none;
  }

  .multiselect__content-wrapper {
    border: 0;
    border-radius: 0;
    box-shadow: 0 0 0 2px rgba($gray, 1);
    transition: 0.3s ease-out;
    z-index: -1;
  }

  .multiselect__option {
    @include text(2.25);
    line-height: 24px;

    @media (min-width: $desktopHD) {
      padding-top: 16px;
      padding-bottom: 16px;
    }
  }
}

.multi-select--error /deep/ {
  .multiselect__tags {
    box-shadow: 0 0 0 2px $red;
    transition: 0.3s ease-out;
  }
}

.multiselect--active /deep/ {
  z-index: 10;

  .multiselect__tags {
    box-shadow: 0 0 0 2px rgba($blue, 1);
    transition: 0.3s ease-out;
  }

  .multiselect__select {
    transform: translateY(-50%) rotateZ(180deg);
  }
}

.multiselect--disabled /deep/ {
  .multiselect__select {
    background: none;

    &::before {
      border-color: $black-gray transparent transparent;
    }
  }
}

.multi-select--v-string /deep/ {
  .multiselect__select {
    width: 24px;

    &::before {
      border-color: #000 transparent transparent;
      border-width: 6px 4px 0;
    }
  }

  .multiselect__tags {
    padding-right: 24px;
    padding-left: 0;
  }
}

.multi-select--v-bordered /deep/ {
  border: solid 1px #000000;
  background-color: #ffffff;

  .multiselect__select {
    width: 24px;

    &::before {
      border-color: #000 transparent transparent;
      border-width: 6px 4px 0;
    }
  }

  .multiselect__tags {
    padding: 17px 24px 16px 26px;
    vertical-align: middle;
    align-items: baseline;
    font-size: 16px;
    width: 100%;

    .multiselect__single {
      margin: 0;
    }
    .multiselect__placeholder {
      margin: 0;
    }
    .multiselect__input {
      margin: 0;
    }
    .multiselect__content-wrapper {
      min-height: 600px;
    }
    .multiselect__tags-wrap {
      display: flex;
      align-items: baseline;
      flex-wrap: wrap;
      align-content: space-around;
      margin-top: $base * -1;

      .multiselect__tag {
        margin-bottom: 0;
        margin-top: $base;
        display: flex;

        .multiselect__tag-icon {
          line-height: 3 * $base;

          @media (min-width: $desktopHD) {
            line-height: 3 * $base;
          }

        }
      }
    }
  }

}
</style>
