<template>
  <div class="for-organizers">
    <form class="for-organizers__form" @submit.prevent>
      <h2 class="form__title">
        Post your event on our website
        <span class="form__title--mark">
          for free
        </span>
      </h2>
      <p class="form__description">
        We help event organizers from all over the world to effortlessly reach
        their target audience and attract the maximum number of attendees to
        their events.
      </p>
      <label>
        <input
          v-model="email"
          placeholder="Your email address"
          class="form__email"
          :class="{ 'form__email--error': $v.$error || serverError }"
        />
        <span v-if="$v.$error" class="form__error">
          <span v-if="!$v.email.required">
            Field is required
          </span>
          <span v-if="!$v.email.email">
            Enter a valid email address
          </span>
        </span>
        <span v-if="serverError" class="form__error">
          {{ serverError }}
        </span>
      </label>
      <div class="form__submit">
        <FlatButton @click="registration">SIGN UP</FlatButton>
      </div>
    </form>

    <picture class="for-organizers__picture">
      <source
        class="for-organizers__cover lazyload blur-up"
        type="image/webp"
        :srcset="
          `${STATIC_PATH}for-organizers/luke-paris.webp 1x,
          ${STATIC_PATH}for-organizers/luke-paris@2x.webp 2x,
          ${STATIC_PATH}for-organizers/luke-paris@3x.webp 3x`
        "
      />
      <img
        class="for-organizers__cover lazyload blur-up"
        :src="`${STATIC_PATH}for-organizers/luke-paris.png`"
        alt="luke-paris"
      />
    </picture>
    <div class="for-organizers__close-button">
      <button
        v-tooltip.auto="$t('popovers.close')"
        @click="$emit('close')"
      >
        <span class="ww-icn-cross"></span>
      </button>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import { path } from 'ramda'

import 'lazysizes'
import 'lazysizes/plugins/attrchange/ls.attrchange'
import 'lazysizes/plugins/blur-up/ls.blur-up'
import { required, email } from 'vuelidate/lib/validators'

export default {
  components: {
    FlatButton: () => import('~/components/common/buttons/FlatButton'),
  },
  data: () => ({
    email: '',
    STATIC_PATH: process.env.STATIC_PATH || '/',
    serverError: '',
    loading: false,
  }),
  watch: {
    email() {
      this.serverError = ''
    },
  },
  validations: {
    email: { required, email },
  },
  methods: {
    ...mapActions({ simpleRegistration: 'auth/SIMPLE_REGISTRATION' }),

    async registration() {
      this.$v.$touch()
      if (!this.$v.$error && !this.loading) {
        try {
          this.loading = true
          await this.simpleRegistration({ email: this.email })
          this.$emit('success')
        } catch (e) {
          this.serverError = path(['email', 0], e)
        } finally {
          this.loading = false
        }
      }
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.for-organizers {
  position: relative;
  background-color: $gray;
  display: grid;
  max-width: 360px;

  @media (min-width: $desktopHD) {
    max-width: 1072px;
    grid-template-columns: 1fr auto;
    box-shadow: 0 3px 40px 0 rgba(0, 112, 255, 0.2);
  }

  &__close-button {
    position: absolute;
    right: 0;
    top: 0;
    height: 48px;
    width: 48px;
    background-color: $blue;
    button {
      height: 100%;
      width: 100%;
      color: white;
    }
  }

  &__form {
    display: grid;
    grid-gap: 16px;
    padding: 16px 16px 32px;
    align-content: start;
    @media (min-width: $desktopHD) {
      grid-gap: 24px;
      padding: 55px 96px 55px 72px;
    }

    .form {
      &__title {
        @include text(3);
        font-weight: bold;
        @media (min-width: $desktopHD) {
          @include text(5);
        }
        &--mark {
          padding: 0 16px;
          background: linear-gradient(
            to bottom,
            transparent 30%,
            #f7ff00 30%,
            #f7ff00 80%,
            transparent 80%
          );
        }
      }
      &__description {
        margin: 0;
      }

      &__email {
        height: 64px;
        box-shadow: 0 10px 30px 0 rgba(209, 220, 234, 0.6);
        background-color: #ffffff;
        @include text(2);
        &--error {
          border: solid 1px $red;
        }
      }
      &__error {
        padding: 4px 16px;
        margin-top: 8px;
        display: inline-block;
        background-color: $red;
        color: white;
        font-weight: bold;
      }
      &__submit {
        button {
          height: 64px;
          width: 100%;
          font-weight: bold;
          letter-spacing: 0.8px;
          padding: 0 48px;
          @media (min-width: $desktopHD) {
            width: unset;
          }
        }
      }
    }
  }
  &__picture {
    grid-row-start: 1;
    @media (min-width: $desktopHD) {
      grid-row-start: unset;
    }
  }

  &__cover {
    height: 200px;
    width: 100%;
    object-fit: cover;
    padding: 0 16px 0;
    @media (min-width: $desktopHD) {
      padding: 10px 10px 0 0;
      max-width: 440px;
      width: 100%;
      height: auto;
    }
  }
}

.blur-up {
  -webkit-filter: blur(5px);
  filter: blur(5px);
  transition: filter 400ms, -webkit-filter 400ms;
}

.blur-up.lazyloaded {
  -webkit-filter: blur(0);
  filter: blur(0);
}
</style>
