<template>
  <ModalContainer>
    <Form
      @success="togglePopover(popovers.simpleRegSucc)"
      @close="togglePopover('')"
    />
  </ModalContainer>
</template>

<script>
import { mapActions } from 'vuex'

import popConsts from '~/utils/popoverConsts'

export default {
  components: {
    ModalContainer: () => import('../ModalContainer'),
    Form: () => import('./Form'),
  },
  props: {
    reg: {
      type: String,
    },
  },
  computed: {
    popovers: () => popConsts,
  },
  methods: {
    ...mapActions({
      togglePopover: 'popovers/TOGGLE_POPOVER',
    }),
  },
}
</script>
