<i18n>
  {
    "ru": {
      "toSupplierPage": "На страницу исполнителя",
      "selectSupplier": "Выбрать исполнителя",
      "assignOrder": "Назначить заявку данному исполнителю",
      "yourChoice": "Ваш выбор"
    },
    "en": {
      "toSupplierPage": "To supplier page",
      "selectSupplier": "Select supplier",
      "assignOrder": "Assign an order to this supplier",
      "yourChoice": "Your choice"
    }
  }
</i18n>
<template>
  <section class="reply">
    <div v-if="displayEditForm" class="reply-edit">
      <EditForm @submit="onReplyEdit"/>
    </div>
    <template v-else>
      <div class="reply-wrapper">
        <div class="avatar-wrap">
          <nuxt-link
            class="to-supplier-link"
            :to="supplierPageRoute"
          >
            <Avatar
              v-tooltip.auto="$t('toSupplierPage')"
              :user="getCreatedBy(reply)"
              size="48"
            />
          </nuxt-link>
        </div>
        <div class="reply-content">
          <div class="title-wrapper" :class="{'hasActions': hasActions}">
            <nuxt-link
              v-tooltip.auto="$t('toSupplierPage')"
              class="to-supplier-link title"
              :to="supplierPageRoute"
            >{{ title }}</nuxt-link>
            <span
              v-if="canSelect"
              v-tooltip.auto="$t('assignOrder')"
              class="status select"
              @click="toggleSelectDialog"
            >{{ $t('selectSupplier') }}</span>
            <span
              v-else-if="replyStatus"
              class="status"
            ><Icon
              v-if="replyStatus.icon"
              :src="replyStatus.icon"
              :class="replyStatus.color"
              size="xs"
            />{{ replyStatus.display }}
            </span>
            <span v-if="hasActions">
              <Actions :reply="reply" class='actions'/>
            </span>
          </div>
          <div v-if="price" class="price">{{ price }}</div>
          <div v-if="isMyOrder || isMyReply" class="message">{{ message }}</div>
        </div>
      </div>
      <div
          v-if="displayComments"
          class="comments-toggler-wrapper"
      >
        <Icon
            class="comments-toggler icon"
            :class="{ 'is-opened': isCommentsOpened }"
            src="icons/arrow-down.svg"
            @click="toggleCommentsWithScroll"
        />
      </div>
      <template v-if="displayComments">
        <div v-show="isCommentsOpened" class="delimiter"></div>
        <div v-show="isCommentsOpened" class="comments-block">
          <Comments
            ref="comments"
            :reply="reply"
            class="comments"
            @send="SEND_COMMENT({ id: reply.id, payload: $event})"
          />
        </div>
      </template>
    </template>
  </section>
</template>
<script>
  import { mapActions, mapGetters, mapMutations } from 'vuex'
  import { is, isEmpty, path, prop } from 'ramda'
  import { displayPrice } from '~/utils/money'
  import popoverConsts from '~/utils/popoverConsts'
  import Actions from '../Actions'

  export default {
    name: 'Order',
    components: {
      Actions,
      Avatar: () => import('~/components/common/Avatar'),
      Icon: () => import('~/components/common/Icon'),
      Comments: () => import('../Comments'),
      EditForm: () => import('../forms/EditForm'),
    },
    props: {
      reply: {
        type: Object,
        required: true
      },
      order: {
        type: Object,
        required: true
      },
    },
    data: () => ({
      isCommentsOpened: false,
      hideEditForm: false
    }),
    computed: {
      ...mapGetters({
        GET_USER: 'user/GET_USER',
        EDIT_REPLY: 'marketplace/reply/EDIT_REPLY'
      }),
      isCurrentUserSupplier() {
        return prop('is_supplier', this.GET_USER) && !!prop('as_supplier', this.GET_USER)
      },
      isCurrentUserCustomer() {
        return !this.isCurrentUserSupplier
          && prop('is_customer', this.GET_USER)
          && !!prop('as_customer', this.GET_USER)
      },
      displayEditForm (){
        return !this.hideEditForm && prop('id', this.EDIT_REPLY) === this.reply.id && this.isMyReply
      },
      isMyReply() {
        return !!this.isCurrentUserSupplier && this.GET_USER.id === this.getCreatedById(this.reply)
      },
      isMyOrder() {
        return !!this.isCurrentUserCustomer && this.GET_USER.id === this.getCreatedById(this.order)
      },
      displayComments(){
        return this.isMyReply || this.isMyOrder
      },
      canSelect() {
        return this.isMyOrder && this.reply.status === 2 && this.order.status === 0
      },
      hasActions() {
        return this.isMyReply && ( this.reply.status === 2 || this.reply.status === 0)
      },
      selected() {
        return this.reply.status === 3
      },
      title() {
        return prop('name', this.getCreatedBy(this.reply))
      },
      price() {
        return displayPrice(this.reply.proposed_price)
      },
      message() {
        return prop('message', this.reply)
      },
      supplierPageRoute() {
        return {
          name: 'profile-id-marketplace',
          params: { id: this.getCreatedById(this.reply) }
        }
      },
      replyStatus() {
        if ( this.canSelect )
          return {}
        const statusMap = {
          0: {
            icon: 'icons/cross.svg',
            color: 'red',
            display: this.$t('marketplace.replyCanceled')
          },
          1: {
            icon: 'icons/cross.svg',
            color: 'red',
            display: this.$t('marketplace.replyRejected')
          },
          2: {
            icon: null,
            color: null,
            display: this.isMyOrder ? '' : this.$t('marketplace.replyOpened')
          },
          3: {
            icon: 'icons/check.svg',
            color: 'green',
            display: this.isMyOrder ? this.$t('yourChoice'): this.$t('marketplace.replySelected')
          },
          4: {
            icon: 'icons/check.svg',
            color: 'green',
            display: this.$t('marketplace.replyDone')
          }
        }
        return statusMap[this.reply.status]
      }
    },
    watch: {
      EDIT_REPLY () {
        if ( isEmpty(this.EDIT_REPLY)){
          this.hideEditForm = false
        }
      }
    },
    methods: {
      ...mapActions({
        SEND_COMMENT: 'marketplace/reply/SEND_COMMENT',
        OPEN_POPOVER_WITH_DATA: 'popovers/OPEN_POPOVER_WITH_DATA',
        FETCH_COMMENTS: 'marketplace/reply/FETCH_COMMENTS',
      }),
      ...mapMutations({
        SET_EDIT_REPLY: 'marketplace/reply/SET_EDIT_REPLY',
      }),
      onReplyEdit(){
        this.hideEditForm = true
        this.$emit('edit')
        this.SET_EDIT_REPLY({})
      },
      getCreatedById(obj){
        return path(['created_by', 'id'], obj) || prop('created_by', obj)
      },
      getCreatedBy(obj) {
        const createBy = prop('created_by', obj)
        return is(Object, createBy) ? createBy : null
      },
      toggleSelectDialog() {
        this.OPEN_POPOVER_WITH_DATA({
          name: popoverConsts.selectReply,
          data: {
            reply: this.reply,
          },
        })
      },
      async toggleCommentsWithScroll(){
        await this.toggleComments()
        if ( this.isCommentsOpened ){
          this.$nextTick(() => {
            this.$refs.comments.scrollTo()
          })
        }
      },
      async toggleComments(){
        this.isCommentsOpened = !this.isCommentsOpened
        if ( this.isCommentsOpened ){
          await this.FETCH_COMMENTS({ id: this.reply.id })
          this.$emit('open', this.reply.id)
        }
      }
    },
  }
</script>
<style lang="scss" scoped>
  @import '~/assets/css/variables.scss';
  .reply {
    box-shadow: 0 -5px 10px 0 rgba(203, 214, 225, 0.1);
    background-color: #ffffff;
    &-edit {
      padding: 24px 32px 24px 24px;
    }

    &-wrapper {
      display: flex;
      padding: 24px 32px 24px 24px;
      @media (max-width: $desktopHD) {
        flex-wrap: wrap;
      }

      .avatar-wrap {
        flex: 0;
        margin-right: 16px;
      }

      .to-supplier-link {
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .delimiter {
      width: 100%;
      height: 2px;
      background-color: #f5f5f5;
      left: 0;
      right: 0;
    }


    &-content {
      @include text(2);
      flex: 1 1 auto;
      display: flex;
      flex-flow: column wrap;
      min-width: 150px;

      .title-wrapper {
        flex: 0 0 auto;
        display: flex;
        position: relative;

        &.hasActions {
          padding-right: 66px;
        }

        .actions {
          position: absolute;
          right: 0;
          top: 0;
        }

        .title {
          font-weight: bold;
          margin-right: auto;
        }

        .status {
          @include text(1.5);
          line-height: 24px;
          margin-left: auto;
          letter-spacing: 0.6px;
          text-transform: uppercase;
          font-weight: bold;
          display: flex;
          align-items: center;

          @media ($mobile) {
            margin-left: 15px;
            text-align: right;
          }

          .icon {
            margin-right: 8px;
            margin-bottom: 4px;
          }

          .green {
            color: #41d167;
          }

          .red {
            color: $red;
          }
        }

        .select {
          color: $blue;
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }

      }

      .price {
        opacity: 0.4;
        margin-top: 9px
      }

      .message {
        margin-top: 9px;
        display: -webkit-box;
        white-space: pre-line;
        -webkit-box-orient: vertical;
        overflow-wrap: break-word;
        width: 100%;
        max-width: 725px;
      }
    }

    .comments-toggler-wrapper {
      width: 100%;
      margin: 16px auto 24px 88px;
      line-height: 1;
      display: inline;

      .comments-toggler {
        cursor: pointer;
        transition: color 0.2s, transform 0.2s;
        margin-bottom: 24px;

        &.is-opened {
          transform: rotate(-180deg);
        }
      }
    }

    .comments-block {
      padding: 30px 32px 32px 88px;
      width: 100%;
    }
  }
</style>