<i18n>
{
  "ru": {
    "key": "Номер",
    "customer": "Покупатель",
    "ticket": "Билет",
    "status": "Статус"
  },
  "en": {
    "key": "Key",
    "customer": "Customer",
    "ticket": "Ticket",
    "status": "Status"
  },
  "es": {
    "key": "Key",
    "customer": "Customer",
    "ticket": "Ticket",
    "status": "Status"
  }
}
</i18n>

<template>
  <div class="tickets-table">
    <div class="tickets-table__header">
      <div>{{ $t('key') }}</div>
      <div class="hidden-mobile-only">{{ $t('customer') }}</div>
      <div>{{ $t('ticket') }}</div>
      <div>{{ $t('status') }}</div>
    </div>

    <Row v-for="ticket in ticketsResults" :key="ticket.id" :ticket="ticket" />
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

import { storeModules } from '~/constants/storeModules'

import Row from './Row'

export default {
  name: 'TicketsTable',

  components: {
    Row,
  },

  computed: {
    ...mapGetters({
      ticketsResults: `${storeModules.ticketsPass}/ticketsResults`,
    }),
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.tickets-table {
  background: #fff;
  padding: 10px 24px;

  @media (min-width: $desktopSD) {
    padding: 0;
  }

  &__header {
    @include text(1.5);
    color: #999;
    border-bottom: 1px solid #000;
    padding: 10px 8px;
    display: grid;
    grid-template-columns: 38% 44% 18%;

    @media (min-width: $desktopSD) {
      padding: 10px 16px 10px 8px;
      grid-template-columns: 35% 32% 23% 10%;
    }

    & > div:last-child {
      text-align: right;
    }
  }
}
</style>