<i18n>
{
  "ru": {
    "attended": "Пришел",
    "notAttended": "Не пришел"
  },
  "en": {
    "attended": "Attended",
    "notAttended": "Didn't attend"
  },
  "es": {
    "attended": "Attended",
    "notAttended": "Didn't attend"
  }
}
</i18n>

<template>
  <div class="tickets-row">
    <div class="table-column table-column__key">{{ ticket.key }}</div>
    <div class="table-column table-column__ticket">{{ ticketString }}</div>
    <div class="table-column table-column__status">
      <Icon
        v-if="ticket.status === 'used'"
        v-tooltip.auto="$t('attended')"
        src="icons/check-round.svg"
        size="s"
      />
      <div
        v-if="ticket.status === 'actual'"
        v-tooltip.auto="$t('notAttended')"
        class="icon-actual"
      />
    </div>
    <div class="table-column table-column__user">{{ userString }}</div>
  </div>
</template>

<script>
import { path } from 'ramda'

import Icon from '~/components/common/Icon'

export default {
  name: 'Row',

  components: {
    Icon,
  },

  props: {
    ticket: {
      type: Object,
      required: true,
    },
  },

  computed: {
    ticketString() {
      const seatTitle = path(['seat', 'title'], this.ticket)
      const schemeTitle = path(['scheme', 'title'], this.ticket)

      return `${schemeTitle}${seatTitle ? `, ${seatTitle}` : ''}`
    },
    userString() {
      return path(['order', 'name'], this.ticket) || '–'
    },
  },
}
</script>

<style scoped lang="scss">
@import '~/assets/css/variables.scss';

.tickets-row {
  border-bottom: 1px solid #000;
  display: grid;
  grid-template-areas:
    'key ticket status'
    'user user user';
  grid-row-gap: 10px;
  grid-template-columns: 38% 44% 18%;
  align-items: baseline;
  padding: 16px 8px 10px;

  @media (min-width: $desktopSD) {
    grid-template-areas: 'key user ticket status';
    grid-template-columns: 35% 32% 23% 10%;
    padding: 16px 16px 16px 8px;
  }

  .table-column {
    @include text(1.5);

    &__key {
      grid-area: key;
      font-weight: bold;
    }

    &__ticket {
      grid-area: ticket;
    }

    &__status {
      grid-area: status;
      justify-self: right;
    }

    &__user {
      grid-area: user;
      color: #999;
    }
  }

  .icon-actual {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #ffe435;
    display: inline-block;
  }
}
</style>