<i18n>
{
  "ru": {
    "uploadCover": "Загрузить фото",
    "format": "Рекомендуем использовать изображения с минимальной шириной 750px. Формат: jpg, png до 10 Мб"
  },
  "en": {
    "uploadCover": "Upload image",
    "format": "Minimum 750px pixels on the long side. Format: jpg, png no larger than 10 Mb."
  }
}
</i18n>

<template>
  <section class="add-cover_wrapper">
    <ImageUploader
      v-if="!hasUploaded"
      id="CreateEvAddCover"
      class="add-cover_wrapper__uploader"
      @change="handleCover"
    >
      <label
        slot="upload-label"
        for="CreateEvAddCover"
        class="event-add-cover"
        :class="{ 'event-add-cover--loading': loader}"
      >
        <template v-if="!loader">
          <img class="upload" alt="upload" src="~static/upload.svg" />
          <span class="event-add-cover__title">{{ $t('uploadCover') }}</span>
          <div class="cover-details-mobile">
            <span>{{ $t('format') }}</span>
          </div>
        </template>
        <Loader v-else />
      </label>
    </ImageUploader>
    <div    v-if="hasUploaded && !loader"
            style="width: 75%; height: auto">
      <Cover :cover="coverImage" />
    </div>


    <span class="event-add-cover__details">
            {{ $t('format') }}
          </span>
  </section>
</template>

<script>
import thumborize from '~/utils/thumborize'

import Loader from '~/components/common/Loader'
import ImageUploader from '~/components/common/input/ImageUploader'
import Cover from '~/components/common/Cover'

// const fitSize = { width: 368, height: 264 }
const calcAspectRatio = (w, h) => w / h
const calcResolution = (ow, oh) => {
  const aspect = calcAspectRatio(ow, oh)
  if (aspect >= 1) {
    const width = Math.min(1400, ow)
    const height = parseInt((width * oh) / ow)
    return { width, height, aspect }
  } else {
    const height = Math.min(1120, oh)
    const width = parseInt((height * ow) / oh)
    return { width, height, aspect }
  }
}

export default {
  components: {
    Loader,
    ImageUploader,
    Cover
  },
  props: {
    coverImage: Object,
    evData: {
      type: Object,
      default: () => ({}),
    },
  },
  data: () => ({
    hasUploaded: false,
    loader: false,
    coverSrc: '',
    croppedImg: '',
    aspect: null,
    dim: {
      width: null,
      height: null,
    },
    gc1: '',
    gc2: '',
  }),
  computed: {
    gradient() {
      if (!this.gc1 && this.gc2) return ''
      return `background-image: linear-gradient(to bottom, ${this.gc1}, ${this.gc2});`
    },
  },
  beforeMount() {
    this.hasInitialImg()
  },
  methods: {
    hasInitialImg() {
      if (this.coverImage) {
        this.coverSrc = this.coverImage
        this.hasUploaded = true
      }
    },
    hasGradient(img) {
      if (!img.find_gradient) return
      this.gc1 = img.main_color_1
      this.gc2 = img.main_color_2
    },
    async handleCover(imgFile) {
      this.loader = true
      const params = { find_gradient: true, find_main_color: true }
      try {
        const img = await this.$store.dispatch('images/UPLOAD', {
          file: imgFile,
          ...params,
        })
        this.hasGradient(img)
        const { width: w, height: h, aspect } = calcResolution(
          img.original_width,
          img.original_height,
        )

        this.aspect = aspect
        this.dim = { width: w, height: h }
        this.coverSrc = thumborize(img.image, undefined, w, h)
        // this.coverSrc = thumborFit(img.image, fitSize)
        await this.$store.dispatch('newEvent/SET_FIELD', {
          value: img,
          key: 'cover',
        })
        this.hasUploaded = true
        this.$emit('cover:upload', { src: this.coverSrc, image: img })
      } catch (e) {
        console.log(e)
        this.$store.dispatch('notifications/error', e.message)
      } finally {
        this.loader = false
      }
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.add-cover_wrapper {
  display: grid;
  justify-items: center;
  max-width: 366px;
  position: relative;
  @media (max-width: 480px) {
    max-width: 310px;
  }

  &__uploader {
    width: 100%;
  }
  .cover-preview {
    width: 160px;

    @media (min-width: $desktopSD) {
      width: 248px;
    }
  }
}
.upload{
  @media (max-width: $desktopHD) {
    margin-top: 50px;
  }
}
.cover-details-mobile{
  display: none;
  font-size: 12px;
  font-weight: normal;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.4);
  padding: 0 16px;
  margin-bottom: 20px;
  max-width: 280px;
  span {
    text-align: center;
  }
  @media (max-width: $desktopSD) {
    display: flex;
  }
}
.event-add-cover {
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  color: $blue;
  cursor: pointer;
  height: 262px;
  @media (max-width: $desktopHD) {
    justify-content: center;
  }
  @media (max-width: 480px) {
    height: 221px;
  }
  &--loading {
    justify-content: center;
  }

  &:after {
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    content: '';
    position: absolute;
    display: block;
    z-index: 1;

    background-image: linear-gradient(to right, $blue 50%, transparent 0),
      linear-gradient(to left, $blue 50%, transparent 0),
      linear-gradient(to top, $blue 50%, transparent 0),
      linear-gradient(to bottom, $blue 50%, transparent 0);
    background-size: 10px 1px, 10px 1px, 1px 10px, 1px 10px;
    background-position: top, bottom, left, right;
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  }


  @media (min-width: $desktopHD) {
    /*height: 560px;*/
  }

  &__title {
    display: inline-block;
    @include text(1.5);
    font-weight: normal;
    line-height: 2;
    text-align: center;
    margin-bottom: 24px;
    margin-top: 12px;
    @media (min-width: $desktopSD) {
      @include text(2.25);
      margin-bottom: 48px;
    }

    @media (min-width: $desktopHD) {
      margin-bottom: 88px;
    }
    @media (max-width: $desktopSD) {
      margin-top: 4px;
      margin-bottom: 13px;
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__details {
    @include text(1.5);
    color: rgba(0, 0, 0, 0.4);
    margin-top: 12px;
    line-height: 16px;
    @media (max-width: $desktopSD) {
      display: none;
    }
  }
}
</style>
