<template>
  <div class="big-event">
    <BigEventBg />
    <div class="wrapper big-event__wrapper">
      <div class="sticky">
        <div class="big-event__sticky-content sticky__content">
          <BigEventHeader />
          <main class="big-event__main">
            <BreadCrumbs v-model="breadCrumbs" class="breadcrumbs" />
            <div class="title">
              <h3>{{ title }}</h3>
            </div>
            <div class="description">
              <p>{{ description }}</p>
            </div>
            <Events
              v-if="specialEvents"
              :project="projectId"
              class="border_bottom"
            />
            <PhotoReport :project="projectId" class="border_bottom" />
            <Managers />
          </main>
          <GMap
            v-if="getPlaceLocation"
            :location="getPlaceLocation"
            class="map"
          />
          <Comments class="big-event__comments" no-hover @send="sendComment" />
        </div>
        <BigEventSide />
        <!--<div class="place__side sticky__side">-->
        <!--<PlaceCard class="place-info_side" />-->
        <!--</div>-->
      </div>
    </div>
  </div>
</template>

<script>
import { prop } from 'ramda'
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'SpecialV1',

  components: {
    BigEventBg: () => import('~/components/special/BigEventBg.vue'),
    BigEventSide: () => import('~/components/special/BigEventSide.vue'),
    BigEventHeader: () => import('~/components/special/BigEventHeader.vue'),
    BreadCrumbs: () => import('~/components/common/BreadCrumbs'),
    Comments: () => import('~/components/common/Comments'),
    GMap: () => import('~/components/common/GMap'),
    Events: () => import('~/components/special/Events'),
    // PlaceCard: () => import('~/components/places/sticky/Info'),
    Managers: () => import('~/components/special/Managers'),
    PhotoReport: () => import('~/components/special/PhotoReport'),
  },
  data() {
    return {
      breadCrumbs: [
        { url: '/', title: 'Главная' },
        { url: '', title: 'Лекторий' },
      ],
      title:
        'Главная цель — заинтересовать жизнью в обществе тех, кто «не интересуется политикой».',
      description:
        '«Лекторий» — просветительский проект «Партии Перемен». Наши гости рассказывают о самых разных сферах жизни, показывая подоплеку происходящих в мире событий.',
    }
  },
  computed: {
    ...mapGetters({
      getPlaceLocation: 'place/PLACE_LOCATION',
      specialEvents: 'special/HAS_SPECIAL_EVENTS',
    }),
    projectId() {
      return Number(prop('0', this.$route.params.id.match(/\d+/)))
    },
  },

  methods: {
    ...mapActions({
      sendCommentForSpecial: 'special/SEND_COMMENT',
      errorMessage: 'notifications/error',
    }),
    async sendComment({ parent, comment }) {
      try {
        await this.sendCommentForSpecial({ parent, comment })
      } catch (e) {}
    },
  },
  head() {
    return {
      meta: [
        {
          hid: 'ogUrl',
          property: 'og:url',
          content: `${process.env.domainUrl}${this.$route.path}`,
        },
        {
          hid: 'ogTitle',
          property: 'og:title',
          content: `Лекторий`, // change to actual special event title ?
        },
        {
          hid: 'title',
          name: 'title',
          content: `Лекторий`, // change to actual special event title ?
        },
        // ...hasDescription(this.getJournal), // change argument to specialEvent
        { hid: 'imgwidth', property: 'og:image:width', content: `1200` },
        { hid: 'imgheight', property: 'og:image:height', content: `600` },
        // ...hasCover(this.getSpecialEvent), // change 3 objects below to this line and pass special event as argument
        {
          hid: 'img',
          property: 'og:image',
          content: process.env.STATIC_PATH + `imgs/bigevent_bg.jpg`,
        },
        {
          hid: 'imgurl',
          property: 'og:image:url',
          content: process.env.STATIC_PATH + `imgs/bigevent_bg.jpg`,
        },
        {
          hid: 'vkImg',
          property: 'vk:image',
          content: process.env.STATIC_PATH + `imgs/bigevent_bg.jpg`,
        },
      ],
      link: [
        {
          rel: 'canonical',
          href: `${process.env.domainUrl}${this.$route.path}`,
        },
      ],
    }
  },
}
</script>

<style scoped lang="scss">
@import '~/assets/css/variables.scss';
// @import '~/assets/css/base.scss';
@import '~/assets/css/sticky.scss';

.border_bottom {
  border-bottom: 1px solid #f8f9fa !important;
}
.map {
  width: 100%;
  margin-top: 0;
  max-height: 544px;
}
.commentary {
  padding-top: 79px;
}
.big-event {
  width: 100%;
  position: relative;

  &__line {
    width: 100%;
    background: #f8f9fa;
    height: 1px;
    border: none;
  }

  &__wrapper {
    z-index: 4;
    position: relative;
    padding-top: 48px !important;
    @media (max-width: 1500px) and (min-width: 761px) {
      padding-left: 16px !important;
      padding-right: 16px !important;
    }
  }

  &_local-wraper {
    @media (min-width: 1250px) {
      padding: 0;
      width: 90%;
      margin: 0 auto;
      min-width: 632px;
      max-width: 640px;
    }
    @media (min-width: $desktopHD) {
      width: 90%;
      margin: 0 auto;
    }
  }

  &__sticky-content {
    width: 100%;
    z-index: 1;
  }

  .sticky__side {
    z-index: 2;
    top: 56px;
  }

  &__main {
    display: grid;
    grid-template-columns: minmax(auto, 632px);
    justify-content: center;
    padding: 15px;
    background: #fff;

    @media (max-width: 660px), (min-width: 970px) and (max-width: 1270px) {
      grid-template-columns: 100%;
    }

    .breadcrumbs {
      padding: 52px 0 28px 0;
    }
  }

  &__container {
    width: 90%;
    margin: 0 auto;
    max-width: 856px;
    padding-bottom: 40px;
    @media (min-width: $desktopHD) {
      width: 100%;
    }
  }
  &__comments {
    margin-top: 3 * $base;
  }
}
</style>
