<template>
  <section class="create-event">
    <div class="wrapper">
      <Promo create @promote="createEvent" @create="createEvent" />
    </div>
    <FixedGuideButton class="hidden-desktopSD-and-down" />
    <FixedHelpButton v-if="isEmptyLayout" />
  </section>
</template>

<script>
import { mapActions } from 'vuex'
import { path } from 'ramda'

import { getEventCreatePageLayout, layoutConsts } from '~/utils/layout'

import Promo from '~/components/common/Promo'
import FixedGuideButton from '~/components/events/create/FixedGuideButton'

export default {
  layout: getEventCreatePageLayout,

  components: {
    Promo,
    FixedGuideButton,
    FixedHelpButton: () => import('~/components/events/create/FixedHelpButton'),
  },

  computed: {
    isEmptyLayout() {
      return this.$nuxt.layoutName === layoutConsts.empty
    },
  },

  methods: {
    ...mapActions({
      showPreloader: 'popovers/SWITCH_PRE_LOADER',
      showError: 'notifications/error',
      CREATE_EVENT: 'createEvent/CREATE_EVENT',
      SET_PROMO_DATA: 'newEvent/SET_PROMO_DATA',
      SET_FIELD: 'createEvent/SET_FIELD',
    }),
    async createEvent(data) {
      if (data) {
        this.SET_FIELD({
          key: 'promoCoupon',
          value: data.coupon,
        })
        this.SET_FIELD({
          key: 'promoStartDate',
          value: data.date,
        })
        this.SET_FIELD({
          key: 'promoLanguages',
          value: data.languages,
        })
        this.SET_FIELD({
          key: 'promoPlan',
          value: data.plan,
        })
        this.SET_FIELD({
          key: 'promoCustomerSite',
          value: data.site,
        })
      }

      if (this.$store.getters['auth/IS_AUTH']) {
        this.showPreloader(true)

        try {
          const data = await this.CREATE_EVENT()

          const paymentUrl = path(['promo', 'payment_url'], data)

          if (paymentUrl) {
            window.location.replace(paymentUrl)
          } else {
            this.$router.push({
              name: 'events-create-a-3-id',
              params: {
                id: data.url_id,
              },
            })
          }
        } catch (e) {
          this.showError(e.message)
        } finally {
          this.showPreloader(false)
        }
      } else {
        // this.$router.push('/events/create/5')
      }
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';
@import '~/assets/css/sticky.scss';

.create-event {
  margin-top: 4 * $base;

  @media (min-width: $desktopHD) {
    margin-top: 8 * $base;
  }

  &__organizers {
    margin-top: 12.5 * $base;
  }

  &__organizers-grid {
    margin-top: 3.75 * $base;
    margin-bottom: 5 * $base;
  }

  &__promo-block {
    background-color: white;
    border: 0.5 * $base solid $blue;
    padding: 3 * $base 2 * $base 0;

    @media (min-width: $desktopHD) {
      padding: 6 * $base 9 * $base 5 * $base;
    }
  }

  &__promo-header {
    &::before {
      @include ww-icn;
      content: 't';
      color: $blue;
      margin-left: -0.25 * $base;
      margin-right: 2.375 * $base;
      margin-bottom: 0.75 * $base;
      position: relative;
      top: 6px;

      @media (min-width: $desktopHD) {
        margin-left: -3 * $base;
        margin-right: 4 * $base;
      }
    }
  }

  &__promo-description {
    margin-left: 5.25 * $base;
  }

  &__promo-parameters {
    grid-gap: 2 * $base 4.5 * $base;
    grid-auto-flow: column;
    grid-template-columns: repeat(1, 60%) 1fr;
    margin-top: 5.25 * $base;
    margin-bottom: 5.5 * $base;

    @media (min-width: 1330px) {
      display: grid;
    }
  }

  &__promo-start-date {
    display: block;
    grid-row: span 4;
  }
}
</style>
