<template>
  <div class="tab-row">
    <nav class="tab-row__inner">
      <span
        v-for="tab in tabs"
        :key="tab.id"
        class="tab-item"
        :class="{
        'tab-item--active': tab.id === value
      }"
        @click="$emit('input', tab.id)"
      >{{ tab.title }}</span>
    </nav>
    <div class="slider"></div>
  </div>
</template>

<script>
export default {
  name: 'TabRow',

  props: {
    tabs: {
      type: Array,
      required: true,
    },
    value: {
      type: String,
      required: true,
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.tab-row {
  &__inner {
    display: flex;
  }

  .tab-item {
    display: inline-block;
    color: #999;
    padding: 6px 12px;
    flex: 1;
    text-align: center;
    position: relative;
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
      color: #000;
      font-weight: bold;
    }

    &--active {
      color: #000;
      font-weight: bold;
      cursor: default;

      &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: -2px;
        left: 0;
        height: 2px;
        width: 100%;
        background-color: $blue;
      }
    }
  }

  .slider {
    height: 2px;
    background-color: #ffffff;
  }
}
</style>