<template>
  <div class="actions">
    <div class="action -share">
      <ShareBtn :link="shareLink" color="blue" class="btn" />
    </div>

    <template v-if="isOwnProfile && !isOrganizerView">
      <nuxt-link :to="{ name: 'profile-edit' }" class="action -edit">
        <BtnWithIcon invert class="btn">
          <i class="icon ww-icn-pencil-o" />
          <span class="text" v-text="$t('common.edit')" />
        </BtnWithIcon>
      </nuxt-link>
    </template>
  </div>
</template>

<script>
import ProfileRoutesService from '~/utils/profile-routes-service'

export default {
  components: {
    ShareBtn: () => import('~/components/common/buttons/ShareBtn'),
    BtnWithIcon: () => import('~/components/common/buttons/BtnWithIcon'),
  },
  props: {
    profile: {
      type: Object,
      required: true,
    },
    isOwnProfile: Boolean,
    isOrganizerProfile: Boolean,
    isOrganizerView: Boolean,
  },
  computed: {
    shareLink() {
      this.routesService.setRoute(this.$route)
      const { href } = this.$router.resolve(this.routesService.indexRoute)
      return href
    },
  },
  created() {
    this.routesService = new ProfileRoutesService({
      store: this.$store,
      router: this.$router,
    })
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.actions {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;

  .action {
    &:not(:last-child) {
      margin-right: 1px;
    }

    &.-share {
      .btn {
        font-size: 18px;
      }
    }

    &.-edit {
      @include text(1.5);

      flex: 1;

      .btn {
        width: auto;
        padding: 2px ($base * 2) 0;
      }

      .icon {
        font-size: 8px;
        display: inline-block;
        vertical-align: middle;
        margin-right: $base;
      }
      .text {
        letter-spacing: 0.6px;
        text-transform: uppercase;
      }
    }
  }
}
</style>
