<template>
  <div v-if="isVisible" class="contacts">
    <div v-if="address" class="contacts__address">
      <i class="icon ww-icn-map-marker" />
      <span class="text">{{ address }}</span>
    </div>
    <ul v-if="showPhones" class="contacts__phones">
      <li v-for="(phone, idx) in phones" :key="idx + phone" class="row">
        <WLink :href="`tel:${phone}`" color="black" class="phone">
          {{ phone }}
        </WLink>
      </li>
    </ul>

    <ul v-if="showEmails" class="contacts__emails">
      <li v-for="(email, idx) in emails" :key="idx + email" class="row">
        <WLink :href="`mailto:${email}`" class="email">
          {{ email }}
        </WLink>
      </li>
    </ul>

    <ul v-if="showLinks" class="contacts__links">
      <li v-for="(link, key) in socials" :key="key" class="row -social">
        <WLink :href="link" target="_blank" class="link" rel="nofollow">
          <Icon v-if="key === 'url_vk'" class="icon-vk" src="icons/social/vk.svg" />
          <Icon
            v-else-if="key === 'url_fb'"
            class="icon-fb"
            src="icons/social/facebook.svg"
          />
          <Icon
            v-else-if="key === 'url_instagram'"
            src="icons/social/instagram.origin.svg"
          />
          {{ link }}
        </WLink>
      </li>

      <li v-for="(link, idx) in links" :key="idx + link" class="row">
        <WLink :href="link" target="_blank" class="link" rel="nofollow">
          {{ link }}
        </WLink>
      </li>
    </ul>
  </div>
</template>

<script>
import { prop } from 'ramda'
import { normalizeLink, normalizePhone } from '~/utils'

export default {
  components: {
    Icon: () => import('~/components/common/Icon'),
    WLink: () => import('~/components/common/WLink'),
  },
  props: {
    profile: {
      type: Object,
      required: true,
    },
    isOwnProfile: Boolean,
    isOrganizerProfile: Boolean,
    isOrganizerView: Boolean,
  },
  computed: {
    address() {
      const { city, address } = this.profile
      return [prop('name', city), address]
        .filter(Boolean)
        .join(', ')
        .trim()
    },

    phones() {
      return []
        .concat(this.profile.phones)
        .filter(Boolean)
        .map(normalizePhone)
    },
    emails() {
      return [this.profile.email]
        .concat(this.profile.additional_emails)
        .filter(Boolean)
    },
    links() {
      return []
        .concat(this.profile.links)
        .filter(Boolean)
        .map(normalizeLink)
    },
    socials() {
      const keys = ['url_fb', 'url_vk', 'url_instagram']
      const socials = {}
      keys.forEach(key => {
        if (!this.profile[key]) return
        socials[key] = normalizeLink(this.profile[key])
      })
      return socials
    },

    showPhones() {
      return this.phones.length
    },
    showEmails() {
      return this.emails.length
    },
    showLinks() {
      return this.links.length || Object.keys(this.socials).length
    },

    isVisible() {
      return (
        this.address || this.showPhones || this.showEmails || this.showLinks
      )
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.contacts {
  @include text(1.5);
  padding-left: $base * 2;
  .icon-fb {
    color: #4267b2;
  }
  .icon-vk {
    color: #4a76a8;
  }
  .row {
    white-space: nowrap;

    + .row {
      margin-top: $base / 2;
    }
  }

  .icon {
    width: $base;
    height: $base;
    vertical-align: baseline;
    margin-right: $base / 2;
  }

  .link {
    @include no-text-wrap;
    display: inline-block;
    vertical-align: bottom;
    max-width: 100%;
  }

  &__address,
  &__phones,
  &__emails {
    &:not(:last-child) {
      margin-bottom: $base * 2;
    }
  }

  &__address {
    display: flex;
    line-height: 14px;

    .text {
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .icon {
      margin-right: $base;
      line-height: 1;
      display: block;
      font-size: 8px;
      vertical-align: middle;
      width: auto;
      height: auto;
      margin-top: 2px;
    }
  }
}
</style>
