<i18n>
{
  "ru": {
    "journals": "журналов | журнал | журнала | журналов",
    "events": "событий | событие | события | событий"
  },
  "en": {
    "journals": "blog",
    "events": "events | event | events"
  },
  "es": {
    "journals": "revista | de la revista | revistas",
    "events": "eventos | evento | evento | eventos"
  }
}
</i18n>

<template>
  <div v-if="isVisible" class="counters">
    <div v-if="COUNTERS.journals" class="counter">
      <span class="counter__icon">
        <i class="icon ww-icn-pencil-o" />
      </span>
      <span class="counter__value">{{ COUNTERS.journals | formatCount }}</span>
      <span class="counter__unit">
        <span class="counter__icon -invisible">
          <i class="icon ww-icn-pencil-o" />
        </span>
        {{ $tc('journals', COUNTERS.journals) }}
      </span>
    </div>
    <div v-if="COUNTERS.events" class="counter">
      <span class="counter__icon">
        <i class="icon ww-icn-star" />
      </span>
      <span class="counter__value">{{ COUNTERS.events | formatCount }}</span>
      <span class="counter__unit">
        <span class="counter__icon -invisible">
          <i class="icon ww-icn-star" />
        </span>
        {{ $tc('events', COUNTERS.events) }}
      </span>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { splitNumberBy3 } from '~/utils'

export default {
  filters: {
    formatCount: (val, separator = ',') =>
      String(splitNumberBy3(val))
        .split(' ')
        .join(separator),
  },
  computed: {
    ...mapGetters('user', ['COUNTERS']),

    isVisible() {
      return this.COUNTERS.events || this.COUNTERS.journals
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.counters {
  display: flex;

  .counter {
    &:not(:last-child) {
      margin-right: $base * 8.5;
    }

    &__icon {
      color: $blue;
      display: inline-block;
      vertical-align: baseline;
      font-size: 13px;

      .icon {
        display: block;
      }

      &.-invisible {
        display: none;
      }
    }
    &__value {
      @include text(3);
      line-height: 1;
    }
    &__unit {
      display: block;
      line-height: 1;
      margin-top: 3px;
    }
  }

  @media ($mobile) {
    flex-wrap: wrap;

    .counter {
      &:not(:last-child) {
        margin-right: $base * 4;
      }

      &__icon {
        font-size: 8px;
        margin-right: 5px;

        &.-invisible {
          display: inline-block;
          visibility: hidden;
        }
      }
      &__value {
        @include text(2);
        font-weight: bold;
      }
      &__unit {
        font-size: $base * 1.5;
        margin-top: -3px;
      }
    }
  }
}
</style>
