<template>
  <div class="loader">
    <div class="block">
      <div v-for="n in 4" :key="n" class="shape -row" />
    </div>
    <div class="block -grid">
      <div v-for="n in 4" :key="n" class="shape -squad" />
    </div>
    <div class="block">
      <div class="shape -rectangle" />
      <div v-for="n in 2" :key="n" class="shape -row" />
    </div>
    <div class="block">
      <div class="shape -rectangle" />
      <div v-for="n in 2" :key="n" class="shape -textarea" />
    </div>
  </div>
</template>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.loader {
  .block {
    + .block {
      margin-top: $base * 4;
    }
  }

  .shape {
    background: #e3e7eb;

    &.-row {
      height: $base * 2;
      margin-bottom: $base * 2;
    }
    &.-squad {
      width: $base * 6;
      height: $base * 6;
    }
    &.-rectangle {
      height: $base * 4;
    }
    &.-textarea {
      height: $base * 15;
    }
  }
}
</style>
