<template>
  <div>
    <WithTransition v-if="openedPopover === popConsts.auth">
      <PopoverAuth :email="email" @input="email = $event.email" />
    </WithTransition>
    <WithTransition v-if="openedPopover === popConsts.signUp">
      <PopoverSignUp :email="email" @input="email = $event.email" />
    </WithTransition>

    <WithTransition v-if="openedPopover === popConsts.login">
      <LoginModal />
    </WithTransition>
    <WithTransition v-if="openedPopover === popConsts.newSignUp">
      <SignUpModal />
    </WithTransition>

    <WithTransition v-if="openedBanner === bannerConsts.agreementBanner">
      <AgreementBanner />
    </WithTransition>
    <WithTransition v-if="openedBanner === bannerConsts.cookieBanner">
      <CookieBannerDesktop />
    </WithTransition>

    <WithTransition
      v-if="
        openedPopover === popConsts.simpleReg ||
          openedPopover === popConsts.simpleRegSucc
      "
    >
      <RegistrationModal :reg="openedPopover" />
    </WithTransition>

    <WithTransition
      v-if="
        openedPopover === popConsts.mailPicker ||
          openedPopover === popConsts.mailPickerSucc
      "
    >
      <MailPickerModal :reg="openedPopover" />
    </WithTransition>

    <WithTransition>
      <component :is="popovers[openedPopover]" />
    </WithTransition>

    <GlobalPreLoader v-if="showPreLoader" />
    <Notification></Notification>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

import bannerConsts from '~/utils/bannerConsts'
import popConsts from '~/utils/popoverConsts'

export default {
  name: 'LayoutCommon',

  components: {
    WithTransition: () => import('~/components/common/WithTransition'),
    ForOrganizers: () => import('~/components/common/popovers/ForOrganizers'),
    Notification: () => import('~/components/common/popovers/Notification'),
    PopoverSearch: () => import('~/components/common/popovers/PopoverSearch'),
    GlobalPreLoader: () => import('~/components/common/popovers/GlobalPreloader.vue'),
    EventOwner: () => import('~/components/common/popovers/EventOwner'),
    PopoverAuth: () => import('~/components/common/popovers/Auth.vue'),
    PopoverSignUp: () => import('~/components/common/popovers/SignUp.vue'),
    PopoverRestore: () => import('~/components/common/popovers/Restore.vue'),
    PopoverShare: () => import('~/components/common/popovers/PopoverShare.vue'),
    PopoversMenu: () => import('~/components/common/popovers/PopoverMenu.vue'),
    PopoversPlace: () => import('~/components/common/popovers/PopoverPlace.vue'),
    VideoPopover: () => import('~/components/common/popovers/VideoPopover'),
    PaymentErrorPopover: () =>
      import('~/components/common/popovers/PaymentErrorPopover'),
    PaymentSuccessPopover: () =>
      import('~/components/common/popovers/PaymentSuccessPopover'),
    SearchWidgetPopover: () =>
      import('~/components/common/popovers/SearchWidgetPopover'),
    AddToJournalPopover: () => import('~/components/common/popovers/AddToJournal'),
    AgreementBanner: () => import('~/components/common/popovers/AgreementBanner'),
    CookieBanner: () => import('~/components/common/popovers/CookieBanner'),
    RegistrationModal: () => import('~/components/common/popovers/RegistrationModal'),
    MailPickerModal: () => import('~/components/common/popovers/MailPickerModal'),
    InfoFormPopover: () => import('~/components/common/popovers/InfoFormPopover'),
    UserMenuModal: () => import('~/components/common/popovers/UserMenuModal'),
    CallMe: () => import('~/components/common/popovers/CallMe'),
    CookieBannerDesktop: () => import('~/components/common/popovers/CookieBannerDesktop'),
    LoginModal: () => import('~/components/common/popovers/LoginModal'),
    SignUpModal: () => import('~/components/common/popovers/SignUpModal'),
    OrderFormModal: () => import('~/components/marketplace/orders/popovers/FormModal'),
    DeleteFile: () => import('~/components/marketplace/orders/popovers/DeleteFile'),
  },

  data: () => ({
    popovers: {
      [popConsts.menu]: 'PopoversMenu',
      [popConsts.place]: 'PopoversPlace',
      [popConsts.search]: 'PopoverSearch',
      [popConsts.restore]: 'PopoverRestore',
      [popConsts.share]: 'PopoverShare',
      [popConsts.video]: 'VideoPopover',
      [popConsts.paymentSuccess]: 'PaymentSuccessPopover',
      [popConsts.paymentError]: 'PaymentErrorPopover',
      [popConsts.searchWidget]: 'SearchWidgetPopover',
      [popConsts.addToJournal]: 'AddToJournalPopover',
      [popConsts.infoForm]: 'InfoFormPopover',
      [popConsts.eventOwner]: 'EventOwner',
      [popConsts.userMenuModal]: 'UserMenuModal',
      [popConsts.callMe]: 'CallMe',
      [popConsts.forOrganizer]: 'ForOrganizers',
      [popConsts.login]: 'LoginModal',
      [popConsts.newSignUp]: 'SignUpModal',
      [popConsts.orderFormModal]: 'OrderFormModal',
      [popConsts.deleteFile]: 'DeleteFile'
    },
    bannerConsts,
    popConsts,
    email: '',
  }),

  computed: {
    ...mapGetters({
      openedPopover: 'popovers/OPENED_POPOVER',
      openedBanner: 'popovers/OPENED_BANNER',
      showPreLoader: 'popovers/SHOW_PRE_LOADER',
    }),
  },

  watch: {
    openedPopover(val) {
      if (val !== '') {
        const { clientWidth } = document.body
        document.body.style = `overflow: hidden; width: ${clientWidth}px`
      } else {
        document.body.style = ''
      }
    },
  },
  mounted() {
    window.addEventListener('popstate', this.handleBrowserButton)
  },

  beforeDestroy() {
    window.removeEventListener('popstate', this.handleBrowserButton)
  },

  methods: {
    ...mapActions({
      toggleBanner: 'popovers/TOGGLE_BANNER',
      togglePopover: 'popovers/TOGGLE_POPOVER',
    }),
    handleBrowserButton() {
      this.openedPopover && this.togglePopover()
      this.openedBanner && this.toggleBanner()
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';
@import '~/assets/css/popover.scss';
</style>
