<template>
  <div class="async-image">
    <img
      :data-src="_src"
      :data-srcset="_srcSet"
      :alt="alt"
      :style="styles"
      class="async-image__img lazyload"
      :class="{ 'async-image__img--contain': contain }"
      @error="handleErr"
    />
    <div class="async-image__slot"><slot></slot></div>
  </div>
</template>

<script>
import 'lazysizes'
import 'lazysizes/plugins/attrchange/ls.attrchange'
import thumborize, { thumborFit } from '~/utils/thumborize'

const webpSupport = () =>
  new Promise(resolve =>
    resolve(
      document
        .createElement('canvas')
        .toDataURL('image/webp')
        .indexOf('data:image/webp') === 0,
    ),
  )
const imgType = pred => (pred ? 'webp' : 'other')

export default {
  name: 'AsyncImage',
  props: {
    alt: String,
    image: {
      validator: p => typeof p === 'string' || p === null,
      default: null,
    },
    height: {
      type: [String, Number],
      default: 0,
    },
    width: {
      type: [String, Number],
      default: 0,
    },
    contain: Boolean,
    makeFit: Boolean,
    fitSize: {
      type: Object,
      default: () => ({ width: 300, height: 200 }),
    },
    styles: String,
  },
  data() {
    return {
      canWebp: false,
      srcUrl: null,
      imgErr: false,
    }
  },
  computed: {
    _src() {
      return this.image && !this.imgErr
        ? this.thumbor(this.image)
        : require('~/static/imgs/default.png')
    },
    _srcSet() {
      return this.image && !this.imgErr
        ? `${this.thumbor(this.image)} 1x, ${this.thumbor(this.image, 2)} 2x`
        : require('~/static/imgs/default.png')
    },
  },
  async mounted() {
    await webpSupport().then(res => {
      this.canWebp = res
    })
  },
  methods: {
    thumbor(image, ratio = 1) {
      if (this.makeFit && (this.fitSize.width || this.fitSize.height)) {
        const size = {
          width: (this.fitSize.width || 0) * ratio,
          height: (this.fitSize.height || 0) * ratio,
        }
        return thumborFit(image, size, imgType(this.canWebp))
      }
      return thumborize(image, imgType(this.canWebp), ...this.ifNoSize(ratio))
    },
    ifNoSize(ratio) {
      if (!this.width || !this.height) return []
      else return [this.width * ratio, this.height * ratio]
    },
    handleErr(e) {
      this.imgErr = true
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.async-image {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  border-radius: inherit;
  &__img {
    border-radius: inherit;
    width: 100%;
    height: 100%;
    transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1);
    object-fit: cover;
    &--contain {
      object-fit: contain;
    }

    &[lazy='loading'] {
      opacity: 0;
    }

    &[lazy='loaded'] {
      opacity: 1;
    }
  }
  &__slot {
    height: 100%;
    width: 100%;
    position: absolute;
  }
  /* fade image in after load */
  .lazyload,
  .lazyloading {
    opacity: 0;
  }
  .lazyloaded {
    opacity: 1;
    transition: opacity 300ms;
  }
}
</style>
