
<template>
  <div class="reply-actions">
    <Icon
      v-tooltip.auto="$t('common.edit')"
      src="icons/pencil.svg"
      size="s"
      class="reply-action edit"
      @click="setEditReply"
    />
    <Icon
      v-tooltip.auto="$t('common.remove')"
      src="icons/cross.svg"
      size="s"
      class="reply-action remove"
      @click="toggleDeleteDialog"
    />
  </div>
</template>
<script>
  import { mapActions } from 'vuex'
  import popoverConsts from '~/utils/popoverConsts'

  export default {
    name: 'ReplyActions',
    components: {
      Icon: () => import('~/components/common/Icon'),
    },
    props: {
      reply: {
        type: Object,
        required: true,
      }
    },
    methods: {
      ...mapActions({
        OPEN_POPOVER_WITH_DATA: 'popovers/OPEN_POPOVER_WITH_DATA',
        UPDATE_EDIT_REPLY: 'marketplace/reply/UPDATE_EDIT_REPLY'
      }),
      setEditReply(){
        this.UPDATE_EDIT_REPLY(this.reply)
      },
      toggleDeleteDialog() {
        this.OPEN_POPOVER_WITH_DATA({
          name: popoverConsts.deleteReply,
          data: {
            reply: this.reply,
          },
        })
      },
    },
  }
</script>
<style lang="scss" scoped>
  @import '~/assets/css/variables.scss';
  .reply-actions {
    .reply-action {
      height: 16px;
      width: 16px;
      cursor: pointer;
      color: $black-gray;
      display: inline-block;

      &:hover {
        color: $blue;
      }

      &:not(:last-child) {
        margin-right: 4px;
      }
    }
    .dialog-title {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
</style>