<i18n>
{
  "ru": {
    "becomeAnOrganizer": "Стать организатором"
  },
  "en": {
    "becomeAnOrganizer": "Become an Organizer"
  },
  "es": {
    "becomeAnOrganizer": "Become an Organizer"
  }
}
</i18n>

<template>
  <nuxt-link
    v-if="IS_AUTH"
    :to="{ name: 'profile-edit' }"
    class="become-an-organizer"
    v-text="$t('becomeAnOrganizer')"
  />
  <span
    v-else
    class="become-an-organizer"
    @click="onBtnClick"
    v-text="$t('becomeAnOrganizer')"
  />
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import popConsts from '~/utils/popoverConsts'

export default {
  computed: {
    ...mapGetters('auth', ['IS_AUTH']),
  },
  methods: {
    ...mapActions('popovers', ['TOGGLE_POPOVER']),

    onBtnClick() {
      this.TOGGLE_POPOVER(popConsts.auth)
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.become-an-organizer {
  color: $blue;
  cursor: pointer;
}
</style>
