<i18n>
{
  "ru": {
    "backButton": "Назад",
    "pageTitle": "Как создать событие на сайте&nbsp;—<br> пошаговая инструкция",
    "createButton": "ПЕРЕЙТИ НА WHATWHERE.WORLD И СОЗДАТЬ СОБЫТИЕ",
    "footerText": "Событие создано и готово к продвижению.<br><br>Попробуйте прямо сейчас."
  },
  "en": {
    "backButton": "Back",
    "pageTitle": "Step by step guide on how to create an event on the website",
    "createButton": "GO TO WHATWHERE.WORLD AND CREATE AN EVENT",
    "footerText": "Event is created and now ready for promotion.<br><br>Try it now. "
  },
  "es": {
    "backButton": "Atrás",
    "pageTitle": "Guía paso a paso sobre cómo crear un evento en nuestro sitio web.",
    "createButton": "IR A WHATWHERE.WORLD Y CREA UN EVENTO",
    "footerText": "El evento esta creado  y ahora está listo para la promoción.<br><br>Pruebalo ahora."
  }
}
</i18n>

<template>
  <div class="wrapper">
    <WLink to="/" class="back-button">{{ $t('backButton') }}</WLink>
    <h1 class="title" v-html="$t('pageTitle')" />

    <GuideStep1 />

    <GuideStep2 />

    <GuideStep3 />

    <GuideStep4 />

    <div class="footer-text" v-html="$t('footerText')" />

    <Button @click="createEvent">{{ $t('createButton') }}</Button>
  </div>
</template>

<script>
import WLink from '~/components/common/WLink'
import Button from '~/components/common/buttons/Button'
import GuideStep1 from '~/components/guide/events/create/GuideStep1'
import GuideStep2 from '~/components/guide/events/create/GuideStep2'
import GuideStep3 from '~/components/guide/events/create/GuideStep3'
import GuideStep4 from '~/components/guide/events/create/GuideStep4'

export default {
  components: {
    WLink,
    Button,
    GuideStep1,
    GuideStep2,
    GuideStep3,
    GuideStep4,
  },

  methods: {
    createEvent() {
      this.$router.push({ name: 'events-create-a-1' })
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.back-button {
  display: inline-block;
  margin-bottom: 38px;
  margin-top: 24px;

  @media (min-width: $sideShow) {
    margin-top: 0;
  }
}

.title {
  @include text(5);
  margin-bottom: 40px;

  @media (min-width: $desktopSD) {
    @include text(8);
    margin-bottom: 68px;
  }
}

.footer-text {
  @include text(3);
  margin-bottom: 32px;
}
</style>
