<i18n>
{
  "ru": {
    "timezoneLabel": "Часовой пояс",
    "placeLabel": "Место проведения",
    "isOnline": "Это онлайн событие"
  },
  "en": {
    "timezoneLabel": "Timezone",
    "placeLabel": "Location",
    "isOnline": "Online event"
  },
  "es": {
    "timezoneLabel": "Zona horaria",
    "placeLabel": "Lugar",
    "isOnline": "Evento online"
  }
}
</i18n>

<template>
  <div class="place-time">
    <FormRow class="place-time__dates" :error="errors['period']">
      <template slot-scope="{ hasError }">
        <DatesWrapper
          :error="hasError"
          :initial="period"
          isEmit
          @date:selected="$emit('update:period', $event)"
          :checkEndDate="checkEndDate"
        />
      </template>
    </FormRow>

    <ExpandTransition>
      <FormRow :noLabelFocus="!isOnline" class="place-time__timezone">
        <template #label>{{ $t('timezoneLabel') }} ↑</template>
        <template slot-scope="{ id }">
          <TimeZone
            :id="id"
            :value="timezone"
            :disabled="!isOnline"
            @input="$emit('update:timezone', $event)"
          />
        </template>
      </FormRow>
    </ExpandTransition>

    <!-- TODO: make array of errors errors['city'] || errors['location'] -->
    <FormRow :noLabelFocus="isOnline" :error="errors['location']">
      <template #label>{{ $t('placeLabel') }}</template>
      <template slot-scope="{ id }">
        <Checkbox
          class="place-time__online-checkbox"
          color="blue"
          :value="isOnline"
          @input="$emit('update:isOnline', $event)"
        >{{ $t('isOnline') }}</Checkbox>
        <ExpandTransition>
          <Location
            v-if="!isOnline"
            :id="id"
            :city="city"
            :location="location"
            @update:city="$emit('update:city', $event)"
            @update:location="$emit('update:location', $event)"
          />
        </ExpandTransition>
      </template>
    </FormRow>
  </div>
</template>

<script>
import DatesWrapper from '~/components/events/DatesWrapper'
import FormRow from '~/components/common/FormRowNew'
import Checkbox from '~/components/common/Checkbox'
import ExpandTransition from '~/components/transitions/ExpandTransition'
import TimeZone from '~/components/events/create/EventPlaceTime/TimeZone'
import Location from '~/components/events/create/EventPlaceTime/Location'

export default {
  name: 'EventPlaceTime',

  components: {
    FormRow,
    DatesWrapper,
    Checkbox,
    ExpandTransition,
    TimeZone,
    Location,
  },

  props: {
    period: {
      type: Array,
      required: true,
    },
    isOnline: {
      type: Boolean,
      required: true,
    },
    timezone: {
      type: Object,
      default: () => ({}),
    },
    city: {
      type: Object,
      default: () => ({}),
    },
    location: {
      type: Object,
      default: () => ({}),
    },
    errors: {
      type: Object,
      default: () => ({}),
    },
    checkEndDate: {
      type: Boolean,
      default: false,
    },
  },

  watch: {
    city: {
      immediate: true,
      handler: function (newCity) {
        if(!this.isOnline && newCity) {
          this.$emit('update:timezone', {
            name: newCity.timezone,
          })
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.place-time {
  &__dates {
    margin-bottom: 20px;

    @media (min-width: $desktopSD) {
      margin-bottom: 22px;
    }

    @media (min-width: $desktopHD) {
      margin-bottom: 40px;
    }
  }

  &__timezone {
    margin-bottom: 38px;

    @media (min-width: $desktopHD) {
      margin-bottom: 62px;
    }
  }

  &__online-checkbox {
    margin-top: 8px;
    margin-bottom: 22px;

    @media (min-width: $desktopSD) {
      margin-bottom: 16px;
    }
  }
}
</style>
