<i18n>
  {
    "ru": {
      "communicationWithCustomer": "Общение с заказчиком",
      "selectedReply": "Выбранный отклик"
    },
    "en": {
      "communicationWithCustomer": "Communication with the customer",
      "selectedReply": "Selected Reply"
    }
  }
</i18n>
<template>
  <section class="replies">
    <template v-if="hasMyReply && !isMyReplySelected">
      <div
        class="replies-title bold"
      >{{ hasSelectedReply ? $t('marketplace.myReply') : $t('communicationWithCustomer') }}
      </div>
      <Reply
        ref="myReply"
        :reply="myReply"
        :order="ORDER"
        class="reply selected"
        @open="closeComments($event)"
        @edit="$emit('reload')"
      />
    </template>
    <template v-if="hasSelectedReply">
      <div
        class="replies-title bold"
      >{{
        isMyOrder
        ? $t('profile.supplier')
        : isMyReplySelected
          ? $t('communicationWithCustomer')
          : $t('selectedReply')
        }}
      </div>
      <Reply
        ref="selectedReply"
        :reply="selectedReply"
        :order="ORDER"
        class="reply selected"
        @open="closeComments($event)"
      />
    </template>
    <template v-if="count">
      <template v-if="addRepliesToggler">
        <div
          class="replies-title other-replies-toggler"
          @click="isOtherRepliesOpened = !isOtherRepliesOpened"
        >{{ $t('marketplace.anotherResponses') }} ({{ count }})
          <Icon
            class="icon"
            :class="{ 'is-opened': isOtherRepliesOpened }"
            src="icons/arrow-down.svg"
          />
        </div>
      </template>
      <div v-else class="replies-title">
        {{ count }}&nbsp;{{ $tc('marketplace.responses', count) }}
      </div>
      <div v-show="displayList" class="replies-list">
        <Reply
          v-for="reply in replies"
          :key="reply.id"
          ref="replies"
          :reply="reply"
          :order="ORDER"
          class="reply"
          @open="closeComments($event)"
        />
      </div>
    </template>
    <SelectDialog
      v-if="displaySelectDialog"
    />
    <DeleteDialog
      v-if="displayDeleteDialog"
    />
  </section>
</template>
<script>
  import popoverConsts from '~/utils/popoverConsts'
  import { mapMutations, mapGetters, mapActions } from 'vuex'
  import Reply from '../Reply'
  import { path, prop, isEmpty } from 'ramda'

  export default {
    name: 'RepliesList',
    components: {
      Reply,
      SelectDialog: () => import('../popovers/Select'),
      DeleteDialog: () => import('../popovers/Delete'),
      Icon: () => import('~/components/common/Icon'),
    },
    data: () => ({
      isOtherRepliesOpened: false,
    }),
    computed: {
      ...mapGetters({
        GET_USER: 'user/GET_USER',
        REPLIES_COUNT: 'marketplace/REPLIES_COUNT',
        REPLIES: 'marketplace/REPLIES',
        OPENED_POPOVER: 'popovers/OPENED_POPOVER',
        SELECTED_REPLY: 'marketplace/reply/SELECTED_REPLY',
        ORDER: 'marketplace/order/ORDER',
        DELETED_REPLY: 'marketplace/reply/DELETED_REPLY',
      }),
      isCurrentUserSupplier() {
        return prop('is_supplier', this.GET_USER) && !!prop('as_supplier', this.GET_USER)
      },
      displayList(){
        return ( this.isOtherRepliesOpened || !this.addRepliesToggler )
      },
      addRepliesToggler(){
        return this.hasSelectedReply || this.isCurrentUserSupplier
      },
      createdById() {
        return path(['created_by', 'id'], this.ORDER) || prop('created_by', this.ORDER)
      },
      isMyOrder() {
        return !!this.GET_USER && this.GET_USER.id === this.createdById
      },
      displaySelectDialog(){
        return this.OPENED_POPOVER === popoverConsts.selectReply
      },
      displayDeleteDialog(){
        return this.OPENED_POPOVER === popoverConsts.deleteReply
      },
      selectedReply(){
        return this.REPLIES.filter(item => item.status === 3)[0]
      },
      hasSelectedReply(){
        return !!this.selectedReply
      },
      myReply(){
        return this.REPLIES.filter(reply => {
          const author = path(['created_by', 'id'], reply) || prop('created_by', reply)
          return author === prop('id', this.GET_USER)
        })[0]
      },
      hasMyReply(){
        return this.isCurrentUserSupplier && !!this.myReply
      },
      isMyReplySelected(){
        return this.hasSelectedReply && this.hasMyReply &&  this.myReply.id === this.selectedReply.id
      },
      replies() {
        return this.REPLIES.filter(item => {
          const author = path(['created_by', 'id'], item) || prop('created_by', item)
          return item.status !== 3 && author !== prop('id', this.GET_USER)
        })
      },
      count() {
        let count = this.REPLIES_COUNT
        if ( this.hasSelectedReply )
          count = count - 1
        if ( this.hasMyReply && !this.isMyReplySelected )
          count = count - 1
        return count
      }
    },
    watch: {
      SELECTED_REPLY(){
        if ( this.SELECTED_REPLY ){
          this.$emit('reload')
        }
      },
      DELETED_REPLY() {
        if ( this.DELETED_REPLY ){
          this.$emit('reload')
        }
      }
    },
    created() {
      this.RESET_COMMENTS()
    },
    mounted() {
      const myReply = this.$refs.myReply
      const selectedReply = this.$refs.selectedReply
      if ( myReply )
        myReply.toggleComments()
      else if ( selectedReply )
        selectedReply.toggleComments()
      else if ( this.$refs.replies && this.$refs.replies.length )
        this.$refs.replies[0].toggleComments()

    },
    methods: {
      ...mapActions({
        RESET_COMMENTS: 'marketplace/reply/RESET_COMMENTS'
      }),
      closeComments(replyId) {
        const selectedReply = this.$refs.selectedReply
        const myReply = this.$refs.myReply
        if ( !!selectedReply && selectedReply.reply.id !== replyId && selectedReply.isCommentsOpened)
          selectedReply.toggleComments()
        if ( !!myReply && myReply.reply.id !== replyId && myReply.isCommentsOpened)
          myReply.toggleComments()

        if ( !this.$refs.replies )
          return
        this.$refs.replies.forEach(component => {
          if ( component.reply.id === replyId ) return
          if ( component.isCommentsOpened )
            component.toggleComments()
        })
      }
    },
  }
</script>
<style lang="scss" scoped>
  @import '~/assets/css/variables.scss';

  .bold {
    font-weight: bold;
  }
  .replies {
    &-list {
      .reply {
        &:not(:last-child) {
          margin-bottom: 16px
        }
      }
    }

    .reply.selected {
      margin-bottom: 42px;
    }

    &-title {
      margin-bottom: 9px;
    }
    .other-replies-toggler {
      display: flex;
      align-items: center;
      cursor: pointer;

      .icon {
        transition: color 0.2s, transform 0.2s;
        margin-left: 9px;
      }
      .is-opened {
        transform: rotate(-180deg);
      }
    }
  }
</style>