<i18n>
  {
    "ru": {
      "protectedLink": "Закрытая ссылка",
      "protectedLinkSubtitle": "Укажите ссылку, которая будет доступна только после получения билета",
      "ageTitle": "Возрастное ограничение",
      "ageRestriction": "Укажите возврастное ограничение для посетителей вашего мероприятия.",
      "legalData": "Юридические данные",
      "filLegalData": "Укажите юридические данные организатора для отображения в билете.",
      "noRestriction": "Без ограничений",
      "legalName": "Юридическое название",
      "identNumber": "ИНН",
      "regNumber": "ОГРН",
      "legalAddress": "Юридический адрес",
      "legalPhone": "Телефон",
      "legalEmail": "Электронная почта"
    },
    "en": {
      "protectedLink": "Protected link",
      "protectedLinkSubtitle": "Specify a link that will only be available to users after they receive the ticket",
      "ageTitle": "Age limit",
      "ageRestriction": "Specify age limit for your event visitors.",
      "legalData": "Legal data",
      "filLegalData": "Specify the legal data of the organizer to be displayed on the ticket.",
      "noRestriction": "No limit",
      "legalName": "Legal name",
      "identNumber": "INN",
      "regNumber": "OGRN",
      "legalAddress": "Legal address",
      "legalPhone": "Phone number",
      "legalEmail": "Email address"
    }
  }
</i18n>

<template>
  <div class="scheme-row">
    <div class="age-item">
      <h3 class="title">{{$t('ageTitle')}}</h3>
      <p class="subtitle">{{$t('ageRestriction')}}</p>
      <FormSelect
          v-model="age_restrictions"
          variant="string"
          :options="restrictions"
          :searchable="false"
          openDirection="bottom"
          placeholder
          trackBy="value"
          class="age-item__select"
      >
        <template slot="singleLabel" slot-scope="{ option }">{{ option.title }}</template>
        <template slot="option" slot-scope="{ option }">{{ option.title }}</template>
      </FormSelect>
    </div>
    <div v-if="EVENT.is_online" class="online-item">
      <h3 class="title">{{$t('protectedLink')}}</h3>
      <p class="subtitle">{{$t('protectedLinkSubtitle')}}</p>
      <FormInput
          id="paid_online_link"
          v-model="data.paid_online_link"
          class="legal-item__wide"
          type="url"
          :error="Boolean(get(errors, 'paid_online_link', ''))"
          @change="formatLink"
      />
    </div>
<!--    <template v-if="!ONLY_FREE_TICKETS_FORM" >-->
<!--      <div class="legal-item">-->
<!--        <h3 class="title">{{$t('legalData')}}</h3>-->
<!--        <p class="subtitle">{{$t('filLegalData')}}</p>-->
<!--        <label for="legal_name">{{$t('legalName')}}</label>-->
<!--        <FormInput-->
<!--            id="legal_name"-->
<!--            v-model="data.legal_name"-->
<!--            class="legal-item__wide"-->
<!--            :error="Boolean(get(errors, 'legal_name', ''))"-->
<!--        />-->
<!--      </div>-->
<!--      <div class="legal-item_wrapper">-->
<!--        <div class="legal-item mini">-->
<!--          <label for="taxpayer_identification_number">{{$t('identNumber')}}</label>-->
<!--          <FormInput-->
<!--              id="taxpayer_identification_number"-->
<!--              v-model="data.taxpayer_identification_number"-->
<!--              type="number"-->
<!--              :error="Boolean(get(errors, 'taxpayer_identification_number', ''))"-->
<!--              @input="isValidate"-->

<!--          />-->
<!--        </div>-->
<!--        <div class="legal-item mini">-->
<!--          <label for="main_state_registration_number">{{$t('regNumber')}}</label>-->
<!--          <FormInput-->
<!--              id="main_state_registration_number"-->
<!--              v-model="data.main_state_registration_number"-->
<!--              type="number"-->
<!--              :error="Boolean(get(errors, 'main_state_registration_number', ''))"-->
<!--              @input="isValidate"-->
<!--          />-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="legal-item">-->
<!--        <label for="legal_address">{{$t('legalAddress')}}</label>-->
<!--        <FormInput-->
<!--            id="legal_address"-->
<!--            v-model="data.legal_address"-->
<!--            :error="Boolean(get(errors, 'legal_address', ''))"-->
<!--            class="legal-item__wide"-->
<!--        />-->
<!--      </div>-->
<!--      <div class="legal-item_wrapper">-->
<!--        <div class="legal-item mini">-->
<!--          <label for="legal_phone">{{$t('legalPhone')}}</label>-->
<!--          <FormInput-->
<!--              id="legal_phone"-->
<!--              v-model="data.legal_phone"-->
<!--              :error="Boolean(get(errors, 'legal_phone', ''))"-->
<!--              @input="isValidate"-->
<!--          />-->
<!--        </div>-->
<!--        <div class="legal-item mini">-->
<!--          <label for="legal_email">{{$t('legalEmail')}}</label>-->
<!--          <MailInput-->
<!--              id="legal_email"-->
<!--              v-model="data.legal_email"-->
<!--              class="input-email"-->
<!--              styles="height: 80px; border: none;"-->
<!--              :error="Boolean(get(errors, 'legal_email', ''))"-->
<!--          />-->
<!--          <FormInput-->
<!--              id="legal_email"-->
<!--              v-model="data.legal_email"-->
<!--              :error="Boolean(get(errors, 'legal_email', ''))"-->
<!--          />-->
<!--        </div>-->
<!--      </div>-->
<!--    </template>-->
  </div>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex'
  import FormInput from '~/components/common/input/FormInput'
  import FormSelect from '~/components/common/input/FormSelect'
  import { get, isEmpty } from 'lodash'

  export default {
    name: 'EventForm',
    components: {
      FormInput,
      FormSelect,
    },

    data: () => ({
      data : {
        paid_online_link: '',
        age_restrictions: '',
        // legal_name: '',
        // taxpayer_identification_number: '',
        // main_state_registration_number: '',
        // legal_address: '',
        // legal_phone: ' ',
        // legal_email: ''
      },
      restrictions: [
        {value: '0+', title: '0+'},
        {value: '6+', title: '6+'},
        {value: '12+', title: '12+'},
        {value: '16+', title: '16+'},
        {value: '18+', title: '18+'},
      ],
      age_restrictions : {},
    }),

    computed: {
      ...mapGetters({
        EVENT: 'event/EVENT',
        ONLY_FREE_TICKETS_FORM: 'events/ticketsEdit/ONLY_FREE_TICKETS_FORM',
        CURRENT_EVENT: 'events/ticketsEdit/CURRENT_EVENT',
        errors: 'events/ticketsEdit/EVENT_ERRORS'
      }),
    },

    watch: {
      data: {
        deep: true,
        handler: function () {
          this.setCurrentEvent({data: this.data})
          // if(this.isValidate()) {
          // }
        }
      },
      age_restrictions: function () {
        this.data.age_restrictions = this.age_restrictions.value
      },
      EVENT: function () {
        if(isEmpty(this.EVENT)) {
          return true
        }
        const {
          paid_online_link,
          age_restrictions,
          // legal_name,
          // taxpayer_identification_number,
          // main_state_registration_number,
          // legal_address,
          // legal_phone,
          // legal_email
        } = this.EVENT
        this.data = {
          paid_online_link: paid_online_link || '',
          age_restrictions: age_restrictions || this.restrictions[0].value,
          // legal_name: legal_name || '',
          // taxpayer_identification_number: taxpayer_identification_number || '',
          // main_state_registration_number: main_state_registration_number || '',
          // legal_address: legal_address || '',
          // legal_phone: legal_phone || '',
          // legal_email: legal_email || ''
        }
        this.age_restrictions = this.restrictions.find(item => item.value  === this.data.age_restrictions)
      }
    },
    mounted() {
      this.restrictions[0].title =  `${this.$t('noRestriction')} (0+)`
    },
    updated() {
      this.restrictions[0].title =  `${this.$t('noRestriction')} (0+)`
    },
    methods: {
      ...mapActions('events/ticketsEdit/', ['setCurrentEvent', 'setEventErrors']),
      get,
      formatLink(event) {
        const link = event.target.value
        this.data.paid_online_link = !link ? link
          : link.startsWith('http')
            ? link
            : 'https://' + link

      },
      // isValidate() {
      //   const errors = {};
      //   const validData = {
      //     inn: this.data.taxpayer_identification_number,
      //     ogrn: this.data.main_state_registration_number,
      //     phone: this.data.legal_phone,
      //   }
      //   if(validData.inn < 0 || validData.inn.length > 50){
      //     errors.taxpayer_identification_number = 'not number'
      //   }
      //   if(validData.ogrn < 0 || validData.ogrn.length > 50) {
      //     errors.main_state_registration_number = 'not number'
      //   }
      //   const regex =  /^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\s\./0-9]*$/;
      //   if(validData.phone && validData.phone.match(regex) === null || validData.phone.length > 50) {
      //     errors.legal_phone = 'not phone number'
      //   }
      //   this.setEventErrors(errors)
      //   return isEmpty(errors)
      // }
    }
  }
</script>
<style lang="scss">
  input.form-input::-webkit-outer-spin-button,
  input.form-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input.form-input[type=number] {
    -moz-appearance: textfield;
  }
</style>
<style lang="scss" scoped>


  @import '~/assets/css/variables.scss';
  .scheme-row {
    input{
      height: 80px!important;
    }
    margin-bottom: 200px;
    .title{
      font-size: 24px;
      font-weight: bold;
    }
    .subtitle{
      font-size: 16px;
      font-weight: normal;
      margin-top: 0;
    }
    .age-item{
      &__select{
        width: 312px;
        height: 64px;
        background-color: #ffffff;
        padding-left: 25px;
        padding-right: 25px;
      }
    }
    .online-item{
      margin-top: 64px;
    }
    .legal-item_wrapper{
      display: flex;
      .mini{
        max-width: 415px;
        width: 50%;
        margin-right: 25px;
      }
    }
    .legal-item {
      margin-top: 64px;
      label{
        font-size: 18px;
        font-weight: bold;
        color: rgba(0, 0, 0, 0.4);
      }
      &__wide{
        width: 100%;
        height: 64px;
        background-color: #ffffff;
      }
    }
    &__control {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .remove-btn {
      color: $black-gray;
      transition: color 0.3s;
      cursor: pointer;

      &:hover {
        color: $black-gray-hover;
      }
    }

    &__error {
      color: $red;
    }
  }
</style>
