<i18n>
{
  "ru": {
    "titlePlaceholder": "Например, «Партер», «1-5 ряд»",
    "deleteSchemeQuestion": "Вы уверены, что хотите удалить схему билетов?"
  },
  "en": {
    "titlePlaceholder": "For example, “Parterre”, “1-5 row”",
    "deleteSchemeQuestion": "Delete scheme?"
  },
  "es": {
    "titlePlaceholder": "Por ejemplo, “Filas de la 1era a la 5ta“",
    "deleteSchemeQuestion": "Delete scheme?"
  }
}
</i18n>

<template>
  <div class="scheme-row">
    <FormInput
        variant="medium"
        :placeholder="$t('titlePlaceholder')"
        :value="scheme.title"
        :error="Boolean(error.title)"
        @input="updateSessionScheme({ session, scheme, key: 'title', value: $event })"
        :class="!session.isActual && (idx === Object.keys(session.schemes).length - 1) ? 'none' : ''"
    />
    <FormInput
        variant="medium"
        :value="scheme.tickets_total"
        :error="Boolean(error.tickets_total)"
        type="number"
        @input="updateSessionScheme({ session, scheme, key: 'tickets_total', value: Number($event) })"
        :class="!session.isActual && (idx === Object.keys(session.schemes).length - 1) ? 'none' : ''"
    />

    <!-- scheme.tickets_price.currency.symbol -->
    <FormInput
        v-if="!ONLY_FREE_TICKETS_FORM"
        variant="medium"
        :value="scheme.tickets_price.amount"
        :error="Boolean(error.tickets_price)"
        type="number"
        paddingRight="56"
        @input="updateSessionScheme({
        session, scheme,
        key: 'tickets_price',
        value: {
          ...scheme.tickets_price,
          amount: Number($event)
        }
      })"
        :class="!session.isActual && (idx === Object.keys(session.schemes).length - 1) ? 'none' : ''"
    >
      <template v-if="!ONLY_FREE_TICKETS_FORM" #icon >
        <FormSelect
            variant="string"
            :value="scheme.tickets_price.currency"
            :options="CURRENCIES"
            :maxHeight="168"
            :allowEmpty="false"
            openDirection="bottom"
            placeholder
            trackBy="code"
            @input="updateCurrency"
        >
          <template slot="singleLabel" slot-scope="{ option }">{{ option.symbol }}</template>
          <template slot="option" slot-scope="{ option }">{{ option.symbol }}</template>
        </FormSelect>
      </template>
    </FormInput>

    <div class="scheme-row__control" v-if="!ONLY_FREE_TICKETS_FORM">
      <BtnWithIcon
          v-if="idx === Object.keys(session.schemes).length - 1"
          icon="add"
          size="big"
          color="blue-transparent"
          @click="addScheme(session.id)"
          :class="!session.isActual ? 'none' : ''"
      />
      <span v-else class="remove-btn ww-icn-cross" @click="openSchemeDeletePopover"></span>
    </div>
    <ConfirmDialog
        v-if="OPENED_POPOVER === popoverConsts.deleteScheme"
        type="danger"
        @confirm="removeScheme"
        @cancel="TOGGLE_POPOVER('')"
    >
      <h2>{{ $t('deleteSchemeQuestion') }}</h2>
      <template slot="confirm">{{ $t('common.confirmDelete') }}</template>
      <template slot="cancel">{{ $t('common.ignoreDelete') }}</template>
    </ConfirmDialog>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

import popoverConsts from '~/utils/popoverConsts'
import { deleteTicketsSchemeById } from '~/api'
import { CLIENT_SCHEME_PREFIX } from '~/store/events/ticketsEdit'

import BtnWithIcon from '~/components/common/buttons/BtnWithIcon'
import FormInput from '~/components/common/input/FormInput'
import FormSelect from '~/components/common/input/FormSelect'

export default {
  name: 'SchemeRow',

  components: {
    BtnWithIcon,
    FormInput,
    FormSelect,
    ConfirmDialog: () => import('~/components/common/popovers/ConfirmDialog'),
  },

  props: {
    scheme: {
      type: Object,
      require: true,
    },
    session: {
      type: Object,
      required: true,
    },
    idx: {
      type: Number,
      required: true,
    },
  },

  data: () => ({
    popoverConsts,
  }),

  computed: {
    ...mapGetters('events/ticketsEdit/', ['SCHEME_ERROR_BY_ID', 'ONLY_FREE_TICKETS_FORM', 'CURRENCIES']),
    ...mapGetters('popovers/', ['OPENED_POPOVER', 'POPOVER_DATA']),
    error() {
      return this.SCHEME_ERROR_BY_ID(this.scheme.id) || {}
    }
  },

  methods: {
    ...mapActions({
      addSchemeBySession: 'events/ticketsEdit/addSchemeBySession',
      removeSchemeBySession: 'events/ticketsEdit/removeSchemeBySession',
      updateSessionScheme: 'events/ticketsEdit/updateSessionScheme',
      updateSchemesCurrency: 'events/ticketsEdit/updateSchemesCurrency',
      loadTicketsEdit: 'events/ticketsEdit/loadTicketsEdit',
      OPEN_POPOVER_WITH_DATA: 'popovers/OPEN_POPOVER_WITH_DATA',
      TOGGLE_POPOVER: 'popovers/TOGGLE_POPOVER',
    }),
    addScheme(sessionId) {
      this.addSchemeBySession({ id: sessionId })
    },
    openSchemeDeletePopover() {
      this.OPEN_POPOVER_WITH_DATA({
        name: popoverConsts.deleteScheme,
        data: {
          schemeId: this.scheme.id,
          eventId: this.scheme.event,
          sessionId: this.session.id,
        },
      })
    },
    async removeScheme() {
      const isLocalScheme = this.POPOVER_DATA.schemeId
        .toString()
        .startsWith(CLIENT_SCHEME_PREFIX)

      if (isLocalScheme) {
        this.removeSchemeBySession({
          sessionId: this.POPOVER_DATA.sessionId,
          schemeId: this.POPOVER_DATA.schemeId,
        })
        this.TOGGLE_POPOVER('')

        return
      }

      this.$store.dispatch('popovers/SWITCH_PRE_LOADER', true)

      try {
        await deleteTicketsSchemeById(this.$axios, {
          id: this.POPOVER_DATA.schemeId,
        })
        await this.loadTicketsEdit({ id: this.POPOVER_DATA.eventId })
        this.TOGGLE_POPOVER('')
      } catch (e) {
        console.log(e)
      }

      this.$store.dispatch('popovers/SWITCH_PRE_LOADER', false)
    },
    updateCurrency(currency) {
      this.updateSchemesCurrency({ currency })
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.scheme-row {
  .none{
    display: none;
  }
  &__control {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .remove-btn {
    height: 16px;
    color: $black-gray;
    transition: color 0.3s;
    cursor: pointer;

    &:hover {
      color: $black-gray-hover;
    }
  }

  &__error {
    color: $red;
  }
}
</style>
