<i18n>
  {
    "ru": {
      "event_tickets": "Билеты на событие",
      "free_registration": "Бесплатная регистрация"
    },
    "en": {
      "event_tickets": "Tickets for the event",
      "free_registration": "Free registration"
    }
  }
</i18n>

<template>
  <div class="form">
    <div class="form__item">
      <input
          :value="1"
          type="radio"
          class="form__input"
          name="formModeInput"
          :checked="!ONLY_FREE_TICKETS_FORM"
          @change="setOnlyFreeTicketsForm(false)"
      />
      <div class="form__caption">
        <Icon src="icons/check.svg" class="icon" />
        <span class="form__title">{{ $t('event_tickets') }}</span>
      </div>
    </div>
    <div class="form__item">
      <input
          :value="0"
          type="radio"
          class="form__input"
          name="formModeInput"
          :checked="ONLY_FREE_TICKETS_FORM"
          @change="setOnlyFreeTicketsForm()"
      />
      <div class="form__caption">
        <Icon src="icons/check.svg" class="icon" />
        <span class="form__title">{{ $t('free_registration') }}</span>
      </div>
    </div>
  </div>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex'
  export default {
    name: 'SchemesModeForm',
    components: {
      Icon: () => import('~/components/common/Icon'),
    },
    computed: {
      ...mapGetters('events/ticketsEdit', ['ONLY_FREE_TICKETS_FORM']),
    },
    methods: {
      ...mapActions('events/ticketsEdit', ['setOnlyFreeTicketsForm'])
    },
  }
</script>

<style lang="scss" scoped>
  @import '~/assets/css/variables.scss';
  .icon {
    margin-right: 1.5 * $base;
    position: relative;
    opacity: 0;
    color: $blue;
  }
  .form{
    padding-bottom: 35px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    .form__item {
      margin-bottom: 1px;

      @media (min-width: $desktopSD) {
        &:not(:last-child) {
          margin-right: 1px;
        }
      }
      @media ($mobile) {
        margin-top: 8px;
      }
    }

    &__item {
      background-color: #ffffff;
      display: inline-flex;
      align-items: center;
      flex-grow: 1;
      position: relative;
      white-space: nowrap;

      &:hover, &:focus {
        .form__caption{
          opacity: 1.0;
          box-shadow: 0 0 15px 0 rgba(209, 220, 234, 0.3);
        }
      }
    }
    &__input {
      cursor: pointer;
      height: 100%;
      left: 0;
      opacity: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 1;

      &:checked + .form__caption {
        opacity: 1.0;
        box-shadow: 0 0 15px 0 rgba(209, 220, 234, 0.3);
        .icon {
          opacity: 1;
        }
      }
    }

    &__caption {
      opacity: 0.4;
      padding: 15px;
      justify-content: center;
      @include text(3);
      font-weight: bold;
      position: relative;
      user-select: none;
      text-align: center;
      height: 100%;
      width: 100%;
      max-height: 64px;
    }
  }
</style>
