<i18n>
{
  "ru": {
    "ticketGroup": "Группа билетов",
    "registrationTitle": "Заголовок",
    "numberOfTickets": "Количество билетов",
    "numberOfPlaces": "Количество мест",
    "price": "Цена"
  },
  "en": {
    "ticketGroup": "Ticket group",
    "registrationTitle": "Title",
    "numberOfTickets": "Number of tickets",
    "numberOfPlaces": "Number of places",
    "price": "Price"
  },
  "es": {
    "ticketGroup": "Tipos de tickets",
    "numberOfTickets": "Cantidad de tickets",
    "price": "Precio"
  }
}
</i18n>

<template>
  <div class="ticket-schemes">
    <Loader v-if="isLoading"/>
    <div v-for="session in sortedSessions" :key="session.id" class="ticket-group">
      <div :class="!session.isActual ? 'disabled ticket-group__datetime' : 'ticket-group__datetime'">{{ session.startDtString }}</div>
      <div class="ticket-group__table ticket-group__table--header">
        <template v-if="ONLY_FREE_TICKETS_FORM">
          <div>{{ $t('registrationTitle') }}</div>
          <div>{{ $t('numberOfPlaces') }}</div>
        </template>
        <template v-else>
          <div>{{ $t('ticketGroup') }}</div>
          <div>{{ $t('numberOfTickets') }}</div>
          <div>{{ $t('price') }}</div>
        </template>
      </div>

      <SchemeRow
        v-for="(scheme, _, idx) in session.schemes"
        :key="scheme.id"
        :session="session"
        :idx="idx"
        :scheme="scheme"
        class="ticket-group__table"
        :style="{
          zIndex: Object.keys(session.schemes).length - idx
        }"
      />
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

import SchemeRow from '~/components/events/ww-tickets/SchemeRow'
import orderBy from "lodash/orderBy";

export default {
  name: 'TicketSchemes',

  components: {
    SchemeRow,
    Loader: () => import('~/components/common/Loader'),
  },
  data: () =>  ({
    sortedSessions: {}
  }),
  computed: {
    ...mapGetters({
      sessions: 'events/ticketsEdit/SESSIONS_WITH_SCHEMES',
      ONLY_FREE_TICKETS_FORM: 'events/ticketsEdit/ONLY_FREE_TICKETS_FORM',
      isLoading: 'events/ticketsEdit/LOADING',
    }),
  },
  watch: {
    sessions() {
      this.sortedSessions = orderBy(this.sessions, 'start_dt', 'desc')
    }
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.ticket-schemes {
  .ticket-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: auto;
    padding-bottom: 168px;
    margin-left: -2px;
    padding-left: 2px;

    @media (min-width: $desktopSD) {
      overflow: unset;
      margin-bottom: 40px;
      padding-bottom: 0;
      margin-left: 0;
      padding-left: 0;

      &:last-child {
        margin-bottom: 168px;
      }
    }
    .disabled{
      background-color: lightgrey;
      border: 2px solid lightgrey;
      color: black;
      pointer-events: none
    }
    &__datetime {
      padding: 20px 34px;
      @include text(2);
      box-shadow: 0 0 20px 0 rgba(0, 112, 255, 0.1);
      border: solid 2px $blue;
      background-color: $blue;
      color: #fff;
      margin-bottom: 24px;
    }

    &__table {
      display: grid;
      width: 100%;
      grid-template-columns: minmax(184px, 1fr) 184px 184px 64px;
      grid-gap: 4px 8px;
      margin-bottom: 8px;
      position: relative;

      &--header {
        color: #999999;
      }
    }

    .fake-input {
      height: 64px;
      background: #f3f3f3;
    }
  }
}
</style>
