<template>
  <CreateJournal :journal="journal" :fromRoute="from" />
</template>

<script>
import { mapGetters } from 'vuex'
import { prop } from 'ramda'
import { setLatestModifiedAnd304 } from '~/utils'

export default {
  middleware: 'personal-data-agreement',
  layout: 'default',
  name: 'PageEditJournal',
  components: {
    CreateJournal: () => import('~/components/journals/create-journal'),
  },
  data: () => ({
    from: null,
  }),
  computed: {
    ...mapGetters({
      journal: 'journal/CURRENT_JOURNAL',
    }),
  },
  async fetch({ store, params, redirect, error, res, req, query }) {
    if (!store.getters['journal/IS_OWN']) return redirect('/', query)
    const jId = prop('0', params.journal.match(/\d+/))
    if (!jId) return error({ statusCode: 404, message: 'Journal not found' })
    try {
      await store.dispatch('journal/GET_JOURNAL', jId)
      const url_id = store.getters['journal/CURRENT_JOURNAL'].url_id
      if (url_id !== params.journal) {
        return redirect(
          301,
          `${process.env.domainUrl}/events/collections/${url_id}`,
          query
        )
      }
    } catch (err) {
      return error(err)
    }

    if (process.server) {
      setLatestModifiedAnd304({ res, req, store }, [
        store.getters['journal/modified'],
      ])
    }
  },
  beforeRouteEnter(to, from, next) {
    next(vm => {
      vm.from = from
    })
  },
}
</script>
