<template>
  <div>
    <div class="wrapper">
      <div class="journal">
        <div class="journal-header">
          <div class="journal-header__left">
            <Controls :is-own="isOwn">
              <Cover :cover="getJournal.cover" />
            </Controls>
          </div>
          <div class="journal-header__right">
            <nuxt-link v-if="createdBy" :to="`/profile/${createdBy}/`" class="user">
              <Avatar :user="journalUser" size="64" class="user__avatar" />
              <div class="user__name">{{ creatorFullName }}</div>
            </nuxt-link>
            <div v-else class="user">
              <Avatar :user="journalUser" size="64" class="user__avatar" />
              <div class="user__name">{{ creatorFullName }}</div>
            </div>
            <h2 class="journal-header__title">{{ getJournalField('title') }}</h2>

            <Stats :views="getJournal.hits_count" :subscribers="getJournal.subscribers" />

            <div class="control-panel">
              <ShareBtn class="control-panel__btn" />

              <template v-if="isOwn">
                <ViewToggler
                  class="control-panel__btn view-toggler"
                  small
                  :default="getJournal.private"
                  @rightHandler="handleView('visible')"
                  @leftHandler="handleView('hidden')"
                />

                <BtnWithIcon color="blue" icon="pencil" @click="handleEditJournal" />
                <SidebarMoreBtn />
              </template>
            </div>

            <div v-if="hasButtonPanel" class="button-panel">
              <div
                v-if="isOwn || $store.state.journal.journalEvents.count > 0"
                class="button-panel__item cursor"
                :class="{ invert: currentSection === sections.events }"
                @click="currentSectionHandler(sections.events)"
              >{{ $t('common.events') }}</div>
            </div>
          </div>
        </div>
        <div class="container-header">
          <JournalBreadCrumbs :journal="getJournal" class="journal__breadcrumbs" />
          <button v-if="HAS_JOURNAL_EVENTS" class="widget-button" @click="openWidgetModal">
            <Icon src="icons/link.svg" class="widget-button__image" />
            <span class="widget-button__text">{{ $t('journal.getWidget') }}</span>
          </button>
        </div>
        <div ref="container" class="journal__row">
          <div class="journal__col journal__col_left">
            <Events
              v-if="
                currentSection === sections.all ||
                  currentSection === sections.events
              "
              :id="sections.events"
              :singleMode="currentSection === sections.events"
              @showAll="currentSectionHandler"
              @addRequest="handleAddToJournal"
            />
            <Comments
              v-if="currentSection === sections.all"
              class="journal__comments"
              @send="sendComment"
            />
          </div>
          <Media :query="{ minWidth: 1200 }">
            <div class="journal__col journal__col_right">
              <transition name="fade">
                <Sidebar
                  v-if="isOwn || fixed"
                  :journal="getJournal"
                  :currentSection="currentSection"
                  @changeSection="currentSectionHandler"
                  @addRequest="handleAddToJournal"
                >
                  <ActionBlock :isOwn="isOwn" @edit="handleEditJournal" />
                </Sidebar>
              </transition>
            </div>
          </Media>
        </div>
      </div>
    </div>
    <SimilarJournals
      v-if="currentSection === sections.all && HAS_SIMILAR_JOURNALS"
      :similar="SIMILAR_JOURNALS"
    />
    <ThingsToDo v-if="city && seoLinks" class="wrapper">{{ city.title }}</ThingsToDo>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import { journalSections } from '~/utils/JournalConsts'
import { path, prop } from 'ramda'
import {
  hasCover,
  scrollToElement,
  fmtDescription,
  setLatestModifiedAnd304,
} from '~/utils'
import thumborize from '~/utils/thumborize'
import popoverConsts from '~/utils/popoverConsts'
import Cover from '~/components/common/Cover'

const hasDescription = d => {
  let retVal = []

  if (d) {
    const description = fmtDescription(d)

    retVal = [
      {
        hid: 'ogDescription',
        property: 'og:description',
        content: description,
      },
      {
        hid: 'description',
        name: 'description',
        content: description,
      },
    ]
  }

  return retVal
}

export default {
  layout: 'default',
  components: {
    Comments: () => import('~/components/common/Comments'),
    Events: () => import('~/components/journals/events/Events.vue'),
    Media: () => import('vue-media'),
    SimilarJournals: () =>
      import('~/components/journals/SimilarJournals/SimilarJournals.vue'),
    Sidebar: () => import('~/components/journals/SideBar'),
    SidebarMoreBtn: () => import('~/components/journals/SideBar/SideMoreBtn'),
    ActionBlock: () => import('~/components/journals/SideBar/ActionBlock'),
    Cover,
    Icon: () => import('~/components/common/Icon'),
    Controls: () => import('~/components/journals/Controls'),
    Stats: () => import('~/components/journals/SideBar/Stats'),
    ShareBtn: () => import('~/components/common/buttons/ShareBtn.vue'),
    BtnWithIcon: () => import('~/components/common/buttons/BtnWithIcon'),
    ViewToggler: () => import('~/components/journals/SideBar/ViewToggler'),
    JournalBreadCrumbs: () =>
      import('~/components/journals/JournalBreadCrumbs'),
    Avatar: () => import('~/components/common/Avatar'),
    ThingsToDo: () => import('~/components/common/ThingsToDo'),
  },
  data() {
    return {
      sections: journalSections,
      currentSection: journalSections.all,
      fixed: false,
    }
  },
  computed: {
    ...mapGetters({
      isAuth: 'auth/IS_AUTH',
      isOwnJournal: 'journal/IS_OWN',
      getJournal: 'journal/CURRENT_JOURNAL',
      getJournalField: 'journal/GET_JOURNAL_FIELD',
      getCreatorFullName: 'journal/GET_CREATOR_FULL_NAME',
      HAS_JOURNAL_EVENTS: 'journal/HAS_JOURNAL_EVENTS',
      HAS_SIMILAR_JOURNALS: 'journal/HAS_SIMILAR_JOURNALS',
      SIMILAR_JOURNALS: 'journal/SIMILAR_JOURNALS',
      city: 'city/GET_CITY',
      seoLinks: 'seo/results',
    }),
    createdBy() {
      return path(['created_by', 'id'], this.getJournal)
        ? this.getJournal.created_by.id
        : false
    },
    creatorFullName() {
      return this.getCreatorFullName || this.$t('profile.user')
    },
    journalUser() {
      return prop('created_by', this.getJournal)
    },
    isOwn() {
      return this.isAuth && this.isOwnJournal
    },
    hasButtonPanel() {
      const { journalEvents } = this.$store.state.journal

      return this.isOwn || [journalEvents].some(s => s.count > 0)
    },
  },
  watch: {
    // !!!!!
    isAuth() {
      const jId = prop('0', this.$route.params.journal.match(/\d+/))
      this.$store.dispatch('journal/GET_JOURNAL', jId)
    },
  },
  async fetch({ store, params, redirect, error, req, res, query }) {
    const jId = prop('0', params.journal.match(/\d+/))
    if (!jId) return error({ statusCode: 404, message: 'Journal not found' })
    const geoId = store.getters['city/GET_CITY_ID']
    try {
      const [journal] = await Promise.all([
        store.dispatch('journal/GET_JOURNAL', jId),
        store.dispatch('journal/GET_JOURNAL_EVENTS', {
          id: jId,
          page_size: 50,
        }),
        store.dispatch('journal/GET_JOURNAL_COMMENTS', jId),
        store.dispatch('journal/GET_SIMILAR_JOURNALS', { id: jId }),
        store.dispatch('seo/FETCH', { geoname_id: geoId }),
      ])

      const url_id = prop('url_id', journal)
      if (!url_id) return redirect('/', query)
      if (url_id !== params.journal) {
        return redirect(
          301,
          `${process.env.domainUrl}/events/collections/${url_id}`,
          query
        )
      }
    } catch (err) {
      console.log(err)
      return redirect('/', query)
    }

    if (process.server) {
      setLatestModifiedAnd304({ res, req, store }, [
        store.getters['journal/modified'],
      ])
    }
  },
  async mounted() {
    window.addEventListener('scroll', this.computeSidebarFixed, true)
  },

  beforeDestroy() {
    window.removeEventListener('scroll', this.computeSidebarFixed, true)
  },

  methods: {
    ...mapActions({
      sendCommentForJournal: 'journal/SEND_COMMENT_JOURNAL',
      openPopoverWithData: 'popovers/OPEN_POPOVER_WITH_DATA',
    }),
    openWidgetModal() {
      this.openPopoverWithData({
        name: popoverConsts.searchWidget,
        data: {
          searchQuery: {
            journal: this.getJournal.id,
          },
          eventsGetter: 'journal/JOURNAL_EVENTS',
        },
      })
    },
    async sendComment({ parent, comment }) {
      try {
        await this.sendCommentForJournal({ parent, comment })
      } catch (e) {}
    },
    handleEditJournal() {
      this.$router.push(`/events/collections/${this.getJournal.url_id}/edit/`)
    },
    computeSidebarFixed() {
      const scrollTop = window.pageYOffset || document.documentElement.scrollTop
      const offsetTop = this.$refs.container.getBoundingClientRect().top
      this.fixed = scrollTop >= offsetTop
    },

    getCover() {
      const img = path(['cover', 'image'], this.getJournal)

      return img
        ? [
            thumborize(img, 'other', 500, 450),
            thumborize(img, 'other', 650, 450),
          ]
        : [
            require('~/static/imgs/default.png'),
            require('~/static/imgs/default.png'),
          ]
    },
    currentSectionHandler(section) {
      const isAlreadyCurrent = this.currentSection === section

      this.currentSection = isAlreadyCurrent ? this.sections.all : section

      this.$nextTick(() => {
        const element = isAlreadyCurrent
          ? this.$refs.container
          : document.querySelector(`#${section}`)

        scrollToElement({
          element,
          align: 'top',
        })
      })
    },
    handleAddToJournal(event) {
      switch (event) {
        case this.sections.events:
          this.$router.push({
            name: 'events-collections-journal-add-event',
            params: {
              journal: this.getJournal.url_id,
            },
          })
          break
      }
    },
    async handleView(state) {
      if (state === 'hidden') {
        await this.$store.dispatch('journal/UPDATE_JOURNAL', { private: true })
        this.$store.dispatch(
          'notifications/success',
          this.$t('journal.visibilityNotificationFalse'),
        )
      }
      if (state === 'visible') {
        await this.$store.dispatch('journal/UPDATE_JOURNAL', { private: false })
        this.$store.dispatch(
          'notifications/success',
          this.$t('journal.visibilityNotificationTrue'),
        )
      }
    },
  },
  head() {
    return {
      meta: [
        {
          hid: 'ogUrl',
          property: 'og:url',
          content: `${process.env.domainUrl}${this.$route.path}`,
        },
        { hid: 'ogtype', property: 'og:type', content: 'article' },
        {
          hid: 'ogTitle',
          property: 'og:title',
          content: `${this.getJournal.title} на WhatWhere.World`,
        },
        {
          hid: 'title',
          name: 'title',
          content: `${this.getJournal.title} на WhatWhere.World`,
        },
        ...hasDescription(this.getJournal),
        ...hasCover(this.getJournal),
        { hid: 'imgwidth', property: 'og:image:width', content: `1200` },
        { hid: 'imgheight', property: 'og:image:height', content: `600` },
      ],
      link: [
        {
          rel: 'canonical',
          href: `${process.env.domainUrl}${this.$route.path}`,
        },
      ],
    }
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.container-header {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;
  justify-content: space-between;
  align-items: center;
}

.widget-button {
  color: $blue;
  display: flex;
  align-items: center;
  padding: 0;
  min-width: 0;

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &__image {
    margin-right: 6px;
  }

  &__text {
    @include no-text-wrap;
  }
}

.fade-leave-active,
.fade-enter-active {
  transition: 1s;
}
.fade-enter {
  transform: translateY(-30%);
}
.fade-leave-to {
  opacity: 0;
}

// jouranl.scss
.journal {
  @media (min-width: $desktopHD) {
    padding-top: 9 * $base;
  }

  &__comments {
    margin-top: 4 * $base;
  }
  &-header {
    margin-bottom: 5 * $base;

    @media (min-width: $desktopHD) {
      display: grid;
      grid-template-columns: minmax(328px, auto) minmax(300px, auto);
      grid-gap: 48px;
    }

    &__left {
      position: relative;
      flex-basis: 50.5%;
      @media (max-width: $sideShow) {
        flex-basis: 35%;
      }
    }
    &__right {
      min-width: 0;
      flex-basis: 49.5%;
      //padding: 0 14 * $base 0 5 * $base;
      @media (max-width: $sideShow) {
        flex-basis: 65%;
        //padding-right: 0;
      }

      @media (max-width: $desktopHD) {
        position: relative;
        z-index: 2;
        //padding-right: $base * 2;
        //padding-left: $base * 2;
      }
    }
    &__title {
      @include text(8);
      overflow-wrap: break-word;
      margin-bottom: 8.5 * $base;
      margin-top: 5 * $base;

      @media (max-width: $sideShow) {
        @include text(6);
      }

      @media (max-width: $desktopHD) {
        @include text(4);
        line-height: 1.25;
        margin-top: $base * 6;
        margin-bottom: $base * 3;
      }
    }
  }

  &__breadcrumbs {
    margin-right: 16px;
  }

  &__row {
    display: flex;
    justify-content: flex-start;
  }

  &__col {
    &_left {
      flex-basis: 69%;
      padding-right: 112px;
      section:first-child {
        margin-top: 0;
      }

      @media (max-width: $sideShow) {
        padding-right: $base * 10;
      }
      @media (max-width: 1200px) {
        flex-basis: 100%;
        padding-right: 0;
        max-width: 100%;
      }
    }
    &_right {
      min-width: 0;
      flex-basis: 31%;
    }
  }
}

.control-panel {
  margin-top: 3 * $base;
  display: flex;

  @media (min-width: $desktopHD) {
    display: none;
  }

  .control-panel__btn:not(:last-child) {
    margin-right: $base;
  }

  .view-toggler {
    flex-flow: row;
  }
}

////////////////
// button-panel.scss
.button-panel {
  display: flex;
  border: 2px solid $blue;
  margin-top: 6.5 * $base;

  @media (max-width: $desktopSD) {
    border: none;
    margin-top: 5 * $base;
  }

  &__item {
    color: $blue;
    text-transform: uppercase;
    font-weight: bold;
    flex-grow: 1;
    text-align: center;
    padding: 1.5 * $base 0;
    &:not(:last-child) {
      border-right: 2px solid $blue;
    }

    @media (max-width: $desktopSD) {
      border: none !important;
      flex-grow: 0;
      padding-right: 5 * $base;
      padding-left: 5 * $base;
      @include text(1.5);
    }

    @media (max-width: 640px) {
      padding-right: 4 * $base;
      padding-left: 4 * $base;
    }
  }
}

/////////////////
// user.scss
.user {
  align-items: center;
  display: inline-flex;
  @media (max-width: $desktopHD) {
    display: block;
    position: absolute;
    top: -$base * 12;
    z-index: 10;
  }
  &:hover,
  &:focus {
    .user__name {
      text-decoration: underline;
    }
  }

  &__avatar {
    flex-shrink: 0;
    margin-right: 3 * $base;
    /*
      TODO: remove this hack with deep after breakpoints in js;
    */
    @media (max-width: $desktopHD) {
      width: $base * 6 !important;
      height: $base * 6 !important;
      & /deep/ {
        .avatar {
          width: $base * 6;
          height: $base * 6;
        }
      }
    }
  }

  &__name {
    color: $primary;
    margin-bottom: 0.375 * $base;
    @media (max-width: $desktopHD) {
      display: none;
    }
  }
}

.button-panel__item {
  &.invert {
    color: #fff;
    background-color: $blue;
  }
}
.cursor {
  cursor: pointer;
}
</style>
