<template>
  <div class="read-more">
    <div
      ref="content"
      :class="{ 'read-more__content--roll-up': isRollUp && isShowButton }"
      class="read-more__content"
    >
      <slot></slot>
    </div>
    <button
      v-if="isShowButton"
      class="read-more__button"
      @click="isRollUp = !isRollUp"
    >
      {{ isRollUp ? $t('common.showMore') : $t('common.showLess') }}
    </button>
  </div>
</template>

<script>
export default {
  props: {
    maxHeight: {
      type: [String, Number],
      default: 200,
    },
    color: String,
  },
  data: () => ({ isRollUp: true, contentHeight: 200 }),
  computed: {
    isShowButton() {
      return this.contentHeight > this.maxHeight * 1.5
    },
  },
  watch: {
    isRollUp() {
      this.$emit('toggle', !this.isRollUp) // emit reverted value
      this.isRollUp ? this.$emit('rollup') : this.$emit('expand')
    },
  },
  mounted() {
    if (this.color) {
      this.$el.style.setProperty('--color', this.color)
    }
    if (this.maxHeight) {
      this.$el.style.setProperty('--height', this.maxHeight + 'px')
    }
    this.contentHeight = this.$refs.content.scrollHeight
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.read-more {
  --color: #000;
  --height: 200px;
  &__content {
    overflow: hidden;
    max-height: 5000px;
    transition: max-height 0.5s;

    &--roll-up {
      position: relative;
      max-height: var(--height);
      transition: max-height 0.5s;

      &:after {
        content: '';
        display: block;
        width: 100%;
        height: 80%;
        position: absolute;
        pointer-events: none;
        z-index: 10;
        bottom: 0;
        background: linear-gradient(to bottom, rgba($gray, 0), $gray);
        @media (min-width: $desktopSD) {
          background: linear-gradient(to bottom, rgba(#fff, 0), #fff);
        }
      }
    }
  }
  &__button {
    @include text(1.5);
    text-transform: uppercase;
    color: var(--color);
    padding: 0;
  }
}
</style>
