<i18n>
{
  "ru": {
    "deleteFile": "Подтвердите удаление файла:",
    "fileDeleted": "Файл успешно удалена"
  },
  "en": {
    "deleteFile": "Confirm the deletion of the file:",
    "fileDeleted": "Your file was successfully deleted"
  }
}
</i18n>
<template>
  <ConfirmDialog
      type="danger"
      @confirm="deleteFile"
      @cancel="close"
  >
    <h2>{{ $t('deleteFile') }}</h2>
    <h3 class="dialog-title">{{title}}</h3>
    <template slot="confirm">{{ $t('common.confirmDelete') }}</template>
    <template slot="cancel">{{ $t('common.ignoreDelete') }}</template>
  </ConfirmDialog>
</template>
<script>
  import popoverConsts from '~/utils/popoverConsts'
  import { path } from "ramda"
  import { mapActions, mapGetters } from 'vuex'

  export default {
    name: 'FileDeletePopover',
    components: {
      ConfirmDialog: () => import('~/components/common/popovers/ConfirmDialog'),
    },
    computed: {
      ...mapGetters({popoverData: 'popovers/POPOVER_DATA'}),
      title() {
        return path(['file', 'file'], this.popoverData).split('/').pop()
      },
    },
    methods: {
      ...mapActions({
        showSuccess: 'notifications/success',
      }),
      ...mapActions('popovers', ['OPEN_POPOVER_WITH_DATA']),
      ...mapActions({DELETE_FILE: 'marketplace/order/DELETE_FILE'}),
     async deleteFile() {
        const fileId = path(['file', 'id'], this.popoverData)
        if ( fileId ){
          const deleted = await this.DELETE_FILE(fileId)
          if(deleted) {
            this.showSuccess(this.$t('fileDeleted'))
          }
          this.close()
        }
      },
      close() {
        this.OPEN_POPOVER_WITH_DATA({
          name: popoverConsts.orderFormModal,
          data: {
            type: 'edit',
            orderId: path(['order', 'id'], this.popoverData)
          },
        })
      },
    },
  }
</script>