<template>
  <EventPage>
    <template #footer>
      <ThingsToDo v-if="city.url_id && seoLinks">{{ city.title }}</ThingsToDo>
    </template>
  </EventPage>
</template>

<script>
import { mapGetters, mapMutations, mapActions } from 'vuex'
import { prop, path } from 'ramda'

import ThingsToDo from '~/components/common/ThingsToDo'
import { hasCover, fmtDescription, setLatestModifiedAnd304 } from '~/utils'
import popoverConsts from '~/utils/popoverConsts'
import { trackEventPage } from '~/utils/analytics'

export default {
  layout: 'default',
  components: {
    ThingsToDo,
    EventPage: () => import('~/components/events/main'),
  },
  computed: {
    ...mapGetters({
      event: 'events/session/data',
      seoLinks: 'seo/results',
      IS_BOT: 'detect/IS_BOT',
    }),

    startDtSeo() {
      if (path(['start_date'], this.event)) {
        return this.$moment(this.event.start_date).format('YYYY/MM/DD')
      }
      return ''
    },
    endDtSeo() {
      if (path(['end_date'], this.event)) {
        return this.$moment(this.event.event.end_date).format('YYYY/MM/DD')
      }
      return ''
    },
    cityImg() {
      return path(['cover', 'image'], this.$store.getters['city/GET_CITY'])
    },
    locationName() {
      return path(['location', 'title'], this.event) || ''
    },
    city() {
      return path(['location', 'city'], this.event) || { name: '' }
    },
    title() {
      return path(['event', 'title'], this.event)
    },
    // prettier-ignore
    metaTitle() {
      return this.IS_BOT
        ? `${this.startDtSeo.slice(0, 10)} — ${this.title}, ${this.locationName}, ${this.city.name} ${this.$t('seo.onSite')}`
        : `${this.title} — ${this.startDtSeo.slice(0, 10)}, ${this.locationName}, ${this.city.name} ${this.$t('seo.onSite')}`
    },
    // prettier-ignore
    metaDescription() {
      return `${this.startDtSeo.slice(0, 10)} ${this.city.name} ${fmtDescription(this.event.event || {})}`
    }
  },
  async fetch({ app, query, store, params, error, redirect, res, req }) {
    const id = prop('0', params.id.match(/\d+/))
    if (!id) return error({ statusCode: 404 })
    // const eId = prop('id', store.getters['event/EVENT'])
    // if (Number(id) === eId && prop('name', from) !== 'events-id-edit') return
    try {
      const data = await store.dispatch('events/session/FETCH', id)
      const geoId =
        path(['location', 'city', 'id'], data) ||
        store.getters['city/GET_CITY_ID']
      await Promise.all([
        store.dispatch('seo/FETCH', { geoname_id: geoId }),
        store.dispatch('events/session/FETCH_COMMENTS', data.event.id),
        store.dispatch('events/sessions/FETCH', {
          actual: true,
          similar: id,
          page_size: 30,
          expand: [
            'event',
            'event.cover',
            'event.type',
            'event.category',
            'location',
          ].join(),
        }),
      ])
      if (data.url_id !== params.id) {
        const { href } = app.router.resolve({
          name: 'events-sessions-id',
          params: { id: data.url_id },
          query,
        })
        return redirect(301, href)
      }
    } catch (err) {
      console.log(err)
      return error({ statusCode: 404 })
    }

    if (process.server) {
      setLatestModifiedAnd304({ res, req, store }, [
        store.getters['events/session/modified'],
      ])
    }
  },

  mounted() {
    this.track()
    this.checkPaymentStatus()
    this.$store.dispatch('popovers/SWITCH_PRE_LOADER', false)
  },

  methods: {
    ...mapActions('popovers', ['TOGGLE_POPOVER']),
    ...mapMutations('popovers', ['SET_POPOVER_DATA']),
    ...mapActions('tickets', ['RESET_PURCHASE']),

    checkPaymentStatus() {
      const { payment_status, from, ...query } = this.$route.query
      if (!payment_status) return

      const isFromTickets = from === 'tickets'

      switch (payment_status) {
        case 'free':
          this.SET_POPOVER_DATA({ status: 'free' })
          // eslint-disable-next-line no-fallthrough
        case 'success':
          this.TOGGLE_POPOVER(popoverConsts.paymentSuccess)
          if (isFromTickets) this.RESET_PURCHASE()
          break

        case 'pending':
        case 'cancelled':
          if (isFromTickets) this.RESET_PURCHASE()
        // eslint-disable-next-line no-fallthrough
        case 'failure':
          this.SET_POPOVER_DATA({
            tryAgainRoute: {
              name: isFromTickets ? 'events-id-tickets' : 'events-id-promo',
              params: { id: this.event.url_id },
            },
          })
          this.TOGGLE_POPOVER(popoverConsts.paymentError)
          break

        default:
          break
      }

      this.$router.replace({ query })
    },
    track() {
      trackEventPage(this)
    },
  },
  head() {
    return {
      title: this.metaTitle,
      __dangerouslyDisableSanitizersByTagID: { timepad: ['innerHTML'] },
      meta: [
        { hid: 'ogtype', property: 'og:type', content: 'event' },
        {
          hid: 'title',
          name: 'title',
          content: this.metaTitle,
        },
        {
          hid: 'ogTitle',
          property: 'og:title',
          content: this.metaTitle,
        },
        {
          hid: 'ogUrl',
          property: 'og:url',
          content: `${process.env.domainUrl}${this.$route.path}`,
        },
        {
          hid: 'ogDescription',
          property: 'og:description',
          content: this.metaDescription,
        },
        {
          hid: 'description',
          name: 'description',
          content: this.metaDescription,
        },
        { property: 'event:start_time', content: `${this.startDtSeo}` },
        { property: 'event:end_time', content: `${this.endDtSeo}` },
        ...hasCover(this.event.event, this.cityImg),
        { hid: 'imgwidth', property: 'og:image:width', content: `1200` },
        { hid: 'imgheight', property: 'og:image:height', content: `600` },
      ],
      link: [
        {
          rel: 'canonical',
          href: `${process.env.domainUrl}${this.$route.path}`,
        },
      ],
    }
  },
}
</script>
