<template>
  <div>
    <Created />
  </div>
</template>

<script>

import Created from '~/components/events/Created'

export default {
  middleware: 'only-auth',

  components: {
    Created
  }
}
</script>
