<i18n>
{
  "ru": {
    "helpButton": "Свяжитесь со мной и помогите создать событие",
    "successNotification": "Спасибо за заказ! Ваш персональный менеджер свяжется с вами в ближайшее время."
  },
  "en": {
    "helpButton": "Contact me and help me to create an event",
    "successNotification": "Thank you for your order! Your personal manager will contact you shortly."
  },
  "es": {
    "helpButton": "Necesito ayuda con creación de la página de mi evento, contactame",
    "successNotification": "¡Gracias por su orden! Tu gestor personal se pondrá en contacto contigo brevemente."
  }
}
</i18n>

<template>
  <div class="fixed">
    <button class="contact-me-btn" @click="help">{{ $t('helpButton') }}</button>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

import { infoRequest } from '~/api'
import popoverConsts from '~/utils/popoverConsts'

export default {
  name: 'FixedHelpButton',

  computed: {
    ...mapGetters({
      IS_AUTH: 'auth/IS_AUTH',
    }),
  },

  methods: {
    ...mapActions({
      TOGGLE_POPOVER: 'popovers/TOGGLE_POPOVER',
      showSuccess: 'notifications/success',
    }),
    async help() {
      if (this.IS_AUTH) {
        try {
          await infoRequest(this.$axios).post({
            body: {
              action: 5,
            },
          })
          this.showSuccess(this.$t('successNotification'))
          this.$router.push('/')
        } catch (e) {}
      } else {
        this.TOGGLE_POPOVER(popoverConsts.infoForm)
      }
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.fixed {
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 1000;
}

.contact-me-btn {
  background-color: $blue;
  display: block;
  width: 100%;
  padding: 36px 8px;
  letter-spacing: 0.8px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  transition: 0.5s background-color;

  &:hover {
    background-color: $light-blue;
  }
}
</style>
