<i18n>
{
  "ru": {
    "createEvent": "Создать событие",
    "loadMore": "Больше событий",
    "pastEvents": "Прошедшие"
  },
  "en": {
    "createEvent": "Create event",
    "loadMore": "Show more events",
    "pastEvents": "Past events"
  },
  "es": {
    "createEvent": "Crear el evento",
    "loadMore": "Mostrar más eventos",
    "pastEvents": "Past events"
  }
}
</i18n>

<template>
  <div class="profile-events">
    <div v-if="isOwnProfile" class="profile-events__create-btn">
      <Button
        :to="{ name: 'events-create-a-1' }"
        full-width
        invert
        class="button"
      >{{ $t('createEvent') }}</Button>
    </div>

    <div
      v-if="hasEvents"
      class="profile-events__filters">
      <PeriodFilter
        class="periods"
        :value="filter.period"
        :buttons="filters"
        active-color="blue"
        @input="!isLoading && (filter.period = $event)"
      />
    </div>

    <div class="profile-events__list">
      <div v-for="event in events" :key="event.id" class="item">
        <EventCardHorizontal
          :event="event"
          :is-own="isOwnProfile"
          :isOrganizerView="isOrganizerView"
          :profileId="profileId"
          class="card"
          @remove="onEventRemove"
          @download="onDownload"
        />
      </div>
    </div>

    <div v-if="isLoading || hasMore" class="profile-events__actions">
      <Loader v-if="isLoading" :width="40" :height="40" :margin="12" />

      <Button
        v-else-if="hasMore"
        full-width
        invert
        class="button"
        @click.native="loadMore()"
      >{{ $t('loadMore') }}</Button>
    </div>

    <ConfirmDialog
      v-if="OPENED_POPOVER === REMOVE_EVENT_POPOVER"
      type="danger"
      @confirm="onEventRemoveConfirm"
      @cancel="TOGGLE_POPOVER()"
    >
      <h2>{{ $t('profile.event.removeQuestion') }}</h2>
      <template slot="confirm">{{ $t('common.confirmDelete') }}</template>
      <template slot="cancel">{{ $t('common.ignoreDelete') }}</template>
    </ConfirmDialog>
  </div>
</template>

<script>
import { mapGetters, mapMutations, mapActions } from 'vuex'
import { saveAs } from 'file-saver'

import ProfileRoutesService from '~/utils/profile-routes-service'
import { generateTicketsListByEventId } from '~/api'
import { paramsConst, getFileNameFromContentDisposition } from '~/utils'

const FILTER_ALL = ''
const FILTER_WEEK = 'week'
const FILTER_MONTH = 'month'
const FILTER_PROMO = 'promo'
const FILTER_ENDED = 'ended'

const REMOVE_EVENT_POPOVER = 'remove_event'

export default {
  components: {
    ConfirmDialog: () => import('~/components/common/popovers/ConfirmDialog'),
    Loader: () => import('~/components/common/Loader'),
    Button: () => import('~/components/common/buttons/YetAnotherButton'),
    PeriodFilter: () => import('~/components/common/input/PeriodFilter'),
    EventCardHorizontal: () => import('~/components/common/EventCard/Horizontal'),
  },

  props: {
    profile: {
      type: Object,
      required: true,
    },
    isOwnProfile: Boolean,
    isOrganizerProfile: Boolean,
    isOrganizerView: Boolean,
  },

  data: () => ({
    eventToRemove: null,
    filter: {
      period: '',
    },
  }),

  computed: {
    ...mapGetters('user', ['COUNTERS']),
    ...mapGetters('events', ['EVENTS', 'MORE_EVENTS', 'LOADING']),
    ...mapGetters('popovers', ['OPENED_POPOVER']),
    ...mapGetters('promo/events', {
      PROMO_EVENTS: 'EVENTS',
      PROMO_MORE_EVENTS: 'MORE',
      PROMO_LOADING: 'LOADING',
    }),
    profileId() {
      return this.profile.id
    },
    REMOVE_EVENT_POPOVER: () => REMOVE_EVENT_POPOVER,
    isPromoMode() {
      return this.filter.period === FILTER_PROMO
    },
    promoEvents() {
      return this.PROMO_EVENTS.map(({ event, ...promo }) => ({
        ...event,
        promo,
      }))
    },
    events() {
      return this.isPromoMode ? this.promoEvents : this.EVENTS
    },
    hasEvents() {
      return this.COUNTERS.events
    },
    hasMore() {
      return this.isPromoMode ? this.PROMO_MORE_EVENTS : this.MORE_EVENTS
    },
    isLoading() {
      return this.isPromoMode ? this.PROMO_LOADING : this.LOADING
    },
    filters() {
      const ALL = {
        name: this.$t('common.all'),
        value: FILTER_ALL,
      }
      const THIS_WEEK = {
        name: this.$t('common.thisWeek'),
        value: FILTER_WEEK,
      }
      const THIS_MONTH = {
        name: this.$t('common.thisMonth'),
        value: FILTER_MONTH,
      }
      const PAST = {
        name: this.$t('pastEvents'),
        value: FILTER_ENDED,
      }
      const PROMO = {
        name: this.$t('common.promo'),
        value: FILTER_PROMO,
        color: '#f50052',
        activeColor: '#f50052',
      }

      return [
        ALL,
        (!this.isOwnProfile || this.isOrganizerView) && THIS_WEEK,
        THIS_MONTH,
        this.isOwnProfile && !this.isOrganizerView && PROMO,
        PAST,
      ].filter(Boolean)
    },
    params() {
      const params = {}
      const { period } = this.filter

      switch (period) {
        case FILTER_ALL:
        case FILTER_PROMO:
          break
        case FILTER_WEEK:
          params.period = paramsConst.thisWeek
          break
        case FILTER_MONTH:
          params.period = paramsConst.thisMonth
          break
        case FILTER_ENDED:
          params.ended = true
          break
      }

      this.routesService.setRoute(this.$route)

      if (this.isPromoMode) {
        return {
          ...this.routesService.fetchEventsPromoParams,
          ...params,
        }
      }

      return {
        ...this.routesService.fetchEventsParams,
        ...params,
      }
    },
  },

  watch: {
    filter: {
      deep: true,
      handler: 'load',
    },
  },

  created() {
    this.routesService = new ProfileRoutesService({
      store: this.$store,
      router: this.$router,
    })
  },

  methods: {
    ...mapMutations('user', ['SET_COUNTERS']),
    ...mapActions('popovers', ['TOGGLE_POPOVER', 'SWITCH_PRE_LOADER']),
    ...mapActions('event', ['DELETE']),
    ...mapActions('events', ['FETCH', 'FETCH_MORE']),
    ...mapActions('promo/events', {
      PROMO_FETCH: 'FETCH',
      PROMO_FETCH_MORE: 'FETCH_MORE',
    }),
    async load() {
      if (this.isLoading) return

      try {
        if (this.isPromoMode) {
          await this.PROMO_FETCH(this.params)
        } else {
          await this.FETCH(this.params)
        }
      } catch (err) {
        console.error(err)
      }
    },
    async loadMore() {
      if (this.isLoading || !this.hasMore) return

      try {
        if (this.isPromoMode) {
          await this.PROMO_FETCH_MORE()
        } else {
          await this.FETCH_MORE()
        }
      } catch (err) {
        console.error(err)
      } finally {
      }
    },
    async onEventRemove(event) {
      this.eventToRemove = event
      this.TOGGLE_POPOVER(this.REMOVE_EVENT_POPOVER)
    },
    async onEventRemoveConfirm() {
      if (!this.eventToRemove) return

      try {
        this.TOGGLE_POPOVER()
        this.SWITCH_PRE_LOADER(true)
        await this.DELETE(this.eventToRemove)

        const { events } = this.COUNTERS
        this.SET_COUNTERS({ events: events - 1 })
        this.load()
      } catch (err) {
        console.error(err)
      } finally {
        this.SWITCH_PRE_LOADER()
      }
    },
    async onDownload({ id }) {
      try {
        const { data, headers } = await generateTicketsListByEventId(
          this.$axios, { id, },
        )

        const contentType = headers['content-type']
        const contentDisposition = headers['content-disposition']

        const fileName =
          getFileNameFromContentDisposition({ contentDisposition }) ||
          'tickets.xlsx'
        const blob = new Blob([data], { type: contentType })

        saveAs(blob, fileName)
      } catch (e) {
        console.log(e)
      }
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.profile-events {
  &__create-btn {
    margin-bottom: $base * 4;

    .button {
      height: $base * 9;
      font-weight: bold;
    }
  }

  $space-between: $base * 5;
  &__actions {
    margin-top: $space-between;
    overflow: hidden;

    .button {
      height: $base * 8;
      font-weight: bold;
    }
  }

  &__filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .periods {
      padding: 0;
      margin: 0;
    }
  }

  &__list {
    margin-top: $base * 2;
    .item {
      margin-top: 8px;
    }
  }
}
</style>
