<i18n>
{
  "ru": {
    "aboutMe": "Обо мне"
  },
  "en": {
    "aboutMe": "About myself"
  },
  "es": {
    "aboutMe": "Acerca de mi"
  }
}
</i18n>

<template>
  <div class="profile-index">
    <Contacts v-if="isMobile" :profile="profile" class="contacts" />

    <template v-if="profile.about_text">
      <h2 class="title" v-text="$t('aboutMe')" />
      <div class="about" v-html="profile.about" />
    </template>

    <PrivacySettings v-if="isOwnProfile && !isOrganizerView" class="privacy-settings" />
  </div>
</template>

<script>
export default {
  components: {
    Contacts: () => import('~/components/profile/id/components/Contacts'),
    PrivacySettings: () => import('~/components/profile/id/PrivacySettings'),
  },
  props: {
    profile: {
      type: Object,
      required: true,
    },
    isOwnProfile: Boolean,
    isOrganizerProfile: Boolean,
    isOrganizerView: Boolean,
  },
  data: () => ({
    isMobile: false,
  }),
  mounted() {
    try {
      this.isMobileMQ = window.matchMedia('(max-width: 426px)')
      this.isMobileMQ.addEventListener(
        'change',
        this.onIsMobileMQChanged.bind(this),
      )
      this.onIsMobileMQChanged(this.isMobileMQ)
    } catch (e) {
      console.error(e)
      this.isMobileMQ = null
    }

  },
  beforeDestroy() {
    if (this.isMobileMQ) {
      try{
        this.isMobileMQ.addEventListener('change', this.onIsMobileMQChanged)
      } catch (e) {
        console.error(e)
      }
    }
  },
  methods: {
    onIsMobileMQChanged(e) {
      this.isMobile = e.matches
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.profile-index {
  padding-top: $base;

  .title {
    @include text(4);
    font-weight: bold;
  }

  .about {
    overflow: hidden;
    word-break: break-all;
    margin: ($base * 3.75) 0 0;

    & /deep/ a {
      color: $blue;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .contacts {
    margin-bottom: $base * 3;
  }

  .privacy-settings {
    margin-top: $base * 11;
  }

  @media (max-width: $desktopSD) {
    padding-top: 0;

    .title {
      @include text(3);
    }

    .privacy-settings {
      margin-top: $base * 5;
    }
  }

  @media ($mobile) {
    .about {
      margin-top: $base * 2;
    }
  }
}
</style>
