<i18n>
{
  "ru": {
    "createJournal": "Новый журнал",
    "loadMore": "Ещё журналы"
  },
  "en": {
    "createJournal": "New blog",
    "loadMore": "Show more blogs"
  },
  "es": {
    "createJournal": "Nuevo blog",
    "loadMore": "Mostrar más blogs"
  }
}
</i18n>

<template>
  <div class="profile-journals">
    <div v-if="isOwnProfile" class="profile-journals__create-btn">
      <Button :to="{ name: 'journal-create' }" full-width invert class="button">
        {{ $t('createJournal') }}
      </Button>
    </div>

    <div class="profile-journals__list">
      <div v-for="journal in JOURNALS" :key="journal.id" class="item">
        <JournalCard
          :journal="journal"
          :is-own="isOwnProfile"
          class="card"
          @remove="onJournalRemove"
        />
      </div>
    </div>

    <div v-if="isLoading || hasMore" class="profile-journals__actions">
      <Loader v-if="isLoading" :width="40" :height="40" :margin="12" />

      <Button
        v-else-if="hasMore"
        full-width
        invert
        class="button"
        @click.native="loadMore()"
      >
        {{ $t('loadMore') }}
      </Button>
    </div>

    <ConfirmDialog
      v-if="OPENED_POPOVER === REMOVE_JOURNAL_POPOVER"
      type="danger"
      @confirm="onJournalRemoveConfirm"
      @cancel="TOGGLE_POPOVER()"
    >
      <h2>{{ $t('journal.confirmJournal') }}</h2>
      <template slot="confirm">{{ $t('journal.confirmYes') }}</template>
      <template slot="cancel">{{ $t('journal.confirmNo') }}</template>
    </ConfirmDialog>
  </div>
</template>

<script>
import { mapGetters, mapMutations, mapActions } from 'vuex'
import ProfileRoutesService from '~/utils/profile-routes-service'

const REMOVE_JOURNAL_POPOVER = 'remove_journal'

export default {
  components: {
    ConfirmDialog: () => import('~/components/common/popovers/ConfirmDialog'),
    Loader: () => import('~/components/common/Loader'),
    Button: () => import('~/components/common/buttons/YetAnotherButton'),
    JournalCard: () => import('~/components/common/JournalCard'),
  },
  props: {
    profile: {
      type: Object,
      required: true,
    },
    isOwnProfile: Boolean,
    isOrganizerProfile: Boolean,
    isOrganizerView: Boolean,
  },
  data: () => ({
    isLoading: false,
    journalToRemove: null,
  }),
  computed: {
    ...mapGetters('popovers', ['OPENED_POPOVER']),
    ...mapGetters('user', ['COUNTERS']),
    ...mapGetters('journals', ['JOURNALS', 'MORE']),

    REMOVE_JOURNAL_POPOVER: () => REMOVE_JOURNAL_POPOVER,

    hasMore() {
      return this.MORE
    },

    params() {
      this.routesService.setRoute(this.$route)
      return { ...this.routesService.fetchJournalsParams }
    },
  },
  created() {
    this.routesService = new ProfileRoutesService({
      store: this.$store,
      router: this.$router,
    })
  },
  methods: {
    ...mapActions('popovers', ['TOGGLE_POPOVER', 'SWITCH_PRE_LOADER']),
    ...mapActions('journal', ['REMOVE_JOURNAL']),
    ...mapActions('journals', ['FETCH', 'FETCH_MORE']),
    ...mapMutations('user', ['SET_COUNTERS']),

    async load() {
      if (this.isLoading) return

      this.isLoading = true
      try {
        await this.FETCH(this.params)
      } catch (err) {
        console.error(err)
      } finally {
        this.isLoading = false
      }
    },

    async loadMore() {
      if (this.isLoading) return

      this.isLoading = true
      try {
        await this.FETCH_MORE()
      } catch (err) {
        console.error(err)
      } finally {
        this.isLoading = false
      }
    },

    onJournalRemove(journal) {
      this.journalToRemove = journal
      this.TOGGLE_POPOVER(REMOVE_JOURNAL_POPOVER)
    },

    async onJournalRemoveConfirm() {
      if (!this.journalToRemove) return

      try {
        this.TOGGLE_POPOVER()
        this.SWITCH_PRE_LOADER(true)
        await this.REMOVE_JOURNAL(this.journalToRemove.id)

        const { journals } = this.COUNTERS
        this.SET_COUNTERS({ journals: journals - 1 })
        this.load()
      } catch (err) {
        console.error(err)
      } finally {
        this.SWITCH_PRE_LOADER()
      }
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.profile-journals {
  &__create-btn {
    margin-bottom: $base * 4;

    .button {
      height: $base * 9;
      font-weight: bold;
    }
  }

  $space-between: $base * 5;
  &__actions {
    margin-top: $space-between;
    overflow: hidden;

    .button {
      height: $base * 8;
      font-weight: bold;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -$space-between;
    margin-left: -$space-between;

    .item {
      flex: 1 1 50%;
      max-width: 50%;
      margin-top: $space-between;
      padding-left: $space-between;

      .card {
        width: 100%;
      }
    }
  }

  @media (max-width: $sideShow) {
    $space-between: $base * 2;

    &__list {
      margin-left: -$space-between;

      .item {
        padding-left: $space-between;
      }
    }
  }

  @media (max-width: $desktopHD) {
  }

  @media (max-width: $desktopSD) {
  }

  @media ($mobile) {
    &__list {
      margin-top: 0;
      margin-left: 0;

      .item {
        padding-left: 0;
        flex-basis: 100%;
        max-width: none;

        &:first-child {
          margin-top: 0;
        }
      }
    }
  }
}
</style>
