<template>
  <nuxt-child
    v-bind="$props"
  />
</template>
<script>
  export default {
    props: {
      isOwnProfile: Boolean,
      profileType: String,
      profile: Object,
      isOrganizerProfile: Boolean,
      isOrganizerView: Boolean,
      isProfileSupplier: Boolean,
      isProfileCustomer: Boolean,
    }
  }
</script>