<i18n>
{
  "ru": {
    "loadMore": "Больше билетов"
  },
  "en": {
    "loadMore": "Show more tickets"
  },
  "es": {
    "loadMore": "Mostrar más entradas"
  }
}
</i18n>

<template>
  <div class="profile-tickets">
    <div class="profile-tickets__list">
      <div v-for="ticket in TICKETS" :key="ticket.id" class="item">
        <Ticket :ticket="ticket" @click="$emit('ticket:click', ticket)" />
      </div>
    </div>

    <div v-if="isLoading || hasMore" class="profile-tickets__actions">
      <Loader v-if="isLoading" :width="40" :height="40" :margin="12" />

      <Button
        v-else-if="hasMore"
        full-width
        invert
        class="button"
        @click.native="loadMore()"
      >
        {{ $t('loadMore') }}
      </Button>
    </div>
  </div>
</template>

<script>
import { path } from 'ramda'
import { mapGetters, mapActions } from 'vuex'
import { poll } from '~/utils'

export default {
  components: {
    Loader: () => import('~/components/common/Loader'),
    Button: () => import('~/components/common/buttons/YetAnotherButton'),
    Ticket: () => import('@/components/profile/id/tickets/Ticket'),
  },
  props: {
    profile: {
      type: Object,
      required: true,
    },
    isOwnProfile: Boolean,
    isOrganizerProfile: Boolean,
    isOrganizerView: Boolean,
  },
  computed: {
    ...mapGetters('tickets', [
      'TICKETS',
      'HAS_MORE_TICKETS',
      'TICKETS_LOADING',
    ]),

    hasMore() {
      return this.HAS_MORE_TICKETS
    },

    isLoading() {
      return this.TICKETS_LOADING
    },

    params() {
      return {
        user: this.profile.id,
        only_paid: true
      }
    },
  },
  async fetch({ app, store, error }) {
    try {
      // wait until `fetch` on top level component load profile
      await poll(() => (store.getters['user/PROFILE'] ? true : undefined))

      const { 'user/PROFILE': PROFILE } = store.getters

      await store.dispatch('tickets/FETCH_TICKETS', { user: PROFILE.id, only_paid: true })
    } catch (err) {
      console.error(err)
      return error({
        statusCode: path(['response', 'status'], err) || 404,
        message: path(['response', 'statusText'], err) || 'User not found',
      })
    }
  },
  methods: {
    ...mapActions('tickets', ['FETCH_TICKETS', 'FETCH_TICKETS_MORE']),

    async load() {
      if (this.isLoading) return

      try {
        await this.FETCH_TICKETS(this.params)
      } catch (err) {
        console.error(err)
      }
    },

    async loadMore() {
      if (this.isLoading || !this.hasMore) return

      try {
        await this.FETCH_TICKETS_MORE()
      } catch (err) {
        console.error(err)
      }
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.profile-tickets {
  &__list {
    .item + .item {
      margin-top: 16px;
      
      @media (min-width: $desktopSD) {
        margin-top: 24px;
      }
    }
  }

  &__actions {
    margin-top: 40px;
    overflow: hidden;

    .button {
      height: 40px;
      font-weight: bold;
    }
  }
}
</style>
