<template>
  <section class="advantages wrapper">
    <h1 class="advantages-title">{{$t('marketplace.advantages')}}</h1>

    <div class="advantages-list-wrap">
      <div class="advantages-list">
        <div class="advantages-advantage">
          <div class="advantages-advantage-img">
            <img src="~static/marketplace/advantages/1.png" />
            <img class="advantages-advantage-icon" src="~static/like.png" />
          </div>
          <h3>{{$t('marketplace.advantagesMain.title1')}}</h3>
          <p>{{$t('marketplace.advantagesMain.text1')}}</p>
        </div>

        <div class="advantages-advantage">
          <div class="advantages-advantage-img">
            <img src="~static/marketplace/advantages/2.png" />
            <img class="advantages-advantage-icon" style="width: 52px" src="~static/percent.png" />
          </div>
          <h3>{{$t('marketplace.advantagesMain.title2')}}</h3>
          <p>{{$t('marketplace.advantagesMain.text2')}}</p>
          <p>{{$t('marketplace.advantagesMain.text21')}}</p>
        </div>

        <div class="advantages-advantage">
          <div class="advantages-advantage-img">
            <img src="~static/marketplace/advantages/3.png" />
            <Icon class="advantages-advantage-icon" style="height: 56px" src="icons/shield-check.svg" size="l" />
          </div>
          <h3>{{$t('marketplace.advantagesMain.title3')}}</h3>
          <p>{{$t('marketplace.advantagesMain.text3')}}</p>
          <p>{{$t('marketplace.advantagesMain.text31')}}</p>
        </div>

        <div class="advantages-advantage">
          <div class="advantages-advantage-img">
            <img src="~static/marketplace/advantages/4.png" />
            <Icon class="advantages-advantage-icon" src="icons/notes.svg" size="l" />

          </div>
          <h3>{{$t('marketplace.advantagesMain.title4')}}</h3>
          <p>{{$t('marketplace.advantagesMain.text4')}}</p>
          <p>{{$t('marketplace.advantagesMain.text41')}}</p>
          <p>{{$t('marketplace.advantagesMain.text42')}}</p>
        </div>

        <div class="advantages-advantage">
          <div class="advantages-advantage-img">
            <img src="~static/marketplace/advantages/5.png" />
            <img class="advantages-advantage-icon" style="width: 65px" src="~static/time.png" />
          </div>
          <h3>{{$t('marketplace.advantagesMain.title5')}}</h3>
          <p>{{$t('marketplace.advantagesMain.text5')}}</p>
          <p>{{$t('marketplace.advantagesMain.text51')}}</p>
          <p>{{$t('marketplace.advantagesMain.text52')}}</p>
        </div>

      </div>
    </div>
  </section>
</template>

<script>
export default {
  components: {
    Icon: () => import('~/components/common/Icon'),
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.advantages {
  margin-top: 103px;
  max-width: 1325px;

  &-title {
    font-weight: bold;
    font-size: 32px;
    line-height: 1.25;
    margin-bottom: 24px;
  }

  &-list {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
  }

  &-advantage {
    background-color: #fff;
    padding: 30px 22px 0 19px;
    box-shadow: 0 0 15px 0 rgba(209, 220, 234, 0.3);
    width: 245px;
    margin: 0 20px 20px 0;


    &-img {
      width: 150px;
      height: 150px;
      position: relative;
      margin-left: 10px;

       & :first-child {
         width: 100%;
       }
      & :last-child {
        margin-bottom: 0!important;
      }

      span {
        width: 45px;
        height: 50px;
      }
    }

    &-icon {
      position: absolute;
      bottom: 0;
      right: -5px;
      color: $blue;
      width: 55px;
    }

    h3 {
      margin-top: 23px;
      margin-bottom: 9px;
      font-size: 24px;
      font-weight: bold;
      line-height: 26px;
    }

    p {
      font-size: 14px;
      line-height: 18px;
      margin-top: 15px;
      margin-bottom: 0;
    }

    & :last-child {
      margin-bottom: 30px;
    }
  }
}

@media screen and (max-width: $desktopHD) {
  .advantages {
    margin-top: 88px;
  }
}
@media screen and (max-width: $desktopSD) {
  .advantages {
    margin: 48px 0 0 24px;
    &-list-wrap {
      overflow-x: scroll;
    }
    &-item {
      margin: 0 8px 0 0;
      width: 296px;
      padding: 40px 88px 0 32px;
      h3 {
        margin-top: 28px;
      }
      &-img {
        width: 176px;
        height: 176px;
        margin-left: 0;
      }
      &-icon {
        right: 0;
      }
    }
    &-list{
      justify-content: flex-start;
      flex-wrap: nowrap;
    }
  }
}
@media($mobile) {
  .advantages {
    margin-top: 48px;
    &-advantage {
      margin: 8px;
    }
    &-title {
      font-size: 24px;
      text-align: center;
    }
  }
}
</style>