<template>
  <section class="clients wrapper">
    <div class="clients-title">{{$t('marketplace.clients')}}</div>

    <div class="clients-list">
      <div
          v-for="(item,idx) in data"
          :key="idx"
          class="clients-client"
      >
        <img :src="`${STATIC_PATH}marketplace/clients/${item.img}`" alt="Client" />
      </div>
    </div>

  </section>
</template>

<script>
export default {
  data() {
    return {
      data: [
        {img: '1.png'},
        {img: '2.png'},
        {img: '3.png'},
        {img: '4.png'},
        {img: '5.png'},
        {img: '6.png'},
        {img: '7.png'},
        {img: '8.png'},
      ],
    }
  },
  computed: {
    STATIC_PATH: () => process.env.STATIC_PATH
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.clients {
  margin-top: 103px;
  max-width: 1232px;

  &-title {
    font-weight: bold;
    font-size: 32px;
    line-height: 1.25;
    margin-bottom: 24px;
  }

  &-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  }

  &-client {
    background-color: #fff;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 20px 34px;

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
}
@media screen and (max-width: $desktopSD) {
  .clients {
    margin-top: 80px;
    &-list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
@media($mobile) {
  .clients {
    &-title {
      font-size: 24px;
      text-align: center;
      margin-bottom: 13px;
    }
    &-list {
      gap: 8px;
    }
    &-client {
      padding: 25px 34px;
    }
  }
}
</style>