<template>
  <div>
    <div class="contact-us">
      <div class="wrapper">
        <h1 class="contact-us-title">{{$t('marketplace.questions')}}</h1>
        <h2 class="contact-us-title2">{{$t('marketplace.fillForm')}}</h2>

        <div class="contact-us-form">
          <div class="contact-us-form-block">
            <label for="name">{{$t('marketplace.name')}}</label>
            <input v-model="name" required type="text" id="name" class="contact-input" />
          </div>
          <div class="contact-us-form-block">
            <label for="phone">{{$t('marketplace.phone')}}</label>
            <input v-model="phone" required type="number" id="phone" class="contact-input" />
          </div>
          <div class="contact-us-form-block">
            <label for="mail">{{$t('marketplace.email')}}</label>
            <MailInput
                id="mail"
                v-model="email"
                required
                class="contact-input"
                styles="height: 56px; border: none;"
            />
          </div>
          <div @click="submitForm" class="contact-us-form-block contact-us-form-button">{{$t('marketplace.send2')}}</div>
        </div>
      </div>
    </div>
    <div class="social wrapper">
      <a href="https://vk.com/wanted.marketplace" target="_blank">
        <Icon src="icons/social/vk1.svg" size="m" />
      </a>
      <a href="https://www.facebook.com/wanted.marketplace/" target="_blank">
        <Icon src="icons/social/fb-round.svg" size="m" />
      </a>
      <a href="https://www.instagram.com/mariya_finatova/" target="_blank">
        <Icon src="icons/social/inst.svg" size="m" />
      </a>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import popovers from '~/utils/popoverConsts'

export default {
  components: {
    Icon: () => import('~/components/common/Icon'),
    MailInput: () => import('~/components/common/input/MailInput'),
  },
  data: () => ({
    email: '',
    phone: '',
    name: '',
  }),
  methods: {
    ...mapActions({
      orderCall: 'formRequests/ORDER_CALL',
    }),
    openModal() {
      this.$store.dispatch('popovers/TOGGLE_POPOVER', popovers.mailPickerSucc)
    },
    async submitForm() {
      try {
        await this.orderCall({
          email: this.email,
          phone: this.phone,
          name: this.name,
        })
        this.openModal()
      } catch (err) {
        console.log(err)
      }
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';
.social {
  margin-top: 50px;
  margin-bottom: 58px;
  & > * {
    margin-right: 20px;
    cursor: pointer;
  }
}
.contact-us {
  margin-top: 140px;
  padding: 72px 0 88px;
  background-color: #f0f3f6;

  &-title {
    font-weight: bold;
    font-size: 32px;
    line-height: 1.25;
  }

  &-title2 {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 34px;
  }

  &-form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2px;
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
   .contact-input {
      -webkit-appearance: none;
      margin: 8px 0 0;
      height: 56px;
      font-size: 16px;
      font-weight: bold;
      font-family: Circe-Bold;
    }

    /* Firefox */
    input[type='number'] {
      -moz-appearance: textfield;
    }

    &-block {
      label {
        font-size: 16px;
        line-height: 1.5;
        color: rgba(0, 0, 0, 0.4);
      }
    }

    &-button {
      font-size: 16px;
      font-weight: bold;
      line-height: 1.5;
      letter-spacing: 0.8px;
      text-align: center;
      text-transform: uppercase;
      color: #ffffff;
      padding: 20px 0;
      background-color: $blue;
      align-self: flex-end;
      cursor: pointer;
      height: 56px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

@media screen and (max-width: $desktopHD) {
  .contact-us {
    text-align: center;
    margin-top: 96px;
    padding-bottom: 80px;
    &-title2 {
      margin-bottom: 39px;
    }
    &-form {
      grid-template-columns: 1fr;
      gap: 25px;

      .contact-input {
        width: 400px;
        margin: 8px auto 0;
        text-align: center;
      }
      &-button {
        width: 400px;
        margin: 24px auto 0;
        text-align: center;
        font-size: 14px;
      }
    }
  }
}

@media($mobile) {
  .social {
    margin: 50px auto;
    text-align: center;
  }
  .contact-us {
    margin-top: 80px;
    padding: 81px 0 74px;
    &-form {
      &-button,
      .contact-input {
        width: 100%;
        margin: 0 auto;
      }
    }

    &-title {
      font-size: 24px;
      text-align: center;
      margin-bottom: 5px;
    }
    &-title2 {
      margin-bottom: 8px;
    }
  }
}
</style>