<template>
  <section class="feedbacks">
    <div class="feedbacks-title wrapper"
         ref="wrappedTitle"
    >{{$t('marketplace.feedbackHeader')}}</div>

    <div class="carousel">
      <div
        class="carousel-wrap wrapper"
        ref="carouselWrapper"
        :style="{width: wrapWidth + 'px', left: offset + 'px'}"
      >
        <div
          class="carousel-item"
          v-for="(item, index) in items"
          :key="index"
          :class="{active: activeChild === index}"
          :style="{width: itemWidth + 'px', marginRight: spaceBetweenSlides + 'px'}"
        >
          <div class="carousel-item-img">
            <img :src="item.imgUrl" />
          </div>
          <div>
            <div class="carousel-item-title">{{ $t(item.title) }}</div>
            <div class="carousel-item-feedback" ref="feedback" id="feedback">
              <span
                  ref="forRead"
                  class="forRead"
                  @click="closeFeedback(index)"
                  v-html="$t(item.feedback)"
              ></span>
            </div>
            <div class="carousel-item-author">{{ $t(item.author) }}</div>
          </div>
        </div>
      </div>

      <div class="carousel-controllers">
        <div
          class="carousel-controller"
          @click="moveSlide(-1)"
          :class="{disabled: activeChild === 0}"
        >
          <span class="icon icon-left ww-icn-arrow-right" />
        </div>
        <div
          class="carousel-controller"
          @click="moveSlide(1)"
          :class="{disabled: activeChild === numberOfElements-1}"
        >
          <span class="icon ww-icn-arrow-right" />
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import Image1 from '~/static/marketplace/carousel/1.jpg'
import Image2 from '~/static/marketplace/carousel/2.jpg'
import Image3 from '~/static/marketplace/carousel/3.jpg'

export default {
  data: () => ({
    itemWidth: 'auto',
    wrapWidth: 'auto',
    spaceBetweenSlides: 0,
    numberOfElements: 0,
    activeChild: 0,
    offset: 0,
    width: 0,
    items: [
      {
        imgUrl: Image1,
        title: 'marketplace.feedback1.title',
        feedback: 'marketplace.feedback1.feedback',
        author: 'marketplace.feedback1.author',
      },
      {
        imgUrl: Image2,
        title: 'marketplace.feedback2.title',
        feedback: 'marketplace.feedback2.feedback',
        author: 'marketplace.feedback2.author',
      },
      {
        imgUrl: Image3,
        title: 'marketplace.feedback3.title',
        feedback: 'marketplace.feedback3.feedback',
        author: 'marketplace.feedback3.author',
      },
    ],
  }),

  computed: {
    isMobile() {
      return this.width <= 426
    },
  },

  mounted() {
    this.onWindowResize()
    window.addEventListener('resize', this.onWindowResize)
  },

  beforeDestroy() {
    window.removeEventListener('resize', this.onWindowResize)
  },

  methods: {
    closeFeedback(i) {
      if(this.isMobile) {
        this.$refs.feedback[i].style.height = '190px'
        document.querySelectorAll('#more')[i].style.display = 'inline-block'
      }
    },
    moveSlide: function(count) {
      const {
        activeChild,
        numberOfElements,
        itemWidth,
        spaceBetweenSlides,
      } = this
      const resultSlideIndex = activeChild + count

      if (resultSlideIndex < 0 || resultSlideIndex >= numberOfElements) return
      this.offset = -resultSlideIndex * (spaceBetweenSlides + itemWidth)
      this.activeChild = resultSlideIndex
    },

    onWindowResize() {
      const clientWidth = this.$refs.wrappedTitle.clientWidth
      const itemWidth = clientWidth < 1024 ? clientWidth : clientWidth * 0.83
      const numberOfItems = this.$refs.carouselWrapper.children.length

      this.numberOfElements = numberOfItems
      this.spaceBetweenSlides = clientWidth * 0.03
      this.itemWidth = itemWidth
      this.wrapWidth =
        itemWidth * numberOfItems + clientWidth * 0.03 * (numberOfItems - 1)
      this.width = window.innerWidth
      this.readMoreElement()
    },
    readMoreElement() {
      const elements = document.querySelectorAll('#more')
      for (let i = 0; i < 3; i++) {
        if(this.isMobile) {
          elements[i].style.display = 'inline-block'
          elements[i].addEventListener('click', function(e){
            e.preventDefault();
            e.stopPropagation();
            document.querySelectorAll('#feedback')[i].style.height = 'auto'
            elements[i].style.display = 'none'
          })
        }else {
          elements[i].style.display = 'none'
        }

      }

    }
  }
}
</script>
<style lang="scss">
  #more {
    display: none;
    span {
      color: #0070ff;
    }
  }
</style>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';
.feedbacks {
  margin-top: 111px;

  &-title {
    font-weight: bold;
    font-size: 32px;
    line-height: 1.25;
    margin-bottom: 25px;
    font-family: Circe-Bold;
  }
}
.read {
  position: absolute;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  color: $blue;
  background-color: #ffffff;
  right: 0;
  top: 170px;
}
.carousel {
  position: relative;
  overflow-x: hidden;
  padding-bottom: 25px;

  &-wrap {
    display: flex;
    position: relative;
    max-width: none;

    transition: 0.3s ease-in-out;
  }

  &-item {
    padding: 80px 72px 50px;
    background-color: #fff;
    display: flex;
    box-shadow: 0 0 25px 0 rgba(209, 220, 234, 0.3);
    margin-right: 3%;
    opacity: 0.4;
    transition: 0.3s ease-in-out;

    &.active {
      opacity: 1;
    }

    &:last-child {
      margin-right: 0;
    }

    &-img {
      margin-right: 64px;
      img {
        border-radius: 50%;
        overflow: hidden;
        width: 200px;
        height: 200px;
      }
    }

    &-title {
      font-size: 24px;
      font-weight: bold;
      font-style: italic;
      line-height: 1;
      font-family: Circe-Bold;
    }

    &-feedback {
      font-size: 16px;
      line-height: 1.5;
      margin: 21px 0 18px;
      position: relative;
    }

    &-author {
      font-size: 16px;
      font-weight: bold;
      line-height: 1.5;
      font-family: Circe-Bold;
    }
  }

  &-controllers {
    position: absolute;
    left: 64%;
    bottom: 0;
    display: flex;
  }

  &-controller {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
    background-color: $blue;
    cursor: pointer;

    .icon {
      height: 18px;
      color: #fff;
      &-left {
        margin-left: 0;
        transform: rotate(180deg);
      }
    }

    &:first-child {

    }

    &.disabled {
      background-color: #ebeef0;
    }

    span {
      width: 18px;
      height: 18px;
    }
  }
}

@media screen and (max-width: $desktopHD) {
  .feedbacks {
    margin-top: 93px;
  }

  .carousel {
    overflow-x: scroll;

    &-item {
      flex-direction: column;
      opacity: 1;
      padding: 24px;

      &-img {
        margin: 0 auto 25px;
      }
    }

    &-controllers {
      display: none;
    }
  }
}

@media screen and (max-width: $desktopSD) {
  .carousel {
    &-item {
      padding: 40px;
      max-width: 640px;
      &-img {
        width: 200px;
        height: 200px;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
@media($mobile) {
  .feedbacks {
    margin-top: 69px;
    &-title {
      font-size: 24px;
      text-align: center;
      line-height: 32px;
      margin-bottom: 19px;
    }
  }
  .carousel {
    &-item {
      padding: 25px;
      &-img {
        width: 120px;
        height: 120px;
      }
      &-title {
        font-size: 16px;
        line-height: 24px;
      }
      &-feedback {
        height: 190px;
        overflow: hidden;
        width: 248px;
      }
    }
  }
}
</style>