<template>
  <header class="header">
    <div class="header-top">

      <div class="social">
        <a href="https://vk.com/wanted.marketplace" target="_blank">
          <Icon src="icons/social/vk1.svg" size="m" />
        </a>
        <a href="https://www.facebook.com/wanted.marketplace/" target="_blank">
          <Icon src="icons/social/fb-round.svg" size="m" />
        </a>
        <a href="https://www.instagram.com/mariya_finatova/" target="_blank">
          <Icon src="icons/social/inst.svg" size="m" />
        </a>
      </div>

      <div class="header-title">
        <h1>
          {{$t('marketplace.marketplace')}}
        </h1>
        <h2 class="header-title2">{{$t('marketplace.whatWhere')}}</h2>
      </div>

      <div class="header-search">
        <input type="text" :placeholder="$t('marketplace.searchPlaceholder')" />
        <div class="header-search-button" @click="$emit('click', $event)">
          <span>{{$t('marketplace.sendRequest')}}</span>
        </div>
      </div>

      <div class="header-subtext">
        {{$t('marketplace.subtext')}}
      </div>

      <div class="header-features">
        <div class="header-feature">
          <img src="~static/marketplace/percent.png" />
          <p>{{$t('marketplace.nds')}}</p>
        </div>
        <div class="header-feature">
          <img src="~static/marketplace/shield.png" />
          <p>{{$t('marketplace.withGuarantee')}}</p>
        </div>
        <div class="header-feature">
          <span class="icon ww-icn-question-o"></span>
          <p>{{$t('marketplace.withSupport')}}</p>
        </div>
      </div>
    </div>

  </header>
</template>

<script>
export default {
  components: {
    Icon: () => import('~/components/common/Icon'),
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.header {
  &-top {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.65)),
      url('~assets/images/marketplace/header.jpg') no-repeat center center;
    background-size: cover;
    display: grid;
    justify-items: center;
    position: relative;
  }
  .social {
    position: absolute;
    right: 72px;
    top: 82px;
    & > * {
      margin-left: 20px;
      cursor: pointer;
    }
  }
  &-title {
    margin-top: 90px;
    font-weight: bold;
    line-height: 56px;
    color: #fff;
    text-align: center;
    width: 556px;
    h1{
      font-size: 56px;
    }
  }
  &-title2 {
    margin-top: 16px;
    font-size: 40px;
  }

  &-search {
    display: flex;
    margin-top: 37px;
    width: 752px;

    input {
      padding: 25px 30px 25px;
      height: 80px;

      &::placeholder {
        font-size: 24px;
        font-weight: normal;
        line-height: 48px;
        left: 32px;
        color: rgba(0, 0, 0, 0.2);
      }
    }

    &-button {
      width: 345px;
      padding: 28px 33px;
      background-color: $blue;
      color: #fff;
      text-align: center;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: bold;
      line-height: 24px;
      letter-spacing: 0.8px;
      font-family: Circe-Bold;
      cursor: pointer;
    }
  }

  &-subtext {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: 0.6px;
    margin-top: 33px;
    margin-bottom: 26px;
    text-transform: uppercase;
    padding: 0 20px;
    font-family: Circe-Bold;
  }

  &-features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 64px;
  }

  &-feature {
    margin-bottom: 47px;
    text-align: center;
    color: #fff;

    p {
      font-size: 12px;
      line-height: 24px;
      font-weight: bold;
      margin-top: 0;
      text-transform: uppercase;
      letter-spacing: 0.6px;
      font-family: Circe-Bold;
    }

    img {
      height: 16px;
    }
  }

  &-bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }

}

@media screen and (max-width: $desktopHD) {
  .header {
    &-search {
      max-width: 688px;
      width: 100%;

      input::placeholder {
        line-height: 35px;
      }

      &-button {
        width: 360px;
      }
    }

    &-title {
      h1 {
        font-size: 48px;
      }
    }

  }
}
@media screen and (max-width: $desktopSD) {
  .header {
    &-title {
      width: 62%;
    }
    &-title2 {
      margin-top: 15px;
    }
    .social {
      right: 50px;
      top: 50px;
    }

    &-search {
      margin-top: 16px;
      width: 90%;
      flex-direction: column;

      input {
        text-align: center;
        padding: 17px 30px;
        height: 72px;
        box-sizing: border-box;

      }

      &-button {
        height: 72px;
        padding: 24px 30px;
        margin-top: 16px;
        text-align: center;
        width: 100%;
      }
    }
    &-subtext {
      text-align: center;
    }

    &-subtext {
      text-align: center;
      margin-left: 20px;
      margin-right: 20px;
    }
    &-features {
      gap: 25px;
    }

    &-feature {
      margin-bottom: 90px;
    }
  }
}
@media($mobile) {
  .header {
    &-title {
      width: 85%;
      margin-top: 105px;
      font-size: 24px;
    }

    h1{
      font-size: 36px;
    }
    &-title2 {
      font-size: 24px;
      margin-top: 8px;
    }
    &-search {
      margin-top: 26px;
      flex-direction: column;

      input{
        height: 56px;
        text-align: center;
        &::placeholder {
          font-size: 18px;
          line-height: 36px;
        }
      }

      &-button {
        width: 100%;
        height: 56px;
        margin-top: 8px;
        padding: 18px 30px;
        text-align: center;
      }
    }
    &-features {
      gap: 10px;
    }
    &-feature {
      margin-bottom: 50px;
    }
  }
}
</style>