<template>
  <section class="hiw-wrap">
    <div class="hiw wrapper">
      <div class="hiw-title">
        <h1>{{$t('marketplace.howItWorks')}}</h1>
      </div>

      <div class="hiw-steps">
        <div class="hiw-step">
          <div class="hiw-step-image">
            <img v-if="isMobile" src="~static/marketplace/step1.png" class="hiw-step-image-main" />
            <img v-else src="~static/marketplace/hiw1.png" class="hiw-step-image-main" />
          </div>
          <div class="hiw-step-content">
            <div class="hiw-step-title">{{$t('marketplace.postTask')}}</div>
            <div
              class="hiw-step-desc"
            >
              <span>{{$t('marketplace.step1')}}</span>
            </div>
          </div>
        </div>
        <div class="hiw-step">
          <div class="hiw-step-image">
            <img v-if="isMobile" src="~static/marketplace/step2.svg" class="hiw-step-image-main" />
            <img v-else src="~static/marketplace/hiw2.png" class="hiw-step-image-main" />
          </div>
          <div class="hiw-step-content">
            <div class="hiw-step-title">{{$t('marketplace.chooseArtist')}}</div>
            <div
              class="hiw-step-desc"
            >
              <span>{{$t('marketplace.step2')}}</span>
            </div>
          </div>
        </div>
        <div class="hiw-step">
          <div class="hiw-step-image">
            <img v-if="isMobile" src="~static/marketplace/step3.svg" class="hiw-step-image-main" />
            <img v-else src="~static/marketplace/hiw3.png" class="hiw-step-image-main" />
          </div>
          <div class="hiw-step-content">
            <div class="hiw-step-title">{{$t('marketplace.result')}}</div>
            <div
              class="hiw-step-desc"
            >
              <span>{{$t('marketplace.step3')}}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="hiw-button" @click="openModal">{{$t('marketplace.postTask')}}</div>

    </div>
  </section>
</template>

<script>
import popovers from '~/utils/popoverConsts'
import { mapGetters } from 'vuex'

export default {
  props: {
    user: {
      type: Object,
      default: () => ({}),
    }
  },
  data() {
    return {
      width: 0,
      created: false,
    }
  },
  computed: {
    ...mapGetters('marketplace/order', ['ORDER_CREATED']),
    isMobile() {
      return this.width <= 1024 && this.width > 520
    },
  },
  watch: {
    ORDER_CREATED(val) {
      if(val === true) {
        this.$router.push({
          name: 'profile',
          query: {page: 'marketplace'}
        })
      }
    },
  },
  mounted() {
    this.addResizeListener()
  },
  destroyed() {
    window.removeEventListener('resize', this.onResizeEvent)
  },
  methods: {
    addResizeListener() {
      if (window) {
        window.addEventListener('resize', this.onResizeEvent)
        window.dispatchEvent(new window.Event('resize'))
      }
    },
    onResizeEvent(e) {
      this.width = e.target.innerWidth
    },
    openModal() {
      if( !this.user || this.user.is_customer && !!this.user.as_customer ){
        this.$store.dispatch('popovers/TOGGLE_POPOVER', popovers.orderFormModal)
      } else if ( this.user.is_supplier && !!this.user.as_supplier ){
        this.$store.dispatch('popovers/TOGGLE_POPOVER', popovers.login)
      } else  {
        this.$router.push({
          name: 'profile',
          query: { page: 'marketplace' }
        })
      }
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.hiw {
  &-wrap {
    padding-top: 80px;
  }

  &-title {
    display: flex;
    margin-bottom: 25px;

    h1 {
      font-weight: bold;
      font-size: 32px;
      line-height: 1.25;
    }
  }

  &-steps {
    display: flex;
  }

  &-step {
    & + & {
      margin-left: 100px;
    }
    &-title {
      font-size: 24px;
      font-weight: bold;
      line-height: 1.33;
      font-family: Circe-Bold;
    }

    &-desc {
      margin-top: 5px;
      font-size: 16px;
      line-height: 1.5;
      display: flex;
      flex-direction: column;
    }

    &-image {
      position: relative;

      &-main {
        margin-bottom: 5px;
        width: 146px;
        height: 120px;
        object-fit: contain;
      }
    }
  }

  &-button {
    margin-top: 33px;
    padding: 27px 0 23px;
    background-color: $blue;
    border: 1px solid $blue;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 0.8px;
    transition: 0.3s ease-in-out;
    font-family: Circe-Bold;

    &:hover {
      background-color: #fff;
      color: $blue;
    }
  }
}

@media screen and (max-width: $desktopHD) {
  .hiw {
    &-steps {
      flex-direction: column;
    }

    &-title {
      margin-bottom: 40px;
    }

    &-step {
      display: flex;
      align-items: center;
      margin-bottom: 48px;
      &-image {
        padding-right: 60px;
      }
      & + & {
        margin-left: 0;
      }

      &-image {
        &-main {
          width: 198px;
          height: 120px;
          margin-bottom: 0;
        }
      }

      &-content {
        margin-left: 42px;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }

    &-button {
      padding: 20px 0;
      margin-top: 0;
    }
  }

}

@media screen and (max-width: $desktopSD) {
  .hiw {
    &-wrap {
      padding-top: 56px;
    }

    &-button {
      padding: 17px 0;
    }

    &-step {
      &-image {
        padding-right: 0;
      }

      &-content {
        margin-left: 42px;
      }
    }

  }

}

@media($mobile) {
  .hiw {
    &-title {
      justify-content: center;
      margin-bottom: 63px;
      h1 {
        font-size: 24px;
        line-height: 32px;
      }
    }
    &-step {
      flex-direction: column;
      margin-bottom: 40px;
      &-content {
        margin-left: 18px;
        margin-right: 18px;
        text-align: center;
      }
      &-image {
        &-main {
          width: 150px;
          height: 120px;
          margin-bottom: 24px;
        }
      }
    }
    &-button {
      margin-top: 9px;
    }
  }
}
</style>