<template>
  <div>
    <Header @click="openModal"/>
    <HowItWorks :user="GET_USER" />
    <Services @click="openModal" />
    <Feedbacks />
    <SupplierRegister
      v-if="showRegisterSection"
    />
    <OpenOrders @click="openModal" />
    <Advantages />
    <ContactUs />
  </div>
</template>

<script>
  import { mapGetters } from "vuex"
  import { prop } from "ramda"
  import popovers from '~/utils/popoverConsts'
  export default {
    components: {
      Header: () => import('./Header'),
      Services: () => import('./Services'),
      HowItWorks: () => import('./HowItWorks'),
      Feedbacks: () => import('./Feedbacks'),
      SupplierRegister: () => import('./SupplierRegister'),
      OpenOrders: () => import('./OpenOrders'),
      Advantages: () => import('./Advantages'),
      ContactUs: () => import('./ContactUs'),
    },
    computed: {
      ...mapGetters('user', ['GET_USER']),
      showRegisterSection(){
        return !this.isCurrentUserSupplier && !this.isCurrentUserCustomer
      },
      isCurrentUserSupplier() {
        return prop('is_supplier', this.GET_USER) && !!prop('as_supplier', this.GET_USER)
      },
      isCurrentUserCustomer() {
        return !this.isCurrentUserSupplier
          && prop('is_customer', this.GET_USER)
          && !!prop('as_customer', this.GET_USER)
      },
    },
    methods: {
      openModal() {
        if(this.GET_USER) {
          this.$router.push({
            name: 'profile',
            query: { page: 'marketplace' }
          })
        } else {
          this.$store.dispatch('popovers/TOGGLE_POPOVER', popovers.login)
        }
      },
    }
  }
</script>

<style lang="scss">
  @import '~/assets/css/variables.scss';
  @import '~/assets/css/_display.scss';
  body {
    padding-bottom: 0 !important;
  }
  h1, h2, h3, h4 {
    font-family: Circe-Bold;
  }

  .wrapper {
    max-width: 1304px;
  }
  @media screen and (min-width: $desktopFullHD) {
    .wrapper {
      margin: 0 20%;
    }
  }
  @media screen and (max-width: $desktopFullHD) {
    .wrapper {
      margin: 0 16%;
    }
  }
  @media screen and (max-width: $desktopHDp) {
    .wrapper {
      margin: 0 10%;
    }
  }
  @media screen and (max-width: $desktopSD) {
    .wrapper {
      margin: 0 5%;
    }
  }
</style>