<template>
  <section class="orders wrapper">
    <div v-if="ORDERS_COUNT" class="orders-title">{{$t('marketplace.openOrders')}}</div>
    <OrdersList
      class="list"
      v-bind="listProps"
      @delete="reloadOrders"
      @click="onOrderClick"
    />
  </section>
</template>

<script>
  import { mapActions, mapGetters } from 'vuex'
  import OrdersList from '~/components/marketplace/orders/List'

  export default {
    components: {
      OrdersList,
    },
    props: {
      user: {
        type: Object,
        default: () => ({}),
      }
    },
    data() {
      return {
        loading: false,
      }
    },
    computed: {
      ...mapGetters('marketplace', [
        'ORDERS',
        'ORDERS_COUNT',
        'ORDERS_PAGE',
        'ORDERS_HAS_MORE',
        'ORDERS_LOADING',
        'ORDERS_INITIALIZED'
      ]),
      ...mapGetters('user', ['GET_USER']),
      fetchParams: () => ({
        status: 0,
      }),
      listProps() {
        return {
          orders: this.ORDERS,
          loading: this.ORDERS_LOADING,
          count: this.ORDERS_COUNT,
          hasMore: this.ORDERS_HAS_MORE,
          fetchNext: this.fetchNext,
          marketplace: true
        }
      },

    },
    async mounted() {
      if ( !this.ORDERS_INITIALIZED ){
        await this.FETCH_ORDERS(this.fetchParams)
      }
    },
    methods: {
      ...mapActions('marketplace', ['FETCH_ORDERS', 'FETCH_ORDERS_NEXT', 'RESET_ORDERS']),
      async reloadOrders(){
        this.RESET_ORDERS()
        await this.FETCH_ORDERS(this.fetchParams)
      },
      async fetchNext() {
        if ( this.ORDERS_PAGE > 5 ) return
        return this.FETCH_ORDERS_NEXT(this.fetchParams)
      },
      onOrderClick(event){
        if ( !this.GET_USER ) {
          return this.$emit('click', event)
        }
        return this.$router.push({
          name: 'profile-id-marketplace-order_id',
          params: {
            id: this.GET_USER.id,
            order_id: event
          },
        })
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import '~/assets/css/variables.scss';
  .orders {
    margin-top: 34px;

    .list {
      @media(min-width: $desktopHD){
        margin-right: auto;
        margin-left: auto;
      }
    }

    &-title {
      font-weight: bold;
      font-size: 32px;
      line-height: 1.25;
      margin-bottom: 26px;
      font-family: Circe-Bold;
    }

    &-block {
      width: 100%;
      padding: 24px 32px 17px 40px;
      margin-bottom: 16px;
      display: flex;
      flex-direction: column;
      cursor: pointer;

      &-header {
        display: flex;
        align-items: center;
        margin-bottom: 3px;
        font-size: 16px;
        font-weight: normal;
        line-height: 24px;
        .name {
          margin-left: 5px;
          color: $blue;
        }
      }
      &-main {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        h4 {
          font-size: 24px;
          font-weight: bold;
          line-height: 32px;
          margin: 0;
        }
        span {
          font-size: 16px;
          font-weight: normal;
          line-height: 24px;
        }
      }
    }
  }
  @media screen and (max-width: $sideShow) {
    .orders {
      .loader {
        right: 49%;
      }
    }
  }
  @media screen and (max-width: $desktopSD) {
    .orders {
      margin-top: 26px;
    }
  }
  @media($mobile) {
    .orders {
      margin-top: 13px;

      &-title {
        font-size: 24px;
        text-align: center;
        margin-bottom: 13px;
      }
      &-block {
        padding: 21px 0 19px 24px;
        margin-bottom: 8px;
        &-header {
          font-size: 12px;
          margin-bottom: 0;
        }
        &-main{
          flex-direction: column;
          align-items: flex-start;
          h4 {
            font-size: 16px;
          }
          span {
            font-size: 12px;
          }
        }
      }
    }
  }
</style>