<template>
  <section class="our-services wrapper">
    <h1 class="our-services-title">Наши услуги</h1>
    <div class="our-services-list">
      <div class="our-services-list-item" v-for="(item, index) in services" :key="index">
        <p class="our-services-list-item-title" @click="toggleItem(index)">{{ item.name }}</p>
        <div class="our-services-list-inner" :class="{open: item.open}">
          <span
            class="our-services-list-inner-item"
            v-for="(service, index2) in item.list"
            :key="index2"
          >
            <span @click="openModal">{{ service.name }}</span>
          </span>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import popovers from '~/utils/popoverConsts'

export default {
  data: () => ({
    services: [
      {
        name: 'Музыканты',
        open: false,
        list: [
          { name: 'Музыканты на свадьбу ' },
          { name: 'Музыкальная группа ' },
          { name: 'Волшебная флейта ' },
          { name: 'Живая музыка ' },
          { name: 'Музыкальное сопровождение ' },
          { name: 'Шоу барабанщиков ' },
          { name: 'Женский вокал ' },
          { name: 'Хоровой коллектив ' },
          { name: 'Концертный директор ' },
          { name: 'Музыканты группы ' },
          { name: 'Диджей на мероприятие ' },
          { name: 'Саксофон баритоны ' },
          { name: 'Поющие официанты ' },
          { name: 'Фортепиано ' },
          { name: 'Услуги диджея ' },
          { name: 'Вокальная группа ' },
          { name: 'Джазовый коллектив ' },
          { name: 'Поющие повара ' },
          { name: 'Вокальное трио ' },
          { name: 'Музыкальное сопровождение мероприятия ' },
          { name: 'Вокал и гитара ' },
          { name: 'Диджей с оборудованием ' },
          { name: 'Профессиональные барабанщики ' },
          { name: 'Профессиональный пианист ' },
          { name: 'Ансамбль с военными песнями ' },
          { name: 'Музыкант-саксофонист ' },
          { name: 'Кавер-группа ' },
          { name: 'Фольклор ' },
          { name: 'Диджей-девушка ' },
          { name: 'Бас-гитарист ' },
          { name: 'Баянист ' },
          { name: 'Гитарист ' },
          { name: 'Клавишник ' },
          { name: 'Гитарист ' },
          { name: 'Пианистка ' },
          { name: 'Скрипач ' },
          { name: 'Волынщики ' },
          { name: 'Оркестр ' },
          { name: 'Фолк-коллективы ' },
          { name: 'Битбокс ' },
        ],
      },
      {
        name: 'Артисты',
        open: false,
        list: [
          { name: 'Звезды шоу бизнеса' },
          { name: 'Стендап комик' },
          { name: 'Воздушная гимнастика' },
          { name: 'Кукольный театр' },
          { name: 'Юмористическое шоу' },
          { name: 'Аниматоры' },
          { name: 'Театрализованные представления' },
          { name: 'Кукольный спектакль' },
          { name: 'Воздушная гимнастка' },
          { name: 'Фокусник иллюзионист' },
          { name: 'Интерактивный спектакль' },
          { name: 'Артисты на корпоратив' },
          { name: 'Клоуны' },
          { name: 'Казачий ансамбль' },
          { name: 'Живая скульптура' },
          { name: 'Выступление на сцене' },
          { name: 'Народный коллектив' },
          { name: 'Акробатическое шоу' },
          { name: 'Пародии на звезд эстрады' },
          { name: 'Выездные спектакли' },
          { name: 'Юмористический номер' },
          { name: 'Живое выступление' },
          { name: 'Интерактив со зрителями' },
          { name: 'Артисты двойники' },
          { name: 'Подбор артистов' },
          { name: 'Цирковые номера' },
          { name: 'Шоу двойников и пародий' },
          { name: 'Акробаты' },
          { name: 'Актер' },
          { name: 'Актер-аниматор' },
          { name: 'Актриса' },
          { name: 'Дед мороз и снегурочка' },
          { name: 'Артисты оригинального жанра' },
          { name: 'Артисты цирка' },
          { name: 'Артисты-близнецы' },
          { name: 'Жонглер' },
          { name: 'Гимнасты' },
          { name: 'Мимы' },
          { name: 'Ходулисты' },
          { name: 'Пародист' },
        ],
      },
      {
        name: 'Ведущие',
        open: false,
        list: [
          { name: 'Проведение свадьбы' },
          { name: 'Свадебный ведущий' },
          { name: 'Ведущий на корпоратив' },
          { name: 'Аниматор на день рождения' },
          { name: 'Аниматор детский' },
          { name: 'Ведущий мероприятий' },
          { name: 'Тамада на свадьбу' },
          { name: 'Тамада на праздник' },
          { name: 'Профессиональный ведущий' },
          { name: 'Ведуший на квиз' },
          { name: 'Тамада' },
        ],
      },
      {
        name: 'Танцы',
        open: false,
        list: [
          { name: 'Восточные танцы' },
          { name: 'Бальные танцы' },
          { name: 'Латиноамериканские танцы' },
          { name: 'Народные танцы' },
          { name: 'Московская кадриль' },
          { name: 'Танцевальные студии' },
          { name: 'Танцующие официанты' },
          { name: 'Танцовщицы go go' },
          { name: 'Профессиональные танцоры' },
          { name: 'Танцевальный интерактив' },
          { name: 'Танцевальный проект' },
          { name: 'Танцовщицы' },
          { name: 'Бразильские танцы' },
          { name: 'Шоу-балет' },
          { name: 'Танцевальное шоу' },
          { name: 'Зумба мастер-класс' },
          { name: 'Танец живота' },
          { name: 'Танцевально-световое шоу' },
          { name: 'Танцевальный коллектив' },
          { name: 'Танцовщица-мулатка' },
          { name: 'Танцы хип-хоп' },
          { name: 'Чирлидинг' },
          { name: 'Брэйк данс' },
          { name: 'Балерины' },
        ],
      },
      {
        name: 'Кейтеринг',
        open: false,
        list: [
          { name: 'Шоколадный фонтан' },
          { name: 'Жидкий азот' },
          { name: 'Чай кофе' },
          { name: 'Сахарная вата' },
          { name: 'Бармен шоу' },
          { name: 'Фуршетное меню' },
          { name: 'Аренда посуды' },
          { name: 'Выездное обслуживание' },
          { name: 'Аренда льда' },
          { name: 'Фуршет' },
          { name: 'Цветочный джем' },
          { name: 'Коктейли молекулярные' },
          { name: 'Пирамида шампанского' },
          { name: 'Мастер классы по приготовлению коктейлей' },
          { name: 'Корпоратив банкет' },
          { name: 'Кофейный бар' },
          { name: 'Коктейлей пирамида' },
          { name: 'Барная зона' },
          { name: 'Изготовление мороженого' },
          { name: 'Бар под ключ' },
          { name: 'Банкет на выезд' },
          { name: 'Повар' },
          { name: 'Кондитер' },
          { name: 'Выездной бар' },
          { name: 'Кенди бар' },
          { name: 'Жареное мороженое' },
          { name: 'Автоматы с газированной водой' },
          { name: 'Полевая кухня' },
          { name: 'Карамельные яблоки' },
          { name: 'Попкорн' },
          { name: 'Кукуруза' },
          { name: 'Халяльный обед' },
        ],
      },
      {
        name: 'Фото и видеосъёмка',
        open: false,
        list: [
          { name: 'Видео поздравление' },
          { name: 'Фотосессия с гостями' },
          { name: 'Видеооператор на свадьбу' },
          { name: 'Видеосъемка свадьбы' },
          { name: 'Профессиональный фотограф' },
          { name: 'Фотограф на корпоратив' },
          { name: 'Цветокоррекция видео' },
          { name: 'Студийные фотосъемки' },
          { name: 'Имиджевые ролики' },
          { name: 'Видео праздников' },
          { name: 'Съёмки кино' },
          { name: 'Репортажный фотограф' },
          { name: 'Съемка в студии' },
          { name: 'Корпоративное видео' },
          { name: 'Камеры квадрокоптер' },
          { name: 'Корпоративные фильмы' },
          { name: 'Презентационный ролик' },
          { name: 'Съемка рекламы' },
          { name: 'Съемки мероприятия' },
          { name: 'Ролики корпоративные' },
          { name: 'Услуги видеографа' },
          { name: 'Услуги фотосессии' },
          { name: 'Аэросъемка' },
          { name: 'Свадебный фотограф' },
          { name: 'Фотосъёмка' },
          { name: 'Фотограф' },
          { name: 'Фотобудка' },
          { name: 'Видеограф' },
          { name: 'Видеоинженер' },
          { name: 'Выездная фотостудия' },
          { name: 'Мобильная фотостудия' },
          { name: 'Монтаж видео' },
        ],
      },
      {
        name: 'Полиграфия',
        open: false,
        list: [
          { name: 'Рекламное агентство' },
          { name: 'Широкоформатная печать' },
          { name: 'Печать баннера' },
          { name: 'Рекламная полиграфия' },
          { name: 'Чеканка сувенирных монет' },
          { name: 'Магниты' },
          { name: 'Баннер' },
          { name: 'Браслеты' },
          { name: 'Графический дизайнер' },
          { name: 'Инстапринтер' },
          { name: 'Логотип' },
          { name: 'Пресс-волл' },
          { name: 'Типография' },
          { name: 'Флипбук студия' },
          { name: 'Сувениры' },
        ],
      },
      {
        name: 'Шоу-программы',
        open: false,
        list: [
          { name: 'Лазерное шоу' },
          { name: 'Бумажное шоу' },
          { name: 'Световое шоу' },
          { name: 'Бумажная дискотека' },
          { name: 'Поролоновое шоу' },
          { name: 'Химическое шоу' },
          { name: 'Песочная анимация' },
          { name: 'Песочное шоу' },
          { name: 'Пиротехническое шоу' },
          { name: 'Файер шоу' },
          { name: 'Тревел шоу' },
          { name: 'Шоу световых картин' },
          { name: 'Интерактив с залом' },
          { name: 'Интерактивные конкурсы' },
          { name: 'Иллюзионное шоу' },
          { name: 'Бразильское шоу' },
          { name: 'Экстрим шоу' },
          { name: 'Иллюзия фокусы' },
          { name: 'Восточное шоу' },
          { name: 'Шоу трансформации' },
          { name: 'Латиноамериканская программа' },
          { name: 'Пузырей шоу' },
          { name: 'Силовое шоу' },
          { name: 'Магическое шоу' },
          { name: 'Звездное шоу' },
          { name: 'Электрическое шоу' },
          { name: 'Мультимедийное шоу' },
          { name: 'Интерактивы игры' },
          { name: 'Паркур шоу' },
          { name: 'Интерактивный проект' },
          { name: 'Волшебное шоу' },
          { name: 'Шоу неоновых пузырей' },
          { name: 'Интерактивный фокус' },
          { name: 'Огненные пузыри' },
          { name: 'Цыгане' },
          { name: 'Бразильское шоу' },
          { name: 'Афроамериканское шоу' },
          { name: 'Восточное шоу' },
          { name: 'Кабаре-шоу' },
          { name: 'Крио-шоу' },
          { name: 'Кубинское шоу' },
          { name: 'Мексиканское шоу' },
          { name: 'Научное шоу' },
          { name: 'Азотное шоу' },
          { name: 'Шоу лазерная арфа' },
          { name: 'Шоу мужчин на каблуках' },
          { name: 'Шоу на гироскутерах' },
          { name: 'Шоу человек-труба' },
          { name: 'Шоу энгри бердс' },
        ],
      },
      {
        name: 'Мастер-классы',
        open: false,
        list: [
          { name: 'Мастер класс по рисованию' },
          { name: 'Творческие мастер классы' },
          { name: 'Проведение мастер классов' },
          { name: 'Интерактивный мастер класс' },
          { name: 'Мастер-класс по мультипликации' },
          { name: 'Мастер-классы на тему "барби"' },
        ],
      },
      {
        name: 'Развлечения',
        open: false,
        list: [
          { name: 'Интерактивные игры' },
          { name: 'Люминесцентные краски' },
          { name: 'Аквагрим' },
          { name: 'Каучуковые мячи' },
          { name: 'Оригинальные портреты' },
          { name: 'Парфюмерный бар' },
          { name: 'Картины цветным песком' },
          { name: 'Аэротату' },
          { name: 'Бодиарт' },
          { name: 'Выездное казино' },
          { name: 'Торседор' },
          { name: 'Художник' },
          { name: 'Пиротехника' },
          { name: 'Выездные игры' },
          { name: 'Квест' },
          { name: 'Интерактивная экскурсия' },
          { name: 'Зорб' },
          { name: 'Игра на бокалах' },
          { name: 'Фейерверк' },
          { name: 'Художник body art' },
          { name: 'Шаржисты' },
          { name: 'Флешмоб' },
          { name: 'Караоке' },
        ],
      },
      {
        name: 'Животные',
        open: false,
        list: [
          { name: 'Дрессированные животные' },
          { name: 'Номер с дрессированным медведем' },
          { name: 'Дрессированные пудели' },
          { name: 'Катание на хаски' },
          { name: 'Контактный зоопарк' },
          { name: 'Лошадь' },
          { name: 'Номер с медведем' },
          { name: 'Тараканьи бега' },
          { name: 'Поросячьи бега' },
          { name: 'Кролики' },
          { name: 'Хаски для фотозоны' },
          { name: 'Шоу обезьянок' },
          { name: 'Шоу с животными' },
        ],
      },
      {
        name: 'Спортивные развлечения',
        open: false,
        list: [
          { name: 'Баскетбольный фристайл' },
          { name: 'Батут' },
          { name: 'Прыжки на скакалке' },
          { name: 'Капоэйра' },
          { name: 'Номер с хула-хупами' },
          { name: 'Паркур' },
          { name: 'Пейнтбол' },
          { name: 'Спортивное шоу' },
          { name: 'Футбольный фристайл' },
          { name: 'Спорт аниматор' },
        ],
      },
      {
        name: 'Программа для взрослых',
        open: false,
        list: [
          { name: 'Стриптиз программа' },
          { name: 'Женский стриптиз' },
          { name: 'Шуточный стриптиз' },
          { name: 'Эротическое шоу' },
          { name: 'Стриптиз деда мороза' },
        ],
      },
      {
        name: 'Площадка и оформление',
        open: false,
        list: [
          { name: 'Аренда помещения' },
          { name: 'Искусственные цветы' },
          { name: 'Арт пространство' },
          { name: 'Ретро гирлянды' },
          { name: 'Банкет холл' },
          { name: 'Развлекательные комплексы' },
          { name: 'Монтаж демонтаж' },
          { name: 'Оформление фотозоны' },
          { name: 'Оформление мероприятий' },
          { name: 'Площадка для мероприятий' },
          { name: 'Композиции на столы' },
          { name: 'Интерактивная фотозона' },
          { name: 'Украшение праздника' },
          { name: 'Цветочная стена' },
          { name: 'Выставочные площадки' },
          { name: 'Открытая площадка' },
          { name: 'Помещение для мероприятий' },
          { name: 'Авторские композиции' },
          { name: 'Мастерская флористики' },
          { name: 'Заказать лепестки роз' },
          { name: 'Мебель и предметы интерьера' },
          { name: 'Фотозона' },
          { name: 'Белая дорожка' },
          { name: 'Флорист' },
          { name: 'Воздушные шары' },
          { name: 'Ледяные скульптуры' },
          { name: 'Ковровая дорожка' },
          { name: 'Декоратор-оформитель' },
          { name: 'Конференц-зал' },
          { name: 'Кукла на масленицу' },
          { name: 'Пиньята' },
          { name: 'Площадка-лофт' },
          { name: 'Реквизит' },
          { name: 'Чехлы на стулья' },
          { name: 'Ширмы' },
          { name: 'Ящик для писем' },
        ],
      },
      {
        name: 'Аренда оборудования',
        open: false,
        list: [
          { name: 'Музыкальная аппаратура' },
          { name: 'Музыкальное оборудование' },
          { name: 'Звуковое оборудование' },
          { name: 'Звуковая аппаратура' },
          { name: 'Профессиональный свет' },
          { name: 'Дополнительное оборудование' },
          { name: 'Генератор тяжелого дыма' },
          { name: 'Звук проектор' },
          { name: 'Комплект оборудования' },
          { name: 'Светодиодные конструкции' },
          { name: 'Дым машина' },
          { name: 'Искрящиеся фонтаны' },
          { name: 'Экраны' },
          { name: 'Лазерная установка' },
          { name: 'Пиротехнические фонтаны' },
          { name: 'Генератор мыльных пузырей' },
        ],
      },
      {
        name: 'Костюмы',
        open: false,
        list: [
          { name: 'Костюм человека паука' },
          { name: 'Костюм космонавта' },
          { name: 'Сценические костюмы' },
          { name: 'Костюмы интересные' },
          { name: 'Световые костюмы' },
          { name: 'Ростовой медведь' },
          { name: 'Костюмированное шоу' },
          { name: 'Костюмерная' },
          { name: 'Трансформация костюмов' },
          { name: 'Кольчуга' },
          { name: 'Папаха' },
          { name: 'Ростовая кукла' },
        ],
      },
      {
        name: 'Мероприятия «под ключ»',
        open: false,
        list: [
          { name: 'Свадебное шоу' },
          { name: 'Тематические вечеринки' },
          { name: 'Детский день рождения' },
          { name: 'Свадебное агентство' },
          { name: 'Event агентство' },
          { name: 'Корпоратив в москве' },
          { name: 'Свадебный организатор' },
          { name: 'Корпоративные праздники' },
          { name: 'Открытие ресторана' },
          { name: 'Школьные мероприятия' },
          { name: 'Вечеринки детские' },
          { name: 'Бизнес мероприятия' },
          { name: 'Оздоровительные мероприятия' },
          { name: 'Выставки детские' },
          { name: 'Корпоративная программа' },
          { name: 'Праздник под ключ' },
          { name: 'Выездные регистрации свадьбы' },
          { name: 'Презентации фестивали' },
          { name: 'Корпоративы тимбилдинги' },
          { name: 'Театрализованные праздники' },
          { name: 'Event менеджер' },
          { name: 'Тимбилдинг' },
          { name: 'Промоутеры и агентства' },
          { name: 'Реклама мероприятия' },
        ],
      },
      {
        name: 'Прочие услуги',
        open: false,
        list: [
          { name: 'Сценарист' },
          { name: 'Парикмахер-визажист' },
          { name: 'Визажист' },
          { name: 'Парикмахер' },
          { name: 'Гример' },
          { name: 'Дизайнер' },
          { name: 'Дикторы' },
          { name: 'Лимузин' },
          { name: 'Регистраторы брака' },
          { name: 'Стилист' },
          { name: 'Хореограф' },
          { name: 'Хостес' },
          { name: 'Швея' },
        ],
      },
    ],
  }),

  methods: {
    toggleItem(index) {
      this.services[index].open = !this.services[index].open
    },
    openModal() {
      this.$store.dispatch('popovers/TOGGLE_POPOVER', popovers.mailPicker)
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.our-services {
  margin-top: 93px;

  &-title {
    margin-bottom: 44px;
    font-weight: bold;
    font-size: 32px;
    line-height: 1.25;
  }

  &-list {
    column-count: 4;

    &-inner {
      display: grid;
      margin: 9px 0 54px 0;

      &-item {
        font-size: 16px;
        line-height: 1.5;
        cursor: pointer;
      }
    }

    &-item {
      break-inside: avoid-column;
      &-title {
        font-size: 16px;
        font-weight: bold;
        line-height: 1.5;
        margin: 0;
        letter-spacing: 0.8px;
        text-transform: uppercase;
      }
    }
  }
}

@media screen and (max-width: $desktopHD) {
  .our-services {
    margin-top: 80px;

    &-list {
      column-count: 3;
    }
  }
}

@media screen and (max-width: $desktopSD) {
  .our-services {
    margin: 0;
    margin-top: 64px;

    &-title {
      padding: 0 piecewise-linear-margin(360px, $desktopSD, 16px, 40px);
      font-size: 24px;
      text-align: center;
    }

    &-list {
      column-count: 1;

      &-inner {
        max-height: 0;
        overflow: hidden;
        margin-bottom: 0;
        margin-top: 0;
        transition: 0.5s linear;

        &.open {
          max-height: 3000px;
          margin-top: 9px;
        }
      }

      &-item {
        border-top: 1px solid rgb(236, 237, 238);
        padding: 10px piecewise-linear-margin(360px, $desktopSD, 16px, 40px)
          16px;
          padding-bottom: 9px;

        &:last-child {
          border-bottom: 1px solid rgb(236, 237, 238);
        }
      }
    }
  }
}
</style>