<template>
  <section class="wrapper services">

    <div class="service-list-wrap">
      <div class="services-list" ref="serviceList">

        <div
            v-for="(item,idx) in data"
            :key="idx"
            class="service"
            @click="$emit('click', $event)"
        >

          <img class="service-image" :src="`${STATIC_PATH}marketplace/popularServices/${item.img}`" alt="Image" />

          <div class="overlay">
              <div class="service-title">
              <h4 class="name">{{item.name}}</h4>
              <span>{{ item.offers }}</span>
            </div>
          </div>
        </div>

      </div>
    </div>

  </section>
</template>

<script>

export default {
  computed: {
    STATIC_PATH: () => process.env.STATIC_PATH,
    data () {return [
      { img: '1.jpg', name: this.$t('marketplace.catering'), offers: this.$tc('marketplace.offers', 1023) },
      { img: '2.jpg', name: this.$t('marketplace.formalization'), offers: this.$tc('marketplace.offers', 2312) },
      { img: '3.jpg', name: this.$t('marketplace.platforms'), offers: this.$tc('marketplace.offers', 953) },
      { img: '4.jpg', name: this.$t('marketplace.artists'), offers: this.$tc('marketplace.offers', 1499) },
      { img: '5.jpg', name: this.$t('marketplace.technicalSupport'), offers: this.$tc('marketplace.offers', 1889) },
      { img: '6.jpg', name: this.$t('marketplace.props'), offers: this.$tc('marketplace.offers', 1024) },
      { img: '7.jpg', name: this.$t('marketplace.staff'), offers: this.$tc('marketplace.offers', 515) },
      { img: '8.jpg', name: this.$t('marketplace.photo'), offers: this.$tc('marketplace.offers', 1902) },
      { img: '9.jpg', name: this.$t('marketplace.interactive'), offers: this.$tc('marketplace.offers', 2001) },
      { img: '10.jpg', name: this.$t('marketplace.organizers'), offers: this.$tc('marketplace.offers', 606) },
      { img: '11.jpg', name: this.$t('marketplace.training'), offers: this.$tc('marketplace.offers', 1774) },
      { img: '12.jpg', name: this.$t('marketplace.events'), offers: this.$tc('marketplace.offers', 1045) },
    ]}
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.services {
  margin-top: 113px;

  &-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }

  .service {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #fff;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;

    &:hover .name {
      text-decoration: underline;
    }
    &:hover .overlay {
      background-color: rgba(0, 112, 255, 0.7);
    }

    &-image {
      width: 100%;
      height: 160px;
      object-fit: cover;
    }
    .overlay{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 1;
      transition: all 0.3s ease-in-out;
      /*background-color: rgba(0, 0, 0, 0.3);*/
    }

    &-title {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin-top: 5px;
      color: #ffffff;
      opacity: 1;

      h4 {
        font-size: 24px;
        line-height: 32px;
        font-weight: bold;
        margin: 0;

      }

      span {
        font-size: 14px;
        font-weight: normal;
        line-height: 24px;
      }
    }
  }

}

@media screen and (max-width: $desktopHD) {
  .services {
    margin-top: 79px;
    &-list {
      grid-gap: 25px;
      gap: 25px;
    }

  }

  .service {
    &-list-wrap {
      overflow-x: scroll;
    }
  }
}

@media screen and (max-width: $desktopSD) {
  .services {
    &-title {
      font-size: 24px;
    }

    &-list {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 16px;
      gap: 16px;
    }

  }
}
@media($mobile) {
  .services {
    &-title {
      font-size: 24px;
      text-align: center;
    }

    &-list {
      grid-template-columns: 1fr;
      grid-gap: 0;
      gap: 8px;
    }

  }
}
</style>