<template>
  <section class="wrapper registration">
    <div class="registration-block">
      <div class="img-wrapper">
        <img src="~static/marketplace/email.svg" class="hiw-step-image-main" />
      </div>
      <div class="row">
        <div class="text">
          <span>{{ $t('marketplace.acceptOrders') }}</span>
          <span>{{ $t('marketplace.registerSupplier') }}</span>
        </div>
        <button @click="register" class="register-button">{{ buttonTitle }}</button>
      </div>
    </div>
  </section>
</template>

<script>

  import { mapActions, mapGetters } from 'vuex'
  import popConsts from '~/utils/popoverConsts.js'

  export default {
    computed: {
      ...mapGetters('user', ['GET_USER']),
      user() {
        return this.GET_USER
      },
      buttonTitle() {
        if(this.user) return this.$t('marketplace.becomeSupplier')
        return this.$t('auth.register')
      }
    },
    methods: {
      ...mapActions({
        showError: 'notifications/error',
      }),
      ...mapActions('popovers', ['SWITCH_PRE_LOADER']),
      ...mapActions('user', ['UPDATE_USER']),
      ...mapActions({
        newRegistrationData: 'auth/NEW_REGISTRATION_DATA',
      }),
      register() {
        if(this.user) {
          this.updateUser()
        } else {
          const data = {
            is_supplier: true,
          }
          this.newRegistrationData(data)
          this.openModal()
        }
      },
      async updateUser(){
        this.SWITCH_PRE_LOADER(true)
        try{
          const payload = {is_supplier: true}
          await this.UPDATE_USER(payload)
          this.$router.push({
            name: 'profile-edit'
          })
        } catch (e) {
          console.log(e)
          this.showError(e.message)
        } finally {
          this.SWITCH_PRE_LOADER(false)
        }
      },
      openModal() {
        this.$store.dispatch('popovers/TOGGLE_POPOVER', popConsts.login)
      },
    },
  }
</script>

<style lang="scss" scoped>
  @import '~/assets/css/variables.scss';
  .registration{
    position: relative;
    max-width: 1232px;
    margin-top: 64px;
    margin-bottom: 78px;
    @media(max-width: 978px) {
      margin-top: 88px;
      margin-bottom: 96px;
    }
    @media($mobile) {
      margin: 91px 0 56px;
    }
    .img-wrapper {
      width: 263px;
      height: 218px;
      position: absolute;
      top: -23px;
      @media(max-width: 978px) {
        position: relative;
        height: 195px;
        top: -35px;
      }
      img {
        @media(max-width: 978px) {
          width: 263px;
          height: 218px;
        }
      }

    }
    &-block {
      padding: 37px 48px 37px 72px;
      background-color: #eaeff5;
      @media(max-width: $sideShow) {
        padding-left: 30px;
      }
      @media(max-width: 978px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 0;
      }
      @media($mobile) {
        padding: 0 0 24px;
      }
      .row {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        @media(max-width: 978px) {
          flex-direction: column;
        }
      }
      .text {
        display: flex;
        flex-direction: column;
        font-weight: bold;
        line-height: 32px;
        margin-right: 87px;
        font-family: Circe-Bold;
        @media(max-width: 1400px) {
          margin-right: 50px;
        }
        @media(max-width: $desktopHD) {
          margin-right: 20px;
        }
        @media(max-width: 978px) {
          margin-right: 0;
        }
        @media($mobile) {
          text-align: center;
        }

        & > :first-child {
          font-size: 32px;
          @media(max-width: $desktopHD) {
            font-size: 24px;
          }
          @media(max-width: 978px) {
            font-size: 32px;
          }
          @media($mobile) {
            font-size: 24px;
          }
        }
        & > :last-child {
          font-size: 24px;
          @media(max-width: $desktopHD) {
            font-size: 18px;
          }
          @media(max-width: 978px) {
            font-size: 24px;
          }
          @media($mobile) {
            font-size: 16px;
            font-weight: normal;
          }
        }
      }
      .register-button {
        padding: 24px 80px;
        color: #ffffff;
        background-color: $blue;
        border: 1px solid $blue;
        font-size: 16px;
        line-height: 24px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.8px;
        transition: all 0.3s ease-in-out;
        font-family: Circe-Bold;
        @media(max-width: 1400px) {
          padding: 24px 50px;
        }
        @media(max-width: $desktopHD) {
          padding: 24px 20px;
        }
        @media(max-width: 978px) {
          width: 100%;
          max-width: 400px;
          padding: 20px 80px;
          margin-top: 21px;
          font-size: 14px;
        }
        @media($mobile) {
          max-width: 312px;
          padding: 18px 65px;
        }
        &:hover {
          background: #fff;
          color: $blue;
        }
      }
    }
  }
</style>
