<template>
  <label class="switch" :class="{ toggled: value }">
    <input v-model="model" type="checkbox" class="switch__input" />
    <span class="switch__core" />
  </label>
</template>

<script>
export default {
  name: 'WSwitch',

  props: {
    value: Boolean,
  },

  computed: {
    model: {
      get() {
        return this.value
      },
      set(v) {
        this.$emit('input', v)
      },
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.switch {
  display: inline-block;
  cursor: pointer;

  &__input {
    display: none;
  }

  &__core {
    display: block;
    background: $gray;
    width: 48px;
    height: 24px;
    border-radius: 999px;
    position: relative;
    transition: background-color 0.3s;

    &:before {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      transition: transform 0.3s, background-color 0.3s;
      border-radius: 50%;
      background-color: #c6c7c8;
      content: '';
      width: 24px;
      height: 24px;
      border: 2px solid#fff;
    }
  }
}

.toggled {
  .switch {
    &__core {
      background: #cce2ff;

      &:before {
        transform: translate(24px);
        background-color: $blue;
      }
    }
  }
}
</style>
