<i18n>
  {
    "ru": {
      "whereToGo": "Куда пойти ",
      "date": "Дата",
      "price": "Цена",
      "category": "Категория",
      "eventType": "События",
      "genre": "Жанр"
    },
    "en": {
      "whereToGo": "Where to go ",
      "date": "Date",
      "price": "Price",
      "category": "Category",
      "eventType": "Type of event",
      "genre": "Genre"
    },
    "es": {
      "whereToGo": "A donde ir ",
      "date": "Date",
      "price": "Price",
      "category": "Category",
      "eventType": "Type of event",
      "genre": "Genre"
    }
  }
</i18n>

<template>
  <section v-if="results && results.length" class="root">
    <h2 class="city">
      {{ $t('whereToGo') }}
      <slot></slot>
    </h2>

    <div class="link-list">
      <div class="section">
        <div class="link-list__title">{{ $t('date') }}</div>
        <ul class="link-list__list">
          <li v-for="({ url, period_display }, index) in periods" :key="index">
            <WLink :to="url" color="black" class="link-list__item">
              {{ period_display }}
            </WLink>
          </li>
        </ul>
      </div>

      <div class="section">
        <div class="link-list__title">{{ $t('price') }}</div>
        <ul class="link-list__list">
          <li v-for="({ url, payment_display }, index) in payments" :key="index">
            <WLink :to="url" color="black" class="link-list__item">
              {{ payment_display }}
            </WLink>
          </li>
        </ul>
      </div>

      <div class="section">
        <div class="link-list__title" v-if="categories.length">
          {{ $t('category') }}
        </div>
        <ul class="link-list__list">
          <li v-for="({ url, category }, index) in categories" :key="index">
            <WLink :to="url" color="black" class="link-list__item">
              {{ category.title }}
            </WLink>
          </li>
        </ul>
      </div>

      <div class="section">
        <div class="link-list__title" v-if="types.length">
          {{ $t('eventType') }}
        </div>
        <ul class="link-list__list">
          <li v-for="({ url, type }, index) in types" :key="index">
            <WLink :to="url" color="black" class="link-list__item">
              {{ type.title }}
            </WLink>
          </li>
        </ul>
      </div>

      <template v-for="(g, i) in genresGroup" v-if="g.length">
        <WLink
          v-if="g.genre"
          :key="'title' + i"
          :to="g.url"
          color="black"
          class="link-list__title"
        >
          {{ g.genre.title }}
        </WLink>
        <div v-else :key="'title' + i" class="link-list__title">
          {{ $t('genre') }}
        </div>
        <ul :key="'ul' + i" class="link-list__list">
          <li v-for="({ url, genre }, index) in g.results" :key="index">
            <WLink :to="url" color="black" class="link-list__item">
              {{ genre.title }}
            </WLink>
          </li>
        </ul>
      </template>
    </div>
  </section>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  components: {
    WLink: () => import('~/components/common/WLink'),
  },
  computed: {
    ...mapGetters('city', ['GET_CITY_ID']),
    ...mapGetters('seo', [
      'results',
      'periods',
      'payments',
      'categories',
      'types',
      'genresGroup',
    ]),
  },
  watch: {
    async GET_CITY_ID() {
      if (this.GET_CITY_ID){
        await this.fetchSeo({ geoname_id: this.GET_CITY_ID })
      }
    }
  },
  methods: {
    ...mapActions({
      fetchSeo: 'seo/FETCH',
    }),
  }
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.root {
  margin-top: 64px;
  .city {
    font-size: 32px;
    font-weight: bold;
    line-height: 1.25;
    margin-bottom: 24px;

    &__title {
      border-bottom: 2px solid #0070ff;
      &:hover {
        text-decoration: none;
        color: $blue;
      }
    }
    &__link {
      text-decoration: $blue;
    }
  }

  .link-list {
    column-width: 150px;
    column-count: 4;
    column-gap: 16px;
    .section {
      page-break-inside: avoid;
    }
    &__title {
      font-size: 16px;
      font-weight: bold;
      line-height: 1.5;
      letter-spacing: 0.8px;
      text-transform: uppercase;
      margin-bottom: 8px;
      display: block;
    }
    &__list {
      margin-bottom: 40px;
    }
    &__item {
      font-size: 16px;
      line-height: 1.5;
    }
  }
}
</style>
