<i18n>
{
  "ru": {
    "interestsLabel": "Интересы вашей ЦА (можно выбрать несколько)",
    "interests": ["ФОТО", "МОТО", "САД", "ОГОРОД", "ФИЗИКА", "КИНО", "АРХИТЕКТУРА", "ФОТО", "МОТО", "ОГОРОД", "ФИЗИКА", "КИНО", "АРХИТЕКТУРА", "ФОТО", "МОТО"],
    "interestTooltip": "Выберите интересы вашей ЦА",
    "targetLabel": "Ваша ЦА",
    "targetTooltip": "Укажите пол ЦА (можно оба)",
    "men": "мужчины",
    "women": "женщины",
    "mixed": "Смешанная",
    "ageLabel": "от 18 до 55 лет",
    "ageTooltip": "Установите диапозон возраста ЦА"
  },
  "en": {
    "interestsLabel": "Interests of your target audience",
    "interests": ["PHOTO", "MOTO", "GARDENING", "KITCHEN-GARDEN", "PHYSICS", "CINEMA", "ARCHITECTURE", "PHOTO", "MOTO", "GARDENING", "PHYSICS", "CINEMA", "ARCHITECTURE", "PHOTO", "MOTO"],
    "interestTooltip": "Select interests of your target audience",
    "targetLabel": "Your target audience",
    "targetTooltip": "Specify gender of your target audience (you can select both)",
    "men": "MALE",
    "women": "FEMALE",
    "mixed": "MIXED",
    "ageLabel": "from 18 to 55 years",
    "ageTooltip": "Set the age range of your target audience"
  },
  "es": {
    "interestsLabel": "Intereses de tu público objetivo",
    "interests": ["FOTO", "MOTO", "JARDINERÍA", "HUERTA", "FÍSICA", "CINE", "ARQUITECTURA", "FOTO", "MOTO", "JARDINERÍA", "FÍSICA", "CINE", "ARQUITECTURA", "FOTO", "MOTO"],
    "interestTooltip": "Seleccione los intereses de tu público objetivo",
    "targetLabel": "Tu público objetivo",
    "targetTooltip": "Especifique el género de tu público objetivo (puedes seleccionar ambos)",
    "men": "HOMBRES",
    "women": "MUJERES",
    "mixed": "MIXTA",
    "ageLabel": "de 18 a 55 años",
    "ageTooltip": "Establece el rango de edad de tu público objetivo"
  }
}
</i18n>

<template>
  <div>
    <div class="interests-label">{{ $t('interestsLabel') }}</div>

    <GuideTooltip :distance="87" :width="280" class="interests-list__wrapper">
      <div class="interests-list">
        <div v-for="(interest, n) in $t('interests')" :key="n" class="chip">
          {{ interest }}
        </div>
      </div>
      <template #tooltip>{{ $t('interestTooltip') }}</template>
    </GuideTooltip>

    <div class="target-label">{{ $t('targetLabel') }}</div>

    <GuideTooltip class="target-list__wrapper" :distance="101" :width="492">
      <div class="target-list">
        <div class="chip">
          <span class="ww-icn-female-sign gender-icon" />
          {{ $t('women') }}
        </div>
        <div class="chip">
          <span class="ww-icn-male-sign gender-icon" />
          {{ $t('men') }}
        </div>
        <div class="chip">
          <Icon src="icons/gender_mixed.svg" class="gender-icon" />
          {{ $t('mixed') }}
        </div>
      </div>
      <template #tooltip>{{ $t('targetTooltip') }}</template>
    </GuideTooltip>

    <GuideTooltip :distance="88" :width="209" class="age__wrapper">
      <div class="age">
        <div class="age__slider">
          <div class="age__slider-active">
            <div class="slider-active__inner">
              <div class="slider-active__label">{{ $t('ageLabel') }}</div>
            </div>
          </div>
        </div>
      </div>
      <template #tooltip>{{ $t('ageTooltip') }}</template>
    </GuideTooltip>
  </div>
</template>

<script>
import GuideTooltip from '~/components/common/GuideTooltip'
import Icon from '~/components/common/Icon'

export default {
  name: 'FakeAudience',

  components: {
    GuideTooltip,
    Icon,
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.interests-label {
  margin-bottom: 16px;
}

.interests-list {
  max-width: 856px;
  display: flex;
  flex-wrap: wrap;

  &__wrapper {
    margin-bottom: 48px;
  }

  > *:not(:last-child) {
    margin-right: 1px;
    margin-bottom: 1px;
  }
}

.target-label {
  margin-bottom: 16px;
}

.target-list {
  display: flex;
  flex-wrap: wrap;

  &__wrapper {
    margin-bottom: 30px;
  }

  > *:not(:last-child) {
    margin-right: 1px;
    margin-bottom: 1px;
  }
}

.chip {
  padding: 12px 22px;
  background-color: #f0f3f6;
  font-weight: bold;
  @include text(1.5);
  letter-spacing: 0.6px;
  text-transform: uppercase;
  flex-shrink: 0;
  display: flex;
  align-items: center;
}

.gender-icon {
  color: $blue;
  display: inline-block;
  margin-right: 16px;
}

.age {
  max-width: 856px;
  width: 100%;

  @media (max-width: $sideShow - 1) {
    margin-bottom: 26px;
  }

  &__wrapper {
    margin-top: 26px;
  }

  &__slider {
    height: 8px;
    border-radius: 10px;
    background-color: #fff;
    position: relative;

    &:before,
    &:after {
      position: absolute;
      bottom: -26px;
      @include text(1.5);
      opacity: 0.4;
    }

    &:before {
      content: '3';
      left: 0;
    }

    &:after {
      content: '100';
      right: 0;
    }
  }

  &__slider-active {
    position: absolute;
    left: 18%;
    right: 45%;
    background: $blue;
    height: 8px;

    .slider-active {
      &__inner {
        position: relative;
        height: 100%;

        &:before,
        &:after {
          content: '';
          position: absolute;
          width: 22px;
          height: 22px;
          border-radius: 50%;
          background: $blue;
          top: 50%;
          transform: translateY(-50%);
          border: 6px solid #fff;
          box-shadow: 0px 0px 0px 2px $blue;
        }

        &:before {
          content: '';
          left: -12px;
        }

        &:after {
          right: -12px;
        }
      }

      &__label {
        position: absolute;
        top: -30px;
        left: 50%;
        transform: translateX(-50%);
        color: $blue;
        white-space: nowrap;
      }
    }
  }
}
</style>
