<i18n>
{
  "ru": {
    "linkLabel": "Ссылки на событие в соцсетях"
  },
  "en": {
    "linkLabel": "Links to the event on social networks"
  },
  "es": {
    "linkLabel": "Enlaces al evento en redes sociales"
  }
}
</i18n>

<template>
  <div class="fake-link">
    <div class="fake-link__label">{{ $t('linkLabel') }}</div>
    <div class="fake-link__input" />
  </div>
</template>

<script>
export default {
  name: 'FakeLink',
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.fake-link {
  width: 100%;
  max-width: 856px;

  &__label {
    margin-bottom: 16px;
  }

  &__input {
    height: 80px;
    background: #fff;
    position: relative;

    &::before {
      position: absolute;
      @include ww-icn;
      content: '\47';
      @include text(4);
      color: $blue;
      right: 16px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
</style>
