<i18n>
{
  "ru": {
    "stepDescription": "Описание события",
    "stepLocation": "Место проведения",
    "stepCover": "Обложка / Афиша",
    "stepCreate": "Создать",
    "eventNameLabel": "Название события",
    "eventNamePlaceholder": "Например, фестиваль енотов",
    "dateLabel": "Дата и время события",
    "dateTooltip": "Укажите период или конкретную дату и время",
    "eventNameTooltip": "Задайте название события в этом поле",
    "scheduleCheckbox": "Добавить расписание на каждый день",
    "editorPlaceholder": "Напишите несколько строк о вашем событии",
    "editorLabel": "Описание",
    "editorTooltip": "Опишите подробнее ваше событие"
  },
  "en": {
    "stepDescription": "Event description",
    "stepLocation": "Venue",
    "stepCover": "Cover / Poster",
    "stepCreate": "Create event",
    "eventNameLabel": "Event title",
    "eventNamePlaceholder": "For example, racoon festival",
    "dateLabel": "Date and time of the event",
    "dateTooltip": "Select date, time and enter the title of the event",
    "eventNameTooltip": "Enter event title in this field",
    "scheduleCheckbox": "Add daily schedule",
    "editorPlaceholder": "Write a few lines about your event",
    "editorLabel": "Description",
    "editorTooltip": "Describe your event"
  },
  "es": {
    "stepDescription": "Descripción del evento",
    "stepLocation": "Lugar",
    "stepCover": "Portada / Póster",
    "stepCreate": "Crear evento",
    "eventNameLabel": "Nombre del evento",
    "eventNamePlaceholder": "Por ejemplo, festival de mapaches",
    "dateLabel": "Fecha y hora del evento",
    "dateTooltip": "Seleccione fecha, hora e ingrese el nombre del evento",
    "eventNameTooltip": "Ingrese el nombre del evento en este campo",
    "scheduleCheckbox": "Agregar horario diario",
    "editorPlaceholder": "Escribe unas par de líneas sobre tu evento",
    "editorLabel": "Descripción",
    "editorTooltip": "Describe tu evento"
  }
}
</i18n>

<template>
  <div class="fake-main-information">
    <div class="steps">
      <span class="step--active">{{ $t('stepDescription') }}</span>
      <span class="step">{{ $t('stepLocation') }}</span>
      <span class="step">{{ $t('stepCover') }}</span>
      <span class="step">{{ $t('stepCreate') }}</span>
    </div>

    <div class="input-container fake-main-information__name">
      <div class="input-container__label">{{ $t('eventNameLabel') }}</div>
      <GuideTooltip :distance="47" :width="240">
        <div class="input-container__input">
          <span class="input-container__placeholder">{{
            $t('eventNamePlaceholder')
          }}</span>
        </div>
        <template #tooltip>{{ $t('eventNameTooltip') }}</template>
      </GuideTooltip>
    </div>

    <div class="input-container fake-main-information__date">
      <div class="input-container__label">{{ $t('dateLabel') }}</div>
      <GuideTooltip :distance="47" :width="240">
        <div class="date-container">
          <div class="input-container__input input-container__input--center">
            20.02.2019
            <span class="date-container__separator" /> 23.02.2019
          </div>
          <div class="input-container__input input-container__input--center">
            <span class="input-container__placeholder">12:00</span>
          </div>
        </div>

        <template #tooltip>{{ $t('dateTooltip') }}</template>
      </GuideTooltip>
    </div>

    <Checkbox
      class="fake-main-information__schedule-checkbox"
      color="blue"
      :value="false"
      >{{ $t('scheduleCheckbox') }}</Checkbox
    >

    <GuideTooltip :distance="47" :width="240">
      <TextEditor
        class="fake-main-information__editor"
        :placeholder="$t('editorPlaceholder')"
        >{{ $t('editorLabel') }}</TextEditor
      >
      <template #tooltip>{{ $t('editorTooltip') }}</template>
    </GuideTooltip>
  </div>
</template>

<script>
import TextEditor from '~/components/common/TextEditor'
import GuideTooltip from '~/components/common/GuideTooltip'
import Checkbox from '~/components/common/Checkbox'

export default {
  name: 'FakeMainInformation',

  components: {
    Checkbox,
    GuideTooltip,
    TextEditor,
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.fake-main-information {
  width: 100%;

  &__name {
    margin-bottom: 40px;
  }

  &__date {
    margin-bottom: 40px;
  }

  &__schedule-checkbox {
    margin-bottom: 50px;
  }

  &__editor {
    width: 100%;
    height: 330px;
    overflow: hidden;
  }
}

.date-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 8px;
  width: 100%;

  @media (min-width: $desktopSD) {
    grid-template-columns: 1fr 224px;

    .input-container__input {
      @include text(3);
    }
  }

  &__separator {
    width: 32px;
    height: 2px;
    display: inline-block;
    background: $blue;
    margin: 0 15px;

    @media (min-width: $sideShow) {
      margin: 0 85px;
    }
  }
}

.steps {
  @include text(1.5);
  display: flex;
  margin-bottom: 44px;
  flex-wrap: wrap;

  @media (min-width: $desktopSD) {
    @include text(3);
  }

  .step {
    display: flex;
    align-items: center;
    opacity: 0.2;

    &--active {
      opacity: 1;
    }
  }

  .step:not(:first-child) {
    &:before {
      content: '';
      display: inline-block;
      margin: 0 16px;
      width: 10px;
      height: 1px;
      background: #000;

      @media (min-width: $desktopSD) {
        height: 2px;
        width: 15px;
      }

      @media (min-width: $sideShow) {
        width: 50px;
      }
    }
  }
}

.input-container {
  &__label {
    margin-bottom: 16px;
  }

  &__input {
    @include text(2);
    background: #fff;
    height: 80px;
    width: 100%;
    padding: 16px 24px;
    display: flex;
    align-items: center;

    @media (min-width: $desktopSD) {
      @include text(4);
    }

    &--center {
      justify-content: center;
    }
  }

  &__placeholder {
    opacity: 0.2;
    @include no-text-wrap;
  }
}
</style>
