<i18n>
{
  "ru": {
    "city": "Нижний новгород",
    "eventCreate": "Создать событие",
    "feed": "Моя лента",
    "user": "Кларисса Кларнетовна"
  },
  "en": {
    "city": "Nizhny Novgorod",
    "eventCreate": "Create event",
    "feed": "My Feed",
    "user": "Clarissa"
  },
  "es": {
    "city": "Nizhny Novgorod",
    "eventCreate": "Crear evento",
    "feed": "Mis noticias",
    "user": "Clarissa"
  }
}
</i18n>

<template>
  <div class="fake-header">
    <div class="fake-header__left">
      <div class="fake-header__lang">
        <div class="fake-header__lang-item">Ру</div>
        <div class="fake-header__lang-item fake-header__lang-item--active">
          En
        </div>
      </div>
      <div class="fake-header__city hidden-desktopSD-and-down">
        {{ $t('city') }}
      </div>
    </div>
    <div class="fake-header__right">
      <div class="fake-header__event">
        <Icon class="icon" src="/icons/pencil-fat.svg" size="xs" />
        {{ $t('eventCreate') }}
      </div>
      <div class="fake-header__feed hidden-desktopHD-and-down">
        {{ $t('feed') }}
      </div>
      <div class="fake-header__msg hidden-desktopSD-and-down">
        <span class="msg-icon" />12
      </div>
      <div class="fake-header__user hidden-desktopHD-and-down">
        {{ $t('user') }}
      </div>
      <img
        class="fake-header__logo"
        alt="avatar"
        src="~static/guide/event/avatar.jpg"
      />
    </div>
  </div>
</template>

<script>
import Icon from '~/components/common/Icon'

export default {
  name: 'FakeHeader',

  components: {
    Icon,
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.fake-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  width: 100%;

  @media (min-width: $desktopSD) {
    padding: 0 32px;
  }

  &__left {
    display: flex;
  }

  &__right {
    display: flex;
    align-items: center;
  }

  &__lang {
    display: flex;
    margin-right: 64px;
  }

  &__city {
    &:before {
      @include ww-icn;
      content: '\72';
      font-size: 10px;
      display: inline-block;
      margin-right: 12px;
    }

    &:after {
      @include ww-icn;
      content: '\61';
      font-size: 8px;
      color: $blue;
      display: inline-block;
      margin-left: 4px;
    }
  }

  &__lang-item {
    &--active {
      color: $blue;
    }
    &:not(:last-of-type) {
      margin-right: 16px;
    }
  }

  &__event {
    margin-right: 16px;
    color: $red;

    @media (min-width: $desktopSD) {
      margin-right: 64px;
    }

    .icon {
      margin-right: 8px;
    }
  }

  &__feed {
    margin-right: 64px;

    &:before {
      @include ww-icn;
      content: '\64';
      font-size: 10px;
      display: inline-block;
      margin-right: 8px;
    }
  }

  &__msg {
    margin-right: 28px;

    .msg-icon {
      position: relative;

      &:after {
        @include ww-icn;
        content: '\67';
        font-size: 10px;
        display: inline-block;
        margin-right: 8px;
      }

      &::before {
        content: '';
        position: absolute;
        width: 8px;
        height: 8px;
        background: $blue;
        border-radius: 50%;
        left: -3px;
        top: 2px;
      }
    }
  }

  &__user {
    margin-right: 18px;
  }

  &__logo {
    width: 32px;
    border-radius: 50%;
  }
}
</style>
