<i18n>
{
  "ru": {
    "organizersHeader": "Организаторы",
    "inputPlaceholder": "Начните вводить имя",
    "organizersCheckbox": "Контакты организатора совпадают с контактами места проведения",
    "followers": "подписчиков",
    "personName": "Дмитрий Песковецкий-Водокачкин",
    "personAddress": "Москва, Россия"
  },
  "en": {
    "organizersHeader": "Organizers",
    "inputPlaceholder": "Start entering the name",
    "organizersCheckbox": "Contact info is the same as the venue's",
    "followers": "subscribers",
    "personName": "Nicolas Tesla",
    "personAddress": "Dubrovnik, Croatia"
  },
  "es": {
    "organizersHeader": "Organizadores",
    "inputPlaceholder": "Comience a ingresar el nombre",
    "organizersCheckbox": "La información de contacto es la misma que la del lugar",
    "followers": "suscriptores",
    "personName": "Nicolas Tesla",
    "personAddress": "Dubrovnik, Croatia"
  }
}
</i18n>

<template>
  <div class="fake-organizers">
    <div class="fake-organizers__header">{{ $t('organizersHeader') }}</div>

    <div class="fake-person">
      <img
        class="fake-person__avatar"
        src="~static/guide/event/organizer-avatar.jpg"
      />
      <div class="fake-person__info">
        <div class="fake-person__name">{{ $t('personName') }}</div>
        <div class="fake-person__address">{{ $t('personAddress') }}</div>
      </div>
      <div class="fake-person__followers">
        <span class="fake-person__followers-count">15,241</span>
        <span class="fake-person__followers-text">{{ $t('followers') }}</span>
      </div>
    </div>

    <div class="fake-organizers__input">
      <span class="fake-organizers__input-placeholder">{{
        $t('inputPlaceholder')
      }}</span>
    </div>
    <Checkbox color="blue" :value="true">{{
      $t('organizersCheckbox')
    }}</Checkbox>
  </div>
</template>

<script>
import Checkbox from '~/components/common/Checkbox'

export default {
  name: 'FakeOrganizers',

  components: {
    Checkbox,
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.fake-organizers {
  width: 100%;
  max-width: 856px;

  &__header {
    @include text(4);
    margin-bottom: 8px;
  }

  &__input {
    height: 80px;
    width: 100%;
    background: #fff;
    padding: 28px 32px;
    position: relative;
    margin-bottom: 32px;

    &::before {
      position: absolute;
      @include ww-icn;
      content: '\47';
      @include text(4);
      color: $blue;
      right: 16px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__input-placeholder {
    opacity: 0.4;
  }
}

.fake-person {
  display: flex;
  flex-direction: column;
  background: #fff;
  margin-bottom: 16px;

  @media (min-width: $desktopSD) {
    flex-direction: row;
  }

  &__avatar {
    margin: 24px 0 24px 24px;
    position: relative;
    width: 64px;
    height: 64px;
  }

  &__info {
    padding: 0 30px;
    flex: 1;
    display: flex;
    flex-direction: column;

    @media (min-width: $desktopSD) {
      padding: 24px 30px;
    }
  }

  &__name {
    @include text(3);
    margin-bottom: 12px;
  }

  &__address {
    @include text(1.5);
    color: $blue;
    &::before {
      @include ww-icn;
      @include text(1.5);
      display: inline-block;
      color: #000;
      content: 'r';
      margin-right: 8px;
    }
  }

  &__followers {
    padding: 24px 30px;
    border-left: 2px solid #f8f9fa;
    width: 270px;
    display: flex;
    flex-direction: column;
    position: relative;

    &::before {
      display: none;
      position: absolute;
      @include ww-icn;
      @include text(2);
      content: '\68';
      right: 16px;
      top: 16px;
      color: #c6c7c8;

      @media (min-width: $desktopSD) {
        display: block;
      }
    }
  }

  &__followers-count {
    @include text(3);
    &::before {
      @include ww-icn;
      @include text(2);
      display: inline-block;
      color: $blue;
      content: '\46';
      margin-right: 4px;
    }
  }
}
</style>
