<i18n>
{
  "ru": {
    "categoryLabel": "Категория",
    "categoryInput": "Музыка",
    "tagsList": ["КОНЦЕРТ", "ДЖАЗ", "ПОП", "РОК", "ОПЕРА", "РЭПЧИК", "ДЖАЗ", "ПОП", "РОК", "ОПЕРА", "ДЖАЗ", "ПОП", "РОК", "ОПЕРА", "ДЖАЗ", "ПОП", "РОК", "ОПЕРА"],
    "tagsLabel": "Теги (можно выбрать несколько)",
    "tagsTooltip": "Выберите несколько тегов",
    "addCategoryButton": "Добавить категорию",
    "addCategoryButtonTooltip": "Нажмите на плюс, чтобы добавить категорию и теги"
  },
  "en": {
    "categoryLabel": "Category",
    "categoryInput": "Music",
    "tagsList": ["CONCERT", "JAZZ", "POP", "ROCK", "OPERA", "BLUES", "R'N'B", "RAP", "DANCE", "BALLET", "JAZZ", "POP", "ROCK"],
    "tagsLabel": "Tags (you can choose multiple)",
    "tagsTooltip": "Add several tags",
    "addCategoryButton": "Add category",
    "addCategoryButtonTooltip": "Click on “+” to add category and tags."
  },
  "es": {
    "categoryLabel": "Categoría",
    "categoryInput": "Música",
    "tagsList": ["CONCIERTO", "JAZZ", "POP", "ROCK", "ÓPERA", "BLUES", "R'N'B", "RAP", "DANCE", "BALLET", "JAZZ", "POP", "ROCK"],
    "tagsLabel": "Etiquetas (puedes elegir múltiples)",
    "tagsTooltip": "Añadir varias etiquetas",
    "addCategoryButton": "Añadir categoría",
    "addCategoryButtonTooltip": "Haga clic en \"+\" para añadir categoría y etiquetas."
  }
}
</i18n>

<template>
  <div class="fake-category">
    <div class="category">
      <div class="category__label">{{ $t('categoryLabel') }}</div>
      <div class="category__input">{{ $t('categoryInput') }}</div>
    </div>
    <GuideTooltip :distance="30" :width="267" class="tags__wrapper">
      <div class="tags">
        <div class="tags__label">{{ $t('tagsLabel') }}</div>
        <div class="tags__list">
          <div
            v-for="(tag, n) in $t('tagsList')"
            :key="n"
            class="chip"
            :class="{ 'chip--active': ['0', '5'].includes(n) }"
          >
            {{ tag }}
          </div>
        </div>
      </div>
      <template #tooltip>{{ $t('tagsTooltip') }}</template>
    </GuideTooltip>
    <GuideTooltip :distance="30" :width="267">
      <div class="add-category">
        <span class="add-category__text">{{ $t('addCategoryButton') }}</span>
      </div>
      <template #tooltip>{{ $t('addCategoryButtonTooltip') }}</template>
    </GuideTooltip>
  </div>
</template>

<script>
import GuideTooltip from '~/components/common/GuideTooltip'

export default {
  name: 'FakeCategory',

  components: {
    GuideTooltip,
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.fake-category {
  width: 100%;
}

.category {
  margin-bottom: 8px;
  max-width: 856px;

  &__label {
    margin-bottom: 16px;
  }

  &__input {
    padding: 16px 26px;
    color: #000000;
    background: #fff;
    @include text(4);
    position: relative;

    &::after {
      content: '\45';
      @include ww-icn;
      @include text(1.5);
      color: $blue;
      position: absolute;
      right: 24px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.tags {
  padding: 16px 16px 24px;
  background: #fff;
  width: 100%;
  max-width: 856px;

  &__wrapper {
    margin-bottom: 16px;
  }

  &__label {
    margin-bottom: 16px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;

    > *:not(:last-child) {
      margin-right: 1px;
      margin-bottom: 1px;
    }
  }
}

.chip {
  padding: 12px 22px;
  background-color: #f0f3f6;
  font-weight: bold;
  letter-spacing: 0.6px;
  @include text(1.5);
  text-transform: uppercase;

  &--active {
    background-color: $blue;
    color: #fff;
  }
}

.add-category {
  height: 80px;
  border: dashed 1px $blue;
  align-items: center;
  display: flex;
  width: 100%;
  max-width: 856px;
  justify-content: center;
  color: $blue;

  &__text {
    display: flex;
    align-items: center;

    &::before {
      display: inline-block;
      margin-right: 20px;
      @include ww-icn;
      content: '\47';
      @include text(4.5);
      color: $blue;
    }
  }
}
</style>
