<i18n>
{
  "ru": {
    "addPhoto": "Добавить фото",
    "uploaderTooltip": "Нажмите на плюс, чтобы добавить фотографии или перетащите фото в эту область."
  },
  "en": {
    "addPhoto": "Add photo",
    "uploaderTooltip": "Click on “+” to add photos or drag the photo into this area."
  },
  "es": {
    "addPhoto": "Añadir foto",
    "uploaderTooltip": "Haga clic en \"+\" para agregar fotos o arrastre la foto a esta área."
  }
}
</i18n>

<template>
  <div>
    <GuideTooltip :distance="22" :width="314">
      <div class="fake-uploader">
        <img
          class="fake-uploader__image"
          src="~static/guide/event/uploaded-image.jpg"
          alt="uploaded image"
        />
        <div class="fake-uploader__main">{{ $t('addPhoto') }}</div>
      </div>
      <template #tooltip>{{ $t('uploaderTooltip') }}</template>
    </GuideTooltip>
  </div>
</template>

<script>
import GuideTooltip from '~/components/common/GuideTooltip'

export default {
  name: 'FakeUploader',

  components: {
    GuideTooltip,
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.fake-uploader {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktopSD) {
    flex-direction: row;
  }

  &__image {
    margin-right: 16px;
    object-fit: cover;
    object-position: right;
    height: 272px;
    max-width: 100%;
    margin-bottom: 8px;

    @media (min-width: $desktopSD) {
      max-width: 50%;
      margin-bottom: 0;
    }

    @media (min-width: $desktopHD) {
      max-width: 100%;
    }
  }

  &__main {
    width: 272px;
    height: 272px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
    color: $blue;
    border: dashed 1px $blue;

    &::before {
      display: inline-block;
      @include ww-icn;
      content: '\47';
      @include text(3);
    }
  }
}
</style>
