<i18n>
{
  "ru": {
    "onlineEvent": "Это онлайн событие",
    "cityLabel": "Город",
    "cityInput": "Нижний Новгород",
    "cityTooltip": "Задайте название города",
    "placeLabel": "Место",
    "placeInput": "Mi",
    "placeTooltip": "Начните вводить название места",
    "followers": "подписчиков",
    "placeAddress": "ул. Гагарина, 124, Бобруйск, Казарусия",
    "placeListTooltip": "Выберете нужное место из нашей базы",
    "userName": "Кларисса Кларнетовна",
    "userPosition": "Директор",
    "updateContacts": "Данные неверны?"
  },
  "en": {
    "onlineEvent": "It's an online event",
    "cityLabel": "City",
    "cityInput": "Caracas",
    "cityTooltip": "Enter the city of the event",
    "placeLabel": "Venue",
    "placeInput": "Mi",
    "placeTooltip": "Start entering the name of the venue",
    "followers": "subscribers",
    "placeAddress": "Gagrin st, 42, Nizhny Novgorod",
    "placeListTooltip": "Choose the correct venue from our database",
    "userName": "Clarissa Lambson",
    "userPosition": "Manager",
    "updateContacts": "Incorrect data?"
  },
  "es": {
    "onlineEvent": "Es un evento en línea",
    "cityLabel": "Ciudad",
    "cityInput": "Caracas",
    "cityTooltip": "Ingrese la ciudad del evento",
    "placeLabel": "Lugar",
    "placeInput": "Mi",
    "placeTooltip": "Comience a ingresar el nombre del lugar",
    "followers": "suscriptores",
    "placeAddress": "Gagrin st, 42, Nizhny Novgorod",
    "placeListTooltip": "Elija el lugar correcto de nuestra base de datos",
    "userName": "Clarissa Lambson",
    "userPosition": "Administrador",
    "updateContacts": "¿Datos incorrectos?"
  }
}
</i18n>

<template>
  <div class="fake-place">
    <Checkbox class="fake-place__checkbox" color="blue" :value="false">
      {{ $t('onlineEvent') }}
    </Checkbox>
    <div class="fake-input fake-place__city">
      <span class="fake-input__label">{{ $t('cityLabel') }}</span>
      <GuideTooltip :distance="62" :width="235">
        <div class="fake-input__input">{{ $t('cityInput') }}</div>
        <template #tooltip>{{ $t('cityTooltip') }}</template>
      </GuideTooltip>
    </div>
    <div class="fake-input fake-input--active fake-place__place">
      <span class="fake-input__label">{{ $t('placeLabel') }}</span>
      <GuideTooltip :distance="62" :width="170">
        <div class="fake-input__input">
          {{ $t('placeInput') }}
          <span>|</span>
        </div>
        <template #tooltip>{{ $t('cityTooltip') }}</template>
      </GuideTooltip>
    </div>
    <div class="fake-venue-outer">
      <div class="fake-venue__list">
        <div class="fake-venue fake-venue--active">
          <div class="fake-venue__logo fake-venue__logo--text">MC</div>
          <div class="fake-venue__info">
            <div class="fake-venue__city">Mimimi Club</div>
            <div class="fake-venue__address">{{ $t('placeAddress') }}</div>
          </div>
          <div class="fake-venue__followers">
            <span class="fake-venue__followers-count">22</span>
            <span class="fake-venue__followers-text">
              {{ $t('followers') }}
            </span>
          </div>
          <div class="fake-venue-organizers hidden-mobile-only">
            <div class="fake-venue-organizers__user">
              <img
                class="fake-venue-organizers__image"
                src="~static/guide/event/avatar.jpg"
                alt="avatar"
              />
              <div class="fake-venue-organizers__user-info">
                <span>{{ $t('userName') }},</span>
                <span>{{ $t('userPosition') }}</span>
              </div>
            </div>
            <div class="fake-venue-organizers__phone-list">
              <span>+7 900 876 5322</span>
              <span>+7 900 874 1251</span>
            </div>
            <div class="fake-venue-organizers__email-list">
              <span>www.mimimiclub.ru</span>
              <span>info@mimimiclub.ru</span>
            </div>
            <div class="fake-venue-organizers__contact-button">
              {{ $t('updateContacts') }}
            </div>
          </div>
        </div>
        <div class="fake-venue">
          <img
            class="fake-venue__logo"
            src="~static/guide/event/place-logo.jpg"
          />
          <div class="fake-venue__info">
            <div class="fake-venue__city">Milo Concert Hall</div>
            <div class="fake-venue__address">{{ $t('placeAddress') }}</div>
          </div>
          <div class="fake-venue__followers">
            <span class="fake-venue__followers-count">3214</span>
            <span class="fake-venue__followers-text">
              {{ $t('followers') }}
            </span>
          </div>
        </div>
        <div class="fake-venue">
          <img
            class="fake-venue__logo"
            src="~static/guide/event/place-logo-2.jpg"
          />
          <div class="fake-venue__info">
            <div class="fake-venue__city">Mistique club</div>
            <div class="fake-venue__address">{{ $t('placeAddress') }}</div>
          </div>
          <div class="fake-venue__followers">
            <span class="fake-venue__followers-count">3214</span>
            <span class="fake-venue__followers-text">
              {{ $t('followers') }}
            </span>
          </div>
        </div>
      </div>

      <GuideTooltip
        :distance="60"
        :width="235"
        :extraLineWidth="0"
        class="fake-venue__scroll-wrapper"
      >
        <div class="fake-venue__scroll hidden-desktopHD-and-down" />
        <template #tooltip>{{ $t('placeListTooltip') }}</template>
      </GuideTooltip>
    </div>
  </div>
</template>

<script>
import Checkbox from '~/components/common/Checkbox'
import GuideTooltip from '~/components/common/GuideTooltip'

export default {
  name: 'FakePlace',

  components: {
    Checkbox,
    GuideTooltip,
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.fake-place {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__checkbox {
    margin-bottom: 40px;
  }

  &__city {
    margin-bottom: 32px;
  }

  &__place {
    margin-bottom: 16px;
  }
}

.fake-input {
  &--active {
    .fake-input__input {
      border: 2px solid $blue;
    }
  }

  &__input {
    max-width: 856px;
    @include text(4);
    height: 80px;
    background: #fff;
    color: #000;
    padding: 16px 24px;
    width: 100%;
    display: flex;
    align-items: center;

    span {
      color: $blue;
    }
  }

  &__label {
    margin-bottom: 16px;
    display: inline-block;
  }
}

.fake-venue {
  display: flex;
  background: #fff;

  @media (min-width: $desktopSD) {
    flex-wrap: wrap;
  }

  &:not(:last-of-type) {
    margin-bottom: 8px;
  }

  &--active {
    border: 2px solid $blue;

    .fake-venue__logo {
      &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: $blue;
        opacity: 0.7;
      }

      &::after {
        @include ww-icn;
        content: '\65';
        position: absolute;
        font-weight: bold !important;
        font-size: 28px;
      }
    }
  }

  &__list {
    position: relative;
    max-width: 832px;
    width: 100%;

    &::before {
      position: absolute;
      z-index: 1;
      bottom: 0;
      content: '';
      height: 185px;
      width: 100%;
      background-image: linear-gradient(
        to bottom,
        rgba(248, 249, 250, 0),
        #f8f9fa
      );
    }
  }

  &__logo {
    margin: 8px 0 8px 8px;
    position: relative;
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include text(3);

    @media (min-width: $desktopSD) {
      margin: 24px 0 24px 24px;
    }

    &--text {
      background: #7c33c5;
      color: #fff;
    }
  }

  &__info {
    padding: 8px 12px;
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 0;

    @media (min-width: $desktopSD) {
      padding: 24px 30px;
    }
  }

  &__city {
    @include text(3);
    @include no-text-wrap;
    margin-bottom: 12px;
  }

  &__address {
    @include text(1.5);
    @include no-text-wrap;
    color: $blue;
    &::before {
      @include ww-icn;
      @include text(1.5);
      display: inline-block;
      color: #000;
      content: 'r';
      margin-right: 8px;
    }
  }

  &__followers {
    padding: 8px 12px;
    justify-content: center;
    width: 100px;
    border-left: 2px solid #f8f9fa;
    display: flex;
    flex-direction: column;

    @media (min-width: $desktopSD) {
      width: 270px;
      padding: 24px 30px;
    }
  }

  &__followers-count {
    @include text(3);
    &::before {
      @include ww-icn;
      @include text(2);
      display: inline-block;
      color: $blue;
      content: '\46';
      margin-right: 4px;
    }
  }

  &__scroll {
    margin-left: 12px;
    width: 8px;
    height: 264px;
    border-radius: 20px;
    background: $blue;
  }

  &__scroll-wrapper {
    width: auto;
    flex-shrink: 0;
  }
}

.fake-venue-outer {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  @media (min-width: $sideShow) {
    flex-direction: row;
  }
}

.fake-venue-organizers {
  flex-basis: 100%;
  border-top: 2px solid #f8f9fa;
  padding: 24px 24px 16px 24px;
  display: flex;
  justify-content: space-between;

  &__contact-button {
    color: $red;
    align-self: flex-end;
    @include text(1.5);
  }

  &__email-list {
    color: $blue;
    display: flex;
    flex-direction: column;
  }

  &__phone-list {
    display: flex;
    flex-direction: column;
  }

  &__user {
    display: flex;
  }

  &__user-info {
    display: flex;
    flex-direction: column;
  }

  &__image {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    margin-right: 8px;
  }
}
</style>
