<i18n>
{
  "ru": {
    "everyDayCheckbox": "Добавить расписание на каждый день",
    "everyDayCheckboxTooltip": "Поставьте галку, если хотите",
    "placeTooltip": "Здесь напишите город и место, если они одинаковы для всех подсобытий, поставьте галку в боксе ",
    "cityLabel": "Город",
    "cityInput": "Нижний Новгород",
    "venueLabel": "Место",
    "venueInput": "к/т «Орленок»",
    "placeCheckbox": "Город и место одинаковы для всех мероприятий",
    "date": "Дата",
    "time": "Время",
    "name": "Название",
    "dateTooltip": "Выберите дату, время и задайте название",
    "nameInput": "Молодой Годар",
    "namePlaceholder": "Мероприятие или фильм",
    "addBtnTooltip": "Нажмите на плюс, чтобы добавить нвоое подсобытие"
  },
  "en": {
    "everyDayCheckbox": "Add schedule for each day",
    "everyDayCheckboxTooltip": "Tick the box if you want to",
    "placeTooltip": "Add the city and venue if they are the same for each subevent.",
    "cityLabel": "City",
    "cityInput": "Caracas",
    "venueLabel": "Venue",
    "venueInput": "«Eagle» cinema",
    "placeCheckbox": "City and venue are the same for all subevents",
    "date": "Date",
    "time": "Time",
    "name": "Name",
    "dateTooltip": "Select date, time and enter the title of the event",
    "nameInput": "Young Godar",
    "namePlaceholder": "Event or movie",
    "addBtnTooltip": "Click on \"+\" to add a new subevent"
  },
  "es": {
    "everyDayCheckbox": "Agregar horario para cada día",
    "everyDayCheckboxTooltip": "Marque la casilla si quieres",
    "placeTooltip": "Agregue la ciudad y el lugar si son iguales para cada evento secundario",
    "cityLabel": "Ciudad",
    "cityInput": "Caracas",
    "venueLabel": "Lugar",
    "venueInput": "«Aguila» Cine",
    "placeCheckbox": "La ciudad y el lugar son los mismos para todos los eventos",
    "date": "Fecha",
    "time": "Hora",
    "name": "Nombre",
    "dateTooltip": "Seleccione fecha, hora e ingrese el título del evento",
    "nameInput": "Juventud de Godar",
    "namePlaceholder": "Evento o película",
    "addBtnTooltip": "Haga clic en \"+\" para agregar un nuevo evento secundario"
  }
}
</i18n>

<template>
  <div>
    <GuideTooltip
      class="every-day-checkbox__wrapper"
      :distance="55"
      :width="255"
    >
      <Checkbox class="every-day-checkbox" color="blue" :value="true">{{
        $t('everyDayCheckbox')
      }}</Checkbox>
      <template #tooltip>{{ $t('everyDayCheckboxTooltip') }}</template>
    </GuideTooltip>

    <GuideTooltip :distance="43" :width="255" class="place__wrapper">
      <div class="place">
        <div class="input-container place__city">
          <div class="input-container__label">{{ $t('cityLabel') }}</div>
          <div class="input-container__input">{{ $t('cityInput') }}</div>
        </div>
        <div class="input-container place__venue">
          <div class="input-container__label">{{ $t('venueLabel') }}</div>
          <div class="input-container__input">{{ $t('venueInput') }}</div>
        </div>
        <Checkbox class="place__checkbox" color="blue" :value="true">{{
          $t('placeCheckbox')
        }}</Checkbox>
      </div>
      <template #tooltip>{{ $t('placeTooltip') }}</template>
    </GuideTooltip>

    <GuideTooltip :distance="43" :width="255" class="date__wrapper">
      <div class="date">
        <div class="input-container">
          <div class="input-container__label">{{ $t('date') }}</div>
          <div class="input-container__input">28.08.2018</div>
        </div>
        <div class="input-container">
          <div class="input-container__label">{{ $t('time') }}</div>
          <div class="input-container__input">18:00</div>
        </div>
        <div class="input-container">
          <div class="input-container__label">{{ $t('name') }}</div>
          <div class="input-container__input">{{ $t('nameInput') }}</div>
        </div>
        <div class="input-container hidden-mobile-only">
          <div class="input-container__input">28.08.2018</div>
        </div>
        <div class="input-container hidden-mobile-only">
          <div class="input-container__input">18:00</div>
        </div>
        <div class="input-container hidden-mobile-only">
          <div class="input-container__input">
            <span class="input-container__placeholder">{{
              $t('namePlaceholder')
            }}</span>
          </div>
        </div>
      </div>
      <template #tooltip>{{ $t('dateTooltip') }}</template>
    </GuideTooltip>

    <div class="add-btn-container">
      <GuideTooltip :distance="54" :width="254">
        <div class="add-btn"></div>
        <template #tooltip>{{ $t('addBtnTooltip') }}</template>
      </GuideTooltip>
    </div>
  </div>
</template>

<script>
import Checkbox from '~/components/common/Checkbox'
import GuideTooltip from '~/components/common/GuideTooltip'

export default {
  name: 'FakeCalendar',

  components: {
    Checkbox,
    GuideTooltip,
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';
.every-day-checkbox {
  padding-right: 28px;

  &__wrapper {
    margin-bottom: 28px;
  }
}

.input-container {
  min-width: 0;

  &__label {
    margin-bottom: 8px;
  }

  &__input {
    padding: 22px 30px;
    background-color: #fff;
    @include text(3);
    border: solid 1px #c6c7c8;
    display: flex;
  }

  &__placeholder {
    opacity: 0.2;
    @include no-text-wrap;
  }
}

.place {
  padding: 24px 24px 0 30px;
  background: #fff;
  width: 100%;
  display: grid;
  grid-column-gap: 16px;
  grid-row-gap: 24px;
  grid-template-areas: 'city' 'venue' 'checkbox';

  @media (min-width: $desktopSD) {
    grid-template-areas: 'city venue' 'checkbox checkbox';
  }

  &__wrapper {
    @media (max-width: $sideShow - 1) {
      background: #fff;

      & /deep/ .tooltip {
        margin-left: 30px !important;
      }
    }
  }

  &__city {
    grid-area: city;
  }

  &__venue {
    grid-area: venue;
  }
  &__checkbox {
    grid-area: checkbox;
  }
}

.date {
  padding: 40px 24px 0 30px;
  background: #fff;
  width: 100%;

  display: grid;
  grid-column-gap: 8px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr;

  @media (min-width: $desktopSD) {
    grid-template-columns: 184px 120px 1fr;
  }

  &__wrapper {
    @media (max-width: $sideShow - 1) {
      background: #fff;

      & /deep/ .tooltip {
        margin-left: 30px !important;
      }
    }
  }
}

.add-btn-container {
  padding: 16px 16px 16px 30px;
  background: #fff;

  @media (min-width: $sideShow) {
    margin-right: 298px;
  }

  .add-btn {
    width: 72px;
    height: 72px;
    border: solid 2px $blue;
    position: relative;

    &::before {
      position: absolute;
      @include ww-icn;
      content: '\47';
      @include text(4);
      color: $blue;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
</style>
