<i18n>
{
  "ru": {
    "step4Title": "Шаг 4. Выбор плана продвижения и размещение события на Whatwhere.world",
    "promo": "На четвертом шаге есть возможность запустить рекламную компанию вашего мероприятия или просто опубликовать его на нашем сайте без продвижения."
  },
  "en": {
    "step4Title": "Step 4. Choose a promotion plan and publish the event on WhatWhere.World",
    "promo": "Here you can launch an advertising campaign for your event or simply publish it on our website without promotion."
  },
  "es": {
    "step4Title": "Paso 4. Elige un plan de promoción y publica el evento en WhatWhere.World",
    "promo": "Aquí puedes lanzar una campaña publicitaria para tu evento o simplemente publicarla en nuestro sitio web sin promoción."
  }
}
</i18n>

<template>
  <div>
    <div class="step-title">{{ $t('step4Title') }}</div>

    <div class="step-text">{{ $t('promo') }}</div>
    <GuideWrapper>
      <FakePromo />
    </GuideWrapper>
  </div>
</template>

<script>
import GuideWrapper from '~/components/guide/GuideWrapper'
import FakePromo from '~/components/guide/events/create/FakePromo'

export default {
  name: 'GuideStep4',

  components: {
    GuideWrapper,
    FakePromo,
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.step-title {
  @include text(4);
  font-weight: bold;
  margin-bottom: 26px;
}

.step-text {
  margin-bottom: 24px;
}
</style>
