<i18n>
{
  "ru": {
    "step2Title": "Шаг 2. Место проведения",
    "eventVenue": "На втором шаге укажем место проведения мероприятия, контактные данные и организатора. Начав вводить название места в соответствующее поле, вы увидите подсказки. Если среди них есть нужное Место, нажмите на него (отметится синей рамкой и галкой). При этом поля контактов предзаполнятся автоматически. Если нужного места в нашей базе пока нет, создайте новое, заполнив все поля.",
    "eventOrganizers": "Далее вы можете добавить организаторов события, например, себя. Введите имя и выберите предложенный профиль.",
    "secondStepCompleted": "На этом второй шаг закончен, переходим к созданию обложки и афиш.",
    "nextButton": "ДАЛЕЕ: ОБЛОЖКА И ПРЕВЬЮ СОБЫТИЯ",
    "nextButtonTooltip": "Нажмите на кнопку, чтобы перейти к шагу 3"
  },
  "en": {
    "step2Title": "Step 2. Venue",
    "eventVenue": "Here we indicate the event venue, contact details and the organizer. Starting to enter the name of the venue in the corresponding field, you will see the prompts. If there’s a necessary Venue among them, click on it (it will be marked with a blue frame and a tick). In this case, contact fields are pre-filled automatically. If there is no necessary venue in our database yet, create a new one by filling in all the fields.",
    "eventOrganizers": "TThen you can add event organizers, for example, yourself. Enter a name and select the proposed profile.",
    "secondStepCompleted": "The second step is completed, now we proceed to the event cover and posters.",
    "nextButton": "NEXT: POSTER AND EVENT PREVIEW",
    "nextButtonTooltip": "Click the button to proceed to step 3"
  },
  "es": {
    "step2Title": "Paso 2. Lugar",
    "eventVenue": "Aquí indicamos el lugar del evento, los datos de contacto y el organizador. Comenzando a ingresar el nombre del lugar en el campo correspondiente, verás las indicaciones. Si hay un lugar necesario entre ellos, haga clic en él (se marcará con un marco azul). En este caso, los campos de contacto se completan automáticamente. Si todavía no hay un lugar necesario en nuestra base de datos, cree uno nuevo completando todos los campos.",
    "eventOrganizers": "Luego puedes agregar organizadores de eventos, por ejemplo, tu mismo. Ingrese un nombre y seleccione el perfil propuesto.",
    "secondStepCompleted": "El segundo paso esta completado, ahora pasamos a la portada del evento y los carteles.",
    "nextButton": "SIGUENTE: CARTEL Y VISTS PREVIA DEL EVENTO",
    "nextButtonTooltip": "Haga clic en el botón para continuar con el paso 3"
  }
}
</i18n>

<template>
  <div>
    <div class="step-title">{{ $t('step2Title') }}</div>

    <div class="step-text">{{ $t('eventVenue') }}</div>
    <GuideWrapper>
      <FakePlace />
    </GuideWrapper>

    <div class="step-text">{{ $t('eventOrganizers') }}</div>
    <GuideWrapper>
      <FakeOrganizers />
    </GuideWrapper>

    <div class="step-text">{{ $t('secondStepCompleted') }}</div>
    <GuideWrapper>
      <GuideTooltip :distance="62" :width="235">
        <Button>{{ $t('nextButton') }}</Button>
        <template #tooltip>{{ $t('nextButtonTooltip') }}</template>
      </GuideTooltip>
    </GuideWrapper>
  </div>
</template>

<script>
import GuideTooltip from '~/components/common/GuideTooltip'
import Button from '~/components/common/buttons/Button'
import FakePlace from '~/components/guide/events/create/FakePlace'
import FakeOrganizers from '~/components/guide/events/create/FakeOrganizers'
import GuideWrapper from '~/components/guide/GuideWrapper'

export default {
  name: 'GuideStep2',

  components: {
    GuideTooltip,
    Button,
    FakePlace,
    FakeOrganizers,
    GuideWrapper,
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.step-title {
  @include text(4);
  font-weight: bold;
  margin-bottom: 26px;
}

.step-text {
  margin-bottom: 24px;
}
</style>
