<i18n>
{
  "ru": {
    "eventCreateButton": "Кнопку «Создать событие» вы можете увидеть в шапке сайта с любой его страницы. Нажмите на нее и выполните далее 4 основных шага.",
    "step1Title": "Шаг 1. Создание события",
    "mainInformation": "Начнем с главного: название, дата\\время события и его описание (любая информация, которая даст полное представление о событии).",
    "calendar": "В календаре можно выбрать диапазон дат или поставить конкретный день. Если вы хотите задать расписание на каждый день, поставьте галку в бокс «Добавить расписание на каждый день». Теперь вы можете добавить расписание на каждый день.",
    "uploadingImages": "Далее переходим к загрузке и зображений. Этот блок опционален, его можно не заполнять, но интересные фотографии привлекут больше внимания.",
    "category": "Теперь выберем категорию и укажем теги для легкого поиска.",
    "targetAudience": "В следующем блоке определяем ЦА (целевую аудиторию) вашего мероприятия по полу, возрасту и интересам.<br> Это будет влиять на выдачу события в поиске по сайту и его продвижение.",
    "links": "Добавьте ссылки на страницы вашего события в социальных сетях.",
    "firstStepCompleted": "На этом первый шаг закончен, переходим к указанию места и организаторов.",
    "nextButton": "ДАЛЕЕ: МЕСТО ПРОВЕДЕНИЯ И ОРГАНИЗАТОРЫ",
    "nextButtonTooltip": "Нажмите на кнопку, чтобы перейти к шагу 2"
  },
  "en": {
    "eventCreateButton": "You can find the “Create Event” button in the site header from any page. Click on it and follow these 4 basic steps.",
    "step1Title": "Step 1. Create an event",
    "mainInformation": "Start with the essential information: the title, date \\ time of the event and its description (any information that will give a full picture of the event).",
    "calendar": "You can select a date range or set a specific day in the calendar. If you want to set a schedule for each day, check the box «Add a schedule for each day». Now you can add a schedule for each day.",
    "uploadingImages": "Next, uploading the photos. This block is optional, but interesting photos will attract more attention.",
    "category": "Now select a category and specify tags for easy searching.",
    "targetAudience": "In the next block we define the target audience of your event by gender, age and interests.<br>This will affect the display of events in the search on the site and its promotion.",
    "links": "Add links to the event on other social networks.",
    "firstStepCompleted": "The first step is completed, now we proceed to indicating the location and the organizers.",
    "nextButton": "NEXT: LOCATION AND ORGANIZERS",
    "nextButtonTooltip": "Click the button to proceed to step 2"
  },
  "es": {
    "eventCreateButton": "Puede ver el botón \"Crear evento\" en el encabezado del sitio desde cualquier página. Haga clic en él y siga estos 4 pasos básicos.",
    "step1Title": "Paso 1. Crea un evento",
    "mainInformation": "Comience con la información esencial: el nombre, la fecha / hora del evento y su descripción (cualquier información que brinde una imagen completa del evento).",
    "calendar": "Puedes seleccionar un intervalo de fechas o establecer un día específico en el calendario. Si deseas establecer un horario para cada día, marque la casilla \"Agregar un horario para cada día\". Ahora puedes agregar un horario para cada día.",
    "uploadingImages": "A continuación, cargando las fotos. Este bloque es opcional, pero las fotos interesantes atraerán más atención.",
    "category": "Ahora seleccione una categoría y especifique etiquetas para una búsqueda fácil.",
    "targetAudience": "En el siguiente bloque definimos el público objetivo de tu evento por género, edad e intereses.<br>Esto afectará la visualización de eventos en la búsqueda en el sitio y tu promoción.",
    "links": "Agregue enlaces al evento en otras redes sociales.",
    "firstStepCompleted": "El primer paso esta completado, ahora procedemos a indicar el lugar y los organizadores.",
    "nextButton": "SIGUIENTE: LUGAR Y ORGANIZADORES",
    "nextButtonTooltip": "Haga clic en el botón para continuar con el paso 2"
  }
}
</i18n>

<template>
  <div>
    <div class="step-text">{{ $t('eventCreateButton') }}</div>
    <GuideWrapper>
      <FakeHeader />
    </GuideWrapper>

    <div class="step-title">{{ $t('step1Title') }}</div>

    <div class="step-text">{{ $t('mainInformation') }}</div>
    <GuideWrapper>
      <FakeMainInformation />
    </GuideWrapper>

    <div class="step-text">{{ $t('calendar') }}</div>
    <GuideWrapper>
      <FakeCalendar />
    </GuideWrapper>

    <div class="step-text">{{ $t('uploadingImages') }}</div>
    <GuideWrapper>
      <FakeUploader />
    </GuideWrapper>

    <div class="step-text">{{ $t('category') }}</div>
    <GuideWrapper>
      <FakeCategory />
    </GuideWrapper>

    <div class="step-text" v-html="$t('targetAudience')" />
    <GuideWrapper>
      <FakeAudience />
    </GuideWrapper>

    <div class="step-text">{{ $t('links') }}</div>
    <GuideWrapper>
      <FakeLink />
    </GuideWrapper>

    <div class="step-text">{{ $t('firstStepCompleted') }}</div>
    <GuideWrapper>
      <GuideTooltip :distance="62" :width="235">
        <Button>{{ $t('nextButton') }}</Button>
        <template #tooltip>{{ $t('nextButtonTooltip') }}</template>
      </GuideTooltip>
    </GuideWrapper>
  </div>
</template>

<script>
import Button from '~/components/common/buttons/Button'
import GuideTooltip from '~/components/common/GuideTooltip'
import FakeHeader from '~/components/guide/events/create/FakeHeader'
import FakeLink from '~/components/guide/events/create/FakeLink'
import FakeAudience from '~/components/guide/events/create/FakeAudience'
import FakeCategory from '~/components/guide/events/create/FakeCategory'
import FakeCalendar from '~/components/guide/events/create/FakeCalendar'
import FakeUploader from '~/components/guide/events/create/FakeUploader'
import FakeMainInformation from '~/components/guide/events/create/FakeMainInformation'
import GuideWrapper from '~/components/guide/GuideWrapper'

export default {
  name: 'GuideStep1',

  components: {
    Button,
    GuideTooltip,
    FakeHeader,
    FakeLink,
    FakeAudience,
    FakeCategory,
    FakeCalendar,
    FakeUploader,
    FakeMainInformation,
    GuideWrapper,
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.step-title {
  @include text(4);
  font-weight: bold;
  margin-bottom: 26px;
}

.step-text {
  margin-bottom: 24px;
}
</style>
