<i18n>
{
  "ru": {
    "step3Title": "Шаг 3. Создание обложки события",
    "cover": "На третьем шаге загружаем обложку события. Это может быть готовая афиша или просто фотография. Из фотографии мы можем создать для вас афиши, готовые к размещению в Фейсбуке или Инстаграмме.",
    "step3Completed": "На этом третий шаг закончен, переходим к продвижению и размещению.",
    "nextButton": "ДАЛЕЕ: РАЗМЕСТИТЬ СОБЫТИЕ",
    "nextButtonTooltip": "Нажмите на кнопку, чтобы перейти к шагу 4",
    "addCover": "Добавить обложку события",
    "coverTooltip": "Нажмите на плюс, чтобы загрузить фотографию или перетащите фото в эту область",
    "coverDesc": "Для обложки лучше всего использовать фото, относящееся к событию. Вы сможете отрегулировать отображение фото в карточке и на превью.<br><br>Формат: jpg, png до 10 Мб, разрешением не менее 1200 px по большей стороне",
    "generatePoster": "Сгенерировать и скачать афишу (.png)",
    "posterTooltip": "Здесь автоматически сгенерируются афиши, каждую вы можете скачать и использовать на других сайтах."
  },
  "en": {
    "step3Title": "Step 3. Create an event cover",
    "cover": "Here we upload the event cover. This can be a ready-made poster or just a photo. We can create posters for your event from a photo that is ready for posting on Facebook or Instagram.",
    "step3Completed": "The third step is completed, now we proceed to the promotion and posting.",
    "nextButton": "NEXT: POST THE EVENT",
    "nextButtonTooltip": "Click the button to proceed to step 4",
    "addCover": "Add event cover",
    "coverTooltip": "Click on “+” to upload a photo or drag the photo into this area.",
    "coverDesc": "It’s better to use a photo related to the event. You can adjust the display of photos in the card and preview.<br><br>Format: jpg, png up to 10 MB, resolution not less than 1200 px on the larger side.",
    "generatePoster": "Generate and download posters (.png)",
    "posterTooltip": "Posters will be automatically generated, you can download and use them on other websites."
  },
  "es": {
    "step3Title": "Paso 3. Crea una portada de evento",
    "cover": "Aquí subimos la portada del evento. Esto puede ser un póster listo para usar o simplemente una foto. Podemos crear carteles para tu evento a partir de una foto que esté lista para publicar en Facebook o Instagram.",
    "step3Completed": "El tercer paso esta comletado, ahora procedemos a la promoción y publicación.",
    "nextButton": "SIGUIENTE: PUBLICACION DEL EVENTO",
    "nextButtonTooltip": "Haga clic en el botón para continuar con el paso 4",
    "addCover": "Añadir portada de evento",
    "coverTooltip": "Haga clic en \"+\" para subir una fotoo arrastre la foto a esta área.",
    "coverDesc": "Es mejor usar una foto relacionada con el evento. Puedes ajustar la visualización de fotos en la tarjeta y la vista previa.<br><br> Formato: jpg, png hasta 10 MB, resolución no inferior a 1200 px en el lado más grande.",
    "generatePoster": "Generar y descargar carteles (.png)",
    "posterTooltip": "Los carteles se generarán automáticamente, puedes descargarlos y usarlos en otros sitios web."
  }
}
</i18n>

<template>
  <div>
    <div class="step-title">{{ $t('step3Title') }}</div>

    <div class="step-text">{{ $t('cover') }}</div>
    <GuideWrapper>
      <GuideTooltip :distance="64" :width="264">
        <div class="image-uploader">
          <span class="image-uploader__cross"></span>
          <span>{{ $t('addCover') }}</span>
        </div>
        <template #tooltip>{{ $t('coverTooltip') }}</template>
      </GuideTooltip>
    </GuideWrapper>
    <GuideWrapper>
      <div class="cover-with-posters">
        <div class="image-uploader">
          <div class="background" />
          <div class="cover">
            <BtnWithIcon class="delete-btn" invert icon="trash" />
          </div>
        </div>
        <div class="cover-with-posters__description" v-html="$t('coverDesc')" />
        <Checkbox
          class="cover-with-posters__checkbox"
          color="blue"
          :value="true"
          >{{ $t('generatePoster') }}</Checkbox
        >
        <GuideTooltip :distance="95" :width="349">
          <div class="cover-with-posters__posters">
            <img
              class="poster--big"
              src="~static/guide/event/poster-big.jpg"
              alt="poster big"
            />
            <img
              class="poster--medium hidden-mobile-only"
              src="~static/guide/event/poster-medium.jpg"
              alt="poster medium"
            />
            <img
              class="poster--small hidden-mobile-only"
              src="~static/guide/event/poster-small.jpg"
              alt="poster small"
            />
          </div>
          <template #tooltip>{{ $t('posterTooltip') }}</template>
        </GuideTooltip>
      </div>
    </GuideWrapper>

    <div class="step-text">{{ $t('step3Completed') }}</div>
    <GuideWrapper>
      <GuideTooltip :distance="62" :width="235">
        <Button>{{ $t('nextButton') }}</Button>
        <template #tooltip>{{ $t('nextButtonTooltip') }}</template>
      </GuideTooltip>
    </GuideWrapper>
  </div>
</template>

<script>
import GuideTooltip from '~/components/common/GuideTooltip'
import Button from '~/components/common/buttons/Button'
import BtnWithIcon from '~/components/common/buttons/BtnWithIcon'
import Checkbox from '~/components/common/Checkbox'
import GuideWrapper from '~/components/guide/GuideWrapper'

export default {
  name: 'GuideStep3',

  components: {
    Button,
    GuideTooltip,
    BtnWithIcon,
    Checkbox,
    GuideWrapper,
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.step-title {
  @include text(4);
  font-weight: bold;
  margin-bottom: 26px;
}

.step-text {
  margin-bottom: 24px;
}

.image-uploader {
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  border: 1px dashed #0070ff;
  max-width: 700px;
  width: 100%;
  max-height: 560px;
  height: 560px;
  min-height: 272px;
  color: #0070ff;
  cursor: pointer;
  @media (max-width: 426px) {
    height: 272px;
  }
  &__cross {
    display: block;
    font-size: 36px;
    margin-bottom: 1rem;
    &::before {
      content: '\47';
      line-height: 1;
      font-family: 'ww-icons';
    }
  }

  .background {
    position: absolute;
    width: 52%;
    height: 100%;
    background-image: linear-gradient(to bottom, #8a7262, #152842);
  }

  .cover {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
    background-image: url('~static/guide/event/cover.jpg');
    position: relative;
  }

  .delete-btn {
    position: absolute;
    right: 8px;
    top: 8px;
  }
}

.cover-with-posters {
  display: flex;
  flex-direction: column;

  .image-uploader {
    margin-bottom: 32px;
  }

  &__description {
    max-width: 700px;
    margin-bottom: 24px;
  }

  &__checkbox {
    margin-bottom: 24px;
  }

  &__posters {
    display: flex;
    *:not(:last-of-type) {
      margin-right: 16px;
    }
  }
}

.poster {
  &--big {
    width: 305px;
  }

  &--medium {
    width: 160px;
  }

  &--small {
    width: 119px;
  }
}
</style>
