<i18n>
{
  "ru": {
    "title": "Как это работает",
    "right1Title": "Страница события за 1 минуту",
    "right1text": "Создайте событе на WhatWherе и начните приглашать участников за 1 минуту. Технические знания не требуются.",
    "left1Title": "Подключите билеты",
    "left1text": "Настройте продажу билетов за несколько кликов и начните продавать уже сейчас.",
    "right2Title": "Рекламируйте событие",
    "right2text": "Запустите рекламу в Facebook, Instagram, Вконтакте, Google, Яндекс за 1 клик. Эффективно и без комиссии.",
    "left2Title": "Заработайте деньги",
    "left2text": "WhatWhere поможет продать билеты, принять платежи или пожертвования, продвинуть события и вывести деньги."
  },
  "en": {
    "title": "How it Works",
    "right1Title": "Create Your Event Page in 1 Minute",
    "right1text": "Create your event page on WhatWhere and start receiving attendees to your event in 1 minute. It's totally hassle-free and no special skills are needed.",
    "left1Title": "Setup Tickets",
    "left1text": "Turn on the ticket sales option for your event and start selling access to your live stream.",
    "right2Title": "Promote the Link to the Event",
    "right2text": "Gather the target audience from Facebook, Instagram, Twitter, Snapchat, and Google Ads. WhatWhere takes care of everything. Just push the button and choose the audience size.",
    "left2Title": "Earn Money",
    "left2text": "WhatWhere sells tickets, receives payments or donations, and transfers money to you after the event is finished"
  }
}
</i18n>
<template>
  <div class="hiw-wrapper">
    <h2 class="hiw-title">{{$t('title')}}</h2>
    <Right :data="right1" />
    <Left :data="left1" />
    <Right :data="right2" />
    <Left :data="left2" class="last-left" />
  </div>
</template>

<script>
  export default {
    components: {
      Right: () => import('./Right'),
      Left: () => import('./Left')
    },
    computed: {
      right1() {
        return {
          img: 'right1.png',
          title: this.$t('right1Title'),
          text: this.$t('right1text')
        }
      },
      left1() {
        return {
          img: 'left1.png',
          title: this.$t('left1Title'),
          text: this.$t('left1text')
        }
      },
      right2() {
        return {
          img: 'right2.png',
          title: this.$t('right2Title'),
          text: this.$t('right2text')
        }
      },
      left2() {
        return {
          img: 'left2.png',
          title: this.$t('left2Title'),
          text: this.$t('left2text')
        }
      },
    }
  }
</script>
<style lang="scss" scoped>
  @import '~/assets/css/variables.scss';
  .hiw-wrapper {
    margin-top: 80px;
    @media (max-width: $sideShow) {
      margin-top: 110px;
    }
    @media (max-width: $desktopSD) {
      margin-top: 95px;
    }
    @media ($mobile) {
      margin-top: 61px;
    }
    .hiw-title {
      margin: 0 0 69px 16.5%;
      font-weight: bold;
      font-size: 56px;
      line-height: 56px;
      @media (max-width: $desktopHDp) {
        margin: 0 0 70px 8%;
      }
      @media (max-width: $desktopSD) {
        margin: 0 0 67px 25px;
      }
      @media ($mobile) {
        margin: 0 0 50px 12px;
        font-size: 36px;
        line-height: 40px;
      }
    }

    .last-left {
      @media ($mobile) {
        margin-bottom: 0;
      }
    }
  }
</style>