<template>
  <div class="left-wrapper">
    <div class="left">
      <div class="left-content">
        <div class="left-content_description">
          <h2 class="title">{{data.title}}</h2>
          <p class="text">{{data.text}}</p>
        </div>
        <div class="left-content_line"></div>
      </div>
      <img class="left-img" :src="`${STATIC_PATH}tickets-online/${data.img}`" />
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      data: Object
    },
    data: () => ({
      STATIC_PATH: process.env.STATIC_PATH || '/',
    }),
  }
</script>
<style lang="scss" scoped>
  @import '~/assets/css/variables.scss';
  .left-wrapper {
    position: relative;
    margin: 78px 0 78px 16.5%;
    padding-right: 16.5%;
    background: linear-gradient(to bottom, #EAEFF5 67%, transparent 33%);
    @media (max-width: $desktopHDp) {
      margin: 78px 0 78px 8%;
      padding-right: 8%;
    }
    @media (max-width: $sideShow) {
      margin: 78px 0 78px 30px;
      padding-right: 30px;
      background: linear-gradient(to bottom, #EAEFF5 82%, transparent 18%);
    }
    @media (max-width: $desktopSD) {
      background: linear-gradient(to bottom, #EAEFF5 100%, transparent 0%);
    }
    @media ($mobile) {
      margin-left: 15px;
      padding-right: 15px;
    }
    .left {
      display: flex;
      justify-content: flex-end;
      @media (max-width: $desktopSD) {
        flex-direction: column-reverse;
        align-items: flex-end;
      }
      &-img {
        margin-top: 80px;
        border-radius: 10px;
        box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.3);
        @media (max-width: $sideShow) {
          width: 550px;
          height: auto;
        }
        @media (max-width: $desktopHD) {
          width: 100%;
          height: auto;
        }
        @media (max-width: $desktopSD) {
          width: 78%;
          height: auto;
        }
        @media ($mobile) {
          width: 91%;
          height: auto;
        }
      }
      &-content {
        display: flex;
        @media (max-width: $desktopSD) {
          width: 78%;
          flex-direction: row-reverse;
        }
        @media ($mobile) {
          width: 91%;
        }
        &_line {
          width: 50px;
          height: 2px;
          margin: 95px 56px 0 28px;
          background-color: $blue;
          @media (max-width: $desktopSD) {
            margin: 64px 31px 0 0;
          }
          @media ($mobile) {
            width: 30px;
            margin: 42px 20px 0 0;
          }
        }
        &_description {
          margin: 76px 0 0 20px;
          text-align: right;
          @media (max-width: $desktopSD) {
            margin: 46px 20px 70px 0;
            text-align: left;
          }
          @media ($mobile) {
            margin: 28px 16px 55px 0;
          }
          .title {
            margin-bottom: 21px;
            font-weight: bold;
            font-size: 32px;
            line-height: 40px;
            @media ($mobile) {
              margin-bottom: 15px;
              font-size: 24px;
              line-height: 30px;
            }
          }
          .text {
            max-width: 420px;
            margin: 0;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            @media (max-width: $desktopSD) {
              max-width: 443px;
            }
            @media ($mobile) {
              font-size: 14px;
              line-height: 20px;
            }
          }
        }
      }
    }
  }
</style>