<template>
  <div class="right-wrapper">
    <div class="right">
      <div>
        <img class="right-img" :src="`${STATIC_PATH}tickets-online/${data.img}`" />
      </div>
      <div class="right-content">
        <div class="right-content_line"></div>
        <div class="right-content_description">
          <h2 class="title">{{data.title}}</h2>
          <p class="text">{{data.text}}</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      data: Object
    },
    data: () => ({
      STATIC_PATH: process.env.STATIC_PATH || '/',
    }),
  }
</script>
<style lang="scss" scoped>
  @import '~/assets/css/variables.scss';
  .right-wrapper {
    position: relative;
    margin-right: 16.5%;
    padding-left: 16.5%;
    background: linear-gradient(to bottom, #EAEFF5 67%, transparent 33%);
    @media (max-width: $desktopHDp) {
      margin-right: 8%;
      padding-left: 8%;
    }
    @media (max-width: $sideShow) {
      margin-right: 30px;
      padding-left: 30px;
      background: linear-gradient(to bottom, #EAEFF5 82%, transparent 18%);
    }
    @media (max-width: $desktopSD) {
      background: linear-gradient(to bottom, #EAEFF5 100%, transparent 0%);
    }
    @media ($mobile) {
      margin-right: 15px;
      padding-left: 15px;
    }
    .right {
      display: flex;
      @media (max-width: $desktopSD) {
        flex-direction: column;
      }
      &-img {
        margin-top: 80px;
        border-radius: 10px;
        box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.3);
        @media (max-width: $sideShow) {
          width: 550px;
          height: auto;
        }
        @media (max-width: $desktopHD) {
          width: 100%;
          height: auto;
        }
        @media (max-width: $desktopSD) {
          width: 78%;
          height: auto;
        }
        @media ($mobile) {
          width: 91%;
          height: auto;
        }
      }
      &-content {
        display: flex;
        &_line {
          width: 50px;
          height: 2px;
          margin: 95px 29px 0 59px;
          background-color: $blue;
          @media (max-width: $desktopSD) {
            margin: 64px 29px 0 0;
          }
          @media ($mobile) {
            width: 30px;
            margin: 42px 20px 0 0;
          }
        }
        &_description {
          margin: 76px 20px 0 0;
          @media (max-width: $desktopSD) {
            margin: 45px 20px 71px 0;
          }
          @media ($mobile) {
            margin: 30px 15px 55px 0;
          }
          .title {
            margin-bottom: 21px;
            font-weight: bold;
            font-size: 32px;
            line-height: 40px;
            @media (max-width: $sideShow) {
              margin-bottom: 11px;
            }
            @media ($mobile) {
              margin-bottom: 14px;
              font-size: 24px;
              line-height: 30px;
            }
          }
          .text {
            max-width: 420px;
            margin: 0;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            @media (max-width: $desktopSD) {
              max-width: 606px;
              width: 100%;
            }
            @media ($mobile) {
              font-size: 14px;
              line-height: 20px;
            }
          }
        }
      }
    }
  }
</style>