<template>
  <WithTransition v-if="reg === popovers.simpleReg">
    <ModalContainer>
      <RegistrationModal />
    </ModalContainer>
  </WithTransition>
  <WithTransition v-else-if="reg === popovers.simpleRegSucc">
    <ModalContainer>
      <RegistrationSuccess />
    </ModalContainer>
  </WithTransition>
</template>

<script>
import popConsts from '~/utils/popoverConsts.js'

export default {
  name: 'RegistrationModalWrapper',
  components: {
    RegistrationModal: () => import('./RegistrationModal'),
    RegistrationSuccess: () => import('./RegistrationSuccess'),
    ModalContainer: () => import('../ModalContainer'),
    WithTransition: () => import('~/components/common/WithTransition'),
  },
  props: {
    reg: {
      type: String,
    },
  },
  computed: {
    popovers: () => popConsts,
  },
}
</script>
