<template>
  <div class="modal__wrapper">
    <div class="modal">
      <div class="overlay-btn">
        <BtnWithIcon icon="cross" invert @click="togglePopover('')" />
      </div>
      <picture class="left-image">
        <source
          srcset="
            ~static/popover/left/jon-tyson-353597-unsplash.webp    1x,
            ~static/popover/left/jon-tyson-353597-unsplash@2x.webp 2x,
            ~static/popover/left/jon-tyson-353597-unsplash@3x.webp 3x
          "
          type="image/webp"
        />
        <source
          srcset="
            ~static/popover/left/jon-tyson-353597-unsplash.jpg    1x,
            ~static/popover/left/jon-tyson-353597-unsplash@2x.jpg 2x,
            ~static/popover/left/jon-tyson-353597-unsplash@3x.jpg 3x
          "
          type="image/jpg"
        />
        <img
          alt="jon-tyson"
          src="~static/popover/left/jon-tyson-353597-unsplash@3x.jpg"
          class="left-image"
        />
      </picture>
      <div class="content">
        <picture class="top-image">
          <source
            srcset="~static/popover/top/jon-tyson-353597-unsplash@3x.webp"
            type="image/webp"
            media="(min-width: 760px)"
          />
          <source
            srcset="
              ~static/popover/top/jon-tyson-353597-unsplash@2x.webp 1x,
              ~static/popover/top/jon-tyson-353597-unsplash@3x.webp 2x
            "
            type="image/webp"
            media="(min-width: 500px)"
          />
          <source
            srcset="
              ~static/popover/top/jon-tyson-353597-unsplash.webp    1x,
              ~static/popover/top/jon-tyson-353597-unsplash@2x.webp 2x,
              ~static/popover/top/jon-tyson-353597-unsplash@3x.webp 3x
            "
            type="image/webp"
          />
          <source
            srcset="
              ~static/popover/top/jon-tyson-353597-unsplash.jpg    1x,
              ~static/popover/top/jon-tyson-353597-unsplash@2x.jpg 2x,
              ~static/popover/top/jon-tyson-353597-unsplash@3x.jpg 3x
            "
            type="image/jpg"
          />
          <img
            alt="jon-tyson"
            src="~static/popover/top/jon-tyson-353597-unsplash@3x.jpg"
            class="top-image__image"
          />
        </picture>

        <div v-if="nameCity" class="title">
          {{ $t('auth.searchSomething', { city: nameCity }) }}
        </div>
        <div v-else class="title">
          {{ $t('auth.searchSomething2') }}
        </div>

        <div class="hint">
          {{ $t('auth.regHint') }}
        </div>
        <div class="social-buttons">
          <AuthButton variant="google" class="soc-btn">
            <div class="soc-btn__icon google"></div>
            <div class="soc-btn__text">{{ $t('auth.loginGoogle') }}</div>
            <div class="soc-btn__text--mobile">Google</div>
          </AuthButton>
          <AuthButton variant="fb" class="soc-btn">
            <div class="soc-btn__icon facebook"></div>
            <div class="soc-btn__text">{{ $t('auth.loginFb') }}</div>
            <div class="soc-btn__text--mobile">Facebook</div>
          </AuthButton>
        </div>
        <div class="hint">
          {{ $t('auth.or') }}
        </div>
        <div class="email">
          <MailInput
              v-model="email"
              :placeholder="$t('auth.auth.email')"
              :error="Boolean(emailErr.show)"
              variant="simple"
              required
              icon
              styles="height: 56px; border: none;"
              @keydown.enter="simpleRegister"
          />
          <div v-if="emailErr.show" class="err-block">
            {{ emailErr.msg }}
          </div>
        </div>

        <div class="action-btns">
          <Button
            class="action-btn"
            type="submit"
            noArrow
            @click="simpleRegister"
          >
            {{ $t('auth.signUp.register') }}
          </Button>
          <Button
            class="action-btn alrdy"
            type="submit"
            noHover
            noBorder
            noArrow
            @click="togglePopover(pops.auth)"
          >
            {{ $t('auth.haveAcc') }}
          </Button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import { path } from 'ramda'
import popConsts from '~/utils/popoverConsts.js'

export default {
  components: {
    AuthButton: () => import('~/components/common/buttons/AuthButton'),
    BtnWithIcon: () => import('../../buttons/BtnWithIcon'),
    Button: () => import('../../buttons/Button'),
    MailInput: () => import('~/components/common/input/MailInput'),
  },
  data: () => ({
    email: '',
    emailErr: {
      show: false,
      msg: '',
    },
  }),
  computed: {
    pops() {
      return popConsts
    },
    nameCity() {
      return path(
        ['location', 'city', 'title'],
        this.$store.getters['events/session/data'],
      )
    },
  },
  methods: {
    ...mapActions({
      togglePopover: 'popovers/TOGGLE_POPOVER',
      simpleRegistration: 'auth/SIMPLE_REGISTRATION',
    }),

    async simpleRegister() {
      try {
        await this.simpleRegistration({ email: this.email })
        this.togglePopover(popConsts.simpleRegSucc)
      } catch (err) {
        console.log(err)
        this.errorHandler(err)
      }
    },
    errorHandler(errors) {
      if (errors.email) {
        this.emailErr = {
          show: true,
          msg: errors.email[0],
        }
      }
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.modal {
  position: relative;

  @media (min-width: $desktopHD) {
    display: flex;
  }

  &__wrapper {
    width: 100%;
    height: 100%;
    background-color: #f8f9fa;
    user-select: none;
    overflow: auto;

    @media (min-width: $desktopHD) {
      max-width: 1080px;
      max-height: 536px;
      box-shadow: 0 3px 40px 0 rgba(0, 112, 255, 0.2);
    }
  }

  .overlay-btn {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    @media (min-width: $desktopHD) {
      right: unset;
      left: 0;
    }
  }

  .left-image {
    display: none;
    @media (min-width: $desktopHD) {
      display: block;
      width: 384px;
    }
  }
  .top-image {
    display: block;
    @media (min-width: $desktopHD) {
      display: none;
    }

    &__image {
      width: 100%;
    }
  }

  .content {
    padding: 6%;
    text-align: center;
    @media (min-width: $desktopHD) {
      padding: 4% 6% 0;
      text-align: unset;
    }
    .title {
      @include text(3);
      font-weight: bold;
      @media (min-width: $desktopHD) {
        @include text(5);
        line-height: 1.2;
        font-weight: normal;
      }
    }
    .hint {
      margin: 16px 0;
    }
    .email {
      position: relative;
      margin-bottom: 1.25rem;
      .err-block {
        margin-top: 0.5rem;
        color: #ff4081;
      }
    }
    .action-btn {
      height: 54px;
      padding: 0;
      &.alrdy {
        font-weight: normal;
        margin-top: 8px;
        text-transform: none;
      }
    }
    .social-buttons {
      display: flex;

      .soc-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 54px;
        width: 100%;
        background-color: #3b5998;
        color: #fff;
        padding: 1rem;
        &:hover {
          box-shadow: 0 0 0 1px #0070ff;
        }
        &:first-child {
          margin-right: 1rem;
          background-color: #fff;
          color: #000;
        }
      }

      .soc-btn {
        &__icon {
          height: 24px;
          width: 24px;
          background: transparent;
          display: flex;
          margin-right: 20px;

          &::before {
            content: '';
            background-size: contain;
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
          }

          &.google {
            &::before {
              background: url('~static/social/google.svg');
            }
          }

          &.facebook {
            &::before {
              background: url('~static/social/facebook.svg');
              width: 14px;
            }
          }
        }
        &__text {
          display: none;
          @media (min-width: $desktopHD) {
            display: block;
          }
          &--mobile {
            display: block;
            @media (min-width: $desktopHD) {
              display: none;
            }
          }
        }
      }
    }
  }
}
</style>
