<template>
  <div>
    <div class="wrapper">
      <div class="breadcrumbs">
        <slot name="breadcrumbs" />
      </div>

      <SearchBar
        :search.sync="search"
        :city.sync="city"
        :period.sync="period"
        :dates.sync="dates"
        :datesLimit="datesLimit"
        class="search-bar"
        @search="searchEvents"
      />

      <div class="search-content">
        <div class="search-content__main">
          <div class="search-content__title">{{ $t('journal.addEvts') }}</div>

          <Loader v-if="loading" />
          <NotFound v-else-if="!hasEvents" />
          <template v-else>
            <transition-group
              class="search-content__events--horizontal"
              name="events-animation"
            >
              <HorizontalEventCard
                v-for="event in events"
                :key="event.id"
                :event="event"
              >
                <template #topButtons>
                  <TextTooltip>
                    <AddEventButton :event="event" />
                    <template #tooltip>
                      {{ $t('journal.addEventsPage.addToCollection') }}
                    </template>
                  </TextTooltip>
                </template>
              </HorizontalEventCard>
            </transition-group>
            <transition-group
              class="search-content__events--vertical"
              name="events-animation"
            >
              <EventCard
                v-for="event in events"
                :key="event.id"
                :value="{ event }"
                showOverlay
                class="event-card--vertical"
              >
                <template #topButtons>
                  <AddEventButton :event="event" />
                </template>
              </EventCard>
            </transition-group>
          </template>

          <no-ssr>
            <infinite-loading
              v-if="!loading && EVENTS.length"
              @infinite="infiniteHandler"
            >
              <Loader slot="spinner" />
              <div slot="no-more"></div>
              <div slot="no-results"></div>
            </infinite-loading>
          </no-ssr>
        </div>

        <SearchCategories
          v-if="CATEGORIES.length"
          v-model="localCategories"
          :options="CATEGORIES"
          class="search-content__tags"
          @input="onCategoriesChange"
        />
      </div>
    </div>

    <transition name="fade">
      <div v-if="ADD_EVENTS_COUNT" class="fixed">
        <div class="wrapper">
          <ResultAction class="result-action" @submit="$emit('submit')" />
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
import { uniq, isEmpty } from 'ramda'
import { mapGetters, mapActions } from 'vuex'
import InfiniteLoading from 'vue-infinite-loading'

import { makeSearchQuery } from '~/utils'

import ResultAction from '~/components/journals/add-event/ResultAction'
import AddEventButton from '~/components/journals/add-event/AddEventButton'
import SearchBar from '~/components/common/SearchBar'
import SearchCategories from '~/components/common/input/SearchCategories'
import HorizontalEventCard from '~/components/common/HorizontalEventCard'
import EventCard from '~/components/common/EventCard'
import Loader from '~/components/common/Loader'
import NotFound from '~/components/common/NotFound'
import TextTooltip from '~/components/common/TextTooltip'

export default {
  middleware: ['only-auth', 'personal-data-agreement'],

  components: {
    ResultAction,
    SearchBar,
    SearchCategories,
    HorizontalEventCard,
    EventCard,
    InfiniteLoading,
    Loader,
    AddEventButton,
    NotFound,
    TextTooltip,
  },

  data: () => ({
    page_size: 3,
    search: '',
    city: { id: null },
    period: '',
    dates: [],
    datesLimit: [],
    localCategories: [],
    loading: true,
  }),
  computed: {
    ...mapGetters({
      GET_CURRENT_JOURNAL: 'journal/CURRENT_JOURNAL',
      GET_CITY_ID: 'city/GET_CITY_ID',
      CATEGORIES: 'categories/filtered',
      EVENTS: 'events/EVENTS',
      MORE_EVENTS: 'events/MORE_EVENTS',
      ADD_EVENTS_COUNT: 'addEvents/EVENTS_COUNT',
      ADD_EVENTS: 'addEvents/EVENTS',
    }),
    events() {
      return uniq([...this.ADD_EVENTS, ...this.EVENTS])
    },
    hasEvents() {
      return this.events.length
    },
    query() {
      return makeSearchQuery({
        page_size: this.page_size,
        geoname_ids: this.city.id,
        category:
          this.localCategories.map(({ slug }) => slug).join(',') || null,
        search: this.search || null,
        period: this.period || null,
        dates: this.dates
          .map(date => (date ? this.$moment(date).format('DD.MM.YYYY') : null))
          .join(',')
          .replace(/,$/, ''),
      })
    },
  },
  watch: {
    GET_CITY_ID(v, ov) {
      if (v !== ov) {
        this.city = this.$store.getters['city/GET_CITY']
      }
    },
  },
  mounted() {
    this.getQuery()
    this.fetchCategories()
    this.searchEvents()

    /* add watch after mounted to prevent unnecessary api fetches */
    this.$watch('city', (next, prev) => {
      if (next.id === prev.id) return

      this.fetchCategories()
      this.searchEvents()
    })
  },

  methods: {
    ...mapActions({
      getCategories: 'categories/FETCH',
      getEvents: 'events/FETCH',
      getMoreEvents: 'events/FETCH_MORE',
    }),
    onCategoriesChange() {
      this.searchEvents()
    },
    fetchCategories() {
      this.getCategories({ geoname_id: this.city.id })
    },
    getQuery() {
      const { search, city, period, dates, category } = this.$route.query
      this.search = search
      this.period = period
      this.city = city
        ? { id: Number(city) }
        : this.$store.getters['city/GET_CITY']
      this.dates = dates
        ? dates.split(',').map(date => this.$moment(date, 'DD-MM-YYYY'))
        : []
      this.localCategories = category ? category.split(',') : []

      const { limit_date_to, limit_date_from } = this.GET_CURRENT_JOURNAL
      if (limit_date_to || limit_date_from) {
        this.datesLimit = [
          limit_date_from ? this.$moment(limit_date_from) : null,
          limit_date_to ? this.$moment(limit_date_to) : null,
        ]
        this.dates = [
          limit_date_from ? this.$moment(limit_date_from) : null,
          limit_date_to ? this.$moment(limit_date_to) : null,
        ]
      }
    },
    async searchEvents() {
      this.loading = true

      const hasQuery = !isEmpty(this.$route.query)

      if (hasQuery) {
        this.$router.push({ query: this.query })
      } else {
        this.$router.replace({ query: this.query })
      }

      await this.getEvents({ ...this.query, expand: 'cover' })

      this.loading = false
    },
    async infiniteHandler($state) {
      if (this.MORE_EVENTS) {
        try {
          await this.getMoreEvents()
          $state.loaded()
        } catch (e) {
          $state.complete()
        }
      } else {
        $state.complete()
      }
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.breadcrumbs {
  margin-bottom: 26px;
}
.search-bar {
  margin-left: -16px;
  margin-right: -16px;
  margin-bottom: 32px;
}

.result-action {
  margin-left: -16px;
  margin-right: -16px;
}

.search-content {
  margin-bottom: 42px;
  display: flex;
  flex-direction: column;

  @media (min-width: $desktopSD) {
    flex-direction: row;
  }

  &__main {
    flex: 1;
    order: 1;
    margin-top: 32px;

    @media (min-width: $desktopSD) {
      order: 0;
      margin-top: 0;
      margin-right: 32px;
    }
  }

  &__tags {
    order: 0;
  }

  &__title {
    @include text(3);
    margin-bottom: 32px;

    @media (min-width: $desktopSD) {
      @include text(4);
    }
  }

  &__events--horizontal {
    display: none;

    @media (min-width: $desktopHD) {
      display: block;
    }

    & > :not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__events--vertical {
    display: grid;
    grid-template-columns: repeat(auto-fill, 160px);
    grid-gap: $base;
    margin: 3 * $base -1px 2 * $base 0;

    @media (min-width: $desktopSD) {
      grid-template-columns: repeat(auto-fill, 248px);
      grid-gap: 2 * $base;
      margin-top: 4.25 * $base;
      margin-bottom: 7 * $base;
    }

    @media (min-width: $desktopHD) {
      display: none;
    }
  }

  .event-card {
    &--vertical {
      max-width: 100%;
    }
  }
}

.fixed {
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 10;

  @media (min-width: $sideShow) {
    max-width: calc(100% - 112px);
  }
}

.events-animation-enter-active {
  transition: opacity 1s, transform 0.5s;
}

.events-animation-move {
  transition: transform 1s;
}

.events-animation-enter,
.events-animation-leave-to {
  opacity: 0;
  transform: translateY(30px);
}
</style>
