<template>
  <BtnWithIcon
    invert
    size="small"
    :color="addedEvent ? 'red' : 'blue'"
    :icon="addedEvent ? 'check' : 'add'"
    @click="onClick"
  />
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

import BtnWithIcon from '~/components/common/buttons/BtnWithIcon'

export default {
  name: 'AddEventButton',

  components: {
    BtnWithIcon,
  },

  props: {
    event: {
      type: Object,
      required: true,
    },
  },

  computed: {
    ...mapGetters('addEvents', ['HAS_EVENT_ID']),
    addedEvent() {
      return this.HAS_EVENT_ID(this.event.id)
    },
  },

  methods: {
    ...mapActions('addEvents', ['ADD_EVENT', 'REMOVE_EVENT']),
    onClick() {
      if (this.addedEvent) {
        this.REMOVE_EVENT(this.event)
      } else {
        this.ADD_EVENT(this.event)
      }
    },
  },
}
</script>
