<template>
  <div class="result-action">
    <span class="result-action__text">{{
      $tc('journal.addEventsPage.selectedEvents', EVENTS_COUNT)
    }}</span>
    <Button class="result-action__button" invert @click="add">{{
      $t('journal.addEventsPage.add')
    }}</Button>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import { prop } from 'ramda'

import Button from '~/components/common/buttons/Button'

export default {
  name: 'ResullAction',

  components: {
    Button,
  },

  computed: {
    ...mapGetters({ currentJournal: 'journal/CURRENT_JOURNAL' }),
    ...mapGetters('addEvents', ['EVENTS_COUNT']),
    journalId() {
      return prop('id', this.currentJournal)
    },
  },

  methods: {
    ...mapActions({
      showError: 'notifications/error',
      showSuccess: 'notifications/success',
    }),
    async add() {
      this.$emit('submit')
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.result-action {
  background: $blue;
  padding: 12px;
  color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;

  @media (min-width: $desktopSD) {
    flex-direction: row;
    align-items: center;
  }

  &__text {
    margin-bottom: 8px;
    @include text(2);

    @media (min-width: $desktopSD) {
      margin-bottom: 0;
      margin-right: 58px;
    }

    @media (min-width: $desktopHD) {
      @include text(3);
    }
  }

  &__button {
    @media (min-width: $desktopSD) {
      width: 50%;
      max-width: 510px;
    }
  }
}
</style>
