<template>
  <label class="title">
    <slot></slot>
    <input
      :value="value"
      :placeholder="placeholder"
      class="title__input"
      :class="{ 'title__input--error': error }"
      v-on="inputListeners"
    />
    <span v-if="error" class="title__error"> {{ error }} </span>
  </label>
</template>

<script>
export default {
  props: {
    error: {
      type: String,
      default: '',
    },
    value: {
      type: String,
      default: '',
    },
    placeholder: {
      type: String,
      default: '',
    },
  },
  computed: {
    inputListeners: function() {
      return Object.assign({}, this.$listeners, {
        input: event => {
          this.$emit('input', event.target.value)
          if (this.error) {
            this.$emit('update:error', '')
          }
        },
      })
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.title {
  &__input {
    /*height: 100%;*/
    /*height: 64px;*/
    /*@media (min-width: 1180px) {*/
    /*height: 80px;*/
    /*}*/
    &--error {
      margin-bottom: 16px;
      //border: 2px solid $red;
      box-shadow: 0 0 0 2px $red;
    }
  }
  &__error {
    margin-top: 24px;
    padding: 8px 16px;
    color: white;
    background-color: $red;
  }
}
</style>
