<template>
  <div
    class="taglist"
    :class="{
      'taglist--no-wrap': isNoWrap,
      'taglist--tight': isTight,
    }"
  >
    <div v-if="title" class="title">{{ title }}</div>
    <Tag
      v-for="item in items"
      :key="item.id"
      :interest="item"
      @change="$emit('change', $event)"
    />
  </div>
</template>

<script>
import Tag from '~/components/common/Tag'

export default {
  name: 'TagList',

  components: {
    Tag,
  },

  props: {
    items: {
      type: Array,
      required: true,
    },
    title: {
      type: String,
      default: '',
    },
    isNoWrap: Boolean,
    isTight: Boolean,
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

$item-h-padding: 2.25 * $base;

.taglist {
  display: flex;
  margin-left: -2 * $base;
  margin-right: -2 * $base;
  overflow-x: auto;
  overflow-y: hidden;
  padding-left: 2 * $base;
  padding-right: 2 * $base;

  @media (min-width: $desktopHD) {
    display: block;
    margin-left: -$item-h-padding;
    margin-right: -$item-h-padding;
    padding-left: 0;
    padding-right: 0;
  }

  &--no-wrap {
    display: block;
  }

  &--tight {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .title {
    margin-bottom: 0.5 * $base;
  }
}
</style>
