<i18n src="./locales.json"></i18n>

<template>
  <section class="categories">
    <h2 class="categories__title hidden-mobile-only">{{ $t('categories') }}</h2>
    <div class="categories__grid">
      <CategoryCard
        v-for="(category, index) in categories"
        :key="index"
        :category="category"
        :query="query"
      />
    </div>
  </section>
</template>

<script>
export default {
  components: {
    CategoryCard: () => import('~/components/common/CategoryCard'),
  },
  props: {
    categories: Array,
    query: Object,
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.categories {
  &__title {
    font-size: 32px;
    font-weight: bold;
    line-height: 1.25;
    margin-bottom: 20px;
  }
  &__grid {
    display: grid;
    grid-gap: 16px;

    @media (min-width: $desktopSD) {
      grid-template-columns: 1fr 1fr;
    }
    @media (min-width: $desktopHD) {
      grid-template-columns: 1fr 1fr;
    }
    @media (min-width: $sideShow) {
      grid-template-columns: repeat(4, 1fr);
    }
    @media (min-width: $desktopFullHD) {
      grid-column-gap: 24px;
    }
  }
}
</style>
