<template>
  <section class="events">
    <h2 class="events__header">{{ $t('mainpage.events') }}</h2>
    <nuxt-link
      to="/events/create/a/1/"
      class="events__create-event hidden-desktopSD-and-up"
    >
      +
    </nuxt-link>

    <div class="events__filter">
      <PeriodFilter
        v-model="period"
        :buttons="$t('mainpage.filters')"
        activeColor="black"
        @input="getEvents"
      />
      <nuxt-link to="/events/create/a/1/" class="create-event hidden-mobile-only">
        <span class="plus">+</span>
        <span class="text">{{ $t('mainpage.createEvent') }}</span>
      </nuxt-link>
    </div>
    <Loader v-if="isLoading" />
    <div v-else class="events__grid">
      <EventCard
        v-for="(session, index) in sessions"
        :key="index"
        :value="session"
        :isExternalLink="isExternal"
        class="card"
      />
      <EventCardStub
        v-if="!isExternal"
        to="/events/create/a/1/"
        class="hidden-mobile-only"
      />
    </div>
    <nuxtLink
      v-if="countSessions"
      :to="{ path: '/events/', query: { ...query, actual: true } }"
    >
      <Button
        :target="isExternal && '_blank'"
        :count="countSessions"
        class="button"
      >
        {{ $t('mainpage.allEvents') }}
      </Button>
    </nuxtLink>
  </section>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  components: {
    EventCardStub: () => import('~/components/common/EventCard/EventCardStub'),
    PeriodFilter: () => import('~/components/common/input/PeriodFilter'),
    Loader: () => import('~/components/common/Loader'),
    EventCard: () => import('~/components/common/EventCard'),
    Button: () => import('~/components/common/buttons/Button'),
  },
  props: {
    query: {
      type: Object,
      default: () => ({}),
    },
    isExternal: Boolean,
  },
  data: () => ({
    period: 'month',
    isLoading: false,
  }),
  computed: {
    ...mapGetters({
      sessions: 'main/sessions/results',
      countSessions: 'main/sessions/count',
      isMoreSessions: 'main/sessions/isMore',
    }),
  },
  methods: {
    ...mapActions({
      fetchEvents: 'main/sessions/FETCH',
    }),
    async getEvents(period) {
      try {
        this.isLoading = true
        await this.fetchEvents({
          ...this.query,
          ...(period ? { period } : { actual: true, period: '' }),
          is_main: true,
        })
      } catch (e) {
      } finally {
        this.isLoading = false
      }
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.events {
  &__header {
    display: inline-block;
    font-size: 24px;
    line-height: 1.33;
    font-weight: bold;
    margin-bottom: 20px;
    @media (min-width: $desktopSD) {
      font-size: 32px;
      line-height: 1.25;
    }
  }

  &__create-event {
    float: right;
    padding-left: 32px;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: 1px;
    color: $blue;
  }

  &__filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .create-event {
      font-weight: bold;
      color: $blue;

      .plus {
        line-height: 1.2;
        letter-spacing: 1px;
        margin-right: 8px;
      }
      .text {
        font-size: 12px;
        line-height: 2;
        letter-spacing: 0.6px;
        text-transform: uppercase;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 160px);
    grid-gap: $base;
    margin: 3 * $base 0 2 * $base 0;

    @media (min-width: $desktopSD) {
      padding-top: 8px;
      margin: 16px 0 24px;
      grid-template-columns: unset;
      grid-auto-flow: column;
      grid-auto-columns: 248px;
      grid-row-gap: 0;
      grid-column-gap: 2 * $base;
      overflow-x: auto;
    }
    @media (min-width: $desktopHD) {
      grid-template-columns: repeat(auto-fill, 248px);
      overflow: initial;
      grid-gap: 16px;
      margin: 32px 0;
      justify-content: space-between;
      grid-auto-flow: unset;
    }
    @media (min-width: $desktopHDp) {
      margin-top: 24px;
      margin-bottom: 48px;
      grid-row-gap: 40px;
      grid-template-columns: repeat(auto-fill, 296px);
    }

    .card {
      @media (max-width: $desktopSD - 1) {
        &:nth-child(n + 5) {
          display: none;
        }
      }
      @media (max-width: $sideShow - 1) {
        &:nth-child(n + 6) {
          display: none;
        }
      }
    }
  }
  .button {
    margin-top: 16px;
    height: 56px;
    @media (max-width: $desktopSD - 1) {
      padding: 12px 12px !important;
    }
    @media (min-width: $desktopSD) {
      margin-top: 24px;
      height: 72px;
    }
    @media (min-width: $desktopHDp) {
      margin-top: 32px;
    }
  }
}
</style>
