<template>
  <div>
    <div class="only-mobile">
      <MobileHero :value="value" :query="query" @search="searchHandler" />
    </div>
    <div class="wrapper">
      <Hero
        :value="value"
        :query="query"
        class="wrapper__hero"
        @search="searchHandler"
      />
      <Events :query="query" class="events-block" />
      <Categories
        v-if="categories.length > 3"
        :categories="categories"
        :query="query"
        class="categories-block"
      />
      <Journals
        v-if="journals.length > 2"
        :journals="journals"
        :query="query"
        :count="journalsCount"
        class="journals-block"
      />
      <Organizers
        v-if="organizers.length > 3"
        :organizers="organizers"
        :query="query"
        class="organizers-block"
      />
      <Info :value="value" :query="query" class="wrapper__info" />
      <slot name="footer"></slot>
    </div>
  </div>
</template>

<script>
import { mapActions, mapMutations, mapGetters } from 'vuex'
import popoverConsts from '~/utils/popoverConsts'

export default {
  components: {
    Categories: () => import('./Categories'),
    Organizers: () => import('./Organizers'),
    Hero: () => import('~/components/main/hero'),
    MobileHero: () => import('~/components/main/hero/Mobile'),
    Info: () => import('~/components/main/info'),
    Events: () => import('~/components/main/Events'),
    Journals: () => import('~/components/main/journals'),
  },
  props: {
    value: {
      type: Object,
      default: () => ({}),
    },
    query: {
      type: Object,
      default: () => ({}),
    },
  },
  computed: {
    ...mapGetters({
      categories: 'main/categories/selected',
      organizers: 'organizers/organizers',
      city: 'city/GET_CITY',
      journals: 'journals/JOURNALS',
      journalsCount: 'journals/COUNT',
    }),
  },
  watch: {
    city(value) {
      this.updateCategories({
        expand: 'cover,icon',
        geoname_id: value.id,
        is_main: true,
      })
      this.updateJournals({
        expand: 'created_by,cover,created_by.avatar',
        page_size: 3,
        geoname_ids: value.id,
        is_main: true,
      })
      this.updateOrganizers({
        expand: 'logo',
        page_size: 6,
        geoname_ids: value.id,
        is_main: true,
      })
      this.updateEvents({
        geoname_ids: value.id,
        is_main: true,
      })
    },
  },
  mounted() {
    this.checkPaymentStatus()
  },
  methods: {
    ...mapActions('popovers', ['TOGGLE_POPOVER']),
    ...mapMutations('popovers', ['SET_POPOVER_DATA']),
    ...mapActions('tickets', ['RESET_PURCHASE']),
    ...mapActions({
      updateCategories: 'main/categories/FETCH',
      updateJournals: 'journals/FETCH',
      updateOrganizers: 'organizers/FETCH',
      updateEvents: 'main/sessions/FETCH',
    }),
    searchHandler(query) {
      this.$router.push({ path: '/search/', query })
    },

    checkPaymentStatus() {
      const { payment_status, from, ...query } = this.$route.query
      if (!payment_status) return

      const isFromTickets = from === 'tickets'

      switch (payment_status) {
        case 'free':
          this.SET_POPOVER_DATA({ status: 'free' })
          // eslint-disable-next-line no-fallthrough
        case 'success':
          this.TOGGLE_POPOVER(popoverConsts.paymentSuccess)
          if (isFromTickets) this.RESET_PURCHASE()
          break

        case 'pending':
        case 'cancelled':
          if (isFromTickets) this.RESET_PURCHASE()
        // eslint-disable-next-line no-fallthrough
        case 'failure':
          this.TOGGLE_POPOVER(popoverConsts.paymentError)
          break

        default:
          break
      }

      this.$router.replace({ query })
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.only-mobile {
  display: block;
  @media (min-width: $desktopSD) {
    display: none;
  }
}
.wrapper {
  &__hero {
    margin-right: 0;
    @media (min-width: $desktopSD) {
      margin-bottom: 16px;
    }
    @media (min-width: $desktopHD) {
      margin-right: piecewise-linear-margin($desktopHD, $sideShow, -104px, 0px);
    }
    @media (min-width: $desktopHDp) {
      margin-right: 0;
    }
  }
  &__info {
    margin-top: 56px;
    @media (min-width: $sideShow) {
      margin-top: 86px;
    }
  }
}

.categories-block {
  margin-top: 24px;
  @media (min-width: $desktopSD) {
    margin-top: 56px;
  }
  @media (min-width: $sideShow) {
    margin-top: 86px;
  }
}

.events-block {
  margin-top: 24px;
}

.journals-block {
  margin-top: 56px;
  @media (min-width: $sideShow) {
    margin-top: 86px;
  }
}

.organizers-block {
  margin-top: 56px;
  @media (min-width: $sideShow) {
    margin-top: 86px;
  }
}
</style>
