<i18n src="./locales.json"></i18n>

<template>
  <section class="organizers">
    <h2 class="organizers__title">{{ $t('organizers') }}</h2>
    <div class="organizers__grid">
      <OrganizerCard
        v-for="(organizer, index) in organizers"
        :key="index"
        :organizer="organizer"
      />
    </div>
    <nuxt-link :to="link">
      <Button class="organizers__button">
        {{ $t('allOrganizers') }}
      </Button>
    </nuxt-link>
  </section>
</template>

<script>
export default {
  components: {
    Button: () => import('~/components/common/buttons/Button'),
    OrganizerCard: () => import('~/components/common/OrganizerCard'),
  },
  props: {
    organizers: Array,
    query: Object,
  },
  computed: {
    link() {
      const { city: geoname_ids } = this.query

      return {
        name: 'organizers',
        query: { geoname_ids },
      }
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.organizers {
  &__title {
    font-size: 24px;
    line-height: 1.33;
    font-weight: bold;
    margin-bottom: 20px;
    @media (min-width: $desktopSD) {
      font-size: 32px;
      line-height: 1.25;
    }
  }
  &__grid {
    display: grid;
    grid-gap: 8px;
    @media (max-width: $desktopSD - 1) {
      div:nth-child(n + 4) {
        display: none;
      }
    }
    @media (min-width: $desktopSD) {
      grid-gap: 16px;
      grid-template-columns: 1fr 1fr;
    }
    @media (min-width: $desktopHD) {
      grid-template-columns: 1fr 1fr;
    }
    @media (min-width: $sideShow) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (min-width: $desktopHDp) {
      grid-gap: 24px 40px;
    }
  }

  &__button {
    margin-top: 16px;
    height: 56px;
    @media (max-width: $desktopSD - 1) {
      padding: 12px 12px !important;
    }
    @media (min-width: $desktopSD) {
      margin-top: 24px;
      height: 72px;
    }
    @media (min-width: $desktopHDp) {
      margin-top: 32px;
    }
  }
}
</style>
