<i18n>
  {
    "ru": {
      "share": "Поделиться",
      "copied": "Ссылка скопирована в буфер обмена"
    },
    "en": {
      "share": "Share",
      "copied": "Link copied to clipboard"
    },
    "es": {
      "share": "Compartir",
      "copied": "Enlace copiado al portapapeles"
    }
  }
</i18n>

<template>
  <div class="root">
    <h3>{{ $t('share') }}:</h3>
    <div class="buttons">
      <SocialButton
        class="share-button"
        variant="fb"
        @click="fbShareHandler"
        mini
        round
      />
      <SocialButton
        v-if="$store.getters['city/SHOW_RUSSIAN_LANG']"
        class="share-button"
        variant="vk"
        @click="vkShareHandler"
        mini
        round
      />
      <SocialButton
        class="share-button"
        variant="tw"
        @click="twShareHandler"
        mini
        round
      />
      <button
        v-copy="link"
        v-copy:callback="handleCopy"
        v-tooltip.auto="$t('share')"
        class="share-button link"
      >
        <Icon src="chain.svg" size="s" />
      </button>
    </div>
  </div>
</template>

<script>
import { copy } from 'v-copy'
import { mapActions } from 'vuex'

export default {
  components: {
    Icon: () => import('~/components/common/Icon'),
    SocialButton: () => import('~/components/common/buttons/SocialButton'),
  },
  directives: {
    copy,
  },
  props: {
    link: {
      type: String,
      default: () => (process.client ? window.location.href : ''),
    },
  },
  mounted() {
    // const { href, origin } = window.location
    //
    // this.link = this.popoverShareLink ? origin + this.popoverShareLink : href

    window.FB &&
      window.FB.init({
        appId: 2044640165831513,
        status: true,
        xfbml: true,
        cookie: true,
        version: 'v3.1',
      })
  },
  methods: {
    ...mapActions({
      showSuccessMessage: 'notifications/success',
    }),
    handleCopy() {
      this.showSuccessMessage(this.$t('copied'))
    },
    vkShareHandler() {
      const url = `https://vk.com/share.php?url=${this.link}`
      window.open(
        url,
        '',
        'left=0,top=0,width=650,height=570,personalbar=0,toolbar=0,scrollbars=0,resizable=0',
      )
    },
    fbShareHandler() {
      let url = this.link
      let hashtag = 'whatwhere'
      window.FB.ui({
        url: url,
        method: 'share',
        href: url,
        hashtag: '#' + hashtag,
        redirect_ur: url,
        display: 'popup',
      })
    },
    twShareHandler() {
      let title = document.head.querySelector('[property="og:title"]').content
      let url = this.link
      let hashtag = 'whatwhere'
      let tweeterShareURL = 'http://twitter.com/share?'
      let params = {
        url: url,
        text: title,
        via: 'whatWhere',
        hashtags: hashtag,
      }
      for (const prop in params) {
        tweeterShareURL += '&' + prop + '=' + encodeURIComponent(params[prop])
      }
      window.open(
        tweeterShareURL,
        '',
        'left=0,top=0,width=550,height=450,personalbar=0,toolbar=0,scrollbars=0,resizable=0',
      )
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.root {
  display: flex;
  flex-direction: column;
  align-items: center;

  .buttons {
    display: inline-flex;
    flex-wrap: wrap;
    margin-top: 16px;

    .share-button + .share-button {
      margin-left: 5px;
    }

    .link {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      background-color: $blue;
      color: white;
      cursor: pointer;

      &:hover {
        background-color: $dark-blue;
      }
    }
  }
}
</style>
