<template>
  <div v-if="links.length" class="social-links">
    <span class="social-links__caption">
      {{ $t('mainpage.alwaysNear') }}&nbsp;{{ cityDecl }}
    </span>
    <ul class="social-links__grid">
      <li v-for="(link, index) in completeLink" :key="index">
        <SocialButton
          v-if="link.variant"
          :href="link.href"
          :variant="link.variant"
          mini
          round
        />
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  components: {
    SocialButton: () => import('~/components/common/buttons/SocialButton'),
  },
  props: {
    links: Array,
  },
  data: () => ({
    linkMapping: {
      facebook: 'fb',
      vk: 'vk',
      instagram: 'instagram',
      twitter: 'tw',
      telegram: 'tg',
      linkedin: 'linkedin',
    },
  }),
  computed: {
    completeLink() {
      return this.links
        .map(link =>
          Object.assign(link, {
            variant: this.linkMapping[link.type],
            href:
              link.link && link.link.startsWith('http')
                ? link.link
                : 'https://' + link.link,
          }),
        )
        .filter(v => {
          if (
            v.variant !== 'vk' ||
            this.$store.getters['city/SHOW_RUSSIAN_LANG']
          ) {
            return v
          }
        })
    },
    cityDecl() {
      return this.$store.getters['city/GET_CITY_DECL'](this.$i18n.locale)
    },
    countryId() {
      return this.$cookies.get('fromCountryId')
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.social-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;

  &__caption {
    @media (max-width: $desktopHD - 1) {
      @include text(1.5);
    }
    margin: 8px 48px 8px 0;
  }
  &__grid {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 5px;
    justify-content: flex-start;
  }
}
</style>
