<template>
  <nuxt-link :to="to" class="dummy-card">
    <slot>
      <div class="dummy-card__wrapper">
        <span class="dummy-card__text">
          {{ this.$t('mainpage.createEventAsEventCard') }}
        </span>
        <span class="dummy-card__button ww-icn-plus"></span>
      </div>
    </slot>
  </nuxt-link>
</template>

<script>
export default {
  props: {
    to: {
      type: String,
      default: '#',
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.dummy-card {
  --aspect-ratio-card: 1.75;
  --aspect-ratio-cover: 0.68;
  @media (min-width: $desktopSD) {
    --aspect-ratio-card: 1.44;
  }

  padding-top: calc(var(--aspect-ratio-card) * 100%);
  position: relative;

  cursor: pointer;
  background-image: url('~static/imgs/default-for-event.svg');
  background-size: cover;
  background-position: center;

  transition: box-shadow 0.3s ease;
  &:hover {
    box-shadow: 0 0 15px 0 rgba(209, 220, 234, 0.3);
  }

  &__wrapper {
    position: absolute;
    width: 80%;
    height: 40%;
    top: 50%;
    left: 10%;

    display: grid;
    grid-template-rows: 1fr min-content;
    justify-items: center;
    color: white;
  }

  &__text {
    text-align: center;
    @include text(1.5);
    @media (min-width: $desktopSD) {
      @include text(2);
    }
    @media (min-width: $desktopHDp) {
      @include text(3);
    }
  }

  &__button {
    padding: 0;
    height: 24px;
    width: 24px;
    border: solid 1px white;
    @media (min-width: $desktopSD) {
      height: 40px;
      width: 40px;
      border: solid 2px white;
    }
    @media (min-width: $desktopHDp) {
      height: 48px;
      width: 48px;
      border: solid 2px white;
    }
    &:before {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      color: white;
      font-size: 12px;
      @media (min-width: $desktopSD) {
        font-size: 24px;
      }
    }
  }
}
</style>
