<template>
  <component :is="currentComponent" />
</template>

<script>
import { prop, path } from 'ramda'
import { mapGetters } from 'vuex'

const pageVariants = {
  1: () => import('~/components/special/variants/V1'),
  2: () => import('~/components/special/variants/V2'),
  3: () => import('~/components/special/variants/V3'),
}

export default {
  layout: 'default',

  computed: {
    ...mapGetters({ project: 'project/data' }),
    currentComponent() {
      return pageVariants[this.project.version] || pageVariants[2]
    },
  },

  async fetch({ store, params, error, redirect, query }) {
    const id = params.id && prop('0', params.id.match(/\d+/))
    if (!id) return error({ statusCode: 404, message: 'Project not found' })

    try {
      const data = await store.dispatch('project/fetch', { id })
      if (data.url_id !== params.id) {
        return redirect(301, `/special/${data.url_id}`, query)
      }
    } catch (err) {
      const status = path(['status', 'response'], err)
      const statusText = path(['statusText', 'response'], err)

      return error({
        statusCode: status || 404,
        message: statusText || 'Not found',
      })
    }
  },
}
</script>
