<i18n src="./locales.json"></i18n>

<template>
  <div class="coupon">
    <div class="wrapper">
      <img
        class="background"
        alt="background"
        :src="`${STATIC_PATH}business/background.png`"
      />
      <div class="header">
        <img
          alt="coupon"
          :src="`${STATIC_PATH}business/coupon/coupon@lqip.png`"
          :data-srcset="
            `${STATIC_PATH}business/coupon/coupon.png 1x,
           ${STATIC_PATH}business/coupon/coupon@2x.png 2x,
           ${STATIC_PATH}business/coupon/coupon@3x.png 3x`
          "
          class="header__coupon lazyload blur-up"
        />
        <div class="header__text">
          {{ $tc('publishEvent', 0) }}
          <span class="header__text--marked">{{ $tc('publishEvent', 1) }}</span>
          {{ $tc('publishEvent', 2) }}
        </div>
      </div>
      <Form @submit="submitHandler" />
    </div>
  </div>
</template>

<script>
import 'lazysizes'
import 'lazysizes/plugins/attrchange/ls.attrchange'
import 'lazysizes/plugins/blur-up/ls.blur-up'

export default {
  components: {
    Form: () => import('../Form'),
  },
  data: () => ({ STATIC_PATH: process.env.STATIC_PATH || '/' }),
  methods: {
    submitHandler(form) {},
  },
}
</script>

<style scoped lang="scss">
@import '~/assets/css/variables.scss';

.coupon {
  @include prevent-body-padding;
  background-color: #a7daf9;
  padding-bottom: 160px;

  .wrapper {
    max-width: 1008px;
    z-index: 1;
    position: relative;
    margin: auto;

    @media (max-width: $desktopSD - 1) {
      margin: 0;
    }

    .background {
      position: absolute;
      max-width: 100%;
      height: 500px;
      width: 500px;
      transform: translate(-10%, -5%);
      z-index: -1;
    }
  }

  .header {
    height: 160px;
    margin: auto;
    width: min-content;

    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-around;

    @media (min-width: $desktopHDp) {
      height: 192px;
    }

    &__coupon {
      width: 153px;
      @media (min-width: $desktopSD) {
        width: 216px;
      }
      @media (min-width: $desktopHD) {
        width: 238px;
      }
    }

    &__text {
      width: 190px;
      font-weight: bold;
      @include text(2.25);
      @media (min-width: $desktopSD) {
        margin-left: 8%;
        @include text(3);
        width: 382px;
      }

      &--marked {
        background-color: #f7ff00;
        color: $blue;
        white-space: nowrap;
      }
    }
  }
}
</style>
