<template>
  <Sessions class="wrapper" />
</template>

<script>
import { mapGetters } from 'vuex'

import { setLatestModifiedAnd304 } from '~/utils'
import { getParams } from '~/utils/event'

export default {
  components: {
    Sessions: () => import('~/components/search/Sessions'),
  },
  computed: {
    ...mapGetters({
      cityDeclination: 'city/GET_CITY_DECL',
    }),
    cityName() {
      return this.cityDeclination(this.$i18n.locale)
    },
    metaTitle() {
      return `${this.$t('seo.allEvents')} ${this.cityName} ${this.$t(
        'seo.on',
      )} WhatWhere.World`
    },
  },
  async fetch({ store, route, res, req }) {
    const id = store.getters['city/GET_CITY'].id

    const params = getParams({
      params: route.query,
      defaultParams: {
        geoname_ids: id,
      },
    })

    try {
      await store.dispatch('search/sessions/fetch', params)
    } catch (err) {
      console.log(err)
    }

    if (process.server) {
      setLatestModifiedAnd304({ res, req, store }, [
        store.getters['search/sessions/modified'],
      ])
    }
  },
  head() {
    return {
      title: this.metaTitle,
      meta: [
        { hid: 'ogtype', property: 'og:type', content: 'article' },
        { hid: 'ogTitle', property: 'og:title', content: this.metaTitle },
        { hid: 'title', name: 'title', content: this.metaTitle },
        {
          hid: 'ogUrl',
          property: 'og:url',
          content: `${process.env.domainUrl}${this.$route.path}`,
        },
      ],
    }
  },
}
</script>
