<template>
  <div class="categories">
    <Loader v-if="loading" color="white" />
    <Expander v-else :minHeight="112" :hideButton="showCategories.length < 13">
      <List v-model="selected" :options="showCategories" @input="select" />
    </Expander>
  </div>
</template>

<script>
import { prop } from 'ramda'
import { mapActions, mapGetters } from 'vuex'

export default {
  components: {
    Expander: () => import('~/components/common/Expander'),
    List: () => import('~/components/common/Categories/List'),
    Loader: () => import('~/components/common/Loader'),
  },
  props: {
    city: Number,
  },
  data: () => ({
    selected: [],
    showCategories: [],
    loading: false,
    categoriesEmpty: false,
  }),
  computed: {
    ...mapGetters({
      mainCategories: 'main/categories/filtered',
      filteredCategories: 'categories/filtered',
    }),
  },
  watch: {
    city(cityId) {
      this.selected = []
      this.updateCategories(cityId)
    },
  },
  mounted() {
    if (this.filteredCategories.length) {
      this.showCategories = this.filteredCategories
    }
    if (this.mainCategories.length) {
      this.showCategories = this.mainCategories
    }
    if (!this.showCategories.length) {
      this.updateCategories(this.city)
    }
  },
  methods: {
    ...mapActions({
      fetchCategories: 'categories/FETCH',
    }),
    prop,
    async updateCategories(cityId) {
      this.loading = true
      await this.fetchCategories({ geoname_id: cityId })
      this.showCategories = this.filteredCategories
      this.loading = false
    },
    select() {
      this.$emit('categorySelected', {
        slugs: this.selected.map(el => el.slug),
        names: this.selected.map(el => el.title),
      })
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.categories {
  margin-bottom: 48px;
}
</style>
