<template>
  <div v-if="dataCities.length" class="popover__places-container">
    <div v-for="city in dataCities" :key="city.id" class="popover__place-item">
      <span @click="setCity(city)">
        {{ city.name }},
        {{ city.country.id === 6252001 ? city.region.code + ',' : '' }}
        {{ city.country.name }}
      </span>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    dataCities: {
      type: Array,
      default: () => [],
    },
  },
  methods: {
    setCity(city) {
      this.$emit('setCity', { name: city.name, id: city.id })
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';
@import '~/assets/css/popover.scss';
</style>
