<template>
  <div class="popover" @keyup.esc="closePopoverSearch">
    <div class="popover__top">
      <div class="popover-close-button">
        <button
          v-tooltip.auto="$t('popovers.close')"
          class="ww-icn-cross"
          @click="closePopoverSearch"
        ></button>
      </div>
      <form class="popover__form popover__form_multi" action="" method="post">
        <label class="popover__input-block">
          <input
            v-model="searchText"
            class="popover__input"
            type="text"
            autocomplete="off"
            name=""
            :placeholder="$t('mainpage.placeholder')"
            @keydown.enter="goSearch"
          />
        </label>
        <label class="popover__input-block popover__input-block_place">
          <input
            v-model="city"
            class="popover__input"
            type="text"
            autocomplete="off"
            name=""
            :placeholder="getCityName"
            @input="getCity"
          />
        </label>
        <DatePickerPeriod
          class="popover__input popover__input-block"
          :from.sync="dateFrom"
          :to.sync="dateTo"
          :fromLimit="dateFromLimit"
        />
      </form>
    </div>
    <div class="popover__bottom">
      <div class="wrapper">
        <Loader v-if="citiesLoading" color="white" />
        <CitiesList
          v-show="!hideCities"
          :dataCities="dataCities"
          @setCity="setCity"
        />
        <CategoriesList
          v-show="!hideCatgs"
          :city="selCityId"
          @categorySelected="handleCategories"
        />
        <Button v-if="!hideCatgs" invert @click="goSearch">
          {{ $t('common.btnShow') }}
        </Button>
      </div>
    </div>
  </div>
</template>

<script>
import { debounceEvent } from '~/utils'
import { pickBy, identity, filter } from 'ramda'
const pattern = /^(0?[1-9]|1[0-9]|2[0-9]|3[0-1])\.(0?[1-9]|1[0-2])\.(201[0-9]|202[0-9])$/
const notNull = val => val !== null

export default {
  components: {
    Button: () => import('~/components/common/buttons/Button'),
    DatePickerPeriod: () => import('~/components/common/input/DatePickerPeriod'),
    Loader: () => import('~/components/common/Loader'),
    CategoriesList: () => import('./CategoriesList'),
    CitiesList: () => import('./CitiesList'),
  },
  data() {
    return {
      city: undefined,
      cityId: null,
      searchText: '',
      dateTo: null,
      dateFrom: null,
      masked: true,
      citiesLoading: false,
      dataCities: [],
      validDateTo: false,
      validDateFrom: false,
      selCatgs: [],
      nameCatgs: [],
      hideCatgs: false,
      hideCities: false,
    }
  },
  computed: {
    getCityName() {
      return this.$store.getters['city/GET_CITY_NAME'](this.$i18n.locale)
    },
    selCityId() {
      return this.cityId || this.$store.getters['city/GET_CITY'].id
    },
    dateFromLimit() {
      return this.$moment()
        .subtract(1, 'days')
        .format('DD.MM.YYYY')
    },
  },
  mounted() {
    this.getCity = debounceEvent(this.getCity, 300)
  },
  methods: {
    goSearch() {
      const categories = this.selCatgs.join()
      const dates = filter(notNull, [this.dateFrom, this.dateTo]).join()
      const query = {
        search: this.searchText,
        geoname_id: this.selCityId,
        geoname_ids: this.selCityId,
        category: categories,
        dates,
        actual: !dates ? true : null,
      }
      this.$store.dispatch('search/CHANGE_SEARCH', {
        text: this.searchText,
      })
      if (this.$route.name === 'search') {
        this.$store.dispatch('search/DO_SEARCH', { query })
      }
      this.$router.push({
        name: 'search',
        query: pickBy(identity, query),
        params: {
          cityName: this.city || this.getCityName,
          catgs: this.nameCatgs,
        },
      })
      this.closePopoverSearch()
    },
    getDateFrom(value) {
      if (pattern.test(value)) {
        this.validDateFrom = true
        this.dateFrom = value
      } else this.validDateFrom = false
    },
    getDateTo(value) {
      if (pattern.test(value)) {
        this.validDateTo = true
        this.dateTo = value
      } else this.validDateTo = false
    },
    async getCity(e) {
      this.hideCatgs = true
      this.dataCities = []
      const city = e.target.value
      if (city.length >= 3) {
        this.citiesLoading = true
        const { results } = await this.$store.dispatch('cities/FETCH', {
          search: city,
        })
        this.dataCities = results
        this.hideCities = false
        this.citiesLoading = false
      }
    },
    setCity(city) {
      this.hideCities = true
      this.hideCatgs = false
      this.city = city.name
      this.cityId = city.id
    },
    closePopoverSearch() {
      this.$store.dispatch('popovers/TOGGLE_POPOVER', '')
    },
    handleCategories(ev) {
      this.selCatgs = ev.slugs
      this.nameCatgs = ev.names
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';
@import '~/assets/css/popover.scss';

.popover__bottom {
  overflow-x: hidden;
  .wrapper {
    @media (max-width: $desktopHD) {
      margin: 0 16px;
      max-width: unset;
    }
  }
}
</style>
