<i18n>
{
  "ru": {
    "noTickets": "На событие не зарегистрированы билеты",
    "noTicketsSold": "На это событие еще не проданы билеты",
    "addTickets": "Завести билеты",
    "table": "Таблица",
    "scheme": "Схема зала",
    "attended": "Пришли",
    "left": "Осталось"
  },
  "en": {
    "noTickets": "No event tickets registered",
    "noTicketsSold": "Tickets for this event haven't been sold yet",
    "addTickets": "Add tickets",
    "table": "Table",
    "scheme": "Seat scheme",
    "attended": "Attended",
    "left": "Left"
  },
  "es": {
    "noTickets": "No event tickets registered",
    "noTicketsSold": "Tickets for this event haven't been sold yet",
    "addTickets": "Add tickets",
    "table": "Table",
    "scheme": "Seat scheme",
    "attended": "Attended",
    "left": "Left"
  }
}
</i18n>

<template>
  <div class="pass-page">
    <div v-if="cover" class="pass-page__bg hidden-mobile-only">
      <AsyncImage
        :image="cover.image"
        :width="cover.original_width"
        :height="cover.original_height"
        class="image"
      />
    </div>
    <div class="pass-page__wrapper">
      <div class="pass-page__content">
        <nuxt-link :to="returnRoute" class="popover-close-button ww-icn-cross" />
        <SessionHeader class="session-header" />
        <transition name="fade" mode="out-in">
          <div v-if="isLoading" key="loader" class="content-loader">
            <Loader :margin="0" />
          </div>
          <div v-else-if="hasSchemes && hasTickets" key="has-tickets">
            <div class="content-header">
              <TabRow v-model="tab" :tabs="tabs" class="content-header__tabs" />
              <div class="ticket-summary">
                <div class="ticket-summary__used">
                  <span class="ticket-summary__title">{{ $t('attended') }}:</span>
                  <span
                    class="ticket-summary__stat ticket-summary__stat--big"
                  >{{ ticketSummary.used }}</span>
                  <span class="ticket-summary__stat">&nbsp;/&nbsp;{{ ticketSummary.total }}</span>
                </div>
                <div class="ticket-summary__actual">
                  <span class="ticket-summary__title">{{ $t('left') }}:</span>
                  <span
                    class="ticket-summary__stat ticket-summary__stat--big"
                  >{{ ticketSummary.actual }}</span>
                </div>
              </div>
            </div>

            <transition name="fade" mode="out-in">
              <TicketsTable v-if="tab === 'table'" key="table" />
              <TicketsScheme v-else-if="tab === 'scheme'" key="scheme" />
            </transition>
          </div>
          <div v-else-if="hasSchemes && !hasTickets">{{ $t('noTicketsSold') }}</div>
          <div v-else key="no-tickets" class="empty-tickets">
            <span class="empty-tickets__message">{{ $t('noTickets') }}</span>
            <nuxt-link :to="addTicketUrl">
              <Button>{{ $t('addTickets') }}</Button>
            </nuxt-link>
          </div>
        </transition>
      </div>
    </div>
  </div>
</template>

<script>
import { prop, path } from 'ramda'
import { mapGetters, mapActions } from 'vuex'

import { schemesByType } from '~/utils/schemes'
import { storeModules } from '~/constants/storeModules'
import ticketsPassModule from '~/storeModules/ticketsPass'

import AsyncImage from '~/components/common/AsyncImage'
import SessionHeader from '~/components/events/pass-tickets/SessionHeader'
import TicketsTable from '~/components/events/pass-tickets/TicketsTable'
import Loader from '~/components/common/Loader'
import TabRow from '~/components/common/TabRow'

export default {
  components: {
    AsyncImage,
    SessionHeader,
    TicketsTable,
    Loader,
    TabRow,
    TicketsScheme: () =>
      import('~/components/events/pass-tickets/TicketsScheme'),
    Button: () => import('~/components/common/buttons/Button'),
  },
  beforeRouteEnter(to, from, next) {
    next(vm => (vm.refererRoute = from))
  },
  data: () => ({
    isLoading: true,
    tab: 'table',
    refererRoute: null,
  }),

  computed: {
    ...mapGetters({
      session: 'events/session/data',
      schemes: `${storeModules.ticketsPass}/schemes`,
      tickets: `${storeModules.ticketsPass}/tickets`,
    }),
    returnRoute() {
      if (this.refererRoute) {
        return this.refererRoute.fullPath
      }
      return "/"
    },
    addTicketUrl() {
      return {
        name: 'events-id-tickets-edit',
        params: {
          id: path(['event', 'url_id'], this.session),
        },
      }
    },
    cover() {
      return path(['event', 'cover'], this.session)
    },
    ticketsProvider() {
      return path(['event', 'tickets', 'provider'], this.session)
    },
    isWwProvider() {
      return this.ticketsProvider === 'whatwhere'
    },
    hasSchemes() {
      return this.isWwProvider && prop('count', this.schemes)
    },
    hasTickets() {
      return prop('count', this.tickets)
    },
    schemesByType() {
      const schemes = prop('results', this.schemes) || []

      return schemesByType({ schemes })
    },
    hasSchemesWithSeats() {
      return Boolean(this.schemesByType.withSeats.length)
    },
    tabs() {
      return [
        {
          id: 'table',
          title: this.$t('table'),
        },
        ...(this.hasSchemesWithSeats
          ? [
              {
                id: 'scheme',
                title: this.$t('scheme'),
              },
            ]
          : []),
      ]
    },
    ticketSummary() {
      if (!this.hasTickets) return null

      return this.tickets.results.reduce(
        (result, ticket) => {
          const { status } = ticket

          switch (status) {
            case 'actual':
              result.actual += 1
              break

            case 'used':
              result.used += 1
              break
          }

          result.total += 1

          return result
        },
        {
          actual: 0,
          used: 0,
          total: 0,
        },
      )
    },
  },

  async fetch({ redirect, params, error, store }) {
    const id = prop('0', params.id.match(/\d+/))
    if (!id) return error({ statusCode: 404 })

    try {
      const session = await store.dispatch('events/session/FETCH', id)

      if (!path(['permissions', 'can_edit'], session)) {
        return redirect({
          name: 'events-sessions-id',
          params: {
            id: path(['url_id'], session),
          },
        })
      }
    } catch (e) {
      console.log(e)
      return error({ statusCode: 404 })
    }
  },

  beforeCreate() {
    this.$store.registerModule(storeModules.ticketsPass, ticketsPassModule, {
      preserveState: false,
    })
  },

  async mounted() {
    await this.initLoad()
  },

  beforeDestroy() {
    this.$store.unregisterModule(storeModules.ticketsPass)
  },

  methods: {
    ...mapActions({
      getTickets: `${storeModules.ticketsPass}/getTickets`,
      getSchemes: `${storeModules.ticketsPass}/getSchemes`,
    }),
    async initLoad() {
      this.isLoading = true

      await this.getSchemes()

      if (this.hasSchemes) {
        await this.getTickets()
      }

      this.isLoading = false
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.pass-page {
  @include prevent-body-padding;
  @include full-height-without-header;

  position: relative;
  display: flex;
  flex-direction: column;
  .popover-close-button {
    color: $blue;
  }
  &__bg {
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;

    .image {
      $blur: $base;
      position: absolute;
      top: -$blur * 2;
      right: -$blur * 2;
      bottom: -$blur * 2;
      left: -$blur * 2;
      filter: blur($blur);
    }

    &:after {
      content: '';
      background: rgba(#000, 0.1);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

  &__wrapper {
    max-height: 100%;
    min-height: 100%;
    overflow-y: auto;
    position: relative;

    @media (min-width: $desktopSD) {
      padding: 48px 16px 0 16px;
    }
  }

  &__content {
    position: relative;
    min-height: 100%;
    max-width: 860px;
    margin: auto;
    display: flex;
    flex-direction: column;

    @media (min-width: $desktopSD) {
      background: #fff;
      padding: 48px 70px 54px;
    }
  }

  .session-header {
    margin-bottom: 24px;
  }

  .empty-tickets {
    padding: 0 16px;

    &__message {
      display: block;
      margin-bottom: 8px;
    }

    @media (min-width: $desktopSD) {
      padding: 0;
    }
  }

  .content-loader {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .content-header {
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    @media (min-width: $desktopSD) {
      padding: 0;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 16px;
    }

    &__tabs {
      width: 100%;
      max-width: 328px;
      margin-bottom: 24px;

      @media (min-width: $desktopSD) {
        margin-bottom: 0;
        margin-right: 32px;
      }
    }
  }

  .ticket-summary {
    display: flex;

    &__actual,
    &__used {
      display: flex;
      align-items: baseline;
    }

    &__used {
      margin-right: 56px;
    }

    &__title {
      @include text(1.5);
      display: inline-block;
      margin-right: 12px;
    }

    &__stat {
      color: $black-gray;
      font-weight: bold;
      @include text(2);
      line-height: 32px;

      &--big {
        color: #000;
        @include text(3);
      }
    }
  }
}
</style>