<template>
  <VueMultiSelect
    :value="value"
    :options="citiesAndWorld"
    :internalSearch="false"
    label="name"
    trackBy="id"
    :placeholder="$t('mainpage.cityPlaceholder')"
    :loading="loading"
    :showNoOptions="false"
    :allowEmpty="false"
    selectGroupLabel
    selectLabel
    selectedLabel
    deselectLabel
    searchable
    class="multi-select"
    @search-change="asyncFind"
    @select="$emit('input', $event)"
  >
    <template v-for="(_, name) of $scopedSlots" v-slot:[name]="scope">
      <slot :name="name" v-bind="scope" />
    </template>

    <template v-slot:singleLabel="scope">
      <slot name="singleLabel" v-bind="{ ...scope, getCityName }">
        <span class="multi-select__icon address" />
        <span v-text="getCityName(scope.option)" />
      </slot>
    </template>

    <template v-slot:option="scope">
      <slot name="option" v-bind="{ ...scope, getCountry }">
        {{ getCountry(scope.option) }}
      </slot>
    </template>

    <template v-slot:noResult="scope">
      <slot name="noResult" v-bind="scope">
        {{ $t('validation.noRes') }}
      </slot>
    </template>
    <template v-slot:afterList="scope">
      <div v-observe-visibility="reachedEndList" v-if="hasNextPage"  />
    </template>
  </VueMultiSelect>
</template>

<script>
import VueMultiSelect from 'vue-multiselect'
import { mapActions, mapGetters } from 'vuex'
import { debounce } from '~/utils'
import { path } from 'ramda'
import { getCities } from '~/api'

export default {
  components: {
    VueMultiSelect,
  },
  props: {
    value: {
      type: [Object,Number],
      default: () => ({ id: null }),
    },
  },
  data: () => ({
    loading: false,
    hasNextPage: false,
    page: 1,
    options: [],
    inputValue: null
  }),
  computed: {
    ...mapGetters({
      cities: 'cities/results',
      getCity: 'city/GET_CITY',
    }),
    citiesAndWorld() {
      return [
        { id: null, name: this.$t('mainpage.searchBar.allWorld') },
        ...this.options,
      ]
    },
  },
  watch: {
    async value(v) {
      if (!v)
        return
      if (v && v.id && !v.name) {
        const data = await this.fetchCity({ id: v.id })
        this.$emit('input', data)
      }
    },
  },
  async mounted() {
    this.autocompleteOff && this.turnAutocompleteOff()
    const country = path(['country'], this.getCity)
    let data;
    if(country) {
      data = await this.searchCities({ country })
    } else {
      data = await this.searchCities()
    }
    this.hasNextPage = data.next
    this.options = [...data.results]
  },
  methods: {
    ...mapActions({
      searchCities: 'cities/FETCH',
      fetchCity: 'city/FETCH_CITY',
    }),
    reachedEndList(reached) {
      if (reached) {
        this.fetchNextPage();
      }
    },
    fetchNextPage: debounce(async function() {
      this.page = this.page + 1
      await this.fetch()
    }, 300),
    async fetch () {
      try {
        this.loading = true
        const country = path(['country'], this.getCity)
        let data;
        if(country && !this.inputValue) {
          data = await this.searchCities({ country, page: this.page })
        } else if(this.inputValue) {
          data = await this.searchCities({ search: this.inputValue, page: this.page })
        } else {
          data = await this.searchCities({ page: this.page })
        }
        this.options = [...this.options,...data.results]
        this.page = data.page_number
        this.hasNextPage = data.next
      } catch (e) {
        console.log(e)
      } finally {
        this.loading = false
      }
    },
    asyncFind: debounce(async function(v) {
      if (!v.length) return
      this.inputValue = v
      this.loading = true
      try {
        this.options = []
        this.page = 1
        this.hasNextPage = false
        const searchOptions = await this.searchCities({ search: v, expand: 'region,country' })
        this.options = [...searchOptions.results]
        this.hasNextPage = searchOptions.next
      } finally {
        this.loading = false
      }
    }, 600),
    turnAutocompleteOff() {
      // https://developer.mozilla.org/en-US/docs/Web/Security/Securing_your_site/Turning_off_form_autocompletion
      const input = this.$el.querySelector('input')
      input && input.setAttribute('autocomplete', 'nope')
    },
    getCityName(city) {
      const loc = this.$i18n.locale === 'ru' ? 'ru_ru' : 'en_us'
      return path(['translations', loc, 'name'], city) || path(['name'], city)
    },
    getCountry: city => {
      if (city.country) {
        return city.country.id === 6252001
          ? [city.name, city.region.code, city.country.name].join(', ')
          : [city.name, city.country.name].join(', ')
      } else {
        return city.name
      }
    },
  },
}
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.multi-select__icon {
  &::before {
    font-size: 8px;
    margin-left: -16px;
    @media (min-width: $desktopSD) {
      font-size: 24px;
      margin-left: 0;
      color: $blue;
    }
  }
}

.multi-select /deep/ {
  font-family: $circe;
  color: #000;

  input {
    padding: 6px 0;
  }

  .multiselect__option--highlight {
    background: $blue;
  }

  .multiselect__input {
    box-shadow: none;
    flex-grow: 1;
    max-width: 100%;

    &::placeholder {
      color: rgba(black, 0.4);
    }
  }

  .multiselect__tags {
    border-radius: 0;
    padding: 16px 40px 8px 16px;
    border: 0;
    display: flex;
    flex-wrap: wrap;

    @media (min-width: $desktopHD) {
      line-height: 6 * $base;
      padding-top: 20px;
      padding-bottom: 12px;
    }
  }

  .multiselect__placeholder {
    padding: 0;
    margin-bottom: 8px;
    color: rgba(black, 0.4);
    min-height: 3 * $base;

    @media (min-width: $desktopHD) {
      min-height: 6 * $base;
    }
  }

  .multiselect__single {
    padding: 0;
    @include text(4);
  }

  .multiselect__tag-icon {
    &::after {
      color: #fff;
    }

    &:hover {
      background: $blue;
    }
  }

  .multiselect__spinner {
    height: auto;
    top: 2px;
    right: 2px;
    bottom: 2px;
    z-index: 1;

    &::before,
    &::after {
      border-color: $blue transparent transparent;
    }
  }

  .multiselect__loading-enter-active,
  .multiselect__loading-leave-active {
    transition: none;
  }

  .multiselect__content-wrapper {
    border: 0;
    border-radius: 0;
    box-shadow: 0 0 0 2px rgba($gray, 1);
    transition: 0.3s ease-out;
    z-index: -1;
  }

  .multiselect {
    &__select {
      display: none;
    }

    &__single,
    &__option,
    &__placeholder,
    &__input,
    &__tags,
    &__tag,
    &__tag-icon {
      display: flex;
      align-items: center;
      height: 100%;
      width: 100%;
      max-height: 80px;
      margin: 0;
      padding: 0;
      border: none;
      @include text(2);
      @media (min-width: $desktopSD) {
        @include text(3);
      }
    }

    &__element {
      height: 56px;
    }

    &__tags,
    &__option {
      padding-left: 32px;
    }
  }
}

.multi-select--error /deep/ {
  .multiselect__tags {
    box-shadow: 0 0 0 2px $red;
    transition: 0.3s ease-out;
  }
}

.multiselect--active /deep/ {
  z-index: 10;

  .multiselect__tags {
    box-shadow: 0 0 0 2px rgba($blue, 1);
    transition: 0.3s ease-out;
  }

  .multiselect__select {
    transform: translateY(-50%) rotateZ(180deg);
  }
}
</style>
