<template>
  <div class="bg-image"></div>
</template>

<!--<script>-->
<!--export default {-->
<!--data() {-->
<!--return {-->
<!--url: '~/assets/images/tmp/bigevent/bigevent_bg.jpg'-->
<!--}-->
<!--}-->
<!--}-->
<!--</script>-->

<style lang="scss">
.big-event {
  .bg-image {
    width: 100%;
    position: absolute;
    background-image: url('~assets/images/tmp/bigevent/bigevent_bg.jpg');
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
    height: 672px;
    z-index: 1;
    &::after {
      width: 100%;
      height: 100%;
      content: '';
      background: #154e89;
      opacity: 0.6;
      position: absolute;
      top: 0;
      left: 0;
      display: block;
    }
  }
}
</style>
