<template>
  <header class="big-event-header">
    <h1>
      <img alt="Лекторий" src="~assets/images/tmp/bigevent/lectoriy.svg" />
    </h1>
    <h2>Объективная информация о разных сферах жизни из первых уст</h2>
    <div class="big-event-header__socials">
      <div class="action-socials">
        <SocialButton
          href="http://peremen.party"
          variant="fb"
          :title="$t('common.share')"
        />
        <SocialButton
          href="http://peremen.party"
          variant="vk"
          :title="$t('common.share')"
        />
        <SocialButton
          href="http://peremen.party"
          variant="tw"
          :title="$t('common.share')"
        />
        <SocialButton
          href="http://peremen.party"
          variant="tg"
          :title="$t('common.share')"
        />
      </div>
    </div>
  </header>
</template>

<script>
export default {
  components: {
    SocialButton: () => import('~/components/common/buttons/SocialButton'),
  },
}
</script>

<style lang="scss">
@import '~/assets/css/variables.scss';

.big-event {
  .action-socials {
    display: flex;
    flex-wrap: wrap;
    * {
      margin-right: 8px;
    }
  }
  &-header {
    padding-top: 88px;
    padding-bottom: 107px;
    height: 513px;
    max-width: 405px;
    @media (max-width: 1500px) {
      margin: 0 auto;
    }

    h1 {
      padding: 0;
      margin: 0;
      margin-bottom: 53px;
    }
    h2 {
      color: #fff;
    }
    &__socials {
      margin-top: 30px;
    }
  }
}
</style>
