<template>
  <div class="big-event-side sticky__side">
    <div class="big-event-side__content">
      <h3 class="big-event-side__title">Лекторий Партии Перемен</h3>
      <div class="big-event-side__links">
        <a href="#" class="big-event-side__links-items">Лекции</a>
        <a href="#" class="big-event-side__links-items">Кинопоказы</a>
        <a href="#" class="big-event-side__links-items">Семинары</a>
      </div>
      <div class="big-event-side__address">
        <div class="address"></div>
        <div>Офис Партии Перемен, ул. Поварская д. 20, офис 32</div>
        <div class="metro">
          <div></div>
          <span>Арбатская</span>
        </div>
      </div>
      <div class="big-event-side__socials">
        <span>{{ $t('special.connectWithUs') }}</span>
        <div class="action-socials">
          <SocialButton
            href="http://peremen.party"
            variant="fb"
            :title="$t('common.share')"
          />
          <SocialButton
            href="http://peremen.party"
            variant="vk"
            :title="$t('common.share')"
          />
          <SocialButton
            href="http://peremen.party"
            variant="tw"
            :title="$t('common.share')"
          />
          <SocialButton
            href="http://peremen.party"
            variant="tg"
            :title="$t('common.share')"
          />
        </div>
      </div>
      <div class="big-event-side__site-link">
        <a href="http://peremen.party" target="_blank">www.peremen.party</a>
      </div>
      <div class="big-event-side__actions">
        <ShareBtn />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  components: {
    ShareBtn: () => import('~/components/common/buttons/ShareBtn'),
    SocialButton: () => import('~/components/common/buttons/SocialButton'),
  },
}
</script>

<style lang="scss">
@import '~/assets/css/variables.scss';
@import '~/assets/css/sticky.scss';

.big-event {
  &-side {
    padding-top: 44px;

    &::before {
      position: absolute;
      content: '';
      width: 84px;
      height: 84px;
      top: 0;
      left: 30px;
      background: #fff;
      border-radius: 50%;
      display: block;
      border: 2px solid #f8f9fa;
      background-image: url('~assets/images/tmp/bigevent/lectoriy_letter.svg');
      background-repeat: no-repeat;
      background-position: center 5px;
    }
  }
  &-side__content {
    background: #fff;
    padding: 64px 32px 32px 32px;
  }

  &-side__title {
    @include text(3);
    font-weight: bold;
    line-height: 1.33;
    color: #000;
    margin-bottom: 20px;
  }
  &-side__links {
    margin-bottom: 18px;
    &-items {
      color: #199bd7;
    }
    &-items::after {
      content: ', ';
      color: #199bd7;
    }
    &-items:last-child::after {
      content: '';
    }
  }
  &-side__address {
    margin-bottom: 33px;
    display: grid;
    grid-template-columns: 25px 198px;
    grid-row-gap: 16px;
    .metro {
      grid-column: 2;
      div {
        display: inline-block;
        height: 8px;
        width: 8px;
        border-radius: 50%;
        background-color: #a067df;
        margin-right: 8px;
      }
      span {
        opacity: 0.4;
      }
    }
  }
  &-side__socials {
    margin-bottom: 33px;
    span {
      line-height: 1.5;
      display: block;
      margin: 0;
      margin-bottom: 8px;
    }
    .action-socials {
      display: flex;
      flex-wrap: wrap;
      * {
        margin-right: 8px;
      }
    }
  }
  &-side__site-link {
    margin-bottom: 33px;
    a {
      color: #199bd7;
    }
  }
}
</style>
