<template>
  <section class="main">
    <h2>{{ $t('special.events') }}</h2>
    <PeriodFilter
      v-model="period"
      :buttons="filterButtons"
      :disabled="LOADING"
    />
    <div class="events">
      <EventCard
        v-for="session in results"
        :key="session.id"
        :value="session"
      />
    </div>
    <Button v-if="more && !isLoading" @click="fetchMoreEvents">
      {{ $t('special.showMore') }} {{ LEFT_TO_GET | lessFour }}
    </Button>
    <Loader v-if="isLoading" color="#f50052" />
  </section>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  components: {
    Loader: () => import('~/components/common/Loader'),
    Button: () => import('~/components/common/buttons/Button'),
    EventCard: () => import('~/components/common/EventCard'),
    PeriodFilter: () => import('~/components/common/input/PeriodFilter'),
  },
  filters: {
    lessFour(number) {
      return number < 4 ? number : 4
    },
  },
  props: {
    project: {
      type: Number,
      required: true,
    },
  },
  data() {
    return {
      period: '',
      isLoading: false,
      filterButtons: [
        {
          value: '',
          name: 'Все',
        },
        {
          value: 'week',
          name: 'Неделя',
        },
        {
          value: 'month',
          name: 'Месяц',
        },
      ],
      redLoader: false,
    }
  },
  computed: {
    ...mapGetters('project/sessions', ['results', 'leftToGet', 'more']),
    ...mapGetters('users', ['users']),
  },
  watch: {
    period(value) {
      this.fetch({ project: this.project, period: value, page_size: 4 })
    },
  },
  methods: {
    ...mapActions('project/sessions', ['fetch', 'fetchMore']),
    async fetchMoreEvents() {
      this.isLoading = true
      await this.fetchMore()
      this.isLoading = false
    },
  },
}
</script>

<style scoped lang="scss">
@import '~/assets/css/variables.scss';
@import '~/assets/css/event-grid.scss';

.main {
  display: grid;
  padding: 14px 0 72px 0;
  align-items: center;
  justify-content: center;

  grid-template-rows: 48px 82px;
  grid-template-columns: 632px;

  @media (max-width: 660px), (min-width: 970px) and (max-width: 1270px) {
    grid-template-columns: 100%;
    justify-content: start;
  }

  .events {
    display: grid;
    justify-content: center;
    gap: 40px;
    grid-template-columns: 296px 296px;

    .expert {
      grid-row: 2;
      grid-column: 1 / 3;
    }

    @media (max-width: 660px), (min-width: 970px) and (max-width: 1270px) {
      grid-template-columns: 296px;
      justify-content: start;

      .expert {
        grid-row: 3;
        grid-column: 1;
        margin-left: 0;
      }
    }
  }

  .button {
    margin-top: 40px;
  }
}
</style>
