<template>
  <section v-if="managers.length" class="main">
    <h2>{{ $t('special.officialRepresentatives') }}</h2>
    <div class="container">
      <div v-for="user in managers" :key="user.id" class="item">
        <Avatar :user="user" size="48" class="photo" />
        <div class="name">{{ user.name }}</div>
        <div class="person">{{ user.about }}</div>
      </div>
    </div>
  </section>
</template>

<script>
import { mapGetters } from 'vuex'
import { path } from 'ramda'

export default {
  components: {
    Avatar: () => import('~/components/common/Avatar'),
  },
  computed: {
    ...mapGetters('users', ['users']),
    managers() {
      return this.users.filter(user => user.user_type === 'organizer')
    },
  },
  filters: {
    avatar(user) {
      return path(['avatar', 'image'], user)
    },
  },
}
</script>

<style scoped lang="scss">
@import '~/assets/css/variables.scss';

.main {
  display: grid;
  padding: 55px 0;
  grid-auto-rows: 48px;
  grid-template-columns: minmax(auto, 632px);
  row-gap: 25px;
  justify-content: center;

  .container {
    display: grid;
    gap: 8px;
    grid-template-columns: 1fr 1fr;

    .item {
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 48px auto;
      column-gap: 25px;
      align-items: center;

      .photo {
        grid-column: 1;
        grid-row: 1 / 3;
      }

      .name {
        cursor: pointer;
        color: #199bd7;
      }

      .person {
        font-size: 14px;
      }
    }
  }

  @media (max-width: 1270px) {
    .container {
      display: grid;
      grid-template-columns: 1fr;
    }
  }
}
</style>
