<template>
  <button class="organizer-banner" @click="$emit('click')">
    <AsyncImage
      class="avatar"
      :image="project.logo && project.logo.image"
      width="200"
      height="200"
    />
    <span class="link">{{ $t('special.connectOrganizer') }}</span>
    <slot></slot>
  </button>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'OrganizerBanner',

  components: {
    AsyncImage: () => import('~/components/common/AsyncImage'),
  },

  computed: {
    ...mapGetters({ project: 'project/data' }),
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.organizer-banner {
  background: #ffffff;
  display: flex;
  align-items: center;
  padding: 8px 16px;
  width: 100%;

  .link {
    @include text(1.5);
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.6px;
    color: $black-blue;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (min-width: 768px) {
      justify-content: flex-start;
    }

    &::after {
      display: inline-block;
      @include ww-icn;
      content: 'a';
      transform: rotate(180deg);
      margin-left: 10px;
    }
  }

  .avatar {
    width: 48px;
    height: 48px;
    background: #f3f3f3;
    margin-right: 22px;
    border-radius: 50%;
  }
}
</style>
