<template>
  <section v-if="results.length" class="main">
    <h3 v-if="!noHeader" class="header">{{ $t('special.photos') }}</h3>
    <div class="images">
      <AsyncImage
        v-for="image in results"
        :key="image.id"
        :image="image.image"
      />
    </div>
    <Button
      v-if="leftToGet > 0 && !loading"
      class="actions"
      :inlineColor="project.main_color"
      noHover
      @click="fetchMoreImages"
    >
      {{ $t('special.viewMore') }} {{ leftToGet | lessFour }}
    </Button>
    <div v-if="loading" class="loader">
      <Loader :color="projectData.main_color" />
    </div>
  </section>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  components: {
    Button: () => import('~/components/common/buttons/Button'),
    AsyncImage: () => import('~/components/common/AsyncImage'),
    Loader: () => import('~/components/common/Loader'),
  },
  filters: {
    lessFour(number) {
      return number < 6 ? number : 6
    },
  },
  props: {
    project: {
      type: Number,
      required: true,
    },
    noHeader: Boolean,
  },
  data() {
    return {
      loading: false,
    }
  },
  computed: {
    ...mapGetters('project/images', ['results', 'leftToGet']),
    ...mapGetters({ projectData: 'project/data' }),
  },
  methods: {
    ...mapActions('project/images', ['fetchMore']),
    async fetchMoreImages() {
      this.loading = true
      await this.fetchMore({ project: this.project, page_size: 6 })
      this.loading = false
    },
  },
}
</script>

<style scoped lang="scss">
@import '~/assets/css/variables.scss';

.main {
  display: grid;
  justify-content: center;
  grid-template-rows: 128px;
  grid-template-columns: minmax(auto, 632px);

  .images {
    display: grid;
    grid-auto-rows: auto;
    grid-gap: 8px;
    grid-template-columns: 1fr 1fr;
  }

  .header {
    display: grid;
    align-items: end;
    padding-bottom: 3 * $base;
  }

  .actions {
    margin: 25px 0 48px 0;
  }

  .loader {
    padding: 16px 0;
  }

  .loader /deep/ {
    .lds-ring {
      margin: 0 auto;
    }
  }
}
</style>
