<template>
  <div class="actions">
    <ShareBtn class="action" />
  </div>
</template>

<script>
export default {
  name: 'SpecialActions',

  components: {
    ShareBtn: () => import('~/components/common/buttons/ShareBtn'),
  },
}
</script>

<style lang="scss" scoped>
.actions {
  display: flex;

  .action {
    &:not(:last-child) {
      margin-right: 16px;
    }
  }
}
</style>
