<template>
  <div class="content">
    <h2 v-if="title" class="content__title">{{ title }}</h2>
    <slot />
  </div>
</template>

<script>
export default {
  name: 'SpecialContent',

  props: {
    title: String,
  },
}
</script>

<style lang="scss" scoped>
.content {
  margin-bottom: 48px;

  @media (min-width: 768px) {
    margin-bottom: 88px;
  }

  @media (min-width: 1180px) {
    margin-bottom: 124px;
  }

  &__title {
    margin-bottom: 12px;

    @media (min-width: 768px) {
      margin-bottom: 18px;
    }
  }
}
</style>
