<template>
  <div class="root">
    <div class="filter-wrapper">
      <PeriodFilter
        v-model="period"
        :buttons="periods"
        :disabled="LOADING"
        :inlineActiveColor="GET_SPECIAL_COLOR"
      />
    </div>

    <div class="grid">
      <template v-if="LOADING || EVENTS.length">
        <EventCard
          v-for="event in EVENTS"
          :key="event.id"
          :value="{ event }"
          :hoverColor="GET_SPECIAL_COLOR"
        />
      </template>
      <span v-else>
        {{ $t('common.unfortunately') }},
        <span class="no-events-underline">{{ $t('common.noEvents') }}</span>
      </span>
    </div>

    <template v-if="MORE_EVENTS">
      <Button
        v-if="!LOADING"
        :inlineColor="GET_SPECIAL_COLOR"
        noHover
        @click="fetchMoreEvents"
        >{{ $t('common.btnMore') }} {{ btnMoreCount }}</Button
      >
      <div v-else class="loader">
        <Loader :color="GET_SPECIAL_COLOR" />
      </div>
    </template>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'SpecialEvents',

  components: {
    EventCard: () => import('~/components/common/EventCard'),
    Loader: () => import('~/components/common/Loader'),
    PeriodFilter: () => import('~/components/common/input/PeriodFilter'),
    Button: () => import('~/components/common/buttons/Button'),
  },

  props: {
    projectId: {
      type: [String, Number],
      required: true,
    },
  },

  data: () => ({
    period: '',
    pageSize: 4,
  }),

  computed: {
    ...mapGetters('events', [
      'EVENTS',
      'LEFT_TO_GET',
      'MORE_EVENTS',
      'LOADING',
    ]),
    ...mapGetters('special', ['GET_SPECIAL_COLOR']),
    periods() {
      return [
        {
          value: '',
          name: this.$t('common.all'),
        },
        {
          value: 'week',
          name: this.$t('common.thisWeek'),
        },
        {
          value: 'month',
          name: this.$t('common.thisMonth'),
        },
      ]
    },
    btnMoreCount() {
      return this.LEFT_TO_GET <= this.pageSize
        ? this.LEFT_TO_GET
        : this.pageSize
    },
  },

  watch: {
    period(value) {
      this.FETCH({
        project: this.projectId,
        period: value,
        page_size: this.pageSize,
      })
    },
  },

  methods: {
    ...mapActions('events', ['FETCH_MORE', 'FETCH']),
    fetchMoreEvents() {
      this.FETCH_MORE({
        project: this.projectId,
        period: this.period,
        page_size: this.pageSize,
      })
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.root {
  .filter-wrapper {
    margin-bottom: 24px;

    @media (min-width: 768px) {
      margin-left: -16px;
    }
  }

  .filter-wrapper /deep/ {
    .filter {
      margin: 0;
      padding: 0;
    }
  }

  .grid {
    display: grid;
    grid-gap: $base;
    grid-template-columns: repeat(auto-fill, 160px);
    margin-right: -1px;
    margin-bottom: 16px;

    @media (min-width: 768px) {
      margin-bottom: 32px;
      grid-gap: 5 * $base;
      grid-template-columns: repeat(auto-fill, 296px);
    }
  }

  .loader {
    padding: 16px 0;
  }

  .loader /deep/ {
    .lds-ring {
      margin: 0 auto;
    }
  }

  .no-events-underline {
    border-bottom: 1px solid $black-blue;
  }
}
</style>
