<template>
  <div class="location">
    <div v-if="hasAddress" class="location__address">
      <div class="address"></div>
      <div class="location-main">
        <div class="location-main__address">{{ GET_LOCATION.address }}</div>
      </div>
    </div>
    <div class="location__info" :style="[!hasAddress && { margin: 0 }]">
      <div v-if="GET_INSTITUTION" class="location-main__phones">
        <div
          v-for="phone in GET_INSTITUTION.phones"
          :key="phone"
          class="location-main__phone"
        >
          {{ phone }}
        </div>
      </div>
      <div class="location-main__links">
        <WLink
          v-for="(email, index) in EMAILS"
          :key="index"
          class="location-main__link"
          v-bind="linkProps"
          :href="`mailto:${email}`"
        >
          {{ email }}
        </WLink>
        <WLink
          v-for="link in GET_LINKS"
          :key="link"
          class="location-main__link"
          v-bind="linkProps"
          target="_blank"
          :href="link"
        >
          {{ link }}
        </WLink>
      </div>
    </div>
  </div>
</template>

<script>
import { prop } from 'ramda'
import { mapGetters } from 'vuex'

export default {
  name: 'SpecialLocation',

  components: {
    WLink: () => import('~/components/common/WLink'),
  },

  props: {
    linkProps: Object,
  },

  computed: {
    ...mapGetters('special', [
      'GET_LOCATION',
      'GET_INSTITUTION',
      'GET_LINKS',
      'EMAILS',
    ]),
    hasAddress() {
      return prop('address', this.GET_LOCATION)
    },
  },
}
</script>

<style lang="scss" scoped>
.location {
  &__address {
    display: flex;
  }

  &__info {
    @media (min-width: 1180px) {
      margin-left: 20px;
    }
  }

  .location-main {
    &__address {
      margin-bottom: 16px;
    }

    &__phones {
      margin-bottom: 8px;
    }

    &__phone {
      &:not(:last-child) {
        margin-bottom: 4px;
      }
    }

    &__link {
      display: block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      &:not(:last-child) {
        margin-bottom: 4px;
      }
    }
  }
}
</style>
