<template>
  <div v-if="socialLinks" class="social__main">
    <SocialButton
      v-if="socialLinks.facebook"
      class="social__main-item"
      variant="fb"
      :href="socialLinks.facebook"
    />
    <SocialButton
      v-if="socialLinks.vk"
      class="social__main-item"
      variant="vk"
      :href="socialLinks.vk"
    />
    <SocialButton
      v-if="socialLinks.instagram"
      class="social__main-item"
      variant="instagram"
      :href="socialLinks.instagram"
    />
    <SocialButton
      v-if="socialLinks.telegram"
      class="social__main-item"
      variant="tg"
      :href="socialLinks.telegram"
    />
    <SocialButton
      v-if="socialLinks.twitter"
      class="social__main-item"
      variant="tw"
      :href="socialLinks.twitter"
    />
    <!-- <SocialButton
      v-if="socialLinks.youtube"
      class="social__main-item"
      variant="youtube"
      :href="socialLinks.youtube"
    />-->
    <slot></slot>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'SpecialSocial',

  components: {
    SocialButton: () => import('~/components/common/buttons/SocialButton'),
  },

  computed: {
    ...mapGetters('project', ['socialLinks']),
  },
}
</script>

<style lang="scss" scoped>
.social__main {
  display: flex;
  flex-wrap: wrap;
}

.social__main-item {
  margin-bottom: 8px;

  @media (min-width: 1180px) {
    margin-bottom: 16px;
  }

  &:not(:last-child) {
    margin-right: 8px;

    @media (min-width: 1180px) {
      margin-right: 16px;
    }
  }
}
</style>
