<template>
  <div v-if="specialCategories.length" class="categories">
    <WLink
      v-for="(category, idx) in specialCategories"
      :key="category.slug"
      class="category"
      :color="color"
      :to="{
        name: 'search',
        query: {
          city: cityId,
          category: category.slug,
          actual: true,
        },
      }"
    >
      {{
        idx !== specialCategories.length - 1
          ? `${category.title},`
          : category.title
      }}
    </WLink>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'SpecialCategories',

  components: {
    WLink: () => import('~/components/common/WLink'),
  },

  props: {
    color: {
      type: String,
      default: 'light-blue',
    },
  },

  computed: {
    ...mapGetters({
      cityId: 'city/GET_CITY_ID',
      specialCategories: 'special/GET_CATEGORIES',
    }),
  },
}
</script>

<style lang="scss" scoped>
.categories {
  display: flex;
  flex-wrap: wrap;

  .category {
    &:not(:last-child) {
      margin-right: 4px;
    }
  }
}
</style>
