<template>
  <div class="root">
    <div class="grid">
      <no-ssr>
        <div v-for="youtubeId in youtubeIds" :key="youtubeId" class="videos">
          <youtube class="video" :video-id="youtubeId" fitParent resize />
          <div class="video" @click="openVideoPopover(youtubeId)"></div>
        </div>
      </no-ssr>
    </div>

    <Button
      v-if="next"
      :inlineColor="project.main_color"
      noHover
      @click="fetchMoreVideos"
    >
      {{ $t('common.btnMore') }} {{ btnMoreCount }}
    </Button>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import popConsts from '~/utils/popoverConsts'

export default {
  components: {
    Button: () => import('~/components/common/buttons/Button'),
  },

  props: {
    projectId: {
      type: [String, Number],
      required: true,
    },
  },

  computed: {
    ...mapGetters({
      project: 'project/data',
      videos: 'project/videos/results',
      next: 'project/videos/next',
      pageSize: 'project/videos/pageSize',
      leftToGet: 'project/videos/leftToGet',
    }),
    btnMoreCount() {
      return this.leftToGet <= this.pageSize ? this.leftToGet : this.pageSize
    },
    youtubeIds() {
      const onlyYoutube = [
        /^https:\/\/youtu\.be\/(\S{11})$/,
        /^https:\/\/www.youtube.com\/embed\/(\S{11})$/,
        /^https:\/\/www.youtube.com\/watch\?v=(\S{11})$/,
      ]

      const urls = []
      for (let i = 0; i < this.videos.length; i++) {
        for (let j = 0; j < onlyYoutube.length; j++) {
          const match = this.videos[i].url.match(onlyYoutube[j])
          if (match) {
            urls.push(match[1])
          }
        }
      }
      return urls
    },
  },

  methods: {
    ...mapActions({
      togglePopover: 'popovers/TOGGLE_POPOVER',
      setVideoId: 'popovers/SET_POPOVER_VIDEO_ID',
      fetchMoreVideos: 'project/videos/fetchMore',
    }),
    openVideoPopover(id) {
      this.setVideoId(id)
      this.togglePopover(popConsts.video)
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.root {
  .grid {
    display: grid;
    grid-gap: 8px;
    grid-template-columns: repeat(2, minmax(150px, 1fr));
    margin-bottom: 16px;

    @media (min-width: 768px) {
      margin-bottom: 32px;
    }
  }

  .loader {
    padding: 16px 0;
  }

  .loader /deep/ {
    .lds-ring {
      margin: 0 auto;
    }
  }

  .videos {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    background: #f3f3f3;
  }

  .video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
}
</style>
