<template>
  <button :disabled="disabled" class="go-button" @click="$emit('click')">
    <transition-group name="list" class="flex">
      <b key="text">
        {{ value ? $t('common.iAmGoing') : $t('common.iAmNotGoing') }}
      </b>
      <span v-if="visitors.length" key="avatars" class="go-button__avatars">
        <Avatar
          v-for="(v, i) in visitors.slice(0, 3)"
          :key="i"
          :user="v"
          size="32"
        />
      </span>
      <span v-if="count > 0" key="count" class="go-button__count">
        {{ count }}
      </span>
    </transition-group>
  </button>
</template>

<script>
export default {
  components: {
    Avatar: () => import('~/components/common/Avatar'),
  },
  props: {
    value: Boolean,
    count: [Number, String],
    visitors: {
      type: Array,
      default: () => [],
    },
    disabled: {
      type: Boolean,
      default: false,
    },
  },
}
</script>

<style scoped lang="scss">
@import '~/assets/css/variables.scss';

.go-button {
  height: 32px;
  padding: 0 24px;
  border-radius: 16px;
  border: solid 1px $black-gray;

  font-size: 14px;
  line-height: 2.14;

  &:hover,
  &:focus {
    border: solid 1px $blue;
  }

  .flex {
    display: flex;
    align-items: center;
  }

  &__avatars {
    display: inline-grid;
    grid-template-columns: repeat(3, 10px);
    width: 52px;
    margin-top: -1px;
    margin-left: 12px;
  }

  &__count {
    margin-left: 12px;
  }
}

.list-enter-active,
.list-leave-active {
  transition: all 0.25s;
}
.list-enter,
.list-leave-to {
  opacity: 0;
  transform: translateX(-32px);
}
.list-move {
  transition: transform 0.25s;
}
</style>
