<template>
  <div class="form-row" v-bind="{ 'data-form-error' : hasError}">
    <component
      :is="noLabelFocus ? 'span' : 'label'"
      v-if="$slots.label"
      class="form-row__label"
      :class="{
        'form-row__label--pointer': !noLabelFocus
      }"
      v-bind="labelAttrs"
      v-on="labelEvents"
    >
      <slot name="label"></slot>
    </component>
    <div>
      <slot :id="computedId" :hasError="hasError" />
    </div>
    <transition name="fade">
      <span v-if="hasError" class="form-row__error" data-form-error>{{ errorMesssage }}</span>
    </transition>
  </div>
</template>

<script>
import { path } from 'ramda'

export default {
  name: 'FormRow',

  props: {
    id: {
      type: String,
      default: '',
    },
    error: {
      type: Object,
    },
    noLabelFocus: Boolean,
  },
  computed: {
    computedId() {
      return this.id || `input-${this._uid}`
    },
    hasError() {
      const error =
        path(['client', '$error'], this.error) || path(['server'], this.error)
      return Boolean(error)
    },
    errorMesssage() {
      return path(['server'], this.error) || this.clientErrorMessage
    },
    labelAttrs() {
      return {
        ...(!this.noLabelFocus && { for: this.computedId }),
      }
    },
    labelEvents() {
      return {
        ...(!this.noLabelFocus && { click: this.triggerFocus }),
      }
    },
    clientErrorMessages() {
      return {
        email: this.$t('validation.email'),
        required: this.$t('validation.required'),
        minLength: `${this.$t('validation.lenMin')} ${path(
          ['client', '$params', 'minLength', 'min'],
          this.error,
        )}`,
        maxLength: `${this.$t('validation.lenMax')} ${path(
          ['client', '$params', 'maxLength', 'max'],
          this.error,
        )}`,
        minValue: `${this.$t('validation.minValue')} ${path(
          ['client', '$params', 'minValue', 'min'],
          this.error,
        )}`,
        maxValue: `${this.$t('validation.maxValue')} ${path(
          ['client', '$params', 'maxValue', 'max'],
          this.error,
        )}`,
        periodRequired: this.$t('validation.required'),
      }
    },
    clientErrorMessage() {
      let message = this.$t('validation.invalid')
      if (path(['client', '$error'], this.error)) {
        const errors = Object.keys(this.error.client.$params).filter(
          k => !this.error.client[k],
        )
        message = errors.map(e => this.clientErrorMessages[e]).join(', ') || message
      }

      return message
    },
  },
  methods: {
    triggerFocus() {
      this.$emit('triggerFocus')
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.form-row {
  &__label {
    display: inline-block;
    @include text(1.5);
    font-weight: bold;
    color: #999999;
    margin-bottom: 8px;

    @media (min-width: $desktopSD) {
      @include text(2.25);
    }

    &--pointer {
      cursor: pointer;
    }
  }

  &__error {
    display: block;
    margin-top: 4px;
    color: $red;
    @include text(1.5);

    @media (min-width: $desktopSD) {
      @include text(2.25);
    }
  }
}
</style>
