<template>
  <div v-if="obj.isFinished && !forcePeriod">{{ $t('common.dateOver') }}</div>
  <div v-else-if="displayAsPeriod">
     <span class="no-wrap">
       {{ period.start }}
       <template v-if="period.start && period.end">-</template>
       <span v-if="period.end" class="capitalize-first">{{ period.end }}</span>
     </span>
  </div>
  <div v-else>
    <span>
      {{ startText }}
    </span>
  </div>

</template>

<script>
  import { path, prop} from 'ramda'
  import moment from "moment"

  export default {
    name: 'EventCardDateTime',
    props: {
      obj: {
        type: Object
      },
      forcePeriod: {
        type: Boolean,
        default: false
      }
    },
    computed: {
      period(){
        const start = path(['periodLocal', 'start'], this.obj)
        const end = path(['periodLocal', 'end'], this.obj)
        return {
          start: start ? start.format('ddd, DD MMMM'): '',
          end: end ? end.format('ddd, DD MMMM'): '',
        }
      },
      displayAsPeriod(){
        return this.forcePeriod || this.obj.displayAsPeriod
      },
      timeFormat(){
        return this.$moment.locale() === 'en' ? 'h:mmA' : 'H:mm'
      },
      startText() {
        const startDate = prop('start_date', this.obj)
        const startTime = prop('start_time', this.obj)
        const closesStartDT = prop('closesStartDT', this.obj)
        const now = moment()
        if (!startDate && !startTime ) {
          return ''
        }
        else if (!startDate){
          return startTime
        }
        else if (!closesStartDT){
          return ''
        }

        let format = 'ddd, DD MMMM'
        if (closesStartDT.year() - now.year() !== 0) {
          format += ' YY'
        }
        else if (startTime) {
          format += ` ${this.timeFormat}`
        }
        return closesStartDT.format(format)
      }
    },
  }
</script>
