<template>
  <div>
    <EventListWidgetSnob
      v-if="currentVersion === 'snob' || currentVersion === 'snob2'"
      :events="EVENTS"
      :currentVersion="currentVersion"
    />
    <EventListWidget v-else :currentVersion="currentVersion" :events="EVENTS" />

    <script :src="`${STATIC_PATH}js/iframeResizer.contentWindow.min.js`" />
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

import { makeSearchQuery } from '~/utils'
import { getCurrentWidgetVersion } from '~/utils/widget'

export default {
  layout: 'iframe',

  components: {
    EventListWidget: () => import('~/components/widgets/EventListWidget'),
    EventListWidgetSnob: () =>
      import('~/components/widgets/EventListWidgetSnob'),
  },

  computed: {
    ...mapGetters('events', ['EVENTS']),
    query() {
      return makeSearchQuery({ ...this.$route.query, page_size: 8 })
    },
    currentVersion() {
      return getCurrentWidgetVersion({ query: this.$route.query })
    },
  },

  created() {
    this.STATIC_PATH = process.env.STATIC_PATH
  },

  mounted() {
    try {
      this.FETCH(this.query)
    } catch (e) {
      console.log(e)
    }
  },

  methods: {
    ...mapActions('events', ['FETCH']),
  },
}
</script>
