<template>
  <div
    v-if="hasEvents"
    class="horizontal-widget"
    :class="{
      'horizontal-widget--v2': currentVersion === '2',
    }"
    :style="isVertical && { display: 'inline-block' }"
  >
    <div
      class="horizontal-widget__scroll"
      :class="{
        'horizontal-widget__scroll--vertical': isVertical,
        'horizontal-widget__scroll--horizontal': !isVertical,
      }"
    >
      <component
        :is="VersionCard"
        v-for="event in events"
        :key="event.id"
        class="event-card"
        :event="event"
        :extraQuery="
          makeWidgetUtm({
            utmContentType: isVertical ? '1' : '2',
            utmContentPlace: 'teaser',
            query: $route.query,
          })
        "
        isExternalLink
        hideButtons
      />
      <EventCardStub v-if="currentVersion === '1'" :to="link">
        <span class="widget__text">
          {{ $t('widget.allEvents') }}
        </span>
      </EventCardStub>
      <EventCardStubV2
        v-if="currentVersion === '2'"
        :to="link"
        isExternal
        :version="currentVersion"
        class="event-card event-card-stub"
      >
        {{ $t('widget.allEvents') }}
      </EventCardStubV2>
    </div>
  </div>
</template>

<script>
import EventCardStubV2 from '~/components/common/EventCardStub'

import { makeWidgetUtm } from '~/utils/widget'

export default {
  name: 'EventListWidget',

  components: {
    EventCardStub: () => import('~/components/common/EventCard/EventCardStub'),
    EventCardStubV2,
    EventCard: () => import('~/components/common/EventCard'),
    EventCardV2: () => import('~/components/common/EventCard/V2'),
  },

  props: {
    events: {
      type: Array,
      required: true,
    },
    isVertical: Boolean,
    currentVersion: { type: String, default: '1' },
  },

  computed: {
    hasEvents() {
      return this.events && this.events.length
    },
    /**
     * @return {string}
     */
    VersionCard() {
      if (this.currentVersion === '1') return 'EventCard'
      else if (this.currentVersion === '2') return 'EventCardV2'
      else return 'EventCard'
    },
    link() {
      return {
        name: 'search',
        query: {
          ...this.$route.query,
          ...makeWidgetUtm({
            utmContentType: this.isVertical ? '1' : '2',
            utmContentPlace: 'gotowwteaser',
            query: this.$route.query,
          }),
        },
      }
    },
  },

  methods: {
    makeWidgetUtm,
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.widget__text {
  position: absolute;
  top: 50%;
  color: #fff;
  text-align: center;

  @media (min-width: $desktopSD) {
    top: 53%;
    @include text(3);
  }
  @media (min-width: $desktopHDp) {
    top: 55%;
  }
}

.horizontal-widget {
  background: $gray;
  padding: 12px;

  &__scroll {
    display: grid;
    grid-auto-columns: 160px;
    grid-auto-flow: column;
    grid-gap: 16px;
    overflow-x: auto;
    padding: 16px;

    @media (min-width: $desktopSD) {
      grid-auto-columns: 248px;
      grid-row-gap: 24px;
    }
    @media (min-width: $desktopHDp) {
      grid-auto-columns: 296px;
      grid-row-gap: 40px;
    }

    &--vertical {
      grid-auto-flow: row;
      // 241 * 3 + 16 * 5 + 12 * 2
      max-height: 827px;

      @media (min-width: 768px) {
        // 420 * 3 + 16 * 5 + 12 * 2
        max-height: 1364px;
      }
    }
  }

  &--v2 {
    .horizontal-widget__scroll--vertical {
      // 320 * 3 + 16 * 5 + 12 * 2
      max-height: 1024px;
    }

    .horizontal-widget__scroll--horizontal {
      padding-bottom: 72px;
    }
  }
}

.event-card {
  flex-shrink: 0;
}
</style>
