<template>
  <div class="organizer">
    <nuxt-link :to="link" class="organizer__avatar">
      <Logo :image="logo" :alt="organizer.title" size="40" />
    </nuxt-link>
    <div class="organizer__data">
      <nuxt-link :to="link" class="organizer__name">
        {{ organizer.title }}
      </nuxt-link>
      <br />
      <span v-if="organizer.address" class="organizer__map-point">
        <Icon src="icons/map-point.svg" size="xs" />
        {{ organizer.address }}
      </span>
    </div>
    <div class="organizer__hints">
      <span>{{ organizer.hit }}</span>
      <!--      <Icon src="icons/news-feed.svg" size="xs" />-->
    </div>
  </div>
</template>

<script>
import { path, prop } from 'ramda'

export default {
  components: {
    Logo: () => import('~/components/common/Logo'),
    Icon: () => import('~/components/common/Icon'),
  },
  props: {
    organizer: {
      type: Object,
      required: true,
    },
  },
  computed: {
    logo() {
      return path(['logo', 'image'], this.organizer)
    },
    link() {
      return {
        name: 'organizers-id',
        params: { id: prop('url_id', this.organizer) },
      }
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.organizer {
  $transition: 0.2s;
  height: 72px;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 72px 1fr;
  background-color: white;
  transition: box-shadow $transition;

  &:hover {
    box-shadow: 0 0 15px 0 rgba(209, 220, 234, 0.3);
    .organizer__name {
      color: $blue;
    }
  }

  &__avatar {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__data {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-top: 16px;
  }

  &__map-point {
    opacity: 0.4;
    font-size: 12px;
    line-height: 2;
  }

  &__name {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    transition: color $transition;

    &:hover {
      color: $blue;
    }
  }

  &__hints {
    font-size: 12px;
    color: $black-gray;
    display: grid;
    grid-auto-flow: column;
    align-items: baseline;
    grid-gap: 8px;
    margin: 16px;
  }
}
</style>
