<i18n src="./locales.json"></i18n>

<template>
  <div class="journal_actions">
    <ShareBtn />
    <ViewToggler
      v-if="isOwn"
      small
      :default="currentJournal.private"
      @rightHandler="handleView('visible')"
      @leftHandler="handleView('hidden')"
    />
    <BtnWithIcon
      v-if="isOwn"
      color="blue"
      icon="pencil"
      v-tooltip.auto="$t('editBlog')"
      @click="handleEdit"
    />
  </div>
</template>

<script>
export default {
  components: {
    ShareBtn: () => import('~/components/common/buttons/ShareBtn'),
    BtnWithIcon: () => import('~/components/common/buttons/BtnWithIcon'),
    ViewToggler: () => import('./ViewToggler'),
  },
  props: {
    isOwn: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    currentJournal() {
      return this.$store.getters['journal/CURRENT_JOURNAL']
    },
  },
  methods: {
    handleRemove() {
      this.$store.dispatch('popovers/SWITCH_PRE_LOADER', true)
      this.$store
        .dispatch('journal/REMOVE_JOURNAL')
        .then(() => {
          this.$router.push('/')
        })
        .catch(err => {
          console.log(err)
          this.$router.push('/')
        })
    },
    handleEdit() {
      this.$router.push(
        `/events/collections/${this.currentJournal.url_id}/edit/`,
      )
    },
    async handleView(state) {
      if (state === 'hidden') {
        await this.$store.dispatch('journal/UPDATE_JOURNAL', { private: true })
        this.$store.dispatch(
          'notifications/success',
          this.$t('journal.visibilityNotificationFalse'),
        )
      }
      if (state === 'visible') {
        await this.$store.dispatch('journal/UPDATE_JOURNAL', { private: false })
        this.$store.dispatch(
          'notifications/success',
          this.$t('journal.visibilityNotificationTrue'),
        )
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.journal_actions {
  display: flex;
  justify-content: space-between;
}
</style>
