<i18n src="./locales.json"></i18n>

<template>
  <div class="sidebar">
    <div class="sidebar__content">
      <div class="user">
        <Avatar class="user__avatar" size="64" :user="journal.created_by" />
        <MoreDots v-if="isOwn" v-tooltip.auto="$t('menu')" />
      </div>
      <h2 class="sidebar__title">{{ journal.title }}</h2>
      <Stats
        v-if="prop('hits_count', journal) || prop('subscribers', journal)"
        :views="prop('hits_count', journal)"
        :subscribers="prop('subscribers', journal)"
      />
      <slot></slot>
    </div>
    <ul class="sidebar-links">
      <li
        v-if="isOwn || $store.state.journal.journalEvents.count > 0"
        class="sidebar-links__item"
        :class="{
          'sidebar-links__item_active': currentSection === sections.events,
        }"
      >
        <div
          class="sidebar-links__item-link cursor"
          @click="$emit('changeSection', sections.events)"
        >{{ $t('events') }}</div>
        <div
          v-if="isOwn"
          v-tooltip.auto="$t('addEvent')"
          class="sidebar-links__item-plus"
          @click="$emit('addRequest', sections.events)"
        >
          <div data-icon="G" class="icon"></div>
        </div>
      </li>
    </ul>
  </div>
</template>

<script>
import { journalSections } from '../../../utils/JournalConsts'
import { prop } from 'ramda'

export default {
  components: {
    Stats: () => import('./Stats'),
    MoreDots: () => import('./SideMoreBtn'),
    Avatar: () => import('~/components/common/Avatar'),
  },
  props: {
    journal: {
      type: Object,
      default: () => ({}),
    },
    currentSection: {
      type: [String, null],
      default: journalSections.all,
    },
  },
  data() {
    return {
      sections: journalSections,
    }
  },
  computed: {
    isOwn() {
      return (
        this.$store.getters['journal/IS_OWN'] &&
        this.$store.getters['auth/IS_AUTH']
      )
    },
  },
  methods: {
    goTo(path) {
      this.$router.push(path)
    },
    prop: prop,
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.sidebar {
  position: sticky;
  top: $base * 2;
  background-color: #fff;

  &__content {
    padding: 4 * $base 5 * $base 5 * $base;
  }

  &__title {
    margin: 1rem 0;
    overflow-wrap: break-word;
  }

  &-links {
    color: $blue;
    &__item {
      display: flex;
      align-items: stretch;
      justify-content: space-between;
      border-top: 2px solid #f8f9fa;
      &_active {
        .sidebar-links__item-plus,
        .sidebar-links__item-link {
          color: #fff;
          background-color: $blue;
        }
      }
    }
    &__item-plus {
      cursor: pointer;
      border-left: 2px solid #f8f9fa;
      padding: 0 3 * $base;
      display: flex;
      align-items: center;
      justify-content: center;
      .icon {
        height: 3 * $base;
        @include text(3);
      }
    }
    &__item-link {
      color: $blue;
      font-weight: bold;
      text-transform: uppercase;
      padding: 3 * $base 0;
      width: 100%;
      padding-left: 5 * $base;
      cursor: pointer;
    }
  }
}

/////////////////
// user.scss
.user {
  align-items: center;
  display: flex;
  justify-content: space-between;

  &:hover,
  &:focus {
    .user__name {
      text-decoration: underline;
    }
  }

  &__avatar {
    flex-shrink: 0;
    margin-right: 3 * $base;
  }

  &__name {
    color: $primary;
    margin-bottom: 0.375 * $base;
  }
}
</style>
