<template>
  <div v-click-outside="() => (menuIsOpen = false)" class="sidebar__more-btn">
    <div class="icon-dots ww-icn-dots" @click="toggle"></div>
    <transition name="fade">
      <div v-if="menuIsOpen" class="dots-menu">
        <div class="dots-menu_item" @click="TOGGLE_POPOVER('remove_journal')">
          <div class="item-icon"></div>
          <span>{{ $t('journal.remJournal') }}</span>
        </div>
        <div class="dots-menu_item" @click="handleAddEv">
          <span>{{ $t('journal.addEvts') }}</span>
        </div>
      </div>
    </transition>
    <ConfirmDialog
      v-if="OPENED_POPOVER === 'remove_journal'"
      type="danger"
      @confirm="handleRemove"
      @cancel="TOGGLE_POPOVER('')"
    >
      <h2>{{ $t('journal.confirmJournal') }}</h2>
      <template slot="confirm">{{ $t('journal.confirmYes') }}</template>
      <template slot="cancel">{{ $t('journal.confirmNo') }}</template>
    </ConfirmDialog>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  components: {
    ConfirmDialog: () => import('~/components/common/popovers/ConfirmDialog'),
  },
  data: () => ({
    menuIsOpen: false,
  }),
  computed: {
    ...mapGetters('user', ['GET_USER']),
    ...mapGetters('popovers', ['OPENED_POPOVER']),
    ...mapGetters('journal', ['CURRENT_JOURNAL']),
  },
  methods: {
    ...mapActions('popovers', ['TOGGLE_POPOVER', 'SWITCH_PRE_LOADER']),
    ...mapActions('journal', ['REMOVE_JOURNAL']),

    toggle() {
      this.menuIsOpen = !this.menuIsOpen
    },
    async handleRemove() {
      try {
        this.TOGGLE_POPOVER()
        this.SWITCH_PRE_LOADER(true)
        await this.REMOVE_JOURNAL()

        this.$router.push({
          name: 'profile-id-journals',
          params: { id: this.GET_USER.id },
        })
      } catch (err) {
        console.log(err)
      } finally {
        this.SWITCH_PRE_LOADER(false)
      }
    },
    handleAddEv() {
      this.$router.push({
        name: 'events-collections-journal-add-event',
        params: {
          journal: this.CURRENT_JOURNAL.url_id,
        },
      })
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.sidebar__more-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 64px;
  height: 64px;
  text-align: center;

  .icon-dots {
    color: $blue;
    cursor: pointer;
    font-size: 20px;
    &:focus,
    &:active {
      background-color: rgba(0, 0, 0, 0.05);
    }
  }

  > .dots-menu {
    position: absolute;
    top: 28px;
    right: -25px;
    border: solid 1px $blue;
    color: $blue;
    cursor: pointer;
    width: 200px;
    background-color: #fff;
    z-index: 3;
    display: flex;
    flex-flow: column;
    .dots-menu_item {
      border-bottom: 2px solid #f8f9fa;
      padding: 0.75rem;
      user-select: none;
      display: flex;
      align-items: center;
      font-size: 18px;
      > span {
        margin-left: 1rem;
      }
      > .item-icon {
        position: relative;
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $blue;
        &::before {
          @include ww-icn;
          font-size: 3 * $base;
          content: 'D';
          color: inherit;
        }
      }
      &:focus,
      &:hover {
        background-color: $blue;
        color: #fff;
        .item-icon {
          color: #fff;
        }
      }
      &:last-child {
        border-bottom: 0;
      }
    }
  }
}
</style>
