<i18n src="./locales.json"></i18n>

<template>
  <div class="stats">
    <div class="stats__item stats__item_views">
      {{ views }}
    </div>
    <div class="stats__item stats__item_subscribers">
      {{ subscribers }} {{ $t('subscribers') }}
    </div>
  </div>
</template>

<script>
export default {
  props: {
    views: {
      type: Number,
      default: 0,
    },
    subscribers: {
      type: Number,
      default: 0,
    },
  },
}
</script>

<style lang="scss">
@import '~/assets/css/variables.scss';

.stats {
  display: flex;
  margin: 3 * $base 0;

  &__item {
    &:not(:last-child) {
      margin-right: 4 * $base;
    }

    &::before {
      @include ww-icn;

      color: $primary;
      margin-right: 0.75 * $base;
      position: relative;
    }

    &_views::before {
      content: 'l';
      top: 3px;
    }

    &_subscribers::before {
      content: 'F';
      top: 3px;
    }
  }
}
</style>
