<i18n src="./locales.json"></i18n>

<template>
  <div class="view-toggler" :class="small ? 'view-toggler_red' : ''">
    <label v-tooltip.auto="$tc('visible', 1)" :class="isChecked ? 'checked' : ''">
      <input
        type="radio"
        name="view-toggler"
        class="view-toggler__radio"
        :checked="isChecked"
        @change="toggle(leftVal)"
      />
      <div :class="classes" :style="dynamicStyles">
        <div class="view-toggler__text">
          <div data-icon="J" class="icon"></div>
          <slot name="first"></slot>
        </div>
      </div>
    </label>
    <label v-tooltip.auto="$tc('visible', 0)" :class="!isChecked ? 'checked' : ''">
      <input
        type="radio"
        name="view-toggler"
        class="view-toggler__radio"
        :checked="!isChecked"
        @change="toggle(rightVal)"
      />
      <div :class="classes" :style="dynamicStyles">
        <div class="view-toggler__text">
          <div data-icon="m" class="icon"></div>
          <slot name="second"></slot>
        </div>
      </div>
    </label>
  </div>
</template>

<script>
export default {
  model: {
    prop: 'model',
    event: 'change',
  },
  props: {
    leftVal: {
      type: Boolean,
      default: true,
    },
    rightVal: Boolean,
    default: Boolean,
    small: Boolean,
    height: [String, Number],
  },
  computed: {
    isChecked() {
      return this.default === this.leftVal
    },
    classes() {
      return [
        this.small ? 'view-toggler__item vtg-small' : 'view-toggler__item',
      ]
    },
    dynamicStyles() {
      return {
        height: this.height && `${this.height}px`,
      }
    },
  },
  methods: {
    toggle(bool) {
      this.$emit('change', bool)
      if (bool === false || bool === this.rightVal) {
        this.$emit('rightHandler')
      }
      if (bool || bool === this.leftVal) {
        this.$emit('leftHandler')
      }
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.view-toggler {
  display: flex;
  justify-content: flex-start;
  color: #fff;
  font-weight: bold;
  height: 100%;
  &.view-toggler_red {
    height: 48px;
    border: 2px solid $red;
    &_item {
      background-color: #fff;
      color: $red;
    }
    label.checked .view-toggler__item {
      opacity: 1;
      background-color: $red;
      color: #fff;
    }
  }
  &.toggler-row {
    flex-flow: row;
  }
  @media screen and (max-width: 425px) {
    flex-flow: column;
  }
  &__radio {
    display: none;
  }

  label {
    flex: 1;
  }

  &__item {
    background-color: #000;
    padding: 3 * $base 4 * $base 3 * $base;
    cursor: pointer;
    opacity: 0.1;
    height: 10 * $base;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    &.vtg-small {
      opacity: 1;
      background-color: #fff;
      color: $red;
      padding: 0.688rem;
      height: 100%;

      .icon {
        margin-right: 0;
      }
    }

    @media (max-width: 1100px) {
      height: 8 * $base;
    }

    @media (max-width: 640px) {
      padding-left: 1.25 * $base;
      padding-right: 1.25 * $base;
    }
  }

  &__text {
    display: flex;
    align-items: center;
    text-transform: uppercase;

    .icon {
      height: 26px;
      margin-right: 2 * $base;
      @include text(3.25);
    }

    @media (max-width: 640px) {
      span {
        @include text(1.5);
      }
    }
  }

  label.checked .view-toggler__item {
    opacity: 1;
  }
}
</style>
