<template>
  <label class="container">
    <input :value="value" type="checkbox" @change="$emit('change', !value)" />
    <span class="checkbox__label"></span>
  </label>
</template>

<script>
export default {
  props: {
    value: Boolean,
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.container {
  position: relative;
  @include ww-icn;

  input {
    display: none;
  }

  .checkbox__label {
    position: relative;
    font-size: 24px;
    height: 6 * $base;
    width: 6 * $base;
    background-color: $red;
    border: solid 2px $red;
    color: white;
    padding: 10px;

    &::before {
      content: '\47';
    }
    &:hover {
      background-color: white;
      color: $red;
    }
    &:active {
      background-color: $dark-red;
      border: solid 2px $dark-red;
      color: white;
    }
  }

  input:checked + .checkbox__label {
    background-color: $blue;
    border: solid 2px $blue;
    color: white;

    &::before {
      content: '\65';
    }
    &:hover {
      background-color: white;
      color: $blue;
    }
    &:active {
      background-color: $dark-blue;
      border: solid 2px $dark-blue;
      color: white;
    }
  }
}
</style>
