<template>
  <div class="checkbox-container" :class="[classes]">
    <div
      class="checkbox-group"
      :style="
        checkboxState
          ? color && `background-color: ${color}; border-color: ${color};`
          : null
      "
      @click="toggle"
    >
      <input
        :id="id || uniqueId"
        :name="name"
        :value="value"
        :disabled="disabled"
        :required="required"
        :color="color"
        :checked="checkboxState"
        type="checkbox"
        @change="toggle"
      />
    </div>
    <label class="checkbox_label" @click="toggle">
      <slot />
    </label>
  </div>
</template>

<script>
  export default {
    model: {
      prop: 'model',
      event: 'change',
    },
    props: {
      id: {
        type: String,
        default: undefined,
      },
      model: {
        type: [String, Array, Boolean],
        default: false,
      },
      checked: Boolean,
      value: String,
      name: String,
      required: Boolean,
      disabled: Boolean,
      color: String,
    },
    data() {
      return {
        uniqueId: '',
      }
    },
    computed: {
      checkboxState() {
        if (this.model === undefined) return this.checked

        if (Array.isArray(this.model))
          return this.model.indexOf(this.value) !== -1

        return this.model
      },
      classes() {
        return {
          'checkbox-disabled': this.disabled,
          'checkbox-active': this.checkboxState,
        }
      },
    },
    watch: {
      checked(newVal) {
        if (newVal !== this.checkboxState) this.toggle()
      },
    },
    mounted() {
      this.genId()

      if (this.checked && !this.checkboxState) {
        this.toggle()
      }
    },
    methods: {
      toggle() {
        if (this.disabled) return

        let value = this.model

        if (Array.isArray(value)) {
          value = value.slice()
          const i = value.indexOf(this.value)

          if (i === -1) value.push(this.value)
          else value.splice(i, 1)
        } else value = !this.checkboxState

        this.$emit('change', value)
        this.$emit('click')
      },

      genId() {
        if (this.id === undefined || typeof String)
          this.uniqueId = `m-checkbox--${Math.random()
            .toString(36)
            .substring(2, 10)}`
        else this.uniqueId = this.id
      },
    },
  }
</script>

<style lang="scss" scoped>
  $button-blue: #0070ff;
  $size: 24px;
  $default-check-color: #fff;

  .checkbox-container {
    box-sizing: border-box;
    display: inline-flex;
    position: relative;
    margin: 1rem 0;
    margin-right: 1rem;
    width: 100%;
    line-height: $size;
    cursor: pointer;
    .checkbox_label {
      position: relative;
      padding-left: 1rem;
      cursor: pointer;
    }
    .checkbox-group {
      box-sizing: border-box;
      position: relative;
      // border-radius: 1px;
      border: 2px solid rgba(0, 0, 0, 0.54);
      height: $size;
      width: $size;
      min-width: $size;
      transition: 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
      input[type='checkbox'] {
        position: absolute;
        -webkit-appearance: none;
        appearance: none;
        left: -999rem;
      }
      &:after {
        box-sizing: inherit;
        content: '';
        position: absolute;
        transition: transform 0.25s ease;
        width: 8px;
        height: 15px;
        top: 0;
        left: 6px;
        z-index: 6;
        border: 2px solid $default-check-color;
        border-top: 0;
        border-left: 0;
        opacity: 0;
        transform: rotate(45deg) scale3D(0.1, 0.1, 0.1);
      }
    }
  }

  .checkbox-container.checkbox-active {
    .checkbox-group {
      background-color: $button-blue;
      border-color: $button-blue;
      &:after {
        opacity: 1;
        transform: rotate(45deg) scale3d(1, 1, 1);
      }
    }
  }

  .checkbox-disabled {
    cursor: not-allowed;
    .checkbox-group {
      opacity: 0.14;
    }
    .checkbox_label {
      opacity: 0.24;
      cursor: not-allowed;
    }
  }
</style>
