<template>
  <div class="root">
    <ImageUploader
      id="uploader"
      class="uploader"
      :accept="accept"
      @change="$emit('change', $event)"
    >
      <label slot="upload-label" for="uploader">
        <BtnWithIcon color="blue" icon="photo" invert />
      </label>
    </ImageUploader>
  </div>
</template>

<script>
export default {
  name: 'PhotoBtn',

  components: {
    BtnWithIcon: () => import('./BtnWithIcon'),
    ImageUploader: () => import('~/components/common/input/ImageUploader'),
  },

  props: {
    accept: String,
  },
}
</script>
