<template>
  <BtnWithIcon
    icon="share"
    invert
    :color="color"
    v-tooltip.auto="$t('common.share')"
    @click="share"
  />
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'ShareBtn',
  components: {
    BtnWithIcon: () => import('~/components/common/buttons/BtnWithIcon'),
  },
  props: {
    link: String,
    color: {
      type: String,
      default: 'red',
    },
  },
  methods: {
    ...mapActions({
      togglePopover: 'popovers/TOGGLE_POPOVER',
      setPopoverShareLink: 'popovers/SET_POPOVER_SHARE_LINK',
    }),
    share() {
      this.togglePopover('popover_share')

      if (this.link) this.setPopoverShareLink(this.link)
    },
  },
}
</script>
