<template>
  <div class="main-images">
    <div v-if="$slots.default" class="main-images__label"><slot></slot></div>
    <div class="main-images__images">
      <no-ssr>
        <Carousel
          v-if="images.length"
          :images="images"
          :width="0"
          :height="272"
          drag
          edit
          class="main-images__carousel"
          @update:images="$emit('input', $event)"
        />
      </no-ssr>

      <AddPhoto
        multiple
        class="main-images__upload_image_form"
        @input="uploadImage"
        @loading="loading = $event"
      >
        <Loader v-if="loading"></Loader>
        <template v-else>
          <span class="ww-icn-plus"></span>
          {{ $t('journal.crtPost.addPhoto') }}
        </template>
      </AddPhoto>
    </div>
  </div>
</template>

<script>
import thumborize from '~/utils/thumborize'

export default {
  components: {
    AddPhoto: () => import('./Uploader'),
    Carousel: () => import('.'),
    Loader: () => import('~/components/common/Loader'),
  },
  props: {
    value: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      loading: false,
    }
  },
  computed: {
    images: {
      get() {
        return this.value.map(item =>
          Object.assign(item, {
            image: thumborize(item.image, undefined, 424, 0),
          }),
        )
      },
      set(value) {
        this.$emit('input', value)
      },
    },
  },
  methods: {
    deleteItem(index) {
      this.$emit('input', this.value.filter((_, i) => i !== index))

      this.$nextTick(() => {
        this.moveSlide('backward')
      })
    },
    uploadImage(data) {
      this.$emit('input', this.value.concat(data))

      this.$nextTick(() => {
        this.moveSlide()
      })
    },
    moveSlide(v) {
      this.$refs.carousel && this.$refs.carousel.advancePage(v)
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.main-images {
  &__label {
    margin-bottom: 16px;
  }

  &__images {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 16px;

    @media (min-width: 768px) {
      grid-template-columns: auto 272px;
    }
  }

  .ww-icn-plus {
    font-size: 36px;
    margin-bottom: 16px;
    display: block;
  }

  &__upload_image_form {
    cursor: pointer;
    width: 100%;
    border: dashed 1px;
    color: $primary;
    height: 272px;
    max-width: none;

    @media (min-width: 768px) {
      max-width: 272px;
    }

    &-hidden {
      @media (max-width: 768px) {
        display: none;
      }
    }
  }
}
</style>
