<template>
  <draggable
    id="containerForSlides"
    v-model="imagesSource"
    :disabled="!drag"
    class="carousel-wrapper"
  >
    <div v-for="(src, index) in imagesSource" :key="src.id" class="slide">
      <template v-if="index === currentSlide">
        <span
          class="slide__arrow slide__arrow--prev"
          :style="prevArrayStyle"
          @click="slidePrev"
        ></span>
        <span
          class="slide__arrow slide__arrow--next"
          :style="nextArrayStyle"
          @click="slideNext"
        ></span>
      </template>
      <picture class="cover__picture">
        <source :srcset="src.webp" type="image/webp" />
        <source :srcset="src.jpeg" type="image/jpeg" />
        <img
          :id="`slide_${index}`"
          alt="slide"
          class="slide__image"
          :src="src.jpeg"
          @click="slide(index)"
          @error="loadError(src)"
        />
      </picture>
      <div v-if="edit" class="slide__delete">
        <BtnWithIcon
          v-tooltip.auto="$t('common.deletePhoto')"
          icon="trash"
          invert
          @click="deleteItem(index)"
        />
      </div>
    </div>
  </draggable>
</template>

<script>
import thumborize from '~/utils/thumborize'
import draggable from 'vuedraggable'
import { prop } from 'ramda'

const MARGIN_LEFT = 112
const MARGIN_ARROW = 24

export default {
  components: {
    draggable,
    BtnWithIcon: () => import('~/components/common/buttons/BtnWithIcon'),
  },
  props: {
    drag: {
      type: Boolean,
      default: false,
    },
    images: {
      type: Array,
      default: () => [],
    },
    edit: {
      type: Boolean,
      default: false,
    },
    width: {
      type: Number,
      default: 600,
    },
    height: {
      type: Number,
      default: 480,
    },
  },
  data() {
    return {
      currentSlide: 0,
      currentSlideWidth: 0,
      options: {
        container: '#containerForSlides',
        offset: -MARGIN_LEFT,
        x: true,
        y: false,
      },
      sliderWidth: 0,
    }
  },
  computed: {
    imagesSource: {
      get() {
        return this.images.map(item => {
          const webp = item.webp
            ? item.webp
            : thumborize(item.image, 'webp', this.width, this.height)
          const jpeg = item.jpeg
            ? item.webp
            : thumborize(item.image, 'jpeg', this.width, this.height)
          return Object.assign({}, item, { jpeg, webp })
        })
      },
      set(value) {
        this.$emit('update:images', value)
        this.options.offset = -MARGIN_LEFT
      },
    },
    nextArrayStyle() {
      if (this.currentSlideWidth > this.sliderWidth) {
        let left =
          this.sliderWidth +
          this.options.offset +
          MARGIN_LEFT -
          2 * MARGIN_ARROW
        if (left < this.currentSlideWidth) {
          return { left: left + 'px', display: 'block' }
        }
      }
      return { right: '24px' }
    },
    prevArrayStyle() {
      if (this.currentSlideWidth > this.sliderWidth) {
        if (this.options.offset > -MARGIN_LEFT) {
          let left = MARGIN_LEFT + this.options.offset + MARGIN_ARROW
          return { left: left + 'px', display: 'block' }
        }
      }
      return { left: '24px' }
    },
  },
  watch: {
    currentSlide() {
      this.currentSlideWidth = prop(
        'clientWidth',
        document.getElementById('slide_' + this.currentSlide),
      )
    },
    imagesSource(newValue, oldValue) {
      if (newValue.length > oldValue.length) {
        setTimeout(() => this.slide(newValue.length - 1), 500)
      }
      if (newValue.length) {
        this.sliderWidth =
          prop('clientWidth', document.getElementById('containerForSlides')) -
          MARGIN_LEFT
      }
    },
  },
  mounted() {
    this.sliderWidth =
      prop('clientWidth', document.getElementById('containerForSlides')) -
      MARGIN_LEFT
    this.currentSlide = 0
    let el = document.getElementById('slide_0')
    if (!el) return
    el.addEventListener(
      'load',
      event => (this.currentSlideWidth = prop('clientWidth', event.target)),
    )
  },
  methods: {
    slide(number, offset) {
      this.currentSlide = number
      if (this.currentSlide < 0) this.currentSlide = 0
      if (this.currentSlide >= this.images.length)
        this.currentSlide = this.images.length - 1

      this.options.offset = offset
        ? this.options.offset + offset - MARGIN_LEFT
        : -MARGIN_LEFT

      this.$scrollTo(`#slide_${this.currentSlide}`, 500, this.options)
    },
    slidePrev() {
      if (this.options.offset > -MARGIN_LEFT) {
        const offset =
          this.options.offset - this.sliderWidth > 0
            ? this.options.offset - this.sliderWidth
            : 0
        this.slide(this.currentSlide, offset)
      } else {
        this.slide(this.currentSlide - 1)
      }
    },
    slideNext() {
      if (
        this.currentSlideWidth >
        this.sliderWidth + this.options.offset + MARGIN_LEFT
      ) {
        let offset = 0
        if (this.currentSlideWidth - this.sliderWidth > this.sliderWidth) {
          offset = this.sliderWidth
        } else {
          offset = this.sliderWidth - this.options.offset
        }
        if (
          this.currentSlideWidth - this.sliderWidth <
          MARGIN_LEFT + 2 * MARGIN_ARROW
        ) {
          offset -= MARGIN_LEFT + 2 * MARGIN_ARROW
        }

        this.slide(this.currentSlide, offset)
      } else {
        this.slide(this.currentSlide + 1)
      }
    },
    deleteItem(index) {
      this.imagesSource = this.imagesSource.filter((_, i) => i !== index)
    },
    loadError(src) {
      const index = this.imagesSource.map((e) => { return e.id }).indexOf(src.id)
      this.imagesSource.splice(index, 1)
      if(this.imagesSource.length < 1) {
        this.$emit('loaded', this.event)
      }
      this.currentSlide--
    }
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.carousel-wrapper {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 2%;
  justify-content: flex-start;
  overflow: auto;
  margin-left: -112px;
  padding-left: 112px;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }

  .slide {
    position: relative;
    width: min-content;
    min-width: 120px;
    &:only-child .slide__image {
      @media (min-width: $desktopSD) {
        /*margin-right: 100vw;*/
      }
    }
    &:first-child > .slide__arrow--prev {
      display: none;
    }
    &:last-child > .slide__arrow--next {
      display: none;
    }
    &:not(:only-child):last-child {
      min-width: calc(100vw - 32px);
    }
    &__image {
      height: 100%;
      max-height: 50vw;
      cursor: pointer;
    }
    &__delete {
      position: absolute;
      left: $base;
      top: $base;
    }
    &__arrow {
      position: absolute;
      top: 50%;
      cursor: pointer;
      font-size: 24px;
      color: $blue;
      display: none;
      &::before {
        @include ww-icn;
        content: '\62';
      }
      &:hover {
        color: $light-blue;
      }

      @media (min-width: $desktopSD) {
        display: block;
      }

      &--prev {
        transform: translateY(-50%) scaleX(-1);
      }
      &--next {
        transform: translateY(-50%);
      }
    }
  }
}
</style>
