<template>
  <label>
    <input
      type="file"
      alt="image"
      :accept="accept.join(',')"
      :multiple="multiple"
      hidden
      @change="uploadImage"
    />
    <slot></slot>
  </label>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'AddPhoto',
  props: {
    accept: {
      type: Array,
      default: () => ['image/jpeg', 'image/png', 'image/bmp'],
    },
    multiple: {
      type: Boolean,
      default: false,
    },
    query: {
      type: Object,
    },
  },
  methods: {
    ...mapActions({
      upload: 'images/UPLOAD',
      error: 'notifications/error',
    }),
    async uploadImage(event) {
      try {
        this.$emit('loading', true)
        const files = Object.values(event.target.files)
        let data = await Promise.all(
          files.map(file => this.upload({ file, ...this.query })),
        )
        this.$emit('input', data)
      } catch (e) {
        this.error(e.message)
      } finally {
        // clear input
        event.target.value = ''
        if (!/safari/i.test(navigator.userAgent)) {
          event.target.type = ''
          event.target.type = 'file'
        }
        this.$emit('loading', false)
      }
    },
  },
}
</script>

<style scoped lang="scss">
@import '~/assets/css/variables.scss';

label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}
</style>
