<template>
  <div class="logo">
    <template v-if="!image && alt">
      <svg viewBox="0 0 80 80" xmlns="http://www.w3.org/2000/svg" height="100%">
        <circle cx="40" cy="40" r="40" class="circle" />
        <text x="40" y="50" text-anchor="middle" class="text">
          {{ initials }}
        </text>
      </svg>
    </template>
    <AsyncImage v-else :image="image" style="height: 100%" />
  </div>
</template>

<script>
export default {
  components: {
    AsyncImage: () => import('~/components/common/AsyncImage'),
  },
  props: {
    image: {
      type: String,
    },
    border: {
      type: Boolean,
    },
    alt: {
      type: String,
      default: '',
    },
    size: {
      type: [Number, String],
      default: 40,
    },
  },
  computed: {
    initials() {
      let initials = ''
      const words = this.alt && this.alt.match(/[a-zA-Zа-яА-Я\d]+/gi)
      if (words) {
        initials += words[0][0]
      }
      if (words && words.length > 1) {
        initials += words[1][0]
      }
      return initials.toUpperCase()
    },
  },
  mounted() {
    this.$el.style.setProperty('--size', this.size + 'px')
  }
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.logo {
  --size: 40px;

  height: var(--size);
  width: var(--size);
  border-radius: 50%;
  background-color: white;

  .circle {
    fill: #a556e1;
  }
  .text {
    fill: white;
    font: 32px Circe, Tahoma, Arial;
  }
}
</style>
