<i18n>
{
  "ru": {
    "cases": {
      "one": {
        "type": "Реклама фестиваля",
        "title": "Гастрономический фестиваль «Вкус Осени»",
        "subtitle": "О мероприятии узнали 10 043 человека за 14 дней",
        "terms": {
          "audience": "Молодые люди 25+",
          "location": "Живущие в городе",
          "interests": "Интересующиеся культурной жизнью города",
          "additional": "Обеспеченные и образованные"
        },
        "time": "10 минут",
        "timeLabel": "на запуск кампании",
        "price": "0 рублей",
        "priceLabel": "за услуги специалистов"
      },
      "two": {
        "type": "Реклама детского мероприятия",
        "title": "Мастер-класс для детей и родителей в мастерской керамики",
        "subtitle": "О мероприятии узнали 4 754 человека за 5 дней",
        "terms": {
          "audience": "Молодые мамы 25-30 лет",
          "location": "Живущие в пешей доступности",
          "interests": "Интересующиеся керамикой",
          "additional": "С детьми 6-12 лет"
        },
        "time": "10 минут",
        "timeLabel": "на запуск кампании",
        "price": "0 рублей",
        "priceLabel": "за услуги специалистов"
      },
      "three": {
        "type": "Реклама бизнес-мероприятия",
        "title": "Бизнес-завтрак для представителей туристической индустрии",
        "subtitle": "О мероприятии узнали 1 893 человека за 7 дней",
        "terms": {
          "audience": "Индивидуальные предприниматели",
          "location": "Работающие в нашем городе",
          "interests": "Сотрудники туристических компаний",
          "additional": "В сфере туристического бизнеса"
        },
        "time": "10 минут",
        "timeLabel": "на запуск кампании",
        "price": "0 рублей",
        "priceLabel": "за услуги специалистов"
      }
    }
  },
  "en": {
    "cases": {
      "one": {
        "title": "Homemade Pasta Workshop",
        "terms": [
          {
            "title": "Date",
            "text": "20/04/2019"
          },
          {
            "title": "Location",
            "text": "Italiana Restaurant, Boston, MA, USA"
          },
          {
            "title": "Description",
            "text": "Advertising campaign to promote a homemade Italian pasta workshop. Targeting the audiences of local residents interested in cooking and workshops, Italy and Italian dishes. As a result of the advertising campaign, <b>10 participants were registered.</b>"
          }
        ],
        "table": {
          "head": ["M+W 18-65+ y.o.", "Reach", "Clicks", "CTR"],
          "body": [
            ["Italian cuisine", "328", "4", "1,22"],
            ["Italy + Workshop", "273", "3", "1,10"],
            ["Italy + Cuisine", "156", "2", "1,28"],
            ["Italy + Cooking", "218", "2", "0,92"],
            ["Pasta + Cooking", "280", "4", "1,43"],
            ["Pasta + Homemade", "109", "2", "1,83"]
          ],
          "foot": ["", "1364", "17", "1,30"]
        }
      },
      "two": {
        "title": "Yoga Teacher Training",
        "terms": [
          {
            "title": "Date",
            "text": "01/04/2019 — 14/04/2019"
          },
          {
            "title": "Location",
            "text": "Yoga Retreat, Suffolk, England, UK"
          },
          {
            "title": "Description",
            "text": "Advertising campaign to promote a 14 Days 160 Hours Yoga Teacher Training in the UK. Targeting the audiences of local residents with relevant job titles, interests and brands. As a result of the advertising campaign. <b>21 participants have paid for the course.</b>"
          }
        ],
        "table": {
          "head": ["M+W 25-45 y.o.", "Reach", "Clicks", "CTR"],
          "body": [
            ["Yoga Teacher", "1257", "21", "1,67"],
            ["Yoga Alliance", "819", "6", "0,73"],
            ["Yogaworks", "791", "8", "1,01"],
            ["Personal Trainer + Yoga", "1187", "23", "1,94"],
            ["Personal Trainer Development Center + Yoga", "1241", "11", "0,89"],
            ["Personal Trainer + Yoga Journal", "1093", "19", "1,74"]
          ],
          "foot": ["", "6388", "88", "1,33"]
        }
      },
      "three": {
        "title": "Personal Trainer + Yoga Journal",
        "terms": [
          {
            "title": "Date",
            "text": "26/04/2019 — 11/05/2019"
          },
          {
            "title": "Location",
            "text": "Oakbank, Bunbury, Bendigo, Canberra, Maitland and Townsville, Australia"
          },
          {
            "title": "Description",
            "text": "Advertising campaign to promote a Music Festival in Australia. Budget $300, duration 14 days. Targeting the audiences of local residents interested in this and other music festivals. Also targeting fans of the music bands playing at the festival. As a result of the advertising campaign <b>134 tickets were sold.</b>"
          }
        ],
        "table": {
          "head": ["M+W 18-35 y.o.", "Reach", "Clicks", "CTR"],
          "body": [
            ["Music Festivals", "2214", "14", "0,63"],
            ["Concerts + Festival", "1208", "9", "0,75"],
            ["Coolio (Artist)", "312", "7", "2,24"],
            ["Groovin' the Moo", "1351", "43", "3,18"],
            ["Hilltop Hoods (Artist)", "284", "5", "1,76"],
            ["DMA'S (Artist)", "561", "7", "1,25"],
            ["Dynamo Dresden (Artist)", "490", "8", "1,63"],
            ["Rejjie Snow (Artist)", "713", "10", "1,40"],
            ["Sofi Tukker (Artist)", "798", "9", "1,13"],
            ["TOKiMONSTA (Artist)", "827", "11", "1,33"],
            ["Splendour In The Grass (Festival)", "1385", "17", "1,23"],
            ["Stereosonic (Festival)", "1853", "21", "1,13"],
            ["Subsonic (Festival)", "1041", "19", "1,83"]
          ],
          "foot": ["", "13037", "180", "1,50"]
        }
      }
    }
  },
  "es": {
    "cases": {
      "one": {
        "title": "Taller de pasta casera",
        "terms": [
          {
            "title": "Fecha",
            "text": "20/04/2019"
          },
          {
            "title": "Ubicación",
            "text": "Restaurante Italiana, Boston, MA, EEUU"
          },
          {
            "title": "Descripción",
            "text": "Campaña publicitaria para promover un taller de pasta italiana casera. Dirigido al público de los residentes locales interesados en la cocina y talleres, Italia y platos italianos. Como resultado de la campaña publicitaria, <b>se registraron 10 participantes.</b>"
          }
        ],
        "table": {
          "head": ["H+M 18-65+ años", "Alcance", "Clics", "CTR"],
          "body": [
            ["Cocina italiana", "328", "4", "1,22"],
            ["Italia + Workshop", "273", "3", "1,10"],
            ["Italia + Cocina", "156", "2", "1,28"],
            ["Italia + Cocinar", "218", "2", "0,92"],
            ["Pasta + Cocinar", "280", "4", "1,43"],
            ["Pasta + Hecho en casa", "109", "2", "1,83"]
          ],
          "foot": ["", "1364", "17", "1,30"]
        }
      },
      "two": {
        "title": "Formación de Profesores de Yoga",
        "terms": [
          {
            "title": "Fecha",
            "text": "01/04/2019 — 14/04/2019"
          },
          {
            "title": "Ubicación",
            "text": "Yoga Retreat, Suffolk, Inglaterra, Reino Unido"
          },
          {
            "title": "Descripción",
            "text": "Campaña publicitaria para promover una formación de profesores de yoga de 14 días y 160 horas en el Reino Unido. Dirigido al público de los residentes locales con títulos de trabajo, intereses y marcas relevantes. Como resultado de la campaña publicitaria, <b>21 participantes han pagado el curso.</b>"
          }
        ],
        "table": {
          "head": ["H+M 25-45 años", "Alcance", "Clics", "CTR"],
          "body": [
            ["Profesor de yoga", "1257", "21", "1,67"],
            ["Alianza de yoga", "819", "6", "0,73"],
            ["Yogaworks", "791", "8", "1,01"],
            ["Entrenador personal + Yoga", "1187", "23", "1,94"],
            ["Centro de Desarrollo de Entrenador Personal + Yoga", "1241", "11", "0,89"],
            ["Entrenador personal + Yoga Journal", "1093", "19", "1,74"]
          ],
          "foot": ["", "6388", "88", "1,33"]
        }
      },
      "three": {
        "title": "Festival de musica 2019",
        "terms": [
          {
            "title": "Fecha",
            "text": "26/04/2019 — 11/05/2019"
          },
          {
            "title": "Ubicación",
            "text": "Oakbank, Bunbury, Bendigo, Canberra, Maitland y Townsville, Australia"
          },
          {
            "title": "Description:",
            "text": "Campaña publicitaria para promover un Festival de Música en Australia. Presupuesto 300 €, duración de 14 días. Dirigido al público de los residentes locales interesados en este y otros festivales de música. También apuntando a los fanáticos de las bandas de música que tocan en el festival. Como resultado de la campaña publicitaria se vendieron <b>134 entradas.</b>"
          }
        ],
        "table": {
          "head": ["H+M 18-35 años", "Alcance", "Clics", "CTR"],
          "body": [
            ["Festivales de música", "2214", "14", "0,63"],
            ["Conciertos + Festivales", "1208", "9", "0,75"],
            ["Coolio (Artista)", "312", "7", "2,24"],
            ["Groovin' the Moo", "1351", "43", "3,18"],
            ["Hilltop Hoods (Artista)", "284", "5", "1,76"],
            ["DMA'S (Artista)", "561", "7", "1,25"],
            ["Dynamo Dresden (Artista)", "490", "8", "1,63"],
            ["Rejjie Snow (Artista)", "713", "10", "1,40"],
            ["Sofi Tukker (Artista)", "798", "9", "1,13"],
            ["TOKiMONSTA (Artista)", "827", "11", "1,33"],
            ["Splendour In The Grass (Festival)", "1385", "17", "1,23"],
            ["Stereosonic (Festival)", "1853", "21", "1,13"],
            ["Subsonic (Festival)", "1041", "19", "1,83"]
          ],
          "foot": ["", "13037", "180", "1,50"]
        }
      }
    }
  }
}
</i18n>

<template>
  <div class="cases-section">
    <div ref="slides" :class="{ '-raw': !slidesInited }" class="slides">
      <div v-for="(item, name, idx) in $t('cases')" :key="name" class="slide">
        <Case
          :name="name"
          :data="item"
          :plan="PLANS[idx]"
          :is-active="currentSlide === idx"
          @prev="prev()"
          @next="next()"
        />
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import Siema from 'siema'
import Case from './Case'

export default {
  components: { Case },
  data: () => ({
    slidesInited: false,
    currentSlide: 0,
  }),
  computed: {
    ...mapGetters('lang', ['LANG']),
    ...mapGetters('plans', {
      PLANS: 'RESULTS',
    }),
  },
  mounted() {
    this.initSlides()
  },
  beforeDestroy() {
    this.destroySlides()
  },
  methods: {
    initSlides() {
      this.siema = new Siema({
        selector: this.$refs.slides,
        duration: 300,
        easing: 'ease-out',
        perPage: 1,
        startIndex: 0,
        draggable: false,
        multipleDrag: true,
        loop: true,
        threshold: 20,
        onInit: () =>
          this.$nextTick(() => {
            this.currentSlide = this.siema.currentSlide
            this.slidesInited = true
          }),
        onChange: () =>
          this.$nextTick(() => {
            this.currentSlide = this.siema.currentSlide
          }),
      })
    },
    destroySlides() {
      this.siema && this.siema.destroy()
      this.siema = null
      this.slidesInited = false
    },
    prev() {
      this.siema.prev()
    },
    next() {
      this.siema.next()
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.cases-section {
  padding: ($base * 10) ($base * 20.375) ($base * 3) ($base * 12.875);

  .slides {
    max-width: $base * 157;
    margin: 0 auto;

    /*
    &.-raw {
      overflow-x: auto;
      display: flex;

      > .slide {
        min-width: 100%;
        flex: 1 0 100%;
      }
    }
    */
  }

  .slide {
  }

  @media (max-width: $sideShow) {
    padding-top: $base * 12;
    padding-right: $base * 9;
    padding-left: $base * 4.25;
  }
  @media (max-width: $desktopHD) {
    padding-top: $base * 7.25;
    padding-left: 0;
    padding-right: $base * 5.625;
  }
  @media (max-width: $desktopSD) {
    padding-top: $base * 8.25;
    padding-right: $base * 3.625;
  }
  @media ($mobile) {
    padding: $base 0 0;
  }
}
</style>
