<template>
  <div class="event-card">
    <div class="event-card__cover">
      <AsyncImage
        :image="eventImg"
        width="180"
        height="160"
        class="event-card__image"
      />
      <div class="event-card__checkbox">
        <CheckButton :value="isSelected" @change="$emit('addEventClick')" />
      </div>
    </div>
    <div class="event-card__content">
      <div class="event-card__categories">
        {{ event.categories | propToString('title') }}
      </div>
      <nuxt-link :to="`/events/${event.url_id}/`" class="event-card__title">{{
        event.title.slice(0, 60)
      }}</nuxt-link>
      <div class="event-card__dates">{{ eventDate }}</div>
    </div>
  </div>
</template>

<script>
import { path } from 'ramda'
import { makeEventDateMain } from '~/utils/formatDate'

export default {
  components: {
    AsyncImage: () => import('~/components/common/AsyncImage'),
    CheckButton: () => import('~/components/common/buttons/CheckBtn'),
  },
  filters: {
    propToString(value, prop) {
      return value
        .map(c => c[prop])
        .slice(0, 3)
        .join(', ')
    },
  },
  props: {
    event: {
      type: Object,
      default: () => ({}),
    },
    isSelected: Boolean,
  },
  computed: {
    eventImg() {
      return path(['cover', 'image'], this.event)
        ? this.event.cover.image
        : null
    },
    eventDate() {
      return makeEventDateMain({
        start: this.event.start_dt,
        end: this.event.end_dt,
        format: 'string',
      })
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.event-card {
  position: relative;
  display: flex;
  background-color: #fff;
  color: #000;
  transition: box-shadow 0.25s ease-in-out;
  &:focus,
  &:hover {
    box-shadow: 0 0 0 (0.25 * $base) rgba($blue, 1);
  }

  &__cover {
    position: relative;
    flex: 40%;
    min-height: 140px;
    display: flex;
  }
  &__checkbox {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  &__content {
    min-height: 100%;
    display: flex;
    flex-flow: column;
    flex: 60%;
    padding: 0.75rem;
    line-height: 1.5;
  }
  &__categories {
    @include text(1.5);
    margin-bottom: 0.25rem;
  }
  &__title {
    flex: 1;
  }
  &__dates {
    font-weight: bold;
  }
}
</style>
