@import '~/assets/css/variables.scss';

$display-breakpoints: (
  mobile-only: 'only screen and (max-width: #{$desktopSD - 1})',
  desktopSD-only:
    'only screen and (min-width: #{$desktopSD}) and (max-width: #{$desktopHD - 1})',
  desktopSD-and-down: 'only screen and (max-width: #{$desktopHD - 1})',
  desktopSD-and-up: 'only screen and (min-width: #{$desktopSD})',
  desktopHD-only:
    'only screen and (min-width: #{$desktopHD}) and (max-width: #{$sideShow - 1})',
  desktopHD-and-down: 'only screen and (max-width: #{$sideShow - 1})',
  desktopHD-and-up: 'only screen and (min-width: #{$desktopHD})',
  sideShow-only:
    'only screen and (min-width: #{$sideShow}) and (max-width: #{$desktopHDp - 1})',
  sideShow-and-down: 'only screen and (max-width: #{$desktopHDp - 1})',
  sideShow-and-up: 'only screen and (min-width: #{$sideShow})',
  desktopHDp-only:
    'only screen and (min-width: #{$desktopHDp}) and (max-width: #{$desktopFullHD - 1})',
  desktopHDp-and-down: 'only screen and (max-width: #{$desktopFullHD - 1})',
  desktopHDp-and-up: 'only screen and (min-width: #{$desktopHDp})',
  desktopFullHD-only: 'only screen and (min-width: #{$desktopFullHD})',
);

@each $size, $media_query in $display-breakpoints {
  .hidden {
    &-#{$size} {
      @media #{$media_query} {
        display: none !important;
      }
    }
  }
}
