// just list with icons

&_subscribe::before {
  content: 'd';
}

&_share::before {
  content: 'A';
}

&_comment::before {
  content: 'g';
}

&_add::before {
  content: 'G';
}

&_photo::before {
  content: 'L';
}

&_remove::before {
  content: 'D';
}

&_envelope::before {
  content: 'k';
}

&_bookmark::before {
  content: 'd';
}

&_check::before {
  content: 'e';
}

&_edit::before {
  content: 'v';
}
