@import '~/assets/css/_display.scss';

*,
*::before,
*::after {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

nav {
  line-height: 1.2;
}

*::selection {
  background-color: $blue;
  color: white;
}

@media (pointer: fine) {
  *::-webkit-scrollbar {
    height: 3px;
    //width: $scroll-width;
    width: 0;
    background: white;

    &-track {
      border-radius: 0;
      box-shadow: inset 0 0 1px rgba(black, 0.3);
    }

    &-thumb {
      background: $light-blue;
      border-radius: 0;
      &:hover {
        background: $dark-blue;
      }
    }

    &-thumb:window-inactive {
      background-color: $light-blue;
    }
  }
}

// for firefox
* {
  scrollbar-color: $blue white;
  //scrollbar-width: thin;
  scrollbar-width: none;
}

html {
  scroll-behavior: smooth;
}

body {
  @include text(2);
  background-color: $gray;
  font-family: $circe;
  padding-bottom: 7 * $base;

  @media (min-width: $sideShow) {
    padding-left: $ww-side-width-1;
    padding-bottom: 24 * $base;
  }
  @media (min-width: $desktopHDp) {
    padding-left: $ww-side-width;
  }

  // it makes whole page scrolls by Y axis
  // overflow-y: overlay; // prevent scrollbar from pushing contents
}

h1 {
  @include text(4);
  font-weight: normal;
  margin: 0;

  @media (min-width: $desktopSD) {
    @include text(7);
  }
  @media (min-width: $desktopHDp) {
    @include text(8);
  }
}

h2 {
  @include text(3);
  font-weight: normal;
  margin: 0;

  @media (min-width: $desktopHDp) {
    @include text(4);
  }
}

h3 {
  @include text(2);
  font-weight: normal;
  margin: 0;

  @media (min-width: $desktopHDp) {
    @include text(3);
  }
}

p {
  margin-top: 1.33em;
  margin-bottom: 1.33em;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

input,
textarea {
  border-radius: 0;
  -webkit-appearance: none;
  line-height: normal !important;
}

input,
select,
textarea {
  background-color: white;
  border: none;
  display: block;
  outline: none;
  padding: 0 20px;
  height: 64px;
  transition: 0.15s ease-in;
  width: 100%;
  @include text(3);

  @media (min-width: 1180px) {
    @include text(4);
    padding: (2 * $base) (3 * $base);
  }

  &:focus {
    box-shadow: 0 0 0 2px rgba($blue, 1);
    transition: 0.3s ease-out;
  }

  &::placeholder {
    color: rgba(black, 0.4);
  }
}
input{
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
  }
}
input[type=number] {
  -moz-appearance: textfield;
}

input[type='radio'] {
  appearance: none;
  display: inline-block;
  vertical-align: middle;
  width: $base * 3;
  height: $base * 3;
  border-radius: 50%;
  background: #fff;
  border: 1px solid $black-gray;
  transition: box-shadow 0.3s;

  &:checked {
    border: none;
    box-shadow: inset 0 0 0 $base $blue;
  }

  &:disabled {
    opacity: 0.5;

    &:checked {
      opacity: 0.6;
    }
  }
}

textarea {
  height: auto;
  resize: vertical;
  padding-top: 10px;
  padding-bottom: 10px;
}

button {
  background-color: inherit;
  border: none;
  cursor: pointer;
  outline: none;
}

.wrapper {
  box-sizing: content-box;
  margin: 0 16px;
  @media (min-width: 360px) {
    margin: 0 piecewise-linear-margin(360px, $desktopSD, 16px, 40px);
  }
  @media (min-width: $desktopSD) {
    margin: 0 piecewise-linear-margin($desktopSD, $desktopHD, 40px, 104px);
  }
  @media (min-width: $desktopHD) {
    margin-left: piecewise-linear-margin($desktopHD, $sideShow, 104px, 160px);
    margin-right: piecewise-linear-margin($desktopHD, $sideShow, 104px, 74px);
  }
  @media (min-width: $sideShow) {
    margin-left: piecewise-linear-margin($sideShow, $desktopHDp, 64px, 112px);
    margin-right: piecewise-linear-margin($sideShow, $desktopHDp, 74px, 72px);
  }
  @media (min-width: $desktopHDp) {
    margin-left: piecewise-linear-margin(
      $desktopHDp,
      $desktopFullHD,
      112px,
      225px
    );
    margin-right: piecewise-linear-margin(
      $desktopHDp,
      $desktopFullHD,
      72px,
      231px
    );
  }
  @media (min-width: $desktopFullHD) {
    max-width: 1352px;
  }
}

.label {
  display: inline-block;
  margin-bottom: 2 * $base;
}

.small-placeholder::placeholder {
  @include text(2);
}

.address {
  &::before {
    @include ww-icn;
    content: 'r';
    font-size: $base;
    margin-right: 0.5 * $base;
    position: relative;
    top: -1px;

    @media (min-width: $desktopHD) {
      font-size: 2 * $base;
      margin-right: $base;
      top: 2px;
    }
  }
}

.popover-close-button {
  color: white;
  cursor: pointer;
  font-size: 3 * $base;
  line-height: 0.5;
  position: absolute;
  right: 2 * $base;
  top: 2 * $base;
  transition: 0.15s ease-out;
  z-index: 2;

  @media (min-width: $desktopHD) {
    right: 4 * $base;
    top: 4 * $base;
  }

  &:hover,
  &:focus {
    transform: scale(1.1);
  }

  .ww-icn-cross {
    color: white;
  }
}

[data-icon]:before {
  @include ww-icn;
  content: attr(data-icon);
}

[class^='ww-icn-']:before,
[class*=' ww-icn-']:before {
  @include ww-icn;
}

.flex {
  display: flex;
  &.v-center {
    justify-content: center;
  }
  &.h-center {
    align-items: center;
  }
  &.col {
    flex-flow: column;
  }
  &.flex-1 {
    flex: 1;
  }
}

.mt-1 {
  margin-top: 16px;
}
.mt-2 {
  margin-top: 32px;
}
.mt-3 {
  margin-top: 64px;
}
.mb-1 {
  margin-bottom: 16px;
}
.mb-2 {
  margin-bottom: 32px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  overflow: hidden;
}

.ww-avatar {
  background-color: $blue;
  border-radius: 50%;
  overflow: hidden;
  position: relative;

  @each $size in 4, 6, 8, 30 {
    &_#{$size} {
      height: $size * $base;
      width: $size * $base;
    }
  }
  &__image {
    height: 100%;
    left: 0;
    object-fit: cover;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.no-wrap {
  white-space: nowrap;
}

.capitalize-first {
  text-transform: capitalize;
}

/* transitions start */

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.4s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

/* transitions end */
