.button {
  $box-shadow: inset 0 0 0 2px;

  box-shadow: $box-shadow $primary;
  color: $primary;
  cursor: pointer;
  display: block;
  font-size: 1.5 * $base;
  font-weight: bold;
  letter-spacing: 0.8px;
  padding: (2.75 * $base) (2 * $base) (2.25 * $base);
  text-align: center;
  text-transform: uppercase;
  transition: 0.15s ease-out;
  width: 100%;

  @media (min-width: $desktopHD) {
    font-size: inherit;
    padding: (3.375 * $base) (4 * $base) (2.625 * $base);
  }
  &:hover,
  &:focus {
    background-color: $primary;
    color: white;

    .button__arrow {
      transform: translateX(8px);
    }
  }

  &_black {
    background-color: black;
    box-shadow: inset 0 0 0 2px #000;
    color: white;
    &:hover {
      background-color: black;
    }
  }

  &_white {
    box-shadow: $box-shadow white;
    color: white;
  }

  &_big {
    &:hover,
    &:focus {
      &::after {
        opacity: 1;
        transform: translateX(0);
        transition: opacity 0.2s ease-out, transform 0.2s ease-out;
      }
    }

    &::after {
      @include ww-icn;
      content: 'b';
      display: inline-block;
      font-size: 2 * $base;
      margin-left: 1.7 * $base;
      margin-right: -2.325 * $base;
      opacity: 0;
      position: relative;
      top: -2px;
      transform: translateX(-8px);
      vertical-align: middle;

      @media (min-width: 736px) {
        margin-left: 8.5 * $base;
        margin-right: -11.625 * $base;
      }

      @media (min-width: $desktopHD) {
        font-size: 3 * $base;
      }
    }
  }

  &_primary {
    background-color: $primary;
    color: white;
    padding: (2.875 * $base) (2 * $base) (2.125 * $base);
  }

  &:disabled {
    background-color: black;
    box-shadow: inset 0 0 0 2px #000;
  }
  &.button_black:disabled {
    background-color: transparent;
    box-shadow: inset 0 0 0 2px white;
  }
  &_social {
    $soc-icn-size: 10 * $base;
    $arrow-shift: 1.5 * $base;

    font-size: 3 * $base;
    font-weight: normal;
    padding-top: 3.5 * $base;
    padding-bottom: 2.75 * $base;
    padding-left: $soc-icn-size + 3 * $base;
    position: relative;
    text-transform: lowercase;
    white-space: nowrap;

    &:hover,
    &:focus {
      &::before {
        background-color: white;
        color: $blue;
      }

      &::after {
        opacity: 1;
        transform: translateX(-$arrow-shift);
      }

      .button__caption {
        transform: translateX(-$arrow-shift);
      }
    }

    &::before {
      @include ww-icn;
      border-right: 2px solid white;
      height: 100%;
      left: 0;
      line-height: $soc-icn-size;
      position: absolute;
      text-align: center;
      top: 0;
      width: $soc-icn-size;
    }

    &::after {
      @include ww-icn;
      content: 'b';
      display: inline-block;
      opacity: 0;
      margin-left: 3 * $base;
      margin-right: -6 * $base;
      transition: 0.25s ease-out;
    }
  }

  &_fb::before {
    content: 'n';
  }

  &_vk::before {
    content: 'K';
  }

  &_megaphone::before {
    @include ww-icn;
    content: 't';
    display: inline-block;
    font-size: 4 * $base;
    margin-top: -16px;
    margin-right: 3 * $base;
    position: relative;
    top: 9px;
  }

  &_link {
    background-color: transparent !important;
    box-shadow: none;
    color: $blue !important;
    font-weight: normal;
    letter-spacing: 0;
    text-transform: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  &_link-big {
    font-weight: bold;
    text-transform: uppercase;
  }

  &_icon {
    $size: 6 * $base;

    align-items: center;
    display: inline-flex;
    height: $size;
    justify-content: center;
    padding: 0;
    width: $size;

    &::before {
      @include ww-icn;
    }
  }

  &_eye {
    font-size: 3 * $base;

    &::before {
      content: 'm';
    }
  }

  &_pencil {
    font-size: 2.25 * $base;

    &::before {
      content: 'v';
    }
  }

  &__caption {
    display: inline-block;
    position: relative;
    top: -0.375 * $base;
    transition: 0.25s ease-out;
  }

  &__counter {
    font-size: 1.5 * $base;
    font-weight: normal;
    margin-left: $base;

    @media (min-width: $desktopHD) {
      margin-left: 0.5 * $base;
      position: relative;
      top: -$base;
    }
  }

  &__arrow {
    display: inline-block;
    font-size: 3 * $base;
    margin-top: -8px;
    margin-left: 3 * $base;
    position: relative;
    top: 4px;
    transition: transform 0.2s ease-out;
  }
}
