.event-grid {
  margin-bottom: 2 * $base;
  display: grid;
  grid-gap: $base;
  grid-template-columns: repeat(auto-fill, minmax(20.875 * $base, 1fr));

  @media (min-width: $desktopSD) {
    margin-bottom: 7 * $base;
    grid-auto-rows: 57 * $base;
    grid-gap: 5 * $base;
    grid-template-columns: repeat(auto-fill, 37 * $base);
  }

  @media ($mobile) {
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  }

  &_small {
    @media (min-width: $desktopSD) {
      /*<!--grid-auto-rows: 35 * $base;-->*/
      grid-template-columns: repeat(auto-fill, minmax(23 * $base, 1fr));
    }

    .event-card {
      &__overlay-info {
        @include text(2);
      }
      &__image {
        height: 16 * $base;
      }

      &__category {
        @include text(1.5);
        line-height: 2 * $base;
      }

      &__caption {
        @include text(2);
      }
    }
  }
}
