body.empty {
  .popover {
    left: 0;
  }
}

.popover {
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: 0;
  overflow-y: auto;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 105;
  .mobile {
    display: none !important;
  }
  @media screen and (max-width: 425px) {
    .mobile {
      display: block !important;
    }
    .desktop {
      display: none !important;
    }
  }
  @media (min-width: $sideShow) {
    left: $ww-side-width-1;
  }
  @media (min-width: $desktopHDp) {
    left: $ww-side-width;
  }

  &_alert {
    align-items: center;
    background-color: $gray;
    justify-content: center;
    text-align: center;

    .popover-close-button {
      color: $blue;
    }

    .popover {
      &__top,
      &__bottom {
        background-color: transparent;
        justify-content: center;
        max-width: 93 * $base;
        width: 100%;

        .wrapper {
          text-align: center;
        }
      }

      &__top {
        display: flex;
        justify-content: flex-end;
        padding-top: 17 * $base;
        padding-bottom: 5 * $base;

        @media (min-width: $desktopHD) {
          padding-top: 0;
        }

        .wrapper {
          display: block;
          flex-grow: 0;
        }
      }

      &__bottom {
        padding-top: 0;
      }
    }
  }

  &__alert-success-icon {
    color: $blue;
  }

  &__alert-text {
    margin-top: 3 * $base;
  }

  &__top {
    background-color: $blue;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    @media (min-width: $desktopHD) {
      background-color: rgba($blue, 0.8);
      height: 50vh;
    }

    .wrapper {
      display: flex;
      position: relative;

      @media (min-width: $desktopHD) {
        flex-grow: 1;
      }
    }
  }
  &-add_place,
  &-add_event {
    .popover__top {
      background-color: #212121;
      @media screen and (max-width: 425px) {
        background: $blue;
      }
    }
  }
  &__place-label {
    color: white;
    cursor: pointer;
    margin-top: 14 * $base;
    margin-bottom: $base;

    @media (min-width: $desktopHD) {
      margin-top: auto;
    }
  }

  &__form {
    background-color: white;
    display: flex;
    flex-shrink: 0;
    margin-left: 2 * $base;
    margin-right: 2 * $base;

    @media (min-width: $desktopHD) {
      margin-left: 0;
      margin-right: 0;
      padding-left: $wrapper-padding-left;
      padding-right: $wrapper-padding-right;
    }

    &_multi {
      flex-direction: column;
      margin-top: 17 * $base;

      @media (min-width: $desktopHD) {
        flex-direction: row;
        margin-top: auto;
      }

      @media (max-width: 979px) {
        .popover__input-block_place::before {
          color: black;
          display: block;
          @include text(1);
          // margin-left: 3 * $base;
          margin-right: -2 * $base;
          // top: 1px;
          padding-left: 1rem;
        }
      }

      .popover__input {
        @include text(2);
        flex-direction: row;

        @media (min-width: $desktopHD) {
          @include text(3);
        }
      }
    }
  }

  &__input-block {
    align-items: center;
    border-top: 1px solid $blue;
    display: flex;
    width: 100%;
    min-height: 55px;

    &.select-input {
      padding: 0 !important;
    }

    @media (min-width: $desktopHD) {
      border-top: none;
    }

    &:first-child:not(.popover__input-block_place) {
      .popover__input {
        @media (min-width: $desktopHD) {
          padding-left: 0;
        }
      }
    }

    &:not(:first-child) {
      @media (min-width: $desktopHD) {
        border-left: 1px solid $blue;
      }
    }

    &:last-child {
      margin-right: -72px;
      @media (min-width: $desktopHD) {
        min-width: 380px;
      }
    }

    // &:nth-child(2) {
    //   @media (min-width: $desktopHD) {
    //     padding-left: 5 * $base;
    //   }
    // }

    &_place {
      align-items: center;
      display: flex;

      &::before {
        @include ww-icn;
        content: 'r';
        color: $blue;
        margin-right: -1.75 * $base;
        position: relative;
        top: -2px;
        z-index: 100;
        padding-left: 1rem;
        @media (min-width: $desktopSD) {
          @include text(3);
        }
        @media ($mobile) {
          display: none;
        }
      }
    }
  }

  &__input {
    @include text(3);
    padding-top: 2 * $base;
    padding-bottom: 2 * $base;
    padding-left: 3 * $base;
    padding-right: 3 * $base;

    @media (min-width: $desktopSD) {
      padding-top: 25px;
      padding-bottom: 2.5 * $base;
      padding-left: 2.5 * $base;
      padding-right: 2.5 * $base;
    }

    &:focus::placeholder {
      color: transparent;
    }

    &:focus {
      box-shadow: none;
    }

    &_date {
      width: 15 * $base;
      color: $red;
      @media (min-width: $desktopHD) {
        min-width: 18.75 * $base;
        width: 100%;
      }
      &-normal {
        color: black;
      }
    }
  }

  &__bottom {
    background-color: $blue;
    flex-grow: 1;
    padding-top: 4 * $base;
    padding-bottom: 13vh;
    overflow-y: overlay;

    @media (min-width: $desktopHD) {
      padding-top: 9vh;
    }

    .wrapper {
      overflow: visible;
    }
  }

  &__places-container {
    display: flex;
    flex-direction: column;

    @media (min-width: $desktopSD) {
      display: grid;
      grid-gap: 32px;
      grid-template-rows: repeat(3, 1fr);
      grid-auto-flow: column;
    }
    @media ($mobile) {
      padding-left: 1rem;
      font-weight: 200;
    }
  }

  &__place-item {
    @include text(2);
    color: white;
    cursor: pointer;
    padding: $base 0;
    transform-origin: left center;
    transition: 0.15s ease-out;

    @media (min-width: $desktopSD) {
      @include text(3);
      padding: 0;
    }

    &:hover,
    &:focus {
      transform: scale(1.025);
    }
  }
}
