.sticky {
  $side-width: 51 * $base;
  $side-width-thin: 41 * $base;
  $gap: 5 * $base;

  @media (min-width: $desktopHD) {
    align-items: flex-start;
    display: flex;
  }

  &_thin {
    .sticky__content {
      @media (min-width: $desktopHD) {
        max-width: calc(100% - #{$side-width-thin} - #{$gap});
      }
    }

    .sticky__side {
      width: $side-width-thin;
    }
  }

  &__content {
    @media (min-width: $desktopHD) {
      flex-grow: 1;
      margin-right: $gap;
      max-width: calc(100% - #{$side-width} - #{$gap});
    }
  }

  &__side {
    display: none;

    @media (min-width: $desktopHD) {
      display: block;
      position: sticky;
      top: 2 * $base;
      width: $side-width;
    }
  }
}
