// @import '~/assets/css/variables.css';

$base: 8px;

$circe: 'Circe', Tahoma, Arial;

$primary: var(--primary);
$secondary: var(--secondary);
$light-blue: #1b7fff;
$blue: #0070ff;
$dark-blue: #0063e0;
$black-blue: #223a76;

$red: #f50052;
$light-red: #ff4d88;
$special-red: #d11701;
$dark-red: #db0049;

$gray: #f8f9fa;
$dark-gray: #e6eaed;
$black-gray: #c6c7c8;
$black-gray-hover: #9e9fa0;

$ww-side-width: 14 * $base;
$ww-side-width-1: 96px;
$wrapper-max-width: 163 * $base;
$wrapper-padding-left: $ww-side-width;
$wrapper-padding-right: 9 * $base;
$place-cover-height: 68 * $base;
$scroll-width: 0.75 * $base;

$mobile: 'max-width: 426px';
$desktopSD: 768px;
$desktopHD: 1024px;
$sideShow: 1280px;
$desktopHDp: 1600px;
$desktopFullHD: 1920px;

@function piecewise-linear-margin(
  $screen1,
  $screen2,
  $margin1,
  $margin2,
  $conf: 1
) {
  $a: ($margin2 - $margin1) / ($screen2 - $screen1);
  $b: ($margin1 * $screen2 - $margin2 * $screen1) / ($screen2 - $screen1);
  $margin: calc(#{$conf} * (#{$a} * 100vw + #{$b}));
  @return $margin;
}

@function mq-resolution($ratio: 1) {
  @return (-webkit-min-device-pixel-ratio: $ratio),
    (min-resolution: 96dpi * $ratio);
}

@function ratio($for, $of) {
  @return 100% * $for / $of;
}

@mixin text($multiplier) {
  $media-multiplier: 1;
  font-size: $multiplier * $base * $media-multiplier;
  line-height: ($multiplier + 1) * $base * $media-multiplier;
  //
  //@media (min-width: 1500px) {
  //  font-size: $multiplier * $base;
  //  line-height: ($multiplier + 1) * $base;
  //}
}

@mixin no-text-wrap() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin ww-icn {
  font-family: 'ww-icons' !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin max-lines($max-lines, $font-size, $line-height) {
  display: -webkit-box;
  -webkit-line-clamp: $max-lines;
  -webkit-box-orient: vertical;
  font-size: $font-size;
  line-height: $line-height;
  max-height: $max-lines * $line-height;
  overflow: hidden;
}

/*
  responsive youtube iframe;
  $width - max width of block, else will take 100% of wrapper
*/
@mixin video-responsive($width) {
  .video-responsive {
    position: relative;
    width: $width;
    max-width: 100%;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    background: #f3f3f3;

    &__inner {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

@mixin full-height-without-header() {
  height: calc(100vh - #{$base * 11});
  @media (max-width: $sideShow) {
    height: calc(100vh - #{$base * 8});
  }
}

@mixin prevent-body-padding() {
  @media (min-width: $sideShow) {
    margin-bottom: -($base * 24);
  }
  @media (max-width: $sideShow) {
    margin-bottom: -($base * 7);
  }
}

.tooltip {
  display: block !important;
  z-index: 10000;

  .tooltip-inner {
    background: black;
    color: white;
    padding: 12px 20px;
  }

  .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
    border-color: black;
    z-index: 1;
  }

  &[x-placement^="top"] {
    margin-bottom: 5px;

    .tooltip-arrow {
      border-width: 5px 5px 0 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      bottom: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^="bottom"] {
    margin-top: 5px;

    .tooltip-arrow {
      border-width: 0 5px 5px 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-top-color: transparent !important;
      top: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^="right"] {
    margin-left: 5px;

    .tooltip-arrow {
      border-width: 5px 5px 5px 0;
      border-left-color: transparent !important;
      border-top-color: transparent !important;
      border-bottom-color: transparent !important;
      left: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &[x-placement^="left"] {
    margin-right: 5px;

    .tooltip-arrow {
      border-width: 5px 0 5px 5px;
      border-top-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      right: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &.popover {
    $color: #f9f9f9;

    .popover-inner {
      background: $color;
      color: black;
      padding: 24px;
      border-radius: 5px;
      box-shadow: 0 5px 30px rgba(black, .1);
    }

    .popover-arrow {
      border-color: $color;
    }
  }

  &[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    transition: opacity .15s, visibility .15s;
  }

  &[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transition: opacity .15s;
  }
}
