<i18n>
{
  "ru": {
    "onlineEvent": "Online событие"
  },
  "en": {
    "onlineEvent": "Online event"
  },
  "es": {
    "onlineEvent": "Online event"
  }
}
</i18n>

<template>
  <div class="event-card-horizontal">
    <nuxt-link :to="eventRoute">
      <AsyncImage
        :image="cover"
        :fitSize="{ width: 250, height: 250 }"
        makeFit
        contain
        class="event-card-horizontal__cover"
      />
    </nuxt-link>
    <div class="event-card-horizontal__content">
      <div class="actions action-menu hidden-mobile-only">
        <Menu
          v-if="isOwn && !isOrganizerView"
          :event="event"
          :hasTicketsStat="hasTicketsStat"
          :isFinished="isFinished"
          :profileId="profileId"
          class="action -event-menu"
          @remove="$emit('remove', $event)"
          @download="$emit('download', $event)"
          @toggleStatTable="onToggleStatTable"
        />
        <template v-else>
          <button
            v-only-auth:click="addToJournal"
            v-tooltip.auto="$t('common.addToJournal')"
            class="action -btn"
          >
            <span class="icon ww-icn-plus"></span>
          </button>
          <div
              v-if="isEventApproved || isEventReject"
            v-tooltip.auto="
              isEventApproved
                ? $t('common.moderation.approved')
                : $t('common.moderation.rejected')
            "
            class="action -check-icon"
          >
            <Icon v-if="isEventApproved" src="icons/check-round.svg" />
            <Icon v-else-if="isEventReject" src="icons/uncheck-round.svg" />
          </div>
        </template>
      </div>

      <nuxt-link class="header" :to="eventRoute" v-text="event.title" />

      <div class="event-date">
        <nuxt-link class="link event-date__main" :to="eventRoute">
          <EventCardDateTime
              class="period"
              :obj="event"
              :forcePeriod="true"
          />
        </nuxt-link>

        <transition name="fade">
          <StatLink
            v-if="hasTicketsStat && defaultSession"
            class="hidden-mobile-only"
            :defaultSession="defaultSession"
          />
        </transition>
      </div>

      <div class="event-is-online">
        <template v-if="isOnline">{{ $t('onlineEvent') }}</template>
      </div>

      <transition name="fade">
        <StatLink
          v-if="hasTicketsStat && defaultSession"
          class="hidden-desktopSD-and-up"
          :defaultSession="defaultSession"
        />
        <div v-else-if="!isOwn" class="actions hidden-desktopSD-and-up">
          <button
            v-only-auth:click="addToJournal"
            v-tooltip.auto="$t('common.addToJournal')"
            class="action -btn"
          >
            <span class="icon ww-icn-plus"></span>
          </button>
          <div
            v-tooltip.auto="
              isEventApproved
                ? $t('common.moderation.approved')
                : $t('common.moderation.rejected')
            "
            class="action -check-icon"
          >
            <Icon v-if="isEventApproved" src="icons/check-round.svg" />
            <Icon v-else-if="isEventReject" src="icons/uncheck-round.svg" />
          </div>
        </div>
      </transition>

      <div class="footer hidden-mobile-only">
        <template v-if="hasTickets">
          <TicketsStat
            v-if="hasTicketsStat"
            :schemes="schemes"
            :isOpenedStatTable="isOpenedStatTable"
            @toggleStatTable="onToggleStatTable"
          />
          <BuyTicketsButton v-else :event="event" />
        </template>

        <div v-else-if="plan" class="plan-price">
          {{ $t('common.price') }}:
          <Price :price="plan.price" :currency="plan.currency_symbol || ''" />
        </div>
      </div>
    </div>

    <div class="footer hidden-desktopSD-and-up">
      <template v-if="hasTickets">
        <TicketsStat
          v-if="hasTicketsStat"
          :schemes="schemes"
          :isOpenedStatTable="isOpenedStatTable"
          @toggleStatTable="onToggleStatTable"
        />
        <BuyTicketsButton v-else :event="event" />
      </template>

      <div v-else-if="plan" class="plan-price">
        {{ $t('common.price') }}:
        <Price :price="plan.price" :currency="plan.currency_symbol || ''" />
      </div>
    </div>

    <ExpandTransition v-if="hasTicketsStat">
      <TicketsStatTable
        v-if="isOpenedStatTable"
        :schemesBySession="schemesBySession"
        :defaultSession="defaultSession"
        :event="event"
        :ticketsData="ticketsData"
      />
    </ExpandTransition>
  </div>
</template>

<script>
import { path, prop, groupBy, pipe, sort, values, map, last } from 'ramda'
import { mapActions } from 'vuex'
import get from 'lodash/get'

import { getTicketsSchemes } from '~/api'
import { formatPrice } from '~/utils'
import popoverConsts from '~/utils/popoverConsts'
import { makeDateTimeStringFromEvent } from '~/utils/formatDate'
import { formatTotalTicketsData } from '~/utils/schemes'
import moment from 'moment'
// TODO: доделать даты
export default {
  components: {
    AsyncImage: () => import('~/components/common/AsyncImage'),
    Icon: () => import('~/components/common/Icon'),
    BuyTicketsButton: () => import('~/components/common/buttons/BuyTicketsButton'),
    EventCardDateTime: () => import('../EventCardDateTime'),
    Price: () => import('~/components/common/Price'),
    Menu: () => import('./Menu'),
    TicketsStat: () => import('./TicketsStat'),
    TicketsStatTable: () => import('./TicketsStatTable'),
    StatLink: () => import('./StatLink'),
    ExpandTransition: () => import('~/components/transitions/ExpandTransition'),
  },

  props: {
    event: {
      type: Object,
      required: true,
    },
    isOwn: Boolean,
    isOrganizerView: Boolean,
    profileId: Number
  },

  data: () => ({
    isOpenedStatTable: false,
    schemes: null,
  }),

  computed: {
    hasTicketsStat() {
      return this.hasTickets && this.isOwn
    },
    eventRoute() {
      return {
        name: 'events-id',
        params: { id: this.event.url_id },
      }
    },
    category() {
      return (
        path(['category', 'title'], this.event) ||
        path(['type', 'title'], this.event)
      )
    },
    isPromo() {
      return prop('is_promo', this.event) || prop('selected', this.event)
    },
    isOnline() {
      return prop('is_online', this.event)
    },
    plan() {
      return path(['promo', 'plan'], this.event)
    },
    cover() {
      return path(['cover', 'image'], this.event)
    },
    hasTickets() {
      return path(['tickets', 'provider'], this.event) === 'whatwhere'
    },
    eventMaxPrice() {
      return path(['tickets', 'max_price'], this.event)
    },
    eventMinPrice() {
      return path(['tickets', 'min_price'], this.event)
    },
    eventPriceCurrency() {
      return path(['tickets', 'currency'], this.event)
    },
    eventPrice() {
      return formatPrice({
        max: this.eventMaxPrice,
        min: this.eventMinPrice,
        currency: this.eventPriceCurrency,
      })
    },
    isEventApproved() {
      return String(this.event.manual_moderation_status) === '2'
    },
    isEventReject() {
      return String(this.event.manual_moderation_status) === '0'
    },
    start() {
      return makeDateTimeStringFromEvent({
        event: this.event,
        variant: 'start',
      })
    },
    end() {
      return makeDateTimeStringFromEvent({
        event: this.event,
        variant: 'end',
      })
    },
    now() {
        return moment.utc();
      },
    isFinished() {
      const end_dt = path(['end_dt'], this.event)
      return end_dt ? moment.utc(end_dt) < this.now: false
    },
    /* hasTickets logic */
    schemesBySession() {
      if(!this.schemes  && !get(this.schemes, '0.session')) return null

      return pipe(
        groupBy(scheme => {
          return get(scheme, 'session.id', '')
        }),
        map(schemes => {
          return {
            session: schemes[0].session,
            schemes: schemes,
          }
        }),
        values,
        sort(({ session: sessionOne }, { session: sessionTwo }) => {
          const startDateDiff =
            new Date(sessionOne.start_dt) - new Date(sessionTwo.start_dt)

          return startDateDiff !== 0
            ? startDateDiff
            : new Date(sessionOne.end_dt) - new Date(sessionTwo.end_dt)
        }),
      )(this.schemes.results)
    },
    defaultSession() {
      if (!this.schemesBySession) return null
      /*
        Так как сеансы уже отсортированы, то возвращаем первый
        - что начался но еще не окончился
        - или ближайший который начнется в будущем
      */
      const data = this.schemesBySession.find(({ session }) => {
        const { start_dt, end_dt } = session

        const startDateTime = moment.utc(start_dt)
        const endDateTime = moment.utc(end_dt)

        return (
          (this.now >= startDateTime && this.now < endDateTime) || this.now <= startDateTime
        )
      })

      /*
        Если таких не найдено, то возвращаем последний закончившийся
      */
      return data ? data.session : last(this.schemesBySession).session
    },
    ticketsData() {
      return formatTotalTicketsData({ schemes: this.schemes })
    },
  },

  created() {
      if (this.hasTicketsStat) {
        this.getSchemes()
      }
  },

  methods: {
    ...mapActions({ openPopoverWithData: 'popovers/OPEN_POPOVER_WITH_DATA' }),
    async getSchemes() {
      try {
        const { data } = await getTicketsSchemes(this.$axios, {
          params: {
            event: this.event.id,
            expand: 'session',
          },
        })

        this.schemes = data
      } catch (e) {
        console.log(e)
      }
    },
    addToJournal() {
      this.openPopoverWithData({
        name: popoverConsts.addToJournal,
        data: {
          event: this.event,
        },
      })
    },
    onToggleStatTable() {
      this.isOpenedStatTable = !this.isOpenedStatTable
    }
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.event-card-horizontal {
  $transition: 0.2s ease;
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  transition: box-shadow $transition;
  .icon {
    height: 14px;
    font-size: 14px;
  }
  &__cover {
    width: 112px;
    height: 104px;
    margin: 4px 8px 12px 0;

    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width: $desktopSD) {
      width: 248px;
      height: 248px;
      flex: 0 0 248px;
      margin: 8px;
      margin-right: 32px;
    }
  }

  &__content {
    min-width: 0;
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 16px 20px 0 0;

    @media (min-width: $desktopSD) {
      padding: ($base * 4) ($base * 2) ($base * 3);
    }

    .actions {
      display: flex;
      align-items: stretch;
      z-index: 1;
      margin-bottom: 8px;
      margin-left: -8px;

      @media (min-width: $desktopSD) {
        padding: 8px;
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
      }

      .action {
        $action-width: $base * 4;
        width: $action-width;
        height: $action-width;
        padding: 0;

        &.-btn {
          display: flex;
          align-items: center;
          justify-content: center;
          color: #000;
          opacity: 0.4;

          &:hover,
          &:focus {
            opacity: 1;
            color: $blue;
          }
        }

        &.-check-icon {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
    .action-menu {
      z-index: auto;
    }
    .header {
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;
      position: relative;
      @include text(2);
      font-weight: bold;
      margin-right: 12px;
      margin-bottom: 2px;
      cursor: pointer;

      @media (min-width: $desktopSD) {
        @include text(3);
        margin-bottom: 16px;
      }
    }

    .event-date {
      font-weight: bold;
      margin: 0;
      @include text(1.5);
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 2px;

      @media (min-width: $desktopSD) {
        @include text(1.75);
        margin-bottom: 16px;
      }

      &__main {
        text-transform: capitalize;
        @include no-text-wrap;

        @media (min-width: $desktopSD) {
          margin-right: 24px;
        }

        .period {
          display: inline;
        }
      }
    }

    .event-is-online {
      @include text(1.5);
      line-height: 20px;
      height: 20px;
      color: #999999;
      margin-bottom: 10px;

      @media (min-width: $desktopSD) {
        margin-bottom: 16px;
      }
    }

    .plan-price {
      background: $gray;
      font-size: $base * 1.75;
      line-height: 1;
      display: inline-block;
      padding: 11px ($base * 2) 9px;
    }
  }

  .footer {
    width: 100%;
    margin: 0 8px 8px;

    @media (min-width: $desktopSD) {
      margin: 0;
      width: auto;
      margin-top: auto;
      display: flex;
      justify-content: flex-end;
    }
  }
}
</style>
