<i18n>
{
  "ru": {
    "downloadList": "Скачать список посетителей",
    "addTickets": "Добавить билеты",
    "editTickets": "Редактировать билеты",
    "stats": "Статистика",
    "eventFinished": "Событие завершено"
  },
  "en": {
    "downloadList": "Download visitors list",
    "addTickets": "Add tickets",
    "editTickets": "Edit tickets",
    "stats": "Stats",
    "eventFinished": "Event finished"
  },
  "es": {
    "downloadList": "Download visitors list",
    "addTickets": "Agregar tickets",
    "editTickets": "Modificar los tickets",
    "stats": "Estadísticas",
    "eventFinished": "Evento terminado"
  }
}
</i18n>

<template>
  <div class="event-menu">
    <PopoverMenu name="event-context-menu" :pos="{ top: 0 }" @click.native="$emit('click')">
      <span slot="face" class="toggler">
        <i class="icon-dots ww-icn-dots" />
      </span>
      <div slot="content" class="list">
        <nuxt-link
            :to="{
              name: 'events-id-edit',
              params: {id: event.url_id},
              query: {next: `/profile/${profileId}/events/`}
          }"
          class="item"
        >
          <i class="icon ww-icn-pencil-o" />
          <span v-text="$t('common.edit')" />
        </nuxt-link>
        <div v-if="hasTicketsStat" class="item item--highlighted" @click="$emit('toggleStatTable')">
          <Icon src="icons/megaphone.svg" class="icon -svg" />
          {{ $t('stats') }}
        </div>
        <nuxt-link v-if="!isFinished"
          :to="{
            name: 'events-id-tickets-edit',
            params: { id: event.url_id },
          }"
          class="item"
        >

          <Icon src="icons/book.svg" size="s" />
          {{ hasTicketsStat ? $t('editTickets') : $t('addTickets') }}
        </nuxt-link>
        <div v-else class="item-disable" @click="openNotification" >
          <Icon src="icons/book.svg" size="s" />
          {{ hasTicketsStat ? $t('editTickets') : $t('addTickets') }}
        </div>
        <nuxt-link
          v-if="!event.is_promo"
          :to="{
            name: 'events-id-promo',
            params: { id: event.url_id },
          }"
          class="item"
        >
          <Icon src="icons/megaphone.svg" class="icon -svg" />
          <span v-text="$t('eventpage.promoteShort')" />
        </nuxt-link>
        <div class="item" @click="$emit('download', event)">
          <i class="icon ww-icn-download" />
          {{ $t('downloadList') }}
        </div>
        <div class="item" @click="$emit('remove', event)">
          <i class="icon ww-icn-trash-o" />
          <span v-text="$t('common.remove')" />
        </div>
      </div>
    </PopoverMenu>
  </div>
</template>

<script>
export default {
  components: {
    Icon: () => import('~/components/common/Icon'),
    PopoverMenu: () => import('~/components/common/PopoverMenu'),
  },

  props: {
    event: {
      type: Object,
      required: true,
    },
    hasTicketsStat: Boolean,
    isFinished: {
      type:Boolean,
      default: false
    },
    profileId: Number
  },
  methods: {
    openNotification() {
      if(this.isFinished){
        this.$store.dispatch('notifications/error', this.$t('eventFinished'))
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.event-menu {
  .icon-dots {
    color: $black-gray;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
  }

  .list {
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.16);
    background: #fff;
    padding: ($base * 1.5) 0;
    .item-disable{
      color: lightgrey;
      white-space: nowrap;
      padding: ($base * 1.5) ($base * 3);
      display: flex;
      align-items: center;
      .icon{
        color: lightgrey;
      }
    }
    .item {
      cursor: pointer;
      white-space: nowrap;
      padding: ($base * 1.5) ($base * 3);
      display: flex;
      align-items: center;
      transition: color 0.2s, background 0.2s;
      .icon{
        color: $blue;
      }

      &:hover {
        color: $blue;

        &.item--highlighted {
          .icon {
            color: $blue;
          }
        }
      }

      &--highlighted {
        color: $red;

        .icon {
          color: $red;
        }
      }
    }
    .icon {
      $size: 14px;
      $margin-right: $base * 2.25;

      margin-right: $margin-right;
      display: block;
      line-height: 1;
      font-size: $size;
      width: $size;
      height: $size;
      transition: color 0.2s;

      &.-svg {
        width: $size + 4;
        height: $size + 4;
        margin-right: $margin-right - 4;
      }
    }
  }
}
</style>
