<i18n>
{
  "ru": {
    "soldTotal": "Продано / из",
    "totalling": "Сумма",
    "attended": "Пришли"
  },
  "en": {
    "soldTotal": "Sold / total",
    "totalling": "Totalling",
    "attended": "Attended"
  },
  "es": {
    "soldTotal": "Vendido / Total",
    "totalling": "Total",
    "attended": "Attended"
  }
}
</i18n>

<template>
  <div class="session-schemes-table">
    <div class="session-header">
      <div class="session-header__eventDate">
        <ExpanderButton
          class="expander-button"
          :isOpen="isExpanded"
          @toggle="isExpanded = !isExpanded"
        />
        {{ sessionsDateTime }}
      </div>
      <div
        class="hidden-desktopSD-and-up"
      >{{ ticketsData.allTicketsSold }} / {{ ticketsData.allTicketsTotal }}</div>
      <div class="hidden-mobile-only">{{ ticketsData.allTicketsTotal }}</div>
      <div class="hidden-mobile-only">{{ ticketsData.allTicketsSold }}</div>
      <div>
        <WLink v-if="isExpanded" class="stat-link" :to="ticketPassUrl">
          {{ ticketsData.allTicketsUsed }}
          <Icon src="icons/external-link.svg" size="xs" class="stat-icon" />
        </WLink>
        <span v-else>{{ ticketsData.allTicketsUsed }}</span>
      </div>
      <div>
        <div
          v-for="(price, currency) in ticketsData.priceTable"
          :key="currency"
        >{{ price }} {{ currency }}</div>
      </div>
    </div>

    <ExpandTransition>
      <div v-if="isExpanded">
        <div class="hidden-desktopSD-and-up scheme-row scheme-row--header">
          <div></div>
          <div>{{ $t('soldTotal') }}</div>
          <div>{{ $t('attended') }}</div>
          <div>{{ $t('totalling') }}</div>
        </div>
        <div v-for="scheme in ticketRows" :key="scheme.id" class="scheme-row">
          <div class="scheme-row__eventDate">{{ scheme.title }}</div>
          <div
            class="hidden-desktopSD-and-up"
          >{{ scheme.tickets_sold }} / {{ scheme.tickets_total }}</div>
          <div class="hidden-mobile-only">{{ scheme.tickets_total }}</div>
          <div class="hidden-mobile-only scheme-row__sold">{{ scheme.tickets_sold }}</div>
          <div class="scheme-row__used">
            <WLink :to="ticketPassUrl">{{ scheme.tickets_used }}</WLink>
          </div>
          <div class="scheme-row__income">{{ scheme.total_income }}</div>
        </div>
      </div>
    </ExpandTransition>
  </div>
</template>

<script>
import { makeDateTimeString, formatStrings } from '~/utils/formatDate'
import { formatTotalTicketsData, formatTicketTableRows } from '~/utils/schemes'

import ExpanderButton from '~/components/common/ExpanderButton'
import ExpandTransition from '~/components/transitions/ExpandTransition'
import WLink from '~/components/common/WLink'
import Icon from '~/components/common/Icon'

export default {
  name: 'SessionSchemesTable',

  components: {
    ExpanderButton,
    ExpandTransition,
    WLink,
    Icon,
  },

  props: {
    session: {
      type: Object,
      required: true,
    },
    schemes: {
      type: Array,
      required: true,
    },
    isDefault: Boolean,
  },

  data: () => ({
    isExpanded: false,
  }),

  computed: {
    ticketsData() {
      return formatTotalTicketsData({ schemes: { results: this.schemes } })
    },
    sessionsDateTime() {
      return makeDateTimeString({
        date: this.session.start_date,
        time: this.session.start_time,
        formatString: formatStrings.fullDateTime,
        dateFormatString: formatStrings.fullDate,
        timeFormatString: formatStrings.fullTime,
      })
    },
    ticketPassUrl() {
      return {
        name: 'events-sessions-id-tickets-pass',
        params: {
          id: this.session.id,
        },
      }
    },
    ticketRows() {
      return formatTicketTableRows({ schemes: this.schemes })
    },
  },

  mounted() {
    if (this.isDefault) {
      this.isExpanded = true
    }
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.session-schemes-table {
  border-bottom: 1px solid #000;
  padding: 14px 0;

  .session-header {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    @include text(1.5);
    font-weight: bold;
    padding: 6px 0;
    justify-items: end;

    @media (min-width: $desktopSD) {
      @include text(1.75);
      grid-template-columns: 32% 15% 15% 19% 19%;
    }

    &__eventDate {
      display: flex;
      justify-self: start;
    }

    .expander-button {
      margin-right: 0;
    }
  }

  .scheme-row {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    @include text(1.5);
    justify-items: end;
    padding: 2px 0;

    @media (min-width: $desktopSD) {
      padding: 5px 0;
      @include text(1.75);
      grid-template-columns: 32% 15% 15% 19% 19%;
    }

    &--header {
      color: #999999;
    }

    &__eventDate {
      display: flex;
      justify-self: start;

      @media (min-width: $desktopSD) {
        padding-left: 21px; // expander-button width and margin-right
      }
    }
  }

  .scheme-row__used {
    padding-right: 0.6em;
  }
  
  .scheme-row__income {
    padding-right: 0.8em;
  }

  .stat-link {
    display: flex;
    align-items: baseline;

    @media (min-width: $desktopSD) {
      margin-right: -20px;
    }

    .stat-icon {
      width: 12px;
      height: 12px;
      margin-left: 8px;
    }
  }
}
</style>