<i18n>
{
  "ru": {
    "ticketStat": "Статусы билетов"
  },
  "en": {
    "ticketStat": "Ticket statuses"
  },
  "es": {
    "ticketStat": "Ticket statuses"
  }
}
</i18n>

<template>
  <WLink
    class="stat-link"
    :to="{
      name: 'events-sessions-id-tickets-pass',
      params: {
        id: defaultSession.id
      }
    }"
  >
    <Icon src="icons/external-link.svg" size="xs" class="stat-icon" />
    {{ $t('ticketStat') }}
  </WLink>
</template>

<script>
import WLink from '~/components/common/WLink'
import Icon from '~/components/common/Icon'

export default {
  components: {
    WLink,
    Icon,
  },

  props: {
    defaultSession: {
      type: Object,
      required: true,
    },
  },
}
</script>

<style lang="scss">
@import '~/assets/css/variables.scss';

.stat-link {
  display: flex;
  align-items: center;
  font-weight: 400;
  @include text(1.5);

  @media (min-width: $desktopSD) {
    @include text(1.75);
  }

  .stat-icon {
    width: 12px;
    height: 12px;
    margin-right: 8px;
  }
}
</style>