<i18n>
{
  "ru": {
    "sold": "Продано",
    "totalling": "на сумму"
  },
  "en": {
    "sold": "Sold",
    "totalling": "totalling"
  },
  "es": {
    "sold": "Vendido",
    "totalling": "total"
  }
}
</i18n>

<template>
  <transition name="fade">
    <div v-if="ticketsData" class="tickets-stat">
      <div class="tickets-stat__sold">
        <Icon class="tickets-stat__icon" src="icons/book.svg" size="xs" />
        {{ $t('sold') }}: {{ ticketsData.allTicketsSold }}
        <span
          class="grey-text"
        >&nbsp;/&nbsp;{{ ticketsData.allTicketsTotal }}</span>
      </div>
      <div class="price-table">
        <div
          v-for="(price, currency) in ticketsData.priceTable"
          :key="currency"
          class="price-table__row"
        >
          <span class="price-table__row-icon">{{ currency }}</span>
          {{ $t('totalling' ) }} {{ price }}
        </div>
      </div>
      <div
        class="tickets-stat__expander"
        :class="{
          'tickets-stat__expander--is-open': isOpenedStatTable
        }"
        @click="$emit('toggleStatTable')"
      >
        <Icon class="expander-icon" src="icons/caret-down.svg" size="xs" />
      </div>
    </div>
  </transition>
</template>

<script>
import { formatTotalTicketsData } from '~/utils/schemes'

import Icon from '~/components/common/Icon'

export default {
  name: 'TicketsStat',

  components: {
    Icon,
  },

  props: {
    schemes: {
      type: Object,
    },
    isOpenedStatTable: Boolean,
  },

  computed: {
    ticketsData() {
      return formatTotalTicketsData({ schemes: this.schemes })
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.tickets-stat {
  background-color: $gray;
  padding: 10px 16px;
  @include text(1.75);
  display: flex;
  justify-content: center;
  align-items: flex-start;

  &__sold {
    margin-right: 24px;
    display: flex;
    align-items: center;
    white-space: nowrap;
  }

  &__icon {
    margin-right: 8px;
  }

  &__expander {
    min-height: 20px;
    margin: -5px -11px;
    padding: 5px 11px;
    cursor: pointer;
    transition: color 0.3s;

    &--is-open {
      .expander-icon {
        transform: rotate(-180deg);
      }
    }

    &:hover {
      color: $blue;
    }

    .expander-icon {
      transition: transform 0.5s ease-in-out;
    }
  }

  .price-table {
    margin-right: 30px;
    white-space: nowrap;

    &__row {
      display: flex;
    }

    &__row-icon {
      font-weight: bold;
      margin-right: 8px;
    }
  }

  .grey-text {
    color: $black-gray;
  }
}
</style>