<i18n>
{
  "ru": {
    "editTickets": "Редактировать билеты",
    "eventDate": "Сеанс / Дата",
    "totalTickets": "Всего билетов",
    "sold": "Продано",
    "totalling": "Сумма",
    "attended": "Пришли"
  },
  "en": {
    "editTickets": "Edit tickets",
    "eventDate": "Event / Date",
    "totalTickets": "Total tickets",
    "sold": "Sold",
    "totalling": "Totalling",
    "attended": "Attended"
  },
  "es": {
    "editTickets": "Modificar los tickets",
    "eventDate": "Evento / Fecha",
    "totalTickets": "Total de tickets",
    "sold": "Vendido",
    "totalling": "Total",
    "attended": "Attended"
  }
}
</i18n>

<template>
  <div class="tickets-stat-table">
    <div class="tickets-stat-table__inner">
      <div class="tickets-stat-table__actions">
        <nuxt-link
          :to="{
            name: 'events-id-tickets-edit',
            params: { id: event.url_id },
          }"
          class="edit-button"
        >
          <Icon class="edit-button__icon" src="icons/pencil.svg" size="s" />
          {{ $t('editTickets') }}
        </nuxt-link>
      </div>
      <div class="tickets-stat-table__separator hidden-desktopSD-and-up" />
      <div class="table-heading hidden-mobile-only">
        <div class="table-heading__eventDate">{{ $t('eventDate') }}</div>
        <div>{{ $t('totalTickets') }}</div>
        <div>{{ $t('sold') }}</div>
        <div>{{ $t('attended') }}</div>
        <div>{{ $t('totalling') }}</div>
      </div>
      <SessionSchemesTable
        v-for="s in schemesBySession"
        :key="s.session.id"
        :session="s.session"
        :schemes="s.schemes"
        :isDefault="s.session.id === defaultSession.id"
      />
    </div>
    <div class="tickets-stat-table__percentage" :style="{ width: soldPercentage }" />
  </div>
</template>

<script>
import { prop } from 'ramda'

import Icon from '~/components/common/Icon'
import SessionSchemesTable from './SessionSchemesTable'

export default {
  name: 'TicketsStatTable',

  components: {
    Icon,
    SessionSchemesTable,
  },

  props: {
    schemesBySession: {
      type: Array,
      required: true,
    },
    defaultSession: {
      type: Object,
      required: true,
    },
    event: {
      type: Object,
      required: true,
    },
    ticketsData: {
      type: Object,
      required: true,
    },
  },

  computed: {
    soldPercentage() {
      const tickets_used = prop('allTicketsUsed', this.ticketsData)
      const tickets_sold = prop('allTicketsSold', this.ticketsData)

      if (!tickets_used || !tickets_sold) return '0%'

      const percentage = Math.round((tickets_used / tickets_sold) * 100)

      return `${percentage}%`
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.tickets-stat-table {
  width: 100%;
  position: relative;

  &::before,
  &__percentage {
    height: 2px;
    position: absolute;
    top: 0;
    left: 0;
  }

  &:before {
    content: '';
    display: block;
    right: 0;
    background-color: $gray;
  }

  &__percentage {
    background-color: $blue;
  }

  &__separator {
    border-top: 1px solid #000;
  }

  &__actions {
    display: flex;
    margin-bottom: 24px;

    @media (min-width: $desktopSD) {
      margin-bottom: 0;
    }
  }

  &__inner {
    padding: 18px 8px 8px;

    @media (min-width: $desktopSD) {
      padding: 24px 22px 26px 22px;
    }

    @media (min-width: $desktopHD) {
      padding: 24px 52px 26px 56px;
    }
  }

  .table-heading {
    margin-top: 20px;
    color: #999999;
    @include text(1.5);

    display: grid;
    grid-template-columns: 32% 15% 15% 19% 19%;
    justify-items: end;

    &__eventDate {
      justify-self: start;
    }
  }

  .edit-button {
    display: flex;
    align-items: center;
    min-width: 200px;
    padding: 8px 16px;
    box-shadow: 0 0 10px 0 rgba(170, 178, 188, 0.2);
    color: $blue;
    @include text(1.75);
    line-height: 24px;
    transition: color 0.3s;

    &__icon {
      margin-right: 16px;
      width: 14px;
      height: 14px;
    }

    &:hover {
      color: $dark-blue;
      text-decoration: underline;
    }
  }
}
</style>