<template>
  <div class="content">
    <div
      class="content__text"
      :class="{ 'content__text--is-not-expand': !isExpand }"
      v-html="description"
    ></div>

    <div v-if="hasExpandButton" class="button-wrapper" @click="toggleExpand">
      <span class="button-name">
        {{ isExpand ? $t('eventpage.hideButton') : $t('eventpage.moreButton') }}
      </span>
      <div :class="{ 'arrow-up': isExpand, 'arrow-down': !isExpand }"></div>
    </div>

    <a
      v-for="(link, index) in links"
      :key="index"
      :href="link"
      target="_blank"
      rel="nofollow"
      class="content__link"
      @click="trackLink"
    >
      {{ link }}
    </a>
  </div>
</template>

<script>
import { path } from 'ramda'
import { trackExpandText, trackEventUrl } from '~/utils/analytics'

export default {
  name: 'Content',

  props: {
    event: Object,
  },
  data: () => ({
    isExpand: false,
  }),

  computed: {
    links() {
      return path(['event', 'links'], this.event) || []
    },
    description() {
      return path(['event', 'description'], this.event) || ''
    },
    descriptionText() {
      return path(['event', 'description_text'], this.event) || ''
    },
    hasExpandButton() {
      return Boolean(this.descriptionText.length > 250)
    },
  },

  created() {
    this.initIsExpand()
  },

  methods: {
    trackLink() {
      trackEventUrl(this)
    },
    initIsExpand() {
      this.isExpand = !this.hasExpandButton
    },
    toggleExpand() {
      trackExpandText(this)
      this.$store.dispatch('popovers/MAIL_POPOVER')
      this.isExpand = !this.isExpand
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.button-wrapper {
  display: flex;
  align-items: center;
  margin: 3 * $base 0 4 * $base 0;
  cursor: pointer;
}

.button-name {
  color: $blue;
  font-weight: bold;
  &:hover {
    text-decoration: underline;
  }
}

.arrow-up {
  border: 1px solid $blue;
  border-width: 0 0 2px 2px;
  width: 6px;
  height: 6px;
  line-height: 0;
  font-size: 0;
  margin-left: $base;
  transform: rotate(135deg);
}

.arrow-down {
  border: 1px solid $blue;
  border-width: 0 0 2px 2px;
  width: 6px;
  height: 6px;
  line-height: 0;
  font-size: 0;
  margin-bottom: 5px;
  margin-left: $base;
  transform: rotate(-45deg);
}

.content {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;

  @media (min-width: $desktopSD) {
    margin-bottom: 42px;
  }

  @media (min-width: $desktopHD) {
    margin-bottom: 30px;
  }

  @media (min-width: $sideShow) {
    margin-bottom: 48px;
  }

  &__text {
    max-width: 856px;
    word-break: break-all;

    & /deep/ {
      @include video-responsive(840px);
    }

    &--is-not-expand {
      max-height: 100px;
      overflow: hidden;
      position: relative;

      &:after {
        pointer-events: none;
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0), $gray);
        bottom: 0;
        left: 0;
        right: 0;
      }
    }

    & /deep/ p:first-child {
      margin-top: 0;
    }

    & /deep/ h1 {
      font-size: 32px;
      line-height: 32px;
    }

    & /deep/ a {
      color: $blue;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__link {
    color: $blue;
    max-width: 856px;
    word-break: break-all;
    &:hover {
      text-decoration: underline;
    }
  }
}
</style>
