<template>
  <div class="gallery">
    <h2 class="gallery__title">{{ $t('special.gallery') }}</h2>
    <div class="gallery__wrapper">
      <div ref="gallery" class="gallery__grid">
        <div
          v-for="(video, index) in videos"
          :key="'video' + index"
          class="gallery__item"
        >
          <youtube
            :videoId="getIdFromUrl(video.url)"
            :playerVars="playerVars"
            :height="192"
            :width="312"
          />
        </div>
        <div
          v-for="(image, index) in images"
          :key="'image' + index"
          class="gallery__item"
        >
          <AsyncImage :image="image.image" :height="192" :width="312" />
        </div>
        <div></div>
      </div>
      <div
        v-if="$refs.gallery && offset < $refs.gallery.clientWidth"
        class="gallery__control gallery__control--right hidden-mobile-only"
        @click="right"
      >
        <Icon src="icons/arrow-right.svg" size="m" />
      </div>
      <div
        v-if="offset > 0"
        class="gallery__control gallery__control--left hidden-mobile-only"
        @click="left"
      >
        <Icon src="icons/arrow-left.svg" size="m" />
      </div>
    </div>
  </div>
</template>

<script>
import { getIdFromUrl } from 'vue-youtube'

const OFFSET = 312

export default {
  components: {
    AsyncImage: () => import('~/components/common/AsyncImage'),
    Icon: () => import('~/components/common/Icon'),
  },
  props: {
    images: Array,
    videos: Array,
    color: String,
  },
  data: () => ({
    playerVars: { origin: window.origin },
    offset: 0,
  }),
  methods: {
    getIdFromUrl,
    right() {
      this.offset += OFFSET
      if (this.offset + OFFSET > this.$refs.gallery.clientWidth) {
        this.offset = this.$refs.gallery.clientWidth
      }
      this.$refs.gallery.scrollTo({ left: this.offset, behavior: 'smooth' })
    },

    left() {
      this.offset -= OFFSET
      if (this.offset < OFFSET) {
        this.offset = 0
      }
      this.$refs.gallery.scrollTo({ left: this.offset, behavior: 'smooth' })
    },
  },
  mounted() {
    if (this.color) {
      this.$el.style.setProperty('--active', this.color)
    }
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.gallery {
  --active: #000;

  @media (min-width: $desktopSD) {
    background-color: white;
    padding: 8% 0;
  }

  &__title {
    margin-bottom: 24px;
    @media (min-width: $desktopSD) {
      padding-left: 10%;
    }
  }

  &__wrapper {
    position: relative;
  }

  &__grid {
    @media (min-width: $desktopSD) {
      padding: 0 10%;
    }
    display: grid;
    height: 392px;
    grid-auto-flow: column;
    grid-template-rows: repeat(2, 192px);
    grid-template-columns: repeat(auto-fill, 312px);
    grid-gap: 8px;

    overflow: auto;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__control {
    position: absolute;
    top: 0;
    height: 100%;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--active);

    &--right {
      right: 0;
      background-image: linear-gradient(
        to left,
        white,
        rgba(255, 255, 255, 0.9) 31%,
        rgba(255, 255, 255, 0)
      );
    }

    &--left {
      left: 0;
      background-image: linear-gradient(
        to right,
        white,
        rgba(255, 255, 255, 0.9) 31%,
        rgba(255, 255, 255, 0)
      );
    }
  }

  &__item {
    width: 312px;
    height: 192px;
  }
}
</style>
