<template>
  <div class="root">
    <OrganizerBanner
      class="contact-organizer hidden-desktopHD-and-up"
      @click="scrollToOrganizer"
    >
      <SpecialActions class="hidden-mobile-only" />
    </OrganizerBanner>

    <div v-if="project.cover_video_url" class="background">
      <no-ssr>
        <YoutubeCover :value="project.cover_video_url" />
      </no-ssr>
    </div>

    <AsyncImage
      v-else-if="GET_COVER"
      class="background"
      :image="GET_COVER.image"
      :width="GET_COVER.original_width"
      :height="GET_COVER.original_height"
      styles="object-position: 0 50%;"
    />

    <div class="wrapper sticky-special">
      <div class="sticky-special__content">
        <div class="sticky-special__info">
          <Info class="hidden-desktopHD-and-up hidden-mobile-only" />
        </div>
        <main class="main-content">
          <Info class="sticky-special__info-mobile hidden-desktopSD-and-up" />
          <div class="info">
            <BreadCrumbs class="info__breadcrumbs">
              <BredItem href="/">{{ $t('common.main') }}</BredItem>
              <BredItem> {{ project.title }} </BredItem>
            </BreadCrumbs>

            <a href="#pitch-application-form" class="info__anchor-link">
              {{ $t('special.applyNow') }}
            </a>

            <ReadMore
              v-if="project.description"
              max-height="420"
              :color="project.main_color"
              class="info__title"
            >
              <div v-html="project.description"></div>
            </ReadMore>

            <SpecialContent
              v-if="HAS_SPECIAL_EVENTS"
              :title="$t('common.events')"
            >
              <SpecialEvents :projectId="project.id" />
            </SpecialContent>
          </div>

          <no-ssr>
            <Gallery
              v-if="images.length || videos.length"
              :images="images"
              :videos="videos"
              :color="project.main_color"
              class="gallery"
            />
          </no-ssr>

          <PitchApplicationForm
            id="pitch-application-form"
            :color="project.main_color"
            @send="sendForm"
          />
          <GMap class="map" :location="GET_LOCATION" height="544" />
          <Comments
            :color="project.main_color"
            class="big-event__comments"
            no-hover
            @send="sendComment"
          />
        </main>
      </div>

      <div class="sticky-special__side hidden-desktopSD-and-down">
        <InfoCard :color="project.main_color" />
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

import { hasCover, scrollToElement } from '~/utils'

const getDescription = v => {
  if (v) {
    const content = v.length > 200 ? `${v.substring(0, 200)}...` : v
    return [
      {
        hid: 'ogDescription',
        property: 'og:description',
        content,
      },
      {
        hid: 'description',
        name: 'description',
        content,
      },
    ]
  } else {
    return [{}]
  }
}

export default {
  name: 'SpecialV3',

  head() {
    const title = `${this.project.title} ${this.$t('seo.onSite')}`

    return {
      title,
      meta: [
        {
          hid: 'ogUrl',
          property: 'og:url',
          content: `${process.env.domainUrl}${this.$route.path}`,
        },
        {
          hid: 'ogTitle',
          property: 'og:title',
          content: title,
        },
        {
          hid: 'title',
          name: 'title',
          content: title,
        },
        ...getDescription(
          this.project.description_text || this.project.description,
        ),
        { hid: 'imgwidth', property: 'og:image:width', content: `1200` },
        { hid: 'imgheight', property: 'og:image:height', content: `600` },
        ...hasCover({ cover: this.GET_COVER }),
      ],
    }
  },

  components: {
    Gallery: () => import('./Gallery'),
    Info: () => import('./Info'),
    InfoCard: () => import('./InfoCard'),
    PitchApplicationForm: () => import('./PitchApplicationForm'),
    ReadMore: () => import('~/components/common/ReadMore'),
    YoutubeCover: () => import('./YoutubeCover'),
    BreadCrumbs: () => import('~/components/common/BreadCrumbs'),
    BredItem: () => import('~/components/common/BreadCrumbs/Item'),
    Comments: () => import('~/components/common/Comments'),
    AsyncImage: () => import('~/components/common/AsyncImage'),
    GMap: () => import('~/components/common/GMap'),
    SpecialEvents: () => import('./Events'),
    OrganizerBanner: () => import('~/components/special/OrganizerBanner'),
    SpecialActions: () => import('~/components/special/SpecialActions'),
    SpecialContent: () => import('~/components/special/SpecialContent'),
  },

  computed: {
    ...mapGetters('special', ['GET_LOCATION', 'HAS_SPECIAL_EVENTS']),
    ...mapGetters({
      project: 'project/data',
      videos: 'project/videos/results',
      images: 'project/images/results',
    }),
    GET_COVER() {
      return this.project.cover
    },
  },

  mounted() {
    if (this.project.main_color) {
      this.$el.style.setProperty('--active-color', this.project.main_color)
    }
  },

  methods: {
    ...mapActions({
      sendCommentForSpecial: 'project/sendComment',
      sendFormRegistration: 'project/sendForm',
      successMessage: 'notifications/success',
      errorMessage: 'notifications/error',
    }),
    async sendComment({ parent, comment }) {
      try {
        await this.sendCommentForSpecial({ parent, comment })
      } catch (e) {}
    },
    scrollToOrganizer() {
      scrollToElement({
        element: this.$refs.organizer,
        align: 'top',
        topIndent: -68,
      })
    },
    async sendForm(form) {
      const payload = {
        special_project: this.project.id,
        personal_data_agreement: form.find(v => v.id === 26).value || true,
        email: form.find(v => v.id === 4).value || ' ',
        data: form,
      }
      try {
        await this.sendFormRegistration(payload)
        this.successMessage(this.$t('special.successMessage'))
      } catch (e) {}
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.big-event__comments {
  margin-top: 4 * $base;
  padding-left: 16px;
  padding-right: 16px;

  @media (min-width: $desktopSD) {
    padding-left: 52px;
    padding-right: 52px;
  }

  @media (min-width: $desktopHD) {
    padding-left: 56px;
    padding-right: 56px;
  }

  @media (min-width: $sideShow) {
    padding-left: 112px;
    padding-right: 112px;
  }
}

.sticky-special {
  align-items: flex-start;
  display: flex;
  position: relative;

  @media (min-width: $desktopSD) {
    padding-top: 88px;
  }

  &__content {
    width: 100%;
    @media (min-width: $desktopHD) {
      flex-grow: 1;
      margin-right: 40px;
      max-width: calc(100% - 200px - 40px);
    }
    @media (min-width: $sideShow) {
      flex-grow: 1;
      margin-right: 40px;
      max-width: calc(100% - 408px - 40px);
    }
  }

  &__info {
    display: flex;
    align-items: flex-end;
    padding: 24px 0;
    color: white;
    height: 240px;
    @media (min-width: $desktopSD) {
      height: 504px;
    }
    @media (min-width: $desktopHD) {
      height: 480px;
    }
  }

  &__info-mobile {
    margin: 32px 0;
  }

  &__logo {
    align-self: center;
  }

  &__side {
    position: sticky;
    width: 408px;
    top: 88px;
  }
}

.root {
  --active-color: #000;
  position: relative;

  .contact-organizer {
    position: sticky;
    top: 0;
    z-index: 100;
  }

  .background,
  .background-info {
    height: 240px;
    width: 100%;
    position: absolute;

    @media (min-width: $desktopSD) {
      height: 672px;
    }
  }

  .background {
    background-color: #f3f3f3;
  }

  .main-content {
    width: 100%;

    @media (min-width: $desktopHD) {
      /*margin-top: 480px;*/
    }
  }

  .info {
    padding: 8% 0;
    margin-bottom: 8px;

    @media (min-width: $desktopSD) {
      background: #ffffff;
      padding: 52px 10%;
    }

    &__breadcrumbs {
      margin-bottom: 16px;
    }

    &__anchor-link {
      @include text(1.5);
      text-transform: uppercase;
      color: var(--active-color);
    }

    &__title {
      margin-bottom: 38px;

      & /deep/ a {
        color: $blue;

        &:hover {
          text-decoration: underline;
        }
      }

      @media (min-width: $desktopSD) {
        margin-bottom: 54px;
      }
    }
  }

  .photo-report {
    padding: 0;
    display: block;
  }
  .gallery {
    margin-bottom: 64px;
    @media (min-width: $desktopSD) {
      margin-bottom: 8px;
    }
  }

  .member {
    &__title {
      margin-bottom: 28px;

      @media (min-width: $desktopHD) {
        margin-bottom: 38px;
      }
    }

    &__social {
      margin-top: 24px;
      display: flex;

      @media (min-width: $desktopSD) {
        margin-top: 50px;
      }

      @media (min-width: $desktopHD) {
        display: none;
      }
    }

    &__location {
      margin-top: 24px;

      @media (min-width: $desktopSD) {
        margin-top: 32px;
      }

      @media (min-width: $desktopHD) {
        display: none;
      }
    }

    &__actions {
      margin-top: 32px;

      @media (min-width: $desktopSD) {
        display: none;
      }
    }
  }

  .map {
    background: #f3f3f3;
    margin: 0;

    @media (min-width: $desktopSD) {
      margin-left: -16px;
      margin-right: -16px;
    }

    @media (min-width: $desktopHD) {
      margin: 0;
    }
  }
}
</style>
