<template>
  <div class="info-block">
    <div class="info-block__top">
      <h1 v-if="project.title" class="info-block__title">
        {{ project.title }}
      </h1>
      <SpecialCategories class="info-block__categories" color="blue" />
    </div>
    <div v-if="project.links.length" class="info-block__links">
      <WLink
        v-for="item in project.links"
        :key="item.link"
        class="info-block__link"
        color="blue"
        target="_blank"
        :href="item.link"
      >
        {{ item.link }}
      </WLink>
    </div>
    <div class="info-block__footer">
      <SpecialActions class="hidden-desktopSD-and-up" />
      <SpecialSocial class="info-block__social">
        <SpecialUser
          v-if="GET_USER"
          class="info-block__user"
          noContacts
          :user="GET_USER"
          :linkProps="{
            color: 'blue',
          }"
        />
      </SpecialSocial>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  components: {
    SpecialUser: () => import('~/components/common/SpecialUser'),
    SpecialSocial: () => import('~/components/special/SpecialSocial'),
    SpecialActions: () => import('~/components/special/SpecialActions'),
    SpecialCategories: () => import('~/components/special/SpecialCategories'),
    WLink: () => import('~/components/common/WLink'),
  },

  computed: {
    ...mapGetters({ project: 'project/data' }),
    ...mapGetters('special', ['GET_USER']),
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.info-block {
  &__top {
    display: flex;
    flex-direction: column;

    @media (min-width: $desktopSD) {
      flex-direction: column-reverse;
    }
  }

  &__title {
    /*color: #ffffff;*/
    font-weight: bold;
    @include text(4);
  }

  &__categories {
    margin-bottom: 20px;

    @media (min-width: $desktopSD) {
      margin-bottom: 28px;

      & /deep/ {
        .category {
          /*color: #ffffff;*/
        }
      }
    }
  }

  &__social {
    display: none;

    @media (min-width: $desktopSD) {
      display: flex;
    }
  }

  &__user {
    flex: 1;
    /*color: #ffffff;*/
  }

  &__links {
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;

    @media (min-width: $desktopSD) {
      margin: 0;
    }
  }

  &__link {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__footer {
    margin-top: 24px;
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    grid-gap: 16px;
  }
}
</style>
