<i18n>
  {
    "ru": {
      "tagline": "EMPOWERED WOMEN <br /> EMPOWER EVERYONE"
    },
    "en": {
      "tagline": "EMPOWERED WOMEN <br /> EMPOWER EVERYONE"
    },
    "es": {
      "tagline": "LAS MUJERES EMPODERADAS <br /> EMPODERAN A TODOS"
    }
  }
</i18n>

<template>
  <div class="side-info-wrapper">
    <div class="side-logo">
      <Logo :image="logo" :alt="project.title" size="88" border />
    </div>
    <div class="side-info">
      <div class="side-info__title">{{ project.title }}</div>

      <SpecialCategories class="side-info__categories" />

      <slot>
        <span :style="{ color }" v-html="$t('tagline')" class="empowered-woman">
        </span>
      </slot>

      <SpecialLocation
        :linkProps="{ color: 'light-blue' }"
        class="side-info__location"
      />

      <div class="side-info__social">
        <div class="social__main">
          <SpecialUser
            v-if="GET_USER"
            class="social__main-item"
            noContacts
            :user="GET_USER"
            :linkProps="{
              color: 'light-blue',
            }"
          />
        </div>
      </div>

      <SpecialActions />
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { path } from 'ramda'

export default {
  components: {
    Logo: () => import('~/components/common/Logo'),
    SpecialUser: () => import('~/components/common/SpecialUser'),
    SpecialLocation: () => import('~/components/special/SpecialLocation'),
    SpecialActions: () => import('~/components/special/SpecialActions'),
    SpecialCategories: () => import('~/components/special/SpecialCategories'),
  },
  props: {
    color: { type: String, default: 'black' },
  },
  computed: {
    ...mapGetters({
      project: 'project/data',
    }),
    ...mapGetters({ users: 'project/users/results' }),
    GET_USER() {
      return this.users && this.users[0]
    },
    logo() {
      return path(['logo', 'image'], this.project)
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.side-info-wrapper {
  position: relative;
}

.side-logo {
  transform: translateY(-50%);
  left: 32px;
  position: absolute;
}

.side-info {
  background: #ffffff;
  padding: 64px 32px 32px;

  .address {
    margin-right: 4px;
  }

  &__title {
    font-weight: bold;
    @include text(3);
    margin-bottom: 8px;
    margin-top: 0;
  }

  &__categories {
    margin-bottom: 18px;
  }

  &__location {
    margin-bottom: 24px;
  }

  &__social {
    margin-bottom: 24px;
    margin-top: 32px;

    .social__title {
      margin-bottom: 8px;
    }

    .social__main-item {
      flex: 1;
    }
  }

  .empowered-woman {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: normal;
  }
}
</style>
