<template>
  <div class="youtube-cover">
    <youtube
      ref="youtube"
      class="background__youtube"
      :videoId="getIdFromUrl(value)"
      :playerVars="playerVars"
      style="height: 100%; width: 100%"
      @ready="ready"
      @ended="restart"
    />
    <div class="youtube-cover__filter"></div>
  </div>
</template>

<script>
import { getIdFromUrl } from 'vue-youtube'

export default {
  props: {
    value: String,
  },
  data: () => ({
    playerVars: {
      autoplay: 1,
      // mute: 1,
      loop: 1,
      controls: 0,
      disablekb: 1,
      enablejsapi: 1,
      fs: 0,
      iv_load_policy: 3,
      modestbranding: 1,
      origin: window.origin,
    },
  }),
  methods: {
    getIdFromUrl,
    ready() {
      this.$refs.youtube.player.playVideo()
    },
    restart() {
      this.$refs.youtube.player.playVideo()
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.youtube-cover {
  position: relative;
  height: 100%;
  &__filter {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-color: black;
  }
}
</style>
