<template>
  <div v-if="isShowContact || organizer" class="contacts">
    <BlockTitle class="contacts__title">
      {{ $t('eventpage.organizers') }}
    </BlockTitle>

    <OrganizerCard
      v-if="organizer"
      :organizer="organizer"
      class="contacts__org"
    />

    <div v-if="isShowContact" class="contacts__address">
      <ul v-if="phones.length" class="phones">
        <li v-for="phone in phones" :key="phone">
          <a :href="`tel:${phone}`">{{ phone }}</a>
        </li>
      </ul>
      <ul v-if="emails.length" class="emails">
        <li v-for="email in emails" :key="email">
          <a :href="`mailto:${email}`" target="_blank">{{ email }}</a>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import { path, uniq } from 'ramda'

export default {
  components: {
    BlockTitle: () => import('~/components/events/main/BlockTitle'),
    Icon: () => import('~/components/common/Icon'),
    OrganizerCard: () => import('~/components/common/OrganizerCard'),
  },
  props: {
    event: {
      type: Object,
      required: true,
    },
  },
  computed: {
    organizer() {
      return path(['event', 'organizer'], this.event)
    },
    phones() {
      return uniq([
        ...(path(['event', 'phones'], this.event) || []),
        ...(path(['event', 'organizer', 'phones'], this.event) || []),
      ])
    },
    emails() {
      return uniq([
        ...(path(['event', 'emails'], this.event) || []),
        ...(path(['event', 'organizer', 'emails'], this.event) || []),
      ])
    },
    isShowContact() {
      return (
        path(['address'], this.organizer) ||
        path(['length'], this.phones) ||
        path(['length'], this.emails)
      )
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.contacts {
  margin-bottom: 24px;
  text-align: left;

  &__title {
    margin-bottom: 16px;
  }
  &__org {
    max-width: 408px;
  }
  &__address {
    margin-top: 1px;
    background-color: white;
    max-width: 408px;
    padding: 12px 12px 12px 72px;
    @include text(1.5);

    .addr {
      opacity: 0.4;
      margin-bottom: 16px;
    }
    .phones {
      margin-bottom: 16px;
    }
  }
}
</style>
