<template>
  <Events :title="seo.title" whereGoEvents class="wrapper" />
</template>

<script>
import { prop } from 'ramda'
import { mapGetters } from 'vuex'
import { setLatestModifiedAnd304 } from '~/utils'

export default {
  components: {
    Events: () => import('~/components/search/Events'),
  },
  computed: {
    ...mapGetters({
      seo: 'search/events/seo',
      cityDeclination: 'city/GET_CITY_DECL',
      eventsCount: 'search/events/COUNT'
    }),
    cityName() {
      return this.cityDeclination(this.$i18n.locale)
    },
    metaTitle() {
      const title = prop('title', this.seo)
      return this.$t('seo.citySearchPageMeta.title', {
        when: title,
        count: this.eventsCount,
      })
    },
  },
  async fetch({ store, params, error, res, req }) {
    const seoId = prop('0', params.id.match(/\d+/))
    if (!seoId) return error({ statusCode: 404 })

    try {
      await store.dispatch('search/events/FETCH_SEO', { id: seoId })
    } catch (err) {
      console.log(err)
    }

    if (process.server) {
      setLatestModifiedAnd304({ res, req, store }, [
        store.getters['search/sessions/modified'],
      ])
    }
  },
  head() {
    return {
      title: this.metaTitle,
      meta: [
        { hid: 'ogtype', property: 'og:type', content: 'article' },
        { hid: 'ogTitle', property: 'og:title', content: this.metaTitle },
        { hid: 'title', name: 'title', content: this.metaTitle },
        {
          hid: 'ogUrl',
          property: 'og:url',
          content: `${process.env.domainUrl}${this.$route.path}`,
        },
      ],
    }
  },
}
</script>
