<template>
  <div class="wrapper">
    <Search />
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { path, prop } from 'ramda'
import { trackSearchPage } from '~/utils/analytics'

export default {
  name: 'SearchPage',
  components: {
    Search: () => import('~/components/search/'),
  },
  data: () => ({}),
  async beforeRouteUpdate(to, from, next) {
    await this.$store.dispatch('search/CHANGE_DATES', {
      dates: to.query.dates,
    })
    if (to.query.geoname_ids) {
      this.$store.dispatch('search/INIT_CITY', { id: to.query.geoname_ids })
    }
    next()
  },
  computed: {
    ...mapGetters({
      categories: 'search/categories/results',
      city: 'search/CITY',
      searchText: 'search/SEARCH_TEXT',
      dates: 'search/SEARCH_DATES',
      category: 'search/SEARCH_CATEGORY',
    }),
    isOneDay() {
      // prettier-ignore
      return (
        !this.dates ||
        (this.dates.length && this.dates.filter(v => v).length === 1) ||
        Math.abs(new this.$moment(this.dates[1]).diff(new this.$moment(this.dates[0]), 'days')) < 2
      )
    },
    inDate() {
      if (!this.dates || !this.dates.length) return
      return this.isOneDay
        ? new this.$moment(this.dates[0]).format('DD MMMM YYYY')
        : new this.$moment(this.dates[1]).format('MMMM YYYY')
    },
    inCity() {
      const loc = this.$i18n.locale === 'ru' ? 'ru_ru' : 'en_us'
      const name =
        path(['translations', loc, 'name_declination'], this.city) ||
        path(['translations', loc, 'name'], this.city) ||
        prop('name_declination', this.city)
      const start =
        this.inDate || this.categoryList
          ? this.$t('seo.in')
          : this.$t('common.breadGo')
      return name ? [start, name].join(' ') : this.$t('seo.inWorld')
    },
    categoryList() {
      return this.category && this.categories
        ? this.category
            .split(',')
            .map(slug =>
              this.categories.find(category => category.slug === slug),
            )
            .map(category => category && category.title)
            .join(' ')
        : this.$t('seo.whereToGo')
    },
    metaTitle() {
      return this.isOneDay
        ? // <Дата> <Категория> <Подкатегория> в <Городе> на Whatwhere.world
          [this.inDate, this.categoryList, this.inCity, this.$t('seo.onSite')]
            .join(' ')
            .replace(/ +(?= )/g, '')
            .trim()
        : // <Категория> <Подкатегория> в <Месяце> в <Городе> - события, концерты, спектакли на Whatwhere.world
          [
            this.categoryList,
            this.inDate,
            this.inCity,
            this.$t('seo.searchPageMeta.title'),
          ]
            .join(' ')
            .replace(/ +(?= )/g, '')
            .trim()
    },
    metaDescription() {
      return this.isOneDay
        ? // <Дата> <Категория> <Подкатегория> в <Городе>: фотографии, описание, цены, контакты
          [
            this.inDate,
            this.categoryList,
            this.inCity,
            this.$t('seo.searchPageMeta.description'),
          ]
            .join(' ')
            .replace(/ +(?= )/g, '')
            .trim()
        : // <Категория> <Подкатегория> в <Месяце>: фотографии, описание, цены, контакты
          [
            this.categoryList,
            this.inDate,
            this.$t('seo.searchPageMeta.description'),
          ]
            .join(' ')
            .replace(/ +(?= )/g, '')
            .trim()
    },
  },
  async fetch({ route, redirect, query, store, error }) {
    const url = prop('0', route.fullPath.match(/\?(.*)/))
    if (!url) return redirect('/', query)

    await store.dispatch('search/CHANGE_SEARCH', { text: query.search })
    await store.dispatch('search/CHANGE_DATES', { dates: query.dates })
    await store.dispatch('search/CHANGE_CATEGORY', {
      category: query.category,
    })

    const cityId = query.geoname_ids
    if (cityId) {
      await store
        .dispatch('search/INIT_CITY', { id: cityId })
        .catch(e => {
          return error({
            statusCode: path(['response', 'status'], e) || 404,
            message: path(['response', 'statusText'], e),
          })
        })
    }
  },
  mounted() {
    this.track()
  },
  methods: {
    track() {
      trackSearchPage(this)
    },
  },
  head() {
    return {
      title: this.metaTitle,
      meta: [
        {
          hid: 'ogTitle',
          property: 'og:title',
          content: this.metaTitle,
        },
        {
          hid: 'title',
          name: 'title',
          content: this.metaTitle,
        },
        {
          hid: 'ogUrl',
          property: 'og:url',
          content: `${process.env.domainUrl}${this.$route.fullPath}`,
        },
        {
          hid: 'ogDescription',
          property: 'og:description',
          content: this.metaDescription,
        },
        {
          hid: 'description',
          name: 'description',
          content: this.metaDescription,
        },
      ],
    }
  },
}
</script>
