<template>
  <Journals class="wrapper" />
</template>

<script>
import { setLatestModifiedAnd304 } from '~/utils'
import { getParams } from '~/utils/event'

export default {
  components: {
    Journals: () => import('~/components/search/Journals'),
  },
  async fetch({ store, route, error, req, res }) {
    const id = store.getters['city/GET_CITY'].id

    const params = getParams({
      params: route.query,
      defaultParams: {
        geoname_ids: id,
      },
    })

    try {
      await store.dispatch('search/journals/fetch', params)
    } catch (err) {
      console.log(err)
      return error({ statusCode: 404 })
    }

    if (process.server) {
      setLatestModifiedAnd304({ res, req, store }, [
        store.getters['search/journals/modified'],
      ])
    }
  },
}
</script>
