<template>
  <div class="rating">
    <div class="rating__label">{{ value }}</div>
    <div class="rating__stars">
      <div v-for="n in 5" :key="n" class="rating__star">
        <span class="rating__star--gray"></span>

        <span
          v-if="n <= parseInt(value) + 1"
          class="rating__star--yellow"
          :style="[n === parseInt(value) + 1 && halfStarStyle]"
        />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Rating',

  props: {
    value: {
      type: [String, Number],
      required: true,
    },
  },

  computed: {
    halfStarStyle() {
      return {
        width: `${(this.value % 1) * 100}%`,
      }
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.rating {
  display: inline-flex;
  @include text(1.5);

  &__label {
    margin-right: 10px;
  }

  &__stars {
    display: flex;
    align-items: center;
  }

  &__star {
    position: relative;
    width: 10px;
    height: 10px;

    &:not(:last-child) {
      margin-right: 2px;
    }

    &--yellow {
      position: absolute;
      font-size: 10px;
      line-height: 10px;
      color: #ffdf05;
      overflow: hidden;

      &:before {
        @include ww-icn;
        content: '\42';
      }
    }

    &--gray {
      position: absolute;
      font-size: 10px;
      line-height: 10px;
      color: #e0e3e8;
      overflow: hidden;

      &:before {
        @include ww-icn;
        content: '\42';
      }
    }
  }
}
</style>
