<template>
  <Breadcrumbs>
    <BredItem
      v-for="(breadcrumb, idx) in breadcrumbs"
      :key="breadcrumb.title + idx"
      :href="breadcrumb.route"
    >
      {{ normalizeWhitespaces(breadcrumb.title) }}
    </BredItem>
    <BredItem>{{ event.title }}</BredItem>
  </Breadcrumbs>
</template>

<script>
import { path } from 'ramda'

export default {
  components: {
    Breadcrumbs: () => import('~/components/common/BreadCrumbs'),
    BredItem: () => import('~/components/common/BreadCrumbs/Item'),
  },
  props: {
    event: {
      type: Object,
      required: true,
    },
  },
  computed: {
    category() {
      return path(['category'], this.event)
    },
    type() {
      return path(['type'], this.event)
    },
    genres() {
      return path(['genres'], this.event)
    },
    organizer() {
      return path(['organizer'], this.event)
    },

    today() {
      return this.$moment().format('YYYY-MM-DD')
    },
    currentYear() {
      return this.$moment().format('YYYY')
    },
    lastDayOfCurrentYear() {
      return this.$moment()
        .endOf('year')
        .format('YYYY-MM-DD')
    },
    inYear() {
      return `${this.$t('seo.in')} ${this.currentYear}`
    },

    indexCrumb() {
      // Главная
      const title = this.$t('common.main')

      const route = { name: 'index' }

      return { title, route }
    },

    eventsTodayCrumb() {
      // События Сегодня
      const title = `${this.$t('common.events')} ${this.$t('common.today')}`

      const route = {
        name: 'events',
        query: { period: 'today' },
      }

      return { title, route }
    },

    eventCategoryCrumb() {
      const { category } = this
      if (!category) return null

      // Категория в 2019
      // Пример: Выставки в 2019
      const title = `${category.title} ${this.inYear}`

      const route = {
        name: 'events',
        query: {
          keywords: category.slug,
          dates: `${this.today},${this.lastDayOfCurrentYear}`,
        },
      }

      return { title, route }
    },

    eventTypeCrumb() {
      const { type } = this
      if (!type) return null

      // Тип в 2019
      // Пример: Спорт в 2019
      const title = `${type.title} ${this.inYear}`

      const route = {
        name: 'events',
        query: {
          keywords: type.slug,
          dates: `${this.today},${this.lastDayOfCurrentYear}`,
        },
      }

      return { title, route }
    },

    eventGenreCrumb() {
      const genres = [].concat(this.genres).filter(Boolean)
      if (!genres.length) return null

      // выбираем из жанров первый, у которого есть родитель. Если таких нет, то просто первый.
      const genre = genres.find(g => !!g.parent) || genres[0]

      // Жанр в 2019
      // Пример: Бизнес в 2019
      const title = `${genre.title} ${this.inYear}`

      const route = {
        name: 'events',
        query: {
          keywords: genre.slug,
          dates: `${this.today},${this.lastDayOfCurrentYear}`,
        },
      }

      return { title, route }
    },

    eventsInStartDateCrumb() {
      const { start_date: startDate } = this.event
      const startDateFormatted = this.$moment(startDate).format('D MMMM YY')

      // События 16 Октября 19
      const title = `${this.$t('common.events')} ${this.capitalize(
        startDateFormatted,
      )}`

      const tomorrowAfterStartDate = this.$moment(startDate)
        .add(1, 'days')
        .format('YYYY-MM-DD')

      const route = {
        name: 'events',
        query: {
          dates: `${startDate},${tomorrowAfterStartDate}`,
        },
      }

      return { title, route }
    },

    eventsCurrentMonthCrumb() {
      const { start_date: startDate } = this.event
      // без числа moment выдаёт `октябрь`, с числом - `14 октября` (разные склонения месяца).
      // поэтому вот так - просто отсекаем ведущее число
      const _date = startDate ? startDate: this.$moment().format()
      const startDateFormatted = this.$moment(_date)
        .format('D MMMM YY')
        .split(' ')
        .slice(1)
        .join(' ')

      // События Октября
      const title = `${this.$t('common.events')} ${this.capitalize(
        startDateFormatted,
      )}`

      const dateOfStartMonth = this.$moment(_date)
        .startOf('month')
        .format('YYYY-MM-DD')
      const dateOfEndMonth = this.$moment(_date)
        .endOf('month')
        .format('YYYY-MM-DD')

      const route = {
        name: 'events',
        query: {
          dates: `${dateOfStartMonth},${dateOfEndMonth}`,
        },
      }

      return { title, route }
    },

    eventOrganizerCrumb() {
      if (!this.organizer) return null

      const { title } = this.organizer

      const route = {
        name: 'organizers-id',
        params: { id: this.organizer.url_id },
      }

      return { title, route }
    },

    breadcrumbs() {
      return [
        this.indexCrumb,
        this.eventsTodayCrumb,
        this.eventCategoryCrumb,
        this.eventTypeCrumb,
        this.eventGenreCrumb,
        this.eventsInStartDateCrumb,
        this.eventsCurrentMonthCrumb,
        this.eventOrganizerCrumb,
      ].filter(Boolean)
    },
  },
  methods: {
    capitalize(str) {
      return String(str)
        .split(' ')
        .map(w => w.slice(0, 1).toUpperCase() + w.slice(1).toLowerCase())
        .join(' ')
    },

    normalizeWhitespaces(str) {
      return String(str).replace(/\\s+/g, ' ')
    },
  },
}
</script>
