
<template>
  <section class="order-actions">
    <Icon
      v-tooltip.auto="$t('common.edit')"
      src="icons/pencil.svg"
      size="s"
      class="order-action edit"
      @click="toggleEditDialog"
    />
    <span
        v-tooltip.auto="$t('common.remove')"
        class="order-action remove ww-icn-cross"
        @click="toggleDeleteDialog"
    ></span>
  </section>
</template>
<script>
  import { mapActions } from 'vuex'
  import popoverConsts from '~/utils/popoverConsts'

  export default {
    name: 'OrderActions',
    components: {
      Icon: () => import('~/components/common/Icon'),
    },
    props: {
      order: {
        type: Object,
        required: true,
      }
    },
    methods: {
      ...mapActions('popovers', ['OPEN_POPOVER_WITH_DATA']),
      ...mapActions('marketplace/order', ['DELETE_ORDER']),
      toggleEditDialog(){
        this.OPEN_POPOVER_WITH_DATA({
          name: popoverConsts.orderFormModal,
          data: {
            type: 'edit',
            orderId: this.order.id
          },
        })
      },
      toggleDeleteDialog() {
        this.OPEN_POPOVER_WITH_DATA({
          name: popoverConsts.deleteOrder,
          data: {
            order: this.order,
          },
        })
      },
    },
  }
</script>
<style lang="scss" scoped>
  @import '~/assets/css/variables.scss';
  .order-actions {
    .order-action {
      height: 16px;
      width: 16px;
      cursor: pointer;
      color: $black-gray;
      display: inline-block;

      &:hover {
        color: $blue;
      }

      &:not(:last-child) {
        margin-right: 4px;
      }
    }
    .dialog-title {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
</style>