<template>
  <img v-if="dataUrl" :src="dataUrl" class="qr-code" />
</template>

<script>
import QRCode from 'qrcode'

export default {
  components: {},
  props: {
    string: {
      type: String,
      required: true,
    },
    config: {
      type: Object,
      default: () => ({}),
    },
  },
  data: () => ({
    dataUrl: '',
  }),
  computed: {
    defaults: () => ({
      margin: 0,
    }),
  },
  async mounted() {
    this.dataUrl = await QRCode.toDataURL(this.string, {
      ...this.defaults,
      ...this.config,
    })
  },
}
</script>

<style lang="scss" scoped>
.qr-code {
}
</style>
