<template>
  <div class="simple-tabs">
    <div class="simple-tabs__grid">
      <a
        v-for="option in options"
        :key="option.name"
        :href="'#' + option.component"
        class="simple-tabs__link"
        :class="{ 'simple-tabs__link--checked': value === option.component }"
        @click="$emit('input', option.component)"
      >
        {{ option.name }}
      </a>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    value: String,
    options: Array,
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.simple-tabs {
  overflow-x: auto;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }

  &__grid {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 32px;
    justify-content: start;
  }
  &__link {
    cursor: pointer;
    text-transform: capitalize;
    @include text(3);
    opacity: 0.7;

    &:hover {
      opacity: 1;
    }
    &--checked {
      font-weight: bold;
      opacity: 1;
    }
  }
}
</style>
