<template>
  <nav class="breadcrumbs">
    <ul :class="{ 'is-centered': centered }" class="breadcrumbs__list">
      <slot></slot>
    </ul>
  </nav>
</template>

<script>
export default {
  props: {
    centered: Boolean,
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.breadcrumbs {
  @include text(1.5);

  &__list {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    flex-flow: row wrap;

    &.is-centered {
      text-align: center;
    }
  }
}
</style>
