<template>
  <li class="bread-item" :class="{ 'bread-item--disable': !href }">
    <span class="bread-item-wrapper">
      <nuxt-link v-if="href" :to="href" class="link">
        <slot />
      </nuxt-link>
      <span v-else class="link"><slot></slot></span>
    </span>
  </li>
</template>

<script>
export default {
  props: {
    href: {
      type: [String, Object],
      default: '',
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.bread-item {
  @include text(1.5);
  display: flex;
  flex-wrap: nowrap;
  color: #aaa;

  &-wrapper {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 300px;
    min-width: 0;
    white-space: nowrap;
  }

  &:hover {
    color: #000;
  }
  &:not(:last-child):after {
    content: '/';
    margin-right: 3px;
  }
  .link {
    cursor: pointer;
  }

  &:last-child {
    color: #000;
  }

  &--disable {
    .link {
      cursor: default;
    }
  }
}
</style>
