<i18n>
  {
    "ru": {
      "error": "Что-то пошло не так. Пожалуйста свяжитесь с организатором события.",
      "access_after": "Событие будет доступно",
      "event_started": "Перенаправляем на страницу события..."
    },
    "en": {
      "error": "Something went wrong. Please contact the event organizer.",
      "access_after": "The event will be available",
      "event_started": "Redirect to event page..."
    }
  }
</i18n>
<template>
  <div class="ticket">
    <Loader v-if="isLoading" style="margin: 200px auto 50px auto;"/>
    <div v-if="time_left" class="ticket__message" >
      <span>
      <template v-if="event_started">
        {{ $t('event_started') }}
      </template>
      <template v-else>
        {{ $t('access_after') }} {{ time_left }}
      </template>
      </span>
    </div>
  </div>
</template>

<script>
  import {path} from "ramda";
  import { mapActions } from 'vuex'

  export default {
    layout: 'default',
    components: {
      Loader: () => import('~/components/common/Loader'),
    },
    data: () => ({
      isLoading: true,
      time_left: null,
      paid_online_link: '',
      event_started: false,
    }),
    watch: {
      paid_online_link() {
        if (this.paid_online_link){
          setTimeout(() => {window.location.href = this.paid_online_link}, 1 * 1000)
        }
      },
    },
    mounted() {
      this.getTicket()
    },
    methods: {
      ...mapActions({
        showError: 'notifications/error',
      }),
      async getTicket() {
        this.isLoading = true
        try {
          const {data, status} = await this.$axios.get(`/tickets/${this.$route.params.key}/paid_link/`)
          if (status !== 200) {
            const errorMessage = data.message ? data.message:
              this.$t('error')
            this.showError(errorMessage)
          } else {
            this.paid_online_link = data.paid_online_link
            if (parseFloat(data.time_left) < 0.0){
              this.event_started = true
            } else {
              const timeout = Math.min(5 * 60 * 1000, data.time_left - 3 * 1000)
              setTimeout(this.getTicket, timeout)
            }

            this.time_left = this.$moment().add(data.time_left, 'seconds').fromNow()
            if (!this.paid_online_link){
              this.isLoading = false
            }
          }
        } catch (e) {
          const errorMessage = path(['response', 'data', 'message'], e)
          this.showError(errorMessage)
          this.isLoading = false
        }
      },
    }
  }
</script>
<style lang="scss" scoped>
@import '~/assets/css/variables.scss';
.ticket {
  margin: 250px auto;

  &__message {
    display: flex;
    justify-content: center;
    position: relative;
    font-size: 24px;
    @media (min-width: $sideShow) {
      font-size: 32px;
    }
    @media ($mobile) {
      font-size: 18px;
    }
  }
}
</style>