<template>
  <div />
</template>
<script>
  export default {
    created() {
      this.$router.push({
        name: 'tickets-key-take',
        params: {
          key: this.$route.params.key
        }
      })
    }
  }
</script>
