<i18n>
  {
  "ru": {
  "ticketNotFound": "Билет не найден",
  "acceptTicket": "Принять билет",
  "acceptAllTicket": "Принять Все",
  "acceptSelected": "Принять выбранные",
  "ticketAccepted": "Билет принят",
  "event": "Событие",
  "time": "Время",
  "scheme": "Схема",
  "guestList": "Список гостей",
  "seat": "Место",
  "reset": "Сбросить выбор",
  "name": "Заказчик",
  "Email": "Почта",
  "status": "Статус",
  "attended": "Пришло",
  "actual": "Актуален",
  "used": "Использован"
  },
  "en": {
  "ticketNotFound": "Ticket not found",
  "acceptTicket": "Accept Ticket",
  "acceptAllTicket": "Accept All",
  "acceptSelected": "Accept Selected",
  "ticketAccepted": "Ticket accepted",
  "event": "Event",
  "time": "Time",
  "scheme": "Scheme",
  "guestList": "Guests' List",
  "seat": "Seat",
  "reset": "Reset the choice",
  "name": "Client",
  "Email": "Email",
  "status": "Status",
  "attended": "Attended",
  "actual": "Actual",
  "used": "Used"
  },
  "es": {
  "ticketNotFound": "Ticket not found",
  "acceptTicket": "Accept ticket",
  "ticketAccepted": "Ticket accepted",
  "event": "Event",
  "time": "Time",
  "scheme": "Scheme",
  "seat": "Seat",
  "name": "Client",
  "Email": "Email",
  "status": "Status",
  "attended": "Attended"
  }
  }
</i18n>

<template>
  <div class="ticket-wrapper">
    <div class="take-page">
      <Loader v-if="isLoading"/>
      <div v-else-if="ticketInfo" class="page-wrapper">
        <div class="image-wrapper">
          <AsyncImage
              class="image-wrapper__image"
              :image="eventImg"
              contain
          />
        </div>
        <div class="info">
          <template>
            <div class="take-page__event">
            <span v-for="(text, key) in tableRows.event" :key="key">
              <b>{{ text }}</b>
            </span>
            </div>
            <div class="take-page__time">
            <span v-for="(text, key) in tableRows.time" :key="key">
              <b>{{ text }}</b>
            </span>
            </div>
            <div class="take-page__location">
              <Icon src="icons/map-point.svg" size="xs"/>
              <span v-for="(text, key) in tableRows.location" :key="key">
                                    <b>{{ text }}</b>
                            </span>
            </div>
            <div class="take-page__list">
              <nuxt-link :to="passUrl">
                <Icon src="icons/external-link.svg" size="xs" class="stat-icon"/>
                {{ $t('guestList') }}
              </nuxt-link>
            </div>

            <div class="table-header">
              <p class="seat">{{ $t('seat') }} </p>
              <p v-if="checked"
                 class="reset"
                 @click="reset"
              >{{ $t('reset') }}</p>
            </div>
            <div>
              <div v-for="(ticket, index) in allTickets.results" :key="index"
                   :class="ticketClass(ticket)"
                   @click="check(index, ticket)"
              >
                <div :class="getSeatStatus(ticket) === 'used' ? 'ticket ticket-used' : 'ticket'">
                  <Icon v-if="ticket.checked" class="check-round"
                        src="icons/check-round.svg"
                        size="s"/>
                  <span>{{ getSeatTitle(ticket) }}</span>
                </div>
                <div v-if="getSeatStatus(ticket) === 'actual'" class="status">
                  <Icon style="color: #00ca0c" src="icons/check.svg" size="xxs"/>
                  <span>{{ $t('actual') }}</span>
                </div>
                <div v-if="getSeatStatus(ticket) === 'used'" class="status">
                  <Icon style="color: #f50052" src="icons/cross.svg" size="xxs"/>
                  <span> {{ $t('used') }} </span>
                </div>
              </div>
            </div>
          </template>
          <Button
              :class="buttonClass()"
              @click="acceptAll"
          >{{ buttonTitle() }}
          </Button>

          <template v-if="ticketInfo">
            <div class="take-page__info-user">
              <div v-for="(text, key) in tableRows.user" :key="key" class="take-page__row-user">
                <span class="user-key">{{ key }}</span>
                <span>{{ text }}</span>
              </div>
            </div>
          </template>
        </div>
      </div>

    </div>
  </div>
</template>

<script>
  import {path} from 'ramda'
  import {mapActions, mapGetters} from 'vuex'

  import {validateTicketByKey, getTicketByKey, getTickets, getTicketsSchemes} from '~/api'
  import {makeDateTimeString, formatStrings} from '~/utils/formatDate'
  import popoverConsts from '~/utils/popoverConsts'

  import Loader from '~/components/common/Loader'
  import Button from '~/components/common/buttons/PanelButton'
  import Icon from '~/components/common/Icon'
  import AsyncImage from '~/components/common/AsyncImage'
  import {get, isEmpty} from 'lodash'

  export default {
    components: {
      Loader,
      Button,
      Icon,
      AsyncImage,
    },

    data: () => ({
      ticketInfo: null,
      ticketsSchemeInfo: null,
      isLoading: true,
      ticketStatus: '',
      allTickets: null,
      seats: null,
      checked: false
    }),
    computed: {
      ...mapGetters({
        HAS_USER: 'user/HAS_USER',
      }),
      tableRows() {
        const title = path(['scheme', 'event', 'title'], this.ticketInfo) || '–'
        const dateTime =
          makeDateTimeString({
            date: path(['scheme', 'session', 'start_date'], this.ticketInfo),
            time: path(['scheme', 'session', 'start_time'], this.ticketInfo),
            formatString: formatStrings.ticketFullDateTime,
            dateFormatString: formatStrings.ticketFullDate,
            timeFormatString: formatStrings.ticketFullTime,
          }) || '–'
        const location = path(['scheme', 'session', 'location', 'address_display'], this.ticketInfo) || ''
        const schemeTitle = path(['scheme', 'title'], this.ticketInfo) || '–'
        const userName = path(['order', 'name'], this.ticketInfo) || '–'
        const userEmail = path(['order', 'email'], this.ticketInfo) || '–'
        const ticketsCount = path(['count'], this.allTickets) || ''
        return {
          event: {
            [this.$t('event')]: title,
          },
          time: {
            [this.$t('time')]: dateTime,
          },
          location: {
            location,
          },
          scheme: {
            [this.$t('scheme')]: schemeTitle,
          },
          user: {
            [this.$t('name')]: userName,
            [this.$t('Email')]: userEmail,
          },
          ticketsCount,

        }
      },
      isActual() {
        return path(['status'], this.ticketInfo) === 'actual'
      },
      passUrl() {
        return {
          name: 'events-sessions-id-tickets-pass',
          params: {
            id: path(['scheme', 'session', 'url_id'], this.ticketInfo),
          },
        }
      },
      schemesSummary() {
        if (!this.ticketsSchemeInfo) return null
        return this.ticketsSchemeInfo.results.reduce(
          (result, scheme) => {
            result.tickets_used += scheme.tickets_used
            result.tickets_total += scheme.tickets_total
            return result
          },
          {
            tickets_used: 0,
            tickets_total: 0,
          },
        )
      },
      eventImg() {
        return get(this.ticketInfo, 'scheme.event.cover.image', null)
      },
    },
    watch: {
      ticketsSchemeInfo: function () {
        return this.tableRows
      }
    },
    mounted() {
      this.getTicket()
      this.getTicketsSchemes();
    },
    methods: {
      ...mapActions({
        TOGGLE_POPOVER: 'popovers/TOGGLE_POPOVER',
      }),
      buttonTitle() {
        if (this.tableRows.ticketsCount < 2) {
          return this.$t('acceptTicket')
        }

        if (this.checked) {
          return this.$t('acceptSelected')
        }

        return this.$t('acceptAllTicket')
      },
      buttonClass() {
        const tickets = [...this.allTickets.results]
        const checkedTickets = tickets.filter(item => item.status)
        let request = [];
        request = checkedTickets.filter(item => item.status === 'actual')
        if (request.length) {
          return 'take-page__action'
        } else {
          return 'take-page__action notActive'
        }

      },
      ticketClass(ticket) {
        if (this.tableRows.ticketsCount > 1) {
          if (ticket.checked) {
            return 'rows take-page__row checked'
          } else {
            return 'rows take-page__row'
          }
        } else {
          return 'take-page__row'
        }
      },

      async getTicket() {
        this.isLoading = true

        try {
          const {data, status} = await getTicketByKey(this.$axios, {
            key: this.$route.params.key,
            silent: true,
            params: {
              expand: 'seat,order,scheme,scheme.session,scheme.session.location,scheme.event,scheme.event.cover',
              only_paid: true
            },
          })
          this.ticketInfo = data
          if (status === 200) {
            const {data} = await getTickets(this.$axios, {
              silent: true,
              params: {
                order: this.ticketInfo.order.id,
                expand: 'seat',
                only_paid: true
              },
            })
            this.allTickets = data
            this.seats = () => {
              const schemeTitle = path(['scheme', 'title'], this.ticketInfo) || '–'
              return data.results.map(ticket => {
                const seatTitle = path(['seat', 'title'], ticket, '')

                return {
                  title: seatTitle ? `${schemeTitle}, ${seatTitle}` : schemeTitle,
                  ticket: this.ticketStatus || path(['status'], ticket) || '–',
                }
              })
            }
          }


        } catch (e) {
          this.handleError(e)
        }

        this.isLoading = false

        this.getTicketsSchemes();

      },
      getSeatTitle(ticket) {
        const schemeTitle = path(['scheme', 'title'], this.ticketInfo) || '–'
        const seatTitle = path(['seat', 'title'], ticket, '')
        return seatTitle ? `${schemeTitle}, ${seatTitle}` : schemeTitle
      },
      getSeatStatus(ticket) {
        return this.ticketStatus || path(['status'], ticket) || '–'


      },
      async getTicketsSchemes() {
        const session = path(['order', 'session'], this.ticketInfo)

        try {
          const {data} = await getTicketsSchemes(this.$axios, {
            params: {
              session,
            },
          })
          this.ticketsSchemeInfo = data
        } catch (e) {
          this.handleError(e)
        }
      },
      async acceptAll() {
        const tickets = [...this.allTickets.results]
        const checkedTickets = tickets.filter(item => !!item.checked)
        let request = [];
        if (checkedTickets.length) {
          request = checkedTickets.filter(item => item.status === 'actual')
        } else {
          request = tickets.filter(item => item.status === 'actual')
        }

        if (isEmpty(request)) {
          return false
        }
        await Promise.all(
          request.map(item =>
            validateTicketByKey(this.$axios, {
              key: item.key,
              silent: true,
              params: {
                expand: 'seat,order,scheme,scheme.session,scheme.session.location,scheme.event,scheme.event.cover',
              },
            })
          ),
        ).then(() => {
          this.getTicket()
          this.checked = false
        })
          .catch(e => this.handleError(e))
      },

      handleError(e) {
        const errorMessage = path(['response', 'data', 'message'], e)
        const statusCode = path(['response', 'status'], e)

        if (statusCode === 401) {
          this.TOGGLE_POPOVER(popoverConsts.auth)

          const unwatchUser = this.$watch('HAS_USER', v => {
            this.getTicket()
            unwatchUser()
          })
        } else {
          this.$store.dispatch('notifications/error', errorMessage)
        }
      },
      check(i, item) {
        if (this.tableRows.ticketsCount < 2 || this.getSeatStatus(item) !== 'actual') {
          return false
        }

        const buffData = [...this.allTickets.results]
        let ticket = {...buffData[i]}
        ticket = {...ticket, checked: !item.checked}
        buffData[i] = ticket
        this.allTickets = {...this.allTickets, results: buffData}
        this.checked = this.allTickets.results.filter(({checked}) => checked).length;
      },
      reset() {
        this.checked = false;
        const buffData = [...this.allTickets.results]
        const tickets = buffData.map(ticket => {
          return {...ticket, checked: false}
        })
        this.allTickets = {...this.allTickets, results: tickets}
      }
    },
  }
</script>
<style>
  .xxs svg g {
    stroke-width: 5 !important;
  }
</style>
<style lang="scss" scoped>
  @import '~/assets/css/variables.scss';

  .ticket-wrapper {
    display: flex;
    justify-content: center;
    @media(max-width: 500px) {
      margin: 0;
      display: block;
    }
  }

  .checked {
    border: 2px solid #00ca0c;
  }

  .take-page {
    display: flex;
    flex-direction: column;
    /*margin-top: 24px;*/
    overflow-wrap: break-word;

    .page-wrapper {
      width: 500px;
      @media(max-width: 500px) {
        width: 100%;
      }
    }

    .info {
      padding: 0 20px;
    }

    &__event {
      margin-top: 13px;
      font-size: 21px;
      font-weight: bold;
    }

    &__time {
      margin-top: 8px;
      font-size: 14px;
      font-weight: bold;
    }

    &__location {
      margin-top: 6px;
      font-size: 12px;
      font-weight: normal;
      color: rgba(0, 0, 0, 0.4);
    }

    &__list {
      margin-top: 10px;
      font-size: 12px;
      font-weight: 500;
      color: #0070ff;
    }

    .table-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      margin-top: 34px;
      font-size: 12px;
      font-weight: normal;

      p {
        margin-bottom: 0;
      }
    }

    .seat {
      color: rgba(0, 0, 0, 0.4);
    }

    .reset {
      color: #0070ff;
      cursor: pointer;
    }

    &__ticket {
      display: flex;
    }

    .rows {
      box-shadow: 0 0 15px 0 rgba(209, 220, 234, 0.3);
      background-color: #ffffff;
      padding: 15px;
      margin-bottom: 8px;
      height: 48px;
    }

    &__row {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .ticket {
        font-size: 14px;
        font-weight: bold;
        display: flex;
        align-items: center;
      }

      .check-round {
        color: #00ca0c;
        margin-right: 9px;
      }

      .ticket-used {
        color: rgba(0, 0, 0, 0.3);
      }

      .status {
        display: flex;
        align-items: center;
        font-size: 12px;
        font-weight: normal;
        margin-left: 10px;

        span {
          margin-left: 5px;
        }
      }
    }

    .user-key {
      color: rgba(0, 0, 0, 0.4);
      display: inline-block;
      width: 62px;
    }

    &__info-user {
      margin: 45px 8px 16px;
      display: flex;
      flex-direction: column;
    }

    &__row-user {
      font-size: 12px;
      font-weight: normal;
    }

    &__action {
      margin: 32px 0;
      width: 100%;
    }

    .notActive {
      background-color: rgba(0, 0, 0, 0.2);
      color: black;
      font-weight: normal;
    }

    .stat-icon {
      width: 12px;
      height: 12px;
    }
  }
</style>
