<i18n>
  {
    "ru": {
      "eventCover": "Обложка события"
    },
    "en": {
       "eventCover": "Event cover"
    }
  }
</i18n>
<template>
  <div class="cover-info">
    <span class="cover-info__title">{{ $t('eventCover') }}</span>
    <FormRow class="cover-info__add" :error="errors['cover']">
      <AddEventCover
        :coverImage="imageCover"
        @cover:upload="handleCoverUpload"
      />
    </FormRow>
  </div>
</template>

<script>
import FormRow from '~/components/common/FormRowNew'
import AddEventCover from '~/components/versionB/EventCover/AddEventCover'
import {mapGetters} from "vuex";
export default {
  name: 'EventCover',

  components: {
    FormRow,
    AddEventCover,
  },

  props: {
    cover: {
      type: Object,
      default: () => ({}),
    },
    errors: {
      type: Object,
      default: () => ({}),
    },
    isEdit: Boolean,
  },
  watch: {

  },
  computed: {
    ...mapGetters({ event: 'createEventVersionB/event' }),
    imageCover() {
      return this.event.cover
    }
  },

  methods: {
    handleCoverUpload({ image }) {
      this.$emit('update:cover', image)
    }
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.cover-info {
  &__title{
    font-size: 16px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.4);
    line-height: 24px;
    font-family: 'Circe-Bold', Tahoma, Arial;
    @media (max-width: 480px) {
      display: none;
    }
  }
  &__add {
    margin-bottom: 36px;
    margin-top: 11px;
    @media (min-width: $desktopSD) {
      margin-bottom: 38px;
    }

    @media (min-width: $desktopHD) {
      margin-bottom: 46px;
    }
  }
}
</style>