<i18n>
{
  "ru": {
    "ticketsOver": "Билетов нет",
    "priceFrom": "Билеты от",
    "priceFree": "Бесплатно"
  },
  "en": {
    "ticketsOver": "No tickets left",
    "priceFrom": "Tickets from",
    "priceFree": "Free"
  },
  "es": {
    "ticketsOver": "Entradas agotadas",
    "priceFrom": "Entradas desde",
    "priceFree": "Gratis"
  }
}
</i18n>

<template>
  <Button v-bind="$attrs" class="buy-button">
    <div class="buy-button__inner">
      <Icon class="buy-button__icon" src="icons/book.svg" />
      <div class="buy-button__content">
        <template v-if="!hasTickets">
          {{ $t('ticketsOver') }}
        </template>
        <template v-else-if="minPrice">
          {{ $t('priceFrom') }}
          <Price :price="minPrice" :currency="currency" />
        </template>
        <template v-else>
          {{ $t('priceFree') }}
        </template>
      </div>
    </div>
  </Button>
</template>

<script>
export default {
  components: {
    Icon: () => import('~/components/common/Icon'),
    Price: () => import('~/components/common/Price'),
    Button: () => import('~/components/common/buttons/YetAnotherButton'),
  },
  inheritAttrs: false,
  props: {
    hasTickets: {
      type: Boolean,
      required: true,
    },
    minPrice: {
      type: [String, Number],
      required: true,
    },
    currency: {
      type: String,
      required: true,
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.buy-button {
  width: $base * 25;
  max-width: 100%;
  line-height: 1;
  white-space: nowrap;

  &__inner {
    display: flex;
    align-items: center;
  }
  &__icon {
    flex-shrink: 0;
    margin-right: $base;
    margin-top: -2px;
  }
  &__content {
    @include text(1.5);
    flex: 1;
    text-align: center;
  }
}
</style>
