<template>
  <component
    :is="component"
    :style="{ color }"
    v-bind="componentProps"
    class="event"
    @mouseenter.native="eventCardIsHovered = true"
    @mouseleave.native="eventCardIsHovered = false"
  >
    <div class="event__cover">
      <AsyncImage :image="cover" :width="176" :height="176" class="cover" />
    </div>
    <div class="event__content content">
      <div class="event__title">
        <h3 class="title" v-text="event.title" />
      </div>
      <div class="event__description" v-text="description" />
      <div class="event__footer">
        <div class="button">
          <BuyButton
            :hasTickets="hasTickets"
            :minPrice="minPrice"
            :currency="currency"
            :color="color"
            :hovered="eventCardIsHovered"
            :disabled="!hasTickets"
            class="btn"
          />
        </div>
      </div>
    </div>
  </component>
</template>

<script>
import { path } from 'ramda'
import { splitNumberBy3 } from '~/utils'

export default {
  components: {
    AsyncImage: () => import('~/components/common/AsyncImage'),
    BuyButton: () => import('./BuyButton'),
  },
  props: {
    session: {
      type: Object,
      required: true,
    },
    color: String,
  },
  data: () => ({
    eventCardIsHovered: false,
  }),
  computed: {
    event() {
      return this.session.event
    },
    schemes() {
      return this.session.schemes
    },

    ticketsLeft() {
      return this.schemes.reduce(
        (sum, scheme) => sum + scheme.view.tickets_left,
        0,
      )
    },

    hasTickets() {
      return !!this.ticketsLeft
    },

    date() {
      return this.schemes[0].view.date
    },

    time() {
      return this.schemes[0].view.time
    },

    minPrice() {
      let minPrice = Infinity
      this.schemes.forEach(scheme => {
        minPrice = Math.min(minPrice, scheme.view.price)
      })

      return minPrice ? splitNumberBy3(minPrice) : 0
    },

    currency() {
      return this.event.currency
    },

    component() {
      return this.hasTickets ? 'nuxt-link' : 'div'
    },

    componentProps() {
      return this.hasTickets ? { to: this.eventLink } : {}
    },

    cover() {
      return path(['cover', 'image'], this.event)
    },

    description() {
      const title = path(['location', 'title'], this.session)
      return [title, this.time].filter(Boolean).join(', ')
    },

    eventLink() {
      return {
        name: 'events-id-tickets',
        params: { id: this.event.url_id },
        query: { date: this.date, time: this.time },
      }
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.event {
  $transition: 0.2s ease;
  color: $blue;
  background: #fff;
  display: flex;
  transition: box-shadow $transition;

  &:hover {
    box-shadow: 0 0 15px 0 rgba(209, 220, 234, 0.3);

    .title {
      color: inherit;
    }
  }

  .content > * {
    // margin: 0;

    &:not(:last-child) {
      margin-bottom: $base * 2;
    }

    &:empty {
      display: none;
    }
  }

  .title {
    @include text(3);
    font-weight: bold;
    word-break: break-all;
    color: #000;
    transition: color $transition;
  }

  &__cover {
    flex: 0 0 ($base * 24);
    width: $base * 24;
    height: $base * 24;
    padding: $base;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__content {
    position: relative;
    flex: 1;
    padding: ($base * 3) ($base * 2) ($base * 2) ($base * 3);

    display: flex;
    flex-direction: column;
    // justify-content: space-between;
  }

  &__title {
  }
  &__description {
    color: #000;
    font-weight: bold;
  }
  &__footer {
    margin-top: auto;
    display: flex;
    justify-content: flex-end;
  }

  @media (max-width: $desktopHD) {
    &__content {
      padding-left: $base * 2;
    }
  }

  @media (max-width: $desktopSD) {
    &__content {
      padding-top: $base * 2.25;
    }
    &__footer {
      flex-direction: column-reverse;
      justify-content: normal;
      align-items: normal;
    }
  }
  @media ($mobile) {
    flex-direction: column;

    &__cover {
      padding-bottom: 0;
      margin-left: auto;
      margin-right: auto;
    }

    &__content {
      padding: $base ($base * 2) ($base * 2.25);
      align-items: center;
      text-align: center;
    }

    .content,
    &__footer {
      > *:not(:last-child) {
        margin-bottom: $base * 1.5;
      }
    }
  }
}
</style>
