<i18n>
  {
    "ru": {
      "andCreateYourOrder": "и создать свою заявку",
      "andFindOrder": "и найти заявку для себя"
    },
    "en": {
      "andCreateYourOrder": "and create your own order",
      "andFindOrder": "and find a order for yourself"
    }
  }
</i18n>
<template>
  <div class="user">
    <OrdersPage
      v-slot:filter="slotProps"
      :fetchParams="fetchParams"
      :filterOptions="filterOptions"
      :orders="ORDERS"
      :ordersCount="ORDERS_COUNT"
      :ordersHasMore="ORDERS_HAS_MORE"
      :ordersLoading="ORDERS_LOADING"
      :ordersFilters="ORDERS_FILTERS"
      :setOrdersFilters="SET_ORDERS_FILTERS"
      :fetchOrders="FETCH_ORDERS"
      :fetchOrdersNext="FETCH_ORDERS_NEXT"
      :resetOrders="RESET_ORDERS"
      @click="openOrder"
    >
      <template>
        <div class="registration">
          <div class="variant">
            <Button class="button" @click.native="updateUser('customer')">
              {{ $t('marketplace.becomeCustomer') }}
            </Button>
            <p class="variant-subtitle">
              {{ $t('andCreateYourOrder') }}
            </p>
          </div>
          <div class="variant">
            <Button class="button" @click.native="updateUser('supplier')">
              {{ $t('marketplace.becomeSupplier') }}
            </Button>
            <p class="variant-subtitle">
              {{ $t('andFindOrder') }}
            </p>
          </div>
        </div>
        <OrdersFilter
          v-if="slotProps.optionsCount"
          :placeholder="$t('marketplace.allTypes')"
          :value="slotProps.value"
          :options="slotProps.options"
          :loading="slotProps.loading"
          @input="slotProps.input"
          @close="slotProps.close"
        />
      </template>
    </OrdersPage>
  </div>
</template>
<script>
  import { mapGetters, mapActions, mapMutations } from "vuex"

  export default {
    components: {
      OrdersFilter: () => import('~/components/marketplace/orders/Filter'),
      OrdersPage: () => import('../components/OrdersPage'),
      Button: () => import('~/components/common/buttons/YetAnotherButton'),
    },
    props: {
      isOwnProfile: Boolean,
      profile: {
        type: Object,
        required: true,
      },
    },
    computed: {
      ...mapGetters('marketplace', [
        'ORDERS',
        'ORDERS_COUNT',
        'ORDERS_HAS_MORE',
        'ORDERS_LOADING',
        'ORDERS_FILTERS',
        'ALL_ORDER_TYPES',
        'ORDERS_INITIALIZED'
      ]),
      fetchParams: () => ({
        status: 0
      }),
      filterOptions() {
        return this.ALL_ORDER_TYPES.map( item => ({
          display: item.title, value: item.id, filterKey: 'type', type: this.$t('marketplace.orderType')
        }))
      }
    },
    async mounted() {
      if ( !this.ORDERS_INITIALIZED ){
        await this.FETCH_ORDERS(this.fetchParams)
      }
    },
    methods: {
      ...mapActions({
        showError: 'notifications/error',
      }),
      ...mapActions('popovers', ['SWITCH_PRE_LOADER']),
      ...mapActions('user', ['UPDATE_USER']),
      ...mapMutations('marketplace', ['SET_ORDERS_FILTERS']),
      ...mapActions('marketplace', [
        'FETCH_ORDERS',
        'FETCH_ORDERS_NEXT',
        'RESET_ORDERS'
      ]),
      openOrder(orderId){
        return this.$router.push({
          name: 'profile-id-marketplace-order_id',
          params: {
            id: this.$route.params.id,
            order_id: orderId
          },
        })
      },
      async updateUser(userType='supplier'){
        this.SWITCH_PRE_LOADER(true)
        try{
          const payload = userType === 'supplier'
            ? {is_supplier: true}
            : {is_customer: true}
          await this.UPDATE_USER(payload)
          this.$router.push({
            name: 'profile-edit'
          })
        } catch (e) {
          console.log(e)
          this.showError(e.message)
        } finally {
          this.SWITCH_PRE_LOADER(false)
        }
      }
    },
  }
</script>
<style lang="scss" scoped>
  @import '~/assets/css/variables.scss';
  .user{
    .registration {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      .variant {
        margin: 10px;
        text-align: center;
        align-items: center;
        justify-content: center;
        flex: 1 1 ($base * 40);

        button {
          padding: ($base * 2) ($base * 3);
        }

        .variant-title {
          @include text(3);
          cursor: pointer;
          color: $blue;
          margin: 0;
          &:hover{
            text-decoration: underline;
          }
        }
        &-subtitle {
          margin: 0;
        }
      }
    }
  }
</style>
