<template>
  <div class="promo">
    <div class="buttons">
      <button class="promo-content" @click="choosePlan">{{ $t('eventCreate.choosePlan') }}</button>
      <button
        v-if="create"
        class="free-content"
        @click="promoteCreateEvent"
      >
        <slot name="cancel"> {{ $t('eventCreate.publishFree') }}</slot>
      </button>
    </div>
    <h2 ref="promoTitle" class="promo__title">
      <strong>{{ $t('eventCreate.choosePlanTitle') }}</strong>
    </h2>
    <Tariffs
      :value="plan"
      :coupon="coupon"
      @click="handleTariff"
    />
    <div class="promo__email-hint">{{ $t('eventCreate.hint') }}</div>
  </div>
</template>

<script>
  import {mapActions} from 'vuex'
  import isEmpty from 'lodash/isEmpty'
  import popConsts from '~/utils/popoverConsts.js'

  export default {
    name: 'Promo',
    components: {
      Tariffs: () => import('~/components/versionC/Promo/Tariffs'),
    },
    props: {
      create: {
        type: Boolean,
        default: false,
      },
    },
    data() {
      return {
        coupon: '',
        plan: {},
        email: '',
      }
    },
    computed: {
      isAuth() {
        return this.$store.getters['auth/IS_AUTH']
      },
    },
    methods: {
      ...mapActions({
        errorMessage: 'notifications/error',
        simpleRegistration: 'auth/SIMPLE_REGISTRATION',
      }),
      choosePlan () {
        window.scrollTo({
          top: this.$refs.promoTitle.offsetTop,
          behavior: 'smooth',
        })

      },
      async handleTariff(plan) {
        if(this.isAuth) {
          this.plan = plan
        }
        this.promoteCreateEvent()
      },
      async simpleRegister() {
        try {
          await this.simpleRegistration({ email: this.email })
        } catch (e) {}
      },
      async promoteCreateEvent() {
        if (!this.isAuth && this.email) {
          await this.simpleRegister()
          this.email = ''
        }
        if (this.isAuth) {
          if(!isEmpty(this.plan)) {
            this.$emit('promote', {
              plan: this.plan,
            })
          } else {
            this.$emit('create')
          }
        } else {
          // this.errorMessage(this.$t('mail.pleaseLogin'))
          this.$store.dispatch('popovers/TOGGLE_POPOVER', popConsts.auth)
        }
      },
    },
  }
</script>

<style lang="scss" scoped>
  @import '~/assets/css/variables.scss';
  .buttons {
    display: flex;
    width: 100%;
    margin-bottom: 80px;
    .promo-content{
      width: 288px;
      padding: 15px 30px;
      margin-right: 16px;
      background-color: #137bff;
      color: #ffffff;
      font-size: 18px;
      font-weight: bold;
    }

    .free-content{
      padding: 15px 50px;
      border: solid 2px #0070ff;
      background-color: #ffffff;
      color: #0070ff;
      font-size: 18px;
      font-weight: bold;
    }
  }
  .promo {
    max-width: 1000px;
    display: grid;
    grid-gap: 24px;


    &__title {
      display: inline-block;
      color: $blue;
      @media (min-width: $desktopSD) {
        color: black;
      }
      &:before {
        @include text(3);
        color: $blue;
        margin-right: 2 * $base;
        @media (min-width: $desktopHD) {
          @include text(4);
          position: absolute;
          transform: translateX(-200%);
        }
      }
    }

    &__description {
      @media (min-width: $desktopHD) {
        @include text(3);
      }
    }

    &__email-hint {
      @include text(1.75);
      max-width: 700px;
    }
  }
</style>
