<template>
  <Main :value="country" :query="query">
    <template #footer>
      <ShareLinks class="share-links" />
      <ThingsToDo v-if="isShowThingsToDo">
        {{ country.title }}
      </ThingsToDo>
    </template>
  </Main>
</template>

<script>
import { mapGetters } from 'vuex'
import { prop } from 'ramda'
import { setLatestModifiedAnd304 } from '~/utils'

import ThingsToDo from '~/components/common/ThingsToDo'
import Main from '~/components/main'
import ShareLinks from '~/components/main/ShareLinks'

export default {
  components: {
    Main,
    ShareLinks,
    ThingsToDo,
  },
  computed: {
    ...mapGetters({ seoLinks: 'seo/results' }),
    country() {
      return this.$store.getters['country/RESULT']
    },
    query() {
      return { geoname_ids: this.country.id }
    },
    isShowThingsToDo() {
      return this.country && prop('length', this.seoLinks)
    },
  },
  async fetch({ store, params, error, redirect, res, req, query }) {
    const countryId = prop('0', params.id.match(/\d+/))
    if (!countryId) return error({ statusCode: 404 })

    const country = await store
      .dispatch('country/FETCH', countryId)
      .catch(err => error(err))
    if (country.url_id !== params.id) {
      redirect(301, `/country/${country.url_id}`, query)
    }
    await Promise.all([
      store.dispatch('main/categories/FETCH', {
        expand: 'cover,icon',
        geoname_id: countryId,
        is_main: true,
      }),
      store.dispatch('main/sessions/FETCH', {
        geoname_ids: countryId,
        is_main: true,
      }),
      store.dispatch('journals/FETCH', {
        expand: 'created_by,cover,created_by.avatar',
        page_size: 3,
        geoname_ids: countryId,
        is_main: true,
      }),
      store.dispatch('organizers/FETCH', {
        expand: 'logo',
        page_size: 6,
        geoname_ids: countryId,
        is_main: true,
      }),
      store.dispatch('seo/FETCH', { geoname_id: countryId }),
    ]).catch(err => error(err))

    if (process.server) {
      setLatestModifiedAnd304({ res, req, store }, [
        store.getters['main/sessions/modified'],
        store.getters['organizers/modified'],
        store.getters['journals/modified'],
      ])
    }
  },
  mounted() {
    this.checkSocialAuthRequest()
  },
  methods: {
    async checkSocialAuthRequest() {
      if (!this.$store.getters.IS_AUTH && this.$route.query.code) {
        await this.$store.dispatch('SOCIAL_LOG_IN', {
          provider: this.$route.query.state,
          code: this.$route.query.code,
        })
        this.$store.dispatch('user/GET_USER_DATA')
      }
    },
  },
  head() {
    return {
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.$t('seo.description'),
        },
      ],
    }
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.share-links {
  margin-top: 56px;
  @media (min-width: $sideShow) {
    margin-top: 86px;
  }
}
</style>
