<template>
  <div class="create-event__btn" @click="$router.push('/events/create/a/1/')">
    <Icon src="/icons/pencil-fat.svg" size="xs" />
    <span class="title">
      {{ $t('mainpage.createEvent') }}
    </span>
  </div>
</template>

<script>
import Icon from '~/components/common/Icon'

export default {
  components: { Icon },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.create-event__btn {
  cursor: pointer;
  display: flex;
  align-items: baseline;
  font-weight: bold;

  .title {
    margin-left: 4px;
  }
}
</style>
