<template>
  <div class="lang-container">
    <div
      class="lang-container__item"
      :class="setActive('ru')"
      @click="changeLang('ru')"
    >
      Ру
    </div>
    <div
      class="lang-container__item"
      :class="setActive('en')"
      @click="changeLang('en')"
    >
      En
    </div>
    <!--    <div-->
    <!--      class="lang-container__item"-->
    <!--      :class="setActive('es')"-->
    <!--      @click="changeLang('es')"-->
    <!--    >-->
    <!--      Es-->
    <!--    </div>-->
  </div>
</template>
<script>
export default {
  methods: {
    changeLang(lang) {
      this.$store.dispatch('lang/SWITCH', lang)
      this.$i18n.locale = lang
      // this.$moment.locale = lang
    },
    setActive(lang) {
      return this.$store.state.lang.locale === lang ? 'active' : ''
    },
  },
}
</script>

<style lang="scss">
@import '~/assets/css/variables.scss';

.lang-container {
  display: flex;
  height: 100%;
  align-items: center;

  &__item {
    cursor: pointer;
    font-weight: bold;
    margin-right: 1rem;
    @media ($mobile) {
      margin-left: 1rem;
    }
    &:last-child {
      margin-right: 2rem;
      @media ($mobile) {
        margin-right: 1rem;
      }
      @media (max-width: $desktopHD) {
        margin-right: 1rem;
      }
    }
    &:hover {
      color: #0070ff;
    }

    &.active {
      color: #0070ff;
    }
  }
}
</style>
