<template>
  <div class="login">
    <UserMenu v-if="isAuth" :user="user" :type="type" />

    <span v-else class="vertical-align text-link" @click="openAuthPopover">
      <slot name="login"></slot>
      <span v-if="type === 'full'" class="login-empty"></span>
      <span v-if="type === 'mobile'" class="login-icon"></span>
    </span>
  </div>
</template>

<script>
import popConsts from '~/utils/popoverConsts.js'

export default {
  components: {
    UserMenu: () => import('./UserMenu/UserMenu'),
  },
  props: {
    user: {
      type: Object,
    },
    isAuth: {
      type: Boolean,
      default: false,
    },
    type: {
      type: String,
      default: 'mobile',
      validator: v => ['mobile', 'full'].indexOf(v) !== -1,
    },
  },
  methods: {
    openAuthPopover() {
      this.$store.dispatch('popovers/TOGGLE_POPOVER', popConsts.auth)
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.text-link {
  cursor: pointer;
  font-weight: bold;
  &:hover {
    color: $blue;
  }
}

.vertical-align {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 16px;
  align-items: center;
  justify-content: center;
}

.login-icon {
  @include ww-icn();
  &:before {
    content: 'O';
    @include text(2.75);
  }
}

.login-empty {
  display: inline-block;
  height: 32px;
  width: 32px;
  background-color: $blue;
  border-radius: 50%;
}
</style>
