<template>
  <nuxt-link
    :to="`/${link}/`"
    class="logo-link"
    @click.native="pressLogo"
  />
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  name: 'Logo',

  computed: {
    ...mapGetters({
      userCity: 'city/GET_USER_CITY',
    }),

    link() {
      return this.userCity !== null ? this.userCity.url_id : '/';
    },
  },

  methods: {
    pressLogo() {
      this.$store.dispatch('popovers/TOGGLE_POPOVER', '')
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.logo-link {
  display: block;
  background: url('~assets/images/logo.svg') no-repeat center;
  background-color: black;
  background-size: auto 19px;

  @media (min-width: $sideShow) {
    background-size: auto 31px;
  }
}
</style>
