<i18n src="./locales.json"></i18n>

<template>
  <div class="burget__menu" @click.stop="clickHandle">
    <div v-if="!opened" :key="'menu'" v-tooltip.auto="$t('menu')" class="icon">
      <Icon src="icons/burger-menu.svg" />
    </div>
    <div v-else :key="'cross'" v-tooltip.auto="$t('closeMenu')" class="icon">
      <span class="ww-icn-cross"></span>
    </div>
  </div>
</template>

<script>
import Icon from '~/components/common/Icon'
import TextTooltip from '~/components/common/TextTooltip'

export default {
  components: { Icon, TextTooltip },
  computed: {
    opened() {
      return this.$store.getters['popovers/OPENED_POPOVER'] === 'popover_menu'
    },
  },
  methods: {
    clickHandle() {
      this.$store.dispatch('popovers/TOGGLE_POPOVER', 'popover_menu')
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.burget__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 100%;
  height: 100%;

  &:hover,
  &:focus {
    color: $blue;
  }
  .icon {
    height: 16px;
    width: 16px;
    @media (min-width: $desktopSD) {
      height: 24px;
      width: 24px;
      font-size: 24px;
    }
  }
}
</style>
