<template>
  <div class="search__top" @click.stop="clickHandle">
    <img 
      src="~static/search-black.png"
      class="icon hidden-desktopSD-and-up"
    />
    <img src="~static/search-black.png" class="icon hidden-mobile-only" />
    <span class="title hidden-mobile-only">{{ $t('common.btnSearch') }}</span>
  </div>
</template>

<script>
import pConsts from '~/utils/popoverConsts.js'
import Icon from '~/components/common/Icon'

export default {
  components: { Icon },
  methods: {
    clickHandle() {
      this.$store.dispatch('popovers/TOGGLE_POPOVER', pConsts.search)
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.search__top {
  display: flex;
  align-items: baseline;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $blue;
  }

  .icon {
    height: 16px;
    width: 16px;
    @media (min-width: $desktopSD) {
      height: 10px;
      width: 10px;
    }
  }

  .title {
    margin-left: 8px;
    font-weight: bold;
  }
}
</style>
