<i18n src="./locales.json"></i18n>

<template>
  <div class="search__side" @click.stop="clickHandle">
    <div
      v-if="!opened"
      :key="'search'"
      v-tooltip.auto="$t('search')"
      class="icon"
    >
      <span class="ww-icn-search"></span>
    </div>
    <div v-else :key="'cross'" v-tooltip.auto="$t('closeSearch')" class="icon">
      <span class="ww-icn-cross"></span>
    </div>
  </div>
</template>

<script>
import pConsts from '~/utils/popoverConsts'

export default {
  computed: {
    getOpenedPopover() {
      return this.$store.getters['popovers/OPENED_POPOVER']
    },
    opened() {
      return this.getOpenedPopover === pConsts.search
    },
  },
  methods: {
    clickHandle() {
      this.$store.dispatch(
        'popovers/TOGGLE_POPOVER',
        this.getOpenedPopover ? '' : pConsts.search,
      )
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.search__side {
  display: flex;
  align-items: center;
  cursor: pointer;
  .icon {
    font-size: 24px;
  }
  &:hover,
  &:focus {
    color: $blue;
  }
}
</style>
