<template>
  <div class="ww-top-wrap">
    <div class="city-container" @click="openPopoverPlace">
      <div v-if="geoLoader" class="loader-wrap">
        <Loader :height="24" :width="24" :margin="0" />
      </div>
      <Icon src="icons/map-point.svg" size="xs" />
      <span class="city-name">{{ city }}</span>
      <Icon src="icons/arrow-down.svg" size="xs" class="arrow-down" />
    </div>
    <div v-if="cityCondition" class="ww-city-guess">
      <div class="ww-city-guess__item" @click="acceptCity">
        {{ $t('mainpage.myCity') }}
      </div>
      <div class="ww-city-guess__item" @click="dismiss">
        {{ $t('mainpage.notGuess') }}
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { path, prop } from 'ramda'

import Icon from '~/components/common/Icon'

const getName = (city, locale) =>
  path(['translations', locale, 'name'], city) || prop('name', city)

export default {
  components: {
    Icon,
    Loader: () => import('~/components/common/Loader'),
  },
  data: () => ({
    dissmissed: false,
  }),
  computed: {
    ...mapGetters({
      hasAccepted: 'city/IS_ACCEPTED_GEO_CITY',
      isDiffCity: 'city/IS_DIFFERENT_CITY',
      geoHasLoaded: 'city/GEO_HAS_LOADED',
      geoLoader: 'city/GEO_LOADER',
      isGeoProcessed: 'city/IS_GEO_PROCESSED',
      userCity: 'city/GET_USER_CITY',
    }),
    city() {
      const locale = this.$i18n.locale === 'en' ? 'en_us' : 'ru_ru'
      return getName(this.userCity, locale)
    },
    cityCondition() {
      if (this.dissmissed) return false
      // is not accepted geo city and the city is different
      else return this.isGeoProcessed && !this.hasAccepted && this.isDiffCity
    },
    isCurrentPageMain() {
      return this.$route.name === 'city';
    },
    today() {
      return this.$moment.utc().format();
    },
  },
  methods: {
    openPopoverPlace() {
      this.$store.dispatch('popovers/TOGGLE_POPOVER', 'popover_place')
      this.$store.commit('city/CHANGE_CITY_FROM_TITLE', false)
    },
    acceptCity() {
      this.$store.dispatch('city/ACCEPT_CITY', this.today)
      if (this.isCurrentPageMain) this.$router.push(`/${this.userCity.url_id}/`)
    },
    dismiss() {
      this.dissmissed = true
      this.$store.commit('city/FINISH_CITY_DETECTING', false)
      this.$cookies.set('userSelectedCity', this.userCity.id, { maxAge: 60*60*24*30, path: '/' })
      this.$cookies.set('citySelectionDate', this.today, { maxAge: 60*60*24*30, path: '/' })
      this.openPopoverPlace()
    },
    formatDate(date) {
      return this.$moment.locale() === 'ru'
        ? this.$moment(date).format('DD.MM.YYYY')
        : this.$moment(date).format('MM.DD.YYYY');
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.loader-wrap {
  position: absolute;
  left: -7px;
  top: -1px;
}

.city-container {
  @include text(2);
  align-items: baseline;
  cursor: pointer;
  display: flex;
  font-weight: bold;
  justify-content: center;
  white-space: nowrap;

  height: initial;
  width: initial;

  &:hover,
  &:focus {
    color: $blue;
  }

  .city-name {
    margin: 0 8px;
  }
  .arrow-down {
    color: $blue;
  }
}

.ww-top-wrap {
  position: relative;
}

.ww-city-guess {
  z-index: 3;
  position: absolute;
  max-width: 266px;
  // width: 100%;
  background-color: #000;
  color: #fff;
  display: flex;
  top: 30px;
  left: 1rem;
  white-space: nowrap;
  &__item {
    cursor: pointer;
    padding: 12px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-content: center;
    &:hover {
      background-color: #212121;
    }
    &:first-child {
      border-right: 1px solid #fff;
      &:before {
        content: '';
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 6px solid #000;
        position: absolute;
        top: -6px;
      }
    }
  }
}
</style>
