<i18n src="./locales.json"></i18n>

<template>
  <a :href="$t('supportLink')" target="_blank">
    <span v-tooltip.auto="$t('support')" class="icon ww-icn-question-o"></span>
  </a>
</template>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.icon {
  cursor: pointer;
  &:before {
    font-size: 24px;
  }
  &:hover,
  &:focus {
    color: $blue;
  }
}
</style>
