<template>
  <a href="#" class="ww-top__item ww-top__item_feed"
    ><span class="ww-top__item-text">Моя лента</span></a
  >
</template>

<style lang="scss">
@import '~/assets/css/variables.scss';

.ww-top {
  &__item {
    &_feed {
      &::before {
        content: 'd';
        font-size: 3 * $base;
      }
    }
  }
}
</style>
