<template>
  <component :is="inline ? 'span' : 'div'" class="tooltip-wrapper">
    <slot />
    <span class="tooltip">
      <slot name="tooltip" />
    </span>
  </component>
</template>

<script>
export default {
  name: 'TextTooltip',
  props: {
    inline: Boolean,
  },
}
</script>

<style lang="scss" scoped>
.tooltip-wrapper {
  position: relative;
  display: inline-block;

  &:hover {
    .tooltip {
      opacity: 0.9;
    }
  }
}

.tooltip {
  opacity: 0;
  display: block;
  transition: opacity 0.5s;
  position: absolute;
  bottom: -8px;
  left: -8px;
  padding: 12px 20px;
  background: #000;
  color: #fff;
  transform: translateY(100%);
  pointer-events: none;
  white-space: nowrap;
}
</style>
