<template>
  <section v-if="isOwn || hasShowingList" class="main__events">
    <div class="flex">
      <h2 class="main__events-header">{{ $t('common.events') }}</h2>
      <transition name="fade">
        <div
          v-if="singleMode && isOwn"
          class="flex v-center h-center events-additem_icon"
          @click="$emit('addRequest', sections.events)"
        >
          <div v-tooltip.auto="$t('journal.eventPlus')" data-icon="G" class="icon"></div>
        </div>
      </transition>
    </div>

    <div
      v-if="isOwn && !hasShowingList"
      class="main__events__subtitle"
    >{{ $t('journal.eventNothing') }}</div>

    <div v-else class="main__event-grid-wrapper">
      <template v-if="eventsLoaded">
        <div class="main__event-grid">
          <EventCard
            v-for="(session, id) in showingList"
            :key="id"
            :value="session"
            :isOwn="isOwn"
            class="event-card"
            @remove="toggleRemovePopover(session)"
          />
        </div>
        <no-ssr v-if="singleMode">
          <infinite-loading @infinite="infiniteHandler">
            <Loader slot="spinner" />
            <div slot="no-more"></div>
            <div slot="no-results"></div>
          </infinite-loading>
        </no-ssr>
      </template>
      <div v-else class="mb-3">
        <Loader color="#0070ff" />
      </div>
    </div>

    <Button
      v-if="isOwn && !hasShowingList"
      @click="$emit('addRequest', sections.events)"
    >{{ $t('journal.addEvents') }}</Button>
    <Button
      v-else-if="!singleMode"
      :count="JOURNAL_EVENTS_COUNT"
      @click="$emit('showAll', sections.events)"
    >{{ $t('journal.allCollection') }}</Button>

    <ConfirmDialog
      v-if="getOpenedPopover === 'remove_event'"
      type="danger"
      @confirm="handleEventRemove"
      @cancel="toggleRemovePopover"
    >
      <h2>{{ $t('journal.confirmEvent') }}</h2>
      <template slot="confirm">{{ $t('journal.confirmYes') }}</template>
      <template slot="cancel">{{ $t('journal.confirmNo') }}</template>
    </ConfirmDialog>
  </section>
</template>

<script>
import { path } from 'ramda'
import { mapGetters, mapActions } from 'vuex'

import InfiniteLoading from 'vue-infinite-loading'

import { journalSections } from '~/utils/JournalConsts'

export default {
  components: {
    InfiniteLoading,
    Button: () => import('~/components/common/buttons/Button'),
    ConfirmDialog: () => import('~/components/common/popovers/ConfirmDialog'),
    EventCard: () => import('~/components/common/EventCard'),
    Loader: () => import('~/components/common/Loader'),
  },

  props: {
    singleMode: Boolean,
  },

  data: () => ({
    sections: journalSections,
    page: 1,
    eventsLoaded: true,
    removeId: null,
    isLoadingMore: false,
  }),

  computed: {
    ...mapGetters({
      isAuth: 'auth/IS_AUTH',
      isOwnJournal: 'journal/IS_OWN',
      eventList: 'journal/JOURNAL_GROUP_EVENTS',
      currJournal: 'journal/CURRENT_JOURNAL',
      getOpenedPopover: 'popovers/OPENED_POPOVER',
      HAS_MORE_JOURNAL_EVENTS: 'journal/HAS_MORE_JOURNAL_EVENTS',
      JOURNAL_EVENTS_COUNT: 'journal/JOURNAL_EVENTS_COUNT',
    }),
    isOwn() {
      return this.isAuth && this.isOwnJournal
    },
    showingList() {
      return this.singleMode ? this.eventList : this.eventList.slice(0, 4)
    },
    hasShowingList() {
      return this.showingList.length
    },
    pages() {
      return this.$store.state.journal.journalEvents.num_pages
    },
    listParams() {
      return {
        page: this.page,
        page_size: 50,
      }
    },
  },

  watch: {
    async singleMode(v) {
      if (!v) {
        this.page = 1
        this.eventsLoaded = false
        await this.getEventsList(this.listParams)
        this.eventsLoaded = true
      }
    },
  },

  methods: {
    ...mapActions({
      getEventsList: 'journal/GET_JOURNAL_EVENTS',
      togglePopover: 'popovers/TOGGLE_POPOVER',
      GET_MORE_JOURNAL_EVENTS: 'journal/GET_MORE_JOURNAL_EVENTS',
    }),
    async infiniteHandler($state) {
      if (this.isLoadingMore) {
        $state.reset()
        return
      }

      this.page += 1
      this.isLoadingMore = true

      if (this.HAS_MORE_JOURNAL_EVENTS) {
        try {
          await this.GET_MORE_JOURNAL_EVENTS()
          $state.loaded()
        } catch (e) {
          $state.complete()
        }
      } else {
        $state.complete()
      }

      this.isLoadingMore = false
    },
    toggleRemovePopover(session) {
      const id = path(['0', 'event', 'id'], session)

      this.togglePopover('remove_event')
      this.removeId = id
    },
    async handleEventRemove() {
      this.togglePopover()

      this.eventsLoaded = false
      try {
        await this.$store.dispatch('journal/REMOVE_FROM_JOURNAL', {
          type: 'events',
          params: { events: [this.removeId] },
        })
        await this.getEventsList()
      } catch {}
      this.eventsLoaded = true

      this.removeId = null
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.events {
  &-additem_icon {
    cursor: pointer;
    color: $blue;
    padding: 0 1rem;
    .icon {
      height: 3 * $base;
      @include text(3);
    }
  }
}

.main {
  &__events {
    margin-top: 15.5 * $base;
    @media (max-width: 1100px) {
      margin-top: 9 * $base;
    }
    &__subtitle {
      margin-bottom: 1rem;
      line-height: 1.5;
    }
  }

  &__events-header {
    flex: 1;
    margin-bottom: 4px;
    @include text(8);

    @media (max-width: 1100px) {
      @include text(3);
    }
  }

  &__event-grid {
    padding-top: 8px;

    padding-left: 16px;
    padding-right: 16px;
    margin-left: -16px;
    margin-right: -16px;

    display: grid;
    grid-auto-flow: column;
    grid-gap: 16px;
    grid-auto-columns: 160px;
    overflow-x: auto;

    margin-bottom: 16px;

    @media (min-width: $desktopSD) {
      grid-gap: 16px;
      grid-auto-columns: 248px;
      margin-bottom: 6.75 * $base;
    }

    @media (min-width: $desktopHD) {
      padding-top: 16px;
      padding-bottom: 16px;
      grid-auto-flow: row;
      grid-template-columns: repeat(auto-fill, 248px);
    }

    @media (min-width: $desktopHDp) {
      grid-row-gap: 32px;
      grid-template-columns: repeat(auto-fill, 296px);
    }

    .event-card {
      max-width: 100%;
    }
  }
}

.mb-3 {
  margin-bottom: 33px;
}
</style>
