<template>
  <FormSelect
    class="filter"
    variant="bordered"
    v-bind="groupParams"
    :value="value"
    :searchable="true"
    :internalSearch="true"
    :multiple="true"
    :options="options"
    :disabled="loading"
    :allowEmpty="true"
    :closeOnSelect="false"
    openDirection="bottom"
    :placeholder="placeholder"
    trackBy="display"
    label="display"
    v-on="$listeners"
  />
</template>
<script>
  import FormSelect from '~/components/common/input/FormSelect'
  export default {
    name: 'OrdersFilter',
    components: {
      FormSelect
    },
    props: {
      value: [Object, Array],
      options: {
        type: Array,
        default: () => [],
      },
      loading: {
        type: Boolean,
        default: false
      },
      placeholder: String,
    },
    computed: {
      groupParams () {
        const hasGroups = this.options.reduce((total, item) => total & Boolean(item.group), true)
        if (this.options.length > 1 && hasGroups){
          return {'group-values': 'values', 'group-label': 'group', 'group-select': false}
        }
        return {}
      }

    },
  }
</script>
<style lang="scss" scoped>
  @import '~/assets/css/variables.scss';

  .filter {
    width: 50%;

    @media (max-width: $sideShow) {
      width: 100%;
    }
  }

</style>
