<i18n>
  {
    "ru": {
      "dontKnow": "Не знаете что выбрать?",
      "writeUs": "Напишите нам",
      "weHelp": "и мы поможем",
      "needHelp": "Заведение заявки"
    },
    "en": {
      "dontKnow": "Don't know what to choose?",
      "writeUs": "Write to us",
      "weHelp": "and we will help You",
      "needHelp": "Order creation"
    }
  }
</i18n>
<template>
  <ModalContainer :noScroll="false">
    <div class="order-modal">
      <div class="body">
        <component
          :is="formComponent"
          ref="orderForm"
          v-bind="formProps"
          @submit="onSubmit"
        />
        <span class="close-button ww-icn-cross" @click="closeModal"></span>
      </div>
      <div class="submit-row">
        <div class="submit-row-hint">
          <span>
            {{ $t('dontKnow') }}
          </span>
          <span class="new-line">
            <a :href="'mailto:hello@whatwhere.world?subject=' + $t('needHelp')">{{ $t('writeUs') }}</a> {{ $t('weHelp') }}
          </span>
        </div>
        <PanelButton
          bigPadding
          class="submit-row-button"
          @click.native="$refs.orderForm.submit"
        >{{ isEditForm ? $t('marketplace.editRequest'): $t('marketplace.sendRequest') }}
        </PanelButton>
      </div>
    </div>
  </ModalContainer>
</template>

<script>
  import { prop } from "ramda"
  import { mapActions, mapGetters, mapMutations } from 'vuex'
  import isEmpty from 'lodash/isEmpty'
  import ModalContainer from '~/components/common/popovers/ModalContainer'
  import popovers from '~/utils/popoverConsts'

  export default {
    name: 'OrderFormModal',
    components: {
      ModalContainer,
      CreateForm: () => import('../../forms/CreateForm'),
      EditForm: () => import('../../forms/EditForm'),
      PanelButton: () => import('~/components/common/buttons/PanelButton'),
    },
    computed: {
      ...mapGetters('marketplace/order', ['FILES', 'FILES_ERRORS']),
      ...mapGetters({popoverData: 'popovers/POPOVER_DATA'}),
      formProps() {
        if ( this.isEditForm )
          return {
            orderId: prop('orderId', this.popoverData)
          }
        return {}
      },
      isEditForm(){
        return prop('type', this.popoverData) === 'edit'
      },
      formComponent(){
        return this.isEditForm ? 'EditForm' : 'CreateForm'
      },
    },
    methods: {
      ...mapActions({
        showSuccess: 'notifications/success',
        TOGGLE_POPOVER: 'popovers/TOGGLE_POPOVER',
      }),
      ...mapMutations({
        SET_FILES: 'marketplace/order/SET_FILES',
      }),
      onSubmit() {
        this.closeModal()
        if(this.isEditForm) {
          if(isEmpty(this.FILES_ERRORS)) this.showSuccess(this.$t('marketplace.orderUpdated'))
        } else {
          this.showSuccess(this.$t('marketplace.orderCreated'))
        }
      },
      closeModal(){
        this.TOGGLE_POPOVER(popovers.orderFormModal)
        this.$emit('close')
        if(this.FILES) {
          this.SET_FILES(null)
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import '~/assets/css/variables.scss';

  .order-modal {
    width: 100%;
    max-height: 100%;
    max-width: 800px;
    box-shadow: 0 3px 30px 0 rgba(0, 112, 255, 0.1);
    background-color: #f8f9fa;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    display: flex;
    flex-direction: column;

    @media ($mobile) {
      height: 100%;
    }
    .body {
      padding: 64px 73px;
      margin-bottom: auto;

      @media (min-width: $desktopHD) {
        padding: 64px 169px 64px 73px;
      }

      @media (max-width: $desktopSD) {
        padding: 32px 36px;
      }

    }

    .close-button {
      position: absolute;
      right: 32px;
      top: 32px;
      color: $black-gray;
      font-size: 24px;
      cursor: pointer;

      &:hover,
      &:focus{
        color: $blue;
      }
    }
    .submit-row {
      margin-top: auto;
      display: flex;
      justify-content: flex-end;
      padding: 7px 64px 9px;
      box-shadow: 0 -5px 10px 0 rgba(203, 214, 225, 0.1);
      background-color: #f8f9fa;

      @media (max-width: $desktopSD){
        flex-direction: column-reverse;
        padding: 7px 32px 9px;
      }

      &-hint {
        padding-right: 48px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 16px;
        text-align: right;
        vertical-align: middle;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;

        @media (max-width: $desktopSD){
          flex-direction: row;
          flex-wrap: wrap;
          padding-top: $base;
          padding-right: 0;
          justify-content: flex-end;
        }
        .new-line {
          display: block;
          @media (max-width: $desktopSD) {
            display: inline;
            &:before {
              content: "\00a0 ";
            }
          }
        }
        span {
          white-space: nowrap;
        }
        a {
          color: $blue;
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
        }
      }

    }
  }
</style>