<template>
  <div class="tooltip-wrapper">
    <slot />
    <span class="tooltip" :style="tooltipStyle">
      <slot name="tooltip" />
      <div class="line" :style="lineStyle" />
    </span>
  </div>
</template>

<script>
export default {
  name: 'GuideTooltip',

  props: {
    distance: {
      type: Number,
      default: 30,
    },
    width: {
      type: Number,
      default: 300,
    },
    extraLineWidth: {
      type: Number,
      default: 10,
    },
  },

  computed: {
    tooltipStyle() {
      const style = {
        maxWidth: `${this.width}px`,
      }

      return {
        ...style,
        marginLeft: `${this.distance}px`,
      }
    },
    lineStyle() {
      const width = this.distance + this.extraLineWidth

      return {
        width: `${width}px`,
        left: `-${width}px`,
        height: '1px',
      }
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.tooltip-wrapper {
  position: relative;
  display: inline-flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;

  @media (min-width: $sideShow) {
    flex-direction: row;
    align-items: center;
  }
}

.tooltip {
  display: block;
  padding: 16px 24px;
  background: #020609;
  color: #fff;
  position: relative;
  flex-shrink: 0;
  margin-top: 20px;

  @media (max-width: $sideShow - 1) {
    margin-left: 0 !important;
  }

  @media (min-width: $sideShow) {
    margin-top: 0;
  }
}

.line {
  position: absolute;
  display: block;
  background: black;
  top: -25px;

  @media (max-width: $sideShow - 1) {
    width: 1px !important;
    height: 25px !important;
    left: 20px !important;
  }

  @media (min-width: $sideShow) {
    top: 0;
    bottom: 0;
    margin: auto;
  }
}
</style>
