<template>
  <div class="wrapper">
    <section class="reset-password">
      <div class="reset-password__avatar ww-avatar ww-avatar_30">
        <Avatar :user="getUserData" size="240" />
      </div>
      <div class="reset-password__text">
        <h2>{{ getName }}</h2>
        <div class="reset-password__hint">{{ $t('auth.newPassword') }}</div>
        <AuthPasswordInput
          :passValue="user.new_password.value"
          @inputting="inputting(user.new_password.key, $event)"
          @enter="restoreHandler"
        />
        <AuthPasswordInput
          :passValue="user.re_new_password.value"
          placeholder="Повтор"
          @inputting="inputting(user.re_new_password.key, $event)"
          @enter="restoreHandler"
        />
        <div v-show="error.show" class="error-message">
          {{ error.message }}
        </div>
        <Button @click="restoreHandler">
          {{ $t('auth.changePassword') }}
        </Button>
      </div>
    </section>
  </div>
</template>

<script>
import { prop } from 'ramda'
import AuthPasswordInput from '~/components/auth/AuthPasswordInput'
import Avatar from '~/components/common/Avatar'
import Button from '~/components/common/buttons/Button'

export default {
  layout: 'topless',

  validate({ redirect, params, query }) {
    const code = query.code
    return !!code && query.id
  },

  components: {
    Avatar,
    Button,
    AuthPasswordInput,
  },

  data() {
    return {
      name: '',
      userData: null,
      user: {
        code: {
          value: '',
          key: 'code',
          isCorrect: true,
          errorMessage: '',
        },
        new_password: {
          value: '',
          key: 'new_password',
          isCorrect: true,
          errorMessage: '',
        },
        re_new_password: {
          value: '',
          key: 're_new_password',
          isCorrect: true,
          errorMessage: '',
        },
      },
      error: {
        show: false,
        message: '',
      },
    }
  },

  computed: {
    getName() {
      return this.name
        ? `${this.$t('profile.hey')}, ${this.name}`
        : `${this.$t('profile.hey')}!`
    },
    getUserData() {
      return this.userData
    },

  },

  created() {
    this.getParams()
  },

  methods: {
    getParams() {
      if (process.client) {
        this.user.code.value = this.getParam('code')
        this.$axios.get(`/users/${this.getParam('id')}/`, {
          params: { expand: 'avatar' },
        }).then(res => {
          this.name = prop('name', res.data)
          this.userData = res.data
        })
      }
    },

    getParam(param) {
      return this.$route.query[param] ? this.$route.query[param] : null
    },

    inputting(field, $event) {
      this.user[field].value = $event.target ? $event.target.value : $event
      this.clearErrors(field)
    },

    comparePasswords() {
      return this.user.new_password.value === this.user.re_new_password.value
    },

    restoreHandler() {
      this.clearErrors()
      if (this.comparePasswords()) {
        this.restore({
          code: this.user.code.value,
          new_password: this.user.new_password.value,
          re_new_password: this.user.re_new_password.value,
        })
      } else {
        this.showError(this.$t('auth.passwordsDoNotMatch'))
      }
    },

    async restore(data) {
      try {
        /*
            TODO: display cookie banner
            not displayed now because not defaut layout
          */
        const isCookieAccepted = await this.$store.dispatch(
          'user/CHECK_COOKIE_IS_ACCEPTED',
        )
        if (!isCookieAccepted) return

        await this.$store.dispatch('auth/CONFIRM_PASSWORD', data)
        this.$router.push('/')
      } catch (exception) {
        const errors = exception
        errors && this.errorHandler(errors)
      }
    },

    errorHandler(errors) {
      Object.entries(errors).forEach(([key, value]) => {
        this.error.show = true
        this.error.message += value.join ? value.join(' ') : value
      })
    },

    showError(message) {
      this.error.show = true
      this.error.message = message
    },

    clearErrors(field) {
      const user = this.user
      if (field) {
        user[field].isCorrect = true
        user[field].errorMessage = ''
      } else {
        Object.values(user).forEach(value => {
          value.isCorrect = true
          value.errorMessage = ''
        })
      }
      this.error.show = false
      this.error.message = ''
    },
  },
}
</script>

<style lang="scss">
@import '~/assets/css/variables.scss';

.reset-password {
  padding-top: 5 * $base;

  @media (min-width: $desktopHD) {
    display: flex;
    padding-top: 17 * $base;
    width: calc(8 / 12 * 100%);
  }

  &__avatar {
    flex-shrink: 0;
    margin-right: 7 * $base;
    position: absolute !important;
    transform: scale(0.5);
    transform-origin: left top;

    @media (min-width: $desktopHD) {
      position: relative !important;
      transform: scale(1);
    }
  }

  &__text {
    margin-top: 3 * $base;
    position: relative;
    width: 100%;

    @media (min-width: $desktopHD) {
      margin-top: 6.5 * $base;
    }

    h2 {
      align-items: center;
      display: flex;
      height: 12 * $base;
      margin-left: 18 * $base;
      position: absolute;
      top: -16.5 * $base;

      @media (min-width: $desktopHD) {
        height: auto;
        margin-left: 0;
        position: static;
        top: 0;
      }
    }
  }

  &__hint {
    margin-top: 18.125 * $base;
    margin-bottom: 2 * $base;

    @media (min-width: $desktopHD) {
      margin-top: 5.5 * $base;
      margin-bottom: 4 * $base;
    }
  }

  &__button {
    margin-top: 4 * $base;
  }
}

.popover-auth {
  &__input {
    margin-bottom: 2 * $base;
    padding: 2.75 * $base 3 * $base 2.25 * $base;

    @media (min-width: $desktopHD) {
      @include text(3);
    }
  }
}

///////////////////
// input-block.scss
.input-block {
  @mixin icon($icon-size, $right) {
    .input-block__input {
      padding-right: 2 * $right + $icon-size;
    }

    .input-block__icon {
      font-size: $icon-size;
      right: $right;
    }
  }

  @mixin icon-interactive($icon-size, $right) {
    @include icon($icon-size, $right);

    .input-block__icon {
      cursor: pointer;
      transition: 0.25s ease-out;
    }
  }

  position: relative;

  &_plus {
    @include icon-interactive(4.5 * $base, 2 * $base);

    .input-block__icon {
      &:hover,
      &:focus {
        transform: translateY(-50%) scale(1.1);
      }
    }
  }

  &_eye {
    @include icon-interactive(2.25 * $base, 2 * $base);

    @media (min-width: $desktopHD) {
      @include icon-interactive(3.25 * $base, 3 * $base);
    }
  }

  &_user {
    @include icon(2.25 * $base, 2 * $base);

    @media (min-width: $desktopHD) {
      @include icon(3.25 * $base, 2.875 * $base);
    }
  }

  &_envelope {
    @include icon(2 * $base, 2.125 * $base);

    @media (min-width: $desktopHD) {
      @include icon(3 * $base, 3 * $base);
    }
  }

  &__icon {
    color: $blue;
    line-height: 0.5;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}
///////////////////
</style>
