<i18n src="./locales.json"></i18n>

<template>
  <section class="root">
    <div class="grid grid--reverse">
      <img
        :src="`${STATIC_PATH}business/adam-whitlock/adam-whitlock@lqip.jpg`"
        :data-srcset="
          `${STATIC_PATH}business/adam-whitlock/adam-whitlock.jpg 1x,
           ${STATIC_PATH}business/adam-whitlock/adam-whitlock@2x.jpg 2x,
           ${STATIC_PATH}business/adam-whitlock/adam-whitlock@3x.jpg 3x`
        "
        alt="adam-whitlock"
        class="picture lazyload blur-up"
      />
      <div class="block">
        <h2 class="block__title">{{ $t('title') }}</h2>
        <ul class="features">
          <li v-for="(li, index) in $t('options')" :key="index">
            <Icon src="icons/check.svg" class="features__icon" /> {{ li }}
          </li>
        </ul>
      </div>
    </div>

    <div class="grid">
      <div class="picture">
        <img
          :src="`${STATIC_PATH}business/pratik-gupta/pratik-gupta@lqip.jpg`"
          :data-srcset="
            `${STATIC_PATH}business/pratik-gupta/pratik-gupta.jpg 1x,
             ${STATIC_PATH}business/pratik-gupta/pratik-gupta@2x.jpg 2x,
             ${STATIC_PATH}business/pratik-gupta/pratik-gupta@3x.jpg 3x`
          "
          alt="adam-whitlock"
          class="picture lazyload blur-up"
        />
        <div class="picture__bubble">
          <div class="bubble">
            <div class="bubble__heart"></div>
            <span class="bubble__count">53.2K</span>
            <div class="bubble__triangle"></div>
          </div>
        </div>
      </div>
      <div class="block">
        <h2 class="block__title">{{ $t('event-promotion-service') }}</h2>
        <p class="">{{ $t('description-2') }}</p>

        <div class="block__surface">
          <img
            src="~static/business/surface1.svg"
            alt="surface1"
            class="lazyload blur-up block__surface-img"
          />
          <span class="">{{ $t('hint') }}</span>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import 'lazysizes'
import 'lazysizes/plugins/attrchange/ls.attrchange'
import 'lazysizes/plugins/blur-up/ls.blur-up'

export default {
  components: {
    Icon: () => import('~/components/common/Icon'),
  },
  data: () => ({
    STATIC_PATH: process.env.STATIC_PATH || '/',
  }),
  created() {
    this.STATIC_PATH = process.env.STATIC_PATH
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.root {
  padding-top: 24px;

  .grid {
    margin-bottom: 32px;
    display: grid;
    grid-row-gap: 24px;
    justify-items: center;
    @media (min-width: $desktopHD) {
      grid-template-columns: 1fr 1fr;
      grid-auto-flow: dense;
      grid-column-gap: 64px;
      align-items: center;
    }
    @media (min-width: $desktopHD) and (max-width: $sideShow) {
      margin-right: -13%;
    }

    &--reverse .picture {
      @media (min-width: $desktopHD) {
        grid-column-start: 2;
      }
    }
    .picture {
      justify-self: center;
      position: relative;
      width: 100%;

      &__bubble {
        position: absolute;
        bottom: 30%;
        left: 20%;
      }
    }

    .block {
      max-width: 430px;
      max-height: 213px;

      &__title {
        grid-area: title;
        margin-bottom: 24px;
        font-weight: bold;
        @include text(3);
        @media (min-width: $desktopSD) {
          @include text(4);
        }
      }
      &__description {
        @include text(3);
      }

      .features {
        padding-left: 24px;
        @media (min-width: $desktopSD) {
          margin-left: -24px;
        }
        li + li {
          margin-top: 16px;
        }
        &__icon {
          height: 12px;
          width: 12px;
          color: $blue;
          margin-left: -24px;
          margin-right: 8px;
        }
      }

      &__surface {
        margin-top: 32px;
        display: grid;
        grid-template-columns: 48px minmax(auto, 290px);
        grid-gap: 24px;
        font-size: 14px;
        font-weight: bold;
        line-height: 1.71;
        &-img {
          max-width: 48px;
          max-height: 52px;
        }
      }
    }

    .bubble {
      padding: 16px 10px;
      width: min-content;
      background-color: #f44e66;
      border-radius: 10px;
      display: grid;
      grid-auto-flow: column;
      grid-gap: 8px;
      position: relative;

      &__triangle {
        background-color: #f44e66;
        position: absolute;
        height: 24px;
        width: 24px;
        left: 50%;
        transform: translateX(-50%) rotate(45deg);
        bottom: -10px;
      }

      &__count {
        font-size: 23px;
        font-weight: bold;
        line-height: 1.22;
        text-align: left;
        color: #ffffff;
      }

      &__heart {
        width: 32px;
        height: 25px;
        position: relative;

        &:before,
        &:after {
          content: '';
          position: absolute;
          top: 0;
          width: 16px;
          height: 25px;
          background: white;
          border-radius: 16px 16px 0 0;
        }

        &:before {
          left: 16px;
          transform: rotate(-45deg);
          transform-origin: 0 100%;
        }

        &:after {
          left: 0;
          transform: rotate(45deg);
          transform-origin: 100% 100%;
        }
      }
    }
  }
}
</style>
