<template>
  <div class="promo">
    <div class="wrapper">
      <Header />
      <Form @submit="submitHandler" />
    </div>
  </div>
</template>

<script>
export default {
  components: {
    Form: () => import('../Form'),
    Header: () => import('./Header'),
  },
  methods: {
    submitHandler(form) {},
  },
}
</script>

<style scoped lang="scss">
@import '~/assets/css/variables.scss';

.promo {
  .wrapper {
    max-width: 1008px;
    @media (min-width: $desktopSD) {
      margin: auto;
    }
  }
}
</style>
