<i18n>
{
  "ru": {
    "startTyping": "Начните вводить слово"
  },
  "en": {
    "startTyping": "Start typing to get a list of possible matches"
  },
  "es": {
    "startTyping": "Comience a escribir para obtener una lista de posibles coincidencias"
  }
}
</i18n>

<template>
  <div>
    <div class="tags__tag-wrapper">
      <span v-for="tag in tags" :key="tag.title" class="tags__tag">
        {{ tag.title }}
        <Icon
          class="tags__tag-icon"
          src="icons/cross.svg"
          size="xs"
          @click.native="removeTag(tag.title)"
        />
      </span>
      <span v-for="tag in newTags" :key="tag.title" class="tags__tag">
        {{ tag.title }}
        <Icon
          class="tags__tag-icon"
          src="icons/cross.svg"
          size="xs"
          @click.native="removeCustomTag(tag.title)"
        />
      </span>
    </div>
    <FormSelect
      :id="elementId"
      trackBy="title"
      :options="options"
      :value="null"
      :clearOnSelect="false"
      :preserveSearch="true"
      :loading="loading"
      tag-position="bottom"
      tag-placeholder=" "
      :placeholder="placeholder || defaultPlaceholder"
      multiple
      taggable
      autocompleteOff
      @search-change="asyncFind"
      @select="addTag"
      @tag="addCustomTag"
      @open.once="onFirstOpen"
    >
      <template slot="singleLabel" slot-scope="{ option }">{{ option.title }}</template>
      <template slot="option" slot-scope="{ option, search }">{{ option.title || search }}</template>
    </FormSelect>
  </div>
</template>

<script>
import { debounce } from '~/utils'
import { getTags } from '~/api'
import FormSelect from '~/components/common/input/FormSelect'
import Icon from '~/components/common/Icon'

export default {
  name: 'Tags',

  components: {
    FormSelect,
    Icon,
  },

  props: {
    elementId: String,
    tags: Array,
    newTags: Array,
    fetchParams: {
      type: Object,
      default: () => ({tag_type: 2}),
    },
    placeholder: String,
  },

  data: () => ({
    loading: false,
    options: [],
  }),
  computed: {
    defaultPlaceholder () {
      return this.$t('startTyping')
    }
  },
  methods: {
    asyncFind: debounce(async function(v) {
      this.fetchOptions({ search: v })
    }, 300),
    async fetchOptions({ search }) {
      this.loading = true

      try {
        const { data } = await getTags(this.$axios, {
          params: {
            search,
            ...this.fetchParams
          },
        })
        this.options = data.results
      } catch (e) {
        console.log(e)
        this.options = []
      }

      this.loading = false
    },
    addCustomTag(title) {
      if (this.newTags.some(v => v.title === title)) return

      const newTags = [...this.newTags, { title }]
      this.$emit('update:newTags', newTags)
    },
    removeCustomTag(title) {
      const newTags = this.newTags.filter(v => v.title !== title)
      this.$emit('update:newTags', newTags)
    },
    addTag(tag) {
      if (this.tags.some(v => v.slug === tag.slug)) return

      const tags = [...this.tags, tag]
      this.$emit('update:tags', tags)
    },
    removeTag(title) {
      const tags = this.tags.filter(v => v.title !== title)
      this.$emit('update:tags', tags)
    },
    onFirstOpen() {
      this.fetchOptions({ search: '' })
    },
  },
}
</script>

<style lang="scss" scoped>
.tags {
  &__tag {
    display: inline-flex;
    align-items: center;
    padding: 12px 16px 12px 20px;
    background-color: #000;
    color: #fff;
    margin-bottom: 2px;

    &:not(:last-child) {
      margin-right: 2px;
    }
  }

  &__tag-icon {
    margin-left: 22px;
    cursor: pointer;
  }

  &__tag-wrapper {
    margin-bottom: 6px;
  }
}
</style>
