<i18n>
  {
    "ru": {
      "deleteOrderQuestion": "Подтвердите удаление заказа:"
    },
    "en": {
      "deleteOrderQuestion": "Confirm the deletion of the order:"
    }
  }
</i18n>
<template>
  <ConfirmDialog
    type="danger"
    @confirm="deleteOrder"
    @cancel="toggleDialog"
  >
    <h2>{{ $t('deleteOrderQuestion') }}</h2>
    <h3 class="dialog-title">{{ title }}</h3>
    <template slot="confirm">{{ $t('common.confirmDelete') }}</template>
    <template slot="cancel">{{ $t('common.ignoreDelete') }}</template>
  </ConfirmDialog>
</template>
<script>
  import popoverConsts from '~/utils/popoverConsts'
  import { path } from "ramda"
  import { mapActions, mapGetters, mapMutations } from 'vuex'

  export default {
    name: 'OrderDeletePopover',
    components: {
      ConfirmDialog: () => import('~/components/common/popovers/ConfirmDialog'),
    },
    computed: {
      ...mapGetters({popoverData: 'popovers/POPOVER_DATA'}),
      title() {
        return path(['order', 'title'], this.popoverData)
      },
    },
    mounted() {
      this.SET_DELETED_ORDER(null)
    },
    methods: {
      ...mapActions({
        showSuccess: 'notifications/success',
        DELETE_ORDER: 'marketplace/order/DELETE_ORDER',
        TOGGLE_POPOVER: 'popovers/TOGGLE_POPOVER'
      }),
      ...mapMutations({
        SET_DELETED_ORDER: 'marketplace/order/SET_DELETED_ORDER'
      }),
      deleteOrder() {
        const orderId = path(['order', 'id'], this.popoverData)
        if ( orderId ){
          const success = this.DELETE_ORDER({id: orderId})
          if ( success )
            this.showSuccess(this.$t('marketplace.orderDeleted'))
        }
        this.toggleDialog()
      },

      toggleDialog() {
        this.TOGGLE_POPOVER(popoverConsts.deleteOrder)
      },
    },
  }
</script>