<i18n>
{
  "ru": {
    "yoga": "Онлайн уроки",
    "concerts": "Концерты",
    "webinars": "Вебинары",
    "tours": "Экскурсии",
    "any": "Или любое другое онлайн мероприятие"
  },
  "en": {
    "yoga": "Yoga Classes",
    "concerts": "Live Concerts",
    "webinars": "Webinars",
    "tours": "Virtual Tours",
    "any": "Or any other Livestream Event"
  }
}
</i18n>
<template>
  <div class="block2-wrapper">
    <div class="block2">
      <div class="card-wrapper">
        <div
            v-for="(item, i) in items"
            :key="i"
            class="event-card"
        >
          <span class="name">{{$t(item.name)}}</span>
          <img :src="`${STATIC_PATH}tickets-online/${item.img}`" />
        </div>
      </div>
      <div class="any">
        <span>{{$t('any')}}</span>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    data: () => ({
      STATIC_PATH: process.env.STATIC_PATH || '/',
      items: [
        {name: 'yoga', img: 'yoga.png'},
        {name: 'concerts', img: 'concerts.png'},
        {name: 'webinars', img: 'webinars.png'},
        {name: 'tours', img: 'tours.png'},
      ]
    }),
  }
</script>
<style lang="scss" scoped>
  @import '~/assets/css/variables.scss';
  .block2-wrapper {
    padding: 71px 0 0 16.5%;
    @media (max-width: $desktopHDp) {
      padding: 71px 8% 0;
    }
    @media (max-width: $desktopHD) {
      padding: 71px 30px 0;
    }
    @media (max-width: $sideShow) {
      padding: 64px 30px 0;
    }
    @media (max-width: $desktopSD) {

    }
    @media ($mobile) {
      padding: 44px 0 0 15px;
    }
    .block2 {
      width: fit-content;
      display: flex;
      flex-direction: column;
      align-items: center;
      @media (max-width: $desktopSD) {
        align-items: flex-start;
      }
    }
    .card-wrapper {
      display: flex;
      @media (max-width: $desktopHD) {
        flex-flow: wrap;
      }
      @media (max-width: $desktopSD) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 34px;
      }
      @media ($mobile) {
        display: flex;
      }

      .event-card {
        display: flex;
        flex-direction: column;
        margin-right: 34px;
        @media (max-width: $desktopHD) {
          margin-bottom: 45px;
        }
        @media (max-width: $desktopSD) {
          margin-bottom: 48px;
          margin-right: 0;
        }
        @media ($mobile) {
          margin-right: 14px;
          margin-bottom: 18px;
          width: 45%;
        }
        &:last-child {
          margin-right: 0;
        }
        .name {
          margin-bottom: 19px;
          font-weight: bold;
          font-size: 32px;
          line-height: 40px;
          @media ($mobile) {
            font-size: 6vw;
            margin-bottom: 7px;
          }
        }
        img {
          box-shadow: 4px 4px 0px #EDF1F6;
          @media (max-width: $desktopHDp) {
            height: 140px;
          }
          @media (max-width: $sideShow) {
            height: 130px;
          }
          @media (max-width: $desktopHD) {
            height: 112px;
          }
          @media (max-width: $desktopSD) {
            width: 100%;
            height: auto;
          }
        }
      }
    }
    .any {
      margin-top: 35px;
      padding: 12px 20px 0;
      border-top: 2px solid #C8E0FF;
      @media (max-width: $sideShow) {
        margin-top: 45px;
      }
      @media (max-width: $desktopHD) {
        margin-top: 0;
      }
      @media (max-width: $desktopSD) {
        width: 309px;
        margin-top: 0;
        padding-left: 0;
      }
      @media ($mobile) {
        margin-top: 18px;
        padding-top: 10px;
      }
      span {
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        @media ($mobile) {
          font-size: 14px;
        }
      }
    }
  }
</style>