<i18n>
{
  "ru": {
    "attended": "Пришло",
    "ticketsSold": "Продано билетов",
    "totalling": "На сумму"
  },
  "en": {
    "attended": "Attended",
    "ticketsSold": "Tickets sold",
    "totalling": "Totalling"
  },
  "es": {
    "attended": "Attended",
    "ticketsSold": "Tickets sold",
    "totalling": "Totalling"
  }
}
</i18n>

<template>
  <ExpandTransition>
    <div v-if="schemesSummary">
      <div class="session-stat">
        <StatString class="session-stat__stat-string">
          <template #icon>
            <Icon src="icons/book.svg" size="xs" class="stat-icon" />
          </template>
          <template #text>{{ $t('ticketsSold') }}</template>
          <template #left>{{ schemesSummary.tickets_sold }}</template>
          <template #right>{{ schemesSummary.tickets_total }}</template>
        </StatString>

        <StatString class="session-stat__stat-string">
          <template #icon>
            <span class="stat-font-icon">₺</span>
          </template>
          <template #text>{{ $t('totalling') }}</template>
          <template #left>{{ schemesSummary.total_income }}&nbsp;₺</template>
        </StatString>

        <nuxt-link :to="passUrl" class="session-stat__stat-string">
          <StatString variant="blue" hasHover>
            <template #icon>
              <Icon src="icons/external-link.svg" size="xs" class="stat-icon" />
            </template>
            <template #text>{{ $t('attended') }}</template>
            <template #left>{{ schemesSummary.tickets_used }}</template>
            <template #right>{{ schemesSummary.tickets_total }}</template>
          </StatString>
        </nuxt-link>

        <!-- <ExpanderButton class="session-stat__expander" :isOpen="false" /> -->

        <div class="session-stat__percentage" :style="{
          width: soldPercentage
        }" />
      </div>
    </div>
  </ExpandTransition>
</template>

<script>
import { mapGetters } from 'vuex'
import { prop } from 'ramda'

import { getTicketsSchemes } from '~/api'

// import ExpanderButton from '~/components/common/ExpanderButton'
import Icon from '~/components/common/Icon'
import ExpandTransition from '~/components/transitions/ExpandTransition'
import StatString from '~/components/common/StatString'

export default {
  name: 'SessionStat',

  components: {
    // ExpanderButton,
    ExpandTransition,
    Icon,
    StatString,
  },

  data: () => ({
    ticketsSchemeInfo: null,
  }),

  computed: {
    ...mapGetters({
      session: 'events/session/data',
    }),
    schemesSummary() {
      if (!this.ticketsSchemeInfo) return null

      return this.ticketsSchemeInfo.results.reduce(
        (result, scheme) => {
          const {
            tickets_sold,
            tickets_total,
            total_income,
            tickets_used,
          } = scheme

          result.tickets_sold += tickets_sold
          result.tickets_total += tickets_total
          result.total_income += total_income
          result.tickets_used += tickets_used

          return result
        },
        {
          tickets_sold: 0,
          tickets_total: 0,
          total_income: 0,
          tickets_used: 0,
        },
      )
    },
    soldPercentage() {
      const tickets_used = prop('tickets_used', this.schemesSummary)
      const tickets_sold = prop('tickets_sold', this.schemesSummary)

      if (!tickets_used || !tickets_sold) return '0%'

      const percentage = Math.round((tickets_used / tickets_sold) * 100)

      return `${percentage}%`
    },
    passUrl() {
      return {
        name: 'events-sessions-id-tickets-pass',
        params: {
          id: prop('url_id', this.session),
        },
      }
    },
  },

  mounted() {
    this.getTicketsSchemes()
  },

  methods: {
    async getTicketsSchemes() {
      try {
        const { data } = await getTicketsSchemes(this.$axios, {
          params: {
            session: this.session.id,
          },
        })

        this.ticketsSchemeInfo = data
      } catch (e) {
        console.log(e)
      }
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.session-stat {
  padding: 24px 16px;
  background-color: #fff;
  max-width: 856px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media (min-width: $desktopSD) {
    padding: 24px 40px;
    flex-direction: row;
    justify-content: space-between;
  }

  &__stat-string {
    margin-bottom: 4px;

    @media (min-width: $desktopSD) {
      margin-bottom: 0;
      margin-right: 16px;
    }
  }

  &__percentage {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: $blue;
    height: 2px;
  }

  // &__expander {
  //   align-self: center;
  // }

  .stat-icon {
    width: 12px;
    height: 12px;
  }

  .stat-font-icon {
    font-size: 14px;
    line-height: 14px;
    font-weight: bold;
  }
}
</style>