<template>
  <div class="title">
    <div class="title__genres">
      <Icon
        v-if="hasAgeRestriction"
        :src="`icons/age-restrictions/${ageRestriction}.svg`"
        size="m"
        class="title__age-restriction"
      />
      <Categories :value="event" class="title__categories" />
    </div>

    <h1 class="title__heading">{{ title }}</h1>

    <Badge
      v-if="isEventApproved"
      :title="$t('common.moderation.approved')"
      class="title__badge"
    >
      <Icon slot="badge" src="icons/check-round.svg" size="s" />
      {{ $t('common.moderation.approved') }}
    </Badge>
    <Badge
      v-else-if="isEventReject"
      :title="$t('common.moderation.rejected')"
      class="title__badge"
    >
      <Icon slot="badge" src="icons/uncheck-round.svg" size="s" />
      {{ $t('common.moderation.rejected') }}
    </Badge>

    <div class="title__date">
      <template v-if="event.displayAsPeriod">
        <span class="no-wrap">
         {{ period.start }}
         <template v-if="period.start && period.end">-</template>
         <span v-if="period.end" class="capitalize-first">{{ period.end }}</span>
       </span>
      </template>
      <template v-else>
        {{ startText }}
      </template>
    </div>

    <Location :location="event.location" :online="isOnline" />

    <Statistics
      v-if="commentsCount"
      class="title__stats"
      :comments="commentsCount"
    />

    <div class="title__go-button">
      <GoButton />
    </div>

    <Tags :value="{ event }" class="title__tags" />
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import {path, prop} from 'ramda'
import moment from "moment";

import Badge from '~/components/common/Badge'
import Icon from '~/components/common/Icon'
import Categories from './Categories'
import Location from './Location'
import Statistics from './Statistics'
import Tags from './Tags'
import GoButton from './GoButton'

export default {
  components: {
    Icon,
    Badge,
    Categories,
    GoButton,
    Location,
    Statistics,
    Tags,
  },
  computed: {
    ...mapGetters({
      event: 'event/EVENT',
      promo: 'event/IS_PREMIUM',
      commentsCount: 'comments/COUNT',
    }),
    title() {
      return path(['title'], this.event)
    },
    isOnline() {
      return Boolean(path(['is_online'], this.event))
    },
    isEventApproved() {
      return String(path(['manual_moderation_status'], this.event)) === '2'
    },
    isEventReject() {
      return String(path(['manual_moderation_status'], this.event)) === '0'
    },
    period(){
      return {
        start: path(['periodLocal', 'start'], this.event) ?
          this.event.periodLocal.start.format('ddd, DD MMMM'): '',
        end: path(['periodLocal', 'end'], this.event) ?
          this.event.periodLocal.end.format('ddd, DD MMMM'): '',
      }
    },

    startText() {
      const startDate = prop('start_date', this.event)
      const startTime = prop('start_time', this.event)
      const closesStartDT = prop('closesStartDT', this.event)
      const now = moment()
      if (!startDate && !startTime ) {
        return ''
      }
      else if (!startDate){
        return startTime
      }
      else if (!closesStartDT){
        return ''
      }

      let format = this.$moment.locale() === 'en' ? 'dddd, MMMM D' : 'dddd, D MMMM'
      let hasYear = false
      if (closesStartDT.year() - now.year() !== 0) {
        format += ' YY'
        hasYear = true
      }
      const chunks = [closesStartDT.format(format)]
      if (!hasYear && startTime) {
        chunks.push(`${this.$t('seo.atIn')} ${startTime.slice(0, 5)}`)
      }
      return chunks.join(' ')
    },
    ageRestriction() {
      return parseInt(path(['event', 'age_restrictions'], this.event), 10)
    },
    hasAgeRestriction() {
      return this.ageRestriction >= 0
    }
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';
.title {
  &__genres {
    display: flex;
    align-items: center;
  }

  &__age-restriction {
    margin-right: 10px;

    @media (min-width: $desktopHD) {
      margin-right: 16px;
    }
  }

  &__categories {
    @media (min-width: $desktopHD) {
      margin-bottom: 6px;
      margin-top: 14px;
    }

    @media (min-width: $desktopHDp) {
      margin-bottom: 12px;
      margin-top: 20px;
    }

    @media (min-width: $desktopFullHD) {
      margin-bottom: 14px;
      margin-top: 56px;
    }
  }

  &__heading {
    @include text(3);
    font-weight: bold;
    margin-bottom: 16px;

    @media (min-width: $desktopSD) {
      @include text(5);
      margin-bottom: 14px;
    }

    @media (min-width: $desktopHD) {
      margin-bottom: 24px;
    }

    @media (min-width: $sideShow) {
      margin-bottom: 16px;
    }

    @media (min-width: $desktopHDp) {
      @include text(6);
      margin-bottom: 22px;
    }
  }

  &__badge {
    height: 16px;
  }

  &__date {
    @include text(3);
    font-weight: bold;
    padding: 0;
    margin-top: 24px;
    margin-bottom: 16px;
    &:first-letter {
      text-transform: uppercase;
    }
  }

  &__stats {
    margin-top: 24px;

    @media (min-width: $desktopHD) {
      margin-top: 32px;
      margin-right: 24px;
      display: inline-block;
    }
  }

  &__go-button {
    margin-top: 24px;
    @media (min-width: $desktopHD) {
      display: inline-flex;
    }
  }

  &__tags {
    margin-top: 28px;
  }
}
</style>
