<template>
  <section class="similar__journals simj-wrapper">
    <h2 class="similar__journals-header">{{ $t('common.similarJournals') }}</h2>
    <div class="similar__journal-grid journal-grid">
      <JournalsCard
        v-for="journal in similar"
        :key="journal.id"
        :journal="journal"
      />
    </div>
    <div class="similar__journals__btn">
      <nuxtLink to="/events/collections/">
        <Button :count="10">{{ $t('common.allJournals') }}</Button>
      </nuxtLink>
    </div>
  </section>
</template>

<script>
export default {
  components: {
    Button: () => import('~/components/common/buttons/Button'),
    JournalsCard: () => import('~/components/common/JournalCard'),
  },
  props: {
    similar: Array,
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.similar {
  &__journals {
    box-sizing: content-box;
    position: relative;
    max-width: 1304px;
    margin-top: 15 * $base;
    overflow: initial;
    padding: 0 72px 0 112px;

    @media (max-width: 1100px) {
      margin-top: 6.5 * $base;
    }
    @media ($mobile) {
      padding: 0;
      padding-left: 1rem;
    }

    &__btn {
      @media ($mobile) {
        margin-right: 1rem;
      }
    }
  }

  &__journals-header {
    margin-bottom: 6 * $base;

    @media (max-width: 1100px) {
      @include text(3);
      margin-bottom: 2.5 * $base;
    }
  }

  &__journal-grid {
    margin-top: 4.75 * $base;
    margin-bottom: 5 * $base;
  }
}

.journal-grid {
  display: grid;
  grid-gap: 5 * $base;
  grid-template-columns: repeat(auto-fill, 328px);

  @media (max-width: $desktopHD) {
    grid-auto-flow: column;
    overflow: auto;
    margin: 0;
    margin-bottom: 2 * $base;
    grid-gap: 1 * $base;
  }
  @media (max-width: $desktopFullHD) {
    grid-template-columns: repeat(auto-fill, 408px);
  }
}
</style>
