<template>
  <component
      @click="track()"
      :is="currentComponent"
      :to="wwTicketsLink"
      :href="urlTicketsLink"
      class="tickets-button"

  >
    <div class="tickets-button__hover"><slot></slot></div>
    <Icon src="icons/tickets.svg" size="xs" class="tickets-button__icon" />
  </component>
</template>

<script>
  import { path } from 'ramda'
  import { trackBuyTicketsBtnInEventCard } from '~/utils/analytics'

  export default {
    components: {
      Icon: () => import('~/components/common/Icon'),
    },
    props: {
      session: Object,
    },
    computed: {
      currentComponent() {
        return this.isWwProvider ? 'nuxt-link' : 'a'
      },
      ticketsProvider() {
        return path(['event', 'tickets', 'provider'], this.session)
      },
      isWwProvider() {
        return this.ticketsProvider === 'whatwhere'
      },
      wwTicketsLink() {
        const urlId = path(['event', 'url_id'], this.session)
        if (!urlId) return ''
        return {
          name: this.isWwProvider ? 'events-id-tickets' : 'events-id',
          params: { id: urlId },
        }
      },
      urlTicketsLink() {
        return path(['event', 'tickets', 'data', 'url'], this.session)
      },
    },
    methods: {
      track() {
        if (!this.isWwProvider) return
        trackBuyTicketsBtnInEventCard(this)
      },
    },
  }
</script>

<style lang="scss" scoped>
  @import '~/assets/css/variables.scss';

  .tickets-button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;

    height: 32px;
    width: 32px;
    @media (min-width: $desktopHDp) {
      height: 40px;
      width: 40px;

      &__icon {
        height: 16px;
        width: 16px;
      }
    }

    color: white;
    border: none;
    background-color: $blue;

    @media (min-width: $desktopSD) {
      &:hover {
        .tickets-button__hover {
          max-width: 100px;
          padding: 12px;
        }
      }
    }

    &__hover {
      max-width: 0;
      height: 100%;
      position: absolute;
      transform: translateX(-100%);
      top: 0;
      left: 0;
      transition: all 0.3s;
      background-color: $blue;
      font-size: 12px;
      font-weight: bold;
      line-height: 2;
      letter-spacing: 0.6px;
      text-align: right;
      white-space: nowrap;
      display: flex;
      align-items: center;
      text-transform: uppercase;
      overflow: hidden;
      color: white;
    }
  }
</style>
