<template>
  <Marketplace />
</template>

<script>

  export default {
    layout: 'marketplace',
    components: {
      Marketplace: () => import('~/components/marketplace'),
    },
    head() {
      return {
        title: 'WhatWhere - поиск проверенных подрядчиков',
        meta: [
          {
            name: 'description',
            content: 'Найдите проверенного подрядчика для вашего мероприятия. Отправьте заявку сегодня и получите список предложений от подрядчиков.',
          },
        ],
      }
    },
    mounted() {
      document.addEventListener("wheel", function(event){
        if(document.activeElement.type === "number"){
          document.activeElement.blur();
        }
      });
    },
  }
</script>

<style>
</style>