<template>
  <label class="checkbox" :class="{ [`checkbox--${color}`]: color }">
    <input
      v-model="model"
      class="visually-hidden checkbox__input"
      type="checkbox"
      :disabled="disabled"
    />
    <span
      class="checkbox__core"
      :class="{ [`checkbox__core--border-${border}`]: border }"
    />
    <slot />
  </label>
</template>

<script>
export default {
  name: 'Checkbox',

  props: {
    value: Boolean,
    /**
     * Not only color change, more like variant
     */
    color: {
      type: String,
      validator: v => ['white', 'red', 'blue'].indexOf(v) !== -1,
    },
    border: {
      type: [Boolean, String],
      default: false,
      validator: v =>
        [true, false, 'black-gray', 'dark-gray', 'red'].indexOf(v) !== -1,
    },
    disabled: {
      type: Boolean,
      default: false,
    }
  },

  computed: {
    model: {
      get() {
        return this.value
      },
      set(v) {
        this.$emit('input', v)
      },
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.checkbox {
  --border-color: #000;

  display: inline-flex;
  align-items: center;
  cursor: pointer;
  padding-right: 4px;
  user-select: none;

  &__input:checked ~ {
    .checkbox__core {
      &::after {
        opacity: 1;
      }
    }
  }

  &__core {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    margin-right: 24px;
    transition: background-color 0.3s;

    &::after {
      opacity: 0;
      transition: opacity 0.3s;
      @include ww-icn;
      content: '\65';
      color: $blue;
      font-size: 16px;
      font-weight: bold !important;
    }

    &--border-true {
      border: 1px solid #000;
    }
    &--border-dark-gray {
      border: 1px solid $dark-gray;
    }
    &--border-black-gray {
      border: 1px solid $black-gray;
    }
    &--border-red {
      border: 1px solid $red;
    }
  }

  &--white {
    color: #fff;
  }

  &--red {
    color: #000;

    .checkbox__core {
      border: 1px solid #000;
      &::after {
        color: #fff;
      }
    }

    .checkbox__input {
      &:checked ~ {
        .checkbox__core {
          background-color: $red;
          border: 1px solid $red;
          &::after {
            color: #fff;
          }
        }
      }
    }
  }

  &--blue {
    color: #000;

    .checkbox__core {
      border: 1px solid $blue;
      &::after {
        color: #fff;
      }
    }

    .checkbox__input {
      &:checked ~ {
        .checkbox__core {
          background-color: $blue;
          border: 1px solid $blue;
          &::after {
            color: #fff;
          }
        }
      }
    }
  }
}
</style>
