<template>
  <div class="alert-container">
    <div class="alert-error-text">{{ item.key }}: {{ item.message }}</div>
    <div class="alert-close-btn" @click="close"></div>
  </div>
</template>

<script>
export default {
  props: {
    item: {
      default: () => ({}),
      type: Object,
    },
    fading: {
      type: Boolean,
      default: true,
    },
    fadeTime: {
      type: Number,
      default: 5000,
    },
  },
  data() {
    return {
      timerId: null,
    }
  },
  created() {
    this.fading && this.setTimer()
  },
  methods: {
    setTimer() {
      const vm = this
      this.timerId = setTimeout(vm.close, vm.fadeTime)
      if (this.fading) {
        const vm = this
        this.timerId = setTimeout(vm.close, vm.fadeTime)
      }
    },
    close() {
      this.$emit('close', this.item)
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.alert-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: 64px;
  padding: 15px 32px 14px 33px;
  background-color: #f50052;
  box-shadow: 0 3px 30px 0 rgba(245, 0, 82, 0.3);
}
.alert-error-text {
  @include text(3);
  text-align: center;
  color: #ffffff;
}
.alert-close-btn {
  width: 24px;
  height: 24px;
  margin-left: auto;
  background: url('~static/white-close.svg') no-repeat center/cover;
  cursor: pointer;
}
</style>
