<template>
  <div class="alert-container">
    <div class="alert-success-label"></div>
    <div class="alert-text">{{ item.message }}</div>
    <div class="alert-close-btn" @click="close"></div>
  </div>
</template>

<script>
export default {
  props: {
    item: {
      default: () => ({}),
      type: Object,
    },
    fading: {
      type: Boolean,
      default: true,
    },
    fadeTime: {
      type: Number,
      default: 5000,
    },
  },
  data() {
    return {
      timerId: null,
    }
  },
  created() {
    this.fading && this.setTimer()
  },
  methods: {
    setTimer() {
      this.timerId = setTimeout(() => this.close(), this.fadeTime)
      if (this.fading) {
        this.timerId = setTimeout(() => this.close(), this.fadeTime)
      }
    },
    close() {
      console.log('Close')
      this.$emit('close', this.item)
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.alert-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: 64px;
  padding: 15px 32px 14px 33px;
  background-color: #fff;
  box-shadow: 0 3px 30px 0 rgba(65, 209, 103, 0.2);
}
.alert-success-label {
  width: 16px;
  height: 10.7px;
  margin-right: 15px;
  background: url('~static/success.svg') no-repeat center/cover;
}
.alert-success-text {
  @include text(3);
  text-align: center;
  color: #000000;
}
.alert-close-btn {
  width: 24px;
  height: 24px;
  margin-left: auto;
  background: url('~static/black-close.svg') no-repeat center/cover;
  cursor: pointer;
}
</style>
