<i18n>
  {
    "ru": {
      "title": "Как это работает?",
      "createEvent": "Создайте мероприятие",
      "choosePlan": "Выберите тариф",
      "meetNew": "Встречайте новых участников",
      "createDescription": "Заполните форму и укажите посадочную страницу для привлеченной аудитории (это может быть ваш сайт, страница Фейсбука или страница события на WhatWhere.World)",
      "chooseDescription": "Выберите подходящий вам тариф из трех предложенных — все планы продвижения охватывают все соцсети и отличаются охватом и сроком проведения кампании.",
      "meetDescription": "После выбора тарифа заполните детали события — дальше всю работу по рекламе сделаем мы, а вы сможете мониторить прогресс в личном кабинете."
    },
    "en": {
      "title": "How it works?",
      "createEvent": "Create an event",
      "choosePlan": "Choose a pricing plan",
      "meetNew": "Meet new members",
      "createDescription": "Fill out the form and specify the landing page for the attracted audience (this can be your website, Facebook page or event page on WhatWhere.World)",
      "chooseDescription": "Choose the tariff that suits you from the three offered - all promotion plans cover all social networks and differ in the scope and duration of the campaign.",
      "meetDescription": "After choosing a tariff, fill in the details of the event - then we will do all the advertising work, and you can monitor the progress in your account."
    }
  }
</i18n>
<template>
  <div class="how_work">
    <h2 class="how_work__title">{{ $t('title') }}</h2>

    <div class="items_wrapper">

      <div class="item">
        <Icon class="ww" src="icons/business/notebook-ww.svg" size="" />
        <div class="mobile">
          <h3 class="item-title">{{ $t('createEvent') }}</h3>
          <p class="description">{{ $t('createDescription') }}</p>
        </div>
      </div>

      <div class="item">
        <span class="icon ww-icn-megaphone" />
        <div class="mobile">
          <h3 class="item-title">{{ $t('choosePlan') }}</h3>
          <p class="description">{{ $t('chooseDescription') }}</p>
        </div>
      </div>

      <div class="item">
        <Icon class="partner" src="icons/business/partners-claping-hands.svg" size="" />
        <div class="mobile">
          <h3 class="item-title">{{ $t('meetNew') }}</h3>
          <p class="description">{{ $t('meetDescription') }}</p>
        </div>
      </div>

    </div>

  </div>
</template>

<script>
  import Icon from '~/components/common/Icon'
  export default {
    components: { Icon },
  }
</script>

<style lang="scss" scoped>
  @import '~/assets/css/variables.scss';

  .how_work {
    margin-top: 65px;
    width: 1110px;
    @media (max-width: $sideShow) {
      width: 100%;
    }
    @media (max-width: $desktopSD) {
      margin-left: 48px;
    }
    @media (max-width: $desktopSD) {
      margin-left: 24px;
      margin-top: 56px;
    }

    &__title {
      margin-bottom: 40px;
      font-size: 32px;
      font-weight: bold;
      line-height: 40px;
      font-family: 'Circe-Bold';
      @media (max-width: $desktopSD) {
        margin-bottom: 26px;
      }
      @media (max-width: 480px) {
        font-size: 24px;
        line-height: 32px;
      }
    }

    .items_wrapper {
      display: flex;
      @media (max-width: $desktopSD) {
        flex-direction: column;
      }
    }

    .item {
      display: flex;
      flex-direction: column;
      margin-right: 20px;
      @media (max-width: $desktopSD) {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-right: 0;
        margin-bottom: 25px;
      }
      @media (max-width: 480px) {
        align-items: flex-start;
        flex-direction: column;
      }

      .mobile {
        @media (max-width: $desktopSD) {
          width: 80%;
        }
        @media (max-width: 480px) {
          width: 100%;
          margin-top: 20px;
        }
      }

      .ww {
        width: 85px;
      }
      .icon {
        color: $blue;
        font-size: 65px;
      }
      .partner {
        width: 75px;
      }

      .item-title {
        margin: 33px 0 13px;
        font-size: 24px;
        font-weight: bold;
        line-height: 32px;
        font-family: 'Circe-Bold';
        @media (max-width: $desktopSD) {
          margin: 0;
        }
        @media (max-width: 480px) {
          margin: 0;
          font-size: 18px;
          line-height: 24px;
        }
      }

      .description {
        font-size: 16px;
        line-height: 24px;
        font-weight: normal;
        padding-right: 65px;
        font-family: 'Circe-Regular';
        @media (max-width: $desktopHD) {
          padding-right: 0;
        }
        @media (max-width: $desktopSD) {
          padding-right: 88px;
        }
        @media (max-width: 480px) {
          margin-top: 8px;
        }
      }
    }
  }
</style>