<i18n>
  {
    "ru": {
      "deleteAccountQuestion": "Вы уверены, что хотите удалить аккаунт?"
    },
    "en": {
      "deleteAccountQuestion": "Delete account?"
    },
    "es": {
      "deleteAccountQuestion": "¿Estás seguro de que quieres eliminar tu cuenta?"
    }
  }
</i18n>

<template>
  <TicketsPromo v-if="isTicketsPromo" :organizer="ORGANIZER" />

  <TicketViewerModal
    v-else-if="viewedTicket"
    :ticket="viewedTicket"
    @close="viewedTicket = null"
  />

  <div v-else class="profile-page page-wrapper">
    <section class="sticky">
      <div class="sticky__content">
        <Breadcrumbs class="breadcrumbs">
          <BredItem href="/">{{ $t('common.main') }}</BredItem>
          <BredItem>
            {{ profile.name ? profile.name : isOrganizerView ? $t('profile.organizer') : $t('profile.user') }}
          </BredItem>

        </Breadcrumbs>

        <div class="profile-page__main">
          <MainSection v-bind="downfallProps" @changed="onUserChanged()" />
        </div>
        <div class="profile-page__navigation">
          <Navigation v-bind="downfallProps" />
        </div>

        <div class="profile-page__content">
          <nuxt-child
            v-bind="downfallProps"
            @ticket:click="viewedTicket = $event"
          />
        </div>

        <ThingsToDo v-if="city && seoLinks && isOrganizerView">
          {{ city.title }}
        </ThingsToDo>
      </div>
      <div class="sticky__side profile-page__side">
        <SideSection v-bind="downfallProps" />
      </div>
    </section>

    <div class="profile-page__sticky-footer">
      <SideSection horizontal v-bind="downfallProps" />
    </div>

    <ConfirmDialog
      v-if="OPENED_POPOVER === popoverConsts.deleteUser"
      type="danger"
      @confirm="deleteAccount"
      @cancel="toggleDeleteDialog"
    >
      <h2>{{ $t('deleteAccountQuestion') }}</h2>
      <template slot="confirm">{{ $t('common.confirmDelete') }}</template>
      <template slot="cancel">{{ $t('common.ignoreDelete') }}</template>
    </ConfirmDialog>
  </div>
</template>

<script>
  import { path, prop, isEmpty, isNil } from 'ramda'
  import { mapGetters, mapActions } from 'vuex'
  import { hasCover, setLatestModifiedAnd304 } from '~/utils'
  import popoverConsts from '~/utils/popoverConsts'
  import ProfileRoutesService from '~/utils/profile-routes-service'

  export default {
    components: {
      TicketsPromo: () => import('~/components/organizers/TicketsPromo'),
      TicketViewerModal: () =>
        import('~/components/profile/id/tickets/TicketViewerModal'),
      Breadcrumbs: () => import('~/components/common/BreadCrumbs'),
      BredItem: () => import('~/components/common/BreadCrumbs/Item'),
      MainSection: () => import('~/components/profile/id/MainSection'),
      SideSection: () => import('~/components/profile/id/SideSection'),
      Navigation: () => import('~/components/profile/id/Navigation'),
      ConfirmDialog: () => import('~/components/common/popovers/ConfirmDialog'),
      ThingsToDo: () => import('~/components/common/ThingsToDo'),
    },
    data: () => ({
      viewedTicket: null,
    }),
    computed: {
      ...mapGetters('auth', ['IS_AUTH']),
      ...mapGetters('popovers', ['OPENED_POPOVER']),
      ...mapGetters('user', [
        'GET_USER',
        'PROFILE',
        'ORGANIZER',
        'ORGANIZER_AS_PROFILE',
        'IS_OWN_PROFILE',
      ]),
      ...mapGetters({ city: 'city/GET_CITY', seoLinks: 'seo/results' }),

      popoverConsts: () => popoverConsts,

      isOwnProfile() {
        return this.IS_OWN_PROFILE
      },

      isOrganizerView() {
        this.routesService.setRoute(this.$route)
        return this.routesService.isOrganizerView
      },

      profile() {
        const profile = this.isOrganizerView ? this.ORGANIZER_AS_PROFILE : this.PROFILE
        return profile || {}
      },

      profileType() {
        return this.isProfileCustomer
          ? this.$t('profile.customer')
          : this.isProfileSupplier
            ? this.$t('profile.supplier')
            : this.profile.is_organizer
              ? this.$t('profile.organizer')
              : this.$t('profile.user')
      },
      isProfileSupplier() {
        return prop('is_supplier', this.profile) && !!prop('as_supplier', this.profile)
      },

      isProfileCustomer() {
        return !this.isProfileSupplier
          && prop('is_customer', this.profile)
          && !!prop('as_customer', this.profile)
      },

      isOrganizerProfile() {
        // 2nd condition is for own profile
        return this.isOrganizerView || prop('is_organizer', this.profile)
      },

      isTicketsPromo() {
        return this.isOrganizerProfile && !!this.profile.tickets_promo
      },

      downfallProps() {
        const {
          profile,
          isOwnProfile,
          isOrganizerProfile,
          isOrganizerView,
          profileType,
          isProfileSupplier,
          isProfileCustomer
        } = this
        return {
          profile,
          isOwnProfile,
          isOrganizerProfile,
          isOrganizerView,
          profileType,
          isProfileSupplier,
          isProfileCustomer
        }
      },

      pageTitle() {
        const fullName = prop('name', this.profile) || this.$t('profile.profile')
        return `${fullName} ${this.$t('seo.onSite')}`
      },

      cover() {
        return this.isOrganizerView
          ? hasCover(this.ORGANIZER, path(['cover', 'image'], null))
          : hasCover(null, path(['avatar', 'image'], this.user))
      },
    },
    async fetch({ store, error, res, req, route, redirect, app, query }) {
      function return_error(err){
        return error({
          statusCode: path(['response', 'status'], err) || 404,
          message: path(['response', 'statusText'], err) || 'User not found',
        })
      }
      const { router } = app
      const routesService = new ProfileRoutesService({
        store,
        route,
        router,
      })
      const user = store.getters['user/GET_USER']
      const isAuth = store.getters['auth/IS_AUTH']
      const userCity = store.getters['city/GET_CITY_ID']

      const actions = [
        store.dispatch('seo/FETCH', { geoname_id: userCity })
      ]
      if ( (isNil(user) || isEmpty(user)) && isAuth ) {
        actions.push(
          store.dispatch('user/GET_USER_DATA', {
            silent: true,
            expand: 'avatar,cover,city',
          })
        )
      }

      if (routesService.isOrganizerView) {
        actions.push(
          store.dispatch('user/GET_ORGANIZER', {
            id: routesService.paramId,
            expand: 'logo,user,user.avatar,user.city,user.cover',
          }),
        )
      } else {
        actions.push(
          store.dispatch('user/GET_PROFILE', {
            id: routesService.paramId,
            expand: 'avatar,cover,city',
          }),
        )
      }

      try {
        await Promise.all(actions)
      } catch (e) {
        return return_error(e)
      }

      const {
        'user/PROFILE': PROFILE,
        'user/IS_OWN_PROFILE': IS_OWN_PROFILE,
        'user/ORGANIZER': ORGANIZER,
        'user/ORGANIZER_AS_PROFILE': ORGANIZER_AS_PROFILE,
      } = store.getters

      const profile = !isNil(PROFILE)  && !isEmpty(PROFILE)
        ? PROFILE
        : ORGANIZER_AS_PROFILE
      const isProfileSupplier = prop('is_supplier', profile) && prop('as_supplier', profile)
      const isProfileCustomer = !isProfileSupplier && prop('is_customer', profile) && prop('as_customer', profile)

      let redirectTo = null
      if (
        routesService.isProfileView
        && (!isNil(ORGANIZER) && !isEmpty(ORGANIZER) || prop('as_organizer', PROFILE))
        && !( isProfileSupplier || isProfileCustomer)
        && !IS_OWN_PROFILE
      ) {
        redirectTo = {
          name: ProfileRoutesService.organizerIndexPage,
          params: { id: ORGANIZER ? ORGANIZER.url_id: PROFILE.as_organizer },
        }
      }
      if (
        routesService.isOrganizerView &&
        route.params.id !== ORGANIZER.url_id
      ) {
        redirectTo = {
          name: ProfileRoutesService.organizerIndexPage,
          params: { id: ORGANIZER.url_id },
        }
      }

      if (redirectTo) {
        const { href } = router.resolve(redirectTo)
        return redirect(href, query)
      }

      if ( isProfileSupplier && !routesService.isOrganizerView ) {
        await store.dispatch('marketplace/profile/FETCH_USER', {
          user_type: 'suppliers', id: profile.as_supplier, expand: 'images,services'
        })
      } else if ( isProfileCustomer && !routesService.isOrganizerView ) {
        await store.dispatch('marketplace/profile/FETCH_USER', {
          user_type: 'customers', id: profile.as_customer
        })
      }

      const objects_actions = [
        store.dispatch('events/FETCH', routesService.fetchEventsParams),
        !routesService.isOrganizerView &&
        store.dispatch('journals/FETCH', routesService.fetchJournalsParams),
        !routesService.isOrganizerView && IS_OWN_PROFILE &&
        store.dispatch('tickets/FETCH_TICKETS', { user: profile.id }),
      ].filter(item => Boolean(item))

      await Promise.all(objects_actions)

      store.commit('user/SET_COUNTERS', {
        events: store.getters['events/COUNT'],
        tickets: store.getters['tickets/COUNT'],
        journals: store.getters['journals/COUNT'],
      })

      const { events, journals } = store.getters['user/COUNTERS']

      if ( !IS_OWN_PROFILE ) {
        const eventsPageAllowed = !!events
        const journalsPageAllowed =
          !routesService.isOrganizerView && !!journals

        if ( routesService.isIndexPage ) {
          if ( isProfileCustomer || isProfileSupplier ){
            redirectTo = routesService.marketplaceRoute
          } else if (eventsPageAllowed) {
            redirectTo = routesService.eventsRoute
          } else if (journalsPageAllowed) {
            redirectTo = routesService.journalsRoute
          }
        } else if ( routesService.isMarketplacePage && !( isProfileCustomer || isProfileSupplier ) ) {
          redirectTo = routesService.indexRoute
        } else if ( routesService.isEventsPage && !eventsPageAllowed ) {
          redirectTo = journalsPageAllowed
            ? routesService.journalsRoute
            : routesService.indexRoute
        } else if ( routesService.isJournalsPage && !journalsPageAllowed ) {
          redirectTo = routesService.indexRoute
        } else if ( routesService.isTicketsPage ) {
          redirectTo = routesService.indexRoute
        }

        if ( redirectTo ) {
          const { href } = router.resolve(redirectTo)
          return redirect(href, query)
        }
      }

      if (process.server) {
        setLatestModifiedAnd304({ res, req, store }, [
          store.getters['events/modified'],
        ])
      }
    },

    beforeCreate() {
      this.routesService = new ProfileRoutesService({
        store: this.$store,
        router: this.$router,
      })
    },

    methods: {
      ...mapActions('popovers', ['SWITCH_PRE_LOADER', 'TOGGLE_POPOVER']),
      ...mapActions('user', ['REMOVE_USER']),

      async deleteAccount() {
        this.toggleDeleteDialog()
        await this.REMOVE_USER()
        this.$router.push('/')
      },
      toggleDeleteDialog() {
        this.TOGGLE_POPOVER(popoverConsts.deleteUser)
      },

      onUserChanged() {
        this.$store.dispatch('user/GET_USER_DATA', {
          silent: true,
          expand: 'avatar,cover,city',
        })

        if (this.GET_USER.id === this.PROFILE.id) {
          this.$store.dispatch('user/GET_PROFILE', {
            id: this.PROFILE.id,
            expand: 'avatar,cover,city',
          })
        }
      },
    },
    head() {
      return {
        title: this.pageTitle,
        meta: [
          { hid: 'ogtype', property: 'og:type', content: 'profile' },
          { hid: 'ogTitle', property: 'og:title', content: this.pageTitle },
          { hid: 'title', name: 'title', content: this.pageTitle },
          {
            hid: 'ogUrl',
            property: 'og:url',
            content: `${process.env.domainUrl}${this.$route.path}`,
          },
          ...this.cover,
          { hid: 'imgwidth', property: 'og:image:width', content: `1200` },
          { hid: 'imgheight', property: 'og:image:height', content: `600` },
        ],
        link: [
          {
            rel: 'canonical',
            href: `${process.env.domainUrl}${this.$route.path}`,
          },
        ],
      }
    },
  }
</script>

<style lang="scss" scoped>
  @import '~/assets/css/variables.scss';

  .page-wrapper {
    @include prevent-body-padding;
    margin: ($base * 5) auto 0;
    max-width: $base * 186;

    padding-left: 64px;
    padding-right: $base * 9;

    @media (max-width: $sideShow - 1) {
      padding-left: 84px;
      padding-right: 84px;
    }

    @media (max-width: $desktopHD - 1) {
      padding-left: $base * 5;
      padding-right: $base * 5;
    }

    @media ($mobile) {
      margin-top: $base * 2.5;
      padding-left: $base * 2;
      padding-right: $base * 2;
    }
  }

  .profile-page {
    $bottom-space: $base * 5;
    padding-bottom: $bottom-space;

    .breadcrumbs {
      margin-bottom: $base * 3;
    }

    &__navigation {
      margin-top: $base * 7;
    }

    &__content {
      margin-top: $base * 5;
    }

    &__sticky-footer {
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 3;
      @media (min-width: $sideShow - 1) {
        display: none;
      }
    }

    @media (max-width: $desktopHD) {
      // space for sticky-footer
      padding-bottom: ($base * 11) + $bottom-space;
    }

    @media (max-width: $sideShow) {
      // space for sticky-footer
      padding-bottom: ($base * 10) + $bottom-space;
    }

    @media ($mobile) {
      // space for sticky-footer
      padding-bottom: ($base * 8) + $bottom-space;

      &__navigation {
        margin: ($base * 3) (-$base * 2) 0;
      }

      &__content {
        margin-top: $base * 3.5;
      }
    }

    .sticky {
      &__content {
        flex: 1;
        min-width: 0;
      }

      &__side {
        flex: 0 0;
        position: sticky;
        top: 2 * $base;

        @media (max-width: $sideShow - 1) {
          display: none;
        }
      }
      @media (min-width: $sideShow) {
        display: flex;
        align-items: flex-start;
        align-content: flex-start;
        justify-content: flex-start;

        &__content {
          margin-right: 88px;
        }

        &__side {
          $width: $base * 37.25;
          flex: 0 0 $width;
          max-width: $width;
        }
      }
      @media (min-width: $desktopHDp) {
        &__content {
          margin-right: 112px;
        }

        &__side {
          $width: $base * 42;
          flex: 0 0 $width;
          max-width: $width;
        }
      }
    }
  }
</style>
