<i18n>
{
  "ru": {
    "title": "Ваш профиль",
    "subtitle": "Вы можете иметь один, или несколько профилей на сайте. Можете создать личный профиль, а можете бизнес профиль - профиль Организатора событий. Профиль организатора позволяет создавать и продвигать свои события. Организатором может быть компания, или отдельный человек.",
    "form" : {
      "organizerSwitcher": {
        "user": "Я — Пользователь",
        "organizer": "Я — Организатор событий",
        "supplier": "Я — Подрядчик",
        "customer": "Я — Заказчик"
      },
      "about": "О себе",
      "aboutCompany": "О компании",
      "save": "Сохранить изменения",
      "services": "Услуги"
    },
    "placeholders": {
      "about": "Несколько строк о себе",
      "aboutCompany": "Несколько строк о компании",
      "services": "Укажите виды услуг"
    },
    "successfulMessage": "Профиль успешно обновлен"
  },
  "en": {
    "title": "Your profile",
    "subtitle": "You can have one or multiple profiles on our website. You can create a Personal profile or a Business profile - register as an event organizer. Registering as Event organizer allows you to create and promote your events. Event organizer profile can be created for a company or for a person.",
    "form": {
      "organizerSwitcher": {
        "user": "I am a User",
        "organizer": "I am an Event Organizer",
        "supplier": "I am a Supplier",
        "customer": "I am a Customer"
      },
      "about": "About you",
      "aboutCompany": "About company",
      "save": "Save changes",
      "services": "Services"
    },
    "placeholders": {
      "about": "A few lines about you",
      "aboutCompany": "A few lines about the company",
      "services": "Specify the types of services"
    },
    "successfulMessage": "Profile updated successfully"
  },
  "es": {
    "title": "Tu perfíl",
    "subtitle": "Usted puede tener uno o más perfiles en nuestro sitio web. Usted puede crear un Perfil personal o un Perfil corporativo (registrándose como \"Organizador de Eventos\"). Registrarse como Organizador de Eventos le permite crear y promocionar sus eventos. El perfil como Organizador de Eventos puede crearse en nombre de una compañía o a título personal.",
    "form": {
      "organizerSwitcher": {
        "user": "Soy un Usuario",
        "organizer": "Soy un Organizador de eventos"
      },
      "about": "Acerca de ti",
      "save": "Guardar cambios"
    },
    "placeholders": {
      "about": "Por ejemplo, me gusta el vino y el hummus"
    },
    "successfulMessage": "Perfil actualizado con éxito"
  }
}
</i18n>

<template>
  <div class="profile-edit wrapper">
    <form class="profile-edit__form" @submit.prevent="save()">
      <h1 class="title" v-text="$t('title')" />

<!--      <p class="subtitle" v-text="$t('subtitle')" />-->

      <UserTypeSwitcher
        v-model="form.is_organizer"
        :options="isOrganizerOptions"
        class="profile-edit__organizer-switcher"
      />

      <div class="row z-index-overlapping-fix">
        <div :class="{ '-reverse': form.is_organizer }" class="columns">
          <div class="column column--main">
            <CompanySwitcher
              v-if="form.is_organizer"
              v-model="form.is_company"
              class="company-switcher"
            />
            <MainSection
              id="main-section"
              :data="form"
              :errors="errors"
              :displayCityField="!isProfileMarketplaceUser"
              :displayAddressField="!isProfileMarketplaceUser"
              class="profile-edit__main"
              @change="updateForm($event, form)"
            />
          </div>

          <div class="column column--avatar">
            <CompanySwitcher
              v-if="form.is_organizer"
              v-model="form.is_company"
              class="company-switcher transparent"
            />
            <AvatarWithControls
              :user="GET_USER"
              :size="192"
              isOwnProfile
              class="profile-edit__avatar"
              @changed="onAvatarChanged"
              @removed="onAvatarChanged"
            />
          </div>
        </div>
      </div>

      <LegalDataSection
        v-if="isProfileMarketplaceUser"
        id="legal-data-section"
        :data="marketplaceForm"
        :errors="errors"
        :isCompany="form.is_company"
        class="row profile-edit__legal-data"
        @change="updateForm($event, marketplaceForm)"
      />

      <div class="row">
        <div :class="{ invalid: errors.about }" class="rich-editor">
          <div class="rich-editor__label">
            {{ form.is_company ? $t('form.aboutCompany'): $t('form.about') }}
          </div>
          <client-only>
            <TextEditor
              v-model="form.about"
              hasFileFormat
              :placeholder="form.is_company ? $t('placeholders.aboutCompany') : $t('placeholders.about')"
            />
          </client-only>
        </div>
      </div>
      <FormRow
        v-if="isProfileSupplier"
        :error="errors['services'] || errors['new_services']"
        class="services"
      >
        <template #label>{{ $t('form.services') }}</template>
        <template slot-scope="{ id }">
          <TagsInput
            :elementId="id"
            :placeholder="$t('placeholders.services')"
            :fetchParams="{tag_type: 4}"
            :tags.sync="marketplaceForm.services"
            :newTags.sync="marketplaceForm.services_new"
          />
        </template>
      </FormRow>

      <ContactsSection
        id="contacts-section"
        :data="form"
        :errors="errors"
        class="profile-edit__contacts"
        @change="updateForm($event, form)"
      />

      <section class="profile-edit__actions">
        <Button type="submit" class="submit">{{ $t('form.save') }}</Button>
        <Button link @click="close()">{{ $t('common.cancel') }}</Button>
      </section>
    </form>
  </div>
</template>

<script>
import { clone, equals, pick, path, prop, isEmpty, map } from 'ramda'
import { mapGetters, mapActions } from 'vuex'
import { isPlainObject, normalizeLink, normalizePhone, scrollToElement } from '~/utils'
import FormRow from '~/components/common/FormRowNew'
import TagsInput from '~/components/common/input/TagsInput'
import MainSection from '~/components/profile/edit/MainSection'
import ContactsSection from '~/components/profile/edit/ContactsSection'
import LegalDataSection from '~/components/profile/edit/LegalDataSection'

function buildForm(newUser, oldUser, createFormMethod, currentForm) {
  let newUserData = {}

  if (oldUser) {
    // collect only real changed properties e.g. `avatar`
    for (const [key, value] of Object.entries(newUser)) {
      if (equals(oldUser[key], value)) continue
      newUserData[key] = value
    }
  } else {
    newUserData = clone(newUser)
  }
  return createFormMethod({ ...currentForm, ...newUserData })
}

const createForm = (profile = {}) => {
  const defaults = {
    is_organizer: false,
    is_company: false,
    avatar: null,
    name: '',
    about: '',
    address: '',
    city: null,
    email: '',
    additional_emails: [],
    links: [],
    phones: [],
    url_vk: '',
    url_fb: '',
    url_instagram: '',
    show_emails: false,
    show_phones: false,
  }

  const { email, additional_emails } = profile
  const emails = [email, ...(additional_emails || [])].filter(Boolean)

  return {
    ...defaults,
    ...pick(Object.keys(defaults), profile),
    emails,
  }
}

const createMarketplaceForm = (user = {}, user_type = 'suppliers') => {
  const defaults = {
    legal_name: '',
    legal_address: '',
    taxpayer_identification_number: '',
    main_state_registration_number: '',
    registration_reason_code: '',
    russian_organizations_classifier: '',
    bank_account_number: '',
    bank_identification_code: '',
  }
  if ( user_type === 'suppliers') {
    Object.assign(defaults, {'services': [], 'services_new': []})
  }
  const form = map(
    item => item || '',
    {
      ...defaults,
      ...pick(Object.keys(defaults), user),
    })
  return form
}

const createSupplierForm = (user = {}) => {
  return createMarketplaceForm(user)
}

const createCustomerForm = (user = {}) => {
  return createMarketplaceForm(user, 'customers')
}

export default {
  middleware: 'only-auth',
  components: {
    FormRow,
    TagsInput,
    MainSection,
    ContactsSection,
    LegalDataSection,
    Button: () => import('~/components/common/buttons/Button'),
    TextEditor: () => import('~/components/common/TextEditor'),
    AvatarWithControls: () =>
      import('~/components/profile/components/AvatarWithControls'),
    UserTypeSwitcher: () =>
      import('~/components/profile/edit/components/UserTypeSwitcher'),
    CompanySwitcher: () =>
      import('~/components/profile/edit/components/CompanySwitcher'),
  },
  data: () => ({
    form: createForm(),
    marketplaceForm: createMarketplaceForm(),
    errors: {},
  }),
  computed: {
    ...mapGetters('user', ['GET_USER']),
    ...mapGetters('auth', ['IS_AUTH']),
    ...mapGetters('marketplace/profile', ['SUPPLIER', 'CUSTOMER']),

    isProfileSimpleUser() {
      return !this.isProfileSupplier && !this.isProfileCustomer && !this.isProfileOrganizer
    },
    isProfileOrganizer() {
      return prop('is_organizer', this.GET_USER) && prop('as_organizer', this.GET_USER)
    },
    isProfileSupplier() {
      return prop('is_supplier', this.GET_USER) && prop('as_supplier', this.GET_USER)
    },
    isProfileCustomer() {
      return !this.isProfileSupplier
        ? prop('is_customer', this.GET_USER) && prop('as_customer', this.GET_USER)
        : false
    },
    isProfileMarketplaceUser(){
      return this.isProfileSupplier || this.isProfileCustomer
    },
    isOrganizerOptions() {
      return [
        {
          value: false,
          label: this.$t('form.organizerSwitcher.user'),
          disabled: !this.isProfileSimpleUser,
        },
        {
          value: true,
          label: this.isProfileSupplier
            ? this.$t('form.organizerSwitcher.supplier')
            : this.isProfileCustomer
              ? this.$t('form.organizerSwitcher.customer')
              : this.$t('form.organizerSwitcher.organizer')
        },
      ]
    },
    normalizedMarketplaceForm() {
      if(this.marketplaceForm.services) {
        return {
          ...this.marketplaceForm,
          services: this.marketplaceForm.services.map(item => item.slug)
        }
      } else {
        return {
          ...this.marketplaceForm
        }
      }

    },
    normalizedForm() {
      const data = {}
      for (const [key, value] of Object.entries(this.form)) {
        switch (key) {
          case 'avatar':
            break
          case 'url_fb':
          case 'url_vk':
          case 'url_instagram':
            data[key] = normalizeLink(value)
            break
          case 'links':
            data[key] = value.map(normalizeLink)
            break
          case 'phones':
            data[key] = value.map(normalizePhone)
            break
          case 'emails': {
            let [email = '', ...additional_emails] = value
            additional_emails = additional_emails.filter(item => { if(item.length > 0) return item })
            Object.assign(data, { email, additional_emails })
            break
          }
          case 'city':
            data[key] = path(['id'], value) || null
            break
          default:
            data[key] = value
            break
        }
      }

      if ( !data.is_organizer && !this.isProfileCustomer && !this.isProfileSupplier ) {
        data.is_company = false
      }

      return data
    },
  },
  watch: {
    '$route.hash': {
      immediate: true,
      handler() {
        if (process.server)
          return
        const hash = this.$route.hash.slice(1)
        if (['contacts', 'legal-data', 'main'].indexOf(hash) === -1)
          return

        this.$nextTick(() =>
          // TODO: работает только в SSR и то наполовину
          scrollToElement({
            element: document.getElementById(`${hash}-section`),
            align: 'top',
          }),
        )
      },
    },
    GET_USER: {
      deep: true,
      immediate: true,
      handler(newUser, oldUser) {
        if ( !this.IS_AUTH ){
          this.$router.push('/')
          return
        }
        this.form = buildForm(newUser, oldUser, createForm, this.form)
      },
    },
    SUPPLIER: {
      deep: true,
      immediate: true,
      handler(newUser, oldUser) {
        if (!this.isProfileSupplier) return
        this.marketplaceForm = buildForm(newUser, oldUser, createSupplierForm, this.marketplaceForm)
      },
    },
    CUSTOMER: {
      deep: true,
      immediate: true,
      handler(newUser, oldUser) {
        if (!this.isProfileCustomer) return
        this.marketplaceForm = buildForm(newUser, oldUser, createCustomerForm, this.marketplaceForm)
      },
    },
  },
  async fetch({ store, params, error, redirect, res, req, query }) {
    await store.dispatch('user/GET_USER_DATA')
    const user = store.getters['user/GET_USER']

    if ( prop('is_supplier', user) && prop('as_supplier', user) ){
      await store.dispatch('marketplace/profile/FETCH_USER', {
        user_type: 'suppliers', id: user.as_supplier, expand: 'images,services'
      })
    } else if ( prop('is_customer', user) && prop('as_customer', user) ){
      await store.dispatch('marketplace/profile/FETCH_USER', {
        user_type: 'customers', id: user.as_customer
      })
    }
  },
  methods: {
    ...mapActions('user', ['GET_USER_DATA', 'UPDATE_USER']),
    ...mapActions({
      error: 'notifications/error',
      success: 'notifications/success',
      switchPreLoader: 'popovers/SWITCH_PRE_LOADER',
    }),
    ...mapActions('marketplace/profile/', ['UPDATE_SUPPLIER', 'UPDATE_CUSTOMER']),
    ...mapActions({
      fetchMarketplaceUser: 'marketplace/profile/FETCH_USER',
    }),

    updateForm(data, form) {
      const oldForm = clone(form)
      Object.assign(form, data)
      if (isEmpty(this.errors))
        return
      // hide errors for changed inputs
      const errors = clone(this.errors)
      for (const [key, value] of Object.entries(form)) {
        const existError = errors[key]
        if (!existError) continue

        const changed = !equals(oldForm[key], value)
        if (Array.isArray(value)) {
          value.forEach((item, idx) => {
            const existError = errors[key][idx]
            if (!existError) return

            const changed = !equals(oldForm[key][idx], item)
            if (changed) {
              errors[key][idx] = null
            }
          })
        } else if (changed) {
          errors[key] = null
        }
      }

      this.errors = { ...errors }
    },

    close() {
      this.$router.push({
        name: 'profile-id',
        params: { id: this.GET_USER.id },
      })
    },

    async save() {
      this.switchPreLoader(true)
      this.errors = {}
      try {
        await this.UPDATE_USER(this.normalizedForm)
      } catch (err) {
        Object.assign(this.errors, this.collectServerErrors(err))
      }
      try {
        if (this.isProfileSupplier){
          await this.UPDATE_SUPPLIER({id: this.GET_USER.as_supplier, payload: this.normalizedMarketplaceForm})
        }
        else if (this.isProfileCustomer){
          await this.UPDATE_CUSTOMER({id: this.GET_USER.as_customer, payload: this.normalizedMarketplaceForm})
        }
      } catch (err) {
        Object.assign(this.errors, this.collectServerErrors(err))
      }

      this.switchPreLoader(false)

      if ( isEmpty(this.errors) ){
        this.success(this.$t('successfulMessage'))
        return this.close()
      }
      else {
        this.updateForm(this.marketplaceForm, this.marketplaceForm)
        return this.$nextTick(() =>
          scrollToElement({
            element: document.querySelector('[data-form-error]'),
          }),
        )
      }
    },

    collectServerErrors(errors) {
      const retVal = {}
      // special prepare for email's errors
      if (errors.email || errors.additional_emails) {
        const { email, additional_emails } = errors

        const emails = {}
        if (email) {
          emails[0] = email
        }
        if (additional_emails) {
          Object.keys(additional_emails).forEach(key => {
            // increment keys because 'email' added
            const newKey = parseInt(key, 10) + 1
            emails[newKey] = additional_emails[key]
          })
        }

        errors.emails = emails
        delete errors.email
        delete errors.additional_emails
      }

      Object.keys(errors).forEach(key => {
        const error = errors[key]
        let messages = []

        if (isPlainObject(error)) {
          Object.keys(error).forEach(k => messages.push(error[k]))
        } else if (Array.isArray(error)) {
          messages = error
        } else if (error) {
          messages = [error, ]
        }
        retVal[key] = {server: messages.join(', ')}
      })
      return retVal
    },

    onAvatarChanged() {
      this.GET_USER_DATA()
    },
  },
}
</script>

<style lang="scss">
@import '~/assets/css/variables.scss';
@import '~/components/profile/edit/components/index.scss';

.profile-edit {
  .title {
    @include text(6);
    font-weight: bold;
  }
  .subtitle {
    margin: ($base * 2) 0;
  }

  &__form {
    margin-top: 3 * $base;

    @media (min-width: $desktopHD) {
      margin-top: 8 * $base;
      max-width: 865px;
    }
  }

  .z-index-overlapping-fix {
    position: relative;
    z-index: 3;
  }

  .columns {
    margin-bottom: $base * 4;

    display: flex;
    align-items: flex-start;

    .column {
      &--avatar {
        flex: 0 0;
      }
      &--main {
        flex: 1;
      }
    }

    &:not(.-reverse) {
      .column {
        &--avatar {
          margin-left: $base * 13;
        }
      }
    }
    &.-reverse {
      flex-direction: row-reverse;

      .column {
        &--avatar {
          margin-right: $base * 13;
        }
      }
    }
  }

  &__avatar {
    z-index: 2;
  }

  &__organizer-switcher {
    margin-top: $base * 4;
    margin-bottom: $base * 5;
  }

  .company-switcher {
    margin-bottom: $base * 5;

    &.transparent {
      visibility: hidden;
      white-space: nowrap;
      overflow: hidden;
      margin: 0;
    }
  }

  .services {
    margin-top: ($base * 4) + 3;
  }

  &__contacts {
    margin-top: $base * 9;
  }

  &__legal-data {
    margin-bottom: $base * 9;
  }

  &__actions {
    margin-top: $base * 7;

    .submit.submit {
      height: $base * 8;
      padding-top: 17px;
    }
  }

  .profile__avatar-block {
    display: inline-flex;
    flex-shrink: 0;
    position: relative;

    @media (min-width: $desktopHD) {
      /*margin-right: 7 * $base;*/
    }

    .ww-avatar {
      background-color: $dark-blue;
    }
  }

  /deep/ .profile__actions {
    flex-direction: column;
    margin: -0.5 * $base;
    position: absolute;
    right: -2.625 * $base;
    top: calc(50% + 0.5 * #{$base});
    transform: translateY(-50%);
  }

  .rich-editor {
    &__label {
      @extend %input-label;
    }
  }

  @media (max-width: $desktopHD) {
    .columns {
      &,
      &.-reverse {
        align-items: center;
        flex-direction: column-reverse;

        .column {
          // boost specificity
          &.column {
            margin-right: 0;
            margin-left: 0;
          }

          &--avatar {
            margin-bottom: $base * 5;
          }
          &--main {
            align-self: stretch;
          }
        }
      }
    }

    .company-switcher.transparent {
      display: none;
    }
  }
}
</style>
