<template>
  <div />
</template>

<script>
import { path } from 'ramda'

export default {
  middleware: 'only-auth',

  async fetch({ app, store, redirect, error, query }) {
    try {
      if (!store.getters['user/HAS_USER']) {
        await store.dispatch('user/GET_USER_DATA')
      }
      const { id } = store.getters['user/GET_USER']
      let url
      if(query.page === 'marketplace' || query.page === 'events' || query.page === 'tickets' ) {
        url = app.router.resolve({
          name: `profile-id-${query.page}`,
          params: { id },
        })
      } else {
        url = app.router.resolve({
          name: 'profile-id',
          params: { id },
        })
      }
      return redirect(url.href)
    } catch (e) {
      return error({
        statusCode: path(['response', 'status'], e) || 404,
        message: path(['response', 'statusText'], e) || 'User not found',
      })
    }
  },
}
</script>
