<template>
  <WithTransition v-if="reg === popovers.mailPicker">
    <ModalContainer>
      <MailPickerModal />
    </ModalContainer>
  </WithTransition>
  <WithTransition v-else-if="reg === popovers.mailPickerSucc">
    <ModalContainer>
      <MailPickerSuccess />
    </ModalContainer>
  </WithTransition>
</template>

<script>
import popConsts from '~/utils/popoverConsts.js'

export default {
  name: 'MailPickerModalWrapper',
  components: {
    MailPickerModal: () => import('./MailPickerModal'),
    MailPickerSuccess: () => import('./MailPickerSuccess'),
    ModalContainer: () => import('../ModalContainer'),
    WithTransition: () => import('~/components/common/WithTransition'),
  },
  props: {
    reg: {
      type: String,
    },
  },
  computed: {
    popovers: () => popConsts,
  },
}
</script>
