<template>
  <div class="content">
    <div class="overlay-btn">
      <BtnWithIcon
        v-tooltip.auto="$t('popovers.close')"
        icon="cross"
        invert
        @click="togglePopover('')"
      />
    </div>
    <div class="title">Спасибо за заявку. Мы уже начали подбирать для вас лучшего поставщика. </div>
    <div v-if="links.length" class="foot-hint">
      {{ $t('auth.regAlsoSub') }}
    </div>

    <div class="social-btns">
      <SocialBtn
        v-for="(btn, index) in links"
        :key="index"
        :variant="btn.type"
        :href="btn.link"
      />
    </div>
  </div>
</template>
<script>
import { mapActions } from 'vuex'
import { prop } from 'ramda'
export default {
  components: {
    BtnWithIcon: () => import('../../buttons/BtnWithIcon'),
    SocialBtn: () => import('../../buttons/SocialButton'),
  },
  computed: {
    links() {
      const city = this.$store.getters['city/GET_CITY']
      const links = prop('links', city) || []
      return links.filter(
        v =>
          v.variant !== 'vk' || this.$store.getters['city/SHOW_RUSSIAN_LANG'],
      )
    },
    countryId() {
      return this.$cookies.get('fromCountryId')
    },
  },
  methods: {
    ...mapActions({
      togglePopover: 'popovers/TOGGLE_POPOVER',
    }),
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.content {
  padding: 60px 16px;
  max-width: 856px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0 3px 40px 0 rgba(0, 112, 255, 0.2);
  background-color: #f8f9fa;
  user-select: none;
  @media (min-width: $desktopSD) {
    padding: 80px 110px;
  }

  .overlay-btn {
    position: absolute;
    top: 0;
    left: 0;
  }
  .title {
    font-size: 48px;
    line-height: 1;
    margin-bottom: 24px;
    text-align: center;
    
    @media (min-width: $desktopSD) {
      font-size: 56px;
    }
  }
  .hint {
    font-size: 24px;
    line-height: 1.33;
    margin-bottom: 24px;
  }
  .foot-hint {
    line-height: 1.5;
    margin-bottom: 18px;
  }
  .social-btns {
    display: flex;
    justify-content: center;
    .social-button {
      margin-right: 1rem;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
</style>
