<template>
  <div class="modal__wrapper">
    <div class="modal">
      <div class="overlay-btn">
        <BtnWithIcon icon="cross" invert @click="togglePopover('')" />
      </div>
      <picture class="left-image">
        <img alt="Mail picker" src="~static/popover/mailPicker/mailPicker.jpg" class="left-image" />
      </picture>
      <div class="content">
        <picture class="top-image">
          <img
            alt="Mail picker"
            src="~static/popover/mailPicker/mailPicker.jpg"
            class="top-image__image"
          />
        </picture>

        <div
          class="title"
        >Напишите, что требуется и оставьте e-mail, чтобы получить предложения поставщиков.</div>

        <div class="message">
          <textarea class="message" placeholder="Сообщение" v-model="message" required></textarea>
        </div>

        <div class="email">
          <MailInput
              v-model="email"
              variant="simple"
              required
              styles="height: 56px; border: none; font-size: 23px"
              placeholder="E-mail"
              @keydown.enter="submitForm"
          />
        </div>

        <div class="action-btns">
          <Button class="action-btn" type="submit" noArrow @click="submitForm">ОТПРАВИТЬ</Button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import { path } from 'ramda'
import popConsts from '~/utils/popoverConsts.js'

export default {
  components: {
    BtnWithIcon: () => import('../../buttons/BtnWithIcon'),
    Button: () => import('../../buttons/Button'),
    MailInput: () => import('~/components/common/input/MailInput'),
  },
  data: () => ({
    email: '',
    message: '',
    emailErr: {
      show: false,
      msg: '',
    },
  }),
  computed: {
    pops() {
      return popConsts
    },
    nameCity() {
      return path(
        ['location', 'city', 'title'],
        this.$store.getters['events/session/data'],
      )
    },
  },
  methods: {
    ...mapActions({
      togglePopover: 'popovers/TOGGLE_POPOVER',
      mailPicking: 'formRequests/MAIL_PICKING',
    }),

    async submitForm() {
      try {
        await this.mailPicking({ email: this.email, message: this.message })
        this.togglePopover(popConsts.mailPickerSucc)
      } catch (err) {
        console.log(err)
      }
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.modal {
  position: relative;
  height: 100%;

  @media (min-width: $desktopHD) {
    display: flex;
  }

  &__wrapper {
    width: 100%;
    height: 100%;
    background-color: #f8f9fa;
    user-select: none;
    overflow: auto;

    @media (min-width: $desktopHD) {
      max-width: 1080px;
      max-height: 536px;
      box-shadow: 0 3px 40px 0 rgba(0, 112, 255, 0.2);
    }
  }

  .overlay-btn {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    @media (min-width: $desktopHD) {
      right: unset;
      left: 0;
    }
  }

  .left-image {
    display: none;

    img {
      height: 100%;
      object-fit: cover;
    }

    @media (min-width: $desktopHD) {
      display: block;
      width: 384px;
    }
  }
  .top-image {
    display: block;
    @media (min-width: $desktopHD) {
      display: none;
    }

    &__image {
      width: 100%;
    }
  }

  .content {
    padding: 6%;
    text-align: center;
    @media (min-width: $desktopHD) {
      padding: 4% 6% 0;
      text-align: unset;
    }
    .title {
      @include text(3);
      font-weight: bold;
      @media (min-width: $desktopHD) {
        @include text(5);
        line-height: 1.2;
        font-weight: normal;
      }
    }
    .hint {
      margin: 16px 0;
    }
    .email {
      position: relative;
      margin-bottom: 1.25rem;
      .err-block {
        margin-top: 0.5rem;
        color: #ff4081;
      }
    }

    .message {
      margin: 20px 0;

      textarea {
        line-height: 34px !important;
        font-size: 23px;
      }
    }
    .action-btn {
      height: 54px;
      padding: 0;
      &.alrdy {
        font-weight: normal;
        margin-top: 8px;
        text-transform: none;
      }
    }
    .social-buttons {
      display: flex;

      .soc-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 54px;
        width: 100%;
        background-color: #3b5998;
        color: #fff;
        padding: 1rem;
        &:hover {
          box-shadow: 0 0 0 1px #0070ff;
        }
        &:first-child {
          margin-right: 1rem;
          background-color: #fff;
          color: #000;
        }
      }

      .soc-btn {
        &__icon {
          height: 24px;
          width: 24px;
          background: transparent;
          display: flex;
          margin-right: 20px;

          &::before {
            content: '';
            background-size: contain;
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
          }

          &.google {
            &::before {
              background: url('~static/social/google.svg');
            }
          }

          &.facebook {
            &::before {
              background: url('~static/social/facebook.svg');
              width: 14px;
            }
          }
        }
        &__text {
          display: none;
          @media (min-width: $desktopHD) {
            display: block;
          }
          &--mobile {
            display: block;
            @media (min-width: $desktopHD) {
              display: none;
            }
          }
        }
      }
    }
  }
}
</style>
