<template>
  <div class="journal-card">
    <nuxt-link :to="link" class="journal-card__cover">
      <AsyncImage :image="cover" height="240" width="408" class="image">
        <div class="hover" />
      </AsyncImage>
    </nuxt-link>
    <div class="journal-card__body">
      <nuxt-link
        :to="profileLink"
        v-tooltip.auto="ownerName"
        class="avatar"
      >
        <Avatar :user="owner" size="40" />
      </nuxt-link>
      <div :class="{ 'has-menu': isOwn }" class="categories">
        <Menu
          v-if="isOwn"
          :journal="journal"
          class="menu"
          @remove="$emit('remove', $event)"
        />
      </div>
      <nuxt-link :to="link" class="title" style="-webkit-box-orient: vertical;">
        {{ journal.title }}
      </nuxt-link>
    </div>
  </div>
</template>

<script>
import { path } from 'ramda'

export default {
  name: 'JournalCard',

  components: {
    Avatar: () => import('~/components/common/Avatar'),
    AsyncImage: () => import('~/components/common/AsyncImage'),
    Menu: () => import('./Menu'),
  },

  props: {
    journal: {
      type: Object,
      required: true,
    },
    isOwn: Boolean,
  },

  computed: {
    cover() {
      return path(['cover', 'image'], this.journal)
    },
    link() {
      return {
        name: 'events-collections-journal',
        params: { journal: this.journal.url_id },
      }
    },
    owner() {
      return path(['created_by'], this.journal)
    },
    ownerName() {
      return path(['created_by', 'name'], this.journal)
    },
    profileLink() {
      const id = path(['created_by', 'id'], this.journal)
      return id ? { name: 'profile-id', params: { id } } : '#'
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.journal-card {
  $transition: 0.2s;
  width: 328px;
  @media (min-width: $desktopSD) {
    width: 336px;
  }
  @media (min-width: $desktopHDp) {
    width: 408px;
  }

  &:hover {
    .title {
      color: $blue;
    }

    .hover {
      height: 100%;
      width: 100%;
      opacity: 0.2;
      background-color: #0070ff;
    }
  }

  .hover {
    transition: background-color $transition;
  }

  &__cover {
    display: block;
    margin-bottom: 20px;
    height: 200px;
    @media (min-width: $desktopHDp) {
      height: 240px;
    }

    .image {
      height: 100%;
      width: 100%;
    }
  }

  &__body {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: 17px auto;
    grid-column-gap: 14px;
    grid-row-gap: 3px;
    .avatar {
      grid-row: 1 / 3;
      margin-top: 4px;
      height: 40px;
      width: 40px;
    }
    .categories {
      &.has-menu {
        position: relative;
        padding-right: 20px;
      }

      .menu {
        position: absolute;
        right: 0;
        top: 0;
      }
    }
    .title {
      grid-row: 2;
      font-size: 21px;
      font-weight: bold;
      line-height: 1.33;
      display: -webkit-box;
      // move to inline style, not ?parsed? in class
      // -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      text-overflow: ellipsis;
      height: max-content;
      max-height: 50px;
      transition: color $transition;

      @media (min-width: $desktopHDp) {
        font-size: 24px;
        max-height: 56px;
      }

      &:hover {
        color: $blue;
      }
    }
  }
}
</style>
