<template>
  <div class="journal-menu">
    <PopoverMenu
      name="journal-context-menu"
      :pos="{ top: 0 }"
      @click.native="$emit('click')"
    >
      <span slot="face" class="toggler">
        <i class="icon-dots ww-icn-dots" />
      </span>
      <div slot="content" class="list">
        <nuxt-link
          :to="{
            name: 'events-collections-journal-edit',
            params: { journal: journal.url_id },
          }"
          class="item"
        >
          <i class="icon ww-icn-pencil-o" />
          <span v-text="$t('common.edit')" />
        </nuxt-link>
        <div class="item" @click="$emit('remove', journal)">
          <i class="icon ww-icn-trash-o" />
          <span v-text="$t('common.remove')" />
        </div>
      </div>
    </PopoverMenu>
  </div>
</template>

<script>
export default {
  components: {
    PopoverMenu: () => import('~/components/common/PopoverMenu'),
  },
  props: {
    journal: {
      type: Object,
      required: true,
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.journal-menu {
  .icon-dots {
    color: $black-gray;
    cursor: pointer;
    font-size: 20px;
  }

  .list {
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.16);
    background: #fff;
    padding: ($base * 1.5) 0;

    .item {
      cursor: pointer;
      padding: ($base * 1.5) ($base * 3);
      display: flex;
      align-items: center;
      transition: color 0.2s, background 0.2s;

      &:hover {
        // background: $gray;
        color: $blue;
      }

      .icon {
        color: $blue;
        margin-right: $base * 2.25;
        display: block;
        font-size: 14px;
        line-height: 1;
      }
    }
  }
}
</style>
