<i18n>
{
  "ru": {
    "titleLabel": "Название события",
    "titlePlaceholder": "Например, фестиваль енотов",
    "descLabel": "Описание",
    "langLabel": "Предполагаемый язык события",
    "linksLabel": "Ссылки на событие в соцсетях"
  },
  "en": {
    "titleLabel": "Event name",
    "titlePlaceholder": "Raccoon festival",
    "descLabel": "Description",
    "langLabel": "Suggested event language",
    "linksLabel": "Links to this event on social media"
  },
  "es": {
    "titleLabel": "Nombre del evento",
    "titlePlaceholder": "Por ejemplo, festival de los mapaches",
    "descLabel": "Descripción",
    "langLabel": "Idioma del evento sugerido",
    "linksLabel": "Enlaces a este evento en las redes sociales"
  }
}
</i18n>

<template>
  <div class="main-info">
    <FormRow class="main-info__title" :error="errors['title']">
      <template #label>{{ $t('titleLabel') }}</template>
      <template slot-scope="{ id, hasError }">
        <FormInput
          :id="id"
          :value="title"
          :error="hasError"
          :placeholder="$t('titlePlaceholder')"
          @input="$emit('update:title', $event)"
        />
      </template>
    </FormRow>

    <FormRow class="main-info__cover" :error="errors['cover']">
      <AddEventCover
        :coverImage="imageCover"
        @cover:upload="handleCoverUpload"
        @cover:cropped="handleCoverCrop"
      />
    </FormRow>

    <FormRow
      id="toolbar-container"
      class="main-info__description"
      :error="errors['description']"
      @triggerFocus="focusOnTextEditor"
    >
      <template #label>{{ $t('descLabel') }}</template>
      <TextEditor
        ref="textEditor"
        :value="description"
        @input="$emit('update:description', $event)"
      />
    </FormRow>

    <FormRow v-if="!isEdit" class="main-info__language" :error="errors['language']">
      <template #label>{{ $t('langLabel') }}</template>
      <template slot-scope="{ id }">
        <Language :id="id" :value="language" @input="$emit('update:language', $event)" />
      </template>
    </FormRow>

    <FormRow :error="errors['links']">
      <template #label>{{ $t('linksLabel') }}</template>
      <template slot-scope="{ id, hasError }">
        <Links 
          :id="id" 
          :error="hasError" 
          :value="links"
          @input="$emit('update:links', $event)" 
        />
      </template>
    </FormRow>
  </div>
</template>

<script>
import { path } from 'ramda'

import thumborize from '~/utils/thumborize'

import FormRow from '~/components/common/FormRowNew'
import FormInput from '~/components/common/input/FormInput'
import TextEditor from '~/components/common/TextEditor'

import Links from '~/components/events/create/EventMainInfo/Links'
import AddEventCover from '~/components/events/create/EventMainInfo/AddEventCover'
import Language from '~/components/events/create/EventMainInfo/Language'

export default {
  name: 'EventMainInfo',

  components: {
    FormRow,
    FormInput,
    TextEditor,
    Links,
    AddEventCover,
    Language,
  },

  props: {
    title: {
      type: String,
      required: true,
    },
    description: {
      type: String,
      required: true,
    },
    links: {
      type: Array,
      required: true,
    },
    language: {
      type: Object,
    },
    cover: {
      type: Object,
      default: () => ({}),
    },
    errors: {
      type: Object,
      default: () => ({}),
    },
    isEdit: Boolean,
  },

  computed: {
    imageCover() {
      const cover = path(['image'], this.cover)
      const w = path(['original_width'], this.cover)
      const h = path(['original_height'], this.cover)

      return cover ? thumborize(cover, undefined, w, h) : null
    },
  },

  methods: {
    focusOnTextEditor() {
      this.$refs.textEditor.focus()
    },
    handleCoverUpload({ image }) {
      this.$emit('update:cover', image)
    },
    handleCoverCrop(v) {
      this.$emit('updateCroppedImage', v)
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.main-info {
  &__title {
    margin-bottom: 16px;

    @media (min-width: $desktopSD) {
      margin-bottom: 32px;
    }
  }

  &__cover {
    margin-bottom: 36px;

    @media (min-width: $desktopSD) {
      margin-bottom: 38px;
    }

    @media (min-width: $desktopHD) {
      margin-bottom: 46px;
    }
  }

  &__description {
    margin-bottom: 20px;

    @media (min-width: $desktopSD) {
      margin-bottom: 30px;
    }

    @media (min-width: $desktopHD) {
      margin-bottom: 38px;
    }
  }

  &__language {
    margin-bottom: 20px;

    @media (min-width: $desktopSD) {
      margin-bottom: 30px;
    }

    @media (min-width: $desktopHD) {
      margin-bottom: 38px;
    }
  }
}
</style>