<template>
  <div>
    <Breadcrumbs class="breadcrumbs">
      <BredItem href="/">{{ $t('common.main') }}</BredItem>
      <BredItem>{{ title || $t('common.allEvents') }}</BredItem>
    </Breadcrumbs>
    <div class="search">
      <SearchHeader
        :title="title || $t('common.allEvents')"
        :count="eventsCount"
        :h1="!!title"
      />
      <ClosestText v-if="isClosest && whereGoEvents" :whereGoEvents="whereGoEvents" />
      <Tabs value="events" :options="tabs" class="search__tabs" />
      <EventsLayout class="search__grid" />
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  components: {
    EventsLayout: () => import('./components/Events'),
    Tabs: () => import('~/components/common/Tabs'),
    Breadcrumbs: () => import('~/components/common/BreadCrumbs'),
    BredItem: () => import('~/components/common/BreadCrumbs/Item'),
    SearchHeader: () => import('./components/SearchHeader'),
    ClosestText: () => import('./components/ClosestText'),
  },
  props: {
    title: String,
    whereGoEvents: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    ...mapGetters({
      eventsCount: 'search/events/COUNT',
      isClosest: 'search/events/isClosest',
    }),
    tabs() {
      return [
        {
          component: 'events',
          count: this.eventsCount,
          name: this.$t('search.tabs.events'),
        },
      ]
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.breadcrumbs {
  margin: 16px 0;
}

.search {
  &__tabs {
    margin-top: 24px;
  }

  &__grid {
    margin-top: 24px;
  }
}
</style>
