<template>
  <div class="search">
    <Breadcrumbs class="breadcrumbs hidden-mobile-only">
      <BredItem href="/">{{ $t('common.main') }}</BredItem>
      <BredItem>{{ $t('search.breadcrumbs.searchPage') }}</BredItem>
    </Breadcrumbs>
    <slot name="city" />
    <div v-if="isShowSearchBar" class="search__wrapper">
      <SearchBar
        class="search__bar"
        :search="searchText"
        :city="city"
        :dates="searchDates"
        :period="searchPeriod"
        roll-up
        @update:period="updatePeriod"
        @update:dates="updateDates"
        @update:city="updateCity"
        @update:search="updateSearchText"
        @search="handleSearchBar"
      />
    </div>
    <SearchCounter
      :fullCount="getFullCount"
      :show-filter="filteredCatgs && filteredCatgs.length"
      @open-filter="isShowFilter = true"
    />
    <Tabs v-model="selectedTab" :options="tabs" class="search__tabs" />

    <div class="search__content">
      <transition name="fade" mode="out-in">
        <Loader v-if="loading" key="loader" />
        <keep-alive v-else>
          <NotFound
            v-if="isEmptySearch"
            key="not-found"
            :event-page="selectedTab === 'events'"
            :cityId="city.id"
          />
          <component v-else :is="selectedTab" class="search__component" />
        </keep-alive>
      </transition>
      <SearchCategories
        v-if="categoriesOptions.length"
        v-model="categories"
        :options="filteredCatgs"
        class="hidden-mobile-only"
        @input="updateCategory"
      />
    </div>

    <div
      v-if="isShowFilter && categoriesOptions.length"
      class="search__categories-popup hidden-desktopSD-and-up"
    >
      <PopupCategories
        v-model="categories"
        :options="filteredCatgs"
        trackBy="slug"
        label="title"
        @input="updateCategory"
        @close="isShowFilter = false"
      />
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import { isEmpty, prop, type } from 'ramda'
import { debounceEvent } from '~/utils'

const parseParams = s => {
  if (type(s) === 'String' && s.length > 0) {
    return s.replace(/\//g, ',').slice(0, -1)
  } else return null
}

export default {
  components: {
    Loader: () => import('~/components/common/Loader'),
    Breadcrumbs: () => import('~/components/common/BreadCrumbs'),
    BredItem: () => import('~/components/common/BreadCrumbs/Item'),
    Icon: () => import('~/components/common/Icon'),
    SearchCategories: () => import('~/components/common/input/SearchCategories'),
    SearchBar: () => import('~/components/common/SearchBar'),
    Events: () => import('./components/Sessions'),
    Journals: () => import('./components/Journals'),
    Organizers: () => import('./components/Organizers'),
    NotFound: () => import('~/components/common/NotFound'),
    Tabs: () => import('~/components/common/Tabs'),
    PopupCategories: () => import('./components/PopupCategories'),
    SearchCounter: () => import('./components/SearchCounter'),
  },
  props: {
    cityId: null,
  },
  data() {
    return {
      categories: [],
      selectedTab: '',
      isShowSearchBar: !isEmpty(this.$route.query),
      isShowFilter: false,
      loading: !!process.server,
    }
  },
  computed: {
    ...mapGetters({
      city: 'search/CITY',
      searchText: 'search/SEARCH_TEXT',
      searchDates: 'search/SEARCH_DATES',
      searchPeriod: 'search/SEARCH_PERIOD',
      categoriesOptions: 'search/categories/results',
      eventsCount: 'search/sessions/count',
      journalsCount: 'search/journals/count',
      organizersCount: 'search/organizers/count',
    }),
    filteredCatgs() {
      return this.categoriesOptions.filter(c => c.total_events !== 0)
    },
    tabs() {
      return [
        {
          component: 'events',
          count: this.eventsCount,
          name: this.$t('search.tabs.events'),
        },
        {
          component: 'journals',
          count: this.journalsCount,
          name: this.$t('search.tabs.journals'),
        },
        {
          component: 'organizers',
          count: this.organizersCount,
          name: this.$t('search.tabs.organizers'),
        },
      ]
    },
    getFullCount() {
      return this.eventsCount + this.journalsCount + this.organizersCount || 0
    },
    isEmptySearch() {
      const currentTab = prop(
        0,
        this.tabs.filter(v => v.component === this.selectedTab),
      )
      if (currentTab) {
        return currentTab.count === 0
      } else {
        return false
      }
    },
    seoFilter() {
      return {
        seo_filter: parseParams(prop('pathMatch', this.$route.params)),
      }
    },
    query() {
      const query = {}
      if (this.searchText.length) query.search = this.searchText
      if (this.searchPeriod) {
        query.period = this.searchPeriod
      } else if (
        this.searchDates.length &&
        this.searchDates.filter(v => v).length
      ) {
        query.dates = this.searchDates
          .map(date => this.convertFormatDate(date))
          .join(',')
      } else {
        query.actual = true
      }
      if (this.city.id) {
        query.geoname_ids = this.city.id
      }
      if (this.categories.length) {
        query.keywords = this.categories.map(el => el.slug).join(',')
      }
      if (this.$route.params.kuda) {
        Object.assign(query, this.seoFilter)
      }
      return query
    },
  },
  watch: {
    city() {
      this.fetchCategories()
    },
    tabs() {
      this.selectTab()
    },
  },
  beforeMount() {
    this.debouncedSearch = debounceEvent(this.handleSearchBar, 500)
    // fill city from query
    const cityId = this.$route.query.geoname_ids || this.cityId
    if (cityId) {
      this.initCity({ id: cityId })
    } else {
      // no city
      const city = { id: null, name: this.$t('mainpage.searchBar.allWorld') }
      this.updateCity(city)
    }
    // fill period from query
    if (this.$route.query.period) {
      this.changePeriod({ period: this.$route.query.period })
    }
    // fill dates from query
    if (this.$route.query.dates) {
      const dates = this.$route.query.dates
        .split(',')
        .map(date => this.convertFormatDate(date))
      this.updateDates(dates)
    }
    // for page '/search/?category=...'
    if (this.$route.query.keywords) {
      this.categories = this.$route.query.keywords.split(',').map(el => ({
        slug: el,
      }))
    }
    // for page '/search/?category=...'
    if (this.searchText || !isEmpty(this.$route.query)) {
      this.search()
    }
    if (!this.categoriesOptions.length) {
      this.fetchCategories()
    }
    if (!this.selectedTab) {
      this.selectTab()
    }
  },
  methods: {
    ...mapActions({
      getCategories: 'search/categories/fetch',
      changeDates: 'search/CHANGE_DATES',
      changeCity: 'search/CHANGE_CITY',
      changeCategory: 'search/CHANGE_CATEGORY',
      changeSearch: 'search/CHANGE_SEARCH',
      changePeriod: 'search/CHANGE_PERIOD',
      doSearch: 'search/DO_SEARCH',
      initCity: 'search/INIT_CITY',
    }),
    async updateDates(dates) {
      await this.changeDates({ dates })
      this.debouncedSearch()
    },
    async updateCity(city) {
      await this.changeCity({ city })
      // this.categories = []
      await this.changeCategory({ category: '' })
      this.debouncedSearch('')
    },
    async updateSearchText(text) {
      await this.changeSearch({ text })
      this.debouncedSearch()
    },
    async updateCategory(value) {
      const category = value.map(e => e.slug).join(',')
      await this.changeCategory({ category })
      this.debouncedSearch()
    },
    async updatePeriod(period) {
      await this.changePeriod({ period })
      this.debouncedSearch()
    },
    convertFormatDate(v) {
      if (!v) return
      const FORMAT = 'DD.MM.YYYY'
      return typeof v === 'string'
        ? this.$moment(v, FORMAT)
        : this.$moment(v).format(FORMAT)
    },
    withHash(hash) {
      const routeHash = this.$route.hash
      if (typeof hash !== 'string') return { hash: routeHash }
      else if (typeof hash === 'string' && !hash.length) return {}
      else if (hash.length) return { hash }
      else return { hash: routeHash }
    },
    handleSearchBar(hash) {
      if (this.isShowSearchBar) {
        // for page '/search/'
        this.$router.replace({
          query: this.query,
          ...this.withHash(hash),
        })
      }
      this.search()
    },
    async search() {
      this.loading = true
      await this.doSearch({ query: this.query }).finally(() => {
        this.loading = false
        this.selectTab()
      })
    },
    async selectTab() {
      const hash = this.$route.hash.slice(1)
      if (~this.tabs.findIndex(tab => tab.component === hash)) {
        this.selectedTab = hash
      } else {
        this.selectedTab = this.tabs[0] ? this.tabs[0].component : ''
      }
    },
    fetchCategories() {
      this.getCategories({ geoname_id: this.city.id })
    },
  },
}
</script>

<style lang="scss">
@import '~/assets/css/variables.scss';

.search {
  .breadcrumbs {
    margin-top: 24px;
    @media (min-width: $sideShow) {
      margin-top: 0;
    }
  }
  &__wrapper {
    z-index: 1;
    @media (min-width: $desktopSD) {
      height: 185px;
    }
    @media (min-width: $sideShow) {
      height: 136px;
    }
  }
  &__bar {
    margin-top: 24px;
    @media (min-width: $desktopSD) {
      position: absolute;
      right: unset;
      width: 90%;
    }
    @media (min-width: $desktopHD) {
      max-width: none;
      width: unset;
      margin: 0;
      margin-top: 24px;
      left: piecewise-linear-margin(
        $desktopHD,
        $sideShow,
        0px,
        ($sideShow - 1124px) / 2
      );
      right: piecewise-linear-margin(
        $desktopHD,
        $sideShow,
        0px,
        ($sideShow - 1124px) / 2
      );
    }
    @media (min-width: $sideShow) {
      margin-left: 112px;
      width: 85%;
      left: unset;
      right: 5%;
    }
  }

  &__content {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (min-width: $desktopSD) {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
  }
  &__tabs {
    margin-top: 32px;
  }
  &__component {
    flex: 1;
    order: 2;
    @media (min-width: $desktopSD) {
      order: 1;
    }
  }
  &__categories-popup {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
  }
}
</style>
