<template>
  <div class="wrapper">
    <Breadcrumbs>
      <BredItem href="/">{{ $t('common.main') }}</BredItem>
      <BredItem href="/events/collections/">
        {{ $t('common.allJournals') }}
      </BredItem>
    </Breadcrumbs>
    <div class="search">
      <SearchHeader :title="$t('common.allJournals')" :count="journalsCount" />
      <Tabs value="journals" :options="tabs" class="search__tabs" />
      <JournalsLayout class="search__grid" />
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  layout: 'default',
  components: {
    Tabs: () => import('~/components/common/Tabs'),
    JournalsLayout: () => import('./components/Journals'),
    Breadcrumbs: () => import('~/components/common/BreadCrumbs'),
    BredItem: () => import('~/components/common/BreadCrumbs/Item'),
    SearchHeader: () => import('./components/SearchHeader'),
  },
  computed: {
    ...mapGetters({
      journalsCount: 'search/journals/count',
    }),
    tabs() {
      return [
        {
          component: 'journals',
          count: this.journalsCount,
          name: this.$t('search.tabs.journals'),
        },
      ]
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.breadcrumbs {
  margin: 16px 0;
}
.search {
  &__tabs {
    margin-top: 24px;
  }
  &__grid {
    margin-top: 24px;
  }
}
</style>
