<template>
  <div>
    <div class="cover-uploader">
      <div v-if="image" class="translate-to-center">
        <AsyncImage :image="image" />
      </div>
      <div v-if="image" class="cover-uploader__remove-button">
        <BtnWithIcon
          icon="trash"
          invert
          v-tooltip.auto="$t('journal.create.deletePhoto')"
          @click="removeCover"
        />
      </div>
      <ImageUploader
        v-else
        :query="query"
        class="cover-uploader__uploader translate-to-center"
        @input="uploadedCover"
        @loading="v => (loading = v)"
      >
        <Loader v-if="loading" color="white"></Loader>
        <template v-else>
          <span class="cover-uploader__plus ww-icn-plus"></span>
          <span class="cover-uploader__text">
            {{ $t('journal.create.addPhoto') }}
          </span>
        </template>
      </ImageUploader>
    </div>

    <div v-if="error" class="cover-uploader__error">{{ error }}</div>
  </div>
</template>

<script>
export default {
  components: {
    AsyncImage: () => import('~/components/common/AsyncImage'),
    ImageUploader: () => import('~/components/common/Carousel/Uploader'),
    Loader: () => import('~/components/common/Loader'),
    BtnWithIcon: () => import('~/components/common/buttons/BtnWithIcon'),
  },
  props: {
    error: {
      type: String,
      default: '',
    },
    value: Object,
  },
  data: () => ({
    loading: false,
    query: { find_gradient: true, find_main_color: true },
  }),
  computed: {
    image() {
      return this.value && this.value.image ? this.value.image : null
    },
  },
  methods: {
    uploadedCover(data) {
      this.$emit('input', data[0])
      if (this.error) {
        this.$emit('update:error', '')
      }
    },
    removeCover() {
      this.$emit('input', null)
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.translate-to-center {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cover-uploader {
  width: 100%;
  padding-top: 64.17%; /* 344:536 Aspect Ratio */
  position: relative;
  color: white;

  &__remove-button {
    position: absolute;
    right: 16px;
    top: 16px;
  }
  &__uploader {
    border: dashed 2px white;
    &:hover > .cover-uploader__text {
      text-decoration: underline;
    }
  }
  &__plus {
    font-size: 36px;
    margin-bottom: 16px;
  }
  &__error {
    margin-top: 8px;
    padding: 8px 16px;
    color: white;
    background-color: $red;
  }

  &__text {
    margin: 0 17%;
  }
}
</style>
