<template>
  <label class="checkbox">
    <input
      :checked="checked"
      type="checkbox"
      class="visually-hidden"
      @change="handleChange"
    />
    <span v-if="!checked">
      <slot> {{ label ? option[label] : option }} </slot>
    </span>
    <span v-else>
      <slot name="checked"> {{ label ? option[label] : option }} </slot>
    </span>
  </label>
</template>

<script>
export default {
  props: {
    value: { type: Array, required: true },
    option: { type: [Object, String], required: true },
    trackBy: String,
    label: String,
  },
  computed: {
    checked() {
      return ~this.value.findIndex(
        element =>
          (this.trackBy ? element[this.trackBy] : element) ===
          (this.trackBy ? this.option[this.trackBy] : this.option),
      )
    },
  },
  methods: {
    handleChange() {
      const item = this.option
      const index = this.value.findIndex(
        element =>
          String(this.trackBy ? element[this.trackBy] : element) ===
          String(this.trackBy ? item[this.trackBy] : item),
      )
      const newValue =
        index === -1
          ? this.value.concat(item)
          : this.value.filter(
              element =>
                String(this.trackBy ? element[this.trackBy] : element) !==
                String(this.trackBy ? item[this.trackBy] : item),
            )
      this.$emit('input', newValue)
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.checkbox {
  cursor: pointer;
}

.checkbox__label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  min-height: 40px;
  text-transform: uppercase;
  padding: 8px 16px;

  &:hover {
    color: white;
    background-color: $blue;
  }

  &--unchecked {
    background-color: white;
    color: black;
  }

  &--checked {
    background-color: black;
    color: white;
  }
}

//input:focus + .checkbox__label {
// color: white;
// background-color: $blue;
//}

/*input:not(:checked) ~ .checkbox__label--checked {*/
/*display: none;*/
/*}*/
/*input:checked ~ .checkbox__label--unchecked {*/
/*display: none;*/
/*}*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
</style>
