<template>
  <ul class="list">
    <li v-for="option in options" :key="option.slug" class="list__li">
      <Checkbox
        :value="value"
        trackBy="slug"
        :option="option"
        @input="$emit('input', $event)"
      >
        <span class="list__label list__label--unchecked">
          {{ option.title }}
          <sup class="list__label__sup"> {{ option.total_events }} </sup>
        </span>
        <template #checked>
          <span class="list__label list__label--checked">
            {{ option.title }}
            <span class="list__label__sup">
              <Icon src="icons/cross.svg" size="xs" />
            </span>
          </span>
        </template>
      </Checkbox>
    </li>
  </ul>
</template>

<script>
export default {
  components: {
    Checkbox: () => import('./Checkbox'),
    Icon: () => import('~/components/common/Icon'),
  },
  props: {
    value: {
      type: Array,
      default: () => [],
    },
    options: Array,
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.list {
  display: grid;
  grid-gap: 8px;
  grid-template-columns: max-content;
  grid-auto-flow: column;
  overflow-x: auto;
  padding-bottom: 8px;

  @media (min-width: $desktopSD) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &__li {
      margin-right: 16px;
      margin-bottom: 16px;
    }
  }

  &__label {
    color: white;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    letter-spacing: 0.8px;
    padding: 10px 16px 6px 20px;
    text-transform: uppercase;
    white-space: nowrap;

    @media ($mobile) {
      text-align: center;
      font-size: 14px;
      width: 100%;
      font-weight: normal;
      margin: 0;
      padding: 0.25rem;
      display: block;
    }

    &:hover {
      background-color: black;
      color: white;
    }

    &--unchecked {
      background-color: $blue;
      color: white;
    }

    &--checked {
      background-color: black;
      color: white;
    }

    &__sup {
      margin-left: 6px;
      display: inline-flex;
      justify-content: center;
      width: 16px;
    }
  }
}
</style>
