<template>
  <nuxt-link
    :to="{
      path: '/events/',
      query: { ...query, actual: true, keywords: category.slug },
    }"
    class="category-card"
  >
    <AsyncImage :image="coverImage" width="400" height="96" class="cover">
      <div class="background"></div>
      <div class="body">
        <div class="body__title">{{ category.title }}</div>
        <AsyncImage
          :image="iconImage"
          width="48"
          height="48"
          :alt="category.title"
          class="body__icon"
        />
      </div>
    </AsyncImage>
  </nuxt-link>
</template>

<script>
import { path } from 'ramda'

import AsyncImage from '~/components/common/AsyncImage'

export default {
  components: {
    AsyncImage,
  },

  props: {
    category: {
      type: Object,
      required: true,
    },
    query: Object,
  },

  computed: {
    iconImage() {
      return path(['icon', 'image'], this.category)
    },
    coverImage() {
      return path(['cover', 'image'], this.category)
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.category-card {
  position: relative;
  display: block;
  height: 64px;

  @media (min-width: $desktopSD) {
    height: 96px;
  }

  &:hover .background {
    background-color: $blue;
  }

  .background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.4;
    background-color: black;
  }

  .cover {
    height: 100%;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;

    &__title {
      color: white;
      font-size: 21px;
      line-height: 1.33;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      @media (min-width: $desktopHDp) {
        font-size: 24px;
      }
    }

    &__icon {
      width: 32px;
      height: 32px;

      @media (min-width: $desktopSD) {
        width: 48px;
        height: 48px;
      }
    }
  }
}
</style>
