<template>
  <div v-if="hasEvents" class="event-list">
    <div class="event-list__scroll">
      <EventCardSnob
        v-for="event in events"
        :key="event.id"
        class="event-list__card"
        :event="event"
        :extraQuery="
          makeWidgetUtm({
            utmContentType: '2',
            utmContentPlace: 'teaser',
            query: $route.query,
          })
        "
        :emitRedirect="currentVersion === 'snob2'"
        isExternalLink
        @redirect="onRedirect"
      />
      <div class="fake-card"></div>
    </div>
  </div>
</template>

<script>
import EventCardSnob from '~/components/common/EventCard/Snob'

import { makeWidgetUtm } from '~/utils/widget'

export default {
  name: 'EventListWidget',

  components: {
    EventCardSnob,
  },

  props: {
    events: {
      type: Array,
      required: true,
    },
    currentVersion: String,
  },

  computed: {
    hasEvents() {
      return this.events && this.events.length
    },
  },

  methods: {
    makeWidgetUtm,
    onRedirect(data) {
      window.parent.postMessage({
        type: 'ww',
        action: 'open-event',
        data,
      })
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.event-list {
  background-color: #fff;
  position: relative;
  margin-right: 152px;
  width: 100%;
  padding: 0;

  &__card {
    flex-shrink: 0;
    &:not(:last-child) {
      margin-right: 12px;
    }
  }

  &__scroll {
    overflow-y: hidden;
    overflow-x: auto;
    display: flex;
    padding-bottom: 8px;

    @media (pointer: fine) {
      &::-webkit-scrollbar {
        height: 8px;
        width: $scroll-width;
        background: white;

        &-track {
          border-radius: 0;
          box-shadow: inset 0 0 0;
        }

        &-thumb {
          background: #000;
          border-radius: 0;
          &:hover {
            background: #000;
          }
        }

        &-thumb:window-inactive {
          background-color: #000;
        }
      }
    }

    // for firefox
    & {
      scrollbar-color: #000 white;
      scrollbar-width: auto;
    }
  }

  &::after {
    position: absolute;
    top: 0;
    content: '';
    height: calc(100% - 24px);
    pointer-events: none;
    z-index: 1;
    width: 152px;
    background-image: linear-gradient(269deg, #fff, rgba(255, 255, 255, 0));
    right: 0;
  }
}

.fake-card {
  width: 152px;
  flex-shrink: 0;
}
</style>
