<i18n>
  {
    "ru": {
      "createEvent": "Создайте и продвигайте свое событие",
      "eventDescription": "Заполните поля данными о своем событии и выберете один из вариантов размещения: бесплатная публикация или публикация с продвижением вашего события в социальных сетях и поисковых системах.",
      "viewOptions": "Посмотреть варианты"
    },
    "en": {
      "createEvent": "Create and promote your event",
      "eventDescription": "Fill in the fields with information about your event and choose one of the options: free publishing or with promotion of your event on social media and search engines.",
      "viewOptions": "View options"
    }
  }
</i18n>

<template>
  <div class="wrapper create-page">
    <h1 class="create-page__title">{{ $t('createEvent') }}</h1>
    <p class="create-page__description">{{ $t('eventDescription') }}</p>
    <client-only>
      <form class="form-content" @submit.prevent="createEvent">
        <div class="create-form">
          <div class="cover">
            <EventCover
                :cover.sync="cover"
                :errors="errors"
            />
          </div>
          <div class="event-main">
            <EventMainInfo
                :title.sync="$v.title.$model"
                :period.sync="period"
                :isOnline.sync="isOnline"
                :address.sync="address"
                :links.sync="links"
                :tags.sync="tags"
                :errors="errors"
            />
          </div>
        </div>


        <div class="form-submit__wrapper">
          <PanelButton fullWidth>
            {{ $t('viewOptions') }}
          </PanelButton>
        </div>

      </form>
    </client-only>

    <HowWork/>
    <FixedGuideButton class="hidden-desktopSD-and-down" />
  </div>
</template>

<script>
  import {mapActions, mapGetters} from 'vuex'
  import {required} from 'vuelidate/lib/validators'

  import {
    getLayoutName,
    layoutConsts,
    getEventCreatePageLayout,
  } from '~/utils/layout'
  import {scrollToElement} from '~/utils'
  import cookieConsts from '~/utils/cookieConsts'
  import {periodRequired, getAudience} from '~/utils/eventVersionB'

  import EventMainInfo from '~/components/versionB/EventMainInfo'
  import PanelButton from '~/components/common/buttons/PanelButton'
  import EventCover from "~/components/versionB/EventCover"
  import HowWork from "~/components/versionB/HowWork"
  import FixedGuideButton from '~/components/events/create/FixedGuideButton'


  function makeComputedField({key}) {
    return {
      [key]: {
        get() {
          return this.event[key]
        },
        set(v) {
          this.SET_FIELD({value: v, key})
        },
      },
    }
  }

  function makeComputedFields(v) {
    return v.reduce((result, field) => {
      return {...result, ...makeComputedField(field)}
    }, {})
  }

  export default {
    layout: getEventCreatePageLayout,
    middleware: ['personal-data-agreement'],
    name: 'CreateEventStep1',

    components: {
      EventCover,
      EventMainInfo,
      PanelButton,
      HowWork,
      FixedGuideButton
    },

    computed: {
      ...mapGetters({
        event: 'createEventVersionB/event',
        serverErrors: 'createEventVersionB/serverErrors',
        croppedCoverImage: 'createEventVersionB/croppedCoverImage',
        PRE_STATUS_IS_PROMO: 'newEvent/PRE_STATUS_IS_PROMO',
        IS_AUTH: 'auth/IS_AUTH',
      }),
      ...makeComputedFields([
        {key: 'title'},
        {key: 'links'},
        {key: 'period'},
        {key: 'isOnline'},
        {key: 'address'},
        {key: 'cover'},
        {key: 'tags'},
      ]),
      errors() {
        return {
          title: {
            client: this.$v.title,
            server: this.serverErrors.title,
          },
          address: {
            client: this.$v.address,
            server: this.serverErrors.address,
          },
          links: {
            client: this.$v.links,
            server: this.serverErrors.links,
          },
          cover: {
            client: this.$v.cover,
            server: this.serverErrors.cover,
          },
          tags: {
            server: this.serverErrors.tags,
          },
          period: {
            client: this.$v.period,
          },
        }
      },
    },

    validations() {
      return {
        title: {
          required,
        },
        cover: {
          required,
        },
        period: {
          periodRequired,
        },
        ...(!this.isOnline && {
          address: {
            required,
          },
        }),
      }
    },

    mounted() {
      this.saveLayout()
    },

    methods: {
      ...mapActions({
        CREATE_EVENT: 'createEventVersionB/CREATE_EVENT',
        SET_FIELD: 'createEventVersionB/SET_FIELD',
      }),
      saveLayout() {
        const {layout, ...restQuery} = this.$route.query
        if (!layout) return

        const layoutName = getLayoutName(layout)
        if (layoutName === layoutConsts.default) return

        this.SET_FIELD({
          key: 'preStatus',
          value: this.PRE_STATUSES.promo,
        })
        this.$cookies.set(cookieConsts.eventLayoutName, layoutName, {
          maxAge: 60 * 60,
          path: '/',
        })
        this.$router.replace({
          query: restQuery,
        })
      },
      async createEvent() {
        this.$v.$touch()

        if (this.$v.$error) {
          this.$nextTick(() => {
            scrollToElement({
              element: document.querySelector('[data-form-error]'),
              align: 'top',
            })
          })

          return
        }

        this.$store.dispatch('popovers/SWITCH_PRE_LOADER', true)
        if (!this.event.audience) {
          // Capture fake audience for event
          this.event.audience = getAudience();
        }
        if (this.PRE_STATUS_IS_PROMO) {
          if (this.IS_AUTH) {
            const {url_id} = await this.CREATE_EVENT()
            this.$router.push({
              name: `events-id-edit`,
              params: {
                id: url_id
              },
              query: {
                next: `/events/${url_id}/created`,
                stage: 'creation'
              }
            })
          } else {
            this.$cookies.set(
                'eventForCreateTestBC',
                JSON.stringify(this.event),
                {maxAge: 60 * 60 * 24 * 30, path: '/'},
            )
            this.$router.push({name: 'events-create-b-2'})
          }
        } else {
          this.$cookies.set(
              'eventForCreateTestBC',
              JSON.stringify(this.event),
              {maxAge: 60 * 60 * 24 * 30, path: '/'},
          )
          this.$router.push({name: 'events-create-b-2'})
        }

        this.$store.dispatch('popovers/SWITCH_PRE_LOADER', false)
      },
    },
  }
</script>

<style lang="scss" scoped>
  @import '~/assets/css/variables.scss';

  .wrapper {
    @media (max-width: $desktopSD) {
      margin: 0;
    }
  }

  .create-page {
    margin-top: 24px;
    margin-bottom: 118px; // 110px + 64px (fixed height) - 56px (body padding)
    max-width: 1000px;
    @media (max-width: $desktopSD) {
      background-color: #f8f9fa;
    }
    @media (min-width: $desktopSD) {
      margin-top: 54px;
    }

    @media (min-width: $sideShow) {
      margin-top: 72px;
    }

    &__title {
      @include text(4);
      font-weight: bold;
      margin-bottom: 38px;
      font-family: 'Circe-Bold';
      @media (min-width: $desktopSD) {
        @include text(5);
        margin-bottom: 48px;
      }

      @media (min-width: $desktopHD) {
        @include text(6);
      }
      @media (min-width: $sideShow) {
        font-size: 48px;
        line-height: 72px;
        margin-bottom: 38px;
      }
      @media (max-width: $desktopSD) {
        margin-left: 48px;
      }
      @media (max-width: 480px) {
        font-size: 24px;
        line-height: 32px;
        margin: 0 24px 20px 24px;
      }
    }

    &__description {
      @include text(2.25);
      font-weight: normal;
      margin-bottom: 14px;
      padding-right: 100px !important;
      font-family: 'Circe-Regular';

      @media (min-width: $desktopSD) {
        margin-bottom: 34px;
        @include text(3);
      }
      @media (max-width: $desktopSD) {
        margin-left: 48px;
      }
      @media (max-width: 480px) {
        font-size: 16px;
        line-height: 24px;
        margin:0 24px;
        padding-right: 0 !important;
      }
    }
  }

  .form-content {
    box-shadow: 0 3px 30px 0 rgba(0, 112, 255, 0.1);
    background-color: #ffffff;
    padding: 30px 40px 15px;
    width: 1008px;
    @media (max-width: $sideShow) {
      width: 100%;
    }
    @media (max-width: $desktopHD) {
      padding-left: 20px;
      padding-right: 20px;
    }
    @media (max-width: $desktopSD) {
      padding-left: 48px;
      padding-right: 48px;
      box-shadow: none;
    }
    @media (max-width: 480px) {
      padding-left: 24px;
      padding-right: 24px;
    }
  }

  .create-form {
    display: flex;
    @media (max-width: $desktopSD) {
      flex-direction: column;
    }

    .cover {
      margin-right: 40px;
      width: 41%;
      @media (max-width: $desktopHD) {
        margin-right: 30px;
      }
      @media (max-width: $desktopSD) {
        width: 100%;
        margin-right: 0;
      }
    }

    .event-main {
      width: 60%;
      max-width: 520px;
      @media (max-width: $desktopSD) {
        width: 100%;
        max-width: 672px;
      }
    }
  }

  .form-submit {
    &__wrapper {
      width: 100%;
      padding: 0 84px 0 0;
      margin-top: 10px;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      @media (max-width: $desktopSD) {
        flex-direction: column;
        align-items: flex-start;
      }
      @media (max-width: 480px) {
        padding: 0;
      }

      & > :first-child {
        font-size: 12px;
        font-weight: normal;
        margin-right: 24px;
        font-family: 'Circe-Regular';
        .end {
          display: flex;
          justify-content: flex-end;
          @media (max-width: $desktopHD) {
            display: inline-block;
          }
        }
      }

      & > :last-child {
        width: 240px;
        padding: 15px 30px;
        font-size: 16px;
        text-transform: none;
        font-family: 'Circe-Bold';
        @media (max-width: 480px) {
          width: 100%;
          margin-right: 0;
          padding: 20px 40px;
          font-size: 18px;
          font-weight: bold;
          line-height: 24px;
        }
      }
    }
  }
</style>
