<i18n src="./locales.json"></i18n>

<template>
  <div class="avatar-editor">
    <div v-if="image.image" class="avatar-editor__avatar">
      <AsyncImage :image="image.image" height="192" width="192" />
    </div>
    <div v-else class="avatar-editor__alt">
      <span>{{ initials }}</span>
    </div>

    <div class="buttons">
      <template v-if="image.image">
        <BtnWithIcon
          class="avatar-controls"
          color="blue"
          icon="pencil"
          invert
          v-tooltip.auto="$t('controls.edit')"
          @click="openAvatarEditor = true"
        />
        <BtnWithIcon
          class="avatar-controls"
          color="blue"
          icon="trash"
          invert
          v-tooltip.auto="$t('controls.delete')"
          @click="removeAvatar"
        />
      </template>
      <label v-else v-tooltip.auto="$t('controls.add')">
        <input
          type="file"
          :accept="accept.join()"
          alt="image"
          hidden
          @change="uploadImage"
        />
        <BtnWithIcon color="blue" icon="photo" invert />
      </label>
    </div>

    <div v-if="openAvatarEditor">
      <AvatarEditor
        :image="image.image"
        :src="src"
        @change="changeAvatar"
        @cancel="openAvatarEditor = false"
      />
    </div>
  </div>
</template>

<script>
import { path } from 'ramda'

export default {
  components: {
    AsyncImage: () => import('~/components/common/AsyncImage'),
    AvatarEditor: () => import('~/components/profile/components/AvatarEditor'),
    BtnWithIcon: () => import('~/components/common/buttons/BtnWithIcon'),
  },
  props: {
    value: String,
    alt: String,
  },
  data: () => ({
    src: '',
    image: {},
    accept: ['image/jpeg', 'image/png', 'image/bmp'],
    avatarLoading: false,
    openAvatarEditor: false,
  }),
  computed: {
    initials() {
      if (this.alt) {
        const words = this.alt.match(/[a-zA-Zа-яА-Я\d]+/gi)
        return [path([0, 0], words), path([1, 0], words)].join('')
      } else {
        return ''
      }
    },
  },
  methods: {
    removeAvatar() {
      this.image = {}
      this.$emit('input', {})
    },
    uploadImage(event) {
      const file = path(['target', 'files', 0], event)
      const isAcceptType = file && this.accept.includes(file.type)
      if (isAcceptType) {
        console.log({ type: file.type })
        const reader = new FileReader()
        reader.onload = e => {
          this.src = e.target.result
          this.openAvatarEditor = true
        }
        reader.readAsDataURL(file)
      } else {
        this.errorMessage(this.$t('error.unsupportedFormat'))
      }
    },
    async changeAvatar(image) {
      try {
        this.avatarLoading = true
        this.image = image
        this.$emit('input', image)
      } catch {
        this.errorMessage(this.$t('profile.avatarEditor.errorChange'))
      } finally {
        this.avatarLoading = false
      }
    },
  },
}
</script>

<style scoped lang="scss">
@import '~/assets/css/variables.scss';

.avatar-editor {
  position: relative;
  height: 176px;
  width: 176px;
  @media (min-width: $desktopSD) {
    height: 192px;
    width: 192px;
  }

  &__avatar {
    border-radius: 50%;
    height: 176px;
    width: 176px;
    @media (min-width: $desktopSD) {
      height: 192px;
      width: 192px;
    }
  }

  &__alt {
    width: 100%;
    height: 100%;
    background-color: #0066e8;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    text-transform: uppercase;
    @include text(7);
    @media (min-width: $desktopSD) {
      @include text(8);
    }
    @media (min-width: $desktopHD) {
      @include text(9);
    }
  }

  .buttons {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(50%, -50%);
    display: grid;
    grid-gap: 8px;
  }
}
</style>
