<template xmlns:v-only-auth="http://www.w3.org/1999/xhtml">
  <div class="event-actions">
    <TicketsButton
      v-if="isShowTicketsButton"
      :event="eventObj"
      class="event-actions__expand-button"
    />
    <ContactButton v-else-if="hasOrganizer" :event="event" class="event-actions__expand-button" />

    <div class="event-actions__right">
      <button
        v-tooltip.auto="$t('common.share')"
        class="event-actions__button hidden-mobile-only"
        @click="onShareClick"
      >
        <Icon src="icons/share.svg" size="m" />
      </button>

      <button
        v-only-auth:click="addEvent"
        v-tooltip.auto="$t('common.addToJournal')"
        class="event-actions__button"
      >
        <span class="icon ww-icn-plus"></span>
      </button>

      <nuxt-link
        v-if="ownEvent"
        v-tooltip.auto="$t('eventCreate.edit')"
        class="event-actions__button hidden-mobile-only"
        :to="`/events/${event.event.url_id}/edit/`"
      >
        <Icon src="icons/pencil.svg" size="m" />
      </nuxt-link>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import { path } from 'ramda'
import { trackShareBtn } from '~/utils/analytics'

import popConsts from '~/utils/popoverConsts'

export default {
  components: {
    ContactButton: () => import('./ContactButton'),
    Icon: () => import('~/components/common/Icon'),
    TicketsButton: () => import('./TicketsButton'),
  },
  props: {
    eventObj: Object,
  },
  computed: {
    ...mapGetters({
      event: 'events/session/data',
    }),
    ownEvent() {
      return path(['permissions', 'can_edit'], this.event)
    },
    isShowTicketsButton() {
      return path(['event', 'tickets'], this.eventObj)
    },
    hasOrganizer() {
      return path(['event', 'organizer'], this.event)
    }
  },
  methods: {
    ...mapActions({
      openPopoverWithData: 'popovers/OPEN_POPOVER_WITH_DATA',
      togglePopover: 'popovers/TOGGLE_POPOVER',
    }),
    addEvent() {
      this.openPopoverWithData({
        name: popConsts.addToJournal,
        data: {
          event: this.event,
        },
      })
    },
    onShareClick() {
      trackShareBtn(this)
      this.togglePopover('popover_share')
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.event-actions {
  display: flex;
  justify-content: space-between;
  .icon {
    font-size: 22px;
    height: 24px;
  }
  &__right {
    display: flex;
    margin-right: -8px;

    @media (min-width: $desktopSD) {
      margin-right: -20px;
    }
  }

  &__expand-button {
    max-width: 448px;
    width: 100%;
    margin-right: 8px;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 48px;
    height: 48px;

    @media (min-width: $desktopSD) {
      width: 64px;
      height: 64px;
    }

    &:hover {
      color: $blue;
    }
  }
}
</style>
