<template>
  <h2 class="block-title">
    <slot />
  </h2>
</template>

<script>
export default {
  name: 'BlockTitle',
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.block-title {
  @include text(3);
  font-weight: bold;
  color: #000000;

  @media (min-width: $desktopSD) {
    @include text(4);
  }
}
</style>
