<template>
  <div class="event__images">
    <client-only>
      <Carousel :images="images" :width="0" :height="486" />
    </client-only>
  </div>
</template>

<script>
export default {
  components: {
    Carousel: () => import('~/components/common/Carousel'),
  },
  props: {
    images: Array,
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.event__images {
  height: 50vw;
  margin-bottom: 54px;

  @media (min-width: $desktopSD) {
    margin-bottom: 38px;
  }

  @media (min-width: $desktopHD) {
    height: 488px;
    margin-bottom: 14px;
  }

  @media (min-width: $sideShow) {
    margin-bottom: 36px;
  }

  @media (min-width: $desktopHDp) {
    margin-bottom: 42px;
  }
}
</style>
