<i18n>
{
  "ru": {
    "comments": "Комментарии"
  },
  "en": {
    "comments": "Comments"
  },
  "es": {
    "comments": "Comentarios"
  }
}
</i18n>

<template>
  <div class="event">
    <StickyPanel :promo="promo" :url="promoUrl" class="event__sticky" />
    <StickyFooter :event="{ event }" class="event__fixed" />
    <div class="event__body wrapper">
      <Header />
      <MyContent :event="{ event }" />
      <Images v-if="images.length" :images="images" />

      <div id="event-posters" class="event__posters">
        <Posters :posters="eventPosters" :eid="event.id" />
      </div>

      <Schedule
        v-if="sessions.length"
        :sessions="sessions"
        :online="event.is_online"
        class="event__posters"
      />

      <Contacts id="event-contacts" :event="{ event }" />
    </div>

    <!--    <div v-if="session.location" id="event-map" class="wrapper event__map">-->
    <!--      <Map :event="session" />-->
    <!--    </div>-->

    <div class="event__body wrapper">
      <Comments class="event__comments" @send="sendComment">
        <template #label>
          <BlockTitle>{{ $t('comments') }}</BlockTitle>
        </template>
      </Comments>
      <div v-if="hasSimilarEvents" class="event__similar">
        <Similar :events="similar" :location="location" :total="countSimilar" />
      </div>
      <slot name="footer"></slot>
    </div>

    <div class="event__contact-popover">
      <ContactPopover
        v-if="popoverName === 'eventContact'"
        :event="{ event }"
      />
    </div>
  </div>
</template>

<script>
import { path, prop, filter, type, isEmpty } from 'ramda'
import { mapActions, mapMutations, mapGetters } from 'vuex'
import popoverConsts from '~/utils/popoverConsts'
import { fmtDescription } from '~/utils'

import BlockTitle from '~/components/events/main/BlockTitle'

export default {
  components: {
    BlockTitle,
    Header: () => import('./Header'),
    Similar: () => import('./Similar'),
    Comments: () => import('~/components/common/Comments'),
    Schedule: () => import('./Schedule'),
    MyContent: () => import('./Content'),
    Posters: () => import('./Posters'),
    Contacts: () => import('./Contacts'),
    ContactPopover: () => import('./Popovers/Contacts'),
    Images: () => import(`./Images`),
    StickyPanel: () => import('./StickyPanel'),
    StickyFooter: () => import('./StickyFooter'),
  },

  computed: {
    ...mapGetters({
      event: 'event/EVENT',
      sessions: 'events/sessions/EVENTS',
      similar: 'events/EVENTS',
      countSimilar: 'events/COUNT',
      hasSimilarEvents: 'events/HAS_EVENTS',
      promo: 'event/IS_PREMIUM',
      popoverName: 'popovers/OPENED_POPOVER',
    }),
    promoUrl() {
      return `/events/${path(['url_id'], this.event)}/promo/`
    },
    eventPosters() {
      const p = {
        poster_1080x1080: path(['poster_1080x1080'], this.event),
        poster_1200x630: path(['poster_1200x630'], this.event),
        poster_800x1080: path(['poster_800x1080'], this.event),
      }
      const isExist = v => type(v) !== 'Undefined' && type(v) !== 'Null'
      if (isEmpty(filter(isExist, p))) {
        return {}
      } else {
        return filter(isExist, p)
      }
    },
    location() {
      return prop('location', this.event)
    },
    images() {
      return path(['images'], this.event) || []
    },
    eventStartDate() {
      if (this.event.start_date) {
        return this.$moment(this.event.start_date).format('YYYY/MM/DD')
      }
      return ''
    },
    metaDescription() {
      return `${this.eventStartDate} ${fmtDescription(this.event)}`
    },
  },
  mounted() {
    this.checkPaymentStatus()
  },
  methods: {
    ...mapActions('popovers', ['TOGGLE_POPOVER']),
    ...mapMutations('popovers', ['SET_POPOVER_DATA']),
    ...mapActions('tickets', ['RESET_PURCHASE']),
    ...mapActions({
      errorMessage: 'notifications/error',
      sendComment: 'event/SEND_COMMENT',
    }),

    checkPaymentStatus() {
      const { payment_status, from, ...query } = this.$route.query
      if (!payment_status) return

      const isFromTickets = from === 'tickets'

      switch (payment_status) {
        case 'free':
          this.SET_POPOVER_DATA({ status: 'free' })
          // eslint-disable-next-line no-fallthrough
        case 'success':
          this.TOGGLE_POPOVER(popoverConsts.paymentSuccess)
          if (isFromTickets) this.RESET_PURCHASE()
          break

        case 'pending':
        case 'cancelled':
          if (isFromTickets) this.RESET_PURCHASE()
        // eslint-disable-next-line no-fallthrough
        case 'failure':
          this.SET_POPOVER_DATA({
            tryAgainRoute: {
              name: isFromTickets ? 'events-id-tickets' : 'events-id-promo',
              params: { id: this.event.url_id },
            },
          })
          this.TOGGLE_POPOVER(popoverConsts.paymentError)
          break

        default:
          break
      }

      this.$router.replace({ query })
    },
  },
  head() {
    return {
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.metaDescription,
        },
      ],
    }
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.event {
  margin-bottom: 60px;

  @media (min-width: $desktopSD) {
    margin-bottom: 120px;
  }

  &__sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }

  &__fixed {
    position: fixed;
    bottom: 0;
    z-index: 2;
    box-shadow: 0 -5px 10px 0 rgba(203, 214, 225, 0.1);

    @media (min-width: $sideShow) {
      max-width: calc(100% - 96px);
    }
    @media (min-width: $desktopHDp) {
      max-width: calc(100% - 112px);
    }
  }

  &__posters {
    margin-bottom: 11 * $base;
  }

  &__i-will-go {
    margin-bottom: 128px;

    @media (min-width: $desktopSD) {
      margin-bottom: 64px;
    }

    @media (min-width: $desktopHD) {
      margin-bottom: 78px;
    }

    @media (min-width: $sideShow) {
      margin-bottom: 70px;
    }

    @media (min-width: $desktopHDp) {
      margin-bottom: 74px;
    }
  }

  &__map {
    @media (max-width: $desktopSD - 1) {
      margin: 24px 0 0;
    }
  }

  &__comments {
    max-width: 856px;
    margin-bottom: 56px;

    @media (min-width: $desktopSD) {
      margin-bottom: 96px;
    }

    @media (min-width: $desktopHD) {
      margin-bottom: 80px;
    }

    @media (min-width: $desktopHDp) {
      margin-bottom: 72px;
    }
  }

  &__similar {
    margin-top: 48px;
  }

  &__body {
    box-sizing: content-box;
    overflow: hidden;
    margin-top: 10px;

    @media (min-width: $desktopHD) {
      overflow: initial;
      margin-top: 20px;
      //margin-left: piecewise-linear-margin($desktopHD, $sideShow, 82px, 136px);
    }

    @media (min-width: $sideShow) {
      margin-top: 24px;
      //margin-left: piecewise-linear-margin($sideShow, $desktopHDp, 40px, 112px);
    }

    @media (min-width: $desktopFullHD) {
      margin-top: 32px;
    }
  }

  &__fixed-footer {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 3;
    pointer-events: none;

    @media (min-width: $sideShow) {
      max-width: calc(100% - 112px);
    }
  }

  .fade-enter-active,
  .fade-leave-active {
    transition: opacity 0.5s;
  }
  .fade-enter,
  .fade-leave-to {
    opacity: 0;
  }
}
</style>
