<template>
  <div class="contact-popover popover popover_alert">
    <div
      class="popover-close-button ww-icn-cross"
      @click="closePopover('')"
    ></div>
    <Loader v-if="loader" :margin="0" />
    <span v-if="error.length">{{ error }}</span>
    <EventPosters v-if="!loader" :posters="posters" />
  </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  components: {
    Loader: () => import('~/components/common/Loader'),
    EventPosters: () =>
      import('~/components/events/create/step-3/EventPosters'),
  },
  props: {
    eventId: {
      type: Number,
      default: 0,
    },
  },
  data() {
    return {
      error: '',
      posters: {},
      loader: true,
    }
  },
  created() {
    this.getPosters()
  },
  methods: {
    ...mapActions({
      closePopover: 'TOGGLE_POPOVER',
    }),
    getPosters() {
      this.$store
        .dispatch('event/POSTERS', { id: this.eventId })
        .then(response => {
          this.posters = response
          this.loader = false
        })
        .catch(error => {
          console.log(error)
          this.loader = false
          this.error = error.response.data.detail
        })
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';
@import '~/assets/css/popover.scss';
</style>
