<template>
  <section v-if="!hasPosters" class="posters-section">
    <div class="flex v-center h-center" @click="getPosters">
      <div v-if="!loader" class="posters-loader">
        <img alt="" src="~static/poster-icon.svg" />
      </div>
      <div v-if="loader" class="posters-loader">
        <Loader :margin="0" />
      </div>
      <span class="posters-section__title">{{ $t('eventpage.posters') }}</span>
    </div>
    <span v-if="!loader && error.length" class="poster-err">{{ error }}</span>
  </section>
  <EventPosters v-else :posters="actualPosters" />
</template>

<script>
import { path } from 'ramda'
const isNotEmpty = obj => Object.keys(obj).length > 0
const notEmpty = obj => (isNotEmpty(obj) ? obj : null)

export default {
  components: {
    Loader: () => import('~/components/common/Loader'),
    EventPosters: () =>
      import('~/components/events/create/step-3/EventPosters'),
  },
  props: {
    posters: {
      type: Object,
      default: () => ({}),
    },
    eid: Number,
  },
  data: () => ({
    error: '',
    localPosters: {},
    loader: false,
  }),
  computed: {
    hasPosters() {
      return isNotEmpty(this.localPosters) || isNotEmpty(this.posters)
    },
    actualPosters() {
      return this.hasPosters
        ? notEmpty(this.localPosters) || notEmpty(this.posters)
        : {}
    },
  },
  methods: {
    getPosters() {
      this.loader = true
      this.$store
        .dispatch('event/POSTERS', { id: this.eid })
        .then(response => {
          this.localPosters = response
          this.loader = false
        })
        .catch(error => {
          this.loader = false
          let err = path(['response', 'data', 'non_field_error'], error)
          this.error = err || this.$t('error.posterErr')
        })
        .finally(() => {
          this.loader = false
        })
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.posters-section {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  cursor: pointer;

  &__title {
    color: $blue;
    margin-left: 2.5 * $base;
  }
  :hover {
    text-decoration: underline;
    text-decoration-color: $blue;
  }

  .poster-err {
    margin-top: 8px;
    color: #f50057;
  }
}

.posters-loader {
  width: 48px;
  height: 48px;
}
</style>
