<template>
  <div class="sticky-panel">
    <span v-if="promo" class="promote-button">
      <span class="promote-button__wrapper wrapper">
        <Icon src="icons/maloik.svg" size="m" class="promote-button__icon" />
        <span class="sticky-panel__text">{{ $t('eventpage.popular') }}</span>
      </span>
    </span>
    <nuxt-link v-else :to="url" class="promote-button">
      <span class="promote-button__wrapper wrapper">
        <Icon src="icons/megaphone.svg" size=" " class="promote-button__icon" />
        <span class="sticky-panel__text hidden-mobile-only">
          {{ $t('eventpage.promote') }}
        </span>
        <span class="sticky-panel__text hidden-desktopSD-and-up">
          {{ $t('eventpage.promoteShort') }}
        </span>
      </span>
    </nuxt-link>

    <button
      class="sticky-panel__my-event sticky-panel__text"
      @click="myEventHandler"
    >
      {{ $t('eventpage.thisIsMyEvent') }}
    </button>
  </div>
</template>

<script>
export default {
  components: {
    Icon: () => import('~/components/common/Icon'),
  },
  props: {
    promo: Boolean,
    url: {
      type: String,
      default: '#',
    },
  },
  methods: {
    myEventHandler() {
      this.$store.dispatch('popovers/TOGGLE_POPOVER', 'eventOwner')
    },
  },
}
</script>

<style lang="scss">
@import '~/assets/css/variables.scss';

.sticky-panel {
  height: 40px;
  display: grid;
  grid-template-columns: 50% 50%;
  z-index: 2;

  @media (min-width: $desktopSD) {
    grid-template-columns: auto 320px;
  }

  .promote-button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: $red;
    color: white;

    @media (min-width: $desktopSD) {
      justify-content: flex-start;
    }

    &:hover {
      background-color: $blue;
    }

    &__wrapper {
      display: grid;
      grid-auto-flow: column;
      align-items: center;
      grid-gap: 16px;

      @media (min-width: $desktopSD) {
        grid-gap: 24px;
      }
    }

    &__icon {
      height: 20px;
      width: 20px;
    }
  }

  &__my-event {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    &:hover {
      background-color: $blue;
    }
  }

  &__text {
    padding-top: 3px;
    font-size: 12px;
    font-weight: bold;
    line-height: 2;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    color: white;
  }
}
</style>
