<template>
  <div class="footer">
    <div class="wrapper">
      <FooterEventCard
        isBright
        :event="event"
        class="hidden-desktopHD-and-down"
      />
      <Actions :eventObj="event" />
    </div>
  </div>
</template>

<script>
export default {
  components: {
    Actions: () => import('./Actions'),
    FooterEventCard: () => import('./FooterEventCard'),
  },
  props: {
    event: Object,
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.footer {
  background-color: #fff;
  width: 100%;
  padding: 16px 0;

  .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 16px;

    @media (min-width: $sideShow) {
      grid-template-columns: 1fr auto;
    }
  }
}
</style>
