<template>
  <component
    :is="component"
    :id="buttonNodeId"
    :class="{ 'ticket-btn--full-width': fullWidth }"
    class="ticket-btn"
    v-bind="params"
    @click.native="trackClick"
  >
    <span class="ticket-btn__label">{{ text }}</span>
  </component>
</template>

<script>
import { path } from 'ramda'
import { formatPriceText } from '~/utils'
import { trackBuyTicketsBtnOnEventPage } from '~/utils/analytics'

export default {
  props: {
    event: {
      type: Object,
      required: true,
    },
    fullWidth: Boolean,
  },
  computed: {
    externalEventId() {
      return path(['event', 'tickets', 'data', 'id'], this.event)
    },
    eventUrlId() {
      return path(['event', 'url_id'], this.event)
    },
    tickets() {
      return path(['event', 'tickets'], this.event) || {}
    },
    provider() {
      return path(['event', 'tickets', 'provider'], this.event)
    },
    isUrlProvider() {
      return this.provider === 'url'
    },
    isWwProvider() {
      return this.provider === 'whatwhere'
    },
    text() {
      return formatPriceText({
        max: this.tickets.max_price,
        min: this.tickets.min_price,
      })
    },
    component() {
      // prettier-ignore
      return this.isWwProvider
        ? 'nuxt-link'
        : (this.isUrlProvider ? 'a' : 'button')
    },
    params() {
      if (this.isWwProvider) {
        return {
          to: {
            name: 'events-id-tickets',
            params: { id: this.eventUrlId },
          },
        }
      } else if (this.isUrlProvider) {
        return {
          href: this.tickets.data.url,
          target: '_blank',
        }
      }

      const timepadState = { event_id: this.externalEventId }
      return { 'data-twf-target-state': JSON.stringify(timepadState) }
    },
    buttonNodeId() {
      return 'event-buy-trigger-' + this._uid
    },
    providers() {
      return {
        'eventbrite.com': {
          src: 'https://www.eventbrite.com/static/widgets/eb_widgets.js',
        },
        'timepad.ru': {
          hid: 'timepad',
          charset: 'UTF-8',
          src: 'https://timepad.ru/js/tpwf/loader/min/loader.js',
          defer: 'defer',
          async: 'async',
          'data-timepad-widget-v2': 'event_register',
          'data-timepad-customized': '47731',
          innerHTML: `(function() {return {"hidePreloading": true,"display": "popup",
            "popup": {"triggerSelector": "#${this.buttonNodeId}"}}})();`,
        },
      }
    },
  },
  mounted() {
    if (this.isUrlProvider || this.isWwProvider) return

    this.loadProviderScript(this.providers[this.provider])
  },
  methods: {
    initWidget() {
      if (this.provider !== 'eventbrite.com') return
      const cb = () => console.log('complete')

      window.EBWidgets.createWidget({
        widgetType: 'checkout',
        eventId: this.externalEventId,
        modal: true,
        modalTriggerElementId: this.buttonNodeId,
        onOrderComplete: cb,
      })
    },
    async loadProviderScript(attr) {
      if (!attr) return
      return new Promise((resolve, reject) => {
        const script = document.createElement('script')
        for (const src in attr) {
          script.setAttribute(src, attr[src])
        }
        script.async = true
        script.onload = () => {
          this.initWidget()
          resolve()
        }
        document.head.appendChild(script)
      })
    },
    trackClick() {
      trackBuyTicketsBtnOnEventPage(this)
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';
.ticket-btn {
  background-color: $blue;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  font-weight: bold;
  letter-spacing: 0.6px;
  min-width: 0;
  font-size: 12px;
  line-height: 2;

  @media (min-width: $desktopSD) {
    letter-spacing: 0.8px;
    font-size: 16px;
    line-height: 1.5;
  }

  &:hover {
    cursor: pointer;
    background-color: $red;
  }

  &--full-width {
    width: 100%;
  }

  &__label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @media (min-width: $desktopSD) {
      padding: 0 120px;
    }
  }
}
</style>
