<template>
  <div>
    <div class="hidden-desktopHD-and-down">
      <Side class="side" />
      <Top class="top" />
    </div>
    <div class="hidden-sideShow-and-up">
      <MobileTop />
    </div>
    <LayoutCommon />

    <nuxt />
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import { path, mergeDeepRight } from 'ramda'

import { getLocation } from '~/utils/geolocation'
import cookieConsts from '~/utils/cookieConsts'
import { metaCommon } from '~/utils/metaInfo'
import popConsts from '~/utils/popoverConsts'
import { makeGeoString } from '~/utils'
import userecho from '~/utils/userecho'

import LayoutCommon from '~/components/containers/LayoutCommon'
import Top from '~/components/default/Top'
import MobileTop from '~/components/default/MobileTop'
import Side from '~/components/default/Side'

export default {
  components: {
    LayoutCommon,
    Top,
    MobileTop,
    Side,
  },
  computed: {
    ...mapGetters({
      HAS_USER: 'user/HAS_USER',
      geoCity: 'city/GET_GEO_CITY',
      getCity: 'city/GET_CITY',
    }),
  },
  async beforeMount() {
    await this.initGeo()
    this.clearCookie()
  },
  async mounted() {
    await this.initFlow()
    this.checkQuery()
    document.addEventListener("wheel", function(event){
      if(document.activeElement.type === "number"){
        document.activeElement.blur();
      }
    });
  },
  beforeDestroy() {
    this.$store.dispatch('auth/CLEAR_REFRESH_TIMER')
  },
  head() {
    return mergeDeepRight(
      {
        title: this.$t('seo.title'),
        htmlAttrs: {
          lang: this.$i18n.locale,
        },
        meta: [
          {
            name: 'viewport',
            content: 'width=device-width, initial-scale=1, user-scalable=no',
          },
          ...metaCommon.call(this),
        ],
      },
      userecho
    )
  },
  methods: {
    ...mapActions({
      CHECK_COOKIE_IS_ACCEPTED: 'user/CHECK_COOKIE_IS_ACCEPTED',
      setBannerFromQuery: 'popovers/SET_BANNER_FROM_QUERY',
      togglePopover: 'popovers/TOGGLE_POPOVER',
    }),
    checkQuery() {
      if (path(['query', 'for_organizers'], this.$route)) {
        this.togglePopover(popConsts.forOrganizer)
      }

      if (path(['query', 'params'], this.$route) === 'notAuth') {
        this.togglePopover(popConsts.auth)

        const { params, ...restQuery } = this.$route.query
        this.$router.replace({ query: restQuery })
      }
    },
    async initFlow() {
      const simple = this.$cookies.get('simple')
      const token = this.$cookies.get('auth')

      if (token && this.$store.getters['auth/IS_AUTH']) {
        try {
          if (token && !this.HAS_USER) {
            await this.$store.dispatch('user/GET_USER_DATA')
          }

          if (simple) {
            this.$store.commit('auth/SET_SIMPLE', true)
            return
          } else {
            await this.$store.dispatch('auth/START_REFRESHER')
          }
        } catch {
          if (!simple) {
            this.$store.dispatch('auth/CLEAR_USER_DATA')
          }
        }
      }

      this.CHECK_COOKIE_IS_ACCEPTED()
      this.setBannerFromQuery()
    },
    async initGeo() {
      const selectedCity = this.$cookies.get('userSelectedCity')
      const citySelectionDate = this.$cookies.get('citySelectionDate')
      const isCityOutdated = this.getIsCityOutdated(citySelectionDate);
      const cityFromUrl = this.$route.name === 'city'
        ? this.$route.params.city.split('-')[0]
        : '';

      if (selectedCity && selectedCity !== cityFromUrl) {
        await this.$store.dispatch('city/GET_USER_CITY', selectedCity)
      }

      if (!selectedCity || selectedCity && isCityOutdated) {
         try {
          const geo = await getLocation()
          this.$store.commit('city/SET_GEO_LOADER', true)
          await this.$store.dispatch('city/SAVE_GEO', {
            lat: geo.lat,
            lng: geo.lng,
          })

          const getCityData = {
            geo: makeGeoString({ lng: geo.lng, lat: geo.lat }),
            expand: 'cover'
          }
          await this.$store.dispatch('city/GEO_CITY', getCityData)
          this.$store.commit('city/FINISH_CITY_DETECTING', true)
          this.$store.commit('city/SET_USER_CITY', this.geoCity)

          if (selectedCity === this.geoCity.id) {
            this.$cookies.set(
              'citySelectionDate',
              this.$moment.utc().format(),
              { maxAge: 60*60*24*30, path: '/' }
            )
          }
        } catch {
          this.$store.commit('city/SET_GEO_LOADER', false)
          this.$store.commit('city/FINISH_CITY_DETECTING', true)
          this.$store.commit('city/SET_USER_CITY', this.getCity)

          if (selectedCity === this.getCity.id) {
            this.$cookies.set(
              'citySelectionDate',
              this.$moment.utc().format(),
              { maxAge: 60*60*24*30, path: '/' }
            )
          }
        }
      }
    },
    clearCookie() {
      this.$cookies.remove(cookieConsts.eventLayoutName)
    },
    getIsCityOutdated(date) {
      if (!date){
        return true
      }
      const twoWeeksAgo = this.$moment().utc().subtract(14, 'days').format();
      return this.$moment.utc(date).isBefore(twoWeeksAgo);
    },
  },
}
</script>

<style lang="scss">
@import '~/assets/css/variables.scss';
@import '~/assets/css/base.scss';
</style>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';
@import '~/assets/css/popover.scss';

.side {
  left: 0;
  height: 100vh;
  position: fixed;
  z-index: 4;
  width: $ww-side-width-1;

  @media (min-width: $desktopHDp) {
    width: $ww-side-width;
  }
}
</style>
