<template>
  <div>
    <LayoutCommon />

    <nuxt />
  </div>
</template>

<script>
import LayoutCommon from '~/components/containers/LayoutCommon'

import { metaCommon } from '~/utils/metaInfo'

export default {
  head() {
    return {
      title: this.$t('seo.title'),
      bodyAttrs: {
        class: 'empty',
      },
      htmlAttrs: {
        lang: this.$i18n.locale,
      },
      meta: [
        {
          name: 'viewport',
          content: 'width=device-width, initial-scale=1, user-scalable=no',
        },
        ...metaCommon.call(this),
      ],
    }
  },

  components: {
    LayoutCommon,
  },
}
</script>

<style lang="scss">
@import '~/assets/css/variables.scss';
@import '~/assets/css/base.scss';

body.empty {
  padding-left: 0;
  padding-bottom: 192px;
}
</style>
