<i18n>
{
  "ru": {
    "errorOccurred": "Произошла ошибка {code}"
  },
  "en": {
    "errorOccurred": "Error {code} occured"
  },
  "es": {
    "errorOccurred": "Error {code} occured"
  }
}
</i18n>

<template>
  <div class="wrapper error-page">
    <Error404 v-if="error.statusCode === 404" :message="error.erorrMessage" />
    <Error500
      v-else-if="error.statusCode === 500"
      :message="error.erorrMessage"
    />
    <h1 v-else>{{ errorMessage }}</h1>
  </div>
</template>

<script>
import { metaCommon } from '~/utils/metaInfo'
import { mergeDeepRight } from 'ramda'
import userecho from '~/utils/userecho'

export default {
  components: {
    Error404: () => import('~/components/errors/404.vue'),
    Error500: () => import('~/components/errors/500.vue'),
  },
  props: ['error'],
  computed: {
    errorMessage() {
      return (
        this.error.erorrMessage ||
        this.$t('errorOccurred', { code: this.error.statusCode })
      )
    },
  },
  created() {
    if (this.error.statusCode !== 404) {
      console.error(`Error: ${this.error.message}`)
    }
  },
  head() {
    return mergeDeepRight(
      {
        htmlAttrs: {
          lang: 'ru',
        },
        title: `${this.error.statusCode}`,
        meta: [
          { 'http-equiv': 'X-UA-Compatible', content: 'IE=edge' },
          { charset: 'utf-8' },
          {
            name: 'viewport',
            content: 'width=device-width, initial-scale=1, user-scalable=no',
          },
          {
            hid: 'description',
            name: 'description',
            content: 'content',
          },
          ...metaCommon.call(this),
        ],
      },
      userecho
    )
  },
}
</script>

<style lang="scss" scoped>
.error-page {
  margin-top: 16px;
}
</style>
