<template>
  <nuxt v-if="isShow" />
</template>

<script>
import { metaCommon } from '~/utils/metaInfo'

export default {
  head() {
    return {
      bodyAttrs: {
        class: 'iframe',
      },
      meta: [
        {
          name: 'viewport',
          content: 'width=device-width, initial-scale=1, user-scalable=no',
        },
        ...metaCommon.call(this),
      ],
    }
  },

  data: () => ({
    isShow: false,
  }),

  async created() {
    /*
      Lang detection is async, so we add v-if on main component;
      We need to detect lang on iframe layout, because it is generetated with nuxt to html
      and served with nginx (not ssr)
    */
    await this.detectLang()
    this.isShow = true
  },

  methods: {
    async detectLang() {
      const { query } = this.$route

      const queryLang = (await this.$store.dispatch(
        'lang/CHECK_LANG',
        query.lang,
      ))
        ? query.lang
        : null
      const cookieLang = this.$cookies.get('django_language')

      const lang = queryLang || cookieLang || 'en'
      this.$store.commit('lang/SET_LANG', lang)

      const locale = this.$store.getters['lang/LANG']
      this.$i18n.locale = locale
      this.$moment.locale(locale)
    },
  },
}
</script>

<style lang="scss">
@import '~/assets/css/variables.scss';
// @import '~/assets/css/base.scss';

body.iframe {
  padding: 0;
}
</style>
