<template>
  <div>
    <LayoutCommon/>
    <nuxt/>
  </div>
</template>

<script>
import LayoutCommon from '~/components/containers/LayoutCommon'
import { metaCommon } from '~/utils/metaInfo'
import { mapActions } from 'vuex'

export default {
  components: {
    LayoutCommon,
  },
  async mounted() {
    await this.initFlow()
  },
  methods: {
    ...mapActions({
      CHECK_COOKIE_IS_ACCEPTED: 'user/CHECK_COOKIE_IS_ACCEPTED',
      setBannerFromQuery: 'popovers/SET_BANNER_FROM_QUERY',
    }),
    async initFlow() {
      const simple = this.$cookies.get('simple')
      const token = this.$cookies.get('auth')

      if (token && this.$store.getters['auth/IS_AUTH']) {
        try {
          if (token && !this.HAS_USER) {
            await this.$store.dispatch('user/GET_USER_DATA')
          }

          if (simple) {
            this.$store.commit('auth/SET_SIMPLE', true)
            return
          } else {
            await this.$store.dispatch('auth/START_REFRESHER')
          }
        } catch {
          if (!simple) {
            this.$store.dispatch('auth/CLEAR_USER_DATA')
          }
        }
      }

      this.CHECK_COOKIE_IS_ACCEPTED()
      this.setBannerFromQuery()
    },
  },
  head() {
    return {
      title: this.$t('seo.title'),
      bodyAttrs: {
        class: 'marketplace',
      },
      htmlAttrs: {
        lang: this.$i18n.locale,
      },
      meta: [
        {
          name: 'viewport',
          content: 'width=device-width, initial-scale=1, user-scalable=no',
        },
        ...metaCommon.call(this),
      ],
    }
  },
}
</script>

<style lang="scss">
@import '~/assets/css/variables.scss';
@import '~/assets/css/base.scss';

body.marketplace {
  padding-left: 0;
  padding-bottom: 0;
}
</style>