<template>
  <div>
    <div class="desktop-only">
      <Side class="side" />
      <Top class="top" />
    </div>
    <div class="mobile-only">
      <MobileTop />
    </div>
    <LayoutCommon />
    <nuxt />
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { mergeDeepRight } from 'ramda'

import { metaCommon } from '~/utils/metaInfo'
import userecho from '~/utils/userecho'
import popConsts from '~/utils/popoverConsts'
import LayoutCommon from '~/components/containers/LayoutCommon'

export default {
  components: {
    Top: () => import('~/components/default/Top'),
    MobileTop: () => import('~/components/default/MobileTop'),
    Side: () => import('~/components/default/Side'),
    LayoutCommon,
  },

  data: () => ({ popConsts }),

  computed: {
    ...mapGetters({
      openedPopover: 'popovers/OPENED_POPOVER',
    }),
  },

  head() {
    return mergeDeepRight(
      {
        title: this.$t('seo.title'),
        htmlAttrs: {
          lang: this.$i18n.locale,
        },
        meta: [
          {
            name: 'viewport',
            content: 'width=device-width, initial-scale=1, user-scalable=no',
          },
          ...metaCommon.call(this),
        ],
      },
      userecho
    )
  },
}
</script>

<style lang="scss">
@import '~/assets/css/variables.scss';
@import '~/assets/css/base.scss';
</style>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.side {
  left: 0;
  height: 100vh;
  position: fixed;
  z-index: 2;
  width: 112px;
}

.desktop-only {
  display: none;
  @media (min-width: $sideShow) {
    display: block;
  }
}
.mobile-only {
  display: block;
  margin-bottom: 8px;
  @media (min-width: $desktopSD) {
    margin-bottom: 32px;
  }
  @media (min-width: $desktopHD) {
    margin-bottom: 64px;
  }
  @media (min-width: $sideShow) {
    display: none;
    margin-bottom: 0;
  }
}
</style>
