<template>
  <span
    class="icon"
    :class="size"
    @click="$emit('click')"
  />
</template>

<script>
let cache = new Map()

const hasLeadSlashRE = /^\//
const hasTailSlashRE = /\/$/
const hasTailSvgRE = /\.svg$/

export default {
  props: {
    src: {
      type: String,
      required: true,
    },
    size: {
      type: String,
      default: 's',
    }
  },
  watch: {
    src() {
      this.load()
    },
  },
  mounted() {
    this.load()
  },
  methods: {
    async load() {
      const STATIC_PATH = process.env.STATIC_PATH
      const sep = !hasTailSlashRE.test(STATIC_PATH) ? '/' : ''
      let src = this.src

      if (!hasTailSvgRE.test(src)) {
        src += '.svg'
      }
      if (hasLeadSlashRE.test(src)) {
        src = src.slice(1)
      }
      src = STATIC_PATH + sep + src

      if (!cache.has(src)) {
        try {
          cache.set(src, fetch(src).then(r => r.text()))
        } catch (e) {
          cache.delete(src)
        }
      }
      if (cache.has(src)) {
        this.$el.innerHTML = await cache.get(src)
        this.$el.firstElementChild.style = 'height: inherit; width: inherit;'
      }
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.xxs{
  height: 6px;
  width: 6px;
}
.xs {
  height: 10px;
  width: 10px;
}
.s {
  height: 16px;
  width: 16px;
}
.m {
  height: 24px;
  width: 24px;
}
.l {
  height: 32px;
  width: 32px;
}
.xl {
  height: 48px;
  width: 48px;
}
</style>
