<template>
  <div :class="errorStyles">
    <span v-if="$slots['form-label']" class="label">
      <slot name="form-label"></slot>
    </span>
    <div class="create-evt-input">
      <div
        class="create-evt-input__field"
        :style="fullWidth ? 'max-width: 100%' : ''"
      >
        <slot></slot>
      </div>
      <transition name="fade">
        <span
          v-if="serverError.error || errorMessage || serverErrorText"
          class="error-msg"
          data-form-error
        >
          {{ errMessage || serverErrorText }}
        </span>
      </transition>
    </div>
  </div>
</template>

<script>
import { path, is } from 'ramda'

export default {
  name: 'FormRow',

  props: {
    error: {
      type: Object,
      default: () => ({}),
    },
    serverErrorText: String,
    serverError: {
      type: Object,
      default: () => ({}),
    },
    fullWidth: Boolean,
    align: String,
  },
  computed: {
    errorStyles() {
      if (this.align) {
        return `create-evt-field err-msg__${this.align}`
      } else return 'create-evt-field'
    },
    errMessage() {
      return this.serverError.error
        ? (!this.serverErrorIsObj && this.serverError.errorMessage) ||
            this.serverError.errorMessage[0][0] ||
            ''
        : this.errorMessage
    },
    serverErrorIsObj() {
      return is(Object, this.serverError.errorMessage)
    },
    errorMessages() {
      return {
        required: this.$t('validation.required'),
        email: this.$t('validation.email'),
        minLength: `${this.$t('validation.lenMin')} ${path(
          ['$params', 'minLength', 'min'],
          this.error,
        )}`,
        maxLength: `${this.$t('validation.lenMax')} ${path(
          ['$params', 'maxLength', 'max'],
          this.error,
        )}`,
        periodRequired: this.$t('validation.required'),
      }
    },
    errorMessage() {
      if (path(['$error'], this.error)) {
        const errors = Object.keys(this.error.$params).filter(
          k => !this.error[k],
        )
        return errors.map(e => this.errorMessages[e]).join(', ')
      }

      return ''
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.err-msg__bottom {
  .error-msg {
    margin-bottom: 10px;
  }
  .create-evt-input {
    align-items: flex-end;
  }
}

.create-evt-field {
  position: relative;
  display: flex;
  flex-flow: column;
  margin-top: 5 * $base;
}

.create-evt-input {
  position: relative;
  display: flex;
  // flex-flow: column;
  align-items: center;
  width: 100%;
  @media screen and (max-width: 768px) {
    flex-flow: column;
    align-items: flex-start;
  }
  &__field {
    max-width: 856px;
    flex: 1;
    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }
}

.error-msg {
  display: flex;
  padding: 9px 16px;
  // position: absolute;
  align-items: center;
  height: 100%;
  right: 0;
  // margin-top: 0.5 * $base;
  color: #fff;
  background-color: #f50052;
  @media screen and (max-width: 768px) {
    margin-top: 8px;
  }

  .err-msg__bottom {
    margin-bottom: 10px;
  }
}
</style>
