<i18n>
{
  "ru": {
    "namePlaceholder": "Имя",
    "phonePlaceholder": "Телефон",
    "emailPlaceholder": "Электронная почта",
    "fillInfo": "Укажите контактные данные",
    "sendInfo": "Отправить",
    "successNotification": "Спасибо за заказ! Мы свяжемся с вами в ближайшее время"
  },
  "en": {
    "namePlaceholder": "Name",
    "phonePlaceholder": "Phone number",
    "emailPlaceholder": "E-mail",
    "fillInfo": "Enter your contact information",
    "sendInfo": "Send",
    "successNotification": "Thank you for your order! We will contact you shortly"
  },
  "es": {
    "namePlaceholder": "Nombre",
    "phonePlaceholder": "Teléfono",
    "emailPlaceholder": "Correo electrónico",
    "fillInfo": "Introduzca su información de contacto",
    "sendInfo": "Enviado",
    "successNotification": "¡Gracias por su orden! Nos pondremos en contacto con usted en breve"
  }
}
</i18n>

<template>
  <ModalContainer>
    <div class="info-form">
      <div class="popover-close-button">
        <button
          v-tooltip.auto="$t('popovers.close')"
          class="ww-icn-cross"
          @click="TOGGLE_POPOVER('')"
        ></button>
      </div>
      <h2 class="info-form__title" v-html="$t('fillInfo')" />
      <form @submit.prevent="sendInfo">
        <CustomInput
          v-model="name"
          class="form__field"
          type="user"
          required
          :placeholder="$t('namePlaceholder')"
          :error="$v.name.$error"
          @blur="$v.name.$touch()"
        />
        <MailInput
            v-model="email"
            style="margin-bottom: 16px;"
            :placeholder="$t('emailPlaceholder')"
            required
            icon
        />
        <CustomInput
          v-model="phone"
          class="form__field"
          type="tel"
          required
          :placeholder="$t('phonePlaceholder')"
          :error="$v.phone.$error"
          @blur="$v.phone.$touch()"
        />
        <Button invert type="submit">{{ $t('sendInfo') }}</Button>
      </form>
    </div>
  </ModalContainer>
</template>

<script>
import { mapActions } from 'vuex'
import { required } from 'vuelidate/lib/validators'

import Button from '~/components/common/buttons/Button'
import CustomInput from '~/components/common/popovers/Input'
import ModalContainer from '~/components/common/popovers/ModalContainer'

import { infoRequest } from '~/api'

export default {
  name: 'InfoFormPopover',

  components: {
    Button,
    CustomInput,
    ModalContainer,
    MailInput: () => import('~/components/common/input/MailInput'),
  },

  data: () => ({
    name: '',
    email: '',
    phone: '',
  }),

  validations: {
    name: {
      required,
    },
    phone: {
      required,
    },
  },

  methods: {
    ...mapActions({
      TOGGLE_POPOVER: 'popovers/TOGGLE_POPOVER',
      showSuccess: 'notifications/success',
    }),
    async sendInfo() {
      this.$v.$touch()

      if (!this.$v.$error) {
        try {
          await infoRequest(this.$axios).post({
            body: {
              action: 5,
              name: this.name,
              phone: this.phone,
              email: this.email,
            },
          })
          this.showSuccess(this.$t('successNotification'))
          this.TOGGLE_POPOVER()
          this.$router.push('/')
        } catch (e) {}
      }
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';
@import '~/assets/css/popover.scss';

.info-form {
  background: $blue;
  padding: 16px;
  max-width: 704px;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: auto;

  @media (min-width: $desktopSD) {
    padding: 72px;
    height: auto;
  }

  &__title {
    @include text(5);
    color: #fff;
    margin-bottom: 30px;
    margin-right: 40px;

    @media (min-width: $desktopSD) {
      margin-right: 0;
    }
  }
}

.form {
  &__field {
    &:not(:last-of-type) {
      margin-bottom: 16px;
    }

    &:last-of-type {
      margin-bottom: 40px;
    }
  }
}
</style>
