<i18n>
{
  "ru": {
    "select_date": "Дата"
  },
  "en": {
    "select_date": "Select date"
  },
  "es": {
    "select_date": "Seleccione la fecha"
  }
}
</i18n>
<template>
  <div class="ww__datepicker">
    <WwDatePicker
      :value="value"
      :format="fmtDate"
      :inline="inline"
      :inputClass="inputClass"
      :calendarClass="calendarClass"
      :wrapperClass="wrapperClass"
      :placeholder="displayPlaceholder"
      :language="langs[lang]"
      :mondayFirst="lang === 'ru'"
      v-bind="$attrs"
      @input="changeDate"
      v-on="$listeners"
    />
  </div>
</template>

<script>
import { lightFormat, isValid } from 'date-fns'
import { isNil } from "ramda"
import { Datepicker as WwDatePicker } from 'ww-datetimepicker'
import { en, es, ru } from 'ww-datetimepicker/dist/locale'

export default {
  components: { WwDatePicker },
  props: {
    value: [Date, Number],
    format: String,
    inline: Boolean,
    inputClass: [String, Object, Array],
    calendarClass: [String, Object, Array],
    wrapperClass: [String, Object, Array],
    placeholder: String,
    error: Boolean,
  },
  computed: {
    fmtDate() {
      // https://github.com/charliekassel/vuejs-datepicker#string-formatter
      return this.format || 'dd MMM, D'
    },
    langs() {
      return { en, ru, es }
    },
    lang() {
      return this.$i18n.locale
    },
    displayPlaceholder(){
      if (isNil(this.placeholder)){
        return ''
      }
      return this.placeholder || this.$t('select_date')
    }
  },
  methods: {
    changeDate(e) {
      this.$emit('input', e)
      this.$emit('date:change', e)
      if (isValid(e)) {
        this.$emit('date:formatted', lightFormat(e, 'dd.MM.yyyy'))
      } else {
        this.$emit('date:formatted', null)
      }
    },
  },
}
</script>
