<template>
  <div
    class="stat-string"
    :class="{
    [`stat-string--${variant}`]: variant,
    'stat-string--has-hover': hasHover
  }"
  >
    <span v-if="$slots.icon" class="stat-string__icon">
      <slot name="icon" />
    </span>

    <span class="stat-string__text">
      <slot name="text" />:
    </span>
    <span class="stat-string__left">
      &nbsp;
      <slot name="left" />
    </span>
    <span v-if="$slots.right" class="stat-string__right">
      &nbsp;/
      <slot name="right" />
    </span>
  </div>
</template>

<script>
export default {
  name: 'StatString',

  props: {
    variant: {
      type: String,
      default: '',
      validator: color => ['', 'blue'].includes(color),
    },
    hasHover: Boolean,
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.stat-string {
  display: flex;
  align-items: center;

  &--has-hover {
    &:hover {
      .stat-string__text {
        text-decoration: underline;
      }
    }
  }

  &--blue {
    color: $blue;

    .stat-string {
      &__icon {
        color: $blue;
      }

      &__text {
        color: $blue;
      }

      &__left {
        color: $blue;
      }

      &__right {
        font-weight: bold;
        color: #c1d2e8;
      }
    }
  }

  &__icon {
    display: inline-block;
    margin-right: 10px;
  }

  &__left {
    font-weight: bold;
  }

  &__right {
    color: #c6c7c8;
  }
}
</style>