<template>
  <div class="answer">
    <Avatar :user="user" size="48" class="answer__avatar" />
    <label class="answer__label">
      <input
        ref="input"
        v-model="text"
        v-focus="focus"
        type="text"
        :placeholder="$t('comments.yourComment')"
        class="answer__input"
        @blur="$emit('blur')"
        @keydown.enter="send"
      />
      <span class="answer__enter">
        <button
          v-tooltip.auto="$t('comments.send')"
          class="answer__button"
          @click="send"
        >
          <Icon src="icons/enter.svg" size="m" />
        </button>
      </span>
    </label>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { path, prop } from 'ramda'

export default {
  name: 'Answer',
  components: {
    Avatar: () => import('~/components/common/Avatar'),
    Icon: () => import('~/components/common/Icon'),
  },
  props: {
    focus: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return { text: '' }
  },
  computed: {
    ...mapGetters({ user: 'user/GET_USER' }),
    avatarImage() {
      return path(['avatar', 'image'], this.user)
    },
    fullName() {
      return prop('name', this.user) || ''
    },
  },
  watch: {
    focus(value) {
      if (value) {
        this.$refs.input.focus()
      }
    },
  },
  methods: {
    send() {
      if (this.text.length) {
        this.$emit('input', this.text)
        this.text = ''
      }
    },
  },
}
</script>

<style scoped lang="scss">
@import '~/assets/css/variables.scss';

.answer {
  display: flex;
  flex-direction: row;
  height: 64px;

  &__avatar {
    margin-right: $base;
  }

  &__label {
    height: 100%;
    width: 100%;
    position: relative;
  }
  &__input {
    padding-right: 8 * $base;
    @include text(2);
    &:focus {
      box-shadow: none;
      border: 1px solid $blue;
    }
    &:focus ~ .answer__enter {
      visibility: visible;
    }
  }
  &__enter {
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
    &:hover {
      visibility: visible;
    }
  }
  &__button {
    height: 64px;
    width: 64px;
    color: $blue;
  }
}
</style>
