<template>
  <div class="comment">
    <Avatar :user="user" size="48" class="comment__avatar" />
    <div class="comment__body">
      <div>
        <a v-if="isHidden" class="comment__author">
          {{ $t('comments.hiddenUser') }}
        </a>
        <WLink
          v-else-if="profileLink && fullName"
          :href="profileLink"
          class="comment__author"
        >
          {{ fullName }}
        </WLink>
         <span class="comment__time">{{ duration }}</span>
      </div>

      <p class="comment__text">
        <i v-if="['banned', 'hidden'].includes(comment.status)">
          {{ $t(comment.status) }}
        </i>
        <template v-else>{{ comment.comment }}</template>
      </p>
      <button v-only-auth:click="reply" class="comment__reply">
        {{ $t('comments.reply') }}
      </button>
    </div>
  </div>
</template>

<script>
import { prop } from 'ramda'
import moment from 'moment'

export default {
  name: 'Comment',
  components: {
    Avatar: () => import('~/components/common/Avatar'),
    WLink: () => import('~/components/common/WLink'),
  },
  props: {
    comment: {
      type: Object,
      required: true,
    },
  },
  computed: {
    user() {
      return prop('created_by', this.comment) || {}
    },
    isHidden() {
      return this.comment.status === 'hidden'
    },
    fullName() {
      return this.isHidden ? ' ' : this.user.name || ' '
    },
    profileLink() {
      return this.user.id ? `/profile/${this.user.id}/` : null
    },
    duration() {
      return this.comment.since_created
        ? moment(moment() - this.comment.since_created * 1000).fromNow()
        : ''
    },
  },
  methods: {
    reply() {
      this.$emit('reply')
    },
  },
}
</script>

<style scoped lang="scss">
@import '~/assets/css/variables.scss';

.comment {
  display: flex;
  flex-direction: row;

  &__avatar {
    margin-right: $base;
  }
  &__author {
    margin-right: $base;
  }
  // &__time {
  //   @include text(1.5);
  //   opacity: 0.4;
  // }
  &__body {
    width: 100%;
    padding: $base 2 * $base;
    background-color: white;
    @media (min-width: 768px) {
      padding: $base 3 * $base;
    }
  }
  &__text {
    margin: 0;
    word-break: break-word;
  }
  &__reply {
    @include text(1.5);
    opacity: 0.4;
    margin-left: -6px;

    &:hover {
      opacity: 1;
    }
  }
}
</style>
