<template>
  <ul class="comment-tree">
    <li
      v-for="comment in parentComments"
      :key="comment.id"
      class="comment-tree__item"
    >
      <Comment
        :key="'comment' + comment.id"
        :comment="comment"
        class="comment-tree__comment"
        @reply="showAnswerField = comment.id"
      />
      <div class="comment-tree__tree">
        <CommentTree
          :key="'commentTree' + comment.id"
          :comments="comments"
          :parent="comment.id"
          :fetchMore="fetchMore"
          @send="sendComment"
        />

        <Loader v-if="loading === comment.id" :margin="20" />
        <MoreCommentButton
          v-show="loading !== comment.id && numberLeftComments(comment)"
          :id="comment.id"
          :key="'button' + comment.id"
          :number="numberLeftComments(comment)"
          :fetchMore="fetchMore"
          class="comment-tree__show-more-comments"
          @load="loading = $event"
        />
        <Answer
          :id="'answer' + comment.id"
          :key="'answer' + comment.id"
          :focus="showAnswerField === comment.id"
          :class="{
            'comment-tree__answer--show': showAnswerField === comment.id,
          }"
          class="comment-tree__answer"
          @blur="closeAnswer(comment.id)"
          @input="sendComment({ parent: comment.id, comment: $event })"
        />
      </div>
    </li>
  </ul>
</template>

<script>
export default {
  name: 'CommentTree',
  components: {
    Answer: () => import('./Answer'),
    Comment: () => import('./Comment'),
    Loader: () => import('~/components/common/Loader'),
    MoreCommentButton: () => import('./MoreCommentButton'),
  },
  props: {
    comments: {
      type: Array,
      required: true,
    },
    parent: {
      type: Number,
      default: null,
    },
    fetchMore: {
      type: Function,
      required: true
    },
  },
  data() {
    return {
      loading: null,
      showAnswerField: null,
    }
  },
  computed: {
    parentComments() {
      return this.parent
        ? this.comments.filter(comment => comment.parent === this.parent)
        : this.comments.filter(comment => !comment.parent)
    },
  },
  methods: {
    closeAnswer(id) {
      if (this.showAnswerField === id) {
        this.showAnswerField = null
      }
    },
    sendComment({ parent, comment }) {
      this.showAnswerField = null
      this.$emit('send', { parent, comment })
    },
    scrollTo(id) {
      document
        .getElementById('answer' + id)
        .scrollIntoView({ behavior: 'smooth', block: 'center' })
    },
    numberLeftComments(comment) {
      const number =
        comment.children_count -
        this.comments.filter(c => c.parent === comment.id).length
      return number > 0 ? number : 0
    },
  },
}
</script>

<style scoped lang="scss">
@import '~/assets/css/variables.scss';

.comment-tree {
  &__show-more-comments {
    margin-top: 2 * $base;
    margin-bottom: $base;
  }
  &__answer {
    margin: 0;
    max-height: 0;
    overflow: hidden;
    transition: all 300ms ease-in-out;

    &--show {
      margin-top: $base;
      margin-bottom: 3 * $base;
      max-height: 600px;
      overflow: visible;
    }
  }
  &__item {
    margin-top: $base;
    display: grid;
    grid-template-columns: minmax(0, 56px) minmax(300px, 100%);
    grid-template-areas:
      'comment comment'
      '. comment-tree';
  }
  &__comment {
    grid-area: comment;
  }
  &__tree {
    grid-area: comment-tree;
  }
}
</style>
