<template>
  <div class="comments">
    <div v-if="$slots.label" class="comments__title">
      <slot name="label" />
    </div>
    <h2 v-else class="comments__title">{{ $t('comments.comments') }}</h2>

    <slot name="button" >
      <Button
        v-only-auth:click="scrollTo"
        :inlineColor="color"
        :noHover="noHover"
        class="comments__write-comment-button"
      >
        {{ $t('comments.writeComment') }}
      </Button>
    </slot>

    <CommentTree :comments="comments" :fetchMore="FETCH_MORE" @send="sendComment" />
    <Loader v-if="loading" />
    <button
      v-else-if="isMoreComments"
      class="comments__show-more-comments"
      @click="fetchNextComments"
    >
      {{ $tc('comments.showEarlierComments', leftComments) }}
    </button>
    <Answer
      v-if="isAuth"
      id="answer"
      :focus="focusAnswerField"
      class="comments__answer"
      @blur="focusAnswerField = false"
      @input="sendComment({ comment: $event })"
    />
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'Comments',
  components: {
    Answer: () => import('./Answer'),
    Button: () => import('~/components/common/buttons/Button'),
    CommentTree: () => import('./CommentTree'),
    Loader: () => import('~/components/common/Loader'),
  },
  props: {
    color: {
      type: String,
    },
    noHover: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      loading: false,
      showAnswerField: null,
      focusAnswerField: false,
    }
  },
  computed: {
    ...mapGetters({
      comments: 'comments/RESULTS',
      count: 'comments/COUNT',
      isAuth: 'auth/IS_AUTH',
      isMoreComments: 'comments/IS_MORE',
    }),
    leftComments() {
      return this.count - this.comments.filter(el => !el.parent).length
    },
  },
  methods: {
    ...mapActions('comments', ['FETCH_NEXT', 'FETCH_MORE']),
    async fetchNextComments() {
      this.loading = true
      try {
        await this.FETCH_NEXT()
      } catch (e) {
      } finally {
        this.loading = false
      }
    },
    sendComment({ parent, comment }) {
      this.$emit('send', { parent, comment })
    },
    scrollTo() {
      this.focusAnswerField = true
      document
        .getElementById('answer')
        .scrollIntoView({ behavior: 'smooth', block: 'center' })
    },
  },
}
</script>

<style scoped lang="scss">
@import '~/assets/css/variables.scss';

.comments {
  &__title {
    margin-bottom: 2 * $base;
    @media (min-width: 768px) {
      margin-bottom: 4 * $base;
    }
  }
  &__write-comment-button {
    height: 72px;
    margin-bottom: 2 * $base;
    @media (min-width: 768px) {
      margin-bottom: 4 * $base;
    }
  }
  &__show-more-comments {
    padding: 0;
    margin-top: 2 * $base;
    color: $blue;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
    &:after {
      margin-left: 2 * $base;
      @include ww-icn();
      @include text(1.25);
      content: '\61';
    }
  }
  &__answer {
    margin-top: 3 * $base;
  }
}
</style>
