<template>
  <button class="more-comments" @click="fetch(id)">
    <span v-if="next">{{ $tc('comments.showMoreResponses', number) }}</span>
    <span v-else>{{ $tc('comments.showResponses', number) }}</span>
  </button>
</template>

<script>
export default {
  components: {},
  props: {
    id: {
      type: [Number, String],
      required: true,
    },
    number: {
      type: [Number, String],
    },
    fetchMore: {
      type: Function,
      required: true
    },
  },
  data() {
    return {
      next: null,
    }
  },
  methods: {
    async fetch(parentId) {
      this.$emit('load', this.id)
      try {
        const data = await this.fetchMore({
          parent: parentId,
          next: this.next,
        })
        this.next = data.next
      } finally {
        this.$emit('load', null)
      }
    },
  },
}
</script>

<style scoped lang="scss">
@import '~/assets/css/variables.scss';

.more-comments {
  padding: 0;
  color: $blue;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
  &:after {
    margin-left: 2 * $base;
    @include ww-icn();
    @include text(1.25);
    content: '\61';
  }
}
</style>
