<i18n>
{
  "ru": {
    "searchPlaceholder": "Найти организатора",
    "loadMore": "Ещё организаторы"
  },
  "en": {
    "searchPlaceholder": "Find an Organizer",
    "loadMore": "More Organizers"
  },
  "es": {
    "searchPlaceholder": "Find an Organizer",
    "loadMore": "More Organizers"
  }
}
</i18n>

<template>
  <div class="page-organizers page-wrapper">
    <Breadcrumbs class="breadcrumbs">
      <BredItem href="/">{{ $t('common.main') }}</BredItem>
      <BredItem>{{ $t('organizers.organizers') }}</BredItem>
    </Breadcrumbs>

    <div>
      <BecomeAnOrganizer class="become-an-organizer is-mobile" />
    </div>

    <form class="search-form" @submit.prevent="onSearchSubmit">
      <div class="search-form__query">
        <input
          v-model="search"
          :placeholder="$t('searchPlaceholder')"
          type="text"
          class="input"
        />
      </div>
      <div class="search-form__city">
        <SelectCity v-model="city" class="input" />
      </div>
      <div class="search-form__submit">
        <button
          v-tooltip.auto="$t('common.btnSearch')"
          type="submit"
          class="btn"
        >
          <span class="icon ww-icn-search"></span>
        </button>
      </div>
    </form>

    <div class="content">
      <div class="content__main">
        <h1 class="title">
          <span v-text="$t('organizers.organizers')" />
          <span class="title__geo"> {{ GET_CITY.title }}</span>
        </h1>

        <Loader v-if="isLoading" :width="40" :height="40" :margin="12" />
        <template v-else>
          <div class="list">
            <div
              v-for="organizer in organizers"
              :key="organizer.id"
              class="item"
            >
              <OrganizerCard :organizer="organizer" class="organizer-card" />
            </div>
          </div>

          <div v-if="isMoreLoading || hasMore" class="list-actions">
            <Loader
              v-if="isMoreLoading"
              :width="40"
              :height="40"
              :margin="12"
            />

            <Button
              v-else-if="hasMore"
              full-width
              invert
              class="button"
              @click.native="loadMore()"
            >
              {{ $t('loadMore') }}
            </Button>
          </div>
        </template>
      </div>

      <div class="content__side">
        <template v-if="!isLoading">
          <BecomeAnOrganizer class="become-an-organizer" />

          <SearchCategories
            v-model="keywords"
            :options="categories"
            class="search-categories"
          />
        </template>
      </div>
    </div>
  </div>
</template>

<script>
import { prop, equals, pick } from 'ramda'
import { mapGetters, mapMutations, mapActions } from 'vuex'
import { setLatestModifiedAnd304 } from '~/utils'

const PAGE_SIZE = 24

const filtersDefaults = () => ({
  geoname_ids: null,
  search: '',
  keywords: '',
})

export default {
  components: {
    Breadcrumbs: () => import('~/components/common/BreadCrumbs'),
    BredItem: () => import('~/components/common/BreadCrumbs/Item'),
    Loader: () => import('~/components/common/Loader'),
    Button: () => import('~/components/common/buttons/YetAnotherButton'),
    SearchCategories: () => import('~/components/common/input/SearchCategories'),
    OrganizerCard: () => import('~/components/common/OrganizerCard'),
    SelectCity: () => import('~/components/common/input/SelectCity'),
    BecomeAnOrganizer: () =>
      import('~/components/organizers/list/BecomeAnOrganizer'),
  },
  data: vm => ({
    isLoading: false,
    filters: filtersDefaults(),
    search: '',
    city: vm.$store.getters['city/GET_CITY'],
  }),
  computed: {
    ...mapGetters('city', ['GET_CITY']),
    ...mapGetters('organizers', ['organizers', 'count', 'more', 'loading']),
    ...mapGetters('search/categories', {
      categories: 'results',
    }),

    defaultCityId() {
      return prop('id', this.GET_CITY)
    },

    hasMore() {
      return this.more
    },

    isMoreLoading() {
      return this.loading
    },

    keywords: {
      get() {
        const { keywords = '' } = this.filters
        return keywords
          .split(',')
          .map(kw => this.categories.find(c => c.slug === kw))
          .filter(Boolean)
      },
      set(keywords) {
        this.filters.keywords = keywords.map(c => c.slug).join(',')
      },
    },

    neededQuery() {
      const query = {}
      const defaults = filtersDefaults()

      Object.keys(this.filters).forEach(key => {
        const value = this.filters[key]

        if (key === 'geoname_ids') {
          query.geoname_ids = value || this.defaultCityId
        } else if (value && value !== defaults[key]) {
          query[key] = value
        }
      })

      return query
    },
  },
  watch: {
    neededQuery() {
      const { neededQuery: query } = this
      if (!equals(query, this.$route.query)) {
        this.$router.push({ query })
      }
    },
    async '$route.query'(to, from) {
      try {
        // await this.normalizeQuery(to, from)

        const { query } = this.$route
        const defaults = filtersDefaults()
        const filters = { ...defaults, ...pick(Object.keys(defaults), query) }

        filters.geoname_ids = filters.geoname_ids || this.defaultCityId

        // reload categories if cityId is changed
        if (from) {
          const isCityChanged = filters.geoname_ids.toString() !== from.geoname_ids.toString()
          const isSearchChanged =
            (from.search || filters.search) && filters.search !== from.search

          this.isLoading = isCityChanged || isSearchChanged

          if (isCityChanged) {
            filters.keywords = defaults.keywords
            await Promise.all([
              this.$store.dispatch('city/GET_CITY', filters.geoname_ids),
              this.$store.dispatch('search/categories/fetch', {
                geoname_ids: filters.geoname_ids,
              }),
            ])
          }
        }

        this.search = filters.search
        this.city = this.GET_CITY
        this.filters = filters
        this.RESET()
        await this.load()
      } finally {
        this.isLoading = false
      }
    },
  },
  async fetch({ app, store, route, res, req, redirect, error }) {
    try {
      const { geoname_ids, search, keywords } = route.query

      if (geoname_ids) {
        await store.dispatch('city/GET_CITY', geoname_ids)
      } else {
        const cityId = prop('id', store.getters['city/GET_CITY'])
        if (!cityId) return error({ status: 404 })

        const { href } = app.router.resolve({
          name: 'organizers',
          query: { ...route.query, geoname_ids: cityId },
        })

        return redirect(href)
      }

      const cityId = prop('id', store.getters['city/GET_CITY'])
      if (!cityId) return error({ status: 404 })

      await store.dispatch('search/categories/fetch', {
        geoname_ids: cityId,
      })

      // const categories = store.getters['search/categories/results']
      //
      // keywords =
      //   keywords
      //     .split(',')
      //     .filter(kw => categories.find(c => c.slug === kw))
      //     .join(',') || void 0
      //

      await store.dispatch('organizers/FETCH', {
        expand: 'logo',
        page_size: PAGE_SIZE,
        geoname_ids: cityId,
        search,
        keywords,
      })
    } catch (err) {
      return error({ status: prop('status', err.response) })
    }

    if (process.server) {
      setLatestModifiedAnd304({ res, req, store }, [
        store.getters['organizers/modified'],
      ])
    }
  },
  methods: {
    ...mapActions('organizers', ['FETCH', 'FETCH_MORE']),
    ...mapMutations('city', ['SET_CITY']),
    ...mapMutations('organizers', ['RESET']),

    // async normalizeQuery(to, from) {
    //   const query = { ...to }
    //   query.geoname_ids = query.geoname_ids || this.defaultCityId
    //
    //   // reload categories if cityId is changed
    //   if (from && query.geoname_ids !== from.geoname_ids) {
    //     await this.$store.dispatch('search/categories/fetch', {
    //       geoname_ids: query.geoname_ids,
    //     })
    //   }
    //
    //   // cleanup missing tags
    //   query.keywords =
    //     (query.keywords || '')
    //       .split(',')
    //       .filter(kw => this.categories.find(c => c.slug === kw))
    //       .join(',') || void 0
    //
    //   // cleanup filters with default or missing value
    //   const defaults = filtersDefaults()
    //   const keys = ['search', 'keywords', 'ordering']
    //   keys.forEach(key => {
    //     if (!query[key] || query[key] === defaults[key]) {
    //       delete query[key]
    //     }
    //   })
    //
    //   if (!equals(to, query)) {
    //     return new Promise((resolve, reject) => {
    //       this.$router.replace({ query }, resolve, reject)
    //     })
    //   }
    // },

    onSearchSubmit() {
      this.filters = {
        ...this.filters,
        geoname_ids: this.city.id,
        search: this.search,
      }
    },

    async load() {
      try {
        await this.FETCH({
          expand: 'logo',
          page_size: PAGE_SIZE,
          ...this.filters,
        })
      } catch (err) {
        console.error(err)
      }
    },

    async loadMore() {
      if (this.isMoreLoading || !this.hasMore) return

      try {
        await this.FETCH_MORE()
      } catch (err) {
        console.error(err)
      }
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.page-wrapper {
  margin: ($base * 5) auto 0;
  max-width: $base * 186;

  padding-left: $base * 14;
  padding-right: $base * 7;

  @media (max-width: $sideShow) {
    padding-left: $base * 7.75;
    padding-right: $base * 5.75;
  }

  @media (max-width: $desktopHD) {
    padding-left: $base * 14.75;
    padding-right: $base * 14.75;
  }

  @media (max-width: $desktopSD) {
    padding-left: $base * 5;
    padding-right: $base * 5;
  }

  @media ($mobile) {
    margin-top: $base * 2.5;
    padding-left: $base * 2;
    padding-right: $base * 2;
  }
}

.page-organizers {
  .content {
    display: flex;

    &__main {
      flex: 1 1;
    }

    &__side {
      flex: 0 1 ($base * 35);
      margin-left: $base * 19;
    }
  }

  .breadcrumbs {
    margin-bottom: $base * 3;
  }

  .search-form {
    background: $blue;
    padding: $base * 2;
    padding-right: 0;
    margin: 0 (-$base * 2) ($base * 4);

    display: flex;

    > *:not(:last-child) {
      margin-right: 1px;
    }

    .input {
      height: $base * 10;

      @include text(3);
    }
    &__query {
      flex: 1 1;
    }
    &__city {
      flex: 0 0 ($base * 47.5);
    }
    &__submit {
      flex: 0 0;

      .btn {
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        width: $base * 10;
        height: 100%;

        &:active:before {
          opacity: 0.5;
        }
      }
      .icon {
        font-size: 24px;
        height: 24px;
      }
    }
  }

  .title {
    @include text(4);
    font-weight: bold;
    margin: 0 0 ($base * 2);
  }

  $space-between: $base * 4;
  .list {
    margin-left: -$space-between;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
  }

  .item {
    margin-bottom: $base * 3;
    padding-left: $space-between;
    flex: 0 0 50%;
  }

  .list-actions {
    margin-top: $base * 3;
    overflow: hidden;

    .button {
      height: $base * 8;
      font-weight: bold;
    }
  }

  .become-an-organizer {
    @include text(1.5);
    color: $blue;
    font-weight: bold;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    display: inline-block;
    margin-top: $base * 1.5;
    line-height: 1;

    &.is-mobile {
      display: none;
    }
  }

  .search-categories {
    margin: ($base * 3) 0 0;
  }

  @media (max-width: $sideShow) {
  }

  @media (max-width: $desktopHD) {
    .content {
      &__side {
        flex: 0 1 ($base * 24);
        margin-left: $base * 11;
      }
    }

    .search-form {
      &__city {
        flex-basis: $base * 40;
      }
    }
  }

  @media (max-width: $desktopSD) {
    .content {
      &__side {
        display: none;
        /*flex: 0 1 auto;
        margin-left: $base * 4;*/
      }
    }

    .search-form {
      .input {
        @include text(2);
      }
      &__city {
        flex-basis: $base * 25;
      }
    }
  }

  @media ($mobile) {
    .breadcrumbs {
      display: none;
    }

    .become-an-organizer {
      &.is-mobile {
        display: block;
        text-align: center;
        margin-top: 0;
        margin-bottom: $base * 2.5 - 1;
      }
      &:not(.is-mobile) {
        display: none;
      }
    }

    .content {
      &__side {
        // display: none;
      }
    }

    .title {
      @include text(3);
      margin-bottom: $base * 2.5;

      &__geo {
        display: none;
      }
    }

    .list {
      margin-left: 0;
    }
    .item {
      margin-bottom: $base;
      padding-left: 0;
      flex: 0 0 100%;
    }
  }
}
</style>
