<i18n>
{
  "ru": {
    "title": "Почему WhatWhere?",
    "itemTitle1": "Без тарифных планов",
    "itemText1": "Нет минимального количества билетов",
    "itemTitle2": "Всего 5%",
    "itemText2": "Наша комиссия самая низкая",
    "itemTitle3": "Без комисси платежной системы",
    "itemText3": "Вы платите фиксированную комиссию",
    "itemTitle4": "Без скрытых платежей",
    "itemText4": "Без дополнительных услуг",
    "itemTitle5": "Любые мероприятия",
    "itemText5": "Любая тематика или формат",
    "itemTitle6": "Безопасно",
    "itemText6": "Ссылку получат только участники",
    "itemTitle7": "Круглосуточная поддержа",
    "itemText7": "Поможем в любой ситуации",
    "itemTitle8": "Поддержка участников",
    "itemText8": "Поможем подключиться и настроить",
    "itemTitle9": "Продвижение мероприятий",
    "itemText9": "Реклама в соцсетях в 1 клик"
  },
  "en": {
    "title": "Why WhatWhere?",
    "itemTitle1": "Pay as you go",
    "itemText1": "Sell as many tickets as you want",
    "itemTitle2": "Only 5%",
    "itemText2": "We have the lowest commission for live stream events",
    "itemTitle3": "No processing fee",
    "itemText3": "You pay only commission",
    "itemTitle4": "No hidden fees",
    "itemText4": "No service fee, no setup fee, no subscription",
    "itemTitle5": "Any event",
    "itemText5": "We support any events",
    "itemTitle6": "Secured links",
    "itemText6": "Only paid attendees will be able to link to your live stream.",
    "itemTitle7": "24/7 Support",
    "itemText7": "Any time any question",
    "itemTitle8": "Customer support",
    "itemText8": "Help your attendees to connect ",
    "itemTitle9": "Event Promotion",
    "itemText9": "Conquer the world with us!"
  }
}
</i18n>
<template>
  <div class="why-wrapper">
    <h2 class="why-title">{{$t('title')}}</h2>
    <div class="why-items">
      <div
          v-for="(item, i) in items"
          :key="i"
          class="item"
      >
        <Icon class="item-icon" :src="`icons/tickets-online/${item.img}`" />
        <div class="item-description">
          <span class="title">{{item.title}}</span>
          <span class="text">{{item.text}}</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Icon from '~/components/common/Icon'

  export default {
    components: {
      Icon,
    },
    computed: {
      items() {
        return [
          {img: 'icon1.svg', title: this.$t('itemTitle1'), text: this.$t('itemText1')},
          {img: 'icon2.svg', title: this.$t('itemTitle2'), text: this.$t('itemText2')},
          {img: 'icon3.svg', title: this.$t('itemTitle3'), text: this.$t('itemText3')},
          {img: 'icon4.svg', title: this.$t('itemTitle4'), text: this.$t('itemText4')},
          {img: 'icon5.svg', title: this.$t('itemTitle5'), text: this.$t('itemText5')},
          {img: 'icon6.svg', title: this.$t('itemTitle6'), text: this.$t('itemText6')},
          {img: 'icon7.svg', title: this.$t('itemTitle7'), text: this.$t('itemText7')},
          {img: 'icon8.svg', title: this.$t('itemTitle8'), text: this.$t('itemText7')},
          {img: 'icon9.svg', title: this.$t('itemTitle9'), text: this.$t('itemText8')}
        ]
      }
    }
  }
</script>
<style lang="scss" scoped>
  @import '~/assets/css/variables.scss';
  .why-wrapper {
    padding-top: 105px;
    margin-top: 110px;
    background-color: #fdfdfd;
    @media ($mobile) {
      margin-top: 0;
      padding-top: 75px;
    }
    .why-title {
      margin-bottom: 80px;
      text-align: center;
      font-weight: bold;
      font-size: 56px;
      line-height: 56px;
      @media ($mobile) {
        margin-bottom: 43px;
        font-size: 36px;
        line-height: 40px;
      }
    }
    .why-items {
      display: flex;
      flex-flow: wrap;
      margin: 0 16.5%;
      @media (max-width: $desktopHDp) {
        margin: 0 8%;
      }
      @media (max-width: $sideShow) {
        margin: 0 30px;
      }
      @media (max-width: $desktopSD) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 25px;
      }
      @media ($mobile) {
        display: flex;
        margin: 0 15px;
      }
      .item {
        width: 26%;
        display: flex;
        margin: 0 78px 95px 0;
        @media (max-width: $sideShow) {
          width: 30%;
          margin: 0 29px 95px 0;
        }
        @media (max-width: $desktopSD) {
          width: 100%;
          margin: 0 25px 0 0;
          flex-direction: column;
        }
        @media ($mobile) {
          margin: 0 0 30px 0;
          flex-direction: row;
        }
        &-icon {
          width: 53px;
          height: 53px;
          margin: 4px 38px 0 0;
          @media (max-width: $sideShow) {
            margin: 4px 29px 0 0;
          }
          @media ($mobile) {
            margin: 4px 18px 0 0;
          }
        }
        &-description {
          display: flex;
          flex-direction: column;
          .title {
            margin-bottom: 15px;
            font-weight: bold;
            font-size: 24px;
            line-height: 26px;
            @media (max-width: $desktopSD) {
              margin-top: 21px;
            }
            @media ($mobile) {
              font-size: 20px;
              margin: 0 0 5px;
            }
          }
          .text {
            font-weight: normal;
            font-size: 14px;
            line-height: 18px;
            @media ($mobile) {
              font-size: 12px;
              line-height: 16px;
            }
          }
        }
      }
    }
  }
</style>