<template>
  <div class="root">
    <div class="cropper">
      <VueCropper
        ref="cropper"
        :img="src"
        :canMove="false"
        :canScale="false"
        :info="false"
        autoCrop
        autoCropWidth="400"
        autoCropHeight="400"
        centerBox
        fixed
        outputType="png"
        style="height: 100%"
      />
    </div>
    <Button @click="finish">{{ $t('profile.avatarEditor.ok') }}</Button>
    <label class="change-image">
      <input
        type="file"
        :accept="accept.join()"
        alt="image"
        hidden
        @change="uploadImage"
      />
      <span>{{ $t('profile.avatarEditor.changePhoto') }}</span>
    </label>
  </div>
</template>

<script>
import { path } from 'ramda'
import { VueCropper } from 'vue-cropper'

export default {
  components: {
    Button: () => import('~/components/common/buttons/Button'),
    VueCropper,
  },
  props: {
    value: {
      type: String,
      required: true,
    },
  },
  data: () => ({
    src: '',
    accept: ['image/jpeg', 'image/png', 'image/bmp'],
  }),
  watch: {
    value() {
      this.src = this.value
    },
  },
  mounted() {
    this.src = this.value
  },
  methods: {
    uploadImage(event) {
      const file = path(['target', 'files', 0], event)
      const isAcceptType = file && this.accept.includes(file.type)
      if (isAcceptType) {
        let reader = new FileReader()
        reader.onload = e => (this.src = e.target.result)
        reader.readAsDataURL(file)
      } else {
        this.$store.dispatch(
          'notifications/error',
          this.$t('error.unsupportedFormat'),
        )
      }
    },
    finish() {
      this.$refs.cropper.getCropData(data => this.$emit('change', data))
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.root {
  width: 100%;
  display: grid;
  grid-template-columns: minmax(auto, 656px);
  grid-template-rows: auto 80px min-content;
  grid-row-gap: 24px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  position: relative;

  .cropper {
    width: 100%;
    height: 400px;
  }

  .cropper /deep/ {
    .vue-cropper {
      background-image: none;
    }
    .cropper-view-box {
      border-radius: 50%;
    }
    .cropper-modal {
      background: rgba(248, 249, 250, 0.5);
    }
    .crop-point {
      width: 10px;
      height: 10px;
      border: solid 2px $blue;
      background-color: white;
    }
    .point2,
    .point4,
    .point5,
    .point7 {
      display: none;
    }
  }

  .change-image {
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    color: $blue;
    letter-spacing: 0.8px;
    @include text(1.5);
    @media (min-width: $desktopSD) {
      @include text(2);
    }
  }
}
</style>
