<template>
  <div class="popover popover_alert">
    <Loader v-if="loading" />
    <div v-else class="wrapper">
      <div class="popover-close-button ww-icn-cross" @click="cancel"></div>
      <Cropper :value="source" @change="cropped" />
    </div>
  </div>
</template>

<script>
import Cropper from './Cropper'
import thumborize from '~/utils/thumborize'

const imgType = pred => (pred ? 'webp' : 'other')
const webpSupport = () =>
  new Promise(resolve =>
    resolve(
      document
        .createElement('canvas')
        .toDataURL('image/webp')
        .indexOf('data:image/webp') === 0,
    ),
  )

export default {
  components: {
    Cropper,
    Loader: () => import('~/components/common/Loader'),
  },
  props: {
    image: {
      type: String,
    },
    src: {
      type: String,
    },
  },
  data() {
    return {
      source: '',
      canWebp: false,
      loading: false,
    }
  },
  async mounted() {
    await webpSupport().then(res => (this.canWebp = res))
    if (this.image) {
      this.source = await this.getImageUrl(this.image)
    } else {
      this.source = this.src
    }
  },
  methods: {
    async getImageUrl() {
      return thumborize(this.image, imgType(this.canWebp), null, null)
    },
    async cropped(imageBase64) {
      try {
        this.loading = true
        let file = await fetch(imageBase64)
          .then(res => res.arrayBuffer())
          .then(
            buffer =>
              new File([buffer], 'imageFromBase64.png', { type: 'image/png' }),
          )
        const image = await this.$store.dispatch('images/UPLOAD', {
          file: file,
        })
        this.$emit('change', image)
        this.cancel()
      } catch (e) {
        console.log(e)
      } finally {
        this.loading = false
      }
    },
    cancel() {
      this.$emit('cancel')
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';
@import '~/assets/css/popover.scss';
</style>
