<i18n>
  {
  "ru": { "whatOurClientsSay": "Что говорят наши клиенты:" },
  "en": { "whatOurClientsSay": "What Our Clients Say:" },
  "es": { "whatOurClientsSay": "What Our Clients Say:" }
  }
</i18n>

<template>
  <div class="carousel">
    <div id="containerForSlides" class="carousel__wrapper">
      <div v-for="(item, index) in data" :key="index" class="slide">
        <template v-if="Number(index) === currentSlide">
          <span class="slide__arrow slide__arrow--prev" @click="slidePrev">
            <span class="icon icon-left ww-icn-arrow-right" />
          </span>
          <span class="slide__arrow slide__arrow--next" @click="slideNext">
            <span class="icon ww-icn-arrow-right" />
          </span>
        </template>
        <div :id="`slide_${index}`" class="slide__card" @click="slide(index)">
          <div class="title">{{ $t('whatOurClientsSay') }}</div>
          <div class="review">
            <picture>
              <source
                type="image/webp"
                :srcset="STATIC_PATH + item.img + '.webp'"
              />
              <source
                type="image/png"
                :srcset="STATIC_PATH + item.img + '.png'"
              />
              <img
                :src="STATIC_PATH + item.img + '.png'"
                :alt="item.name"
                class="avatar"
              />
            </picture>
            <div>
              <p>{{ item.review }}</p>
              <br />
              <strong>{{ item.name }}</strong>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ul class="carousel__dots">
      <li
        v-for="(item, index) in data"
        :key="index"
        class="dots__item"
        @click="slide(index)"
      >
        <span
          class="dots__span"
          :class="{ dots__selected: Number(index) === currentSlide }"
        ></span>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  props: {
    drag: {
      type: Boolean,
      default: false,
    },
    data: {
      type: [Array, Object],
      required: true,
    },
  },
  data() {
    return {
      currentSlide: 1,
      options: {
        container: '#containerForSlides',
        x: true,
        y: false,
      },
    }
  },
  computed: {
    countItems() {
      return this.data.length || Object.keys(this.data).length
    },
  },
  created() {
    this.STATIC_PATH = process.env.STATIC_PATH
  },
  mounted() {
    this.slide(this.currentSlide)
  },
  methods: {
    slide(number) {
      this.currentSlide = Number(number)
      if (this.currentSlide < 0) this.currentSlide = this.countItems - 1
      if (this.currentSlide > this.countItems - 1) this.currentSlide = 0

      this.$scrollTo(`#slide_${this.currentSlide}`, 500, this.options)
    },
    slidePrev() {
      this.slide(this.currentSlide - 1)
    },
    slideNext() {
      this.slide(this.currentSlide + 1)
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.carousel {
  position: relative;

  .icon {
    font-size: 24px;
    height: 24px;
    &-left {
      transform: rotate(180deg);
    }
  }
  &__wrapper {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 85%;
    grid-column-gap: 2%;
    justify-content: flex-start;
    overflow: auto;
    scrollbar-width: none;
    @media (min-width: $desktopSD) {
      grid-column-gap: unset;
      grid-auto-columns: 100%;
    }
    &::-webkit-scrollbar {
      display: none;
    }

    .slide {
      position: relative;

      &:only-child .slide__image {
        @media (min-width: $desktopHD) {
          margin-right: 100vw;
        }
      }
      &__card {
        height: 100%;
        background-color: white;
        text-align: center;
        padding: 40px 24px;
        @media (min-width: $desktopSD) {
          padding: 40px 64px 64px;
        }
        @media (min-width: $desktopHD) {
          padding: 64px 72px;
          .review {
            grid-template-columns: min-content auto;
            grid-template-rows: auto;
            text-align: left;
          }
        }
        @media (min-width: $desktopHDp) {
          padding: 64px 168px;
        }

        .review {
          display: grid;
          grid-template-rows: auto auto;
          grid-column-gap: 2.5%;
          grid-row-gap: 32px;
          p {
            margin: 0;
          }
        }
        .avatar {
          justify-self: center;
          width: 72px;
          height: 72px;
          @media (min-width: $desktopSD) {
            width: 96px;
            height: 96px;
          }
          @media (min-width: $desktopHD) {
            width: 128px;
            height: 128px;
          }
        }

        .title {
          grid-area: title;
          @include text(3);
          margin-bottom: 36px;
          @media (min-width: $desktopSD) {
            @include text(4);
          }
          @media (min-width: $desktopHD) {
            @include text(5);
            text-align: left;
          }
          @media (min-width: $desktopHDp) {
            margin-left: -96px;
          }
        }
      }
      &__arrow {
        display: none;
        height: 40px;
        width: 40px;
        position: absolute;
        top: 40%;
        cursor: pointer;
        background-color: $blue;
        color: white;
        &:hover {
          background-color: $light-blue;
        }

        @media (min-width: $desktopSD) {
          display: flex;
          align-items: center;
          justify-content: center;
        }

        &--prev {
          left: 0;
          @media (min-width: $desktopHDp) {
            left: 72px;
          }
        }
        &--next {
          right: 0;
          @media (min-width: $desktopHDp) {
            right: 72px;
          }
        }
      }
    }
  }

  &__dots {
    display: none;
    @media (min-width: $desktopSD) {
      display: flex;
      justify-content: center;
      position: absolute;
      bottom: 5%;
      width: 100%;
    }

    .dots {
      &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 16px;
        width: 16px;
        cursor: pointer;
        &:hover {
          .dots__span {
            background-color: black;
          }
          .dots__selected {
            background-color: $black-blue;
          }
        }
      }
      &__span {
        height: 50%;
        width: 50%;
        border-radius: 50%;
        background-color: $gray;
      }

      &__selected {
        background-color: $blue;
      }
    }
  }
}
</style>
