<template>
  <span :class="{ 'is-currency-before': isCurrencyBefore }" class="price">
    <template v-if="isCurrencyBefore">
      {{ /* without space after currency symbol */ }}
      <span class="price__currency" v-html="currency" /><span
        class="price__value"
        v-text="priceFormatted"
      />
    </template>
    <template v-else>
      <span class="price__value" v-text="priceFormatted" />
      <span class="price__currency" v-html="currency" />
    </template>
  </span>
</template>

<script>
import { mapGetters } from 'vuex'
import { splitNumberBy3 } from '~/utils'

export default {
  props: {
    price: {
      type: [String, Number],
      required: true,
    },
    currency: {
      type: String,
      default: '',
    },
    business: Boolean,
  },
  computed: {
    ...mapGetters('lang', ['LANG']),

    priceFormatted() {
      const price = parseFloat(this.price)
      if (this.business) {
        return price
      } else {
        return price ? splitNumberBy3(price) : 0
      }
    },

    isCurrencyBefore() {
      return this.LANG !== 'ru'
    },
  },
}
</script>

<style lang="scss" scoped>
.price {
  &.is-currency-before {
  }
  &__value {
  }
  &__currency {
  }
}
</style>
