<template>
  <div class="widget-event">
    <div class="event-page">
      <Loader v-if="isLoading" />
      <template v-else>
        <div class="event-page__cover">Cover</div>
        <div class="event-page__content">
          Айди ивента: {{ $route.params.paramId }}
          <button class="button" @click="close">Закрыть</button>
        </div>
      </template>
    </div>
  </div>
</template>

<script>
import Loader from '~/components/common/Loader'

export default {
  layout: 'iframe',

  components: {
    Loader,
  },

  data: () => ({
    isLoading: true,
  }),

  async mounted() {
    window.addEventListener('message', e => {
      if (!e || e.data.type !== 'ww') return

      const actions = {
        openEvent: 'open-event',
        closeEvent: 'close-event',
      }

      if (e.data.action === actions.openEvent) {
        this.$router.push({
          name: 'widget-event-id',
          params: { id: e.data.data.id },
        })
      }
      console.log('message', e)
    })
    await new Promise(resolve => {
      setTimeout(() => {
        resolve()
      }, 1500)
    })
    this.isLoading = false
  },

  methods: {
    close() {
      window.parent.postMessage({
        type: 'ww',
        action: 'close-event',
      })
    },
  },
}
</script>

<style lang="scss" scoped>
.widget-event {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #474747;
  padding: 320px 312px 922px;
}

.button {
  border: 1px solid red;
  margin-top: 24px;
  padding: 4px 8px;
}

.event-page {
  background: #ffffff;
  width: 100%;

  &__cover {
    width: 100%;
    height: 456px;
    background: #f3f3f3;
  }

  &__content {
    padding: 56px 96px 44px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
</style>
