<template>
  <div class="city-layout">
    <h4 v-if="!hideCity" class="city-layout__title">
      {{ sessions | cityName }}
    </h4>
    <div v-for="(group, index) in groupForLocation" :key="index">
      <hr />
      <LocationLayout :sessions="group" :online="online" class="city-layout__sessions" />
    </div>
    <hr />
  </div>
</template>

<script>
import { groupBy, path } from 'ramda'

export default {
  components: {
    LocationLayout: () => import('./LocationLayout'),
  },
  filters: {
    cityName: session => path([0, 'location', 'city', 'name'], session),
  },
  props: {
    sessions: Array,
    hideCity: Boolean,
    online: Boolean,
  },
  computed: {
    groupForLocation() {
      const groupForLocation = session => path(['location', 'id'], session)
      return groupBy(groupForLocation, this.sessions)
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.city-layout {
  margin-bottom: 32px;
  &__title {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.33;
    margin: 0 0 12px;
  }
  &__sessions {
    padding: 16px 0;
  }
}
</style>
