<i18n>
{
  "ru": {
    "schedule": "Расписание событий"
  },
  "en": {
    "schedule": "Event Schedule"
  },
  "es": {
    "schedule": "Сalendario de eventos"
  }
}
</i18n>

<template>
  <section>
    <h3 class="schedule__title">{{ $t('schedule') }}</h3>
    <CityLayout
      v-for="(group, index) in groupForCities"
      :key="index"
      :sessions="group"
      :online="online"
      :hideCity="Object.keys(groupForCities).length === 1"
    />
  </section>
</template>

<script>
import { groupBy, path } from 'ramda'

export default {
  components: {
    CityLayout: () => import('./CityLayout'),
  },
  props: {
    sessions: Array,
    online: Boolean,
  },
  computed: {
    groupForCities() {
      const groupForCities = session =>
        path(['location', 'city', 'id'], session)
      return groupBy(groupForCities, this.sessions)
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.schedule__title {
  font-size: 32px;
  font-weight: bold;
  line-height: 1.25;
  margin-bottom: 24px;
}
</style>
