<template>
  <div class="session-layout">
    <div class="pad" v-if="online">Событие онлайн</div>
    <div class="pad" v-else>
      <div>{{ title }}</div>
      <div v-if="address" class="session-layout__address">
        <Icon src="icons/map-point.svg" size="s" />
        {{ address }}
      </div>
    </div>
    <div class="session-layout__grid">
      <nuxt-link
        v-for="session in sessions"
        :key="session.key"
        :to="`/events/sessions/${session.url_id}/`"
        class="session-layout__time"
        :class="{ 'session-layout__time--active': checkActive(session) }"
      >
        {{ session | time }}
      </nuxt-link>
    </div>
  </div>
</template>

<script>
import { path } from 'ramda'
import { parseISO } from 'date-fns'
import moment from "moment"

export default {
  components: {
    Icon: () => import('~/components/common/Icon'),
  },
  filters: {
    time: session => {
      const start_time = path(['start_time'], session)
      if (start_time){
        return start_time.slice(0, 5)
      }
      const end_time = path(['end_time'], session)
      if (end_time) {
        return end_time.slice(0, 5)
      }
      const start_date = path(['start_date'], session)
      if (start_date) {
        return moment(start_date).format('DD MMM YY')
      }
      const end_date = path(['end_date'], session)
      if (end_date) {
        return moment(end_date).format('DD MMM YY')
      }
      return ' - '
    }
  },
  props: {
    sessions: Array,
    online: Boolean,
  },
  computed: {
    title() {
      return path([0, 'location', 'title'], this.sessions)
    },
    address() {
      return path([0, 'location', 'address_display'], this.sessions)
    },
  },
  methods: {
    checkActive(s) {
      return parseISO(`${s.start_date} ${s.start_time}`) >= new Date()
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.session-layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .pad{
    padding-right: 20px;
  }
  &__title {
    font-size: 16px;
    line-height: 1.5;
  }
  &__address {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 8px;
    margin-top: 8px;
    font-size: 12px;
    line-height: 1.33;
  }
  &__grid {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 8px;
    overflow: auto;
    /*margin-left: 20px;*/
  }
  &__time {
    height: 40px;
    padding: 8px 21px;
    background-color: #f0f3f6;
    color: black;
    &--active {
      color: white;
      background-color: #0070ff;
    }
  }
}
</style>
