<template>
  <div class="categories">
    <nuxt-link v-if="type" :to="type.url" class="item">
      <span class="link">{{ type.title }}</span>
    </nuxt-link>

    <nuxt-link v-if="category" :to="category.url" class="item">
      <span class="link">{{ category.title }}</span>
    </nuxt-link>

    <div v-if="genres.length" class="item">
      <nuxt-link
        v-for="(el, index) in genres"
        :key="index"
        :to="el.url"
        class="link"
      >
        {{ el.title }}
      </nuxt-link>
    </div>
  </div>
</template>

<script>
import { path } from 'ramda'

export default {
  props: {
    value: Object,
  },
  computed: {
    cityQuery() {
      const geoname_ids = path(['location', 'city', 'id'], this.value)
      return geoname_ids ? { geoname_ids } : {}
    },
    category() {
      const slug = path(['event', 'category', 'slug'], this.value)
      const title = path(['event', 'category', 'title'], this.value)
      return (
        slug &&
        title && {
          title,
          url: {
            path: '/search',
            query: { actual: true, keywords: slug, ...this.cityQuery },
          },
        }
      )
    },
    genres() {
      const genres = path(['event', 'genres'], this.value) || []
      return genres.slice(0, 3).map(el => ({
        url: {
          path: '/search',
          query: {
            actual: true,
            keywords: path(['slug'], el),
            ...this.cityQuery,
          },
        },
        title: path(['title'], el),
      }))
    },
    type() {
      const slug = path(['event', 'type', 'slug'], this.value)
      const title = path(['event', 'type', 'title'], this.value)
      return (
        slug &&
        title && {
          title,
          url: {
            path: '/search',
            query: { actual: true, keywords: slug, ...this.cityQuery },
          },
        }
      )
    },
  },
}
</script>

<style scoped lang="scss">
@import '~/assets/css/variables.scss';

.categories {
  display: flex;
  flex-wrap: wrap;
  min-height: 24px;

  .item {
    &:not(:first-child)::before {
      content: '—';
      color: $black-gray;
      margin-right: $base;
    }

    &:not(:last-child) {
      margin-right: $base;
    }
  }

  .link {
    display: inline-flex;
    color: $primary;
    white-space: nowrap;
    @include text(1.5);
    line-height: 2;

    @media (min-width: $desktopSD) {
      @include text(2);
    }
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  .link:not(:last-child)::after {
    content: ',';
    margin-right: 3px;
  }
}
</style>
