<template>
  <div class="institution">
    <h3 v-if="title" class="institution__title">
      <template v-if="online">
        Online
      </template>
      <template v-else>
        <Icon src="icons/map-point.svg" size="xs" />
        {{ title }}
      </template>
    </h3>
    <div v-if="!online" class="institution__address">
      {{ address }}
    </div>
  </div>
</template>

<script>
import { path } from 'ramda'

export default {
  components: {
    Icon: () => import('~/components/common/Icon'),
  },
  props: {
    location: Object,
    online: Boolean,
  },
  computed: {
    title() {
      return path(['title'], this.location)
    },
    address() {
      return path(['address_display'], this.location)
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.institution {
  &__title {
    color: $blue;
    @include text(2);
    margin-bottom: 4px;

    &:before {
      font-size: 10px;
    }
  }

  &__address {
    @include text(1.5);
    line-height: 16px;
  }
}
</style>
