<i18n>
  {
    "ru": {
      "comments": "0 комментариев | комментарий | комментария | комментариев"
    },
    "en": {
      "comments": "0 comments | comment | comments"
    },
    "es": {
      "comments": "0 comentarios | comentario | comentarios"
    }
  }
</i18n>

<template>
  <div class="statistics">
    <span v-if="rating > 0" class="statistics__item ww-icn-star">
      {{ rating }}
    </span>
    <span v-if="hits > 0" class="statistics__item ww-icn-eye">
      {{ hits }}
    </span>
    <span v-if="comments > 0" class="statistics__item ww-icn-comment-o">
      {{ comments }}&nbsp;{{ $tc('comments', comments) }}
    </span>
  </div>
</template>

<script>
export default {
  props: {
    rating: Number,
    hits: Number,
    comments: Number,
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.statistics {
  display: flex;

  &__item {
    flex-shrink: 0;

    &:before {
      opacity: 0.4;
      margin-right: 6px;
      font-size: 11px;
      font-weight: bold !important;
      // margin-left for ww-icn-comment-o icon
      margin-left: 1px;
    }

    &:not(:last-child) {
      margin-right: 40px;
    }
  }
}
</style>
