<template>
  <div v-if="tags.length" class="categories">
    <nuxt-link
      v-for="(el, index) in tags"
      :key="index"
      :to="el.url"
      class="link"
    >
      {{ el.title }}
    </nuxt-link>
  </div>
</template>

<script>
import { path } from 'ramda'

export default {
  props: {
    value: Object,
  },
  computed: {
    cityQuery() {
      const geoname_ids = path(['location', 'city', 'id'], this.value)
      return geoname_ids ? { geoname_ids } : {}
    },
    tags() {
      const tags = path(['event', 'tags'], this.value) || []
      return tags.map(el => ({
        url: {
          path: '/search',
          query: {
            actual: true,
            keywords: path(['slug'], el),
            ...this.cityQuery,
          },
        },
        title: path(['title'], el),
      }))
    },
  },
}
</script>

<style scoped lang="scss">
@import '~/assets/css/variables.scss';

.categories {
  display: flex;
  flex-wrap: wrap;
  min-height: 24px;

  .link {
    padding: 0 12px;
    margin-right: 8px;
    margin-bottom: 8px;
    opacity: 0.4;
    border-radius: 12px;
    border: solid 1px $black-gray;
    white-space: nowrap;
    @include text(1.5);
    line-height: 2;

    @media (min-width: $desktopSD) {
      @include text(2);
    }
    &:hover,
    &:focus {
      color: $blue;
      border: solid 1px $blue;
      opacity: 1;
    }
  }
}
</style>
