<template>
  <div class="input-block input-block_eye">
    <input
      class="popover-auth__input input-block__input"
      :type="hidden ? 'password' : 'text'"
      :placeholder="$t('auth.password')"
      :value="passValue"
      @input="inputting"
      @keydown.enter="enterHandler"
    />
    <!-- при клике надо менять класс
    ww-icn-eye-o на ww-icn-eye-stroke-o и наоборот -->
    <i
      class="input-block__icon"
      :class="[{ 'ww-icn-eye-o': !hidden }, { 'ww-icn-eye-stroke-o': hidden }]"
      @click="hidden = !hidden"
    ></i>
  </div>
</template>

<script>
export default {
  props: {
    passValue: {
      type: String,
      default: '',
    },
    placeholder: {
      default: 'Пароль',
    },
  },

  data() {
    return {
      hidden: true,
    }
  },

  methods: {
    inputting(event) {
      const value = event.target.value
      this.$emit('inputting', value)
    },
    enterHandler() {
      this.$emit('enter')
    },
  },
}
</script>

<style lang="scss">
@import '~/assets/css/variables.scss';

.popover-auth__input {
  @media (min-width: $desktopHD) {
    @include text(3);
  }
}

.input-block {
  @mixin icon($icon-size, $right) {
    .input-block__input {
      padding-right: 2 * $right + $icon-size;
    }

    .input-block__icon {
      font-size: $icon-size;
      right: $right;
    }
  }

  @mixin icon-interactive($icon-size, $right) {
    @include icon($icon-size, $right);

    .input-block__icon {
      cursor: pointer;
      transition: 0.25s ease-out;
    }
  }

  position: relative;

  &_plus {
    @include icon-interactive(4.5 * $base, 2 * $base);

    .input-block__icon {
      &:hover,
      &:focus {
        transform: translateY(-50%) scale(1.1);
      }
    }
  }

  &_eye {
    @include icon-interactive(2.875 * $base, 2 * $base);
  }

  &_user {
    @include icon(3.25 * $base, 2.875 * $base);
  }

  &_envelope {
    @include icon(3 * $base, 3 * $base);
  }

  &__icon {
    color: $blue;
    line-height: 0.5;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}
</style>
