<template>
  <div class="banner">
    <div v-if="image" class="banner__image-wrapper">
      <AsyncImage
        :image="image"
        width="332"
        height="544"
        class="banner__image"
      />
    </div>
    <span v-else class="banner__no-image">
      {{ $t('mainpage.hero.banner.imageNotFound') }} {{ name }}
    </span>
  </div>
</template>

<script>
export default {
  components: {
    AsyncImage: () => import('~/components/common/AsyncImage'),
  },
  props: {
    name: {
      type: String,
    },
    image: {
      type: String,
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.banner {
  width: 100%;
  height: 462px;
  position: relative;
  background-color: $red;
  z-index: -1;
  @media (min-width: $desktopSD) {
    height: 100%;
    padding-top: 90%; /* 366:406 Aspect Ratio */
  }
  @media (min-width: $desktopHD) {
    padding-top: 130%; /* 17:13 Aspect Ratio */
  }

  &__image-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  &__image {
    height: 100%;
  }
  &__no-image {
    color: white;
    position: absolute;
    top: 10%;
    left: 5%;
    display: none;

    @media (min-width: $desktopHD) {
      display: inline;
    }
  }
}
</style>
