<template>
  <button class="root" v-only-auth:click="createEvent">
    <Icon src="/icons/pencil-fat.svg" size="xs" />
    <span class="title">{{ $t('mainpage.createEvent') }}</span>
  </button>
</template>

<script>
import Icon from '~/components/common/Icon'

export default {
  components: { Icon },
  methods: {
    createEvent() {
      this.$router.push('/events/create/a/1/')
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.root {
  width: 100%;
  height: 40px;
  background-color: $red;
  color: white;
  font-weight: bold;

  .title {
    margin-left: 8px;
  }
}
</style>
