<template>
  <section class="desktop">
    <Title :name="value.title" class="desktop__title" />
    <DisclaimerText class="desktop__disclaimer" />
    <div class="desktop__links">
      <SocialLinks v-if="!isExternal && links.length" :links="links" />
    </div>
    <div class="desktop__search">
      <SearchBar
        :search.sync="search"
        :city.sync="city"
        :period.sync="period"
        :dates.sync="dates"
        class="search"
        @search="$emit('search', $event)"
      />
    </div>
    <Categories
      v-if="!isExternal"
      :value="categories"
      :query="query"
      class="desktop__categories"
    />
    <div class="desktop__banner">
      <Banner :image="coverImage" :name="value.title" />
    </div>
  </section>
</template>

<script>
import { path, prop } from 'ramda'
import { mapGetters } from 'vuex'

export default {
  components: {
    Title: () => import('./Title'),
    Banner: () => import('./Banner'),
    SearchBar: () => import('~/components/common/SearchBar'),
    SocialLinks: () => import('../SocialLinks'),
    Categories: () => import('./Categories'),
    DisclaimerText: () => import('~/components/common/DisclaimerText'),
  },
  props: {
    value: {
      type: Object,
      default: () => ({}),
    },
    query: {
      type: Object,
      default: () => ({}),
    },
    isExternal: Boolean,
  },
  data: () => ({
    search: '',
    city: {},
    period: '',
    dates: [],
  }),
  computed: {
    ...mapGetters({
      categories: 'main/categories/filtered',
    }),
    coverImage() {
      return path(['cover', 'image'], this.value)
    },
    links() {
      return prop('links', this.value) || []
    },
    getCity() {
      return this.$store.getters['city/GET_CITY']
    },
  },
  watch: {
    getCity(v) {
      this.city = v
    },
  },
  created() {
    this.city = this.getCity
  },
}
</script>

<style lang="scss">
@import '~/assets/css/variables.scss';

.desktop {
  display: none;
  @media (min-width: $desktopSD) {
    padding-top: 48px;
    display: grid;
    grid-template-columns: auto 406px;
    grid-template-rows: repeat(2, auto) 1fr;
    grid-auto-rows: auto;
    grid-template-areas:
      'title title'
      'disclaimer banner'
      'links banner'
      'search banner'
      '. banner'
      'categories categories';
    grid-gap: 24px;
    align-items: self-start;
  }
  @media (min-width: $desktopHD) {
    grid-template-columns: auto 384px;
    grid-template-rows: repeat(3, auto) 160px 1fr;
    grid-template-areas:
      'title banner'
      'disclaimer banner'
      'links banner'
      'search banner'
      'categories banner';
  }
  @media (min-width: $sideShow) {
    padding-top: 32px;
    grid-template-rows: repeat(4, auto) 1fr;
    grid-template-columns: minmax(auto, 744px) 416px;
  }
  @media (min-width: $desktopHDp) {
    padding-top: 0;
  }
  @media (min-width: $desktopFullHD) {
    grid-template-columns: auto 526px;
  }

  &__title {
    grid-area: title;
    @media (min-width: $sideShow) {
      margin-top: 4vw;
      margin-bottom: 1vw;
    }
    @media (min-width: $desktopFullHD) {
      margin-top: 80px;
      margin-bottom: 1vw;
    }
  }
  &__links {
    grid-area: links;
  }
  &__disclaimer {
    grid-area: disclaimer;
  }
  &__search {
    grid-area: search;
    z-index: 1;
    height: 161px;
    @media (min-width: $desktopHD) {
      height: 112px;
    }
    .search {
      position: absolute;
      right: unset;
      margin-left: -16px;
      width: 90%;
      max-width: 720px;
      @media (min-width: $desktopSD) {
        width: unset;
        max-width: unset;
        margin: 0;
        left: 24px;
        right: 24px;
      }
      @media (min-width: $desktopHD) {
        left: piecewise-linear-margin($desktopHD, $sideShow, 88px, 135px);
        right: piecewise-linear-margin($desktopHD, $sideShow, 0px, ($sideShow - 1124px) / 2);
      }
      @media (min-width: $sideShow) {
        left: 135px;
        right: 40px;
      }
      @media (min-width: $desktopHDp) {
        max-width: 1625px;
        left: 208px;
        right: 72px;
      }
    }
  }
  &__categories {
    grid-area: categories;
  }
  &__banner {
    grid-area: banner;
  }
}
</style>
