<template>
  <section class="root">
    <CreateEventButton />
    <div class="root__banner">
      <Banner :image="coverImage" :name="value.title" />
      <Title :name="value.title" class="root__title wrapper" />
      <div class="root__search">
        <SearchBar
          :search.sync="search"
          :city.sync="city"
          :period.sync="period"
          :dates.sync="dates"
          class="search"
          @search="$emit('search', $event)"
        />
      </div>
    </div>
    <div class="root__categories wrapper">
      <Categories v-if="!isExternal" :value="categories" :query="query" />
    </div>
  </section>
</template>

<script>
import { path, prop } from 'ramda'
import { mapGetters } from 'vuex'

export default {
  components: {
    CreateEventButton: () => import('./CreateEventButton'),
    Title: () => import('./Title'),
    Banner: () => import('./Banner'),
    SearchBar: () => import('~/components/common/SearchBar'),
    Categories: () => import('./Categories'),
  },
  props: {
    value: {
      type: Object,
      default: () => ({}),
    },
    query: {
      type: Object,
      default: () => ({}),
    },
    isExternal: Boolean,
  },
  data: () => ({
    search: '',
    city: {},
    period: '',
    dates: [],
  }),
  computed: {
    ...mapGetters({
      categories: 'main/categories/filtered',
    }),
    coverImage() {
      return path(['cover', 'image'], this.value)
    },
    declinationName() {
      const loc = this.$i18n.locale === 'ru' ? 'ru_ru' : 'en_us'
      return (
        path(['translations', loc, 'name_declination'], this.value) ||
        path(['translations', loc, 'name'], this.value) ||
        prop('name_declination', this.value) ||
        prop('name', this.value)
      )
    },
    links() {
      return prop('links', this.value) || []
    },
  },
  created() {
    this.city = this.$store.getters['city/GET_CITY']
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.root {
  &__banner {
    height: 462px;
    position: relative;
  }
  &__title {
    position: absolute;
    bottom: 310px;
    color: white;
  }

  &__search {
    position: absolute;
    bottom: 8px;
    width: 100%;
    padding: 8px;
  }
  &__categories {
    margin-top: 36px;
  }
}
</style>
