<template>
  <div class="main-hero__text">
    <h1 class="main-hero__header">
      {{ $t('mainpage.hero.text.title') }}
      <span class="main-hero__name">
        <span>{{ title[0] }}</span
        >&nbsp;<span class="main-hero__place-link" @click="openPopoverPlace">
          {{ title[1] }}
        </span>
      </span>
    </h1>
  </div>
</template>

<script>
export default {
  props: {
    name: {
      type: String,
    },
  },
  computed: {
    title() {
      if (this.name) {
        const title = this.name.split(' ')
        return [title.shift(), title.join(' ')]
      } else {
        return ['', '']
      }
    },
  },
  methods: {
    openPopoverPlace() {
      this.$store.commit('city/CHANGE_CITY_IN_POPOVER', false)
      this.$store.commit('city/CHANGE_CITY_FROM_TITLE', true)
      this.$store.dispatch('popovers/TOGGLE_POPOVER', 'popover_place')
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.main-hero {
  &__header {
    font-weight: bold;
    line-height: 1.25;
    @media (min-width: $desktopSD) {
      @include text(5);
      line-height: 56px;
    }
    @media (min-width: $desktopHD) {
      @include text(6);
      line-height: 56px;
    }
    @media (min-width: $desktopHDp) {
      @include text(7);
      line-height: 56px;
    }
  }
  &__name {
    display: block;
    @media (min-width: $desktopSD) and (max-width: $desktopHD) {
      display: inline;
    }
  }

  &__place-link {
    border-bottom: 2px solid $blue;
    cursor: pointer;
    display: inline-block;
    line-height: 0.94;

    &:hover,
    &:focus {
      color: $blue;
    }
  }

  &__info {
    display: none;
    margin-bottom: 2.75 * $base;

    @media (min-width: $desktopHD) {
      display: block;
    }

    &:hover,
    &:focus {
      .main-hero__info-arrow {
        transform: translateX(3px);
        transition: 0.25s ease-in;
      }
    }
  }
  &__info-arrow {
    color: $blue;
    display: inline-block;
    font-size: 1.125 * $base;
    margin-left: 0.5 * $base;
    transition: 0.25s ease-out;
  }
}
</style>
