<template>
  <div class="badge-moderation">
    <div class="badge" :class="badgeClass">
      <slot name="badge" />
    </div>
    <slot />
  </div>
</template>

<script>
export default {
  computed: {
    badgeClass() {
      return { 'badge--margin': this.$slots.default }
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.badge-moderation {
  font-size: 12px;
  line-height: 16px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #000;

  .badge {
    display: flex;
    align-items: baseline;

    &--margin {
      margin-right: 8px;
    }
  }
}
</style>
