<i18n>
{
  "ru": {
    "allEvents": "Все сеансы",
    "title": "Наши события",
    "emptyMessage": "За выбранный период нет событий",
    "loadMore": "Ещё спектакли"
  },
  "en": {
    "allEvents": "All sessions",
    "title": "Our events",
    "emptyMessage": "There are no events for the selected period",
    "loadMore": "More theatrical"
  },
  "es": {
    "allEvents": "Todas las sesiones",
    "title": "Nuestros eventos",
    "emptyMessage": "No hay eventos para el período seleccionado",
    "loadMore": "Más obras de teatro"
  }
}
</i18n>

<template>
  <div class="events-section organizer-promo-wrapper">
    <h2 class="events-section__title" v-text="$t('title')" />
    <div class="events-section__nav">
      <ScrollableNav
        :value="activeNavItem"
        :items="navItems"
        :wrap="navWrapped"
        justify="space-around"
        class="nav"
        @change="!isLoading && (activeNavItem = $event)"
      >
        <template
          v-slot:item="{
            item,
            isItemActive,
            isItemFirst,
            isItemLast,
          }"
        >
          <span
            :class="{
              'is-active': isItemActive,
              'is-first': isItemFirst,
              'is-last': isItemLast,
            }"
            :style="{ borderBottomColor: isItemActive ? mainColor : null }"
            class="nav-item"
            v-text="item.title"
          />
        </template>
      </ScrollableNav>
    </div>

    <div class="events-section__events">
      <template v-for="{ date, sessions } in paginatedGroups">
        <p :key="date" class="date" v-text="date" />
        <Event
          v-for="session in sessions"
          :key="date + session.id"
          :session="session"
          :color="mainColor"
          class="event"
        />
      </template>
      <template v-if="!groups.length && !isLoading">
        <div
          v-if="activeNavItem"
          class="empty-message"
          v-text="$t('emptyMessage')"
        />
      </template>
    </div>

    <div v-if="isLoading || hasMoreGroups" class="actions">
      <Loader
        v-if="isLoading"
        :color="mainColor"
        :width="40"
        :height="40"
        :margin="12"
      />

      <Button
        v-else-if="hasMoreGroups"
        :color="mainColor"
        full-width
        invert
        class="button"
        @click.native="loadMore()"
      >
        {{ $t('loadMore') }}
      </Button>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapMutations, mapActions } from 'vuex'
import { path } from 'ramda'

export default {
  components: {
    Loader: () => import('~/components/common/Loader'),
    ScrollableNav: () => import('~/components/common/ScrollableNav'),
    Button: () => import('~/components/common/buttons/YetAnotherButton'),
    Event: () => import('./Event'),
  },
  props: {
    organizer: {
      type: Object,
      required: true,
    },
  },
  data: () => ({
    activeNavItem: null,
    isLoading: false,
    navWrapped: false,
    page: 0,
    perPage: 8,
    // schemes: []
  }),
  computed: {
    ...mapGetters('tickets', ['SCHEMES', 'HAS_MORE_SCHEMES']),

    navItems() {
      const months = []
      // current month + following 4
      for (let i = 0, max = 4; i <= max; i++) {
        const needleMonth = this.$moment().add(i, 'months')
        const monthName = needleMonth.format('MMMM')

        const monthStartDate = needleMonth.date(1)
        const monthEndDate = monthStartDate
          .clone()
          .add(1, 'months')
          .subtract(1, 'days')

        months.push({
          title: monthName.slice(0, 1).toUpperCase() + monthName.slice(1),
          dates: [
            monthStartDate.format('DD.MM.YY'),
            monthEndDate.format('DD.MM.YY'),
          ].join(','),
        })
      }
      return [
        {
          title: this.$t('allEvents'),
          dates: void 0,
        },
      ].concat(months)
    },

    mainColor() {
      return path(['logo', 'main_color'], this.organizer)
    },

    groups() {
      const groups = []
      // this.schemes.forEach(({ event: sourceEvent, session: sourceSession, ...sourceScheme }) => {
      this.SCHEMES.forEach(
        ({ event: sourceEvent, session: sourceSession, ...sourceScheme }) => {
          const date = sourceScheme.view.dateTime.format('D MMMM, dddd')

          let group = groups.find(g => g.date === date)
          if (!group) {
            group = { date, sessions: [] }
            groups.push(group)
          }

          let session = group.sessions.find(s => s.id === sourceSession.id)
          if (!session) {
            session = { ...sourceSession }
            session.event = { ...sourceEvent }
            group.sessions.push(session)
          }

          session.schemes = session.schemes || []
          session.schemes.push({ ...sourceScheme })
        },
      )

      return groups
    },

    paginatedGroups() {
      return this.groups.slice(0, this.page * this.perPage)
    },

    hasMoreGroups() {
      return (
        this.HAS_MORE_SCHEMES ||
        this.paginatedGroups.length < this.groups.length
      )
    },

    isNotEnoughGroupsForCurrentPage() {
      return (
        this.HAS_MORE_SCHEMES && this.page * this.perPage > this.groups.length
      )
    },
  },
  watch: {
    activeNavItem() {
      if (process.server) return
      this.fetchSchemes()
    },
  },
  mounted() {
    this.activeNavItem = this.navItems[0]

    try {
      this.isMobileMQ = window.matchMedia('(max-width: 426px)')
      this.isMobileMQ.addEventListener(
        'change',
        this.onIsMobileMQChanged.bind(this),
      )
      this.onIsMobileMQChanged(this.isMobileMQ)
    } catch (e) {
      console.error(e)
      this.isMobileMQ = null
    }
  },
  beforeDestroy() {
    if (this.isMobileMQ) {
      try{
        this.isMobileMQ.addEventListener('change', this.onIsMobileMQChanged)
      } catch (e) {
        console.error(e)
      }
    }
  },
  methods: {
    ...mapMutations('tickets', ['RESET_SCHEMES']),
    ...mapActions('tickets', ['FETCH_SCHEMES', 'FETCH_SCHEMES_MORE']),

    async fetchSchemes(nextPage = false) {
      this.isLoading = true

      const dates = path(['dates'], this.activeNavItem)
      const organizer = this.organizer.id
      const params = {
        dates,
        organizer,
        page_size: 100,
        expand: 'event,event.cover,session.location',
      }

      try {
        if (nextPage) {
          await this.FETCH_SCHEMES_MORE()
        } else {
          // this.schemes = []
          this.RESET_SCHEMES()
          await this.FETCH_SCHEMES(params)
        }
        while (this.isNotEnoughGroupsForCurrentPage) {
          await this.FETCH_SCHEMES_MORE()
        }
        if (nextPage) {
          this.page += 1
        } else {
          this.page = 1
        }
      } catch (err) {
        console.error(err)
      } finally {
        // 'copy' schemes to local data
        // this.schemes = [...this.SCHEMES]
        this.isLoading = false
      }
    },

    loadMore() {
      this.fetchSchemes(true)
    },

    onIsMobileMQChanged(e) {
      const isMobile = e.matches
      this.navWrapped = !isMobile
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';
@import '../index.scss';

.events-section {
  margin-top: $base * 3;
  padding-top: $base * 3;

  &__title {
    @include text(4);
    font-weight: bold;
    text-align: center;
  }
  &__nav {
    margin: ($base * 2.5) 0 0;

    .nav-item {
      font-weight: bold;
      display: inline-block;
      white-space: nowrap;
      border-bottom: ($base / 2) solid transparent;
      margin: $base ($base * 2) ($base / 2);

      &.is-active {
        border-bottom-color: $blue;
      }
    }
  }
  &__events {
    .date {
      font-weight: bold;
      text-transform: uppercase;
      margin: ($base * 6) 0 $base;

      &:first-child {
        margin-top: $base * 5;
      }
    }

    .event + .event {
      margin-top: $base * 2;
    }

    .empty-message {
      @include text(3);
      text-align: center;
      margin: 50px auto;
    }
  }

  .actions {
    margin-top: $base * 3;
    overflow: hidden;
  }
  .button {
    height: $base * 8;
  }

  @media (max-width: $sideShow) {
  }
  @media (max-width: $desktopHD) {
    margin-top: $base * 2.625;
    padding-top: $base * 2.625;
  }
  @media (max-width: $desktopSD) {
    &__nav {
      margin-left: 0;
      margin-right: 0;
    }

    &__events {
      .date {
        margin-top: $base * 4;

        &:first-child {
          margin-top: $base * 3;
        }
      }

      .event + .event {
        margin-top: $base;
      }
    }
  }
  @media ($mobile) {
    margin-top: $base * 2.25;
    padding-top: $base * 2.25;

    &__title {
      @include text(3);
    }

    &__nav {
      margin-left: -$base;
      margin-right: -$base;

      .nav-item {
        &.is-first {
          margin-left: $base;
        }
        &.is-last {
          margin-right: $base;
        }
      }
    }
  }
}
</style>
