<template>
  <div class="map-widget">
    <div class="map-widget__title">{{ $t('widget.bestEvents') }}</div>
    <no-ssr>
      <GmapMap
        v-if="EVENTS"
        ref="map"
        :center="center"
        :zoom="13"
        map-type-id="roadmap"
        style="height: 100vh"
        :options="mapOptions"
        @center_changed="debounceFetchEvents"
      >
        <GmapInfoWindow
          :opened="infoWin"
          :options="infoOptions"
          :position="infoWinPosition"
          @closeclick="closeInfoWin"
        >
          <HorizontalEventCard
            v-for="event in currentEvents"
            :key="event.id"
            class="event-card"
            variant="1"
            isExternalLink
            :event="event"
            :extraQuery="makeWidgetUtm({ utmContentPlace: 'mapteaser' })"
          />
        </GmapInfoWindow>

        <GmapCluster :styles="clusterStyles" @click="openEventsInfoWin">
          <GmapMarker
            v-for="event in EVENTS"
            :id="event.id"
            :key="event.id"
            :options="{
              id: event.id,
            }"
            :position="event.location.geometry"
            clickable
            :draggable="false"
            :icon="markerIcon"
            @click="openEventInfoWin(event)"
          />
        </GmapCluster>
      </GmapMap>
    </no-ssr>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import GmapCluster from 'vue2-google-maps/dist/components/cluster'
import { prop, path, equals } from 'ramda'

import HorizontalEventCard from '~/components/common/HorizontalEventCard'
import { makeSearchQuery, debounce } from '~/utils'
import { getCurrentWidgetVersion, makeWidgetUtm } from '~/utils/widget'

const clusterStyle = {
  textColor: '#fff',
  textSize: 16,
  fontWeight: 'normal',
  url: '/map/circle.svg',
  fontFamily: 'Circe, Tahoma, Arial',
  height: 32,
  width: 32,
}

const markerIcon = {
  url: '/map/marker.svg',
  scaledSize: {
    height: 32,
    width: 20,
  },
}

export default {
  layout: 'iframe',

  components: {
    GmapCluster,
    HorizontalEventCard,
  },

  data: () => ({
    clusterStyles: [clusterStyle, clusterStyle, clusterStyle],
    markerIcon,
    mapOptions: {
      mapTypeControl: false,
      streetViewControl: false,
      fullscreenControl: false,
    },
    center: {
      lat: 0,
      lng: 0,
    },

    /* info window */
    currentEvents: [],
    infoWin: false,
    infoOptions: {
      pixelOffset: {
        width: 0,
        height: -35,
      },
      maxWidth: 400,
    },
  }),

  computed: {
    ...mapGetters('events', ['EVENTS', 'LOADING']),
    query() {
      const { lat, lng } = this.center

      return makeSearchQuery({
        ...this.$route.query,
        page_size: 72,
        page: 1,
        city: '',
        geo: [lng, lat].join(','),
      })
    },
    infoWinPosition() {
      return path(['0', 'location', 'geometry'], this.currentEvents)
    },
    currentVersion() {
      return getCurrentWidgetVersion({ query: this.$route.query })
    },
  },

  watch: {
    LOADING(v) {
      if (v) {
        this.$nuxt.$loading.start()
      } else {
        this.$nuxt.$loading.finish()
      }
    },
  },

  async mounted() {
    this.setInitCenter()
    await this.FETCH_UNIQUE(this.query)
  },

  methods: {
    ...mapActions('events', ['FETCH_UNIQUE']),
    closeInfoWin() {
      this.infoWin = false
      this.currentEvents = []
    },
    openEventInfoWin(event) {
      if (
        this.infoWin &&
        path(['0', 'id'], this.currentEvents) === prop('id', event)
      ) {
        this.closeInfoWin()
        return
      }

      this.currentEvents = [event]
      this.infoWin = true
    },
    openEventsInfoWin(cluster) {
      const eventIds = cluster.getMarkers().map(m => m.id)

      if (this.infoWin) {
        const currentEventIds = this.currentEvents.map(e => e.id)

        if (equals(eventIds, currentEventIds)) {
          this.closeInfoWin()
          return
        }
      }

      this.currentEvents = this.EVENTS.filter(e => eventIds.includes(e.id))
      this.infoWin = true
    },
    setInitCenter() {
      let location = null
      const { geo } = this.$route.query
      const [lng, lat] = geo.split(',').map(v => +v)
      location = { lat, lng }

      this.center = {
        lat: prop('lat', location) || 0,
        lng: prop('lng', location) || 0,
      }
    },
    updateCenter() {
      const { $mapObject } = this.$refs.map

      const latLng = $mapObject.getCenter()
      const lat = latLng.lat()
      const lng = latLng.lng()

      this.center = {
        lat,
        lng,
      }
    },
    debounceFetchEvents: debounce(function() {
      this.updateCenter()

      this.FETCH_UNIQUE(this.query)
    }, 300),
    makeWidgetUtm(rest) {
      return makeWidgetUtm({
        utmContentType: '3',
        query: this.$route.query,
        ...rest,
      })
    },
  },
}
</script>

<style lang="scss">
.nuxt-progress {
  bottom: 0px;
  top: auto;
}
</style>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.map-widget {
  position: relative;

  &__title {
    @include text(3);
    z-index: 1;
    position: absolute;
    padding: 16px 48px 16px 24px;
    color: #fff;
    background: $blue;

    @media (min-width: 768px) {
      @include text(4);
      padding: 16px 70px 16px 48px;
    }
  }

  & /deep/ {
    .gm-style-iw.gm-style-iw-c {
      border-radius: 0;
      max-width: initial !important;

      .gm-style-iw-d {
        max-width: initial !important;
      }
    }
  }
}

.event-card {
  width: 300px;

  @media (min-width: 768px) {
    width: 392px;
  }

  &:not(:last-of-type) {
    margin-bottom: 8px;
  }
}
</style>
