<template>
  <div
    class="lds-ring"
    :style="{
      width: `${width}px`,
      height: `${height}px`,
      margin: `${margin}px auto`,
    }"
  >
    <div
      v-for="n in 4"
      :key="n"
      class="circle"
      :style="{
        borderColor: `${color} transparent transparent transparent`,
        width: `${width}px`,
        height: `${height}px`,
      }"
    ></div>
  </div>
</template>

<script>
export default {
  props: {
    color: {
      type: String,
      default: '#0070ff',
    },
    width: {
      type: Number,
      default: 40,
    },
    height: {
      type: Number,
      default: 40,
    },
    margin: {
      type: Number,
      default: 100,
    },
  },
}
</script>

<style scoped>
.lds-ring {
  display: flex;
  justify-content: center;
  position: relative;
}

.lds-ring .circle {
  box-sizing: border-box;
  display: block;
  position: absolute;
  border: 3px solid #0070ff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #0070ff transparent transparent transparent;
}

.lds-ring .circle:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring .circle:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring .circle:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
</style>
