<script src="https://dev.whatwhere.world/js/iframeResizer.min.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var attrName = 'data-whatwhereworld'
    var iframes = document.querySelectorAll('iframe[' + attrName + '=""]')
    if (!iframes.length) return
    Array.prototype.slice.call(iframes).forEach(function(iframe) {
      iframe.setAttribute(attrName, 'loaded')
      iFrameResize({ log: false, checkOrigin: false }, iframe)
    })

    window.addEventListener('message', e => {
      if (!e || e.data.type !== 'ww') return
      var eventAttrName = 'data-whatwhereworld-event'
      const eventIframe = document.querySelector(
        'iframe[' + eventAttrName + '=""]'
      )

      const actions = {
        openEvent: 'open-event',
        closeEvent: 'close-event'
      }

      if (e.data.action === actions.openEvent) {
        eventIframe.contentWindow.postMessage(e.data)
        eventIframe.classList.remove('whatwhereworld-event--hidden')
      } else {
        eventIframe.classList.add('whatwhereworld-event--hidden')
      }
    })
  })
</script>
<style>
  .whatwhereworld-horizontal {
    transition: 1s all ease-in-out;
  }
  .whatwhereworld-container {
    width: 100%;
  }
  .whatwhereworld-text {
    display: inline-block;
    margin-top: 18px;
    width: 100%;
    text-align: right;
    font-family: 'Circe', Tahoma, Arial;
    font-size: 12px;
    color: #000;
  }
  .whatwhereworld-text a {
    color: #0070ff;
    text-decoration: none;
  }
  .whatwhereworld-text a:hover {
    text-decoration: underline;
  }
  .whatwhereworld-event {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }

  .whatwhereworld-event--hidden {
    display: none;
  }
</style>
<div class="whatwhereworld-container">
  Версия snob (новое окно)
  <iframe
    data-whatwhereworld
    class="whatwhereworld-horizontal"
    src="https://dev.whatwhere.world/widget/horizontal?v=snob&city=524901&actual=true"
    frameborder="0"
    width="100%"
    height="0"
  ></iframe>
  Версия snob2 (новый айфрейм)
  <iframe
    data-whatwhereworld
    class="whatwhereworld-horizontal"
    src="https://dev.whatwhere.world/widget/horizontal?v=snob2&city=524901&actual=true"
    frameborder="0"
    width="100%"
    height="0"
  ></iframe>
  <iframe
    data-whatwhereworld-event
    class="whatwhereworld-event whatwhereworld-event--hidden"
    frameborder="0"
    width="100%"
    height="0"
    src="https://dev.whatwhere.world/widget/event"
  ></iframe>
  <span class="whatwhereworld-text">
    Все события предоставлены сервисом
    <a href="https://dev.whatwhere.world" target="_blank"> WhatWhere.World </a>
  </span>
</div>
