<template>
  <div
    class="footer-event-card"
    :class="{ 'footer-event-card--is-bright': isBright }"
  >
    <AsyncImage :image="image" height="64" width="64" class="event-image" />

    <div class="event-content">
      <div class="event-content__title">{{ title }}</div>
      <div class="event-content__info">
        <div class="event-content__date">
          <span v-if="event.displayAsPeriod" class="no-wrap">
           {{ period.start }}
           <template v-if="period.start && period.end">-</template>
           <span v-if="period.end" class="capitalize-first">{{ period.end }}</span>
          </span>
          <template v-else>
            {{ startText }}
          </template>
        </div>
        <div v-if="location" class="event-content__address">
          <Icon src="icons/map-point.svg" size="xs" />
          {{ location.title }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import {path, prop} from 'ramda'
  import moment from "moment";

export default {
  name: 'FooterEventCard',

  components: {
    AsyncImage: () => import('~/components/common/AsyncImage'),
    Icon: () => import('~/components/common/Icon'),
  },

  props: {
    event: {
      type: Object,
      default: () => ({}),
    },
    isBright: Boolean,
  },
  computed: {
    image() {
      return path(['event', 'cover', 'image'], this.event)
    },
    title() {
      return path(['event', 'title'], this.event)
    },
    location() {
      const isOnline = path(['event', 'is_online'], this.event)
      return isOnline ? null : path(['location'], this.event)
    },
    period(){
      const start = path(['periodLocal', 'start'], this.event)
      const end = path(['periodLocal', 'end'], this.event)
      return {
        start: start ? start.format('ddd, DD MMMM'): '',
        end: end ? end.format('ddd, DD MMMM'): '',
      }
    },
    timeFormat(){
      return this.$moment.locale() === 'en' ? 'h:mmA' : 'H:mm'
    },
    startText() {
      const startDate = prop('start_date', this.event)
      const startTime = prop('start_time', this.event)
      const closesStartDT = prop('closesStartDT', this.event)
      const now = moment()
      if (!startDate && !startTime ) {
        return ''
      }
      else if (!startDate){
        return startTime
      }
      else if (!closesStartDT){
        return ''
      }

      let format = 'dd, DD MMMM'
      if (closesStartDT.year() - now.year() !== 0) {
        format += ' YY'
      }
      else if (startTime) {
        format += ` ${this.timeFormat}`
      }
      return closesStartDT.format(format)
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.footer-event-card {
  display: grid;
  grid-template-columns: 64px auto;
  grid-template-rows: 64px;
  grid-column-gap: 24px;
  color: #fff;
  min-width: 0;

  &--is-bright {
    color: #000;
  }

  .event-image {
    width: 64px;
    height: 64px;
    background: $red;
    margin-right: 14px;
    flex-shrink: 0;
  }

  .event-content {
    display: flex;
    min-width: 0;
    flex-direction: column;
    justify-content: center;

    &__title {
      @include text(3);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-bottom: 5px;
      font-weight: bold;
    }

    &__info {
      display: flex;
      align-items: center;
    }

    &__date {
      margin-right: 28px;
      font-weight: bold;
      line-height: 1.5;
      height: 24px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      &:first-letter {
        text-transform: uppercase;
      }
    }
    &__address {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: $blue;
    }
  }
}
</style>
