<template>
  <component
    :is="component"
    v-bind="$attrs"
    :class="{
      '-hovered': hovered,
      '-fullwidth': fullWidth,
      '-disabled': disabled,
      '-invert': invert,
      '-brightness': colorIsBrightness,
    }"
    :style="{ color }"
    :disabled="disabled"
    class="button"
  >
    <div class="text">
      <slot></slot>
    </div>
  </component>
</template>

<script>
import { calcBrightness } from '~/utils'

export default {
  inheritAttrs: false,
  props: {
    color: String,
    hovered: Boolean,
    fullWidth: Boolean,
    disabled: Boolean,
    invert: Boolean,
  },
  computed: {
    colorIsBrightness() {
      return this.color ? calcBrightness(this.color) : false
    },
    component() {
      // prettier-ignore
      return this.$attrs.to
        ? 'nuxt-link'
        : (this.$attrs.href ? 'a' : 'button')
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  margin: 0;
  padding: ($base * 1.25) ($base * 1.5) ($base * 0.75);
  text-transform: uppercase;

  &.-fullwidth {
    display: flex;
    width: 100%;
  }

  $transition: 0.2s ease;
  transition: opacity $transition, color $transition, background $transition,
    border-color $transition;

  color: $blue;
  background: currentColor;
  border: 2px solid currentColor;

  .text {
    flex: 1;
    color: #fff;
  }

  &:hover,
  &.-hovered {
    border: 2px solid currentColor;
    background: transparent;

    .text {
      color: currentColor;
    }
  }

  &.-invert {
    color: $blue;
    background: transparent;
    border: 2px solid currentColor;

    .text {
      color: currentColor;
    }

    &:hover,
    &.-hovered {
      background: currentColor;

      .text {
        color: #fff;
      }
    }
  }

  &.-brightness {
    .text {
      color: #000;
    }

    &.-invert {
      &:hover,
      &.-hovered {
        .text {
          color: #000;
        }
      }
    }
  }

  &.-disabled {
    cursor: default;
    pointer-events: none;
    background: $gray;
    border-color: $gray;

    .text {
      color: #c6c7c8;
    }
  }
}
</style>
