<template>
  <section v-if="!isEmpty || isOwnProfile" class="legal-data" >
    <AccordionPanel
      :title="isOwnProfile ? $t('marketplace.myBankingDetails'): $t('marketplace.bankingDetails')"
    >
      <div class="container-box">
        <div class="row">
          <div class="title">{{ user.legal_name }}</div>
          <nuxt-link
            v-if="isOwnProfile"
            :to="{ name: 'profile-edit', hash: '#legal-data'}"
            class="edit hidden-mobile-only"
          >
            <i class="icon ww-icn-pencil-o" />
            <span class="text" v-text="$t('common.edit')" />
          </nuxt-link>
        </div>
        <div v-for="value in values" class="row" >
          <div class="field">
            {{ value.title }}
          </div>
          <div class="value">
            {{ value.value }}
          </div>
        </div>
      </div>
    </AccordionPanel>
  </section>
</template>
<script>

  import { prop, isNil } from "ramda";

  export default {
    components: {
      AccordionPanel: () => import('../../components/AccordionPanel/index'),
    },
    props: {
      user: {
        type: Object,
        required: true,
      },
      isOwnProfile: Boolean
    },
    computed: {
      values () {
        return [
          {
            title: this.$t('legal.address'),
            value: prop('legal_address', this.user)
          },
          {
            title: this.$t('legal.inn'),
            value: prop('taxpayer_identification_number', this.user)
          },
          {
            title: this.$t('legal.ogrn'),
            value: prop('main_state_registration_number', this.user)
          },
          {
            title: this.$t('legal.kpp'),
            value: prop('registration_reason_code', this.user)
          },
          {
            title: this.$t('legal.okpo'),
            value: prop('russian_organizations_classifier', this.user)
          },
          {
            title: this.$t('legal.bank_account_number'),
            value: prop('bank_account_number', this.user)
          },
          {
            title: this.$t('legal.bik'),
            value: prop('bank_identification_code', this.user)
          }
        ].filter(item => (!isNil(item.value) && item.value))
      },
      isEmpty () {
        return this.values.length === 0 && !this.user.legal_name
      }
    },
  }
</script>
<style lang="scss" scoped>
  @import '~/assets/css/variables.scss';
  .legal-data {
    .container-box {
      display: flex;
      flex-direction: column;
      padding: $base * 3.875 $base * 4;

      .row {
        display: flex;
        flex: 1;
        align-items: baseline;

        &:not(:last-child) {
          margin-bottom: $base * 3.25;
        }

        .field {
          flex-basis: 16%;
          margin-right: 40px;
          opacity: 0.4;
          text-align: left;
          flex-shrink: 0;
        }
        .value {
          text-align: left;
          flex-shrink: 0;
        }
        @media (max-width: $desktopSD) {
          flex-wrap: wrap;
          flex-direction: column;

          .field {
            flex-basis: auto;
          }
        }

        .title {
          @include text(3);
          font-weight: bold;
          margin-right: auto;

        }
        .edit {
          margin-right: 0;
          margin-left: auto;
          color: $blue;
          cursor: pointer;

          .icon {
            font-size: 8px;
            display: inline-block;
            vertical-align: middle;
          }

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
</style>