<template>
  <section>
    <slot
      name="filter"
      :input="updateFilter"
      :close="fetchNew"
      :value="ordersFilters"
      :options="filterOptions"
      :optionsCount="allOptionsCount"
      :loading="ordersLoading"
    >
      <OrdersFilter
        v-if="allOptionsCount"
        class="filter"
        :value="ordersFilters"
        :options="filterOptions"
        :loading="ordersLoading"
        :placeholder="$t('marketplace.allOrders')"
        @input="updateFilter"
        @close="fetchNew"
      />
    </slot>
    <OrdersList
      class="orders"
      v-bind="listProps"
      @click="$emit('click', $event)"
    />
  </section>
</template>
<script>
  import { mapGetters, mapMutations } from "vuex"
  import { equals, prop } from "ramda"
  import { sleep } from '~/utils'
  import OrdersFilter from '~/components/marketplace/orders/Filter'
  import OrdersList from '~/components/marketplace/orders/List'

  const DELAYED_FETCH_TIMEOUT = 1.5 * 1000

  export default {
    components: {
      OrdersFilter,
      OrdersList
    },
    props: {
      fetchParams: {
        type: Object,
        default: () => ({}),
      },
      filterOptions: {
        type: Array,
        default: () => ([]),
      },
      orders: Array,
      ordersCount: Number,
      ordersHasMore: Boolean,
      ordersLoading: Boolean,
      ordersFilters: Array,
      setOrdersFilters: Function,
      fetchOrders: Function,
      fetchOrdersNext: Function,
      resetOrders: Function,
    },
    data: () => ({
      lastFetchFilters: [],
      delayedFetchTime: null,
    }),
    computed: {
      ...mapGetters('marketplace', ['ALL_ORDER_TYPES']),
      ...mapGetters('marketplace/order', ['DELETED_ORDER']),
      allOptionsCount() {
        return this.filterOptions.reduce((total, item) => {
          if ( prop('values', item)){
            return total + item.values.length
          }
          return total + 1
        }, 0)
      },
      filteredParams() {
        const params = { ...this.fetchParams }
        const keysMap = {}
        this.ordersFilters.forEach(filter => {
          if ( !keysMap[filter.filterKey] ){
            keysMap[filter.filterKey] = []
          }
          keysMap[filter.filterKey].push(filter.value)
        })
        for (const [key, val] of Object.entries(keysMap)) {
          params[key] = val.join(',')
        }
        return params
      },
      listProps() {
        return {
          orders: this.orders,
          loading: this.ordersLoading,
          count: this.ordersCount,
          hasMore: this.ordersHasMore,
          fetchNext: this.fetchNext,
        }
      }
    },
    watch: {
      async DELETED_ORDER() {
        if ( this.DELETED_ORDER ){
          await sleep(1000)
          await this.reloadList()
        }
      },
      async fetchParams() {
        await this.reloadList()
      }
    },
    created() {
      this.lastFetchFilters = this.ordersFilters
    },
    async mounted() {
      await this.reloadList()
    },
    methods: {
      ...mapMutations('marketplace/order', ['SET_DELETED_ORDER']),
      ...mapMutations('user', ['SET_COUNTERS']),
      async updateFilter(filters) {
        await this.setOrdersFilters(filters)
        if ( !this.ordersFilters.length || this.ordersFilters.length === this.allOptionsCount ) {
          return this.fetchNew()
        }

        const now = new Date().getTime();
        this.delayedFetchTime = now + DELAYED_FETCH_TIMEOUT - 1

        await sleep(DELAYED_FETCH_TIMEOUT)
        await this.delayedFetch()
      },

      async delayedFetch() {
        const now = new Date().getTime();
        if ( !this.delayedFetchTime || now < this.delayedFetchTime) {
          return
        }
        await this.fetchNew()
      },
      async reloadList(){
        this.delayedFetchTime = null
        if (this.ordersLoading) {
          return
        }
        this.SET_COUNTERS({marketplace_orders: 0})
        this.lastFetchFilters = this.ordersFilters
        this.resetOrders()
        return this.fetchOrders(this.filteredParams)
      },

      async fetchNew() {
        this.delayedFetchTime = null
        if (this.ordersLoading) {
          return
        }
        if (equals(this.lastFetchFilters, this.ordersFilters)) {
          return
        }
        this.lastFetchFilters = this.ordersFilters
        this.resetOrders()
        return this.fetchOrders(this.filteredParams)
      },

      async fetch() {
        this.delayedFetchTime = null
        if (this.ordersLoading) {
          return
        }
        this.lastFetchFilters = this.ordersFilters
        return this.fetchOrders(this.filteredParams)
      },

      async fetchNext() {
        this.delayedFetchTime = null
        if (this.ordersLoading) {
          return
        }
        this.lastFetchFilters = this.ordersFilters
        return this.fetchOrdersNext(this.filteredParams)
      },
    },
  }
</script>
<style lang="scss" scoped>
  @import '~/assets/css/variables.scss';
  .orders {
    padding-top: $base * 2;
  }
</style>
