<i18n>
  {
    "ru": {
      "deleteReplyQuestion": "Подтвердите удаление отклика"
    },
    "en": {
      "deleteReplyQuestion": "Confirm the deletion of the reply"
    }
  }
</i18n>
<template>
  <ConfirmDialog
    type="danger"
    @confirm="deleteReply"
    @cancel="toggleDialog"
  >
    <h2>{{ $t('deleteReplyQuestion') }}</h2>
    <template slot="confirm">{{ $t('common.confirmDelete') }}</template>
    <template slot="cancel">{{ $t('common.ignoreDelete') }}</template>
  </ConfirmDialog>
</template>
<script>
  import popoverConsts from '~/utils/popoverConsts'
  import { path } from "ramda"
  import { mapActions, mapGetters, mapMutations } from 'vuex'

  export default {
    name: 'ReplyDeletePopover',
    components: {
      ConfirmDialog: () => import('~/components/common/popovers/ConfirmDialog'),
    },
    computed: {
      ...mapGetters({popoverData: 'popovers/POPOVER_DATA'}),
    },
    mounted() {
      this.SET_DELETED_REPLY(null)
    },
    methods: {
      ...mapActions({
        showSuccess: 'notifications/success',
        DELETE_REPLY: 'marketplace/reply/DELETE_REPLY',
        TOGGLE_POPOVER: 'popovers/TOGGLE_POPOVER'
      }),
      ...mapMutations({
        SET_DELETED_REPLY: 'marketplace/reply/SET_DELETED_REPLY'
      }),
      deleteReply() {
        const replyId = path(['reply', 'id'], this.popoverData)
        if ( replyId ){
          const success = this.DELETE_REPLY({id: replyId})
          if ( success )
            this.showSuccess(this.$t('marketplace.replyDeleted'))
        }
        this.toggleDialog()
      },

      toggleDialog() {
        this.TOGGLE_POPOVER(popoverConsts.deleteReply)
      },
    },
  }
</script>