<template>
  <div class="datepicker">
    <no-ssr>
      <date-picker
        ref="datepicker"
        :class="{
          'center-placeholder': centerPlaceholder,
        }"
        type="date"
        format="DD.MM.YYYY"
        value-type="format"
        :lang="$i18n.locale"
        :time-picker-options="options"
        :placeholder="computedPlaceholder"
        :value="value"
        @change="$emit('input', $event)"
        @clear="clear"
        v-on="$listeners"
        v-bind="$attrs"
      />
    </no-ssr>
  </div>
</template>

<script>
export default {
  props: {
    value: {
      type: String,
    },
    placeholder: {
      type: String,
    },
    month: {
      default: 0,
    },
    centerPlaceholder: Boolean,
    promoClear: {
      type: Boolean,
      default: false
    }
  },
  data: () => ({
    options: {
      start: '00:00',
      step: '00:30',
      end: '23:30',
    },
  }),
  computed: {
    computedPlaceholder() {
      return (
        this.placeholder ||
        this.$moment()
          .add(this.month, 'M')
          .format('DD.MM.YYYY')
      )
    },
  },
  methods: {
    closePopup() {
      this.$refs.datepicker.closePopup()
    },
    clear() {
      if(this.promoClear) {
        this.$emit('input', ' ')
      }
    }
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.datepicker {
  display: flex;
  align-items: center;
}
.datepicker /deep/ {
  .mx-datepicker {
    width: 130px;
    font: inherit;
    @media (min-width: $desktopSD) {
      width: 150px;
    }
  }

  .mx-input {
    background: white !important;
    border: none;
    border-radius: 0 !important;
    box-shadow: none !important;
    color: black;
    @include text(2);
    width: 136px;
    padding: 0 16px;

    @media (min-width: $desktopSD) {
      @include text(3);
      height: 36px;
      width: 150px;
      padding: 0 16px;
    }
  }
  .mx-calendar-icon {
    visibility: hidden;
  }

  .center-placeholder {
    &.mx-datepicker {
      width: 100%;
    }

    .mx-input {
      text-align: center;
    }
    .mx-input-append {
      width: 0;
    }
  }
}
</style>
