<i18n>
{
  "ru": {
    "breadcrumbs": {
      "main": "Main",
      "about": "About"
    },
    "title": "Your target audience is here!",
    "description": "We help event organizers from all over the world to effortlessly reach their target audience and attract the maximum number of attendees to their events.",
    "form": {
      "title": "Sign up and you will be able to easily post your events online and promote them in one click!",
      "email": "Email address",
      "button": "Sign up"
    }
  },
  "en": {
    "breadcrumbs": {
      "main": "Main",
      "about": "About"
    },
    "title": "Your target audience is here!",
    "description": "We help event organizers from all over the world to effortlessly reach their target audience and attract the maximum number of attendees to their events.",
    "form": {
      "title": "Sign up and you will be able to easily post your events online and promote them in one click!",
      "email": "Email address",
      "button": "Sign up"
    }
  }
}
</i18n>

<template>
  <div class="land-page-default land-page-wrapper">
    <div class="layout">
      <div class="layout__content">
        <div class="content">
          <Breadcrumbs class="breadcrumbs">
            <BredItem href="/">{{ $t('breadcrumbs.main') }}</BredItem>
            <BredItem>{{ $t('breadcrumbs.about') }}</BredItem>
          </Breadcrumbs>

          <h1 class="title" v-text="$t('title')" />
          <p class="description" v-text="$t('description')" />
        </div>
        <form class="form" @submit.prevent="onSubmit">
          <p class="form__title" v-text="$t('form.title')" />

          <div class="form__row">
            <input
              v-model="form.email"
              :placeholder="$t('form.email')"
              :class="{ error: $v.form.email.$error || serverError }"
              :disabled="SHOW_PRE_LOADER"
              class="input"
              type="text"
            />
          </div>
          <div class="form__submit">
            <FlatButton
              :disabled="SHOW_PRE_LOADER"
              class="submit"
              type="submit"
            >
              {{ $t('form.button') }}
            </FlatButton>
          </div>
        </form>
      </div>
      <div class="layout__image">
        <IphoneIpadPicture class="image" />
      </div>
    </div>
    <Promotion class="promotion" />
  </div>
</template>

<script>
import { path } from 'ramda'
import { mapGetters, mapActions } from 'vuex'
import { required, email } from 'vuelidate/lib/validators'
import popoverConsts from '~/utils/popoverConsts'

export default {
  components: {
    Breadcrumbs: () => import('~/components/common/BreadCrumbs'),
    BredItem: () => import('~/components/common/BreadCrumbs/Item'),
    FlatButton: () => import('~/components/common/buttons/FlatButton'),
    Promotion: () => import('~/components/business/landings/Promotion'),
    IphoneIpadPicture: () =>
      import('~/components/business/landings/IphoneIpadPicture'),
  },
  data: () => ({
    form: { email: '' },
    serverError: '',
  }),
  computed: {
    ...mapGetters('popovers', ['SHOW_PRE_LOADER']),
  },
  validations: {
    form: {
      email: { required, email },
    },
  },
  methods: {
    ...mapActions({
      showPreloader: 'popovers/SWITCH_PRE_LOADER',
      togglePopover: 'popovers/TOGGLE_POPOVER',
      showError: 'notifications/error',
      simpleRegistration: 'auth/SIMPLE_REGISTRATION',
    }),

    async onSubmit() {
      this.$v.$touch()
      if (!this.$v.$error && !this.loading) {
        try {
          this.showPreloader(true)
          await this.simpleRegistration({ email: this.form.email })

          this.$router.replace({ name: 'index' }, () => {
            this.togglePopover(popoverConsts.simpleRegSucc)
          })
        } catch (err) {
          this.serverError = path(['email', 0], err)
        } finally {
          this.showPreloader(false)
        }
      }
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';
@import './index.scss';

.land-page-default {
  padding-top: $base * 4;

  .layout {
    display: flex;

    &__image {
      $img-width: 640px;
      $img-height: 449px;
      position: relative;
      flex: 0 0 $img-width;
      height: $img-height;
      margin-top: $base * 1.5;

      .image {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
      }
    }
    &__content {
      flex: 0 0 ($base * 72);
      margin-right: $base * 6;
    }
  }

  .content {
    .breadcrumbs {
      margin-bottom: $base * 2.75;
    }
    .title {
      @include text(5);
      font-weight: bold;
      margin-bottom: $base * 2.5 - 1;
    }
    .description {
      margin: 0;
    }
  }

  .form {
    margin-top: $base * 4 - 1;

    &__title {
      font-weight: bold;
      margin: 0 0 ($base * 3);
    }
    &__row {
      margin-bottom: $base * 2;
      box-shadow: 0 10px 30px 0 rgba(209, 220, 234, 0.6);
    }
    &__submit {
    }
  }
  .input {
    font-size: $base * 2 !important;
    line-height: $base * 3 !important;

    &.error {
      box-shadow: 0 0 0 2px $red;
    }
  }
  .submit {
    letter-spacing: 0.8px;
    padding: 22px 16px 18px;
    width: $base * 43;
    max-width: 100%;
    text-align: center;
  }

  .promotion {
    margin-top: $base * 6.875;
  }

  @media (max-width: $sideShow) {
    padding-top: $base * 8.5;

    .layout {
      &__image {
        margin-top: $base * 3;
      }
      &__content {
        flex-basis: $base * 69;
        margin-right: $base * 2;
      }
    }

    .promotion {
      margin-top: $base * 8.5;
    }
  }

  @media (max-width: $desktopHD) {
    $layout-space-between: $base * 4.25;
    .layout {
      &__image {
        $img-width: 560px;
        $img-height: 393px;
        height: $img-height;
        flex: 1 1 auto;
        margin-top: 0;

        .image {
          width: $img-width;
          height: $img-height;
          /*top: -30px;*/
          left: 50%;
          transform: translateX(-50%);
          margin-left: $base * 9;
        }
      }
      &__content {
        flex: 0 0 ($base * 56);
        margin-right: $layout-space-between;
      }
    }

    .content {
      .breadcrumbs {
        margin-bottom: $base * 3.5;
      }
    }

    .form {
      margin-top: $base * 5.25;
      margin-right: -$layout-space-between * 2;

      &__title {
        margin-bottom: $base * 2;
        margin-right: $layout-space-between * 2;
      }
    }

    .promotion {
      margin-top: $base * 11;
    }
  }

  @media (max-width: $desktopSD) {
    padding-top: $base * 4.375;

    .layout {
      flex-direction: column;

      &__image {
        flex: 0;
        order: 1;
        position: static;
        height: auto;
        margin: 0;

        .image {
          position: static;
          transform: none;
          width: 572px;
          max-width: 100%;
          height: auto;
          margin: 0 auto;
        }
      }
      &__content {
        flex: 0;
        order: 2;
        margin-right: 0;
        margin-top: $base * 5;
      }
    }

    .content {
      .breadcrumbs {
        margin-bottom: $base * 3.75;
      }
      .title {
        margin-bottom: $base * 4.25;
      }
    }

    .form {
      margin-right: 0;
      margin-top: $base * 9;

      &__title {
        margin-right: 0;
      }
    }

    .promotion {
      margin-top: $base * 10.5;
    }
  }

  @media ($mobile) {
    padding-top: $base * 3.625;

    .layout {
      &__image {
        .image {
          width: 320px;
        }
      }
      &__content {
        margin-top: $base * 3.5;
      }
    }

    .content {
      .breadcrumbs {
        display: none;
      }
      .title {
        @include text(3);
        margin-bottom: $base * 1.75;
      }
    }

    .form {
      margin-top: $base * 5;

      &__title {
        margin-bottom: $base * 2.25;
      }
      &__row {
        margin-bottom: $base;
      }
      .input {
        height: $base * 7;
      }
      .submit {
        @include text(1.5);
        height: $base * 7;
        width: 100%;
        padding: ($base * 2.5) 0;
        box-shadow: none;
      }
    }

    .promotion {
      margin-top: $base * 2.25;
    }
  }
}
</style>
