@import '~/assets/css/variables.scss';

.land-page-wrapper {
  $side-space: $base * 10;
  overflow: hidden;
  margin: 0 auto;
  padding: 0 ($side-space);

  @media (min-width: $sideShow + 1) {
    padding: 0;

    > * {
      margin: 0 auto;
      padding: 0 ($side-space);
      max-width: ($base * 157.5) + ($side-space * 2);
    }
  }
  @media (max-width: $sideShow) {
  }
  @media (max-width: $desktopHD) {
    padding-left: $base * 8;
    padding-right: $base * 8;
  }
  @media (max-width: $desktopSD) {
    padding-left: $base * 10;
    padding-right: $base * 10;
  }
  @media ($mobile) {
    padding-left: $base * 2;
    padding-right: $base * 2;
  }
}
