<i18n>
{
  "ru": {
    "breadcrumbs": {
      "main": "Main",
      "about": "About"
    },
    "title": "Promote your event",
    "subtitle": "You target audience is here!",
    "description": "We help event organizers from all over the world to effortlessly reach their target audience and attract the maximum number of attendees to their events.",
    "form": {
      "button": "Create and promote your event!"
    },
    "promo": [
      {
        "title": "FAST",
        "text": "Create a promo page for your event in just a few clicks"
      },
      {
        "title": "EASY",
        "text": "Tell us about the audience you're after and we'll promote your event on social media"
      }
    ]
  },
  "en": {
    "breadcrumbs": {
      "main": "Main",
      "about": "About"
    },
    "title": "Promote your event",
    "subtitle": "You target audience is here!",
    "description": "We help event organizers from all over the world to effortlessly reach their target audience and attract the maximum number of attendees to their events.",
    "form": {
      "button": "Create and promote your event!"
    },
    "promo": [
      {
        "title": "FAST",
        "text": "Create a promo page for your event in just a few clicks"
      },
      {
        "title": "EASY",
        "text": "Tell us about the audience you're after and we'll promote your event on social media"
      }
    ]
  }
}
</i18n>

<template>
  <div class="land-page-event land-page-wrapper">
    <div class="layout">
      <div class="layout__content">
        <div class="content">
          <Breadcrumbs class="breadcrumbs">
            <BredItem href="/">{{ $t('breadcrumbs.main') }}</BredItem>
            <BredItem>{{ $t('breadcrumbs.about') }}</BredItem>
          </Breadcrumbs>

          <h1 class="title">
            <span v-text="$t('title')" /><!--
            --><span v-if="!eventTitle">!</span>
            <span v-else> &laquo;{{ eventTitle }}&raquo;:</span>
          </h1>
          <h2 class="subtitle" v-text="$t('subtitle')" />
          <p class="description" v-text="$t('description')" />
        </div>
        <div class="form">
          <div class="form__submit">
            <FlatButton :to="{ name: 'events-create-a-1' }" class="submit">
              {{ $t('form.button') }}
            </FlatButton>
          </div>
        </div>
        <div class="promotion">
          <div
            v-for="(item, _, idx) in $t('promo')"
            :key="item.title"
            class="item"
          >
            <div class="item__header">
              <div class="item__title">{{ item.title }}</div>
              <div v-if="idx === 0" class="item__icon">
                <i class="icon ww-icn-megaphone" />
              </div>
              <div v-else-if="idx === 1" class="item__icons">
                <div class="icon-item">
                  <Icon
                    class="icon -facebook"
                    src="icons/social/facebook.svg"
                  />
                </div>
                <div class="icon-item">
                  <Icon
                    class="icon -instagram"
                    src="icons/social/instagram.svg"
                  />
                </div>
                <div class="icon-item">
                  <Icon
                    class="icon -linkedin"
                    src="icons/social/linkedin.svg"
                  />
                </div>
                <div class="icon-item">
                  <Icon class="icon -twitter" src="icons/social/twitter.svg" />
                </div>
              </div>
            </div>
            <div class="item__content" v-text="item.text" />
          </div>
        </div>
      </div>
      <div class="layout__image">
        <CouplePictures variant="concert" class="image" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  components: {
    Icon: () => import('~/components/common/Icon'),
    Breadcrumbs: () => import('~/components/common/BreadCrumbs'),
    BredItem: () => import('~/components/common/BreadCrumbs/Item'),
    FlatButton: () => import('~/components/common/buttons/FlatButton'),
    CouplePictures: () =>
      import('~/components/business/landings/CouplePictures'),
  },
  data: () => ({}),
  computed: {
    eventTitle() {
      const { event_title: eventTitle } = this.$route.query
      return (eventTitle || '').trim()
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';
@import './index.scss';

.land-page-event {
  padding-top: $base * 7;

  .layout {
    display: flex;

    &__image {
      position: relative;
      height: $base * 67;

      .image {
        position: relative;
        z-index: -1;
      }
    }
    &__content {
      flex: 0 0 498px;
      margin-right: 134px;
    }
  }

  .content {
    margin-top: 22px;

    .breadcrumbs {
      @media (min-width: $sideShow + 1) {
        display: none;
      }
    }
    .title {
      @include text(5);
      font-weight: bold;
      margin-bottom: 30px;
    }
    .subtitle {
      @include text(3);
      font-weight: bold;
      margin-bottom: 18px;
    }
    .description {
      margin: 0;
    }
  }

  .form {
    margin-top: 35px;

    &__submit {
    }
  }
  .submit {
    letter-spacing: 0.8px;
    padding: 17px 48px 15px;
    max-width: 100%;
    text-align: center;
  }

  .promotion {
    margin-top: 57px;
    padding-top: 16px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;

    .item {
      flex: 1;
      padding-left: 10px;
      padding-right: 24px;

      &__header {
        position: relative;
      }
      &__title {
        position: relative;
        color: $blue;
        font-weight: bold;
        line-height: 1;
        display: inline-block;

        &:after {
          content: '';
          position: absolute;
          z-index: -1;
          top: -9px;
          right: -13px;
          bottom: -2px;
          left: -10px;
          background: #f7ff00;
          transform: rotate(-3deg);
        }
      }

      &__icon,
      &__icons {
        display: inline-block;
      }
      &__icon {
        position: absolute;
        margin-top: -6px;
        margin-left: 7px;

        .icon {
          color: $blue;
          display: block;
          line-height: 1;
          font-size: 24px;
        }
      }
      &__icons {
        position: absolute;
        margin-left: 7px;
        margin-top: -6px;
        white-space: nowrap;

        .icon-item {
          vertical-align: middle;
          width: 20px;
          height: 20px;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          background: $blue;
          color: #fff;
          border-radius: 50%;
          margin-right: 3px;

          .icon {
            width: 10px;
            height: 10px;

            &.-linkedin {
              width: 8px;
              height: 8px;
            }
          }
        }
      }
    }
  }

  @media (max-width: $sideShow) {
    padding-top: 68px;

    .layout {
      &__image {
        margin-top: 53px;
      }
      &__content {
        flex-basis: 496px;
        margin-right: 71px;
      }
    }

    .content {
      margin-top: 0;

      .breadcrumbs {
        margin-bottom: 54px;
      }
    }
  }

  @media (max-width: $desktopHD) {
    .layout {
      &__image {
        flex: 1 1 auto;
        height: $base * 63;
        margin-top: 6px;
      }
      &__content {
        flex: 0 0 414px;
        margin-right: 42px;
      }
    }

    .content {
      .breadcrumbs {
        margin-bottom: 28px;
      }
      .title {
        @include text(4);
      }
      .subtitle {
        @include text(2);
        margin-bottom: 12px;
      }
    }
  }

  @media (min-width: $desktopSD + 1) and (max-width: $desktopHD) {
    .promotion {
      .item {
        @include text(1.75);

        &__title {
          line-height: 1;
          margin-right: 5px;
        }
        &__content {
          margin-top: -3px;
          line-height: 18px;
        }
      }
    }
  }

  @media (max-width: $desktopSD) {
    padding-top: $base * 2;

    .layout {
      flex-direction: column;

      &__image {
        flex: 0;
        order: 1;
        position: static;
        margin: 0 (-$base * 10) 0 (-$base * 8);
        height: $base * 50;
      }
      &__content {
        flex: 0;
        order: 2;
        margin-right: 0;
        margin-top: 58px;
      }
    }

    .content {
      .breadcrumbs {
        margin-bottom: 31px;
      }
      .title {
        @include text(5);
        margin-bottom: 53px;
      }
      .subtitle {
        @include text(3);
        margin-bottom: 6px;
      }
    }

    .form {
      margin-top: 33px;
    }

    .promotion {
      margin-top: 80px;
    }
  }

  @media ($mobile) {
    .layout {
      &__image {
        margin: 0 -16px 0 0;
        height: $base * 24;
      }
      &__content {
        margin-top: 26px;
      }
    }

    .content {
      .breadcrumbs {
        display: none;
      }
      .title {
        @include text(3);
        margin-bottom: 23px;
      }
      .subtitle {
        @include text(2);
        margin-bottom: 8px;
      }
    }

    .form {
      margin-top: 23px;

      .submit {
        @include text(1.5);
        height: $base * 7;
        width: 100%;
        padding: ($base * 2.5) ($base * 1.5);
      }
    }

    .promotion {
      margin-top: 33px;
      flex-direction: column;

      .item {
        padding-left: 18px;
        padding-right: 0;
        margin-right: 0;

        + .item {
          margin-top: 40px;
        }
      }
    }
  }
}
</style>
