<i18n>
{
  "ru": {
    "breadcrumbs": {
      "main": "Main",
      "about": "About"
    },
    "title": "WhatWhere.World is a huge collection of the events from all over the world",
    "description": "We aggregate events from different sources and present them to you in the most convenient format. Our project helps you to be aware of the most interesting events nearby or in any other location.",
    "form": {
      "email": "Email address",
      "button": "Post your event and launch lead generation"
    }
  },
  "en": {
    "breadcrumbs": {
      "main": "Main",
      "about": "About"
    },
    "title": "WhatWhere.World is a huge collection of the events from all over the world",
    "description": "We aggregate events from different sources and present them to you in the most convenient format. Our project helps you to be aware of the most interesting events nearby or in any other location.",
    "form": {
      "email": "Email address",
      "button": "Post your event and launch lead generation"
    }
  }
}
</i18n>

<template>
  <div class="land-page-reg-and-search land-page-wrapper">
    <div class="layout">
      <div class="layout__content">
        <div class="content">
          <Breadcrumbs class="breadcrumbs">
            <BredItem href="/">{{ $t('breadcrumbs.main') }}</BredItem>
            <BredItem>{{ $t('breadcrumbs.about') }}</BredItem>
          </Breadcrumbs>

          <h1 class="title" v-text="$t('title')" />
          <p class="description" v-text="$t('description')" />
        </div>
        <form class="form" @submit.prevent="onSubmit">
          <div class="form__row">
            <input
              v-model="form.email"
              :placeholder="$t('form.email')"
              :class="{ error: $v.form.email.$error || serverError }"
              :disabled="SHOW_PRE_LOADER"
              class="input"
              type="text"
            />
          </div>
          <div class="form__submit">
            <FlatButton
              :disabled="SHOW_PRE_LOADER"
              class="submit"
              type="submit"
              full-width
            >
              {{ $t('form.button') }}
            </FlatButton>
          </div>
        </form>
      </div>
      <div class="layout__image">
        <EventsCardsPicture class="image" />
      </div>
    </div>

    <SearchBlock class="search-block" />
  </div>
</template>

<script>
import { path } from 'ramda'
import { mapGetters, mapActions } from 'vuex'
import { required, email } from 'vuelidate/lib/validators'

export default {
  components: {
    Breadcrumbs: () => import('~/components/common/BreadCrumbs'),
    BredItem: () => import('~/components/common/BreadCrumbs/Item'),
    FlatButton: () => import('~/components/common/buttons/FlatButton'),
    SearchBlock: () => import('~/components/business/landings/SearchBlock'),
    EventsCardsPicture: () =>
      import('~/components/business/landings/EventsCardsPicture'),
  },
  data: () => ({
    form: { email: '' },
    serverError: '',
  }),
  computed: {
    ...mapGetters('popovers', ['SHOW_PRE_LOADER']),
  },
  validations: {
    form: {
      email: { required, email },
    },
  },
  methods: {
    ...mapActions({
      showPreloader: 'popovers/SWITCH_PRE_LOADER',
      togglePopover: 'popovers/TOGGLE_POPOVER',
      showError: 'notifications/error',
      simpleRegistration: 'auth/SIMPLE_REGISTRATION',
    }),

    async onSubmit() {
      this.$v.$touch()
      if (!this.$v.$error && !this.loading) {
        try {
          this.showPreloader(true)
          await this.simpleRegistration({ email: this.form.email })

          this.$router.replace({ name: 'events-create-a-1' })
        } catch (err) {
          this.serverError = path(['email', 0], err)
        } finally {
          this.showPreloader(false)
        }
      }
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';
@import './index.scss';

.land-page-reg-and-search {
  padding-top: 68px;

  .layout {
    display: flex;

    &__image {
      position: relative;

      .image {
        position: relative;
        z-index: -1;
        margin-top: -56px;
      }
    }
    &__content {
      flex: 0 0 520px;
      margin-right: 110px;
    }
  }

  .content {
    .breadcrumbs {
      margin-bottom: 38px;
    }
    .title {
      @include text(5);
      font-weight: bold;
      margin-bottom: 27px;
    }
    .description {
      margin: 0;
    }
  }

  .form {
    margin-top: 24px;

    &__row {
      margin-bottom: $base * 2;
    }
    &__submit {
    }
  }
  .input {
    font-size: $base * 2 !important;
    line-height: $base * 3 !important;

    &.error {
      box-shadow: 0 0 0 2px $red;
    }
  }
  .submit {
    letter-spacing: 0.8px;
    padding: 22px 16px 18px;
    max-width: 100%;
    text-align: center;
  }

  .search-block {
    margin-top: 180px;
  }

  @media (max-width: $sideShow) {
    padding-top: $base * 8.5;

    .layout {
      &__image {
        .image {
          margin-top: -32px;
        }
      }

      &__content {
        flex-basis: 475px;
        margin-right: 67px;
      }
    }

    .search-block {
      margin-top: 141px;
    }
  }

  @media (max-width: $desktopHD) {
    .layout {
      &__image {
        flex: 1 1 auto;

        .image {
          margin-top: -68px;
        }
      }
      &__content {
        flex-basis: 456px;
        margin-right: 52px;
      }
    }

    .content {
      .breadcrumbs {
        margin-bottom: 36px;
      }
      .title {
        @include text(4);
        margin-bottom: 20px;
      }
    }

    .form {
      margin-top: 33px;
    }

    .submit {
      padding-left: 8px;
      padding-right: 8px;
    }

    .search-block {
      margin-top: 112px;
    }
  }

  @media (max-width: $desktopSD) {
    padding-top: $base * 4.375;

    .layout {
      flex-direction: column;

      &__image {
        flex: 0;
        order: 1;
        position: static;

        .image {
          margin-left: -13px;
          margin-top: -54px;
          height: 436px;
        }
      }
      &__content {
        flex: 0;
        order: 2;
        margin-right: 0;
        margin-top: 22px;
      }
    }

    .content {
      margin-top: 0;

      .breadcrumbs {
        margin-bottom: 25px;
      }
      .title {
        max-width: 468px;
      }
      .description {
        max-width: 530px;
      }
    }

    .search-block {
      margin-top: 80px;
    }
  }

  @media ($mobile) {
    padding-top: $base * 3.625;

    .layout {
      &__image {
        margin: 0 (-$base * 2) 0 0;

        .image {
          margin-left: 0;
          margin-top: -41px;
          height: 274px;
        }
      }
      &__content {
        margin-top: 20px;
      }
    }

    .content {
      .breadcrumbs {
        display: none;
      }
      .title {
        @include text(3);
        margin-bottom: 22px;
      }
      .title,
      .description {
        padding-right: 0;
      }
    }

    .form {
      margin-top: 16px;

      &__row {
        margin-bottom: 16px;
      }
      .input {
        height: $base * 7;
      }
      .submit {
        @include text(1.5);
        width: 100%;
        padding: 19px 0 17px;
      }
    }

    .search-block {
      margin-top: 40px;
    }
  }
}
</style>
