<i18n>
{
  "ru": {
    "title": "Post your event on our website and attract more customers to your restaurant",
    "description": "We help event organizers from all over the world to effortlessly reach their target audience and attract the maximum number of attendees to their events.",
    "form": {
      "email": "Email address",
      "button": "Sign up"
    }
  },
  "en": {
    "title": "Post your event on our website and attract more customers to your restaurant",
    "description": "We help event organizers from all over the world to effortlessly reach their target audience and attract the maximum number of attendees to their events.",
    "form": {
      "email": "Email address",
      "button": "Sign up"
    }
  }
}
</i18n>

<template>
  <div class="land-page-restaurants land-page-wrapper">
    <div class="layout">
      <div class="layout__content">
        <div class="content">
          <h1 class="title" v-text="$t('title')" />
          <p class="description" v-text="$t('description')" />
        </div>
        <form class="form" @submit.prevent="onSubmit">
          <div class="form__row">
            <input
              v-model="form.email"
              :placeholder="$t('form.email')"
              :class="{ error: $v.form.email.$error || serverError }"
              :disabled="SHOW_PRE_LOADER"
              class="input"
              type="text"
            />
          </div>
          <div class="form__submit">
            <FlatButton
              :disabled="SHOW_PRE_LOADER"
              class="submit"
              type="submit"
            >
              {{ $t('form.button') }}
            </FlatButton>
          </div>
        </form>
      </div>
      <div class="layout__image">
        <CouplePictures variant="restaurant" class="image" />
      </div>
    </div>
  </div>
</template>

<script>
import { path } from 'ramda'
import { mapGetters, mapActions } from 'vuex'
import { required, email } from 'vuelidate/lib/validators'
import popoverConsts from '~/utils/popoverConsts'

export default {
  components: {
    FlatButton: () => import('~/components/common/buttons/FlatButton'),
    CouplePictures: () =>
      import('~/components/business/landings/CouplePictures'),
  },
  data: () => ({
    form: { email: '' },
    serverError: '',
  }),
  computed: {
    ...mapGetters('popovers', ['SHOW_PRE_LOADER']),
  },
  validations: {
    form: {
      email: { required, email },
    },
  },
  methods: {
    ...mapActions({ simpleRegistration: 'auth/SIMPLE_REGISTRATION' }),
    ...mapActions({
      showPreloader: 'popovers/SWITCH_PRE_LOADER',
      togglePopover: 'popovers/TOGGLE_POPOVER',
      showError: 'notifications/error',
    }),

    async onSubmit() {
      this.$v.$touch()
      if (!this.$v.$error && !this.loading) {
        try {
          this.showPreloader(true)
          await this.simpleRegistration({ email: this.form.email })

          this.$router.replace({ name: 'index' }, () => {
            this.togglePopover(popoverConsts.simpleRegSucc)
          })
        } catch (err) {
          this.serverError = path(['email', 0], err)
        } finally {
          this.showPreloader(false)
        }
      }
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';
@import './index.scss';

.land-page-restaurants {
  padding-top: $base * 7;

  .layout {
    display: flex;

    &__image {
      position: relative;
      height: $base * 67;

      .image {
        position: relative;
        z-index: -1;
      }
    }
    &__content {
      flex: 0 0 ($base * 72);
      margin-right: $base * 7;
    }
  }

  .content {
    margin-top: $base * 4.625;

    .title {
      @include text(5);
      font-weight: bold;
      margin-bottom: $base * 3.25;
    }
    .description {
      margin: 0;
    }
  }

  .form {
    margin-top: $base * 8.125;
    padding-bottom: $base * 6;

    &__row {
      margin-bottom: $base * 2;
      box-shadow: 0 10px 30px 0 rgba(209, 220, 234, 0.6);
    }
    &__submit {
    }
  }
  .input {
    font-size: $base * 2 !important;
    line-height: $base * 3 !important;

    &.error {
      box-shadow: 0 0 0 2px $red;
    }
  }
  .submit {
    letter-spacing: 0.8px;
    padding: 22px 16px 18px;
    width: $base * 43;
    max-width: 100%;
    text-align: center;
  }

  @media (max-width: $sideShow) {
    padding-top: $base * 8.5;

    .layout {
      &__content {
        flex-basis: $base * 69;
      }
    }
  }

  @media (max-width: $desktopHD) {
    $layout-space-between: $base * 4.25;
    .layout {
      &__image {
        flex: 1 1 auto;
        height: $base * 63;
      }
      &__content {
        flex: 0 0 ($base * 56);
        margin-right: $layout-space-between;
      }
    }

    .content {
      margin-top: $base * 2;
    }

    .form {
      margin-top: $base * 5.25;
      margin-right: -$layout-space-between * 2;
    }
  }

  @media (max-width: $desktopSD) {
    padding-top: $base * 4.375;

    .layout {
      flex-direction: column;

      &__image {
        flex: 0;
        order: 1;
        position: static;
        margin: 0 (-$base * 10) 0 (-$base * 8);
        height: $base * 50;
      }
      &__content {
        flex: 0;
        order: 2;
        margin-right: 0;
        margin-top: $base * 5;
      }
    }

    .content {
      margin-top: 0;

      .title {
        margin-bottom: $base * 4.25;
      }
    }

    .form {
      margin-right: 0;
      margin-top: $base * 5;
    }
  }

  @media ($mobile) {
    padding-top: $base * 3.625;

    .layout {
      &__image {
        margin: 0 (-$base * 2) 0 0;
        height: $base * 24;
      }
      &__content {
        margin-top: $base * 3.5;
      }
    }

    .content {
      .title {
        @include text(3);
        margin-bottom: $base * 1.75;
      }
    }

    .form {
      margin-top: $base * 5;

      &__row {
        margin-bottom: $base;
      }
      .input {
        height: $base * 7;
      }
      .submit {
        @include text(1.5);
        height: $base * 7;
        width: 100%;
        padding: ($base * 2.5) 0;
        box-shadow: none;
      }
    }
  }
}
</style>
