<i18n>
{
  "ru": {
    "title": "WhatWhere.World is a huge collection of the most interesting events all over the world",
    "description": "We aggregate events from different sources and present them to you in the most convenient way. Our project helps you be aware of the events nearby or in any other location — concerts, exhibitions, seminars, business trainings and others.",
    "form": {
      "button": "Post your event and generate leads"
    },
    "counter": {
      "value": "6.000.000+",
      "unit": "events in our database"
    }
  },
  "en": {
    "title": "WhatWhere.World is a huge collection of the most interesting events all over the world",
    "description": "We aggregate events from different sources and present them to you in the most convenient way. Our project helps you be aware of the events nearby or in any other location — concerts, exhibitions, seminars, business trainings and others.",
    "form": {
      "button": "Post your event and generate leads"
    },
    "counter": {
      "value": "6.000.000+",
      "unit": "events in our database"
    }
  }
}
</i18n>

<template>
  <div class="land-page-search">
    <div class="land-page-wrapper">
      <SearchBlock class="search-block" />
    </div>
    <div class="land-page-wrapper layout-wrapper">
      <div class="layout">
        <div class="layout__content">
          <div class="content">
            <h1 class="title" v-text="$t('title')" />
            <p class="description" v-text="$t('description')" />
          </div>
          <div class="form">
            <div class="form__submit">
              <FlatButton
                :to="{ name: 'events-create-a-1' }"
                class="submit"
                full-width
              >
                {{ $t('form.button') }}
              </FlatButton>
            </div>
          </div>
        </div>
        <div class="layout__image">
          <div class="image-counter-block-outer">
            <div class="image-counter-block">
              <div class="image-counter-block__content">
                <img src="~static/business/landings/map.svg" class="image" />
                <div class="counter">
                  <p class="counter__value" v-text="$t('counter.value')" />
                  <p class="counter__unit" v-text="$t('counter.unit')" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  components: {
    FlatButton: () => import('~/components/common/buttons/FlatButton'),
    SearchBlock: () => import('~/components/business/landings/SearchBlock'),
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';
@import './index.scss';

.land-page-search {
  @include prevent-body-padding;

  .layout-wrapper {
    background: #fff;
    padding-top: 162px;
    margin-top: 66px;

    @media (min-width: $sideShow) {
      padding-bottom: $base * 24;
    }
    @media (max-width: $sideShow) {
      padding-bottom: $base * 7;
    }
  }

  .layout {
    display: flex;

    &__image {
      order: 1;
      position: relative;
      flex: 0 1 576px;

      .image-counter-block-outer {
        position: absolute;
        z-index: 0;
        right: 48px;
        top: 16px;
      }
    }
    &__content {
      order: 2;
      flex: 0 0 520px;
      position: relative;
      z-index: 2;
    }
  }

  .content {
    .title {
      @include text(5);
      font-weight: bold;
      margin-bottom: 27px;
    }
    .description {
      margin: 0;
    }
  }

  .form {
    margin-top: 54px;

    &__submit {
      padding-bottom: 20px; // shadow-size
    }
  }
  .submit {
    letter-spacing: 0.8px;
    padding: 25px 16px 23px;
    max-width: 100%;
    text-align: center;
  }

  .counter {
    color: #fff;
    background: $blue;
    text-align: center;
    display: inline-block;
    padding: 22px 40px 15px;

    &__value {
      font-size: 52px;
      line-height: 1;
      font-weight: bold;
      margin: 0;
    }
    &__unit {
      font-size: 23px;
      margin: -2px 0 0;
      line-height: 1;
    }

    @media (max-width: $desktopHD) and (min-width: $desktopSD + 1), ($mobile) {
      padding: 18px 33px 13px;

      &__value {
        font-size: 41px;
      }
      &__unit {
        font-size: 18px;
        margin: -2px 0 0;
      }
    }
  }

  .image-counter-block {
    $img-width: 664px;
    $img-height: 368px;

    position: relative;
    height: 0;
    padding-top: ratio($img-height, $img-width);
    width: $img-width;
    max-width: 100%;

    &__content {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    .image {
      width: 100%;
      height: 100%;
    }
    .counter {
      position: absolute;
      top: ratio(211px, $img-height);
      left: ratio(150px, $img-width);
    }
  }

  @media (max-width: $sideShow) {
    .layout-wrapper {
      padding-top: 168px;
    }

    .layout {
      &__image {
        flex-basis: 474px;

        .image-counter-block-outer {
          right: auto;
          top: 16px;
          left: -166px;
        }
      }
    }
  }

  @media (max-width: $desktopHD) {
    .layout-wrapper {
      padding-top: 103px;
    }

    .layout {
      &__image {
        flex-basis: 389px;

        .image-counter-block-outer {
          top: 25px;
          left: -118px;
          width: 535px;
        }
      }
      &__content {
        flex-basis: 453px;
        flex-shrink: 1;
      }
    }
  }
  @media (max-width: $desktopSD) {
    .layout-wrapper {
      padding-top: 70px;
    }

    .layout {
      flex-direction: column;

      &__image {
        flex: 0 0 368px;

        .image-counter-block-outer {
          width: auto;
          top: 0;
          left: 50%;
          transform: translate(-50%);
        }
      }
      &__content {
        flex: 0;
        margin-left: 0;
        margin-top: 23px;
      }
    }

    .content {
      .title {
        @include text(4);
        max-width: 503px;
        margin-bottom: 29px;
      }
      .description {
        max-width: 552px;
      }
    }

    .form {
      margin-top: 47px;
    }
    .submit {
      max-width: 453px;
    }
  }
  @media ($mobile) {
    .layout-wrapper {
      padding-top: 58px;
    }

    .layout {
      &__image {
        flex-basis: 295px;

        .image-counter-block-outer {
          width: 532px;
        }
      }
      &__content {
        margin-top: 29px;
      }
    }

    .content {
      .title {
        @include text(3);
      }
    }

    .form {
      margin-top: 33px;
    }
    .submit {
      @include text(1.5);
      width: 100%;
      padding: 23px 16px 21px;
      letter-spacing: 0.6px;
    }
  }
}
</style>
