<template>
  <div class="cover-root">
    <picture
      ref="picture"
      class="cover-root__picture"
      :class="{
        'cover-root__picture--row': aspect >= 1,
        'cover-root__picture--column': aspect < 1,
      }"
    >
      <source :srcset="webpSrc" type="image/webp" />
      <source :srcset="jpegSrc" type="image/jpeg" />
      <img
        alt="cover"
        :src="jpegSrc"
        :class="{
          'cover-root__picture--row': aspect >= 1,
          'cover-root__picture--column': aspect < 1,
        }"
        @error="errorLoad = true"
        @load.once="afterLoad"
      />
    </picture>
  </div>
</template>

<script>
import { prop } from 'ramda'
import { thumborFit } from '~/utils/thumborize'

const fitSize = { width: 600, height: 600 }

export default {
  props: {
    cover: {
      type: Object,
      default: () => ({}),
    },
  },
  data: () => ({
    errorLoad: false,
    domImgSize: {
      aspect: 1,
    },
  }),
  computed: {
    width() {
      return prop('original_width', this.cover) || 0
    },
    height() {
      return prop('original_height', this.cover) || 0
    },
    aspect() {
      return this.width / this.height || this.domImgSize.aspect || 1
    },
    webpSrc() {
      const image = prop('image', this.cover)
      return image && !this.errorLoad
        ? thumborFit(image, fitSize, 'webp')
        : require('~/static/imgs/default.png')
    },
    jpegSrc() {
      const image = prop('image', this.cover)
      return image && !this.errorLoad
        ? thumborFit(image, fitSize, 'jpeg')
        : require('~/static/imgs/default.png')
    },
  },
  methods: {
    afterLoad() {
      try {
        this.setSize()
      } catch (err) {
        console.log(err)
      }
    },
    setSize() {
      const { width, height } = this.$refs.picture.getBoundingClientRect()
      const w = parseInt(width)
      const h = parseInt(height)
      this.domImgSize = {
        width: w,
        height: h,
        aspect: w / h,
      }
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.cover-root {
  height: 100%;
  padding-top: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &__picture {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;

    &--column {
      height: 100%;
      width: auto;
    }

    &--row {
      height: auto;
      width: 100%;
    }
  }
}
</style>
