<template>
  <label class="form-input">
    <span class="form-input__label" v-html="label">
      <slot>{{ label }}</slot>
    </span>
    <span class="form-input__hint">
      <slot name="hint">{{ hint }}</slot>
    </span>
    <textarea
      :value="value"
      :rows="rows"
      @input="$emit('input', $event.target.value)"
      class="form-input__input"
    />
  </label>
</template>

<script>
export default {
  props: {
    value: String,
    label: String,
    hint: String,
    rows: {
      type: [String, Number],
      default: 3,
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.form-input {
  &__label {
    display: block;
    opacity: 0.7;
    /deep/ a {
      color: $blue;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__hint {
    opacity: 0.4;
  }
  &__input {
    margin-top: 8px;
    height: 128px;
    width: 100%;
    border: solid 1px #000000;
    background-color: white;
    @include text(3);
  }
}
</style>
