<template>
  <label class="form-input">
    <span v-if="label" class="form-input__label" v-html="label"></span>
    <span v-else class="form-input__label"> <slot></slot> </span>
    <span class="form-input__hint">
      <slot name="hint">{{ hint }}</slot>
    </span>
    <input
      ref="input"
      :value="value"
      :placeholder="placeholder"
      @input="$emit('input', $event.target.value)"
      class="form-input__input"
      :class="{ 'form-input__input--error': error }"
    />
    <span v-if="!value" class="form-input__placeholder">
      <slot name="placeholder"></slot>
    </span>
  </label>
</template>

<script>
export default {
  props: {
    value: String,
    label: String,
    error: Boolean,
    hint: String,
    placeholder: String,
  },
  watch: {
    error(v) {
      v && this.$refs.input.focus()
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.form-input {
  position: relative;
  display: grid;
  &__label {
    display: block;
    opacity: 0.7;
    /deep/ a {
      color: $blue;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__hint {
    opacity: 0.4;
  }
  &__input {
    margin-top: 8px;
    height: 64px;
    border: solid 1px #000000;
    background-color: white;
    @include text(3);

    &:focus + .form-input__placeholder {
      display: none;
    }

    &--error {
      border: 2px solid $red;
    }
  }
  &__placeholder {
    position: absolute;
    opacity: 0.4;
    bottom: 16px;
    left: 20px;
  }
}
</style>
