<template>
  <div class="form-checkbox">
    <span class="form-checkbox__label" v-html="label">
      <slot>{{ label }}</slot>
    </span>
    <span class="form-checkbox__hint">
      <slot name="hint">{{ hint }}</slot>
    </span>

    <ul class="form-checkbox__options">
      <li v-for="(option, index) in options" :key="index">
        <label class="form-checkbox__option">
          <input
            type="checkbox"
            :checked="value === (option.value || option)"
            :value="option.value || option"
            @input="inputHandler"
            class="visuallyhidden"
          />
          <span class="form-checkbox__text">
            {{ option.title || option }}
          </span>
        </label>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  props: {
    value: { type: [String, Boolean], default: false },
    options: [Array, Object],
    label: String,
    error: Boolean,
    hint: String,
    color: String,
  },
  watch: {
    error(val) {
      const color = val ? '#f50052' : this.color || 'black'
      this.$el.style.setProperty('--active', color)
    },
  },
  methods: {
    inputHandler($event) {
      const value = $event.target.value
      this.$emit('input', value === this.value ? false : value)
    },
  },
  mounted() {
    if (this.color) {
      this.$el.style.setProperty('--active', this.color)
    }
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.form-checkbox {
  --white: #fff;
  --error: $red;
  --active: #000;

  &__label {
    display: block;
    opacity: 0.7;
    /deep/ a {
      color: $blue;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__hint {
    opacity: 0.4;
  }
  &__options {
    margin-top: 8px;
    display: grid;
    grid-gap: 8px;
    @media (min-width: $desktopSD) {
      grid-template-columns: 1fr 1fr;
    }
  }
  &__option {
    cursor: pointer;
    &:hover {
      .form-checkbox__text {
        opacity: 0.8;
        color: var(--white);
        background-color: var(--active);
      }
    }
  }
  &__text {
    width: 100%;
    display: inline-flex;
    height: 64px;
    padding: 0 56px;
    align-items: center;
    justify-content: center;

    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.8px;
    color: var(--active);
    border: solid 2px var(--active);
    background-color: unset;
  }
  input:checked + .form-checkbox__text {
    color: var(--white);
    background-color: var(--active);
  }
}

.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
</style>
