<i18n src="./locales.json"></i18n>

<template>
  <div class="pitch-form">
    <h2>{{ $t('formTitle') }}</h2>

    <ul class="pitch-form__fields">
      <li v-for="field in fields">
        <FormCheckbox
          v-if="field.options"
          v-model="field.value"
          :options="field.options"
          :color="color"
          :label="field.title"
          :error="errorFields.includes(field.id)"
        />
        <FormTextarea
          v-else-if="field.type === 'textarea'"
          v-model="field.value"
          :label="field.title"
        >
          <template #hint>{{ field.hint }}</template>
        </FormTextarea>
        <FormInput
          v-else
          v-model="field.value"
          :label="field.title"
          :error="errorFields.includes(field.id)"
        >
          <template #hint>{{ field.hint }}</template>
          <template v-if="field.id === 13" #placeholder>
            <Icon src="icons/map-point.svg" />
          </template>
        </FormInput>
      </li>
    </ul>

    <div class="pitch-form__actions">
      <Button
        v-if="step > 0"
        no-arrow
        no-hover
        :inlineColor="color"
        class="pitch-form__button"
        @click="previewStep"
      >
        {{ $t('previousStep') }}
      </Button>
      <Button
        v-if="step < forms.length - 1"
        no-arrow
        no-hover
        :inlineColor="color"
        class="pitch-form__button"
        @click="nextStep"
      >
        {{ $t('nextStep') }}
      </Button>
      <Button
        v-else
        no-arrow
        no-hover
        :inlineColor="color"
        @click="sendForm"
        class="pitch-form__button"
      >
        {{ $t('sendForm') }}
      </Button>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import { trackEvent } from '~/utils/analytics'
import form from './form'

export default {
  name: 'PitchApplicationForm',
  components: {
    Button: () => import('~/components/common/buttons/Button'),
    Icon: () => import('~/components/common/Icon'),
    FormCheckbox: () => import('./FormCheckbox'),
    FormTextarea: () => import('./FormTextarea'),
    FormInput: () => import('./FormInput'),
  },
  props: {
    color: String,
  },
  data: () => ({
    step: 0,
    form: [],
    forms: [[0, 5], [5, 10], [10, 16], [16, 21], [21, 26]],
    errorFields: [],
  }),
  computed: {
    fields() {
      return this.form.slice(...this.forms[this.step])
    },
  },
  created() {
    this.initialForm()
  },
  methods: {
    ...mapActions({ errorNotification: 'notifications/error' }),
    initialForm() {
      this.step = 0
      this.form = form.map((v, i) => ({
        ...v,
        value: '',
        ...this.$t('form')[i],
      }))
    },
    checkValidation() {
      this.errorFields = []
      this.$v.$touch()
      for (
        let i = this.forms[this.step][0];
        i < this.forms[this.step][1];
        i++
      ) {
        if (this.$v.form[i].value.$error) {
          this.errorFields = [...this.errorFields, this.form[i].id]
        }
      }
      return !this.errorFields.length
    },
    previewStep() {
      this.step--
    },
    nextStep() {
      if (this.checkValidation()) {
        this.step++
        trackEvent({
          eventCategory: 'event',
          eventAction: 'click',
          eventLabel: `special-project-next-step-click-${this.step}`,
          eventValue: 1,
        })(this)
      } else {
        this.errorFields.includes(7)
          ? this.errorNotification(this.$t('validation.lenMax'))
          : this.errorNotification(this.$t('requiredAll'))
      }
    },
    sendForm() {
      if (this.checkValidation()) {
        trackEvent({
          eventCategory: 'event',
          eventAction: 'click',
          eventLabel: 'special-project-send-click',
          eventValue: 1,
        })(this)
        this.$emit('send', this.form.map(v => ({ id: v.id, value: v.value })))
        this.initialForm()
      } else {
        this.errorNotification(this.$t('requiredAll'))
      }
    },
  },
  validations() {
    return {
      form: {
        ...this.form.map(v => ({ value: v.validations })).filter(v => v.value),
      },
    }
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.pitch-form {
  @media (min-width: $desktopSD) {
    background-color: white;
    padding: 8% 10%;
  }

  &__fields {
    margin: 24px 0;
    display: grid;
    grid-gap: 16px;
    @media (min-width: $desktopSD) {
      grid-gap: 24px;
    }
  }

  &__actions {
    height: 72px;
    display: flex;
  }

  &__button + .pitch-form__button {
    margin-left: 8px;
  }
}
</style>
