<i18n>
  {
    "ru": {
      "title": "Название события",
      "online": "Онлайн событие"
    },
    "en": {
      "title": "Event name",
      "online": "Online event"
    }
  }
</i18n>
<template>
  <div class="card">
    <div class="event-cover">
      <Cover :cover="eventCover" />
    </div>
    <div class="event-description">
      <div class="name">
        <p v-if="eventCategories" class="label">{{ categories }}</p>
        <p class="title">{{ eventTitle }}</p>
      </div>
      <div class="date">
        <p>{{ eventDate }}</p>
      </div>
      <div class="event-address">
        <template v-if="!isOnline">
          <Icon
            src="icons/map-point.svg"
            size="xs"
            style="margin-right: 7px"
          />
        </template>
        <p>{{ eventAddress }}</p>
      </div>
    </div>
  </div>
</template>

<script>
  import Cover from '~/components/common/Cover'
  import Icon from '~/components/common/Icon'
  export default {
    components: {
      Cover,
      Icon
    },
    data() {
      return {
        eventCover: null,
        eventTitle: null,
        eventAddress: null,
        eventDate: null,
        eventCategories: [],
        isOnline: null,
      }
    },
    computed: {
      categories() {
        return this.eventCategories.join(', ')
      }
    },
    mounted() {
      const event = this.$cookies.get('eventForCreateTestBC')
      if ( event ) {
        this.eventCover = event.cover
        this.eventTitle = event.title
        this.isOnline = event.isOnline
        this.eventAddress = event.isOnline ? this.$t('online') : event.address
        this.eventDate = this.$moment(event.period[0]).format('LL')
        this.eventCategories = event.tags.map(category => category.title)
      }
    },
  }
</script>

<style lang="scss" scoped>
  .card{
    display: flex;
    align-items: center;
    padding-left: 16px;
    box-shadow: 0 3px 20px 0 rgba(0, 112, 255, 0.1);
    background-color: #ffffff;
    margin-bottom: 16px;
    max-width: 700px;
    .event-cover{
      width: 180px;
      margin: 5px 25px 5px 0;
    }
    p{
      margin: 0;
    }
    .event-description{
      display: flex;
      flex-direction: column;
      .name {
        margin-bottom: 17px;
      }
      .date{
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 6px;
      }
      .event-address {
        display: flex;
        align-items: center;
        font-size: 12px;
        font-weight: normal;
        color: rgba(0, 0, 0, 0.4);
      }
    }
    .label{
      font-size: 12px;
      font-weight: normal;
      color: rgba(0, 0, 0, 0.4);
      margin-bottom: 5px;
    }
    .title{
      font-size: 21px;
    }
  }
</style>