<template>
  <div class="root">
    <OrganizerBanner class="contact-organizer" @click="scrollToOrganizer">
      <SpecialActions class="contact-organizer__social" />
    </OrganizerBanner>

    <AsyncImage
      v-if="cover"
      class="background"
      :image="cover.image"
      :width="cover.original_width"
      :height="cover.original_height"
      styles="object-position: 0 50%;"
    />

    <div class="background-info">
      <div class="background-info__top">
        <h1 v-if="project.title" class="background-info__title">
          {{ project.title }}
        </h1>
        <SpecialCategories class="background-info__categories" color="blue" />
      </div>
      <SpecialSocial class="background-info__social">
        <SpecialUser
          v-if="GET_USER"
          class="background-info__user"
          noContacts
          :user="GET_USER"
          :linkProps="{
            color: 'blue',
          }"
        />
      </SpecialSocial>
      <div
        v-if="project.links && project.links.length"
        class="background-info__links"
      >
        <WLink
          v-for="item in project.links"
          :key="item.link"
          class="background-info__link"
          color="blue"
          target="_blank"
          :href="item.link"
        >
          {{ item.link }}
        </WLink>
      </div>
      <SpecialActions class="background-info__actions" />
    </div>

    <div class="sticky-special">
      <div class="sticky-special__content">
        <main class="main-content">
          <div class="info">
            <BreadCrumbs class="info__breadcrumbs">
              <BredItem href="/">{{ $t('common.main') }}</BredItem>
              <BredItem> {{ project.title }} </BredItem>
            </BreadCrumbs>

            <ReadMore
              v-if="project.description"
              height="420"
              :color="project.main_color"
              class="info__title"
              @toggle="trackExpand"
            >
              <div v-html="project.description" />
            </ReadMore>

            <SpecialContent v-if="sessions.length" :title="$t('common.events')">
              <SpecialEvents :projectId="project.id" />
            </SpecialContent>

            <SpecialContent v-if="videos.length" :title="$t('special.video')">
              <VideoList :projectId="project.id" />
            </SpecialContent>

            <SpecialContent v-if="images.length" :title="$t('special.photos')">
              <PhotoReport
                noHeader
                class="photo-report"
                :project="project.id"
              />
            </SpecialContent>

            <div ref="organizer" class="member">
              <h2 class="member__title">
                {{ $t('special.officialRepresentatives') }}
              </h2>
              <SpecialUser v-if="GET_USER" :user="GET_USER" />
              <SpecialSocial class="member__social" />
              <SpecialLocation class="member__location" />
              <SpecialActions class="member__actions" />
            </div>
          </div>

          <GMap class="map" :location="GET_LOCATION" height="544" />
          <Comments
            :color="project.main_color"
            class="big-event__comments"
            no-hover
            @send="sendComment"
          />
        </main>
      </div>

      <div class="sticky-special__side">
        <div class="side-info-wrapper">
          <AsyncImage
            v-if="logo"
            class="side-logo"
            :image="logo.image"
            width="200"
            height="200"
          />
          <div class="side-info">
            <div v-if="project.title" class="side-info__title">
              {{ project.title }}
            </div>

            <SpecialCategories class="side-info__categories" />

            <SpecialLocation
              :linkProps="{ color: 'light-blue' }"
              class="side-info__location"
            />

            <div class="side-info__social">
              <div class="social__title">{{ $t('special.connectWithUs') }}</div>
              <div class="social__main">
                <SpecialSocial>
                  <SpecialUser
                    v-if="GET_USER"
                    class="social__main-item"
                    noContacts
                    :user="GET_USER"
                    :linkProps="{ color: 'light-blue' }"
                  />
                </SpecialSocial>
              </div>
            </div>

            <SpecialActions />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import { hasCover, scrollToElement } from '~/utils'
import { trackExpandText } from '~/utils/analytics'
import { prop } from 'ramda'

const getDescription = v => {
  if (v) {
    const content = v.length > 200 ? `${v.substring(0, 200)}...` : v
    return [
      {
        hid: 'ogDescription',
        property: 'og:description',
        content,
      },
      {
        hid: 'description',
        name: 'description',
        content,
      },
    ]
  } else {
    return [{}]
  }
}

export default {
  name: 'SpecialV2',

  head() {
    const title = `${this.project.title} ${this.$t('seo.onSite')}`

    return {
      title,
      meta: [
        {
          hid: 'ogUrl',
          property: 'og:url',
          content: `${process.env.domainUrl}${this.$route.path}`,
        },
        {
          hid: 'ogTitle',
          property: 'og:title',
          content: title,
        },
        {
          hid: 'title',
          name: 'title',
          content: title,
        },
        ...getDescription(
          this.project.description_text || this.project.description,
        ),
        { hid: 'imgwidth', property: 'og:image:width', content: `1200` },
        { hid: 'imgheight', property: 'og:image:height', content: `600` },
        ...hasCover({ cover: this.cover }),
      ],
    }
  },

  components: {
    ReadMore: () => import('~/components/common/ReadMore'),
    BreadCrumbs: () => import('~/components/common/BreadCrumbs'),
    BredItem: () => import('~/components/common/BreadCrumbs/Item'),
    Comments: () => import('~/components/common/Comments'),
    AsyncImage: () => import('~/components/common/AsyncImage'),
    GMap: () => import('~/components/common/GMap'),
    SpecialUser: () => import('~/components/common/SpecialUser'),
    SpecialEvents: () => import('~/components/special/SpecialEvents'),
    WLink: () => import('~/components/common/WLink'),
    VideoList: () => import('~/components/special/VideoList'),
    OrganizerBanner: () => import('~/components/special/OrganizerBanner'),
    SpecialSocial: () => import('~/components/special/SpecialSocial'),
    SpecialLocation: () => import('~/components/special/SpecialLocation'),
    SpecialActions: () => import('~/components/special/SpecialActions'),
    SpecialCategories: () => import('~/components/special/SpecialCategories'),
    PhotoReport: () => import('~/components/special/PhotoReport'),
    SpecialContent: () => import('~/components/special/SpecialContent'),
  },

  computed: {
    ...mapGetters('special', ['GET_LOCATION', 'GET_INSTITUTION']),
    ...mapGetters({
      project: 'project/data',
      sessions: 'project/sessions/results',
      videos: 'project/videos/results',
      images: 'project/images/results',
      users: 'project/users/results',
    }),
    cover() {
      return prop('cover', this.project)
    },
    logo() {
      return prop('logo', this.project)
    },
    GET_USER() {
      return this.users && this.users[0]
    },
  },

  methods: {
    ...mapActions({
      sendCommentForSpecial: 'special/SEND_COMMENT',
      errorMessage: 'notifications/error',
    }),
    async sendComment({ parent, comment }) {
      try {
        await this.sendCommentForSpecial({ parent, comment })
      } catch (e) {}
    },
    scrollToOrganizer() {
      scrollToElement({
        element: this.$refs.organizer,
        align: 'top',
        topIndent: -68,
      })
    },
    trackExpand() {
      trackExpandText(this)
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.big-event__comments {
  margin-top: 4 * $base;
  padding-left: 16px;
  padding-right: 16px;

  @media (min-width: 768px) {
    padding-left: 52px;
    padding-right: 52px;
  }

  @media (min-width: 1180px) {
    padding-left: 56px;
    padding-right: 56px;
  }

  @media (min-width: 1440px) {
    padding-left: 112px;
    padding-right: 112px;
  }
}

.sticky-special {
  align-items: flex-start;
  display: flex;
  margin-top: 336px;
  position: relative;

  @media (min-width: 768px) {
    padding-right: 16px;
    padding-left: 16px;
    margin-top: 504px;
  }

  @media (min-width: 1180px) {
    padding-right: 72px;
    padding-left: 112px;
    padding-top: 88px;
    margin-top: 0;
  }

  &__content {
    width: 100%;
    @media (min-width: 1180px) {
      flex-grow: 1;
      margin-right: 40px;
      max-width: calc(100% - 408px - 40px);
    }
  }

  &__side {
    display: none;
    position: sticky;
    width: 408px;
    top: 88px;

    @media (min-width: 1180px) {
      display: block;
    }
  }
}

.root {
  position: relative;

  .contact-organizer {
    position: sticky;
    top: 0;
    z-index: 100;

    @media (min-width: 1180px) {
      display: none;
    }

    &__social {
      display: none;

      @media (min-width: 768px) {
        display: block;
      }
    }
  }

  .background,
  .background-info {
    height: 336px;
    width: 100%;
    position: absolute;

    @media (min-width: 768px) {
      height: 672px;
    }
  }

  .background {
    background-color: #f3f3f3;
  }

  .background-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 30px 16px;
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.93) 70%,
      #000000
    );
    background-size: 100% 410px;
    background-position: bottom;
    background-repeat: no-repeat;

    @media (min-width: 768px) {
      background-size: 100% 570px;
      padding: 30px 60px 208px;
    }

    @media (min-width: 1180px) {
      display: none;
    }

    &__top {
      display: flex;
      flex-direction: column;

      @media (min-width: 768px) {
        flex-direction: column-reverse;
      }
    }

    &__title {
      color: #ffffff;
      font-weight: bold;
      margin-bottom: 4px;
      @include text(4);

      @media (min-width: 768px) {
        margin-bottom: 30px;
      }
    }

    &__categories {
      margin-bottom: 20px;

      @media (min-width: 768px) {
        margin-bottom: 28px;

        & /deep/ {
          .category {
            color: #ffffff;
          }
        }
      }
    }

    &__social {
      display: none;
      margin-bottom: 42px;

      @media (min-width: 768px) {
        display: flex;
      }
    }

    &__user {
      flex: 1;
      margin-left: 16px;
      color: #ffffff;
    }

    &__links {
      margin-bottom: 24px;
      display: flex;
      flex-direction: column;

      @media (min-width: 768px) {
        margin: 0;
      }
    }

    &__link {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &__actions {
      @media (min-width: 768px) {
        display: none;
      }
    }
  }

  .main-content {
    width: 100%;

    @media (min-width: 1180px) {
      margin-top: 480px;
    }
  }

  .info {
    padding-top: 36px;
    padding-bottom: 24px;
    padding-left: 16px;
    padding-right: 16px;

    @media (min-width: 768px) {
      background: #ffffff;
      padding-left: 52px;
      padding-right: 52px;
      padding-bottom: 40px;
    }

    @media (min-width: 1180px) {
      padding-top: 52px;
      padding-left: 56px;
      padding-right: 56px;
    }

    @media (min-width: 1440px) {
      /*padding-left: 112px;*/
      /*padding-right: 112px;*/
    }

    &__breadcrumbs {
      margin-bottom: 28px;

      @media (min-width: 1180px) {
        margin-bottom: 44px;
      }
    }

    &__title {
      margin-bottom: 38px;

      & /deep/ a {
        color: $blue;

        &:hover {
          text-decoration: underline;
        }
      }

      @media (min-width: 768px) {
        margin-bottom: 54px;
      }
    }
  }

  .photo-report {
    padding: 0;
    display: block;
  }

  .member {
    &__title {
      margin-bottom: 28px;

      @media (min-width: 1180px) {
        margin-bottom: 38px;
      }
    }

    &__social {
      margin-top: 24px;
      display: flex;

      @media (min-width: 768px) {
        margin-top: 50px;
      }

      @media (min-width: 1180px) {
        display: none;
      }
    }

    &__location {
      margin-top: 24px;

      @media (min-width: 768px) {
        margin-top: 32px;
      }

      @media (min-width: 1180px) {
        display: none;
      }
    }

    &__actions {
      margin-top: 32px;

      @media (min-width: 768px) {
        display: none;
      }
    }
  }

  .map {
    background: #f3f3f3;
    margin: 0;

    @media (min-width: 768px) {
      margin-left: -16px;
      margin-right: -16px;
    }

    @media (min-width: $desktopHD) {
      margin: 0;
    }
  }

  .side-info-wrapper {
    position: relative;
  }

  .side-logo {
    height: 88px;
    width: 88px;
    top: -44px;
    left: 32px;
    border-radius: 50%;
    position: absolute;
  }

  .side-info {
    background: #ffffff;
    padding: 64px 32px 32px;

    .address {
      margin-right: 4px;
    }

    &__title {
      font-weight: bold;
      @include text(3);
      margin-bottom: 8px;
      margin-top: 0;
    }

    &__categories {
      margin-bottom: 18px;
    }

    &__location {
      margin-bottom: 24px;
    }

    &__social {
      margin-bottom: 24px;

      .social__title {
        margin-bottom: 8px;
      }

      .social__main-item {
        flex: 1;
      }
    }
  }
}
</style>
