<template>
  <div class="tag filter__item">
    <input
      class="filter__input"
      type="checkbox"
      value
      :checked="interest.checked"
      @change="
        $emit('change', { checked: $event.target.checked, value: interest })
      "
    />
    <div class="filter__caption">{{ interest.title }}</div>
  </div>
</template>

<script>
export default {
  props: {
    interest: {
      type: Object,
      required: true,
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

$item-h-padding: 2.25 * $base;
@mixin active-caption {
  color: white;
  &::before {
    background-color: $blue;
  }
}

.tag {
  &.filter__item {
    display: inline-block;
    position: relative;
    white-space: nowrap;
    margin-bottom: 1px;

    &:not(:last-child) {
      margin-right: 1px;
    }

    &:hover,
    &:focus {
      .filter__caption {
        color: $blue;
      }
    }
  }

  .filter__input {
    cursor: pointer;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;

    &:checked + .filter__caption {
      @include active-caption;
    }
  }

  .filter__caption {
    display: inline-block;
    @include text(1.5);
    font-weight: bold;
    letter-spacing: 0.6px;
    line-height: 3 * $base;
    padding: (0.75 * $base) $base (0.25 * $base);
    position: relative;
    text-transform: uppercase;
    user-select: none;

    @media (min-width: $desktopHD) {
      padding: (1.3 * $base) ($item-h-padding) (0.7 * $base);
    }

    &::before {
      content: '';
      bottom: 0;
      left: 0;
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
      background-color: #f0f3f6;
    }

    &_active {
      @include active-caption;
      pointer-events: none;
    }
  }
}
</style>
