<i18n src="./locales.json" />

<template>
  <a
    class="social-button"
    :class="{
      [`social-button--${variant}`]: true,
      'social-button--large': large,
      'social-button--small': small,
      'social-button--mini': mini,
      'social-button--round': round,
    }"
    :href="href"
    target="_blank"
    @click="$emit('click')"
    v-tooltip.auto="$t(variant)"
  >
    <Icon :src="variants[variant]" class="social-button__icon" />
  </a>
</template>

<script>
const variants = {
  fb: 'icons/social/facebook.svg',
  vk: 'icons/social/vk.svg',
  tw: 'icons/social/twitter.svg',
  tg: 'icons/social/tg.svg',
  email: 'icons/letter.svg',
  instagram: 'icons/social/instagram.svg',
  linkedin: 'icons/social/linkedin.svg'
}

export default {
  name: 'SocialButton',
  components: { Icon: () => import('~/components/common/Icon') },
  props: {
    href: String,
    large: Boolean,
    small: Boolean,
    mini: Boolean,
    round: Boolean,
    variant: {
      type: String,
      required: true,
      validator: v => Object.keys(variants).indexOf(v) !== -1
    }
  },
  data: () => ({ variants })
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.social-button {
  height: 48px;
  width: 48px;
  background: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover {
    background: #0070ff;
  }

  &:active {
    background: #1268e1;
  }

  &::before {
    @include ww-icn;
    color: #fff;
  }

  &__icon {
    height: 70%;
    width: 70%;
    color: white;
  }
}

.social-button--email {
  background: $light-blue;
}
.social-button--fb {
  background: #3a5998;
}

.social-button--vk {
  background: #597ba0;
}

.social-button--google {
  background: #fff;
}

.social-button--linkedin {
  background: #0084b1;
}

.social-button--insta,
.social-button--instagram {
  background-image: linear-gradient(222deg, #e09b3d, #c21975 51%, #7024c4);
}

.social-button--youtube {
  background: #f61c0d;
}

.social-button--tw {
  background: #00aced;
}

.social-button--tg {
  background: #41b4e6;
}

.social-button--round {
  border-radius: 50%;
}

.social-button--mini {
  height: 32px;
  width: 32px;
}

.social-button--small {
  height: 40px;
  width: 40px;
}

.social-button--large {
  height: 72px;
  width: 72px;
}
</style>
