<template>
  <div class="header-cont">
    <div class="header">
      <div class="header__cover">
        <Cover :cover="eventCover" class="header__cover--max-height" />
        <AdminPanel
          v-if="canModerate"
          :value="session.event"
          class="header__admin-panel"
          @input="makeUpdate"
        />
      </div>
      <SessionBreadCrumbs
        :session="session"
        :class="fullWidth"
        class="header__breadcrumbs hidden-mobile-only"
      />
      <div :class="fullWidth" class="header__title">
        <Title />
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import { prop, path } from 'ramda'

import Cover from '~/components/common/Cover'
import Title from './Title'
import SessionBreadCrumbs from './SessionBreadCrumbs'

export default {
  components: {
    SessionBreadCrumbs,
    Cover,
    Title,
    AdminPanel: () => import('~/components/common/AdminPanel'),
  },
  computed: {
    ...mapGetters({
      session: 'events/session/data',
      GET_USER: 'user/GET_USER',
    }),
    canModerate() {
      return (
        prop('is_moderator', this.GET_USER) ||
        prop('is_superuser', this.GET_USER)
      )
    },
    fullWidth() {
      return { full: Boolean(!this.coverImage) }
    },
    eventCover() {
      return path(['event', 'cover'], this.session)
    },
  },
  methods: {
    ...mapActions({
      updateEvent: 'event/UPDATE',
      fetchSession: 'events/session/FETCH',
      showPreloader: 'popovers/SWITCH_PRE_LOADER',
    }),
    async makeUpdate(data) {
      const eventId = this.session.event.id;
      const sessionId = this.session.id
      
      try {
        this.showPreloader(true)
        await this.updateEvent({ id: eventId, data })
        await this.fetchSession(sessionId)
      } catch (e) {
        console.log(e)
      } finally {
        this.showPreloader(false)
      }
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';
.header-cont {
  margin-bottom: 24px;

  @media (min-width: $desktopSD) {
    margin-bottom: 54px;
  }

  @media (min-width: $desktopHD) {
    margin-bottom: 48px;
  }

  @media (min-width: $sideShow) {
    margin-bottom: 56px;
  }

  @media (min-width: $desktopHDp) {
    margin-bottom: 140px;
  }

  @media (min-width: $desktopFullHD) {
    margin-bottom: 84px;
  }

  .event-disclaimer {
    margin-top: 4px;
    max-width: 370px;

    @media (max-width: $desktopHD) {
      max-width: 100%;
    }
  }
}

.header {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 26px;
  grid-template-areas:
    'cover'
    'breadcrumbs'
    'title';

  @media (min-width: $desktopHD) {
    grid-gap: 16px;
    grid-template-columns: auto 40%;
    grid-template-rows: auto min-content;
    grid-template-areas:
      'breadcrumbs cover'
      'title cover';
  }

  &__breadcrumbs {
    grid-area: breadcrumbs;
    padding: 0;
    max-width: 550px;
    min-width: 0;

    @media (min-width: $desktopSD) {
      margin-top: 24px;
    }

    @media (min-width: $desktopHD) {
      margin-top: 0;
    }
  }

  &__title {
    grid-area: title;
    max-width: 650px;
    min-width: 0;
  }

  &__cover {
    position: relative;
    grid-area: cover;
    min-height: 223px;
    min-width: 0;

    @media (min-width: $desktopHD) {
      margin-right: piecewise-linear-margin(
        $desktopHD,
        $sideShow,
        -104px,
        -74px
      );
    }

    @media (min-width: $sideShow) {
      margin-right: piecewise-linear-margin(
        $desktopHD,
        $sideShow,
        -110px,
        -72px,
        0.5
      );
    }

    @media (min-width: $desktopHDp) {
      margin-right: piecewise-linear-margin(
        $desktopHDp,
        $desktopFullHD,
        -72px,
        -231px,
        0.5
      );
    }

    @media (min-width: $desktopFullHD) {
      margin-right: 0;
    }

    &--max-height {
      max-height: 400px;
    }
  }

  &__admin-panel {
    padding: 8px 8px;
    border: 1px solid #000;
  }

  .full {
    max-width: 100%;
  }
}
</style>
