<template>
  <div 
    class="expander" 
    :class="{
      'expander--is-open': isOpen
    }"
    @click="$emit('toggle')"
  >
    <Icon class="expander-icon" src="icons/caret-down.svg" size="xs" />
  </div>
</template>

<script>
import Icon from '~/components/common/Icon'

export default {
  name: 'ExpanderButton',

  components: {
    Icon
  },

  props: {
    isOpen: Boolean,
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.expander {
  min-height: 20px;
  margin: -5px -11px;
  padding: 5px 11px;
  cursor: pointer;
  transition: color 0.3s;

  &--is-open {
    .expander-icon {
      transform: rotate(-180deg);
    }
  }

  &:hover {
    color: $blue;
  }

  .expander-icon {
    transition: transform 0.5s ease-in-out;
  }
}
</style>