<i18n>
{
  "ru": {
    "labels": {
      "name": "Пожалуйста, напишите имя, на которое будет оформлен заказ"
    },
    "placeholders": {
      "name": "Имя Фамилия",
      "email": "Электронная почта",
      "phone": "Телефон"
    },
    "pay": "Оплатить",
    "tickets": "билетов | билет | билета | билетов",
    "forPrice": "за",
    "freeRegistration": "Бесплатная регистрация"
  },
  "en": {
    "labels": {
      "name": "Please, write the contact name for the order"
    },
    "placeholders": {
      "name": "Name and Surname",
      "email": "Email",
      "phone": "Phone number"
    },
    "pay": "Buy",
    "tickets": "tickets | ticket | tickets",
    "forPrice": "for",
    "freeRegistration": "Free registration"
  },
  "es": {
    "labels": {
      "name": "Por favor, escriba el nombre de contacto para el pedido"
    },
    "placeholders": {
      "name": "Nombre y Apellido",
      "email": "Email",
      "phone": "Número de teléfono"
    },
    "pay": "Comprar",
    "tickets": "entradas",
    "forPrice": "por",
    "freeRegistration": "Free registration"
  }
}
</i18n>

<template>
  <div class="buy-modal">
    <span class="popover-close-button ww-icn-cross" @click="$emit('close')" />

    <div class="info">
      <div v-if="cover" class="info__cover">
        <AsyncImage
          :image="cover"
          :fitSize="{ width: 64, height: 64 }"
          makeFit
          class="cover"
        />
      </div>
      <h2 class="info__title">
        {{ title }}
      </h2>
      <div v-if="startTime" class="info__datetime">
        <DateTime :start="startTime" medium />
      </div>
      <p v-if="locationTitle" class="info__organizer">
        <i class="icon ww-icn-map-marker" />
        {{ locationTitle }}
      </p>

      <p class="info__summary">
        <span class="summary" @click="close()">
          {{ schemesSummary }}
          <Icon src="icons/pencil.svg" class="icon" />
        </span>
      </p>
    </div>

    <form class="form" @submit.prevent="onSubmit">
      <label class="form__row">
        <span class="label" v-text="$t('labels.name')" />
        <input
          v-model="form.name"
          :disabled="isSending"
          :placeholder="$t('placeholders.name')"
          :class="{ error: !!errors.name || !!$v.form.name.$error }"
          class="input"
          @input="errors.name = null"
        />
      </label>
      <label class="form__row">
        <input
          v-model="form.phone"
          :disabled="isSending"
          :placeholder="$t('placeholders.phone')"
          :class="{ error: !!errors.phone || !!$v.form.phone.$error }"
          class="input"
          @input="errors.phone = null"
          @focus="phoneInputFocused = true"
          @blur="phoneInputFocused = false"
        />
        <Icon src="icons/phone-tube.svg" class="icon" />
      </label>

      <div class="form__row">
        <MailInput
            v-model="form.email"
            :placeholder="$t('placeholders.email')"
            :disabled="isSending"
            :error="!!errors.email || !!$v.form.email.$error"
            styles="height: 56px; border-color: #000; font-size: 16px; line-height: 24px;"
            icon
            @input="errors.email = null"
        />
      </div>

      <div class="form__footer">
        <Button :disabled="isSending" type="submit" class="submit">
          <template v-if="IS_FREE_PURCHASE">
            {{ $t('freeRegistration') }}
          </template>
          <template v-else>
            {{ $t('pay') }} {{ PURCHASE_SUMMARY.ticketsCount }}
            {{ $tc('tickets', PURCHASE_SUMMARY.ticketsCount) }}
            {{ $t('forPrice') }}
            <Price :price="PURCHASE_SUMMARY.totalPrice" :currency="currency" />
          </template>
        </Button>
      </div>
    </form>
  </div>
</template>

<script>
import { path } from 'ramda'
import { mapGetters, mapMutations, mapActions } from 'vuex'
import { required, email } from 'vuelidate/lib/validators'
import { phone } from '~/utils/validators'
import { trackBuyTicketsBtn } from '~/utils/analytics'

const defaultForm = () => ({
  name: '',
  email: '',
  phone: '',
})

export default {
  components: {
    AsyncImage: () => import('~/components/common/AsyncImage'),
    DateTime: () => import('~/components/common/DateTime'),
    Price: () => import('~/components/common/Price'),
    Icon: () => import('~/components/common/Icon'),
    Button: () => import('~/components/common/buttons/YetAnotherButton'),
    MailInput: () => import('~/components/common/input/MailInput'),
  },
  data: () => ({
    isSending: false,
    phoneInputFocused: false,
    form: defaultForm(),
    errors: {},
  }),
  validations: {
    form: {
      name: { required },
      email: { required, email },
      phone: { required, phone },
    },
  },
  mounted(){
    trackBuyTicketsBtn(this)
  },
  computed: {
    ...mapGetters('user', { USER: 'GET_USER' }),
    ...mapGetters('event', ['EVENT', 'URL_ID']),
    ...mapGetters('tickets', [
      'SCHEMES',
      'PURCHASE',
      'PURCHASE_TICKETS',
      'PURCHASE_SUMMARY',
      'IS_FREE_PURCHASE'
    ]),

    title() {
      return path(['title'], this.EVENT)
    },
    cover() {
      return path(['cover', 'image'], this.EVENT)
    },
    currency() {
      return path(['tickets', 'currency'], this.EVENT)
    },
    locationTitle() {
      return path(['0', 'session', 'location', 'title'], this.SCHEMES) || ''
    },
    purchaseSchemes() {
      return this.PURCHASE_SUMMARY.schemes
    },
    schemesSummary() {
      return Object.keys(this.purchaseSchemes)
        .map(schemeId => {
          const scheme = this.purchaseSchemes[schemeId]

          const { title } = scheme.data
          const count = scheme.count

          return { title, count }
        })
        .map(
          ({ count, title }) =>
            `${count} ${this.$tc('tickets', count)} (${title})`,
        )
        .join(', ')
    },
    startTime() {
      const firstScheme = this.purchaseSchemes[
        Object.keys(this.purchaseSchemes)[0]
      ]
      const startTime = path(['data', 'view', 'dateTime'], firstScheme)

      return startTime ? startTime.toISOString(true) : null
    },
  },
  watch: {
    USER: {
      immediate: true,
      handler: 'loadForm',
    },
    form: {
      deep: true,
      immediate: true,
      handler: 'saveForm',
    },
    'form.phone': 'handlePhoneInputValue',
    phoneInputFocused: 'handlePhoneInputValue',
  },
  methods: {
    ...mapMutations('tickets', ['SAVE_PURCHASE']),
    ...mapActions('tickets', ['BUY_TICKETS']),
    ...mapActions({
      showPreloader: 'popovers/SWITCH_PRE_LOADER',
      showError: 'notifications/error',
      isCookieAccepted: 'user/CHECK_COOKIE_IS_ACCEPTED',
    }),

    handlePhoneInputValue() {
      const symbol = '+'
      const value = this.form.phone.trim()
      const valueIsSymbol = value === symbol
      const valueHasLeadSymbol = value.slice(0, 1) === symbol

      if (!this.phoneInputFocused && valueIsSymbol) {
        this.form.phone = defaultForm().phone
      } else if (this.phoneInputFocused && !valueHasLeadSymbol) {
        this.form.phone = symbol + this.form.phone
      }

      const space = ' '
      const phoneValue = this.form.phone
      if(phoneValue[0] === space || phoneValue[phoneValue.length - 1] === space) {
        const newValue = phoneValue.trim()
        this.form.phone = newValue
      }
    },

    close() {
      this.$emit('close')
    },

    loadForm() {
      if (!this.PURCHASE.selectedSessionId || !this.PURCHASE_TICKETS.length) {
        return this.close()
      }

      this.form = {
        ...this.form,
        ...this.PURCHASE.user,
      }

      const user = this.USER
      if (user) {
        const formDefaults = defaultForm()
        const newFormData = { ...this.form }

        Object.keys(formDefaults).forEach(key => {
          const val = this.form[key]
          if (val !== formDefaults[key]) return

          let newVal
          switch (key) {
            case 'name':
              newVal = user.name
              break
            case 'email':
            case 'phone':
              newVal = user[key] || ''
              break
          }

          newFormData[key] = newVal
        })

        this.form = newFormData
        this.form.phone = user.phones[0] ? user.phones[0] : ''
      }
    },

    saveForm() {
      this.SAVE_PURCHASE({ user: this.form })
    },

    async onSubmit() {
      this.$v.$touch()
      if (this.$v.$error) return

      this.errors = {}
      this.isSending = true
      this.showPreloader(true)
      try {
        const { href } = this.$router.resolve({
          name: 'events-id',
          params: { id: this.URL_ID },
          query: { from: 'tickets' },
        })
        const return_url = `${location.origin}${href}`

        await this.BUY_TICKETS({ return_url })
      } catch (err) {
        const isTicketError = path(['response', 'data', 'tickets'], err)

        if (isTicketError) {
          this.$emit('close')
        } else if (err.response) {
          const { status, data } = err.response
          if (status === 400) {
            this.errors = data
          }
        }
        // disable this flag only if error happened,
        // because after succeeded request it redirected to payment_url
        this.isSending = false
      } finally {
        this.showPreloader(false)
      }
    },

    resetForm() {
      this.form = defaultForm()
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.buy-modal {
  .info {
    background: $gray;
    padding: ($base * 6) ($base * 7) ($base * 2.75);

    display: flex;
    flex-direction: column;
    align-items: center;

    > * {
      margin: 0;
    }

    &__cover {
      display: none;
      margin-bottom: $base * 2.5;

      .cover {
        width: $base * 8;
        height: $base * 8;
      }
    }

    &__title {
      @include text(3);
      font-weight: bold;
      text-align: center;
    }
    &__datetime {
      margin-top: $base * 2;
    }
    &__organizer {
      margin-top: $base * 2.25;
      color: $blue;
      display: flex;
      align-items: center;

      a {
        text-align: center;
      }
      .icon {
        font-size: $base * 1.5;
        line-height: 1;
        display: block;
        margin-right: 5px;
      }
    }

    &__summary {
      @include text(3);
      font-weight: bold;
      color: $blue;
      margin-top: $base * 2;
      display: flex;
      align-items: center;

      .summary {
        text-align: center;
        cursor: pointer;
      }
      .icon {
        width: $base * 1.25;
        height: $base * 1.25;
        margin-left: $base;

        /deep/ {
          g,
          path {
            fill: currentColor;
          }
        }
      }
    }
  }

  .form {
    padding: ($base * 4) ($base * 7) 0;

    &__row {
      display: block;
      position: relative;

      &:not(:first-child) {
        margin-top: $base * 2.5;
      }

      .icon {
        position: absolute;
        right: $base * 3;
        top: 50%;
        transform: translateY(-50%);
        color: $blue;
        width: 24px;
        height: 24px;
      }
    }

    .label {
      display: block;
      margin-bottom: $base;
    }
    .input {
      $height: $base * 7;
      height: $height;
      border: 1px solid #000;
      padding-right: $base * 8;
      font-size: $base * 2 !important;
      line-height: $base * 3 !important;

      &:focus {
        border-color: transparent;
      }

      &.error {
        box-shadow: 0 0 0 2px $red;
      }
    }

    .submit {
      text-transform: uppercase;
      height: $base * 8;
      letter-spacing: 0.8px;
      padding-left: $base * 5.5;
      padding-right: $base * 5.5;
    }

    &__footer {
      $margin-top: $base * 11;
      margin: $margin-top (-$base * 0.5) 0;
      padding: 0 ($base * 0.5) ($base * 5);
      width: auto;
      display: flex;
      justify-content: center;

      background: #fff;
      //position: sticky;
      bottom: 0;

      &:after {
        content: '';
        display: block;
        width: 100%;
        height: $margin-top;
        position: absolute;
        pointer-events: none;
        z-index: 10;
        bottom: 100%;
        background: linear-gradient(to bottom, rgba(#fff, 0), #fff);
      }
    }
  }

  @media (max-width: $desktopSD) {
    position: relative;

    .popover-close-button {
      color: #000;
    }

    .form {
      &__footer {
        $margin-top: $base * 6;
        margin-top: $margin-top;

        &:after {
          height: $margin-top;
        }
      }
    }
  }
  @media ($mobile) {
    .info {
      padding: ($base * 5.25) ($base * 3) ($base * 4);

      &__cover {
        display: flex;
        justify-content: center;
      }
    }

    .form {
      padding: ($base * 3) ($base * 3) 0;

      .submit {
        @include text(1.5);
        width: 100%;
      }

      &__footer {
        padding-bottom: $base * 3;
      }
    }
  }
}
</style>
