<template>
  <div v-if="message" class="error-message" v-text="message"></div>
</template>

<script>
export default {
  props: {
    message: String,
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.error-message {
  color: #fff;
  background: $red;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: $base * 8;
  margin-top: $base * 3;
  padding: 0 ($base * 3);
}
</style>
