<template>
  <div v-if="images.length" class="gallery-section">
    <ul ref="list" class="list">
      <li v-for="(image, idx) in images" :key="idx" class="item">
        <div class="item__content">
          <AsyncImage
            :image="image"
            :fitSize="{ height: 136 }"
            makeFit
            class="image"
          />
        </div>
      </li>
    </ul>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { path } from 'ramda'

export default {
  components: {
    AsyncImage: () => import('~/components/common/AsyncImage'),
  },
  computed: {
    ...mapGetters('event', ['EVENT']),

    images() {
      return (path(['images'], this.EVENT) || []).map(it => it.image)
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.gallery-section {
  margin-top: $base * 2.25;
  overflow-x: auto;

  $space-between: $base;
  .list {
    height: $base * 17;
    display: flex;
  }

  .item {
    height: 100%;

    &:not(:last-child) {
      margin-right: $space-between;
    }

    &__content {
      position: relative;
      height: 100%;
    }

    .image {
      height: 100%;
      width: auto;
      display: block;
    }
  }

  @media ($mobile) {
    margin-right: -($base * 3);
    .item {
      &:last-child {
        padding-right: $base * 3;
      }
    }
  }
}
</style>
