<i18n>
{
  "ru": {
    "show": "Показать все",
    "hide": "Скрыть"
  },
  "en": {
    "show": "Show all",
    "hide": "Hide all"
  },
  "es": {
    "show": "Mostrar todo",
    "hide": "Ocultar todo"
  }
}
</i18n>

<template>
  <article class="header-section">
    <header class="header">
      <div v-if="cover" class="header__cover">
        <AsyncImage
          :image="cover"
          :fitSize="{ width: 64, height: 64 }"
          makeFit
          class="cover"
        />
      </div>
      <div class="header__content">
        <h1 class="title">
          <nuxt-link :to="{ name: 'events-id', params: { id: URL_ID } }">
            {{ title }}
          </nuxt-link>
        </h1>
        <p v-if="organizer" class="organizer" v-text="organizer" />
      </div>
    </header>
    <div
      v-if="descriptionText.length"
      :class="{ 'is-disabled': !hasExpandButton, 'is-opened': contentOpened }"
      class="spoiler"
    >
      <div class="spoiler__content content" v-html="description" />
      <div class="spoiler__toggler" @click="contentOpened = !contentOpened">
        {{ contentOpened ? $t('hide') : $t('show') }}
      </div>
    </div>
  </article>
</template>

<script>
import { mapGetters } from 'vuex'
import { path } from 'ramda'

export default {
  components: {
    AsyncImage: () => import('~/components/common/AsyncImage'),
  },
  data: () => ({
    contentOpened: false,
  }),
  computed: {
    ...mapGetters('event', ['EVENT', 'URL_ID']),

    cover() {
      return path(['cover', 'image'], this.EVENT)
    },
    title() {
      return path(['title'], this.EVENT)
    },
    organizer() {
      return path(['organizer', 'title'], this.EVENT) || ''
    },
    description() {
      return path(['description'], this.EVENT) || ''
    },
    descriptionText() {
      return path(['description_text'], this.EVENT) || ''
    },
    hasExpandButton() {
      return Boolean(this.descriptionText.length > 250)
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.header-section {
  .header {
    display: flex;

    &__cover {
      margin-right: $base * 2;
      flex: 0 0;
    }
    &__content {
      flex: 1;
      align-self: stretch;
      display: flex;
      flex-direction: column;
      //justify-content: center;
    }

    .cover {
      width: $base * 8;
      height: $base * 8;
    }

    .title {
      @include text(3);
      font-weight: bold;
    }

    .organizer {
      @include text(1.5);
      margin: ($base * 1.5) 0 0;

      &:before {
        @include text(1.5);
        display: inline-block;
        top: 2px;
      }
    }
  }

  .content {
    margin-top: $base * 4.5;

    /deep/ > * {
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .spoiler {
    &__content {
      position: relative;
      overflow: hidden;
      max-height: 100px;

      &:after {
        content: '';
        display: block;
        width: 100%;
        height: 80%;
        position: absolute;
        pointer-events: none;
        z-index: 10;
        bottom: 0;
        background: linear-gradient(to bottom, rgba(#fff, 0), #fff);
      }
    }
    &__toggler {
      color: $blue;
      cursor: pointer;
      margin: ($base * 2.25) 0 0;
    }

    &.is-opened,
    &.is-disabled {
      .spoiler__content {
        max-height: none;

        &:after {
          display: none;
        }
      }
    }

    &.is-disabled {
      .spoiler__toggler {
        display: none;
      }
    }
  }

  @media ($mobile) {
    .header {
      flex-direction: column;

      &__cover {
        margin-right: 0;
        margin-bottom: $base * 2.5;
      }
    }
    .content {
      margin-top: $base * 2.25;
    }
  }
}
</style>
