<i18n>
  {
    "ru": {
      "ticketsLeftLabel": "Осталось | Остался | Осталось | Осталось",
      "ticketsLeftTickets": "билетов | билет | билета | билетов",
      "tickets": "билетов | билет | билета | билетов",
      "buyBtn": "Купить",
      "forPrice": "за",
      "freeRegistration": "Бесплатная регистрация",
      "agreementLinkLabel": "Нажимая на «Купить», вы соглашаетесь с",
      "agreement": "Договором купли-продажи билетов",
      "isFinished": "Извините, событие уже закончилось",
      "emptyMessage": "Нет доступных билетов"
    },
    "en": {
      "ticketsLeftLabel": "Tickets left",
      "ticketsLeftTickets": " ",
      "tickets": "tickets | ticket | tickets",
      "buyBtn": "Buy",
      "forPrice": "for",
      "freeRegistration": "Free registration",
      "agreementLinkLabel": "By clicking on \"Buy\" button you agree to the terms of",
      "agreement": "Ticket Purchase Agreement",
      "isFinished": "Sorry, the event is finished",
      "emptyMessage": "No tickets available"
    },
    "es": {
      "ticketsLeftLabel": "Quedan entradas",
      "ticketsLeftTickets": " ",
      "tickets": "entradas",
      "buyBtn": "Comprar",
      "forPrice": "por",
      "freeRegistration": "Free registration"
    }
  }
</i18n>

<template>
  <div class="schemes-section">
    <div class="groups">
      <div
          v-for="{ date, time, sessionId, schemes } in groups"
          :key="sessionId"
          :class="{
          'is-opened': openedSessionId === sessionId,
          'is-only-child': groups.length === 1,
        }"
          class="group"
      >
        <div
            class="group__header"
            @click="
            openedSessionId = openedSessionId !== sessionId ? sessionId : null
          "
        >
          <h2 class="title">
            <span v-text="date" />,
            <span v-text="time" />
          </h2>
          <Icon class="icon" src="icons/arrow-down.svg" />
        </div>
        <template v-if="openedSessionId === sessionId">
          <component
              :is="seatsSchemeComponent"
              v-if="seatsSchemeComponent"
              :seats-scheme="SEATS_SCHEME"
              :schemes="schemes"
              :form="form"
              @onCounterChange="onCounterChange"
          />

          <div v-else :class="finished || saleEnd ? 'disable group__list' : 'group__list'">
            <div
                v-for="scheme in schemes"
                :key="scheme.id"
                :class="schemeClass(scheme)"
                class="scheme"
            > {{scheme.view.tickets_left}}
              <div class="scheme__title" v-text="scheme.title" />
              <div class="scheme__tickets">
                <span class="tickets-left-label">
                  {{ $tc('ticketsLeftLabel', scheme.view.tickets_left) }}:
                </span>
                <span class="tickets-left">
                  {{ scheme.view.tickets_left }}
                  {{ $tc('ticketsLeftTickets', scheme.view.tickets_left) }}
                </span>
              </div>
              <div class="separator" />
              <div class="scheme__price">
                <Price
                    :price="scheme.view.price"
                    :currency="scheme.view.currency"
                />
              </div>
              <div class="scheme__counter">
                <Counter
                    :value="form[sessionId][scheme.id]"
                    :min="0"
                    :max="scheme.view.tickets_left"
                    :disabled="!scheme.view.tickets_left || finished || saleEnd"
                    @input="onCounterChange($event, sessionId, scheme.id)"
                />
              </div>
            </div>
          </div>

          <div class="group__footer">
            <div
                v-if="PURCHASE_SUMMARY.ticketsCount"
                class="group__footer-content"
            >
              <div class="tickets-count">
                {{ PURCHASE_SUMMARY.ticketsCount }}
                {{ $tc('tickets', PURCHASE_SUMMARY.ticketsCount) }}
                {{ $t('forPrice') }}
                <Price
                    :price="PURCHASE_SUMMARY.totalPrice"
                    :currency="PURCHASE_SUMMARY.currency"
                />
              </div>
            </div>
            <div v-if="finished || saleEnd " class="group__footer-finish">
              {{ buttonEndTitle() }}
            </div>
            <div v-else class="group__footer">
              <div class="group__footer-btn">
                <Button
                    :disabled="!PURCHASE_SUMMARY.ticketsCount"
                    class="buy-btn"
                    @click.native="onBtnClick(sessionId)"
                >{{
                  ONLY_FREE || IS_FREE_PURCHASE ? $t('freeRegistration') : $t('buyBtn')
                  }}</Button
                >
              </div>
              <div  class="group__footer-agreement">
                {{ $t('agreementLinkLabel') }}
                <WLink
                    :href="`/docs/ticket_purchase_agreement_${lang}.pdf`"
                    target="_blank"
                >
                  {{ $t('agreement') }}</WLink
                >
              </div>
            </div>
          </div>
        </template>
      </div>
    </div>
    <div v-if="!SCHEMES.length" class="group__footer-finish">
      {{ epmtyMsg }}
    </div>
  </div>
</template>

<script>
  import { path, map } from 'ramda'
  import { mapGetters, mapMutations, mapActions } from 'vuex'
  import { seatsSchemeComponents } from '~/constants/seats'
  import { parseISO } from 'date-fns'

  export default {
    components: {
      Icon: () => import('~/components/common/Icon'),
      Price: () => import('~/components/common/Price'),
      Counter: () => import('~/components/common/Counter'),
      Button: () => import('~/components/common/buttons/YetAnotherButton'),
      WLink: () => import('~/components/common/WLink'),
    },
    data: () => ({
      openedSessionId: null,
    }),
    computed: {
      ...mapGetters('event', ['EVENT', 'SEATS_SCHEME']),
      ...mapGetters('tickets', ['SCHEMES', 'PURCHASE','AVAILABLE_TICKETS_COUNT', 'ONLY_FREE']),
      ...mapGetters('tickets', {
        PURCHASE_SUMMARY: 'PURCHASE_SUMMARY',
        PURCHASE_SESSION_ID: 'PURCHASE_SESSION_ID',
        SCHEME_BY_ID: 'SCHEME_BY_ID',
        TICKETS_FORM: 'TICKETS_FORM',
        IS_FREE_PURCHASE: 'IS_FREE_PURCHASE',
      }),
      form() {
        return map(session => {
          return map(schemes => schemes.length, session)
        }, this.TICKETS_FORM)
      },

      seatsSchemeComponent() {
        return seatsSchemeComponents[this.SEATS_SCHEME] || null
      },

      groups() {
        const groups = []
        this.SCHEMES.forEach(scheme => {
          const date = scheme.view.dateTime.format('D MMMM')
          const time = scheme.view.dateTime.format('HH:mm')

          const { sessionId } = scheme.view
          let group = groups.find(g => g.sessionId === sessionId)
          if (!group) {
            group = {
              sessionId,
              date,
              time,
              schemes: [],
            }
            groups.push(group)
          }

          group.schemes.push(scheme)
        })

        return groups
      },

      lang() {
        return this.$i18n.locale;
      },
      finished() {
        return parseISO(this.EVENT.end_dt) < new Date()
      },
      saleEnd() {
        let l=0
        this.SCHEMES.map(e =>{
          if(parseISO(e.sale_end) < new Date) l++
          return l
        })
        if(this.SCHEMES.length !==0 && this.SCHEMES.length === l) return true
        return false
      },
      epmtyMsg() {
        if(this.finished) {
          if(this.EVENT.end_message) return this.EVENT.end_message
          return this.$t('isFinished')
        } else if(this.saleEnd) {
          if(this.EVENT.sale_end_message) return this.EVENT.sale_end_message
          return this.$t('isFinished')
        } else if(this.EVENT.sold_out_message && this.EVENT.sale_end_message) {
          return this.EVENT.sale_end_message
        }
        else if(this.EVENT.sold_out_message) {
          return this.EVENT.sold_out_message
        }
        return this.$t('emptyMessage')
      }
    },
    watch: {
      openedSessionId() {
        if (
          this.openedSessionId &&
          this.PURCHASE_SESSION_ID !== this.openedSessionId
        ) {
          this.INITIALIZE_TICKETS_FORM()
          return
        }

        this.openInitialGroup()
      },
    },
    mounted() {
      this.openInitialGroup()
    },
    methods: {
      ...mapMutations('tickets', ['SAVE_PURCHASE']),
      ...mapActions('tickets', [
        'INITIALIZE_TICKETS_FORM',
        'SET_PURCHASE_TICKETS_BY_SESSION',
        'TOGGLE_BUY_MODAL'
      ]),
      buttonEndTitle(){
        if(this.EVENT.end_message) return this.EVENT.end_message
        if(this.EVENT.sale_end_message) return this.EVENT.sale_end_message
        return this.$t('isFinished')
      },
      schemeClass(scheme){
        let className = 'scheme'
        if(!scheme.view.tickets_left) className += ' is-tickets-over'
        if(this.finished || this.saleEnd) className += ' disable-border'
        return className
      },
      setTicketsIntoForm() {
        if (this.seatsSchemeComponent) return
        const purchaseSchemes = this.PURCHASE_SUMMARY.schemes

        Object.keys(this.form[this.openedSessionId]).forEach(schemeId => {
          this.form[this.openedSessionId][schemeId] =
            path(['count'], purchaseSchemes[schemeId]) || 0
        })
      },
      openInitialGroup() {
        const neededDate = path(['query', 'date'], this.$route)
        const neededTime = path(['query', 'time'], this.$route)

        let matchedGroup
        if (neededDate) {
          matchedGroup = this.groups.find(group => {
            return group.schemes.some(scheme => {
              const { date, time } = scheme.view

              const isMatchedByDate = neededDate === date
              const isMatchedByTime = !neededTime || neededTime === time

              return isMatchedByDate && isMatchedByTime
            })
          })
        }

        this.openedSessionId =
          this.PURCHASE_SESSION_ID ||
          path(['sessionId'], matchedGroup || this.groups[0]) ||
          null
      },

      onCounterChange(value, sessionId, schemeId) {
        const tickets = value
          ? new Array(value).fill({
            scheme: Number(schemeId),
          })
          : []
        this.SET_PURCHASE_TICKETS_BY_SESSION({
          session: sessionId,
          scheme: schemeId,
          tickets,
        })
      },

      onBtnClick(sessionId) {
        this.SAVE_PURCHASE({ selectedSessionId: sessionId })
        this.TOGGLE_BUY_MODAL({show: true})
        // this.$emit('buy')
      },
    },
  }
</script>

<style lang="scss" scoped>
  @import '~/assets/css/variables.scss';
  .disable{
    color: #c6c7c8;
  }
  .schemes-section {
    margin-top: $base * 2;

    .group {
      $border: 2px solid rgba(#000, 0.6);
      border-bottom: $border;

      &__header {
        padding: ($base * 2.5) 0 ($base * 2.25);
        display: flex;
        align-items: center;
        cursor: pointer;

        .title {
          @include text(3);
          font-weight: bold;
          margin-right: $base * 2.25;
        }
        .icon {
          width: $base;
          height: $base;
          position: relative;
          top: -2px;
          transition: transform 0.2s;
        }
      }

      &__footer {
        padding-bottom: $base * 3;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: stretch;

        &-content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-end;

          .tickets-count {
            font-weight: bold;
          }
        }
        &-btn {
          margin-left: $base * 3.125;
          margin-bottom: $base * 2;
          display: flex;
          align-items: stretch;
          text-align: center;

          .buy-btn {
            min-width: 240px;
            height: 64px;

            &.-disabled /deep/ .text {
              color: $blue;
              font-weight: 700;
            }
          }
        }
        &-finish{
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 64px;
          margin: 25px 0;
          background-color: #f50052;
          color: #fff;
          font-size: 16px;
          font-weight: bold
        }
        &-agreement {
          width: 100%;
          text-align: right;
        }
      }

      &.is-opened {
        .group__header {
          .icon {
            transform: rotate(-180deg);
          }
        }
      }

      &.is-only-child {
        .group__header {
          cursor: initial;
          .icon {
            display: none;
          }
        }
      }
    }

    .scheme {
      padding: ($base * 3) 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-top: 2px solid rgba(0, 0, 0, 0.6);



      & + .disable-border {
        border-top: 2px solid #c6c7c8;
      }

      > * {
        margin-left: $base * 2;

        &:first-child {
          margin-left: 0;
        }
      }

      &.is-tickets-over {
        opacity: 0.5;
        pointer-events: none;
      }

      .tickets-left {
        white-space: nowrap;
      }

      &__title {
        @include text(3);
        line-height: 1.2;
        width: $base * 28;
      }

      &__price {
        white-space: nowrap;
      }
    }
    .disable-border{
      border-top: 2px solid #c6c7c8;
      & + .disable-border {
        border-top: 2px solid #c6c7c8;
      }
    }

    @media (max-width: $desktopSD) {
      .scheme {
        flex-wrap: wrap;
      }
    }
    @media ($mobile) {
      .group {
        &__footer {
          flex-direction: column;
          justify-content: center;
          align-items: normal;
          text-align: center;

          &-content {
            display: block;
          }
          &-btn {
            margin-top: $base * 2;
            margin-left: 0;
            display: block;

            .button {
              @include text(1.5);
              width: 100%;
              height: $base * 7;
            }
          }
          &-agreement {
            text-align: center;
          }
        }
      }

      .scheme {
        align-items: baseline;
        padding: ($base * 3) 0 ($base * 2.875);

        .separator {
          width: 100%;
          margin-top: $base * 1.25;
        }

        &__title {
          @include text(2);
          font-weight: bold;
          line-height: 1.2;
          width: auto;
        }
        &__tickets {
          @include text(1.5);
        }
        &__price {
          margin-left: 0;
          align-self: center;
        }
      }
    }
  }
</style>
