<i18n>
{
  "ru": {
    "ticketsLeftLabel": "Осталось | Остался | Осталось | Осталось",
    "ticketsLeftTickets": "билетов | билет | билета | билетов"
  },
  "en": {
    "ticketsLeftLabel": "Tickets left",
    "ticketsLeftTickets": " "
  },
  "es": {
    "ticketsLeftLabel": "Quedan entradas",
    "ticketsLeftTickets": " "
  }
}
</i18n>


<template>
  <div :class="{ 'is-tickets-over': !scheme.view.tickets_left }" class="scheme">
    <div class="scheme__title" v-text="scheme.title" />
    <div class="scheme__tickets">
      <span class="tickets-left-label">
        {{
        $tc('ticketsLeftLabel', scheme.view.tickets_left)
        }}:
      </span>
      <span class="tickets-left">
        {{ scheme.view.tickets_left }}
        {{ $tc('ticketsLeftTickets', scheme.view.tickets_left) }}
      </span>
    </div>
    <div class="separator" />
    <div class="scheme__price">
      <template v-if="price">{{ price }}</template>
      <Price v-else :price="scheme.view.price" :currency="scheme.view.currency" />
    </div>
    <div class="scheme__counter">
      <Counter
        v-if="!$slots.lastColumn"
        :value="form[scheme.session.id][scheme.id]"
        :min="0"
        :max="scheme.view.tickets_left"
        :disabled="!scheme.view.tickets_left"
        @input="$emit('onCounterChange', $event, scheme.session.id, scheme.id)"
      />
      <template v-else>
        <slot name="lastColumn"></slot>
      </template>
    </div>
  </div>
</template>

<script>
import Price from '~/components/common/Price'
import Counter from '~/components/common/Counter'

export default {
  components: {
    Price,
    Counter,
  },

  props: {
    scheme: {
      type: Object,
      required: true,
    },
    form: {
      type: Object,
    },
    price: String,
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.scheme {
  padding: ($base * 3) 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  & + .scheme {
    border-top: 2px solid rgba(0, 0, 0, 0.6);
  }

  > * {
    margin-left: $base * 2;

    &:first-child {
      margin-left: 0;
    }
  }

  &.is-tickets-over * {
    opacity: 0.5;
    pointer-events: none;
  }

  .tickets-left {
    white-space: nowrap;
  }

  &__title {
    @include text(3);
    line-height: 1.2;
    width: $base * 28;
  }

  &__price {
    white-space: nowrap;
  }
  @media (max-width: $desktopSD) {
    flex-wrap: wrap;
  }

  @media ($mobile) {
    align-items: baseline;
    padding: ($base * 3) 0 ($base * 2.875);

    .separator {
      width: 100%;
      margin-top: $base * 1.25;
    }

    &__title {
      @include text(2);
      font-weight: bold;
      line-height: 1.2;
      width: auto;
    }
    &__tickets {
      @include text(1.5);
    }
    &__price {
      margin-left: 0;
      align-self: center;
    }
  }
}
</style>