<template>
  <a
    v-tooltip.auto="$t(`auth.${variant}`)"
    :href="authUrl"
    class="root"
    :class="{ 'root--border': border }"
  >
    <slot>
      <span class="auth-button" :class="{ 'auth-button--small': small }">
        <Icon
          :src="iconSrc"
          class="svg-icon"
          :class="{ 'svg-icon--small': small }"
        />
      </span>
    </slot>
  </a>
</template>
<script>
import { sha256 } from '~/utils'
import * as authUtils from '~/utils/auth'
import Icon from '../../Icon'

export default {
  components: { Icon },
  props: {
    large: Boolean,
    small: Boolean,
    border: Boolean,
    variant: {
      type: String,
      required: true,
      validator: v => ['fb', 'vk', 'google'].indexOf(v) !== -1,
    },
    path: String,
  },
  data: () => ({
    hash: '',
  }),
  computed: {
    iconSrc() {
      return {
        fb: 'icons/social/facebook',
        vk: 'icons/social/vk',
        google: 'icons/social/google',
      }[this.variant]
    },
    social() {
      return authUtils['social_' + this.variant]
    },
    title() {
      return this.$t(`auth.${this.variant}`)
    },
    authUrl() {
      const path = this.path || this.$route.path
      return `${this.social.url}?${authUtils.serializer(
        this.social.params(path, this.hash),
      )}`
    },
  },
  async mounted() {
    const path = this.path || this.$route.path
    this.hash = await sha256(process.env.secretSalt + path)
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';
.root {
  cursor: pointer;

  /deep/ .social-button {
    background: $blue;
  }

  &--border > * {
    border: white solid 2px;
  }
}
.auth-button {
  height: 52px;
  width: 52px;
  @media (min-width: $desktopSD) {
    height: 64px;
    width: 64px;
  }
  background: $blue;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

  &::before {
    @include ww-icn;
    color: white;
  }

  &:hover {
    background: white;
    color: $blue;
    &:before {
      color: $blue;
    }
  }

  &:active {
    background: $dark-blue;
    &:before {
      color: white;
    }
  }
}

.svg-icon {
  height: 24px;
  width: 24px;

  &--small {
    height: 16px;
    width: 16px;
  }
}

.auth-button--small {
  height: 40px;
  width: 40px;

  &::before {
    font-size: 16px;
  }
}
</style>
