<template>
  <div class="search-widget">
    <MainView
      v-if="initLoad"
      :currentVersion="currentVersion"
      :query="query"
      @search="searchEventWithQuery"
    />
    <script :src="`${STATIC_PATH}js/iframeResizer.contentWindow.min.js`" />
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import { prop } from 'ramda'

import MainView from '~/components/widgets/search/MainView'
import { makeSearchQuery, makeTranslit } from '~/utils'
import { getCurrentWidgetVersion, makeWidgetUtm } from '~/utils/widget'

export default {
  layout: 'iframe',

  components: {
    MainView,
  },

  data: () => ({
    initLoad: false,
    search: '',
    dates: '',
    period: '',
    city: null,
    page_size: 8,
    category: '',
  }),

  computed: {
    ...mapGetters({
      cities: 'cities/results',
      getCity: 'city/GET_CITY',
    }),
    query() {
      return makeSearchQuery({
        ...this.$route.query,
        category: this.category,
        search: this.search,
        dates: this.dates,
        period: this.period,
        city: prop('id', this.city),
        page_size: this.page_size,
      })
    },
    currentVersion() {
      return getCurrentWidgetVersion({ query: this.$route.query })
    },
  },

  created() {
    this.STATIC_PATH = process.env.STATIC_PATH
  },

  async mounted() {
    await this.updateDataFromQuery({ query: this.$route.query })
    await this.getEvents(this.query)

    this.initLoad = true
  },

  methods: {
    ...mapActions({
      getEvents: 'events/FETCH',
    }),
    async updateDataFromQuery({ query }) {
      if (query.search) {
        this.search = query.search
      }

      if (query.period) {
        this.period = query.period
      }

      if (query.dates) {
        this.dates = query.dates
      }

      if (query.page_size) {
        this.page_size = query.page_size
      }

      if (query.city) {
        const city = this.cities.find(el => el.id === query.city)

        if (city) {
          this.city = city
        } else if (prop('id', this.getCity) === query.city) {
          this.city = this.getCity
        } else {
          await this.$store.dispatch('city/GET_CITY', query.city)
          this.city = this.getCity
        }
      }

      if (query.category) {
        this.category = query.category
      }
    },
    async searchEventWithQuery(query) {
      const utmTermText = query.search
        ? makeTranslit({ input: query.search, spaceReplacement: '_' })
        : ''
      const utmTermCity = query.city || ''

      const newQuery = {
        ...query,
        ...makeWidgetUtm({
          utmContentType: '4',
          utmContentPlace: 'search',
          query: this.$route.query,
          ...(utmTermText && { utmTerm: `${utmTermText}-${utmTermCity}` }),
        }),
      }

      const { href } = this.$router.resolve({
        path: '/search/',
        query: newQuery,
      })
      window.open(href)
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.search-widget {
  @media (min-width: $sideShow) {
    padding: 0 0 0 112px;
  }
}
</style>
