<template>
  <span class="genre-chip">
    {{ chipTitle }}
    <Icon
      class="genre-chip__icon"
      src="icons/cross.svg"
      size="xs"
      @click.native="$emit('removeGenre', genre.slug)"
    />
  </span>
</template>

<script>
import { getGenreFullTitle } from '~/utils/event'

import Icon from '~/components/common/Icon'

export default {
  components: {
    Icon,
  },

  props: {
    genre: {
      type: Object,
      required: true,
    },
  },

  computed: {
    chipTitle() {
      return getGenreFullTitle({ genre: this.genre })
    },
  },
}
</script>

<style lang="scss" scoped>
.genre-chip {
  display: inline-flex;
  align-items: center;
  padding: 12px 16px 12px 20px;
  background-color: #000;
  color: #fff;

  &__icon {
    margin-left: 22px;
    cursor: pointer;
  }
}
</style>