<template>
  <span
    :class="{
      'genre-option--is-parent': !option.parent,
      'genre-option--is-child': option.parent
    }"
  >{{ title }}</span>
</template>

<script>
import { getGenreFullTitle } from '~/utils/event'

export default {
  name: 'GenreOption',

  props: {
    option: {
      type: Object,
      required: true,
    },
  },

  computed: {
    title() {
      if (this.option.showType === 'other') {
        return getGenreFullTitle({ genre: this.option })
      }

      return this.option.title
    },
  },
}
</script>


<style lang="scss" scoped>
.genre-option {
  &--is-parent {
    font-weight: bold;
  }
  &--is-child {
    padding-left: 8px;
  }
}
</style>