<template>
  <div>
    <div class="tags__tag-wrapper">
      <GenreChip
        v-for="genre in value"
        :key="genre.slug"
        class="tags__tag"
        :genre="genre"
        @removeGenre="removeGenre"
      />
    </div>
    <FormSelect
      :id="id"
      trackBy="slug"
      :options="sortedOptions"
      :value="null"
      :clearOnSelect="false"
      :preserveSearch="true"
      :loading="loading"
      :disabled="isDisabled"
      autocompleteOff
      @search-change="asyncFind"
      @select="addGenre"
      @open.once="onFirstOpen"
      @open="onOpen"
      @close="onClose"
    >
      <template slot="singleLabel" slot-scope="{ option }">{{ option.title }}</template>
      <template slot="option" slot-scope="{ option }">
        <GenreOption :option="option" />
      </template>
    </FormSelect>
  </div>
</template>

<script>
import { prop, isEmpty } from 'ramda'

import { debounce } from '~/utils'
import { getGenres } from '~/api'

import FormSelect from '~/components/common/input/FormSelect'
import GenreOption from './GenreOption'
import GenreChip from './GenreChip'

export default {
  name: 'Genres',

  components: {
    FormSelect,
    GenreOption,
    GenreChip,
  },

  props: {
    id: String,
    value: Array,
  },

  data: () => ({
    loading: false,
    options: [],
    next: null,
  }),

  computed: {
    isDisabled() {
      return this.value.length >= 3
    },
    sortedOptions() {
      const parentObj = this.options.reduce(
        (result, r) => {
          const isParent = !r.parent

          if (isParent) {
            result.set(r.id, {
              ...r,
              children: [],
            })
          } else {
            const parentId = prop('id', r.parent)
            const hasParent = result.has(parentId)

            if (hasParent) {
              const { children, ...rest } = result.get(parentId)
              result.set(parentId, {
                ...rest,
                children: [...children, r],
              })
            } else {
              const { children, ...rest } = result.get('other')

              /* set showType to display ParentName/ChildName */
              const option = {
                ...r,
                showType: 'other',
              }

              result.set('other', {
                ...rest,
                children: [...children, option],
              })
            }
          }
          return result
        },
        new Map([
          [
            'other',
            {
              children: [],
            },
          ],
        ]),
      )

      return Array.from(parentObj).reduce((result, [parentId, parentObj]) => {
        const { children, ...parent } = parentObj

        !isEmpty(parent) && result.push(parent)
        children.length && result.push(...children)

        return result
      }, [])
    },
  },

  methods: {
    asyncFind: debounce(async function(v) {
      this.fetchOptions({ search: v })
    }, 300),
    async fetchOptions({ search }) {
      this.loading = true

      try {
        const { data } = await getGenres(this.$axios, {
          params: {
            search,
            expand: 'parent',
          },
        })

        this.options = data.results
        this.next = data.next
      } catch (e) {
        console.log(e)
        this.options = []
      }

      this.loading = false
    },
    async fetchMoreOptions() {
      this.loading = true

      try {
        const { data } = await this.$axios.get(this.next)

        this.options = [...this.options, ...data.results]
        this.next = data.next
      } catch (e) {
        console.log(e)
      }

      this.loading = false
    },
    addGenre(genre) {
      if (this.value.some(v => v.slug === genre.slug)) return

      const genres = [...this.value, genre]
      this.$emit('input', genres)
    },
    removeGenre(slug) {
      const genres = this.value.filter(v => v.slug !== slug)
      this.$emit('input', genres)
    },
    onFirstOpen() {
      this.fetchOptions({ search: '' })
    },
    onOpen() {
      const element = this.$el.querySelector('.multiselect__content-wrapper')
      if (!element) return

      element.addEventListener('scroll', this.handleScroll)
    },
    onClose() {
      const element = this.$el.querySelector('.multiselect__content-wrapper')
      if (!element) return

      element.removeEventListener('scroll', this.handleScroll)
    },
    handleScroll: debounce(async function(e) {
      if (this.loading || !this.next) return

      if (
        e.target.scrollTop >
        (e.target.scrollHeight - e.target.clientHeight) / 2
      ) {
        await this.fetchMoreOptions()
      }
    }, 300),
  },
}
</script>

<style lang="scss" scoped>
.tags {
  &__tag {
    margin-bottom: 2px;

    &:not(:last-child) {
      margin-right: 2px;
    }
  }

  &__tag-wrapper {
    margin-bottom: 6px;
  }
}
</style>