<i18n src="./AvatarWithControls.locales.json" />

<template>
  <div class="profile__avatar-block">
    <Avatar v-if="!avatarLoading" :user="user" :size="size" />
    <div
      v-else
      :data-letter="(user.name || '').slice(0, 1)"
      :style="{ width: `${size}px`, height: `${size}px` }"
      class="ww-avatar"
    >
      <img src="~static/spinner.gif" alt="spinner" class="ww-avatar__image" />
    </div>

    <div v-if="isOwnProfile && !avatarLoading" class="profile__actions">
      <div v-if="user && user.avatar">
        <BtnWithIcon
          v-tooltip.auto="$t('controls.edit')"
          :class="isAvatarSmall ? 'xs avatar-controls' : 'avatar-controls'"
          color="blue"
          icon="pencil"
          :size="isAvatarSmall ? 'xs' : 'medium'"
          invert
          @click="openAvatarEditor = true"
        />
        <BtnWithIcon
          :class="isAvatarSmall ? 'xs avatar-controls' : 'avatar-controls'"
          v-tooltip.auto="$t('controls.delete')"
          color="blue"
          icon="trash"
          :size="isAvatarSmall ? 'xs' : 'medium'"
          invert
          @click="openRemoveDialog"
        />
      </div>
      <label v-else v-tooltip.auto="$t('controls.add')">
        <input
          type="file"
          :accept="accept.join()"
          alt="image"
          hidden
          @change="uploadImage"
        />
        <BtnWithIcon
            color="blue"
            icon="photo"
            invert
            :size="isAvatarSmall ? 'xs' : 'medium'"
        />
      </label>
    </div>
    <confirm-dialog
      v-if="openedPop === 'remove_avatar'"
      @confirm="removeAvatar"
      @cancel="openRemoveDialog"
    >
      <h2>{{ $t('dialog.question') }}</h2>
      <template slot="confirm">{{ $t('dialog.yes') }}</template>
      <template slot="cancel">{{ $t('dialog.no') }}</template>
    </confirm-dialog>
    <div v-if="openAvatarEditor" class="avatar-editor">
      <AvatarEditor
        :image="userAvatarImage"
        :src="src"
        @change="changeAvatar"
        @cancel="openAvatarEditor = false"
      />
    </div>
  </div>
</template>

<script>
import { path } from 'ramda'
import { mapActions, mapGetters } from 'vuex'

export default {
  components: {
    ConfirmDialog: () => import('~/components/common/popovers/ConfirmDialog'),
    BtnWithIcon: () => import('~/components/common/buttons/BtnWithIcon'),
    Avatar: () => import('~/components/common/Avatar'),
    AvatarEditor: () => import('./AvatarEditor'),
  },
  props: {
    user: {
      type: Object,
      default: () => ({}),
    },
    isOwnProfile: {
      type: Boolean,
      default: false,
    },
    isAvatarSmall: {
      type: Boolean,
      default: false,
    },
    size: {
      type: Number,
      default: 240,
    },
  },
  data: () => ({
    avatarLoading: false,
    openAvatarEditor: false,
    src: '',
    accept: ['image/jpeg', 'image/png', 'image/bmp'],
  }),
  computed: {
    ...mapGetters({
      openedPop: 'popovers/OPENED_POPOVER',
    }),
    userAvatarImage() {
      return path(['avatar', 'image'], this.user)
    },
  },

  methods: {
    ...mapActions({
      errorMessage: 'notifications/error',
      successMessage: 'notifications/success',
    }),
    openRemoveDialog() {
      this.$store.dispatch('popovers/TOGGLE_POPOVER', 'remove_avatar')
    },
    uploadImage(event) {
      const file = path(['target', 'files', 0], event)
      const isAcceptType = file && this.accept.includes(file.type)
      if (isAcceptType) {
        const reader = new FileReader()
        reader.onload = e => {
          this.src = e.target.result
          this.openAvatarEditor = true
        }
        reader.readAsDataURL(file)
      } else {
        this.errorMessage(this.$t('error.unsupportedFormat'))
      }
    },
    async changeAvatar(image) {
      try {
        this.avatarLoading = true
        await this.$store.dispatch('user/UPDATE_USER', {
          avatar: image.id,
        })
        this.$emit('changed')
        this.successMessage(this.$t('profile.avatarEditor.successChange'))
      } catch {
        this.errorMessage(this.$t('profile.avatarEditor.errorChange'))
      } finally {
        this.avatarLoading = false
      }
    },
    async removeAvatar() {
      this.openRemoveDialog()

      try {
        this.avatarLoading = true
        await this.$store.dispatch('user/UPDATE_USER', {
          avatar: '',
        })
        this.$emit('removed')
        this.successMessage(this.$t('profile.avatarEditor.successDelete'))
      } catch {
        this.errorMessage(this.$t('profile.avatarEditor.errorDelete'))
      } finally {
        this.avatarLoading = false
      }
    },
  },
}
</script>

<style lang="scss">
@import '~/assets/css/variables.scss';

.profile {
  &__avatar-block {
    position: relative;
  }

  &__actions {
    flex-direction: column;
    position: absolute;
    right: -1.5 * $base;
    top: calc(50% + 0.5 * #{$base});
    transform: translateY(-50%);

    .avatar-controls {
      margin: 0.5 * $base;
    }
    .xs {
      @media(max-width: 426px){
        font-size: 14px;
      }
    }
  }
}
</style>
