<template>
  <section class="event-datepickers">
    <Dates
      :start="start"
      :isMobile="isMobile"
      :disabledStart="disabledDtStart"
      v-bind="$attrs"
      v-on="$listeners"
      @readonly="onReadonly"
      @change:start="start = $event"
    >
      <template #start>{{ $t('date') }}</template>
    </Dates>
    <WithTransition v-if="isMobile">
      <DateTimeMobilePicker
          v-if="pickerStart"
          :disabledDates="disabledDtStart"
          :value="start"
          :endDate="end"
          @close="onReadonly(undefined)"
          @set="start = $event"
      >
        <template #header>{{ $t('start_event') }}</template>
      </DateTimeMobilePicker>
    </WithTransition>

  </section>
</template>

<script>
import { isBefore, isValid, setMinutes, setHours } from 'date-fns'
import { format } from 'date-fns/fp'

const formatDates = format(`yyyy-MM-dd'T'HH:mm`)
const resetTime = date =>
  isValid(date) ? setMinutes(setHours(date, 0), 0) : undefined

export default {
  components: {
    Dates: () => import('./Dates'),
    WithTransition: () => import('~/components/common/WithTransition'),
    DateTimeMobilePicker: () => import('./DateTimeMobilePicker'),
  },
  props: {
    initial:{
      type: Array,
      required: true
    },
    isEmit: Boolean,
  },
  data: () => ({
    width: 0,
    pickerStart: false,
    pickerEnd: false,
    start: undefined,
    end: undefined,
  }),
  computed: {
    isMobile() {
      return this.width <= 425
    },
    yesterday() {
      const yesterday = new Date()
      yesterday.setDate(yesterday.getDate() - 1)
      return yesterday
    },
    period() {
      return [this.start, this.end].map(v => (v ? formatDates(v) : ''))
    },
    disabledDtStart() {
      return { from: undefined, to: this.yesterday }
    },
  },
  watch: {
    period(v) {
      this.selectDate(v, v)
    },
  },
  mounted() {
    this.addResizeListener()
    this.init()
  },
  destroyed() {
    window.removeEventListener('resize', this.onResizeEvent)
  },
  methods: {
    selectDate(v, storeVal) {
      if (this.isEmit) {
        this.$emit('date:selected', v)
      } else {
        this.$store.dispatch('newEvent/SET_FIELD', {
          value: storeVal,
          key: 'period',
          validations: ['start_dt', 'end_dt'],
        })
      }
    },
    init() {
      this.start = this.initial[0] ? new Date(this.initial[0]) : null
      this.end = this.initial[1] ? new Date(this.initial[1]) : null
    },
    addResizeListener() {
      if (window) {
        window.addEventListener('resize', this.onResizeEvent)
        window.dispatchEvent(new window.Event('resize'))
      }
    },
    onResizeEvent(e) {
      this.width = e.target.innerWidth
    },
    onReadonly(v) {
      if (v === 'S') this.pickerStart = true
      else if (v === 'E') this.pickerEnd = true
      else {
        this.pickerStart = false
        this.pickerEnd = false
      }
    },
  },
}
</script>

<style lang="scss">
.event-datepickers {
  margin: 0 16px 0 0!important;
  width: auto!important;
  position: relative;
  @media (max-width: 480px) {
    margin: 0!important;
  }
}
</style>

<i18n>
{
  "ru": {
    "start_event": "Начало события",
    "date": "Дата"
  },
  "en": {
    "start_event": "Event start",
    "date": "Date"
  }
}
</i18n>
