<template>
  <div class="event-datepickers__container">
    <div class="picker start">
      <span class="picker-label">
        <slot name="start" />
      </span>
      <div class="flex">
        <Datepicker
          class="dtpicker"
          :inputClass="{ dtpicker__input: true, error: dateStartErr }"
          :disabledDates="disabledStart"
          :isReadonly="isMobile"
          :value="start"
          @input="selectStart($event)"
          @readonly="onReadonly('S')"
        />
      </div>
    </div>
  </div>
</template>
<script>
import { isNil } from 'ramda'

export default {
  components: {
    Datepicker: () => import('~/components/common/input/DatePicker_new'),
  },
  props: {
    error: {
      type: [Object, Boolean],
      default: () => ({}),
    },
    isMobile: Boolean,
    start: [Date, Number],
    disabledStart: Object,
  },
  computed: {
    dateStartErr() {
      return this.error && isNil(this.start)
    }
  },
  methods: {
    selectStart(val) {
      this.$emit('change:start', val)
    },
    onReadonly(v) {
      this.$emit('readonly', v)
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.event-datepickers__container {
  display: flex;
  @media screen and (max-width: 768px) {
    flex-flow: column;
  }

  .picker {
    display: flex;
    flex-flow: column;
    .dtpicker {
      max-width: 160px;
      border: 1px solid #c6c7c8;
      @media (max-width: $desktopSD) {
        max-width: 232px;
      }
      @media (max-width: 480px) {
        max-width: 430px;
        width: 100%;
      }
    }

    &.start {
      @media screen and (max-width: 768px) {
        margin: 0;
        margin-bottom: 10px;
      }
    }
    &-label {
      margin-bottom: 9px;
      font-size: 16px!important;
      font-weight: bold;
      color: rgba(0, 0, 0, 0.4)!important;
      line-height: 24px!important;
      font-family: 'Circe-Bold';

      @media (min-width: $desktopSD) {
        @include text(2.25);
      }
      @media (max-width: 480px) {
        font-size: 12px!important;
      }

      &__err {
        color: red;
        font-size: 12px;
      }
    }
  }
}
</style>

<style lang="scss">

  .dtpicker {
    input{
      height: 54px!important;
      padding: 15px!important;
    }
  }

.dtpicker__input {
  font-size: 24px;
  @media (max-width: 425px) {
    font-size: 20px;
  }
  &:focus {
    box-shadow: none;
  }
  &.error {
    box-shadow: 0 0 0 2px #f50052;
  }
}
</style>
