<template>
  <div
    v-if="status"
    class="status"
    :class="[status ? status.color: '']"
    @click="$emit('click', $event)"
  ><i v-if="status.isDone" class="icon ww-icn-check"/>{{ status.text }}
  </div>
</template>
<script>
  import { mapGetters } from 'vuex'
  import { prop, path, isNil } from "ramda"

  export default {
    name: 'OrderStatus',
    props: {
      order: {
        type: Object,
        required: true,
      }
    },
    computed: {
      ...mapGetters('user', ['GET_USER']),
      status() {
        if ( isNil(prop('status', this.order) ))
          return null
        const statusesMap = {
          1: {
            text: this.$t('marketplace.orderInWork'),
            color: 'in_work',
            isDone: false,
          },
          2: {
            text: this.$t('marketplace.orderWaiting'),
            color: 'waiting',
            isDone: false,
          },
          3: {
            text: this.$t('marketplace.orderDone'),
            color: 'done',
            isDone: true,
          },
          4: {
            text: this.$t('marketplace.orderCanceled'),
            color: 'canceled',
            isDone: false,
          },
        }
        if (this.GET_USER){
          const orderAuthor = path(['created_by', 'id'], this.order) || prop('created_by', this.order)
          if (orderAuthor === prop('id', this.GET_USER)){
            statusesMap[0] = {
              text: this.$t('marketplace.orderSent'),
              color: 'sent',
              isDone: false,
            }
          }
        }
        return statusesMap[this.order.status]
      },
    },
  }
</script>
<style lang="scss" scoped>
  @import '~/assets/css/variables.scss';

  .status {
    @include text(2);
    padding: ($base * 0.625) ($base * 2.25);
    border-radius: 4px;
    color: #ffffff;
    white-space: nowrap;

    @media(max-width: $desktopSD) {
      @include text(1.5);
      padding: 4px 16px;
      margin-left: 0;
    }

    @media($mobile) {
      @include text(1.25);
      padding: 2px 10px;
    }

    .icon {
      font-size: 8px;
      line-height: 8px;
      display: inline-block;
      vertical-align: middle;
      margin-right: $base;
    }
  }

  .canceled {
    background-color: #888888;
  }

  .in_work {
    background-color: #ff00c4;
  }

  .waiting {
    background-color: #ff00c4;
  }

  .done {
    background-color: #6fa8ff;
  }
  .sent {
    background-color: #41d167;
  }
</style>