<i18n>
{
  "ru": {
    "views": "Просмотры",
    "clicks": "Переходы",
    "cpa": "CPA"
  },
  "en": {
    "views": "Views",
    "clicks": "Clicks",
    "cpa": "CPA"
  },
  "es": {
    "views": "Vistas",
    "clicks": "Transiciónes a la página",
    "cpa": "CPA"
  }
}
</i18n>

<template>
  <div ref="charts" class="charts">
    <div class="charts__outer">
      <div class="charts__content">
        <div :class="{ invisible: !showCharts }" class="appear-right chart">
          <img src="~assets/images/business/chart.png" />
        </div>
        <div class="pies">
          <div :class="{ invisible: !showCharts }" class="appear-right item">
            <div class="pie">
              <img src="~assets/images/business/pie1.svg" />
            </div>
            <div class="label" v-text="$t('views')" />
          </div>
          <div :class="{ invisible: !showCharts }" class="appear-right item">
            <div class="pie">
              <img src="~assets/images/business/pie2.svg" />
            </div>
            <div class="label" v-text="$t('clicks')" />
          </div>
          <div :class="{ invisible: !showCharts }" class="appear-right item">
            <div class="pie">
              <img src="~assets/images/business/pie3.svg" />
            </div>
            <div class="label" v-text="$t('cpa')" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data: () => ({
    showCharts: false,
  }),
  mounted() {
    this.createObserver()
  },
  beforeDestroy() {
    this.destroyObserver()
  },
  methods: {
    createObserver() {
      this.observer = new IntersectionObserver(
        entries => {
          if (entries.some(e => e.isIntersecting)) {
            this.showCharts = true
            this.destroyObserver()
          }
        },
        { threshold: 0.5 },
      )
      this.observer.observe(this.$refs.charts)
    },
    destroyObserver() {
      this.observer.disconnect()
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.charts {
  overflow: hidden;

  $container-width: 656px;
  $container-height: 435px;
  $container-ratio: ratio($container-height, $container-width);

  $chart-width: 562px;
  $chart-height: 296px;
  $chart-width-relative: ratio($chart-width, $container-width);
  $chart-height-relative: ratio($chart-height, $container-height);

  $pies-offset-y: 200px;
  $pies-offset-y-relative: ratio($pies-offset-y, $container-height);

  $pie-width: 180px;
  $pie-height: 180px;
  $pie-width-relative: ratio($pie-width, $container-width);
  $pie-ratio: ratio($pie-height, $pie-width);

  $pie-space-between: $base * 3;
  $pie-space-between-relative: ratio($pie-space-between, $container-width);

  $pie-label-offset-y: $base * 2.5;
  $pie-label-offset-y-relative: ratio($pie-label-offset-y, $pie-width);

  &__outer {
    height: 0;
    padding-top: $container-ratio;
    position: relative;
  }

  &__content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .chart {
    position: absolute;
    width: $chart-width-relative;
    height: $chart-height-relative;
    top: 0;
    right: 0;

    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  .pies {
    position: absolute;
    top: $pies-offset-y-relative;
    left: 0;
    right: 0;
    display: flex;

    .item {
      width: $pie-width-relative;
      display: flex;
      flex-direction: column;
      align-items: center;

      &:not(:last-child) {
        margin-right: $pie-space-between-relative;
      }
    }
    .pie {
      width: 100%;
      height: 0;
      padding-top: $pie-ratio;
      position: relative;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
    .label {
      @include text(1.5);
      color: blue;
      margin: $pie-label-offset-y-relative 0 0;
    }
  }

  .appear-right {
    $duration: 2s;
    transform: translateX(0);
    opacity: 1;
    transition: opacity $duration, transform $duration / 2;

    &.invisible {
      visibility: hidden;
      opacity: 0;
      transform: translateX(50vw);
    }

    &:nth-child(2) {
      transition-delay: 0.2s, 0.2s;
    }
    &:nth-child(3) {
      transition-delay: 0.4s, 0.4s;
    }
  }
}
</style>
