<i18n>
{
  "ru": {
    "title": "Подробные отчёты",
    "list": [
      "Мы отчитаемся за каждую копейку вашего бюджета;",
      "Мы предоставим подробные отчеты по охвату вашей аудитории;",
      "Мы предоставим подробный отчет по посещаемости страницы вашего мероприятия;",
      "Мы готовы ответить на любой вопрос и дать рекомендации."
    ]
  },
  "en": {
    "title": "Detailed reports",
    "list": [
      "We will report every penny of your budget;",
      "We will provide detailed reports on reaching your audience;",
      "We will provide a detailed report on the attendance of your event page;",
      "We are ready to answer any question and give recommendations."
    ]
  },
  "es": {
    "title": "Informes detallados",
    "list": [
      "Te informamos de cada centavo de tu presupuesto;",
      "Te proporcionaremos los informes detallados sobre el alcance de tu audiencia;",
      "Te proporcionaremos un informe detallado sobre la asistencia de la página de tu evento;",
      "Estamos listos para responder a cualquier pregunta y dar recomendaciones "
    ]
  }
}
</i18n>

<template>
  <div class="reports-section">
    <div class="reports-section__content">
      <h2 class="title -mobile" v-text="$t('title')" />
      <div class="section">
        <div class="section__content">
          <h2 class="title" v-text="$t('title')" />
          <ul class="list">
            <li
              v-for="item in $t('list')"
              :key="item"
              class="item"
              v-text="item"
            />
          </ul>
        </div>
        <div class="section__charts">
          <Charts />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Charts from './Charts'

export default {
  components: { Charts },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.reports-section {
  background: #fff;
  padding: ($base * 13) 0 ($base * 10) ($base * 12.875);

  &__content {
    max-width: $base * 152;
    margin: 0 auto;
  }

  .title {
    @include text(8);
    margin: ($base * 2.625) 0 ($base * 6);

    &.-mobile {
      display: none;
    }
  }
  .list {
  }
  .item {
    margin: 0;

    &:not(:last-child) {
      margin-bottom: $base * 2;
    }

    &:before {
      content: '\2013\00A0'; // &ndash;&nbsp;
    }
  }

  .section {
    display: flex;

    &__content {
      flex: 1 1;
      padding-right: $base * 12;
    }

    &__charts {
      width: $base * 82;
    }
  }

  @media (max-width: $sideShow) {
    padding: ($base * 8.875) ($base * 8) ($base * 5) ($base * 4.25);

    .title {
      @include text(6);
      margin-top: $base * 6.75;
    }
    .section {
      &__content {
        padding-right: $base * 9.5;
      }
    }
  }
  @media (max-width: $desktopHD) {
    padding: ($base * 8.125) 0 ($base * 4.5) ($base * 5.625);

    .title {
      @include text(5);
      margin-top: $base * 6;
    }
    .section {
      overflow: hidden;

      &__content {
        padding-right: $base * 4.25;
      }
      &__charts {
        width: $base * 70;
        margin-right: -($base * 9.5);
      }
    }
    /deep/ {
      .pies .label {
        @include text(1.25);
      }
    }
  }
  @media (max-width: $desktopSD) {
    padding: ($base * 6.5) ($base * 3.5) ($base * 3.5);

    .title {
      @include text(4);
      display: none;
      margin: 0 0 ($base * 3);

      &.-mobile {
        display: block;
      }
    }
    .section {
      overflow: visible;
      flex-direction: column;

      &__content {
        order: 2;
        padding-right: 0;
      }
      &__charts {
        order: 1;
        width: $base * 51.5;
        max-width: 100%;
        margin: 0 auto ($base * 2.25);
      }
    }
    /deep/ {
      .pies .label {
        @include text(1.5);
        margin-top: $base / 2;
      }
    }
  }
  @media ($mobile) {
    padding: ($base * 7.25) ($base * 2) ($base * 2.5);

    .title {
      margin-bottom: $base * 3.75;
    }
    .section {
      &__charts {
        margin-bottom: $base * 4.75;
      }
    }
    /deep/ {
      .pies .label {
        @include text(1.25);
        margin-top: $base * 1.5;
      }
    }
  }
}
</style>
