<i18n>
{
  "ru": {
    "title": "Контакты",
    "form": {
      "emails": "Электронная почта",
      "phones": "Телефон",
      "facebook": "Профиль Facebook",
      "instagram": "Профиль Instagram",
      "vk": "Профиль ВКонтакте",
      "site": "Сайт"
    },
    "add": {
      "email": "Добавить email",
      "phone": "Добавить телефон",
      "link": "Добавить ссылку"
    }
  },
  "en": {
    "title": "Contacts",
    "form": {
      "emails": "Email",
      "phones": "Phone number",
      "facebook": "Facebook profile",
      "instagram": "Instagram profile",
      "vk": "VKontakte profile",
      "site": "Website"
    },
    "add": {
      "email": "Add email",
      "phone": "Add phone number",
      "link": "Add link"
    }
  },
  "es": {
    "title": "Contactos",
    "form": {
      "emails": "Correo electrónico",
      "phones": "Número de teléfono",
      "facebook": "Perfíl de Facebook",
      "instagram": "Perfíl de Instagram",
      "vk": "Perfíl de VK",
      "site": "Sitio"
    },
    "add": {
      "email": "Añadir correo electrónico",
      "phone": "Añadir teléfono",
      "link": "Añadir enlace"
    }
  }
}
</i18n>

<template>
  <section class="contacts-section">
    <h2 class="subtitle">
      <a href="#contacts">
        {{ $t('title') }}
      </a>
    </h2>

    <FormRow class="row" :error="errors.emails">
      <template #label>
        {{ $t('form.emails') }}
        <ToggleIcon
          :toggled="form.show_emails"
          @click.native="form.show_emails = !form.show_emails"
        />
      </template>
      <template slot-scope="{ id }">
        <Emails :id="id" v-model="form.emails" />
      </template>
    </FormRow>

    <div class="row">
      <ListEditor v-model="form.phones" :errors="errors.phones" type="tel">
        <template v-slot:label>
          {{ $t('form.phones') }}
          <ToggleIcon
            :toggled="form.show_phones"
            @click.native="form.show_phones = !form.show_phones"
          />
        </template>
        <template v-slot:icon-tooltip>
          {{ $t('add.phone') }}
        </template>
      </ListEditor>
    </div>

    <div class="row">
      <CustomInput
        v-model="form.url_fb"
        :invalid="errors.url_fb"
        class="input"
      >
        <template v-slot:label>{{ $t('form.facebook') }}</template>
        <template v-slot:icon>
          <i class="input__icon ww-icn-fb" />
        </template>
      </CustomInput>
    </div>

    <div class="row">
      <CustomInput
        v-model="form.url_instagram"
        :invalid="errors.url_instagram"
        class="input"
      >
        <template v-slot:label>{{ $t('form.instagram') }}</template>
        <template v-slot:icon>
          <Icon
            src="icons/social/instagram.svg"
            size="m"
            class="input__icon -svg"
          />
        </template>
      </CustomInput>
    </div>

    <div v-if="fromCIS" class="row">
      <CustomInput
        v-model="form.url_vk"
        :invalid="errors.url_vk"
        class="input"
      >
        <template v-slot:label>{{ $t('form.vk') }}</template>
        <template v-slot:icon>
          <i class="input__icon ww-icn-vk" />
        </template>
      </CustomInput>
    </div>

    <div class="row">
      <ListEditor
        v-model="form.links"
        :errors="errors.links"
        placeholder="http://"
      >
        <template v-slot:label>
          {{ $t('form.site') }}
        </template>
        <template v-slot:icon-tooltip>
          {{ $t('add.link') }}
        </template>
      </ListEditor>
    </div>
  </section>
</template>

<script>
  import { mapGetters } from 'vuex'

  export default {
    components: {
      Icon: () => import('~/components/common/Icon'),
      Emails: () => import('~/components/events/create/EventOrganizer/Emails'),
      FormRow: () => import('~/components/common/FormRowNew'),
      CustomInput: () => import('./components/CustomInput'),
      ToggleIcon: () => import('./components/ToggleIcon'),
      ListEditor: () => import('./components/ListEditor'),
    },
    props: {
      data: {
        type: Object,
        required: true,
      },
      errors: {
        type: Object,
        default: () => ({}),
      },
    },
    data: () => ({
      form: null,
    }),
    computed: {
      ...mapGetters({
        fromCIS: 'city/SHOW_RUSSIAN_LANG',
      }),
    },
    watch: {
      data: {
        immediate: true,
        deep: true,
        handler() {
          this.form = Object.assign({}, this.data)
        },
      },
      form: {
        deep: true,
        handler() {
          this.$emit('change', this.form)
        },
      },
    },
  }
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.contacts-section {
  .subtitle {
    @include text(4);
    font-weight: bold;
  }

  .row {
    + .row {
      margin-top: ($base * 4) + 3;
    }
  }

  .input {
    &__icon {
      &.-inactive {
        color: black;
        opacity: 0.4;
      }
    }
  }
}
</style>
