<i18n>
  {
    "ru": {
      "title": "Реквизиты",
      "labels": {
        "my_company_legal_name": "Юридическое название моей компании",
        "my_company_legal_address": "Юридический адрес моей компании",
        "my_company_taxpayer_identification_number": "ИНН моей компании",
        "my_company_main_state_registration_number": "ОГРН моей компании",
        "my_company_registration_reason_code": "КПП моей компании",
        "my_company_russian_organizations_classifier": "ОКПО моей компании",
        "my_company_bank_account_number": "Номер счета моей компании",
        "my_company_bank_identification_code": "БИК Банка моей компании",
        "legal_name": "Юридическое название",
        "legal_address": "Юридический адрес",
        "taxpayer_identification_number": "ИНН",
        "main_state_registration_number": "ОГРН",
        "registration_reason_code": "КПП",
        "russian_organizations_classifier": "ОКПО",
        "bank_account_number": "Номер счета",
        "bank_identification_code": "БИК Банка"
      },
      "placeholders": {
        "taxpayer_identification_number": "XXXXXXXXXX",
        "main_state_registration_number": "XXXXXXXXXXXX",
        "registration_reason_code": "XXXXXXXXX",
        "russian_organizations_classifier": "XXXXXXXX",
        "bank_account_number": "XXXXXXXXXXXXXXXXXXXX",
        "bank_identification_code": "XXXXXXXXX"
      }
    },
    "en": {
      "title": "Legal data",
      "labels": {
        "my_company_legal_name": "My company legal name",
        "my_company_legal_address": "My company legal address",
        "my_company_taxpayer_identification_number": "My company russian taxpayer identification number",
        "my_company_main_state_registration_number": "My company russian main state registration number",
        "my_company_registration_reason_code": "My company russian registration reason code",
        "my_company_russian_organizations_classifier": "My company russian classifier of organizations",
        "my_company_bank_account_number": "My company Bank Account Number",
        "my_company_bank_identification_code": "My company Bank Identification Code",
        "legal_name": "Legal name",
        "legal_address": "Legal address",
        "taxpayer_identification_number": "Russian taxpayer identification number",
        "main_state_registration_number": "Russian main state registration number",
        "registration_reason_code": "Russian registration reason code",
        "russian_organizations_classifier": "Russian classifier of organizations",
        "bank_account_number": "Bank Account Number",
        "bank_identification_code": "Bank Identification Code"
      },
      "placeholders": {
        "taxpayer_identification_number": "XXXXXXXXXX",
        "main_state_registration_number": "XXXXXXXXXXXX",
        "registration_reason_code": "XXXXXXXXX",
        "russian_organizations_classifier": "XXXXXXXX",
        "bank_account_number": "XXXXXXXXXXXXXXXXXXXX",
        "bank_identification_code": "XXXXXXXXX"
      }
    }
  }
</i18n>

<template>
  <section class="legal-data-section">
    <h2 class="subtitle">
      <a href="#legal-data">
        {{ $t('title') }}
      </a>
    </h2>

    <FormRow :error="errors['legal_name']" class="row">
      <template #label>
        {{ isCompany ? $t('labels.legal_name'): $t('labels.my_company_legal_name') }}
      </template>
      <template slot-scope="{ id, hasError }">
        <FormInput
          :id="id"
          v-model="form.legal_name"
          :error="hasError"
        />
      </template>
    </FormRow>

    <FormRow :error="errors['legal_address']" class="row">
      <template #label>
        {{ isCompany ? $t('labels.legal_address'): $t('labels.my_company_legal_address') }}
      </template>
      <template slot-scope="{ id, hasError }">
        <FormInput
          :id="id"
          v-model="form.legal_address"
          component="textarea"
          rows="2"
          :error="hasError"
        />
      </template>
    </FormRow>

    <FormRow :error="errors['taxpayer_identification_number']" class="row">
      <template #label>
        {{ isCompany ? $t('labels.taxpayer_identification_number'): $t('labels.my_company_taxpayer_identification_number') }}
      </template>
      <template slot-scope="{ id, hasError }">
        <FormInput
          :id="id"
          v-model="form.taxpayer_identification_number"
          :error="hasError"
          :placeholder="$t('placeholders.taxpayer_identification_number')"
          component="TheMask"
          :mask="['############']"
        />
      </template>
    </FormRow>

    <FormRow :error="errors['main_state_registration_number']" class="row">
      <template #label>
        {{ isCompany ? $t('labels.main_state_registration_number'): $t('labels.my_company_main_state_registration_number') }}
      </template>
      <template slot-scope="{ id, hasError }">
        <FormInput
          :id="id"
          v-model="form.main_state_registration_number"
          :error="hasError"
          :placeholder="$t('placeholders.main_state_registration_number')"
          component="TheMask"
          :mask="['#############']"
        />
      </template>
    </FormRow>

    <FormRow :error="errors['registration_reason_code']" class="row">
      <template #label>
        {{ isCompany ? $t('labels.registration_reason_code'): $t('labels.my_company_registration_reason_code') }}
      </template>
      <template slot-scope="{ id, hasError }">
        <FormInput
          :id="id"
          v-model="form.registration_reason_code"
          :error="hasError"
          :placeholder="$t('placeholders.registration_reason_code')"
          component="TheMask"
          :mask="['#########']"
        />
      </template>
    </FormRow>

    <FormRow :error="errors['russian_organizations_classifier']" class="row">
      <template #label>
        {{ isCompany ? $t('labels.russian_organizations_classifier'): $t('labels.my_company_russian_organizations_classifier') }}
      </template>
      <template slot-scope="{ id, hasError }">
        <FormInput
          :id="id"
          v-model="form.russian_organizations_classifier"
          :error="hasError"
          :placeholder="$t('placeholders.russian_organizations_classifier')"
          component="TheMask"
          :mask="['########']"
        />
      </template>
    </FormRow>

    <FormRow :error="errors['bank_account_number']" class="row">
      <template #label>
        {{ isCompany ? $t('labels.bank_account_number'): $t('labels.my_company_bank_account_number') }}
      </template>
      <template slot-scope="{ id, hasError }">
        <FormInput
          :id="id"
          v-model="form.bank_account_number"
          :error="hasError"
          :placeholder="$t('placeholders.bank_account_number')"
          component="TheMask"
          :mask="['####################']"
        />
      </template>
    </FormRow>

    <FormRow :error="errors['bank_identification_code']" class="row">
      <template #label>
        {{ isCompany ? $t('labels.bank_identification_code'): $t('labels.my_company_bank_identification_code') }}
      </template>
      <template slot-scope="{ id, hasError }">
        <FormInput
          :id="id"
          v-model="form.bank_identification_code"
          :error="hasError"
          :placeholder="$t('placeholders.bank_identification_code')"
          component="TheMask"
          :mask="['#########']"
        />
      </template>
    </FormRow>

  </section>
</template>

<script>
  import FormRow from '~/components/common/FormRowNew'
  import FormInput from '~/components/common/input/FormInput'

  export default {
    components: {
      FormRow,
      FormInput,
    },
    props: {
      data: {
        type: Object,
        required: true,
      },
      errors: {
        type: Object,
        default: () => ({}),
      },
      isCompany: {
        type: Boolean,
        default: false
      }
    },
    data: () => ({
      form: null,
    }),
    watch: {
      data: {
        immediate: true,
        deep: true,
        handler() {
          this.form = Object.assign({}, this.data)
        },
      },
      form: {
        deep: true,
        handler() {
          this.$emit('change', this.form)
        },
      },
    },
  }
</script>

<style lang="scss" scoped>
  @import '~/assets/css/variables.scss';

  .legal-data-section {
    .subtitle {
      @include text(4);
      font-weight: bold;
    }

    .row {
      + .row {
        margin-top: ($base * 4) + 3;
      }
    }
  }
</style>
