<i18n>
{
  "ru": {
    "form": {
      "name": "Имя",
      "organization": "Название организации",
      "city": "Событиями в каком городе интересуетесь?",
      "address" :"Адрес"
    },
    "placeholders": {
      "name": "Ваше имя"
    }
  },
  "en": {
    "form": {
      "name": "Name",
      "organization": "Company name",
      "city": "What city are you interested in?",
      "address" : "Address"
    },
    "placeholders": {
      "name": "Your name"
    }
  },
  "es": {
    "form": {
      "name": "Tu nombre",
      "organization": "Nombre de la compañía",
      "city": "Ciudad",
      "address" : "Dirección"
    },
    "placeholders": {
      "name": "Tu nombre"
    }
  }
}
</i18n>

<template>
  <div class="main-section">
    <div class="row">
      <CustomInput
        v-model="form.name"
        :invalid="errors.name"
        :placeholder="$t('placeholders.name')"
      >
        <template v-slot:label>
          {{ form.is_company ? $t('form.organization') : $t('form.name') }}
        </template>
      </CustomInput>
    </div>

    <div v-if="displayCityField" class="row">
      <CustomInput>
        <template v-slot:label>
          {{ $t('form.city') }}
        </template>

        <SelectCity v-model="form.city" class="city-select" />
      </CustomInput>
    </div>

    <div v-if="displayAddressField" class="row">
      <CustomInput v-model="form.address" :invalid="errors.address">
        <template v-slot:label>
          {{ $t('form.address') }}
        </template>
      </CustomInput>
    </div>
  </div>
</template>

<script>
const createForm = ({ name, address, is_organizer, is_company, city }) => ({
  name,
  address,
  is_organizer,
  is_company,
  city,
})

export default {
  components: {
    CustomInput: () => import('./components/CustomInput'),
    SelectCity: () => import('~/components/common/input/SelectCity'),
  },
  props: {
    data: {
      type: Object,
      required: true,
    },
    errors: {
      type: Object,
      default: () => ({}),
    },
    displayCityField: {
      type: Boolean,
      default: true
    },
    displayAddressField: {
      type: Boolean,
      default: true
    }
  },
  data: () => ({ form: null }),

  watch: {
    data: {
      immediate: true,
      deep: true,
      handler() {
        this.form = createForm(this.data)
        this.form.city = this.form.city || {
          id: null,
          name: '',
        }
      },
    },
    form: {
      deep: true,
      handler() {
        this.$emit('change', this.form)
      },
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.main-section {
  .row {
    + .row {
      margin-top: $base * 2;
    }
  }

  .city-select {
    height: $base * 8;

    /deep/ {
      .multiselect__tags {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }
}
</style>
