<template>
  <CreateJournal :fromRoute="from" />
</template>

<script>
import CreateJournal from '~/components/journals/create-journal/'
export default {
  middleware: ['only-auth', 'personal-data-agreement'],
  layout: 'default',
  components: {
    CreateJournal,
  },
  beforeRouteEnter(to, from, next) {
    next(vm => {
      vm.from = from
    })
  },
  data: () => ({
    from: null,
  }),
}
</script>
