$<template>
  <div class="arrow-container" @click="$emit('click')">
    <div class="arrow down" />
    <div class="line"></div>
  </div>
</template>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.arrow-container {
  position: relative;
  width: 48px;
  height: 48px;
  background-color: #0070ff;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    cursor: pointer;
    background-color: #0063e0;
  }
  @media screen and ($mobile) {
    width: 32px;
    height: 32px;
  }

  .line {
    position: absolute;
    width: 18px;
    height: 2px;
    background-color: #fff;
    bottom: 12px;
    @media screen and ($mobile) {
      width: 14px;
      bottom: 8px;
    }
  }
  .arrow {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    &::before {
      content: '';
      display: block;
      width: 14px;
      height: 14px;
      border-style: solid;
      border-color: #fff;
      border-width: 2px 2px 0 0;
      position: absolute;
      transform-origin: 50% 50%;
      @media screen and ($mobile) {
        width: 10px;
        height: 10px;
      }
    }
    &::after {
      content: '';
      display: block;
      top: 50%;
      left: 50%;
      background-color: #fff;
      position: absolute;
      transform-origin: 50% 50%;
    }
    &.down::before {
      transform: rotate(135deg);
      bottom: 22px;
      @media screen and ($mobile) {
        bottom: 12px;
      }
    }
    &.down::after {
      width: 2px;
      height: 18px;
      transform: translate(-1px, -16px);
      @media screen and ($mobile) {
        height: 14px;
        transform: translate(-1px, -10px);
      }
    }
  }
}
</style>
