<template>
  <section v-if="isExist" class="new-event__posters">
    <div v-if="large" class="new-event__posters-poster lg">
      <img :src="large.image" alt />
      <div class="download-btn">
        <ArrowBtn
          v-tooltip.auto="$t('eventCreate.downloadPoster')"
          @click="handleDownload(large.image, '1200x630')"
        />
      </div>
    </div>
    <div v-if="medium" class="new-event__posters-poster md">
      <img :src="medium.image" alt />
      <div class="download-btn">
        <ArrowBtn
          v-tooltip.auto="$t('eventCreate.downloadPoster')"
          @click="handleDownload(medium.image, '1080x1080')"
        />
      </div>
    </div>
    <div v-if="small" class="new-event__posters-poster sm">
      <img :src="small.image" alt />
      <div class="download-btn">
        <ArrowBtn
          v-tooltip.auto="$t('eventCreate.downloadPoster')"
          @click="handleDownload(small.image, '800x1080')"
        />
      </div>
    </div>
  </section>
</template>

<script>
import { map, filter } from 'ramda'
import thumborize from '~/utils/thumborize'
import ArrowBtn from './ArrowBtn'

export default {
  components: { ArrowBtn },
  props: {
    posters: {
      type: Object,
      default: () => ({}),
    },
  },
  data: () => ({
    prepared: {},
  }),
  computed: {
    isExist() {
      return Object.keys(this.prepared).length > 0
    },
    large() {
      return this.prepared.poster_1200x630
    },
    medium() {
      return this.prepared.poster_1080x1080
    },
    small() {
      return this.prepared.poster_800x1080
    },
  },
  watch: {
    posters(val) {
      this.preparePosters()
    },
  },
  mounted() {
    this.preparePosters()
  },
  methods: {
    preparePosters() {
      const filtered = filter(v => v !== null && v.image, this.posters)

      this.prepared = map(val => {
        return {
          ...val,
          image: thumborize(
            val.image,
            undefined,
            val.original_width,
            val.original_height,
          ),
        }
      }, filtered)
    },
    async handleDownload(poster, dim) {
      const a = document.createElement('a')
      a.setAttribute('href', await this.makeImg(poster))
      a.setAttribute('download', `poster-${dim}.png`)
      // console.log(a)
      a.style.display = 'none'
      document.body.appendChild(a)
      a.click()
      document.body.removeChild(a)
    },
    makeImg(image) {
      return new Promise((resolve, reject) => {
        const img = new Image()
        img.crossOrigin = 'anonymous'
        img.src = image
        img.onload = function() {
          const c = document.createElement('canvas')
          c.width = this.naturalWidth
          c.height = this.naturalHeight
          c.getContext('2d').drawImage(this, 0, 0)
          resolve(c.toDataURL('image/png'))
        }
      })
    },
  },
}
</script>

<style lang="scss" scoped>
.new-event__posters {
  position: relative;
  display: flex;

  &-poster {
    position: relative;
    margin-right: 1rem;
    height: 160px;
    display: flex;
    @media screen and (max-width: 430px) {
      height: 100px;
    }
    &:last-child {
      margin-right: 0;
    }

    > img {
      width: 100%;
    }

    &.lg {
      width: 300px;
      background-color: #152842;
    }
    &.md {
      width: 160px;
      background-color: #608dc9;
    }
    &.sm {
      width: 120px;
      background-color: #8c9eff;
    }

    .download-btn {
      position: absolute;
      right: 8px;
      top: 8px;
    }
  }
}
</style>
