<template>
  <div class="popover popover_alert">
    <div class="popover-close-button">
      <button
        v-tooltip.auto="$t('popovers.close')"
        class="ww-icn-cross"
        @click="closePopover('')"
      ></button>
    </div>
    <div class="contact-popover">
      <div v-if="isShowOrganizers" class="contact-popover__organizers">
        <h2>{{ $t('eventpage.organizers') }}</h2>
        <div class="contact-popover__grid">
          <Institution
            v-if="isDifferentInstitutions"
            :institution="event.institution"
          />
          <div>
            <UserCard
              v-for="user in eventOrganizers"
              :key="user.id"
              :user="user"
            />
          </div>
        </div>
      </div>
      <div v-if="isShowOrganizers" class="contact-popover__line"></div>
      <div class="contact-popover__location">
        <h2>{{ $t('eventpage.location') }}</h2>
        <div class="contact-popover__grid">
          <Location :location="event.location" />
          <div>
            <UserCard
              v-for="user in locationOrganizers"
              :key="user.id"
              :user="user"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import { differenceWith, path, prop, uniqBy } from 'ramda'

export default {
  components: {
    Institution: () => import('./Institution'),
    Location: () => import('./Location'),
    UserCard: () => import('~/components/common/UserCard'),
  },
  props: {
    event: {
      type: Object,
      required: true,
    },
  },
  computed: {
    eventOrganizers() {
      const managers = path(['institution', 'managers'], this.event) || []
      const organizers = this.event.organizers || []
      return uniqBy(item => item.id, [...managers, ...organizers])
    },
    locationOrganizers() {
      const cmp = (x, y) => x.id === y.id
      const managers =
        path(['location', 'institution', 'managers'], this.event) || []
      return differenceWith(cmp, managers, this.eventOrganizers)
    },
    isDifferentInstitutions() {
      return (
        prop('id', this.event.institution) !==
        path(['institution', 'id'], this.event.location)
      )
    },
    isShowOrganizers() {
      return this.eventOrganizers.length > 0 || this.isDifferentInstitutions
    },
  },
  methods: {
    ...mapActions({
      closePopover: 'popovers/TOGGLE_POPOVER',
    }),
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';
@import '~/assets/css/popover.scss';

.ww-icn-cross:before {
  color: $blue;
}

.contact-popover {
  margin: 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /*width: 100%;*/

  &__line {
    background-color: $dark-gray;
    height: 1px;
    width: 70%;
    margin: 24px;
  }
  &__organizers {
    text-align: left;
    width: 60%;
  }
  &__grid {
    margin-top: 16px;
    display: block;
    /*grid-template-columns: 1fr 1fr;*/
    /*grid-gap: 8px;*/
    @media (min-width: $desktopSD) {
      display: flex;
      flex-direction: row;
      min-width: 360px;
    }
  }
  &__location {
    width: 60%;
    text-align: left;
  }
}
</style>
