<template>
  <div class="element">
    <label
      v-for="option in options"
      :key="option.title"
      :title="option.title"
      class="element__label"
    >
      <input
        :checked="value === option.value"
        :value="option.value"
        type="radio"
        class="element__input"
        @change="$emit('input', option.value)"
      />
      <span class="element__icon" :class="option.class"></span>
    </label>
  </div>
</template>

<script>
export default {
  props: {
    value: Boolean,
  },
  computed: {
    options() {
      return [
        {
          value: true,
          title: this.$t('journal.create.onlyMe'),
          class: 'ww-icn-eye-stroke-o',
        },
        {
          value: false,
          title: this.$t('journal.create.forAll'),
          class: 'ww-icn-eye-o',
        },
      ]
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.element {
  &__label {
    display: inline-block;
    cursor: pointer;
    width: 64px;
    height: 64px;

    background-color: #006af1;
    color: white;
    @include text(3);
    @media (min-width: 1180px) {
      width: 80px;
      height: 80px;
    }

    &:hover input ~ .element__icon {
      &:before {
        opacity: 1;
      }
    }
    input:checked ~ .element__icon {
      background-color: black;
      &:before {
        opacity: 1;
      }
    }
  }
  &__icon {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $light-blue;
    color: white;
    font-size: 26px;
    &:before {
      opacity: 0.4;
    }
  }
  &__input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}
</style>
