<template>
  <section>
    <div class="range-title">
      <span
        >{{ $t('promo.from') }} {{ value[0] }} {{ $t('promo.to') }}
        {{ value[1] }} {{ $t('promo.age') }}</span
      >
    </div>
    <no-ssr>
      <vue-slider
        ref="slider"
        v-model="value"
        :min="1"
        :max="100"
        :tooltip="false"
        :height="9"
        :width="'100%'"
        :dot-size="18"
        :interval="1"
        :piecewise="false"
        :bg-style="bg"
        :slider-style="slider"
        :process-style="process"
      />
    </no-ssr>
  </section>
</template>

<script>
export default {
  data() {
    return {
      value: [20, 80],
      bg: {
        background: '#f8f9fa',
      },
      slider: {
        background: '#fff',
        border: '2px solid #0070ff',
      },
      process: {
        background: '#1a7fff',
      },
      tooltipStyle: {
        backgroundColor: '#1a7fff',
      },
    }
  },
  watch: {
    value: function(val, oldVal) {
      this.$store.dispatch('promo/SET_AGE', val)
    },
  },
}
</script>

<style lang="scss" scoped>
.range-title {
  padding-bottom: 6px;
}
</style>
