<template>
  <div>
    <Loader v-show="getLoader" class="loader" />
    <Button
      v-show="!getLoader"
      class="create-event__promo-button"
      @click="sendToServer"
    >
      <i class="create-event__promo-button-icon ww-icn-megaphone"></i>
      {{ this.$t('promo.btn') }}
    </Button>
    <button class="promo-btn-cancel" @click="closeModal">
      {{ this.$t('promo.btnCancel') }}
    </button>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  components: {
    Button: () => import('../../common/buttons/Button'),
    Loader: () => import('~/components/common/Loader'),
  },

  props: {
    id: {
      type: Number,
      default: () => ({}),
    },
  },

  computed: {
    ...mapGetters({
      isAuth: 'auth/IS_AUTH',
      promoEmail: 'promo/PROMO_EMAIL',
    }),
    getLoader() {
      return this.$store.getters['promo/PROMO_LOADER']
    },
    isDisabled() {
      return !this.isAuth && !this.promoEmail
    },
  },

  methods: {
    closeModal() {
      this.$emit('closeModal')
    },
    sendToServer() {
      this.$store.dispatch('promo/SEND_PROMO_DATA', this.id)
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.create-event {
  &__promo-button {
    margin-top: 6 * $base;
  }

  &__promo-button-icon {
    margin-right: $base;
  }
}
.promo-btn-cancel {
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  box-shadow: none;
  color: #0070ff;
  font-weight: 400;
  font-size: inherit;
  padding: 27px 32px 21px;

  &:hover {
    text-decoration: underline;
  }
}
// TODO: replace with loader prop in button component
.loader {
  margin: 0 auto !important;
  margin-top: (10 + 6 * $base) !important;
  margin-bottom: 11px !important;
}
</style>
