<template>
  <label class="create-event__promo-start-date">
    <span class="label">{{ $t('promo.startPromo') }}</span>
    <div class="select select_small select_border">
      <select
        v-model="selected"
        class="select__select"
        name=""
        @change="addToStore"
      >
        <option v-for="(item, id) in dateList" :key="id" :value="item">
          {{ item | moment('DD.MM.YYYY') }}
        </option>
      </select>
    </div>
  </label>
</template>

<script>
export default {
  data() {
    return {
      dateList: [
        Number(new Date()),
        Number(new Date()) + 86400000,
        Number(new Date()) + 86400000 * 2,
        Number(new Date()) + 86400000 * 3,
        Number(new Date()) + 86400000 * 4,
        Number(new Date()) + 86400000 * 5,
        Number(new Date()) + 86400000 * 6,
        Number(new Date()) + 86400000 * 7,
        Number(new Date()) + 86400000 * 8,
        Number(new Date()) + 86400000 * 9,
        Number(new Date()) + 86400000 * 10,
        Number(new Date()) + 86400000 * 11,
        Number(new Date()) + 86400000 * 12,
        Number(new Date()) + 86400000 * 13,
        Number(new Date()) + 86400000 * 14,
        Number(new Date()) + 86400000 * 15,
        Number(new Date()) + 86400000 * 16,
        Number(new Date()) + 86400000 * 17,
        Number(new Date()) + 86400000 * 18,
        Number(new Date()) + 86400000 * 19,
        Number(new Date()) + 86400000 * 20,
        Number(new Date()) + 86400000 * 21,
        Number(new Date()) + 86400000 * 22,
        Number(new Date()) + 86400000 * 23,
        Number(new Date()) + 86400000 * 24,
        Number(new Date()) + 86400000 * 25,
        Number(new Date()) + 86400000 * 26,
        Number(new Date()) + 86400000 * 27,
        Number(new Date()) + 86400000 * 28,
        Number(new Date()) + 86400000 * 29,
        Number(new Date()) + 86400000 * 30,
        Number(new Date()) + 86400000 * 31,
      ],
      selected: Number(new Date()),
    }
  },
  mounted() {
    this.initStore()
  },
  methods: {
    addToStore() {
      this.$store.dispatch(
        'promo/SET_DATE',
        new Date(this.selected).toISOString(),
      )
    },
    initStore() {
      this.$store.dispatch(
        'promo/SET_DATE',
        new Date(this.dateList[0]).toISOString(),
      )
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.select {
  @media (max-width: 380px) {
    margin: 0 15px 0 0;
  }
}

.select {
  $arrow-half-width: $base;
  $arrow-margin-right: 3 * $base;

  position: relative;

  &::after {
    content: '';
    border: $arrow-half-width solid transparent;
    border-top-color: $blue;
    border-top-width: 1.5 * $base;
    display: inline-block;
    margin-top: 0.5 * $base;
    position: absolute;
    right: $arrow-margin-right;
    top: 50%;
    transform: translateY(-50%);
  }

  &_small {
    .select__select {
      @include text(3);
      padding-top: 2 * $base;
      padding-bottom: 2 * $base;
    }
  }

  &_border {
    box-shadow: 0 0 0 1px black;

    &:hover {
      box-shadow: 0 0 0 1px $blue;
    }
  }

  &__select {
    -webkit-appearance: none;
    border: none;
    cursor: pointer;
    padding-right: 2 * $arrow-margin-right + 2 * $arrow-half-width;
    &:focus {
      border-radius: 0px;
    }
  }
}
</style>
