<template>
  <div class="promo">
    <div class="promo__block">
      <div class="promo-top promo__item">
        <div class="promo-top__left">
          <i class="promo-top__icon ww-icn-megaphone"></i>
        </div>
        <div class="promo-top__right">
          <h2 class="promo__header">{{ $t('promo.title') }}</h2>
          <p class="promo__description">{{ $t('promo.descr') }}</p>
        </div>
      </div>

      <GenderToggle
        class="promo__item"
        action="promo/SET_GENDER"
        getter="promo/PROMO_GENDER"
      />

      <Age class="promo__item" />

      <Offer class="promo__item" />

      <div class="promo__item">
        <Date />
      </div>

      <Info class="promo__item" />

      <Mail />

      <span v-show="getError" class="promo__error" style="color: red">
        {{ getErrorText() }}
      </span>

      <Button :id="event.id" @closeModal="closeModal" />
    </div>
  </div>
</template>

<script>
import { prop } from 'ramda'

export default {
  components: {
    Age: () => import('./Age.vue'),
    Info: () => import('./Info.vue'),
    Date: () => import('./Date.vue'),
    Mail: () => import('./Mail.vue'),
    Offer: () => import('./Offer.vue'),
    Button: () => import('./Button.vue'),
    GenderToggle: () => import('~/components/common/input/GenderToggle'),
  },
  props: {
    event: Object,
  },
  computed: {
    getError() {
      return this.$store.getters['promo/PROMO_ERRORS'].non_field_errors
    },
  },
  methods: {
    closeModal() {
      this.$router.go(-1)
    },
    getErrorText() {
      return prop('0', this.getError)
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.promo {
  background: #fff;
  padding: (4 * $base) (3 * $base);
  border: 4px solid $blue;

  @media (min-width: 1440px) {
    padding: (6 * $base) (6 * $base);
  }
}

.promo__error {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.promo__header {
  margin-bottom: 2 * $base;
}

.promo__description {
  margin: 0;
}

.promo__item {
  margin-bottom: 4 * $base;

  @media (min-width: $desktopHD) {
    margin-bottom: 6 * $base;
  }
}

.promo-top {
  display: flex;

  &__left {
    min-width: 30px;
    position: relative;

    @media (min-width: $desktopHD) {
      min-width: 40px;
      @include text(4);
    }
  }

  &__icon {
    color: $blue;
    @include text(3);
    position: absolute;
    left: -10px;

    @media (min-width: $desktopHD) {
      @include text(4);
    }

    @media (min-width: 1440px) {
      left: -20px;
    }
  }
}
</style>
