<template>
  <p v-if="getPlanId" class="info-promo">
    {{ infoText }}
  </p>
</template>

<script>
export default {
  data() {
    return {
      offer: {},
    }
  },
  computed: {
    promoData() {
      return this.$store.getters['promo/DATA']
    },
    getPlanId() {
      return this.promoData.plan
    },
    getPlans() {
      return this.$store.getters['promo/PROMO_OFFERS'].filter(
        item => item.id === this.getPlanId,
      )
    },
    getDate() {
      return this.promoData.start_dt
    },
    infoRu() {
      return `За ${this.getDaysFormat(
        this.getPlans[0].duration,
      )} с ${this.$moment(this.getDate).format('DD.MM.YYYY')} ваше
    событие увидит примерно ${this.getPlans[0].audience ||
      0} человек в радиусе ${this.getPlans[0].area / 1000 ||
        0} от места проведения`
    },
    infoEn() {
      return `Starting from ${this.$moment(this.getDate).format('DD.MM.YYYY')}
      your event will be seen by at least ${this.getPlans[0].audience || 0}
      people within a ${this.getPlans[0].area / 1000 ||
        0} km radius around the event location`
    },
    infoText() {
      return this.$i18n.locale === 'ru' ? this.infoRu : this.infoEn
    },
  },
  methods: {
    getDaysFormat(duration) {
      let dec
      let n = this.$moment(duration, 'DD:HH:mm').format('D')
      return (
        n +
        ' ' +
        (((dec = n % 100) >= 11 && dec <= 19) ||
        (dec = n % 10) >= 5 ||
        dec === 0
          ? this.$t('promo.days')
          : dec === 1
          ? this.$t('promo.day')
          : this.$t('promo.day'))
      )
    },
  },
}
</script>

<style lang="scss" scoped>
.info-promo {
  margin: 0;
}
</style>
