<template>
  <section v-if="!getOpen" class="promo-mail">
    <div class="promo-mail__mail">
      <span class="title">{{ $t('common.mail.enterYourEmail') }}</span>
      <input
        :value="mail"
        class="promo-mail__mail-input"
        type="email"
        :placeholder="$t('common.mail.email')"
        @input="getMail"
      />
      <span v-show="getError" class="error">{{ getErrorText() }}</span>
    </div>
    <div class="promo-mail__auth">
      <span class="title">{{ $t('common.mail.orLogIn') }}</span>
      <Button noArrow @click="openAuth">{{ $t('common.mail.logIn') }}</Button>
    </div>
  </section>
</template>

<script>
import { prop } from 'ramda'

export default {
  components: {
    Button: () => import('../../common/buttons/Button'),
  },
  data() {
    return {
      mail: '',
    }
  },
  computed: {
    getError() {
      return this.$store.getters['promo/PROMO_ERRORS'].email
    },
    getOpen() {
      return this.$store.getters.IS_AUTH
    },
  },
  methods: {
    async getMail(e) {
      this.mail = await e.target.value
      this.$store.dispatch('promo/SET_EMAIL', this.mail)
    },
    openAuth() {
      this.$store.dispatch('popovers/TOGGLE_POPOVER', 'popover_auth')
    },
    getErrorText() {
      return prop('0', this.getError) ? this.getError[0] : null
    },
  },
}
</script>

<style lang="scss">
@import '~/assets/css/variables.scss';

.promo-mail {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top: 4px solid #0070ff;
  margin-top: 4 * $base;

  @media (min-width: $desktopHD) {
    margin-top: 6 * $base;
  }

  .title {
    display: inline-block;
    margin-bottom: $base;
    @include text(2);
  }

  .error {
    display: inline-block;
    color: red;
    margin-top: 0.5 * $base;
  }

  &__mail {
    display: flex;
    flex-direction: column;
    width: 48%;
    margin-top: 50px;

    margin-top: 4 * $base;

    @media (min-width: $desktopHD) {
      margin-top: 6 * $base;
    }

    @media (max-width: 1490px) {
      width: 100%;
    }

    &-input {
      box-shadow: 0 0 0 1px black;
      @include text(3);
      padding: 17px 21px;
      @media (max-width: 380px) {
        @include text(2.25);
      }
    }
  }
  &__auth {
    display: flex;
    flex-direction: column;
    width: 48%;
    margin-top: 4 * $base;

    @media (min-width: $desktopHD) {
      margin-top: 6 * $base;
    }

    @media (max-width: 1490px) {
      width: 100%;
    }
  }
}
</style>
