<template>
  <div class="offer">
    <Loader v-show="loader" />
    <div v-for="offer in offers" :key="offer.id">
      <label class="promo-option">
        <input
          ref="input"
          class="promo-option__input"
          type="radio"
          name="promo-option"
          checked
          @change="addToStore(offer.id)"
        />
        <div class="promo-option__active-highlight"></div>
        <div class="promo-option__section">
          <div
            class="promo-option__section-name promo-option__section-name_target"
          >
            {{ $t('promo.ta') }}
          </div>
          <div class="promo-option__section-value">
            ~ {{ offer.audience }} {{ $t('promo.people') }}
          </div>
        </div>
        <div class="promo-option__section">
          <div
            class="promo-option__section-name promo-option__section-name_area"
          >
            {{ $t('promo.place') }}
          </div>
          <div class="promo-option__section-value">
            {{ offer.area / 1000 }} {{ $t('promo.km') }}
          </div>
        </div>
        <div class="promo-option__section">
          <div
            class="promo-option__section-name promo-option__section-name_period"
          >
            {{ $t('promo.dur') }}
          </div>
          <div class="promo-option__section-value">
            {{ getDaysFormat(offer.duration) }}
          </div>
        </div>
        <div class="promo-option__section">
          <div class="fake"></div>
          <div class="promo-option__section-value">
            {{ offer.price ? getPrice(offer) : $t('promo.free') }}
          </div>
        </div>
      </label>
    </div>
  </div>
</template>

<script>
import { path } from 'ramda'

export default {
  components: {
    Loader: () => import('~/components/common/Loader'),
  },
  data() {
    return {
      offers: [],
      loader: false,
    }
  },
  created() {
    this.loadOffers()
  },
  methods: {
    getPrice(offer) {
      const price = path(['price'], offer)
      const symbol = path(['rule', 'currency_symbol'], offer)
      if (symbol === '$') {
        return `${symbol}${price}`
      } else {
        return `${price} ${symbol}`
      }
    },
    async loadOffers() {
      this.loader = true
      this.offers = await this.$store.dispatch('promo/GET_OFFER')
      this.loader = false
    },
    addToStore(id) {
      this.$store.dispatch('promo/SET_OFFER', id)
    },
    getDaysFormat(duration) {
      let dec
      let n = this.$moment(duration, 'DD:HH:mm').format('D')
      return (
        n +
        ' ' +
        (((dec = n % 100) >= 11 && dec <= 19) ||
        (dec = n % 10) >= 5 ||
        dec === 0
          ? this.$t('promo.days')
          : dec === 1
          ? this.$t('promo.day')
          : this.$t('promo.day'))
      )
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.fake {
  @media (max-width: 420px) {
    width: 135px;
  }
}

.promo-option {
  background-color: $gray;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2 * $base 5 * $base;
  position: relative;
  margin-bottom: 10px;

  @media (min-width: 1600px) {
    flex-wrap: nowrap;
  }

  @media (max-width: 1370px) {
    padding: 1 * $base 2 * $base;
  }

  &:hover {
    box-shadow: 0 0 0 2px $blue;
  }

  &:not(:last-child) {
    margin-bottom: $base;
  }

  &__input {
    height: 100%;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;

    &:checked {
      & ~ .promo-option__section {
        color: white;
      }

      & ~ .promo-option__active-highlight {
        display: block;
      }
    }
  }

  &__active-highlight {
    content: '';
    background-color: $blue;
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &__section {
    display: flex;
    flex-direction: column;

    justify-content: flex-end;
    margin-bottom: 3 * $base;

    @media (max-width: 1400px) {
      @include text(1.75);
    }
    @media (max-width: 1460px) {
      @include text(2);
    }
    @media (max-width: 1370px) {
      margin-bottom: 1 * $base;
    }
    @media (max-width: 1320px) {
      @include text(1.5);
      margin-bottom: 1 * $base;
    }
  }

  &__section-name {
    white-space: nowrap;
    z-index: 1;

    &::before {
      @include ww-icn;
      display: inline-block;
      margin-right: 1.25 * $base;
      opacity: 0.3;
    }

    &_target::before {
      content: 'w';
    }

    &_area::before {
      content: 'r';
    }

    &_period::before {
      content: 'f';
    }

    &_stroked {
      opacity: 0.4;
      text-decoration: line-through;
    }
  }

  &__section-value {
    @include text(3);
    font-weight: bold;
    z-index: 1;
    @media (max-width: 1460px) {
      @include text(2);
    }
    @media (max-width: 1400px) {
      @include text(1.75);
    }
    @media (max-width: 1320px) {
      @include text(1.5);
    }
  }
}
</style>
