<template>
  <div class="couple-pictures">
    <template v-if="variant === 'restaurant'">
      <picture class="picture">
        <source
          srcset="
            ~static/business/landings/restaurant-1.webp    1x,
            ~static/business/landings/restaurant-1@2x.webp 2x,
            ~static/business/landings/restaurant-1@3x.webp 3x
          "
          type="image/webp"
        />
        <source
          srcset="
            ~static/business/landings/restaurant-1.jpg    1x,
            ~static/business/landings/restaurant-1@2x.jpg 2x,
            ~static/business/landings/restaurant-1@3x.jpg 3x
          "
          type="image/jpg"
        />
        <img src="~static/business/landings/restaurant-1.jpg" />
      </picture>
      <picture class="picture">
        <source
          srcset="
            ~static/business/landings/restaurant-2.webp    1x,
            ~static/business/landings/restaurant-2@2x.webp 2x,
            ~static/business/landings/restaurant-2@3x.webp 3x
          "
          type="image/webp"
        />
        <source
          srcset="
            ~static/business/landings/restaurant-2.jpg    1x,
            ~static/business/landings/restaurant-2@2x.jpg 2x,
            ~static/business/landings/restaurant-2@3x.jpg 3x
          "
          type="image/jpg"
        />
        <img src="~static/business/landings/restaurant-2.jpg" />
      </picture>
    </template>
    <template v-else-if="variant === 'concert'">
      <picture class="picture">
        <source
          srcset="
            ~static/business/landings/concert-1.webp    1x,
            ~static/business/landings/concert-1@2x.webp 2x,
            ~static/business/landings/concert-1@3x.webp 3x
          "
          type="image/webp"
        />
        <source
          srcset="
            ~static/business/landings/concert-1.jpg    1x,
            ~static/business/landings/concert-1@2x.jpg 2x,
            ~static/business/landings/concert-1@3x.jpg 3x
          "
          type="image/jpg"
        />
        <img src="~static/business/landings/concert-1.jpg" />
      </picture>
      <picture class="picture">
        <source
          srcset="
            ~static/business/landings/concert-2.webp    1x,
            ~static/business/landings/concert-2@2x.webp 2x,
            ~static/business/landings/concert-2@3x.webp 3x
          "
          type="image/webp"
        />
        <source
          srcset="
            ~static/business/landings/concert-2.jpg    1x,
            ~static/business/landings/concert-2@2x.jpg 2x,
            ~static/business/landings/concert-2@3x.jpg 3x
          "
          type="image/jpg"
        />
        <img src="~static/business/landings/concert-2.jpg" />
      </picture>
    </template>
  </div>
</template>

<script>
export default {
  props: {
    variant: {
      type: String,
      required: true,
      validate: variant => ['restaurant', 'concert'].includes(variant),
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.couple-pictures {
  display: flex;
  height: 100%;
  overflow: hidden;

  .picture {
    display: block;
    height: 100%;

    img {
      display: block;
      height: 100%;
    }

    + .picture {
      margin-left: $base * 3;

      @media (max-width: $desktopSD) {
        margin-left: $base * 2;
      }
      @media ($mobile) {
        margin-left: $base;
      }
    }
  }
}
</style>
