<template>
  <picture class="events-cards-picture">
    <source
      srcset="
        ~static/business/landings/events-cards.webp    1x,
        ~static/business/landings/events-cards@2x.webp 2x,
        ~static/business/landings/events-cards@3x.webp 3x
      "
      type="image/webp"
    />
    <source
      srcset="
        ~static/business/landings/events-cards.png    1x,
        ~static/business/landings/events-cards@2x.png 2x,
        ~static/business/landings/events-cards@3x.png 3x
      "
      type="image/png"
    />
    <img :alt="alt" src="~static/business/landings/events-cards.png" />
  </picture>
</template>

<script>
export default {
  props: {
    alt: String,
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.events-cards-picture {
  display: block;
  width: 866px;
  max-width: 100%;
  max-height: 100%;

  img {
    display: block;
    width: auto;
    height: 100%;
  }
}
</style>
