<template>
  <picture class="iphone-ipad-picture">
    <source
      srcset="
        ~static/business/landings/iphone-ipad-events.webp    1x,
        ~static/business/landings/iphone-ipad-events@2x.webp 2x,
        ~static/business/landings/iphone-ipad-events@3x.webp 3x
      "
      type="image/webp"
    />
    <source
      srcset="
        ~static/business/landings/iphone-ipad-events.png    1x,
        ~static/business/landings/iphone-ipad-events@2x.png 2x,
        ~static/business/landings/iphone-ipad-events@3x.png 3x
      "
      type="image/png"
    />
    <img :alt="alt" src="~static/business/landings/iphone-ipad-events.png" />
  </picture>
</template>

<script>
export default {
  props: {
    alt: String,
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.iphone-ipad-picture {
  display: block;
  width: 640px;

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}
</style>
