<i18n>
{
  "ru": {
    "items": [
      "Post your events on our website for free",
      "Launch advertising for your event in just one click! We will do all the work.",
      "Get a personal manager and a detailed report on the promo campaign results"
    ]
  },
  "en": {
    "items": [
      "Post your events on our website for free",
      "Launch advertising for your event in just one click! We will do all the work.",
      "Get a personal manager and a detailed report on the promo campaign results"
    ]
  }
}
</i18n>

<template>
  <div class="promotion">
    <div class="list">
      <div v-for="(text, _, idx) in $t('items')" :key="idx + text" class="item">
        <div class="item__icon">
          <i v-if="idx === 0" class="icon ww-icn-megaphone" />
          <Icon v-else-if="idx === 1" class="icon -svg" src="icons/like.svg" />
          <Icon
            v-else-if="idx === 2"
            class="icon -svg"
            src="icons/writing.svg"
          />
        </div>
        <div class="item__content" v-text="text" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  components: {
    Icon: () => import('~/components/common/Icon'),
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.promotion {
  $space-between: $base * 1.5;

  .list {
    display: flex;
    margin-left: -$space-between;
  }
  .item {
    padding-left: $space-between;
    display: flex;
    flex: 0 1 ($base * 43.5);

    &:first-child {
      margin-right: auto;
    }
    &:last-child {
      margin-left: auto;
    }
    &:not(:first-child):not(:last-child) {
      margin-left: auto;
      margin-right: auto;
    }

    &__icon {
      $size: $base * 5;
      width: $size;

      .icon {
        color: $blue;
        width: $size;
        height: $size;
        font-size: $size;
        line-height: 1;

        &.-svg {
        }
      }
    }
    &__content {
      flex: 1;
      font-weight: bold;
      margin-left: $base * 2.5;
    }
  }

  @media (max-width: $desktopHD) {
    .item {
      flex: 0 1 ($base * 33.5);

      &__content {
        font-size: $base * 1.75;
        line-height: $base * 2.25;
      }
    }
  }

  @media (max-width: $desktopSD) {
    .item {
      flex: 0 1 ($base * 22);
      flex-direction: column;

      &__icon {
        width: auto;
        text-align: center;
        margin-bottom: $base;
      }
      &__content {
        text-align: center;
        margin-left: 0;
      }
    }
  }

  @media ($mobile) {
    .list {
      flex-direction: column;
      margin-left: 0;
    }
    .item {
      flex: 0;
      padding-left: 0;
      margin-top: $base * 3.75;

      &:first-child,
      &:last-child {
        margin-left: 0;
        margin-right: 0;
      }

      &__icon {
        margin-bottom: $base * 0.75;
      }
      &__content {
        @include text(2);
      }
    }
  }
}
</style>
