<i18n>
{
  "ru": {
    "title": "Your target audience is here!",
    "description": "We help event organizers from all over the world to effortlessly reach their target audience and attract the maximum number of attendees to their events.",
    "searchTitle": "Find and promote your event:"
  },
  "en": {
    "title": "Your target audience is here!",
    "description": "We help event organizers from all over the world to effortlessly reach their target audience and attract the maximum number of attendees to their events.",
    "searchTitle": "Find and promote your event:"
  }
}
</i18n>

<template>
  <div class="search-block">
    <div class="layout">
      <div class="layout__content">
        <div class="content">
          <h1 class="title" v-text="$t('title')" />
          <p class="description" v-text="$t('description')" />

          <h2 class="search-title" v-text="$t('searchTitle')" />
        </div>
      </div>
      <div class="layout__image">
        <IphoneIpadPicture class="image" />
      </div>
    </div>

    <div class="search">
      <SearchBar
        :search.sync="search"
        :city.sync="city"
        :period.sync="period"
        :dates.sync="dates"
        class="search-bar"
        @search="$router.push({ name: 'search', query: $event })"
      />
    </div>
    <Promotion class="promotion" />
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  components: {
    SearchBar: () => import('~/components/common/SearchBar'),
    IphoneIpadPicture: () =>
      import('~/components/business/landings/IphoneIpadPicture'),
    Promotion: () => import('~/components/business/landings/Promotion'),
  },
  data: () => ({
    search: '',
    city: {},
    period: '',
    dates: [],
  }),
  computed: {
    ...mapGetters('city', ['GET_CITY']),
  },
  watch: {
    GET_CITY: {
      immediate: true,
      handler() {
        this.city = this.GET_CITY
      },
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.search-block {
  padding-top: 69px;

  .layout {
    display: flex;

    &__image {
      position: relative;

      .image {
        position: absolute;
        z-index: -1;
        margin-top: -69px;
      }
    }
    &__content {
      flex: 0 0 514px;
      margin-right: 110px;
    }
  }

  .content {
    .title {
      @include text(5);
      font-weight: bold;
      margin-bottom: 35px;
    }
    .description {
      margin: 0;
    }
    .search-title {
      @include text(3);
      font-weight: bold;
      margin-top: 74px;
    }
  }

  .search {
    margin: 14px -10px 0 -50px;
  }

  .promotion {
    margin-top: 68px;
  }

  @media (max-width: $sideShow) {
    .layout {
      &__image {
        .image {
        }
      }
      &__content {
        flex-basis: 520px;
        margin-right: 0;
      }
    }

    .content {
      .title {
      }
      .description {
      }
      .search-title {
        margin-top: 82px;
      }
    }

    .search {
      margin: 14px 13px 0 0;
    }

    .promotion {
      margin-top: 70px;
    }
  }
  @media (max-width: $desktopHD) {
    .layout {
      &__image {
        .image {
          width: 560px;
          margin-top: -30px;
        }
      }
      &__content {
        flex-basis: 496px;
      }
    }

    .content {
      .title {
      }
      .description {
      }
      .search-title {
        margin-top: 57px;
      }
    }

    .search {
      max-width: 736px;
    }

    .promotion {
      margin-top: 81px;
    }
  }
  @media (max-width: $desktopSD) {
    padding-top: 0;
    margin-left: -$base * 8;
    margin-right: -$base * 8;

    .layout {
      flex-direction: column;

      &__image {
        flex: 0;
        order: 1;
        position: static;

        .image {
          position: static;
          max-width: 572px;
          margin: 0 auto;
          width: auto;
        }
      }
      &__content {
        flex: 0;
        order: 2;
        margin-right: 0;
        margin-top: 43px;
      }
    }

    .content {
      .title {
        @include text(4);
        margin-bottom: 37px;
      }
      .description {
        max-width: 502px;
      }
      .search-title {
        margin-top: 42px;
      }
    }

    .search {
      margin: 13px -65px 0 -63px;
      margin: 13px 0 0 0;
    }

    .promotion {
      margin-top: 61px;
    }
  }
  @media ($mobile) {
    margin-left: 0;
    margin-right: 0;

    .layout {
      &__image {
        .image {
          margin-left: 4px;
          margin-right: 4px;
        }
      }
      &__content {
        margin-top: 79px;
      }
    }

    .content {
      .title {
        @include text(3);
      }
      .description {
      }
      .search-title {
        @include text(2);
        margin-top: 16px;
      }
    }

    .search {
      margin: 27px 0 0;
    }

    .promotion {
      margin-top: 8px;
    }
  }
}
</style>
