<template>
  <nuxt-link
    :to="to"
    v-bind="attrs"
    class="event-card-stub"
    :class="{ 'event-card-stub--v2': version === '2' }"
  >
    <div class="event-card-stub__inner">
      <slot />
    </div>
  </nuxt-link>
</template>

<script>
export default {
  name: 'EventCardStub',

  props: {
    isExternal: Boolean,
    to: {
      type: [Object, String],
      required: true,
    },
    version: String,
  },

  computed: {
    attrs() {
      return {
        ...(this.isExternal && { target: '_blank' }),
      }
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.event-card-stub {
  display: inline-block;
  width: 168px;
  min-height: 241px;
  background: $blue;
  background-image: url('~static/imgs/default-for-event.svg');
  background-size: cover;
  @include text(2);
  color: #fff;
  text-align: center;
  cursor: pointer;

  @media (min-width: 768px) {
    width: 296px;
    min-height: 416px;
    @include text(3);
  }

  &__inner {
    margin-top: 144px;

    @media (min-width: 768px) {
      margin-top: 240px;
    }
  }

  &:hover,
  &:focus {
    @media (min-width: $desktopHD) {
      background-color: #fff !important;
      box-shadow: 0 0 0 12px white, 0 0 0 16px $blue;
    }
  }

  &--v2 {
    width: 240px;
    min-height: 320px;

    .event-card-stub__inner {
      margin-top: 160px;
      padding: 16px;
    }
  }
}
</style>
