<template>
  <div class="place">
    <WLink
      class="place__title"
      :href="`/places/${institution.url_id}/`"
      target="_blank"
    >
      {{ institution.title }}
    </WLink>
    <div class="place__item">
      <div v-if="institution.address" class="place__address">
        {{ institution.address }}
      </div>
      <WLink
        v-for="(link, index) in institution.links"
        :key="index"
        :href="link"
        class="place__link"
        target="_blank"
      >
        {{ link }}
      </WLink>
    </div>
    <div class="place__item">
      <div class="place__phones">
        <a
          v-for="(phone, index) in institution.phones"
          :key="index"
          :href="`tel:${phone}`"
          class="place__phone"
        >
          {{ phone }}
        </a>
      </div>
      <WLink
        v-for="(email, index) in institution.emails"
        :key="index"
        :href="`mailto:${email}`"
        class="place__link"
      >
        {{ email }}
      </WLink>
    </div>
  </div>
</template>

<script>
export default {
  components: {
    WLink: () => import('~/components/common/WLink'),
  },
  props: {
    institution: Object,
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.place {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  &__link {
    display: block;
  }
  &__phone {
    display: inline-block;
    margin-right: 8px;
    &:not(:last-child):after {
      content: ',';
    }
  }
  &__title {
    font-weight: bold;
    display: block;
    width: fit-content;
  }

  &__item {
    display: block;
    margin-right: 0;
    margin-top: 8px;
    @media (min-width: $desktopHD) {
      display: inline-block;
      > * {
        margin-right: 45px;
      }
    }
  }
}
</style>
