<template>
  <div>
    <span v-if="!hideLabel" class="label">{{ $t('eventCreate.ta') }}</span>
    <div class="filter filter_tight">
      <div class="filter__item">
        <input
          :value="2"
          class="filter__input"
          type="radio"
          name="genderInput"
          :checked="values === 2"
          @change="changeGender"
        />
        <div class="filter__caption">
          <div class="filter__icon gender-mixed" v-html="svg"></div>
          <span class="filter__title">{{ $t('eventCreate.mixed') }}</span>
        </div>
      </div>
      <div class="filter__item">
        <input
          :value="1"
          class="filter__input"
          type="radio"
          name="genderInput"
          :checked="values === 1"
          @change="changeGender"
        />
        <div class="filter__caption">
          <i class="filter__icon ww-icn-female-sign"></i>
          <span class="filter__title">{{ $t('eventCreate.women') }}</span>
        </div>
      </div>
      <div class="filter__item">
        <input
          :value="0"
          class="filter__input"
          type="radio"
          name="genderInput"
          :checked="values === 0"
          @change="changeGender"
        />
        <div class="filter__caption">
          <i class="filter__icon ww-icn-male-sign"></i>
          <span class="filter__title">{{ $t('eventCreate.men') }}</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { isNil } from 'ramda'
import { genderMixed } from '~/utils/svgs'

export default {
  name: 'GenderToggle',

  props: {
    action: {
      type: [String, Boolean],
      default: '',
    },
    getter: {
      type: [String, Boolean],
      default: '',
    },
    genderValue: [Number, Array],
    hideLabel: Boolean
  },
  data: () => ({
    svg: genderMixed,
    values: 2,
  }),
  computed: {
    gender() {
      if (!this.getter) {
        return this.genderValue
      } else {
        return this.$store.getters[this.getter]
      }
    },
  },
  mounted() {
    this.values = this.initVal()
  },
  methods: {
    changeGender(ev) {
      let e = Number(ev.target.value)
      this.values = e
      this.$emit('gender:select', e)
      if (this.action) {
        this.$store.dispatch(this.action, e)
      }
    },
    initVal() {
      return isNil(this.gender) ? 2 : this.gender
    },
  },
}
</script>

<style lang="scss">
@import '~/assets/css/variables.scss';
.gender-mixed {
  max-width: 20px;
  max-height: 20px;
  top: 0 !important;
  svg {
    stroke: $blue;
    width: 20px;
    height: 20px;
  }
  &:hover {
    svg {
      stroke: #fff;
    }
  }
}
.filter__input:checked + .filter__caption {
  .gender-mixed {
    svg {
      stroke: #fff;
    }
  }
}
</style>
<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.label {
  @include text(2);
  margin-bottom: 2 * $base;
}

.filter {
  $item-h-padding: 2.25 * $base;

  @mixin active-caption {
    color: white;

    &::before {
      background-color: $blue;
    }
  }

  display: flex;
  flex-wrap: wrap;

  &_tight {
    margin: 0;

    .filter__item {
      margin-bottom: 1px;

      &:not(:last-child) {
        margin-right: 1px;
      }
    }

    .filter__caption::before {
      background-color: #f0f3f6;
    }
  }

  &__item {
    display: inline-block;
    position: relative;
    white-space: nowrap;

    &:hover,
    &:focus {
      .filter__caption {
        color: $blue;
      }
    }
  }

  &__input {
    cursor: pointer;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;

    &:checked + .filter__caption {
      @include active-caption;

      .filter__icon {
        color: white;
      }
    }
  }

  &__caption {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    @include text(1.5);
    font-weight: bold;
    letter-spacing: 0.6px;
    line-height: 3 * $base;
    position: relative;
    text-transform: uppercase;
    user-select: none;
    text-align: center;
    height: 100%;
    max-height: 40px;

    &::before {
      content: '';
      bottom: 0;
      left: 0;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 0;
      max-height: 40px;
    }

    &_active {
      @include active-caption;
      pointer-events: none;
    }
  }

  &__icon {
    color: $blue;
    margin-right: 1.25 * $base;
    position: relative;
    top: 4px;
  }

  &__title {
    position: relative;
  }
}
</style>
