<i18n>
{
  "ru": {
    "pick_time": "Время"
  },
  "en": {
    "pick_time": "Pick time"
  },
  "es": {
    "pick_time": "Pick tiempo"
  }
}
</i18n>
<template>
  <div class="ww__timepicker">
    <Timepicker
      :value="value ? value : null"
      :militaryTime="lang === 'ru'"
      pickerContainerClass="ww__tp-container"
      :inputClass="['ww__tp-input', errClass]"
      inputContainerClass="ww__tp-input-container"
      :placeholder="placeholder || $t('pick_time')"
      :inline="inline"
      v-bind="$attrs"
      v-on="$listeners"
      @input="$emit('input', $event)"
      @time:changed="$emit('time:changed', $event)"
    />
  </div>
</template>

<script>
import { Timepicker } from 'ww-datetimepicker'

export default {
  components: { Timepicker },
  props: {
    value: [Date, Number],
    inline: Boolean,
    error: Boolean,
    placeholder: {
      type: String,
    }
  },
  computed: {
    lang() {
      return this.$i18n.locale
    },
    errClass() {
      return this.error ? 'error' : ''
    },
  },
}
</script>

<style lang="scss">
@import '~/assets/css/variables.scss';
.ww__tp-input-container {
  max-width: 200px;
}
.ww__tp-input {
  // border: none;
  font-size: 24px;
  padding: 24px;
  position: relative;
  &:focus {
    box-shadow: none;
  }
  &.error {
    box-shadow: 0 0 0 2px #f50052;
  }
}
.ww__tp-container {
  top: -60%;
  box-sizing: border-box;
  background-color: #fff;
  width: 100%;
  max-width: 420px;
  font-size: 30px;
  height: 180px;
  @media screen and (min-width: 426px) {
    font-size: 24px;
    border: 2px solid $blue;
  }
}
</style>
