<template>
  <div class="accordion_panel">
    <button
      class="accordion_panel__title"
      :class="{ 'accordion_panel__title--is-open': isOpen }"
      @click="isOpen = !isOpen"
      v-text="title"
    />
    <transition name="fade">
      <div v-if="isOpen" class="accordion_panel__main">
        <slot></slot>
      </div>
    </transition>
  </div>
</template>
<script>
  export default {
    props: {
      title: String
    },
    data: () => ({
      isOpen: false,
    }),
  }
</script>
<style lang="scss" scoped>
  @import '~/assets/css/variables.scss';

  .accordion_panel {
    &__title {
      @include text(4);
      font-weight: bold;
      display: inline-block;
      cursor: pointer;
      padding: 0;
      text-align: left;
      @media (max-width: $desktopSD) {
        @include text(3);
      }

      &::after {
        @include ww-icn;
        content: '\61';
        margin-left: 20px;
        margin-right: 6px;
        font-size: 12px;
        font-weight: bold !important;
        display: inline-block;
        transition: transform 0.3s ease-in-out;
      }

      &--is-open {
        &::after {
          transform: rotate(180deg);
        }
      }
    }

    &__main {
      margin-top: 16px;
      padding: 0 12px 24px;
      background: #fff;

      @media (min-width: 768px) {
        padding: 16px 24px 24px;
      }
    }

    .fade-enter-active,
    .fade-leave-active {
      transition: opacity 0.3s;
    }

    .fade-enter,
    .fade-leave-to {
      opacity: 0;
    }
  }
</style>
