<template>
  <div class="create-journal" @click="forwarding">
    <strong class="create-journal__plus">+</strong>
    <strong class="create-journal__title hidden-mobile-only">
      {{ $t('mainpage.createBlog') }}
    </strong>
  </div>
</template>

<script>
import popConsts from '~/utils/popoverConsts.js'

export default {
  computed: {
    getAuth() {
      return this.$store.getters['auth/IS_AUTH']
    },
  },
  methods: {
    forwarding() {
      if (!this.getAuth) {
        this.openAuthPopover()
      } else {
        this.$router.push('/journal/create/')
      }
    },
    openAuthPopover() {
      this.$store.dispatch('popovers/TOGGLE_POPOVER', popConsts.auth)
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.create-journal {
  cursor: pointer;
  color: $blue;
  padding-top: 8px;
  @include text(2);

  &__title {
    text-transform: uppercase;
    @include text(1.5);
    line-height: 2;
    letter-spacing: 0.6px;
    &:hover {
      text-decoration: underline;
    }
    &:before {
      @include text(1.5);
    }
  }

  &__plus {
    margin: 8px;
    font-size: 20px;
  }
}
</style>
