<template>
  <section class="journals">
    <h2 class="journals__header">
      {{ $t('mainpage.journals') }}
      <CreateJournal class="journals__create-new" />
    </h2>
    <div class="journals__grid">
      <JournalsCard
        v-for="(journal, index) in journals"
        :key="index"
        :journal="journal"
      />
    </div>
    <nuxtLink :to="{ path: '/events/collections/', query }">
      <Button :count="count" class="journals__button">
        {{ $t('mainpage.allJournals') }}
      </Button>
    </nuxtLink>
  </section>
</template>

<script>
export default {
  components: {
    Button: () => import('~/components/common/buttons/Button'),
    CreateJournal: () => import('./CreateJournal'),
    JournalsCard: () => import('~/components/common/JournalCard'),
  },
  props: {
    journals: Array,
    count: 0,
    query: {
      type: Object,
      default: () => ({}),
    },
  },
}
</script>

<style lang="scss">
@import '~/assets/css/variables.scss';

.journals {
  &__header {
    font-weight: bold;
    margin-bottom: 12px;
    @include text(3);
    @media (min-width: $desktopSD) {
      margin-bottom: 16px;
      @include text(4);
    }
  }
  &__create-new {
    float: right;
  }

  &__grid {
    display: grid;
    grid-gap: 3 * $base;

    @media (max-width: $desktopSD - 1) {
      > *:last-child {
        display: none !important;
      }
    }
    @media (min-width: $desktopSD) {
      grid-gap: 2 * $base;
      grid-auto-flow: column;
      overflow-x: auto;
      padding-bottom: 8px;
    }
    @media (min-width: $sideShow) {
      grid-template-columns: repeat(3, 336px);
      justify-content: space-between;
    }
    @media (min-width: $desktopHDp) {
      grid-template-columns: repeat(3, 408px);
    }
  }

  &__button {
    margin-top: 48px;
    height: 56px;
    @media (max-width: $desktopSD - 1) {
      padding: 12px 12px !important;
    }
    @media (min-width: $desktopSD) {
      height: 72px;
    }
  }
}
</style>
