<i18n>
  {
    "ru":
    {
      "title": "Наш сервис по продвижению позволяет запустить промо-кампанию для любого мероприятия всего за несколько минут",
      "description": "Расскажите нам, кто ваша аудитория – а мы сделаем всю остальную работу:",
      "options":
      [
        "Настроим рекламу так, чтобы ее увидела именно ваша целевая аудитория",
        "Запустим рекламу в выбранных социальных сетях или поисковых системах",
        "Будем отслеживать ход кампании и постоянно ее оптимизировать, что сэкономит ваш бюджет",
        "Подготовим подробный отчет, который поможет повысить эффективность будущих промо-кампаний"
      ]
    },
    "en":
    {
      "title": "Our Promotion Service can launch an online promotion of your event in just a few minutes",
      "description": "Just describe your target audience and we do all the work:",
      "options":
      [
        "Set up your campaign so that only your target audience will see your events",
        "Run ads on selected social media channels and search engines",
        "Keep track of your campaign and optimize it to save money",
        "Prepare a detailed report to increase the effectiveness of your next campaigns"
      ]
    },
    "es":
    {
      "title": "Nuestro Servicio de Promoción puede lanzar una campaña en línea de su evento en solo unos minutos",
      "description": "Solo descríbanos a tu público objetivo y nosotros hacemos todo el trabajo:",
      "options":
      [
        "Configuramos tu campaña para que solo tu público objetivo vea tus eventos",
        "Ejecutamos anuncios en canales de redes sociales seleccionados y motores de búsqueda",
        "Llevamos un registro de tu campaña y la optimizamos para ahorrar dinero",
        "Preparamos un informe detallado para aumentar la efectividad de tus próximas campañas"
      ]
    }
  }
</i18n>

<template>
  <section class="root">
    <div class="grid wrapper">
      <div class="picture">
        <Picture
          :src="`${STATIC_PATH}about/tablet-2/Untitled-1-02`"
          alt="tablet"
          class="picture__tablet"
        />
        <Picture
          :src="`${STATIC_PATH}about/phone-2/Untitled-1-05`"
          alt="phone with instagram"
          class="picture__phone-1"
        />
        <Picture
          :src="`${STATIC_PATH}about/phone-3/Untitled-1-04`"
          alt="phone with instagram"
          class="picture__phone-2"
        />
      </div>
      <div class="width--500">
        <h2 class="title">{{ $t('title') }}</h2>
        <br />
        <p class="description">{{ $t('description') }}</p>
        <ul class="ul">
          <li v-for="(li, index) in $t('options')" :key="index" class="li">
            <Icon src="icons/check.svg" class="icon" /> {{ li }}
          </li>
        </ul>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  components: {
    Icon: () => import('~/components/common/Icon'),
    Picture: () => import('./Picture'),
  },
  created() {
    this.STATIC_PATH = process.env.STATIC_PATH
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.root {
  overflow: hidden;
  padding: 48px 0;
  @media (min-width: $desktopHD) {
    padding: 96px 0;
  }
  .grid {
    display: grid;
    grid-gap: 64px;
    @media (min-width: $desktopHD) {
      grid-template-columns: auto min-content;
      grid-auto-flow: dense;
      align-items: center;
    }
    @media (min-width: $desktopHD) and (max-width: $sideShow) {
      margin-right: -8%;
    }
    @media (min-width: $sideShow) and (max-width: $desktopHDp) {
      margin-right: -5%;
    }

    .picture {
      justify-self: center;
      position: relative;
      width: 320px;
      @media (min-width: $desktopSD) {
        width: 440px;
      }
      @media (min-width: $desktopHD) {
        grid-column: 2;
        width: 593px;
      }

      &__tablet {
        width: 100%;
        height: 100%;
      }
      &__phone-1 {
        position: absolute;
        right: 20%;
        top: 0;
        width: 34%;

        @media (min-width: $desktopSD) {
          transform: translateX(50%);
        }
        @media (min-width: $desktopHD) {
          transform: translateX(-30%);
        }
      }

      &__phone-2 {
        position: absolute;
        right: 0;
        top: 14%;
        width: 34%;

        @media (min-width: $desktopSD) {
          transform: translateX(50%);
        }
        @media (min-width: $desktopHD) {
          transform: translateX(-30%);
        }
      }
    }

    .width--500 {
      @media (min-width: $desktopHD) {
        max-width: 500px;
      }
    }
    .title {
      grid-area: title;
      @media (min-width: $desktopSD) {
        @include text(4);
      }
      @media (min-width: $desktopSD) {
        @include text(5);
      }
    }

    .description {
      @include text(3);
    }

    .icon {
      height: 12px;
      width: 12px;
      color: $blue;
      margin-left: -24px;
      margin-right: 8px;
    }

    .ul {
      padding-left: 24px;
      @media (min-width: $desktopSD) {
        margin-left: -24px;
      }
    }
    .li + .li {
      margin-top: 16px;
    }
  }
}
</style>
