<i18n>
  {
    "ru":
    {
      "breadcrumbs":
      {
        "main": "Главная",
        "breadAbout": "О проекте"
      },
      "countEvents": "событий в нашей базе",
      "title": "WhatWhere.World – это огромная коллекция самых интересных событий по всему миру.",
      "description": "Мы агрегируем события из множества разных источников и показываем их вам в удобной форме. Наш проект помогает узнавать о том, что происходит в месте где вы находитесь, или куда хотите приехать – концерты, выставки, семинары, бизнес-тренинги и многое другое.",
      "button": "Найти события рядом"
    },
    "en":
    {
      "breadcrumbs":
      {
        "main": "Main",
        "breadAbout": "About"
      },
      "countEvents": "events in our database",
      "title": "WhatWhere.World is a huge collection of the most interesting events all over the world",
      "description": "We aggregate events from different sources and present them to you in the most convenient way.  Our project helps you be aware of the events nearby or in any other location — concerts, exhibitions, seminars, business trainings and others.",
      "button": "Find events nearby"
    },
    "es":
    {
      "breadcrumbs":
      {
        "main": "Página principal",
        "breadAbout": "Sobre el proyecto"
      },
      "countEvents": "eventos en nuestra base de datos",
      "title": "WhatWhere.World es una gran colección de los eventos más interesantes de todo el mundo.",
      "description": "Agregamos eventos de diferentes fuentes y los presentamos de la manera más conveniente. Nuestro proyecto te ayuda a estar al tanto de los eventos cercanos o en cualquier otro lugar: conciertos, exposiciones, seminarios, capacitaciones comerciales y otros.",
      "button": "Encuentra eventos cercanos"
    }
  }
</i18n>

<template>
  <section class="root">
    <div class="grid wrapper">
      <div class="picture">
        <Picture
          :src="`${STATIC_PATH}about/event-blue/Group-2674`"
          alt="blue image"
          class="event-card event-card--blue"
        />
        <Picture
          :src="`${STATIC_PATH}about/event-red/Group-1292`"
          alt="red image"
          class="event-card event-card--red"
        />
        <div class="count-events">
          <div class="count-events__count">6.000.000+</div>
          <div class="count-events__text">{{ $t('countEvents') }}</div>
        </div>
      </div>
      <BreadCrumbs class="crumbs">
        <BredItem href="/">{{ $t('breadcrumbs.main') }}</BredItem>
        <BredItem href="/about/">{{ $t('breadcrumbs.breadAbout') }}</BredItem>
      </BreadCrumbs>
      <h1 class="title">{{ $t('title') }}</h1>
      <p class="description">{{ $t('description') }}</p>
      <nuxt-link to="/events/" class="button">
        <Button>{{ $t('button') }}</Button>
      </nuxt-link>
    </div>
  </section>
</template>

<script>
export default {
  components: {
    BredItem: () => import('~/components/common/BreadCrumbs/Item'),
    BreadCrumbs: () => import('~/components/common/BreadCrumbs'),
    Button: () => import('~/components/common/buttons/Button'),
    Picture: () => import('./Picture'),
  },
  created() {
    this.STATIC_PATH = process.env.STATIC_PATH
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.root {
  padding: 24px 0 48px;
  @media (min-width: $desktopHD) {
    padding: 48px 0 56px;
  }
  .grid {
    display: grid;
    grid-row-gap: 16px;
    grid-template-areas: 'picture' 'crumbs' 'title' 'description' 'button';
    @media (min-width: $desktopSD) {
      grid-row-gap: 24px;
    }
    @media (min-width: $desktopHD) and (max-width: $sideShow) {
      margin-right: 0;
    }
    @media (min-width: $desktopHD) {
      grid-column-gap: 58px;
      grid-template-areas:
        'crumbs picture'
        'title picture'
        'description picture'
        'button picture';
    }

    .crumbs {
      grid-area: crumbs;
    }

    .picture {
      grid-area: picture;
      justify-self: center;
      position: relative;
      width: 320px;
      height: 340px;
      @media (min-width: $desktopSD) {
        width: 390px;
        height: 400px;
      }
      @media (min-width: $desktopHD) {
        width: 460px;
        height: 480px;
      }
      @media (min-width: $sideShow) {
        width: 510px;
        height: 520px;
      }
      @media (min-width: $desktopHDp) {
        width: 560px;
        height: 574px;
      }

      .event-card {
        width: 58%;
        height: 78%;
      }

      .event-card--red {
        position: absolute;
        left: 0;
        top: 36px;
        box-shadow: 0 0 50px -10px $red;
      }

      .event-card--blue {
        position: absolute;
        right: 0;
        top: 0;
        box-shadow: 0 0 50px -10px $blue;
      }

      .count-events {
        width: 187px;
        height: 62px;
        position: absolute;
        bottom: 0;
        right: 34px;

        background-color: $blue;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @media (min-width: $desktopHD) {
          width: 282px;
          height: 92px;
        }
        @media (min-width: $sideShow) {
          width: 305px;
          height: 99px;
        }

        &__count {
          font-size: 27px;
          font-weight: bold;
          line-height: 1.18;
          @media (min-width: $desktopHD) {
            font-size: 42px;
          }
        }

        &__text {
          font-size: 14px;
          line-height: 1.21;
          @media (min-width: $desktopHD) {
            font-size: 18px;
          }
        }
      }
    }

    .title {
      grid-area: title;
      @include text(4);
      @media (min-width: $desktopSD) {
        @include text(5);
      }
    }

    .description {
      grid-area: description;
      margin: 0;
    }

    .button {
      grid-area: button;
    }
  }
}
</style>
