<i18n>
  {
    "ru":
    {
      "title": "Мы помогаем организаторам напрямую связаться со своей целевой аудиторией и привлечь ее на свои мероприятия.",
      "description": "Мы хотим, чтобы каждый организатор в любом городе имел возможность дотянуться до своей целевой аудитории и обеспечивать sold-out на своих мероприятиях, экономя время и деньги.",
      "withUsYouCan": "С нами вы можете:",
      "options":
      [
        "Анонсировать свои мероприятия на сайте (бесплатно) – создавать страницы для каждого мероприятия",
        "Запускать продвижение своих мероприятий всего в один клик – реклама в социальных сетях и поисковых системах",
        "Вести свой блог на сайте на любую тему и увеличивать, таким образом, свою аудиторию"
      ]
    },
    "en":
    {
      "title": "We help organizers connect with their target audience and bring them to their events",
      "description": "We want to give organizers a tool to reach their target audience and help them sell out their events, saving them time and money.",
      "withUsYouCan": "With us you can:",
      "options":
      [
        "Announce your events — create a free event page",
        "Launch event promotions in just one click — advertising on social media and search engines",
        "Keep your event blog on the website and grow your audience."
      ]
    },
    "es":
    {
      "title": "Ayudamos a los organizadores a conectarse con su público objetivo y llevarlo a sus eventos.",
      "description": "Queremos dar a los organizadores una herramienta para llegar a su público objetivo y ayudarles a vender sus eventos, ahorrándoles tiempo y dinero.",
      "withUsYouCan": "Con nosotros puedes:",
      "options":
      [
        "Anunciar tus eventos - cree una página de eventos gratis",
        "Lanzar promociones de eventos con un solo clic: publicidad en redes sociales y motores de búsqueda",
        "Mantener un blog de eventos en el nuestro sitio web y así aumentar tu audiencia"
      ]
    }
  }
</i18n>

<template>
  <section class="root">
    <div class="grid wrapper">
      <div class="picture">
        <Picture
          :src="`${STATIC_PATH}about/tablet-1/Untitled-1-01`"
          alt="tablet with create event"
          class="picture__tablet"
        />

        <div class="picture__phone">
          <div class="phone">
            <Picture
              :src="`${STATIC_PATH}about/phone-border/Rectangle-1335`"
              alt="phone border"
              class="phone__border"
            />
            <div class="phone__wrapper">
              <Picture
                :src="`${STATIC_PATH}about/event-card-long/Untitled-1-06`"
                alt="event page"
                class="phone__event-page"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="width--500">
        <h2 class="title">{{ $t('title') }}</h2>
        <br />
        <p class="description">{{ $t('description') }}</p>
        <br />
        <p>
          <strong>{{ $t('withUsYouCan') }}</strong>
        </p>
        <ul class="ul">
          <li v-for="(li, index) in $t('options')" :key="index" class="li">
            <Icon src="icons/check.svg" class="icon" /> {{ li }}
          </li>
        </ul>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  components: {
    Icon: () => import('~/components/common/Icon'),
    Picture: () => import('./Picture'),
  },
  created() {
    this.STATIC_PATH = process.env.STATIC_PATH
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.root {
  padding: 24px 0 48px;
  @media (min-width: $desktopHD) {
    padding: 64px 0;
  }
  .grid {
    display: grid;
    grid-row-gap: 24px;
    @media (min-width: $desktopHD) {
      grid-template-columns: min-content auto;
      align-items: center;
      grid-column-gap: 64px;
    }
    @media (min-width: $desktopHD) and (max-width: $desktopHDp) {
      margin-left: -7%;
    }

    .picture {
      justify-self: center;
      position: relative;
      width: 320px;
      @media (min-width: $desktopSD) {
        width: 440px;
      }
      @media (min-width: $desktopHD) {
        width: 593px;
        //margin-left: -26%;
      }

      &__tablet {
        width: 100%;
        height: 100%;
      }
      &__phone {
        position: absolute;
        right: 0;
        top: 0;
        width: 34%;

        @media (min-width: $desktopSD) {
          transform: translateX(50%);
        }
        @media (min-width: $desktopHD) {
          transform: translateX(-30%);
        }

        .phone {
          position: relative;
          &__border {
          }
          &__wrapper {
            overflow-y: scroll;
            width: 86%;
            height: 74%;
            top: 49%;
            position: absolute;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: $gray;
            -ms-overflow-style: none;
            overflow: -moz-scrollbars-none;
            &::-webkit-scrollbar {
              width: 0;
            }
          }
          &__event-page {
            height: auto;
            position: absolute;
            width: 100%;
          }
        }
      }
    }

    .width--500 {
      @media (min-width: $desktopHD) {
        max-width: 500px;
      }
    }
    .title {
      grid-area: title;
      @media (min-width: $desktopSD) {
        @include text(4);
      }
      @media (min-width: $desktopSD) {
        @include text(5);
      }
    }

    .icon {
      height: 12px;
      width: 12px;
      color: $blue;
      margin-left: -24px;
      margin-right: 8px;
    }

    .ul {
      padding-left: 24px;
      @media (min-width: $desktopSD) {
        margin-left: -24px;
      }
    }
    .li + .li {
      margin-top: 16px;
    }
  }
}
</style>
