<template>
  <div class="root">
    <Block1 />
    <Block2 />
    <Block3 />
    <Block4 />
  </div>
</template>

<script>
export default {
  components: {
    Block1: () => import('./Block1'),
    Block2: () => import('./Block2'),
    Block3: () => import('./Block3'),
    Block4: () => import('./Block4'),
  },
}
</script>

<style lang="scss" scoped>
.root section:nth-child(2n + 1) {
  background-color: white;
}
</style>
