<template>
  <picture class="picture">
    <source :srcset="srcsetWebp" type="image/webp" />
    <source :srcset="srcsetPng" type="image/png" />
    <img :src="src1x" :alt="alt" class="img" />
  </picture>
</template>

<script>
export default {
  props: {
    alt: String,
    src: {
      type: String,
      required: true,
    },
  },
  computed: {
    // prettier-ignore
    srcsetWebp() {
      return `${this.src}.webp 768w, ${this.src}@2x.webp 1024w, ${this.src}@3x.webp 1366w,`
    },
    srcsetPng() {
      return `${this.src}.png 768w, ${this.src}@2x.png 1024w, ${this.src}@3x.png 1366w,`
    },
    src1x() {
      return this.src + '@3x.png'
    },
  },
}
</script>

<style scoped>
.picture {
  height: 100%;
  width: 100%;
}
.img {
  height: 100%;
  width: 100%;
}
</style>
