<i18n>
{
  "ru": {
    "tableSeats": "Места за столиками",
    "from": "от",
    "attended": "Пришел",
    "notAttended": "Не пришел"
  },
  "en": {
    "tableSeats": "Seats at the tables",
    "from": "from",
    "attended": "Attended",
    "notAttended": "Didn't attend"
  },
  "es": {
    "tableSeats": "Seats at the tables",
    "from": "from"
  }
}
</i18n>

<template>
  <div class="ryumochanaya">
    <div v-if="hasSchemesWithoutSeats" class="ryumochanaya__ticket-rows">
      <TicketRow
        v-for="scheme in schemesByType.withoutSeats"
        :key="scheme.id"
        :scheme="scheme"
        :form="form"
        @onCounterChange="onCounterChange"
      />
      <TicketRow
        :scheme="withSeatsFakeScheme.scheme"
        :price="withSeatsFakeScheme.price"
      >
        <template #lastColumn>
          <div class="ticket-last-column">
            <Icon src="icons/arrow-down.svg" size="xs" />
          </div>
        </template>
      </TicketRow>
    </div>
    <div class="ryumochanaya__seats">
      <component :is="templateComponent">
        <template #seats>
          <template v-if="isRyumochnayaVip">
            <SeatVip
              v-for="vipSeat in vipSeats"
              :key="vipSeat.key"
              v-bind="vipSeat"
              :seatInfo=" ticketsBySeats ? path([vipSeat.key, 'seat'], ticketsBySeats) : seats[vipSeat.key] "
              :status="path([vipSeat.key, 'status'], ticketsBySeats) || ''"
              :isActive=" seats ?
                IS_SEAT_PURCHASED_BY_ID(
                  seats[vipSeat.key] && seats[vipSeat.key].id,
                ) : false
              "
              @click="selectSeat"
              @mouseover.native="
                setSeatHover(true, $event, seats ? seats[vipSeat.key] : path([vipSeat.key, 'status'], ticketsBySeats))
              "
              @mouseout.native="setSeatHover(false, $event, null)"
            />
          </template>
          <Seat
            v-for="defaultSeat in defaultSeats"
            :key="defaultSeat.key"
            :seat="seats ? seats[defaultSeat.key] : {} "
            :ticket=" ticketsBySeats ? ticketsBySeats[defaultSeat.key] : {}"
            :isActive=" seats ?
              IS_SEAT_PURCHASED_BY_ID(
                seats[defaultSeat.key] && seats[defaultSeat.key].id,
              ) : false
            "
            :cx="defaultSeat.cx"
            :cy="defaultSeat.cy"
            @click="selectSeat"
            @mouseover.native="seats ?
              setSeatHover(true, $event, seats[defaultSeat.key]) : ''
            "
            @mouseout.native="setSeatHover(false, $event, null)"
          />
        </template>
      </component>
    </div>

    <Legend v-if="schemes" class="ryumochanaya__legend" :schemes="schemesByType.withSeats" />

    <transition name="fade">
      <div
        v-if="hasTooltip"
        class="ryumochanaya__tooltip hidden-mobile-only"
        :style="{
          top: tooltip.top,
          left: tooltip.left,
        }"
      >
        {{ tooltip.title }}
      </div>
    </transition>
  </div>
</template>

<script>
import { prop, path } from 'ramda'
import { mapActions, mapGetters } from 'vuex'

import {
  seatsColors,
  seatsSchemeMap,
  seatsSchemes,
  seatsTypes,
} from '~/constants/seats'

import Seat from './Seat'
import Legend from './Legend'
import TicketRow from '~/components/events/tickets/TicketRow'
import Icon from '~/components/common/Icon'
import RyumochnayaTemplate from '~/components/events/seats-schemes/Ryumochnaya/Template'
import RyumochnayaVipTemplate from '~/components/events/seats-schemes/Ryumochnaya/TemplateVip'
import SeatVip from '~/components/events/seats-schemes/Ryumochnaya/SeatVip'

export default {
  name: 'Ryumochnaya',

  components: {
    Seat,
    Legend,
    TicketRow,
    Icon,
    RyumochnayaTemplate,
    RyumochnayaVipTemplate,
    SeatVip,
  },

  props: {
    schemes: {
      type: Array,
      required: false,
    },
    ticketsBySeats: {
      type: Object,
      required: false,
    },
    form: {
      type: Object,
      required: false,
    },
    seatsScheme: {
      type: String,
      default: '',
    },
  },

  data: () => ({
    hasTooltip: false,
    tooltip: {
      top: 0,
      left: 0,
      title: '',
    },
  }),

  computed: {
    ...mapGetters({
      IS_SEAT_PURCHASED_BY_ID: 'tickets/IS_SEAT_PURCHASED_BY_ID',
    }),
    isRyumochnayaVip() {
      return this.seatsScheme === 'ryumochnaya_vip';
    },
    templateComponent() {
      if (this.isRyumochnayaVip) return 'RyumochnayaVipTemplate';
      return 'RyumochnayaTemplate';
    },
    seatsCoords() {
      if (this.isRyumochnayaVip) return seatsSchemeMap[seatsSchemes.ryumochnaya_vip];
      return seatsSchemeMap[seatsSchemes.ryumochnaya];
    },
    defaultSeats() {
      return this.isRyumochnayaVip
        ? this.seatsCoords.defaultSeats
        : this.seatsCoords;
    },
    vipSeats() {
      return this.isRyumochnayaVip
        ? this.seatsCoords.vipTables
        : [];
    },
    hasSchemesWithoutSeats() {
      if(!this.schemes) return
      return this.schemesByType.withoutSeats.length
    },
    schemesByType() {
      if(!this.schemes) return
      return this.schemes.reduce(
        (res, scheme) => {
          if (scheme.seats_type === seatsTypes.withoutSeat) {
            res.withoutSeats.push(scheme)
          } else if (scheme.seats_type === seatsTypes.withSeat) {
            res.withSeats.push(scheme)
          }
          return res
        },
        {
          withoutSeats: [],
          withSeats: [],
        },
      )
    },
    seats() {
      if(!this.schemes) return
      return this.schemesByType.withSeats.reduce((res, scheme, idx) => {
        scheme.seats.forEach(seat => {
          res[seat.key] = {
            ...seat,
            schemeId: scheme.id,
            sessionId: scheme.session.id,
            color: seatsColors[idx],
          }
        })
        return res
      }, {})
    },
    withSeatsFakeScheme() {
      if(!this.schemes) return
      const view = this.schemesByType.withSeats.reduce(
        (result, scheme) => {
          const { tickets_left, currency, price } = scheme.view

          result.tickets_left += tickets_left
          result.price = Math.min.apply(
            Math,
            [result.price, price].filter(Number),
          )
          result.currency = currency

          return result
        },
        {
          tickets_left: 0,
          price: 0,
          currency: '',
        },
      )

      return {
        scheme: {
          title: this.$t('tableSeats'),
          view,
        },
        price: `${this.$t('from')} ${view.price} ${view.currency}`,
      }
    },
  },
  mounted() {

  },
  methods: {
    ...mapActions('tickets', ['TOGGLE_PURCHASE_TICKET']),
    path,
    selectSeat(seat) {
      this.TOGGLE_PURCHASE_TICKET({
        seat: seat.id,
        scheme: seat.schemeId,
        session: seat.sessionId,
      })
    },
    setSeatHover(v, event, seat) {
      if (seat !== undefined) {
        this.hasTooltip = v

        if (v) {
          this.tooltip.left = `${event.clientX}px`
          this.tooltip.top = `${event.clientY + 20}px`
          if(prop('title', seat))
          this.tooltip.title = prop('title', seat)
          if(seat === 'actual')
          this.tooltip.title = this.$t('notAttended')
          if(seat === 'used')
          this.tooltip.title = this.$t('attended')
        }
      }
    },
    onCounterChange() {
      this.$emit('onCounterChange', ...arguments)
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.ryumochanaya {
  &__seats {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;

    @media (max-width: $desktopSD - 1) {
      margin-right: -8px;
      margin-left: -8px;
    }
  }

  &__legend {
    margin-bottom: 16px;
  }

  &__tooltip {
    position: fixed;
    @include text(1.5);
    line-height: 16px;
    padding: 4px 10px;
    background-color: #000;
    color: #fff;
    border-radius: 2px;
  }

  &__ticket-rows {
    margin-bottom: 6px;
    border-top: 2px solid rgba(0, 0, 0, 0.6);
  }
}

.ticket-last-column {
  width: 120px;
  text-align: center;
}
</style>
