<template>
  <div class="legend">
    <div v-for="(legend, idx) in legendItems" :key="idx" class="legend__item">
      <div class="legend__seat" :style="{ backgroundColor: legend.color }" />
      {{ legend.title }}
    </div>
  </div>
</template>

<script>
import { formatTicketsPrice } from '~/utils/schemes'
import { seatsColors } from '~/constants/seats'

export default {
  name: 'Legend',

  props: {
    schemes: {
      type: Array,
      required: true,
    },
  },

  computed: {
    legendItems() {
      const schemesLegend = this.schemes.map((scheme, idx) => ({
        title: formatTicketsPrice(scheme.tickets_price),
        color: seatsColors[idx],
      }))

      return [
        { color: '#0070ff', title: this.$t('schemes.legend.yourChoice') },
        { color: '#c6c7c8', title: this.$t('schemes.legend.taken') },
        ...schemesLegend,
      ]
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.legend {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  &__item {
    display: flex;
    @include text(1.5);
    align-items: center;
    margin-bottom: 4px;

    &:not(:last-child) {
      margin-right: 24px;
    }
  }

  &__seat {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 8px;
  }
}
</style>
