<i18n>
{
  "ru": {
    "attended": "Пришел",
    "notAttended": "Не пришел"
  },
  "en": {
    "attended": "Attended",
    "notAttended": "Didn't attend"
  },
  "es": {
    "attended": "Attended",
    "notAttended": "Didn't attend"
  }
}
</i18n>

<template>
  <circle
    v-if="seat.id"
    :fill="backgroundColor"
    :r="rValue"
    class="seat"
    :class="{
      'seat--disabled': !isAvailable,
      'seat--active': isActive,
    }"
    @click="onClick"
    @mouseover="mouseoverHandler"
    @mouseout="mouseoutHandler"
  />
  <circle
          v-else-if="ticket"
          v-tooltip.auto="tooltip"
          r="4"
          class="seatTicket"
          :class="statusClass"
  />

</template>

<script>
import {prop} from "ramda";

export default {
  name: 'Seat',

  props: {
    seat: {
      type: Object,
      default: () => ({}),
    },
    ticket: {
      type: Object,
      default: () => ({}),
    },
    isActive: Boolean,
  },

  computed: {
    isAvailable() {
      return this.seat.id && this.seat.is_active && !this.seat.is_taken
    },
    backgroundColor() {
      return this.isAvailable ? this.seat.color : '#c6c7c8'
    },
    tooltip() {
      const status = prop('status', this.ticket)

      switch (status) {
        case 'used':
          return this.$t('attended')
        case 'actual':
          return this.$t('notAttended')
        default:
          return ''
      }
    },
    statusClass() {
      const status = prop('status', this.ticket)

      const classes = {
        used: 'seatTicket--used',
        actual: 'seatTicket--actual',
      }

      return classes[status] || ''
    },
    rValue() {
      if(this.isActive) return 8
      if(!this.isAvailable) return 2
      return 4
    }
  },
  methods: {
    onClick() {
      if (!this.isAvailable) return

      this.$emit('click', this.seat)
    },
    mouseoverHandler() {
      if(this.isAvailable){
        event.target.setAttribute('r', '8')
      }
    },
    mouseoutHandler() {
      if(!this.isActive){
        event.target.setAttribute('r', '4')
      } else if(!this.isAvailable){
        event.target.setAttribute('r', '2')
      } else {
        event.target.setAttribute('r', '8')
      }
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.seat {
  display: inline-block;
  cursor: pointer;
  transform-origin: 50% 50%;
  transform-box: fill-box;
  transition: transform 0.3s, fill 0.3s;

  &--disabled {
    cursor: auto;
  }

  &--active {
    fill: $blue;
  }
}
.seatTicket {
  display: inline-block;
  transform-origin: 50% 50%;
  transform-box: fill-box;
  transition: transform 0.3s, fill 0.3s;
  fill: #c6c7c8;

  &--used {
    r: 6;
    fill: #00ca0c;
  }

  &--actual {
    fill: #ffe435;
  }
}
</style>
