<template>
  <g
    :fill="backgroundColor"
    class="vip-table"
    :class="getClassNames"
    @click="selectVip"
    @mouseover="mouseoverHandler"
    @mouseout="mouseoutHandler"
  >
    <circle
      :cx="table.cx"
      :cy="table.cy"
      r="23"
      fill="none"
      stroke="#d6dbe0"
      stroke-dasharray="2 2"
    />
    <path
      d="M662.181 380.7a5.006 5.006 0 01-4.8-6.4 27.971 27.971 0 0115.371-17.692 5 5 0 114.116 9.113 17.985 17.985 0 00-9.886 11.373 5 5 0 01-4.801 3.606z"
      :transform="vipLabel.figureTransform"
    />
    <g fill="#fff" :transform="vipLabel.textTransform">
      <path d="M666.986 372.062l-.258.473-6.5-.679.373-.682 5.3.579-3.375-4.1.353-.646z"/>
      <path d="M664.674 364.984l.487-.54 4.444 4.01-.487.539z"/>
      <path d="M671.141 366.9l-3.457-4.889c.272-.192.96-.7 1.267-.918 1.4-.987 2.343-.524 2.881.237a1.911 1.911 0 01-.673 2.781c-.2.137-.494.339-.753.491l1.329 1.877zm-2.469-4.75l1.334 1.886c.252-.148.493-.3.737-.47a1.215 1.215 0 00.456-1.8c-.411-.58-1.022-.7-1.8-.154l-.727.542z"/>
    </g>
    <circle
      :cx="table.cx"
      :cy="table.cy"
      r="13.5"
    />
    <path
      :d="vipTableText.d"
      :transform="vipTableText.transform"
      fill="#fff"
    />
    <circle
      ref="seats"
      v-for="seat in seats"
      :key="seat.VueKey"
      :cx="seat.cx"
      :cy="seat.cy"
      :r="rValue"
      class="vip-seat"
    >
    </circle>
  </g>
</template>

<script>
export default {
  name: 'SeatVip',

  props: {
    status: {
      type: String,
      default: ''
    },
    table: {
      type: Object,
      default: () => ({}),
    },

    seats: {
      type: Array,
      default: () => [],
    },

    vipLabel: {
      type: Object,
      default: () => ({}),
    },

    vipTableText: {
      type: Object,
      default: () => ({}),
    },

    seatInfo: {
      type: Object,
      default: () => ({}),
    },

    isActive: {
      type: Boolean,
      default: false,
    },
  },

  computed: {
    isAvailable() {
      return this.seatInfo.id && this.seatInfo.is_active && !this.seatInfo.is_taken;
    },
    getClassNames () {
      let className = ''
      if(!this.isAvailable)
      {
        className+= ' vip-table--disabled'
      }
      if(this.isActive) {
        className+= ' vip-table--active'
      }
      if(this.status) {
        className+= ` status-${this.status}`
      }
      return className
    },

    backgroundColor() {
      return this.isAvailable ? this.seatInfo.color : '#c6c7c8';
    },
    rValue() {
      if(this.isActive) return 7
      if(!this.isAvailable) return 2
      return 4
    }
  },

  methods: {
    selectVip() {
      if (!this.isAvailable) return;

      this.$emit('click', this.seatInfo);
    },
    mouseoverHandler() {
      if(this.isAvailable) {
        this.$refs.seats.map(circle => {
          circle.setAttribute('r', '7')
        })
      }
    },
    mouseoutHandler() {
      if(!this.isActive){
        this.$refs.seats.map(circle => {
          circle.setAttribute('r', '4')
        })
      }
      if(!this.isAvailable){
        this.$refs.seats.map(circle => {
          circle.setAttribute('r', '2')
        })
      }
    },
  },
};
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';
.status-used{
  fill: #00ca0c;
}
.status-actual{
  fill: #ffe435;
}

.vip-table {
  cursor: pointer;
  transition: fill 0.3s;

  .vip-seat {
    display: inline-block;
    transform-origin: 50% 50%;
    transform-box: fill-box;
    transition: transform 0.3s;
  }


  &--disabled {
    .vip-seat {
      cursor: auto;
    }
  }

  &--active {
    fill: $blue;
  }
}
</style>
