<template>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    x="0"
    y="0"
    version="1.1"
    viewBox="0 0 540 480"
    class="svg-scheme"
  >
    <!-- seats -->
    <slot name="seats" />

    <!-- scene -->
    <text
      class="svg-scheme__text"
      transform="translate(252 39)"
      style="letter-spacing: 1em;"
    >{{ $t('schemes.ryumochnayaTemplate.scene') }}</text>
    <path id="Path_5400" d="M203.5 28.164v22.35h186.926v-22.35" class="svg-scheme__border" />

    <path d="M88.584 27v239.687H51.5" class="svg-scheme__border" />

    <text class="svg-scheme__text" :transform="buffetTransform"
    >{{ $t('schemes.ryumochnayaTemplate.buffet') }}</text>
    <path d="M89 317.109H21.906" class="svg-scheme__border" />
    <path d="M29 309l-8 8 8 8" class="svg-scheme__border" />

    <text class="svg-scheme__text" :transform="toiletTransform"
    >{{ $t('schemes.ryumochnayaTemplate.toilet') }}</text>
    <path d="M51.5 351h34v35.922" class="svg-scheme__border" />
    <path d="M51.5 456.922h34V421" class="svg-scheme__border" />

    <text class="svg-scheme__text" :transform="entranceTransform"
    >{{ $t('schemes.ryumochnayaTemplate.entrance') }}</text>
    <path :d="entranceLinePath" class="svg-scheme__border" />
    <path d="M459 373l-8 8 8 8" class="svg-scheme__border" />

    <!-- eslint-disable -->
    <!-- table 1 -->
    <circle cx="163" cy="50" r="13.5" class="svg-scheme__table" />
    <!-- table 2 -->
    <circle cx="176" cy="116" r="13.5" class="svg-scheme__table" />
    <!-- table 3 -->
    <circle cx="151" cy="164" r="13.5" class="svg-scheme__table" />
    <!-- table 4 -->
    <circle cx="176" cy="212" r="13.5" class="svg-scheme__table" />
    <!-- table 5 -->
    <circle cx="425" cy="50" r="13.5" class="svg-scheme__table" />
    <!-- table 6 -->
    <circle cx="411" cy="116" r="13.5" class="svg-scheme__table" />
    <!-- table 7 -->
    <circle cx="435" cy="164" r="13.5" class="svg-scheme__table" />
    <!-- table 8 -->
    <circle cx="411" cy="212" r="13.5" class="svg-scheme__table" />
    <!-- table 9 -->
    <path d="M265 113h64v96h-64z" class="svg-scheme__table" />
    <!-- table 10 -->
    <path d="M265 234h64v96h-64z" class="svg-scheme__table" />
    <!-- table 11 -->
    <circle cx="435" cy="260" r="13.5" class="svg-scheme__table" />
    <!-- table 12 -->
    <circle cx="411" cy="307" r="13.5" class="svg-scheme__table" />
    <!-- table 13 -->
    <circle cx="163" cy="336" r="13.5" class="svg-scheme__table" />
    <!-- table 14 -->
    <path d="M219 371h32v48h-32z" class="svg-scheme__table" />
    <!-- table 15 -->
    <path d="M343 371h32v48h-32z" class="svg-scheme__table" />
    <!-- eslint-enable -->

    <!-- table numbers -->
    <path
      d="M164.352 50.912l.976 1.52 1.372-1.04V60h1.84V48.768h-1.324z"
      transform="translate(-4 -4)"
      class="svg-scheme__number" />
    <path
      d="M177.592 127h7.04v-1.712h-4.656c.88-.72 4.224-3.552 4.224-6.688a2.905 2.905 0 00-3.168-2.928 3.2 3.2 0 00-3.36 2.656l1.536.688a1.708 1.708 0 011.616-1.5 1.314 1.314 0 011.424 1.452c0 2.176-2.832 4.768-4.656 6.56z"
      transform="translate(-5 -5)"
      class="svg-scheme__number"
    />
    <path
      d="M156.9 173.176a3.347 3.347 0 003.668-3.328 2.546 2.546 0 00-2.144-2.672v-.048a2.685 2.685 0 001.712-2.656c0-1.76-1.3-2.848-3.216-2.848a3.509 3.509 0 00-3.312 1.744l1.024 1.3a2.409 2.409 0 012.112-1.2 1.272 1.272 0 011.424 1.36 1.594 1.594 0 01-1.728 1.532h-.72v1.84h.8c1.3 0 2.08.56 2.08 1.584 0 .848-.608 1.552-1.808 1.552a2.937 2.937 0 01-2.4-1.392l-1.04 1.344a3.793 3.793 0 003.548 1.888z"
      transform="translate(-6 -3)"
      class="svg-scheme__number"
    />
    <path
      d="M181.36 220h1.84v-2.592h1.44v-1.84h-1.44V212.8h-1.84v2.768h-2.736l4.048-6.768h-2.112l-4.32 7.248v1.36h5.12z"
      transform="translate(-4 -3)"
      class="svg-scheme__number"
    />
    <path
      d="M426.3 54.752a5.654 5.654 0 011.84-.288c1.5 0 2.384.864 2.384 1.984a1.794 1.794 0 01-1.844 1.888 2.872 2.872 0 01-2.272-1.152l-1.056 1.392a4 4 0 003.28 1.6 3.647 3.647 0 003.856-3.808 3.38 3.38 0 00-3.52-3.568 3.763 3.763 0 00-.64.064l.32-2.224h3.68V48.8h-5.3z"
      transform="translate(-4 -4)"
      class="svg-scheme__number"
    />
    <path
      d="M410.72 123.032a3.918 3.918 0 004 4.144 3.573 3.573 0 003.616-3.676 3.206 3.206 0 00-3.136-3.428 2.635 2.635 0 00-2.3 1.04 5.877 5.877 0 014.08-4.1l-.752-1.392a7.694 7.694 0 00-5.508 7.412zm1.952.016a2.082 2.082 0 011.9-1.264 1.712 1.712 0 011.808 1.84 1.639 1.639 0 01-1.644 1.712 2.054 2.054 0 01-2.064-2.288z"
      transform="translate(-3 -5)"
      class="svg-scheme__number"
    />
    <path
      d="M435.4 163.64h4.832l-3.776 9.36h2.016l3.968-9.968V161.8h-7.04z"
      transform="translate(-4 -3)"
      class="svg-scheme__number"
    />
    <path
      d="M414.656 213.328a1.441 1.441 0 01-1.472-1.44 1.434 1.434 0 011.584-1.424c.96 0 1.632.512 1.632 1.424a1.433 1.433 0 01-1.44 1.44zm.3 1.84a1.586 1.586 0 011.764 1.584c.016.9-.608 1.584-1.936 1.584-1.2 0-1.9-.7-1.9-1.584a1.664 1.664 0 011.804-1.584zm-.156 5.008c2.176 0 3.872-1.168 3.872-3.232a2.627 2.627 0 00-2.032-2.688v-.048a2.885 2.885 0 001.728-2.64c0-1.76-1.6-2.944-3.584-2.944-1.968 0-3.552 1.184-3.552 2.944a2.825 2.825 0 001.6 2.656v.048a2.872 2.872 0 00-1.92 2.828c0 1.908 1.712 3.076 3.888 3.076z"
      transform="translate(-4 -2)"
      class="svg-scheme__number"
    />
    <path
      d="M8.16-7.1c0-2.5-1.472-4.272-3.968-4.272A3.691,3.691,0,0,0,.48-7.648,3.369,3.369,0,0,0,3.856-4.176,2.5,2.5,0,0,0,5.984-5.184a4.9,4.9,0,0,1-4.176,3.9L2.416.176C5.616-.208,8.16-2.8,8.16-7.1ZM6.208-7.12A2.046,2.046,0,0,1,4.3-5.9,1.814,1.814,0,0,1,2.432-7.776a1.764,1.764,0,0,1,1.76-1.76C5.536-9.536,6.208-8.4,6.208-7.12Z"
      transform="translate(292 170)"
      class="svg-scheme__number"
    />
    <path
      d="M.352-9.088l.976,1.52L2.7-8.608V0h1.84V-11.232H3.216ZM6.9-5.6C6.9-2.176,8.112.128,10.688.128c2.56,0,3.712-2.3,3.712-5.728s-1.184-5.728-3.744-5.728C8.08-11.328,6.9-9.024,6.9-5.6Zm1.968,0c0-2.7.528-4,1.792-4,1.28,0,1.792,1.232,1.792,4s-.48,4.016-1.76,4.016C9.488-1.584,8.864-2.864,8.864-5.6Z"
      transform="translate(290 287)"
      class="svg-scheme__number"
    />
    <path
      d="M.352-9.088l.976,1.52L2.7-8.608V0h1.84V-11.232H3.216Zm6.224,0,.976,1.52,1.376-1.04V0h1.84V-11.232H9.44Z"
      transform="translate(429 266)"
      class="svg-scheme__number"
    />
    <path
      d="M.352-9.088l.976,1.52L2.7-8.608V0h1.84V-11.232H3.216ZM6.816,0h7.04V-1.712H9.2c.88-.72,4.224-3.552,4.224-6.688a2.905,2.905,0,0,0-3.168-2.928A3.2,3.2,0,0,0,6.9-8.672l1.536.688a1.708,1.708,0,0,1,1.616-1.5,1.314,1.314,0,0,1,1.424,1.456c0,2.176-2.832,4.768-4.656,6.56Z"
      transform="translate(404 312)"
      class="svg-scheme__number"
    />
    <path
       d="M.352-9.088l.976,1.52L2.7-8.608V0h1.84V-11.232H3.216ZM10.128.176a3.347,3.347,0,0,0,3.664-3.328,2.546,2.546,0,0,0-2.144-2.672v-.048A2.685,2.685,0,0,0,13.36-8.528c0-1.76-1.3-2.848-3.216-2.848A3.509,3.509,0,0,0,6.832-9.632l1.024,1.3a2.409,2.409,0,0,1,2.112-1.2,1.272,1.272,0,0,1,1.424,1.36A1.594,1.594,0,0,1,9.664-6.64h-.72V-4.8h.8c1.3,0,2.08.56,2.08,1.584,0,.848-.608,1.552-1.808,1.552a2.937,2.937,0,0,1-2.4-1.392L6.576-1.712A3.793,3.793,0,0,0,10.128.176Z"
       transform="translate(156 341)"
       class="svg-scheme__number"
    />
    <path
      d="M.352-9.088l.976,1.52L2.7-8.608V0h1.84V-11.232H3.216ZM11.584,0h1.84V-2.592h1.44v-1.84h-1.44V-7.2h-1.84v2.768H8.848L12.9-11.2H10.784L6.464-3.952v1.36h5.12Z"
      transform="translate(226 401)"
      class="svg-scheme__number"
    />
    <path
      d="M.352-9.088l.976,1.52L2.7-8.608V0h1.84V-11.232H3.216ZM7.52-5.248a5.654,5.654,0,0,1,1.84-.288c1.5,0,2.384.864,2.384,1.984A1.794,1.794,0,0,1,9.9-1.664,2.872,2.872,0,0,1,7.632-2.816L6.576-1.424a4,4,0,0,0,3.28,1.6,3.647,3.647,0,0,0,3.856-3.808A3.38,3.38,0,0,0,10.192-7.2a3.763,3.763,0,0,0-.64.064l.32-2.224h3.68V-11.2h-5.3Z"
      transform="translate(351 401)"
      class="svg-scheme__number"
    />
  </svg>
</template>

<script>
export default {
  name: 'TemplateVip',

  computed: {
    lang() {
      return this.$i18n.locale
    },
    buffetTransform() {
      if (this.lang === 'en' || this.lang === 'es') return 'translate(35 308)'
      return 'translate(37 308)'
    },
    toiletTransform() {
      if (this.lang === 'en') return 'rotate(-90 245 170)'
      if (this.lang === 'es') return 'rotate(-90 250 175)'
      return 'rotate(-90 250 180)'
    },
    entranceTransform() {
      if (this.lang === 'en') return 'translate(460 368)'
      if (this.lang === 'es') return 'translate(465 368)'
      return 'translate(470 368)'
    },
    entranceLinePath() {
      if (this.lang === 'en' || this.lang === 'es') return 'M539 381.109h-87.094'
      return 'M519 381.109h-67.094'
    },
  },
}
</script>

<style lang="scss" scoped>
.svg-scheme {
  overflow: visible;
  box-shadow: 0px 0px 10000px transparent;
  width: 499px;
  height: 432px;

  &__table {
    fill: #f8f9fa;
  }

  &__text {
    isolation: isolate;
    font-size: 12px;
    fill: #d6dbe0;
    font-family: Circe-Regular, Circe;
    letter-spacing: 0.17em;
    user-select: none;
    text-transform: uppercase;
  }

  &__border {
    fill: none;
    stroke: #d6dbe0;
  }

  &__number {
    fill: #c6c7c8;
  }
}
</style>
