<template>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    x="0"
    y="0"
    version="1.1"
    viewBox="0 0 498.9 432"
    class="svg-scheme"
  >
    <!-- seats -->
    <slot name="seats" />

    <!-- scene -->
    <text
      class="svg-scheme__text"
      transform="translate(231.87 12.6)"
      style="letter-spacing: 1em;"
    >{{ $t('schemes.ryumochnayaTemplate.scene') }}</text>
    <path id="Path_5400" d="M183.4 1.8v22.3h186.9V1.8" class="svg-scheme__border" />

    <path d="M68.5.6v239.7H31.4" class="svg-scheme__border" />

    <text class="svg-scheme__text" :transform="buffetTransform"
    >{{ $t('schemes.ryumochnayaTemplate.buffet') }}</text>
    <path d="M68.9 290.7H1.8" class="svg-scheme__border" />
    <path d="M8.9 282.6l-8 8 8 8" class="svg-scheme__border" />

    <text class="svg-scheme__text" :transform="toiletTransform"
    >{{ $t('schemes.ryumochnayaTemplate.toilet') }}</text>
    <path d="M31.4 324.59h34v35.9" class="svg-scheme__border" />
    <path d="M31.4 430.49h34v-35.9" class="svg-scheme__border" />

    <text class="svg-scheme__text" :transform="entranceTransform"
    >{{ $t('schemes.ryumochnayaTemplate.entrance') }}</text>
    <path :d="entranceLinePath" class="svg-scheme__border" />
    <path d="M438.9 346.6l-8 8 8 8" class="svg-scheme__border" />

    <!-- eslint-disable -->
    <!-- table 1 -->
    <circle cx="146.4" cy="37.1" r="13.5" class="svg-scheme__table" />
    <!-- table 2 -->
    <circle cx="170.4" cy="84.1" r="13.5" class="svg-scheme__table" />
    <!-- table 3 -->
    <circle cx="146.4" cy="132.1" r="13.5" class="svg-scheme__table" />
    <!-- table 4 -->
    <circle cx="170.4" cy="179.1" r="13.5" class="svg-scheme__table" />
    <!-- table 5 -->
    <circle cx="408.4" cy="37.1" r="13.5" class="svg-scheme__table" />
    <!-- table 6 -->
    <circle cx="384.4" cy="84.1" r="13.5" class="svg-scheme__table" />
    <!-- table 7 -->
    <circle cx="408.4" cy="132.1" r="13.5" class="svg-scheme__table" />
    <!-- table 8 -->
    <circle cx="384.4" cy="179.1" r="13.5" class="svg-scheme__table" />
    <!-- table 9 -->
    <path d="M244.9 59.6h64v96h-64z" class="svg-scheme__table" />
    <!-- table 10 -->
    <path d="M244.9 197.6h64v96h-64z" class="svg-scheme__table" />
    <!-- table 11 -->
    <circle cx="408.4" cy="227.1" r="13.5" class="svg-scheme__table" />
    <!-- table 12 -->
    <circle cx="384.4" cy="274.1" r="13.5" class="svg-scheme__table" />
    <!-- table 13 -->
    <circle cx="146.4" cy="313.1" r="13.5" class="svg-scheme__table" />
    <!-- table 14 -->
    <path d="M198.9 344.6h32v48h-32z" class="svg-scheme__table" />
    <!-- table 15 -->
    <path d="M322.9 344.6h32v48h-32z" class="svg-scheme__table" />
    <!-- eslint-enable -->

    <!-- table numbers -->
    <path d="M144.2 34.5l1 1.5 1.4-1v8.6h1.8V32.4h-1.3z" class="svg-scheme__number" />
    <path
      id="Path_5414"
      d="M167.5 90.6h7v-1.7h-4.7c.9-.7 4.2-3.6 4.2-6.7a2.9 2.9 0 00-2.9-2.9h-.3a3.25 3.25 0 00-3.4 2.7l1.5.7a1.71 1.71 0 011.6-1.5 1.27 1.27 0 011.4 1.2v.3c0 2.2-2.8 4.8-4.7 6.6v1.3z"
      class="svg-scheme__number"
    />
    <path
      d="M146.8 136.8a3.43 3.43 0 003.7-3v-.3a2.52 2.52 0 00-2.1-2.7 2.62 2.62 0 001.7-2.7c0-1.8-1.3-2.8-3.2-2.8a3.68 3.68 0 00-3.3 1.7l1 1.3a2.25 2.25 0 012.1-1.2 1.24 1.24 0 011.4 1.1v.3a1.49 1.49 0 01-1.6 1.5h-.8v1.8h.8c1.3 0 2.1.6 2.1 1.6a1.64 1.64 0 01-1.8 1.6 2.91 2.91 0 01-2.4-1.4l-1 1.3a3.42 3.42 0 003.4 1.9z"
      class="svg-scheme__number"
    />
    <path
      d="M171.2 183.6h1.8V181h1.4v-1.8H173v-2.8h-1.8v2.8h-2.7l4-6.8h-2.1l-4.3 7.2v1.4h5.1z"
      class="svg-scheme__number"
    />
    <path
      d="M406.2 38.4a5.66 5.66 0 011.8-.3 2.13 2.13 0 012.4 2 1.79 1.79 0 01-1.7 1.9h-.1a2.8 2.8 0 01-2.3-1.2l-1.1 1.4a4.22 4.22 0 003.3 1.6 3.74 3.74 0 003.9-3.4V40a3.38 3.38 0 00-3.2-3.6h-.3a1.27 1.27 0 00-.6.1l.3-2.2h3.7v-1.8H407z"
      class="svg-scheme__number"
    />
    <path
      d="M380.6 86.6a3.85 3.85 0 003.7 4.1h.3a3.56 3.56 0 003.6-3.5v-.1a3.17 3.17 0 00-3-3.4h-.2a2.51 2.51 0 00-2.3 1 5.85 5.85 0 014.1-4.1l-.8-1.4a7.74 7.74 0 00-5.4 7.4zm1.9.1a2.05 2.05 0 011.9-1.3 1.69 1.69 0 011.8 1.6v.2a1.67 1.67 0 01-1.6 1.7h-.1a2.09 2.09 0 01-2.1-2 .31.31 0 00.1-.2z"
      class="svg-scheme__number"
    />
    <path d="M405.3 127.2h4.8l-3.8 9.4h2l4-10v-1.2h-7z" class="svg-scheme__number" />
    <path
      d="M384.5 176.9a1.45 1.45 0 01-1.5-1.4 1.37 1.37 0 011.4-1.4h.1c1 0 1.6.5 1.6 1.4a1.37 1.37 0 01-1.4 1.4h-.2zm.3 1.9a1.59 1.59 0 011.8 1.4v.2c0 .9-.6 1.6-1.9 1.6s-1.9-.7-1.9-1.6a1.67 1.67 0 011.7-1.6h.3zm-.1 5c2.2 0 3.9-1.2 3.9-3.2a2.6 2.6 0 00-2-2.7 3 3 0 001.7-2.6c0-1.8-1.6-2.9-3.6-2.9s-3.6 1.2-3.6 2.9a3 3 0 001.6 2.7 2.79 2.79 0 00-1.9 2.8c0 1.8 1.7 3 3.9 3z"
      class="svg-scheme__number"
    />
    <path
      d="M281 105.5c0-2.5-1.5-4.3-4-4.3a3.69 3.69 0 00-3.7 3.7v.1a3.37 3.37 0 003.3 3.5h.1a2.51 2.51 0 002.1-1 4.89 4.89 0 01-4.2 3.9l.6 1.5c3.3-.5 5.8-3.1 5.8-7.4zm-1.9 0a2 2 0 01-3.8-.6v-.1a1.79 1.79 0 011.8-1.8 2.27 2.27 0 012 2.5z"
      class="svg-scheme__number"
    />
    <path
      d="M270.2 241.5l1 1.5 1.4-1v8.6h1.8v-11.2h-1.3zm6.6 3.5c0 3.4 1.2 5.7 3.8 5.7s3.7-2.3 3.7-5.7-1.2-5.7-3.7-5.7-3.8 2.3-3.8 5.7zm1.9 0c0-2.7.5-4 1.8-4s1.8 1.2 1.8 4-.5 4-1.8 4c-1.1 0-1.8-1.3-1.8-4z"
      class="svg-scheme__number"
    />
    <path
      d="M403.2 222.5l1 1.5 1.4-1v8.6h1.8v-11.2h-1.3zm6.2 0l1 1.5 1.4-1v8.6h1.8v-11.2h-1.3z"
      class="svg-scheme__number"
    />
    <path
      d="M378.2 270.5l1 1.5 1.4-1v8.6h1.8v-11.2h-1.3zm6.5 9.1h7v-1.7H387c.9-.7 4.2-3.6 4.2-6.7a2.9 2.9 0 00-2.9-2.9h-.3a3.25 3.25 0 00-3.4 2.7l1.5.7a1.71 1.71 0 011.6-1.5 1.27 1.27 0 011.4 1.2v.3c0 2.2-2.8 4.8-4.7 6.6z"
      class="svg-scheme__number"
    />
    <path
      d="M138.2 307.5l1 1.5 1.4-1v8.6h1.8v-11.2h-1.3zm9.8 9.3a3.28 3.28 0 003.6-3v-.3a2.52 2.52 0 00-2.1-2.7 2.62 2.62 0 001.7-2.7c0-1.8-1.3-2.8-3.2-2.8a3.68 3.68 0 00-3.3 1.7l1 1.3a2.25 2.25 0 012.1-1.2 1.24 1.24 0 011.4 1.1v.3a1.49 1.49 0 01-1.6 1.5h-.8v1.8h.8c1.3 0 2.1.6 2.1 1.6a1.64 1.64 0 01-1.8 1.6 2.91 2.91 0 01-2.4-1.4l-1 1.3a3.86 3.86 0 003.5 1.9z"
      class="svg-scheme__number"
    />
    <path
      d="M208.2 364.5l1 1.5 1.4-1v8.6h1.8v-11.2h-1.3zm11.3 9.1h1.8V371h1.4v-1.8h-1.4v-2.8h-1.8v2.8h-2.7l4.1-6.8h-2.1l-4.3 7.2v1.4h5.1v2.6z"
      class="svg-scheme__number"
    />
    <path
      d="M332.2 364.5l1 1.5 1.4-1v8.6h1.8v-11.2h-1.3zm7.2 3.9a5.66 5.66 0 011.8-.3 2.13 2.13 0 012.4 2 1.79 1.79 0 01-1.7 1.9h-.1a2.8 2.8 0 01-2.3-1.2l-1.1 1.4a4.22 4.22 0 003.3 1.6 3.74 3.74 0 003.9-3.4v-.4a3.38 3.38 0 00-3.2-3.6h-.3a1.27 1.27 0 00-.6.1l.3-2.2h3.7v-1.8h-5.3z"
      class="svg-scheme__number"
    />
  </svg>
</template>

<script>
export default {
  name: 'Template',

  computed: {
    lang() {
      return this.$i18n.locale
    },
    buffetTransform() {
      if (this.lang === 'en' || this.lang === 'es') return 'translate(15.28 281.6)'
      return 'translate(18.28 281.6)'
    },
    entranceTransform() {
      if (this.lang === 'en') return 'translate(440.44 341.6)'
      if (this.lang === 'es') return 'translate(445.44 341.6)'
      return 'translate(455.44 341.6)'
    },
    entranceLinePath() {
      if (this.lang === 'en' || this.lang === 'es') return 'M520.9 354.7h-90.1'
      return 'M498.9 354.7h-67.1'
    },
    toiletTransform() {
      if (this.lang === 'en') return 'rotate(-90 220.915 170.045)'
      if (this.lang === 'es') return 'rotate(-90 225.915 175.045)'
      return 'rotate(-90 228.915 177.045)'
    },
  },
}
</script>

<style lang="scss" scoped>
.svg-scheme {
  overflow: visible;
  box-shadow: 0px 0px 10000px transparent;
  width: 499px;
  height: 432px;

  &__table {
    fill: #f8f9fa;
  }

  &__text {
    isolation: isolate;
    font-size: 12px;
    fill: #d6dbe0;
    font-family: Circe-Regular, Circe;
    letter-spacing: 0.17em;
    user-select: none;
    text-transform: uppercase;
  }

  &__border {
    fill: none;
    stroke: #d6dbe0;
  }

  &__number {
    fill: #c6c7c8;
  }
}
</style>
