<i18n>
{
  "ru": {
    "title": "WhatWhere.World — сервис для online-продвижения мероприятий по всему миру",
    "description": "WhatWhere.World — это площадка, где организаторы могут напрямую связаться со своей целевой аудиторией и привлечь ее на свои мероприятия. Мы предлагаем уникальный сервис online-продвижения мероприятий в один клик."
  },
  "en": {
    "title": "WhatWhere.World — the best way to promote your events online",
    "description": "WhatWhere.World — the place where event organizers can directly get in contact with their target audience and attract it to their events. We offer a unique service for online promotion of events in one click."
  },
  "es": {
    "title": "WhatWhere.World: la mejor manera de promocionar sus eventos en línea",
    "description": "WhatWhere.World: el lugar donde los organizadores de eventos pueden ponerse en contacto directamente con su público objetivo y atraerlo a sus eventos. Ofrecemos un servicio único para la promoción en línea de eventos en un solo clic."
  }
}
</i18n>

<template>
  <div class="business-page">
    <Hero @btn:click="onBtnClick" />
    <HowItWorks />
    <Cases />
    <Reports />
    <Promotion />
    <Plans ref="plans" @select-plan="selectPlan" />
    <Reviews v-if="showReviews" />
    <Footer />
    <WithTransition>
      <UnauthorizedModal
        v-if="unauthorizedModalOpened"
        :serverErrors="modalServerErrors"
        @submit="onModalSubmit"
        @close="closeUnauthorizedModal"
      />
    </WithTransition>
  </div>
</template>

<script>
import { path } from 'ramda'
import { mapGetters, mapMutations, mapActions } from 'vuex'
import { scrollToElement } from '~/utils'
import { layoutConsts } from '~/utils/layout'
import popoverConsts from '~/utils/popoverConsts'
import Hero from '~/components/business/Hero'
import HowItWorks from '~/components/business/HowItWorks'
import Cases from '~/components/business/Cases'
import Reports from '~/components/business/Reports'
import Promotion from '~/components/business/Promotion'
import Plans from '~/components/business/Plans'
import Reviews from '~/components/business/Reviews'
import Footer from '~/components/business/Footer'
import WithTransition from '~/components/common/WithTransition'
import UnauthorizedModal from '~/components/business/UnauthorizedModal'

const PLANS_ANCHOR = '#plans'

export default {
  head() {
    const title = this.$t('title')
    const description = this.$t('description')

    return {
      title,
      meta: [
        {
          hid: 'title',
          name: 'title',
          content: title,
        },
        {
          hid: 'description',
          name: 'description',
          content: description,
        },
        {
          hid: 'ogTitle',
          property: 'og:title',
          content: title,
        },
        {
          hid: 'ogUrl',
          property: 'og:url',
          content: `${process.env.domainUrl}${this.$route.path}`,
        },
      ],

    }
  },
  components: {
    Hero,
    HowItWorks,
    Cases,
    Reports,
    Promotion,
    Plans,
    Reviews,
    Footer,
    WithTransition,
    UnauthorizedModal,
  },
  data: () => ({
    selectedPlan: null,
    unauthorizedData: null,
    modalServerErrors: null,
    unauthorizedModalOpened: false,
  }),
  computed: {
    ...mapGetters('auth', ['IS_AUTH']),
    ...mapGetters('lang', ['LANG']),

    showReviews() {
      return this.LANG === 'ru'
    },
  },
  watch: {
    '$route.hash': {
      immediate: true,
      handler() {
        if (
          process.server ||
          this.$route.hash !== PLANS_ANCHOR ||
          typeof this.$route.query.payment_status !== 'undefined'
        )
          return

        this.$nextTick(() => this.scrollToPlans())
      },
    },
  },
  fetch({ store }) {
    return store.dispatch('plans/FETCH')
  },
  mounted() {
    this.checkPaymentStatus()
  },
  methods: {
    ...mapActions('auth', ['REGISTRATION']),
    ...mapActions('plans', ['BUY_PLAN']),
    ...mapMutations('popovers', ['SET_POPOVER_DATA']),
    ...mapActions('popovers', ['TOGGLE_POPOVER']),
    ...mapActions({
      showPreloader: 'popovers/SWITCH_PRE_LOADER',
      showError: 'notifications/error',
    }),

    onBtnClick() {
      if (this.$route.hash === PLANS_ANCHOR) {
        return this.scrollToPlans()
      }
      this.$router.push({ hash: PLANS_ANCHOR })
    },

    scrollToPlans() {
      const element = path(['plans', '$el'], this.$refs)
      element && scrollToElement({ element, align: 'top' })
    },

    checkPaymentStatus() {
      const { payment_status, ...query } = this.$route.query
      if (!payment_status) return

      switch (payment_status) {
        case 'pending':
          this.SET_POPOVER_DATA({ status: 'pending' })
          this.TOGGLE_POPOVER(popoverConsts.paymentSuccess)
          return this.$router.replace({ query })

        case 'free':
        case 'success':
          this.TOGGLE_POPOVER(popoverConsts.paymentSuccess)
          return this.$router.push({
            name: 'events-create-a-1',
            query: {
              layout: layoutConsts.empty,
            },
          })

        case 'cancelled':
        case 'failure':
          this.SET_POPOVER_DATA({
            tryAgainRoute: {
              name: 'business',
              hash: PLANS_ANCHOR,
            },
          })
          this.TOGGLE_POPOVER(popoverConsts.paymentError)
          return this.$router.replace({ query })
      }
    },

    openUnauthorizedModal() {
      this.unauthorizedModalOpened = true
    },

    closeUnauthorizedModal() {
      this.selectedPlan = null
      this.unauthorizedData = null
      this.unauthorizedModalOpened = false
    },

    onModalSubmit(data) {
      this.unauthorizedData = data
      this.selectPlan(this.selectedPlan)
    },

    async selectPlan(plan) {
      this.selectedPlan = plan
      this.modalServerErrors = null

      if (!this.IS_AUTH) {
        if (!this.unauthorizedData) return this.openUnauthorizedModal()

        try {
          await this.REGISTRATION(this.unauthorizedData)
        } catch (err) {
          return this.showError(err.message)
        }
      }

      const payload = {
        plan,
        source: this.$route.fullPath.split('#')[0],
      }

      this.showPreloader(true)
      try {
        await this.BUY_PLAN(payload)
        this.modalServerErrors = null
        if (!this.IS_AUTH) this.closeUnauthorizedModal()
      } catch (err) {
        if (err.response) {
          const { status, data } = err.response
          if (status === 400) {
            this.modalServerErrors = data
            if (!this.IS_AUTH) this.openUnauthorizedModal()
          } else {
            this.showError(err.message)
          }
        } else {
          this.showError(err.message)
        }
      } finally {
        this.showPreloader(false)
      }
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.business-page {
  @include prevent-body-padding;
}
</style>
