<template>
  <component
    :is="component"
    v-bind="attrs"
    class="link"
    :class="{
      'link--block': block,
      'link--inline-block': inlineBlock,
      [`link--${color}`]: true,
    }"
  >
    <slot></slot>
  </component>
</template>

<script>
export default {
  name: 'WLink',

  props: {
    block: Boolean,
    inlineBlock: Boolean,
    href: String,
    color: {
      type: String,
      default: 'blue',
      validator: v =>
        ['white', 'light-blue', 'blue', 'black-blue', 'black'].indexOf(v) !==
        -1,
    },
  },

  computed: {
    component() {
      return this.href ? 'a' : 'nuxt-link'
    },
    attrs() {
      return {
        ...this.$attrs,
        ...(this.href && { href: this.href }),
      }
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.link {
  cursor: pointer;

  /* colors start */
  &--blue {
    color: $blue;
  }

  &--black {
    color: #000;
  }

  &--white {
    color: #fff;
  }

  &--light-blue {
    color: #199bd7;
  }

  &--black-blue {
    color: $black-blue;
  }
  /* colors end */

  /* display start */
  &--block {
    display: block;
  }

  &--inline-block {
    display: inline-block;
  }
  /* display end */

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}
</style>
