<i18n>
{
  "ru": {
    "labels": {
      "description": "Подробности"
    },
    "placeholders": {
      "title": "Укажите коротко что вам нужно"
    }
  },
  "en": {
    "labels": {
      "description": "Details"
    },
    "placeholders": {
      "title": "Specify briefly what you need"
    }
  }
}
</i18n>
<template>
  <div class="order-form">
    <CitySelect
      :value="form.city"
      class="row"
      :error="errors['city']"
      @input="updateForm({city: $event})"
    />
    <PriceForm
      class="row"
      :price="form.price"
      :priceType="form.price_type"
      :priceIntervalFrom="form.price_interval_from"
      :priceIntervalTo="form.price_interval_to"
      :errors="errors"
      @update:data="updateForm($event)"
    />
    <component
      v-for="field in extraForm"
      :key="field.key"
      :is="field.component"
      :value="form[field.key]"
      class="row"
      :field="field"
      :errors="errors[field.key]"
      @input="updateForm({[field.key]: $event})"
    />
    <FormRow :error="errors['description']" class="row">
      <template #label>{{ $t('labels.description') }}</template>
      <template slot-scope="{ id, hasError }">
        <FormInput
          :id="id"
          :value="form.description"
          class="description"
          component="textarea"
          variant="bordered"
          rows="8"
          :error="hasError"
          @input="updateForm({description: $event})"
        />
      </template>
    </FormRow>
    <FileInput
        :order="order"
    />
  </div>
</template>
<script>
  import { path } from "ramda"
  import { buildField } from './utils'

  import FormRow from '~/components/common/FormRowNew'
  import FormInput from '~/components/common/input/FormInput'
  import Radio from '~/components/common/input/Radio1'
  import CitySelect from './components/CitySelect'
  import PriceForm from './components/PriceForm'
  import AutoInput from './components/AutoInput'
  import AutoRadio from './components/AutoRadio'
  import AutoSelect from './components/AutoSelect'
  import AutoInterval from './components/AutoInterval'
  import AutoDatepicker from './components/AutoDatepicker'
  import FileInput from './components/FileInput'
  import TextEditor from '~/components/common/TextEditor'
  import { mapGetters } from 'vuex'

  export default {
    name: 'OrderCreateForm',
    components: {
      FormRow,
      Radio,
      FormInput,
      CitySelect,
      PriceForm,
      AutoInput,
      AutoRadio,
      AutoSelect,
      AutoInterval,
      AutoDatepicker,
      FileInput,
      TextEditor,
    },
    props: {
      form: Object,
      errors: Object,
      orderFormScheme: Object,
      order: Object,
    },
    computed: {
      ...mapGetters({
        OPENED_POPOVER: 'popovers/OPENED_POPOVER',
      }),
      extraForm() {
        const fields = path(['fields'], this.orderFormScheme) || []
        return fields.map( field => buildField(field) )
      },
    },
    methods: {
      updateForm(data={}) {
        const newForm = Object.assign({}, this.form, data)
        this.$emit('update:form', newForm)
      },
    }
  }
</script>
<style lang="scss">
  @import '~/assets/css/variables.scss';
  .order-form {
    .label {
      display: inline-block;
      cursor: pointer;
      @include text(1.5);
      font-weight: bold;
      color: #999999;
      margin-bottom: $base;

      @media (min-width: $desktopSD) {
        @include text(2.25);
      }
    }
    .row:not(.radio-row) + .row {
      margin-top: 3 * $base;
    }
    .radio-row + .row {
      margin-top: 1.75 * $base;
    }
    .price-row + .row {
      margin-top: 3 * $base;
    }
    .interval {
      display: flex;
      flex-flow: wrap;

      .interval-value {
        flex: 0 0 50%;
        margin-top: 0;

        @media (min-width: $desktopSD) {
          &:not(:last-child) {
            div {
              margin-right: 0.5 * $base;
            }
          }
          &:not(:first-child) {
            div {
              margin-left: 0.5 * $base;
            }
          }
        }

        @media (max-width: $desktopSD) {
          flex: 0 0 100%;
          &:not(:first-child) {
            margin-top: $base;
          }
        }
      }
    }
  }
</style>
