<i18n>
{
  "ru": {
    "labels": {
      "email": "Укажите почту для создания аккаунта"
    },
    "placeholders": {
      "email": "example@mail.ru",
      "title": "Укажите коротко что вам нужно"
    }
  },
  "en": {
    "labels": {
      "email": "Specify the email address for creating an account"
    },
    "placeholders": {
      "email": "example@gmail.com",
      "title": "Specify briefly what you need"
    }
  }
}
</i18n>
<template>
  <div class="order-create-form order-form">
    <div class="row radio-row">
      <label class="type-filter-label label" for="type-filter">
        {{ $t('common.imlookingFor') }}
      </label>
      <Radio
        id="type-filter"
        v-model="orderTypeId"
        class="order-type-filter"
        :options="orderTypesOptions"
        name="type-filter"
      />
    </div>
    <FormRow :error="errors['title']">
      <template slot-scope="{ id, hasError }">
        <FormInput
          :id="id"
          v-model="form.title"
          variant="bordered"
          :error="hasError"
          :placeholder="$t('placeholders.title')"
        />
      </template>
    </FormRow>
    <BaseForm
      :form.sync="form"
      :errors="errors"
      :orderFormScheme="orderFormScheme"
      class="base-form"
    />
    <template v-if="!GET_USER" >
      <FormRow :error="errors['email']" class="row new-account-email">
        <template #label>{{ $t('labels.email') }}</template>
        <template slot-scope="{ id, hasError }">
          <FormInput
            :id="id"
            v-model="form.email"
            variant="bordered"
            type="email"
            :error="hasError"
            :placeholder="$t('placeholders.email')"
          />
        </template>
      </FormRow>
      <p class="has-account">
        {{$t('auth.hasAccount')}}
        <span class="login" @click="login">{{$t('auth.login')}}</span>
      </p>
    </template>
  </div>
</template>
<script>
  import { mapGetters, mapActions, mapMutations } from 'vuex'
  import { path, prop } from "ramda"
  import isEmpty from 'lodash/isEmpty'
  import popoverConsts from '~/utils/popoverConsts'
  import getOrderConst from '~/constants/order'
  import popConsts from '~/utils/popoverConsts'
  import FormRow from '~/components/common/FormRowNew'
  import FormInput from '~/components/common/input/FormInput'
  import Radio from '~/components/common/input/Radio1'
  import { getValidations } from './utils'


  const buildForm = (orderType={}, currentData={}) => {
    const form = {
      title: '',
      city: null,
      type: prop('id', orderType) || null,
      price_type: path(['0', 'value'], getOrderConst().priceTypes),
      price_interval_from: null,
      price_interval_to: null,
      price: null,
      description: '',
      email: null
    }

    const fields = path(['form', 'fields'], orderType) || []
    fields.forEach(item => {
      form[item.key] = item.is_interval
          ? {'start': null, 'end': null}
          : null
    })

    for (const key in form){
      if (currentData[key] && key !== 'type')
        form[key] = currentData[key]
    }
    return form
  }

  export default {
    name: 'OrderCreateForm',
    components: {
      FormRow,
      Radio,
      FormInput,
      BaseForm: () => import('./BaseForm'),
    },
    data() {
      return {
        orderTypeId: null,
        orderType: null,
        orderTypes: null,
        form: buildForm(),
        oldForm: {},
        authError: null
      }
    },
    validations() {
      return getValidations(prop('form', this.orderType))
    },
    computed: {
      ...mapGetters('marketplace', ['ALL_ORDER_TYPES', 'ORDER_TYPES_INITIALIZED']),
      ...mapGetters('marketplace/order', ['SERVER_ERRORS', 'FILES_ERRORS', 'FILES']),
      ...mapGetters('user', ['GET_USER']),
      orderTypesOptions() {
        return this.ALL_ORDER_TYPES.map(item => ({id: item.id, value: item.id, label: item.title}))
      },
      orderFormScheme(){
        return prop('form', this.orderType)
      },
      errors() {
        const errors = {}
        Object.keys(this.form).forEach(item => {
          errors[item] = {
            client: this.$v.form[item],
            server: this.SERVER_ERRORS[item]
          }
        })
        if ( this.authError ) {
          errors.email.server = this.authError
        }
        return errors
      },
      hasErrors(){
        return this.$v.$error || Object.values(this.errors).filter(error => Boolean(error.server)).length > 0
      },
    },
    watch: {
      ALL_ORDER_TYPES() {
        this.initOrderTypes()
      },
      orderTypeId() {
        if ( !this.orderTypeId )
          return
        this.orderType = this.orderTypes[this.orderTypeId]
        this.form = buildForm(this.orderType, this.form)
        this.$v.$reset()
        this.RESET_SERVER_ERRORS()
      },
      form: {
        deep: true,
        handler() {
          if ( this.oldForm ) {
            for (const [key, value] of Object.entries(this.form)) {
              if (this.oldForm[key] !== value){
                const validator = prop(key, this.$v.form)
                if ( validator )
                  validator.$reset()
                if (key === 'price_type'){
                  const price_fields = ['price', 'price_interval_from', 'price_interval_to']
                  price_fields.forEach(item => {
                    const validator = prop(item, this.$v.form)
                    if ( validator )
                      validator.$reset()
                  })
                } else if (key === 'email') {
                  this.authError = null
                }
              }
            }
          }
          this.oldForm = Object.assign({}, this.oldForm, this.form)

          const newOrder = {}
          for (const [key, value] of Object.entries(this.form)) {
            if ( key === 'email' ) continue
            newOrder[key] = value
          }

          this.SET_NEW_ORDER(newOrder)
        },
      }
    },
    async mounted() {
      if ( !this.ORDER_TYPES_INITIALIZED ){
        await this.FETCH_ALL_ORDER_TYPES()
      }
      this.initOrderTypes()
    },
    methods: {
      ...mapActions({
        togglePopover: 'popovers/TOGGLE_POPOVER',
        SET_NEW_ORDER: 'marketplace/order/SET_NEW_ORDER',
        CREATE_ORDER: 'marketplace/order/CREATE_ORDER',
        ADD_FILES: 'marketplace/order/ADD_FILES',
        RESET_SERVER_ERRORS: 'marketplace/order/RESET_SERVER_ERRORS',
        FETCH_ALL_ORDER_TYPES: 'marketplace/FETCH_ALL_ORDER_TYPES',
        simpleRegistration: 'auth/SIMPLE_REGISTRATION',
        switchPreLoader: 'popovers/SWITCH_PRE_LOADER',
        openPopoverWithData: 'popovers/OPEN_POPOVER_WITH_DATA'
      }),
      ...mapMutations({
        SET_FILES: 'marketplace/order/SET_FILES',
      }),
      login() {
        this.togglePopover(popConsts.auth)
      },
      checkError(){
        if (this.hasErrors){
          this.$nextTick(() => {
            const el = document.querySelector('[data-form-error]')
            if ( !el ) return false
            el.scrollIntoView({ behavior: 'smooth', block: 'center' })
          })
          return false
        }
        return true
      },
      async submit() {
        this.switchPreLoader(true)
        this.$v.$touch()

        if ( !this.checkError() ) {
          this.switchPreLoader(false)
          return
        }

        if ( !this.GET_USER ){
          try {
            await this.simpleRegistration({ email: this.form.email, is_customer: true })
          } catch (e) {
            let parsedErrors = []
            Object.keys(e).forEach(item => {
              if ( Array.isArray(e[item]) ){
                parsedErrors = [...parsedErrors, ...e[item]]
              } else {
                parsedErrors.push(e[item])
              }
            })
            this.authError = parsedErrors.join(', ')
            this.switchPreLoader(false)
            return this.checkError()
          }
        }

       const order = await this.CREATE_ORDER()
        if(order) {
          if(this.FILES) {
            await this.ADD_FILES(order.id)
          }
          this.$emit('submit')
        }
        if(!isEmpty(this.FILES_ERRORS)) {
          this.SET_FILES(null)
          this.openPopoverWithData({
            name: popoverConsts.orderFormModal,
            data: {
              type: 'edit',
              orderId: order.id
            },
          })
        }
        this.switchPreLoader(false)
        if (this.checkError()){
          this.form = buildForm(this.orderType, {city: this.form.city})
        }
      },
      initOrderTypes() {
        if (!this.ALL_ORDER_TYPES)
          return
        this.orderTypeId = path(['0', 'id'], this.ALL_ORDER_TYPES)
        this.orderTypes = this.ALL_ORDER_TYPES.reduce((result, item) => {
          result[item.id] = item
          return result
        }, {})
      },
    }
  }
</script>

<style lang="scss" scoped>
  @import '~/assets/css/variables.scss';
  .has-account {
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    margin: $base auto 0;

    .login {
      text-transform: lowercase;
      color: #0070ff;
      cursor: pointer;
    }
  }
  .base-form {
    margin-top: 24px;
  }
  .new-account-email {
    margin-top: 24px;
  }
</style>