<i18n>
  {
    "ru": {
      "placeholders": {
        "title": "Укажите коротко что вам нужно"
      }
    },
    "en": {
      "placeholders": {
        "title": "Specify briefly what you need"
      }
    }
  }
</i18n>
<template>
  <WithTransition v-if="order">
    <div class="order-edit-form order-form">
      <FormRow :error="errors['title']">
        <template #label>{{ $t('common.imlookingFor') }} {{ type }}</template>
        <template slot-scope="{ id, hasError }">
          <FormInput
            :id="id"
            v-model="form.title"
            variant="bordered"
            :error="hasError"
            :placeholder="$t('placeholders.title')"
          />
        </template>
      </FormRow>
      <BaseForm
        :form.sync="form"
        :errors="errors"
        :orderFormScheme="order.form"
        class="base-form"
        :order="order"
      />
    </div>
  </WithTransition>
  <Loader v-else />
</template>
<script>
  import { mapGetters, mapActions, mapMutations } from 'vuex'
  import { path, prop, isEmpty } from "ramda"
  import FormRow from '~/components/common/FormRowNew'
  import FormInput from '~/components/common/input/FormInput'
  import { getValidations, serializeValue } from './utils'

  const buildForm = (orderData={}) => {

    const form = {
      title: orderData.title || '',
      city: orderData.city || {},
      price_type: orderData.price_type || '',
      description: orderData.description || ''
    }
    const price_interval_from = path(['price_interval_from', 'amount'], orderData)
    const price_interval_to = path(['price_interval_to', 'amount'], orderData)
    const price = path(['price', 'amount'], orderData)

    form.price = price ? Number.parseFloat(price): null
    form.price_interval_to = price_interval_to ? Number.parseFloat(price_interval_to): null
    form.price_interval_from = price_interval_from ? Number.parseFloat(price_interval_from): null

    const fields = path(['form', 'fields'], orderData) || []
    fields.forEach(item => {
      const dataValue = path(['data', item.key], orderData)
      const valueObj = serializeValue(item.key, dataValue, item)
      let value = valueObj.value
      if ( item.type === 'date' )
        value = valueObj.value ? valueObj.value.toDate(): null
      if (item.options.length){
        const option = item.options.filter(item => item.value === value)[0]
        if ( option ){
          value = option
        }
      }
      form[item.key] = value
    })
    return form
  }

  export default {
    name: 'OrderEditForm',
    components: {
      FormRow,
      FormInput,
      WithTransition: () => import('~/components/common/WithTransition'),
      BaseForm: () => import('./BaseForm'),
      Loader: () => import('~/components/common/Loader'),
    },
    props: {
      orderId: {
        type: Number,
        required: true
      }
    },
    data() {
      return {
        form: buildForm(),
        oldForm: {},
        changed: false,
        order: null
      }
    },
    validations() {
      return getValidations(prop('form', this.order))
    },
    computed: {
      ...mapGetters('marketplace/order', ['SERVER_ERRORS', 'ORDER', 'EDIT_ORDER', 'FILES_ERRORS', 'FILES']),
      ...mapGetters('user', ['GET_USER']),
      type() {
        return path(['type', 'title'], this.order)
      },
      errors() {
        const errors = {}
        Object.keys(this.form).forEach(item => {
          errors[item] = {
            client: prop(item, this.$v.form),
            server: prop(item, this.SERVER_ERRORS)
          }
        })
        if ( this.authError ) {
          errors.email.server = this.authError
        }
        return errors
      },
      hasErrors(){
        return this.$v.$error || Object.values(this.errors).filter(error => Boolean(error.server)).length > 0
      },
    },
    watch: {
      form: {
        deep: true,
        handler() {
          if ( !isEmpty(this.oldForm) ) {
            this.changed = true
            for (const [key, value] of Object.entries(this.form)) {
              if (this.oldForm[key] !== value){
                const validator = prop(key, this.$v.form)
                if ( validator )
                  validator.$reset()
                if (key === 'price_type'){
                  const price_fields = ['price', 'price_interval_from', 'price_interval_to']
                  price_fields.forEach(item => {
                    const validator = prop(item, this.$v.form)
                    if ( validator )
                      validator.$reset()
                  })
                }
              }
            }
          }
          this.oldForm = Object.assign({}, this.oldForm, this.form)
          this.SET_EDIT_ORDER(this.form)
        },
      }
    },
    async mounted() {
      await this.FETCH_ORDER({id: this.orderId})
      this.order = this.ORDER
      this.SET_EDIT_ORDER(this.order)
      this.form = buildForm(this.EDIT_ORDER)
    },
    methods: {
      ...mapActions({
        SET_EDIT_ORDER: 'marketplace/order/SET_EDIT_ORDER',
        UPDATE_ORDER: 'marketplace/order/UPDATE_ORDER',
        FETCH_ORDER: 'marketplace/order/FETCH_ORDER',
        RESET_SERVER_ERRORS: 'marketplace/order/RESET_SERVER_ERRORS',
        switchPreLoader: 'popovers/SWITCH_PRE_LOADER',
        ADD_FILES: 'marketplace/order/ADD_FILES',
      }),
      ...mapMutations({
        SET_FILES: 'marketplace/order/SET_FILES',
      }),
      checkError(){
        if (this.hasErrors){
          this.$nextTick(() => {
            const el = document.querySelector('[data-form-error]')
            if ( !el ) return
            el.scrollIntoView({ behavior: 'smooth', block: 'center' })
          })
          return false
        }
        return true
      },
      async submit() {
        if ( !this.changed && !this.FILES)
          return
        this.switchPreLoader(true)
        this.$v.$touch()
        if ( !this.checkError() ) {
          this.switchPreLoader(false)
          return
        }
        const data = await this.UPDATE_ORDER({id: this.orderId})
        if(data) {
          if(this.FILES) {
            await this.ADD_FILES(this.orderId)
          }
          this.$emit('submit')
        }
        if(!isEmpty(this.FILES_ERRORS)) {
          this.SET_FILES(null)
          this.$emit('submit')
        }
        this.switchPreLoader(false)
      },
    }
  }
</script>

<style lang="scss" scoped>
  @import '~/assets/css/variables.scss';
  .base-form {
    margin-top: 24px;
  }
</style>