<i18n>
{
  "ru": {
    "title": "О нас",
    "show": "Подробнее",
    "hide": "Скрыть"
  },
  "en": {
    "title": "About us",
    "show": "More",
    "hide": "Hide"
  },
  "es": {
    "title": "Sobre nosotros",
    "show": "Más",
    "hide": "Ocultar"
  }
}
</i18n>

<template>
  <div v-if="about" class="about-section">
    <h2 class="section-title" v-text="$t('title')" />
    <div
      :class="{ 'is-disabled': !hasExpandButton, 'is-opened': contentOpened }"
      class="spoiler"
    >
      <article class="spoiler__content" v-html="about" />
      <div
        :style="{ color: mainColor }"
        class="spoiler__toggler"
        @click="contentOpened = !contentOpened"
        v-text="contentOpened ? $t('hide') : $t('show')"
      />
    </div>
  </div>
</template>

<script>
import { path } from 'ramda'

export default {
  props: {
    organizer: {
      type: Object,
      required: true,
    },
  },
  data: () => ({
    contentOpened: false,
  }),
  computed: {
    mainColor() {
      return path(['logo', 'main_color'], this.organizer)
    },

    about() {
      return path(['about'], this.organizer) || ''
    },
    aboutText() {
      return path(['about_text'], this.organizer) || ''
    },

    hasExpandButton() {
      return Boolean(this.aboutText.length > 250)
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';
@import './index.scss';

.about-section {
  $side-space: $base * 2;
  margin-top: $base * 7.5;
  padding-left: $side-space;
  padding-right: $side-space;
  max-width: $base * 115.75 + $side-space * 2;
  margin-left: auto;
  margin-right: auto;

  .section-title {
    margin-bottom: $base * 4.25;
  }
  .spoiler {
    &__content {
      position: relative;
      max-height: $base * 12;
      overflow: hidden;

      &:after {
        content: '';
        display: block;
        width: 100%;
        height: 80%;
        position: absolute;
        pointer-events: none;
        z-index: 10;
        bottom: 0;
        background: linear-gradient(to bottom, rgba($gray, 0), $gray);
      }
    }

    &__toggler {
      margin-top: $base * 2;
      cursor: pointer;
      text-align: center;
      color: $blue;
    }

    &.is-opened,
    &.is-disabled {
      .spoiler__content {
        max-height: none;

        &:after {
          display: none;
        }
      }
    }

    &.is-disabled {
      .spoiler__toggler {
        display: none;
      }
    }
  }

  .content {
    @include text(3);
    text-align: center;
  }

  @media (max-width: $sideShow) {
  }
  @media (max-width: $desktopHD) {
    max-width: $base * 98.5 + $side-space * 2;

    .content {
      max-height: $base * 15.5;
    }
  }
  @media (max-width: $desktopSD) {
    margin-top: $base * 8.75;
    max-width: $base * 76 + $side-space * 2;

    .content {
      max-height: $base * 16;
    }
  }
  @media ($mobile) {
    padding-left: $base;
    padding-right: $base;

    .section-title {
      margin-bottom: $base * 1.75;
    }
    .content {
      @include text(2);
      max-height: $base * 14;
    }
  }
}
</style>
