<template>
  <div class="crumbs-section organizer-promo-wrapper">
    <Breadcrumbs centered class="profile-breadcrumbs">
      <BredItem href="/">{{ $t('common.main') }}</BredItem>
      <BredItem v-if="organizer.title">{{ organizer.title }}</BredItem>
    </Breadcrumbs>
  </div>
</template>

<script>
export default {
  components: {
    Breadcrumbs: () => import('~/components/common/BreadCrumbs'),
    BredItem: () => import('~/components/common/BreadCrumbs/Item'),
  },
  props: {
    organizer: {
      type: Object,
      required: true,
    },
  },
}
</script>

<style src="./index.scss" lang="scss" scoped />
<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.crumbs-section {
  margin-top: $base * 6;

  @media (max-width: $sideShow) {
    margin-top: $base * 8.875;
  }
  @media (max-width: $desktopHD) {
    margin-top: $base * 3.625;
  }
  @media (max-width: $desktopSD) {
  }
  @media ($mobile) {
    margin-top: $base * 3.375;
  }
}
</style>
