<i18n>
{
  "ru": {
    "title": "Связаться с нами",
    "tagline": "Если у вас есть вопросы или предложения, отправьте нам сообщение, и мы свяжемся с вами в течение 24 часов.",
    "manager": {
      "name": "Александра",
      "position": "Менеджер"
    },
    "form": {
      "name": "Ваше имя",
      "email": "Электронная почта",
      "phone": "Контактный телефон",
      "message": "Сообщение",
      "submit": "Отправить"
    },
    "successMessage": "Спасибо за сообщение, мы скоро с вами свяжемся"
  },
  "en": {
    "title": "Contact us",
    "tagline": "If you have questions or suggestions, send us a message and we will contact you within 24 hours.",
    "manager": {
      "name": "Alexandra",
      "position": "Manager"
    },
    "form": {
      "name": "Your Name",
      "email": "Email",
      "phone": "Phone number",
      "message": "Message",
      "submit": "Send"
    },
    "successMessage": "Thank you for your message. We will contact you shortly"
  },
  "es": {
    "title": "Contáctanos",
    "tagline": "Si tienes preguntas o sugerencias, envíenos un mensaje y nos pondremos en contacto contigo dentro de las 24 horas.",
    "manager": {
      "name": "Alexandra",
      "position": "Administrador"
    },
    "form": {
      "name": "Tu nombre",
      "email": "Email",
      "phone": "Número de teléfono",
      "message": "Mensaje",
      "submit": "Enviar"
    },
    "successMessage": "Gracias por tu mensaje. Contactaremos contigo en breve."
  }
}
</i18n>

<template>
  <div class="feedback-section organizer-promo-wrapper">
    <h2 class="section-title" v-text="$t('title')" />
    <div class="content">
      <div class="manager">
        <div class="manager__avatar">
          <picture class="avatar">
            <source
              srcset="
                ~static/tickets-promo/manager/alexandra.jpg    1x,
                ~static/tickets-promo/manager/alexandra@2x.jpg 2x,
                ~static/tickets-promo/manager/alexandra@3x.jpg 3x
              "
              type="image/png"
            />
            <img
              src="~static/tickets-promo/manager/alexandra.jpg"
              :alt="$t('manager.name')"
            />
          </picture>
        </div>
        <div class="manager__content">
          <p class="tagline" v-text="$t('tagline')" />
          <div class="manager__desc">
            <p class="name" v-text="$t('manager.name')" />
            <p class="position" v-text="$t('manager.position')" />
          </div>
        </div>
      </div>
      <form class="form" @submit.prevent="onSubmit">
        <div class="col">
          <label class="form-row">
            <span class="label" v-text="$t('form.name')" />
            <input
              v-model="form.name"
              :disabled="isSending"
              :class="{ error: !!errors.name || $v.form.name.$error }"
              class="input"
              @input="errors.name = null"
            />
          </label>
          <label class="form-row">
            <span class="label" v-text="$t('form.email')" />
            <MailInput
                v-model="form.email"
                :disabled="isSending"
                :error="!!errors.email || $v.form.email.$error"
                styles="height: 56px; border-color: #000;"
                @input="errors.email = null"
            />
          </label>
          <label class="form-row">
            <span class="label" v-text="$t('form.phone')" />
            <input
              v-model="form.phone"
              :disabled="isSending"
              :class="{ error: !!errors.phone || $v.form.phone.$error }"
              type="tel"
              class="input"
              @input="errors.phone = null"
            />
          </label>
        </div>
        <div class="col col-message">
          <label class="form-row">
            <span class="label" v-text="$t('form.message')" />
            <textarea
              v-model="form.message"
              :disabled="isSending"
              :class="{ error: !!errors.message || $v.form.message.$error }"
              class="textarea"
              @input="errors.message = null"
            />
          </label>
        </div>
        <div class="col col-full">
          <div class="form-row">
            <Button
              class="submit"
              type="submit"
              :color="mainColor"
              :disabled="isSending"
              :class="{ error: !!errors.phone }"
              invert
              fullWidth
            >
              {{ $t('form.submit') }}
            </Button>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import { path } from 'ramda'
import { email, required } from 'vuelidate/lib/validators'

const defaultForm = () => ({
  name: '',
  email: '',
  phone: '',
  message: '',
  action: 7,
})

export default {
  components: {
    Button: () => import('~/components/common/buttons/YetAnotherButton'),
    MailInput: () => import('~/components/common/input/MailInput'),
  },
  props: {
    organizer: {
      type: Object,
      required: true,
    },
  },
  data: () => ({
    form: defaultForm(),
    isSending: false,
    errors: {},
  }),
  computed: {
    mainColor() {
      return path(['logo', 'main_color'], this.organizer)
    },
  },
  validations: {
    form: {
      name: { required },
      email: { required, email },
      phone: { required, isPhone: v => /^[\d-+()]+$/.test(v) },
      message: { required },
    },
  },
  methods: {
    ...mapActions('user', ['SEND_ORGANIZER_REQUEST']),

    ...mapActions({
      showError: 'notifications/error',
      showSuccess: 'notifications/success',
    }),

    async onSubmit() {
      this.errors = {}
      this.$v.$touch()
      if (!this.$v.$error) {
        try {
          const path = this.$route.fullPath
          this.isSending = true
          const { id } = this.organizer
          await this.SEND_ORGANIZER_REQUEST({ ...this.form, id, path })
          this.form = defaultForm()
          this.showSuccess(this.$t('successMessage'))
        } catch (err) {
          if (err.response) {
            const { status, data } = err.response
            if (status === 400) {
              this.errors = data
            }
          } else {
            this.showError(err.message)
          }
        } finally {
          this.isSending = false
          this.$v.$reset()
        }
      }
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';
@import './index.scss';

.feedback-section {
  margin-top: $base * 16.25;

  .section-title {
    margin-bottom: $base * 1.625;
  }

  .content {
    background: #fff;
    padding: ($base * 6) ($base * 7) ($base * 7);
  }

  .manager {
    display: flex;
    align-items: stretch;

    &__avatar {
      margin-right: $base * 6;
      flex-grow: 0;
      flex-shrink: 0;

      .avatar {
        position: relative;
        left: $base / 2;
      }
    }
    &__content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &__desc {
      margin-top: $base * 2;

      > * {
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    .tagline {
      margin-top: $base;
      margin-bottom: 0;
    }
    .name {
      font-weight: bold;
    }
  }

  .avatar {
    display: block;
    width: $base * 16;
    height: $base * 16;
    border-radius: 50%;
    overflow: hidden;

    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  .form {
    padding-top: $base * 0.75;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;

    &-row {
      display: block;
      margin-top: $base * 3.5;
    }

    $space-between: $base * 3;
    margin-left: -($space-between / 2);
    margin-right: -($space-between / 2);

    .col {
      flex: 0 0 50%;
      padding-left: $space-between / 2;
      padding-right: $space-between / 2;

      &-message {
        display: flex;
        flex-direction: column;
        align-items: stretch;

        .form-row {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
        }
        .label {
          flex-grow: 0;
          flex-shrink: 0;
        }
        .textarea {
          flex: 1;
        }
      }

      &-full {
        margin-top: $base * 1.5;
        flex: 0 0 100%;
      }
    }
  }

  .label {
    @include text(1.5);
    display: block;
    margin-bottom: $base * 1.125;
  }
  .input,
  .textarea {
    border: 1px solid #000;
    font-size: $base * 2 !important;
    line-height: $base * 3 !important;

    &:focus {
      border-color: transparent;
    }

    &.error {
      box-shadow: 0 0 0 2px $red;
    }
  }

  .input {
    height: $base * 7;
  }

  .submit {
    text-transform: uppercase;
    height: $base * 8;
    letter-spacing: 0.8px;
  }

  @media (max-width: $sideShow) {
    margin-top: $base * 12.25;
  }
  @media (max-width: $desktopHD) {
    margin-top: $base * 12.5;
  }
  @media (max-width: $desktopSD) {
    margin-top: $base * 8.375;

    .content {
      padding: ($base * 6) ($base * 4) ($base * 4);
    }

    .manager {
      &__avatar {
        margin-right: $base;
      }
      .avatar {
        left: -$base;
      }
    }

    .form {
      flex-direction: column;
      align-items: normal;
      margin-top: -1px;

      &-row {
        margin-top: $base * 2.5;
      }

      margin-left: 0;
      margin-right: 0;

      .col {
        padding-left: 0;
        padding-right: 0;

        &-message {
          &,
          .form-row {
            display: block;
          }
          .textarea {
            height: $base * 15;
          }
        }
        &-full {
          margin-top: 0;
        }
      }
    }
  }
  @media ($mobile) {
    margin-top: $base * 7.125;

    .section-title {
      margin-bottom: $base * 3;
    }

    .content {
      padding: ($base * 2) ($base * 2) ($base * 4);
    }

    .manager {
      margin-top: -1px;
      flex-direction: column;

      &__avatar {
        display: flex;
        justify-content: center;
        margin-right: 0;
        margin-left: 0;

        .avatar {
          width: $base * 10;
          height: $base * 10;
          position: static;
        }
      }
      &__content {
        justify-content: normal;
        margin-top: $base * 2;
        text-align: center;
      }

      &__desc {
        margin-top: $base * 2;
      }

      .tagline {
        margin-top: 0;
      }
    }

    .form {
      padding-top: 0;
      margin-top: -1px;

      .col {
        &-full {
          margin-top: $base / 2;
        }
      }
    }

    .submit {
      @include text(1.75);
    }
  }
}
</style>
