<i18n>
{
  "ru": {
    "menu": {
      "aboutUs": "About us",
      "privacyPolice": "Privacy Police",
      "termsAndConditions": "Terms & Conditions",
      "cookiePolice": "Cookie Police",
      "contactUs": "Contact Us",
      "sitemap": "Site Map"
    },
    "address": "191 Shakespeare St., San Francisco, CA 94112"
  },
  "en": {
    "menu": {
      "aboutUs": "About us",
      "privacyPolice": "Privacy Police",
      "termsAndConditions": "Terms & Conditions",
      "cookiePolice": "Cookie Police",
      "contactUs": "Contact Us",
      "sitemap": "Site Map"
    },
    "address": "191 Shakespeare St., San Francisco, CA 94112"
  },
  "es": {
    "menu": {
      "aboutUs": "Sobre nosotros",
      "privacyPolice": "Política de Privacidad",
      "termsAndConditions": "Términos y Condiciones",
      "cookiePolice": "Política de cookies",
      "contactUs": "Contáctanos",
      "sitemap": "Mapa del sitio web"
    },
    "address": "191 Shakespeare St., San Francisco, CA 94112"
  }
}
</i18n>

<template>
  <div class="footer-section">
    <div class="footer-section__inner">
      <div class="footer-section__left">
        <ul class="menu">
          <li class="row">
            <WLink :to="{ name: 'about' }" color="black">
              {{ $t('menu.aboutUs') }}
            </WLink>
          </li>
          <li class="row">
            <WLink
              href="/docs/privacy_policy.pdf"
              color="black"
              target="_blank"
            >
              {{ $t('menu.privacyPolice') }}
            </WLink>
          </li>
          <li v-if="termsLink" class="row">
            <WLink :href="termsLink" color="black" target="_blank">
              {{ $t('menu.termsAndConditions') }}
            </WLink>
          </li>
          <!--<li class="row">
            <WLink href="#" color="black">
              {{ $t('menu.cookiePolice') }}
            </WLink>
          </li>-->
          <li class="row">
            <WLink href="mailto:hello@whatwhere.world" color="black">
              {{ $t('menu.contactUs') }}
            </WLink>
          </li>
          <li class="row">
            <WLink href="/sitemap.xml" color="black">
              {{ $t('menu.sitemap') }}
            </WLink>
          </li>
        </ul>
        <p class="location" v-text="$t('address')" />
      </div>
      <div class="footer-section__right">
        <ul class="paysystems">
          <li class="paysystem">
            <img src="~static/icons/paysystems/visa.svg" alt="Visa" />
          </li>
          <li class="paysystem">
            <img
              src="~static/icons/paysystems/mastercard.svg"
              alt="MasterCard"
            />
          </li>
          <li class="paysystem">
            <img src="~static/icons/paysystems/maestro.svg" alt="Maestro" />
          </li>
          <li class="paysystem">
            <img
              src="~static/icons/paysystems/american-express.svg"
              alt="American Express"
            />
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  components: {
    WLink: () => import('~/components/common/WLink'),
  },
  computed: {
    ...mapGetters('lang', ['LANG']),

    termsLink() {
      return this.LANG === 'ru'
        ? `/docs/terms.where.world.${this.LANG}.pdf`
        : null
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.footer-section {
  $side-space: $base * 3;
  margin-top: $base * 18.5;
  padding-left: $side-space;
  padding-right: $side-space;
  max-width: $base * 163 + $side-space * 2;
  margin-left: auto;
  margin-right: auto;

  &__inner {
    border-top: 2px solid rgba($dark-gray, 0.5);
    padding-top: $base * 5;
    padding-bottom: $base * 5;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__left {
    max-width: $base * 113;
    flex: 1 1;
    display: flex;
    align-items: flex-start;
  }
  &__right {
    flex: 0 0;
  }

  .menu,
  .location {
    .row {
      display: block;
    }
  }

  .menu {
    flex: 0 0 (100% / 3 * 2);
    display: flex;
    flex-wrap: wrap;

    .row {
      flex: 0 0 50%;
    }
  }
  .location {
    flex: 0 0 (100% / 3);
    margin: 0;
  }

  .paysystems {
    display: flex;
    align-items: center;
  }
  .paysystem {
    &:not(:last-child) {
      margin-right: $base * 4;
    }

    img {
      display: block;
      max-width: $base * 7;
      max-height: $base * 4;
      height: auto;
    }
  }

  @media (max-width: $sideShow) {
    margin-top: $base * 13.5;
    max-width: $base * 120 + $side-space * 2;

    &__inner {
      padding-top: $base * 4;
      flex-direction: column-reverse;
      align-items: normal;
    }
    &__left {
      max-width: none;
    }
    &__right {
      margin-bottom: $base * 5.25;
      display: flex;
      justify-content: center;
    }
  }

  @media (max-width: $desktopHD) {
    margin-top: $base * 7.25;
    max-width: $base * 112.5 + $side-space * 2;

    &__right {
      margin-bottom: $base * 4;
    }
  }

  @media (max-width: $desktopSD) {
    max-width: $base * 80 + $side-space * 2;

    &__left {
      flex-direction: column;
      align-items: stretch;

      padding-left: $base * 2;
    }

    .menu {
      margin-bottom: $base * 5;

      .row {
        flex: 0 0 (100% / 3);

        // &:nth-child(1) {
        //   order: 1;
        // }
        // &:nth-child(2) {
        // order: 4;
        // }
        // &:nth-child(3) {
        // order: 2;
        // }
        // &:nth-child(4) {
        // order: 5;
        // }
        // &:nth-child(5) {
        // order: 3;
        // }
        // &:nth-child(6) {
        // order: 6;
        // }
      }
    }

    .location {
      text-align: center;
    }
  }

  @media ($mobile) {
    margin-top: $base * 10.75;

    &__left {
      padding-left: 0;
    }
    .menu {
      margin-bottom: $base * 4;
      justify-content: space-between;

      .row {
        flex: 0 0 45%;

        // &:nth-child(1) {
        //   order: 1;
        // }
        // &:nth-child(2) {
        //   order: 3;
        // }
        // &:nth-child(3) {
        //   order: 5;
        // }
        // &:nth-child(4) {
        //   order: 2;
        // }
        // &:nth-child(5) {
        //   order: 4;
        // }
        // &:nth-child(6) {
        //   order: 6;
        // }
      }
    }
    .location {
      text-align: left;
    }
    &__right {
      margin-bottom: $base * 4.75;
    }
  }
}
</style>
