<i18n>
{
  "ru": {
    "ctaButton": "КУПИТЬ БИЛЕТЫ",
    "advantages": [
      {
        "icon": "icons/shield-check.svg",
        "title": "Безопасная покупка"
      },
      {
        "icon": "icons/theater.svg",
        "title": "Лучшие места"
      },
      {
        "icon": "icons/delivery.svg",
        "title": "Бесплатная доставка"
      }
    ]
  },
  "en": {
    "ctaButton": "BUY TICKETS",
    "advantages": [
      {
        "icon": "icons/shield-check.svg",
        "title": "Safe Purchase"
      },
      {
        "icon": "icons/theater.svg",
        "title": "Best seats"
      },
      {
        "icon": "icons/delivery.svg",
        "title": "Free delivery"
      }
    ]
  },
  "es": {
    "ctaButton": "COMPRAR ENTRADAS",
    "advantages": [
      {
        "icon": "icons/shield-check.svg",
        "title": "Compra segura"
      },
      {
        "icon": "icons/theater.svg",
        "title": "Mejores asientos"
      },
      {
        "icon": "icons/delivery.svg",
        "title": "Entrega gratis"
      }
    ]
  }
}
</i18n>

<template>
  <div class="hero-section">
    <div v-if="cover" class="hero-section__bg">
      <AsyncImage
        :image="cover.image"
        :width="cover.original_width"
        :height="cover.original_height"
        class="image"
      />
    </div>
    <div class="hero-section__content">
      <div v-if="logo" class="logo">
        <Logo :image="logo" :alt="organizer.title" border />
      </div>
      <h1 class="title" v-text="organizer.title" />
      <p v-if="organizer.tagline" class="tagline" v-html="organizer.tagline" />
      <div>
        <Button
          class="button"
          fullWidth
          :color="mainColor"
          :style="{
            boxShadow: `0 24px 24px -16px ${mainColor}`,
          }"
          @click.native="$emit('btn:click')"
        >
          <Icon class="icon" src="icons/book.svg" />
          {{ $t('ctaButton') }}
        </Button>
      </div>
      <ul class="advantages">
        <li
          v-for="advantage in $t('advantages')"
          :key="advantage.title"
          class="advantage"
        >
          <div class="advantage__icon">
            <Icon
              v-if="advantage.icon"
              :src="advantage.icon"
              :style="{ color: mainColor }"
              class="icon"
            />
          </div>
          <div class="advantage__title" v-text="advantage.title" />
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import { path } from 'ramda'

export default {
  components: {
    Icon: () => import('~/components/common/Icon'),
    Logo: () => import('~/components/common/Logo'),
    AsyncImage: () => import('~/components/common/AsyncImage'),
    Button: () => import('~/components/common/buttons/YetAnotherButton'),
  },
  props: {
    organizer: {
      type: Object,
      required: true,
    },
  },
  computed: {
    mainColor() {
      return path(['logo', 'main_color'], this.organizer)
    },

    logo() {
      return path(['logo', 'image'], this.organizer)
    },

    cover() {
      return path(['cover'], this.organizer)
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.hero-section {
  position: relative;
  padding: ($base * 14) 0;

  &__bg {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    .image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    background: #fff;
    margin-left: auto;
    margin-right: auto;
    max-width: $base * 74;
    padding: 1px ($base * 4.75) ($base * 4);

    > * {
      margin: 0;
    }

    .logo {
      $size: $base * 11;
      width: $size;
      height: $size;
      margin: -($size / 2) auto 0;
    }

    .title {
      @include text(5);
      font-weight: bold;
      text-align: center;
      margin: $base 0 ($base * 1.5);
    }

    .tagline {
      @include text(3);
      text-align: center;
      margin: 0 auto;
      max-width: $base * 52.5;
    }

    .button {
      margin: ($base * 2.75) auto 0;
      max-width: $base * 52.5;
      height: $base * 10;
      letter-spacing: 0.8px;

      .icon {
        margin-right: $base * 3;
        position: relative;
        top: 2px;
      }
    }

    .advantages {
      margin-top: 40px;
      display: flex;
      justify-content: space-between;

      margin-left: -($base * 1.5);
    }
    .advantage {
      margin-left: $base * 1.5;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &__icon {
        width: $base * 3;
        height: $base * 3;

        .icon {
          color: $blue;
          width: 100%;
          height: 100%;
        }
      }
      &__title {
        @include text(2);
        text-align: center;
      }
    }
  }

  @media (max-width: $desktopHD) {
    padding: ($base * 11) ($base * 6) 0;

    &__bg {
      bottom: $base * 8;
    }

    &__content {
      max-width: $base * 62;

      .title {
        @include text(4);
      }

      .tagline {
        @include text(2);
        max-width: $base * 40;
      }

      .button {
        max-width: $base * 40;
        margin-top: $base * 2;
        height: $base * 9;
      }

      .advantage {
        &__icon {
          margin-bottom: $base * 0.75;
        }
        &__title {
          @include text(1.5);
          line-height: $base * 2;
        }
      }
    }
  }
  @media ($mobile) {
    padding-top: $base * 25;
    padding-left: 0;
    padding-right: 0;

    &__bg {
      bottom: auto;
      height: $base * 25;
    }
    &__content {
      padding: 1px ($base * 3) ($base * 3);

      .title {
        @include text(3);
        margin-top: $base * 1.25;
        margin-bottom: $base * 2.75;
        height: $base * 8;
      }

      .button {
        margin-top: $base * 3;
      }

      .advantages {
        justify-content: space-around;
      }
    }
  }
}
</style>
