@import '~/assets/css/variables.scss';

.organizer-promo-wrapper {
  $side-space: $base * 2;
  max-width: $base * 107 + $side-space * 2;
  padding-left: $side-space;
  padding-right: $side-space;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: $desktopSD) {
    max-width: ($base * 80) + ($side-space * 2);
  }
  @media ($mobile) {
    padding-left: $base;
    padding-right: $base;
  }
}

.section-title {
  @include text(4);
  text-align: center;
  font-weight: bold;

  @media ($mobile) {
    @include text(3);
  }
}
