<template>
  <div class="organizer-tickets-promo">
    <div
      :style="{ color: mainColor }"
      class="callme-float-label"
      @click="openCallMePopover()"
    >
      <Icon src="icons/phone-tube-call.svg" class="icon" />
    </div>
    <Hero :organizer="organizer" @btn:click="scrollToEvents" />
    <Crumbs :organizer="organizer" />
    <Events ref="events" :organizer="organizer" />
    <Feedback :organizer="organizer" />
    <!--<Map :organizer="organizer" />-->
    <About :organizer="organizer" />
    <Footer />
  </div>
</template>

<script>
import { path } from 'ramda'
import { mapMutations, mapActions } from 'vuex'
import { scrollToElement } from '~/utils'
import popovers from '~/utils/popoverConsts'
import Hero from './Hero'
import Crumbs from './Crumbs'
import Events from './Events'
import Feedback from './Feedback'
// import Map from './Map'
import About from './About'
import Footer from './Footer'

export default {
  components: {
    Icon: () => import('~/components/common/Icon'),
    Hero,
    Crumbs,
    Events,
    Feedback,
    // Map,
    About,
    Footer,
  },
  props: {
    organizer: {
      type: Object,
      required: true,
    },
  },
  computed: {
    popovers: () => popovers,

    mainColor() {
      return path(['logo', 'main_color'], this.organizer)
    },
  },
  methods: {
    ...mapMutations('popovers', ['SET_POPOVER_DATA']),
    ...mapActions({
      togglePopover: 'popovers/TOGGLE_POPOVER',
    }),

    scrollToEvents() {
      const element = path(['events', '$el'], this.$refs)
      if (!element) return

      element && scrollToElement({ element, align: 'top' })
    },

    openCallMePopover() {
      this.SET_POPOVER_DATA({ color: this.mainColor })
      this.togglePopover(popovers.callMe)
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.organizer-tickets-promo {
  @include prevent-body-padding;

  .callme-float-label {
    position: fixed;
    z-index: 2;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    cursor: pointer;
    width: $base * 12;
    height: $base * 12;
    background: #fff;
    box-shadow: 0 0 50px 0 rgba(169, 184, 203, 0.18);
    color: $blue;

    display: flex;
    align-items: center;
    justify-content: center;

    .icon {
      width: $base * 4;
      height: $base * 4;
    }

    @media (max-width: $desktopSD) {
      width: $base * 9;
      height: $base * 9;

      .icon {
        width: $base * 3;
        height: $base * 3;
      }
    }
  }
}
</style>
