<template>
  <div v-if="locations.length" class="map-section">
    <div class="locations-outer">
      <div class="locations">
        <div
          v-for="location in locations"
          :key="location.address"
          :class="{ 'is-expanded': location === activeLocation }"
          class="location"
        >
          <div class="header" @click="activeLocation = location">
            <p class="addr">
              <i class="icon ww-icn-map-marker" />
              <span v-text="location.address" />
              <i class="arrow arrow-down" />
            </p>
            <ul v-if="metro.length" class="metro">
              <li
                v-for="(station, metroIdx) in metro"
                :key="metroIdx"
                class="metro__item"
              >
                <i class="dot" />
                <span class="title" v-text="station" />
              </li>
            </ul>
          </div>
          <div class="content">
            <ul class="list">
              <li v-for="phone in phones" :key="phone">
                <a :href="`tel:${phone}`" v-text="phone" />
              </li>
              <li v-for="email in emails" :key="email">
                <a :href="`mailto:${email}`" class="link" v-text="email" />
              </li>
              <li v-for="link in links" :key="link">
                <a :href="link" class="link" target="_blank" v-text="link" />
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!--<GMap :location="activeLocation" class="map" />-->
  </div>
</template>

<script>
export default {
  components: {
    // GMap: () => import('~/components/common/GMap'),
  },
  props: {
    organizer: {
      type: Object,
      required: true,
    },
  },
  data: () => ({
    location: null,
  }),
  computed: {
    locations() {
      return []
        .concat(this.organizer.address)
        .filter(Boolean)
        .map(address => (typeof address === 'string' ? { address } : address))
    },
    metro() {
      return [].concat(this.organizer.metro).filter(Boolean)
    },
    phones() {
      return [].concat(this.organizer.phones).filter(Boolean)
    },
    emails() {
      return [].concat(this.organizer.emails).filter(Boolean)
    },
    links() {
      return [].concat(this.organizer.links).filter(Boolean)
    },

    activeLocation: {
      get() {
        return this.location || this.locations[0]
      },
      set(location) {
        this.location = location
      },
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.map-section {
  $map-height: $base * 59;
  $side-space: $base * 2;

  max-width: $base * 186;
  margin: ($base * 7) auto 0;
  min-height: $map-height;
  position: relative;

  .map {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    /deep/ .vue-map-container {
      height: $map-height;
    }
  }

  .locations-outer {
    display: flex;
    justify-content: flex-end;
    padding-left: $side-space;
    padding-right: $side-space;
    max-width: $base * 162 + ($side-space * 2);
    margin-left: auto;
    margin-right: auto;
  }
  .locations {
    width: $base * 42;
    margin-top: $base * 12.375;
    position: relative;
    z-index: 2;
  }

  .location {
    margin-top: 1px;
    box-shadow: 0 0 15px 0 rgba(209, 220, 234, 0.3);

    .addr {
      @include text(2);
      line-height: $base * 2.5;
      display: flex;

      .icon {
        font-size: $base * 1.5;
        margin-right: $base * 1.125;
        margin-top: 3px;

        &,
        &::before {
          display: block;
        }
      }
    }

    .header,
    .content {
      padding: ($base * 3.25) ($base * 2.75) ($base * 2.25);

      > * {
        margin: 0;
      }
    }

    &.is-expanded {
      background: #fff;
      position: relative;
      z-index: 2;

      .header {
        border-bottom: 2px solid $gray;
      }

      .content {
        padding-top: $base * 1.875;
        padding-bottom: $base * 1.875;
      }

      .addr {
        font-weight: bold;
      }
      .arrow {
        display: none;
      }

      .metro {
        display: flex;
        flex-wrap: wrap;
        margin-top: $base * 0.75;
        margin-bottom: -($base * 1.25);
        margin-left: $base * 0.625;

        &__item {
          @include text(1.5);
          margin-right: $base * 2.125;
          display: flex;
          align-items: center;

          .title {
            opacity: 0.4;
          }

          .dot {
            width: 4px;
            height: 4px;
            border-radius: 50%;
            display: block;
            margin-right: $base * 1.25;
          }

          &:nth-child(odd) {
            .dot {
              background: #a067df;
            }
          }
          &:nth-child(even) {
            .dot {
              background: #feb02e;
            }
          }
        }
      }

      .list {
        > * {
          margin: 0;
        }

        .link {
          color: $blue;
        }
      }
    }

    &:not(.is-expanded) {
      background: $gray;

      .header {
        cursor: pointer;

        > * {
          opacity: 0.4;
          margin: 0;
        }
        .arrow {
          margin-left: auto;
          margin-top: $base;
          margin-right: 2px;
        }
      }
      .metro,
      .content {
        display: none;
      }

      .addr {
      }
    }
  }

  .arrow-up {
    border-style: solid;
    border-width: 0 4px 4px 4px;
    border-color: transparent transparent currentColor transparent;
    width: 0;
    height: 0;
    line-height: 0;
    font-size: 0;
  }

  .arrow-down {
    border-style: solid;
    border-width: 4px 4px 0 4px;
    border-color: currentColor transparent transparent transparent;
    width: 0;
    height: 0;
    line-height: 0;
    font-size: 0;
  }

  @media (max-width: $sideShow) {
    margin-top: $base * 6;

    .locations-outer {
      max-width: $base * 133.75 + ($side-space * 2);
      padding-left: $side-space;
      padding-right: $side-space;
    }
  }
  @media (max-width: $desktopHD) {
    .locations-outer {
      max-width: $base * 107 + ($side-space * 2);
    }
  }
  @media (max-width: $desktopSD) {
    margin-top: $base * 5;

    .locations {
      margin-top: $base * 3;
    }
  }
  @media ($mobile) {
    margin-top: $base * 2;

    .locations {
      margin-top: $base * 38.25;
    }
  }
}
</style>
