<template>
  <button
    :disabled="disabled"
    class="panel-button"
    :class="{
      'panel-button--disabled': disabled,
      'panel-button--big-padding': bigPadding,
      'panel-button--full-width': fullWidth
    }"
    @click="$emit('click', $event)"
  >
    <span v-if="$slots.leftIcon" class="panel-button__icon-left">
      <slot name="leftIcon" />
    </span>

    <slot />

    <span v-if="$slots.rightIcon" class="panel-button__icon-right">
      <slot name="rightIcon" />
    </span>
  </button>
</template>

<script>
export default {
  name: 'PanelButton',

  props: {
    disabled: Boolean,
    bigPadding: Boolean,
    fullWidth: Boolean,
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.panel-button {
  @include text(1.5);
  padding: 14px 8px;
  font-weight: bold;
  letter-spacing: 0.6px;
  max-height: 66.5px;
  min-width: 100px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  background-color: $blue;

  @media (min-width: $desktopSD) {
    @include text(2);
    letter-spacing: 0.8px;
    padding: 16px 8px;
  }

  &--big-padding {
    padding: 14px 8px;

    @media (min-width: $desktopSD) {
      padding: 16px 48px;
    }
  }

  &--full-width {
    width: 100%;
  }

  &--disabled {
    color: #dde2e6;
    background-color: #fff;
    cursor: not-allowed;
  }

  &__icon-right {
    margin-left: 12px;
    display: inline-flex;

    @media (min-width: $desktopSD) {
      margin-left: 20px;
    }
  }

  &__icon-left {
    margin-right: 12px;
    display: inline-flex;

    @media (min-width: $desktopSD) {
      margin-right: 20px;
    }
  }
}
</style>