@font-face {
  font-family: 'Futura PT';
  src: url('FuturaPT-Medium.eot');
  src: local('Futura PT Medium'), local('FuturaPT-Medium'),
    url('FuturaPT-Medium.eot?#iefix') format('embedded-opentype'),
    url('FuturaPT-Medium.woff') format('woff'),
    url('FuturaPT-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT Demi';
  src: url('FuturaPT-Demi.eot');
  src: local('Futura PT Demi'), local('FuturaPT-Demi'),
    url('FuturaPT-Demi.eot?#iefix') format('embedded-opentype'),
    url('FuturaPT-Demi.woff') format('woff'),
    url('FuturaPT-Demi.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
