<template>
  <div
    class="datetime"
    :class="{
      'datetime--medium': medium,
      'datetime--small': small,
      'datetime--smaller': smaller,
      'datetime--tiny': tiny,
      'datetime--no-wrap': notWrap,
      [`datetime--color-${color}`]: color,
    }"
  >
    <template v-if="dateTime">
      <div class="date">
        <div class="date__number">{{ dateTime.date }}</div>
        <div class="date__day">{{ dateTime.day }}</div>
        <div class="date__month">{{ dateTime.month }}</div>
      </div>
      <div v-if="startTime" class="datetime__slash">/</div>

      <div v-if="!hasMeridiem && startTime" class="datetime__time">
        {{ dateTime.time || dateTime.year }}
      </div>
      <div v-else-if="startTime" class="date">
        <div class="date__number">{{ dateTime.time }}</div>
        <div class="date__day date__meridiem">{{ dateTime.meridiem }}</div>
        <div class="date__month"></div>
      </div>
    </template>
    <template v-else-if="message">{{ message }}</template>
    <template v-else-if="period">
      <div class="period">
        <div class="date">
          <div class="date__number">{{ period[0].date }}</div>
          <div class="date__day">{{ period[0].day }}</div>
          <div class="date__month">{{ period[0].month }}</div>
        </div>
        <div class="datetime__slash">—</div>
        <div class="date">
          <div class="date__number">{{ period[1].date }}</div>
          <div class="date__day">{{ period[1].day }}</div>
          <div class="date__month">{{ period[1].month }}</div>
        </div>
        <div v-if="hasPeriodTimeYear" class="datetime__slash" />
      </div>
      <div v-if="hasPeriodTimeYear" class="datetime__time">
        {{ period[0].time || period[0].year }}
      </div>
    </template>
  </div>
</template>

<script>
import { prop } from 'ramda'
import {
  makeEventDate,
  formatDateToObj,
  makeEventDateMain,
} from '~/utils/formatDate'

export default {
  name: 'DateTime',

  props: {
    start: String,
    end: String,
    medium: Boolean,
    small: Boolean,
    smaller: Boolean,
    tiny: Boolean,
    hasPeriodTimeYear: Boolean,
    startTime: {
      type: Boolean,
      default: true
    },
    /**
     * Prevent parts of date block wrap on next line
     */
    notWrap: Boolean,
    format: {
      type: String,
      default: 'default',
      validator: v => ['default', 'main'].indexOf(v) !== -1,
    },
    color: {
      type: String,
      validator: v => ['white', 'grey'].indexOf(v) !== -1,
    },
  },

  computed: {
    timeConfig() {
      if (this.format === 'main') {
        return makeEventDateMain({
          start: this.start,
          end: this.end,
          timeLT: this.hasPeriodTimeYear,
        })
      }

      const dateTime = makeEventDate({
        start: this.start,
        end: this.end,
      })

      return {
        dateTime: formatDateToObj({
          dateTime,
          small: this.small || this.smaller || this.tiny,
        }),
      }
    },
    dateTime() {
      return prop('dateTime', this.timeConfig)
    },
    message() {
      return prop('message', this.timeConfig)
    },
    period() {
      return prop('period', this.timeConfig)
    },
    hasMeridiem() {
      /**
       * If en – display 12 hours format and small am/pmm
       * ru - display 24 hours
       */
      return prop('meridiem', this.dateTime)
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.datetime {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  font-size: 40px;
  font-weight: bold;
  line-height: 1;
  padding: 24px 0;

  &--color-white {
    color: #fff;

    .date {
      .date__day {
        color: #fff;
      }
    }
  }

  &--color-grey {
    color: #fff;

    .date {
      .date__day {
        color: #c6c7c8;
      }
    }
  }

  @media (min-width: $desktopHD) {
    font-size: 56px;
    font-weight: bold;
    line-height: 0.71;
    padding: 24px 0;
  }

  .period {
    display: flex;
  }

  .date {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-column-gap: 8px;

    &__number {
      grid-column: 1;
      grid-row: 1 / 3;
    }

    &__day {
      font-size: 16px;
      font-weight: normal;
      color: $red;
      text-transform: uppercase;
    }

    &__month {
      font-size: 16px;
      @media (min-width: $desktopHD) {
        font-size: 24px;
        line-height: 1.5;
      }
    }

    &__meridiem {
      color: inherit;
    }
  }

  &--medium {
    font-size: 16px;
    padding: 2px 0;

    @media (min-width: $desktopSD) {
      font-size: 40px;
      padding: 6px 0;
    }

    .date {
      line-height: 1;

      &__day {
        font-size: 6px;

        @media (min-width: $desktopSD) {
          font-size: 12px;
        }
      }

      &__month {
        font-size: 10px;
        line-height: 1;

        @media (min-width: $desktopSD) {
          font-size: 16px;
        }
      }
    }

    .datetime__slash {
      margin: 0 6px;
      line-height: 0.8;

      @media (min-width: $desktopSD) {
        margin: 0 12px;
      }
    }

    .datetime__time {
      line-height: 1;
    }
  }

  &--small {
    font-size: 16px;
    padding: 2px 0;

    @media (min-width: $desktopSD) {
      font-size: 32px;
      padding: 6px 0;
    }

    .date {
      line-height: 1;

      &__day {
        font-size: 6px;

        @media (min-width: $desktopSD) {
          font-size: 12px;
        }
      }

      &__month {
        font-size: 10px;
        line-height: 1;

        @media (min-width: $desktopSD) {
          font-size: 16px;
        }
      }
    }

    .datetime__slash {
      margin: 0 6px;
      line-height: 0.8;

      @media (min-width: $desktopSD) {
        margin: 0 12px;
      }
    }

    .datetime__time {
      line-height: 1;
    }
  }

  /*
    special size for <EventCard smaller />
    no breakpoints
  */
  &--smaller {
    font-size: 16px;
    padding: 2px 0 0;

    .date {
      &__day {
        font-size: 6px;
      }

      &__month {
        font-size: 10px;
        line-height: 1;
      }
    }

    .datetime__slash {
      margin: 0 6px;
    }
  }

  &__slash {
    margin: 0 24px;
    opacity: 0.2;
    line-height: 0.8;
    @media (min-width: $desktopHD) {
      line-height: 0.5;
    }
  }

  &--tiny {
    font-size: 24px;
    padding: 2px 0;
    line-height: 1;

    .date {
      &__day {
        font-size: 12px;
      }

      &__month {
        font-size: 10px;
        line-height: 1;
      }
    }

    .datetime__slash {
      margin: 0 6px;
      line-height: 1;
    }
  }

  &--no-wrap {
    flex-wrap: nowrap;

    .datetime__time {
      white-space: nowrap;
    }
  }
}
</style>
