<i18n>
  {
    "ru": {
      "title": "Чтобы пообщаться с заказчиком, отправьте отклик.",
      "takeProject": "Я хочу взять этот проект",
      "labels": {
        "proposed_price": "Предложите свою цену (оставьте пустым, если не хотите решать сейчас)"
      },
      "placeholders": {
        "message": "Опишите свое предложение"
      }
    },
    "en": {
      "title": "To communicate with the customer, send a response.",
      "takeProject": "I want to take this project",
      "labels": {
        "proposed_price": "Offer your price (leave it blank if you don't want to decide now)"
      },
      "placeholders": {
        "message": "Describe your offer"
      }
    }
  }
</i18n>
<template>
  <div class="reply-create-form">
    <p class="title">{{ $t('title') }}</p>
    <FormRow :error="errors['message']" class="message-row">
      <template slot-scope="{ id, hasError }">
        <FormInput
          :id="id"
          v-model="message"
          variant="bordered"
          :error="hasError"
          component="textarea"
          :placeholder="$t('placeholders.message')"
        />
      </template>
    </FormRow>
    <FormRow :error="errors['proposed_price']" class="price-row">
      <template #label>{{ $t('labels.proposed_price') }}</template>
      <template slot-scope="{ id, hasError }">
        <FormInput
          :id="id"
          v-model="proposed_price"
          class="price"
          variant="bordered"
          type="number"
          :error="hasError"
        >
          <template #icon><span class="currency">₽</span></template>
        </FormInput>
      </template>
    </FormRow>
    <PanelButton
      bigPadding
      class="submit-button"
      @click.native="submit"
    >{{ $t('takeProject') }}
    </PanelButton>
  </div>
</template>
<script>
  import { mapGetters, mapActions } from "vuex"
  import FormRow from '~/components/common/FormRowNew'
  import FormInput from '~/components/common/input/FormInput'
  import { required } from 'vuelidate/lib/validators'

  export default {
    name: 'ReplyCreateForm',
    components: {
      FormRow,
      FormInput,
      PanelButton: () => import('~/components/common/buttons/PanelButton'),
    },
    props: {
      orderId: Number,
    },
    data() {
      return {
        message: null,
        proposed_price: null
      }
    },
    validations() {
      return {
        message: { required },
      }
    },
    computed: {
      ...mapGetters('marketplace/reply', ['SERVER_ERRORS']),
      errors() {
        return {
          message: {
            client: this.$v.message,
            server: this.SERVER_ERRORS.message
          },
          proposed_price: {
            server: this.SERVER_ERRORS.proposed_price
          }
        }
      },
      hasErrors(){
        return this.$v.$error || Object.values(this.errors).filter(error => !!error.server).length > 0
      },
    },
    watch: {
      message() {
        this.$v.message.$reset()
        this.UPDATE_NEW_REPLY({message: this.message})
      },
      proposed_price() {
        this.UPDATE_NEW_REPLY({proposed_price: this.proposed_price})
      },
    },
    mounted() {
      this.RESET_SERVER_ERRORS()
      this.UPDATE_NEW_REPLY({order: this.orderId})
    },
    methods: {
      ...mapActions({
        UPDATE_NEW_REPLY: 'marketplace/reply/UPDATE_NEW_REPLY',
        CREATE_REPLY: 'marketplace/reply/CREATE_REPLY',
        RESET_SERVER_ERRORS: 'marketplace/reply/RESET_SERVER_ERRORS',
        switchPreLoader: 'popovers/SWITCH_PRE_LOADER',
      }),
      checkError(){
        if (this.hasErrors){
          this.$nextTick(() => {
            const el = document.querySelector('[data-form-error]')
            if ( !el ) return false
            el.scrollIntoView({ behavior: 'smooth', block: 'center' })
          })
          return false
        }
        return true
      },
      async submit() {
        this.switchPreLoader(true)
        this.$v.$touch()

        if ( !this.checkError() ) {
          this.switchPreLoader(false)
          return
        }

        await this.CREATE_REPLY()
        this.switchPreLoader(false)
        if (this.checkError()){
          this.$emit('submit')
        }
      },
    }
  }
</script>

<style lang="scss" scoped>
  @import '~/assets/css/variables.scss';
  .reply-create-form {
    .title {
      @include text(1.5);
      margin: 0 auto 16px;

      @media (min-width: $desktopSD) {
        @include text(2);
      }
    }
    .currency {
      font-weight: bold;
    }
    .message-row {
      max-width: 792px;
    }
    .price-row{
      margin-top: 20px;
    }
    .price {
      max-width: 50%;
      @media (max-width: $desktopSD) {
        max-width: 100%;
      }
    }
    .submit-button {
      width: 100%;
      margin-top: 32px;
    }
  }
</style>
<style lang="scss">
  .price-row {
    .form-row__label {
      font-family: Circe-Regular;
      font-size: 16px;
      line-height: 24px;
      font-weight: normal;
    }
  }
  .message-row {
    textarea {
      height: 120px;
    }
  }
</style>