<i18n>
  {
    "ru": {
      "updateReply": "Обновить отклик",
      "labels": {
        "proposed_price": "Предложите свою цену (оставьте пустым, если не хотите решать сейчас)"
      },
      "placeholders": {
        "message": "Опишите свое предложение"
      }
    },
    "en": {
      "updateReply": "Update reply",
      "labels": {
        "proposed_price": "Offer your price (leave it blank if you don't want to decide now)"
      },
      "placeholders": {
        "message": "Describe your offer"
      }
    }
  }
</i18n>
<template>
  <div class="reply-edit-form">
    <FormRow :error="errors['message']" class="row">
      <template slot-scope="{ id, hasError }">
        <FormInput
          :id="id"
          v-model="message"
          variant="bordered"
          :error="hasError"
          component="textarea"
          :placeholder="$t('placeholders.message')"
        />
      </template>
    </FormRow>
    <FormRow :error="errors['proposed_price']" class="row">
      <template #label>{{ $t('labels.proposed_price') }}</template>
      <template slot-scope="{ id, hasError }">
        <FormInput
          :id="id"
          v-model="proposed_price"
          class="price"
          variant="bordered"
          type="number"
          :error="hasError"
        >
          <template #icon><span class="currency">₽</span></template>
        </FormInput>
      </template>
    </FormRow>
    <PanelButton
      bigPadding
      class="submit-button"
      @click.native="submit"
    >{{ $t('updateReply') }}
    </PanelButton>
  </div>
</template>
<script>
  import { mapGetters, mapActions } from "vuex"
  import FormRow from '~/components/common/FormRowNew'
  import FormInput from '~/components/common/input/FormInput'
  import { required } from 'vuelidate/lib/validators'

  export default {
    name: 'ReplyEditForm',
    components: {
      FormRow,
      FormInput,
      PanelButton: () => import('~/components/common/buttons/PanelButton'),
    },
    data() {
      return {
        message: null,
        proposed_price: null
      }
    },
    validations() {
      return {
        message: { required },
      }
    },
    computed: {
      ...mapGetters('marketplace/reply', ['SERVER_ERRORS', 'EDIT_REPLY']),
      errors() {
        return {
          message: {
            client: this.$v.message,
            server: this.SERVER_ERRORS.message
          },
          proposed_price: {
            server: this.SERVER_ERRORS.proposed_price
          }
        }
      },
      hasErrors(){
        return this.$v.$error || Object.values(this.errors).filter(error => !!error.server).length > 0
      },
    },
    watch: {
      message() {
        this.$v.message.$reset()
        this.UPDATE_EDIT_REPLY({message: this.message})
      },
      proposed_price() {
        this.UPDATE_EDIT_REPLY({proposed_price: this.proposed_price})
      },
    },
    mounted() {
      this.RESET_SERVER_ERRORS()
      const { message, proposed_price } = this.EDIT_REPLY
      this.message = message
      this.proposed_price = proposed_price
    },
    methods: {
      ...mapActions({
        UPDATE_EDIT_REPLY: 'marketplace/reply/UPDATE_EDIT_REPLY',
        UPDATE_REPLY: 'marketplace/reply/UPDATE_REPLY',
        RESET_SERVER_ERRORS: 'marketplace/reply/RESET_SERVER_ERRORS',
        switchPreLoader: 'popovers/SWITCH_PRE_LOADER',
      }),
      checkError(){
        if (this.hasErrors){
          this.$nextTick(() => {
            const el = document.querySelector('[data-form-error]')
            if ( !el ) return false
            el.scrollIntoView({ behavior: 'smooth', block: 'center' })
          })
          return false
        }
        return true
      },
      async submit() {
        this.switchPreLoader(true)
        this.$v.$touch()

        if ( !this.checkError() ) {
          this.switchPreLoader(false)
          return
        }

        await this.UPDATE_REPLY({id: this.EDIT_REPLY.id})
        this.switchPreLoader(false)
        if (this.checkError()){
          this.$emit('submit')
        }
      },
    }
  }
</script>

<style lang="scss" scoped>
  @import '~/assets/css/variables.scss';
  .reply-edit-form {
    .currency {
      font-weight: bold;
    }
    .row + .row {
      margin-top: 3 * $base;
    }
    .price {
      max-width: 50%;
      @media (max-width: $desktopSD) {
        max-width: 100%;
      }
    }
    .submit-button {
      width: 100%;
      margin-top: 32px;
    }
  }
</style>