<template>
  <button
    class="app-btn"
    :class="classess"
    :disabled="disabled"
    :style="style"
    :type="type"
    @click="$emit('click', $event)"
  >
    <div class="app-btn__content">
      <slot></slot>
      <span v-if="count" class="app-btn__counter">{{ formattedCounter }}</span>
    </div>
  </button>
</template>

<script>
import { splitNumberBy3 } from '~/utils'

export default {
  props: {
    disabled: {
      type: Boolean,
      default: false,
    },
    invert: {
      type: Boolean,
      default: false,
    },
    black: {
      type: Boolean,
      default: false,
    },
    link: {
      type: Boolean,
      default: false,
    },
    noHover: {
      type: Boolean,
      default: false,
    },
    error: {
      type: Boolean,
      default: false,
    },
    count: { type: [Number, String], default: 0 },
    noArrow: Boolean,
    /*
      add inline color without check from design vars,
      use with noHover
    */
    inlineColor: String,
    color: {
      type: String,
      validator: v =>
        ['red', 'special-red', 'black-blue', 'fb-blue'].indexOf(v) !== -1,
    },
    noBorder: Boolean,
    type: {
      type: String,
      default: 'button',
    },
  },
  computed: {
    formattedCounter() {
      return splitNumberBy3(this.count)
    },
    classess() {
      return {
        'app-btn__invert': this.invert,
        'app-btn__link': this.link,
        'app-btn__black': this.black,
        [`app-btn__${this.color}`]: this.color,
        'app-btn__disabled': this.disabled,
        'app-btn__with-arrow': !this.noArrow,
        'app-btn__nohover': this.noHover,
        'app-btn__no-border': this.noBorder,
      }
    },
    style() {
      if (this.inlineColor) {
        return {
          boxShadow: !this.noBorder && `inset 0 0 0 2px  ${this.inlineColor}`,
          color: this.inlineColor,
        }
      }

      return null
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';
$hover: #0070ff;
$pressed: #0066e8;

.app-btn {
  $box-shadow: inset 0 0 0 2px;

  box-shadow: $box-shadow $primary;
  color: $primary;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5 * $base;
  font-weight: bold;
  letter-spacing: 0.8px;
  text-align: center;
  text-transform: uppercase;
  transition-property: color, background-color;
  transition: 0.2s ease-out;
  width: 100%;
  line-height: 1.5;
  padding: 2.5 * $base 8px;

  @media (min-width: $desktopSD) {
    font-size: inherit;
  }
  @media (min-width: 1180px) {
    padding: 3 * $base 0;
  }
  &:hover {
    background-color: $hover;
    color: white;

    .button__arrow {
      transform: translateX(8px);
    }
  }
  &:active {
    background-color: $pressed;
  }

  &.app-btn__invert {
    box-shadow: $box-shadow white;
    color: white;
    &:hover {
      background-color: #fff;
      color: $hover;
    }
  }

  &.app-btn__nohover {
    &:hover {
      background-color: transparent;
      color: $hover;
    }
  }

  &.app-btn__link {
    box-shadow: none;
    font-weight: normal;
    background-color: transparent;
    text-transform: none;
    &.app-btn__with-arrow:after {
      display: none;
    }
    &:hover,
    &:focus {
      color: $hover;
      text-decoration: underline;
    }
  }

  &__content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__counter {
    @include text(1.5);
    font-weight: normal;
    margin-left: $base;

    @media (min-width: $desktopSD) {
      margin-left: 0.5 * $base;
      position: relative;
      top: -$base;
    }
  }

  &__with-arrow {
    .app-btn__content {
      @media ($mobile) {
        margin-left: 20px;
      }
    }
    &:hover {
      .app-btn__content {
        margin-left: 0;
      }
      &::after {
        opacity: 1;
        transform: translateX(0);
        transition: opacity 0.2s ease-out, transform 0.2s ease-out;
      }
    }
    &::after {
      @include ww-icn;
      content: 'b';
      display: inline-block;
      @include text(3);
      margin-left: 1.7 * $base;
      margin-right: -2.325 * $base;
      opacity: 0;
      position: relative;
      top: -2px;
      transform: translateX(-8px);
      vertical-align: middle;

      @media (min-width: 736px) {
        margin-left: 8.5 * $base;
        margin-right: -11.625 * $base;
      }
    }
  }

  &.app-btn__black {
    background-color: black;
    box-shadow: inset 0 0 0 2px #000;
    color: #fff;
  }

  /* color start */
  &.app-btn__black-blue {
    box-shadow: inset 0 0 0 2px $black-blue;
    color: $black-blue;

    &:hover {
      background-color: $black-blue;
      color: #fff;
    }
  }

  &.app-btn__red {
    box-shadow: inset 0 0 0 2px $red;
    color: $red;

    &:hover {
      background-color: $special-red;
      color: #fff;
    }
  }
  &.app-btn__special-red {
    box-shadow: inset 0 0 0 2px $special-red;
    color: $special-red;

    &:hover {
      background-color: $special-red;
      color: #fff;
    }
  }
  &.app-btn__fb-blue {
    box-shadow: inset 0 0 0 2px #3b5998;
    color: #3b5998;

    &:hover {
      background-color: #3b5998;
      color: #fff;
    }
  }
  /* color finish */

  &.app-btn__disabled {
    box-shadow: inset 0 0 0 2px #000;
    background-color: transparent;
    color: #000;
    &.app-btn__with-arrow:after {
      display: none;
    }
    &:hover {
      background-color: transparent;
      color: #000;
    }
  }

  &.app-btn__no-border {
    box-shadow: none;
  }
}
</style>
