<i18n>
{
  "ru": {
    "descLabel": "Описание",
    "linksLabel": "Ссылки на событие в соцсетях",
    "category": "Категория"
  },
  "en": {
    "descLabel": "Description",
    "linksLabel": "Links to this event on social media",
    "category": "Category"
  }
}
</i18n>

<template>
  <div class="main-info">

    <FormRow
      id="toolbar-container"
      class="main-info__description"
      @triggerFocus="focusOnTextEditor"
      :error="errors.description"
    >
      <template #label>{{ $t('descLabel') }}</template>
      <TextEditor
        ref="textEditor"
        :value="description"
        @input="$emit('update:description', $event)"
      />
    </FormRow>

    <FormRow :error="errors.links">
      <template #label>{{ $t('linksLabel') }}</template>
      <template slot-scope="{ id, hasError }">
        <Links 
          :id="id" 
          :error="hasError" 
          :value="linksEdit"
          @input="$emit('update:links', $event)"
        />
      </template>
    </FormRow>

    <FormRow class="tags" :error="errors.tags" >
      <template #label>{{ $t('category') }}</template>
      <template slot-scope="{ id }">
        <TagsInput
            :elementId="id"
            :tags="tags"
            @update:tags="$emit('update:tags', $event)"
            @update:newTags="$emit('update:newTags', $event)"
        />
      </template>
    </FormRow>

  </div>
</template>

<script>

import FormRow from '~/components/common/FormRowNew'
import TextEditor from '~/components/common/TextEditor'

import Links from '~/components/events/create/EventMainInfo/Links'
import TagsInput from '~/components/common/input/TagsInput'
import {mapGetters} from "vuex";

export default {
  name: 'EventMainInfo',

  components: {
    FormRow,
    TextEditor,
    Links,
    TagsInput,
  },

  props: {
    description: {
      type: String,
    },
    links: {
      type: Array,
      default: () => ([]),
    },
    tags: {
      type: Array,
      default: () => ([]),
    },
    isEdit: Boolean,
  },
  computed: {
    ...mapGetters({
      eventServerErrors: 'event/EVENT_EDIT_SERVER_ERRORS',
    }),
    linksEdit() {
      return this.links ? this.links : []
    },
    errors() {
      return {
        description: {
          server: this.eventServerErrors.description,
        },
        links: {
          server: this.eventServerErrors.links,
        },
        tags: {
          server: this.eventServerErrors.tags,
        },
      }
    },
  },

  methods: {
    focusOnTextEditor() {
      this.$refs.textEditor.focus()
    }
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables.scss';

.main-info {
  max-width: 856px;
  width: 70%;
  @media (max-width: $sideShow) {
    width: 60%;
  }
  @media (max-width: $desktopHD) {
    width: 57%;
  }
  @media (max-width: $desktopSD) {
    width: 100%;
  }
  .tags{
    margin: 30px 0;
  }
  &__title {
    margin-bottom: 16px;

    @media (min-width: $desktopSD) {
      margin-bottom: 32px;
    }
  }

  &__description {
    margin-bottom: 20px;

    @media (min-width: $desktopSD) {
      margin-bottom: 30px;
    }

    @media (min-width: $desktopHD) {
      margin-bottom: 38px;
    }
  }

}
</style>